@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512074606if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For when the AI is used, see <a class="new" title="Battle round (page does not exist)" data-uncrawlable-url="L3dpa2kvQmF0dGxlX3JvdW5kP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==" rel="nofollow">Battle round</a>.</i></dd></dl>
						<p>
							This page describes the&nbsp;<b>battle AI</b>&nbsp;(artificial intelligence). That is, how computer-controlled opponents in battle (both wild Pokémon and enemy/<a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">ally</a> trainers) choose which moves to use and which items to use when. This page assumes the AI controlling an enemy trainer, although it applies for&nbsp;<a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">wild Pokémon</a>&nbsp;and&nbsp;<a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">partner trainers</a>&nbsp;too.
						</p><p>
							This is a complicated topic, and unnecessary for most users. Do not attempt to modify the AI unless you have decent scripting knowledge.
						</p>
						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Levels_of_AI">Levels of AI</span></h2>
						<p>
							The basic principle of AI in Essentials is that better trainers should be cleverer than worse trainers. A cleverer AI has access to more information about the battle and is more informed about various effects of moves/abilities/items/other effects.
						</p><p>
							When <a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">defining a trainer</a> type, one of the properties that can be defined is a skill level. This is usually the same as the trainer type's base money payout. A higher skill level represents a better AI.
						</p><p>
							By default, there are 5 tiers of AI in Essentials:
						</p>
						<ul>
							<li>Wild Pokémon - If the Pokémon the AI is controlling is a wild Pokémon, it will have an equal chance of choosing each move they know. It will not do any other calculations. It has no special name.</li>
							<li>Skill level 1-31 - The lowest tier for trainers. It has no special name.</li>
							<li>Skill level 32-47 - Known as <code>PBTrainerAI.mediumSkill</code>.</li>
							<li>Skill level 48-99 - Known as <code>PBTrainerAI.highSkill</code>.</li>
							<li>Skill level 100+ - Known as <code>PBTrainerAI.bestSkill</code>.</li>
						</ul>
						<p>
							There is also the value <code>PBTrainerAI.minimumSkill</code>, which is the lowest skill level a trainer can have. If a trainer's skill level is lower than this, it is raised to this, which may put it in a different tier if it is high enough. This is 1 by default.
						</p><p>
							All trainer types within a given tier will behave exactly the same. The only differences are between different AI tiers, where higher tiers have access to more information and improved calculations.
						</p>
						<h2><span class="mw-headline" id="AI_overview">AI overview</span></h2>
						<p>
							The first thing the AI needs to do each turn is decide whether to use an attack, use an item, or switch their Pokémon with another one. This decision starts in the <a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>PokeBattle_AI</b>, in <code>def pbDefaultChooseEnemyCommand</code>.
						</p><p>
							Firstly, the AI decides whether it should use an item (<b>AI_Item</b>,&nbsp;<code>def pbEnemyItemToUse</code>). This method goes through each item the AI has, and decides whether to use it. There are separate clauses in this decision for each type of item the AI has been programmed to recognise - it can recognise (and therefore use) only healing items, status-curing items and X items (e.g. X Attack). Some types of item take preference over others, e.g. if the Pokémon is poisoned, the AI will prefer using an Antidote over a Full Heal if it has one.
						</p><p>
							If the AI decides not to use an item, then it decides whether it can/should withdraw the Pokémon instead (<b>AI_Switch</b>,&nbsp;<code>def pbEnemyShouldWithdrawEx?</code>). This method looks at several factors in turn, including how good the opposing Pokémon's moves will do against it, whether it can use any moves itself, whether it is about to faint because of toxic poisoning or Perish Song, and so forth. This decision can flip-flop as it runs through each factor. Finally, if it has decided to switch Pokémon, the method decides which other Pokémon in the AI trainer's party is the best choice to switch in with, and does so.
						</p><p>
							If the AI won't switch Pokémon either, then it needs to choose a move to use (<b>AI_Move</b>,&nbsp;<code>def pbChooseMoves</code>). For each known move in turn, it calculates a score depending on various factors, including the&nbsp;<a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Function_codes" title="Function codes">function code</a>&nbsp;and effectiveness of that move, the currently active abilities, move effects and weather, the user's held item and status, and how many Pokémon the player has left. It then compares the scores for each move, and chooses which move to use depending on these scores. If there are no good moves to choose from, there is another opportunity to switch the Pokémon out instead.
						</p><p>
							Just before it chooses a move to use, the AI will decide if it should&nbsp;<a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Mega_Evolution" title="Mega Evolution">Mega Evolve</a>&nbsp;their Pokémon. By default, it will always choose to do so if possible.
						</p>
						<h2><span class="mw-headline" id="Item_recognition_and_effects">Item recognition and effects</span></h2>
						<p>
							The AI needs to be programmed to recognise particular items. Currently it only recognises the basic Potions, Heal items and X stat raisers. This recognition is done in the <a href="/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>AI_Item</b>, in <code>def pbEnemyItemToUse</code>, where the items are listed in various hashes/arrays, some of which include descriptions of their effects (other items' effects are determined in other ways).
						</p><p>
							An item used by an AI uses the same code as the same item being used by the player. Only the decision of whether the AI can/should use the item is different.
						</p>
						<!--
					NewPP limit report
					Cached time: 20210501084956
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.011 seconds
					Real time usage: 0.015 seconds
					Preprocessor visited node count: 25/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 65/2097152 bytes
					Template argument size: 43/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    2.628      1 Template:For
					100.00%    2.628      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:130-0!canonical and timestamp 20210501084956 and revision id 924
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512074606/https://essentialsdocs.fandom.com/wiki/Battle_AI?oldid=924">https://essentialsdocs.fandom.com/wiki/Battle_AI?oldid=924</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512074606/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>