@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512082401if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20210512082401/https://static.wikia.nocookie.net/essentialsdocs/images/1/19/Fishing.png/revision/latest?cb=20190811001738" class="image"><img alt="" src="https://web.archive.org/web/20210512082401im_/https://static.wikia.nocookie.net/essentialsdocs/images/1/19/Fishing.png/revision/latest/scale-to-width-down/256?cb=20190811001738" decoding="async" width="256" height="192" class="thumbimage" data-image-name="Fishing.png" data-image-key="Fishing.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/File:Fishing.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Don't let it be the one that got away.</p> 		 	</figcaption> </figure>
						<dl><dd><i>For general information about wild encounters, see <a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">Wild encounters</a>.</i></dd></dl>
						<p>
							This page describes&nbsp;<b>fishing</b>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Where_to_fish"><span class="tocnumber">1</span> <span class="toctext">Where to fish</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Fishing_sprites"><span class="tocnumber">2</span> <span class="toctext">Fishing sprites</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Encounter_types"><span class="tocnumber">3</span> <span class="toctext">Encounter types</span></a></li>
								<li class="toclevel-1 tocsection-4">
									<a href="#Scripts"><span class="tocnumber">4</span> <span class="toctext">Scripts</span></a>
									<ul>
										<li class="toclevel-2 tocsection-5"><a href="#Automatic_hooking"><span class="tocnumber">4.1</span> <span class="toctext">Automatic hooking</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-6"><a href="#Tips"><span class="tocnumber">5</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Where_to_fish">Where to fish</span></h2>
						<p>
							Fishing can be done while facing any water tile, i.e. a tile with the&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Tilesets" title="Tilesets">terrain tags</a>&nbsp;5, 6, 7, 8 or 9. The player can fish while standing on land or while surfing.
						</p>
						<h2><span class="mw-headline" id="Fishing_sprites">Fishing sprites</span></h2>
						<p>
							Fishing involves showing the player's sprite cast and use a fishing rod. There are two versions of this animation, one used when standing and fishing and the other used when surfing and fishing. Both are defined by a player character's&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a>. As with all other player character graphics, the fishing charsets take the&nbsp;player's outfit&nbsp;into consideration.
						</p>
						<h2><span class="mw-headline" id="Encounter_types">Encounter types</span></h2>
						<p>
							The three&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">encounter types</a>&nbsp;used for fishing are:
						</p>
						<ul>
							<li>OldRod</li>
							<li>GoodRod</li>
							<li>SuperRod</li>
						</ul>
						<p>
							The only difference between these three encounter types is the number of entries each one has (2, 3 and 5 respectively, by default). They don't necessarily need to be used in the order "worst -&gt; best".
						</p>
						<h2><span class="mw-headline" id="Scripts">Scripts</span></h2>
						<p>
							The fishing scripts are all located in the script section&nbsp;<b>PField_Field</b>. The main method is&nbsp;<code>def pbFishing</code>, and what follows below is a description of what this method does.
						</p><p>
							The method first defines two values: "biteChance" (probability there will be a bite) and "hookChance" (probability of a battle after successfully hooking it, i.e. by pressing the&nbsp;use button&nbsp;fast enough). By default, the former depends on the type of fishing rod used and the ability of the first Pokémon in the <a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>, and the latter is 100.
						</p><p>
							Then <code>def pbFishingBegin</code>&nbsp;is called, which displays the rod casting animation.
						</p><p>
							A random number ("time") is then chosen (<code>5 + rand(6)</code>&nbsp;dots), and <code>def pbWaitMessage</code>&nbsp;is called which displays "<code>. . . . .</code>" at the rate of one dot every 0.4 seconds until there are "time" number of dots. If the player presses the&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">use or back button</a>&nbsp;while the dots are being displayed, the fishing is cancelled with the message "Not even a nibble...".
						</p><p>
							If the fishing is not cancelled, then another random number is chosen (out of 100). If this number is greater than "biteChance", or there are no&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">encounters</a>&nbsp;defined for the used rod in that map, then the fishing is cancelled with the message "Not even a nibble...". If it is less than "biteChance", then <code>def pbWaitForInput</code>&nbsp;is called, which displays the message "Oh! A bite!" at the end of the dots. It then waits for a short time (0.5&nbsp;to 1 seconds) for the player to tap either the&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">use or back button</a>. If they don't do so within that time, then the fishing is cancelled with the message: "It got away...".
						</p><p>
							However, if the player&nbsp;<i>does</i>&nbsp;manage to tap a button within that time, then a third random number is chosen (out of 100). If this number is less than "hookChance", then a&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon" title="Pokémon">Pokémon</a>&nbsp;has been hooked and a <a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">wild&nbsp;battle</a>&nbsp;ensues. If the third random number is greater than "hookChance", then the whole process happens again (i.e. everything after casting the rod). This keeps happening until the player either successfully hooks a Pokémon (leading to a battle) or fails.
						</p><p>
							At the end of the fishing session (both after successfully hooking a Pokémon and after failing to hook one), <code>def pbFishingEnd</code>&nbsp;is called, which is just the reverse of the rod casting animation (i.e. reels in). Then a battle occurs (if successful).
						</p>
						<h3><span class="mw-headline" id="Automatic_hooking">Automatic hooking</span></h3>
						<p>
							There is a setting (<code>FISHING_AUTO_HOOK</code>) in the <a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>, which if TRUE will mean that Pokémon are hooked automatically rather than requiring a reaction text.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>Change the probabilities and waiting times, to make it easier/harder to hook a Pokémon. Notably, the default length of time in which you have to press a button to hook the Pokémon is fairly short (between 0.5 and 1 second), and you may want to make this longer so that players with slower reaction times stand a chance of hooking a Pokémon.</li>
							<li>Create new fishing&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">encounter methods</a>&nbsp;that depend on the time of day as well as the type of rod, e.g. certain species can only be fished for during the day.</li>
							<li>Have just one fishing rod, but different kinds of bait that will attract different species (the encounter type will depend on the type of bait used, not the type of rod used).</li>
							<li>Modify the species encountered through fishing depending on whether the player is fishing on a particular tile in a map (e.g. Feebas does this). Save the special tile(s) coordinates somewhere (remember to relate them to a particular map), and modify the&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Item_effects" title="Item effects">item handler effects</a>&nbsp;for the rod items as appropriate.</li>
							<li>Why not turn fishing into a&nbsp;<a href="/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Mini-games" title="Mini-games">mini-game</a>, rather than a simple reaction test?</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210428173641
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.014 seconds
					Real time usage: 0.018 seconds
					Preprocessor visited node count: 38/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 92/2097152 bytes
					Template argument size: 71/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    2.792      1 Template:For
					100.00%    2.792      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:134-0!canonical and timestamp 20210428173641 and revision id 951
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512082401/https://essentialsdocs.fandom.com/wiki/Fishing_encounters?oldid=951">https://essentialsdocs.fandom.com/wiki/Fishing_encounters?oldid=951</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512082401/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>