@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512080725if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For normal wild Pokémon encounters, see <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">Wild encounters</a>.</i></dd></dl>
						<p>
							This page describes how&nbsp;<b>roaming Pokémon</b>&nbsp;roam. It explains how to define where and when a roaming Pokémon can go.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Roaming_Pok.C3.A9mon"><span class="tocnumber">1</span> <span class="toctext">Roaming Pokémon</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Defining_the_roaming_locations"><span class="tocnumber">2</span> <span class="toctext">Defining the roaming locations</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Defining_the_roamers"><span class="tocnumber">3</span> <span class="toctext">Defining the roamers</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Roaming_behaviour"><span class="tocnumber">4</span> <span class="toctext">Roaming behaviour</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Resetting_roamers"><span class="tocnumber">5</span> <span class="toctext">Resetting roamers</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span id="Roaming_Pokémon"></span><span class="mw-headline" id="Roaming_Pok.C3.A9mon">Roaming Pokémon</span></h2>
						<p>
							Roaming Pokémon is the term given to Pokémon, typically legendaries, that randomly appear as wild encounters every so often, rather than appear as an&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Event_encounters" title="Event encounters">event encounter</a>. They will flee from battle at the earliest opportunity (but will fight if they cannot). Roaming Pokémon can travel between different maps.
						</p><p>
							If a roaming Pokémon is on the same map as the player, then the player may&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">encounter</a>&nbsp;that roaming Pokémon.
						</p>
						<h2><span class="mw-headline" id="Defining_the_roaming_locations">Defining the roaming locations</span></h2>
						<p>
							Roaming Pokémon can be encountered on various different&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">maps</a>, but the pattern they roam in is not entirely random. Each map that a roaming Pokémon can be on will lead to one or more other maps, and the roamer will move to one of those (chosen at random) each time the player steps onto a new map.
						</p><p>
							The paths between maps can be quite a complex pattern.
						</p><p>
							Paths are defined in the <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>, in the hash&nbsp;<code>RoamingAreas</code>, e.g.
						</p>
<pre>RoamingAreas = {
   20 =&gt; [21, 22],
   21 =&gt; [20, 22],
   22 =&gt; [20, 21]
}
</pre>
						<p>
							In this example, a roaming Pokémon on map 20 can go to either map 21 or map 22, and so on. Map 20 is the path to maps 21 and 22.
						</p><p>
							When defining paths, it is important that there are no dead ends - any map that can be reached should be a path to at least one other map.
						</p><p>
							You should only make a map a path if it is reasonable that a roaming Pokémon will show up there. For example, land-based Pokémon shouldn't be able to go on a water route. On the other hand, you can make a map a path even if there cannot be a wild encounter on it, and even if the map doesn't exist at all.
						</p><p>
							As mentioned below, these paths are the "default" paths. If a roamer has no paths of its own, it will use these ones.
						</p>
						<h2><span class="mw-headline" id="Defining_the_roamers">Defining the roamers</span></h2>
						<p>
							Roaming Pokémon are listed in the <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>, in an array called&nbsp;<code>RoamingSpecies</code>:
						</p>
<pre>RoamingSpecies = [
   [:LATIAS, 30, 36, 0, "002-Battle02x"],
   [:LATIOS, 30, 36, 0, "002-Battle02x"],
   [:KYOGRE, 40, 37, 2, nil, {
      2  =&gt; [21,31],
      21 =&gt; [2,31,69],
      31 =&gt; [2,21,69],
      69 =&gt; [21,31] }],
   [:ENTEI, 40, 38, 1, nil]
]
</pre>
						<p>
							Each line corresponds to one roaming Pokémon, where the information in each line is as follows:
						</p>
						<ol>
							<li>Its species.</li>
							<li>Its level.</li>
							<li>A&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a>&nbsp;number.</li>
							<li>
								The kind of encounters the roamer can appear in - one of:
								<ul>
									<li>0 - Walking in grass, walking in caves or surfing.</li>
									<li>1 - Walking in grass or walking in caves.</li>
									<li>2 - Surfing.</li>
									<li>3 - Fishing.</li>
									<li>4 - Surfing or fishing.</li>
								</ul>
							</li>
							<li>The name of a BGM file to play during the encounter.</li>
							<li>A set of roaming paths unique to this roamer.</li>
						</ol>
						<p>
							A Pokémon will only start roaming if its <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a> is ON. Several roaming Pokémon can depend on the same <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a>.
						</p><p>
							Roamers that do not have any paths defined specifically for them will use the default paths mentioned above. If the roamer has its own roaming paths, they should be laid out as in the example above. You can use unique paths to make sure a roamer will appear only where you want it to, e.g. in&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">just one region</a>, or only on one island/cave. It is recommended that you do this if you have&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">multiple regions</a>, to make sure the roamer stays in the intended region.
						</p>
						<h2><span class="mw-headline" id="Roaming_behaviour">Roaming behaviour</span></h2>
						<p>
							Roaming Pokémon only move to a different map when the player enters a new map.
						</p><p>
							Roamers cannot move to the last 2 maps that the player has visited (not including the new map). In addition to the paths as mentioned above, there is a small chance that the roamer will go to any other map it could possibly ever visit. If a roamer doesn't have any valid destinations, then it will remain on its current map until it can move again.
						</p><p>
							If the player has a&nbsp;<a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">partner trainer</a>, they will never encounter a roaming Pokémon. There is a 25% chance that any <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">wild Pokémon encounter</a> will be with a roamer on the current map, unless the player has already encountered a roamer on that map. The player can only encounter one roamer per map, regardless of how many roamers are currently on that map.
						</p><p>
							Different maps in the same region with the same name (e.g. ones depicting long routes) are considered to be the same map for the purpose of encountering a roamer.
						</p><p>
							Once a roaming Pokémon has been encountered, it will remain the exact same Pokémon in all subsequent encounters (i.e. with same personal ID/health/shininess/moveset/IVs/etc.). Its information is stored in the array&nbsp;<code>$PokemonGlobal.roamPokemon[index]</code>.
						</p><p>
							When a roaming Pokémon is defeated/captured, it can no longer be encountered.
						</p>
						<h2><span class="mw-headline" id="Resetting_roamers">Resetting roamers</span></h2>
						<p>
							The method <code>pbResetAllRoamers</code>&nbsp;will erase the information of all fainted roamers that had not been caught. This starts them roaming again (assuming their <a href="/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switches</a> are still ON), as fresh Pokémon with new properties.
						</p>
						<!--
					NewPP limit report
					Cached time: 20210511082722
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.010 seconds
					Real time usage: 0.014 seconds
					Preprocessor visited node count: 36/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 83/2097152 bytes
					Template argument size: 61/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    2.605      1 Template:For
					100.00%    2.605      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:135-0!canonical and timestamp 20210511082722 and revision id 730
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512080725/https://essentialsdocs.fandom.com/wiki/Roaming_Pokémon?oldid=730">https://essentialsdocs.fandom.com/wiki/Roaming_Pokémon?oldid=730</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512080725/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>