@{
	Page.Title = "PokemonUnity.Shared/Enums/Battles.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_287ddd49d497e6081aa65956c82ca463.cshtml">Enums</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">Battles.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_combat"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">PokemonUnity.Combat</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:aaecce9cdfd86fd7d10a650eb1efd3f21"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">PokemonUnity.Combat.Stats</a> </td></tr>
<tr class="separator:aaecce9cdfd86fd7d10a650eb1efd3f21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab59e2e47b3a776d590f8fd6759cd20fb"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#ab59e2e47b3a776d590f8fd6759cd20fb">PokemonUnity.Combat.TypeEffective</a> </td></tr>
<tr class="separator:ab59e2e47b3a776d590f8fd6759cd20fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ffc1e1159730ca1dba005972c6f97d8"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a4ffc1e1159730ca1dba005972c6f97d8">PokemonUnity.Combat.ChoiceAction</a> </td></tr>
<tr class="separator:a4ffc1e1159730ca1dba005972c6f97d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d3738e09e699ec67acc67d0f876f29b"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">PokemonUnity.Combat.BattleResults</a> : int </td></tr>
<tr class="separator:a6d3738e09e699ec67acc67d0f876f29b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a364d171b099c451f5ae9c98bada13608"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">PokemonUnity.Combat.MenuCommands</a> : int </td></tr>
<tr class="separator:a364d171b099c451f5ae9c98bada13608"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acbbd15c844923d5c2e18d50f3133b625"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#acbbd15c844923d5c2e18d50f3133b625">PokemonUnity.Combat.Weather</a> </td></tr>
<tr class="separator:acbbd15c844923d5c2e18d50f3133b625"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

