@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Shared/Enums/Enums.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_287ddd49d497e6081aa65956c82ca463.cshtml">Enums</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">Enums.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a4e535e351e6d448d8627f0aaab5bf72c"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">PokemonUnity.GymBadges</a> </td></tr>
<tr class="memdesc:a4e535e351e6d448d8627f0aaab5bf72c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Whatever gym badges you want to incorporate throughout your game. This is where the ID of the badges are stored, and the game can validate certain actions based on said ID or # of badges...   <a href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">More...</a><br /></td></tr>
<tr class="separator:a4e535e351e6d448d8627f0aaab5bf72c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af873e128b203f708e50cca56b1ae25f1"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> </td></tr>
<tr class="separator:af873e128b203f708e50cca56b1ae25f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20015c796abd07ac93f57cd3c5a70b93"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">PokemonUnity.Abilities</a> </td></tr>
<tr class="memdesc:a20015c796abd07ac93f57cd3c5a70b93"><td class="mdescLeft">&#160;</td><td class="mdescRight">Ability ids are connected to XML file.   <a href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">More...</a><br /></td></tr>
<tr class="separator:a20015c796abd07ac93f57cd3c5a70b93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41445892e4ff171fa6e3693d58f7d7f5"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a41445892e4ff171fa6e3693d58f7d7f5">PokemonUnity.Ribbons</a> </td></tr>
<tr class="separator:a41445892e4ff171fa6e3693d58f7d7f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40e9330636bad76fe0f3fdc9d7ae87c2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">PokemonUnity.TrainerTypes</a> </td></tr>
<tr class="separator:a40e9330636bad76fe0f3fdc9d7ae87c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a83e795e3b850fef9a6b36172813dccef"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">PokemonUnity.Colors</a> </td></tr>
<tr class="separator:a83e795e3b850fef9a6b36172813dccef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2162a6cdf970c2b33ed26570f5db4ae8"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a2162a6cdf970c2b33ed26570f5db4ae8">PokemonUnity.HappinessMethods</a> </td></tr>
<tr class="separator:a2162a6cdf970c2b33ed26570f5db4ae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2343258feb095e5f94166fb55d753bc"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#ae2343258feb095e5f94166fb55d753bc">PokemonUnity.Languages</a> </td></tr>
<tr class="memdesc:ae2343258feb095e5f94166fb55d753bc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Still need to sort out Language Enums   <a href="namespace_pokemon_unity.cshtml#ae2343258feb095e5f94166fb55d753bc">More...</a><br /></td></tr>
<tr class="separator:ae2343258feb095e5f94166fb55d753bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a162f832f3258853a866b7ca86e00b0d2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">PokemonUnity.TextScripts</a> </td></tr>
<tr class="memdesc:a162f832f3258853a866b7ca86e00b0d2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Scripted Text stored and available for Locale translations   <a href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">More...</a><br /></td></tr>
<tr class="separator:a162f832f3258853a866b7ca86e00b0d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d2b19d0c1a4c8410343c0afcf890e45"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a1d2b19d0c1a4c8410343c0afcf890e45">PokemonUnity.TextLocalization</a> </td></tr>
<tr class="memdesc:a1d2b19d0c1a4c8410343c0afcf890e45"><td class="mdescLeft">&#160;</td><td class="mdescRight">Different category sections a piece of translated text could belong to   <a href="namespace_pokemon_unity.cshtml#a1d2b19d0c1a4c8410343c0afcf890e45">More...</a><br /></td></tr>
<tr class="separator:a1d2b19d0c1a4c8410343c0afcf890e45"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adfb3988d0dd2453787639f58ef2b3513"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#adfb3988d0dd2453787639f58ef2b3513">PokemonUnity.Generation</a> </td></tr>
<tr class="separator:adfb3988d0dd2453787639f58ef2b3513"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e09fe0b76217de61961b9c275ab8aa2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a5e09fe0b76217de61961b9c275ab8aa2">PokemonUnity.Version</a> </td></tr>
<tr class="separator:a5e09fe0b76217de61961b9c275ab8aa2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7d28992f9373a4f27cc986efd35cefb"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">PokemonUnity.Versions</a> </td></tr>
<tr class="separator:ac7d28992f9373a4f27cc986efd35cefb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3f466c2b0d6e654d9f03dec9a2fc3b8"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#ab3f466c2b0d6e654d9f03dec9a2fc3b8">PokemonUnity.Status</a> </td></tr>
<tr class="separator:ab3f466c2b0d6e654d9f03dec9a2fc3b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1839a452927e1d32ae272ee55e5ac97"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">PokemonUnity.Moves</a> </td></tr>
<tr class="memdesc:af1839a452927e1d32ae272ee55e5ac97"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move ids are connected to XML file.   <a href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">More...</a><br /></td></tr>
<tr class="separator:af1839a452927e1d32ae272ee55e5ac97"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a83b64e8b824825bf63816d81269dd25f"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a83b64e8b824825bf63816d81269dd25f">PokemonUnity.Contests</a> </td></tr>
<tr class="separator:a83b64e8b824825bf63816d81269dd25f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6eb2463614633fcdf93f95a6816bb47"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">PokemonUnity.Pokemons</a> </td></tr>
<tr class="memdesc:aa6eb2463614633fcdf93f95a6816bb47"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pokemon ids are connected to XML file.   <a href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">More...</a><br /></td></tr>
<tr class="separator:aa6eb2463614633fcdf93f95a6816bb47"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

