@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Application/Events.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_fb2531db39138e566f58d80ee7512d30.cshtml">PokemonUnity.Application</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#namespaces">Namespaces</a>  </div>
  <div class="headertitle"><div class="title">Events.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>PokemonUnity.Events</b></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">This module stores events that can happen during the game. A procedure can subscribe to an event by adding itself to the event. It will then be called whenever the event occurs.  <br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml">PokemonUnity.EventArg.OnMapCreateEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">PokemonUnity.EventArg.OnMapChangeEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Event that just left the tile. e[1] - Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map. e[2] - X-coordinate of the tile e[3] - Y-coordinate of the tile   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_field_movement_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenFieldMovementEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Event that just entered a tile.   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_field_movement_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Array that contains a single boolean value. If an event handler moves the player to a new map, it should set this value to true. Other event handlers should check this parameter's value.   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pokémon being created   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> e[1] - Items possessed by the trainer e[2] - Party   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Spriteset being created e[1] = Viewport used for tilemap and characters e[0].map = Map associated with the spriteset (not necessarily the current map).   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_event_arg"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">PokemonUnity.EventArg</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
