@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Shared/Framework/Essentials/Item/IItemHandlers.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_8a3316e385660ef7512a3f86a5013a64.cshtml">Framework</a></li><li class="navelem"><a class="el" href="dir_6f3ccd10ad3d43464f8be75027c8cd40.cshtml">Essentials</a></li><li class="navelem"><a class="el" href="dir_aebdb5c02d161a1c84efc078360c0b5c.cshtml">Item</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#namespaces">Namespaces</a> &#124;
<a href="#func-members">Functions</a>  </div>
  <div class="headertitle"><div class="title">IItemHandlers.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseFromBagEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseInFieldEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml">PokemonEssentials.Interface.Item.IItemHandlers</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml">PokemonEssentials.Interface.Item.IItemCheck</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml" title="Extension of IGame">IGameItem</a></dd></dl>
<p>. Can be own <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a> Class   <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml">PokemonEssentials.Interface.Item.IGameItemEffect</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml" title="Extension of IGame">IGameItem</a></dd></dl>
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml">PokemonEssentials.Interface.Item.IGameItem</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_essentials"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_essentials_1_1_interface"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">PokemonEssentials.Interface</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_essentials_1_1_interface_1_1_event_arg"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">PokemonEssentials.Interface.EventArg</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_essentials_1_1_interface_1_1_item"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">PokemonEssentials.Interface.Item</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="func-members" name="func-members"></a>
Functions</h2></td></tr>
<tr class="memitem:aea25d975989983cf79ebecb9e2b47986"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#aea25d975989983cf79ebecb9e2b47986">PokemonEssentials.Interface.EventArg.UseOnPokemonDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> scene)</td></tr>
<tr class="separator:aea25d975989983cf79ebecb9e2b47986"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa444eff67620d11335e2c29c35b7cb59"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#aa444eff67620d11335e2c29c35b7cb59">PokemonEssentials.Interface.EventArg.BattleUseOnPokemonDelegate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene)</td></tr>
<tr class="separator:aa444eff67620d11335e2c29c35b7cb59"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65894c96f5cf3b75f95e06380a81c64c"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#a65894c96f5cf3b75f95e06380a81c64c">PokemonEssentials.Interface.EventArg.BattleUseOnBattlerDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene)</td></tr>
<tr class="separator:a65894c96f5cf3b75f95e06380a81c64c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0ec8cbc4ad0c47b879948cf48b23da4"><td class="memItemLeft" align="right" valign="top">delegate void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#ad0ec8cbc4ad0c47b879948cf48b23da4">PokemonEssentials.Interface.EventArg.UseInBattleDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:ad0ec8cbc4ad0c47b879948cf48b23da4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

