@{
	Page.Title = "PokemonUnity.Shared/Networking/Packets/Outgoing/OAuthenticatePacket.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_1b5872e6cb432f7cc983a655cfd66d59.cshtml">Networking</a></li><li class="navelem"><a class="el" href="dir_a52a69d86d07fc54312675ca88669d5b.cshtml">Packets</a></li><li class="navelem"><a class="el" href="dir_69a305efb65337d7f6720e81b150a099.cshtml">Outgoing</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#namespaces">Namespaces</a>  </div>
  <div class="headertitle"><div class="title">OAuthenticatePacket.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_networking"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">PokemonUnity.Networking</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_networking_1_1_packets"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">PokemonUnity.Networking.Packets</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">PokemonUnity.Networking.Packets.Outgoing</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
