@{
	Page.Title = "PokemonUnity.Shared/Enums/Overworld.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_287ddd49d497e6081aa65956c82ca463.cshtml">Enums</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">Overworld.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_overworld"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">PokemonUnity.Overworld</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a106f1a6fb0d3362b969ef0e2c1a9bc51"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a106f1a6fb0d3362b969ef0e2c1a9bc51">PokemonUnity.Overworld.DayTime</a> : int </td></tr>
<tr class="separator:a106f1a6fb0d3362b969ef0e2c1a9bc51"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade708678ad7f922cece06cdbeb2b3042"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">PokemonUnity.Overworld.FieldWeathers</a> : int </td></tr>
<tr class="memdesc:ade708678ad7f922cece06cdbeb2b3042"><td class="mdescLeft">&#160;</td><td class="mdescRight">Weather option for overworld. For battle use weather, use Combat.Weather   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">More...</a><br /></td></tr>
<tr class="separator:ade708678ad7f922cece06cdbeb2b3042"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4a5d1860bd07de7a21b4981e764700d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">PokemonUnity.Overworld.Terrains</a> </td></tr>
<tr class="memdesc:ab4a5d1860bd07de7a21b4981e764700d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Terrain Tags or Tiles a player can be stepping on; used to contruct map floor plane   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">More...</a><br /></td></tr>
<tr class="separator:ab4a5d1860bd07de7a21b4981e764700d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">PokemonUnity.Overworld.Environments</a> </td></tr>
<tr class="memdesc:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used in battle system to reflect background theme and design   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">More...</a><br /></td></tr>
<tr class="separator:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab443ecf5ff81c3c96d8791c220167e9f"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab443ecf5ff81c3c96d8791c220167e9f">PokemonUnity.Overworld.EncounterTypes</a> </td></tr>
<tr class="separator:ab443ecf5ff81c3c96d8791c220167e9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a441bb53fe173af8730970779c8ef933b"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">PokemonUnity.Overworld.Method</a> </td></tr>
<tr class="memdesc:a441bb53fe173af8730970779c8ef933b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Encounter method   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">More...</a><br /></td></tr>
<tr class="separator:a441bb53fe173af8730970779c8ef933b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af06839e96a5b187b10171e20cd242d2e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#af06839e96a5b187b10171e20cd242d2e">PokemonUnity.Overworld.Condition</a> </td></tr>
<tr class="separator:af06839e96a5b187b10171e20cd242d2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7debeabf2d067a4a5286f17581d0fbac"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">PokemonUnity.Overworld.ConditionValue</a> </td></tr>
<tr class="separator:a7debeabf2d067a4a5286f17581d0fbac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abba865591a9f03481e8a9ed3de1eb87d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">PokemonUnity.Overworld.EdgeMasks</a> </td></tr>
<tr class="separator:abba865591a9f03481e8a9ed3de1eb87d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17eca1e58baafe3f66cb048541dc1171"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">PokemonUnity.Regions</a> </td></tr>
<tr class="memdesc:a17eca1e58baafe3f66cb048541dc1171"><td class="mdescLeft">&#160;</td><td class="mdescRight">Each "world" has their own smaller regions   <a href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">More...</a><br /></td></tr>
<tr class="separator:a17eca1e58baafe3f66cb048541dc1171"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf2362c64a7c604b20d77581ebc5a1a9"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#abf2362c64a7c604b20d77581ebc5a1a9">PokemonUnity.Season</a> </td></tr>
<tr class="separator:abf2362c64a7c604b20d77581ebc5a1a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a856f67f27c1fce72e2156c69c059b0e5"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">PokemonUnity.Locations</a> </td></tr>
<tr class="separator:a856f67f27c1fce72e2156c69c059b0e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

