@{
	Page.Title = "PokemonUnity.Shared/Character/Gear/Phone.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_cbb30d56ab66ac0b18f44af4e15ad6e8.cshtml">Character</a></li><li class="navelem"><a class="el" href="dir_a66aab9dc0412acc74e1a349710a8c3b.cshtml">Gear</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#namespaces">Namespaces</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">Phone.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_phone.cshtml">PokemonUnity.Character.Phone</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">The phone allows the player to store the phone numbers of various trainers and other important people, and to call them and receive calls from them at any time. The numbers in the phone are stored in the array <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata.cshtml#a4c01f23fbc541a88dbd5b1b184144364">IGlobalMetadata.phoneNumbers</a>.   <a href="class_pokemon_unity_1_1_character_1_1_phone.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml">PokemonUnity.Character.IPhoneContact</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">For non-trainer contacts ("special" contacts). Each special contact in your phone can be called at any time by choosing them from the phone. They will never call the player, though.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml">PokemonUnity.Character.IPhoneTrainerContact</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">For trainer contacts   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_character"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">PokemonUnity.Character</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a82f09e6f6d682c9498aa35812c154b16"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a82f09e6f6d682c9498aa35812c154b16">PokemonUnity.Character.PhoneMsgTypes</a> : int </td></tr>
<tr class="separator:a82f09e6f6d682c9498aa35812c154b16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95b20baad9a8f0c2d9eb879455ee76a5"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a95b20baad9a8f0c2d9eb879455ee76a5">PokemonUnity.Character.PhoneBattleStatuses</a> : int </td></tr>
<tr class="separator:a95b20baad9a8f0c2d9eb879455ee76a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
