@{
	Page.Title = "PokemonUnity.Shared/Enums/Pokemons.cs File Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_287ddd49d497e6081aa65956c82ca463.cshtml">Enums</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">Pokemons.cs File Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_monster"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">PokemonUnity.Monster</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a7163c063275d925b8a5568f36513cc97"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">PokemonUnity.Monster.Rarity</a> </td></tr>
<tr class="separator:a7163c063275d925b8a5568f36513cc97"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d8bd6295d550bceb8db2d87e982233e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">PokemonUnity.Monster.GenderRatio</a> </td></tr>
<tr class="memdesc:a0d8bd6295d550bceb8db2d87e982233e"><td class="mdescLeft">&#160;</td><td class="mdescRight">The likelihood of a Pok&eacute;mon of the species being a certain gender.   <a href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">More...</a><br /></td></tr>
<tr class="separator:a0d8bd6295d550bceb8db2d87e982233e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49198148aa64bebaa554a09a1a020a1e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">PokemonUnity.Monster.LevelingRate</a> </td></tr>
<tr class="separator:a49198148aa64bebaa554a09a1a020a1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae19417bd37371fb971f1007be52acf3e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">PokemonUnity.Monster.EggGroups</a> </td></tr>
<tr class="separator:ae19417bd37371fb971f1007be52acf3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa906a9f31339f0572c86d333cc4fd07d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">PokemonUnity.Monster.Shape</a> </td></tr>
<tr class="separator:aa906a9f31339f0572c86d333cc4fd07d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d67706d345a83ea57684ab0e44375c1"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">PokemonUnity.Monster.Habitat</a> </td></tr>
<tr class="separator:a0d67706d345a83ea57684ab0e44375c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a006b000842ecac022ed75bd637df09dd"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a006b000842ecac022ed75bd637df09dd">PokemonUnity.Monster.Natures</a> </td></tr>
<tr class="separator:a006b000842ecac022ed75bd637df09dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeed0166527271000b86d5004c9bbdfb2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">PokemonUnity.Monster.Stats</a> </td></tr>
<tr class="separator:aeed0166527271000b86d5004c9bbdfb2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9794455726368271eee24a6e5e969be"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">PokemonUnity.Monster.LearnMethod</a> </td></tr>
<tr class="separator:ad9794455726368271eee24a6e5e969be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30da27cb49369581097a6459498b2be3"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">PokemonUnity.Monster.EvolutionMethod</a> </td></tr>
<tr class="memdesc:a30da27cb49369581097a6459498b2be3"><td class="mdescLeft">&#160;</td><td class="mdescRight">no parameter, Positive integer, Item = Items, Move = Moves, Species = Pokemons, Type = Types   <a href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">More...</a><br /></td></tr>
<tr class="separator:a30da27cb49369581097a6459498b2be3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02089e2793b88ed1e42b3815a37c47aa"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">PokemonUnity.Monster.Forms</a> </td></tr>
<tr class="separator:a02089e2793b88ed1e42b3815a37c47aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73c7a5a79d8b87e311b5351c76b02e95"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a73c7a5a79d8b87e311b5351c76b02e95">PokemonUnity.Monster.PokemonActions</a> </td></tr>
<tr class="separator:a73c7a5a79d8b87e311b5351c76b02e95"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

