@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Combat.Effects.Move Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">Move</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Combat.Effects.Move Class Reference</div></div>
}


<p>These effects apply to the usage of a move   
 <a href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Combat.Effects.Move:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.png" usemap="#PokemonUnity.Combat.Effects.Move_map" alt=""/>
  <map id="PokemonUnity.Combat.Effects.Move_map" name="PokemonUnity.Combat.Effects.Move_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml" title="These effects apply to the usage of a move" alt="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove" shape="rect" coords="0,0,357,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a4362b55dd6c0bd4fd8e198ac9b34d11d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a4362b55dd6c0bd4fd8e198ac9b34d11d">SkipAccuracyCheck</a><code> [get, set]</code></td></tr>
<tr class="separator:a4362b55dd6c0bd4fd8e198ac9b34d11d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a217e83b1c6c4faa480c348a244327c01"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a217e83b1c6c4faa480c348a244327c01">SpecialUsage</a><code> [get, set]</code></td></tr>
<tr class="separator:a217e83b1c6c4faa480c348a244327c01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34be9747cb834ccc74af661b764fd0c2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a34be9747cb834ccc74af661b764fd0c2">PassedTrying</a><code> [get, set]</code></td></tr>
<tr class="separator:a34be9747cb834ccc74af661b764fd0c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac77cc94e7bc075179ac200fb9490018f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#ac77cc94e7bc075179ac200fb9490018f">TotalDamage</a><code> [get, set]</code></td></tr>
<tr class="separator:ac77cc94e7bc075179ac200fb9490018f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove</a></td></tr>
<tr class="memitem:a8c668ff00d66cececa58fc2ac4c4bf17 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a8c668ff00d66cececa58fc2ac4c4bf17">SkipAccuracyCheck</a><code> [get, set]</code></td></tr>
<tr class="separator:a8c668ff00d66cececa58fc2ac4c4bf17 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bab6104f30765067a19603214cfc2c0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a1bab6104f30765067a19603214cfc2c0">SpecialUsage</a><code> [get, set]</code></td></tr>
<tr class="separator:a1bab6104f30765067a19603214cfc2c0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab493da267626ed021ceb87b6ba9fab9c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#ab493da267626ed021ceb87b6ba9fab9c">PassedTrying</a><code> [get, set]</code></td></tr>
<tr class="separator:ab493da267626ed021ceb87b6ba9fab9c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c895573efcefe1608814f5e99842a1a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a3c895573efcefe1608814f5e99842a1a">TotalDamage</a><code> [get, set]</code></td></tr>
<tr class="separator:a3c895573efcefe1608814f5e99842a1a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >These effects apply to the usage of a move  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a34be9747cb834ccc74af661b764fd0c2" name="a34be9747cb834ccc74af661b764fd0c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34be9747cb834ccc74af661b764fd0c2">&#9670;&#160;</a></span>PassedTrying</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Move.PassedTrying</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#ab493da267626ed021ceb87b6ba9fab9c">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove</a>.</p>

</div>
</div>
<a id="a4362b55dd6c0bd4fd8e198ac9b34d11d" name="a4362b55dd6c0bd4fd8e198ac9b34d11d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4362b55dd6c0bd4fd8e198ac9b34d11d">&#9670;&#160;</a></span>SkipAccuracyCheck</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Move.SkipAccuracyCheck</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a8c668ff00d66cececa58fc2ac4c4bf17">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove</a>.</p>

</div>
</div>
<a id="a217e83b1c6c4faa480c348a244327c01" name="a217e83b1c6c4faa480c348a244327c01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a217e83b1c6c4faa480c348a244327c01">&#9670;&#160;</a></span>SpecialUsage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Move.SpecialUsage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a1bab6104f30765067a19603214cfc2c0">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove</a>.</p>

</div>
</div>
<a id="ac77cc94e7bc075179ac200fb9490018f" name="ac77cc94e7bc075179ac200fb9490018f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac77cc94e7bc075179ac200fb9490018f">&#9670;&#160;</a></span>TotalDamage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Combat.Effects.Move.TotalDamage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a3c895573efcefe1608814f5e99842a1a">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Effects/<a class="el" href="_combat_2_effects_2_move_8cs.cshtml">Move.cs</a></li>
</ul>
