@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Game_Player Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">Game_Player</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-attribs">Protected Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_game___player-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Game_Player Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Game_Player:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_game___player.png" usemap="#PokemonUnity.Game_5FPlayer_map" alt=""/>
  <map id="PokemonUnity.Game_5FPlayer_map" name="PokemonUnity.Game_5FPlayer_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml" alt="PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle" shape="rect" coords="0,0,337,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aae6f2d05b0bed4acf75cca43b8c7cc62"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#aae6f2d05b0bed4acf75cca43b8c7cc62">moveto2</a> (float <a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a943a5cc0e5e3a7ad887a6142413f092b">x</a>, float <a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4adc24d0b2f848c8e8f815174b31b052">y</a>)</td></tr>
<tr class="separator:aae6f2d05b0bed4acf75cca43b8c7cc62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9be25e0f09f59e7933febe6872141b5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#ad9be25e0f09f59e7933febe6872141b5">moveto2</a> (float x, float y)</td></tr>
<tr class="separator:ad9be25e0f09f59e7933febe6872141b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-attribs" name="pro-attribs"></a>
Protected Attributes</h2></td></tr>
<tr class="memitem:a0412850ad45cee7b2d431323cd6f3bc5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a0412850ad45cee7b2d431323cd6f3bc5">prelock_direction</a></td></tr>
<tr class="separator:a0412850ad45cee7b2d431323cd6f3bc5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a943a5cc0e5e3a7ad887a6142413f092b"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a943a5cc0e5e3a7ad887a6142413f092b">x</a></td></tr>
<tr class="separator:a943a5cc0e5e3a7ad887a6142413f092b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4adc24d0b2f848c8e8f815174b31b052"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4adc24d0b2f848c8e8f815174b31b052">y</a></td></tr>
<tr class="separator:a4adc24d0b2f848c8e8f815174b31b052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73529c696ce9fd0be5e7b2ddeb1ac632"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a73529c696ce9fd0be5e7b2ddeb1ac632">real_x</a></td></tr>
<tr class="separator:a73529c696ce9fd0be5e7b2ddeb1ac632"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4bb6c15dc55c3ddff761a70b25f4323b"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4bb6c15dc55c3ddff761a70b25f4323b">real_y</a></td></tr>
<tr class="separator:a4bb6c15dc55c3ddff761a70b25f4323b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2a4c2d3d4be600df773f113e574f3efc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a2a4c2d3d4be600df773f113e574f3efc">direction</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a2a4c2d3d4be600df773f113e574f3efc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml">PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle</a></td></tr>
<tr class="memitem:a97a08c54ee8866487828a8cfd95f0091 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#a97a08c54ee8866487828a8cfd95f0091">direction</a><code> [get]</code></td></tr>
<tr class="separator:a97a08c54ee8866487828a8cfd95f0091 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aae6f2d05b0bed4acf75cca43b8c7cc62" name="aae6f2d05b0bed4acf75cca43b8c7cc62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae6f2d05b0bed4acf75cca43b8c7cc62">&#9670;&#160;</a></span>moveto2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Game_Player.moveto2 </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#ad9be25e0f09f59e7933febe6872141b5">PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a0412850ad45cee7b2d431323cd6f3bc5" name="a0412850ad45cee7b2d431323cd6f3bc5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0412850ad45cee7b2d431323cd6f3bc5">&#9670;&#160;</a></span>prelock_direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Game_Player.prelock_direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a73529c696ce9fd0be5e7b2ddeb1ac632" name="a73529c696ce9fd0be5e7b2ddeb1ac632"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73529c696ce9fd0be5e7b2ddeb1ac632">&#9670;&#160;</a></span>real_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Game_Player.real_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4bb6c15dc55c3ddff761a70b25f4323b" name="a4bb6c15dc55c3ddff761a70b25f4323b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4bb6c15dc55c3ddff761a70b25f4323b">&#9670;&#160;</a></span>real_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Game_Player.real_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a943a5cc0e5e3a7ad887a6142413f092b" name="a943a5cc0e5e3a7ad887a6142413f092b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a943a5cc0e5e3a7ad887a6142413f092b">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Game_Player.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4adc24d0b2f848c8e8f815174b31b052" name="a4adc24d0b2f848c8e8f815174b31b052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4adc24d0b2f848c8e8f815174b31b052">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Game_Player.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a2a4c2d3d4be600df773f113e574f3efc" name="a2a4c2d3d4be600df773f113e574f3efc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a4c2d3d4be600df773f113e574f3efc">&#9670;&#160;</a></span>direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Game_Player.direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#a97a08c54ee8866487828a8cfd95f0091">PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_8cs.cshtml">OrgBattle.cs</a></li>
</ul>

