@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.EventArg.OnMapSceneChangeEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">OnMapSceneChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapSceneChangeEventArgs Class Reference</div></div>
}


<p>Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere   
 <a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnMapSceneChangeEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.png" usemap="#PokemonUnity.EventArg.OnMapSceneChangeEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnMapSceneChangeEventArgs_map" name="PokemonUnity.EventArg.OnMapSceneChangeEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml" title="Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true o..." alt="PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs" shape="rect" coords="428,56,846,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="428,0,846,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:abd829d33681dd954a88a83ccde6a3ec9"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#abd829d33681dd954a88a83ccde6a3ec9">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">OnMapSceneChangeEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:abd829d33681dd954a88a83ccde6a3ec9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a94f4badad5fa9957d54628c566c416c2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a94f4badad5fa9957d54628c566c416c2">Id</a><code> [get]</code></td></tr>
<tr class="separator:a94f4badad5fa9957d54628c566c416c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4fbca78923d90112f0a7e079acf0f0d6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a4fbca78923d90112f0a7e079acf0f0d6">Object</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4fbca78923d90112f0a7e079acf0f0d6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Scene_Map object.   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a4fbca78923d90112f0a7e079acf0f0d6">More...</a><br /></td></tr>
<tr class="separator:a4fbca78923d90112f0a7e079acf0f0d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0da199707b2b9fec476f9da4ddcfe527"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a0da199707b2b9fec476f9da4ddcfe527">NewMap</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0da199707b2b9fec476f9da4ddcfe527"><td class="mdescLeft">&#160;</td><td class="mdescRight">Whether the player just moved to a new map (either true or false).   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a0da199707b2b9fec476f9da4ddcfe527">More...</a><br /></td></tr>
<tr class="separator:a0da199707b2b9fec476f9da4ddcfe527"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs</a></td></tr>
<tr class="memitem:af2d925368b6e359ea6f1adba5f68fe5a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#af2d925368b6e359ea6f1adba5f68fe5a">Object</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af2d925368b6e359ea6f1adba5f68fe5a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="mdescLeft">&#160;</td><td class="mdescRight">Scene_Map object.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#af2d925368b6e359ea6f1adba5f68fe5a">More...</a><br /></td></tr>
<tr class="separator:af2d925368b6e359ea6f1adba5f68fe5a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e3cc924580763adc3a8239a846b6cb9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#a7e3cc924580763adc3a8239a846b6cb9">NewMap</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7e3cc924580763adc3a8239a846b6cb9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="mdescLeft">&#160;</td><td class="mdescRight">Whether the player just moved to a new map (either true or false).   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#a7e3cc924580763adc3a8239a846b6cb9">More...</a><br /></td></tr>
<tr class="separator:a7e3cc924580763adc3a8239a846b6cb9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere  </p>
</div><h2 class="groupheader">Member Data Documentation</h2>
<a id="abd829d33681dd954a88a83ccde6a3ec9" name="abd829d33681dd954a88a83ccde6a3ec9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd829d33681dd954a88a83ccde6a3ec9">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnMapSceneChangeEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">OnMapSceneChangeEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a94f4badad5fa9957d54628c566c416c2" name="a94f4badad5fa9957d54628c566c416c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94f4badad5fa9957d54628c566c416c2">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnMapSceneChangeEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a0da199707b2b9fec476f9da4ddcfe527" name="a0da199707b2b9fec476f9da4ddcfe527"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0da199707b2b9fec476f9da4ddcfe527">&#9670;&#160;</a></span>NewMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.EventArg.OnMapSceneChangeEventArgs.NewMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Whether the player just moved to a new map (either true or false).  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#a7e3cc924580763adc3a8239a846b6cb9">PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs</a>.</p>

</div>
</div>
<a id="a4fbca78923d90112f0a7e079acf0f0d6" name="a4fbca78923d90112f0a7e079acf0f0d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4fbca78923d90112f0a7e079acf0f0d6">&#9670;&#160;</a></span>Object</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a> PokemonUnity.EventArg.OnMapSceneChangeEventArgs.Object</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Scene_Map object.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#af2d925368b6e359ea6f1adba5f68fe5a">PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>

