@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.LevelRestriction Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_level_restriction.cshtml">LevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.LevelRestriction Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.LevelRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_level_restriction.png" usemap="#PokemonUnity.LevelRestriction_map" alt=""/>
  <map id="PokemonUnity.LevelRestriction_map" name="PokemonUnity.LevelRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.ILevelRestriction" shape="rect" coords="0,0,305,24"/>
  </map>
</div></div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>
