@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___battle_peer.cshtml">PokeBattle_BattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_BattlePeer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_BattlePeer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___battle_peer.cshtml#a768a6c2f478a2e9693ad6d5474d4747f">create</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_BattlePeer</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
</table>
