@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml">SpeciesRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.SpeciesRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml">PokemonUnity.SpeciesRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml#a0fe16049406869439c1e98125ca80939">isSpecies</a>(Pokemons species, Pokemons[] specieslist)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml">PokemonUnity.SpeciesRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml#a565b28c4dfd550d8aaaefbaccb43cf39">isValid</a>(PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml">PokemonUnity.SpeciesRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">PokemonEssentials::Interface::Battle::IBattleRestriction.isValid</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml#ac5818c3955b46e2f8443703fdbcbd1f6">SpeciesRestriction</a>(params Pokemons[] specieslist)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_species_restriction.cshtml">PokemonUnity.SpeciesRestriction</a></td><td class="entry"></td></tr>
</table>