@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Combat.MoveEffectData Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">MoveEffectData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_combat_1_1_move_effect_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Combat.MoveEffectData Class Reference</div></div>
}


<p> 
 <a href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Combat.MoveEffectData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_combat_1_1_move_effect_data.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8413e6f0d3fb76e40e2ed5feeea2e3d6"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8413e6f0d3fb76e40e2ed5feeea2e3d6">MoveEffectData</a> ()</td></tr>
<tr class="separator:a8413e6f0d3fb76e40e2ed5feeea2e3d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9235f7fadd14243ac7ad4f8d2a80085"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#ad9235f7fadd14243ac7ad4f8d2a80085">Add</a> (<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> key, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> value)</td></tr>
<tr class="separator:ad9235f7fadd14243ac7ad4f8d2a80085"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a81b3520470f1c0903c9473310d2bce0b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a81b3520470f1c0903c9473310d2bce0b">Add</a> (KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt; item)</td></tr>
<tr class="separator:a81b3520470f1c0903c9473310d2bce0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b3d78916ab552d79d80d5cbeb94b6d9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8b3d78916ab552d79d80d5cbeb94b6d9">Clear</a> ()</td></tr>
<tr class="separator:a8b3d78916ab552d79d80d5cbeb94b6d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c6bbef0e8d02422d24307b51ccf8908"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a2c6bbef0e8d02422d24307b51ccf8908">Contains</a> (KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt; item)</td></tr>
<tr class="separator:a2c6bbef0e8d02422d24307b51ccf8908"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac298c82f9908bafc59be938a0bd18906"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#ac298c82f9908bafc59be938a0bd18906">ContainsKey</a> (<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> key)</td></tr>
<tr class="separator:ac298c82f9908bafc59be938a0bd18906"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6764e62f87ce24f1feab2d2e73caa775"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a6764e62f87ce24f1feab2d2e73caa775">CopyTo</a> (KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;[] array, int arrayIndex)</td></tr>
<tr class="separator:a6764e62f87ce24f1feab2d2e73caa775"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0b439d7c9285970f276d5d3c4ece5457"><td class="memItemLeft" align="right" valign="top">IEnumerator&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a0b439d7c9285970f276d5d3c4ece5457">GetEnumerator</a> ()</td></tr>
<tr class="separator:a0b439d7c9285970f276d5d3c4ece5457"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ac161e071d011739a8b7745c9898ec9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8ac161e071d011739a8b7745c9898ec9">Remove</a> (<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> key)</td></tr>
<tr class="separator:a8ac161e071d011739a8b7745c9898ec9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8126aed783c358edbfe8cc549b28a42e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8126aed783c358edbfe8cc549b28a42e">Remove</a> (KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt; item)</td></tr>
<tr class="separator:a8126aed783c358edbfe8cc549b28a42e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b81dd1924c28799c4a9d9e96e84a2c4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a7b81dd1924c28799c4a9d9e96e84a2c4">TryGetValue</a> (<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> key, out <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> value)</td></tr>
<tr class="separator:a7b81dd1924c28799c4a9d9e96e84a2c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a547836ba11222335ecf0361cc17c3106"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a547836ba11222335ecf0361cc17c3106">this[Attack.Data.Effects key]</a><code> [get, set]</code></td></tr>
<tr class="separator:a547836ba11222335ecf0361cc17c3106"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af387d2e3c27326ce63bae7d656ad62d3"><td class="memItemLeft" align="right" valign="top">ICollection&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#af387d2e3c27326ce63bae7d656ad62d3">Keys</a><code> [get]</code></td></tr>
<tr class="separator:af387d2e3c27326ce63bae7d656ad62d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47e67ce20286696c38d0354be77abf41"><td class="memItemLeft" align="right" valign="top">ICollection&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a47e67ce20286696c38d0354be77abf41">Values</a><code> [get]</code></td></tr>
<tr class="separator:a47e67ce20286696c38d0354be77abf41"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ce912ef2136f542a791e97df8bedbcf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a7ce912ef2136f542a791e97df8bedbcf">Count</a><code> [get]</code></td></tr>
<tr class="separator:a7ce912ef2136f542a791e97df8bedbcf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a595708e99a11437ccbf3048472447c97"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a595708e99a11437ccbf3048472447c97">IsReadOnly</a><code> [get]</code></td></tr>
<tr class="separator:a595708e99a11437ccbf3048472447c97"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a8413e6f0d3fb76e40e2ed5feeea2e3d6" name="a8413e6f0d3fb76e40e2ed5feeea2e3d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8413e6f0d3fb76e40e2ed5feeea2e3d6">&#9670;&#160;</a></span>MoveEffectData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Combat.MoveEffectData.MoveEffectData </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ad9235f7fadd14243ac7ad4f8d2a80085" name="ad9235f7fadd14243ac7ad4f8d2a80085"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9235f7fadd14243ac7ad4f8d2a80085">&#9670;&#160;</a></span>Add() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Combat.MoveEffectData.Add </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>&#160;</td>
          <td class="paramname"><em>key</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a81b3520470f1c0903c9473310d2bce0b" name="a81b3520470f1c0903c9473310d2bce0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a81b3520470f1c0903c9473310d2bce0b">&#9670;&#160;</a></span>Add() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Combat.MoveEffectData.Add </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b3d78916ab552d79d80d5cbeb94b6d9" name="a8b3d78916ab552d79d80d5cbeb94b6d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b3d78916ab552d79d80d5cbeb94b6d9">&#9670;&#160;</a></span>Clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Combat.MoveEffectData.Clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2c6bbef0e8d02422d24307b51ccf8908" name="a2c6bbef0e8d02422d24307b51ccf8908"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2c6bbef0e8d02422d24307b51ccf8908">&#9670;&#160;</a></span>Contains()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.Contains </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac298c82f9908bafc59be938a0bd18906" name="ac298c82f9908bafc59be938a0bd18906"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac298c82f9908bafc59be938a0bd18906">&#9670;&#160;</a></span>ContainsKey()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.ContainsKey </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6764e62f87ce24f1feab2d2e73caa775" name="a6764e62f87ce24f1feab2d2e73caa775"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6764e62f87ce24f1feab2d2e73caa775">&#9670;&#160;</a></span>CopyTo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Combat.MoveEffectData.CopyTo </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;[]&#160;</td>
          <td class="paramname"><em>array</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>arrayIndex</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0b439d7c9285970f276d5d3c4ece5457" name="a0b439d7c9285970f276d5d3c4ece5457"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b439d7c9285970f276d5d3c4ece5457">&#9670;&#160;</a></span>GetEnumerator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt; &gt; PokemonUnity.Combat.MoveEffectData.GetEnumerator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8ac161e071d011739a8b7745c9898ec9" name="a8ac161e071d011739a8b7745c9898ec9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ac161e071d011739a8b7745c9898ec9">&#9670;&#160;</a></span>Remove() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.Remove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8126aed783c358edbfe8cc549b28a42e" name="a8126aed783c358edbfe8cc549b28a42e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8126aed783c358edbfe8cc549b28a42e">&#9670;&#160;</a></span>Remove() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.Remove </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> &gt;&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b81dd1924c28799c4a9d9e96e84a2c4" name="a7b81dd1924c28799c4a9d9e96e84a2c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b81dd1924c28799c4a9d9e96e84a2c4">&#9670;&#160;</a></span>TryGetValue()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.TryGetValue </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>&#160;</td>
          <td class="paramname"><em>key</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">out <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a7ce912ef2136f542a791e97df8bedbcf" name="a7ce912ef2136f542a791e97df8bedbcf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ce912ef2136f542a791e97df8bedbcf">&#9670;&#160;</a></span>Count</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Combat.MoveEffectData.Count</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a595708e99a11437ccbf3048472447c97" name="a595708e99a11437ccbf3048472447c97"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a595708e99a11437ccbf3048472447c97">&#9670;&#160;</a></span>IsReadOnly</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.MoveEffectData.IsReadOnly</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af387d2e3c27326ce63bae7d656ad62d3" name="af387d2e3c27326ce63bae7d656ad62d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af387d2e3c27326ce63bae7d656ad62d3">&#9670;&#160;</a></span>Keys</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">ICollection&lt;<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>&gt; PokemonUnity.Combat.MoveEffectData.Keys</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a547836ba11222335ecf0361cc17c3106" name="a547836ba11222335ecf0361cc17c3106"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a547836ba11222335ecf0361cc17c3106">&#9670;&#160;</a></span>this[Attack.Data.Effects key]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> PokemonUnity.Combat.MoveEffectData.this[<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a> key]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a47e67ce20286696c38d0354be77abf41" name="a47e67ce20286696c38d0354be77abf41"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a47e67ce20286696c38d0354be77abf41">&#9670;&#160;</a></span>Values</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">ICollection&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&gt; PokemonUnity.Combat.MoveEffectData.Values</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/<a class="el" href="_move_effect_data_8cs.cshtml">MoveEffectData.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
