@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">BattleUseOnPokemonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleUseOnPokemonEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#afea3c216f739fc578540828c7bb5536d">Battler</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#aa5b1333fadf9bbc118e2d965b4a9ec59">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#ad5d0b800f613603c4656576ca67c23bb">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a5f7186b0a6a748b799226e8daff8a506">Item</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a2dad50db179bf6844b64b06e82979f2b">Pokemon</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a4ac7ea0578c49e06c87940d41d648bad">Response</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a9784dce306f6e893a539457bce961be3">Scene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml">PokemonUnity.BattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
</table>