@{
	Page.Title = "PokemonUnity.Networking.Packets.OutgoingPacket Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">OutgoingPacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-attribs">Public Attributes</a> &#124;
<a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.OutgoingPacket Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a061a05e6747413fcdec8962e7e61a9f2"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a061a05e6747413fcdec8962e7e61a9f2">OutgoingPacket</a> (<a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a> tradeCommand)</td></tr>
<tr class="memdesc:a061a05e6747413fcdec8962e7e61a9f2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a new empty <a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a> Trade Packet with the set TradeCommand   <a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a061a05e6747413fcdec8962e7e61a9f2">More...</a><br /></td></tr>
<tr class="separator:a061a05e6747413fcdec8962e7e61a9f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae27d1ffeb05bde36d3709d79c0979f98"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#ae27d1ffeb05bde36d3709d79c0979f98">OutgoingPacket</a> (<a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a> command, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> pokemonToTrade)</td></tr>
<tr class="memdesc:ae27d1ffeb05bde36d3709d79c0979f98"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a new <a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a> Trade Packet with the SET_POKEMON Trade Command   <a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#ae27d1ffeb05bde36d3709d79c0979f98">More...</a><br /></td></tr>
<tr class="separator:ae27d1ffeb05bde36d3709d79c0979f98"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70564c083e56badb2f4b1924f9233d52"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a70564c083e56badb2f4b1924f9233d52">OutgoingPacket</a> (<a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a> authenticator)</td></tr>
<tr class="memdesc:a70564c083e56badb2f4b1924f9233d52"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a new Authentication Request Packet   <a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a70564c083e56badb2f4b1924f9233d52">More...</a><br /></td></tr>
<tr class="separator:a70564c083e56badb2f4b1924f9233d52"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-attribs" name="pub-attribs"></a>
Public Attributes</h2></td></tr>
<tr class="memitem:aa4d73088b8e9f0406ed6885b5edb67e8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml#ab4ebaf6c2edec37f5765fd3f608d3ad4">OutgoingPacketType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#aa4d73088b8e9f0406ed6885b5edb67e8">Type</a></td></tr>
<tr class="separator:aa4d73088b8e9f0406ed6885b5edb67e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b95744c72def192a6e422e652606a62"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_networking_1_1_packets_1_1_i_out_packet.cshtml">IOutPacket</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a6b95744c72def192a6e422e652606a62">PacketContainer</a></td></tr>
<tr class="separator:a6b95744c72def192a6e422e652606a62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ed3b59687435e2ab1d3b0989e99c69c"><td class="memItemLeft" align="right" valign="top">System.DateTime&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a2ed3b59687435e2ab1d3b0989e99c69c">Time</a> = System.DateTime.Now</td></tr>
<tr class="separator:a2ed3b59687435e2ab1d3b0989e99c69c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a061a05e6747413fcdec8962e7e61a9f2" name="a061a05e6747413fcdec8962e7e61a9f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a061a05e6747413fcdec8962e7e61a9f2">&#9670;&#160;</a></span>OutgoingPacket() <span class="overload">[1/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Networking.Packets.OutgoingPacket.OutgoingPacket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a>&#160;</td>
          <td class="paramname"><em>tradeCommand</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Creates a new empty <a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a> Trade Packet with the set TradeCommand  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">tradeCommand</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ae27d1ffeb05bde36d3709d79c0979f98" name="ae27d1ffeb05bde36d3709d79c0979f98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae27d1ffeb05bde36d3709d79c0979f98">&#9670;&#160;</a></span>OutgoingPacket() <span class="overload">[2/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Networking.Packets.OutgoingPacket.OutgoingPacket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a>&#160;</td>
          <td class="paramname"><em>command</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemonToTrade</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Creates a new <a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a> Trade Packet with the SET_POKEMON Trade Command  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemonToTrade</td><td>The SeriPokemon that needs to be set (visible to the other player)</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a70564c083e56badb2f4b1924f9233d52" name="a70564c083e56badb2f4b1924f9233d52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70564c083e56badb2f4b1924f9233d52">&#9670;&#160;</a></span>OutgoingPacket() <span class="overload">[3/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Networking.Packets.OutgoingPacket.OutgoingPacket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a>&#160;</td>
          <td class="paramname"><em>authenticator</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Creates a new Authentication Request Packet  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">authenticator</td><td>The SaveData that needs to be compared to the online version for authentication</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a6b95744c72def192a6e422e652606a62" name="a6b95744c72def192a6e422e652606a62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b95744c72def192a6e422e652606a62">&#9670;&#160;</a></span>PacketContainer</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_networking_1_1_packets_1_1_i_out_packet.cshtml">IOutPacket</a> PokemonUnity.Networking.Packets.OutgoingPacket.PacketContainer</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ed3b59687435e2ab1d3b0989e99c69c" name="a2ed3b59687435e2ab1d3b0989e99c69c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ed3b59687435e2ab1d3b0989e99c69c">&#9670;&#160;</a></span>Time</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">System.DateTime PokemonUnity.Networking.Packets.OutgoingPacket.Time = System.DateTime.Now</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa4d73088b8e9f0406ed6885b5edb67e8" name="aa4d73088b8e9f0406ed6885b5edb67e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa4d73088b8e9f0406ed6885b5edb67e8">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml#ab4ebaf6c2edec37f5765fd3f608d3ad4">OutgoingPacketType</a> PokemonUnity.Networking.Packets.OutgoingPacket.Type</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Networking/Packets/<a class="el" href="_outgoing_packet_8cs.cshtml">OutgoingPacket.cs</a></li>
</ul>
