@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml">GameTemp</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.GameTemp Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml">PokemonUnity.GameTemp</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml#ab3db92ab445a3b1301001b8093f9b077">background_bitmap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml">PokemonUnity.GameTemp</a></td><td class="entry"></td></tr>
</table>
