@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.UseFromBagEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">UseFromBagEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_use_from_bag_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UseFromBagEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.UseFromBagEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_use_from_bag_event_args.png" usemap="#PokemonUnity.UseFromBagEventArgs_map" alt=""/>
  <map id="PokemonUnity.UseFromBagEventArgs_map" name="PokemonUnity.UseFromBagEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IUseFromBagEventArgs" shape="rect" coords="378,56,746,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="378,0,746,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:ac4c4c8e0d78b37b5043a8ce2f444d4a9"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#ac4c4c8e0d78b37b5043a8ce2f444d4a9">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">UseFromBagEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:ac4c4c8e0d78b37b5043a8ce2f444d4a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a842752349f5bea1af18e722b46f63dae"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#a842752349f5bea1af18e722b46f63dae">Id</a><code> [get]</code></td></tr>
<tr class="separator:a842752349f5bea1af18e722b46f63dae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1f8156b32e7227a454df4ca9a78307c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#aa1f8156b32e7227a454df4ca9a78307c">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:aa1f8156b32e7227a454df4ca9a78307c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a194ca6251b7a3b66dfac76ba10253883"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a10f0d96cc1e8c7765d7eb7a1635474de">ItemUseResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#a194ca6251b7a3b66dfac76ba10253883">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a194ca6251b7a3b66dfac76ba10253883"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseFromBagEventArgs</a></td></tr>
<tr class="memitem:a240fae8f846e6e8ccb1d5e8b3f04ff00 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml#a240fae8f846e6e8ccb1d5e8b3f04ff00">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a240fae8f846e6e8ccb1d5e8b3f04ff00 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a8b6b25b946a180f262c62b1f50dac1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a10f0d96cc1e8c7765d7eb7a1635474de">ItemUseResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml#a2a8b6b25b946a180f262c62b1f50dac1">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a2a8b6b25b946a180f262c62b1f50dac1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="ac4c4c8e0d78b37b5043a8ce2f444d4a9" name="ac4c4c8e0d78b37b5043a8ce2f444d4a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4c4c8e0d78b37b5043a8ce2f444d4a9">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.UseFromBagEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">UseFromBagEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a842752349f5bea1af18e722b46f63dae" name="a842752349f5bea1af18e722b46f63dae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a842752349f5bea1af18e722b46f63dae">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.UseFromBagEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="aa1f8156b32e7227a454df4ca9a78307c" name="aa1f8156b32e7227a454df4ca9a78307c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1f8156b32e7227a454df4ca9a78307c">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.UseFromBagEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml#a240fae8f846e6e8ccb1d5e8b3f04ff00">PokemonEssentials.Interface.EventArg.IUseFromBagEventArgs</a>.</p>

</div>
</div>
<a id="a194ca6251b7a3b66dfac76ba10253883" name="a194ca6251b7a3b66dfac76ba10253883"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a194ca6251b7a3b66dfac76ba10253883">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a10f0d96cc1e8c7765d7eb7a1635474de">ItemUseResults</a> PokemonUnity.UseFromBagEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml#a2a8b6b25b946a180f262c62b1f50dac1">PokemonEssentials.Interface.EventArg.IUseFromBagEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_effects_8cs.cshtml">Item.Effects.cs</a></li>
</ul>

