@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.SafariState Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">SafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-methods">Protected Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_safari_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.SafariState Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.SafariState:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_safari_state.png" usemap="#PokemonUnity.SafariState_map" alt=""/>
  <map id="PokemonUnity.SafariState_map" name="PokemonUnity.SafariState_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml" alt="PokemonEssentials.Interface.Field.ISafariState" shape="rect" coords="0,0,274,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8e54d3375b4ed0b024a36a3442fc2959"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a8e54d3375b4ed0b024a36a3442fc2959">SafariState</a> ()</td></tr>
<tr class="separator:a8e54d3375b4ed0b024a36a3442fc2959"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff84509de640b6009d55a709d7990664"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#aff84509de640b6009d55a709d7990664">GoToStart</a> ()</td></tr>
<tr class="separator:aff84509de640b6009d55a709d7990664"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a837c8487f1baf2770d6c2df75444c1c4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a837c8487f1baf2770d6c2df75444c1c4">Start</a> (int ballcount_)</td></tr>
<tr class="separator:a837c8487f1baf2770d6c2df75444c1c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c1468eb70c2d98d1cb31155bf2e8800"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a9c1468eb70c2d98d1cb31155bf2e8800">End</a> ()</td></tr>
<tr class="separator:a9c1468eb70c2d98d1cb31155bf2e8800"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe434ad00739acf81d82bdf447d2d084"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afe434ad00739acf81d82bdf447d2d084">initialize</a> ()</td></tr>
<tr class="separator:afe434ad00739acf81d82bdf447d2d084"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abab00ca9db3489584a88cb057811d446"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abab00ca9db3489584a88cb057811d446">initialize</a> ()</td></tr>
<tr class="separator:abab00ca9db3489584a88cb057811d446"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf7c15b32cc090d0fc736496195ef7cc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abf7c15b32cc090d0fc736496195ef7cc">GoToStart</a> ()</td></tr>
<tr class="separator:abf7c15b32cc090d0fc736496195ef7cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a821214300a96344719d9ee110ec70c96"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a821214300a96344719d9ee110ec70c96">Start</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">ballcount</a>)</td></tr>
<tr class="separator:a821214300a96344719d9ee110ec70c96"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae0505e66f12697b0a640bf895e6ae5f0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#ae0505e66f12697b0a640bf895e6ae5f0">End</a> ()</td></tr>
<tr class="separator:ae0505e66f12697b0a640bf895e6ae5f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-methods" name="pro-methods"></a>
Protected Member Functions</h2></td></tr>
<tr class="memitem:ae1e01d43d5dd1179ca19a4e3021b2094"><td class="memItemLeft" align="right" valign="top">virtual void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#ae1e01d43d5dd1179ca19a4e3021b2094">Events_OnMapChange</a> (object sender, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml">IOnMapChangeEventArgs</a> e)</td></tr>
<tr class="separator:ae1e01d43d5dd1179ca19a4e3021b2094"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a824f37c59395ab8e6d435eacc6d40ae7"><td class="memItemLeft" align="right" valign="top">virtual void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a824f37c59395ab8e6d435eacc6d40ae7">Events_OnStepTakenTransferPossible</a> (object sender, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">IOnStepTakenTransferPossibleEventArgs</a> e)</td></tr>
<tr class="separator:a824f37c59395ab8e6d435eacc6d40ae7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b32dc5c13c1712b6fc1d351e6d9d3ee"><td class="memItemLeft" align="right" valign="top">virtual void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a8b32dc5c13c1712b6fc1d351e6d9d3ee">Events_OnWildBattleOverride</a> (object sender, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">IOnWildBattleOverrideEventArgs</a> e)</td></tr>
<tr class="separator:a8b32dc5c13c1712b6fc1d351e6d9d3ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a26db933bc0619b87b509dabe7c774388"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a26db933bc0619b87b509dabe7c774388">ballcount</a><code> [get, set]</code></td></tr>
<tr class="separator:a26db933bc0619b87b509dabe7c774388"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb726bbc6ac388f3b8fa16adbd2721e1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afb726bbc6ac388f3b8fa16adbd2721e1">steps</a><code> [get, set]</code></td></tr>
<tr class="separator:afb726bbc6ac388f3b8fa16adbd2721e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6f2b28cbe3c49562055de4ebf75e5bbc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">Combat.BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a6f2b28cbe3c49562055de4ebf75e5bbc">decision</a><code> [get, set]</code></td></tr>
<tr class="separator:a6f2b28cbe3c49562055de4ebf75e5bbc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afca4f937ed7a8e05c2b4ac864f56c300"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afca4f937ed7a8e05c2b4ac864f56c300">ReceptionMap</a><code> [get]</code></td></tr>
<tr class="separator:afca4f937ed7a8e05c2b4ac864f56c300"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10466f870e37fcbd339cacfedf57e213"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a10466f870e37fcbd339cacfedf57e213">InProgress</a><code> [get]</code></td></tr>
<tr class="separator:a10466f870e37fcbd339cacfedf57e213"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td></tr>
<tr class="memitem:a163d2afdead3195b5e7ffacdaa275445 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">ballcount</a><code> [get, set]</code></td></tr>
<tr class="separator:a163d2afdead3195b5e7ffacdaa275445 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c5323c95bd4e9b922a8dccddbd28f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a25c5323c95bd4e9b922a8dccddbd28f2">decision</a><code> [get, set]</code></td></tr>
<tr class="separator:a25c5323c95bd4e9b922a8dccddbd28f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a273bf6a10508bf75014a88959e195206 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a273bf6a10508bf75014a88959e195206">steps</a><code> [get, set]</code></td></tr>
<tr class="separator:a273bf6a10508bf75014a88959e195206 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af92d6c76cfe52700e11178fc37b1132e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#af92d6c76cfe52700e11178fc37b1132e">ReceptionMap</a><code> [get]</code></td></tr>
<tr class="separator:af92d6c76cfe52700e11178fc37b1132e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc900e0504b05ad8fbad5acca88cb65d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#acc900e0504b05ad8fbad5acca88cb65d">InProgress</a><code> [get]</code></td></tr>
<tr class="separator:acc900e0504b05ad8fbad5acca88cb65d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a8e54d3375b4ed0b024a36a3442fc2959" name="a8e54d3375b4ed0b024a36a3442fc2959"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e54d3375b4ed0b024a36a3442fc2959">&#9670;&#160;</a></span>SafariState()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.SafariState.SafariState </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a9c1468eb70c2d98d1cb31155bf2e8800" name="a9c1468eb70c2d98d1cb31155bf2e8800"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c1468eb70c2d98d1cb31155bf2e8800">&#9670;&#160;</a></span>End()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.SafariState.End </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#ae0505e66f12697b0a640bf895e6ae5f0">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="ae1e01d43d5dd1179ca19a4e3021b2094" name="ae1e01d43d5dd1179ca19a4e3021b2094"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1e01d43d5dd1179ca19a4e3021b2094">&#9670;&#160;</a></span>Events_OnMapChange()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual void PokemonUnity.SafariState.Events_OnMapChange </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>sender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml">IOnMapChangeEventArgs</a>&#160;</td>
          <td class="paramname"><em>e</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a824f37c59395ab8e6d435eacc6d40ae7" name="a824f37c59395ab8e6d435eacc6d40ae7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a824f37c59395ab8e6d435eacc6d40ae7">&#9670;&#160;</a></span>Events_OnStepTakenTransferPossible()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual void PokemonUnity.SafariState.Events_OnStepTakenTransferPossible </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>sender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">IOnStepTakenTransferPossibleEventArgs</a>&#160;</td>
          <td class="paramname"><em>e</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b32dc5c13c1712b6fc1d351e6d9d3ee" name="a8b32dc5c13c1712b6fc1d351e6d9d3ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b32dc5c13c1712b6fc1d351e6d9d3ee">&#9670;&#160;</a></span>Events_OnWildBattleOverride()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual void PokemonUnity.SafariState.Events_OnWildBattleOverride </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>sender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">IOnWildBattleOverrideEventArgs</a>&#160;</td>
          <td class="paramname"><em>e</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aff84509de640b6009d55a709d7990664" name="aff84509de640b6009d55a709d7990664"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff84509de640b6009d55a709d7990664">&#9670;&#160;</a></span>GoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.SafariState.GoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abf7c15b32cc090d0fc736496195ef7cc">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="afe434ad00739acf81d82bdf447d2d084" name="afe434ad00739acf81d82bdf447d2d084"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe434ad00739acf81d82bdf447d2d084">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a> PokemonUnity.SafariState.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abab00ca9db3489584a88cb057811d446">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="a837c8487f1baf2770d6c2df75444c1c4" name="a837c8487f1baf2770d6c2df75444c1c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a837c8487f1baf2770d6c2df75444c1c4">&#9670;&#160;</a></span>Start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.SafariState.Start </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ballcount_</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a821214300a96344719d9ee110ec70c96">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a26db933bc0619b87b509dabe7c774388" name="a26db933bc0619b87b509dabe7c774388"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26db933bc0619b87b509dabe7c774388">&#9670;&#160;</a></span>ballcount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.SafariState.ballcount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="a6f2b28cbe3c49562055de4ebf75e5bbc" name="a6f2b28cbe3c49562055de4ebf75e5bbc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f2b28cbe3c49562055de4ebf75e5bbc">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">Combat.BattleResults</a> PokemonUnity.SafariState.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a25c5323c95bd4e9b922a8dccddbd28f2">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="a10466f870e37fcbd339cacfedf57e213" name="a10466f870e37fcbd339cacfedf57e213"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10466f870e37fcbd339cacfedf57e213">&#9670;&#160;</a></span>InProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.SafariState.InProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#acc900e0504b05ad8fbad5acca88cb65d">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="afca4f937ed7a8e05c2b4ac864f56c300" name="afca4f937ed7a8e05c2b4ac864f56c300"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afca4f937ed7a8e05c2b4ac864f56c300">&#9670;&#160;</a></span>ReceptionMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.SafariState.ReceptionMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#af92d6c76cfe52700e11178fc37b1132e">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<a id="afb726bbc6ac388f3b8fa16adbd2721e1" name="afb726bbc6ac388f3b8fa16adbd2721e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb726bbc6ac388f3b8fa16adbd2721e1">&#9670;&#160;</a></span>steps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.SafariState.steps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a273bf6a10508bf75014a88959e195206">PokemonEssentials.Interface.Field.ISafariState</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Overworld/<a class="el" href="_safari_8cs.cshtml">Safari.cs</a></li>
</ul>

