@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">OnWildBattleOverrideEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a5dd1bcc85255af40745af24079e1d0ab">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a31b0391fe017def34f3bf52c17cc0342">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#ae50244e10de23eaad5e9696bfc8b52a1">Level</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#af75db55c9ec2dbf29b81e28e7848be69">Result</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a7c454388eeb086332834e6527d70d53b">Species</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a></td><td class="entry"></td></tr>
</table>