@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml">OnLoadLevelEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnLoadLevelEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml">PokemonUnity.EventArg.OnLoadLevelEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml#a587b01f2664817afa9977ae873ca60a7">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml">PokemonUnity.EventArg.OnLoadLevelEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml#addef688f6979c2308ce3f4bd1d81f5c7">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml">PokemonUnity.EventArg.OnLoadLevelEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml#ae6a0c0fd1467c837ce05c8fe3e1faa4a">Scene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_load_level_event_args.cshtml">PokemonUnity.EventArg.OnLoadLevelEventArgs</a></td><td class="entry"></td></tr>
</table>
