@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Translator.Language.XmlLocalizationDictionary Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">Translator</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml">Language</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Translator.Language.XmlLocalizationDictionary Class Reference</div></div>
}


<p>This class is used to build a localization dictionary from XML.   
 <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Translator.Language.XmlLocalizationDictionary:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.png" usemap="#PokemonUnity.Translator.Language.XmlLocalizationDictionary_map" alt=""/>
  <map id="PokemonUnity.Translator.Language.XmlLocalizationDictionary_map" name="PokemonUnity.Translator.Language.XmlLocalizationDictionary_map">
<area href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml" title="Represents a simple implementation of XmlLocalizationDictionary interface." alt="PokemonUnity.Translator.Language.LocalizationDictionary" shape="rect" coords="0,56,362,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a02f5f51029fd06ecd21e4283e1b0b88e"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#a02f5f51029fd06ecd21e4283e1b0b88e">BuildFomFile</a> (string filePath)</td></tr>
<tr class="memdesc:a02f5f51029fd06ecd21e4283e1b0b88e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Builds an <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> from given file.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#a02f5f51029fd06ecd21e4283e1b0b88e">More...</a><br /></td></tr>
<tr class="separator:a02f5f51029fd06ecd21e4283e1b0b88e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaeb266e3dcdd37453b205d89272f4bff"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#aaeb266e3dcdd37453b205d89272f4bff">BuildFomXmlString</a> (string xmlString)</td></tr>
<tr class="memdesc:aaeb266e3dcdd37453b205d89272f4bff"><td class="mdescLeft">&#160;</td><td class="mdescRight">Builds an <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> from given xml string.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#aaeb266e3dcdd37453b205d89272f4bff">More...</a><br /></td></tr>
<tr class="separator:aaeb266e3dcdd37453b205d89272f4bff"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a31b06db116c888f09b84eade2cd79edd"><td class="memItemLeft" align="right" valign="top">static SortedList&lt; string, IEnumerable&lt; <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a> &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#a31b06db116c888f09b84eade2cd79edd">nodeType</a> = new SortedList&lt;string, IEnumerable&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt;&gt;()</td></tr>
<tr class="separator:a31b06db116c888f09b84eade2cd79edd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml">PokemonUnity.Translator.Language.LocalizationDictionary</a></td></tr>
<tr class="memitem:a3a25fa82ce7f485ef66d8acd2a0da629 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a3a25fa82ce7f485ef66d8acd2a0da629">LocalizationDictionary</a> (<a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a> cultureInfo)</td></tr>
<tr class="memdesc:a3a25fa82ce7f485ef66d8acd2a0da629 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a new <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml" title="Represents a simple implementation of XmlLocalizationDictionary interface.">LocalizationDictionary</a> object.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a3a25fa82ce7f485ef66d8acd2a0da629">More...</a><br /></td></tr>
<tr class="separator:a3a25fa82ce7f485ef66d8acd2a0da629 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb207d01a062ad58fe8c1fc28cfe96e7 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#adb207d01a062ad58fe8c1fc28cfe96e7">GetOrNull</a> (string name)</td></tr>
<tr class="separator:adb207d01a062ad58fe8c1fc28cfe96e7 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bb84dbf2e3f6d71e31e6c5458bef134 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">virtual List&lt; <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a6bb84dbf2e3f6d71e31e6c5458bef134">GetAllStrings</a> ()</td></tr>
<tr class="separator:a6bb84dbf2e3f6d71e31e6c5458bef134 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10d89b85f533383f2f606d031b74bbe8 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">virtual IEnumerator&lt; <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a10d89b85f533383f2f606d031b74bbe8">GetEnumerator</a> ()</td></tr>
<tr class="separator:a10d89b85f533383f2f606d031b74bbe8 inherit pub_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pro_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td colspan="2" onclick="javascript:toggleInherit('pro_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary')"><img src="closed.png" alt="-"/>&#160;Protected Member Functions inherited from <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml">PokemonUnity.Translator.Language.LocalizationDictionary</a></td></tr>
<tr class="memitem:ab2f06538fdc54358a7037945d2dea0d8 inherit pro_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#ab2f06538fdc54358a7037945d2dea0d8">Contains</a> (string name)</td></tr>
<tr class="separator:ab2f06538fdc54358a7037945d2dea0d8 inherit pro_methods_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td colspan="2" onclick="javascript:toggleInherit('properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml">PokemonUnity.Translator.Language.LocalizationDictionary</a></td></tr>
<tr class="memitem:a4c816c7bba1a06a92260061155045a96 inherit properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a4c816c7bba1a06a92260061155045a96">CultureInfo</a><code> [get]</code></td></tr>
<tr class="separator:a4c816c7bba1a06a92260061155045a96 inherit properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6fe0fee698affdfd8e491f40b3780a0 inherit properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#af6fe0fee698affdfd8e491f40b3780a0">this[string name]</a><code> [get, set]</code></td></tr>
<tr class="separator:af6fe0fee698affdfd8e491f40b3780a0 inherit properties_class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >This class is used to build a localization dictionary from XML.  </p>
<p >Use static Build methods to create instance of this class. </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a02f5f51029fd06ecd21e4283e1b0b88e" name="a02f5f51029fd06ecd21e4283e1b0b88e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02f5f51029fd06ecd21e4283e1b0b88e">&#9670;&#160;</a></span>BuildFomFile()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a> PokemonUnity.Translator.Language.XmlLocalizationDictionary.BuildFomFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filePath</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Builds an <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> from given file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">filePath</td><td>Path of the file</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="aaeb266e3dcdd37453b205d89272f4bff" name="aaeb266e3dcdd37453b205d89272f4bff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaeb266e3dcdd37453b205d89272f4bff">&#9670;&#160;</a></span>BuildFomXmlString()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a> PokemonUnity.Translator.Language.XmlLocalizationDictionary.BuildFomXmlString </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>xmlString</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Builds an <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> from given xml string.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">xmlString</td><td>XML string</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a31b06db116c888f09b84eade2cd79edd" name="a31b06db116c888f09b84eade2cd79edd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31b06db116c888f09b84eade2cd79edd">&#9670;&#160;</a></span>nodeType</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">SortedList&lt;string, IEnumerable&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt; &gt; PokemonUnity.Translator.Language.XmlLocalizationDictionary.nodeType = new SortedList&lt;string, IEnumerable&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt;&gt;()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Translations/<a class="el" href="_translator_8cs.cshtml">Translator.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
