@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">MatchHistory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.MatchHistory Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a6bd5a5f534bd1e0a077a490222f5d475">addMatch</a>(IPlayerRating otherPlayer, int result)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a1ea8f2002d88adb11fe2a95984e571e4">each</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a5913f0a9ef1a3fd26cf7b56faafcc144">GetEnumerator</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ab005e79c52b31cb0e62277cf80fede80">initialize</a>(IPlayerRating thisPlayer)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a0aa9df8833bee44fc333e1b996ce0cea">length</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a73b33de149c8e9e2922d727566ec2e1d">matches</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a23901430dfc828a4d81148da730bc2ec">MatchHistory</a>(IPlayerRating thisPlayer)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#aaa8924fcc5be87eeb4b9abb9c3571157">this[int i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a363bbe6ff7942e71a88b249dbe927967">thisPlayer</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ad56898796e670b4738960db181745854">updateAndClear</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">PokemonUnity.MatchHistory</a></td><td class="entry"></td></tr>
</table>
