@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">RuledTeam</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.RuledTeam Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#ad0457d2920cbd49738d002f0fb6680d7">_rating</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a7225e68c298285fb2a1179ae7ad4edfb">_totalGames</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a196dfbd27744f19eb17bf51348be99e5">addMatch</a>(IRuledTeam other, int score)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a157a72f95bcb88d3326ff93962a349a8">compare</a>(IRuledTeam other)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a1ba74db949865e5d8cc41e2f54334d21">games</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a08626669a74333426a9386a336c1aeb3">history</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#aa55e122729f0b566b863d8f24a474443">initialize</a>(IList&lt; IPokemon &gt; party, IPokemonChallengeRules rule)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a957f4bcb313d6c956ffdeea473509ccd">length</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a2d64bf9d158e148b17adf30e19dbb13a">load</a>(IList&lt; IPokemon &gt; party)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#adfbf01b5c4c970f6212c709e17810cdc">rating</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a403d1dd6d8a1d55485ec2b82303f922c">ratingData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a472d727c1d9bc1a0336611cfd4a7e86d">ratingRaw</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a790c59a5e88323ef0644281ebb968aea">RuledTeam</a>(IList&lt; IPokemon &gt; party, IPokemonChallengeRules rule)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a3f2488bb9e63080d64e5e4e65e445b29">team</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a792dfca7d9067812b5190aec719d6ba5">this[int i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a22b495810a4e51901001d2cda6d222cd">ToString</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#afabee315861e1ca69332a0781766ed7f">totalGames</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a622829d9d9ef378232018fd593ba4527">updateRating</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">PokemonUnity.RuledTeam</a></td><td class="entry"></td></tr>
</table>
