@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.EventArg.OnWildBattleEndEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">OnWildBattleEndEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnWildBattleEndEventArgs Class Reference</div></div>
}


<p>Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   
 <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnWildBattleEndEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.png" usemap="#PokemonUnity.EventArg.OnWildBattleEndEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnWildBattleEndEventArgs_map" name="PokemonUnity.EventArg.OnWildBattleEndEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml" title="Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win,..." alt="PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs" shape="rect" coords="400,56,790,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="400,0,790,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a674b83c7653c1d88f61f960e66c0f767"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a674b83c7653c1d88f61f960e66c0f767">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">OnWildBattleEndEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a674b83c7653c1d88f61f960e66c0f767"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adb1777fe82eced68e05f243d1d823753"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#adb1777fe82eced68e05f243d1d823753">Id</a><code> [get]</code></td></tr>
<tr class="separator:adb1777fe82eced68e05f243d1d823753"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2fdc5a745ca7ba09cfa257e6fcc3f4c1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a2fdc5a745ca7ba09cfa257e6fcc3f4c1">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:a2fdc5a745ca7ba09cfa257e6fcc3f4c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0a77b0711a66d801f43a88eeade5d1d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#aa0a77b0711a66d801f43a88eeade5d1d">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:aa0a77b0711a66d801f43a88eeade5d1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99c17741a815b51456f1591ed022c7af"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a99c17741a815b51456f1591ed022c7af">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a99c17741a815b51456f1591ed022c7af"><td class="mdescLeft">&#160;</td><td class="mdescRight">Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a99c17741a815b51456f1591ed022c7af">More...</a><br /></td></tr>
<tr class="separator:a99c17741a815b51456f1591ed022c7af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a></td></tr>
<tr class="memitem:a936b41377db2ed50237e0f822db8a908 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a936b41377db2ed50237e0f822db8a908">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:a936b41377db2ed50237e0f822db8a908 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bded4dc138b7c4144f9bf58087b3187 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a6bded4dc138b7c4144f9bf58087b3187">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:a6bded4dc138b7c4144f9bf58087b3187 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01877a27b9d52f59076078700869610f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a01877a27b9d52f59076078700869610f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">More...</a><br /></td></tr>
<tr class="separator:a01877a27b9d52f59076078700869610f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>
</div><h2 class="groupheader">Member Data Documentation</h2>
<a id="a674b83c7653c1d88f61f960e66c0f767" name="a674b83c7653c1d88f61f960e66c0f767"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a674b83c7653c1d88f61f960e66c0f767">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnWildBattleEndEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">OnWildBattleEndEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adb1777fe82eced68e05f243d1d823753" name="adb1777fe82eced68e05f243d1d823753"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb1777fe82eced68e05f243d1d823753">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnWildBattleEndEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="aa0a77b0711a66d801f43a88eeade5d1d" name="aa0a77b0711a66d801f43a88eeade5d1d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0a77b0711a66d801f43a88eeade5d1d">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnWildBattleEndEventArgs.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a6bded4dc138b7c4144f9bf58087b3187">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<a id="a99c17741a815b51456f1591ed022c7af" name="a99c17741a815b51456f1591ed022c7af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99c17741a815b51456f1591ed022c7af">&#9670;&#160;</a></span>Result</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonUnity.EventArg.OnWildBattleEndEventArgs.Result</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<a id="a2fdc5a745ca7ba09cfa257e6fcc3f4c1" name="a2fdc5a745ca7ba09cfa257e6fcc3f4c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2fdc5a745ca7ba09cfa257e6fcc3f4c1">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.EventArg.OnWildBattleEndEventArgs.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a936b41377db2ed50237e0f822db8a908">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>
