@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PC_Refactor</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.PC_Refactor Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#adeae7ec211d63cc9007267e997394e30">ActiveBox</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a7a9be26fb88a6aa59168b54422991b94">addPokemon</a>(int box, int position, Pokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a7a4339f061b65953dd878745a9a42114">addPokemon</a>(Pokemon acquiredPokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ab1b4afaf62467e6645fed71fc0332530">AllBoxes</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a68d814ab42a207d1b12294a633bbea0f">BoxNames</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a8348d6815f36dcd291872d1683472592">BoxTextures</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a5e4582312fc81886386f27ca6fabeb06">getBoxCount</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#aeeef17442fa264e6525d99a6ef46998c">getBoxCount</a>(int box)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ae16b2c5a93ad8d3a448b8bf3ab173cc9">getIndexOfFirstEmpty</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ae2d108ef0b8f496e7fa09d6dae90f056">hasSpace</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#af22c936717336085e49cdbf8991ca93f">Items</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a4ec3f452e3fe1c2942aa5d47c86b26be">Name</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a4c9957c047c81d187db9bc4e98162350">PC_Refactor</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#adfb34dc0e295a2ca19446fd7352ce6fd">PC_Refactor</a>(Pokemon[][] pkmns=null, KeyValuePair&lt; Items, int &gt;[] items=null, byte? box=null, string[] names=null, int[] textures=null)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a29cbfee154c7d458d7302032a3eb641b">Pokemons</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#acafaa4691b3f945d91f30c0ade70d6ea">removePokemon</a>(int boxID, int pkmnID)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#af8ae3bb02ecace61bc909ead4880e308">swapPokemon</a>(int box1, int pos1, int box2, int pos2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a0b05f282da81302cd58591f5b8e7924e">Texture</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ad1a6f1510c64e9ab76f9493a6d3a49c2">this[byte i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PokemonUnity.Character.PC_Refactor</a></td><td class="entry"></td></tr>
</table>