@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.UseInBattleEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">UseInBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_use_in_battle_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UseInBattleEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.UseInBattleEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_use_in_battle_event_args.png" usemap="#PokemonUnity.UseInBattleEventArgs_map" alt=""/>
  <map id="PokemonUnity.UseInBattleEventArgs_map" name="PokemonUnity.UseInBattleEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs" shape="rect" coords="368,56,726,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="368,0,726,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a7560c62cf6d2f800645afb1f6b410c8d"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a7560c62cf6d2f800645afb1f6b410c8d">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">UseInBattleEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a7560c62cf6d2f800645afb1f6b410c8d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a73a93d96caeeca8e65de1f73f5eb36d8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a73a93d96caeeca8e65de1f73f5eb36d8">Id</a><code> [get]</code></td></tr>
<tr class="separator:a73a93d96caeeca8e65de1f73f5eb36d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf91dfeced082a876cd46c5843eebff0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#adf91dfeced082a876cd46c5843eebff0">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:adf91dfeced082a876cd46c5843eebff0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefbb7a1d0c3e2419f373ac05072676bc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#aefbb7a1d0c3e2419f373ac05072676bc">Battler</a><code> [get, set]</code></td></tr>
<tr class="separator:aefbb7a1d0c3e2419f373ac05072676bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74dc1eeccb6f31b260b5709cfad99b82"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a74dc1eeccb6f31b260b5709cfad99b82">Battle</a><code> [get, set]</code></td></tr>
<tr class="separator:a74dc1eeccb6f31b260b5709cfad99b82"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs</a></td></tr>
<tr class="memitem:a26d7904eed8dfb3934d5953f8cd0aab4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a26d7904eed8dfb3934d5953f8cd0aab4">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a26d7904eed8dfb3934d5953f8cd0aab4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1df226093eb4310476daca2cbacb75ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a1df226093eb4310476daca2cbacb75ac">Battler</a><code> [get, set]</code></td></tr>
<tr class="separator:a1df226093eb4310476daca2cbacb75ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a7d90a4d894fc998f8bb1f8b2b8f18a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a0a7d90a4d894fc998f8bb1f8b2b8f18a">Battle</a><code> [get, set]</code></td></tr>
<tr class="separator:a0a7d90a4d894fc998f8bb1f8b2b8f18a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a7560c62cf6d2f800645afb1f6b410c8d" name="a7560c62cf6d2f800645afb1f6b410c8d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7560c62cf6d2f800645afb1f6b410c8d">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.UseInBattleEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">UseInBattleEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a74dc1eeccb6f31b260b5709cfad99b82" name="a74dc1eeccb6f31b260b5709cfad99b82"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74dc1eeccb6f31b260b5709cfad99b82">&#9670;&#160;</a></span>Battle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> PokemonUnity.UseInBattleEventArgs.Battle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a0a7d90a4d894fc998f8bb1f8b2b8f18a">PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs</a>.</p>

</div>
</div>
<a id="aefbb7a1d0c3e2419f373ac05072676bc" name="aefbb7a1d0c3e2419f373ac05072676bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefbb7a1d0c3e2419f373ac05072676bc">&#9670;&#160;</a></span>Battler</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> PokemonUnity.UseInBattleEventArgs.Battler</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a1df226093eb4310476daca2cbacb75ac">PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs</a>.</p>

</div>
</div>
<a id="a73a93d96caeeca8e65de1f73f5eb36d8" name="a73a93d96caeeca8e65de1f73f5eb36d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73a93d96caeeca8e65de1f73f5eb36d8">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.UseInBattleEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="adf91dfeced082a876cd46c5843eebff0" name="adf91dfeced082a876cd46c5843eebff0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf91dfeced082a876cd46c5843eebff0">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.UseInBattleEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml#a26d7904eed8dfb3934d5953f8cd0aab4">PokemonEssentials.Interface.EventArg.IUseInBattleEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_effects_8cs.cshtml">Item.Effects.cs</a></li>
</ul>

