@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">OnLeaveTileEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnLeaveTileEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#ad27a9a399c818a029033d463e4fd7ddd">Event</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#a0926ca405adf1acd41605a2d924c530c">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#a349449d2e2d75ffcc505dc9f21338cd8">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#afb6dfa8ff08c758dd7809dd8708a8287">MapId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#ac8585b0c0aaa4ba1f6d93009933249ba">X</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#a8c2b6d26c15566991834f46d023e1b25">Y</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml">PokemonUnity.EventArg.OnLeaveTileEventArgs</a></td><td class="entry"></td></tr>
</table>