@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">OnWildPokemonCreateEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml#aab49c9d64497e9de396e1b6ff579a74e">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml#a019ff26c103915f92d0a747b8277c480">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml#a4c664f3a6ff79b674907651e9db77af0">Pokemon</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a></td><td class="entry"></td></tr>
</table>