@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">UseInBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.UseInBattleEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a74dc1eeccb6f31b260b5709cfad99b82">Battle</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#aefbb7a1d0c3e2419f373ac05072676bc">Battler</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a7560c62cf6d2f800645afb1f6b410c8d">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a73a93d96caeeca8e65de1f73f5eb36d8">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#adf91dfeced082a876cd46c5843eebff0">Item</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml">PokemonUnity.UseInBattleEventArgs</a></td><td class="entry"></td></tr>
</table>
