@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">OnMapChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapChangeEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">PokemonUnity.EventArg.OnMapChangeEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a2e3ee9591078e204203011977719e1d9">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">PokemonUnity.EventArg.OnMapChangeEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#ae6e3a523b9bdc7f2bc32d222c765a120">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">PokemonUnity.EventArg.OnMapChangeEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a9c0338593697f44a6141af6fc8cb55ff">MapId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">PokemonUnity.EventArg.OnMapChangeEventArgs</a></td><td class="entry"></td></tr>
</table>