@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">OnStepTakenTransferPossibleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#a9b96a4371a3f1fca769179398341fe08">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#a0eea7ff13e105f1dedaad64f258e10b5">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#a20031602f15d8439f90bca35b3e09f69">Index</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a></td><td class="entry"></td></tr>
</table>