@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">OTradePacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.Outgoing.OTradePacket Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OTradePacket</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a241be30d3041554b28206e0bd7d61411">Command</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OTradePacket</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a3ca5eeb22de84817591d3a73c90a0366">Message</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OTradePacket</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#afd55c5e319bda5d84e5eb43697ad311e">OTradePacket</a>(TradeCommand Command, object Message)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OTradePacket</a></td><td class="entry"></td></tr>
</table>
