@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Overworld.Encounter Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_overworld_1_1_encounter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.Encounter Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4fc7a5bf51aef6d863ffab30945c91d7"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a4fc7a5bf51aef6d863ffab30945c91d7">Encounter</a> ()</td></tr>
<tr class="separator:a4fc7a5bf51aef6d863ffab30945c91d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71c52f2879dd14c1a8c456fc97d83db8"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a71c52f2879dd14c1a8c456fc97d83db8">Encounter</a> (int[] slots, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a>[] data)</td></tr>
<tr class="separator:a71c52f2879dd14c1a8c456fc97d83db8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63d31600e3463a1a039ce12d591b127b"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a63d31600e3463a1a039ce12d591b127b">Encounter</a> (<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> method, int density, params <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">EncounterSlotData</a>[] slots)</td></tr>
<tr class="separator:a63d31600e3463a1a039ce12d591b127b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a6abcc1dc23b2507f403c4cbadaedade3"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a6abcc1dc23b2507f403c4cbadaedade3">EncounterConditionsMet</a> (<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[] encounter)</td></tr>
<tr class="separator:a6abcc1dc23b2507f403c4cbadaedade3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9e15e90b219358444d820bdde08674bc"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a9e15e90b219358444d820bdde08674bc">Encounters</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a9e15e90b219358444d820bdde08674bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f991156b53eda556273d02c8ac997a0"><td class="memItemLeft" align="right" valign="top">virtual IDictionary&lt; int, IList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a7f991156b53eda556273d02c8ac997a0">Slot</a><code> [get, protected set]</code></td></tr>
<tr class="memdesc:a7f991156b53eda556273d02c8ac997a0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Key: SlotId | Value: Pokemon Array   <a href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a7f991156b53eda556273d02c8ac997a0">More...</a><br /></td></tr>
<tr class="separator:a7f991156b53eda556273d02c8ac997a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c4cd1a08ce46984f3475e9a6cb74333"><td class="memItemLeft" align="right" valign="top">virtual int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a6c4cd1a08ce46984f3475e9a6cb74333">Chances</a><code> [get, protected set]</code></td></tr>
<tr class="memdesc:a6c4cd1a08ce46984f3475e9a6cb74333"><td class="mdescLeft">&#160;</td><td class="mdescRight">This array of numbers total up to 100%, and represents a pool of pokemon that has chance to appear   <a href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#a6c4cd1a08ce46984f3475e9a6cb74333">More...</a><br /></td></tr>
<tr class="separator:a6c4cd1a08ce46984f3475e9a6cb74333"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afed4a6b2ca3a114d676261c49de6be23"><td class="memItemLeft" align="right" valign="top">virtual int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#afed4a6b2ca3a114d676261c49de6be23">Rate</a><code> [get, set]</code></td></tr>
<tr class="memdesc:afed4a6b2ca3a114d676261c49de6be23"><td class="mdescLeft">&#160;</td><td class="mdescRight">How often or likely to engage and encounter a pokemon   <a href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#afed4a6b2ca3a114d676261c49de6be23">More...</a><br /></td></tr>
<tr class="separator:afed4a6b2ca3a114d676261c49de6be23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af0c50977981d66b18630d303b15bf790"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml#af0c50977981d66b18630d303b15bf790">Method</a><code> [get, set]</code></td></tr>
<tr class="separator:af0c50977981d66b18630d303b15bf790"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a4fc7a5bf51aef6d863ffab30945c91d7" name="a4fc7a5bf51aef6d863ffab30945c91d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4fc7a5bf51aef6d863ffab30945c91d7">&#9670;&#160;</a></span>Encounter() <span class="overload">[1/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.Encounter.Encounter </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="a71c52f2879dd14c1a8c456fc97d83db8" name="a71c52f2879dd14c1a8c456fc97d83db8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71c52f2879dd14c1a8c456fc97d83db8">&#9670;&#160;</a></span>Encounter() <span class="overload">[2/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.Encounter.Encounter </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>slots</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a>[]&#160;</td>
          <td class="paramname"><em>data</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a63d31600e3463a1a039ce12d591b127b" name="a63d31600e3463a1a039ce12d591b127b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63d31600e3463a1a039ce12d591b127b">&#9670;&#160;</a></span>Encounter() <span class="overload">[3/3]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.Encounter.Encounter </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td>
          <td class="paramname"><em>method</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>density</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">params <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">EncounterSlotData</a>[]&#160;</td>
          <td class="paramname"><em>slots</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">method</td><td></td></tr>
    <tr><td class="paramname">density</td><td>Dense pack of pokemons will mean more encounters. Fewer steps, more encounters; or more steps, fewer enounters. </td></tr>
    <tr><td class="paramname">slots</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6abcc1dc23b2507f403c4cbadaedade3" name="a6abcc1dc23b2507f403c4cbadaedade3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6abcc1dc23b2507f403c4cbadaedade3">&#9670;&#160;</a></span>EncounterConditionsMet()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Overworld.Encounter.EncounterConditionsMet </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[]&#160;</td>
          <td class="paramname"><em>encounter</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6c4cd1a08ce46984f3475e9a6cb74333" name="a6c4cd1a08ce46984f3475e9a6cb74333"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c4cd1a08ce46984f3475e9a6cb74333">&#9670;&#160;</a></span>Chances</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual int [] PokemonUnity.Overworld.Encounter.Chances</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This array of numbers total up to 100%, and represents a pool of pokemon that has chance to appear  </p>

</div>
</div>
<a id="a9e15e90b219358444d820bdde08674bc" name="a9e15e90b219358444d820bdde08674bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e15e90b219358444d820bdde08674bc">&#9670;&#160;</a></span>Encounters</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a> [] PokemonUnity.Overworld.Encounter.Encounters</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af0c50977981d66b18630d303b15bf790" name="af0c50977981d66b18630d303b15bf790"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0c50977981d66b18630d303b15bf790">&#9670;&#160;</a></span>Method</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> PokemonUnity.Overworld.Encounter.Method</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afed4a6b2ca3a114d676261c49de6be23" name="afed4a6b2ca3a114d676261c49de6be23"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afed4a6b2ca3a114d676261c49de6be23">&#9670;&#160;</a></span>Rate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual int PokemonUnity.Overworld.Encounter.Rate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>How often or likely to engage and encounter a pokemon  </p>

</div>
</div>
<a id="a7f991156b53eda556273d02c8ac997a0" name="a7f991156b53eda556273d02c8ac997a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f991156b53eda556273d02c8ac997a0">&#9670;&#160;</a></span>Slot</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual IDictionary&lt;int, IList&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&gt; &gt; PokemonUnity.Overworld.Encounter.Slot</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Key: SlotId | Value: Pokemon Array  </p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Overworld/Wild/<a class="el" href="_encounter_8cs.cshtml">Encounter.cs</a></li>
</ul>

