@{
	Page.Title = "PokemonUnity.MatchHistory Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml">MatchHistory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-attribs">Protected Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_match_history-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.MatchHistory Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.MatchHistory:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_match_history.png" usemap="#PokemonUnity.MatchHistory_map" alt=""/>
  <map id="PokemonUnity.MatchHistory_map" name="PokemonUnity.MatchHistory_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml" alt="PokemonEssentials.Interface.Battle.IMatchHistory" shape="rect" coords="0,56,290,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1ea8f2002d88adb11fe2a95984e571e4"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a1ea8f2002d88adb11fe2a95984e571e4">each</a> ()</td></tr>
<tr class="separator:a1ea8f2002d88adb11fe2a95984e571e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23901430dfc828a4d81148da730bc2ec"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a23901430dfc828a4d81148da730bc2ec">MatchHistory</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a363bbe6ff7942e71a88b249dbe927967">thisPlayer</a>)</td></tr>
<tr class="separator:a23901430dfc828a4d81148da730bc2ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab005e79c52b31cb0e62277cf80fede80"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ab005e79c52b31cb0e62277cf80fede80">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a363bbe6ff7942e71a88b249dbe927967">thisPlayer</a>)</td></tr>
<tr class="separator:ab005e79c52b31cb0e62277cf80fede80"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bd5a5f534bd1e0a077a490222f5d475"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a6bd5a5f534bd1e0a077a490222f5d475">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> otherPlayer, int result)</td></tr>
<tr class="separator:a6bd5a5f534bd1e0a077a490222f5d475"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad56898796e670b4738960db181745854"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ad56898796e670b4738960db181745854">updateAndClear</a> ()</td></tr>
<tr class="separator:ad56898796e670b4738960db181745854"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5913f0a9ef1a3fd26cf7b56faafcc144"><td class="memItemLeft" align="right" valign="top">IEnumerator&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a5913f0a9ef1a3fd26cf7b56faafcc144">GetEnumerator</a> ()</td></tr>
<tr class="separator:a5913f0a9ef1a3fd26cf7b56faafcc144"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc388821ab981d7296280c3287c16b52"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#adc388821ab981d7296280c3287c16b52">each</a> ()</td></tr>
<tr class="separator:adc388821ab981d7296280c3287c16b52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82b924043121b907bae2848e9f547618"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a82b924043121b907bae2848e9f547618">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> thisPlayer)</td></tr>
<tr class="separator:a82b924043121b907bae2848e9f547618"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a563d9ad087b742ffc6edd09fad397b1d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a563d9ad087b742ffc6edd09fad397b1d">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> otherPlayer, int result)</td></tr>
<tr class="separator:a563d9ad087b742ffc6edd09fad397b1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7be567124598f2ab5575e146adda22d8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a7be567124598f2ab5575e146adda22d8">updateAndClear</a> ()</td></tr>
<tr class="separator:a7be567124598f2ab5575e146adda22d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-attribs" name="pro-attribs"></a>
Protected Attributes</h2></td></tr>
<tr class="memitem:a73b33de149c8e9e2922d727566ec2e1d"><td class="memItemLeft" align="right" valign="top">List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a73b33de149c8e9e2922d727566ec2e1d">matches</a></td></tr>
<tr class="separator:a73b33de149c8e9e2922d727566ec2e1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a363bbe6ff7942e71a88b249dbe927967"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a363bbe6ff7942e71a88b249dbe927967">thisPlayer</a></td></tr>
<tr class="separator:a363bbe6ff7942e71a88b249dbe927967"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0aa9df8833bee44fc333e1b996ce0cea"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a0aa9df8833bee44fc333e1b996ce0cea">length</a> <code>[get]</code></td></tr>
<tr class="separator:a0aa9df8833bee44fc333e1b996ce0cea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa8924fcc5be87eeb4b9abb9c3571157"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#aaa8924fcc5be87eeb4b9abb9c3571157">this[int i]</a> <code>[get]</code></td></tr>
<tr class="separator:aaa8924fcc5be87eeb4b9abb9c3571157"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">PokemonEssentials.Interface.Battle.IMatchHistory</a></td></tr>
<tr class="memitem:a5c217e8764c1a0b3de1b9c42ffaa986e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a5c217e8764c1a0b3de1b9c42ffaa986e">length</a> <code>[get]</code></td></tr>
<tr class="separator:a5c217e8764c1a0b3de1b9c42ffaa986e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa43a68db0f417e04f81d78cc35586ca4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#aa43a68db0f417e04f81d78cc35586ca4">this[int i]</a> <code>[get]</code></td></tr>
<tr class="separator:aa43a68db0f417e04f81d78cc35586ca4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a23901430dfc828a4d81148da730bc2ec" name="a23901430dfc828a4d81148da730bc2ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23901430dfc828a4d81148da730bc2ec">&#9670;&#160;</a></span>MatchHistory()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.MatchHistory.MatchHistory </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td>
          <td class="paramname"><em>thisPlayer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6bd5a5f534bd1e0a077a490222f5d475" name="a6bd5a5f534bd1e0a077a490222f5d475"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6bd5a5f534bd1e0a077a490222f5d475">&#9670;&#160;</a></span>addMatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.MatchHistory.addMatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td>
          <td class="paramname"><em>otherPlayer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>result</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a563d9ad087b742ffc6edd09fad397b1d">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<a id="a1ea8f2002d88adb11fe2a95984e571e4" name="a1ea8f2002d88adb11fe2a95984e571e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ea8f2002d88adb11fe2a95984e571e4">&#9670;&#160;</a></span>each()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerable&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt; PokemonUnity.MatchHistory.each </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#adc388821ab981d7296280c3287c16b52">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<a id="a5913f0a9ef1a3fd26cf7b56faafcc144" name="a5913f0a9ef1a3fd26cf7b56faafcc144"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5913f0a9ef1a3fd26cf7b56faafcc144">&#9670;&#160;</a></span>GetEnumerator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt; PokemonUnity.MatchHistory.GetEnumerator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab005e79c52b31cb0e62277cf80fede80" name="ab005e79c52b31cb0e62277cf80fede80"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab005e79c52b31cb0e62277cf80fede80">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a> PokemonUnity.MatchHistory.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td>
          <td class="paramname"><em>thisPlayer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a82b924043121b907bae2848e9f547618">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<a id="ad56898796e670b4738960db181745854" name="ad56898796e670b4738960db181745854"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad56898796e670b4738960db181745854">&#9670;&#160;</a></span>updateAndClear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.MatchHistory.updateAndClear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a7be567124598f2ab5575e146adda22d8">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a73b33de149c8e9e2922d727566ec2e1d" name="a73b33de149c8e9e2922d727566ec2e1d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73b33de149c8e9e2922d727566ec2e1d">&#9670;&#160;</a></span>matches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&gt; PokemonUnity.MatchHistory.matches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a363bbe6ff7942e71a88b249dbe927967" name="a363bbe6ff7942e71a88b249dbe927967"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a363bbe6ff7942e71a88b249dbe927967">&#9670;&#160;</a></span>thisPlayer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonUnity.MatchHistory.thisPlayer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0aa9df8833bee44fc333e1b996ce0cea" name="a0aa9df8833bee44fc333e1b996ce0cea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0aa9df8833bee44fc333e1b996ce0cea">&#9670;&#160;</a></span>length</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MatchHistory.length</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a5c217e8764c1a0b3de1b9c42ffaa986e">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<a id="aaa8924fcc5be87eeb4b9abb9c3571157" name="aaa8924fcc5be87eeb4b9abb9c3571157"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa8924fcc5be87eeb4b9abb9c3571157">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> PokemonUnity.MatchHistory.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#aa43a68db0f417e04f81d78cc35586ca4">PokemonEssentials.Interface.Battle.IMatchHistory</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_generator_8cs.cshtml">OrgBattleGenerator.cs</a></li>
</ul>

