@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_localization.cshtml">Localization</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">XmlStringRes</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Localization.XmlStringRes Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a0a94158138d2554abdde0b872a94f2df">GetStr</a>(string code)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a0a94158138d2554abdde0b872a94f2df">GetStr</a>(string code)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a527ae0558e43d82084cd742475c9018b">Initialize</a>(string fileName, int languageId=0)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a527ae0558e43d82084cd742475c9018b">Initialize</a>(string fileName, int languageId=0)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#ab51be426752b48dec7897423ed50111f">Release</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#ab51be426752b48dec7897423ed50111f">Release</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">XmlStringRes</a>(IDebugger logger, string element=&quot;STR&quot;, string attribute=&quot;id&quot;)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">XmlStringRes</a>(IDebugger logger, string element=&quot;STR&quot;, string attribute=&quot;id&quot;)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">PokemonUnity.Localization.XmlStringRes</a></td><td class="entry"></td></tr>
</table>
