@{
	Page.Title = "PokemonUnity.MinimumLevelRestriction Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml">MinimumLevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_minimum_level_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.MinimumLevelRestriction Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.MinimumLevelRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_minimum_level_restriction.png" usemap="#PokemonUnity.MinimumLevelRestriction_map" alt=""/>
  <map id="PokemonUnity.MinimumLevelRestriction_map" name="PokemonUnity.MinimumLevelRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="0,56,354,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IMinimumLevelRestriction" shape="rect" coords="364,56,718,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="364,0,718,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1311182cfeaf9c1b5ad5ec7e93c5b01e"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml#a1311182cfeaf9c1b5ad5ec7e93c5b01e">MinimumLevelRestriction</a> (int minLevel)</td></tr>
<tr class="separator:a1311182cfeaf9c1b5ad5ec7e93c5b01e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9b6d1aa4e69073062e3009aa18d4b02"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml#af9b6d1aa4e69073062e3009aa18d4b02">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:af9b6d1aa4e69073062e3009aa18d4b02"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1de07e174d9b4f6698d7574bebd4a781"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml#a1de07e174d9b4f6698d7574bebd4a781">level</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a1de07e174d9b4f6698d7574bebd4a781"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml">PokemonEssentials.Interface.Battle.IMinimumLevelRestriction</a></td></tr>
<tr class="memitem:ae34e9eb4f69b70e8af5a69e5bfda2d9e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml#ae34e9eb4f69b70e8af5a69e5bfda2d9e">level</a><code> [get]</code></td></tr>
<tr class="separator:ae34e9eb4f69b70e8af5a69e5bfda2d9e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a1311182cfeaf9c1b5ad5ec7e93c5b01e" name="a1311182cfeaf9c1b5ad5ec7e93c5b01e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1311182cfeaf9c1b5ad5ec7e93c5b01e">&#9670;&#160;</a></span>MinimumLevelRestriction()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.MinimumLevelRestriction.MinimumLevelRestriction </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minLevel</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af9b6d1aa4e69073062e3009aa18d4b02" name="af9b6d1aa4e69073062e3009aa18d4b02"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9b6d1aa4e69073062e3009aa18d4b02">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.MinimumLevelRestriction.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1de07e174d9b4f6698d7574bebd4a781" name="a1de07e174d9b4f6698d7574bebd4a781"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1de07e174d9b4f6698d7574bebd4a781">&#9670;&#160;</a></span>level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MinimumLevelRestriction.level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml#ae34e9eb4f69b70e8af5a69e5bfda2d9e">PokemonEssentials.Interface.Battle.IMinimumLevelRestriction</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>

