@{
	Page.Title = "PokemonUnity.Combat.Data.DamageState Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml">DamageState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Combat.Data.DamageState Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Combat.Data.DamageState:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.png" usemap="#PokemonUnity.Combat.Data.DamageState_map" alt=""/>
  <map id="PokemonUnity.Combat.Data.DamageState_map" name="PokemonUnity.Combat.Data.DamageState_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IDamageState" shape="rect" coords="0,0,317,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a569e39b2e7f81d2e8b4d465f4220836b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a569e39b2e7f81d2e8b4d465f4220836b">initialize</a> ()</td></tr>
<tr class="separator:a569e39b2e7f81d2e8b4d465f4220836b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab8fa6e54e9332a68418454e49fb6cc27"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#ab8fa6e54e9332a68418454e49fb6cc27">Reset</a> ()</td></tr>
<tr class="separator:ab8fa6e54e9332a68418454e49fb6cc27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b3d78d7ff68ea771c6f9c41b35bfde0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a4b3d78d7ff68ea771c6f9c41b35bfde0">Reset</a> ()</td></tr>
<tr class="separator:a4b3d78d7ff68ea771c6f9c41b35bfde0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e7729d5724e9d6c2a0bd2328e9cc8ac"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">IDamageState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a0e7729d5724e9d6c2a0bd2328e9cc8ac">initialize</a> ()</td></tr>
<tr class="separator:a0e7729d5724e9d6c2a0bd2328e9cc8ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a95c79ba0000674a92106317be3e47b61"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a95c79ba0000674a92106317be3e47b61">HPLost</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a95c79ba0000674a92106317be3e47b61"><td class="mdescLeft">&#160;</td><td class="mdescRight">HP lost by opponent, inc. HP lost by a substitute   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a95c79ba0000674a92106317be3e47b61">More...</a><br /></td></tr>
<tr class="separator:a95c79ba0000674a92106317be3e47b61"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a91f2ead42dc4a3919a4a1e3f404fe0a0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a91f2ead42dc4a3919a4a1e3f404fe0a0">Critical</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a91f2ead42dc4a3919a4a1e3f404fe0a0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Critical hit flag   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a91f2ead42dc4a3919a4a1e3f404fe0a0">More...</a><br /></td></tr>
<tr class="separator:a91f2ead42dc4a3919a4a1e3f404fe0a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc96d577a9e6eb67efd89768453560a7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#acc96d577a9e6eb67efd89768453560a7">CalcDamage</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:acc96d577a9e6eb67efd89768453560a7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Calculated damage   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#acc96d577a9e6eb67efd89768453560a7">More...</a><br /></td></tr>
<tr class="separator:acc96d577a9e6eb67efd89768453560a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a66a99d0d340a168afe2914be3727e494"><td class="memItemLeft" align="right" valign="top">double&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a66a99d0d340a168afe2914be3727e494">TypeMod</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a66a99d0d340a168afe2914be3727e494"><td class="mdescLeft">&#160;</td><td class="mdescRight">Type effectiveness   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a66a99d0d340a168afe2914be3727e494">More...</a><br /></td></tr>
<tr class="separator:a66a99d0d340a168afe2914be3727e494"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c9e82d762debfb8f2f9efb001566e02"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a5c9e82d762debfb8f2f9efb001566e02">Substitute</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a5c9e82d762debfb8f2f9efb001566e02"><td class="mdescLeft">&#160;</td><td class="mdescRight">A substitute took the damage   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a5c9e82d762debfb8f2f9efb001566e02">More...</a><br /></td></tr>
<tr class="separator:a5c9e82d762debfb8f2f9efb001566e02"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86a485115441c708c4f00fddcf04beb1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a86a485115441c708c4f00fddcf04beb1">FocusBand</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a86a485115441c708c4f00fddcf04beb1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Focus Band used   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a86a485115441c708c4f00fddcf04beb1">More...</a><br /></td></tr>
<tr class="separator:a86a485115441c708c4f00fddcf04beb1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c1b5a0aeebfd0d50359b0e1665e535a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a5c1b5a0aeebfd0d50359b0e1665e535a">FocusSash</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a5c1b5a0aeebfd0d50359b0e1665e535a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Focus Sash used   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a5c1b5a0aeebfd0d50359b0e1665e535a">More...</a><br /></td></tr>
<tr class="separator:a5c1b5a0aeebfd0d50359b0e1665e535a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a726456f9e5ab73e16fbd18013af1f088"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a726456f9e5ab73e16fbd18013af1f088">Sturdy</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a726456f9e5ab73e16fbd18013af1f088"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sturdy ability used   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a726456f9e5ab73e16fbd18013af1f088">More...</a><br /></td></tr>
<tr class="separator:a726456f9e5ab73e16fbd18013af1f088"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a195c9b8019dadaadc09652852facb719"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a195c9b8019dadaadc09652852facb719">Endured</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a195c9b8019dadaadc09652852facb719"><td class="mdescLeft">&#160;</td><td class="mdescRight">Damage was endured   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a195c9b8019dadaadc09652852facb719">More...</a><br /></td></tr>
<tr class="separator:a195c9b8019dadaadc09652852facb719"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69439e4f696c78926c63fb9872a0a599"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a69439e4f696c78926c63fb9872a0a599">BerryWeakened</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a69439e4f696c78926c63fb9872a0a599"><td class="mdescLeft">&#160;</td><td class="mdescRight">A type-resisting berry was used   <a href="class_pokemon_unity_1_1_combat_1_1_data_1_1_damage_state.cshtml#a69439e4f696c78926c63fb9872a0a599">More...</a><br /></td></tr>
<tr class="separator:a69439e4f696c78926c63fb9872a0a599"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td></tr>
<tr class="memitem:a223f4c34a5dffdb8bf5c5495ec26ad8f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a223f4c34a5dffdb8bf5c5495ec26ad8f">HPLost</a> <code>[get, set]</code></td></tr>
<tr class="separator:a223f4c34a5dffdb8bf5c5495ec26ad8f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e196f8e41c360f01c933c1e50cef720 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a3e196f8e41c360f01c933c1e50cef720">Critical</a> <code>[get, set]</code></td></tr>
<tr class="separator:a3e196f8e41c360f01c933c1e50cef720 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76ae2004878e378a852ebf653e0651c8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a76ae2004878e378a852ebf653e0651c8">CalcDamage</a> <code>[get, set]</code></td></tr>
<tr class="separator:a76ae2004878e378a852ebf653e0651c8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a120d0e5ed1b272275059b4608dc2f8b2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">double&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a120d0e5ed1b272275059b4608dc2f8b2">TypeMod</a> <code>[get, set]</code></td></tr>
<tr class="separator:a120d0e5ed1b272275059b4608dc2f8b2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a620926d9dd3ff6db6c88a8a1f9abc357 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a620926d9dd3ff6db6c88a8a1f9abc357">Substitute</a> <code>[get, set]</code></td></tr>
<tr class="separator:a620926d9dd3ff6db6c88a8a1f9abc357 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8c982369e7c0a99e98f35adc0c431dc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac8c982369e7c0a99e98f35adc0c431dc">FocusBand</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac8c982369e7c0a99e98f35adc0c431dc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5902ceff19c35a48a081d7b3f69f143 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac5902ceff19c35a48a081d7b3f69f143">FocusSash</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac5902ceff19c35a48a081d7b3f69f143 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ba58ff14673392cf8a08c935ab0e5c3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a1ba58ff14673392cf8a08c935ab0e5c3">Sturdy</a> <code>[get, set]</code></td></tr>
<tr class="separator:a1ba58ff14673392cf8a08c935ab0e5c3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a978e8063f587e6e6d4b3e44b01946586 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a978e8063f587e6e6d4b3e44b01946586">Endured</a> <code>[get, set]</code></td></tr>
<tr class="separator:a978e8063f587e6e6d4b3e44b01946586 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71f1c9c3b325c16272cb5b9cb7981090 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a71f1c9c3b325c16272cb5b9cb7981090">BerryWeakened</a> <code>[get, set]</code></td></tr>
<tr class="separator:a71f1c9c3b325c16272cb5b9cb7981090 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a569e39b2e7f81d2e8b4d465f4220836b" name="a569e39b2e7f81d2e8b4d465f4220836b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a569e39b2e7f81d2e8b4d465f4220836b">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a> PokemonUnity.Combat.Data.DamageState.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a0e7729d5724e9d6c2a0bd2328e9cc8ac">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="ab8fa6e54e9332a68418454e49fb6cc27" name="ab8fa6e54e9332a68418454e49fb6cc27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab8fa6e54e9332a68418454e49fb6cc27">&#9670;&#160;</a></span>Reset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Combat.Data.DamageState.Reset </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a4b3d78d7ff68ea771c6f9c41b35bfde0">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a69439e4f696c78926c63fb9872a0a599" name="a69439e4f696c78926c63fb9872a0a599"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69439e4f696c78926c63fb9872a0a599">&#9670;&#160;</a></span>BerryWeakened</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.BerryWeakened</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>A type-resisting berry was used  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a71f1c9c3b325c16272cb5b9cb7981090">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="acc96d577a9e6eb67efd89768453560a7" name="acc96d577a9e6eb67efd89768453560a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc96d577a9e6eb67efd89768453560a7">&#9670;&#160;</a></span>CalcDamage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Combat.Data.DamageState.CalcDamage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Calculated damage  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a76ae2004878e378a852ebf653e0651c8">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a91f2ead42dc4a3919a4a1e3f404fe0a0" name="a91f2ead42dc4a3919a4a1e3f404fe0a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a91f2ead42dc4a3919a4a1e3f404fe0a0">&#9670;&#160;</a></span>Critical</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.Critical</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Critical hit flag  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a3e196f8e41c360f01c933c1e50cef720">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a195c9b8019dadaadc09652852facb719" name="a195c9b8019dadaadc09652852facb719"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a195c9b8019dadaadc09652852facb719">&#9670;&#160;</a></span>Endured</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.Endured</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Damage was endured  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a978e8063f587e6e6d4b3e44b01946586">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a86a485115441c708c4f00fddcf04beb1" name="a86a485115441c708c4f00fddcf04beb1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86a485115441c708c4f00fddcf04beb1">&#9670;&#160;</a></span>FocusBand</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.FocusBand</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Focus Band used  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac8c982369e7c0a99e98f35adc0c431dc">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a5c1b5a0aeebfd0d50359b0e1665e535a" name="a5c1b5a0aeebfd0d50359b0e1665e535a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c1b5a0aeebfd0d50359b0e1665e535a">&#9670;&#160;</a></span>FocusSash</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.FocusSash</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Focus Sash used  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac5902ceff19c35a48a081d7b3f69f143">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a95c79ba0000674a92106317be3e47b61" name="a95c79ba0000674a92106317be3e47b61"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95c79ba0000674a92106317be3e47b61">&#9670;&#160;</a></span>HPLost</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Combat.Data.DamageState.HPLost</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>HP lost by opponent, inc. HP lost by a substitute  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a223f4c34a5dffdb8bf5c5495ec26ad8f">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a726456f9e5ab73e16fbd18013af1f088" name="a726456f9e5ab73e16fbd18013af1f088"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a726456f9e5ab73e16fbd18013af1f088">&#9670;&#160;</a></span>Sturdy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.Sturdy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Sturdy ability used  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a1ba58ff14673392cf8a08c935ab0e5c3">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a5c9e82d762debfb8f2f9efb001566e02" name="a5c9e82d762debfb8f2f9efb001566e02"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c9e82d762debfb8f2f9efb001566e02">&#9670;&#160;</a></span>Substitute</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Data.DamageState.Substitute</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>A substitute took the damage  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a620926d9dd3ff6db6c88a8a1f9abc357">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<a id="a66a99d0d340a168afe2914be3727e494" name="a66a99d0d340a168afe2914be3727e494"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a66a99d0d340a168afe2914be3727e494">&#9670;&#160;</a></span>TypeMod</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">double PokemonUnity.Combat.Data.DamageState.TypeMod</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Type effectiveness  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a120d0e5ed1b272275059b4608dc2f8b2">PokemonEssentials.Interface.PokeBattle.IDamageState</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Combat/Data/<a class="el" href="_damage_state_8cs.cshtml">DamageState.cs</a></li>
</ul>
