@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml">GameText</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.GameText Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_game_text.cshtml">PokemonUnity.GameText</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml#a01245ffd004bbae3001a309756e8d530">_initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml">PokemonUnity.GameText</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml#ad45ea5db6ef21c5a793f793c3af93a41">CreateXmlLocalizationDictionary</a>(string fileName)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml">PokemonUnity.XmlFileLocalizationDictionaryProvider</a></td><td class="entry"><span class="mlabel">protected</span><span class="mlabel">virtual</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a3d714c1afa3192415d043d5bb63e9ac5">DefaultDictionary</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#ab1334d608ccd424bd0088226303e3fab">DefaultNodeDictionary</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a5a0bed558035865845c872247f751c87">Dictionaries</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#ac8f62d8e107a7e0c0191c3c38b936f6f">Extend</a>(Translator.Language.XmlLocalizationDictionary dictionary)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml#acc96bfa354a133b5d899eddd80981548">GameText</a>(string filename=null)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml">PokemonUnity.GameText</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml#aa3616b830a405e5b6b2fca2492737fb3">Initialize</a>(string sourceName)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml">PokemonUnity.XmlFileLocalizationDictionaryProvider</a></td><td class="entry"><span class="mlabel">virtual</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml#a218a9c81f879d83da29983d8668d7f48">Instance</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_text.cshtml">PokemonUnity.GameText</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a3b64219db8d5ffa50035c0c969ac21ac">LocalizationDictionaryProviderBase</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a0840dadfe60fc8072bf40ae2c7424513">NodeDictionaries</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a77cdb64e527fabf76a6ec9fdfe4ade53">SourceName</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">PokemonUnity.LocalizationDictionaryProviderBase</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml#a36642f9f86fd5eddecb32233c2617233">XmlFileLocalizationDictionaryProvider</a>(string directoryPath)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml">PokemonUnity.XmlFileLocalizationDictionaryProvider</a></td><td class="entry"></td></tr>
</table>