@{
	Page.Title = "PokemonUnity.UseOnPokemonEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml">UseOnPokemonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_use_on_pokemon_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UseOnPokemonEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.UseOnPokemonEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_use_on_pokemon_event_args.png" usemap="#PokemonUnity.UseOnPokemonEventArgs_map" alt=""/>
  <map id="PokemonUnity.UseOnPokemonEventArgs_map" name="PokemonUnity.UseOnPokemonEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs" shape="rect" coords="395,56,780,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="395,0,780,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:ac8400586d778aa47115953416406e56e"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#ac8400586d778aa47115953416406e56e">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml">UseOnPokemonEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:ac8400586d778aa47115953416406e56e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2db8a1f2eb0b959b379d47f4a7219b9b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a2db8a1f2eb0b959b379d47f4a7219b9b">Id</a><code> [get]</code></td></tr>
<tr class="separator:a2db8a1f2eb0b959b379d47f4a7219b9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32b4af4501a5a3a5283acf4c0956fd5f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a32b4af4501a5a3a5283acf4c0956fd5f">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a32b4af4501a5a3a5283acf4c0956fd5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5ad11ce8298c724649f560a81d083e4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#ac5ad11ce8298c724649f560a81d083e4">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:ac5ad11ce8298c724649f560a81d083e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75c06ed447aaf1c2d7473b7f6bc0fce5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a75c06ed447aaf1c2d7473b7f6bc0fce5">Scene</a><code> [get, set]</code></td></tr>
<tr class="separator:a75c06ed447aaf1c2d7473b7f6bc0fce5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46b54529e8cc06801bef421a8464717c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a46b54529e8cc06801bef421a8464717c">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a46b54529e8cc06801bef421a8464717c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a></td></tr>
<tr class="memitem:a5205d287ea14b2c780e1a7944cbb48da inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a5205d287ea14b2c780e1a7944cbb48da">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a5205d287ea14b2c780e1a7944cbb48da inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d9a71ced97cf2cae836d6bc54035112 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a3d9a71ced97cf2cae836d6bc54035112">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:a3d9a71ced97cf2cae836d6bc54035112 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac502104760ecfc31f6ae933a287fb37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#ac502104760ecfc31f6ae933a287fb37f">Scene</a><code> [get, set]</code></td></tr>
<tr class="separator:ac502104760ecfc31f6ae933a287fb37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36fecc5dad5c91e6bf77c0dd74c2e096 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a36fecc5dad5c91e6bf77c0dd74c2e096">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a36fecc5dad5c91e6bf77c0dd74c2e096 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="ac8400586d778aa47115953416406e56e" name="ac8400586d778aa47115953416406e56e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8400586d778aa47115953416406e56e">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.UseOnPokemonEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml">UseOnPokemonEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a2db8a1f2eb0b959b379d47f4a7219b9b" name="a2db8a1f2eb0b959b379d47f4a7219b9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2db8a1f2eb0b959b379d47f4a7219b9b">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.UseOnPokemonEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a32b4af4501a5a3a5283acf4c0956fd5f" name="a32b4af4501a5a3a5283acf4c0956fd5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32b4af4501a5a3a5283acf4c0956fd5f">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.UseOnPokemonEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a5205d287ea14b2c780e1a7944cbb48da">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="ac5ad11ce8298c724649f560a81d083e4" name="ac5ad11ce8298c724649f560a81d083e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5ad11ce8298c724649f560a81d083e4">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonUnity.UseOnPokemonEventArgs.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a3d9a71ced97cf2cae836d6bc54035112">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a46b54529e8cc06801bef421a8464717c" name="a46b54529e8cc06801bef421a8464717c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46b54529e8cc06801bef421a8464717c">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.UseOnPokemonEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a36fecc5dad5c91e6bf77c0dd74c2e096">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a75c06ed447aaf1c2d7473b7f6bc0fce5" name="a75c06ed447aaf1c2d7473b7f6bc0fce5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75c06ed447aaf1c2d7473b7f6bc0fce5">&#9670;&#160;</a></span>Scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> PokemonUnity.UseOnPokemonEventArgs.Scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#ac502104760ecfc31f6ae933a287fb37f">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_effects_8cs.cshtml">Item.Effects.cs</a></li>
</ul>
