@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">OnTrainerPartyLoadEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a3ae7b77b109e2af135433230fd9ca6a3">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a9827ff52cc8163420452b7f6542c6494">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a85f8162aa3c4f6114f1a943fd9276b58">Items</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#ac311d64daa46d5fe36c87640ae46cc49">Party</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a6d90aee9f5f9668bbd551b461e70a13a">Trainer</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a></td><td class="entry"></td></tr>
</table>
