@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.EventArg.OnWildBattleOverrideEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">OnWildBattleOverrideEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs Class Reference</div></div>
}


<p>Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   
 <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnWildBattleOverrideEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.png" usemap="#PokemonUnity.EventArg.OnWildBattleOverrideEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnWildBattleOverrideEventArgs_map" name="PokemonUnity.EventArg.OnWildBattleOverrideEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml" title="Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - Battle result (1-win,..." alt="PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs" shape="rect" coords="429,56,848,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="429,0,848,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a5dd1bcc85255af40745af24079e1d0ab"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a5dd1bcc85255af40745af24079e1d0ab">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">OnWildBattleOverrideEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a5dd1bcc85255af40745af24079e1d0ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a31b0391fe017def34f3bf52c17cc0342"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a31b0391fe017def34f3bf52c17cc0342">Id</a><code> [get]</code></td></tr>
<tr class="separator:a31b0391fe017def34f3bf52c17cc0342"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c454388eeb086332834e6527d70d53b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a7c454388eeb086332834e6527d70d53b">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:a7c454388eeb086332834e6527d70d53b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae50244e10de23eaad5e9696bfc8b52a1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#ae50244e10de23eaad5e9696bfc8b52a1">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:ae50244e10de23eaad5e9696bfc8b52a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af75db55c9ec2dbf29b81e28e7848be69"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#af75db55c9ec2dbf29b81e28e7848be69">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af75db55c9ec2dbf29b81e28e7848be69"><td class="mdescLeft">&#160;</td><td class="mdescRight">Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#af75db55c9ec2dbf29b81e28e7848be69">More...</a><br /></td></tr>
<tr class="separator:af75db55c9ec2dbf29b81e28e7848be69"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs</a></td></tr>
<tr class="memitem:afc873026e5c18e8121ef687fd58a06cd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#afc873026e5c18e8121ef687fd58a06cd">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:afc873026e5c18e8121ef687fd58a06cd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4558161de21ccf2b2e2f83ee8920505a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a4558161de21ccf2b2e2f83ee8920505a">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:a4558161de21ccf2b2e2f83ee8920505a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a4f7459ce4d7faec78aa607f4b88055 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a7a4f7459ce4d7faec78aa607f4b88055">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7a4f7459ce4d7faec78aa607f4b88055 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a7a4f7459ce4d7faec78aa607f4b88055">More...</a><br /></td></tr>
<tr class="separator:a7a4f7459ce4d7faec78aa607f4b88055 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>
</div><h2 class="groupheader">Member Data Documentation</h2>
<a id="a5dd1bcc85255af40745af24079e1d0ab" name="a5dd1bcc85255af40745af24079e1d0ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5dd1bcc85255af40745af24079e1d0ab">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnWildBattleOverrideEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml">OnWildBattleOverrideEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a31b0391fe017def34f3bf52c17cc0342" name="a31b0391fe017def34f3bf52c17cc0342"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31b0391fe017def34f3bf52c17cc0342">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnWildBattleOverrideEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="ae50244e10de23eaad5e9696bfc8b52a1" name="ae50244e10de23eaad5e9696bfc8b52a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae50244e10de23eaad5e9696bfc8b52a1">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnWildBattleOverrideEventArgs.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a4558161de21ccf2b2e2f83ee8920505a">PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<a id="af75db55c9ec2dbf29b81e28e7848be69" name="af75db55c9ec2dbf29b81e28e7848be69"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af75db55c9ec2dbf29b81e28e7848be69">&#9670;&#160;</a></span>Result</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonUnity.EventArg.OnWildBattleOverrideEventArgs.Result</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a7a4f7459ce4d7faec78aa607f4b88055">PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<a id="a7c454388eeb086332834e6527d70d53b" name="a7c454388eeb086332834e6527d70d53b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c454388eeb086332834e6527d70d53b">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.EventArg.OnWildBattleOverrideEventArgs.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#afc873026e5c18e8121ef687fd58a06cd">PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>
