@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.PC Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a6521d9fa44f58b14d52a93dcd7896a48">ActiveBox</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a01578e0a58f1ea0980c5eaa440c7cbdb">addPokemon</a>(int box, int position, IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ab75e61770ba6525c80e9a7c0fd770f80">addPokemon</a>(IPokemon acquiredPokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a92f174c73154ee3996906fd6f480a384">AllBoxes</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ad1709a2c3c7c76deab3bf220f438560d">BoxNames</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a963ab774e832c4097ab893866dd334e3">BoxTextures</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#aa61c95be4b8bd00df3d59850298c58bb">getBoxCount</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a25e42ef84dab0ed6afc9601d4f35e8bb">getBoxCount</a>(int box)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#abc6f1bb09509d0b940f7d4451de2938a">getIndexOfFirstEmpty</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ae42016fe8ef1c8ed5828565094e6d018">hasSpace</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a9b4c564df03b2035cf647d848df8cf28">Items</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a3c413a4ca547ff2f563dea715c833d7f">Name</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a068c3656da858044886be14db5623a9d">PC</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a3e726fd5789f2e870f2baefea1edf75b">PC</a>(IPokemon[][] pkmns=null, KeyValuePair&lt; Items, int &gt;[] items=null, byte? box=null, string[] names=null, int[] textures=null)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a37e86cf54561363d06fa01f3e5d8f9e5">Pokemons</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#af479b65802ebf284593e896c74eab2fa">removePokemon</a>(int boxID, int pkmnID)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a6de7f5a032d43ec195e5c10234d191c1">swapPokemon</a>(int box1, int pos1, int box2, int pos2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a713c700d28e145437997bee1c828b713">Texture</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a226a5f5cd23a479498cd5bfb419ebc52">this[byte i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PokemonUnity.Character.PC</a></td><td class="entry"></td></tr>
</table>
