@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">Translator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Translator Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_translator.cshtml">PokemonUnity.Translator</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a> enum name</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">PokemonUnity.Translator</a></td><td class="entry"></td></tr>
</table>