@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">BattleUseOnBattlerEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleUseOnBattlerEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a7bd3802f28b39a64117d08e6f4f6e192">Battler</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a15e2f2e967af41146d5ec6e34826f339">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a590c0e57989414bc6b9855fe432e6538">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a864bc2ce7746858f9b8339d7250b6b00">Item</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a97203cd53865d732c5dace05b3605578">Response</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a92eadfb50cf988bf69d8c9679528389d">Scene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">PokemonUnity.BattleUseOnBattlerEventArgs</a></td><td class="entry"></td></tr>
</table>
