@{
	Page.Title = "PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">OAuthenticatePacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.png" usemap="#PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket_map" alt=""/>
  <map id="PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket_map" name="PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket_map">
<area href="interface_pokemon_unity_1_1_networking_1_1_packets_1_1_i_out_packet.cshtml" alt="PokemonUnity.Networking.Packets.IOutPacket" shape="rect" coords="0,0,383,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a840ab28ce281922803c2b3daa382c2da"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml#a840ab28ce281922803c2b3daa382c2da">OAuthenticatePacket</a> (<a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a> saveData)</td></tr>
<tr class="separator:a840ab28ce281922803c2b3daa382c2da"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac131f985089f55e75c448947f811c91a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml#ac131f985089f55e75c448947f811c91a">SaveData</a><code> [get]</code></td></tr>
<tr class="separator:ac131f985089f55e75c448947f811c91a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a840ab28ce281922803c2b3daa382c2da" name="a840ab28ce281922803c2b3daa382c2da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a840ab28ce281922803c2b3daa382c2da">&#9670;&#160;</a></span>OAuthenticatePacket()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket.OAuthenticatePacket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a>&#160;</td>
          <td class="paramname"><em>saveData</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac131f985089f55e75c448947f811c91a" name="ac131f985089f55e75c448947f811c91a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac131f985089f55e75c448947f811c91a">&#9670;&#160;</a></span>SaveData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a> PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket.SaveData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Networking/Packets/Outgoing/<a class="el" href="_o_authenticate_packet_8cs.cshtml">OAuthenticatePacket.cs</a></li>
</ul>
