@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">Mail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.Mail Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a72d5d2e7a1788ba2a1209e764ca05f2f">Background</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a9825ae3eb01ca52ea3cd8feeaae76c16">Display</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#acbedc3570431a7fc253558825fd06006">Mail</a>(Items letter)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a8161c4ff8d2f2b648ed78aac9d60a9c0">Mail</a>(Items item, string message, TrainerData sender)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a7d72524783e81feece2bfd8c51a00ddb">Message</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a6d7b658f7e20ac855c0fac682a77f698">Sender</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">PokemonUnity.Inventory.Mail</a></td><td class="entry"></td></tr>
</table>