@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Combat.PokeBattle_BattlePlayerModule&lt; T &gt; Class Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokeBattle_BattlePlayerModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Combat.PokeBattle_BattlePlayerModule&lt; T &gt; Class Template Reference</div></div>
}


<p>Playback?   
 <a href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Combat.PokeBattle_BattlePlayerModule&lt; T &gt;:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.png" usemap="#PokemonUnity.Combat.PokeBattle_5FBattlePlayerModule_3C_20T_20_3E_map" alt=""/>
  <map id="PokemonUnity.Combat.PokeBattle_5FBattlePlayerModule_3C_20T_20_3E_map" name="PokemonUnity.Combat.PokeBattle_5FBattlePlayerModule_3C_20T_20_3E_map">
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml" alt="PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; T &gt;" shape="rect" coords="0,0,384,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; T &gt;" shape="rect" coords="394,0,778,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a34a14648f2fb2a442946260382ad9e9d"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#a34a14648f2fb2a442946260382ad9e9d">PokeBattle_BattlePlayerModule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a34a14648f2fb2a442946260382ad9e9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac621d10e6c63b9a9eb455e5155172e29"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a>&lt; T &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#ac621d10e6c63b9a9eb455e5155172e29">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">IRecordedBattleModule</a>&lt; T &gt; battle)</td></tr>
<tr class="separator:ac621d10e6c63b9a9eb455e5155172e29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace48681e769b7d3244b7a8d0b2adcfde"><td class="memItemLeft" align="right" valign="top">override <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#ace48681e769b7d3244b7a8d0b2adcfde">StartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:ace48681e769b7d3244b7a8d0b2adcfde"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad8118c5bd2ced733b986eeb7a9d2303"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#aad8118c5bd2ced733b986eeb7a9d2303">SwitchInBetween</a> (int i1, int i2, bool i3)</td></tr>
<tr class="separator:aad8118c5bd2ced733b986eeb7a9d2303"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add00d250b9beeafdab3f505e21c6ae03"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#add00d250b9beeafdab3f505e21c6ae03">Random</a> (int num)</td></tr>
<tr class="separator:add00d250b9beeafdab3f505e21c6ae03"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79a699654e718cdaa6e99d5c12f5b030"><td class="memItemLeft" align="right" valign="top">override void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#a79a699654e718cdaa6e99d5c12f5b030">DisplayPaused</a> (string str)</td></tr>
<tr class="separator:a79a699654e718cdaa6e99d5c12f5b030"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0caa10ff86ae9375a67499809a52a661"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#a0caa10ff86ae9375a67499809a52a661">CommandPhaseCore</a> ()</td></tr>
<tr class="separator:a0caa10ff86ae9375a67499809a52a661"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; T &gt;</a></td></tr>
<tr class="memitem:aec4f2698834e25571de814ba5b24288e inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#aec4f2698834e25571de814ba5b24288e">PokeBattle_RecordedBattleModule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] p1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] p2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>[] player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>[] opponent)</td></tr>
<tr class="separator:aec4f2698834e25571de814ba5b24288e inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af00701c3b4c8aed7dda77cfd6871175d inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#af00701c3b4c8aed7dda77cfd6871175d">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] p1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] p2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>[] player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>[] opponent)</td></tr>
<tr class="separator:af00701c3b4c8aed7dda77cfd6871175d inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e5f916123c3a73108815cb63dcc18e8 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">virtual int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a8e5f916123c3a73108815cb63dcc18e8">GetBattleType</a> ()</td></tr>
<tr class="separator:a8e5f916123c3a73108815cb63dcc18e8 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e838049a9969eb22ae99554679917c9 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a9e838049a9969eb22ae99554679917c9">GetTrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer)</td></tr>
<tr class="separator:a9e838049a9969eb22ae99554679917c9 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abdfeff02ac00f29937d5dc609eb71384 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#abdfeff02ac00f29937d5dc609eb71384">StartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:abdfeff02ac00f29937d5dc609eb71384 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6e7eafec42dd7b0f5b09b169d461337 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#aa6e7eafec42dd7b0f5b09b169d461337">DumpRecord</a> ()</td></tr>
<tr class="separator:aa6e7eafec42dd7b0f5b09b169d461337 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9274542da731c9eea8ed94e1cbdfc910 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a9274542da731c9eea8ed94e1cbdfc910">SwitchInBetween</a> (int i1, bool i2, bool i3)</td></tr>
<tr class="separator:a9274542da731c9eea8ed94e1cbdfc910 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e88d85cd3061083593dbddd719a376d inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a0e88d85cd3061083593dbddd719a376d">RegisterMove</a> (int i1, int i2, bool showMessages=true)</td></tr>
<tr class="separator:a0e88d85cd3061083593dbddd719a376d inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab51da33c4599cdde42d24366b74b31ab inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#ab51da33c4599cdde42d24366b74b31ab">Run</a> (int i1, bool duringBattle=false)</td></tr>
<tr class="separator:ab51da33c4599cdde42d24366b74b31ab inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58ab8a5630082bbd6d6321ec505dcb41 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a58ab8a5630082bbd6d6321ec505dcb41">RegisterTarget</a> (int i1, int i2)</td></tr>
<tr class="separator:a58ab8a5630082bbd6d6321ec505dcb41 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30e2d972ccdfb9ac13eb4e19b35e8295 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a30e2d972ccdfb9ac13eb4e19b35e8295">AutoChooseMove</a> (int i1, bool showMessages=true)</td></tr>
<tr class="separator:a30e2d972ccdfb9ac13eb4e19b35e8295 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f7b1201a85eb77b235c642115b73af2 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a3f7b1201a85eb77b235c642115b73af2">RegisterSwitch</a> (int i1, int i2)</td></tr>
<tr class="separator:a3f7b1201a85eb77b235c642115b73af2 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8644c01f3ead98d4b8e7d6686a83cdbe inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a8644c01f3ead98d4b8e7d6686a83cdbe">RegisterItem</a> (int i1, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> i2)</td></tr>
<tr class="separator:a8644c01f3ead98d4b8e7d6686a83cdbe inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5d3295b6c2bbe56fade260b1708856b inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#ac5d3295b6c2bbe56fade260b1708856b">CommandPhase</a> ()</td></tr>
<tr class="separator:ac5d3295b6c2bbe56fade260b1708856b inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47968deeaaa4a922b665cafe692377b8 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a47968deeaaa4a922b665cafe692377b8">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a47968deeaaa4a922b665cafe692377b8 inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6345ce716364665174ca0df308e9a5e inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#ad6345ce716364665174ca0df308e9a5e">Random</a> (int num)</td></tr>
<tr class="separator:ad6345ce716364665174ca0df308e9a5e inherit pub_methods_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; T &gt;</a></td></tr>
<tr class="memitem:a12d8a57c8cec9a492d3f2f978467c341 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a>&lt; TBattle &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a12d8a57c8cec9a492d3f2f978467c341">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a12d8a57c8cec9a492d3f2f978467c341 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06df41388ba9ede75278fbb36fac867f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a06df41388ba9ede75278fbb36fac867f">StartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:a06df41388ba9ede75278fbb36fac867f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab046928264f5fa414f554b45763a0d50 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab046928264f5fa414f554b45763a0d50">SwitchInBetween</a> (int i1, int i2, bool i3)</td></tr>
<tr class="separator:ab046928264f5fa414f554b45763a0d50 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86982baff69e96779c413a6540110076 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a86982baff69e96779c413a6540110076">Random</a> (int num)</td></tr>
<tr class="separator:a86982baff69e96779c413a6540110076 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab91fbd8a5f7fcde14aa9f4c33ee24bdd inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab91fbd8a5f7fcde14aa9f4c33ee24bdd">DisplayPaused</a> (string str)</td></tr>
<tr class="separator:ab91fbd8a5f7fcde14aa9f4c33ee24bdd inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abbe82a28acc079051133cb03c94c5f9a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#abbe82a28acc079051133cb03c94c5f9a">CommandPhaseCore</a> ()</td></tr>
<tr class="separator:abbe82a28acc079051133cb03c94c5f9a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad390cbd03d72702eb2e669ae3dfd583c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#ad390cbd03d72702eb2e669ae3dfd583c">randomindex</a><code> [get, protected set]</code></td></tr>
<tr class="separator:ad390cbd03d72702eb2e669ae3dfd583c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68daf5088dd8558aecb2b2eb16f82651"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml#a68daf5088dd8558aecb2b2eb16f82651">switchindex</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a68daf5088dd8558aecb2b2eb16f82651"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td colspan="2" onclick="javascript:toggleInherit('properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; T &gt;</a></td></tr>
<tr class="memitem:a9b67ae74592f8c8a42314a7313a577e5 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a9b67ae74592f8c8a42314a7313a577e5">randomnumbers</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a9b67ae74592f8c8a42314a7313a577e5 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11edb706d10d2ae192d915e61d807f60 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">IList&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>, int &gt;?[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a11edb706d10d2ae192d915e61d807f60">rounds</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a11edb706d10d2ae192d915e61d807f60 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:affca1c93ace8e6474960d85396b9a716 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#affca1c93ace8e6474960d85396b9a716">switches</a><code> [get, protected set]</code></td></tr>
<tr class="separator:affca1c93ace8e6474960d85396b9a716 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa64b3598b4fbdb37ecb4f04490ae548f inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#aa64b3598b4fbdb37ecb4f04490ae548f">roundindex</a><code> [get, protected set]</code></td></tr>
<tr class="separator:aa64b3598b4fbdb37ecb4f04490ae548f inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38aa21d0dcdbf6c077796bbf99e11e73 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a38aa21d0dcdbf6c077796bbf99e11e73">properties</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a38aa21d0dcdbf6c077796bbf99e11e73 inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37abb245418f814ff8e4822b13cc3bbe inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a37abb245418f814ff8e4822b13cc3bbe">battletype</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a37abb245418f814ff8e4822b13cc3bbe inherit properties_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pro_attribs_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td colspan="2" onclick="javascript:toggleInherit('pro_attribs_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module')"><img src="closed.png" alt="-"/>&#160;Protected Attributes inherited from <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; T &gt;</a></td></tr>
<tr class="memitem:a8cdf56d14a9e938c4c66c7d4e74f03e2 inherit pro_attribs_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memItemLeft" align="right" valign="top">TBattle&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a8cdf56d14a9e938c4c66c7d4e74f03e2">Instance</a></td></tr>
<tr class="separator:a8cdf56d14a9e938c4c66c7d4e74f03e2 inherit pro_attribs_class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Playback?  </p>
<dl class="tparams"><dt>Template Parameters</dt><dd>
  <table class="tparams">
    <tr><td class="paramname">IBattle</td><td></td></tr>
  </table>
  </dd>
</dl>
<div class="typeconstraint">
<dl><dt><b>Type Constraints</b></dt><dd>
<table border="0" cellspacing="2" cellpadding="0">
<tr><td valign="top"><em>T</em></td><td>&#160;:</td><td valign="top"><em>IRecordedBattleModule&lt;T&gt;</em></td><td>&#160;</td></tr>
<tr><td valign="top"><em>T</em></td><td>&#160;:</td><td valign="top"><em>IBattle</em></td><td>&#160;</td></tr>
<tr><td valign="top"><em>T</em></td><td>&#160;:</td><td valign="top"><em>IBattleRecordData</em></td><td>&#160;</td></tr>
</table>
</dd>
</dl>
</div>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a34a14648f2fb2a442946260382ad9e9d" name="a34a14648f2fb2a442946260382ad9e9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34a14648f2fb2a442946260382ad9e9d">&#9670;&#160;</a></span>PokeBattle_BattlePlayerModule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.<a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokeBattle_BattlePlayerModule</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0caa10ff86ae9375a67499809a52a661" name="a0caa10ff86ae9375a67499809a52a661"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0caa10ff86ae9375a67499809a52a661">&#9670;&#160;</a></span>CommandPhaseCore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.CommandPhaseCore </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">
<p >RegisterMove(i,@@rounds[@@roundindex][i][1]);</p>

</div>
</div>
<a id="a79a699654e718cdaa6e99d5c12f5b030" name="a79a699654e718cdaa6e99d5c12f5b030"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79a699654e718cdaa6e99d5c12f5b030">&#9670;&#160;</a></span>DisplayPaused()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override void <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.DisplayPaused </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac621d10e6c63b9a9eb455e5155172e29" name="ac621d10e6c63b9a9eb455e5155172e29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac621d10e6c63b9a9eb455e5155172e29">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a>&lt; T &gt; <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">IRecordedBattleModule</a>&lt; T &gt;&#160;</td>
          <td class="paramname"><em>battle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="add00d250b9beeafdab3f505e21c6ae03" name="add00d250b9beeafdab3f505e21c6ae03"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add00d250b9beeafdab3f505e21c6ae03">&#9670;&#160;</a></span>Random()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.Random </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ace48681e769b7d3244b7a8d0b2adcfde" name="ace48681e769b7d3244b7a8d0b2adcfde"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace48681e769b7d3244b7a8d0b2adcfde">&#9670;&#160;</a></span>StartBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.StartBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canlose</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aad8118c5bd2ced733b986eeb7a9d2303" name="aad8118c5bd2ced733b986eeb7a9d2303"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad8118c5bd2ced733b986eeb7a9d2303">&#9670;&#160;</a></span>SwitchInBetween()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.SwitchInBetween </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i3</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad390cbd03d72702eb2e669ae3dfd583c" name="ad390cbd03d72702eb2e669ae3dfd583c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad390cbd03d72702eb2e669ae3dfd583c">&#9670;&#160;</a></span>randomindex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.randomindex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a68daf5088dd8558aecb2b2eb16f82651" name="a68daf5088dd8558aecb2b2eb16f82651"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68daf5088dd8558aecb2b2eb16f82651">&#9670;&#160;</a></span>switchindex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_player_module.cshtml">PokemonUnity.Combat.PokeBattle_BattlePlayerModule</a>&lt; T &gt;.switchindex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/<a class="el" href="_recorder_8cs.cshtml">Recorder.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
