@{
	Page.Title = "PokemonUnity.Monster.PokeBattle_NullBattlePeer Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokeBattle_NullBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_NullBattlePeer Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Monster.PokeBattle_NullBattlePeer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.png" usemap="#PokemonUnity.Monster.PokeBattle_5FNullBattlePeer_map" alt=""/>
  <map id="PokemonUnity.Monster.PokeBattle_5FNullBattlePeer_map" name="PokemonUnity.Monster.PokeBattle_5FNullBattlePeer_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeer" shape="rect" coords="0,0,380,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml" title="Extension of IBattlePeer" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms" shape="rect" coords="390,0,770,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aca1bc0eb8835d552f7338daea07ba3dd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#aca1bc0eb8835d552f7338daea07ba3dd">pbOnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:aca1bc0eb8835d552f7338daea07ba3dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae5d6b5086ac122d9b4ea365b94af96f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#aae5d6b5086ac122d9b4ea365b94af96f">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:aae5d6b5086ac122d9b4ea365b94af96f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c58b91855e1b7f6d49defccb21b50ea"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a7c58b91855e1b7f6d49defccb21b50ea">pbGetStorageCreator</a> ()</td></tr>
<tr class="separator:a7c58b91855e1b7f6d49defccb21b50ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e11ff3e0b012eaaace84a21ad67685c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a0e11ff3e0b012eaaace84a21ad67685c">pbCurrentBox</a> ()</td></tr>
<tr class="separator:a0e11ff3e0b012eaaace84a21ad67685c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94bab475405cb5d0b6ee6e4a76f61052"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a94bab475405cb5d0b6ee6e4a76f61052">pbBoxName</a> (int box)</td></tr>
<tr class="separator:a94bab475405cb5d0b6ee6e4a76f61052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a></td></tr>
<tr class="memitem:a32e163c112af732ce9088aafb1a6d4e4 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a32e163c112af732ce9088aafb1a6d4e4">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a32e163c112af732ce9088aafb1a6d4e4 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa92382e285fdf72b8bb3278f2282b3ba inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#aa92382e285fdf72b8bb3278f2282b3ba">pbGetStorageCreator</a> ()</td></tr>
<tr class="separator:aa92382e285fdf72b8bb3278f2282b3ba inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5365ea70521a3f20e8e1ad0fec4e0ee5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5365ea70521a3f20e8e1ad0fec4e0ee5">pbCurrentBox</a> ()</td></tr>
<tr class="separator:a5365ea70521a3f20e8e1ad0fec4e0ee5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3a555effe9dfe8100d90ecd74e212ea inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#ad3a555effe9dfe8100d90ecd74e212ea">pbBoxName</a> (int box)</td></tr>
<tr class="separator:ad3a555effe9dfe8100d90ecd74e212ea inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms</a></td></tr>
<tr class="memitem:abb50334694191b515ded65b0565eb416 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#abb50334694191b515ded65b0565eb416">pbOnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:abb50334694191b515ded65b0565eb416 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a94bab475405cb5d0b6ee6e4a76f61052" name="a94bab475405cb5d0b6ee6e4a76f61052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94bab475405cb5d0b6ee6e4a76f61052">&#9670;&#160;</a></span>pbBoxName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_NullBattlePeer.pbBoxName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#ad3a555effe9dfe8100d90ecd74e212ea">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a0e11ff3e0b012eaaace84a21ad67685c" name="a0e11ff3e0b012eaaace84a21ad67685c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e11ff3e0b012eaaace84a21ad67685c">&#9670;&#160;</a></span>pbCurrentBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_NullBattlePeer.pbCurrentBox </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5365ea70521a3f20e8e1ad0fec4e0ee5">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a7c58b91855e1b7f6d49defccb21b50ea" name="a7c58b91855e1b7f6d49defccb21b50ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c58b91855e1b7f6d49defccb21b50ea">&#9670;&#160;</a></span>pbGetStorageCreator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_NullBattlePeer.pbGetStorageCreator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#aa92382e285fdf72b8bb3278f2282b3ba">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="aca1bc0eb8835d552f7338daea07ba3dd" name="aca1bc0eb8835d552f7338daea07ba3dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca1bc0eb8835d552f7338daea07ba3dd">&#9670;&#160;</a></span>pbOnEnteringBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Monster.PokeBattle_NullBattlePeer.pbOnEnteringBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae5d6b5086ac122d9b4ea365b94af96f" name="aae5d6b5086ac122d9b4ea365b94af96f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae5d6b5086ac122d9b4ea365b94af96f">&#9670;&#160;</a></span>pbStorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_NullBattlePeer.pbStorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Monster/<a class="el" href="_battle_peer_8cs.cshtml">BattlePeer.cs</a></li>
</ul>
