@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.BattleType Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml">BattleType</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_battle_type-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.BattleType Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.BattleType:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_battle_type.png" usemap="#PokemonUnity.BattleType_map" alt=""/>
  <map id="PokemonUnity.BattleType_map" name="PokemonUnity.BattleType_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleType" shape="rect" coords="284,0,558,24"/>
<area href="class_pokemon_unity_1_1_battle_arena.cshtml" alt="PokemonUnity.BattleArena" shape="rect" coords="0,112,274,136"/>
<area href="class_pokemon_unity_1_1_battle_palace.cshtml" alt="PokemonUnity.BattlePalace" shape="rect" coords="284,112,558,136"/>
<area href="class_pokemon_unity_1_1_battle_tower.cshtml" alt="PokemonUnity.BattleTower" shape="rect" coords="568,112,842,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a028ecca21b590f56a685cdb8c0321110"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml#a028ecca21b590f56a685cdb8c0321110">CreateBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:a028ecca21b590f56a685cdb8c0321110"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63386634dd4fd6836760b008c4e24be2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml#a63386634dd4fd6836760b008c4e24be2">CreateBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:a63386634dd4fd6836760b008c4e24be2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a028ecca21b590f56a685cdb8c0321110" name="a028ecca21b590f56a685cdb8c0321110"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a028ecca21b590f56a685cdb8c0321110">&#9670;&#160;</a></span>CreateBattle()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a> PokemonUnity.BattleType.CreateBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml#a63386634dd4fd6836760b008c4e24be2">PokemonEssentials.Interface.Battle.IBattleType</a>.</p>

<p>Reimplemented in <a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml#ae8263c26af7f44a748f75cd175d23663">PokemonUnity.BattleTower</a>, <a class="el" href="class_pokemon_unity_1_1_battle_palace.cshtml#abe1601a36a3b1b93f0aea98c2734f2a5">PokemonUnity.BattlePalace</a>, and <a class="el" href="class_pokemon_unity_1_1_battle_arena.cshtml#a66d2ddeae46717bb9d2ee0a18d504a97">PokemonUnity.BattleArena</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>

