@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_double_battle.cshtml">DoubleBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.DoubleBattle Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_double_battle.cshtml">PokemonUnity.DoubleBattle</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#addd25edde96822b0837a8705e373a7f7">EVASIONCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a50b53e03f535c0bcebb827d5bef853de">FREEZECLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a4bff9de4ed84f88f49ad6c5e7030cb55">MODIFIEDSELFDESTRUCTCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a26777bbedddcb34c703f57caadc1849f">MODIFIEDSLEEPCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#aac7b0f4695660fc6357f81e12a6bf782">OHKOCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a4502b04475728d530c93eb687e2dc3ad">PERISHSONG</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a438b60aeb8b671790e4ae67386765ef4">PERISHSONGCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#afc938104c467f14773243aa206d8d179">SELFDESTRUCTCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a318f9383806f1155dd78e40062d706b1">SELFKOCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_double_battle.cshtml#a55c6b1db4553e3eb128d2b45577b93bb">setRule</a>(PokemonEssentials.Interface.PokeBattle.IBattle battle)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_double_battle.cshtml">PokemonUnity.DoubleBattle</a></td><td class="entry"><span class="mlabel">virtual</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml#a6a84fb679ad325ccae8252bd37667725">PokemonEssentials::Interface::Battle::IBattleRule.setRule</a>(IBattle battle)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">PokemonEssentials.Interface.Battle.IBattleRule</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a99f31c00e7756a484faa79ad21b802a3">SKILLSWAPCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a609553cd5cc413b486607406b9deff1c">SLEEPCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a31808f8ee1b2cecaf1c37b86f0c19791">SONICBOOMCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a09ce77f684c5f552694b4dfc3e70bd38">SOULDEWCLAUSE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#acd3e09eced950952eba9aa27bd180f9b">SUDDENDEATH</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml">PokemonUnity.BattleRule</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
</table>
