@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">Debugger</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Debugger Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a81c6514cb682fcfd196c1f0c3c5cdef0">Init</a>(string logfilePath, string logBaseName)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a239bcea66020187da0c414f0013ba921">Log</a>(string message)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a5021a31e0b84f188b1e9b0bd57f11fe1">Log</a>(string message, params object[] param)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#af982f4e719bd66a795aaf483bc69ce8d">LogError</a>(string message)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a3720a775925b6eab9334c2331768a576">LogMessageToFile</a>(string msg)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a647692088722b25bb15c5c369b2255b6">LogWarning</a>(string message)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a63fdbc0c8068928bb4fd4f5060db4a1b">OnLog</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#aced141580299dfb367a1408f069be9ff">Shutdown</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_debugger.cshtml">PokemonUnity.Debugger</a></td><td class="entry"></td></tr>
</table>
