@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">DayCare</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.DayCare Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a80e6fcc447bdf214e7b69c3325a89d03">DayCare</a>(int slots)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a0f1bf5a5e2620b51669862f7c94f1591">Egg</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#af03c8805208117e763522a3e2fba0b83">HasEgg</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#afa1eee0192461c2fd093ed848c034b04">OnStepTakenEventHandler</a>(object sender, IOnStepTakenFieldMovementEventArgs e)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a49168d12cb923781eb763bafc54f4925">pbDayCareChoose</a>(string text, int variable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ae75ab4392cc8a4cc8d30f9f90e5453a7">pbDayCareCompatibleGender</a>(IPokemon pokemon1, IPokemon pokemon2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a255d0d6d77cdbfe6c6a0cb58e6af584c">pbDayCareDeposit</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a50dd09a633d734c9cc8e710f5879cd43">pbDayCareDeposited</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a464df43b89e1f21df0814697b291894a">pbDayCareGenerateEgg</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a48052aa03915c7ed7652b5b240f81232">pbDayCareGetCompat</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a69a43f17bec5585759e12195535a7cdb">pbDayCareGetCompatibility</a>(int variable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5aa29bad6b37e6b3746690bd3288e7be">pbDayCareGetDeposited</a>(int index, int nameVariable, int costVariable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a92ed8ac5284fe9b06fd4a1f37a6eabb5">pbDayCareGetLevelGain</a>(int index, int nameVariable, int levelVariable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5ff7138164de48f76a21b11d469ac009">pbDayCareWithdraw</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#accdeccdf750be60ca5f54b251980fdbf">pbEggGenerated</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a98f0ad1e76784af592e7bd87179cd371">pbIsDitto</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ab1d9ef400f70c55bc8ea8a4947ff1b80">Slot</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#abc4294e85df246bf58d44de78b5fd15e">this[int index]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
</table>