@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml">BattleType</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleType Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml">PokemonUnity.BattleType</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml#a028ecca21b590f56a685cdb8c0321110">CreateBattle</a>(IPokeBattle_Scene scene, ITrainer[] trainer1, ITrainer[] trainer2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_type.cshtml">PokemonUnity.BattleType</a></td><td class="entry"><span class="mlabel">virtual</span></td></tr>
</table>
