@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonBag</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.PokemonBag Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a4c9f09609a0006843c5d7cc5d2df635b">clear</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a561dcce6f8e66c52b40f4814fe842906">getChoice</a>(ItemPockets pocket)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a301820e505a36f1c12923b3f4593e560">lastpocket</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a7792a4fb390d287286302a590f276ea3">maxPocketSize</a>(int pocket)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a2746f14e2704ce2fec41c8884cd8c088">numPockets</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a61ce687f7a50518719a866a682c896b3">pbCanStore</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#abb1dc9e588ec0daf4c95fb4f64d03605">pbChangeItem</a>(Items olditem, Items newitem)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a30389972d0b00d88da169dab0a727aa4">pbDeleteItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a94900d853f74befc92adb582d190728c">pbHasItem</a>(Items item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#abd6e90a7edcef67b5587064ac04e1dc8">pbQuantity</a>(Items item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ad06a777c31b40820ac0c37c36765f8b5">pbRegisterKeyItem</a>(Items item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a1fc9e922c334932db79e3c4fd47c61ef">pbStoreAllOrNone</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a019ae96be275340825ced84ed821ecab">pbStoreItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a5ce35073dfd71eab5341bff6e663e835">pocketNames</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a983cba15ca704f8e89fafc23f413b383">pockets</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a35b5b76251cf9bf82c8be5455d54f608">PokemonBag</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ab404c034aa7e6dae980f2d464fd729ff">rearrange</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#aaa0a7e844843d0f5957b1fa793c9c0fb">registeredItem</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ac062d5b6f58b67e99137383ab231c230">setChoice</a>(ItemPockets pocket, int value)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonUnity.Character.PokemonBag</a></td><td class="entry"></td></tr>
</table>