@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Translator Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">Translator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#pub-types">Public Types</a> &#124;
<a href="class_pokemon_unity_1_1_translator-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Translator Class Reference</div></div>
}


<p> 
 <a href="class_pokemon_unity_1_1_translator.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml">Language</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml" title="Language class stores the user&#39;s current/active language">Language</a> class stores the user's current/active language   <a href="class_pokemon_unity_1_1_translator_1_1_language.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-types" name="pub-types"></a>
Public Types</h2></td></tr>
<tr class="memitem:a08a76a8ea0e35b2679c25212c4a7f637"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a> </td></tr>
<tr class="separator:a08a76a8ea0e35b2679c25212c4a7f637"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Member Enumeration Documentation</h2>
<a id="a08a76a8ea0e35b2679c25212c4a7f637" name="a08a76a8ea0e35b2679c25212c4a7f637"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08a76a8ea0e35b2679c25212c4a7f637">&#9670;&#160;</a></span>Languages</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">PokemonUnity.Translator.Languages</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Translations/<a class="el" href="_translator_8cs.cshtml">Translator.cs</a></li>
</ul>
