@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.Player Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_player-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.Player Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:acb3ae5473945e74c0ee30eb72f8292bd"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#acb3ae5473945e74c0ee30eb72f8292bd">Player</a> ()</td></tr>
<tr class="separator:acb3ae5473945e74c0ee30eb72f8292bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee713c9fe1d913d926c51f5741677b52"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aee713c9fe1d913d926c51f5741677b52">Player</a> (string name, bool gender, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[] party=null, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] bag=null, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[][] pc_poke=null, KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[] pc_items=null, byte? pc_box=null, string[] pc_names=null, int[] pc_textures=null, int? trainerid=null, int? secretid=null, int? money=null, int? coin=null, int? bank=null, int? repel=null, string rival=null, byte[][] dex=null, TimeSpan? time=null, <a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a> position=null, byte? follower=null, bool? creator=null, int? map=null, int? pokecenter=null, KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, DateTime?&gt;[] gym=null)</td></tr>
<tr class="separator:aee713c9fe1d913d926c51f5741677b52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab976e83320f23e5dca943d6a181a2041"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ab976e83320f23e5dca943d6a181a2041">Player</a> (string name, bool gender, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[] party, <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a8d2579dffe7d9b7fa71cedee71e86e82">Bag</a> bag=null, <a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a> pc=null, int? trainerid=null, int? secretid=null, int? money=null, int? coin=null, int? bank=null, int? repel=null, string rival=null, byte[][] dex=null, TimeSpan? time=null, <a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a> position=null, byte? follower=null, bool? creator=null, int? map=null, int? pokecenter=null, KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, DateTime?&gt;[] gym=null)</td></tr>
<tr class="separator:ab976e83320f23e5dca943d6a181a2041"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39b43f4209fd324b492b1433b29c1c17"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a39b43f4209fd324b492b1433b29c1c17">Player</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> trainer, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[] party=null)</td></tr>
<tr class="separator:a39b43f4209fd324b492b1433b29c1c17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab00ce02a8299b5f406235175aeeae539"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ab00ce02a8299b5f406235175aeeae539">addPokemon</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> pokemon)</td></tr>
<tr class="memdesc:ab00ce02a8299b5f406235175aeeae539"><td class="mdescLeft">&#160;</td><td class="mdescRight">Skims every available box player has, and attempts to add pokemon.   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ab00ce02a8299b5f406235175aeeae539">More...</a><br /></td></tr>
<tr class="separator:ab00ce02a8299b5f406235175aeeae539"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a505e8f3132bbd5263b5d2f3de5f39789"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a505e8f3132bbd5263b5d2f3de5f39789">CanUseHMMove</a> (<a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a> HM)</td></tr>
<tr class="memdesc:a505e8f3132bbd5263b5d2f3de5f39789"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks if the player is able to perform a certain Hidden Machine move.   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a505e8f3132bbd5263b5d2f3de5f39789">More...</a><br /></td></tr>
<tr class="separator:a505e8f3132bbd5263b5d2f3de5f39789"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac2c01fa2d2eb85f2ad1643df31ad4fcf"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ac2c01fa2d2eb85f2ad1643df31ad4fcf">Name</a><code> [get]</code></td></tr>
<tr class="separator:ac2c01fa2d2eb85f2ad1643df31ad4fcf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a405883e197254cf8defcf901537acc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a6a405883e197254cf8defcf901537acc">IsMale</a><code> [get]</code></td></tr>
<tr class="separator:a6a405883e197254cf8defcf901537acc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd4c046edec50e17a28ec6abb3702b80"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#abd4c046edec50e17a28ec6abb3702b80">Party</a><code> [get]</code></td></tr>
<tr class="memdesc:abd4c046edec50e17a28ec6abb3702b80"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a>'s Pokemon <a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml">Party</a> is stored in <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a> class, and then reflected in <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>, to match what occurs   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#abd4c046edec50e17a28ec6abb3702b80">More...</a><br /></td></tr>
<tr class="separator:abd4c046edec50e17a28ec6abb3702b80"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5e05b52b34df54adbdb08349be1b9ee"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aa5e05b52b34df54adbdb08349be1b9ee">Trainer</a><code> [get]</code></td></tr>
<tr class="separator:aa5e05b52b34df54adbdb08349be1b9ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d2579dffe7d9b7fa71cedee71e86e82"><td class="memItemLeft" align="right" valign="top">Bag&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a8d2579dffe7d9b7fa71cedee71e86e82">Bag</a><code> [get]</code></td></tr>
<tr class="memdesc:a8d2579dffe7d9b7fa71cedee71e86e82"><td class="mdescLeft">&#160;</td><td class="mdescRight">When displaying items in bag, do a foreach loop and filter by item category   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a8d2579dffe7d9b7fa71cedee71e86e82">More...</a><br /></td></tr>
<tr class="separator:a8d2579dffe7d9b7fa71cedee71e86e82"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cebde96f23f4524360a3e0d50146403"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a5cebde96f23f4524360a3e0d50146403">PC</a><code> [get]</code></td></tr>
<tr class="separator:a5cebde96f23f4524360a3e0d50146403"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab9b782753bbc990c97d6c6c9840aef0a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ab9b782753bbc990c97d6c6c9840aef0a">Region</a><code> [get]</code></td></tr>
<tr class="separator:ab9b782753bbc990c97d6c6c9840aef0a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2699a59a5572ffb118c8331613c15d32"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a2699a59a5572ffb118c8331613c15d32">Location</a><code> [get]</code></td></tr>
<tr class="separator:a2699a59a5572ffb118c8331613c15d32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb14ba123fda335688eabaad8cdaef69"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#afb14ba123fda335688eabaad8cdaef69">Area</a><code> [get]</code></td></tr>
<tr class="separator:afb14ba123fda335688eabaad8cdaef69"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa61b0dff056c12330d383aa4c5e7e7ce"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aa61b0dff056c12330d383aa4c5e7e7ce">Position</a><code> [get, set]</code></td></tr>
<tr class="separator:aa61b0dff056c12330d383aa4c5e7e7ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a91f09692f2b2075098363c80b0b7de85"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_quaternion.cshtml">IQuaternion</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a91f09692f2b2075098363c80b0b7de85">Direction</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a91f09692f2b2075098363c80b0b7de85"><td class="mdescLeft">&#160;</td><td class="mdescRight">Rotation of player model in overworld scene   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a91f09692f2b2075098363c80b0b7de85">More...</a><br /></td></tr>
<tr class="separator:a91f09692f2b2075098363c80b0b7de85"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af20835f02cb6d7557c48ea54228b8d5d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#af20835f02cb6d7557c48ea54228b8d5d">Checkpoint</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af20835f02cb6d7557c48ea54228b8d5d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Last town or Pokemon Center visited, that's used as Respawn Point upon a <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a>'s Defeat   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#af20835f02cb6d7557c48ea54228b8d5d">More...</a><br /></td></tr>
<tr class="separator:af20835f02cb6d7557c48ea54228b8d5d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6ca9765ffa5e3731a4ddc1895965d09"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#af6ca9765ffa5e3731a4ddc1895965d09">RepelSteps</a><code> [get, set]</code></td></tr>
<tr class="separator:af6ca9765ffa5e3731a4ddc1895965d09"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33f4d8778a0633c1a65f83b2764b6d79"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a33f4d8778a0633c1a65f83b2764b6d79">FollowPokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:a33f4d8778a0633c1a65f83b2764b6d79"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c73abf9e54540c614a20cc9f83cfc81"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a6c73abf9e54540c614a20cc9f83cfc81">IsCreator</a><code> [get]</code></td></tr>
<tr class="separator:a6c73abf9e54540c614a20cc9f83cfc81"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75219e15d8c6d95c7ba1566816f0e324"><td class="memItemLeft" align="right" valign="top">static string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a75219e15d8c6d95c7ba1566816f0e324">PlayerItemData</a><code> [get, set]</code></td></tr>
<tr class="separator:a75219e15d8c6d95c7ba1566816f0e324"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a28b683d85184b30fb7a94baabbf01fac"><td class="memItemLeft" align="right" valign="top">static string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a28b683d85184b30fb7a94baabbf01fac">PlayerBerryData</a><code> [get, set]</code></td></tr>
<tr class="separator:a28b683d85184b30fb7a94baabbf01fac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a562d2f3a17f0f785c51470c21cfa0848"><td class="memItemLeft" align="right" valign="top">static string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a562d2f3a17f0f785c51470c21cfa0848">PlayerNPCData</a><code> [get, set]</code></td></tr>
<tr class="separator:a562d2f3a17f0f785c51470c21cfa0848"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58a12e38e83b086361f013cc44b8bab9"><td class="memItemLeft" align="right" valign="top">static string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a58a12e38e83b086361f013cc44b8bab9">PlayerApricornData</a><code> [get, set]</code></td></tr>
<tr class="separator:a58a12e38e83b086361f013cc44b8bab9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82134ba87826c6ef0926abcdf49fbb56"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a82134ba87826c6ef0926abcdf49fbb56">RivalName</a><code> [get]</code></td></tr>
<tr class="separator:a82134ba87826c6ef0926abcdf49fbb56"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae27dddeaf54f717c485cbc728482c767"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ae27dddeaf54f717c485cbc728482c767">Money</a><code> [get, set]</code></td></tr>
<tr class="separator:ae27dddeaf54f717c485cbc728482c767"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad81a2ee04f786fa7c25f2c2cf8b918c7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ad81a2ee04f786fa7c25f2c2cf8b918c7">Coins</a><code> [get, set]</code></td></tr>
<tr class="separator:ad81a2ee04f786fa7c25f2c2cf8b918c7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29263a9e9664bd84850f1c5a3dfefb43"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a29263a9e9664bd84850f1c5a3dfefb43">Savings</a><code> [get]</code></td></tr>
<tr class="separator:a29263a9e9664bd84850f1c5a3dfefb43"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9688de493c2eaf8c0fb0c84a3a1b07c6"><td class="memItemLeft" align="right" valign="top">byte[,]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a9688de493c2eaf8c0fb0c84a3a1b07c6">Pokedex</a><code> [get]</code></td></tr>
<tr class="memdesc:a9688de493c2eaf8c0fb0c84a3a1b07c6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Usage:  <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a9688de493c2eaf8c0fb0c84a3a1b07c6">More...</a><br /></td></tr>
<tr class="separator:a9688de493c2eaf8c0fb0c84a3a1b07c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d5d3f423bcf8e2df513f4c2606af6d1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a6d5d3f423bcf8e2df513f4c2606af6d1">PokedexCaught</a><code> [get]</code></td></tr>
<tr class="separator:a6d5d3f423bcf8e2df513f4c2606af6d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e47b7ef12fb72069df135142e3edc00"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a1e47b7ef12fb72069df135142e3edc00">PokedexSeen</a><code> [get]</code></td></tr>
<tr class="separator:a1e47b7ef12fb72069df135142e3edc00"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52c49c6563ebf195af3aa913badbadea"><td class="memItemLeft" align="right" valign="top">System.DateTime&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a52c49c6563ebf195af3aa913badbadea">StartDate</a><code> [get]</code></td></tr>
<tr class="separator:a52c49c6563ebf195af3aa913badbadea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6787c7917be395d1425c86c23b43fb2"><td class="memItemLeft" align="right" valign="top">System.TimeSpan&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aa6787c7917be395d1425c86c23b43fb2">PlayTime</a><code> [get]</code></td></tr>
<tr class="separator:aa6787c7917be395d1425c86c23b43fb2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad446474d678012a0e9ad4d0e8a3c8c96"><td class="memItemLeft" align="right" valign="top">Dictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, System.DateTime?&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#ad446474d678012a0e9ad4d0e8a3c8c96">GymsBeatTime</a><code> [get]</code></td></tr>
<tr class="separator:ad446474d678012a0e9ad4d0e8a3c8c96"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afaa436acaa829c3699de4676a731ced3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#afaa436acaa829c3699de4676a731ced3">Badges</a><code> [get]</code></td></tr>
<tr class="separator:afaa436acaa829c3699de4676a731ced3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87d5ca934332e3f629401edcbcbac1a8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a87d5ca934332e3f629401edcbcbac1a8">BadgesCount</a><code> [get]</code></td></tr>
<tr class="separator:a87d5ca934332e3f629401edcbcbac1a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec3d59969fe49ace1638b35606339010"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aec3d59969fe49ace1638b35606339010">Outfit</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aec3d59969fe49ace1638b35606339010"><td class="mdescLeft">&#160;</td><td class="mdescRight">Active player design   <a href="class_pokemon_unity_1_1_character_1_1_player.cshtml#aec3d59969fe49ace1638b35606339010">More...</a><br /></td></tr>
<tr class="separator:aec3d59969fe49ace1638b35606339010"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="acb3ae5473945e74c0ee30eb72f8292bd" name="acb3ae5473945e74c0ee30eb72f8292bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb3ae5473945e74c0ee30eb72f8292bd">&#9670;&#160;</a></span>Player() <span class="overload">[1/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.Player.Player </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aee713c9fe1d913d926c51f5741677b52" name="aee713c9fe1d913d926c51f5741677b52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee713c9fe1d913d926c51f5741677b52">&#9670;&#160;</a></span>Player() <span class="overload">[2/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.Player.Player </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>gender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>bag</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pc_poke</em>[][] = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[]&#160;</td>
          <td class="paramname"><em>pc_items</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte?&#160;</td>
          <td class="paramname"><em>pc_box</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>pc_names</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>pc_textures</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>trainerid</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>secretid</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>money</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>coin</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>bank</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>repel</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>rival</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>dex</em>[][] = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">TimeSpan?&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a>&#160;</td>
          <td class="paramname"><em>position</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte?&#160;</td>
          <td class="paramname"><em>follower</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool?&#160;</td>
          <td class="paramname"><em>creator</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>map</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>pokecenter</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, DateTime?&gt;[]&#160;</td>
          <td class="paramname"><em>gym</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab976e83320f23e5dca943d6a181a2041" name="ab976e83320f23e5dca943d6a181a2041"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab976e83320f23e5dca943d6a181a2041">&#9670;&#160;</a></span>Player() <span class="overload">[3/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.Player.Player </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>gender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#a8d2579dffe7d9b7fa71cedee71e86e82">Bag</a>&#160;</td>
          <td class="paramname"><em>bag</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a>&#160;</td>
          <td class="paramname"><em>pc</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>trainerid</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>secretid</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>money</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>coin</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>bank</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>repel</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>rival</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>dex</em>[][] = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">TimeSpan?&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a>&#160;</td>
          <td class="paramname"><em>position</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte?&#160;</td>
          <td class="paramname"><em>follower</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool?&#160;</td>
          <td class="paramname"><em>creator</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>map</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>pokecenter</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, DateTime?&gt;[]&#160;</td>
          <td class="paramname"><em>gym</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a39b43f4209fd324b492b1433b29c1c17" name="a39b43f4209fd324b492b1433b29c1c17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39b43f4209fd324b492b1433b29c1c17">&#9670;&#160;</a></span>Player() <span class="overload">[4/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.Player.Player </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>trainer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab00ce02a8299b5f406235175aeeae539" name="ab00ce02a8299b5f406235175aeeae539"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab00ce02a8299b5f406235175aeeae539">&#9670;&#160;</a></span>addPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.Player.addPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Skims every available box player has, and attempts to add pokemon.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>returns storage location of caught pokemon</dd></dl>

</div>
</div>
<a id="a505e8f3132bbd5263b5d2f3de5f39789" name="a505e8f3132bbd5263b5d2f3de5f39789"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a505e8f3132bbd5263b5d2f3de5f39789">&#9670;&#160;</a></span>CanUseHMMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.Player.CanUseHMMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a>&#160;</td>
          <td class="paramname"><em>HM</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks if the player is able to perform a certain Hidden Machine move.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">HM</td><td>The Hidden Machine move the player tries to use.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="afb14ba123fda335688eabaad8cdaef69" name="afb14ba123fda335688eabaad8cdaef69"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb14ba123fda335688eabaad8cdaef69">&#9670;&#160;</a></span>Area</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.Area</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="afaa436acaa829c3699de4676a731ced3" name="afaa436acaa829c3699de4676a731ced3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afaa436acaa829c3699de4676a731ced3">&#9670;&#160;</a></span>Badges</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a> [] PokemonUnity.Character.Player.Badges</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a87d5ca934332e3f629401edcbcbac1a8" name="a87d5ca934332e3f629401edcbcbac1a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87d5ca934332e3f629401edcbcbac1a8">&#9670;&#160;</a></span>BadgesCount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.BadgesCount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8d2579dffe7d9b7fa71cedee71e86e82" name="a8d2579dffe7d9b7fa71cedee71e86e82"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d2579dffe7d9b7fa71cedee71e86e82">&#9670;&#160;</a></span>Bag</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Bag PokemonUnity.Character.Player.Bag</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>When displaying items in bag, do a foreach loop and filter by item category  </p>

</div>
</div>
<a id="af20835f02cb6d7557c48ea54228b8d5d" name="af20835f02cb6d7557c48ea54228b8d5d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af20835f02cb6d7557c48ea54228b8d5d">&#9670;&#160;</a></span>Checkpoint</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a> PokemonUnity.Character.Player.Checkpoint</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Last town or Pokemon Center visited, that's used as Respawn Point upon a <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a>'s Defeat  </p>

</div>
</div>
<a id="ad81a2ee04f786fa7c25f2c2cf8b918c7" name="ad81a2ee04f786fa7c25f2c2cf8b918c7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad81a2ee04f786fa7c25f2c2cf8b918c7">&#9670;&#160;</a></span>Coins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.Coins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a91f09692f2b2075098363c80b0b7de85" name="a91f09692f2b2075098363c80b0b7de85"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a91f09692f2b2075098363c80b0b7de85">&#9670;&#160;</a></span>Direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_quaternion.cshtml">IQuaternion</a> PokemonUnity.Character.Player.Direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Rotation of player model in overworld scene  </p>
<p >not sure direction is even needed in save/load profile... <a class="el" href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay.">Game</a> should load player facing camera by default. </p>

</div>
</div>
<a id="a33f4d8778a0633c1a65f83b2764b6d79" name="a33f4d8778a0633c1a65f83b2764b6d79"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33f4d8778a0633c1a65f83b2764b6d79">&#9670;&#160;</a></span>FollowPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.Player.FollowPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad446474d678012a0e9ad4d0e8a3c8c96" name="ad446474d678012a0e9ad4d0e8a3c8c96"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad446474d678012a0e9ad4d0e8a3c8c96">&#9670;&#160;</a></span>GymsBeatTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Dictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, System.DateTime?&gt; PokemonUnity.Character.Player.GymsBeatTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>
<p >Each Badge in <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c" title="Whatever gym badges you want to incorporate throughout your game. This is where the ID of the badges ...">GymBadges</a> is a Key/Value, regardless of how they're set in game. One value per badge. </p>

</div>
</div>
<a id="a6c73abf9e54540c614a20cc9f83cfc81" name="a6c73abf9e54540c614a20cc9f83cfc81"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c73abf9e54540c614a20cc9f83cfc81">&#9670;&#160;</a></span>IsCreator</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.Player.IsCreator</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6a405883e197254cf8defcf901537acc" name="a6a405883e197254cf8defcf901537acc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a405883e197254cf8defcf901537acc">&#9670;&#160;</a></span>IsMale</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.Player.IsMale</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2699a59a5572ffb118c8331613c15d32" name="a2699a59a5572ffb118c8331613c15d32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2699a59a5572ffb118c8331613c15d32">&#9670;&#160;</a></span>Location</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a> PokemonUnity.Character.Player.Location</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae27dddeaf54f717c485cbc728482c767" name="ae27dddeaf54f717c485cbc728482c767"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae27dddeaf54f717c485cbc728482c767">&#9670;&#160;</a></span>Money</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.Money</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="ac2c01fa2d2eb85f2ad1643df31ad4fcf" name="ac2c01fa2d2eb85f2ad1643df31ad4fcf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac2c01fa2d2eb85f2ad1643df31ad4fcf">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aec3d59969fe49ace1638b35606339010" name="aec3d59969fe49ace1638b35606339010"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec3d59969fe49ace1638b35606339010">&#9670;&#160;</a></span>Outfit</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> PokemonUnity.Character.Player.Outfit</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Active player design  </p>
<p >Rather than adding another variable for <code>Item</code> data... Not sure if player custom designs are an <code>Item</code> type or a custom enum... </p>

</div>
</div>
<a id="abd4c046edec50e17a28ec6abb3702b80" name="abd4c046edec50e17a28ec6abb3702b80"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd4c046edec50e17a28ec6abb3702b80">&#9670;&#160;</a></span>Party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> [] PokemonUnity.Character.Player.Party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a>'s Pokemon <a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml">Party</a> is stored in <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a> class, and then reflected in <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>, to match what occurs  </p>
<p >Didn't think about it it till now but the player should hold the <code><a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a></code> data, and instantiate a new <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> whenever it's needed... </p>

</div>
</div>
<a id="a5cebde96f23f4524360a3e0d50146403" name="a5cebde96f23f4524360a3e0d50146403"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cebde96f23f4524360a3e0d50146403">&#9670;&#160;</a></span>PC</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a> PokemonUnity.Character.Player.PC</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a58a12e38e83b086361f013cc44b8bab9" name="a58a12e38e83b086361f013cc44b8bab9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a58a12e38e83b086361f013cc44b8bab9">&#9670;&#160;</a></span>PlayerApricornData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.PlayerApricornData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a28b683d85184b30fb7a94baabbf01fac" name="a28b683d85184b30fb7a94baabbf01fac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a28b683d85184b30fb7a94baabbf01fac">&#9670;&#160;</a></span>PlayerBerryData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.PlayerBerryData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a75219e15d8c6d95c7ba1566816f0e324" name="a75219e15d8c6d95c7ba1566816f0e324"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75219e15d8c6d95c7ba1566816f0e324">&#9670;&#160;</a></span>PlayerItemData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.PlayerItemData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a562d2f3a17f0f785c51470c21cfa0848" name="a562d2f3a17f0f785c51470c21cfa0848"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a562d2f3a17f0f785c51470c21cfa0848">&#9670;&#160;</a></span>PlayerNPCData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.PlayerNPCData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa6787c7917be395d1425c86c23b43fb2" name="aa6787c7917be395d1425c86c23b43fb2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa6787c7917be395d1425c86c23b43fb2">&#9670;&#160;</a></span>PlayTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">System.TimeSpan PokemonUnity.Character.Player.PlayTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9688de493c2eaf8c0fb0c84a3a1b07c6" name="a9688de493c2eaf8c0fb0c84a3a1b07c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9688de493c2eaf8c0fb0c84a3a1b07c6">&#9670;&#160;</a></span>Pokedex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte [,] PokemonUnity.Character.Player.Pokedex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Usage: </p>
<p ><code>playerPokedex[1,0] == 0; means pokemonId #1 not seen</code> </p>
<p ><code>playerPokedex[1,1] == 0; means pokemonId #1 not captured</code> </p>
<p ><code>playerPokedex[1,2] == 3; means the 3rd form of pokemonId was first to be scanned into pokedex</code>  </p>
<p >value [1,2] = <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a0c33c6031be9c2ffd191458570234622" title="Used only for a few pokemon to specify what form it&#39;s in.">Pokemon.Form</a>, other array values remain same. Or can be int?[pokedex.count,1]. if null, not seen or captured </p>

</div>
</div>
<a id="a6d5d3f423bcf8e2df513f4c2606af6d1" name="a6d5d3f423bcf8e2df513f4c2606af6d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d5d3f423bcf8e2df513f4c2606af6d1">&#9670;&#160;</a></span>PokedexCaught</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.PokedexCaught</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1e47b7ef12fb72069df135142e3edc00" name="a1e47b7ef12fb72069df135142e3edc00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e47b7ef12fb72069df135142e3edc00">&#9670;&#160;</a></span>PokedexSeen</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.PokedexSeen</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa61b0dff056c12330d383aa4c5e7e7ce" name="aa61b0dff056c12330d383aa4c5e7e7ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa61b0dff056c12330d383aa4c5e7e7ce">&#9670;&#160;</a></span>Position</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a> PokemonUnity.Character.Player.Position</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab9b782753bbc990c97d6c6c9840aef0a" name="ab9b782753bbc990c97d6c6c9840aef0a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab9b782753bbc990c97d6c6c9840aef0a">&#9670;&#160;</a></span>Region</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a> PokemonUnity.Character.Player.Region</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af6ca9765ffa5e3731a4ddc1895965d09" name="af6ca9765ffa5e3731a4ddc1895965d09"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6ca9765ffa5e3731a4ddc1895965d09">&#9670;&#160;</a></span>RepelSteps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.RepelSteps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a82134ba87826c6ef0926abcdf49fbb56" name="a82134ba87826c6ef0926abcdf49fbb56"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82134ba87826c6ef0926abcdf49fbb56">&#9670;&#160;</a></span>RivalName</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Player.RivalName</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a29263a9e9664bd84850f1c5a3dfefb43" name="a29263a9e9664bd84850f1c5a3dfefb43"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29263a9e9664bd84850f1c5a3dfefb43">&#9670;&#160;</a></span>Savings</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.Player.Savings</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a52c49c6563ebf195af3aa913badbadea" name="a52c49c6563ebf195af3aa913badbadea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52c49c6563ebf195af3aa913badbadea">&#9670;&#160;</a></span>StartDate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">System.DateTime PokemonUnity.Character.Player.StartDate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa5e05b52b34df54adbdb08349be1b9ee" name="aa5e05b52b34df54adbdb08349be1b9ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5e05b52b34df54adbdb08349be1b9ee">&#9670;&#160;</a></span>Trainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> PokemonUnity.Character.Player.Trainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/Player/<a class="el" href="_character_2_player_2_base_8cs.cshtml">Base.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
