@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.InverseRestriction Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">InverseRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-attribs">Protected Attributes</a> &#124;
<a href="class_pokemon_unity_1_1_inverse_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.InverseRestriction Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.InverseRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_inverse_restriction.png" usemap="#PokemonUnity.InverseRestriction_map" alt=""/>
  <map id="PokemonUnity.InverseRestriction_map" name="PokemonUnity.InverseRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_inverse_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IInverseRestriction" shape="rect" coords="0,56,316,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="0,0,316,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae1378736192db0bfb629a03b63f412f2"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#ae1378736192db0bfb629a03b63f412f2">InverseRestriction</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> <a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a41ce02d7fd76398c7e5ef4b34f44f5d3">r</a>)</td></tr>
<tr class="separator:ae1378736192db0bfb629a03b63f412f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aead6238817b6d91bce0df71addee06ca"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#aead6238817b6d91bce0df71addee06ca">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> <a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a41ce02d7fd76398c7e5ef4b34f44f5d3">r</a>)</td></tr>
<tr class="separator:aead6238817b6d91bce0df71addee06ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79eecf0fff27300720f4d7497757da0c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a79eecf0fff27300720f4d7497757da0c">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a79eecf0fff27300720f4d7497757da0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8bd5e0e2f2b57c3f5906f7e6a53e3ba8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_inverse_restriction.cshtml#a8bd5e0e2f2b57c3f5906f7e6a53e3ba8">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> r)</td></tr>
<tr class="separator:a8bd5e0e2f2b57c3f5906f7e6a53e3ba8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-attribs" name="pro-attribs"></a>
Protected Attributes</h2></td></tr>
<tr class="memitem:a41ce02d7fd76398c7e5ef4b34f44f5d3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a41ce02d7fd76398c7e5ef4b34f44f5d3">r</a></td></tr>
<tr class="separator:a41ce02d7fd76398c7e5ef4b34f44f5d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="ae1378736192db0bfb629a03b63f412f2" name="ae1378736192db0bfb629a03b63f412f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1378736192db0bfb629a03b63f412f2">&#9670;&#160;</a></span>InverseRestriction()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.InverseRestriction.InverseRestriction </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td>
          <td class="paramname"><em>r</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aead6238817b6d91bce0df71addee06ca" name="aead6238817b6d91bce0df71addee06ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aead6238817b6d91bce0df71addee06ca">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> PokemonUnity.InverseRestriction.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td>
          <td class="paramname"><em>r</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_inverse_restriction.cshtml#a8bd5e0e2f2b57c3f5906f7e6a53e3ba8">PokemonEssentials.Interface.Battle.IInverseRestriction</a>.</p>

</div>
</div>
<a id="a79eecf0fff27300720f4d7497757da0c" name="a79eecf0fff27300720f4d7497757da0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79eecf0fff27300720f4d7497757da0c">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.InverseRestriction.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">PokemonEssentials.Interface.Battle.IBattleRestriction</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a41ce02d7fd76398c7e5ef4b34f44f5d3" name="a41ce02d7fd76398c7e5ef4b34f44f5d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41ce02d7fd76398c7e5ef4b34f44f5d3">&#9670;&#160;</a></span>r</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> PokemonUnity.InverseRestriction.r</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_generator_8cs.cshtml">OrgBattleGenerator.cs</a></li>
</ul>

