@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">Game_Player</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Game_Player Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a2a4c2d3d4be600df773f113e574f3efc">direction</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#aae6f2d05b0bed4acf75cca43b8c7cc62">moveto2</a>(float x, float y)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a0412850ad45cee7b2d431323cd6f3bc5">prelock_direction</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a73529c696ce9fd0be5e7b2ddeb1ac632">real_x</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4bb6c15dc55c3ddff761a70b25f4323b">real_y</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a943a5cc0e5e3a7ad887a6142413f092b">x</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4adc24d0b2f848c8e8f815174b31b052">y</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game___player.cshtml">PokemonUnity.Game_Player</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
</table>
