@{
	Page.Title = "PokemonUnity.PlayerRating Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PlayerRating</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-attribs">Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_player_rating-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.PlayerRating Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.PlayerRating:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_player_rating.png" usemap="#PokemonUnity.PlayerRating_map" alt=""/>
  <map id="PokemonUnity.PlayerRating_map" name="PokemonUnity.PlayerRating_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml" alt="PokemonEssentials.Interface.Battle.IPlayerRating" shape="rect" coords="0,0,287,24"/>
<area href="class_pokemon_unity_1_1_player_rating_elo.cshtml" alt="PokemonUnity.PlayerRatingElo" shape="rect" coords="0,112,287,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a11629a639fe20456063545f2ad5e67e0"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a11629a639fe20456063545f2ad5e67e0">PlayerRating</a> ()</td></tr>
<tr class="separator:a11629a639fe20456063545f2ad5e67e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc905369bcaeaee1335fd7774924af6b"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#abc905369bcaeaee1335fd7774924af6b">initialize</a> ()</td></tr>
<tr class="separator:abc905369bcaeaee1335fd7774924af6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f4c4de2ab3bda963b6f965e1e75abd5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a5f4c4de2ab3bda963b6f965e1e75abd5">update</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> &gt; matches, float system=1.2f)</td></tr>
<tr class="separator:a5f4c4de2ab3bda963b6f965e1e75abd5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a131ea4ecc82c7c3adb685b7d1c7c0830"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a131ea4ecc82c7c3adb685b7d1c7c0830">initialize</a> ()</td></tr>
<tr class="separator:a131ea4ecc82c7c3adb685b7d1c7c0830"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0aee591c8865c53dc59524d4bed1e831"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a0aee591c8865c53dc59524d4bed1e831">update</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> &gt; matches, float system=1.2f)</td></tr>
<tr class="separator:a0aee591c8865c53dc59524d4bed1e831"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-attribs" name="pub-attribs"></a>
Public Attributes</h2></td></tr>
<tr class="memitem:a829782cc82ebbf81cedcb22cdc4d2870"><td class="memItemLeft" align="right" valign="top">float?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a829782cc82ebbf81cedcb22cdc4d2870">estimatedRating</a></td></tr>
<tr class="separator:a829782cc82ebbf81cedcb22cdc4d2870"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a08251ff4b0554699251cefac5d8ceef9"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a08251ff4b0554699251cefac5d8ceef9">volatility</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a08251ff4b0554699251cefac5d8ceef9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae42f6e8f3762456090cba481cf3dd490"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#ae42f6e8f3762456090cba481cf3dd490">deviation</a><code> [get, protected set]</code></td></tr>
<tr class="separator:ae42f6e8f3762456090cba481cf3dd490"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a828bbc178c2654b1e2eff73fcb88237d"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a828bbc178c2654b1e2eff73fcb88237d">rating</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a828bbc178c2654b1e2eff73fcb88237d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad85bc0842883152a3d5ac6410b28c794"><td class="memItemLeft" align="right" valign="top">virtual float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#ad85bc0842883152a3d5ac6410b28c794">winChancePercent</a><code> [get]</code></td></tr>
<tr class="separator:ad85bc0842883152a3d5ac6410b28c794"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">PokemonEssentials.Interface.Battle.IPlayerRating</a></td></tr>
<tr class="memitem:a1f3162e0d9ba2cf3145211063d15896b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a1f3162e0d9ba2cf3145211063d15896b">volatility</a><code> [get]</code></td></tr>
<tr class="separator:a1f3162e0d9ba2cf3145211063d15896b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a255945c3a27c91f5559fefa51e1adbbc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a255945c3a27c91f5559fefa51e1adbbc">deviation</a><code> [get]</code></td></tr>
<tr class="separator:a255945c3a27c91f5559fefa51e1adbbc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8d1c34aeaabcb80c5a5a20bb06f1c82 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#ae8d1c34aeaabcb80c5a5a20bb06f1c82">rating</a><code> [get]</code></td></tr>
<tr class="separator:ae8d1c34aeaabcb80c5a5a20bb06f1c82 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32b85adc73fb6fbe7ef6b17d2431e0e0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a32b85adc73fb6fbe7ef6b17d2431e0e0">winChancePercent</a><code> [get]</code></td></tr>
<tr class="separator:a32b85adc73fb6fbe7ef6b17d2431e0e0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a11629a639fe20456063545f2ad5e67e0" name="a11629a639fe20456063545f2ad5e67e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11629a639fe20456063545f2ad5e67e0">&#9670;&#160;</a></span>PlayerRating()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.PlayerRating.PlayerRating </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abc905369bcaeaee1335fd7774924af6b" name="abc905369bcaeaee1335fd7774924af6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc905369bcaeaee1335fd7774924af6b">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonUnity.PlayerRating.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a131ea4ecc82c7c3adb685b7d1c7c0830">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

<p>Reimplemented in <a class="el" href="class_pokemon_unity_1_1_player_rating_elo.cshtml#a2120c247ac4863bbeba4e4f49fd7b508">PokemonUnity.PlayerRatingElo</a>.</p>

</div>
</div>
<a id="a5f4c4de2ab3bda963b6f965e1e75abd5" name="a5f4c4de2ab3bda963b6f965e1e75abd5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f4c4de2ab3bda963b6f965e1e75abd5">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.PlayerRating.update </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> &gt;&#160;</td>
          <td class="paramname"><em>matches</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>system</em> = <code>1.2f</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a0aee591c8865c53dc59524d4bed1e831">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a829782cc82ebbf81cedcb22cdc4d2870" name="a829782cc82ebbf81cedcb22cdc4d2870"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a829782cc82ebbf81cedcb22cdc4d2870">&#9670;&#160;</a></span>estimatedRating</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">float? PokemonUnity.PlayerRating.estimatedRating</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae42f6e8f3762456090cba481cf3dd490" name="ae42f6e8f3762456090cba481cf3dd490"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae42f6e8f3762456090cba481cf3dd490">&#9670;&#160;</a></span>deviation</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.PlayerRating.deviation</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a255945c3a27c91f5559fefa51e1adbbc">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

</div>
</div>
<a id="a828bbc178c2654b1e2eff73fcb88237d" name="a828bbc178c2654b1e2eff73fcb88237d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a828bbc178c2654b1e2eff73fcb88237d">&#9670;&#160;</a></span>rating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.PlayerRating.rating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#ae8d1c34aeaabcb80c5a5a20bb06f1c82">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

</div>
</div>
<a id="a08251ff4b0554699251cefac5d8ceef9" name="a08251ff4b0554699251cefac5d8ceef9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08251ff4b0554699251cefac5d8ceef9">&#9670;&#160;</a></span>volatility</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.PlayerRating.volatility</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a1f3162e0d9ba2cf3145211063d15896b">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

</div>
</div>
<a id="ad85bc0842883152a3d5ac6410b28c794" name="ad85bc0842883152a3d5ac6410b28c794"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad85bc0842883152a3d5ac6410b28c794">&#9670;&#160;</a></span>winChancePercent</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual float PokemonUnity.PlayerRating.winChancePercent</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a32b85adc73fb6fbe7ef6b17d2431e0e0">PokemonEssentials.Interface.Battle.IPlayerRating</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_generator_8cs.cshtml">OrgBattleGenerator.cs</a></li>
</ul>

