@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml">NicknameClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.NicknameClause Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml">PokemonUnity.NicknameClause</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml#a96bbcdf3680aae2297d9f719620fc2a3">errorMessage</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml">PokemonUnity.NicknameClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml#a99c3330acdf81b3275408ce056f62597">isValid</a>(PokemonEssentials.Interface.PokeBattle.IPokemon[] team)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml">PokemonUnity.NicknameClause</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">PokemonEssentials::Interface::Battle::IBattleTeamRestriction.isValid</a>(IPokemon[] team)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td><td class="entry"></td></tr>
</table>
