@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.PC_Refactor Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PC_Refactor</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_p_c___refactor-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PC_Refactor Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4c9957c047c81d187db9bc4e98162350"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a4c9957c047c81d187db9bc4e98162350">PC_Refactor</a> ()</td></tr>
<tr class="separator:a4c9957c047c81d187db9bc4e98162350"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adfb34dc0e295a2ca19446fd7352ce6fd"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#adfb34dc0e295a2ca19446fd7352ce6fd">PC_Refactor</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[][] pkmns=null, KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[] items=null, byte? box=null, string[] names=null, int[] textures=null)</td></tr>
<tr class="separator:adfb34dc0e295a2ca19446fd7352ce6fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2d108ef0b8f496e7fa09d6dae90f056"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ae2d108ef0b8f496e7fa09d6dae90f056">hasSpace</a> ()</td></tr>
<tr class="separator:ae2d108ef0b8f496e7fa09d6dae90f056"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e4582312fc81886386f27ca6fabeb06"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a5e4582312fc81886386f27ca6fabeb06">getBoxCount</a> ()</td></tr>
<tr class="separator:a5e4582312fc81886386f27ca6fabeb06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae16b2c5a93ad8d3a448b8bf3ab173cc9"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ae16b2c5a93ad8d3a448b8bf3ab173cc9">getIndexOfFirstEmpty</a> ()</td></tr>
<tr class="separator:ae16b2c5a93ad8d3a448b8bf3ab173cc9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeeef17442fa264e6525d99a6ef46998c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#aeeef17442fa264e6525d99a6ef46998c">getBoxCount</a> (int box)</td></tr>
<tr class="separator:aeeef17442fa264e6525d99a6ef46998c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acafaa4691b3f945d91f30c0ade70d6ea"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#acafaa4691b3f945d91f30c0ade70d6ea">removePokemon</a> (int boxID, int pkmnID)</td></tr>
<tr class="separator:acafaa4691b3f945d91f30c0ade70d6ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a9be26fb88a6aa59168b54422991b94"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a7a9be26fb88a6aa59168b54422991b94">addPokemon</a> (int box, int position, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> pokemon)</td></tr>
<tr class="separator:a7a9be26fb88a6aa59168b54422991b94"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a4339f061b65953dd878745a9a42114"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; int, int &gt;?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a7a4339f061b65953dd878745a9a42114">addPokemon</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> acquiredPokemon)</td></tr>
<tr class="memdesc:a7a4339f061b65953dd878745a9a42114"><td class="mdescLeft">&#160;</td><td class="mdescRight">Add a new pokemon directly to active box.   <a href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a7a4339f061b65953dd878745a9a42114">More...</a><br /></td></tr>
<tr class="separator:a7a4339f061b65953dd878745a9a42114"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af8ae3bb02ecace61bc909ead4880e308"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#af8ae3bb02ecace61bc909ead4880e308">swapPokemon</a> (int box1, int pos1, int box2, int pos2)</td></tr>
<tr class="separator:af8ae3bb02ecace61bc909ead4880e308"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab1b4afaf62467e6645fed71fc0332530"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ab1b4afaf62467e6645fed71fc0332530">AllBoxes</a><code> [get]</code></td></tr>
<tr class="separator:ab1b4afaf62467e6645fed71fc0332530"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adeae7ec211d63cc9007267e997394e30"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#adeae7ec211d63cc9007267e997394e30">ActiveBox</a><code> [get]</code></td></tr>
<tr class="separator:adeae7ec211d63cc9007267e997394e30"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68d814ab42a207d1b12294a633bbea0f"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a68d814ab42a207d1b12294a633bbea0f">BoxNames</a><code> [get]</code></td></tr>
<tr class="separator:a68d814ab42a207d1b12294a633bbea0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8348d6815f36dcd291872d1683472592"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a8348d6815f36dcd291872d1683472592">BoxTextures</a><code> [get]</code></td></tr>
<tr class="separator:a8348d6815f36dcd291872d1683472592"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ec3f452e3fe1c2942aa5d47c86b26be"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a4ec3f452e3fe1c2942aa5d47c86b26be">Name</a><code> [get]</code></td></tr>
<tr class="separator:a4ec3f452e3fe1c2942aa5d47c86b26be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0b05f282da81302cd58591f5b8e7924e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a0b05f282da81302cd58591f5b8e7924e">Texture</a><code> [get]</code></td></tr>
<tr class="separator:a0b05f282da81302cd58591f5b8e7924e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29cbfee154c7d458d7302032a3eb641b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#a29cbfee154c7d458d7302032a3eb641b">Pokemons</a><code> [get]</code></td></tr>
<tr class="separator:a29cbfee154c7d458d7302032a3eb641b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af22c936717336085e49cdbf8991ca93f"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#af22c936717336085e49cdbf8991ca93f">Items</a><code> [get]</code></td></tr>
<tr class="separator:af22c936717336085e49cdbf8991ca93f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1a6f1510c64e9ab76f9493a6d3a49c2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PC_Refactor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml#ad1a6f1510c64e9ab76f9493a6d3a49c2">this[byte i]</a><code> [get]</code></td></tr>
<tr class="separator:ad1a6f1510c64e9ab76f9493a6d3a49c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a4c9957c047c81d187db9bc4e98162350" name="a4c9957c047c81d187db9bc4e98162350"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c9957c047c81d187db9bc4e98162350">&#9670;&#160;</a></span>PC_Refactor() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PC_Refactor.PC_Refactor </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adfb34dc0e295a2ca19446fd7352ce6fd" name="adfb34dc0e295a2ca19446fd7352ce6fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adfb34dc0e295a2ca19446fd7352ce6fd">&#9670;&#160;</a></span>PC_Refactor() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PC_Refactor.PC_Refactor </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmns</em>[][] = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[]&#160;</td>
          <td class="paramname"><em>items</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte?&#160;</td>
          <td class="paramname"><em>box</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>names</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>textures</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7a9be26fb88a6aa59168b54422991b94" name="a7a9be26fb88a6aa59168b54422991b94"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a9be26fb88a6aa59168b54422991b94">&#9670;&#160;</a></span>addPokemon() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC_Refactor.addPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7a4339f061b65953dd878745a9a42114" name="a7a4339f061b65953dd878745a9a42114"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a4339f061b65953dd878745a9a42114">&#9670;&#160;</a></span>addPokemon() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt; int, int &gt;? PokemonUnity.Character.PC_Refactor.addPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>acquiredPokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Add a new pokemon directly to active box.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">acquiredPokemon</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns position of stored pokemon. If pokemon could not be added return null. </dd></dl>

</div>
</div>
<a id="a5e4582312fc81886386f27ca6fabeb06" name="a5e4582312fc81886386f27ca6fabeb06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e4582312fc81886386f27ca6fabeb06">&#9670;&#160;</a></span>getBoxCount() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC_Refactor.getBoxCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeeef17442fa264e6525d99a6ef46998c" name="aeeef17442fa264e6525d99a6ef46998c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeeef17442fa264e6525d99a6ef46998c">&#9670;&#160;</a></span>getBoxCount() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC_Refactor.getBoxCount </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae16b2c5a93ad8d3a448b8bf3ab173cc9" name="ae16b2c5a93ad8d3a448b8bf3ab173cc9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae16b2c5a93ad8d3a448b8bf3ab173cc9">&#9670;&#160;</a></span>getIndexOfFirstEmpty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.PC_Refactor.getIndexOfFirstEmpty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae2d108ef0b8f496e7fa09d6dae90f056" name="ae2d108ef0b8f496e7fa09d6dae90f056"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2d108ef0b8f496e7fa09d6dae90f056">&#9670;&#160;</a></span>hasSpace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC_Refactor.hasSpace </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acafaa4691b3f945d91f30c0ade70d6ea" name="acafaa4691b3f945d91f30c0ade70d6ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acafaa4691b3f945d91f30c0ade70d6ea">&#9670;&#160;</a></span>removePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC_Refactor.removePokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnID</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af8ae3bb02ecace61bc909ead4880e308" name="af8ae3bb02ecace61bc909ead4880e308"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8ae3bb02ecace61bc909ead4880e308">&#9670;&#160;</a></span>swapPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PC_Refactor.swapPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pos1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pos2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adeae7ec211d63cc9007267e997394e30" name="adeae7ec211d63cc9007267e997394e30"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adeae7ec211d63cc9007267e997394e30">&#9670;&#160;</a></span>ActiveBox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.PC_Refactor.ActiveBox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab1b4afaf62467e6645fed71fc0332530" name="ab1b4afaf62467e6645fed71fc0332530"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1b4afaf62467e6645fed71fc0332530">&#9670;&#160;</a></span>AllBoxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> [][] PokemonUnity.Character.PC_Refactor.AllBoxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a68d814ab42a207d1b12294a633bbea0f" name="a68d814ab42a207d1b12294a633bbea0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68d814ab42a207d1b12294a633bbea0f">&#9670;&#160;</a></span>BoxNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonUnity.Character.PC_Refactor.BoxNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8348d6815f36dcd291872d1683472592" name="a8348d6815f36dcd291872d1683472592"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8348d6815f36dcd291872d1683472592">&#9670;&#160;</a></span>BoxTextures</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Character.PC_Refactor.BoxTextures</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af22c936717336085e49cdbf8991ca93f" name="af22c936717336085e49cdbf8991ca93f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af22c936717336085e49cdbf8991ca93f">&#9670;&#160;</a></span>Items</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int&gt; [] PokemonUnity.Character.PC_Refactor.Items</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>
<p >ToDo: Add filter to add/remove items... </p>

</div>
</div>
<a id="a4ec3f452e3fe1c2942aa5d47c86b26be" name="a4ec3f452e3fe1c2942aa5d47c86b26be"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ec3f452e3fe1c2942aa5d47c86b26be">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.PC_Refactor.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a29cbfee154c7d458d7302032a3eb641b" name="a29cbfee154c7d458d7302032a3eb641b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29cbfee154c7d458d7302032a3eb641b">&#9670;&#160;</a></span>Pokemons</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> [] PokemonUnity.Character.PC_Refactor.Pokemons</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0b05f282da81302cd58591f5b8e7924e" name="a0b05f282da81302cd58591f5b8e7924e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b05f282da81302cd58591f5b8e7924e">&#9670;&#160;</a></span>Texture</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC_Refactor.Texture</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1a6f1510c64e9ab76f9493a6d3a49c2" name="ad1a6f1510c64e9ab76f9493a6d3a49c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1a6f1510c64e9ab76f9493a6d3a49c2">&#9670;&#160;</a></span>this[byte i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PC_Refactor</a> PokemonUnity.Character.PC_Refactor.this[byte i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_p_c_8cs.cshtml">PC.cs</a></li>
</ul>
