@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">UseFromBagEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.UseFromBagEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">PokemonUnity.UseFromBagEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#ac4c4c8e0d78b37b5043a8ce2f444d4a9">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">PokemonUnity.UseFromBagEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#a842752349f5bea1af18e722b46f63dae">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">PokemonUnity.UseFromBagEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#aa1f8156b32e7227a454df4ca9a78307c">Item</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">PokemonUnity.UseFromBagEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#a194ca6251b7a3b66dfac76ba10253883">Response</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml">PokemonUnity.UseFromBagEventArgs</a></td><td class="entry"></td></tr>
</table>
