@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml">MaximumLevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.MaximumLevelRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml">PokemonUnity.MaximumLevelRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml#acf6a8759340505097aa180caa39e4c17">isValid</a>(PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml">PokemonUnity.MaximumLevelRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">PokemonEssentials::Interface::Battle::IBattleRestriction.isValid</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml#ad58a47744698fea2ef576a1f9ce7c71d">level</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml">PokemonUnity.MaximumLevelRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml#a7d069f739079d8c55d975895c393a64e">MaximumLevelRestriction</a>(int maxLevel)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml">PokemonUnity.MaximumLevelRestriction</a></td><td class="entry"></td></tr>
</table>