@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml">UX</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">Scene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.UX.Scene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#adcc6c926e584c82c480ad90239027e9a">Bag</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a1eb21264ae8d31370d1a1908447fc14b">Bag_ItemStore</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a820b1a7360b7994b5bec3a8824e5d4a8">Bag_ItemToss</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a4f1abce38acf821976c5130a624bab16">Bag_ItemWithdraw</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a106a6028daf4809edeb64a513f1e8039">BattleArenaScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#ae20c257a69d96059bb5b1af6bada7138">BattleScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a0521c9410981f7130b43a4a4e564e29b">BattleSceneDebug</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a5ee35facd2556f25c19a467aadfa93cc">BattleSceneDebugNoUI</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a00d61325d7898b628a5c9b291f345203">BattleSceneDebugWithoutGfx</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a2dcc69390086bf01f743d95f26308a89">BattleSceneDebugWithoutLog</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a0f3188da049a897b44777f6585a860a1">BattleSwapScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a00bf25fe5e0ffd92184c10550155839f">EvolvingScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#ab518880afdf9db3555158531edff32e1">initialize</a>(params PokemonEssentials.Interface.Screen.IScene[] scenes)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_scenes_u_i.cshtml#ad6a9822feb897ab25a244f9ce1eb3fe8">PokemonEssentials::Interface::Screen::IGameScenesUI.initialize</a>(params PokemonEssentials.Interface.Screen.IScene[] scenes)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_scenes_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScenesUI</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a469aa8c067ddc39be6aa8b1aa1d25784">IntroScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a8efdc4d698d671c4d360277a10c0fea1">Load</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#ae2833869a876748f28c8efdec91638eb">Mart</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a36d8e9aa9aa3e7ffc2ce220a394fc550">OptionScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a08f30ee72998036399d2513a23e8edc9">Party</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a7cfbb7ab1e3d282f942bc17754fd2ba6">PauseMenuScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a4d4437779eee76a36262d053b378fab5">PokedexFormScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#acf0f9b70cc0959f67ccee86e7ddb84b9">PokedexNestScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a839f7968d5bf779abf323a1c35aa3597">PokedexScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a137f2c071bf563f06bb21d33969d0496">PokeGear</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a197030ced53a88ae7ba173bae1d50eb3">PokemonStorageScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a95ffbaaf3e7034eebf6aacffc65b52da">PurityChamber</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#aff85ae9638dc7cfc9e3647cf36d10b44">RelicStone</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#ac706dcd36f5b2e9849b489a79286589a">Save</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#ad0f7f06414b7ec9f2bc1f24aa01b2181">Scene</a>(params PokemonEssentials.Interface.Screen.IScene[] scenes)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a08319ed1a8fdb4fe265956be0f3fb2aa">Summary</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#a2299cdfbcf605ca852e64184cad8cdc5">TextEntryScene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#aa533c06aaa898254ce83d2293c77b11d">TrainerCard</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">PokemonUnity.UX.Scene</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
