@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_input.cshtml">Input</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">ButtonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Input.ButtonEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#aa0181294c85a0dea6f4e41104602d107">Button</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#ab92dbaa346a4d60327b6c1c8e203d017">ButtonEventArgs</a>(int button, bool isDown)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#a74e8f5c1f4ff8f4321730ee80a5ce0ad">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#a266a8473e6add6b8a13616040f0e0a87">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#aa992afceee66fa191edc7e5dd24eed54">IsDown</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">PokemonUnity.Input.ButtonEventArgs</a></td><td class="entry"></td></tr>
</table>
