@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">OnCatchEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnCatchEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#aff256b2229d9499c71b7b5a6827ccf53">Ball</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a3942e8c67aeefb5e6cec64a56b361f12">Battle</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a90712ccd543512dd296baae1883422fe">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#abf3b0c54a26876b28afa0bde82067cdc">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a1785cf06d9a8037b766587f3a444c638">Pokemon</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">PokemonUnity.EventArg.OnCatchEventArgs</a></td><td class="entry"></td></tr>
</table>
