@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">OnSpritesetCreateEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnSpritesetCreateEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a62702fbe5e0e71e3db01123a3ce29057">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a339d13fda5d1f38d2762000c43174112">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#ad6c162b42ab83af31f5272ba5b31cc90">MapId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a4c46507678ab5f4d48a38ec3c301037d">SpritesetId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a79e59e68e58dec77f1568b2da130bc6d">Viewport</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a></td><td class="entry"></td></tr>
</table>