@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">Kernal</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Kernal Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a339831f654ab732388199610f93d700c">AreaData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#acbd0db86b612895655e2b00726fd338c">BadgeData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a7b82e62083ed88d468c2d9a8fbcdca1b">BerryData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#ad307bf22ff4a18dc891d126bc7a6159f">EncounterData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#aee0e11cecb8b77a303584aadf88e5cfa">HiddenMoveData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a533a7469b2d4af7fb55c0ac1b55339ce">ItemData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a1326f3b10c23277bea4711b61daa661f">LocationData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#add3d6751528dd435735fe3caff2e0cba">MachineData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a6cb6bda8c1343a52626f18ff02cfea41">MethodData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#aeb22c9bfb3a57b0b0b1f6b80690e324f">MoveData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a1ef147dc5d6eb00757d3a817ee3b3502">MoveEffectData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#aa1959aeb2889cd11ec5c1fc4dc45dd38">MoveMetaData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a4756b80964dfdbdab853e155363880d8">NatureData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a529ee912935c2a7098a59ee0d3813e99">PokedexData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a724edbc9b7239ae3f0e4683f5381c007">PokemonData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a98da50e319d8e8eb991e68de2cd40b09">PokemonEvolutionsData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a16dad575e6c7a923a345050df11012ec">PokemonFormsData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a04a290af3113241a6995df4d23f07c48">PokemonItemsData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#ad16f088394a5a23124f3d9a83dfd936e">PokemonMovesData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a20492df50eaaea9ae5c7fce04e3a94be">RegionData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a133ed96f7a0a5cb27da26ef7483654a0">TrainerMetaData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml#a319a4fddbf78f221b2a51b25efd0c912">TypeData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_kernal.cshtml">PokemonUnity.Kernal</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
</table>
