@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PCItemStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.PCItemStorage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ac6470bcaa0fa4da5af1eb553b5341579">empty</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ab2feaf3ca8f62eadac7e112270a0de04">getCount</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#abe5a67c3a3e067cb5681848ebb67b5e1">getItem</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#af36419b3abfc9b38fe5993b91f8dc262">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a32e97dc532b7bde267e9f8a10755e12e">length</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a75d53e8a04a8f4142e4936fb218d0c9a">MAXPERSLOT</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a1f5d2ac4bf8462c532ce67bdf4e875db">MAXSIZE</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ac6b84822e6f80070372f402a4a597e56">pbCanStore</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a08cb0daf9bbb9e02ef20b4be710f6c75">pbDeleteItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a02049f9e5c8799dd96a37a55ba64f1a4">pbQuantity</a>(Items item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#adb79b6df39a3d2698fd0f12dff40560b">pbStoreItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a333755e7433ee607cdb7b187de94d416">PCItemStorage</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a5f23b8f429e5672f4c558c4431279d1d">this[int i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PokemonUnity.Character.PCItemStorage</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
