@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">NicknameChecker</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.NicknameChecker Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">PokemonUnity.NicknameChecker</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#ac60f044f3d539e26d49fd4d215fd6a90">check</a>(string name, Pokemons species)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">PokemonUnity.NicknameChecker</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a6195404e4b18895e91040c530c639f09">getName</a>(Pokemons species)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">PokemonUnity.NicknameChecker</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a5da3fa848ee51151ce7e31e383cfbb44">names</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">PokemonUnity.NicknameChecker</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#aece7f90313dcd37c8179e98846fe0029">namesMaxValue</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">PokemonUnity.NicknameChecker</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
</table>