@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.EventArg.OnCatchEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">OnCatchEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnCatchEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnCatchEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.png" usemap="#PokemonUnity.EventArg.OnCatchEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnCatchEventArgs_map" name="PokemonUnity.EventArg.OnCatchEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IOnCatchEventArgs" shape="rect" coords="356,56,702,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="356,0,702,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a90712ccd543512dd296baae1883422fe"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a90712ccd543512dd296baae1883422fe">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">OnCatchEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a90712ccd543512dd296baae1883422fe"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:abf3b0c54a26876b28afa0bde82067cdc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#abf3b0c54a26876b28afa0bde82067cdc">Id</a><code> [get]</code></td></tr>
<tr class="separator:abf3b0c54a26876b28afa0bde82067cdc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff256b2229d9499c71b7b5a6827ccf53"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#aff256b2229d9499c71b7b5a6827ccf53">Ball</a><code> [get, set]</code></td></tr>
<tr class="separator:aff256b2229d9499c71b7b5a6827ccf53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3942e8c67aeefb5e6cec64a56b361f12"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a3942e8c67aeefb5e6cec64a56b361f12">Battle</a><code> [get, set]</code></td></tr>
<tr class="separator:a3942e8c67aeefb5e6cec64a56b361f12"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1785cf06d9a8037b766587f3a444c638"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a1785cf06d9a8037b766587f3a444c638">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:a1785cf06d9a8037b766587f3a444c638"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnCatchEventArgs</a></td></tr>
<tr class="memitem:a7102c1ad6b9200e003b084d4df707cc9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#a7102c1ad6b9200e003b084d4df707cc9">Ball</a><code> [get, set]</code></td></tr>
<tr class="separator:a7102c1ad6b9200e003b084d4df707cc9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae75f1f7a109b37e56ed38a0353141269 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#ae75f1f7a109b37e56ed38a0353141269">Battle</a><code> [get, set]</code></td></tr>
<tr class="separator:ae75f1f7a109b37e56ed38a0353141269 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35df839f2377f321dc49688046744be4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#a35df839f2377f321dc49688046744be4">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:a35df839f2377f321dc49688046744be4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a90712ccd543512dd296baae1883422fe" name="a90712ccd543512dd296baae1883422fe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90712ccd543512dd296baae1883422fe">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnCatchEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml">OnCatchEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aff256b2229d9499c71b7b5a6827ccf53" name="aff256b2229d9499c71b7b5a6827ccf53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff256b2229d9499c71b7b5a6827ccf53">&#9670;&#160;</a></span>Ball</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.EventArg.OnCatchEventArgs.Ball</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#a7102c1ad6b9200e003b084d4df707cc9">PokemonEssentials.Interface.EventArg.IOnCatchEventArgs</a>.</p>

</div>
</div>
<a id="a3942e8c67aeefb5e6cec64a56b361f12" name="a3942e8c67aeefb5e6cec64a56b361f12"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3942e8c67aeefb5e6cec64a56b361f12">&#9670;&#160;</a></span>Battle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> PokemonUnity.EventArg.OnCatchEventArgs.Battle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#ae75f1f7a109b37e56ed38a0353141269">PokemonEssentials.Interface.EventArg.IOnCatchEventArgs</a>.</p>

</div>
</div>
<a id="abf3b0c54a26876b28afa0bde82067cdc" name="abf3b0c54a26876b28afa0bde82067cdc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf3b0c54a26876b28afa0bde82067cdc">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnCatchEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a1785cf06d9a8037b766587f3a444c638" name="a1785cf06d9a8037b766587f3a444c638"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1785cf06d9a8037b766587f3a444c638">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonUnity.EventArg.OnCatchEventArgs.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml#a35df839f2377f321dc49688046744be4">PokemonEssentials.Interface.EventArg.IOnCatchEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_pokeball_8cs.cshtml">Item.Pokeball.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
