@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">SafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.SafariState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a26db933bc0619b87b509dabe7c774388">ballcount</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a6f2b28cbe3c49562055de4ebf75e5bbc">decision</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a9c1468eb70c2d98d1cb31155bf2e8800">End</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#ae1e01d43d5dd1179ca19a4e3021b2094">Events_OnMapChange</a>(object sender, IOnMapChangeEventArgs e)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"><span class="mlabel">protected</span><span class="mlabel">virtual</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a824f37c59395ab8e6d435eacc6d40ae7">Events_OnStepTakenTransferPossible</a>(object sender, IOnStepTakenTransferPossibleEventArgs e)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"><span class="mlabel">protected</span><span class="mlabel">virtual</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a8b32dc5c13c1712b6fc1d351e6d9d3ee">Events_OnWildBattleOverride</a>(object sender, IOnWildBattleOverrideEventArgs e)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"><span class="mlabel">protected</span><span class="mlabel">virtual</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#aff84509de640b6009d55a709d7990664">GoToStart</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afe434ad00739acf81d82bdf447d2d084">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a10466f870e37fcbd339cacfedf57e213">InProgress</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afca4f937ed7a8e05c2b4ac864f56c300">ReceptionMap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a8e54d3375b4ed0b024a36a3442fc2959">SafariState</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a837c8487f1baf2770d6c2df75444c1c4">Start</a>(int ballcount_)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afb726bbc6ac388f3b8fa16adbd2721e1">steps</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
