@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokeBattle_NullBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_NullBattlePeer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#ade4f93f90808cb6af40cadb5178d0ec6">BoxName</a>(int box)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a4bc7719ca1f51387206b996759d760c1">CurrentBox</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a812e157d827efc83c56aac193adab39b">GetStorageCreator</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#aa12c585e6d1ef5fbe115f99388e24e12">OnEnteringBattle</a>(PokemonEssentials.Interface.PokeBattle.IBattle battle, PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#a7c94860b41bc14afa59f69731a32fe36">PokemonEssentials::Interface::PokeBattle::IBattlePeerMultipleForms.OnEnteringBattle</a>(IBattle battle, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a7e7f75f3688d9557885b6c5f559d2b8d">StorePokemon</a>(PokemonEssentials.Interface.PokeBattle.ITrainer player, PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a3c014695eb1c1d55d5b2a08e5827cc76">PokemonEssentials::Interface::PokeBattle::IBattlePeer.StorePokemon</a>(ITrainer player, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a></td><td class="entry"></td></tr>
</table>
