@{
	Page.Title = "PokemonUnity.Monster.PokeBattle_RealBattlePeer Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml">PokeBattle_RealBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_RealBattlePeer Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Monster.PokeBattle_RealBattlePeer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.png" usemap="#PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map" alt=""/>
  <map id="PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map" name="PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeer" shape="rect" coords="0,0,380,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml" title="Extension of IBattlePeer" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms" shape="rect" coords="390,0,770,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1a2803c23df59c2971c1960106164bad"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a1a2803c23df59c2971c1960106164bad">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a1a2803c23df59c2971c1960106164bad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1847f5b90a934c724092668181b2dd0d"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a1847f5b90a934c724092668181b2dd0d">GetStorageCreator</a> ()</td></tr>
<tr class="separator:a1847f5b90a934c724092668181b2dd0d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e0f7e371fa54a4d5e9a253fc122d1c4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a9e0f7e371fa54a4d5e9a253fc122d1c4">CurrentBox</a> ()</td></tr>
<tr class="separator:a9e0f7e371fa54a4d5e9a253fc122d1c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab53f887d35a0302476e3ac352b1aa7b"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#aab53f887d35a0302476e3ac352b1aa7b">BoxName</a> (int box)</td></tr>
<tr class="separator:aab53f887d35a0302476e3ac352b1aa7b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9c450ee9618e356e6fcec65fe573c02"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#ac9c450ee9618e356e6fcec65fe573c02">OnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:ac9c450ee9618e356e6fcec65fe573c02"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c014695eb1c1d55d5b2a08e5827cc76"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a3c014695eb1c1d55d5b2a08e5827cc76">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a3c014695eb1c1d55d5b2a08e5827cc76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adcefd4613d159875a796a1f927fe91d3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#adcefd4613d159875a796a1f927fe91d3">GetStorageCreator</a> ()</td></tr>
<tr class="separator:adcefd4613d159875a796a1f927fe91d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73f5f4d36e654abc1135b1f6c7d0c577"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a73f5f4d36e654abc1135b1f6c7d0c577">CurrentBox</a> ()</td></tr>
<tr class="separator:a73f5f4d36e654abc1135b1f6c7d0c577"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bbf695a65d83066870b056183b4a23f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5bbf695a65d83066870b056183b4a23f">BoxName</a> (int box)</td></tr>
<tr class="separator:a5bbf695a65d83066870b056183b4a23f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c94860b41bc14afa59f69731a32fe36"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#a7c94860b41bc14afa59f69731a32fe36">OnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a7c94860b41bc14afa59f69731a32fe36"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aab53f887d35a0302476e3ac352b1aa7b" name="aab53f887d35a0302476e3ac352b1aa7b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab53f887d35a0302476e3ac352b1aa7b">&#9670;&#160;</a></span>BoxName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_RealBattlePeer.BoxName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5bbf695a65d83066870b056183b4a23f">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a9e0f7e371fa54a4d5e9a253fc122d1c4" name="a9e0f7e371fa54a4d5e9a253fc122d1c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e0f7e371fa54a4d5e9a253fc122d1c4">&#9670;&#160;</a></span>CurrentBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_RealBattlePeer.CurrentBox </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a73f5f4d36e654abc1135b1f6c7d0c577">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a1847f5b90a934c724092668181b2dd0d" name="a1847f5b90a934c724092668181b2dd0d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1847f5b90a934c724092668181b2dd0d">&#9670;&#160;</a></span>GetStorageCreator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_RealBattlePeer.GetStorageCreator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#adcefd4613d159875a796a1f927fe91d3">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="ac9c450ee9618e356e6fcec65fe573c02" name="ac9c450ee9618e356e6fcec65fe573c02"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9c450ee9618e356e6fcec65fe573c02">&#9670;&#160;</a></span>OnEnteringBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Monster.PokeBattle_RealBattlePeer.OnEnteringBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#a7c94860b41bc14afa59f69731a32fe36">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms</a>.</p>

</div>
</div>
<a id="a1a2803c23df59c2971c1960106164bad" name="a1a2803c23df59c2971c1960106164bad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a2803c23df59c2971c1960106164bad">&#9670;&#160;</a></span>StorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_RealBattlePeer.StorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a3c014695eb1c1d55d5b2a08e5827cc76">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following files:<ul>
<li>PokemonUnity.Application/Monster/<a class="el" href="_battle_peer_8cs.cshtml">BattlePeer.cs</a></li>
<li>PokemonUnity.Application/Monster/Pokemon/<a class="el" href="_pokemon_8_form_8cs.cshtml">Pokemon.Form.cs</a></li>
</ul>

