@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">MoveEffectData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Combat.MoveEffectData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#ad9235f7fadd14243ac7ad4f8d2a80085">Add</a>(Attack.Data.Effects key, IBattleMove value)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a81b3520470f1c0903c9473310d2bce0b">Add</a>(KeyValuePair&lt; Attack.Data.Effects, IBattleMove &gt; item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8b3d78916ab552d79d80d5cbeb94b6d9">Clear</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a2c6bbef0e8d02422d24307b51ccf8908">Contains</a>(KeyValuePair&lt; Attack.Data.Effects, IBattleMove &gt; item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#ac298c82f9908bafc59be938a0bd18906">ContainsKey</a>(Attack.Data.Effects key)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a6764e62f87ce24f1feab2d2e73caa775">CopyTo</a>(KeyValuePair&lt; Attack.Data.Effects, IBattleMove &gt;[] array, int arrayIndex)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a7ce912ef2136f542a791e97df8bedbcf">Count</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a0b439d7c9285970f276d5d3c4ece5457">GetEnumerator</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a595708e99a11437ccbf3048472447c97">IsReadOnly</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#af387d2e3c27326ce63bae7d656ad62d3">Keys</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8413e6f0d3fb76e40e2ed5feeea2e3d6">MoveEffectData</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8ac161e071d011739a8b7745c9898ec9">Remove</a>(Attack.Data.Effects key)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a8126aed783c358edbfe8cc549b28a42e">Remove</a>(KeyValuePair&lt; Attack.Data.Effects, IBattleMove &gt; item)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a547836ba11222335ecf0361cc17c3106">this[Attack.Data.Effects key]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a7b81dd1924c28799c4a9d9e96e84a2c4">TryGetValue</a>(Attack.Data.Effects key, out IBattleMove value)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#a47e67ce20286696c38d0354be77abf41">Values</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml">PokemonUnity.Combat.MoveEffectData</a></td><td class="entry"></td></tr>
</table>