@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming.cshtml">Incoming</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml">IAuthenticatePacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-types">Public Types</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.png" usemap="#PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket_map" alt=""/>
  <map id="PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket_map" name="PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket_map">
<area href="interface_pokemon_unity_1_1_networking_1_1_packets_1_1_i_in_packet.cshtml" alt="PokemonUnity.Networking.Packets.IInPacket" shape="rect" coords="0,0,375,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-types" name="pub-types"></a>
Public Types</h2></td></tr>
<tr class="memitem:ae8e2729a3bc5ec4a5a6da7f8e3f594ea"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">AuthOptions</a> </td></tr>
<tr class="separator:ae8e2729a3bc5ec4a5a6da7f8e3f594ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae9dffff50df957fc272529b200afbb9f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">AuthOptions</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae9dffff50df957fc272529b200afbb9f">Authenticated</a><code> [get]</code></td></tr>
<tr class="separator:ae9dffff50df957fc272529b200afbb9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab30022d9068016c240f5d436f468f290"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ab30022d9068016c240f5d436f468f290">AuthenticationKey</a><code> [get]</code></td></tr>
<tr class="separator:ab30022d9068016c240f5d436f468f290"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Enumeration Documentation</h2>
<a id="ae8e2729a3bc5ec4a5a6da7f8e3f594ea" name="ae8e2729a3bc5ec4a5a6da7f8e3f594ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">&#9670;&#160;</a></span>AuthOptions</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket.AuthOptions</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae9dffff50df957fc272529b200afbb9f" name="ae9dffff50df957fc272529b200afbb9f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae9dffff50df957fc272529b200afbb9f">&#9670;&#160;</a></span>Authenticated</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">AuthOptions</a> PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket.Authenticated</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab30022d9068016c240f5d436f468f290" name="ab30022d9068016c240f5d436f468f290"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab30022d9068016c240f5d436f468f290">&#9670;&#160;</a></span>AuthenticationKey</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket.AuthenticationKey</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Networking/Packets/Incoming/<a class="el" href="_i_authenticate_packet_8cs.cshtml">IAuthenticatePacket.cs</a></li>
</ul>

