@{
	Page.Title = "PokemonUnity.Character.PCItemStorage Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PCItemStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PCItemStorage Class Reference</div></div>
}


<p>The PC item storage object, which actually contains all the items   
 <a href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.PCItemStorage:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.png" usemap="#PokemonUnity.Character.PCItemStorage_map" alt=""/>
  <map id="PokemonUnity.Character.PCItemStorage_map" name="PokemonUnity.Character.PCItemStorage_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml" title="The PC item storage object, which actually contains all the items" alt="PokemonEssentials.Interface.Screen.IPCItemStorage" shape="rect" coords="0,0,308,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a333755e7433ee607cdb7b187de94d416"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a333755e7433ee607cdb7b187de94d416">PCItemStorage</a> ()</td></tr>
<tr class="separator:a333755e7433ee607cdb7b187de94d416"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af36419b3abfc9b38fe5993b91f8dc262"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#af36419b3abfc9b38fe5993b91f8dc262">initialize</a> ()</td></tr>
<tr class="separator:af36419b3abfc9b38fe5993b91f8dc262"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6470bcaa0fa4da5af1eb553b5341579"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ac6470bcaa0fa4da5af1eb553b5341579">empty</a> ()</td></tr>
<tr class="separator:ac6470bcaa0fa4da5af1eb553b5341579"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32e97dc532b7bde267e9f8a10755e12e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a32e97dc532b7bde267e9f8a10755e12e">length</a> ()</td></tr>
<tr class="separator:a32e97dc532b7bde267e9f8a10755e12e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abe5a67c3a3e067cb5681848ebb67b5e1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#abe5a67c3a3e067cb5681848ebb67b5e1">getItem</a> (int index)</td></tr>
<tr class="separator:abe5a67c3a3e067cb5681848ebb67b5e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2feaf3ca8f62eadac7e112270a0de04"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ab2feaf3ca8f62eadac7e112270a0de04">getCount</a> (int index)</td></tr>
<tr class="separator:ab2feaf3ca8f62eadac7e112270a0de04"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02049f9e5c8799dd96a37a55ba64f1a4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a02049f9e5c8799dd96a37a55ba64f1a4">pbQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a02049f9e5c8799dd96a37a55ba64f1a4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08cb0daf9bbb9e02ef20b4be710f6c75"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a08cb0daf9bbb9e02ef20b4be710f6c75">pbDeleteItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a08cb0daf9bbb9e02ef20b4be710f6c75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6b84822e6f80070372f402a4a597e56"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ac6b84822e6f80070372f402a4a597e56">pbCanStore</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:ac6b84822e6f80070372f402a4a597e56"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb79b6df39a3d2698fd0f12dff40560b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#adb79b6df39a3d2698fd0f12dff40560b">pbStoreItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:adb79b6df39a3d2698fd0f12dff40560b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49bd628a810d875e257d3a2c6bfb52d2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">IPCItemStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a49bd628a810d875e257d3a2c6bfb52d2">initialize</a> ()</td></tr>
<tr class="separator:a49bd628a810d875e257d3a2c6bfb52d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ad3d41bf7da0cbda04fabc2737b7989"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a8ad3d41bf7da0cbda04fabc2737b7989">empty</a> ()</td></tr>
<tr class="separator:a8ad3d41bf7da0cbda04fabc2737b7989"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab22cde3050c74c1028c73f47c6c3f3cb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ab22cde3050c74c1028c73f47c6c3f3cb">length</a> ()</td></tr>
<tr class="separator:ab22cde3050c74c1028c73f47c6c3f3cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a421a86fd69078e5a786871be915461aa"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a421a86fd69078e5a786871be915461aa">getItem</a> (int index)</td></tr>
<tr class="separator:a421a86fd69078e5a786871be915461aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0d76cfa7070e82348cd06fd6a9e4e85"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ac0d76cfa7070e82348cd06fd6a9e4e85">getCount</a> (int index)</td></tr>
<tr class="separator:ac0d76cfa7070e82348cd06fd6a9e4e85"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7be9e59f287cbfb5a78786e1464217bc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a7be9e59f287cbfb5a78786e1464217bc">pbQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a7be9e59f287cbfb5a78786e1464217bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa26a2c51ead993ba2870fc1f7efbf2da"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#aa26a2c51ead993ba2870fc1f7efbf2da">pbDeleteItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:aa26a2c51ead993ba2870fc1f7efbf2da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af119a25374b7fca691541132dd616af4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#af119a25374b7fca691541132dd616af4">pbCanStore</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:af119a25374b7fca691541132dd616af4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a48cf2082942c7921a62229221622cb77"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a48cf2082942c7921a62229221622cb77">pbStoreItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a48cf2082942c7921a62229221622cb77"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a1f5d2ac4bf8462c532ce67bdf4e875db"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a1f5d2ac4bf8462c532ce67bdf4e875db">MAXSIZE</a> = 50</td></tr>
<tr class="memdesc:a1f5d2ac4bf8462c532ce67bdf4e875db"><td class="mdescLeft">&#160;</td><td class="mdescRight">Number of different slots in storage   <a href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a1f5d2ac4bf8462c532ce67bdf4e875db">More...</a><br /></td></tr>
<tr class="separator:a1f5d2ac4bf8462c532ce67bdf4e875db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75d53e8a04a8f4142e4936fb218d0c9a"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a75d53e8a04a8f4142e4936fb218d0c9a">MAXPERSLOT</a> = 999</td></tr>
<tr class="memdesc:a75d53e8a04a8f4142e4936fb218d0c9a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Max. number of items per slot   <a href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a75d53e8a04a8f4142e4936fb218d0c9a">More...</a><br /></td></tr>
<tr class="separator:a75d53e8a04a8f4142e4936fb218d0c9a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5f23b8f429e5672f4c558c4431279d1d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a5f23b8f429e5672f4c558c4431279d1d">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:a5f23b8f429e5672f4c558c4431279d1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td></tr>
<tr class="memitem:a10996e340d74b3dca914eb16d2ee4a32 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a10996e340d74b3dca914eb16d2ee4a32">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:a10996e340d74b3dca914eb16d2ee4a32 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The PC item storage object, which actually contains all the items  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a333755e7433ee607cdb7b187de94d416" name="a333755e7433ee607cdb7b187de94d416"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a333755e7433ee607cdb7b187de94d416">&#9670;&#160;</a></span>PCItemStorage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PCItemStorage.PCItemStorage </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac6470bcaa0fa4da5af1eb553b5341579" name="ac6470bcaa0fa4da5af1eb553b5341579"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6470bcaa0fa4da5af1eb553b5341579">&#9670;&#160;</a></span>empty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PCItemStorage.empty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a8ad3d41bf7da0cbda04fabc2737b7989">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="ab2feaf3ca8f62eadac7e112270a0de04" name="ab2feaf3ca8f62eadac7e112270a0de04"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2feaf3ca8f62eadac7e112270a0de04">&#9670;&#160;</a></span>getCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PCItemStorage.getCount </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ac0d76cfa7070e82348cd06fd6a9e4e85">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="abe5a67c3a3e067cb5681848ebb67b5e1" name="abe5a67c3a3e067cb5681848ebb67b5e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abe5a67c3a3e067cb5681848ebb67b5e1">&#9670;&#160;</a></span>getItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Character.PCItemStorage.getItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a421a86fd69078e5a786871be915461aa">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="af36419b3abfc9b38fe5993b91f8dc262" name="af36419b3abfc9b38fe5993b91f8dc262"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af36419b3abfc9b38fe5993b91f8dc262">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a> PokemonUnity.Character.PCItemStorage.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a49bd628a810d875e257d3a2c6bfb52d2">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="a32e97dc532b7bde267e9f8a10755e12e" name="a32e97dc532b7bde267e9f8a10755e12e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32e97dc532b7bde267e9f8a10755e12e">&#9670;&#160;</a></span>length()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PCItemStorage.length </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ab22cde3050c74c1028c73f47c6c3f3cb">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="ac6b84822e6f80070372f402a4a597e56" name="ac6b84822e6f80070372f402a4a597e56"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6b84822e6f80070372f402a4a597e56">&#9670;&#160;</a></span>pbCanStore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PCItemStorage.pbCanStore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#af119a25374b7fca691541132dd616af4">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="a08cb0daf9bbb9e02ef20b4be710f6c75" name="a08cb0daf9bbb9e02ef20b4be710f6c75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08cb0daf9bbb9e02ef20b4be710f6c75">&#9670;&#160;</a></span>pbDeleteItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PCItemStorage.pbDeleteItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#aa26a2c51ead993ba2870fc1f7efbf2da">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="a02049f9e5c8799dd96a37a55ba64f1a4" name="a02049f9e5c8799dd96a37a55ba64f1a4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02049f9e5c8799dd96a37a55ba64f1a4">&#9670;&#160;</a></span>pbQuantity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PCItemStorage.pbQuantity </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a7be9e59f287cbfb5a78786e1464217bc">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<a id="adb79b6df39a3d2698fd0f12dff40560b" name="adb79b6df39a3d2698fd0f12dff40560b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb79b6df39a3d2698fd0f12dff40560b">&#9670;&#160;</a></span>pbStoreItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PCItemStorage.pbStoreItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a48cf2082942c7921a62229221622cb77">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a75d53e8a04a8f4142e4936fb218d0c9a" name="a75d53e8a04a8f4142e4936fb218d0c9a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75d53e8a04a8f4142e4936fb218d0c9a">&#9670;&#160;</a></span>MAXPERSLOT</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Character.PCItemStorage.MAXPERSLOT = 999</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Max. number of items per slot  </p>

</div>
</div>
<a id="a1f5d2ac4bf8462c532ce67bdf4e875db" name="a1f5d2ac4bf8462c532ce67bdf4e875db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f5d2ac4bf8462c532ce67bdf4e875db">&#9670;&#160;</a></span>MAXSIZE</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Character.PCItemStorage.MAXSIZE = 50</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Number of different slots in storage  </p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a5f23b8f429e5672f4c558c4431279d1d" name="a5f23b8f429e5672f4c558c4431279d1d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f23b8f429e5672f4c558c4431279d1d">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Character.PCItemStorage.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a10996e340d74b3dca914eb16d2ee4a32">PokemonEssentials.Interface.Screen.IPCItemStorage</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_p_c_8cs.cshtml">PC.cs</a></li>
</ul>
