@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_utility.cshtml">Utility</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">LinearCongRandom</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">OnSeedEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a6b77eee633c4152fec70350bfa40f5ec">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a0605ff10660379053b239e57c7ee2f6a">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#ac0f9f83eb2b2181f6fda3fa591826314">Requestor</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a4517c6415f62cdf317046211245fa429">RequestorId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a97587a0fe6461e77c773c46ebe1e9d26">Seed</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></td><td class="entry"></td></tr>
</table>
