@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">OutgoingPacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.OutgoingPacket Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a061a05e6747413fcdec8962e7e61a9f2">OutgoingPacket</a>(TradeCommand tradeCommand)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#ae27d1ffeb05bde36d3709d79c0979f98">OutgoingPacket</a>(TradeCommand command, SeriPokemon pokemonToTrade)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a70564c083e56badb2f4b1924f9233d52">OutgoingPacket</a>(SaveData authenticator)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a6b95744c72def192a6e422e652606a62">PacketContainer</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a2ed3b59687435e2ab1d3b0989e99c69c">Time</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#aa4d73088b8e9f0406ed6885b5edb67e8">Type</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml">PokemonUnity.Networking.Packets.OutgoingPacket</a></td><td class="entry"></td></tr>
</table>