@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">SafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.SafariState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a26db933bc0619b87b509dabe7c774388">ballcount</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a6f2b28cbe3c49562055de4ebf75e5bbc">decision</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afe434ad00739acf81d82bdf447d2d084">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a10466f870e37fcbd339cacfedf57e213">InProgress</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a416c909afff694661b803c8aef9f160c">pbEnd</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#abebdab76524f57cd015567480ad03320">pbGoToStart</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#af41585e7c0bce4c3c90a9e5c1d21b2f7">pbReceptionMap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#acf5ae0bd68d91b904595e1109af5ab7f">pbStart</a>(int ballcount_)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a8e54d3375b4ed0b024a36a3442fc2959">SafariState</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afb726bbc6ac388f3b8fa16adbd2721e1">steps</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml">PokemonUnity.SafariState</a></td><td class="entry"></td></tr>
</table>