@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">UseInFieldEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.UseInFieldEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">PokemonUnity.UseInFieldEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#aaa505b21ef6c08463d2be3f51cec89d9">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">PokemonUnity.UseInFieldEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#a9d373cfd6fe4609def5c942e6f0930d2">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">PokemonUnity.UseInFieldEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#aa9d3fd8328d30c50c02e4a5616f88ccb">Item</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">PokemonUnity.UseInFieldEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#a1b33c4d0c1fc5e3e0dc4caf36ecf04fa">Response</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">PokemonUnity.UseInFieldEventArgs</a></td><td class="entry"></td></tr>
</table>
