@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.OnDebugEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml">OnDebugEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_on_debug_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.OnDebugEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.OnDebugEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_on_debug_event_args.png" usemap="#PokemonUnity.OnDebugEventArgs_map" alt=""/>
  <map id="PokemonUnity.OnDebugEventArgs_map" name="PokemonUnity.OnDebugEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="306,0,602,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:af83a277ce95312e83cb3868a1c36fc1f"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#af83a277ce95312e83cb3868a1c36fc1f">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml">OnDebugEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:af83a277ce95312e83cb3868a1c36fc1f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5a24aa4ec5f8dea9b812d79cf41c4c29"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#a5a24aa4ec5f8dea9b812d79cf41c4c29">Id</a><code> [get]</code></td></tr>
<tr class="separator:a5a24aa4ec5f8dea9b812d79cf41c4c29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15c746df9e3d0efd405678bb73c58abd"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#a15c746df9e3d0efd405678bb73c58abd">Error</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a15c746df9e3d0efd405678bb73c58abd"><td class="mdescLeft">&#160;</td><td class="mdescRight">If true, pause/stop game to display error message on screen. If null, silently log message in background.   <a href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#a15c746df9e3d0efd405678bb73c58abd">More...</a><br /></td></tr>
<tr class="separator:a15c746df9e3d0efd405678bb73c58abd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c4d3016ebfa17382bb5eaaea883e85c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#a4c4d3016ebfa17382bb5eaaea883e85c">Message</a><code> [get, set]</code></td></tr>
<tr class="separator:a4c4d3016ebfa17382bb5eaaea883e85c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="af83a277ce95312e83cb3868a1c36fc1f" name="af83a277ce95312e83cb3868a1c36fc1f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af83a277ce95312e83cb3868a1c36fc1f">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.OnDebugEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml">OnDebugEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a15c746df9e3d0efd405678bb73c58abd" name="a15c746df9e3d0efd405678bb73c58abd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a15c746df9e3d0efd405678bb73c58abd">&#9670;&#160;</a></span>Error</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonUnity.OnDebugEventArgs.Error</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If true, pause/stop game to display error message on screen. If null, silently log message in background.  </p>

</div>
</div>
<a id="a5a24aa4ec5f8dea9b812d79cf41c4c29" name="a5a24aa4ec5f8dea9b812d79cf41c4c29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a24aa4ec5f8dea9b812d79cf41c4c29">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnDebugEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a4c4d3016ebfa17382bb5eaaea883e85c" name="a4c4d3016ebfa17382bb5eaaea883e85c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c4d3016ebfa17382bb5eaaea883e85c">&#9670;&#160;</a></span>Message</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.OnDebugEventArgs.Message</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_debugger_8cs.cshtml">IDebugger.cs</a></li>
</ul>
