@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">SaveData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SaveData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a5008777411acf8577ee2770dc6cc8b88">BuildVersion</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#aff572bbc218343c02495bf0806daa12a">DialogBorder</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a89b558249cdd9c62fffc97b8d11e5487">GameStates</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#afcbb47c9bb109fab0fbfbe872a061a09">Language</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a4d6c9d8b01a98639f5080942559cd3c0">mVol</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#ab00b9b7e2ce6be891bb3f3777f5e8ff4">SaveData</a>(GameState[] state=null, string build=null, string date=null, Languages? language=null, byte? windowBorder=null, byte? dialogBorder=null, byte? textSpeed=null, float? mvol=null, float? svol=null)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a828c989391636b7462c84f42f87dbc43">Saves</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#ab80ea5c7f815c0a58ba82739bb1a2489">sVol</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#afff07fd5cd63493682697ae5ffa34420">TextSpeed</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a467f683b410ecc20653848d53187de43">this[int i]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#a465965a53a5ba17350ab97fd40fc4e12">TimeCreated</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml#ae78e2d9a8452e5e0bd7bd1c983befbd9">WindowBorder</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data.cshtml">PokemonUnity.Saving.SaveData</a></td><td class="entry"></td></tr>
</table>
