@{
	Page.Title = "PokemonUnity.Attack.Move Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml">Attack</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml">Move</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_attack_1_1_move-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Attack.Move Class Reference</div></div>
}


<p>Use this class to store and reflect changes to an individual move; MoveData and MoveMetaData should remain immutable in </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#adbc2679ae42bf57d63cb045e4f42aa37">IDatabase.MoveData</a>, <a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a7ebc3b9babee8a35a2e3e2f06ce725ec">IDatabase.MoveMetaData</a></dd></dl>
<p>and    
 <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Attack.Move:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_attack_1_1_move.png" usemap="#PokemonUnity.Attack.Move_map" alt=""/>
  <map id="PokemonUnity.Attack.Move_map" name="PokemonUnity.Attack.Move_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml" alt="PokemonEssentials.Interface.IMove" shape="rect" coords="0,0,212,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a34b3656b5e0a5da213ee98474fc86938"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a34b3656b5e0a5da213ee98474fc86938">Move</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move=Moves.NONE)</td></tr>
<tr class="memdesc:a34b3656b5e0a5da213ee98474fc86938"><td class="mdescLeft">&#160;</td><td class="mdescRight">For Aerilate, Pixilate, Refrigerate   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a34b3656b5e0a5da213ee98474fc86938">More...</a><br /></td></tr>
<tr class="separator:a34b3656b5e0a5da213ee98474fc86938"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab17d323583c365b599edc46e9ac5dfb1"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#ab17d323583c365b599edc46e9ac5dfb1">Move</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, int ppUp, byte pp)</td></tr>
<tr class="memdesc:ab17d323583c365b599edc46e9ac5dfb1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Initializes this object to the specified move ID, PP and added PPup   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#ab17d323583c365b599edc46e9ac5dfb1">More...</a><br /></td></tr>
<tr class="separator:ab17d323583c365b599edc46e9ac5dfb1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ec743f8c5f5a4d917efe4f113d2166c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a7ec743f8c5f5a4d917efe4f113d2166c">initialize</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move=Moves.NONE)</td></tr>
<tr class="memdesc:a7ec743f8c5f5a4d917efe4f113d2166c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Initializes this object to the specified move ID.   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a7ec743f8c5f5a4d917efe4f113d2166c">More...</a><br /></td></tr>
<tr class="separator:a7ec743f8c5f5a4d917efe4f113d2166c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d4d7e30f04ede89bafc50986f84e8e3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">IMove</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6d4d7e30f04ede89bafc50986f84e8e3">initialize</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid=Moves.NONE)</td></tr>
<tr class="memdesc:a6d4d7e30f04ede89bafc50986f84e8e3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Initializes this object to the specified move ID.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6d4d7e30f04ede89bafc50986f84e8e3">More...</a><br /></td></tr>
<tr class="separator:a6d4d7e30f04ede89bafc50986f84e8e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:aed88cca3eefa16865e83c5dea3b79cf2"><td class="memItemLeft" align="right" valign="top">static implicit&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aed88cca3eefa16865e83c5dea3b79cf2">operator SeriMove</a> (<a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml">Move</a> move)</td></tr>
<tr class="separator:aed88cca3eefa16865e83c5dea3b79cf2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bbff610664f5a1ff363a52f11ce4b40"><td class="memItemLeft" align="right" valign="top">static implicit&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a1bbff610664f5a1ff363a52f11ce4b40">operator Move</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">SeriMove</a> move)</td></tr>
<tr class="separator:a1bbff610664f5a1ff363a52f11ce4b40"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a888ea8a3424b5b97f3ac7e5162cc707f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a888ea8a3424b5b97f3ac7e5162cc707f">PP</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a888ea8a3424b5b97f3ac7e5162cc707f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The amount of PP remaining for this move   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a888ea8a3424b5b97f3ac7e5162cc707f">More...</a><br /></td></tr>
<tr class="separator:a888ea8a3424b5b97f3ac7e5162cc707f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50b31bb746701d769f3bbdadb9068633"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a50b31bb746701d769f3bbdadb9068633">TotalPP</a> <code>[get]</code></td></tr>
<tr class="memdesc:a50b31bb746701d769f3bbdadb9068633"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the maximum PP for this move.   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a50b31bb746701d769f3bbdadb9068633">More...</a><br /></td></tr>
<tr class="separator:a50b31bb746701d769f3bbdadb9068633"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefea162df0cfd827f5d695531e733007"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aefea162df0cfd827f5d695531e733007">PPups</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:aefea162df0cfd827f5d695531e733007"><td class="mdescLeft">&#160;</td><td class="mdescRight">The number of PP Ups used for this move   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aefea162df0cfd827f5d695531e733007">More...</a><br /></td></tr>
<tr class="separator:aefea162df0cfd827f5d695531e733007"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7387994bf30beb1ab5b26f4809fad00"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#af7387994bf30beb1ab5b26f4809fad00">Power</a> <code>[get]</code></td></tr>
<tr class="memdesc:af7387994bf30beb1ab5b26f4809fad00"><td class="mdescLeft">&#160;</td><td class="mdescRight">Base Damage   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#af7387994bf30beb1ab5b26f4809fad00">More...</a><br /></td></tr>
<tr class="separator:af7387994bf30beb1ab5b26f4809fad00"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29ab64cafdc5e050e20f38d8b52d08af"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a29ab64cafdc5e050e20f38d8b52d08af">Accuracy</a> <code>[get]</code></td></tr>
<tr class="separator:a29ab64cafdc5e050e20f38d8b52d08af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c8c5d6bf30e023631e1beeefd6f5a19"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a5c8c5d6bf30e023631e1beeefd6f5a19">Type</a> <code>[get]</code></td></tr>
<tr class="memdesc:a5c8c5d6bf30e023631e1beeefd6f5a19"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets this move's type.   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a5c8c5d6bf30e023631e1beeefd6f5a19">More...</a><br /></td></tr>
<tr class="separator:a5c8c5d6bf30e023631e1beeefd6f5a19"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a965b1ee58a16988b2dae723bb89807a8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">Targets</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a965b1ee58a16988b2dae723bb89807a8">Targets</a> <code>[get]</code></td></tr>
<tr class="separator:a965b1ee58a16988b2dae723bb89807a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a094b6f784d268d1111e12cebc18b3c75"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml">Flag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a094b6f784d268d1111e12cebc18b3c75">Flag</a> <code>[get]</code></td></tr>
<tr class="separator:a094b6f784d268d1111e12cebc18b3c75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a653f1c204b9f6d9788a9dd09cf72a5b5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a653f1c204b9f6d9788a9dd09cf72a5b5">Priority</a> <code>[get]</code></td></tr>
<tr class="separator:a653f1c204b9f6d9788a9dd09cf72a5b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7f9ff0821de303a3968e2aca718b101"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aa7f9ff0821de303a3968e2aca718b101">Appeal</a> <code>[get]</code></td></tr>
<tr class="separator:aa7f9ff0821de303a3968e2aca718b101"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c19c54b2a7b35fa649af89b5dc0cf48"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a0c19c54b2a7b35fa649af89b5dc0cf48">SuperAppeal</a> <code>[get]</code></td></tr>
<tr class="separator:a0c19c54b2a7b35fa649af89b5dc0cf48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a114ab87a46f2f4965aac99f18d555206"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a114ab87a46f2f4965aac99f18d555206">Jamming</a> <code>[get]</code></td></tr>
<tr class="separator:a114ab87a46f2f4965aac99f18d555206"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03fab6d5864479aa402166db8ac49b44"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Effects</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a03fab6d5864479aa402166db8ac49b44">Effect</a> <code>[get]</code></td></tr>
<tr class="separator:a03fab6d5864479aa402166db8ac49b44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1aba316d2a3911f1396c1a656b0c453a"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a1aba316d2a3911f1396c1a656b0c453a">EffectChance</a> <code>[get]</code></td></tr>
<tr class="separator:a1aba316d2a3911f1396c1a656b0c453a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade9d4ca10893aea4fcb033cb6484a0f6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">Category</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#ade9d4ca10893aea4fcb033cb6484a0f6">Category</a> <code>[get]</code></td></tr>
<tr class="separator:ade9d4ca10893aea4fcb033cb6484a0f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7b6e1d93cbdbcdd2903f3fe412ec53a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aa7b6e1d93cbdbcdd2903f3fe412ec53a">id</a> <code>[get]</code></td></tr>
<tr class="memdesc:aa7b6e1d93cbdbcdd2903f3fe412ec53a"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move's ID   <a href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#aa7b6e1d93cbdbcdd2903f3fe412ec53a">More...</a><br /></td></tr>
<tr class="separator:aa7b6e1d93cbdbcdd2903f3fe412ec53a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_move')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td></tr>
<tr class="memitem:a4dafe4596df223ec75688bd372012db1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">PokemonUnity.Attack.Data.Effects</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a4dafe4596df223ec75688bd372012db1">Effect</a> <code>[get]</code></td></tr>
<tr class="separator:a4dafe4596df223ec75688bd372012db1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1718700f5d3b06ccd917ea24bc959fb0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a1718700f5d3b06ccd917ea24bc959fb0">id</a> <code>[get]</code></td></tr>
<tr class="memdesc:a1718700f5d3b06ccd917ea24bc959fb0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move's ID   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a1718700f5d3b06ccd917ea24bc959fb0">More...</a><br /></td></tr>
<tr class="separator:a1718700f5d3b06ccd917ea24bc959fb0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a8d48e922a366a719b1d077a5e6954a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6a8d48e922a366a719b1d077a5e6954a">PP</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a6a8d48e922a366a719b1d077a5e6954a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="mdescLeft">&#160;</td><td class="mdescRight">The amount of PP remaining for this move   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6a8d48e922a366a719b1d077a5e6954a">More...</a><br /></td></tr>
<tr class="separator:a6a8d48e922a366a719b1d077a5e6954a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad38135bb67a036f7d1949725247ef8a6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ad38135bb67a036f7d1949725247ef8a6">PPups</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ad38135bb67a036f7d1949725247ef8a6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="mdescLeft">&#160;</td><td class="mdescRight">The number of PP Ups used for this move   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ad38135bb67a036f7d1949725247ef8a6">More...</a><br /></td></tr>
<tr class="separator:ad38135bb67a036f7d1949725247ef8a6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a893201615bdad3bfa98fc7ce1b3c9a1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a893201615bdad3bfa98fc7ce1b3c9a1f">Type</a> <code>[get]</code></td></tr>
<tr class="memdesc:a893201615bdad3bfa98fc7ce1b3c9a1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets this move's type.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a893201615bdad3bfa98fc7ce1b3c9a1f">More...</a><br /></td></tr>
<tr class="separator:a893201615bdad3bfa98fc7ce1b3c9a1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9ef20ea2578ec5f9ec6c76c929521dc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ac9ef20ea2578ec5f9ec6c76c929521dc">TotalPP</a> <code>[get]</code></td></tr>
<tr class="memdesc:ac9ef20ea2578ec5f9ec6c76c929521dc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the maximum PP for this move.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ac9ef20ea2578ec5f9ec6c76c929521dc">More...</a><br /></td></tr>
<tr class="separator:ac9ef20ea2578ec5f9ec6c76c929521dc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_move"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Use this class to store and reflect changes to an individual move; MoveData and MoveMetaData should remain immutable in </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#adbc2679ae42bf57d63cb045e4f42aa37">IDatabase.MoveData</a>, <a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a7ebc3b9babee8a35a2e3e2f06ce725ec">IDatabase.MoveMetaData</a></dd></dl>
<p>and   </p>
<p >Does this need to be serialized? </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a34b3656b5e0a5da213ee98474fc86938" name="a34b3656b5e0a5da213ee98474fc86938"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34b3656b5e0a5da213ee98474fc86938">&#9670;&#160;</a></span>Move() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Attack.Move.Move </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>Moves.NONE</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>For Aerilate, Pixilate, Refrigerate  </p>
<p >Initializes this object to the specified move ID.  </p>

</div>
</div>
<a id="ab17d323583c365b599edc46e9ac5dfb1" name="ab17d323583c365b599edc46e9ac5dfb1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab17d323583c365b599edc46e9ac5dfb1">&#9670;&#160;</a></span>Move() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Attack.Move.Move </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ppUp</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>pp</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Initializes this object to the specified move ID, PP and added PPup  </p>
<p >Either this or {public get, public set} </p>

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7ec743f8c5f5a4d917efe4f113d2166c" name="a7ec743f8c5f5a4d917efe4f113d2166c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ec743f8c5f5a4d917efe4f113d2166c">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a> PokemonUnity.Attack.Move.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>Moves.NONE</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Initializes this object to the specified move ID.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6d4d7e30f04ede89bafc50986f84e8e3">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="a1bbff610664f5a1ff363a52f11ce4b40" name="a1bbff610664f5a1ff363a52f11ce4b40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bbff610664f5a1ff363a52f11ce4b40">&#9670;&#160;</a></span>operator Move()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static implicit PokemonUnity.Attack.Move.operator <a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml">Move</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">SeriMove</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aed88cca3eefa16865e83c5dea3b79cf2" name="aed88cca3eefa16865e83c5dea3b79cf2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed88cca3eefa16865e83c5dea3b79cf2">&#9670;&#160;</a></span>operator SeriMove()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static implicit PokemonUnity.Attack.Move.operator <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">SeriMove</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml">Move</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a29ab64cafdc5e050e20f38d8b52d08af" name="a29ab64cafdc5e050e20f38d8b52d08af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29ab64cafdc5e050e20f38d8b52d08af">&#9670;&#160;</a></span>Accuracy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.Accuracy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7f9ff0821de303a3968e2aca718b101" name="aa7f9ff0821de303a3968e2aca718b101"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7f9ff0821de303a3968e2aca718b101">&#9670;&#160;</a></span>Appeal</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.Appeal</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ade9d4ca10893aea4fcb033cb6484a0f6" name="ade9d4ca10893aea4fcb033cb6484a0f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade9d4ca10893aea4fcb033cb6484a0f6">&#9670;&#160;</a></span>Category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">Category</a> PokemonUnity.Attack.Move.Category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a03fab6d5864479aa402166db8ac49b44" name="a03fab6d5864479aa402166db8ac49b44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03fab6d5864479aa402166db8ac49b44">&#9670;&#160;</a></span>Effect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Effects</a> PokemonUnity.Attack.Move.Effect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a4dafe4596df223ec75688bd372012db1">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="a1aba316d2a3911f1396c1a656b0c453a" name="a1aba316d2a3911f1396c1a656b0c453a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1aba316d2a3911f1396c1a656b0c453a">&#9670;&#160;</a></span>EffectChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.EffectChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a094b6f784d268d1111e12cebc18b3c75" name="a094b6f784d268d1111e12cebc18b3c75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a094b6f784d268d1111e12cebc18b3c75">&#9670;&#160;</a></span>Flag</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml">Flag</a> PokemonUnity.Attack.Move.Flag</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7b6e1d93cbdbcdd2903f3fe412ec53a" name="aa7b6e1d93cbdbcdd2903f3fe412ec53a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7b6e1d93cbdbcdd2903f3fe412ec53a">&#9670;&#160;</a></span>id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonUnity.Attack.Move.id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This move's ID  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a1718700f5d3b06ccd917ea24bc959fb0">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="a114ab87a46f2f4965aac99f18d555206" name="a114ab87a46f2f4965aac99f18d555206"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a114ab87a46f2f4965aac99f18d555206">&#9670;&#160;</a></span>Jamming</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.Jamming</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af7387994bf30beb1ab5b26f4809fad00" name="af7387994bf30beb1ab5b26f4809fad00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7387994bf30beb1ab5b26f4809fad00">&#9670;&#160;</a></span>Power</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.Power</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Base Damage  </p>

</div>
</div>
<a id="a888ea8a3424b5b97f3ac7e5162cc707f" name="a888ea8a3424b5b97f3ac7e5162cc707f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a888ea8a3424b5b97f3ac7e5162cc707f">&#9670;&#160;</a></span>PP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Move.PP</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The amount of PP remaining for this move  </p>
<p >Could possibly replace SET as a new constructor </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6a8d48e922a366a719b1d077a5e6954a">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="aefea162df0cfd827f5d695531e733007" name="aefea162df0cfd827f5d695531e733007"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefea162df0cfd827f5d695531e733007">&#9670;&#160;</a></span>PPups</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Move.PPups</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The number of PP Ups used for this move  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ad38135bb67a036f7d1949725247ef8a6">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="a653f1c204b9f6d9788a9dd09cf72a5b5" name="a653f1c204b9f6d9788a9dd09cf72a5b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a653f1c204b9f6d9788a9dd09cf72a5b5">&#9670;&#160;</a></span>Priority</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Move.Priority</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0c19c54b2a7b35fa649af89b5dc0cf48" name="a0c19c54b2a7b35fa649af89b5dc0cf48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0c19c54b2a7b35fa649af89b5dc0cf48">&#9670;&#160;</a></span>SuperAppeal</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Move.SuperAppeal</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a965b1ee58a16988b2dae723bb89807a8" name="a965b1ee58a16988b2dae723bb89807a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a965b1ee58a16988b2dae723bb89807a8">&#9670;&#160;</a></span>Targets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">Targets</a> PokemonUnity.Attack.Move.Targets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a50b31bb746701d769f3bbdadb9068633" name="a50b31bb746701d769f3bbdadb9068633"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50b31bb746701d769f3bbdadb9068633">&#9670;&#160;</a></span>TotalPP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Move.TotalPP</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the maximum PP for this move.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ac9ef20ea2578ec5f9ec6c76c929521dc">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<a id="a5c8c5d6bf30e023631e1beeefd6f5a19" name="a5c8c5d6bf30e023631e1beeefd6f5a19"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c8c5d6bf30e023631e1beeefd6f5a19">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> PokemonUnity.Attack.Move.Type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets this move's type.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a893201615bdad3bfa98fc7ce1b3c9a1f">PokemonEssentials.Interface.IMove</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Attack/<a class="el" href="_attack_2_move_8cs.cshtml">Move.cs</a></li>
</ul>

