@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml">BattleTower</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleTower Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml">PokemonUnity.BattleTower</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml#ae8263c26af7f44a748f75cd175d23663">CreateBattle</a>(IPokeBattle_Scene scene, ITrainer[] trainer1, ITrainer[] trainer2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml">PokemonUnity.BattleTower</a></td><td class="entry"><span class="mlabel">virtual</span></td></tr>
</table>
