@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.LocalizationDictionaryProviderBase Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml">LocalizationDictionaryProviderBase</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-methods">Protected Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_localization_dictionary_provider_base-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.LocalizationDictionaryProviderBase Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.LocalizationDictionaryProviderBase:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_localization_dictionary_provider_base.png" usemap="#PokemonUnity.LocalizationDictionaryProviderBase_map" alt=""/>
  <map id="PokemonUnity.LocalizationDictionaryProviderBase_map" name="PokemonUnity.LocalizationDictionaryProviderBase_map">
<area href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml" title="Used to get localization dictionaries (Translator.Language.XmlLocalizationDictionary) for a IDictiona..." alt="PokemonUnity.ILocalizationDictionaryProvider" shape="rect" coords="0,0,311,24"/>
<area href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml" title="Provides localization dictionaries from XML files in a directory." alt="PokemonUnity.XmlFileLocalizationDictionaryProvider" shape="rect" coords="0,112,311,136"/>
<area href="class_pokemon_unity_1_1_game_text.cshtml" alt="PokemonUnity.GameText" shape="rect" coords="0,168,311,192"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aced1e306af6f2b498bf4d767e703dbcf"><td class="memItemLeft" align="right" valign="top">virtual void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#aced1e306af6f2b498bf4d767e703dbcf">Initialize</a> (string sourceName)</td></tr>
<tr class="separator:aced1e306af6f2b498bf4d767e703dbcf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8f62d8e107a7e0c0191c3c38b936f6f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#ac8f62d8e107a7e0c0191c3c38b936f6f">Extend</a> (<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> dictionary)</td></tr>
<tr class="separator:ac8f62d8e107a7e0c0191c3c38b936f6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae263cfa0a127b57d0922986a3d7ecca4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#ae263cfa0a127b57d0922986a3d7ecca4">Initialize</a> (string sourceName)</td></tr>
<tr class="separator:ae263cfa0a127b57d0922986a3d7ecca4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f9ba2c3add0e533640d3e6db2fa662f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a9f9ba2c3add0e533640d3e6db2fa662f">Extend</a> (<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> dictionary)</td></tr>
<tr class="separator:a9f9ba2c3add0e533640d3e6db2fa662f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-methods" name="pro-methods"></a>
Protected Member Functions</h2></td></tr>
<tr class="memitem:a3b64219db8d5ffa50035c0c969ac21ac"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a3b64219db8d5ffa50035c0c969ac21ac">LocalizationDictionaryProviderBase</a> ()</td></tr>
<tr class="separator:a3b64219db8d5ffa50035c0c969ac21ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a77cdb64e527fabf76a6ec9fdfe4ade53"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a77cdb64e527fabf76a6ec9fdfe4ade53">SourceName</a><code> [get]</code></td></tr>
<tr class="separator:a77cdb64e527fabf76a6ec9fdfe4ade53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d714c1afa3192415d043d5bb63e9ac5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a3d714c1afa3192415d043d5bb63e9ac5">DefaultDictionary</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a3d714c1afa3192415d043d5bb63e9ac5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1334d608ccd424bd0088226303e3fab"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt; KeyValuePair&lt; string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#ab1334d608ccd424bd0088226303e3fab">DefaultNodeDictionary</a><code> [get, protected set]</code></td></tr>
<tr class="separator:ab1334d608ccd424bd0088226303e3fab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5a0bed558035865845c872247f751c87"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a5a0bed558035865845c872247f751c87">Dictionaries</a><code> [get]</code></td></tr>
<tr class="separator:a5a0bed558035865845c872247f751c87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0840dadfe60fc8072bf40ae2c7424513"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; string, IEnumerable&lt; KeyValuePair&lt; string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> &gt; &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_dictionary_provider_base.cshtml#a0840dadfe60fc8072bf40ae2c7424513">NodeDictionaries</a><code> [get]</code></td></tr>
<tr class="separator:a0840dadfe60fc8072bf40ae2c7424513"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a></td></tr>
<tr class="memitem:a5642802c66b538df13534aa57c956507 inherit properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a5642802c66b538df13534aa57c956507">DefaultDictionary</a><code> [get]</code></td></tr>
<tr class="separator:a5642802c66b538df13534aa57c956507 inherit properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af298bed263efd053b98b01fb8c435e74 inherit properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#af298bed263efd053b98b01fb8c435e74">Dictionaries</a><code> [get]</code></td></tr>
<tr class="separator:af298bed263efd053b98b01fb8c435e74 inherit properties_interface_pokemon_unity_1_1_i_localization_dictionary_provider"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3b64219db8d5ffa50035c0c969ac21ac" name="a3b64219db8d5ffa50035c0c969ac21ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b64219db8d5ffa50035c0c969ac21ac">&#9670;&#160;</a></span>LocalizationDictionaryProviderBase()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.LocalizationDictionaryProviderBase.LocalizationDictionaryProviderBase </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac8f62d8e107a7e0c0191c3c38b936f6f" name="ac8f62d8e107a7e0c0191c3c38b936f6f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8f62d8e107a7e0c0191c3c38b936f6f">&#9670;&#160;</a></span>Extend()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.LocalizationDictionaryProviderBase.Extend </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&#160;</td>
          <td class="paramname"><em>dictionary</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a9f9ba2c3add0e533640d3e6db2fa662f">PokemonUnity.ILocalizationDictionaryProvider</a>.</p>

</div>
</div>
<a id="aced1e306af6f2b498bf4d767e703dbcf" name="aced1e306af6f2b498bf4d767e703dbcf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aced1e306af6f2b498bf4d767e703dbcf">&#9670;&#160;</a></span>Initialize()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual void PokemonUnity.LocalizationDictionaryProviderBase.Initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>sourceName</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#ae263cfa0a127b57d0922986a3d7ecca4">PokemonUnity.ILocalizationDictionaryProvider</a>.</p>

<p>Reimplemented in <a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml#aa3616b830a405e5b6b2fca2492737fb3">PokemonUnity.XmlFileLocalizationDictionaryProvider</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3d714c1afa3192415d043d5bb63e9ac5" name="a3d714c1afa3192415d043d5bb63e9ac5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d714c1afa3192415d043d5bb63e9ac5">&#9670;&#160;</a></span>DefaultDictionary</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a> PokemonUnity.LocalizationDictionaryProviderBase.DefaultDictionary</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a5642802c66b538df13534aa57c956507">PokemonUnity.ILocalizationDictionaryProvider</a>.</p>

</div>
</div>
<a id="ab1334d608ccd424bd0088226303e3fab" name="ab1334d608ccd424bd0088226303e3fab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1334d608ccd424bd0088226303e3fab">&#9670;&#160;</a></span>DefaultNodeDictionary</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerable&lt;KeyValuePair&lt;string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&gt; &gt; PokemonUnity.LocalizationDictionaryProviderBase.DefaultNodeDictionary</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5a0bed558035865845c872247f751c87" name="a5a0bed558035865845c872247f751c87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a0bed558035865845c872247f751c87">&#9670;&#160;</a></span>Dictionaries</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&gt; PokemonUnity.LocalizationDictionaryProviderBase.Dictionaries</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#af298bed263efd053b98b01fb8c435e74">PokemonUnity.ILocalizationDictionaryProvider</a>.</p>

</div>
</div>
<a id="a0840dadfe60fc8072bf40ae2c7424513" name="a0840dadfe60fc8072bf40ae2c7424513"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0840dadfe60fc8072bf40ae2c7424513">&#9670;&#160;</a></span>NodeDictionaries</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;string, IEnumerable&lt;KeyValuePair&lt;string, <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">Translator.Language.XmlLocalizationDictionary</a>&gt; &gt; &gt; PokemonUnity.LocalizationDictionaryProviderBase.NodeDictionaries</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a77cdb64e527fabf76a6ec9fdfe4ade53" name="a77cdb64e527fabf76a6ec9fdfe4ade53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77cdb64e527fabf76a6ec9fdfe4ade53">&#9670;&#160;</a></span>SourceName</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.LocalizationDictionaryProviderBase.SourceName</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Translations/<a class="el" href="_translator_8cs.cshtml">Translator.cs</a></li>
</ul>
