@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.PokemonBag Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonBag</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PokemonBag Class Reference</div></div>
}


<p>Collection of KeyValuePairs grouped by Items. Used in combination with quantity[], one holds the itemId (Key) and the other has amount (value).   
 <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.PokemonBag:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_pokemon_bag.png" usemap="#PokemonUnity.Character.PokemonBag_map" alt=""/>
  <map id="PokemonUnity.Character.PokemonBag_map" name="PokemonUnity.Character.PokemonBag_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml" title="The Bag object, which actually contains all the items" alt="PokemonEssentials.Interface.Screen.IBag" shape="rect" coords="0,0,247,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a35b5b76251cf9bf82c8be5455d54f608"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a35b5b76251cf9bf82c8be5455d54f608">PokemonBag</a> ()</td></tr>
<tr class="separator:a35b5b76251cf9bf82c8be5455d54f608"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab404c034aa7e6dae980f2d464fd729ff"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ab404c034aa7e6dae980f2d464fd729ff">rearrange</a> ()</td></tr>
<tr class="separator:ab404c034aa7e6dae980f2d464fd729ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a561dcce6f8e66c52b40f4814fe842906"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a561dcce6f8e66c52b40f4814fe842906">getChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket)</td></tr>
<tr class="memdesc:a561dcce6f8e66c52b40f4814fe842906"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the index of the current selected item in the pocket   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a561dcce6f8e66c52b40f4814fe842906">More...</a><br /></td></tr>
<tr class="separator:a561dcce6f8e66c52b40f4814fe842906"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c9f09609a0006843c5d7cc5d2df635b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a4c9f09609a0006843c5d7cc5d2df635b">clear</a> ()</td></tr>
<tr class="memdesc:a4c9f09609a0006843c5d7cc5d2df635b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Clears the entire bag   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a4c9f09609a0006843c5d7cc5d2df635b">More...</a><br /></td></tr>
<tr class="separator:a4c9f09609a0006843c5d7cc5d2df635b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac062d5b6f58b67e99137383ab231c230"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ac062d5b6f58b67e99137383ab231c230">setChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket, int value)</td></tr>
<tr class="memdesc:ac062d5b6f58b67e99137383ab231c230"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets the index of the current selected item in the pocket   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ac062d5b6f58b67e99137383ab231c230">More...</a><br /></td></tr>
<tr class="separator:ac062d5b6f58b67e99137383ab231c230"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad06a777c31b40820ac0c37c36765f8b5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ad06a777c31b40820ac0c37c36765f8b5">pbRegisterKeyItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="memdesc:ad06a777c31b40820ac0c37c36765f8b5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Registers the item as a key item. Can be retrieved with Game.GameData.Bag.registeredItem   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ad06a777c31b40820ac0c37c36765f8b5">More...</a><br /></td></tr>
<tr class="separator:ad06a777c31b40820ac0c37c36765f8b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7792a4fb390d287286302a590f276ea3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a7792a4fb390d287286302a590f276ea3">maxPocketSize</a> (int pocket)</td></tr>
<tr class="separator:a7792a4fb390d287286302a590f276ea3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd6e90a7edcef67b5587064ac04e1dc8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#abd6e90a7edcef67b5587064ac04e1dc8">pbQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:abd6e90a7edcef67b5587064ac04e1dc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94900d853f74befc92adb582d190728c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a94900d853f74befc92adb582d190728c">pbHasItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a94900d853f74befc92adb582d190728c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30389972d0b00d88da169dab0a727aa4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a30389972d0b00d88da169dab0a727aa4">pbDeleteItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a30389972d0b00d88da169dab0a727aa4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61ce687f7a50518719a866a682c896b3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a61ce687f7a50518719a866a682c896b3">pbCanStore</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a61ce687f7a50518719a866a682c896b3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1fc9e922c334932db79e3c4fd47c61ef"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a1fc9e922c334932db79e3c4fd47c61ef">pbStoreAllOrNone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a1fc9e922c334932db79e3c4fd47c61ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a019ae96be275340825ced84ed821ecab"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a019ae96be275340825ced84ed821ecab">pbStoreItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a019ae96be275340825ced84ed821ecab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abb1dc9e588ec0daf4c95fb4f64d03605"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#abb1dc9e588ec0daf4c95fb4f64d03605">pbChangeItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> olditem, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> newitem)</td></tr>
<tr class="separator:abb1dc9e588ec0daf4c95fb4f64d03605"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeabd3d5d3a3268fdb33e0dfab9f8a11b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aeabd3d5d3a3268fdb33e0dfab9f8a11b">rearrange</a> ()</td></tr>
<tr class="separator:aeabd3d5d3a3268fdb33e0dfab9f8a11b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20642019c61b1570f900993ae5af0e26"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a20642019c61b1570f900993ae5af0e26">getChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket)</td></tr>
<tr class="memdesc:a20642019c61b1570f900993ae5af0e26"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the index of the current selected item in the pocket   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a20642019c61b1570f900993ae5af0e26">More...</a><br /></td></tr>
<tr class="separator:a20642019c61b1570f900993ae5af0e26"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a824fcd6348572b5073a49fdf64944590"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a824fcd6348572b5073a49fdf64944590">clear</a> ()</td></tr>
<tr class="memdesc:a824fcd6348572b5073a49fdf64944590"><td class="mdescLeft">&#160;</td><td class="mdescRight">Clears the entire bag   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a824fcd6348572b5073a49fdf64944590">More...</a><br /></td></tr>
<tr class="separator:a824fcd6348572b5073a49fdf64944590"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76770141da4c629a35fcf49d1a7f4143"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a76770141da4c629a35fcf49d1a7f4143">setChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket, int value)</td></tr>
<tr class="memdesc:a76770141da4c629a35fcf49d1a7f4143"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets the index of the current selected item in the pocket   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a76770141da4c629a35fcf49d1a7f4143">More...</a><br /></td></tr>
<tr class="separator:a76770141da4c629a35fcf49d1a7f4143"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b60210bacc8e523f6c907c40e80365a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a5b60210bacc8e523f6c907c40e80365a">pbRegisterKeyItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="memdesc:a5b60210bacc8e523f6c907c40e80365a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Registers the item as a key item. Can be retrieved with Game.GameData.Bag.registeredItem   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a5b60210bacc8e523f6c907c40e80365a">More...</a><br /></td></tr>
<tr class="separator:a5b60210bacc8e523f6c907c40e80365a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab53aac3b8bb3bba14935ad4e12c7037d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab53aac3b8bb3bba14935ad4e12c7037d">maxPocketSize</a> (int pocket)</td></tr>
<tr class="separator:ab53aac3b8bb3bba14935ad4e12c7037d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77ea887bcbbe5a4942bef514ba05069c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a77ea887bcbbe5a4942bef514ba05069c">pbQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a77ea887bcbbe5a4942bef514ba05069c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41738b3e8ec89d8287bcbc15a1162c45"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a41738b3e8ec89d8287bcbc15a1162c45">pbHasItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a41738b3e8ec89d8287bcbc15a1162c45"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afabb80f19889f5f9de484fff4dfc4870"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#afabb80f19889f5f9de484fff4dfc4870">pbDeleteItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:afabb80f19889f5f9de484fff4dfc4870"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9407af589a1b99d3a7a912dc6ebff127"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a9407af589a1b99d3a7a912dc6ebff127">pbCanStore</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a9407af589a1b99d3a7a912dc6ebff127"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad4bd88e81b6e395629e0f7bb46daaba1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ad4bd88e81b6e395629e0f7bb46daaba1">pbStoreAllOrNone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:ad4bd88e81b6e395629e0f7bb46daaba1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a114567fd2de219b2e454b4b6722d57d5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a114567fd2de219b2e454b4b6722d57d5">pbStoreItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a114567fd2de219b2e454b4b6722d57d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab19dcda87a09ed7b5935f9fa9b02d9af"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab19dcda87a09ed7b5935f9fa9b02d9af">pbChangeItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> olditem, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> newitem)</td></tr>
<tr class="separator:ab19dcda87a09ed7b5935f9fa9b02d9af"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aaa0a7e844843d0f5957b1fa793c9c0fb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#aaa0a7e844843d0f5957b1fa793c9c0fb">registeredItem</a><code> [get, protected set]</code></td></tr>
<tr class="separator:aaa0a7e844843d0f5957b1fa793c9c0fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a301820e505a36f1c12923b3f4593e560"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a301820e505a36f1c12923b3f4593e560">lastpocket</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a301820e505a36f1c12923b3f4593e560"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a983cba15ca704f8e89fafc23f413b383"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a983cba15ca704f8e89fafc23f413b383">pockets</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a983cba15ca704f8e89fafc23f413b383"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ce35073dfd71eab5341bff6e663e835"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a5ce35073dfd71eab5341bff6e663e835">pocketNames</a><code> [get]</code></td></tr>
<tr class="separator:a5ce35073dfd71eab5341bff6e663e835"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2746f14e2704ce2fec41c8884cd8c088"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a2746f14e2704ce2fec41c8884cd8c088">numPockets</a><code> [get]</code></td></tr>
<tr class="separator:a2746f14e2704ce2fec41c8884cd8c088"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">PokemonEssentials.Interface.Screen.IBag</a></td></tr>
<tr class="memitem:aa4baca81d6d3c7d7aea72f95131af46f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aa4baca81d6d3c7d7aea72f95131af46f">registeredItem</a><code> [get]</code></td></tr>
<tr class="separator:aa4baca81d6d3c7d7aea72f95131af46f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0926b805901c83f724653beb15ee6978 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a0926b805901c83f724653beb15ee6978">lastpocket</a><code> [get]</code></td></tr>
<tr class="separator:a0926b805901c83f724653beb15ee6978 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac72bc34e127159998f00039d9ed8fca1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac72bc34e127159998f00039d9ed8fca1">pockets</a><code> [get]</code></td></tr>
<tr class="separator:ac72bc34e127159998f00039d9ed8fca1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97a4677837124b90a6d8afad80bea041 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a97a4677837124b90a6d8afad80bea041">pocketNames</a><code> [get]</code></td></tr>
<tr class="separator:a97a4677837124b90a6d8afad80bea041 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac63e84bbf2a71b18e3052d88cba58be1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac63e84bbf2a71b18e3052d88cba58be1">numPockets</a><code> [get]</code></td></tr>
<tr class="separator:ac63e84bbf2a71b18e3052d88cba58be1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Collection of KeyValuePairs grouped by Items. Used in combination with quantity[], one holds the itemId (Key) and the other has amount (value).  </p>
<p >I'd feel more comfortable if instead of {get;set;} it was a {get;} only, that returned an iqueryable ToDo: remove static GameVariables.Bag_Items so trainerbag can load multiple players (for netplay)</p>
<p >The Bag object, which actually contains all the items  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a35b5b76251cf9bf82c8be5455d54f608" name="a35b5b76251cf9bf82c8be5455d54f608"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35b5b76251cf9bf82c8be5455d54f608">&#9670;&#160;</a></span>PokemonBag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PokemonBag.PokemonBag </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a4c9f09609a0006843c5d7cc5d2df635b" name="a4c9f09609a0006843c5d7cc5d2df635b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c9f09609a0006843c5d7cc5d2df635b">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PokemonBag.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Clears the entire bag  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a824fcd6348572b5073a49fdf64944590">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a561dcce6f8e66c52b40f4814fe842906" name="a561dcce6f8e66c52b40f4814fe842906"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a561dcce6f8e66c52b40f4814fe842906">&#9670;&#160;</a></span>getChoice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PokemonBag.getChoice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>&#160;</td>
          <td class="paramname"><em>pocket</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the index of the current selected item in the pocket  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pocket</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a20642019c61b1570f900993ae5af0e26">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a7792a4fb390d287286302a590f276ea3" name="a7792a4fb390d287286302a590f276ea3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7792a4fb390d287286302a590f276ea3">&#9670;&#160;</a></span>maxPocketSize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PokemonBag.maxPocketSize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pocket</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab53aac3b8bb3bba14935ad4e12c7037d">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a61ce687f7a50518719a866a682c896b3" name="a61ce687f7a50518719a866a682c896b3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61ce687f7a50518719a866a682c896b3">&#9670;&#160;</a></span>pbCanStore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbCanStore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a9407af589a1b99d3a7a912dc6ebff127">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="abb1dc9e588ec0daf4c95fb4f64d03605" name="abb1dc9e588ec0daf4c95fb4f64d03605"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abb1dc9e588ec0daf4c95fb4f64d03605">&#9670;&#160;</a></span>pbChangeItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbChangeItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>olditem</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>newitem</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab19dcda87a09ed7b5935f9fa9b02d9af">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a30389972d0b00d88da169dab0a727aa4" name="a30389972d0b00d88da169dab0a727aa4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30389972d0b00d88da169dab0a727aa4">&#9670;&#160;</a></span>pbDeleteItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbDeleteItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#afabb80f19889f5f9de484fff4dfc4870">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a94900d853f74befc92adb582d190728c" name="a94900d853f74befc92adb582d190728c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94900d853f74befc92adb582d190728c">&#9670;&#160;</a></span>pbHasItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbHasItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a41738b3e8ec89d8287bcbc15a1162c45">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="abd6e90a7edcef67b5587064ac04e1dc8" name="abd6e90a7edcef67b5587064ac04e1dc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd6e90a7edcef67b5587064ac04e1dc8">&#9670;&#160;</a></span>pbQuantity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PokemonBag.pbQuantity </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a77ea887bcbbe5a4942bef514ba05069c">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="ad06a777c31b40820ac0c37c36765f8b5" name="ad06a777c31b40820ac0c37c36765f8b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad06a777c31b40820ac0c37c36765f8b5">&#9670;&#160;</a></span>pbRegisterKeyItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PokemonBag.pbRegisterKeyItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Registers the item as a key item. Can be retrieved with Game.GameData.Bag.registeredItem  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a5b60210bacc8e523f6c907c40e80365a">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a1fc9e922c334932db79e3c4fd47c61ef" name="a1fc9e922c334932db79e3c4fd47c61ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1fc9e922c334932db79e3c4fd47c61ef">&#9670;&#160;</a></span>pbStoreAllOrNone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbStoreAllOrNone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ad4bd88e81b6e395629e0f7bb46daaba1">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a019ae96be275340825ced84ed821ecab" name="a019ae96be275340825ced84ed821ecab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a019ae96be275340825ced84ed821ecab">&#9670;&#160;</a></span>pbStoreItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PokemonBag.pbStoreItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a114567fd2de219b2e454b4b6722d57d5">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="ab404c034aa7e6dae980f2d464fd729ff" name="ab404c034aa7e6dae980f2d464fd729ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab404c034aa7e6dae980f2d464fd729ff">&#9670;&#160;</a></span>rearrange()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PokemonBag.rearrange </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aeabd3d5d3a3268fdb33e0dfab9f8a11b">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="ac062d5b6f58b67e99137383ab231c230" name="ac062d5b6f58b67e99137383ab231c230"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac062d5b6f58b67e99137383ab231c230">&#9670;&#160;</a></span>setChoice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PokemonBag.setChoice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>&#160;</td>
          <td class="paramname"><em>pocket</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets the index of the current selected item in the pocket  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pocket</td><td></td></tr>
    <tr><td class="paramname">value</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a76770141da4c629a35fcf49d1a7f4143">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a301820e505a36f1c12923b3f4593e560" name="a301820e505a36f1c12923b3f4593e560"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a301820e505a36f1c12923b3f4593e560">&#9670;&#160;</a></span>lastpocket</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PokemonBag.lastpocket</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a0926b805901c83f724653beb15ee6978">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a2746f14e2704ce2fec41c8884cd8c088" name="a2746f14e2704ce2fec41c8884cd8c088"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2746f14e2704ce2fec41c8884cd8c088">&#9670;&#160;</a></span>numPockets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PokemonBag.numPockets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac63e84bbf2a71b18e3052d88cba58be1">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a5ce35073dfd71eab5341bff6e663e835" name="a5ce35073dfd71eab5341bff6e663e835"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ce35073dfd71eab5341bff6e663e835">&#9670;&#160;</a></span>pocketNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonUnity.Character.PokemonBag.pocketNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a97a4677837124b90a6d8afad80bea041">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="a983cba15ca704f8e89fafc23f413b383" name="a983cba15ca704f8e89fafc23f413b383"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a983cba15ca704f8e89fafc23f413b383">&#9670;&#160;</a></span>pockets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> [][] PokemonUnity.Character.PokemonBag.pockets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac72bc34e127159998f00039d9ed8fca1">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<a id="aaa0a7e844843d0f5957b1fa793c9c0fb" name="aaa0a7e844843d0f5957b1fa793c9c0fb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa0a7e844843d0f5957b1fa793c9c0fb">&#9670;&#160;</a></span>registeredItem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Character.PokemonBag.registeredItem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aa4baca81d6d3c7d7aea72f95131af46f">PokemonEssentials.Interface.Screen.IBag</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_bag_8cs.cshtml">Bag.cs</a></li>
</ul>
