@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.StorageSystemPC Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml">StorageSystemPC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.StorageSystemPC Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.StorageSystemPC:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.png" usemap="#PokemonUnity.Character.StorageSystemPC_map" alt=""/>
  <map id="PokemonUnity.Character.StorageSystemPC_map" name="PokemonUnity.Character.StorageSystemPC_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml" alt="PokemonEssentials.Interface.Screen.IPCMenuUser" shape="rect" coords="0,0,300,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3fbe1715cbf3d232c21c230296cc79f2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#a3fbe1715cbf3d232c21c230296cc79f2">access</a> ()</td></tr>
<tr class="separator:a3fbe1715cbf3d232c21c230296cc79f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d4764490ba362583281c65484e73c13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">access</a> ()</td></tr>
<tr class="separator:a6d4764490ba362583281c65484e73c13"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3cb58f90b4272716801220b97ac393a0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#a3cb58f90b4272716801220b97ac393a0">shouldShow</a><code> [get]</code></td></tr>
<tr class="separator:a3cb58f90b4272716801220b97ac393a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe614bc4581e9f7c03fda27b792ea58c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#afe614bc4581e9f7c03fda27b792ea58c">name</a><code> [get]</code></td></tr>
<tr class="separator:afe614bc4581e9f7c03fda27b792ea58c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml">PokemonEssentials.Interface.Screen.IPCMenuUser</a></td></tr>
<tr class="memitem:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">shouldShow</a><code> [get]</code></td></tr>
<tr class="separator:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">name</a><code> [get]</code></td></tr>
<tr class="separator:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a3fbe1715cbf3d232c21c230296cc79f2" name="a3fbe1715cbf3d232c21c230296cc79f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fbe1715cbf3d232c21c230296cc79f2">&#9670;&#160;</a></span>access()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.StorageSystemPC.access </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="afe614bc4581e9f7c03fda27b792ea58c" name="afe614bc4581e9f7c03fda27b792ea58c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe614bc4581e9f7c03fda27b792ea58c">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.StorageSystemPC.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<a id="a3cb58f90b4272716801220b97ac393a0" name="a3cb58f90b4272716801220b97ac393a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cb58f90b4272716801220b97ac393a0">&#9670;&#160;</a></span>shouldShow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.StorageSystemPC.shouldShow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_pokemon_storage_8cs.cshtml">PokemonStorage.cs</a></li>
</ul>
