@{
	Page.Title = "PokemonUnity.PokemonSystem Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonSystem</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_pokemon_system-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.PokemonSystem Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.PokemonSystem:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_pokemon_system.png" usemap="#PokemonUnity.PokemonSystem_map" alt=""/>
  <map id="PokemonUnity.PokemonSystem_map" name="PokemonUnity.PokemonSystem_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonSystemOption" shape="rect" coords="0,0,353,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1d2e89e6d3211756862ee857516e3ca8"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a1d2e89e6d3211756862ee857516e3ca8">PokemonSystem</a> ()</td></tr>
<tr class="separator:a1d2e89e6d3211756862ee857516e3ca8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ada8af66da8823c5495fbaf010fa709f7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ada8af66da8823c5495fbaf010fa709f7">initialize</a> ()</td></tr>
<tr class="separator:ada8af66da8823c5495fbaf010fa709f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab29c59d5e2291e29184a0af557b0e9ef"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">IPokemonSystemOption</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ab29c59d5e2291e29184a0af557b0e9ef">initialize</a> ()</td></tr>
<tr class="separator:ab29c59d5e2291e29184a0af557b0e9ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a30b0c900e4b8ec627b698ac8eae8c5fd"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a30b0c900e4b8ec627b698ac8eae8c5fd">textspeed</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a30b0c900e4b8ec627b698ac8eae8c5fd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Text speed (0=slow, 1=normal, 2=fast)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a30b0c900e4b8ec627b698ac8eae8c5fd">More...</a><br /></td></tr>
<tr class="separator:a30b0c900e4b8ec627b698ac8eae8c5fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8ca6546ad2e9aad767591d11b7b5d7d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac8ca6546ad2e9aad767591d11b7b5d7d">battlescene</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac8ca6546ad2e9aad767591d11b7b5d7d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Battle effects (animations) (0=on, 1=off)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac8ca6546ad2e9aad767591d11b7b5d7d">More...</a><br /></td></tr>
<tr class="separator:ac8ca6546ad2e9aad767591d11b7b5d7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a48bd46020dee9f3d3f7c79a8b89a0ed0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a48bd46020dee9f3d3f7c79a8b89a0ed0">battlestyle</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a48bd46020dee9f3d3f7c79a8b89a0ed0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Battle style (0=switch, 1=set)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a48bd46020dee9f3d3f7c79a8b89a0ed0">More...</a><br /></td></tr>
<tr class="separator:a48bd46020dee9f3d3f7c79a8b89a0ed0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7852c943612559a9ec932dcc2b14411"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab7852c943612559a9ec932dcc2b14411">frame</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ab7852c943612559a9ec932dcc2b14411"><td class="mdescLeft">&#160;</td><td class="mdescRight">Default window frame (see also </p><dl class="section see"><dt>See also</dt><dd>TextFrames</dd></dl>
<p>)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab7852c943612559a9ec932dcc2b14411">More...</a><br /></td></tr>
<tr class="separator:ab7852c943612559a9ec932dcc2b14411"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3779682f6296c6fc79b24aac5f97f487"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3779682f6296c6fc79b24aac5f97f487">textskin</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3779682f6296c6fc79b24aac5f97f487"><td class="mdescLeft">&#160;</td><td class="mdescRight">Speech frame   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3779682f6296c6fc79b24aac5f97f487">More...</a><br /></td></tr>
<tr class="separator:a3779682f6296c6fc79b24aac5f97f487"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20381512ddf33e0ae9bba6ff947b7933"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20381512ddf33e0ae9bba6ff947b7933">font</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a20381512ddf33e0ae9bba6ff947b7933"><td class="mdescLeft">&#160;</td><td class="mdescRight">Font (see also </p><dl class="section see"><dt>See also</dt><dd>VersionStyles</dd></dl>
<p>)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20381512ddf33e0ae9bba6ff947b7933">More...</a><br /></td></tr>
<tr class="separator:a20381512ddf33e0ae9bba6ff947b7933"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2656323279a184324468245abeaa1c2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab2656323279a184324468245abeaa1c2">screensize</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ab2656323279a184324468245abeaa1c2"><td class="mdescLeft">&#160;</td><td class="mdescRight">0=half size, 1=full size, 2=double size   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab2656323279a184324468245abeaa1c2">More...</a><br /></td></tr>
<tr class="separator:ab2656323279a184324468245abeaa1c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae82b87577d4c5e2c353b6fdc3d5d53a2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ae82b87577d4c5e2c353b6fdc3d5d53a2">language</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae82b87577d4c5e2c353b6fdc3d5d53a2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Language (see also LANGUAGES in script <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonSystem</a>)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#ae82b87577d4c5e2c353b6fdc3d5d53a2">More...</a><br /></td></tr>
<tr class="separator:ae82b87577d4c5e2c353b6fdc3d5d53a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed6301ceb8ed97e5ed46ba2375d26974"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#aed6301ceb8ed97e5ed46ba2375d26974">border</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aed6301ceb8ed97e5ed46ba2375d26974"><td class="mdescLeft">&#160;</td><td class="mdescRight">Screen border (0=off, 1=on)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#aed6301ceb8ed97e5ed46ba2375d26974">More...</a><br /></td></tr>
<tr class="separator:aed6301ceb8ed97e5ed46ba2375d26974"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e98b915716e31bd19414ccbc68cda9b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3e98b915716e31bd19414ccbc68cda9b">runstyle</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3e98b915716e31bd19414ccbc68cda9b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Run key functionality (0=hold to run, 1=toggle auto-run)   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3e98b915716e31bd19414ccbc68cda9b">More...</a><br /></td></tr>
<tr class="separator:a3e98b915716e31bd19414ccbc68cda9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20a9fd945ada1ac4b25b765949df5c5a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20a9fd945ada1ac4b25b765949df5c5a">bgmvolume</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a20a9fd945ada1ac4b25b765949df5c5a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Volume of background music and ME   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20a9fd945ada1ac4b25b765949df5c5a">More...</a><br /></td></tr>
<tr class="separator:a20a9fd945ada1ac4b25b765949df5c5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac238057442f5d189006f47271abb04cc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac238057442f5d189006f47271abb04cc">sevolume</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac238057442f5d189006f47271abb04cc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Volume of sound effects   <a href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac238057442f5d189006f47271abb04cc">More...</a><br /></td></tr>
<tr class="separator:ac238057442f5d189006f47271abb04cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7cc54a6d4054fd27353170526e38df62"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a7cc54a6d4054fd27353170526e38df62">tilemap</a><code> [get]</code></td></tr>
<tr class="separator:a7cc54a6d4054fd27353170526e38df62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a></td></tr>
<tr class="memitem:aded269acf3229715343edbe48e23d893 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#aded269acf3229715343edbe48e23d893">textspeed</a><code> [get, set]</code></td></tr>
<tr class="separator:aded269acf3229715343edbe48e23d893 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4cf3c4b8741b18e54a2343e3d26ba184 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a4cf3c4b8741b18e54a2343e3d26ba184">battlescene</a><code> [get, set]</code></td></tr>
<tr class="separator:a4cf3c4b8741b18e54a2343e3d26ba184 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f65398e4e41fe156a444237e7e2bcde inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a7f65398e4e41fe156a444237e7e2bcde">battlestyle</a><code> [get, set]</code></td></tr>
<tr class="separator:a7f65398e4e41fe156a444237e7e2bcde inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822c0cefd8f22bf13d3574c627b46a3b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a822c0cefd8f22bf13d3574c627b46a3b">frame</a><code> [get, set]</code></td></tr>
<tr class="separator:a822c0cefd8f22bf13d3574c627b46a3b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a598394a6e84e6c614ce2f65c6584b1a7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a598394a6e84e6c614ce2f65c6584b1a7">textskin</a><code> [get]</code></td></tr>
<tr class="separator:a598394a6e84e6c614ce2f65c6584b1a7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a144b661705eb090ea4301b2d95e37915 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a144b661705eb090ea4301b2d95e37915">font</a><code> [get, set]</code></td></tr>
<tr class="separator:a144b661705eb090ea4301b2d95e37915 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46c111b7c82c2d7c0ec0d2a635e78eef inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a46c111b7c82c2d7c0ec0d2a635e78eef">screensize</a><code> [get, set]</code></td></tr>
<tr class="separator:a46c111b7c82c2d7c0ec0d2a635e78eef inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d477a7d2ada466b8e5f587c55a550a3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a5d477a7d2ada466b8e5f587c55a550a3">language</a><code> [get]</code></td></tr>
<tr class="separator:a5d477a7d2ada466b8e5f587c55a550a3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9bff3506e845369f08e4c6747f7c70e7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a9bff3506e845369f08e4c6747f7c70e7">border</a><code> [get]</code></td></tr>
<tr class="separator:a9bff3506e845369f08e4c6747f7c70e7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71d5dae12f2e8b7ae846181fd9861374 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a71d5dae12f2e8b7ae846181fd9861374">runstyle</a><code> [get]</code></td></tr>
<tr class="separator:a71d5dae12f2e8b7ae846181fd9861374 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:accee740bea8af6bee0757a7550dea28f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#accee740bea8af6bee0757a7550dea28f">bgmvolume</a><code> [get]</code></td></tr>
<tr class="separator:accee740bea8af6bee0757a7550dea28f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1131a30355b3ab222a340fba284d212 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ac1131a30355b3ab222a340fba284d212">sevolume</a><code> [get]</code></td></tr>
<tr class="separator:ac1131a30355b3ab222a340fba284d212 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58dd9ac4e15d87f1b2425f10a699b042 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a58dd9ac4e15d87f1b2425f10a699b042">tilemap</a><code> [get]</code></td></tr>
<tr class="separator:a58dd9ac4e15d87f1b2425f10a699b042 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a1d2e89e6d3211756862ee857516e3ca8" name="a1d2e89e6d3211756862ee857516e3ca8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1d2e89e6d3211756862ee857516e3ca8">&#9670;&#160;</a></span>PokemonSystem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.PokemonSystem.PokemonSystem </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ada8af66da8823c5495fbaf010fa709f7" name="ada8af66da8823c5495fbaf010fa709f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ada8af66da8823c5495fbaf010fa709f7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a> PokemonUnity.PokemonSystem.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ab29c59d5e2291e29184a0af557b0e9ef">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac8ca6546ad2e9aad767591d11b7b5d7d" name="ac8ca6546ad2e9aad767591d11b7b5d7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8ca6546ad2e9aad767591d11b7b5d7d">&#9670;&#160;</a></span>battlescene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.battlescene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Battle effects (animations) (0=on, 1=off)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a4cf3c4b8741b18e54a2343e3d26ba184">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a48bd46020dee9f3d3f7c79a8b89a0ed0" name="a48bd46020dee9f3d3f7c79a8b89a0ed0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a48bd46020dee9f3d3f7c79a8b89a0ed0">&#9670;&#160;</a></span>battlestyle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.battlestyle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Battle style (0=switch, 1=set)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a7f65398e4e41fe156a444237e7e2bcde">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a20a9fd945ada1ac4b25b765949df5c5a" name="a20a9fd945ada1ac4b25b765949df5c5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20a9fd945ada1ac4b25b765949df5c5a">&#9670;&#160;</a></span>bgmvolume</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.bgmvolume</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Volume of background music and ME  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#accee740bea8af6bee0757a7550dea28f">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="aed6301ceb8ed97e5ed46ba2375d26974" name="aed6301ceb8ed97e5ed46ba2375d26974"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed6301ceb8ed97e5ed46ba2375d26974">&#9670;&#160;</a></span>border</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.border</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Screen border (0=off, 1=on)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a9bff3506e845369f08e4c6747f7c70e7">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a20381512ddf33e0ae9bba6ff947b7933" name="a20381512ddf33e0ae9bba6ff947b7933"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20381512ddf33e0ae9bba6ff947b7933">&#9670;&#160;</a></span>font</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.font</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Font (see also </p><dl class="section see"><dt>See also</dt><dd>VersionStyles</dd></dl>
<p>)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a144b661705eb090ea4301b2d95e37915">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="ab7852c943612559a9ec932dcc2b14411" name="ab7852c943612559a9ec932dcc2b14411"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7852c943612559a9ec932dcc2b14411">&#9670;&#160;</a></span>frame</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.frame</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Default window frame (see also </p><dl class="section see"><dt>See also</dt><dd>TextFrames</dd></dl>
<p>)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a822c0cefd8f22bf13d3574c627b46a3b">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="ae82b87577d4c5e2c353b6fdc3d5d53a2" name="ae82b87577d4c5e2c353b6fdc3d5d53a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae82b87577d4c5e2c353b6fdc3d5d53a2">&#9670;&#160;</a></span>language</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.language</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Language (see also LANGUAGES in script <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonSystem</a>)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a5d477a7d2ada466b8e5f587c55a550a3">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a3e98b915716e31bd19414ccbc68cda9b" name="a3e98b915716e31bd19414ccbc68cda9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e98b915716e31bd19414ccbc68cda9b">&#9670;&#160;</a></span>runstyle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.runstyle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Run key functionality (0=hold to run, 1=toggle auto-run)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a71d5dae12f2e8b7ae846181fd9861374">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="ab2656323279a184324468245abeaa1c2" name="ab2656323279a184324468245abeaa1c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2656323279a184324468245abeaa1c2">&#9670;&#160;</a></span>screensize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.screensize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>0=half size, 1=full size, 2=double size  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a46c111b7c82c2d7c0ec0d2a635e78eef">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="ac238057442f5d189006f47271abb04cc" name="ac238057442f5d189006f47271abb04cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac238057442f5d189006f47271abb04cc">&#9670;&#160;</a></span>sevolume</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.sevolume</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Volume of sound effects  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ac1131a30355b3ab222a340fba284d212">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a3779682f6296c6fc79b24aac5f97f487" name="a3779682f6296c6fc79b24aac5f97f487"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3779682f6296c6fc79b24aac5f97f487">&#9670;&#160;</a></span>textskin</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.textskin</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Speech frame  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a598394a6e84e6c614ce2f65c6584b1a7">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a30b0c900e4b8ec627b698ac8eae8c5fd" name="a30b0c900e4b8ec627b698ac8eae8c5fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30b0c900e4b8ec627b698ac8eae8c5fd">&#9670;&#160;</a></span>textspeed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.textspeed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Text speed (0=slow, 1=normal, 2=fast)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#aded269acf3229715343edbe48e23d893">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<a id="a7cc54a6d4054fd27353170526e38df62" name="a7cc54a6d4054fd27353170526e38df62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7cc54a6d4054fd27353170526e38df62">&#9670;&#160;</a></span>tilemap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonSystem.tilemap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a58dd9ac4e15d87f1b2425f10a699b042">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Game/<a class="el" href="_options_8cs.cshtml">Options.cs</a></li>
</ul>

