@{
	Page.Title = "PokemonUnity.Combat.Effects.Side Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml">Side</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Combat.Effects.Side Class Reference</div></div>
}


<p>These effects apply to a side   
 <a href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Combat.Effects.Side:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.png" usemap="#PokemonUnity.Combat.Effects.Side_map" alt=""/>
  <map id="PokemonUnity.Combat.Effects.Side_map" name="PokemonUnity.Combat.Effects.Side_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml" title="These effects apply to a side" alt="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide" shape="rect" coords="0,0,350,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2e22aadfba8f67e5183a80e68197f362"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a2e22aadfba8f67e5183a80e68197f362">CraftyShield</a><code> [get, set]</code></td></tr>
<tr class="separator:a2e22aadfba8f67e5183a80e68197f362"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adcd083a1c5f72d846d38371882a9ce3c"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#adcd083a1c5f72d846d38371882a9ce3c">EchoedVoiceCounter</a><code> [get, set]</code></td></tr>
<tr class="separator:adcd083a1c5f72d846d38371882a9ce3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab639d98fc5930bc351a45e11e33f21c2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#ab639d98fc5930bc351a45e11e33f21c2">EchoedVoiceUsed</a><code> [get, set]</code></td></tr>
<tr class="separator:ab639d98fc5930bc351a45e11e33f21c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1212e3c7a1f6ed546ae1baa865d26747"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a1212e3c7a1f6ed546ae1baa865d26747">LastRoundFainted</a><code> [get, set]</code></td></tr>
<tr class="separator:a1212e3c7a1f6ed546ae1baa865d26747"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a201a1cda09f30971882147fd07740f39"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a201a1cda09f30971882147fd07740f39">LightScreen</a><code> [get, set]</code></td></tr>
<tr class="separator:a201a1cda09f30971882147fd07740f39"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c455f88fe2548fe3e159e21e1b03370"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a8c455f88fe2548fe3e159e21e1b03370">LuckyChant</a><code> [get, set]</code></td></tr>
<tr class="separator:a8c455f88fe2548fe3e159e21e1b03370"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab645e737bf4f0db0a79e3dd203d17d83"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#ab645e737bf4f0db0a79e3dd203d17d83">MatBlock</a><code> [get, set]</code></td></tr>
<tr class="separator:ab645e737bf4f0db0a79e3dd203d17d83"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3843a963d16e9eb9d619bcc8e6549854"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a3843a963d16e9eb9d619bcc8e6549854">Mist</a><code> [get, set]</code></td></tr>
<tr class="separator:a3843a963d16e9eb9d619bcc8e6549854"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af4e189c0c10602200466c32d4379e21e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#af4e189c0c10602200466c32d4379e21e">QuickGuard</a><code> [get, set]</code></td></tr>
<tr class="separator:af4e189c0c10602200466c32d4379e21e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11804cf127c1ff6d0646794968d3ab63"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a11804cf127c1ff6d0646794968d3ab63">Rainbow</a><code> [get, set]</code></td></tr>
<tr class="separator:a11804cf127c1ff6d0646794968d3ab63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71daea7629035db3a29dd6a0d6bf17d6"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a71daea7629035db3a29dd6a0d6bf17d6">Reflect</a><code> [get, set]</code></td></tr>
<tr class="separator:a71daea7629035db3a29dd6a0d6bf17d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a033eb085068d0444830496da63643167"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a033eb085068d0444830496da63643167">Round</a><code> [get, set]</code></td></tr>
<tr class="separator:a033eb085068d0444830496da63643167"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a301156f7013d8983f4c9ee16100bdddb"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a301156f7013d8983f4c9ee16100bdddb">Safeguard</a><code> [get, set]</code></td></tr>
<tr class="separator:a301156f7013d8983f4c9ee16100bdddb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87fc6e5ce78da46e4a96405020d24a53"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a87fc6e5ce78da46e4a96405020d24a53">SeaOfFire</a><code> [get, set]</code></td></tr>
<tr class="separator:a87fc6e5ce78da46e4a96405020d24a53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30ddfde5aed03d97014677fb4e479d8b"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a30ddfde5aed03d97014677fb4e479d8b">Spikes</a><code> [get, set]</code></td></tr>
<tr class="separator:a30ddfde5aed03d97014677fb4e479d8b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6196f8d8b6cf7a6c1defc2334857a7c8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a6196f8d8b6cf7a6c1defc2334857a7c8">StealthRock</a><code> [get, set]</code></td></tr>
<tr class="separator:a6196f8d8b6cf7a6c1defc2334857a7c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb6f557dc1b6b7e8bfc257d10385d2a8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#acb6f557dc1b6b7e8bfc257d10385d2a8">StickyWeb</a><code> [get, set]</code></td></tr>
<tr class="separator:acb6f557dc1b6b7e8bfc257d10385d2a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a84d9082f3fba4fd3e3cd567064b5aee5"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a84d9082f3fba4fd3e3cd567064b5aee5">Swamp</a><code> [get, set]</code></td></tr>
<tr class="separator:a84d9082f3fba4fd3e3cd567064b5aee5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a599dcec5a47a472b5a5a2a0baf1b523c"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a599dcec5a47a472b5a5a2a0baf1b523c">Tailwind</a><code> [get, set]</code></td></tr>
<tr class="separator:a599dcec5a47a472b5a5a2a0baf1b523c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b5ce64d7cceb256e5da5a9322bd9430"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a6b5ce64d7cceb256e5da5a9322bd9430">ToxicSpikes</a><code> [get, set]</code></td></tr>
<tr class="separator:a6b5ce64d7cceb256e5da5a9322bd9430"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0ce91cfa7cee15b3de8c7e88a9d3549d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#a0ce91cfa7cee15b3de8c7e88a9d3549d">WideGuard</a><code> [get, set]</code></td></tr>
<tr class="separator:a0ce91cfa7cee15b3de8c7e88a9d3549d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a></td></tr>
<tr class="memitem:affd0f44673c0f11ec3b3ff7c5b2a45ed inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#affd0f44673c0f11ec3b3ff7c5b2a45ed">CraftyShield</a><code> [get, set]</code></td></tr>
<tr class="separator:affd0f44673c0f11ec3b3ff7c5b2a45ed inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed4c6781e5e5f4a6181c06051104a9f3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#aed4c6781e5e5f4a6181c06051104a9f3">EchoedVoiceCounter</a><code> [get, set]</code></td></tr>
<tr class="separator:aed4c6781e5e5f4a6181c06051104a9f3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1d5b607a34b3b6d00998a49300902b8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#ab1d5b607a34b3b6d00998a49300902b8">EchoedVoiceUsed</a><code> [get, set]</code></td></tr>
<tr class="separator:ab1d5b607a34b3b6d00998a49300902b8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c5a74477e1b1b9363c856ac1deceaa3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a2c5a74477e1b1b9363c856ac1deceaa3">LastRoundFainted</a><code> [get, set]</code></td></tr>
<tr class="separator:a2c5a74477e1b1b9363c856ac1deceaa3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5010d9e6443e14ae5ada57cc0a118904 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a5010d9e6443e14ae5ada57cc0a118904">LightScreen</a><code> [get, set]</code></td></tr>
<tr class="separator:a5010d9e6443e14ae5ada57cc0a118904 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a465f2b3793da965c7868294095186121 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a465f2b3793da965c7868294095186121">LuckyChant</a><code> [get, set]</code></td></tr>
<tr class="separator:a465f2b3793da965c7868294095186121 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18c681fac6aa59d960008d1bb341440b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a18c681fac6aa59d960008d1bb341440b">MatBlock</a><code> [get, set]</code></td></tr>
<tr class="separator:a18c681fac6aa59d960008d1bb341440b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a1f3f822886d45483c295c13013864d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a0a1f3f822886d45483c295c13013864d">Mist</a><code> [get, set]</code></td></tr>
<tr class="separator:a0a1f3f822886d45483c295c13013864d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad24a4210bb5abf6e76ddd6906bb4a07a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#ad24a4210bb5abf6e76ddd6906bb4a07a">QuickGuard</a><code> [get, set]</code></td></tr>
<tr class="separator:ad24a4210bb5abf6e76ddd6906bb4a07a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b3fa23a322af8a39511b7f2fc9ce35 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a44b3fa23a322af8a39511b7f2fc9ce35">Rainbow</a><code> [get, set]</code></td></tr>
<tr class="separator:a44b3fa23a322af8a39511b7f2fc9ce35 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abdcf0c9dd61dbaf2825252285d5da400 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#abdcf0c9dd61dbaf2825252285d5da400">Reflect</a><code> [get, set]</code></td></tr>
<tr class="separator:abdcf0c9dd61dbaf2825252285d5da400 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af22cb85d063a6508d4c70981a67c4cd7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#af22cb85d063a6508d4c70981a67c4cd7">Round</a><code> [get, set]</code></td></tr>
<tr class="separator:af22cb85d063a6508d4c70981a67c4cd7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94174791793f9a2a56be25fecea15585 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a94174791793f9a2a56be25fecea15585">Safeguard</a><code> [get, set]</code></td></tr>
<tr class="separator:a94174791793f9a2a56be25fecea15585 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3c01e5bd0496dfb0402d95462f43917 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#af3c01e5bd0496dfb0402d95462f43917">SeaOfFire</a><code> [get, set]</code></td></tr>
<tr class="separator:af3c01e5bd0496dfb0402d95462f43917 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18271e42724de8e17cac99f7f0a03032 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a18271e42724de8e17cac99f7f0a03032">Spikes</a><code> [get, set]</code></td></tr>
<tr class="separator:a18271e42724de8e17cac99f7f0a03032 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaefb07b238fb3a6d8c7eaed5097d9462 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#aaefb07b238fb3a6d8c7eaed5097d9462">StealthRock</a><code> [get, set]</code></td></tr>
<tr class="separator:aaefb07b238fb3a6d8c7eaed5097d9462 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5475676d555457f0147d0e45d79b0844 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a5475676d555457f0147d0e45d79b0844">StickyWeb</a><code> [get, set]</code></td></tr>
<tr class="separator:a5475676d555457f0147d0e45d79b0844 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a481471696d1e4f345b8820a9afb22233 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a481471696d1e4f345b8820a9afb22233">Swamp</a><code> [get, set]</code></td></tr>
<tr class="separator:a481471696d1e4f345b8820a9afb22233 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a143995a212fc399a3e11ee434c51eedd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a143995a212fc399a3e11ee434c51eedd">Tailwind</a><code> [get, set]</code></td></tr>
<tr class="separator:a143995a212fc399a3e11ee434c51eedd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22084abdf22379ad7132345ba5b5e146 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a22084abdf22379ad7132345ba5b5e146">ToxicSpikes</a><code> [get, set]</code></td></tr>
<tr class="separator:a22084abdf22379ad7132345ba5b5e146 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4d7d2c318d802cf3c81172c3a998b508 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a4d7d2c318d802cf3c81172c3a998b508">WideGuard</a><code> [get, set]</code></td></tr>
<tr class="separator:a4d7d2c318d802cf3c81172c3a998b508 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >These effects apply to a side  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a2e22aadfba8f67e5183a80e68197f362" name="a2e22aadfba8f67e5183a80e68197f362"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e22aadfba8f67e5183a80e68197f362">&#9670;&#160;</a></span>CraftyShield</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.CraftyShield</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#affd0f44673c0f11ec3b3ff7c5b2a45ed">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="adcd083a1c5f72d846d38371882a9ce3c" name="adcd083a1c5f72d846d38371882a9ce3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adcd083a1c5f72d846d38371882a9ce3c">&#9670;&#160;</a></span>EchoedVoiceCounter</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.EchoedVoiceCounter</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#aed4c6781e5e5f4a6181c06051104a9f3">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="ab639d98fc5930bc351a45e11e33f21c2" name="ab639d98fc5930bc351a45e11e33f21c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab639d98fc5930bc351a45e11e33f21c2">&#9670;&#160;</a></span>EchoedVoiceUsed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.EchoedVoiceUsed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#ab1d5b607a34b3b6d00998a49300902b8">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a1212e3c7a1f6ed546ae1baa865d26747" name="a1212e3c7a1f6ed546ae1baa865d26747"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1212e3c7a1f6ed546ae1baa865d26747">&#9670;&#160;</a></span>LastRoundFainted</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Combat.Effects.Side.LastRoundFainted</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a2c5a74477e1b1b9363c856ac1deceaa3">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a201a1cda09f30971882147fd07740f39" name="a201a1cda09f30971882147fd07740f39"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a201a1cda09f30971882147fd07740f39">&#9670;&#160;</a></span>LightScreen</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.LightScreen</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a5010d9e6443e14ae5ada57cc0a118904">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a8c455f88fe2548fe3e159e21e1b03370" name="a8c455f88fe2548fe3e159e21e1b03370"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c455f88fe2548fe3e159e21e1b03370">&#9670;&#160;</a></span>LuckyChant</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.LuckyChant</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a465f2b3793da965c7868294095186121">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="ab645e737bf4f0db0a79e3dd203d17d83" name="ab645e737bf4f0db0a79e3dd203d17d83"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab645e737bf4f0db0a79e3dd203d17d83">&#9670;&#160;</a></span>MatBlock</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.MatBlock</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a18c681fac6aa59d960008d1bb341440b">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a3843a963d16e9eb9d619bcc8e6549854" name="a3843a963d16e9eb9d619bcc8e6549854"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3843a963d16e9eb9d619bcc8e6549854">&#9670;&#160;</a></span>Mist</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Mist</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a0a1f3f822886d45483c295c13013864d">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="af4e189c0c10602200466c32d4379e21e" name="af4e189c0c10602200466c32d4379e21e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af4e189c0c10602200466c32d4379e21e">&#9670;&#160;</a></span>QuickGuard</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.QuickGuard</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#ad24a4210bb5abf6e76ddd6906bb4a07a">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a11804cf127c1ff6d0646794968d3ab63" name="a11804cf127c1ff6d0646794968d3ab63"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11804cf127c1ff6d0646794968d3ab63">&#9670;&#160;</a></span>Rainbow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Rainbow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a44b3fa23a322af8a39511b7f2fc9ce35">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a71daea7629035db3a29dd6a0d6bf17d6" name="a71daea7629035db3a29dd6a0d6bf17d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71daea7629035db3a29dd6a0d6bf17d6">&#9670;&#160;</a></span>Reflect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Reflect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#abdcf0c9dd61dbaf2825252285d5da400">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a033eb085068d0444830496da63643167" name="a033eb085068d0444830496da63643167"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a033eb085068d0444830496da63643167">&#9670;&#160;</a></span>Round</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Round</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#af22cb85d063a6508d4c70981a67c4cd7">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a301156f7013d8983f4c9ee16100bdddb" name="a301156f7013d8983f4c9ee16100bdddb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a301156f7013d8983f4c9ee16100bdddb">&#9670;&#160;</a></span>Safeguard</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Safeguard</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a94174791793f9a2a56be25fecea15585">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a87fc6e5ce78da46e4a96405020d24a53" name="a87fc6e5ce78da46e4a96405020d24a53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87fc6e5ce78da46e4a96405020d24a53">&#9670;&#160;</a></span>SeaOfFire</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.SeaOfFire</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#af3c01e5bd0496dfb0402d95462f43917">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a30ddfde5aed03d97014677fb4e479d8b" name="a30ddfde5aed03d97014677fb4e479d8b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30ddfde5aed03d97014677fb4e479d8b">&#9670;&#160;</a></span>Spikes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Spikes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a18271e42724de8e17cac99f7f0a03032">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a6196f8d8b6cf7a6c1defc2334857a7c8" name="a6196f8d8b6cf7a6c1defc2334857a7c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6196f8d8b6cf7a6c1defc2334857a7c8">&#9670;&#160;</a></span>StealthRock</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.StealthRock</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#aaefb07b238fb3a6d8c7eaed5097d9462">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="acb6f557dc1b6b7e8bfc257d10385d2a8" name="acb6f557dc1b6b7e8bfc257d10385d2a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb6f557dc1b6b7e8bfc257d10385d2a8">&#9670;&#160;</a></span>StickyWeb</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.StickyWeb</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a5475676d555457f0147d0e45d79b0844">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a84d9082f3fba4fd3e3cd567064b5aee5" name="a84d9082f3fba4fd3e3cd567064b5aee5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a84d9082f3fba4fd3e3cd567064b5aee5">&#9670;&#160;</a></span>Swamp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Swamp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a481471696d1e4f345b8820a9afb22233">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a599dcec5a47a472b5a5a2a0baf1b523c" name="a599dcec5a47a472b5a5a2a0baf1b523c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a599dcec5a47a472b5a5a2a0baf1b523c">&#9670;&#160;</a></span>Tailwind</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.Tailwind</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a143995a212fc399a3e11ee434c51eedd">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a6b5ce64d7cceb256e5da5a9322bd9430" name="a6b5ce64d7cceb256e5da5a9322bd9430"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b5ce64d7cceb256e5da5a9322bd9430">&#9670;&#160;</a></span>ToxicSpikes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Combat.Effects.Side.ToxicSpikes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a22084abdf22379ad7132345ba5b5e146">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<a id="a0ce91cfa7cee15b3de8c7e88a9d3549d" name="a0ce91cfa7cee15b3de8c7e88a9d3549d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0ce91cfa7cee15b3de8c7e88a9d3549d">&#9670;&#160;</a></span>WideGuard</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Combat.Effects.Side.WideGuard</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#a4d7d2c318d802cf3c81172c3a998b508">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Effects/<a class="el" href="_side_8cs.cshtml">Side.cs</a></li>
</ul>

