@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">DayCare</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.DayCare Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a80e6fcc447bdf214e7b69c3325a89d03">DayCare</a>(int slots)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ac29a2a5579efee6da541194db26d5af6">DayCareChoose</a>(string text, int variable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1d053a196861ed9ba190405c5390bf26">DayCareCompatibleGender</a>(IPokemon pokemon1, IPokemon pokemon2)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1056ad0350f9f277ec119a58181213c6">DayCareDeposit</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ad546869e992392998992c6f3c39386f1">DayCareDeposited</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#af2a96c0495dfa4266e5dd09f9d63ef6d">DayCareGenerateEgg</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a591cdd8af7a99b0163de15310faac853">DayCareGetCompat</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5b4387051dd238ff4a3a273144350837">DayCareGetCompatibility</a>(int variable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a3274e5cadc056371663f78752ce4cfa4">DayCareGetDeposited</a>(int index, int nameVariable, int costVariable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ada66415c597ab4b1126710255acb3f10">DayCareGetLevelGain</a>(int index, int nameVariable, int levelVariable)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1a1666eb6db65a34830206bbe6ecc643">DayCareWithdraw</a>(int index)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a0f1bf5a5e2620b51669862f7c94f1591">Egg</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a22343b5614d772c070459e1c0d2518f3">EggGenerated</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#af03c8805208117e763522a3e2fba0b83">HasEgg</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a7cd002bdf3a7e738c2cc1d506454614a">IsDitto</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#afa1eee0192461c2fd093ed848c034b04">OnStepTakenEventHandler</a>(object sender, IOnStepTakenFieldMovementEventArgs e)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ab1d9ef400f70c55bc8ea8a4947ff1b80">Slot</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#abc4294e85df246bf58d44de78b5fd15e">this[int index]</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">PokemonUnity.Character.DayCare</a></td><td class="entry"></td></tr>
</table>
