@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml">Spriteset_Map</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Game.Spriteset_Map Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml">PokemonUnity.Game.Spriteset_Map</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml#aeb070ae52e67db95fe0ca955b986a943">getAnimations</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml">PokemonUnity.Game.Spriteset_Map</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml#a43d1b062ec4bd05a54a9d8b2f4a5773e">restoreAnimations</a>(int anims)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml">PokemonUnity.Game.Spriteset_Map</a></td><td class="entry"></td></tr>
</table>
