@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">TotalLevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.TotalLevelRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">PokemonUnity.TotalLevelRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml#a591047143aa177380d971bd01e893e44">errorMessage</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">PokemonUnity.TotalLevelRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml#a4b0010b08a8bdc7e3d1436aa08e74566">isValid</a>(PokemonEssentials.Interface.PokeBattle.IPokemon[] team)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">PokemonUnity.TotalLevelRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">PokemonEssentials::Interface::Battle::IBattleTeamRestriction.isValid</a>(IPokemon[] team)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml#a95fbb2658e9d4d63c251a6cca842471f">level</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">PokemonUnity.TotalLevelRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml#af730299749bfdd104931031c4b092ddc">TotalLevelRestriction</a>(int level)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml">PokemonUnity.TotalLevelRestriction</a></td><td class="entry"></td></tr>
</table>