@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_utility.cshtml">Utility</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">LinearCongRandom</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Utility.LinearCongRandom Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a3b9f01e2fa39f484d8971a36117d7696">dsSeed</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#aa344e953a4896113abdbad338c25bd26">getNext</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#ae041bd913c216ba83c239a7c449f0a17">getNext16</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a884565457e9cfbb00e734020550aa5b5">LinearCongRandom</a>(uint mul, int add, long? seed=null)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a4b34414d5a6b045a20e0a54a203d5a32">pokemonARNG</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#aa86ff6be97440b162312bf2c910ebbbe">pokemonRNG</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a1174edcd192ab8c9f113b77d70ac9b84">pokemonRNGInverse</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a86cd794633cf114ab424716c488eff19">s1</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#ab2446262073a566e5d50c47f7c350ff3">s2</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a0ad63bdacd8a46fb0653feb508dad980">Seed</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a5b57819c185e699c7f1386d6a5cafba5">SeedGenerated</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">PokemonUnity.Utility.LinearCongRandom</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
</table>