@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">InverseRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.InverseRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">PokemonUnity.InverseRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#aead6238817b6d91bce0df71addee06ca">initialize</a>(IBattleRestriction r)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">PokemonUnity.InverseRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#ae1378736192db0bfb629a03b63f412f2">InverseRestriction</a>(IBattleRestriction r)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">PokemonUnity.InverseRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a79eecf0fff27300720f4d7497757da0c">isValid</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">PokemonUnity.InverseRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a41ce02d7fd76398c7e5ef4b34f44f5d3">r</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml">PokemonUnity.InverseRestriction</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
</table>
