@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">OnEndBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnEndBattleEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a3cf6e64880855d545da489ebd1a2b4ff">CanLose</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a9bc63f8ffb3d2dbd2125a40ca17143f6">Decision</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#ad633a5770676792eb503efec5733e3eb">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#aedc855a699f173396ff8dcf9611c4bc0">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">PokemonUnity.EventArg.OnEndBattleEventArgs</a></td><td class="entry"></td></tr>
</table>
