@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle_aborted_exception.cshtml">BattleAbortedException</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Combat.BattleAbortedException Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle_aborted_exception.cshtml">PokemonUnity.Combat.BattleAbortedException</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle_aborted_exception.cshtml#a9640a366c1e0857600a80f68f19ea9b7">BattleAbortedException</a>(string message)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle_aborted_exception.cshtml">PokemonUnity.Combat.BattleAbortedException</a></td><td class="entry"></td></tr>
</table>
