@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">BattleChallengeType</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleChallengeType Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a57705e75cdd6a6487946cdd970a73ddf">battletype</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#ac50c3399ff103b3d73f6b57038aae19d">Clone</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a4386920dbbd3e0348def13adaac6bb62">currentSwaps</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a284cf37475de8a20152d5d3d8ea35099">currentWins</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a688e9dd8a2ca4dedd4e3e5c591c4b0a0">doublebattle</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a8d124eee7dbabbc1e5961715a95a3945">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a6c39b72c94a1fea127b2ac859248d166">maxSwaps</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a32417e96b140e089d966197df5cdae60">maxWins</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a60524b545253f6789125e50d9c92524d">mode</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#abe32fb92dbd98e2bf4d4729863f3069f">numPokemon</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a34165248c421c0b350f3e852f3e50c27">numRounds</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a4e2517c699b058ffe57188157d407530">previousSwaps</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#aab52b919157b8108cc5748f5bf2b91d8">previousWins</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml#a09ce77f794a1b6dbebe1dea2e87507b4">saveWins</a>(IBattleChallengeData challenge)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_challenge_type.cshtml">PokemonUnity.BattleChallengeType</a></td><td class="entry"></td></tr>
</table>
