@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_nonlegendary_restriction.cshtml">NonlegendaryRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.NonlegendaryRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_nonlegendary_restriction.cshtml">PokemonUnity.NonlegendaryRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nonlegendary_restriction.cshtml#a16431f363650dd8e4d95cdf275bc32ca">isValid</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_nonlegendary_restriction.cshtml">PokemonUnity.NonlegendaryRestriction</a></td><td class="entry"></td></tr>
</table>
