@{
	Page.Title = "PokemonUnity.UnevolvedFormRestriction Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_unevolved_form_restriction.cshtml">UnevolvedFormRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_unevolved_form_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UnevolvedFormRestriction Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.UnevolvedFormRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_unevolved_form_restriction.png" usemap="#PokemonUnity.UnevolvedFormRestriction_map" alt=""/>
  <map id="PokemonUnity.UnevolvedFormRestriction_map" name="PokemonUnity.UnevolvedFormRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="0,56,363,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_unevolved_form_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IUnevolvedFormRestriction" shape="rect" coords="373,56,736,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="373,0,736,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af3151da0a50a9cc1f3cb46b3b8ac24dd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_unevolved_form_restriction.cshtml#af3151da0a50a9cc1f3cb46b3b8ac24dd">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:af3151da0a50a9cc1f3cb46b3b8ac24dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af3151da0a50a9cc1f3cb46b3b8ac24dd" name="af3151da0a50a9cc1f3cb46b3b8ac24dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3151da0a50a9cc1f3cb46b3b8ac24dd">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.UnevolvedFormRestriction.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>

