@{
	Page.Title = "PokemonUnity.GameTemp Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml">GameTemp</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_game_temp-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.GameTemp Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab3db92ab445a3b1301001b8093f9b077"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game_temp.cshtml#ab3db92ab445a3b1301001b8093f9b077">background_bitmap</a> <code>[get, protected set]</code></td></tr>
<tr class="separator:ab3db92ab445a3b1301001b8093f9b077"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab3db92ab445a3b1301001b8093f9b077" name="ab3db92ab445a3b1301001b8093f9b077"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3db92ab445a3b1301001b8093f9b077">&#9670;&#160;</a></span>background_bitmap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> PokemonUnity.GameTemp.background_bitmap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Game/<a class="el" href="_game_8_field_8cs.cshtml">Game.Field.cs</a></li>
</ul>

