@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.NicknameChecker Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml">NicknameChecker</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="class_pokemon_unity_1_1_nickname_checker-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.NicknameChecker Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a6195404e4b18895e91040c530c639f09"><td class="memItemLeft" align="right" valign="top">static string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a6195404e4b18895e91040c530c639f09">getName</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a6195404e4b18895e91040c530c639f09"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac60f044f3d539e26d49fd4d215fd6a90"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#ac60f044f3d539e26d49fd4d215fd6a90">check</a> (string name, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:ac60f044f3d539e26d49fd4d215fd6a90"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a5da3fa848ee51151ce7e31e383cfbb44"><td class="memItemLeft" align="right" valign="top">static IDictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a5da3fa848ee51151ce7e31e383cfbb44">names</a> = new Dictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string&gt;()</td></tr>
<tr class="separator:a5da3fa848ee51151ce7e31e383cfbb44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aece7f90313dcd37c8179e98846fe0029"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#aece7f90313dcd37c8179e98846fe0029">namesMaxValue</a> = 0</td></tr>
<tr class="separator:aece7f90313dcd37c8179e98846fe0029"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac60f044f3d539e26d49fd4d215fd6a90" name="ac60f044f3d539e26d49fd4d215fd6a90"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac60f044f3d539e26d49fd4d215fd6a90">&#9670;&#160;</a></span>check()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.NicknameChecker.check </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6195404e4b18895e91040c530c639f09" name="a6195404e4b18895e91040c530c639f09"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6195404e4b18895e91040c530c639f09">&#9670;&#160;</a></span>getName()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static string PokemonUnity.NicknameChecker.getName </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a5da3fa848ee51151ce7e31e383cfbb44" name="a5da3fa848ee51151ce7e31e383cfbb44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5da3fa848ee51151ce7e31e383cfbb44">&#9670;&#160;</a></span>names</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string&gt; PokemonUnity.NicknameChecker.names = new Dictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string&gt;()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aece7f90313dcd37c8179e98846fe0029" name="aece7f90313dcd37c8179e98846fe0029"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aece7f90313dcd37c8179e98846fe0029">&#9670;&#160;</a></span>namesMaxValue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.NicknameChecker.namesMaxValue = 0</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>
