@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml">UX</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">Screen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.UX.Screen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#ab08d4c413a44a35295a82ba2a664fb77">Bag</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#aa20e547c8cbcf29bab7b9f18327512f9">BattleSwapScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#ab3a91ca2c55e8ba7a2921578b5c57b34">initialize</a>(params PokemonEssentials.Interface.Screen.IScreen[] screens)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_screens_u_i.cshtml#a5be51ef977a3f82d2e5b0ff48c96e9e6">PokemonEssentials::Interface::Screen::IGameScreensUI.initialize</a>(params PokemonEssentials.Interface.Screen.IScreen[] screens)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_screens_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScreensUI</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#af0e7d7b18f5710d46946f86f3ce887d2">IntroScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a1c9ed2c7bc3c96776d4ee4167fea2da0">Load</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a8ab5d1096ee6f677bec10c4b5bbfd4cb">Mart</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a52c48b1b65f0f1e0612aad038ed5a305">OptionScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#aff7684a30d3225926812c1027a9aa642">Party</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a7ef5be3e35f1d462d999cccbe07c6843">PauseMenuScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a39870c071b4906cbd0246f783e03d624">PokedexFormScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#aabdfe6b8cb9bb02645922d87171b61bb">PokedexNestScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#ab3c5063cd1f96c217c56c7d0ab512780">PokedexScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a5d1caf5c638105bf262424f02d39d928">PokemonStorageScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#ab4e0394511b49bf89b514b9f18157391">RelicStone</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a428002f481d8c74e51d74f7b4bb10925">Save</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a2834bbe9c2467ac68de936b8fc670ce8">Screen</a>(params PokemonEssentials.Interface.Screen.IScreen[] screens)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a3da315531b1741efa01aa037c0a88c62">Summary</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a975b1761ca90759a1eb7e390d79aa917">TextEntryScreen</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#a8264bbfa65a1355e5d052050e00ad7da">TrainerCard</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">PokemonUnity.UX.Screen</a></td><td class="entry"></td></tr>
</table>
