@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.PokemonChallengeRules Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml">PokemonChallengeRules</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_pokemon_challenge_rules-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.PokemonChallengeRules Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.PokemonChallengeRules:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_pokemon_challenge_rules.png" usemap="#PokemonUnity.PokemonChallengeRules_map" alt=""/>
  <map id="PokemonUnity.PokemonChallengeRules_map" name="PokemonUnity.PokemonChallengeRules_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml" alt="PokemonEssentials.Interface.Battle.IPokemonChallengeRules" shape="rect" coords="0,0,354,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aec641484a3b003bdb4eb9f550e2a8a9f"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#aec641484a3b003bdb4eb9f550e2a8a9f">PokemonChallengeRules</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a7692d4c1cd3691e507ce3b1c1c84dab9">ruleset</a>=null)</td></tr>
<tr class="separator:aec641484a3b003bdb4eb9f550e2a8a9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a968a7a3eab867db50a36ca4f055209fb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a968a7a3eab867db50a36ca4f055209fb">copy</a> ()</td></tr>
<tr class="separator:a968a7a3eab867db50a36ca4f055209fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a28b5fe51ab806761c76c151ed3a3692b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a28b5fe51ab806761c76c151ed3a3692b">setNumber</a> (int <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#ae4edce76348591b55d1c58b76c06cb70">number</a>)</td></tr>
<tr class="separator:a28b5fe51ab806761c76c151ed3a3692b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e22942da78f77c1778f4e2cad016e1e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a9e22942da78f77c1778f4e2cad016e1e">setDoubleBattle</a> (bool value)</td></tr>
<tr class="separator:a9e22942da78f77c1778f4e2cad016e1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e39a463a69934758d2ac34f30497fd4"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a5e39a463a69934758d2ac34f30497fd4">adjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party2)</td></tr>
<tr class="separator:a5e39a463a69934758d2ac34f30497fd4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac598e669802ca5dd18f4927298bd74a9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#ac598e669802ca5dd18f4927298bd74a9">unadjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:ac598e669802ca5dd18f4927298bd74a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0b7bb1b438804965fac07ecb51ccb5b9"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a0b7bb1b438804965fac07ecb51ccb5b9">adjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party2)</td></tr>
<tr class="separator:a0b7bb1b438804965fac07ecb51ccb5b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a9b63d53c4a79b0f8fbdef52f80020b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a3a9b63d53c4a79b0f8fbdef52f80020b">unadjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:a3a9b63d53c4a79b0f8fbdef52f80020b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:accaaa8cdf96ab008e646cb374ec8349d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#accaaa8cdf96ab008e646cb374ec8349d">addPokemonRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> rule)</td></tr>
<tr class="separator:accaaa8cdf96ab008e646cb374ec8349d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa40de9ad798d1a998adc3128c480f75"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#afa40de9ad798d1a998adc3128c480f75">addLevelRule</a> (int minLevel, int maxLevel, int totalLevel)</td></tr>
<tr class="separator:afa40de9ad798d1a998adc3128c480f75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afdd1773335be3f670b471631ef66a297"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#afdd1773335be3f670b471631ef66a297">addSubsetRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:afdd1773335be3f670b471631ef66a297"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fd7164ce067ae9207be79c914bca006"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a5fd7164ce067ae9207be79c914bca006">addTeamRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:a5fd7164ce067ae9207be79c914bca006"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af4f0407bedb2abe700c128f0cd9a1af0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#af4f0407bedb2abe700c128f0cd9a1af0">addBattleRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a> rule)</td></tr>
<tr class="separator:af4f0407bedb2abe700c128f0cd9a1af0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b01b1cf038b275dea473a1e06b0e9d6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a2b01b1cf038b275dea473a1e06b0e9d6">createBattle</a> (<a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:a2b01b1cf038b275dea473a1e06b0e9d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add5d615f2dfa748f22f2c6cb242d1794"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#add5d615f2dfa748f22f2c6cb242d1794">setRuleset</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> rule)</td></tr>
<tr class="separator:add5d615f2dfa748f22f2c6cb242d1794"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a201c1d179d7cf956c508a3e4a18e99ef"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a201c1d179d7cf956c508a3e4a18e99ef">setBattleType</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a> rule)</td></tr>
<tr class="separator:a201c1d179d7cf956c508a3e4a18e99ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb228b35bfac80e11bd6f5340ed9e91c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#acb228b35bfac80e11bd6f5340ed9e91c">setLevelAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a> rule)</td></tr>
<tr class="separator:acb228b35bfac80e11bd6f5340ed9e91c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a></td></tr>
<tr class="memitem:a6a7418e8bf0f906d197b0ae1e79d9541 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a6a7418e8bf0f906d197b0ae1e79d9541">copy</a> ()</td></tr>
<tr class="separator:a6a7418e8bf0f906d197b0ae1e79d9541 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40cda073b4086232988f4f2226198b72 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a40cda073b4086232988f4f2226198b72">setNumber</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">number</a>)</td></tr>
<tr class="separator:a40cda073b4086232988f4f2226198b72 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90ed6c42c0c2a7b09726df47b7a12773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a90ed6c42c0c2a7b09726df47b7a12773">setDoubleBattle</a> (bool value)</td></tr>
<tr class="separator:a90ed6c42c0c2a7b09726df47b7a12773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7ed874e7512b5e54771a059d80f69b6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ab7ed874e7512b5e54771a059d80f69b6">adjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2)</td></tr>
<tr class="separator:ab7ed874e7512b5e54771a059d80f69b6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9713d176324865de74d7bb566adbce8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9713d176324865de74d7bb566adbce8f">unadjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:a9713d176324865de74d7bb566adbce8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6ac4c713196736e8c2bae1ebb5c516d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ad6ac4c713196736e8c2bae1ebb5c516d">adjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2)</td></tr>
<tr class="separator:ad6ac4c713196736e8c2bae1ebb5c516d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a101ec2e1f0eda018ed0befbe09c8569b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a101ec2e1f0eda018ed0befbe09c8569b">unadjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:a101ec2e1f0eda018ed0befbe09c8569b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7cd3ad68e4c99945e5900316f1914bd inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ab7cd3ad68e4c99945e5900316f1914bd">addPokemonRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> rule)</td></tr>
<tr class="separator:ab7cd3ad68e4c99945e5900316f1914bd inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ab5bed3871e86bbe75abac32259b7e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ab5bed3871e86bbe75abac32259b7e1">addLevelRule</a> (int minLevel, int maxLevel, int totalLevel)</td></tr>
<tr class="separator:a9ab5bed3871e86bbe75abac32259b7e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a2562a3851313bd299ee1cbe8049462 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9a2562a3851313bd299ee1cbe8049462">addSubsetRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:a9a2562a3851313bd299ee1cbe8049462 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeceab9f488430f3c53fe90d598c20911 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aeceab9f488430f3c53fe90d598c20911">addTeamRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:aeceab9f488430f3c53fe90d598c20911 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a560efe199747e20b5a24c8d8626e5330 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a560efe199747e20b5a24c8d8626e5330">addBattleRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a> rule)</td></tr>
<tr class="separator:a560efe199747e20b5a24c8d8626e5330 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae79e33e4c1982d4651c6d1a0e17a2658 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ae79e33e4c1982d4651c6d1a0e17a2658">createBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:ae79e33e4c1982d4651c6d1a0e17a2658 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d9392da1cb9c21308f39d86b836ebc8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a1d9392da1cb9c21308f39d86b836ebc8">setRuleset</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> rule)</td></tr>
<tr class="separator:a1d9392da1cb9c21308f39d86b836ebc8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80b353a4b267856fdbc49bd93746f33b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a80b353a4b267856fdbc49bd93746f33b">setBattleType</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a> rule)</td></tr>
<tr class="separator:a80b353a4b267856fdbc49bd93746f33b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12cb598a1e76188886324577da82a934 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a12cb598a1e76188886324577da82a934">setLevelAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a> rule)</td></tr>
<tr class="separator:a12cb598a1e76188886324577da82a934 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a7692d4c1cd3691e507ce3b1c1c84dab9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a7692d4c1cd3691e507ce3b1c1c84dab9">ruleset</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a7692d4c1cd3691e507ce3b1c1c84dab9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09f2e4d856d981e7cbdcd73f2875a8b0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a09f2e4d856d981e7cbdcd73f2875a8b0">battletype</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a09f2e4d856d981e7cbdcd73f2875a8b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55327b5c58129e4d9c8b586fdf6e5997"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a55327b5c58129e4d9c8b586fdf6e5997">levelAdjustment</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a55327b5c58129e4d9c8b586fdf6e5997"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae4edce76348591b55d1c58b76c06cb70"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#ae4edce76348591b55d1c58b76c06cb70">number</a><code> [get]</code></td></tr>
<tr class="separator:ae4edce76348591b55d1c58b76c06cb70"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a></td></tr>
<tr class="memitem:aa0b250f0c02bcc7d9a9f787e3bb290b6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aa0b250f0c02bcc7d9a9f787e3bb290b6">ruleset</a><code> [get]</code></td></tr>
<tr class="separator:aa0b250f0c02bcc7d9a9f787e3bb290b6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb9609d038e567180354e54469dfb3e2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#adb9609d038e567180354e54469dfb3e2">battletype</a><code> [get]</code></td></tr>
<tr class="separator:adb9609d038e567180354e54469dfb3e2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a263f005907cbabea7f445907acc65c58 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a263f005907cbabea7f445907acc65c58">levelAdjustment</a><code> [get]</code></td></tr>
<tr class="separator:a263f005907cbabea7f445907acc65c58 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ea7ce2ca1a38e7ed7f665aca99bc2cf inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">number</a><code> [get]</code></td></tr>
<tr class="separator:a9ea7ce2ca1a38e7ed7f665aca99bc2cf inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aec641484a3b003bdb4eb9f550e2a8a9f" name="aec641484a3b003bdb4eb9f550e2a8a9f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec641484a3b003bdb4eb9f550e2a8a9f">&#9670;&#160;</a></span>PokemonChallengeRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.PokemonChallengeRules.PokemonChallengeRules </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td>
          <td class="paramname"><em>ruleset</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af4f0407bedb2abe700c128f0cd9a1af0" name="af4f0407bedb2abe700c128f0cd9a1af0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af4f0407bedb2abe700c128f0cd9a1af0">&#9670;&#160;</a></span>addBattleRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.addBattleRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a560efe199747e20b5a24c8d8626e5330">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="afa40de9ad798d1a998adc3128c480f75" name="afa40de9ad798d1a998adc3128c480f75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa40de9ad798d1a998adc3128c480f75">&#9670;&#160;</a></span>addLevelRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.addLevelRule </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minLevel</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxLevel</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>totalLevel</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ab5bed3871e86bbe75abac32259b7e1">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="accaaa8cdf96ab008e646cb374ec8349d" name="accaaa8cdf96ab008e646cb374ec8349d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#accaaa8cdf96ab008e646cb374ec8349d">&#9670;&#160;</a></span>addPokemonRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.addPokemonRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ab7cd3ad68e4c99945e5900316f1914bd">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="afdd1773335be3f670b471631ef66a297" name="afdd1773335be3f670b471631ef66a297"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afdd1773335be3f670b471631ef66a297">&#9670;&#160;</a></span>addSubsetRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.addSubsetRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9a2562a3851313bd299ee1cbe8049462">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a5fd7164ce067ae9207be79c914bca006" name="a5fd7164ce067ae9207be79c914bca006"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5fd7164ce067ae9207be79c914bca006">&#9670;&#160;</a></span>addTeamRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.addTeamRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aeceab9f488430f3c53fe90d598c20911">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a0b7bb1b438804965fac07ecb51ccb5b9" name="a0b7bb1b438804965fac07ecb51ccb5b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b7bb1b438804965fac07ecb51ccb5b9">&#9670;&#160;</a></span>adjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[][] PokemonUnity.PokemonChallengeRules.adjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5e39a463a69934758d2ac34f30497fd4" name="a5e39a463a69934758d2ac34f30497fd4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e39a463a69934758d2ac34f30497fd4">&#9670;&#160;</a></span>adjustLevelsBilateral()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[][] PokemonUnity.PokemonChallengeRules.adjustLevelsBilateral </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a968a7a3eab867db50a36ca4f055209fb" name="a968a7a3eab867db50a36ca4f055209fb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a968a7a3eab867db50a36ca4f055209fb">&#9670;&#160;</a></span>copy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.copy </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a6a7418e8bf0f906d197b0ae1e79d9541">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a2b01b1cf038b275dea473a1e06b0e9d6" name="a2b01b1cf038b275dea473a1e06b0e9d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b01b1cf038b275dea473a1e06b0e9d6">&#9670;&#160;</a></span>createBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a> PokemonUnity.PokemonChallengeRules.createBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a201c1d179d7cf956c508a3e4a18e99ef" name="a201c1d179d7cf956c508a3e4a18e99ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a201c1d179d7cf956c508a3e4a18e99ef">&#9670;&#160;</a></span>setBattleType()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.setBattleType </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a80b353a4b267856fdbc49bd93746f33b">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a9e22942da78f77c1778f4e2cad016e1e" name="a9e22942da78f77c1778f4e2cad016e1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e22942da78f77c1778f4e2cad016e1e">&#9670;&#160;</a></span>setDoubleBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.setDoubleBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a90ed6c42c0c2a7b09726df47b7a12773">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="acb228b35bfac80e11bd6f5340ed9e91c" name="acb228b35bfac80e11bd6f5340ed9e91c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb228b35bfac80e11bd6f5340ed9e91c">&#9670;&#160;</a></span>setLevelAdjustment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.setLevelAdjustment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a12cb598a1e76188886324577da82a934">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a28b5fe51ab806761c76c151ed3a3692b" name="a28b5fe51ab806761c76c151ed3a3692b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a28b5fe51ab806761c76c151ed3a3692b">&#9670;&#160;</a></span>setNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.setNumber </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>number</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a40cda073b4086232988f4f2226198b72">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="add5d615f2dfa748f22f2c6cb242d1794" name="add5d615f2dfa748f22f2c6cb242d1794"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add5d615f2dfa748f22f2c6cb242d1794">&#9670;&#160;</a></span>setRuleset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.PokemonChallengeRules.setRuleset </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a1d9392da1cb9c21308f39d86b836ebc8">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a3a9b63d53c4a79b0f8fbdef52f80020b" name="a3a9b63d53c4a79b0f8fbdef52f80020b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a9b63d53c4a79b0f8fbdef52f80020b">&#9670;&#160;</a></span>unadjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.PokemonChallengeRules.unadjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>adjusts</em>[][]&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac598e669802ca5dd18f4927298bd74a9" name="ac598e669802ca5dd18f4927298bd74a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac598e669802ca5dd18f4927298bd74a9">&#9670;&#160;</a></span>unadjustLevelsBilateral()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.PokemonChallengeRules.unadjustLevelsBilateral </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>adjusts</em>[][]&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a09f2e4d856d981e7cbdcd73f2875a8b0" name="a09f2e4d856d981e7cbdcd73f2875a8b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09f2e4d856d981e7cbdcd73f2875a8b0">&#9670;&#160;</a></span>battletype</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a> PokemonUnity.PokemonChallengeRules.battletype</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#adb9609d038e567180354e54469dfb3e2">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a55327b5c58129e4d9c8b586fdf6e5997" name="a55327b5c58129e4d9c8b586fdf6e5997"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a55327b5c58129e4d9c8b586fdf6e5997">&#9670;&#160;</a></span>levelAdjustment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a> PokemonUnity.PokemonChallengeRules.levelAdjustment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a263f005907cbabea7f445907acc65c58">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="ae4edce76348591b55d1c58b76c06cb70" name="ae4edce76348591b55d1c58b76c06cb70"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae4edce76348591b55d1c58b76c06cb70">&#9670;&#160;</a></span>number</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokemonChallengeRules.number</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a7692d4c1cd3691e507ce3b1c1c84dab9" name="a7692d4c1cd3691e507ce3b1c1c84dab9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7692d4c1cd3691e507ce3b1c1c84dab9">&#9670;&#160;</a></span>ruleset</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> PokemonUnity.PokemonChallengeRules.ruleset</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aa0b250f0c02bcc7d9a9f787e3bb290b6">PokemonEssentials.Interface.Battle.IPokemonChallengeRules</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>
