@{
	Page.Title = "PokemonUnity.Character.PC Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml">PC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_p_c-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PC Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.PC:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_p_c.png" usemap="#PokemonUnity.Character.PC_map" alt=""/>
  <map id="PokemonUnity.Character.PC_map" name="PokemonUnity.Character.PC_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml" alt="PokemonEssentials.Interface.Screen.IPCPokemonStorage" shape="rect" coords="0,0,337,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a068c3656da858044886be14db5623a9d"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a068c3656da858044886be14db5623a9d">PC</a> ()</td></tr>
<tr class="separator:a068c3656da858044886be14db5623a9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e726fd5789f2e870f2baefea1edf75b"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a3e726fd5789f2e870f2baefea1edf75b">PC</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[][] pkmns=null, KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[] items=null, byte? box=null, string[] names=null, int[] textures=null)</td></tr>
<tr class="separator:a3e726fd5789f2e870f2baefea1edf75b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae42016fe8ef1c8ed5828565094e6d018"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ae42016fe8ef1c8ed5828565094e6d018">hasSpace</a> ()</td></tr>
<tr class="separator:ae42016fe8ef1c8ed5828565094e6d018"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa61c95be4b8bd00df3d59850298c58bb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#aa61c95be4b8bd00df3d59850298c58bb">getBoxCount</a> ()</td></tr>
<tr class="separator:aa61c95be4b8bd00df3d59850298c58bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc6f1bb09509d0b940f7d4451de2938a"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#abc6f1bb09509d0b940f7d4451de2938a">getIndexOfFirstEmpty</a> ()</td></tr>
<tr class="separator:abc6f1bb09509d0b940f7d4451de2938a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25e42ef84dab0ed6afc9601d4f35e8bb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a25e42ef84dab0ed6afc9601d4f35e8bb">getBoxCount</a> (int box)</td></tr>
<tr class="separator:a25e42ef84dab0ed6afc9601d4f35e8bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af479b65802ebf284593e896c74eab2fa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#af479b65802ebf284593e896c74eab2fa">removePokemon</a> (int boxID, int pkmnID)</td></tr>
<tr class="separator:af479b65802ebf284593e896c74eab2fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01578e0a58f1ea0980c5eaa440c7cbdb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a01578e0a58f1ea0980c5eaa440c7cbdb">addPokemon</a> (int box, int position, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a01578e0a58f1ea0980c5eaa440c7cbdb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab75e61770ba6525c80e9a7c0fd770f80"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; int, int &gt;?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ab75e61770ba6525c80e9a7c0fd770f80">addPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> acquiredPokemon)</td></tr>
<tr class="memdesc:ab75e61770ba6525c80e9a7c0fd770f80"><td class="mdescLeft">&#160;</td><td class="mdescRight">Add a new pokemon directly to active box.   <a href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ab75e61770ba6525c80e9a7c0fd770f80">More...</a><br /></td></tr>
<tr class="separator:ab75e61770ba6525c80e9a7c0fd770f80"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6de7f5a032d43ec195e5c10234d191c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a6de7f5a032d43ec195e5c10234d191c1">swapPokemon</a> (int box1, int pos1, int box2, int pos2)</td></tr>
<tr class="separator:a6de7f5a032d43ec195e5c10234d191c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afdbe79b784bb970e3991fac60a1c45ff"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">IPCPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#afdbe79b784bb970e3991fac60a1c45ff">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#addcbf7c70f07b59f66f088795a22a2c4">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#ade2eb2283a98b30c2ecccd421cb82776">maxPokemon</a>=30)</td></tr>
<tr class="separator:afdbe79b784bb970e3991fac60a1c45ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade2eb2283a98b30c2ecccd421cb82776"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#ade2eb2283a98b30c2ecccd421cb82776">maxPokemon</a> (int box)</td></tr>
<tr class="separator:ade2eb2283a98b30c2ecccd421cb82776"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a13d88f9a87dcdb4df4f7eab5741e4904"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a13d88f9a87dcdb4df4f7eab5741e4904">FirstFreePos</a> (int box)</td></tr>
<tr class="separator:a13d88f9a87dcdb4df4f7eab5741e4904"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a585a8935eb3a11b59c479b7bca5a27b3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a585a8935eb3a11b59c479b7bca5a27b3">Copy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a585a8935eb3a11b59c479b7bca5a27b3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a89c9e822b535f022c6484e710f7bd6e3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a89c9e822b535f022c6484e710f7bd6e3">Move</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a89c9e822b535f022c6484e710f7bd6e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adba871f97b826cee8450155775122c23"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#adba871f97b826cee8450155775122c23">MoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:adba871f97b826cee8450155775122c23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1b0611a63f9bf532b73cd858e31da67"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#aa1b0611a63f9bf532b73cd858e31da67">MoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:aa1b0611a63f9bf532b73cd858e31da67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a121b13affef1a1882ce17895dab91d3b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a121b13affef1a1882ce17895dab91d3b">StoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a121b13affef1a1882ce17895dab91d3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af4e20c29747b05b46ad71a0ce83c24a7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#af4e20c29747b05b46ad71a0ce83c24a7">Delete</a> (int box, int index)</td></tr>
<tr class="separator:af4e20c29747b05b46ad71a0ce83c24a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a92f174c73154ee3996906fd6f480a384"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a92f174c73154ee3996906fd6f480a384">AllBoxes</a> <code>[get]</code></td></tr>
<tr class="separator:a92f174c73154ee3996906fd6f480a384"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6521d9fa44f58b14d52a93dcd7896a48"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a6521d9fa44f58b14d52a93dcd7896a48">ActiveBox</a> <code>[get]</code></td></tr>
<tr class="separator:a6521d9fa44f58b14d52a93dcd7896a48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1709a2c3c7c76deab3bf220f438560d"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#ad1709a2c3c7c76deab3bf220f438560d">BoxNames</a> <code>[get]</code></td></tr>
<tr class="separator:ad1709a2c3c7c76deab3bf220f438560d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a963ab774e832c4097ab893866dd334e3"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a963ab774e832c4097ab893866dd334e3">BoxTextures</a> <code>[get]</code></td></tr>
<tr class="separator:a963ab774e832c4097ab893866dd334e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c413a4ca547ff2f563dea715c833d7f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a3c413a4ca547ff2f563dea715c833d7f">Name</a> <code>[get]</code></td></tr>
<tr class="separator:a3c413a4ca547ff2f563dea715c833d7f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a713c700d28e145437997bee1c828b713"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a713c700d28e145437997bee1c828b713">Texture</a> <code>[get]</code></td></tr>
<tr class="separator:a713c700d28e145437997bee1c828b713"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37e86cf54561363d06fa01f3e5d8f9e5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a37e86cf54561363d06fa01f3e5d8f9e5">Pokemons</a> <code>[get]</code></td></tr>
<tr class="separator:a37e86cf54561363d06fa01f3e5d8f9e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b4c564df03b2035cf647d848df8cf28"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a9b4c564df03b2035cf647d848df8cf28">Items</a> <code>[get]</code></td></tr>
<tr class="separator:a9b4c564df03b2035cf647d848df8cf28"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a226a5f5cd23a479498cd5bfb419ebc52"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c.cshtml#a226a5f5cd23a479498cd5bfb419ebc52">this[byte i]</a> <code>[get]</code></td></tr>
<tr class="separator:a226a5f5cd23a479498cd5bfb419ebc52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td></tr>
<tr class="memitem:a7d24b96d778d6c1c433fb038a67b3a16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a7d24b96d778d6c1c433fb038a67b3a16">boxes</a> <code>[get]</code></td></tr>
<tr class="separator:a7d24b96d778d6c1c433fb038a67b3a16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a4371fa1ae9ae2c1644224d9f360315 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a6a4371fa1ae9ae2c1644224d9f360315">currentBox</a> <code>[get, set]</code></td></tr>
<tr class="separator:a6a4371fa1ae9ae2c1644224d9f360315 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:addcbf7c70f07b59f66f088795a22a2c4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#addcbf7c70f07b59f66f088795a22a2c4">maxBoxes</a> <code>[get]</code></td></tr>
<tr class="separator:addcbf7c70f07b59f66f088795a22a2c4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65bc18cc181feffcd28953eb8c9ed2f9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a65bc18cc181feffcd28953eb8c9ed2f9">party</a> <code>[get]</code></td></tr>
<tr class="separator:a65bc18cc181feffcd28953eb8c9ed2f9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69d86c0e82f52ca0e5cffe718f1657f6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a69d86c0e82f52ca0e5cffe718f1657f6">this[int x]</a> <code>[get]</code></td></tr>
<tr class="separator:a69d86c0e82f52ca0e5cffe718f1657f6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ada579206d3a62e111d4fa396d3afc523 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#ada579206d3a62e111d4fa396d3afc523">this[int x, int y]</a> <code>[get, set]</code></td></tr>
<tr class="separator:ada579206d3a62e111d4fa396d3afc523 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add7a9a6741dd678ea461e8988bfa2595 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#add7a9a6741dd678ea461e8988bfa2595">full</a> <code>[get]</code></td></tr>
<tr class="separator:add7a9a6741dd678ea461e8988bfa2595 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a068c3656da858044886be14db5623a9d" name="a068c3656da858044886be14db5623a9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a068c3656da858044886be14db5623a9d">&#9670;&#160;</a></span>PC() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PC.PC </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e726fd5789f2e870f2baefea1edf75b" name="a3e726fd5789f2e870f2baefea1edf75b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e726fd5789f2e870f2baefea1edf75b">&#9670;&#160;</a></span>PC() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PC.PC </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmns</em>[][] = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;[]&#160;</td>
          <td class="paramname"><em>items</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte?&#160;</td>
          <td class="paramname"><em>box</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>names</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>textures</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a01578e0a58f1ea0980c5eaa440c7cbdb" name="a01578e0a58f1ea0980c5eaa440c7cbdb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01578e0a58f1ea0980c5eaa440c7cbdb">&#9670;&#160;</a></span>addPokemon() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC.addPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab75e61770ba6525c80e9a7c0fd770f80" name="ab75e61770ba6525c80e9a7c0fd770f80"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab75e61770ba6525c80e9a7c0fd770f80">&#9670;&#160;</a></span>addPokemon() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt; int, int &gt;? PokemonUnity.Character.PC.addPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>acquiredPokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Add a new pokemon directly to active box.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">acquiredPokemon</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns position of stored pokemon. If pokemon could not be added return null. </dd></dl>

</div>
</div>
<a id="aa61c95be4b8bd00df3d59850298c58bb" name="aa61c95be4b8bd00df3d59850298c58bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa61c95be4b8bd00df3d59850298c58bb">&#9670;&#160;</a></span>getBoxCount() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC.getBoxCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a25e42ef84dab0ed6afc9601d4f35e8bb" name="a25e42ef84dab0ed6afc9601d4f35e8bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25e42ef84dab0ed6afc9601d4f35e8bb">&#9670;&#160;</a></span>getBoxCount() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC.getBoxCount </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abc6f1bb09509d0b940f7d4451de2938a" name="abc6f1bb09509d0b940f7d4451de2938a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc6f1bb09509d0b940f7d4451de2938a">&#9670;&#160;</a></span>getIndexOfFirstEmpty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.PC.getIndexOfFirstEmpty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae42016fe8ef1c8ed5828565094e6d018" name="ae42016fe8ef1c8ed5828565094e6d018"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae42016fe8ef1c8ed5828565094e6d018">&#9670;&#160;</a></span>hasSpace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC.hasSpace </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af479b65802ebf284593e896c74eab2fa" name="af479b65802ebf284593e896c74eab2fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af479b65802ebf284593e896c74eab2fa">&#9670;&#160;</a></span>removePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PC.removePokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnID</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6de7f5a032d43ec195e5c10234d191c1" name="a6de7f5a032d43ec195e5c10234d191c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6de7f5a032d43ec195e5c10234d191c1">&#9670;&#160;</a></span>swapPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.PC.swapPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pos1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pos2</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6521d9fa44f58b14d52a93dcd7896a48" name="a6521d9fa44f58b14d52a93dcd7896a48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6521d9fa44f58b14d52a93dcd7896a48">&#9670;&#160;</a></span>ActiveBox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.PC.ActiveBox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a92f174c73154ee3996906fd6f480a384" name="a92f174c73154ee3996906fd6f480a384"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a92f174c73154ee3996906fd6f480a384">&#9670;&#160;</a></span>AllBoxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [][] PokemonUnity.Character.PC.AllBoxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1709a2c3c7c76deab3bf220f438560d" name="ad1709a2c3c7c76deab3bf220f438560d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1709a2c3c7c76deab3bf220f438560d">&#9670;&#160;</a></span>BoxNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonUnity.Character.PC.BoxNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a963ab774e832c4097ab893866dd334e3" name="a963ab774e832c4097ab893866dd334e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a963ab774e832c4097ab893866dd334e3">&#9670;&#160;</a></span>BoxTextures</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Character.PC.BoxTextures</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9b4c564df03b2035cf647d848df8cf28" name="a9b4c564df03b2035cf647d848df8cf28"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b4c564df03b2035cf647d848df8cf28">&#9670;&#160;</a></span>Items</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int&gt; [] PokemonUnity.Character.PC.Items</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>
<p >ToDo: Add filter to add/remove items... </p>

</div>
</div>
<a id="a3c413a4ca547ff2f563dea715c833d7f" name="a3c413a4ca547ff2f563dea715c833d7f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c413a4ca547ff2f563dea715c833d7f">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.PC.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a37e86cf54561363d06fa01f3e5d8f9e5" name="a37e86cf54561363d06fa01f3e5d8f9e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a37e86cf54561363d06fa01f3e5d8f9e5">&#9670;&#160;</a></span>Pokemons</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonUnity.Character.PC.Pokemons</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a713c700d28e145437997bee1c828b713" name="a713c700d28e145437997bee1c828b713"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a713c700d28e145437997bee1c828b713">&#9670;&#160;</a></span>Texture</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PC.Texture</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a226a5f5cd23a479498cd5bfb419ebc52" name="a226a5f5cd23a479498cd5bfb419ebc52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a226a5f5cd23a479498cd5bfb419ebc52">&#9670;&#160;</a></span>this[byte i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> PokemonUnity.Character.PC.this[byte i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_p_c_8cs.cshtml">PC.cs</a></li>
</ul>

