@{
	Page.Title = "PokemonUnity.BattleChallenge Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml">BattleChallenge</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-attribs">Protected Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_battle_challenge-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.BattleChallenge Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.BattleChallenge:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_battle_challenge.png" usemap="#PokemonUnity.BattleChallenge_map" alt=""/>
  <map id="PokemonUnity.BattleChallenge_map" name="PokemonUnity.BattleChallenge_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleChallenge" shape="rect" coords="0,0,303,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8df66d050a92bd10417acd76cfafd3a4"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a8df66d050a92bd10417acd76cfafd3a4">BattleChallenge</a> ()</td></tr>
<tr class="separator:a8df66d050a92bd10417acd76cfafd3a4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee4bbf0fc777ab4470e72449dc872a67"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aee4bbf0fc777ab4470e72449dc872a67">initialize</a> ()</td></tr>
<tr class="separator:aee4bbf0fc777ab4470e72449dc872a67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a162eda188dcd6140da8062e76088e8d4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a162eda188dcd6140da8062e76088e8d4">modeToRules</a> (bool doublebattle, int numPokemon, int battletype, int mode)</td></tr>
<tr class="separator:a162eda188dcd6140da8062e76088e8d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6ac83b52d9bd0e1064c840498afda4c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ab6ac83b52d9bd0e1064c840498afda4c">set</a> (int <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a71f630f87687e9540a724d6a53f7738e">id</a>, int numrounds, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aebcdbab8b8bb8362de451a073fe0eff7">rules</a>)</td></tr>
<tr class="separator:ab6ac83b52d9bd0e1064c840498afda4c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ca57698b20926ddee4aade6aebfb7e3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a8ca57698b20926ddee4aade6aebfb7e3">start</a> (params object[] args)</td></tr>
<tr class="separator:a8ca57698b20926ddee4aade6aebfb7e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b2e6c5849049541e4eb77deacfc97a8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a9b2e6c5849049541e4eb77deacfc97a8">register</a> (int <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a71f630f87687e9540a724d6a53f7738e">id</a>, bool doublebattle, int numrounds, int numPokemon, int battletype, int mode=1)</td></tr>
<tr class="separator:a9b2e6c5849049541e4eb77deacfc97a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53f9caacb4358a0ed5346acb1088f498"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a53f9caacb4358a0ed5346acb1088f498">getCurrentWins</a> (int challenge)</td></tr>
<tr class="separator:a53f9caacb4358a0ed5346acb1088f498"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8ee29a08e9967716001f6a06d8ee17a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ac8ee29a08e9967716001f6a06d8ee17a">getPreviousWins</a> (int challenge)</td></tr>
<tr class="separator:ac8ee29a08e9967716001f6a06d8ee17a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a14330f3ee4f3eb35f4d03d3e8fcc0846"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a14330f3ee4f3eb35f4d03d3e8fcc0846">getMaxWins</a> (int challenge)</td></tr>
<tr class="separator:a14330f3ee4f3eb35f4d03d3e8fcc0846"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a655275a1244f4d732397536980c8c60e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a655275a1244f4d732397536980c8c60e">getCurrentSwaps</a> (int challenge)</td></tr>
<tr class="separator:a655275a1244f4d732397536980c8c60e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79bd7125c568174c3b390ac68b4489f7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a79bd7125c568174c3b390ac68b4489f7">getPreviousSwaps</a> (int challenge)</td></tr>
<tr class="separator:a79bd7125c568174c3b390ac68b4489f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee231ca7bba965250732c75dc086dd6f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aee231ca7bba965250732c75dc086dd6f">getMaxSwaps</a> (int challenge)</td></tr>
<tr class="separator:aee231ca7bba965250732c75dc086dd6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b3ba6202ca0d3c4d8c5c1df877cc72d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a5b3ba6202ca0d3c4d8c5c1df877cc72d">Start</a> (int challenge)</td></tr>
<tr class="separator:a5b3ba6202ca0d3c4d8c5c1df877cc72d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adec98b193fea1cc5f8a93987d51b8181"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#adec98b193fea1cc5f8a93987d51b8181">End</a> ()</td></tr>
<tr class="separator:adec98b193fea1cc5f8a93987d51b8181"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a244bcb5f6ec320aa003f481ecea40b52"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a244bcb5f6ec320aa003f481ecea40b52">Battle</a> ()</td></tr>
<tr class="separator:a244bcb5f6ec320aa003f481ecea40b52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b6763118d3c97776271844462bb0b57"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7b6763118d3c97776271844462bb0b57">Resting</a> ()</td></tr>
<tr class="separator:a7b6763118d3c97776271844462bb0b57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b2c768b5621ae9e27040ae77b5904ad"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7b2c768b5621ae9e27040ae77b5904ad">setDecision</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> value)</td></tr>
<tr class="separator:a7b2c768b5621ae9e27040ae77b5904ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8539953bcec89aaa65e79b4afe3b390d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a8539953bcec89aaa65e79b4afe3b390d">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:a8539953bcec89aaa65e79b4afe3b390d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adaa61a17131b508506fdcbb14bdfb3c2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#adaa61a17131b508506fdcbb14bdfb3c2">GoOn</a> ()</td></tr>
<tr class="separator:adaa61a17131b508506fdcbb14bdfb3c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e980c415433a62016826d524ab5bb8c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a1e980c415433a62016826d524ab5bb8c">AddWin</a> ()</td></tr>
<tr class="separator:a1e980c415433a62016826d524ab5bb8c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17b2bdee4b93f9b53216bc618511411b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a17b2bdee4b93f9b53216bc618511411b">Cancel</a> ()</td></tr>
<tr class="separator:a17b2bdee4b93f9b53216bc618511411b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a15791fdbdcc311cd8357e3faadbaab"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a6a15791fdbdcc311cd8357e3faadbaab">Rest</a> ()</td></tr>
<tr class="separator:a6a15791fdbdcc311cd8357e3faadbaab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7fcd21158a08cb5b094b5333a64ca190"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7fcd21158a08cb5b094b5333a64ca190">MatchOver</a> ()</td></tr>
<tr class="separator:a7fcd21158a08cb5b094b5333a64ca190"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78ef764004f8fece494a3b4945c6c6a9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a78ef764004f8fece494a3b4945c6c6a9">GoToStart</a> ()</td></tr>
<tr class="separator:a78ef764004f8fece494a3b4945c6c6a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac58ad51b9f187e9aea33fc729be948e4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac58ad51b9f187e9aea33fc729be948e4">initialize</a> ()</td></tr>
<tr class="separator:ac58ad51b9f187e9aea33fc729be948e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02a9c1707e93acc5ca9b8a5491f416d0">modeToRules</a> (bool doublebattle, int numPokemon, int battletype, int mode)</td></tr>
<tr class="separator:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a556e6398c25a5f12567748617c96631e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a556e6398c25a5f12567748617c96631e">set</a> (int id, int numrounds, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a>)</td></tr>
<tr class="separator:a556e6398c25a5f12567748617c96631e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4b109871b0e0e78ed155ed3459dc5a55">start</a> (params object[] args)</td></tr>
<tr class="separator:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02fe8722da8bd667b3c76eff521045c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02fe8722da8bd667b3c76eff521045c0">register</a> (int id, bool doublebattle, int numrounds, int numPokemon, int battletype, int mode=1)</td></tr>
<tr class="separator:a02fe8722da8bd667b3c76eff521045c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4c3f6d1c36f068c875f1de0c2d640816">getCurrentWins</a> (int challenge)</td></tr>
<tr class="separator:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a2dbc1d08cb66350d531044e8bc2db89b">getPreviousWins</a> (int challenge)</td></tr>
<tr class="separator:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a791d04361171ca1d4a8cfad151d03628"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a791d04361171ca1d4a8cfad151d03628">getMaxWins</a> (int challenge)</td></tr>
<tr class="separator:a791d04361171ca1d4a8cfad151d03628"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3db6ce62750cfed0660ed5ad6455022"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af3db6ce62750cfed0660ed5ad6455022">getCurrentSwaps</a> (int challenge)</td></tr>
<tr class="separator:af3db6ce62750cfed0660ed5ad6455022"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fd43597fb60d7c6268a5ed941d348de"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a5fd43597fb60d7c6268a5ed941d348de">getPreviousSwaps</a> (int challenge)</td></tr>
<tr class="separator:a5fd43597fb60d7c6268a5ed941d348de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70c0f526b80d2bea30d742b7a3292e63"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a70c0f526b80d2bea30d742b7a3292e63">getMaxSwaps</a> (int challenge)</td></tr>
<tr class="separator:a70c0f526b80d2bea30d742b7a3292e63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae19bce85dd1f9c9e37b84ad3bd5e2463"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae19bce85dd1f9c9e37b84ad3bd5e2463">Start</a> (int challenge)</td></tr>
<tr class="separator:ae19bce85dd1f9c9e37b84ad3bd5e2463"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40a41098dd9fb6f2032b7ec38b60bf67"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a40a41098dd9fb6f2032b7ec38b60bf67">End</a> ()</td></tr>
<tr class="separator:a40a41098dd9fb6f2032b7ec38b60bf67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ff94669f57478fc3812a7d501a98917"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8ff94669f57478fc3812a7d501a98917">Battle</a> ()</td></tr>
<tr class="separator:a8ff94669f57478fc3812a7d501a98917"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a697ab1dab7842364dd7439d47a2ebe6f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a697ab1dab7842364dd7439d47a2ebe6f">Resting</a> ()</td></tr>
<tr class="separator:a697ab1dab7842364dd7439d47a2ebe6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa00ee06b9a18fbc0f38be4ca9e52f342">setDecision</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> value)</td></tr>
<tr class="separator:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac76e7d760c2bd140b9326183a1f05f31"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac76e7d760c2bd140b9326183a1f05f31">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:ac76e7d760c2bd140b9326183a1f05f31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2bc5e96b870f14db3d69ee8c1ff4e82"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ab2bc5e96b870f14db3d69ee8c1ff4e82">GoOn</a> ()</td></tr>
<tr class="separator:ab2bc5e96b870f14db3d69ee8c1ff4e82"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6dc385389e1b7e4a12fafb06406b09a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a6dc385389e1b7e4a12fafb06406b09a6">AddWin</a> ()</td></tr>
<tr class="separator:a6dc385389e1b7e4a12fafb06406b09a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac00f99efe5b0e4684568e89d68842b90"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac00f99efe5b0e4684568e89d68842b90">Cancel</a> ()</td></tr>
<tr class="separator:ac00f99efe5b0e4684568e89d68842b90"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a723d724ea5f0aed2135a36ce07b57ba4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a723d724ea5f0aed2135a36ce07b57ba4">Rest</a> ()</td></tr>
<tr class="separator:a723d724ea5f0aed2135a36ce07b57ba4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a717f099e0aa90e2e2300bfe8975c2c01"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a717f099e0aa90e2e2300bfe8975c2c01">MatchOver</a> ()</td></tr>
<tr class="separator:a717f099e0aa90e2e2300bfe8975c2c01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a16de2e47dc7bd8f002731dbe538b35"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a9a16de2e47dc7bd8f002731dbe538b35">GoToStart</a> ()</td></tr>
<tr class="separator:a9a16de2e47dc7bd8f002731dbe538b35"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-attribs" name="pro-attribs"></a>
Protected Attributes</h2></td></tr>
<tr class="memitem:a71f630f87687e9540a724d6a53f7738e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a71f630f87687e9540a724d6a53f7738e">id</a></td></tr>
<tr class="separator:a71f630f87687e9540a724d6a53f7738e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9cd60d3e050a2b9f4d952d73199d8f91"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a9cd60d3e050a2b9f4d952d73199d8f91">numRounds</a></td></tr>
<tr class="separator:a9cd60d3e050a2b9f4d952d73199d8f91"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a760bf4027e6eecb1ced4a89258835019"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a760bf4027e6eecb1ced4a89258835019">bc</a></td></tr>
<tr class="separator:a760bf4027e6eecb1ced4a89258835019"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6eebdd3d4b0e501643ac51235289413d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a6eebdd3d4b0e501643ac51235289413d">_rules</a></td></tr>
<tr class="separator:a6eebdd3d4b0e501643ac51235289413d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a528cf8c430c48ba1118e63c9b13569a0"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a528cf8c430c48ba1118e63c9b13569a0">types</a></td></tr>
<tr class="separator:a528cf8c430c48ba1118e63c9b13569a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a82b96dab10e075ebc4423eb912ee66f2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a82b96dab10e075ebc4423eb912ee66f2">currentChallenge</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a82b96dab10e075ebc4423eb912ee66f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aebcdbab8b8bb8362de451a073fe0eff7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aebcdbab8b8bb8362de451a073fe0eff7">rules</a><code> [get]</code></td></tr>
<tr class="separator:aebcdbab8b8bb8362de451a073fe0eff7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5dda364efb778bccd56cc6466ac7561d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a5dda364efb778bccd56cc6466ac7561d">InChallenge</a><code> [get]</code></td></tr>
<tr class="separator:a5dda364efb778bccd56cc6466ac7561d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefd64abda09bf408b250beddc64cb907"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aefd64abda09bf408b250beddc64cb907">data</a><code> [get]</code></td></tr>
<tr class="separator:aefd64abda09bf408b250beddc64cb907"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abbbcc8dbf82b3a499fb9ea85f0efb358"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#abbbcc8dbf82b3a499fb9ea85f0efb358">InProgress</a><code> [get]</code></td></tr>
<tr class="separator:abbbcc8dbf82b3a499fb9ea85f0efb358"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad965cb011b89f2704c57182205256d31"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ad965cb011b89f2704c57182205256d31">extra</a><code> [get]</code></td></tr>
<tr class="separator:ad965cb011b89f2704c57182205256d31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a391f33ca1ecf2511df0b726d0a898e9a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a391f33ca1ecf2511df0b726d0a898e9a">decision</a><code> [get]</code></td></tr>
<tr class="separator:a391f33ca1ecf2511df0b726d0a898e9a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf78675b5f8707164d29d6fcf758e95c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#abf78675b5f8707164d29d6fcf758e95c">wins</a><code> [get]</code></td></tr>
<tr class="separator:abf78675b5f8707164d29d6fcf758e95c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08b63a0ef26b44f7c911ad5726bc618f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a08b63a0ef26b44f7c911ad5726bc618f">swaps</a><code> [get]</code></td></tr>
<tr class="separator:a08b63a0ef26b44f7c911ad5726bc618f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45460356c5d5bc36a4d247a65570d4ec"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a45460356c5d5bc36a4d247a65570d4ec">battleNumber</a><code> [get]</code></td></tr>
<tr class="separator:a45460356c5d5bc36a4d247a65570d4ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93ea8bed9c6fce0f383e24c773f97a5c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a93ea8bed9c6fce0f383e24c773f97a5c">nextTrainer</a><code> [get]</code></td></tr>
<tr class="separator:a93ea8bed9c6fce0f383e24c773f97a5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">PokemonEssentials.Interface.Battle.IBattleChallenge</a></td></tr>
<tr class="memitem:aac640f75778bb403bc165bd6094d9558 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aac640f75778bb403bc165bd6094d9558">currentChallenge</a><code> [get]</code></td></tr>
<tr class="separator:aac640f75778bb403bc165bd6094d9558 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a022e8e588950d8e44960d208ceda2b77 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a><code> [get]</code></td></tr>
<tr class="separator:a022e8e588950d8e44960d208ceda2b77 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c5ebd8f5e2684e36ecd2be9e07667ce inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a7c5ebd8f5e2684e36ecd2be9e07667ce">InChallenge</a><code> [get]</code></td></tr>
<tr class="separator:a7c5ebd8f5e2684e36ecd2be9e07667ce inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b32f36186bc602e973a82100b80ffb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a44b32f36186bc602e973a82100b80ffb">data</a><code> [get]</code></td></tr>
<tr class="separator:a44b32f36186bc602e973a82100b80ffb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bebdec7110ae793474704ba75dd633c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a1bebdec7110ae793474704ba75dd633c">InProgress</a><code> [get]</code></td></tr>
<tr class="separator:a1bebdec7110ae793474704ba75dd633c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8028146783fd42309ea6aeffba42f052 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8028146783fd42309ea6aeffba42f052">extra</a><code> [get]</code></td></tr>
<tr class="separator:a8028146783fd42309ea6aeffba42f052 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af66fa76932d1cf88f7b361a9dbb8592f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af66fa76932d1cf88f7b361a9dbb8592f">decision</a><code> [get]</code></td></tr>
<tr class="separator:af66fa76932d1cf88f7b361a9dbb8592f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa9118a137c3f6dfeb328b4e9d9a299ca inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa9118a137c3f6dfeb328b4e9d9a299ca">wins</a><code> [get]</code></td></tr>
<tr class="separator:aa9118a137c3f6dfeb328b4e9d9a299ca inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ed351048a3da1f575df880e385348d4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4ed351048a3da1f575df880e385348d4">swaps</a><code> [get]</code></td></tr>
<tr class="separator:a4ed351048a3da1f575df880e385348d4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae92fa3217c939ab9215584631f7344f1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae92fa3217c939ab9215584631f7344f1">battleNumber</a><code> [get]</code></td></tr>
<tr class="separator:ae92fa3217c939ab9215584631f7344f1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add0079473fa01b1e2364ef8975a82891 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#add0079473fa01b1e2364ef8975a82891">nextTrainer</a><code> [get]</code></td></tr>
<tr class="separator:add0079473fa01b1e2364ef8975a82891 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a8df66d050a92bd10417acd76cfafd3a4" name="a8df66d050a92bd10417acd76cfafd3a4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8df66d050a92bd10417acd76cfafd3a4">&#9670;&#160;</a></span>BattleChallenge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.BattleChallenge.BattleChallenge </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1e980c415433a62016826d524ab5bb8c" name="a1e980c415433a62016826d524ab5bb8c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e980c415433a62016826d524ab5bb8c">&#9670;&#160;</a></span>AddWin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.AddWin </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a6dc385389e1b7e4a12fafb06406b09a6">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a244bcb5f6ec320aa003f481ecea40b52" name="a244bcb5f6ec320aa003f481ecea40b52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a244bcb5f6ec320aa003f481ecea40b52">&#9670;&#160;</a></span>Battle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonUnity.BattleChallenge.Battle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8ff94669f57478fc3812a7d501a98917">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a17b2bdee4b93f9b53216bc618511411b" name="a17b2bdee4b93f9b53216bc618511411b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17b2bdee4b93f9b53216bc618511411b">&#9670;&#160;</a></span>Cancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.Cancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac00f99efe5b0e4684568e89d68842b90">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="adec98b193fea1cc5f8a93987d51b8181" name="adec98b193fea1cc5f8a93987d51b8181"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adec98b193fea1cc5f8a93987d51b8181">&#9670;&#160;</a></span>End()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.End </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a40a41098dd9fb6f2032b7ec38b60bf67">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a655275a1244f4d732397536980c8c60e" name="a655275a1244f4d732397536980c8c60e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a655275a1244f4d732397536980c8c60e">&#9670;&#160;</a></span>getCurrentSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getCurrentSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af3db6ce62750cfed0660ed5ad6455022">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a53f9caacb4358a0ed5346acb1088f498" name="a53f9caacb4358a0ed5346acb1088f498"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53f9caacb4358a0ed5346acb1088f498">&#9670;&#160;</a></span>getCurrentWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getCurrentWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4c3f6d1c36f068c875f1de0c2d640816">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="aee231ca7bba965250732c75dc086dd6f" name="aee231ca7bba965250732c75dc086dd6f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee231ca7bba965250732c75dc086dd6f">&#9670;&#160;</a></span>getMaxSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getMaxSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a70c0f526b80d2bea30d742b7a3292e63">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a14330f3ee4f3eb35f4d03d3e8fcc0846" name="a14330f3ee4f3eb35f4d03d3e8fcc0846"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a14330f3ee4f3eb35f4d03d3e8fcc0846">&#9670;&#160;</a></span>getMaxWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getMaxWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a791d04361171ca1d4a8cfad151d03628">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a79bd7125c568174c3b390ac68b4489f7" name="a79bd7125c568174c3b390ac68b4489f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79bd7125c568174c3b390ac68b4489f7">&#9670;&#160;</a></span>getPreviousSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getPreviousSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a5fd43597fb60d7c6268a5ed941d348de">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="ac8ee29a08e9967716001f6a06d8ee17a" name="ac8ee29a08e9967716001f6a06d8ee17a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8ee29a08e9967716001f6a06d8ee17a">&#9670;&#160;</a></span>getPreviousWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.getPreviousWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a2dbc1d08cb66350d531044e8bc2db89b">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="adaa61a17131b508506fdcbb14bdfb3c2" name="adaa61a17131b508506fdcbb14bdfb3c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adaa61a17131b508506fdcbb14bdfb3c2">&#9670;&#160;</a></span>GoOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.GoOn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ab2bc5e96b870f14db3d69ee8c1ff4e82">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a78ef764004f8fece494a3b4945c6c6a9" name="a78ef764004f8fece494a3b4945c6c6a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78ef764004f8fece494a3b4945c6c6a9">&#9670;&#160;</a></span>GoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.GoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a9a16de2e47dc7bd8f002731dbe538b35">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="aee4bbf0fc777ab4470e72449dc872a67" name="aee4bbf0fc777ab4470e72449dc872a67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee4bbf0fc777ab4470e72449dc872a67">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> PokemonUnity.BattleChallenge.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac58ad51b9f187e9aea33fc729be948e4">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a7fcd21158a08cb5b094b5333a64ca190" name="a7fcd21158a08cb5b094b5333a64ca190"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7fcd21158a08cb5b094b5333a64ca190">&#9670;&#160;</a></span>MatchOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.BattleChallenge.MatchOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a717f099e0aa90e2e2300bfe8975c2c01">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a162eda188dcd6140da8062e76088e8d4" name="a162eda188dcd6140da8062e76088e8d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a162eda188dcd6140da8062e76088e8d4">&#9670;&#160;</a></span>modeToRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.BattleChallenge.modeToRules </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">doublebattle</td><td></td></tr>
    <tr><td class="paramname">numPokemon</td><td></td></tr>
    <tr><td class="paramname">battletype</td><td>0=&gt;<a class="el" href="class_pokemon_unity_1_1_battle_tower.cshtml">BattleTower</a>; 1=&gt;<a class="el" href="class_pokemon_unity_1_1_battle_palace.cshtml">BattlePalace</a>; 2=&gt;<a class="el" href="class_pokemon_unity_1_1_battle_arena.cshtml">BattleArena</a>; 3=&gt;BattleFactory</td></tr>
    <tr><td class="paramname">mode</td><td>1=&gt;Open Level; 2=&gt;Battle Tent</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02a9c1707e93acc5ca9b8a5491f416d0">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a9b2e6c5849049541e4eb77deacfc97a8" name="a9b2e6c5849049541e4eb77deacfc97a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b2e6c5849049541e4eb77deacfc97a8">&#9670;&#160;</a></span>register()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.register </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02fe8722da8bd667b3c76eff521045c0">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a6a15791fdbdcc311cd8357e3faadbaab" name="a6a15791fdbdcc311cd8357e3faadbaab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a15791fdbdcc311cd8357e3faadbaab">&#9670;&#160;</a></span>Rest()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.Rest </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a723d724ea5f0aed2135a36ce07b57ba4">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a7b6763118d3c97776271844462bb0b57" name="a7b6763118d3c97776271844462bb0b57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b6763118d3c97776271844462bb0b57">&#9670;&#160;</a></span>Resting()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.BattleChallenge.Resting </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a697ab1dab7842364dd7439d47a2ebe6f">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="ab6ac83b52d9bd0e1064c840498afda4c" name="ab6ac83b52d9bd0e1064c840498afda4c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6ac83b52d9bd0e1064c840498afda4c">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.set </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a556e6398c25a5f12567748617c96631e">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a7b2c768b5621ae9e27040ae77b5904ad" name="a7b2c768b5621ae9e27040ae77b5904ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b2c768b5621ae9e27040ae77b5904ad">&#9670;&#160;</a></span>setDecision()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.setDecision </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa00ee06b9a18fbc0f38be4ca9e52f342">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a8539953bcec89aaa65e79b4afe3b390d" name="a8539953bcec89aaa65e79b4afe3b390d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8539953bcec89aaa65e79b4afe3b390d">&#9670;&#160;</a></span>setParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.setParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac76e7d760c2bd140b9326183a1f05f31">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a5b3ba6202ca0d3c4d8c5c1df877cc72d" name="a5b3ba6202ca0d3c4d8c5c1df877cc72d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b3ba6202ca0d3c4d8c5c1df877cc72d">&#9670;&#160;</a></span>Start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.Start </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae19bce85dd1f9c9e37b84ad3bd5e2463">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a8ca57698b20926ddee4aade6aebfb7e3" name="a8ca57698b20926ddee4aade6aebfb7e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ca57698b20926ddee4aade6aebfb7e3">&#9670;&#160;</a></span>start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.BattleChallenge.start </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>args</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4b109871b0e0e78ed155ed3459dc5a55">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a6eebdd3d4b0e501643ac51235289413d" name="a6eebdd3d4b0e501643ac51235289413d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6eebdd3d4b0e501643ac51235289413d">&#9670;&#160;</a></span>_rules</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.BattleChallenge._rules</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a760bf4027e6eecb1ced4a89258835019" name="a760bf4027e6eecb1ced4a89258835019"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a760bf4027e6eecb1ced4a89258835019">&#9670;&#160;</a></span>bc</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a> PokemonUnity.BattleChallenge.bc</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71f630f87687e9540a724d6a53f7738e" name="a71f630f87687e9540a724d6a53f7738e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71f630f87687e9540a724d6a53f7738e">&#9670;&#160;</a></span>id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9cd60d3e050a2b9f4d952d73199d8f91" name="a9cd60d3e050a2b9f4d952d73199d8f91"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9cd60d3e050a2b9f4d952d73199d8f91">&#9670;&#160;</a></span>numRounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.numRounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a528cf8c430c48ba1118e63c9b13569a0" name="a528cf8c430c48ba1118e63c9b13569a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a528cf8c430c48ba1118e63c9b13569a0">&#9670;&#160;</a></span>types</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&gt; PokemonUnity.BattleChallenge.types</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a45460356c5d5bc36a4d247a65570d4ec" name="a45460356c5d5bc36a4d247a65570d4ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a45460356c5d5bc36a4d247a65570d4ec">&#9670;&#160;</a></span>battleNumber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.battleNumber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae92fa3217c939ab9215584631f7344f1">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a82b96dab10e075ebc4423eb912ee66f2" name="a82b96dab10e075ebc4423eb912ee66f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82b96dab10e075ebc4423eb912ee66f2">&#9670;&#160;</a></span>currentChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.currentChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aac640f75778bb403bc165bd6094d9558">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="aefd64abda09bf408b250beddc64cb907" name="aefd64abda09bf408b250beddc64cb907"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefd64abda09bf408b250beddc64cb907">&#9670;&#160;</a></span>data</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> PokemonUnity.BattleChallenge.data</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a44b32f36186bc602e973a82100b80ffb">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a391f33ca1ecf2511df0b726d0a898e9a" name="a391f33ca1ecf2511df0b726d0a898e9a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a391f33ca1ecf2511df0b726d0a898e9a">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonUnity.BattleChallenge.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af66fa76932d1cf88f7b361a9dbb8592f">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="ad965cb011b89f2704c57182205256d31" name="ad965cb011b89f2704c57182205256d31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad965cb011b89f2704c57182205256d31">&#9670;&#160;</a></span>extra</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> PokemonUnity.BattleChallenge.extra</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8028146783fd42309ea6aeffba42f052">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a5dda364efb778bccd56cc6466ac7561d" name="a5dda364efb778bccd56cc6466ac7561d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5dda364efb778bccd56cc6466ac7561d">&#9670;&#160;</a></span>InChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.BattleChallenge.InChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a7c5ebd8f5e2684e36ecd2be9e07667ce">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="abbbcc8dbf82b3a499fb9ea85f0efb358" name="abbbcc8dbf82b3a499fb9ea85f0efb358"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbbcc8dbf82b3a499fb9ea85f0efb358">&#9670;&#160;</a></span>InProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.BattleChallenge.InProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a1bebdec7110ae793474704ba75dd633c">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a93ea8bed9c6fce0f383e24c773f97a5c" name="a93ea8bed9c6fce0f383e24c773f97a5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93ea8bed9c6fce0f383e24c773f97a5c">&#9670;&#160;</a></span>nextTrainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.nextTrainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#add0079473fa01b1e2364ef8975a82891">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="aebcdbab8b8bb8362de451a073fe0eff7" name="aebcdbab8b8bb8362de451a073fe0eff7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aebcdbab8b8bb8362de451a073fe0eff7">&#9670;&#160;</a></span>rules</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonUnity.BattleChallenge.rules</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="a08b63a0ef26b44f7c911ad5726bc618f" name="a08b63a0ef26b44f7c911ad5726bc618f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08b63a0ef26b44f7c911ad5726bc618f">&#9670;&#160;</a></span>swaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.swaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4ed351048a3da1f575df880e385348d4">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<a id="abf78675b5f8707164d29d6fcf758e95c" name="abf78675b5f8707164d29d6fcf758e95c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf78675b5f8707164d29d6fcf758e95c">&#9670;&#160;</a></span>wins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleChallenge.wins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa9118a137c3f6dfeb328b4e9d9a299ca">PokemonEssentials.Interface.Battle.IBattleChallenge</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_8cs.cshtml">OrgBattle.cs</a></li>
</ul>

