@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Monster.Data.Experience Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">Experience</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.Experience Class Reference</div></div>
}


<p> 
 <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8f4604c557e9207656d74b979641bbb8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a8f4604c557e9207656d74b979641bbb8">AddExperience</a> (int experienceGain)</td></tr>
<tr class="memdesc:a8f4604c557e9207656d74b979641bbb8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Adds experience points to total Exp. Points.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a8f4604c557e9207656d74b979641bbb8">More...</a><br /></td></tr>
<tr class="separator:a8f4604c557e9207656d74b979641bbb8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec82f9e428f1898838d010e045f649cc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#aec82f9e428f1898838d010e045f649cc">ExperienceNeeded</a> (int toLv)</td></tr>
<tr class="separator:aec82f9e428f1898838d010e045f649cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e839ba48c6d17532563779d9d282e06"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6e839ba48c6d17532563779d9d282e06">Experience</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> rate)</td></tr>
<tr class="separator:a6e839ba48c6d17532563779d9d282e06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11ea6df4aa23e626dcbb56ba98261194"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a11ea6df4aa23e626dcbb56ba98261194">Experience</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> rate, int initialValue)</td></tr>
<tr class="separator:a11ea6df4aa23e626dcbb56ba98261194"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a402d95842c401730b4f5b708035745f2"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a402d95842c401730b4f5b708035745f2">GetMaxExperience</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> levelingRate)</td></tr>
<tr class="memdesc:a402d95842c401730b4f5b708035745f2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the maximum Exp Points possible for the given growth rate.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a402d95842c401730b4f5b708035745f2">More...</a><br /></td></tr>
<tr class="separator:a402d95842c401730b4f5b708035745f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6893fda5c0e834942633cec7ca941624"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6893fda5c0e834942633cec7ca941624">GetStartExperience</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> levelingRate, int currentLevel)</td></tr>
<tr class="memdesc:a6893fda5c0e834942633cec7ca941624"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the number of Exp Points needed to reach the given level with the given growth rate.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6893fda5c0e834942633cec7ca941624">More...</a><br /></td></tr>
<tr class="separator:a6893fda5c0e834942633cec7ca941624"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6cac5bf128da3fae494e332e1fa8f38a"><td class="memItemLeft" align="right" valign="top">static byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6cac5bf128da3fae494e332e1fa8f38a">GetLevelFromExperience</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> levelingRate, int experiencePoints)</td></tr>
<tr class="memdesc:a6cac5bf128da3fae494e332e1fa8f38a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Calculates a level given the number of Exp Points and growth rate.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6cac5bf128da3fae494e332e1fa8f38a">More...</a><br /></td></tr>
<tr class="separator:a6cac5bf128da3fae494e332e1fa8f38a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7e48a1baffeb24a71f490aee660e1b3"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#ab7e48a1baffeb24a71f490aee660e1b3">AddExperience</a> (int currexp, int expgain, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> growth)</td></tr>
<tr class="memdesc:ab7e48a1baffeb24a71f490aee660e1b3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Adds experience points ensuring that the new total doesn't exceed the maximum Exp. Points for the given growth rate.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#ab7e48a1baffeb24a71f490aee660e1b3">More...</a><br /></td></tr>
<tr class="separator:ab7e48a1baffeb24a71f490aee660e1b3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a87eab2fa4aaa88bf0d78931df5862ee3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a87eab2fa4aaa88bf0d78931df5862ee3">Total</a><code> [get]</code></td></tr>
<tr class="memdesc:a87eab2fa4aaa88bf0d78931df5862ee3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Current accumalitive experience points gained (and collected) by this <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>.   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a87eab2fa4aaa88bf0d78931df5862ee3">More...</a><br /></td></tr>
<tr class="separator:a87eab2fa4aaa88bf0d78931df5862ee3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a325012375d22c950df42e6fb571171d5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a325012375d22c950df42e6fb571171d5">Current</a><code> [get]</code></td></tr>
<tr class="memdesc:a325012375d22c950df42e6fb571171d5"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">Experience</a> points gained after leveled-up (or the amount at current level).   <a href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a325012375d22c950df42e6fb571171d5">More...</a><br /></td></tr>
<tr class="separator:a325012375d22c950df42e6fb571171d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18e01ff7d350cae365b7c4462f7fb64b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a18e01ff7d350cae365b7c4462f7fb64b">NextLevel</a><code> [get]</code></td></tr>
<tr class="separator:a18e01ff7d350cae365b7c4462f7fb64b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad13867c1652fbb69c77cacd28f9d1414"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#ad13867c1652fbb69c77cacd28f9d1414">PointsNeeded</a><code> [get]</code></td></tr>
<tr class="separator:ad13867c1652fbb69c77cacd28f9d1414"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a6e839ba48c6d17532563779d9d282e06" name="a6e839ba48c6d17532563779d9d282e06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e839ba48c6d17532563779d9d282e06">&#9670;&#160;</a></span>Experience() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.Experience.Experience </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>rate</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a11ea6df4aa23e626dcbb56ba98261194" name="a11ea6df4aa23e626dcbb56ba98261194"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11ea6df4aa23e626dcbb56ba98261194">&#9670;&#160;</a></span>Experience() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.Experience.Experience </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>rate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>initialValue</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab7e48a1baffeb24a71f490aee660e1b3" name="ab7e48a1baffeb24a71f490aee660e1b3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7e48a1baffeb24a71f490aee660e1b3">&#9670;&#160;</a></span>AddExperience() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Monster.Data.Experience.AddExperience </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>currexp</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>expgain</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>growth</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Adds experience points ensuring that the new total doesn't exceed the maximum Exp. Points for the given growth rate.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">currexp</td><td>Current Exp Points.</td></tr>
    <tr><td class="paramname">expgain</td><td>Exp. Points to add</td></tr>
    <tr><td class="paramname">growth</td><td>Growth rate.</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a8f4604c557e9207656d74b979641bbb8" name="a8f4604c557e9207656d74b979641bbb8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f4604c557e9207656d74b979641bbb8">&#9670;&#160;</a></span>AddExperience() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Monster.Data.Experience.AddExperience </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>experienceGain</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Adds experience points to total Exp. Points.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">experienceGain</td><td>Exp. Points to add</td></tr>
  </table>
  </dd>
</dl>
<p>ToDo: Add event here for level up Use event handler to call ui and play exp gain sequence </p>

</div>
</div>
<a id="aec82f9e428f1898838d010e045f649cc" name="aec82f9e428f1898838d010e045f649cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec82f9e428f1898838d010e045f649cc">&#9670;&#160;</a></span>ExperienceNeeded()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.Experience.ExperienceNeeded </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>toLv</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6cac5bf128da3fae494e332e1fa8f38a" name="a6cac5bf128da3fae494e332e1fa8f38a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6cac5bf128da3fae494e332e1fa8f38a">&#9670;&#160;</a></span>GetLevelFromExperience()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static byte PokemonUnity.Monster.Data.Experience.GetLevelFromExperience </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>levelingRate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>experiencePoints</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Calculates a level given the number of Exp Points and growth rate.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">levelingRate</td><td>Growth rate.</td></tr>
    <tr><td class="paramname">experiencePoints</td><td>Current <a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">Experience</a> Points</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a402d95842c401730b4f5b708035745f2" name="a402d95842c401730b4f5b708035745f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a402d95842c401730b4f5b708035745f2">&#9670;&#160;</a></span>GetMaxExperience()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Monster.Data.Experience.GetMaxExperience </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>levelingRate</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the maximum Exp Points possible for the given growth rate.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">levelingRate</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a6893fda5c0e834942633cec7ca941624" name="a6893fda5c0e834942633cec7ca941624"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6893fda5c0e834942633cec7ca941624">&#9670;&#160;</a></span>GetStartExperience()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Monster.Data.Experience.GetStartExperience </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>levelingRate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>currentLevel</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the number of Exp Points needed to reach the given level with the given growth rate.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">levelingRate</td><td></td></tr>
    <tr><td class="paramname">currentLevel</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a325012375d22c950df42e6fb571171d5" name="a325012375d22c950df42e6fb571171d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a325012375d22c950df42e6fb571171d5">&#9670;&#160;</a></span>Current</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.Experience.Current</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">Experience</a> points gained after leveled-up (or the amount at current level).  </p>

</div>
</div>
<a id="a18e01ff7d350cae365b7c4462f7fb64b" name="a18e01ff7d350cae365b7c4462f7fb64b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18e01ff7d350cae365b7c4462f7fb64b">&#9670;&#160;</a></span>NextLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.Experience.NextLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad13867c1652fbb69c77cacd28f9d1414" name="ad13867c1652fbb69c77cacd28f9d1414"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad13867c1652fbb69c77cacd28f9d1414">&#9670;&#160;</a></span>PointsNeeded</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.Experience.PointsNeeded</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a87eab2fa4aaa88bf0d78931df5862ee3" name="a87eab2fa4aaa88bf0d78931df5862ee3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87eab2fa4aaa88bf0d78931df5862ee3">&#9670;&#160;</a></span>Total</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.Experience.Total</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Current accumalitive experience points gained (and collected) by this <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>.  </p>
<p >Exp points should not be able to go into negatives?</p>
<p >ToDo: Make shadow pokemons exp points negative?... no, cause they still need to level up after purified ToDo: Make exp points less than 0 equal to 0 </p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_experience_8cs.cshtml">Experience.cs</a></li>
</ul>

