@{
	Page.Title = "PokemonUnity.Networking.Packets.Outgoing.OTradePacket Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml">OTradePacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.Outgoing.OTradePacket Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Networking.Packets.Outgoing.OTradePacket:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.png" usemap="#PokemonUnity.Networking.Packets.Outgoing.OTradePacket_map" alt=""/>
  <map id="PokemonUnity.Networking.Packets.Outgoing.OTradePacket_map" name="PokemonUnity.Networking.Packets.Outgoing.OTradePacket_map">
<area href="interface_pokemon_unity_1_1_networking_1_1_packets_1_1_i_out_packet.cshtml" alt="PokemonUnity.Networking.Packets.IOutPacket" shape="rect" coords="0,0,346,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:afd55c5e319bda5d84e5eb43697ad311e"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#afd55c5e319bda5d84e5eb43697ad311e">OTradePacket</a> (<a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a> <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a241be30d3041554b28206e0bd7d61411">Command</a>, object <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a3ca5eeb22de84817591d3a73c90a0366">Message</a>)</td></tr>
<tr class="separator:afd55c5e319bda5d84e5eb43697ad311e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a241be30d3041554b28206e0bd7d61411"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a241be30d3041554b28206e0bd7d61411">Command</a><code> [get]</code></td></tr>
<tr class="separator:a241be30d3041554b28206e0bd7d61411"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ca5eeb22de84817591d3a73c90a0366"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#a3ca5eeb22de84817591d3a73c90a0366">Message</a><code> [get]</code></td></tr>
<tr class="separator:a3ca5eeb22de84817591d3a73c90a0366"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="afd55c5e319bda5d84e5eb43697ad311e" name="afd55c5e319bda5d84e5eb43697ad311e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd55c5e319bda5d84e5eb43697ad311e">&#9670;&#160;</a></span>OTradePacket()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Networking.Packets.Outgoing.OTradePacket.OTradePacket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a>&#160;</td>
          <td class="paramname"><em>Command</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>Message</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a241be30d3041554b28206e0bd7d61411" name="a241be30d3041554b28206e0bd7d61411"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a241be30d3041554b28206e0bd7d61411">&#9670;&#160;</a></span>Command</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml#a9a6bb2838c9bc1268c33f93e6698a73c">TradeCommand</a> PokemonUnity.Networking.Packets.Outgoing.OTradePacket.Command</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3ca5eeb22de84817591d3a73c90a0366" name="a3ca5eeb22de84817591d3a73c90a0366"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ca5eeb22de84817591d3a73c90a0366">&#9670;&#160;</a></span>Message</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonUnity.Networking.Packets.Outgoing.OTradePacket.Message</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Networking/Packets/Outgoing/<a class="el" href="_o_trading_packet_8cs.cshtml">OTradingPacket.cs</a></li>
</ul>

