@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonSystem</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.PokemonSystem Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac8ca6546ad2e9aad767591d11b7b5d7d">battlescene</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a48bd46020dee9f3d3f7c79a8b89a0ed0">battlestyle</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20a9fd945ada1ac4b25b765949df5c5a">bgmvolume</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#aed6301ceb8ed97e5ed46ba2375d26974">border</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20381512ddf33e0ae9bba6ff947b7933">font</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab7852c943612559a9ec932dcc2b14411">frame</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ada8af66da8823c5495fbaf010fa709f7">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ae82b87577d4c5e2c353b6fdc3d5d53a2">language</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a1d2e89e6d3211756862ee857516e3ca8">PokemonSystem</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3e98b915716e31bd19414ccbc68cda9b">runstyle</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab2656323279a184324468245abeaa1c2">screensize</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac238057442f5d189006f47271abb04cc">sevolume</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3779682f6296c6fc79b24aac5f97f487">textskin</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a30b0c900e4b8ec627b698ac8eae8c5fd">textspeed</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a7cc54a6d4054fd27353170526e38df62">tilemap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml">PokemonUnity.PokemonSystem</a></td><td class="entry"></td></tr>
</table>
