@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.SingleMatch Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">SingleMatch</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_single_match-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.SingleMatch Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.SingleMatch:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_single_match.png" usemap="#PokemonUnity.SingleMatch_map" alt=""/>
  <map id="PokemonUnity.SingleMatch_map" name="PokemonUnity.SingleMatch_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml" alt="PokemonEssentials.Interface.Battle.ISingleMatch" shape="rect" coords="0,0,285,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a69caf3e329543b44b9d252364e74dc8e"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a69caf3e329543b44b9d252364e74dc8e">SingleMatch</a> (float <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a0db5e25902ee142ce921c30ca0b5d6d4">opponentRating</a>, float opponentDev, int <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a7c424fe9e2a975dc9d3b01621dbb79bb">score</a>, int <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a9c734e8b2c943ea11d185955581b1032">kValue</a>=16)</td></tr>
<tr class="separator:a69caf3e329543b44b9d252364e74dc8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad434dd50a12c6e36b2976696727569d3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#ad434dd50a12c6e36b2976696727569d3">initialize</a> (float <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a0db5e25902ee142ce921c30ca0b5d6d4">opponentRating</a>, float opponentDev, int <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a7c424fe9e2a975dc9d3b01621dbb79bb">score</a>, int <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a9c734e8b2c943ea11d185955581b1032">kValue</a>=16)</td></tr>
<tr class="separator:ad434dd50a12c6e36b2976696727569d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0da4fd4687f019d517d8c77371711ae8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a0da4fd4687f019d517d8c77371711ae8">initialize</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a99d7dfd3b9812d4f532e516ec76f8556">opponentRating</a>, float opponentDev, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a7d75193d92c1b119b7a841053a5a9034">score</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a5bde42e4511c9b8571a1f6249ad3fe5a">kValue</a>=16)</td></tr>
<tr class="separator:a0da4fd4687f019d517d8c77371711ae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0db5e25902ee142ce921c30ca0b5d6d4"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a0db5e25902ee142ce921c30ca0b5d6d4">opponentRating</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a0db5e25902ee142ce921c30ca0b5d6d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17bce9267455ba660fff5e88c9039825"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a17bce9267455ba660fff5e88c9039825">opponentDeviation</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a17bce9267455ba660fff5e88c9039825"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c424fe9e2a975dc9d3b01621dbb79bb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a7c424fe9e2a975dc9d3b01621dbb79bb">score</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a7c424fe9e2a975dc9d3b01621dbb79bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c734e8b2c943ea11d185955581b1032"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a9c734e8b2c943ea11d185955581b1032">kValue</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a9c734e8b2c943ea11d185955581b1032"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td></tr>
<tr class="memitem:a99d7dfd3b9812d4f532e516ec76f8556 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a99d7dfd3b9812d4f532e516ec76f8556">opponentRating</a><code> [get]</code></td></tr>
<tr class="separator:a99d7dfd3b9812d4f532e516ec76f8556 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74ae5b7346312949b6ccc19a4e74ecf1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a74ae5b7346312949b6ccc19a4e74ecf1">opponentDeviation</a><code> [get]</code></td></tr>
<tr class="separator:a74ae5b7346312949b6ccc19a4e74ecf1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d75193d92c1b119b7a841053a5a9034 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a7d75193d92c1b119b7a841053a5a9034">score</a><code> [get]</code></td></tr>
<tr class="separator:a7d75193d92c1b119b7a841053a5a9034 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bde42e4511c9b8571a1f6249ad3fe5a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a5bde42e4511c9b8571a1f6249ad3fe5a">kValue</a><code> [get]</code></td></tr>
<tr class="separator:a5bde42e4511c9b8571a1f6249ad3fe5a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a69caf3e329543b44b9d252364e74dc8e" name="a69caf3e329543b44b9d252364e74dc8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69caf3e329543b44b9d252364e74dc8e">&#9670;&#160;</a></span>SingleMatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.SingleMatch.SingleMatch </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opponentRating</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opponentDev</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>score</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>kValue</em> = <code>16</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ad434dd50a12c6e36b2976696727569d3" name="ad434dd50a12c6e36b2976696727569d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad434dd50a12c6e36b2976696727569d3">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> PokemonUnity.SingleMatch.initialize </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opponentRating</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opponentDev</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>score</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>kValue</em> = <code>16</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a0da4fd4687f019d517d8c77371711ae8">PokemonEssentials.Interface.Battle.ISingleMatch</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a9c734e8b2c943ea11d185955581b1032" name="a9c734e8b2c943ea11d185955581b1032"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c734e8b2c943ea11d185955581b1032">&#9670;&#160;</a></span>kValue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.SingleMatch.kValue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a5bde42e4511c9b8571a1f6249ad3fe5a">PokemonEssentials.Interface.Battle.ISingleMatch</a>.</p>

</div>
</div>
<a id="a17bce9267455ba660fff5e88c9039825" name="a17bce9267455ba660fff5e88c9039825"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17bce9267455ba660fff5e88c9039825">&#9670;&#160;</a></span>opponentDeviation</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.SingleMatch.opponentDeviation</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a74ae5b7346312949b6ccc19a4e74ecf1">PokemonEssentials.Interface.Battle.ISingleMatch</a>.</p>

</div>
</div>
<a id="a0db5e25902ee142ce921c30ca0b5d6d4" name="a0db5e25902ee142ce921c30ca0b5d6d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0db5e25902ee142ce921c30ca0b5d6d4">&#9670;&#160;</a></span>opponentRating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.SingleMatch.opponentRating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a99d7dfd3b9812d4f532e516ec76f8556">PokemonEssentials.Interface.Battle.ISingleMatch</a>.</p>

</div>
</div>
<a id="a7c424fe9e2a975dc9d3b01621dbb79bb" name="a7c424fe9e2a975dc9d3b01621dbb79bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c424fe9e2a975dc9d3b01621dbb79bb">&#9670;&#160;</a></span>score</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.SingleMatch.score</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a7d75193d92c1b119b7a841053a5a9034">PokemonEssentials.Interface.Battle.ISingleMatch</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_generator_8cs.cshtml">OrgBattleGenerator.cs</a></li>
</ul>

