@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Localization.XmlStringRes Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_localization.cshtml">Localization</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">XmlStringRes</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_localization_1_1_xml_string_res-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Localization.XmlStringRes Class Reference</div></div>
}


<p> 
 <a href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa513f7121291355cf7757447ac6ce0a7"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">XmlStringRes</a> (<a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a> logger, string element=&quot;STR&quot;, string attribute=&quot;id&quot;)</td></tr>
<tr class="separator:aa513f7121291355cf7757447ac6ce0a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a527ae0558e43d82084cd742475c9018b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a527ae0558e43d82084cd742475c9018b">Initialize</a> (string fileName, int languageId=0)</td></tr>
<tr class="separator:a527ae0558e43d82084cd742475c9018b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab51be426752b48dec7897423ed50111f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#ab51be426752b48dec7897423ed50111f">Release</a> ()</td></tr>
<tr class="separator:ab51be426752b48dec7897423ed50111f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a94158138d2554abdde0b872a94f2df"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a0a94158138d2554abdde0b872a94f2df">GetStr</a> (string code)</td></tr>
<tr class="separator:a0a94158138d2554abdde0b872a94f2df"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa513f7121291355cf7757447ac6ce0a7"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">XmlStringRes</a> (<a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a> logger, string element=&quot;STR&quot;, string attribute=&quot;id&quot;)</td></tr>
<tr class="separator:aa513f7121291355cf7757447ac6ce0a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a527ae0558e43d82084cd742475c9018b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a527ae0558e43d82084cd742475c9018b">Initialize</a> (string fileName, int languageId=0)</td></tr>
<tr class="separator:a527ae0558e43d82084cd742475c9018b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab51be426752b48dec7897423ed50111f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#ab51be426752b48dec7897423ed50111f">Release</a> ()</td></tr>
<tr class="separator:ab51be426752b48dec7897423ed50111f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a94158138d2554abdde0b872a94f2df"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#a0a94158138d2554abdde0b872a94f2df">GetStr</a> (string code)</td></tr>
<tr class="separator:a0a94158138d2554abdde0b872a94f2df"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aa513f7121291355cf7757447ac6ce0a7" name="aa513f7121291355cf7757447ac6ce0a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa513f7121291355cf7757447ac6ce0a7">&#9670;&#160;</a></span>XmlStringRes() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Localization.XmlStringRes.XmlStringRes </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a>&#160;</td>
          <td class="paramname"><em>logger</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>element</em> = <code>&quot;STR&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>attribute</em> = <code>&quot;id&quot;</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa513f7121291355cf7757447ac6ce0a7" name="aa513f7121291355cf7757447ac6ce0a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa513f7121291355cf7757447ac6ce0a7">&#9670;&#160;</a></span>XmlStringRes() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Localization.XmlStringRes.XmlStringRes </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a>&#160;</td>
          <td class="paramname"><em>logger</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>element</em> = <code>&quot;STR&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>attribute</em> = <code>&quot;id&quot;</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0a94158138d2554abdde0b872a94f2df" name="a0a94158138d2554abdde0b872a94f2df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a94158138d2554abdde0b872a94f2df">&#9670;&#160;</a></span>GetStr() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Localization.XmlStringRes.GetStr </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>code</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a94158138d2554abdde0b872a94f2df" name="a0a94158138d2554abdde0b872a94f2df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a94158138d2554abdde0b872a94f2df">&#9670;&#160;</a></span>GetStr() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Localization.XmlStringRes.GetStr </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>code</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a527ae0558e43d82084cd742475c9018b" name="a527ae0558e43d82084cd742475c9018b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a527ae0558e43d82084cd742475c9018b">&#9670;&#160;</a></span>Initialize() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Localization.XmlStringRes.Initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>fileName</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>languageId</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a527ae0558e43d82084cd742475c9018b" name="a527ae0558e43d82084cd742475c9018b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a527ae0558e43d82084cd742475c9018b">&#9670;&#160;</a></span>Initialize() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Localization.XmlStringRes.Initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>fileName</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>languageId</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab51be426752b48dec7897423ed50111f" name="ab51be426752b48dec7897423ed50111f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab51be426752b48dec7897423ed50111f">&#9670;&#160;</a></span>Release() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Localization.XmlStringRes.Release </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab51be426752b48dec7897423ed50111f" name="ab51be426752b48dec7897423ed50111f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab51be426752b48dec7897423ed50111f">&#9670;&#160;</a></span>Release() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Localization.XmlStringRes.Release </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following files:<ul>
<li>PokemonUnity.Application/Localization/<a class="el" href="_pokemon_unity_8_application_2_localization_2_xml_string_res_8cs.cshtml">XmlStringRes.cs</a></li>
<li>PokemonUnity.Shared/Localization/<a class="el" href="_pokemon_unity_8_shared_2_localization_2_xml_string_res_8cs.cshtml">XmlStringRes.cs</a></li>
</ul>
