@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">BattleFactoryData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BattleFactoryData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a181add5977d72a0277e7ac843c4de985">Battle</a>(IBattleChallenge challenge)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#aee7ffc88f9f185d65e80e6e9181e6afa">BattleFactoryData</a>(IBattleChallengeData bcdata)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#abdcbc3a1e8cdaf98083695d35b094528">bcdata</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a99a66da8a5336386ae5eb6acd1442ef4">ChooseRentals</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a56a7bd1d9210fec50bf955f08570d11a">ChooseSwaps</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a9b0f7c1169fd897c8c59408c3a8c3e1c">initialize</a>(IBattleChallengeData bcdata)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a5063aeec19d80dc5f3330ab72e2a3863">oldopponent</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#aaaf78636005c3dc69aa8eb06e3bdfdd4">opponent</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a0a74c72429b89b203147eb911e72c674">PrepareRentals</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a11c23222c6b77290a89aee725c8eacb6">PrepareSwaps</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a8110dba9e29a26f5c20577e5845a7e96">rentals</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a094475c315742c05aa665f0866414f0a">trainerid</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml">PokemonUnity.BattleFactoryData</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
</table>
