@{
	Page.Title = "PokemonUnity.EventArg.OnEndBattleEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">OnEndBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnEndBattleEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnEndBattleEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.png" usemap="#PokemonUnity.EventArg.OnEndBattleEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnEndBattleEventArgs_map" name="PokemonUnity.EventArg.OnEndBattleEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml" title="Parameters: int decision e[0] - Battle result (1-win, 2-loss, 3-escaped, 4-caught,..." alt="PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs" shape="rect" coords="376,56,742,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="376,0,742,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:ad633a5770676792eb503efec5733e3eb"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#ad633a5770676792eb503efec5733e3eb">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">OnEndBattleEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:ad633a5770676792eb503efec5733e3eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aedc855a699f173396ff8dcf9611c4bc0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#aedc855a699f173396ff8dcf9611c4bc0">Id</a> <code>[get]</code></td></tr>
<tr class="separator:aedc855a699f173396ff8dcf9611c4bc0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cf6e64880855d545da489ebd1a2b4ff"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a3cf6e64880855d545da489ebd1a2b4ff">CanLose</a> <code>[get, set]</code></td></tr>
<tr class="separator:a3cf6e64880855d545da489ebd1a2b4ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9bc63f8ffb3d2dbd2125a40ca17143f6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a9bc63f8ffb3d2dbd2125a40ca17143f6">Decision</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a9bc63f8ffb3d2dbd2125a40ca17143f6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a9bc63f8ffb3d2dbd2125a40ca17143f6">More...</a><br /></td></tr>
<tr class="separator:a9bc63f8ffb3d2dbd2125a40ca17143f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a></td></tr>
<tr class="memitem:adf3e802b9bf8789d0263f36fd67e2166 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#adf3e802b9bf8789d0263f36fd67e2166">CanLose</a> <code>[get, set]</code></td></tr>
<tr class="separator:adf3e802b9bf8789d0263f36fd67e2166 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a762a82ec455cc99b379da7c0e81993 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">Decision</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a3a762a82ec455cc99b379da7c0e81993 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">More...</a><br /></td></tr>
<tr class="separator:a3a762a82ec455cc99b379da7c0e81993 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a> <code>[get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="ad633a5770676792eb503efec5733e3eb" name="ad633a5770676792eb503efec5733e3eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad633a5770676792eb503efec5733e3eb">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnEndBattleEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml">OnEndBattleEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3cf6e64880855d545da489ebd1a2b4ff" name="a3cf6e64880855d545da489ebd1a2b4ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cf6e64880855d545da489ebd1a2b4ff">&#9670;&#160;</a></span>CanLose</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.EventArg.OnEndBattleEventArgs.CanLose</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#adf3e802b9bf8789d0263f36fd67e2166">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a>.</p>

</div>
</div>
<a id="a9bc63f8ffb3d2dbd2125a40ca17143f6" name="a9bc63f8ffb3d2dbd2125a40ca17143f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9bc63f8ffb3d2dbd2125a40ca17143f6">&#9670;&#160;</a></span>Decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonUnity.EventArg.OnEndBattleEventArgs.Decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Battle result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a>.</p>

</div>
</div>
<a id="aedc855a699f173396ff8dcf9611c4bc0" name="aedc855a699f173396ff8dcf9611c4bc0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aedc855a699f173396ff8dcf9611c4bc0">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnEndBattleEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>

