@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.BattleUseOnBattlerEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">BattleUseOnBattlerEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_battle_use_on_battler_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.BattleUseOnBattlerEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.BattleUseOnBattlerEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_battle_use_on_battler_event_args.png" usemap="#PokemonUnity.BattleUseOnBattlerEventArgs_map" alt=""/>
  <map id="PokemonUnity.BattleUseOnBattlerEventArgs_map" name="PokemonUnity.BattleUseOnBattlerEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs" shape="rect" coords="411,56,812,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="411,0,812,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a15e2f2e967af41146d5ec6e34826f339"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a15e2f2e967af41146d5ec6e34826f339">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">BattleUseOnBattlerEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a15e2f2e967af41146d5ec6e34826f339"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a590c0e57989414bc6b9855fe432e6538"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a590c0e57989414bc6b9855fe432e6538">Id</a><code> [get]</code></td></tr>
<tr class="separator:a590c0e57989414bc6b9855fe432e6538"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a864bc2ce7746858f9b8339d7250b6b00"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a864bc2ce7746858f9b8339d7250b6b00">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a864bc2ce7746858f9b8339d7250b6b00"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7bd3802f28b39a64117d08e6f4f6e192"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a7bd3802f28b39a64117d08e6f4f6e192">Battler</a><code> [get, set]</code></td></tr>
<tr class="separator:a7bd3802f28b39a64117d08e6f4f6e192"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a92eadfb50cf988bf69d8c9679528389d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a92eadfb50cf988bf69d8c9679528389d">Scene</a><code> [get, set]</code></td></tr>
<tr class="separator:a92eadfb50cf988bf69d8c9679528389d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97203cd53865d732c5dace05b3605578"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a97203cd53865d732c5dace05b3605578">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a97203cd53865d732c5dace05b3605578"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a></td></tr>
<tr class="memitem:a917a2678fc11227083bd7fc7d5e16082 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a917a2678fc11227083bd7fc7d5e16082">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a917a2678fc11227083bd7fc7d5e16082 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a867c6d0a491b5a042f3b9e1247cd0f12 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a867c6d0a491b5a042f3b9e1247cd0f12">Battler</a><code> [get, set]</code></td></tr>
<tr class="separator:a867c6d0a491b5a042f3b9e1247cd0f12 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a59787c30070aae85aafa5360e2d2e95a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a59787c30070aae85aafa5360e2d2e95a">Scene</a><code> [get, set]</code></td></tr>
<tr class="separator:a59787c30070aae85aafa5360e2d2e95a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0ceb1b2e871477be7e66b2495dc7c157 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a0ceb1b2e871477be7e66b2495dc7c157">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a0ceb1b2e871477be7e66b2495dc7c157 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a15e2f2e967af41146d5ec6e34826f339" name="a15e2f2e967af41146d5ec6e34826f339"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a15e2f2e967af41146d5ec6e34826f339">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.BattleUseOnBattlerEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml">BattleUseOnBattlerEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a7bd3802f28b39a64117d08e6f4f6e192" name="a7bd3802f28b39a64117d08e6f4f6e192"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7bd3802f28b39a64117d08e6f4f6e192">&#9670;&#160;</a></span>Battler</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> PokemonUnity.BattleUseOnBattlerEventArgs.Battler</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a867c6d0a491b5a042f3b9e1247cd0f12">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a>.</p>

</div>
</div>
<a id="a590c0e57989414bc6b9855fe432e6538" name="a590c0e57989414bc6b9855fe432e6538"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a590c0e57989414bc6b9855fe432e6538">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.BattleUseOnBattlerEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a864bc2ce7746858f9b8339d7250b6b00" name="a864bc2ce7746858f9b8339d7250b6b00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a864bc2ce7746858f9b8339d7250b6b00">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.BattleUseOnBattlerEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a917a2678fc11227083bd7fc7d5e16082">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a>.</p>

</div>
</div>
<a id="a97203cd53865d732c5dace05b3605578" name="a97203cd53865d732c5dace05b3605578"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97203cd53865d732c5dace05b3605578">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.BattleUseOnBattlerEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a0ceb1b2e871477be7e66b2495dc7c157">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a>.</p>

</div>
</div>
<a id="a92eadfb50cf988bf69d8c9679528389d" name="a92eadfb50cf988bf69d8c9679528389d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a92eadfb50cf988bf69d8c9679528389d">&#9670;&#160;</a></span>Scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> PokemonUnity.BattleUseOnBattlerEventArgs.Scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml#a59787c30070aae85aafa5360e2d2e95a">PokemonEssentials.Interface.EventArg.IBattleUseOnBattlerEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_effects_8cs.cshtml">Item.Effects.cs</a></li>
</ul>

