@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">SingleMatch</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.SingleMatch Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#ad434dd50a12c6e36b2976696727569d3">initialize</a>(float opponentRating, float opponentDev, int score, int kValue=16)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a9c734e8b2c943ea11d185955581b1032">kValue</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a17bce9267455ba660fff5e88c9039825">opponentDeviation</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a0db5e25902ee142ce921c30ca0b5d6d4">opponentRating</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a7c424fe9e2a975dc9d3b01621dbb79bb">score</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a69caf3e329543b44b9d252364e74dc8e">SingleMatch</a>(float opponentRating, float opponentDev, int score, int kValue=16)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_single_match.cshtml">PokemonUnity.SingleMatch</a></td><td class="entry"></td></tr>
</table>
