@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Character.TrainerPC Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml">TrainerPC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_trainer_p_c-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.TrainerPC Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.TrainerPC:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_trainer_p_c.png" usemap="#PokemonUnity.Character.TrainerPC_map" alt=""/>
  <map id="PokemonUnity.Character.TrainerPC_map" name="PokemonUnity.Character.TrainerPC_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml" alt="PokemonEssentials.Interface.Screen.IPCMenuUser" shape="rect" coords="0,0,300,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab7089b3e5efc1d1419de6e4deb27d816"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#ab7089b3e5efc1d1419de6e4deb27d816">access</a> ()</td></tr>
<tr class="separator:ab7089b3e5efc1d1419de6e4deb27d816"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d4764490ba362583281c65484e73c13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">access</a> ()</td></tr>
<tr class="separator:a6d4764490ba362583281c65484e73c13"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aed97c76e4f267ba2a4f91afce0f1b470"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#aed97c76e4f267ba2a4f91afce0f1b470">shouldShow</a><code> [get]</code></td></tr>
<tr class="separator:aed97c76e4f267ba2a4f91afce0f1b470"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61262bae75c532fcf4cef872bbb6e464"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#a61262bae75c532fcf4cef872bbb6e464">name</a><code> [get]</code></td></tr>
<tr class="separator:a61262bae75c532fcf4cef872bbb6e464"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml">PokemonEssentials.Interface.Screen.IPCMenuUser</a></td></tr>
<tr class="memitem:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">shouldShow</a><code> [get]</code></td></tr>
<tr class="separator:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">name</a><code> [get]</code></td></tr>
<tr class="separator:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab7089b3e5efc1d1419de6e4deb27d816" name="ab7089b3e5efc1d1419de6e4deb27d816"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7089b3e5efc1d1419de6e4deb27d816">&#9670;&#160;</a></span>access()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Character.TrainerPC.access </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a61262bae75c532fcf4cef872bbb6e464" name="a61262bae75c532fcf4cef872bbb6e464"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61262bae75c532fcf4cef872bbb6e464">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerPC.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<a id="aed97c76e4f267ba2a4f91afce0f1b470" name="aed97c76e4f267ba2a4f91afce0f1b470"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed97c76e4f267ba2a4f91afce0f1b470">&#9670;&#160;</a></span>shouldShow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.TrainerPC.shouldShow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">PokemonEssentials.Interface.Screen.IPCMenuUser</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_pokemon_storage_8cs.cshtml">PokemonStorage.cs</a></li>
</ul>

