@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.UseInFieldEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">UseInFieldEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_use_in_field_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UseInFieldEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.UseInFieldEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_use_in_field_event_args.png" usemap="#PokemonUnity.UseInFieldEventArgs_map" alt=""/>
  <map id="PokemonUnity.UseInFieldEventArgs_map" name="PokemonUnity.UseInFieldEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IUseInFieldEventArgs" shape="rect" coords="365,56,720,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="365,0,720,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:aaa505b21ef6c08463d2be3f51cec89d9"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#aaa505b21ef6c08463d2be3f51cec89d9">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">UseInFieldEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:aaa505b21ef6c08463d2be3f51cec89d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9d373cfd6fe4609def5c942e6f0930d2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#a9d373cfd6fe4609def5c942e6f0930d2">Id</a><code> [get]</code></td></tr>
<tr class="separator:a9d373cfd6fe4609def5c942e6f0930d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa9d3fd8328d30c50c02e4a5616f88ccb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#aa9d3fd8328d30c50c02e4a5616f88ccb">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:aa9d3fd8328d30c50c02e4a5616f88ccb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b33c4d0c1fc5e3e0dc4caf36ecf04fa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#a1b33c4d0c1fc5e3e0dc4caf36ecf04fa">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a1b33c4d0c1fc5e3e0dc4caf36ecf04fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml">PokemonEssentials.Interface.EventArg.IUseInFieldEventArgs</a></td></tr>
<tr class="memitem:a4e40940bd841a33e1ce8c8c2e5a70a79 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml#a4e40940bd841a33e1ce8c8c2e5a70a79">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a4e40940bd841a33e1ce8c8c2e5a70a79 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39514a94efa2f42666c8f076190e3ff3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml#a39514a94efa2f42666c8f076190e3ff3">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a39514a94efa2f42666c8f076190e3ff3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="aaa505b21ef6c08463d2be3f51cec89d9" name="aaa505b21ef6c08463d2be3f51cec89d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa505b21ef6c08463d2be3f51cec89d9">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.UseInFieldEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml">UseInFieldEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a9d373cfd6fe4609def5c942e6f0930d2" name="a9d373cfd6fe4609def5c942e6f0930d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d373cfd6fe4609def5c942e6f0930d2">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.UseInFieldEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="aa9d3fd8328d30c50c02e4a5616f88ccb" name="aa9d3fd8328d30c50c02e4a5616f88ccb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa9d3fd8328d30c50c02e4a5616f88ccb">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.UseInFieldEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml#a4e40940bd841a33e1ce8c8c2e5a70a79">PokemonEssentials.Interface.EventArg.IUseInFieldEventArgs</a>.</p>

</div>
</div>
<a id="a1b33c4d0c1fc5e3e0dc4caf36ecf04fa" name="a1b33c4d0c1fc5e3e0dc4caf36ecf04fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b33c4d0c1fc5e3e0dc4caf36ecf04fa">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.UseInFieldEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml#a39514a94efa2f42666c8f076190e3ff3">PokemonEssentials.Interface.EventArg.IUseInFieldEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Inventory/Item/<a class="el" href="_item_8_effects_8cs.cshtml">Item.Effects.cs</a></li>
</ul>

