@{
	Page.Title = "PokemonUnity.Translator.Language.LocalizationDictionary Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">Translator</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml">Language</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml">LocalizationDictionary</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-methods">Protected Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Translator.Language.LocalizationDictionary Class Reference</div></div>
}


<p>Represents a simple implementation of <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> interface.   
 <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Translator.Language.LocalizationDictionary:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.png" usemap="#PokemonUnity.Translator.Language.LocalizationDictionary_map" alt=""/>
  <map id="PokemonUnity.Translator.Language.LocalizationDictionary_map" name="PokemonUnity.Translator.Language.LocalizationDictionary_map">
<area href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML." alt="PokemonUnity.Translator.Language.XmlLocalizationDictionary" shape="rect" coords="0,112,362,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3a25fa82ce7f485ef66d8acd2a0da629"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a3a25fa82ce7f485ef66d8acd2a0da629">LocalizationDictionary</a> (<a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a> cultureInfo)</td></tr>
<tr class="memdesc:a3a25fa82ce7f485ef66d8acd2a0da629"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a new <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml" title="Represents a simple implementation of XmlLocalizationDictionary interface.">LocalizationDictionary</a> object.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a3a25fa82ce7f485ef66d8acd2a0da629">More...</a><br /></td></tr>
<tr class="separator:a3a25fa82ce7f485ef66d8acd2a0da629"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb207d01a062ad58fe8c1fc28cfe96e7"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#adb207d01a062ad58fe8c1fc28cfe96e7">GetOrNull</a> (string name)</td></tr>
<tr class="separator:adb207d01a062ad58fe8c1fc28cfe96e7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bb84dbf2e3f6d71e31e6c5458bef134"><td class="memItemLeft" align="right" valign="top">virtual List&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a6bb84dbf2e3f6d71e31e6c5458bef134">GetAllStrings</a> ()</td></tr>
<tr class="separator:a6bb84dbf2e3f6d71e31e6c5458bef134"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10d89b85f533383f2f606d031b74bbe8"><td class="memItemLeft" align="right" valign="top">virtual IEnumerator&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a10d89b85f533383f2f606d031b74bbe8">GetEnumerator</a> ()</td></tr>
<tr class="separator:a10d89b85f533383f2f606d031b74bbe8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-methods" name="pro-methods"></a>
Protected Member Functions</h2></td></tr>
<tr class="memitem:ab2f06538fdc54358a7037945d2dea0d8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#ab2f06538fdc54358a7037945d2dea0d8">Contains</a> (string name)</td></tr>
<tr class="separator:ab2f06538fdc54358a7037945d2dea0d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a4c816c7bba1a06a92260061155045a96"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#a4c816c7bba1a06a92260061155045a96">CultureInfo</a> <code>[get]</code></td></tr>
<tr class="separator:a4c816c7bba1a06a92260061155045a96"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6fe0fee698affdfd8e491f40b3780a0"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#af6fe0fee698affdfd8e491f40b3780a0">this[string name]</a> <code>[get, set]</code></td></tr>
<tr class="separator:af6fe0fee698affdfd8e491f40b3780a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Represents a simple implementation of <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> interface.  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3a25fa82ce7f485ef66d8acd2a0da629" name="a3a25fa82ce7f485ef66d8acd2a0da629"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a25fa82ce7f485ef66d8acd2a0da629">&#9670;&#160;</a></span>LocalizationDictionary()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Translator.Language.LocalizationDictionary.LocalizationDictionary </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a>&#160;</td>
          <td class="paramname"><em>cultureInfo</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Creates a new <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml" title="Represents a simple implementation of XmlLocalizationDictionary interface.">LocalizationDictionary</a> object.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">cultureInfo</td><td>Culture of the dictionary</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab2f06538fdc54358a7037945d2dea0d8" name="ab2f06538fdc54358a7037945d2dea0d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2f06538fdc54358a7037945d2dea0d8">&#9670;&#160;</a></span>Contains()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Translator.Language.LocalizationDictionary.Contains </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6bb84dbf2e3f6d71e31e6c5458bef134" name="a6bb84dbf2e3f6d71e31e6c5458bef134"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6bb84dbf2e3f6d71e31e6c5458bef134">&#9670;&#160;</a></span>GetAllStrings()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual List&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt; PokemonUnity.Translator.Language.LocalizationDictionary.GetAllStrings </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="a10d89b85f533383f2f606d031b74bbe8" name="a10d89b85f533383f2f606d031b74bbe8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10d89b85f533383f2f606d031b74bbe8">&#9670;&#160;</a></span>GetEnumerator()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual IEnumerator&lt;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a>&gt; PokemonUnity.Translator.Language.LocalizationDictionary.GetEnumerator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="adb207d01a062ad58fe8c1fc28cfe96e7" name="adb207d01a062ad58fe8c1fc28cfe96e7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb207d01a062ad58fe8c1fc28cfe96e7">&#9670;&#160;</a></span>GetOrNull()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a> PokemonUnity.Translator.Language.LocalizationDictionary.GetOrNull </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a4c816c7bba1a06a92260061155045a96" name="a4c816c7bba1a06a92260061155045a96"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c816c7bba1a06a92260061155045a96">&#9670;&#160;</a></span>CultureInfo</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">Languages</a> PokemonUnity.Translator.Language.LocalizationDictionary.CultureInfo</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="af6fe0fee698affdfd8e491f40b3780a0" name="af6fe0fee698affdfd8e491f40b3780a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6fe0fee698affdfd8e491f40b3780a0">&#9670;&#160;</a></span>this[string name]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a> PokemonUnity.Translator.Language.LocalizationDictionary.this[string name]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Translations/<a class="el" href="_translator_8cs.cshtml">Translator.cs</a></li>
</ul>
