@{
	Page.Title = "PokemonUnity.Game.Scene_Map Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_1_1_scene___map.cshtml">Scene_Map</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_game_1_1_scene___map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Game.Scene_Map Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a52d717659c35ce87390208c931b6e729"><td class="memItemLeft" align="right" valign="top">virtual void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game_1_1_scene___map.cshtml#a52d717659c35ce87390208c931b6e729">createSingleSpriteset</a> (int map)</td></tr>
<tr class="separator:a52d717659c35ce87390208c931b6e729"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a52d717659c35ce87390208c931b6e729" name="a52d717659c35ce87390208c931b6e729"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52d717659c35ce87390208c931b6e729">&#9670;&#160;</a></span>createSingleSpriteset()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">virtual void PokemonUnity.Game.Scene_Map.createSingleSpriteset </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">virtual</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Game/<a class="el" href="_game_8_field_8cs.cshtml">Game.Field.cs</a></li>
</ul>
