@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml">ItemClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.ItemClause Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml">PokemonUnity.ItemClause</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml#a791f8d2841968917bb36e577da97e756">errorMessage</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml">PokemonUnity.ItemClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml#aca00a4d02f5285b0328f387a24ee0fb7">isValid</a>(PokemonEssentials.Interface.PokeBattle.IPokemon[] team)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml">PokemonUnity.ItemClause</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">PokemonEssentials::Interface::Battle::IBattleTeamRestriction.isValid</a>(IPokemon[] team)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td><td class="entry"></td></tr>
</table>
