@{
	Page.Title = "PokemonUnity.EventArg.OnMapCreateEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml">OnMapCreateEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapCreateEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnMapCreateEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.png" usemap="#PokemonUnity.EventArg.OnMapCreateEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnMapCreateEventArgs_map" name="PokemonUnity.EventArg.OnMapCreateEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs" shape="rect" coords="386,56,762,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="386,0,762,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a3f7141baf0e3c4d47d0ceaf9d7c15647"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#a3f7141baf0e3c4d47d0ceaf9d7c15647">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml">OnMapCreateEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a3f7141baf0e3c4d47d0ceaf9d7c15647"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1c9b9a36ae4b43a48166cf30913a69e2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#a1c9b9a36ae4b43a48166cf30913a69e2">Id</a><code> [get]</code></td></tr>
<tr class="separator:a1c9b9a36ae4b43a48166cf30913a69e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a703b9cae06fde110e4c6d1e8b0238faa"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#a703b9cae06fde110e4c6d1e8b0238faa">Map</a><code> [get, set]</code></td></tr>
<tr class="separator:a703b9cae06fde110e4c6d1e8b0238faa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6ebc1a838fc9343631e65dc499ca3ba"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#ac6ebc1a838fc9343631e65dc499ca3ba">Tileset</a><code> [get, set]</code></td></tr>
<tr class="separator:ac6ebc1a838fc9343631e65dc499ca3ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs</a></td></tr>
<tr class="memitem:afe6bcf2ea97e2259f6fd7f8bf6af5764 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#afe6bcf2ea97e2259f6fd7f8bf6af5764">Map</a><code> [get, set]</code></td></tr>
<tr class="separator:afe6bcf2ea97e2259f6fd7f8bf6af5764 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d0cdb664de700380f6761e5e5b934d6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#a1d0cdb664de700380f6761e5e5b934d6">Tileset</a><code> [get, set]</code></td></tr>
<tr class="separator:a1d0cdb664de700380f6761e5e5b934d6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a3f7141baf0e3c4d47d0ceaf9d7c15647" name="a3f7141baf0e3c4d47d0ceaf9d7c15647"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f7141baf0e3c4d47d0ceaf9d7c15647">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnMapCreateEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml">OnMapCreateEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1c9b9a36ae4b43a48166cf30913a69e2" name="a1c9b9a36ae4b43a48166cf30913a69e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c9b9a36ae4b43a48166cf30913a69e2">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnMapCreateEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a703b9cae06fde110e4c6d1e8b0238faa" name="a703b9cae06fde110e4c6d1e8b0238faa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a703b9cae06fde110e4c6d1e8b0238faa">&#9670;&#160;</a></span>Map</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnMapCreateEventArgs.Map</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#afe6bcf2ea97e2259f6fd7f8bf6af5764">PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs</a>.</p>

</div>
</div>
<a id="ac6ebc1a838fc9343631e65dc499ca3ba" name="ac6ebc1a838fc9343631e65dc499ca3ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6ebc1a838fc9343631e65dc499ca3ba">&#9670;&#160;</a></span>Tileset</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a> PokemonUnity.EventArg.OnMapCreateEventArgs.Tileset</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#a1d0cdb664de700380f6761e5e5b934d6">PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>

