@{
	Page.Title = "PokemonUnity.Game.Spriteset_Map Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml">Spriteset_Map</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_game_1_1_spriteset___map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Game.Spriteset_Map Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aeb070ae52e67db95fe0ca955b986a943"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml#aeb070ae52e67db95fe0ca955b986a943">getAnimations</a> ()</td></tr>
<tr class="separator:aeb070ae52e67db95fe0ca955b986a943"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43d1b062ec4bd05a54a9d8b2f4a5773e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game_1_1_spriteset___map.cshtml#a43d1b062ec4bd05a54a9d8b2f4a5773e">restoreAnimations</a> (int anims)</td></tr>
<tr class="separator:a43d1b062ec4bd05a54a9d8b2f4a5773e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aeb070ae52e67db95fe0ca955b986a943" name="aeb070ae52e67db95fe0ca955b986a943"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb070ae52e67db95fe0ca955b986a943">&#9670;&#160;</a></span>getAnimations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Game.Spriteset_Map.getAnimations </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43d1b062ec4bd05a54a9d8b2f4a5773e" name="a43d1b062ec4bd05a54a9d8b2f4a5773e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43d1b062ec4bd05a54a9d8b2f4a5773e">&#9670;&#160;</a></span>restoreAnimations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Game.Spriteset_Map.restoreAnimations </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>anims</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Game/<a class="el" href="_game_8_field_8cs.cshtml">Game.Field.cs</a></li>
</ul>
