@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">Experience</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.Experience Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a8f4604c557e9207656d74b979641bbb8">AddExperience</a>(int experienceGain)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a325012375d22c950df42e6fb571171d5">Current</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6e839ba48c6d17532563779d9d282e06">Experience</a>(LevelingRate rate)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a11ea6df4aa23e626dcbb56ba98261194">Experience</a>(LevelingRate rate, int initialValue)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#aec82f9e428f1898838d010e045f649cc">ExperienceNeeded</a>(int toLv)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6cac5bf128da3fae494e332e1fa8f38a">GetLevelFromExperience</a>(LevelingRate levelingRate, int experiencePoints)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a402d95842c401730b4f5b708035745f2">GetMaxExperience</a>(LevelingRate levelingRate)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a6893fda5c0e834942633cec7ca941624">GetStartExperience</a>(LevelingRate levelingRate, int currentLevel)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a18e01ff7d350cae365b7c4462f7fb64b">NextLevel</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a854cf4704511e9304655654a1af8ca64">pbAddExperience</a>(int currexp, int expgain, LevelingRate growth)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#ad13867c1652fbb69c77cacd28f9d1414">PointsNeeded</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml#a87eab2fa4aaa88bf0d78931df5862ee3">Total</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_data_1_1_experience.cshtml">PokemonUnity.Monster.Data.Experience</a></td><td class="entry"></td></tr>
</table>