@{
	Page.Title = "PokemonUnity.ItemClause Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml">ItemClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_item_clause-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.ItemClause Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.ItemClause:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_item_clause.png" usemap="#PokemonUnity.ItemClause_map" alt=""/>
  <map id="PokemonUnity.ItemClause_map" name="PokemonUnity.ItemClause_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleTeamRestriction" shape="rect" coords="0,56,335,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_item_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IItemClause" shape="rect" coords="345,56,680,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleTeamRestriction" shape="rect" coords="345,0,680,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aca00a4d02f5285b0328f387a24ee0fb7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml#aca00a4d02f5285b0328f387a24ee0fb7">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] team)</td></tr>
<tr class="separator:aca00a4d02f5285b0328f387a24ee0fb7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td></tr>
<tr class="memitem:a860b976789f973f85c94be8de8fe672b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team)</td></tr>
<tr class="separator:a860b976789f973f85c94be8de8fe672b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a791f8d2841968917bb36e577da97e756"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml#a791f8d2841968917bb36e577da97e756">errorMessage</a><code> [get]</code></td></tr>
<tr class="separator:a791f8d2841968917bb36e577da97e756"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td></tr>
<tr class="memitem:ab3405adc214f2b542307b943ec0ed821 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#ab3405adc214f2b542307b943ec0ed821">errorMessage</a><code> [get]</code></td></tr>
<tr class="separator:ab3405adc214f2b542307b943ec0ed821 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aca00a4d02f5285b0328f387a24ee0fb7" name="aca00a4d02f5285b0328f387a24ee0fb7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca00a4d02f5285b0328f387a24ee0fb7">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.ItemClause.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a791f8d2841968917bb36e577da97e756" name="a791f8d2841968917bb36e577da97e756"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a791f8d2841968917bb36e577da97e756">&#9670;&#160;</a></span>errorMessage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.ItemClause.errorMessage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#ab3405adc214f2b542307b943ec0ed821">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_rules_8cs.cshtml">OrgBattleRules.cs</a></li>
</ul>

