@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokeBattle_NullBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_NullBattlePeer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a94bab475405cb5d0b6ee6e4a76f61052">pbBoxName</a>(int box)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a0e11ff3e0b012eaaace84a21ad67685c">pbCurrentBox</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a7c58b91855e1b7f6d49defccb21b50ea">pbGetStorageCreator</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#aca1bc0eb8835d552f7338daea07ba3dd">pbOnEnteringBattle</a>(PokemonEssentials.Interface.PokeBattle.IBattle battle, PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#abb50334694191b515ded65b0565eb416">PokemonEssentials::Interface::PokeBattle::IBattlePeerMultipleForms.pbOnEnteringBattle</a>(IBattle battle, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#aae5d6b5086ac122d9b4ea365b94af96f">pbStorePokemon</a>(PokemonEssentials.Interface.PokeBattle.ITrainer player, PokemonEssentials.Interface.PokeBattle.IPokemon pokemon)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a32e163c112af732ce9088aafb1a6d4e4">PokemonEssentials::Interface::PokeBattle::IBattlePeer.pbStorePokemon</a>(ITrainer player, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a></td><td class="entry"></td></tr>
</table>