@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Input.ButtonEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_input.cshtml">Input</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">ButtonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_input_1_1_button_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Input.ButtonEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Input.ButtonEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_input_1_1_button_event_args.png" usemap="#PokemonUnity.Input.ButtonEventArgs_map" alt=""/>
  <map id="PokemonUnity.Input.ButtonEventArgs_map" name="PokemonUnity.Input.ButtonEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IButtonEventArgs" shape="rect" coords="341,56,672,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="341,0,672,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab92dbaa346a4d60327b6c1c8e203d017"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#ab92dbaa346a4d60327b6c1c8e203d017">ButtonEventArgs</a> (int button, bool isDown)</td></tr>
<tr class="separator:ab92dbaa346a4d60327b6c1c8e203d017"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a74e8f5c1f4ff8f4321730ee80a5ce0ad"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#a74e8f5c1f4ff8f4321730ee80a5ce0ad">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">ButtonEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a74e8f5c1f4ff8f4321730ee80a5ce0ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a266a8473e6add6b8a13616040f0e0a87"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#a266a8473e6add6b8a13616040f0e0a87">Id</a><code> [get]</code></td></tr>
<tr class="separator:a266a8473e6add6b8a13616040f0e0a87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0181294c85a0dea6f4e41104602d107"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#aa0181294c85a0dea6f4e41104602d107">Button</a><code> [get]</code></td></tr>
<tr class="separator:aa0181294c85a0dea6f4e41104602d107"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa992afceee66fa191edc7e5dd24eed54"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#aa992afceee66fa191edc7e5dd24eed54">IsDown</a><code> [get]</code></td></tr>
<tr class="separator:aa992afceee66fa191edc7e5dd24eed54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a></td></tr>
<tr class="memitem:a6aaddd61bc7375c4b3086cbef849eded inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a6aaddd61bc7375c4b3086cbef849eded">Button</a><code> [get]</code></td></tr>
<tr class="separator:a6aaddd61bc7375c4b3086cbef849eded inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86a2cdd548ca3c44e8e11d4e90ef4578 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a86a2cdd548ca3c44e8e11d4e90ef4578">IsDown</a><code> [get]</code></td></tr>
<tr class="separator:a86a2cdd548ca3c44e8e11d4e90ef4578 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="ab92dbaa346a4d60327b6c1c8e203d017" name="ab92dbaa346a4d60327b6c1c8e203d017"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab92dbaa346a4d60327b6c1c8e203d017">&#9670;&#160;</a></span>ButtonEventArgs()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Input.ButtonEventArgs.ButtonEventArgs </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>isDown</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a74e8f5c1f4ff8f4321730ee80a5ce0ad" name="a74e8f5c1f4ff8f4321730ee80a5ce0ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74e8f5c1f4ff8f4321730ee80a5ce0ad">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.Input.ButtonEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">ButtonEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa0181294c85a0dea6f4e41104602d107" name="aa0181294c85a0dea6f4e41104602d107"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0181294c85a0dea6f4e41104602d107">&#9670;&#160;</a></span>Button</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Input.ButtonEventArgs.Button</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a6aaddd61bc7375c4b3086cbef849eded">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a>.</p>

</div>
</div>
<a id="a266a8473e6add6b8a13616040f0e0a87" name="a266a8473e6add6b8a13616040f0e0a87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a266a8473e6add6b8a13616040f0e0a87">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Input.ButtonEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="aa992afceee66fa191edc7e5dd24eed54" name="aa992afceee66fa191edc7e5dd24eed54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa992afceee66fa191edc7e5dd24eed54">&#9670;&#160;</a></span>IsDown</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Input.ButtonEventArgs.IsDown</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a86a2cdd548ca3c44e8e11d4e90ef4578">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_input_8cs.cshtml">Input.cs</a></li>
</ul>
