@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.EventArg.OnMapChangeEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">OnMapChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapChangeEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.EventArg.OnMapChangeEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.png" usemap="#PokemonUnity.EventArg.OnMapChangeEventArgs_map" alt=""/>
  <map id="PokemonUnity.EventArg.OnMapChangeEventArgs_map" name="PokemonUnity.EventArg.OnMapChangeEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml" alt="PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs" shape="rect" coords="392,56,774,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="392,0,774,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a2e3ee9591078e204203011977719e1d9"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a2e3ee9591078e204203011977719e1d9">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">OnMapChangeEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a2e3ee9591078e204203011977719e1d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae6e3a523b9bdc7f2bc32d222c765a120"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#ae6e3a523b9bdc7f2bc32d222c765a120">Id</a><code> [get]</code></td></tr>
<tr class="separator:ae6e3a523b9bdc7f2bc32d222c765a120"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c0338593697f44a6141af6fc8cb55ff"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a9c0338593697f44a6141af6fc8cb55ff">MapId</a><code> [get, set]</code></td></tr>
<tr class="separator:a9c0338593697f44a6141af6fc8cb55ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs</a></td></tr>
<tr class="memitem:aacf16615ab4e5acac3a872c857b4f973 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml#aacf16615ab4e5acac3a872c857b4f973">MapId</a><code> [get, set]</code></td></tr>
<tr class="separator:aacf16615ab4e5acac3a872c857b4f973 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a2e3ee9591078e204203011977719e1d9" name="a2e3ee9591078e204203011977719e1d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e3ee9591078e204203011977719e1d9">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.EventArg.OnMapChangeEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml">OnMapChangeEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae6e3a523b9bdc7f2bc32d222c765a120" name="ae6e3a523b9bdc7f2bc32d222c765a120"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6e3a523b9bdc7f2bc32d222c765a120">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnMapChangeEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="a9c0338593697f44a6141af6fc8cb55ff" name="a9c0338593697f44a6141af6fc8cb55ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c0338593697f44a6141af6fc8cb55ff">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.EventArg.OnMapChangeEventArgs.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml#aacf16615ab4e5acac3a872c857b4f973">PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_events_8cs.cshtml">Events.cs</a></li>
</ul>

