@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking.cshtml">Networking</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets.cshtml">Packets</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing.cshtml">Outgoing</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">OAuthenticatePacket</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml#a840ab28ce281922803c2b3daa382c2da">OAuthenticatePacket</a>(SaveData saveData)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml#ac131f985089f55e75c448947f811c91a">SaveData</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket</a></td><td class="entry"></td></tr>
</table>
