@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.OnLoadEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml">OnLoadEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_on_load_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.OnLoadEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.OnLoadEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_on_load_event_args.png" usemap="#PokemonUnity.OnLoadEventArgs_map" alt=""/>
  <map id="PokemonUnity.OnLoadEventArgs_map" name="PokemonUnity.OnLoadEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="306,0,602,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:ab72c1fc790693c61975db111d55aeb12"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#ab72c1fc790693c61975db111d55aeb12">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml">OnLoadEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:ab72c1fc790693c61975db111d55aeb12"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a59e0444dc509192fe350d397812ae262"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#a59e0444dc509192fe350d397812ae262">Id</a><code> [get]</code></td></tr>
<tr class="separator:a59e0444dc509192fe350d397812ae262"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03cfd0d94d7c21e111908a31f5fa37dd"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#a03cfd0d94d7c21e111908a31f5fa37dd">Check</a><code> [get, set]</code></td></tr>
<tr class="separator:a03cfd0d94d7c21e111908a31f5fa37dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad28da90668828664ab4c6e1457c43ae8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#ad28da90668828664ab4c6e1457c43ae8">Total</a><code> [get, set]</code></td></tr>
<tr class="separator:ad28da90668828664ab4c6e1457c43ae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6d78379f88e98d70d8613cb6a04ae53"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#af6d78379f88e98d70d8613cb6a04ae53">Piece</a><code> [get, set]</code></td></tr>
<tr class="separator:af6d78379f88e98d70d8613cb6a04ae53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab8e1a8b6913fe68233d8ff78de4f6dce"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#ab8e1a8b6913fe68233d8ff78de4f6dce">TotalPieces</a><code> [get, set]</code></td></tr>
<tr class="separator:ab8e1a8b6913fe68233d8ff78de4f6dce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="ab72c1fc790693c61975db111d55aeb12" name="ab72c1fc790693c61975db111d55aeb12"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab72c1fc790693c61975db111d55aeb12">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.OnLoadEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml">OnLoadEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a03cfd0d94d7c21e111908a31f5fa37dd" name="a03cfd0d94d7c21e111908a31f5fa37dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03cfd0d94d7c21e111908a31f5fa37dd">&#9670;&#160;</a></span>Check</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnLoadEventArgs.Check</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a59e0444dc509192fe350d397812ae262" name="a59e0444dc509192fe350d397812ae262"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59e0444dc509192fe350d397812ae262">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnLoadEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="af6d78379f88e98d70d8613cb6a04ae53" name="af6d78379f88e98d70d8613cb6a04ae53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6d78379f88e98d70d8613cb6a04ae53">&#9670;&#160;</a></span>Piece</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnLoadEventArgs.Piece</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad28da90668828664ab4c6e1457c43ae8" name="ad28da90668828664ab4c6e1457c43ae8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad28da90668828664ab4c6e1457c43ae8">&#9670;&#160;</a></span>Total</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnLoadEventArgs.Total</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab8e1a8b6913fe68233d8ff78de4f6dce" name="ab8e1a8b6913fe68233d8ff78de4f6dce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab8e1a8b6913fe68233d8ff78de4f6dce">&#9670;&#160;</a></span>TotalPieces</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.OnLoadEventArgs.TotalPieces</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Game/<a class="el" href="_game_8_database_8cs.cshtml">Game.Database.cs</a></li>
</ul>
