@{
	Page.Title = "PokemonUnity.Character.PokemonStorageWithParty Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml">PokemonStorageWithParty</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PokemonStorageWithParty Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.PokemonStorageWithParty:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.png" usemap="#PokemonUnity.Character.PokemonStorageWithParty_map" alt=""/>
  <map id="PokemonUnity.Character.PokemonStorageWithParty_map" name="PokemonUnity.Character.PokemonStorageWithParty_map">
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml" alt="PokemonUnity.Character.PokemonStorage" shape="rect" coords="0,56,374,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorageWithParty" shape="rect" coords="384,56,758,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorage" shape="rect" coords="0,0,374,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorage" shape="rect" coords="384,0,758,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aba3c59f4921106604aade5ff6a095b7d"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#aba3c59f4921106604aade5ff6a095b7d">PokemonStorageWithParty</a> (int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">maxBoxes</a>=24, int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">maxPokemon</a>=30, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a05e1e88fe9f1bd0e83493ccbf323f80f">party</a>=null)</td></tr>
<tr class="separator:aba3c59f4921106604aade5ff6a095b7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a194d85b65ccd49eee411856cafaa5f04"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">IPokemonStorageWithParty</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a194d85b65ccd49eee411856cafaa5f04">initialize</a> (int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">maxBoxes</a>=24, int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">maxPokemon</a>=30, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[] <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a05e1e88fe9f1bd0e83493ccbf323f80f">party</a>=null)</td></tr>
<tr class="separator:a194d85b65ccd49eee411856cafaa5f04"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">PokemonUnity.Character.PokemonStorage</a></td></tr>
<tr class="memitem:a52bfafe76a3bd6b7dbb2370a539634ef inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a52bfafe76a3bd6b7dbb2370a539634ef">PokemonStorage</a> (int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">maxPokemon</a>=30)</td></tr>
<tr class="separator:a52bfafe76a3bd6b7dbb2370a539634ef inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8aba3115502aafd3815fd720ea346126 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a8aba3115502aafd3815fd720ea346126">initialize</a> (int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">maxPokemon</a>=30)</td></tr>
<tr class="separator:a8aba3115502aafd3815fd720ea346126 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98367734239c454808705aaa84f37dd2 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">maxPokemon</a> (int box)</td></tr>
<tr class="separator:a98367734239c454808705aaa84f37dd2 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac382e3de571691b69a9a0ad47ec01458 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#ac382e3de571691b69a9a0ad47ec01458">pbFirstFreePos</a> (int box)</td></tr>
<tr class="separator:ac382e3de571691b69a9a0ad47ec01458 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ef9733d38001a021d8bf7cb0a590fdb inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a5ef9733d38001a021d8bf7cb0a590fdb">pbCopy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a5ef9733d38001a021d8bf7cb0a590fdb inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6eecd388e6dddef87dcd6a80ddf6c4f9 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a6eecd388e6dddef87dcd6a80ddf6c4f9">pbMove</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a6eecd388e6dddef87dcd6a80ddf6c4f9 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a655b8a132de25bc5b6b1c5e5c0f58846 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a655b8a132de25bc5b6b1c5e5c0f58846">pbMoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pkmn)</td></tr>
<tr class="separator:a655b8a132de25bc5b6b1c5e5c0f58846 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ce93c21d0bcd4dcc57ae9aa916f6760 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a7ce93c21d0bcd4dcc57ae9aa916f6760">pbMoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:a7ce93c21d0bcd4dcc57ae9aa916f6760 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a143463ccdad270c0c4842caa19bea025 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a143463ccdad270c0c4842caa19bea025">pbStoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pkmn)</td></tr>
<tr class="separator:a143463ccdad270c0c4842caa19bea025 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a1218d7c321c1377bcd2eb8fdf43867 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a0a1218d7c321c1377bcd2eb8fdf43867">pbDelete</a> (int box, int index)</td></tr>
<tr class="separator:a0a1218d7c321c1377bcd2eb8fdf43867 inherit pub_methods_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td></tr>
<tr class="memitem:a9f07018541bdcfd5744c1fb7cea8585b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a9f07018541bdcfd5744c1fb7cea8585b">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a>=30)</td></tr>
<tr class="separator:a9f07018541bdcfd5744c1fb7cea8585b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c947fe1a6a6dd29dd8419a6985cde8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a> (int box)</td></tr>
<tr class="separator:a8c947fe1a6a6dd29dd8419a6985cde8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69f6db13d8d4b5d56d0eeb4a64e594fb inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a69f6db13d8d4b5d56d0eeb4a64e594fb">pbFirstFreePos</a> (int box)</td></tr>
<tr class="separator:a69f6db13d8d4b5d56d0eeb4a64e594fb inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c8e19efd97399e5eaa9967acfd317c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a25c8e19efd97399e5eaa9967acfd317c">pbCopy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a25c8e19efd97399e5eaa9967acfd317c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b7193b33119f3c1d5009b7773aa1d86 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3b7193b33119f3c1d5009b7773aa1d86">pbMove</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a3b7193b33119f3c1d5009b7773aa1d86 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b5d2cfdd183b2d85b2b859150a01dc3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8b5d2cfdd183b2d85b2b859150a01dc3">pbMoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a8b5d2cfdd183b2d85b2b859150a01dc3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5fea2de9155b57f5c4457a6a840f6e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab5fea2de9155b57f5c4457a6a840f6e2">pbMoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:ab5fea2de9155b57f5c4457a6a840f6e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08f331ed2ef575c90571cb9bd975c749 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a08f331ed2ef575c90571cb9bd975c749">pbStoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a08f331ed2ef575c90571cb9bd975c749 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab68b70597e9ef0730a412d0be881640e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab68b70597e9ef0730a412d0be881640e">pbDelete</a> (int box, int index)</td></tr>
<tr class="separator:ab68b70597e9ef0730a412d0be881640e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a05e1e88fe9f1bd0e83493ccbf323f80f"><td class="memItemLeft" align="right" valign="top">override <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a05e1e88fe9f1bd0e83493ccbf323f80f">party</a><code> [get, set]</code></td></tr>
<tr class="separator:a05e1e88fe9f1bd0e83493ccbf323f80f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">PokemonUnity.Character.PokemonStorage</a></td></tr>
<tr class="memitem:ab8877cf0d0ba8fa121b51d529652c884 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#ab8877cf0d0ba8fa121b51d529652c884">boxes</a><code> [get, protected set]</code></td></tr>
<tr class="separator:ab8877cf0d0ba8fa121b51d529652c884 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af902792f5fb0e0ec54e11d9544aa05e3 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#af902792f5fb0e0ec54e11d9544aa05e3">currentBox</a><code> [get, set]</code></td></tr>
<tr class="separator:af902792f5fb0e0ec54e11d9544aa05e3 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70fecc22150b28c0fea4f4ab4de1d690 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">maxBoxes</a><code> [get]</code></td></tr>
<tr class="separator:a70fecc22150b28c0fea4f4ab4de1d690 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a96b0c1552a74b2bb2301cbd4f6ca5cb4 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">virtual <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a96b0c1552a74b2bb2301cbd4f6ca5cb4">party</a><code> [get, set]</code></td></tr>
<tr class="separator:a96b0c1552a74b2bb2301cbd4f6ca5cb4 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a906f48e39352b919e741b1b72a21332d inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a906f48e39352b919e741b1b72a21332d">this[int x]</a><code> [get]</code></td></tr>
<tr class="separator:a906f48e39352b919e741b1b72a21332d inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04eea9bda496b825259fddb7aba76cf9 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a04eea9bda496b825259fddb7aba76cf9">this[int x, int y]</a><code> [get, set]</code></td></tr>
<tr class="separator:a04eea9bda496b825259fddb7aba76cf9 inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57a8cf997f282f29c0e2ac3ae7baeeed inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a57a8cf997f282f29c0e2ac3ae7baeeed">full</a><code> [get]</code></td></tr>
<tr class="separator:a57a8cf997f282f29c0e2ac3ae7baeeed inherit properties_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td></tr>
<tr class="memitem:a3e0828153d15524740e714c061487ef1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3e0828153d15524740e714c061487ef1">boxes</a><code> [get]</code></td></tr>
<tr class="separator:a3e0828153d15524740e714c061487ef1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a954b5e31cbecc563008fcd99b976b45d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a954b5e31cbecc563008fcd99b976b45d">currentBox</a><code> [get, set]</code></td></tr>
<tr class="separator:a954b5e31cbecc563008fcd99b976b45d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57164220ab80eae504390644886a2d75 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a><code> [get]</code></td></tr>
<tr class="separator:a57164220ab80eae504390644886a2d75 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0058fa6da8391d54574c9c477b00cfdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a0058fa6da8391d54574c9c477b00cfdb">party</a><code> [get]</code></td></tr>
<tr class="separator:a0058fa6da8391d54574c9c477b00cfdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af23b767fdc9d55dc1cc4dd608c5cf39f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#af23b767fdc9d55dc1cc4dd608c5cf39f">this[int x]</a><code> [get]</code></td></tr>
<tr class="separator:af23b767fdc9d55dc1cc4dd608c5cf39f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7eb7444d1712928614a2b283e007057f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a7eb7444d1712928614a2b283e007057f">this[int x, int y]</a><code> [get, set]</code></td></tr>
<tr class="separator:a7eb7444d1712928614a2b283e007057f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a144344ba92e12f3384c4f25793b3d0b7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a144344ba92e12f3384c4f25793b3d0b7">full</a><code> [get]</code></td></tr>
<tr class="separator:a144344ba92e12f3384c4f25793b3d0b7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty</a></td></tr>
<tr class="memitem:a8d882f0bd04ae73e12cfa6e799482547 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party"><td class="memItemLeft" align="right" valign="top">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml#a8d882f0bd04ae73e12cfa6e799482547">party</a><code> [get, set]</code></td></tr>
<tr class="separator:a8d882f0bd04ae73e12cfa6e799482547 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_static_attribs_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('pub_static_attribs_class_pokemon_unity_1_1_character_1_1_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Static Public Attributes inherited from <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">PokemonUnity.Character.PokemonStorage</a></td></tr>
<tr class="memitem:a22a5a1ffcd805b755bf23220270eb4e2 inherit pub_static_attribs_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memItemLeft" align="right" valign="top">static string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a22a5a1ffcd805b755bf23220270eb4e2">MARKINGCHARS</a> =new string[] { &quot;●&quot;, &quot;▲&quot;, &quot;■&quot;, &quot;♥&quot;, &quot;★&quot;, &quot;♦︎&quot; }</td></tr>
<tr class="memdesc:a22a5a1ffcd805b755bf23220270eb4e2 inherit pub_static_attribs_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="mdescLeft">&#160;</td><td class="mdescRight">●, ▲, ■, ♥︎, ★, and ♦︎.   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a22a5a1ffcd805b755bf23220270eb4e2">More...</a><br /></td></tr>
<tr class="separator:a22a5a1ffcd805b755bf23220270eb4e2 inherit pub_static_attribs_class_pokemon_unity_1_1_character_1_1_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aba3c59f4921106604aade5ff6a095b7d" name="aba3c59f4921106604aade5ff6a095b7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba3c59f4921106604aade5ff6a095b7d">&#9670;&#160;</a></span>PokemonStorageWithParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PokemonStorageWithParty.PokemonStorageWithParty </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxBoxes</em> = <code>24</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxPokemon</em> = <code>30</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a194d85b65ccd49eee411856cafaa5f04" name="a194d85b65ccd49eee411856cafaa5f04"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a194d85b65ccd49eee411856cafaa5f04">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">IPokemonStorageWithParty</a> PokemonUnity.Character.PokemonStorageWithParty.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxBoxes</em> = <code>24</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxPokemon</em> = <code>30</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a05e1e88fe9f1bd0e83493ccbf323f80f" name="a05e1e88fe9f1bd0e83493ccbf323f80f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05e1e88fe9f1bd0e83493ccbf323f80f">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">override <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> [] PokemonUnity.Character.PokemonStorageWithParty.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml#a8d882f0bd04ae73e12cfa6e799482547">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_pokemon_storage_8cs.cshtml">PokemonStorage.cs</a></li>
</ul>
