@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Monster.PokeBattle_RealBattlePeer Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml">PokeBattle_RealBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.PokeBattle_RealBattlePeer Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Monster.PokeBattle_RealBattlePeer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.png" usemap="#PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map" alt=""/>
  <map id="PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map" name="PokemonUnity.Monster.PokeBattle_5FRealBattlePeer_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeer" shape="rect" coords="0,0,380,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml" title="Extension of IBattlePeer" alt="PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms" shape="rect" coords="390,0,770,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5ccc617b42c8f4da179608c201578033"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a5ccc617b42c8f4da179608c201578033">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a5ccc617b42c8f4da179608c201578033"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a946bb667bb0b54b99d1ec726c245f957"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a946bb667bb0b54b99d1ec726c245f957">pbGetStorageCreator</a> ()</td></tr>
<tr class="separator:a946bb667bb0b54b99d1ec726c245f957"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afffd9a4a91f631c365a422dfdc1f959d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#afffd9a4a91f631c365a422dfdc1f959d">pbCurrentBox</a> ()</td></tr>
<tr class="separator:afffd9a4a91f631c365a422dfdc1f959d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abca640efafc0f6f90caad4b637f37fa8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#abca640efafc0f6f90caad4b637f37fa8">pbBoxName</a> (int box)</td></tr>
<tr class="separator:abca640efafc0f6f90caad4b637f37fa8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36b6a956fbcdd8fa36998a61c108788c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a36b6a956fbcdd8fa36998a61c108788c">pbOnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> pokemon)</td></tr>
<tr class="separator:a36b6a956fbcdd8fa36998a61c108788c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32e163c112af732ce9088aafb1a6d4e4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a32e163c112af732ce9088aafb1a6d4e4">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a32e163c112af732ce9088aafb1a6d4e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa92382e285fdf72b8bb3278f2282b3ba"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#aa92382e285fdf72b8bb3278f2282b3ba">pbGetStorageCreator</a> ()</td></tr>
<tr class="separator:aa92382e285fdf72b8bb3278f2282b3ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5365ea70521a3f20e8e1ad0fec4e0ee5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5365ea70521a3f20e8e1ad0fec4e0ee5">pbCurrentBox</a> ()</td></tr>
<tr class="separator:a5365ea70521a3f20e8e1ad0fec4e0ee5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3a555effe9dfe8100d90ecd74e212ea"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#ad3a555effe9dfe8100d90ecd74e212ea">pbBoxName</a> (int box)</td></tr>
<tr class="separator:ad3a555effe9dfe8100d90ecd74e212ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abb50334694191b515ded65b0565eb416"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#abb50334694191b515ded65b0565eb416">pbOnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:abb50334694191b515ded65b0565eb416"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abca640efafc0f6f90caad4b637f37fa8" name="abca640efafc0f6f90caad4b637f37fa8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abca640efafc0f6f90caad4b637f37fa8">&#9670;&#160;</a></span>pbBoxName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_RealBattlePeer.pbBoxName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#ad3a555effe9dfe8100d90ecd74e212ea">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="afffd9a4a91f631c365a422dfdc1f959d" name="afffd9a4a91f631c365a422dfdc1f959d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afffd9a4a91f631c365a422dfdc1f959d">&#9670;&#160;</a></span>pbCurrentBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_RealBattlePeer.pbCurrentBox </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5365ea70521a3f20e8e1ad0fec4e0ee5">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a946bb667bb0b54b99d1ec726c245f957" name="a946bb667bb0b54b99d1ec726c245f957"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a946bb667bb0b54b99d1ec726c245f957">&#9670;&#160;</a></span>pbGetStorageCreator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.PokeBattle_RealBattlePeer.pbGetStorageCreator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#aa92382e285fdf72b8bb3278f2282b3ba">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<a id="a36b6a956fbcdd8fa36998a61c108788c" name="a36b6a956fbcdd8fa36998a61c108788c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36b6a956fbcdd8fa36998a61c108788c">&#9670;&#160;</a></span>pbOnEnteringBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.Monster.PokeBattle_RealBattlePeer.pbOnEnteringBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">PokemonEssentials.Interface.PokeBattle.IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#abb50334694191b515ded65b0565eb416">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms</a>.</p>

</div>
</div>
<a id="a5ccc617b42c8f4da179608c201578033" name="a5ccc617b42c8f4da179608c201578033"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ccc617b42c8f4da179608c201578033">&#9670;&#160;</a></span>pbStorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.PokeBattle_RealBattlePeer.pbStorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a32e163c112af732ce9088aafb1a6d4e4">PokemonEssentials.Interface.PokeBattle.IBattlePeer</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following files:<ul>
<li>PokemonUnity.Application/Monster/<a class="el" href="_battle_peer_8cs.cshtml">BattlePeer.cs</a></li>
<li>PokemonUnity.Application/Monster/Pokemon/<a class="el" href="_pokemon_8_form_8cs.cshtml">Pokemon.Form.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
