@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">BaseStatRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.BaseStatRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml#a6e381cc2956ab9f9955eb10e3ce90679">BaseStatRestriction</a>(int mn, int mx)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml#a95a8367d81b2efaf32527520b0ae2a3f">initialize</a>(int mn, int mx)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml#ae5cd7df7392c3075b0e543a98da1b534">isValid</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml#a7321895b88c2787606ef16e1fea4336a">mn</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml#a3bca3368d73d1da31cf0db98b1b77d9f">mx</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_base_stat_restriction.cshtml">PokemonUnity.BaseStatRestriction</a></td><td class="entry"><span class="mlabel">protected</span></td></tr>
</table>
