@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">OnMapChangingEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapChangingEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml#a6496bb0a33682be43fb578ae5a8c7d67">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml#a6196d040e6b2672000d90b1e6542a156">GameMap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml#aa531a17ecab99d51dcf3efd678965d14">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml#aeb5ebb811d98612b364fef4af8934489">MapId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml">PokemonUnity.EventArg.OnMapChangingEventArgs</a></td><td class="entry"></td></tr>
</table>
