@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_utility.cshtml">Utility</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml">LinearCongRandom</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">OnSeedEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.png" usemap="#PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs_map" alt=""/>
  <map id="PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs_map" name="PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="359,0,708,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a6b77eee633c4152fec70350bfa40f5ec"><td class="memItemLeft" align="right" valign="top">static readonly int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a6b77eee633c4152fec70350bfa40f5ec">EventId</a> = typeof(<a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">OnSeedEventArgs</a>).GetHashCode()</td></tr>
<tr class="separator:a6b77eee633c4152fec70350bfa40f5ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0605ff10660379053b239e57c7ee2f6a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a0605ff10660379053b239e57c7ee2f6a">Id</a><code> [get]</code></td></tr>
<tr class="separator:a0605ff10660379053b239e57c7ee2f6a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97587a0fe6461e77c773c46ebe1e9d26"><td class="memItemLeft" align="right" valign="top">long&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a97587a0fe6461e77c773c46ebe1e9d26">Seed</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a97587a0fe6461e77c773c46ebe1e9d26"><td class="mdescLeft">&#160;</td><td class="mdescRight">What is the value seed created   <a href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a97587a0fe6461e77c773c46ebe1e9d26">More...</a><br /></td></tr>
<tr class="separator:a97587a0fe6461e77c773c46ebe1e9d26"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0f9f83eb2b2181f6fda3fa591826314"><td class="memItemLeft" align="right" valign="top">System.Type&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#ac0f9f83eb2b2181f6fda3fa591826314">Requestor</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac0f9f83eb2b2181f6fda3fa591826314"><td class="mdescLeft">&#160;</td><td class="mdescRight">What class or object requested for a new seed to be generated   <a href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#ac0f9f83eb2b2181f6fda3fa591826314">More...</a><br /></td></tr>
<tr class="separator:ac0f9f83eb2b2181f6fda3fa591826314"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4517c6415f62cdf317046211245fa429"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a4517c6415f62cdf317046211245fa429">RequestorId</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4517c6415f62cdf317046211245fa429"><td class="mdescLeft">&#160;</td><td class="mdescRight">Which entity object from pool of objects   <a href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a4517c6415f62cdf317046211245fa429">More...</a><br /></td></tr>
<tr class="separator:a4517c6415f62cdf317046211245fa429"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a6b77eee633c4152fec70350bfa40f5ec" name="a6b77eee633c4152fec70350bfa40f5ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b77eee633c4152fec70350bfa40f5ec">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">readonly int PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs.EventId = typeof(<a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml">OnSeedEventArgs</a>).GetHashCode()</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0605ff10660379053b239e57c7ee2f6a" name="a0605ff10660379053b239e57c7ee2f6a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0605ff10660379053b239e57c7ee2f6a">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">PokemonEssentials.Interface.EventArg.IEventArgs</a>.</p>

</div>
</div>
<a id="ac0f9f83eb2b2181f6fda3fa591826314" name="ac0f9f83eb2b2181f6fda3fa591826314"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0f9f83eb2b2181f6fda3fa591826314">&#9670;&#160;</a></span>Requestor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">System.Type PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs.Requestor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>What class or object requested for a new seed to be generated  </p>

</div>
</div>
<a id="a4517c6415f62cdf317046211245fa429" name="a4517c6415f62cdf317046211245fa429"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4517c6415f62cdf317046211245fa429">&#9670;&#160;</a></span>RequestorId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs.RequestorId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Which entity object from pool of objects  </p>

</div>
</div>
<a id="a97587a0fe6461e77c773c46ebe1e9d26" name="a97587a0fe6461e77c773c46ebe1e9d26"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97587a0fe6461e77c773c46ebe1e9d26">&#9670;&#160;</a></span>Seed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">long PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs.Seed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>What is the value seed created  </p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Shared/Extensions/Utility/<a class="el" href="_linear_cong_random_8cs.cshtml">LinearCongRandom.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
