@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Saving.SaveDataConverter Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data_converter.cshtml">SaveDataConverter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="class_pokemon_unity_1_1_saving_1_1_save_data_converter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SaveDataConverter Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Saving.SaveDataConverter:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_saving_1_1_save_data_converter.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aea5b68c6b51d61d38fd229a1587e3fe0"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data_converter.cshtml#aea5b68c6b51d61d38fd229a1587e3fe0">CanConvert</a> (System.Type objectType)</td></tr>
<tr class="separator:aea5b68c6b51d61d38fd229a1587e3fe0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36691150b99e0755fc1996c02410f8a2"><td class="memItemLeft" align="right" valign="top">override object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data_converter.cshtml#a36691150b99e0755fc1996c02410f8a2">ReadJson</a> (JsonReader reader, System.Type objectType, object existingValue, JsonSerializer serializer)</td></tr>
<tr class="separator:a36691150b99e0755fc1996c02410f8a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99e485b7953637605a11b5471a63d609"><td class="memItemLeft" align="right" valign="top">override void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data_converter.cshtml#a99e485b7953637605a11b5471a63d609">WriteJson</a> (JsonWriter writer, object value, JsonSerializer serializer)</td></tr>
<tr class="separator:a99e485b7953637605a11b5471a63d609"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a527a87b778db4e174ffda4fd63139a7e"><td class="memItemLeft" align="right" valign="top">static object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_saving_1_1_save_data_converter.cshtml#a527a87b778db4e174ffda4fd63139a7e">ToObject</a> (string json)</td></tr>
<tr class="separator:a527a87b778db4e174ffda4fd63139a7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aea5b68c6b51d61d38fd229a1587e3fe0" name="aea5b68c6b51d61d38fd229a1587e3fe0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea5b68c6b51d61d38fd229a1587e3fe0">&#9670;&#160;</a></span>CanConvert()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Saving.SaveDataConverter.CanConvert </td>
          <td>(</td>
          <td class="paramtype">System.Type&#160;</td>
          <td class="paramname"><em>objectType</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a36691150b99e0755fc1996c02410f8a2" name="a36691150b99e0755fc1996c02410f8a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36691150b99e0755fc1996c02410f8a2">&#9670;&#160;</a></span>ReadJson()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override object PokemonUnity.Saving.SaveDataConverter.ReadJson </td>
          <td>(</td>
          <td class="paramtype">JsonReader&#160;</td>
          <td class="paramname"><em>reader</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">System.Type&#160;</td>
          <td class="paramname"><em>objectType</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>existingValue</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">JsonSerializer&#160;</td>
          <td class="paramname"><em>serializer</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a527a87b778db4e174ffda4fd63139a7e" name="a527a87b778db4e174ffda4fd63139a7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a527a87b778db4e174ffda4fd63139a7e">&#9670;&#160;</a></span>ToObject()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static object PokemonUnity.Saving.SaveDataConverter.ToObject </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>json</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a99e485b7953637605a11b5471a63d609" name="a99e485b7953637605a11b5471a63d609"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99e485b7953637605a11b5471a63d609">&#9670;&#160;</a></span>WriteJson()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override void PokemonUnity.Saving.SaveDataConverter.WriteJson </td>
          <td>(</td>
          <td class="paramtype">JsonWriter&#160;</td>
          <td class="paramname"><em>writer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>value</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">JsonSerializer&#160;</td>
          <td class="paramname"><em>serializer</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_save_data_converter_8cs.cshtml">SaveDataConverter.cs</a></li>
</ul>
