@{
	Page.Title = "PokemonUnity.Game_Event Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_game___event.cshtml">Game_Event</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_game___event-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Game_Event Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Game_Event:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_game___event.png" usemap="#PokemonUnity.Game_5FEvent_map" alt=""/>
  <map id="PokemonUnity.Game_5FEvent_map" name="PokemonUnity.Game_5FEvent_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml" title="IGameEvent" alt="PokemonEssentials.Interface.Battle.IGameEventOrgBattle" shape="rect" coords="0,0,332,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab4f305ba799de39fc99602ce6267deaf"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_game___event.cshtml#ab4f305ba799de39fc99602ce6267deaf">InChallenge</a> <code>[get]</code></td></tr>
<tr class="separator:ab4f305ba799de39fc99602ce6267deaf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml">PokemonEssentials.Interface.Battle.IGameEventOrgBattle</a></td></tr>
<tr class="memitem:abcdce7abd6ddf504a2325004e48afb0c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml#abcdce7abd6ddf504a2325004e48afb0c">InChallenge</a> <code>[get]</code></td></tr>
<tr class="separator:abcdce7abd6ddf504a2325004e48afb0c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab4f305ba799de39fc99602ce6267deaf" name="ab4f305ba799de39fc99602ce6267deaf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4f305ba799de39fc99602ce6267deaf">&#9670;&#160;</a></span>InChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Game_Event.InChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml#abcdce7abd6ddf504a2325004e48afb0c">PokemonEssentials.Interface.Battle.IGameEventOrgBattle</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_8cs.cshtml">OrgBattle.cs</a></li>
</ul>

