@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.RuledTeam Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml">RuledTeam</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pro-attribs">Protected Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="class_pokemon_unity_1_1_ruled_team-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.RuledTeam Class Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.RuledTeam:</div>
<div class="dyncontent">
 <div class="center">
  <img src="class_pokemon_unity_1_1_ruled_team.png" usemap="#PokemonUnity.RuledTeam_map" alt=""/>
  <map id="PokemonUnity.RuledTeam_map" name="PokemonUnity.RuledTeam_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml" alt="PokemonEssentials.Interface.Battle.IRuledTeam" shape="rect" coords="0,0,277,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a622829d9d9ef378232018fd593ba4527"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a622829d9d9ef378232018fd593ba4527">updateRating</a> ()</td></tr>
<tr class="separator:a622829d9d9ef378232018fd593ba4527"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a157a72f95bcb88d3326ff93962a349a8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a157a72f95bcb88d3326ff93962a349a8">compare</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other)</td></tr>
<tr class="separator:a157a72f95bcb88d3326ff93962a349a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a196dfbd27744f19eb17bf51348be99e5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a196dfbd27744f19eb17bf51348be99e5">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other, int score)</td></tr>
<tr class="separator:a196dfbd27744f19eb17bf51348be99e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a790c59a5e88323ef0644281ebb968aea"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a790c59a5e88323ef0644281ebb968aea">RuledTeam</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a790c59a5e88323ef0644281ebb968aea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa55e122729f0b566b863d8f24a474443"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#aa55e122729f0b566b863d8f24a474443">initialize</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:aa55e122729f0b566b863d8f24a474443"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22b495810a4e51901001d2cda6d222cd"><td class="memItemLeft" align="right" valign="top">override string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a22b495810a4e51901001d2cda6d222cd">ToString</a> ()</td></tr>
<tr class="separator:a22b495810a4e51901001d2cda6d222cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d64bf9d158e148b17adf30e19dbb13a"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a2d64bf9d158e148b17adf30e19dbb13a">load</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party)</td></tr>
<tr class="separator:a2d64bf9d158e148b17adf30e19dbb13a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a393ad93daed37c98743670e0ab7fb4f0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a393ad93daed37c98743670e0ab7fb4f0">updateRating</a> ()</td></tr>
<tr class="separator:a393ad93daed37c98743670e0ab7fb4f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a101d28ced86fd394071d1afea562b1cd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a101d28ced86fd394071d1afea562b1cd">compare</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other)</td></tr>
<tr class="separator:a101d28ced86fd394071d1afea562b1cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29c8fe026159906b2c3ad3afb0278e6e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29c8fe026159906b2c3ad3afb0278e6e">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other, int score)</td></tr>
<tr class="separator:a29c8fe026159906b2c3ad3afb0278e6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93d721b5223e8af125214d551300b315"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a93d721b5223e8af125214d551300b315">initialize</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a93d721b5223e8af125214d551300b315"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abe907ddb050238d41a55b267fdf9310e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#abe907ddb050238d41a55b267fdf9310e">ToString</a> ()</td></tr>
<tr class="separator:abe907ddb050238d41a55b267fdf9310e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21b235b8c159ed926f81f2996b52b581"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a21b235b8c159ed926f81f2996b52b581">load</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party)</td></tr>
<tr class="separator:a21b235b8c159ed926f81f2996b52b581"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pro-attribs" name="pro-attribs"></a>
Protected Attributes</h2></td></tr>
<tr class="memitem:a08626669a74333426a9386a336c1aeb3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a08626669a74333426a9386a336c1aeb3">history</a></td></tr>
<tr class="separator:a08626669a74333426a9386a336c1aeb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0457d2920cbd49738d002f0fb6680d7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#ad0457d2920cbd49738d002f0fb6680d7">_rating</a></td></tr>
<tr class="separator:ad0457d2920cbd49738d002f0fb6680d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7225e68c298285fb2a1179ae7ad4edfb"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a7225e68c298285fb2a1179ae7ad4edfb">_totalGames</a></td></tr>
<tr class="separator:a7225e68c298285fb2a1179ae7ad4edfb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adfbf01b5c4c970f6212c709e17810cdc"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#adfbf01b5c4c970f6212c709e17810cdc">rating</a><code> [get]</code></td></tr>
<tr class="separator:adfbf01b5c4c970f6212c709e17810cdc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a472d727c1d9bc1a0336611cfd4a7e86d"><td class="memItemLeft" align="right" valign="top">float[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a472d727c1d9bc1a0336611cfd4a7e86d">ratingRaw</a><code> [get]</code></td></tr>
<tr class="separator:a472d727c1d9bc1a0336611cfd4a7e86d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a403d1dd6d8a1d55485ec2b82303f922c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a403d1dd6d8a1d55485ec2b82303f922c">ratingData</a><code> [get]</code></td></tr>
<tr class="separator:a403d1dd6d8a1d55485ec2b82303f922c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afabee315861e1ca69332a0781766ed7f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#afabee315861e1ca69332a0781766ed7f">totalGames</a><code> [get]</code></td></tr>
<tr class="separator:afabee315861e1ca69332a0781766ed7f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ba74db949865e5d8cc41e2f54334d21"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a1ba74db949865e5d8cc41e2f54334d21">games</a><code> [get]</code></td></tr>
<tr class="separator:a1ba74db949865e5d8cc41e2f54334d21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f2488bb9e63080d64e5e4e65e445b29"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a3f2488bb9e63080d64e5e4e65e445b29">team</a><code> [get, protected set]</code></td></tr>
<tr class="separator:a3f2488bb9e63080d64e5e4e65e445b29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a792dfca7d9067812b5190aec719d6ba5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a792dfca7d9067812b5190aec719d6ba5">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:a792dfca7d9067812b5190aec719d6ba5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a957f4bcb313d6c956ffdeea473509ccd"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a957f4bcb313d6c956ffdeea473509ccd">length</a><code> [get]</code></td></tr>
<tr class="separator:a957f4bcb313d6c956ffdeea473509ccd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td></tr>
<tr class="memitem:aaecdf8c49973c752a7a5e77574a00043 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#aaecdf8c49973c752a7a5e77574a00043">rating</a><code> [get]</code></td></tr>
<tr class="separator:aaecdf8c49973c752a7a5e77574a00043 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e794504b4d2106704d08c3e48126300 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">float[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a0e794504b4d2106704d08c3e48126300">ratingRaw</a><code> [get]</code></td></tr>
<tr class="separator:a0e794504b4d2106704d08c3e48126300 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae57eae66efa0f2897debc422a36e7877 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae57eae66efa0f2897debc422a36e7877">ratingData</a><code> [get]</code></td></tr>
<tr class="separator:ae57eae66efa0f2897debc422a36e7877 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29be20fe2f0c4a39d799c0bb24fc4b2b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29be20fe2f0c4a39d799c0bb24fc4b2b">totalGames</a><code> [get]</code></td></tr>
<tr class="separator:a29be20fe2f0c4a39d799c0bb24fc4b2b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3cd52e4aba7b3356587ccb01f80216a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad3cd52e4aba7b3356587ccb01f80216a">games</a><code> [get]</code></td></tr>
<tr class="separator:ad3cd52e4aba7b3356587ccb01f80216a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822ef4835ea78d6ec0112ff9ab31b4ff inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a822ef4835ea78d6ec0112ff9ab31b4ff">team</a><code> [get]</code></td></tr>
<tr class="separator:a822ef4835ea78d6ec0112ff9ab31b4ff inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1baee7d5adc9197a83dc068c452ad0a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad1baee7d5adc9197a83dc068c452ad0a">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:ad1baee7d5adc9197a83dc068c452ad0a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1060773939b5f56ee6bff9d4987a37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae1060773939b5f56ee6bff9d4987a37f">length</a><code> [get]</code></td></tr>
<tr class="separator:ae1060773939b5f56ee6bff9d4987a37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a790c59a5e88323ef0644281ebb968aea" name="a790c59a5e88323ef0644281ebb968aea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a790c59a5e88323ef0644281ebb968aea">&#9670;&#160;</a></span>RuledTeam()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.RuledTeam.RuledTeam </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a196dfbd27744f19eb17bf51348be99e5" name="a196dfbd27744f19eb17bf51348be99e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a196dfbd27744f19eb17bf51348be99e5">&#9670;&#160;</a></span>addMatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.RuledTeam.addMatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>other</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>score</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29c8fe026159906b2c3ad3afb0278e6e">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a157a72f95bcb88d3326ff93962a349a8" name="a157a72f95bcb88d3326ff93962a349a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a157a72f95bcb88d3326ff93962a349a8">&#9670;&#160;</a></span>compare()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.RuledTeam.compare </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a101d28ced86fd394071d1afea562b1cd">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="aa55e122729f0b566b863d8f24a474443" name="aa55e122729f0b566b863d8f24a474443"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa55e122729f0b566b863d8f24a474443">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> PokemonUnity.RuledTeam.initialize </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a93d721b5223e8af125214d551300b315">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a2d64bf9d158e148b17adf30e19dbb13a" name="a2d64bf9d158e148b17adf30e19dbb13a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d64bf9d158e148b17adf30e19dbb13a">&#9670;&#160;</a></span>load()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; PokemonUnity.RuledTeam.load </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a21b235b8c159ed926f81f2996b52b581">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a22b495810a4e51901001d2cda6d222cd" name="a22b495810a4e51901001d2cda6d222cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a22b495810a4e51901001d2cda6d222cd">&#9670;&#160;</a></span>ToString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override string PokemonUnity.RuledTeam.ToString </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#abe907ddb050238d41a55b267fdf9310e">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a622829d9d9ef378232018fd593ba4527" name="a622829d9d9ef378232018fd593ba4527"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a622829d9d9ef378232018fd593ba4527">&#9670;&#160;</a></span>updateRating()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.RuledTeam.updateRating </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a393ad93daed37c98743670e0ab7fb4f0">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="ad0457d2920cbd49738d002f0fb6680d7" name="ad0457d2920cbd49738d002f0fb6680d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0457d2920cbd49738d002f0fb6680d7">&#9670;&#160;</a></span>_rating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonUnity.RuledTeam._rating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7225e68c298285fb2a1179ae7ad4edfb" name="a7225e68c298285fb2a1179ae7ad4edfb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7225e68c298285fb2a1179ae7ad4edfb">&#9670;&#160;</a></span>_totalGames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.RuledTeam._totalGames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a08626669a74333426a9386a336c1aeb3" name="a08626669a74333426a9386a336c1aeb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08626669a74333426a9386a336c1aeb3">&#9670;&#160;</a></span>history</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a> PokemonUnity.RuledTeam.history</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">protected</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1ba74db949865e5d8cc41e2f54334d21" name="a1ba74db949865e5d8cc41e2f54334d21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ba74db949865e5d8cc41e2f54334d21">&#9670;&#160;</a></span>games</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.RuledTeam.games</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad3cd52e4aba7b3356587ccb01f80216a">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a957f4bcb313d6c956ffdeea473509ccd" name="a957f4bcb313d6c956ffdeea473509ccd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a957f4bcb313d6c956ffdeea473509ccd">&#9670;&#160;</a></span>length</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.RuledTeam.length</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae1060773939b5f56ee6bff9d4987a37f">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="adfbf01b5c4c970f6212c709e17810cdc" name="adfbf01b5c4c970f6212c709e17810cdc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adfbf01b5c4c970f6212c709e17810cdc">&#9670;&#160;</a></span>rating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.RuledTeam.rating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#aaecdf8c49973c752a7a5e77574a00043">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a403d1dd6d8a1d55485ec2b82303f922c" name="a403d1dd6d8a1d55485ec2b82303f922c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a403d1dd6d8a1d55485ec2b82303f922c">&#9670;&#160;</a></span>ratingData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonUnity.RuledTeam.ratingData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae57eae66efa0f2897debc422a36e7877">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a472d727c1d9bc1a0336611cfd4a7e86d" name="a472d727c1d9bc1a0336611cfd4a7e86d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a472d727c1d9bc1a0336611cfd4a7e86d">&#9670;&#160;</a></span>ratingRaw</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float [] PokemonUnity.RuledTeam.ratingRaw</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a0e794504b4d2106704d08c3e48126300">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a3f2488bb9e63080d64e5e4e65e445b29" name="a3f2488bb9e63080d64e5e4e65e445b29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f2488bb9e63080d64e5e4e65e445b29">&#9670;&#160;</a></span>team</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt; PokemonUnity.RuledTeam.team</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">protected set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a822ef4835ea78d6ec0112ff9ab31b4ff">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="a792dfca7d9067812b5190aec719d6ba5" name="a792dfca7d9067812b5190aec719d6ba5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a792dfca7d9067812b5190aec719d6ba5">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonUnity.RuledTeam.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad1baee7d5adc9197a83dc068c452ad0a">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<a id="afabee315861e1ca69332a0781766ed7f" name="afabee315861e1ca69332a0781766ed7f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afabee315861e1ca69332a0781766ed7f">&#9670;&#160;</a></span>totalGames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.RuledTeam.totalGames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29be20fe2f0c4a39d799c0bb24fc4b2b">PokemonEssentials.Interface.Battle.IRuledTeam</a>.</p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Combat/Match/Regulated/<a class="el" href="_org_battle_generator_8cs.cshtml">OrgBattleGenerator.cs</a></li>
</ul>

