@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">OnWildBattleEndEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnWildBattleEndEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a674b83c7653c1d88f61f960e66c0f767">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#adb1777fe82eced68e05f243d1d823753">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#aa0a77b0711a66d801f43a88eeade5d1d">Level</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a99c17741a815b51456f1591ed022c7af">Result</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a2fdc5a745ca7ba09cfa257e6fcc3f4c1">Species</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
</table>
