@{
	Page.Title = "PokemonUnity.Input Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_input.cshtml">Input</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#pub-static-attribs">Static Public Attributes</a> &#124;
<a href="#events">Events</a> &#124;
<a href="class_pokemon_unity_1_1_input-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Input Class Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml">ButtonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a533bd7aa03ba585ace56717459b981c4"><td class="memItemLeft" align="right" valign="top">delegate void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a> (object sender, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a> e)</td></tr>
<tr class="separator:a533bd7aa03ba585ace56717459b981c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:ac5df26c82999de1ef6066ed37fa067ea"><td class="memItemLeft" align="right" valign="top">static void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#ac5df26c82999de1ef6066ed37fa067ea">ButtonStateChange</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a> e)</td></tr>
<tr class="separator:ac5df26c82999de1ef6066ed37fa067ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c45fa8c992f4e3264c6d47500d32701"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a9c45fa8c992f4e3264c6d47500d32701">getstate</a> (int key)</td></tr>
<tr class="memdesc:a9c45fa8c992f4e3264c6d47500d32701"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns whether a key is being pressed   <a href="class_pokemon_unity_1_1_input.cshtml#a9c45fa8c992f4e3264c6d47500d32701">More...</a><br /></td></tr>
<tr class="separator:a9c45fa8c992f4e3264c6d47500d32701"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09174f70048fe81b28e35a59f3de0708"><td class="memItemLeft" align="right" valign="top">static void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a09174f70048fe81b28e35a59f3de0708">updateKeyState</a> (int i)</td></tr>
<tr class="separator:a09174f70048fe81b28e35a59f3de0708"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a985333fd9b0d5326542bbcba401ac50d"><td class="memItemLeft" align="right" valign="top">static void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a985333fd9b0d5326542bbcba401ac50d">update</a> ()</td></tr>
<tr class="separator:a985333fd9b0d5326542bbcba401ac50d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acedb6e7a94afb02cfd4d931792930a47"><td class="memItemLeft" align="right" valign="top">static int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#acedb6e7a94afb02cfd4d931792930a47">buttonToKey</a> (int button)</td></tr>
<tr class="separator:acedb6e7a94afb02cfd4d931792930a47"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa42c4481f293dfb83767a2f60c7c5697"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#aa42c4481f293dfb83767a2f60c7c5697">dir4</a> ()</td></tr>
<tr class="separator:aa42c4481f293dfb83767a2f60c7c5697"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2389faccf4518458c65b5f986f3cc181"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a2389faccf4518458c65b5f986f3cc181">dir8</a> ()</td></tr>
<tr class="separator:a2389faccf4518458c65b5f986f3cc181"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a505c3e621d475467bf090c959fe806b6"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a505c3e621d475467bf090c959fe806b6">count</a> (int button)</td></tr>
<tr class="separator:a505c3e621d475467bf090c959fe806b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5747b859661e8cffc3c474ee18fa7ad"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#ad5747b859661e8cffc3c474ee18fa7ad">release</a> (int button)</td></tr>
<tr class="separator:ad5747b859661e8cffc3c474ee18fa7ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac5dd5d328f3004695613630a0dc17cd"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#aac5dd5d328f3004695613630a0dc17cd">trigger</a> (int button)</td></tr>
<tr class="separator:aac5dd5d328f3004695613630a0dc17cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b3a5cc16f7d04d157e21138e3fd74d2"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a8b3a5cc16f7d04d157e21138e3fd74d2">repeat</a> (int button)</td></tr>
<tr class="separator:a8b3a5cc16f7d04d157e21138e3fd74d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a150808dde7f990f68d5b546a530b1ba9"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a150808dde7f990f68d5b546a530b1ba9">press</a> (int button)</td></tr>
<tr class="separator:a150808dde7f990f68d5b546a530b1ba9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a035268e89d6d4df72310cb0cdfac21d4"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a035268e89d6d4df72310cb0cdfac21d4">repeatex</a> (int key)</td></tr>
<tr class="separator:a035268e89d6d4df72310cb0cdfac21d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc66d93bb93876b262368c4b14b80b1e"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#abc66d93bb93876b262368c4b14b80b1e">releaseex</a> (int key)</td></tr>
<tr class="separator:abc66d93bb93876b262368c4b14b80b1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77296e3316325409bc2b7b342ff5a910"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a77296e3316325409bc2b7b342ff5a910">triggerex</a> (int key)</td></tr>
<tr class="separator:a77296e3316325409bc2b7b342ff5a910"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3dbae5ed2cb4a317aa98f8507f5deecf"><td class="memItemLeft" align="right" valign="top">static int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a3dbae5ed2cb4a317aa98f8507f5deecf">repeatcount</a> (int key)</td></tr>
<tr class="separator:a3dbae5ed2cb4a317aa98f8507f5deecf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef5599cb32a7b47f1f201c61410c945a"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#aef5599cb32a7b47f1f201c61410c945a">pressex</a> (int key)</td></tr>
<tr class="separator:aef5599cb32a7b47f1f201c61410c945a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-attribs" name="pub-static-attribs"></a>
Static Public Attributes</h2></td></tr>
<tr class="memitem:a7329cf8abbd6c22198d89b08843a2884"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a7329cf8abbd6c22198d89b08843a2884">DOWN</a> = 2</td></tr>
<tr class="separator:a7329cf8abbd6c22198d89b08843a2884"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a14bdcc2680530131e31c418d564f2eb4"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a14bdcc2680530131e31c418d564f2eb4">LEFT</a> = 4</td></tr>
<tr class="separator:a14bdcc2680530131e31c418d564f2eb4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a642d126f88f5781ac17bc58092563f5c"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a642d126f88f5781ac17bc58092563f5c">RIGHT</a> = 6</td></tr>
<tr class="separator:a642d126f88f5781ac17bc58092563f5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82882ebf0e2929ad896a064efd0e15bd"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a82882ebf0e2929ad896a064efd0e15bd">UP</a> = 8</td></tr>
<tr class="separator:a82882ebf0e2929ad896a064efd0e15bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b2e86e86c3bbb66f9d4465edff42862"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a8b2e86e86c3bbb66f9d4465edff42862">A</a> = 11</td></tr>
<tr class="separator:a8b2e86e86c3bbb66f9d4465edff42862"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a28a2382207ab6b51ab1cbe899e218dc9"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a28a2382207ab6b51ab1cbe899e218dc9">B</a> = 12</td></tr>
<tr class="separator:a28a2382207ab6b51ab1cbe899e218dc9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a806a591db3bc47883b10d0da5db1dddb"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a806a591db3bc47883b10d0da5db1dddb">C</a> = 13</td></tr>
<tr class="separator:a806a591db3bc47883b10d0da5db1dddb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b5cf3f7826d5331869cb432949e9c0f"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a6b5cf3f7826d5331869cb432949e9c0f">X</a> = 14</td></tr>
<tr class="separator:a6b5cf3f7826d5331869cb432949e9c0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab7346a92026efc888890fe57478c368"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#aab7346a92026efc888890fe57478c368">Y</a> = 15</td></tr>
<tr class="separator:aab7346a92026efc888890fe57478c368"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f1b9a71e963651711db77537f69aad4"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a0f1b9a71e963651711db77537f69aad4">Z</a> = 16</td></tr>
<tr class="separator:a0f1b9a71e963651711db77537f69aad4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7f08324da442b7148851ad5d78cfbc5"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#af7f08324da442b7148851ad5d78cfbc5">L</a> = 17</td></tr>
<tr class="separator:af7f08324da442b7148851ad5d78cfbc5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5238a57acaaac8b59c7064f6ca96422"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#ac5238a57acaaac8b59c7064f6ca96422">R</a> = 18</td></tr>
<tr class="separator:ac5238a57acaaac8b59c7064f6ca96422"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e2336ab21ce8653aaec9197be61e2d0"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a2e2336ab21ce8653aaec9197be61e2d0">SHIFT</a> = 21</td></tr>
<tr class="separator:a2e2336ab21ce8653aaec9197be61e2d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98cc74c7bf51ca2c40b80cf4789b7482"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a98cc74c7bf51ca2c40b80cf4789b7482">CTRL</a> = 22</td></tr>
<tr class="separator:a98cc74c7bf51ca2c40b80cf4789b7482"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24b5f0fe0a7f84795e685a5b6955aa75"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a24b5f0fe0a7f84795e685a5b6955aa75">ALT</a> = 23</td></tr>
<tr class="separator:a24b5f0fe0a7f84795e685a5b6955aa75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc5c28863e148f7bf525d5f6ba83abcb"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#abc5c28863e148f7bf525d5f6ba83abcb">F5</a> = 25</td></tr>
<tr class="separator:abc5c28863e148f7bf525d5f6ba83abcb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70476eaf8e6310cc276d3bf40ffcb059"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a70476eaf8e6310cc276d3bf40ffcb059">F6</a> = 26</td></tr>
<tr class="separator:a70476eaf8e6310cc276d3bf40ffcb059"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74e10bda7191444e5e8cf41fa51151ac"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a74e10bda7191444e5e8cf41fa51151ac">F7</a> = 27</td></tr>
<tr class="separator:a74e10bda7191444e5e8cf41fa51151ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bc7988d35fcb9d785f89f7f9a8f9b88"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a5bc7988d35fcb9d785f89f7f9a8f9b88">F8</a> = 28</td></tr>
<tr class="separator:a5bc7988d35fcb9d785f89f7f9a8f9b88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e6b905ba60f710ae3e9e1337856884e"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a1e6b905ba60f710ae3e9e1337856884e">F9</a> = 29</td></tr>
<tr class="separator:a1e6b905ba60f710ae3e9e1337856884e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50c8525a6614ec66739fdb079df6a533"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a50c8525a6614ec66739fdb079df6a533">LeftMouseKey</a> = 0</td></tr>
<tr class="separator:a50c8525a6614ec66739fdb079df6a533"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3592237c0c23f6173d8816f53226667"><td class="memItemLeft" align="right" valign="top">const int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#aa3592237c0c23f6173d8816f53226667">RightMouseKey</a> = 1</td></tr>
<tr class="separator:aa3592237c0c23f6173d8816f53226667"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a3b677804e3bc7c4bf5c01dcaa58845d1"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a3b677804e3bc7c4bf5c01dcaa58845d1">OnButtonStateChange</a> = delegate { }</td></tr>
<tr class="memdesc:a3b677804e3bc7c4bf5c01dcaa58845d1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Define the ButtonStateChange event property.   <a href="class_pokemon_unity_1_1_input.cshtml#a3b677804e3bc7c4bf5c01dcaa58845d1">More...</a><br /></td></tr>
<tr class="separator:a3b677804e3bc7c4bf5c01dcaa58845d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12c154657dacf9cb8c53af0c25c77814"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a12c154657dacf9cb8c53af0c25c77814">ButtonDown</a></td></tr>
<tr class="memdesc:a12c154657dacf9cb8c53af0c25c77814"><td class="mdescLeft">&#160;</td><td class="mdescRight">Define the ButtonDown event property.   <a href="class_pokemon_unity_1_1_input.cshtml#a12c154657dacf9cb8c53af0c25c77814">More...</a><br /></td></tr>
<tr class="separator:a12c154657dacf9cb8c53af0c25c77814"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af407b28de7f3d496af44e8e0856a2770"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#af407b28de7f3d496af44e8e0856a2770">ButtonUp</a></td></tr>
<tr class="memdesc:af407b28de7f3d496af44e8e0856a2770"><td class="mdescLeft">&#160;</td><td class="mdescRight">Define the ButtonUp event property.   <a href="class_pokemon_unity_1_1_input.cshtml#af407b28de7f3d496af44e8e0856a2770">More...</a><br /></td></tr>
<tr class="separator:af407b28de7f3d496af44e8e0856a2770"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a533bd7aa03ba585ace56717459b981c4" name="a533bd7aa03ba585ace56717459b981c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a533bd7aa03ba585ace56717459b981c4">&#9670;&#160;</a></span>ButtonEventHandler()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate void PokemonUnity.Input.ButtonEventHandler </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>sender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a>&#160;</td>
          <td class="paramname"><em>e</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac5df26c82999de1ef6066ed37fa067ea" name="ac5df26c82999de1ef6066ed37fa067ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5df26c82999de1ef6066ed37fa067ea">&#9670;&#160;</a></span>ButtonStateChange()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static void PokemonUnity.Input.ButtonStateChange </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a>&#160;</td>
          <td class="paramname"><em>e</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acedb6e7a94afb02cfd4d931792930a47" name="acedb6e7a94afb02cfd4d931792930a47"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acedb6e7a94afb02cfd4d931792930a47">&#9670;&#160;</a></span>buttonToKey()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int[] PokemonUnity.Input.buttonToKey </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a505c3e621d475467bf090c959fe806b6" name="a505c3e621d475467bf090c959fe806b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a505c3e621d475467bf090c959fe806b6">&#9670;&#160;</a></span>count()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Input.count </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa42c4481f293dfb83767a2f60c7c5697" name="aa42c4481f293dfb83767a2f60c7c5697"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa42c4481f293dfb83767a2f60c7c5697">&#9670;&#160;</a></span>dir4()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Input.dir4 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2389faccf4518458c65b5f986f3cc181" name="a2389faccf4518458c65b5f986f3cc181"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2389faccf4518458c65b5f986f3cc181">&#9670;&#160;</a></span>dir8()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Input.dir8 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c45fa8c992f4e3264c6d47500d32701" name="a9c45fa8c992f4e3264c6d47500d32701"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c45fa8c992f4e3264c6d47500d32701">&#9670;&#160;</a></span>getstate()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.getstate </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns whether a key is being pressed  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">key</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a150808dde7f990f68d5b546a530b1ba9" name="a150808dde7f990f68d5b546a530b1ba9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a150808dde7f990f68d5b546a530b1ba9">&#9670;&#160;</a></span>press()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.press </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aef5599cb32a7b47f1f201c61410c945a" name="aef5599cb32a7b47f1f201c61410c945a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef5599cb32a7b47f1f201c61410c945a">&#9670;&#160;</a></span>pressex()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.pressex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad5747b859661e8cffc3c474ee18fa7ad" name="ad5747b859661e8cffc3c474ee18fa7ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5747b859661e8cffc3c474ee18fa7ad">&#9670;&#160;</a></span>release()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.release </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abc66d93bb93876b262368c4b14b80b1e" name="abc66d93bb93876b262368c4b14b80b1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc66d93bb93876b262368c4b14b80b1e">&#9670;&#160;</a></span>releaseex()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.releaseex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b3a5cc16f7d04d157e21138e3fd74d2" name="a8b3a5cc16f7d04d157e21138e3fd74d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b3a5cc16f7d04d157e21138e3fd74d2">&#9670;&#160;</a></span>repeat()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.repeat </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3dbae5ed2cb4a317aa98f8507f5deecf" name="a3dbae5ed2cb4a317aa98f8507f5deecf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3dbae5ed2cb4a317aa98f8507f5deecf">&#9670;&#160;</a></span>repeatcount()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static int PokemonUnity.Input.repeatcount </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a035268e89d6d4df72310cb0cdfac21d4" name="a035268e89d6d4df72310cb0cdfac21d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a035268e89d6d4df72310cb0cdfac21d4">&#9670;&#160;</a></span>repeatex()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.repeatex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aac5dd5d328f3004695613630a0dc17cd" name="aac5dd5d328f3004695613630a0dc17cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac5dd5d328f3004695613630a0dc17cd">&#9670;&#160;</a></span>trigger()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.trigger </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>button</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a77296e3316325409bc2b7b342ff5a910" name="a77296e3316325409bc2b7b342ff5a910"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77296e3316325409bc2b7b342ff5a910">&#9670;&#160;</a></span>triggerex()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Input.triggerex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a985333fd9b0d5326542bbcba401ac50d" name="a985333fd9b0d5326542bbcba401ac50d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a985333fd9b0d5326542bbcba401ac50d">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static void PokemonUnity.Input.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">
<p >= null</p>

</div>
</div>
<a id="a09174f70048fe81b28e35a59f3de0708" name="a09174f70048fe81b28e35a59f3de0708"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09174f70048fe81b28e35a59f3de0708">&#9670;&#160;</a></span>updateKeyState()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static void PokemonUnity.Input.updateKeyState </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a8b2e86e86c3bbb66f9d4465edff42862" name="a8b2e86e86c3bbb66f9d4465edff42862"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b2e86e86c3bbb66f9d4465edff42862">&#9670;&#160;</a></span>A</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.A = 11</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a24b5f0fe0a7f84795e685a5b6955aa75" name="a24b5f0fe0a7f84795e685a5b6955aa75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24b5f0fe0a7f84795e685a5b6955aa75">&#9670;&#160;</a></span>ALT</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.ALT = 23</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a28a2382207ab6b51ab1cbe899e218dc9" name="a28a2382207ab6b51ab1cbe899e218dc9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a28a2382207ab6b51ab1cbe899e218dc9">&#9670;&#160;</a></span>B</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.B = 12</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a806a591db3bc47883b10d0da5db1dddb" name="a806a591db3bc47883b10d0da5db1dddb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a806a591db3bc47883b10d0da5db1dddb">&#9670;&#160;</a></span>C</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.C = 13</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a98cc74c7bf51ca2c40b80cf4789b7482" name="a98cc74c7bf51ca2c40b80cf4789b7482"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98cc74c7bf51ca2c40b80cf4789b7482">&#9670;&#160;</a></span>CTRL</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.CTRL = 22</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7329cf8abbd6c22198d89b08843a2884" name="a7329cf8abbd6c22198d89b08843a2884"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7329cf8abbd6c22198d89b08843a2884">&#9670;&#160;</a></span>DOWN</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.DOWN = 2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abc5c28863e148f7bf525d5f6ba83abcb" name="abc5c28863e148f7bf525d5f6ba83abcb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc5c28863e148f7bf525d5f6ba83abcb">&#9670;&#160;</a></span>F5</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.F5 = 25</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a70476eaf8e6310cc276d3bf40ffcb059" name="a70476eaf8e6310cc276d3bf40ffcb059"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70476eaf8e6310cc276d3bf40ffcb059">&#9670;&#160;</a></span>F6</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.F6 = 26</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a74e10bda7191444e5e8cf41fa51151ac" name="a74e10bda7191444e5e8cf41fa51151ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74e10bda7191444e5e8cf41fa51151ac">&#9670;&#160;</a></span>F7</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.F7 = 27</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5bc7988d35fcb9d785f89f7f9a8f9b88" name="a5bc7988d35fcb9d785f89f7f9a8f9b88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5bc7988d35fcb9d785f89f7f9a8f9b88">&#9670;&#160;</a></span>F8</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.F8 = 28</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1e6b905ba60f710ae3e9e1337856884e" name="a1e6b905ba60f710ae3e9e1337856884e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e6b905ba60f710ae3e9e1337856884e">&#9670;&#160;</a></span>F9</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.F9 = 29</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af7f08324da442b7148851ad5d78cfbc5" name="af7f08324da442b7148851ad5d78cfbc5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7f08324da442b7148851ad5d78cfbc5">&#9670;&#160;</a></span>L</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.L = 17</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a14bdcc2680530131e31c418d564f2eb4" name="a14bdcc2680530131e31c418d564f2eb4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a14bdcc2680530131e31c418d564f2eb4">&#9670;&#160;</a></span>LEFT</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.LEFT = 4</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a50c8525a6614ec66739fdb079df6a533" name="a50c8525a6614ec66739fdb079df6a533"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50c8525a6614ec66739fdb079df6a533">&#9670;&#160;</a></span>LeftMouseKey</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.LeftMouseKey = 0</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac5238a57acaaac8b59c7064f6ca96422" name="ac5238a57acaaac8b59c7064f6ca96422"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5238a57acaaac8b59c7064f6ca96422">&#9670;&#160;</a></span>R</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.R = 18</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a642d126f88f5781ac17bc58092563f5c" name="a642d126f88f5781ac17bc58092563f5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a642d126f88f5781ac17bc58092563f5c">&#9670;&#160;</a></span>RIGHT</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.RIGHT = 6</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa3592237c0c23f6173d8816f53226667" name="aa3592237c0c23f6173d8816f53226667"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3592237c0c23f6173d8816f53226667">&#9670;&#160;</a></span>RightMouseKey</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.RightMouseKey = 1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2e2336ab21ce8653aaec9197be61e2d0" name="a2e2336ab21ce8653aaec9197be61e2d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e2336ab21ce8653aaec9197be61e2d0">&#9670;&#160;</a></span>SHIFT</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.SHIFT = 21</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a82882ebf0e2929ad896a064efd0e15bd" name="a82882ebf0e2929ad896a064efd0e15bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82882ebf0e2929ad896a064efd0e15bd">&#9670;&#160;</a></span>UP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.UP = 8</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6b5cf3f7826d5331869cb432949e9c0f" name="a6b5cf3f7826d5331869cb432949e9c0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b5cf3f7826d5331869cb432949e9c0f">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.X = 14</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aab7346a92026efc888890fe57478c368" name="aab7346a92026efc888890fe57478c368"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab7346a92026efc888890fe57478c368">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.Y = 15</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0f1b9a71e963651711db77537f69aad4" name="a0f1b9a71e963651711db77537f69aad4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f1b9a71e963651711db77537f69aad4">&#9670;&#160;</a></span>Z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">const int PokemonUnity.Input.Z = 16</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="a12c154657dacf9cb8c53af0c25c77814" name="a12c154657dacf9cb8c53af0c25c77814"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12c154657dacf9cb8c53af0c25c77814">&#9670;&#160;</a></span>ButtonDown</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a> PokemonUnity.Input.ButtonDown</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Define the ButtonDown event property.  </p>

</div>
</div>
<a id="af407b28de7f3d496af44e8e0856a2770" name="af407b28de7f3d496af44e8e0856a2770"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af407b28de7f3d496af44e8e0856a2770">&#9670;&#160;</a></span>ButtonUp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a> PokemonUnity.Input.ButtonUp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Define the ButtonUp event property.  </p>

</div>
</div>
<a id="a3b677804e3bc7c4bf5c01dcaa58845d1" name="a3b677804e3bc7c4bf5c01dcaa58845d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b677804e3bc7c4bf5c01dcaa58845d1">&#9670;&#160;</a></span>OnButtonStateChange</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">ButtonEventHandler</a> PokemonUnity.Input.OnButtonStateChange = delegate { }</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Define the ButtonStateChange event property.  </p>

</div>
</div>
<hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/<a class="el" href="_input_8cs.cshtml">Input.cs</a></li>
</ul>
