@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PlayerRating</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.PlayerRating Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#ae42f6e8f3762456090cba481cf3dd490">deviation</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a829782cc82ebbf81cedcb22cdc4d2870">estimatedRating</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#abc905369bcaeaee1335fd7774924af6b">initialize</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"><span class="mlabel">virtual</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a11629a639fe20456063545f2ad5e67e0">PlayerRating</a>()</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a828bbc178c2654b1e2eff73fcb88237d">rating</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a5f4c4de2ab3bda963b6f965e1e75abd5">update</a>(IList&lt; ISingleMatch &gt; matches, float system=1.2f)</td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#a08251ff4b0554699251cefac5d8ceef9">volatility</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml#ad85bc0842883152a3d5ac6410b28c794">winChancePercent</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_player_rating.cshtml">PokemonUnity.PlayerRating</a></td><td class="entry"></td></tr>
</table>
