@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">Move</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Combat.Effects.Move Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">PokemonUnity.Combat.Effects.Move</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a34be9747cb834ccc74af661b764fd0c2">PassedTrying</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">PokemonUnity.Combat.Effects.Move</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a4362b55dd6c0bd4fd8e198ac9b34d11d">SkipAccuracyCheck</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">PokemonUnity.Combat.Effects.Move</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a217e83b1c6c4faa480c348a244327c01">SpecialUsage</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">PokemonUnity.Combat.Effects.Move</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#ac77cc94e7bc075179ac200fb9490018f">TotalDamage</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml">PokemonUnity.Combat.Effects.Move</a></td><td class="entry"></td></tr>
</table>