@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Translator.Language Class Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator.cshtml">Translator</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml">Language</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Translator.Language Class Reference</div></div>
}


<p><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml" title="Language class stores the user&#39;s current/active language">Language</a> class stores the user's current/active language   
 <a href="class_pokemon_unity_1_1_translator_1_1_language.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml">LocalizationDictionary</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents a simple implementation of <a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml" title="This class is used to build a localization dictionary from XML.">XmlLocalizationDictionary</a> interface.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localization_dictionary.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml">LocalizedString</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents a localized string.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_localized_string.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml">XmlLocalizationDictionary</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">This class is used to build a localization dictionary from XML.   <a href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p ><a class="el" href="class_pokemon_unity_1_1_translator_1_1_language.cshtml" title="Language class stores the user&#39;s current/active language">Language</a> class stores the user's current/active language  </p>
</div><hr/>The documentation for this class was generated from the following file:<ul>
<li>PokemonUnity.Application/Translations/<a class="el" href="_translator_8cs.cshtml">Translator.cs</a></li>
</ul>
