@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">OnMapSceneChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.EventArg.OnMapSceneChangeEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#abd829d33681dd954a88a83ccde6a3ec9">EventId</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a94f4badad5fa9957d54628c566c416c2">Id</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a0da199707b2b9fec476f9da4ddcfe527">NewMap</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a4fbca78923d90112f0a7e079acf0f0d6">Object</a></td><td class="entry"><a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a></td><td class="entry"></td></tr>
</table>
