@{
	Page.Title = "PokemonUnity.Application/Properties Directory Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_fb2531db39138e566f58d80ee7512d30.cshtml">PokemonUnity.Application</a></li><li class="navelem"><a class="el" href="dir_8c81e660810efdff52e1a97a4ca5586e.cshtml">Properties</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">Properties Directory Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="files" name="files"></a>
Files</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_pokemon_unity_8_application_2_properties_2_assembly_info_8cs.cshtml">AssemblyInfo.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
