@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Shared/Framework/Essentials/Item Directory Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_73d3f850cf0fd7b535ad3956c61c41ac.cshtml">PokemonUnity.Shared</a></li><li class="navelem"><a class="el" href="dir_8a3316e385660ef7512a3f86a5013a64.cshtml">Framework</a></li><li class="navelem"><a class="el" href="dir_6f3ccd10ad3d43464f8be75027c8cd40.cshtml">Essentials</a></li><li class="navelem"><a class="el" href="dir_aebdb5c02d161a1c84efc078360c0b5c.cshtml">Item</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">Item Directory Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="files" name="files"></a>
Files</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_i_item_handlers_8cs.cshtml">IItemHandlers.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_i_mail_8cs.cshtml">IMail.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_i_pokeball_handlers_8cs.cshtml">IPokeballHandlers.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

