@{
	Page.Title = "PokemonUnity.Application/obj Directory Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_fb2531db39138e566f58d80ee7512d30.cshtml">PokemonUnity.Application</a></li><li class="navelem"><a class="el" href="dir_b76e8247e7524b8e2fd94ac82de0e2c9.cshtml">obj</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">obj Directory Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="subdirs" name="subdirs"></a>
Directories</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">directory &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="dir_2bd53ca211a3d3d2d5c1af084e5a59ec.cshtml">Debug</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">directory &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="dir_59e3dbe6f13dd176933ec5bf7427dfa0.cshtml">Release</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
