@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Application/Game/Temporary Directory Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_fb2531db39138e566f58d80ee7512d30.cshtml">PokemonUnity.Application</a></li><li class="navelem"><a class="el" href="dir_f521b2705717cd9a6138fe084f9be34d.cshtml">Game</a></li><li class="navelem"><a class="el" href="dir_84f7b8bcc8ae8aca91ba3f4d4c3a623b.cshtml">Temporary</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">Temporary Directory Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="files" name="files"></a>
Files</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_global_metadata_8cs.cshtml">GlobalMetadata.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_pokemon_temp_8cs.cshtml">PokemonTemp.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>

