@{
	Page.Title = "PokemonUnity.Application/Monster/Pokemon Directory Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="dir_fb2531db39138e566f58d80ee7512d30.cshtml">PokemonUnity.Application</a></li><li class="navelem"><a class="el" href="dir_5e26bdaba23e1c7091a7176ada2a227d.cshtml">Monster</a></li><li class="navelem"><a class="el" href="dir_6df7630a365f588bf4177068af0e1a6e.cshtml">Pokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">Pokemon Directory Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="files" name="files"></a>
Files</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_monster_2_pokemon_2_pokemon_8cs.cshtml">Pokemon.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_pokemon_8_form_8cs.cshtml">Pokemon.Form.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_pokemon_8_mega_evolution_8cs.cshtml">Pokemon.MegaEvolution.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">file &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="_monster_2_pokemon_2_pokemon_8_shadow_8cs.cshtml">Pokemon.Shadow.cs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
