@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Properties";
}

&#160;

<h3><a id="index__5F" name="index__5F"></a>- _ -</h3><ul>
<li>_base&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ade6dfed574155c66fd39e4bef02a8dae">PokemonUnity.Monster.Pokemon</a></li>
</ul>
