@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_u" name="index_u"></a>- u -</h3><ul>
<li>UP&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a82882ebf0e2929ad896a064efd0e15bd">PokemonUnity.Input</a></li>
<li>UPDATE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a14c75c4d5097aa78f4045f9823433a1e">PokemonUnity.Character.Entities</a></li>
<li>USECRITICALCAPTURE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6e2da913ade789f8bcc0270a538bcc1f">PokemonUnity.Application.Feature</a></li>
<li>USEMOVECATEGORY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a7d22d84b8b6e43cb65389efedc3df7ac">PokemonUnity.Application.Feature</a></li>
<li>USENEWBATTLEMECHANICS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aba44dbfcd3c51784aa79cef96e083252">PokemonUnity.Application.Feature</a></li>
<li>usepriority&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ae37c0f2e284dd480f0f97a799c8f125e">PokemonUnity.Combat.Battle</a></li>
<li>USESCALEDEXPFORMULA&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a89556b94a16cc987e5f0a7e2316ad818">PokemonUnity.Application.Feature</a></li>
</ul>

