@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_a" name="index_a"></a>- a -</h3><ul>
<li>A&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a8b2e86e86c3bbb66f9d4465edff42862">PokemonUnity.Input</a></li>
<li>ALT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a24b5f0fe0a7f84795e685a5b6955aa75">PokemonUnity.Input</a></li>
<li>ALWAYSSHOWALLFORMS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#af7e3b6dff1797fd801bb93ffa4b6f8c4">PokemonUnity.Application.Feature</a></li>
<li>attack&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ada40e276985e13ba4612c20725463e6c">PokemonUnity.Combat.Pokemon</a></li>
</ul>

