@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members";
}

<div class="textblock">Here is a list of all class members with links to the classes they belong to:</div>

<h3><a id="index_j" name="index_j"></a>- j -</h3><ul>
<li>Jamming&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml#a01de83e2c988cdb9f5cf02c709a077b7">PokemonUnity.Attack.Data.MoveData</a>, <a class="el" href="class_pokemon_unity_1_1_attack_1_1_move.cshtml#a114ab87a46f2f4965aac99f18d555206">PokemonUnity.Attack.Move</a></li>
<li>jump()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aee61792c3bf9d9420839f77d08c3b133">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jump_count&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac93541c3f113b73783c75170c3570369">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jump_peak&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a965f01e3cac93b16e898177b2c72f31c">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpBackward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af968ed7e60a61a71543c27ad0a1a229d">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpFancy()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#acac15406cf09333b29a1706614f6bac5">PokemonEssentials.Interface.Field.IGameDependantEvents</a></li>
<li>jumpForward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0d7e02d10e2e8c03997e52001657627">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumping&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a7f3708e4202d12aa0a787219ecc1fc19">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>justswitched&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml#af05b6218a5001d2e4886c92097459ddb">PokemonUnity.Combat.PokeBattle_BattlePalace</a></li>
</ul>
