@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Functions";
}

&#160;

<h3><a id="index__5F" name="index__5F"></a>- _ -</h3><ul>
<li>__resolveSystemFrame()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#ac44b13b0da3056e6447bb862d1e1908a">PokemonEssentials.Interface.ISpriteWindow_Base</a></li>
<li>__setWindowskin()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a379e7fb978c50e437d174c480f86a347">PokemonEssentials.Interface.ISpriteWindow_Base</a></li>
<li>_initialize()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_text.cshtml#a01245ffd004bbae3001a309756e8d530">PokemonUnity.GameText</a></li>
<li>_INTL()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a51e5df184d289e39915cb703e8b0323d">PokemonUnity.Game</a></li>
<li>_lock()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a78354633e5601780faceb7d02d93028c">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>_pbNextComb()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_utility.cshtml#a2aec31e669f48292f20361895e144f40">PokemonEssentials.Interface.IGameUtility</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a21d7952c507bb8cbaea5738283df1f7b">PokemonUnity.Game</a></li>
</ul>
