@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_g" name="index_g"></a>- g -</h3><ul>
<li>GAINEXPFORCAPTURE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a33e1fad5beee68495ad62f83d150fff2">PokemonUnity.Application.Feature</a></li>
<li>gender&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a1d9232d9a10176ed903c1168f7f7d829">PokemonUnity.Combat.Pokemon</a></li>
<li>Generation&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a2cea3bfc814445b8a534089793a2f6f3">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>Gravity&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aa03dfb18d44a59660c0fda280b53ca08">PokemonUnity.Attack.Data.Flag</a></li>
</ul>

