@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_f" name="index_f"></a>- f -</h3><ul>
<li>F5&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#abc5c28863e148f7bf525d5f6ba83abcb">PokemonUnity.Input</a></li>
<li>F6&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a70476eaf8e6310cc276d3bf40ffcb059">PokemonUnity.Input</a></li>
<li>F7&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a74e10bda7191444e5e8cf41fa51151ac">PokemonUnity.Input</a></li>
<li>F8&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a5bc7988d35fcb9d785f89f7f9a8f9b88">PokemonUnity.Input</a></li>
<li>F9&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a1e6b905ba60f710ae3e9e1337856884e">PokemonUnity.Input</a></li>
<li>fainted&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ac7920166f170ff4946c56ebee1360a26">PokemonUnity.Combat.Pokemon</a></li>
<li>FATEFUL_ENCOUNTER_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aee5f0d4c16f204e5777d5e69249bae1a">PokemonUnity.Application.Feature</a></li>
<li>FISHINGAUTOHOOK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a727d25014d26e9a2143e6bf7a384028a">PokemonUnity.Application.Feature</a></li>
<li>FREEZECLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a50b53e03f535c0bcebb827d5bef853de">PokemonUnity.BattleRule</a></li>
</ul>

