@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_o" name="index_o"></a>- o -</h3><ul>
<li>OHKOCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#aac7b0f4695660fc6357f81e12a6bf782">PokemonUnity.BattleRule</a></li>
<li>oldopponent&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a5063aeec19d80dc5f3330ab72e2a3863">PokemonUnity.BattleFactoryData</a></li>
<li>oldParty&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#aba3e6076d7ea80d930c51544b7d78234">PokemonUnity.BattleChallengeData</a></li>
<li>opponent&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#aaaf78636005c3dc69aa8eb06e3bdfdd4">PokemonUnity.BattleFactoryData</a></li>
<li>OUTDOORLIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a86eb179158af136acb16d9bfb4f2f491">PokemonUnity.Character.Entities</a></li>
</ul>

