@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_z" name="index_z"></a>- z -</h3><ul>
<li>Z&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a0f1b9a71e963651711db77537f69aad4">PokemonUnity.Input</a></li>
</ul>

