@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Functions";
}

&#160;

<h3><a id="index_j" name="index_j"></a>- j -</h3><ul>
<li>jump()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aee61792c3bf9d9420839f77d08c3b133">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpBackward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af968ed7e60a61a71543c27ad0a1a229d">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpFancy()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#acac15406cf09333b29a1706614f6bac5">PokemonEssentials.Interface.Field.IGameDependantEvents</a></li>
<li>jumpForward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0d7e02d10e2e8c03997e52001657627">PokemonEssentials.Interface.IGameCharacter</a></li>
</ul>
