@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_h" name="index_h"></a>- h -</h3><ul>
<li>HEADBUTTTREE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#af7329d58091415262e252a42b4f27eb6">PokemonUnity.Character.Entities</a></li>
<li>Heal&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a9ff90920ed18ba2d487a2a0e969fc063">PokemonUnity.Attack.Data.Flag</a></li>
<li>HEARTGAUGESIZE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#addf6394515d91f9fdb431777e27b8327">PokemonUnity.Monster.Pokemon</a></li>
<li>HIDDENITEM&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a3cdac771986b6d17564f4f78bbc1ae2b">PokemonUnity.Character.Entities</a></li>
<li>HIDDENITEM_SOMETHING&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a387882621d6b0b1bf4f59e48476781c7">PokemonUnity.Character.Entities</a></li>
<li>HIDDENMOVESCOUNTBADGES&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0aebc1518fdfa05cba28e7b4cc64ca6a">PokemonUnity.Application.Feature</a></li>
<li>history&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a08626669a74333426a9386a336c1aeb3">PokemonUnity.RuledTeam</a></li>
</ul>

