@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_c" name="index_c"></a>- c -</h3><ul>
<li>C&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a806a591db3bc47883b10d0da5db1dddb">PokemonUnity.Input</a></li>
<li>Charge&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#afe00684f15a7d6996247556a6fc5b169">PokemonUnity.Attack.Data.Flag</a></li>
<li>Contact&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ad37b61df086b136357f63fd5f459c928">PokemonUnity.Attack.Data.Flag</a></li>
<li>controlPlayer&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#aa588f04bd3458b2ef8546aecf30b56f7">PokemonUnity.Combat.Battle</a></li>
<li>COUNTER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2599520a0e941f4d899fe3064e2816cf">PokemonUnity.Character.Entities</a></li>
<li>CTRL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a98cc74c7bf51ca2c40b80cf4789b7482">PokemonUnity.Input</a></li>
<li>CUTTREE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2d0c9fc0811ae9477ef7c84d1deb8c90">PokemonUnity.Character.Entities</a></li>
</ul>

