@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_n" name="index_n"></a>- n -</h3><ul>
<li>NAMELIMIT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a6edf9342374fd2b5024b69ef34ad1cc6">PokemonUnity.Monster.Pokemon</a></li>
<li>names&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a5da3fa848ee51151ce7e31e383cfbb44">PokemonUnity.NicknameChecker</a></li>
<li>namesMaxValue&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#aece7f90313dcd37c8179e98846fe0029">PokemonUnity.NicknameChecker</a></li>
<li>NEWBERRYPLANTS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a36a5c68f9b0f3818341bfd0c8a9b7845">PokemonUnity.Application.Feature</a></li>
<li>NO_MEGA_EVOLUTION&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a5e816ac71e84405980cd3c8afb999e59">PokemonUnity.Application.Feature</a></li>
<li>NO_MONEY_LOSS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ae3cd131345a07213fe8f853cf3896665">PokemonUnity.Application.Feature</a></li>
<li>NonSky&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a4d33e03b72b761d5aec2dfa84161d6d5">PokemonUnity.Attack.Data.Flag</a></li>
<li>NOSPLITEXP&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a4273f5a9f88a4c8aed9d2f2bf4a9c653">PokemonUnity.Application.Feature</a></li>
<li>numRounds&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a9cd60d3e050a2b9f4d952d73199d8f91">PokemonUnity.BattleChallenge</a></li>
</ul>

