@{
	Page.Title = "Class Members";
}


<div class="textblock">Here is a list of all class members with links to the classes they belong to:</div>

<h3><a id="index__5F" name="index__5F"></a>- _ -</h3><ul>
<li>__resolveSystemFrame()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#ac44b13b0da3056e6447bb862d1e1908a">PokemonEssentials.Interface.ISpriteWindow_Base</a></li>
<li>__setWindowskin()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a379e7fb978c50e437d174c480f86a347">PokemonEssentials.Interface.ISpriteWindow_Base</a></li>
<li>_base&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ade6dfed574155c66fd39e4bef02a8dae">PokemonUnity.Monster.Pokemon</a></li>
<li>_battlers&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a874ff007b70bf72c7379c6257b89d14b">PokemonUnity.Combat.Battle</a></li>
<li>_INTL()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a51e5df184d289e39915cb703e8b0323d">PokemonUnity.Game</a></li>
<li>_lock()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a78354633e5601780faceb7d02d93028c">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>_NextComb()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_utility.cshtml#ae382538a68c8f1f6f49b6311d684e001">PokemonEssentials.Interface.IGameUtility</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad4fb5a32f13694a0aef6ae0d36d52b72">PokemonUnity.Game</a></li>
<li>_priority&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ad58db4e3ec2cfaf975dab18c6003fc3c">PokemonUnity.Combat.Battle</a></li>
<li>_rating&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#ad0457d2920cbd49738d002f0fb6680d7">PokemonUnity.RuledTeam</a></li>
<li>_rules&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a6eebdd3d4b0e501643ac51235289413d">PokemonUnity.BattleChallenge</a></li>
<li>_totalGames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a7225e68c298285fb2a1179ae7ad4edfb">PokemonUnity.RuledTeam</a></li>
</ul>

