@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Events";
}

&#160;

<h3><a id="index_b" name="index_b"></a>- b -</h3><ul>
<li>ButtonDown&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a12c154657dacf9cb8c53af0c25c77814">PokemonUnity.Input</a></li>
<li>ButtonUp&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#af407b28de7f3d496af44e8e0856a2770">PokemonUnity.Input</a></li>
</ul>


<h3><a id="index_i" name="index_i"></a>- i -</h3><ul>
<li>IGameEvent&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml#a83a965342b8e274bffe7f7686f2f1a5e">PokemonEssentials.Interface.IReflectedSprite</a></li>
<li>IsUnconditional&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#afa707ae243afd0c3fbf282d9c318386f">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
</ul>


<h3><a id="index_m" name="index_m"></a>- m -</h3><ul>
<li>ModifyCatchRate&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a159a5776c49d30877be8873cb7a1605a">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
</ul>


<h3><a id="index_o" name="index_o"></a>- o -</h3><ul>
<li>OnAction&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a0a0975758060fdc891d4f7d78d23cc8e">PokemonEssentials.Interface.IEvents</a></li>
<li>OnBattleUseOnBattler&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#ad7c27540f95ae97699c48bb0b4a2342f">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnBattleUseOnPokemon&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#abb5fd085e80484358314cc5f1b210398">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnButtonStateChange&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a3b677804e3bc7c4bf5c01dcaa58845d1">PokemonUnity.Input</a></li>
<li>OnCanUseMove&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a216b39bf59bd6e5830f25cdf5ef0f538">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></li>
<li>OnCatch&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a8b76e0836ab6c1a0332d3d2bbd46f92d">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
<li>OnEncounter&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml#ab2b601b243986f3ece72a0c1cf56a7ed">PokemonEssentials.Interface.Field.IEncounterModifier</a></li>
<li>OnEncounterEnd&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml#a8cfe2e75a3a5c7023a1a79fa0633f473">PokemonEssentials.Interface.Field.IEncounterModifier</a></li>
<li>OnEndBattle&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ac07eaeece2181001d932ad375ed1bc4b">PokemonEssentials.Interface.IEvents</a></li>
<li>OnFailCatch&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#aa345934766cc6c4040e8e5ca51ceb378">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
<li>OnLeaveTile&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#afe1f1ef7ee41c4c3c21b2b66c3d69d43">PokemonEssentials.Interface.IEvents</a></li>
<li>OnLoad&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7e8b524eb3a71e4b8b47ccb226f42744">PokemonUnity.Game</a></li>
<li>OnLog&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a63fdbc0c8068928bb4fd4f5060db4a1b">PokemonUnity.Debugger</a>, <a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#ac0a0a74b13c354b5ef906f83be3ee781">PokemonUnity.IDebugger</a></li>
<li>OnMapChange&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ab1a0b7fa7c78613c449124c353ced473">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapChanging&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a0089b15d4cafc7f95df81a4090a076ca">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapCreate&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ae4f078b3eb8ee65cedc7b0b5744d83f5">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapSceneChange&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a245dc538ba3ea5ab62a6c4bc605c6b16">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapUpdate&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a88b22f9a1cdf527cd4fb67aa23d5218a">PokemonEssentials.Interface.IEvents</a></li>
<li>OnSpritesetCreate&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a9f52c03db321f58325fc2878c348c46b">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStartBattle&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#afe5d5d527f6200eed6d4ead126185032">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStepTaken&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a1965b8e0ffd4e7e2c3edb61aa96d6e2b">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStepTakenFieldMovement&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a1c3dee34848d8968ec10b1b83be7a86d">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStepTakenTransferPossible&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a88c511c8a7bf13f754f910fd985c877c">PokemonEssentials.Interface.IEvents</a></li>
<li>OnTrainerPartyLoad&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a59a8a5ffe498a01c21fa9124e1273078">PokemonEssentials.Interface.IEvents</a></li>
<li>OnUseFromBag&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#a84fd79ea51243cd580d95b399e020891">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnUseInBattle&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#a2e81c361f2298513e0882bfc8bbfadc3">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnUseInField&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#a13321471cabcd94d5ad7fcdd83f4d26c">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnUseMove&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a7cdc5947ac93f37eae992d3dbf10150a">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></li>
<li>OnUseOnPokemon&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_handlers.cshtml#a5bffa6e1836a6ce6a138fbb5c2a069fd">PokemonEssentials.Interface.Item.IItemHandlers</a></li>
<li>OnWildBattleEnd&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a592096d17a78b5b4c85a9b6857ed28a2">PokemonEssentials.Interface.IEvents</a></li>
<li>OnWildBattleOverride&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a8d8c4e5c6695deffd283ad78fd22dad3">PokemonEssentials.Interface.IEvents</a></li>
<li>OnWildPokemonCreate&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#aa6fa6b8ad9ca48e4a6ac92255bebd5b0">PokemonEssentials.Interface.IEvents</a></li>
</ul>


<h3><a id="index_s" name="index_s"></a>- s -</h3><ul>
<li>SeedGenerated&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random.cshtml#a5b57819c185e699c7f1386d6a5cafba5">PokemonUnity.Utility.LinearCongRandom</a></li>
</ul>
