@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Functions";
}

&#160;

<h3><a id="index_o" name="index_o"></a>- o -</h3><ul>
<li>OAuthenticatePacket()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_authenticate_packet.cshtml#a840ab28ce281922803c2b3daa382c2da">PokemonUnity.Networking.Packets.Outgoing.OAuthenticatePacket</a></li>
<li>onCatch()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a3d8f9849cfb9f7b29bbaada66a966e25">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
<li>onEvent()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml#a98cb09b48a54313efec5c147e90a9182">PokemonEssentials.Interface.IGameEvent</a></li>
<li>onFailCatch()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#abd9c42674c6eca13a6215d37fd1d4199">PokemonEssentials.Interface.Item.IBallHandlers</a></li>
<li>OnLeaveTileTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#adc6dea1fe7a05ac14dfb39bd28fea8b1">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapChange()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a82ca2582049c060d58285a477569c0de">PokemonUnity.Game</a></li>
<li>OnMapChangeTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a2cd059675293014523d9e3fd78d3dbcf">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapChanging()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4fc18ced66c1e62f40c17c157e63136d">PokemonUnity.Game</a></li>
<li>OnMapChangingTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a45d1f969194398c527a25e202ad9fd12">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapCreateTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#aeb0aaaa4b646df0fb0840bc53dcfdc14">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapSceneChange()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6918aec6286a5a47a79858eea9c56041">PokemonUnity.Game</a></li>
<li>OnMapSceneChangeTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a3fbeaad3cc5b10ec400b3634af91765e">PokemonEssentials.Interface.IEvents</a></li>
<li>OnMapUpdate()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4ccbee33a05884c473db0a3dd4f71b98">PokemonUnity.Game</a></li>
<li>OnSpritesetCreate()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#ab7b2b7ad574b3a70d2a1484fe2236bdb">PokemonUnity.Game</a></li>
<li>OnSpritesetCreateTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#accaab6092346e31c2350cf6499f4fa4b">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStepTaken()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a510287ff94a9a30e74f0bb5ee92d7146">PokemonUnity.Game</a></li>
<li>OnStepTakenEventHandler()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#afa1eee0192461c2fd093ed848c034b04">PokemonUnity.Character.DayCare</a></li>
<li>OnStepTakenFieldMovement()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a25401a7ace172ef706516792e93b10ba">PokemonUnity.Game</a></li>
<li>OnStepTakenFieldMovementTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ad3a310652d8794535428b4862d48f31a">PokemonEssentials.Interface.IEvents</a></li>
<li>OnStepTakenTransferPossible()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a985b50ed9ecbdcf667c9b4fda8d68900">PokemonUnity.Game</a></li>
<li>OnStepTakenTransferPossibleTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#aafbfad0def18a6740acf70731cc7a9a7">PokemonEssentials.Interface.IEvents</a></li>
<li>OnTrainerPartyLoadTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ab338c4a8b0ad8035db639b5ac3326d7e">PokemonEssentials.Interface.IEvents</a></li>
<li>OnWildBattleEndTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#a75f8d985e11529a564bd239f541fe154">PokemonEssentials.Interface.IEvents</a></li>
<li>OnWildPokemonCreateTrigger()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_events.cshtml#ac7d201bb9ad7a2f827f2b16fa4293e36">PokemonEssentials.Interface.IEvents</a></li>
<li>OpenLevelAdjustment()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_open_level_adjustment.cshtml#a8c1ec065736654662ab917523397c8c4">PokemonUnity.OpenLevelAdjustment</a></li>
<li>openPic()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#aba952737a2a2d1a49e6d1f005653eed5">PokemonEssentials.Interface.Screen.IIntroEventScene</a>, <a class="el" href="interface_pokemon_unity_1_1_i_intro_event_scene.cshtml#a074c73802bb869c5a21c2266d4a36ceb">PokemonUnity.IIntroEventScene</a></li>
<li>openSplash()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a8658251636dd28531ddb40ec429104c3">PokemonEssentials.Interface.Screen.IIntroEventScene</a>, <a class="el" href="interface_pokemon_unity_1_1_i_intro_event_scene.cshtml#a27120a12f5fd8fe40c50568133b646a1">PokemonUnity.IIntroEventScene</a></li>
<li>operate_value()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter.cshtml#aac3caac294a3716bed5739c4c43a42a7">PokemonEssentials.Interface.IInterpreter</a></li>
<li>operator GameState()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a32d4faadec1017e71a8ae290283b9426">PokemonUnity.Saving.GameState</a></li>
<li>operator List&lt; PokemonEssentials.Interface.PokeBattle.IPokemon &gt;()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml#af8c1b514586a8ed90d72e9e26652e68c">PokemonUnity.Character.Party</a></li>
<li>operator Mail()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a26d19c52ad75322928446c8e3333b7e0">PokemonUnity.Saving.SerializableClasses.SeriMail</a></li>
<li>operator Party()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml#a21efa0c7e7af1c2098344490d597929c">PokemonUnity.Character.Party</a></li>
<li>operator PokemonBox()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a40a95f3c6a71e058cc828b8a6294ea68">PokemonUnity.Character.PokemonBox</a></li>
<li>operator PokemonEssentials.Interface.PokeBattle.IPokemon[]()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml#a37aaf0b59327fefdf947da439bb04c4c">PokemonUnity.Character.Party</a></li>
<li>operator!=()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a2f6b11419e5498ade9f598f85e178223">PokemonUnity.Application.Feature</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a4630ca76c4e7424b1630e9ce852d63bb">PokemonUnity.Character.PlayerOutfit</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a55707a2d28b8c349b71bec9c66c6a0c0">PokemonUnity.Character.TrainerData</a>, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a10289356195950da429f74500465a60a">PokemonUnity.Monster.Pokemon</a>, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ae68d6eb902f3e3c6f2e7d3081486db8a">PokemonUnity.Saving.GameState</a></li>
<li>operator==()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a4a8d961ace6c797fadffd8d4d93c0d72">PokemonUnity.Application.Feature</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a8bb3b6b9c18fbf688c5f338145acf0f8">PokemonUnity.Character.PlayerOutfit</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a9bc2534cbf5cd618474aa82ec5f9129f">PokemonUnity.Character.TrainerData</a>, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#aacab9976313300d840c790ad82486334">PokemonUnity.Monster.Pokemon</a>, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab011ba866f17d1830310728656d4443a">PokemonUnity.Saving.GameState</a></li>
<li>OTradePacket()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_1_1_o_trade_packet.cshtml#afd55c5e319bda5d84e5eb43697ad311e">PokemonUnity.Networking.Packets.Outgoing.OTradePacket</a></li>
<li>OutgoingPacket()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a061a05e6747413fcdec8962e7e61a9f2">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
</ul>
