@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Functions";
}


&#160;

<h3><a id="index_k" name="index_k"></a>- k -</h3><ul>
<li>KeyPressed()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#acddb84a3b89e90697a0986d3654d8d6f">PokemonUnity.Input</a></li>
<li>knowsMove()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml#aa637e635a68124a5c42383000961b92c">PokemonEssentials.Interface.PokeBattle.IPokemon</a>, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a721fe205e67763f0f6a7aaeeb223317e">PokemonUnity.Monster.Pokemon</a></li>
</ul>

