@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Enumerations";
}

&#160;<ul>
<li>AuthOptions&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_1_1_i_authenticate_packet.cshtml#ae8e2729a3bc5ec4a5a6da7f8e3f594ea">PokemonUnity.Networking.Packets.Incoming.IAuthenticatePacket</a></li>
<li>Languages&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_translator.cshtml#a08a76a8ea0e35b2679c25212c4a7f637">PokemonUnity.Translator</a></li>
<li>MachineType&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#af86e48b301ab1de235f1571e6b8274b9">PokemonUnity.Inventory.MachineData</a></li>
<li>ObtainedMethod&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a5a8f230a8f9955d7214dee58ce0f07c9">PokemonUnity.Monster.Pokemon</a></li>
</ul>
