@{
	Page.Title = "Class Members - Functions";
}


&#160;

<h3><a id="index_j" name="index_j"></a>- j -</h3><ul>
<li>Judge()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a62b08d85697c58544c0dc736313f3f25">PokemonEssentials.Interface.Battle.IBugContestState</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml#ac0b210cd71886885da4b6e043c2e2915">PokemonEssentials.Interface.PokeBattle.IBattle</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ace3c26ea5705602ed7a2114d89990fcd">PokemonUnity.Combat.Battle</a></li>
<li>JudgeCheckpoint()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml#ad0afa03d339b302cf54105f18395be31">PokemonEssentials.Interface.PokeBattle.IBattle</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_clause.cshtml#aa46ce19e60139f7b725afed5ec24d805">PokemonEssentials.Interface.PokeBattle.IBattleClause</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a702b021cae433df04a2ac65816d85cf8">PokemonUnity.Combat.Battle</a></li>
<li>jump()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aee61792c3bf9d9420839f77d08c3b133">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpBackward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af968ed7e60a61a71543c27ad0a1a229d">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>jumpFancy()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#acac15406cf09333b29a1706614f6bac5">PokemonEssentials.Interface.Field.IGameDependantEvents</a></li>
<li>jumpForward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0d7e02d10e2e8c03997e52001657627">PokemonEssentials.Interface.IGameCharacter</a></li>
<li>JumpToBox()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml#ac077bdb30e09f7b013945bc3923ae653">PokemonEssentials.Interface.Screen.IPokemonStorageScene</a></li>
<li>JumpToLabel()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#abb5b7cac9a9329fcb40ba822d0f4a4d1">PokemonEssentials.Interface.IInterpreterMixinMessage</a></li>
<li>JumpToward()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_field.cshtml#a919f21f72f8dcbefcdd5ba73c8a578ba">PokemonEssentials.Interface.Field.IGameField</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4d2f7d784362c5781f6132f2ef9cbd50">PokemonUnity.Game</a></li>
<li>JustRaiseEffortValues()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml#a1af796443070ea0aad6dd0597af2d536">PokemonEssentials.Interface.Item.IGameItem</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa4ec2d3f94515525fa6f6c6a4457eabf">PokemonUnity.Game</a></li>
</ul>

