@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index__5F" name="index__5F"></a>- _ -</h3><ul>
<li>_battlers&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a874ff007b70bf72c7379c6257b89d14b">PokemonUnity.Combat.Battle</a></li>
<li>_priority&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ad58db4e3ec2cfaf975dab18c6003fc3c">PokemonUnity.Combat.Battle</a></li>
<li>_rating&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#ad0457d2920cbd49738d002f0fb6680d7">PokemonUnity.RuledTeam</a></li>
<li>_rules&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a6eebdd3d4b0e501643ac51235289413d">PokemonUnity.BattleChallenge</a></li>
<li>_totalGames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a7225e68c298285fb2a1179ae7ad4edfb">PokemonUnity.RuledTeam</a></li>
</ul>

