@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_x" name="index_x"></a>- x -</h3><ul>
<li>x&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a943a5cc0e5e3a7ad887a6142413f092b">PokemonUnity.Game_Player</a></li>
<li>X&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a6b5cf3f7826d5331869cb432949e9c0f">PokemonUnity.Input</a></li>
<li>XSUBPIXEL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a70408f622885e8b9f16a0f8432116254">PokemonUnity.Game.Game_Map</a></li>
</ul>

