@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_b" name="index_b"></a>- b -</h3><ul>
<li>B&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a28a2382207ab6b51ab1cbe899e218dc9">PokemonUnity.Input</a></li>
<li>BADGEFORCUT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0111dd905884dc39ccfd92452bf00c1d">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORDIVE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a5dc1e763d0db6d24098c2a3deb7d43ea">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORFLASH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a1cfa7179eac9136f6e5bba67e96c8f0c">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORFLY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a8ebe49aa706b69614466037c4858e71c">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORROCKSMASH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a139dfbabb87220105c46764cece1d118">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORSTRENGTH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a22d1dbdb4c4f04f897007973d27fa557">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORSURF&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ad254806d167ee7c12d2f3942e896234e">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORWATERFALL&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a767b98eb4675fba7b67512f482ca7458">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTATTACK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#adac583d57061707dfe019337ca7aae76">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTDEFENSE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a301c4e9e0849e58e3bf3af1f2cb0948e">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPATK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aab69a66e536c9da4e5865e30cb1ec149">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPDEF&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a01df71321676b27744865e26703c24f2">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPEED&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6c09b3f3c86a34c6e5274703f616c3a3">PokemonUnity.Application.Feature</a></li>
<li>BAGMAXPERSLOT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ae862e2f1cbaf2624a46dc83b9b002674">PokemonUnity.Application.Feature</a></li>
<li>Ballistics&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a556ea7ba0ca82188eb018ab5b91c29ab">PokemonUnity.Attack.Data.Flag</a></li>
<li>bc&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a760bf4027e6eecb1ced4a89258835019">PokemonUnity.BattleChallenge</a></li>
<li>bcdata&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#abdcbc3a1e8cdaf98083695d35b094528">PokemonUnity.BattleFactoryData</a></li>
<li>BERRYPLANT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#abd91defcc06eac6e3c04dedce2f257b8">PokemonUnity.Character.Entities</a></li>
<li>Bite&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a3ac7456706b8504ae244867556fc7cb3">PokemonUnity.Attack.Data.Flag</a></li>
<li>BothTeams&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#a68c4775a7524f6c55b19de06d4d42207">PokemonUnity.LevelAdjustment</a></li>
<li>BothTeamsDifferent&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#a760f95d2827734478d0d0332c5e0a355">PokemonUnity.LevelAdjustment</a></li>
<li>BUGCONTESTTIME&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0a62e980a6730fa1d61f2749174af341">PokemonUnity.Application.Feature</a></li>
</ul>

