@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}

&#160;

<h3><a id="index_a" name="index_a"></a>- a -</h3><ul>
<li>A&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a8b2e86e86c3bbb66f9d4465edff42862">PokemonUnity.Input</a></li>
<li>ALT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a24b5f0fe0a7f84795e685a5b6955aa75">PokemonUnity.Input</a></li>
<li>ALWAYSSHOWALLFORMS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#af7e3b6dff1797fd801bb93ffa4b6f8c4">PokemonUnity.Application.Feature</a></li>
</ul>


<h3><a id="index_b" name="index_b"></a>- b -</h3><ul>
<li>B&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a28a2382207ab6b51ab1cbe899e218dc9">PokemonUnity.Input</a></li>
<li>BADGEFORCUT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0111dd905884dc39ccfd92452bf00c1d">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORDIVE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a5dc1e763d0db6d24098c2a3deb7d43ea">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORFLASH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a1cfa7179eac9136f6e5bba67e96c8f0c">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORFLY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a8ebe49aa706b69614466037c4858e71c">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORROCKSMASH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a139dfbabb87220105c46764cece1d118">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORSTRENGTH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a22d1dbdb4c4f04f897007973d27fa557">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORSURF&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ad254806d167ee7c12d2f3942e896234e">PokemonUnity.Application.Feature</a></li>
<li>BADGEFORWATERFALL&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a767b98eb4675fba7b67512f482ca7458">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTATTACK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#adac583d57061707dfe019337ca7aae76">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTDEFENSE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a301c4e9e0849e58e3bf3af1f2cb0948e">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPATK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aab69a66e536c9da4e5865e30cb1ec149">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPDEF&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a01df71321676b27744865e26703c24f2">PokemonUnity.Application.Feature</a></li>
<li>BADGESBOOSTSPEED&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6c09b3f3c86a34c6e5274703f616c3a3">PokemonUnity.Application.Feature</a></li>
<li>BAGMAXPERSLOT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ae862e2f1cbaf2624a46dc83b9b002674">PokemonUnity.Application.Feature</a></li>
<li>Ballistics&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a556ea7ba0ca82188eb018ab5b91c29ab">PokemonUnity.Attack.Data.Flag</a></li>
<li>BattlePalacePinchTable&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml#a420073fcc57629e2eb818b956663f37b">PokemonUnity.Combat.PokeBattle_BattlePalace</a></li>
<li>BattlePalaceUsualTable&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml#af2dcc3523a61dc0bde24866e0b7d7264">PokemonUnity.Combat.PokeBattle_BattlePalace</a></li>
<li>BERRYPLANT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#abd91defcc06eac6e3c04dedce2f257b8">PokemonUnity.Character.Entities</a></li>
<li>Bite&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a3ac7456706b8504ae244867556fc7cb3">PokemonUnity.Attack.Data.Flag</a></li>
<li>BothTeams&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#a68c4775a7524f6c55b19de06d4d42207">PokemonUnity.LevelAdjustment</a></li>
<li>BothTeamsDifferent&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#a760f95d2827734478d0d0332c5e0a355">PokemonUnity.LevelAdjustment</a></li>
<li>BUGCONTESTTIME&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0a62e980a6730fa1d61f2749174af341">PokemonUnity.Application.Feature</a></li>
</ul>


<h3><a id="index_c" name="index_c"></a>- c -</h3><ul>
<li>C&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a806a591db3bc47883b10d0da5db1dddb">PokemonUnity.Input</a></li>
<li>Charge&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#afe00684f15a7d6996247556a6fc5b169">PokemonUnity.Attack.Data.Flag</a></li>
<li>Contact&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ad37b61df086b136357f63fd5f459c928">PokemonUnity.Attack.Data.Flag</a></li>
<li>COUNTER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2599520a0e941f4d899fe3064e2816cf">PokemonUnity.Character.Entities</a></li>
<li>CTRL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a98cc74c7bf51ca2c40b80cf4789b7482">PokemonUnity.Input</a></li>
<li>CUTTREE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2d0c9fc0811ae9477ef7c84d1deb8c90">PokemonUnity.Character.Entities</a></li>
</ul>


<h3><a id="index_d" name="index_d"></a>- d -</h3><ul>
<li>DatabasePath&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#adc0bc3a5b107c7a70a7d4f29e51ac034">PokemonUnity.Game</a></li>
<li>Defrost&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a53fe40c06271f8fe76e76a56515e528c">PokemonUnity.Attack.Data.Flag</a></li>
<li>DEXDEPENDSONLOCATION&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a8a2c2efb8447f1b5caa305a7f16f6e70">PokemonUnity.Application.Feature</a></li>
<li>Distance&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a7df51020ccd86e4edfe542e23cd61154">PokemonUnity.Attack.Data.Flag</a></li>
<li>DIVINGSURFACEANYWHERE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6377fee45843124299266a06eb3748ff">PokemonUnity.Application.Feature</a></li>
<li>DOWN&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a7329cf8abbd6c22198d89b08843a2884">PokemonUnity.Input</a></li>
</ul>


<h3><a id="index_e" name="index_e"></a>- e -</h3><ul>
<li>EGGINITIALLEVEL&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a441c20502d5bb3800622b356ea1bbb0d">PokemonUnity.Application.Feature</a></li>
<li>EnemyTeam&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#ae2351c1fdcf03dc36a99f72191802628">PokemonUnity.LevelAdjustment</a></li>
<li>EVASIONCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#addd25edde96822b0837a8705e373a7f7">PokemonUnity.BattleRule</a></li>
<li>EventId&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_use_on_battler_event_args.cshtml#a15e2f2e967af41146d5ec6e34826f339">PokemonUnity.BattleUseOnBattlerEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#aa5b1333fadf9bbc118e2d965b4a9ec59">PokemonUnity.BattleUseOnPokemonEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_catch_event_args.cshtml#a90712ccd543512dd296baae1883422fe">PokemonUnity.EventArg.OnCatchEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#ad633a5770676792eb503efec5733e3eb">PokemonUnity.EventArg.OnEndBattleEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_fail_catch_event_args.cshtml#aafd7bb5c84964e42dbcef695a95b6df4">PokemonUnity.EventArg.OnFailCatchEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#a0926ca405adf1acd41605a2d924c530c">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a2e3ee9591078e204203011977719e1d9">PokemonUnity.EventArg.OnMapChangeEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_changing_event_args.cshtml#a6496bb0a33682be43fb578ae5a8c7d67">PokemonUnity.EventArg.OnMapChangingEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#a3f7141baf0e3c4d47d0ceaf9d7c15647">PokemonUnity.EventArg.OnMapCreateEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#abd829d33681dd954a88a83ccde6a3ec9">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a62702fbe5e0e71e3db01123a3ce29057">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_field_movement_event_args.cshtml#ade2400926cda490820423703cfe789f9">PokemonUnity.EventArg.OnStepTakenFieldMovementEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#a9b96a4371a3f1fca769179398341fe08">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a3ae7b77b109e2af135433230fd9ca6a3">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a674b83c7653c1d88f61f960e66c0f767">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a5dd1bcc85255af40745af24079e1d0ab">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_pokemon_create_event_args.cshtml#aab49c9d64497e9de396e1b6ff579a74e">PokemonUnity.EventArg.OnWildPokemonCreateEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#a74e8f5c1f4ff8f4321730ee80a5ce0ad">PokemonUnity.Input.ButtonEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml#af83a277ce95312e83cb3868a1c36fc1f">PokemonUnity.OnDebugEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_on_load_event_args.cshtml#ab72c1fc790693c61975db111d55aeb12">PokemonUnity.OnLoadEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_use_from_bag_event_args.cshtml#ac4c4c8e0d78b37b5043a8ce2f444d4a9">PokemonUnity.UseFromBagEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_use_in_battle_event_args.cshtml#a7560c62cf6d2f800645afb1f6b410c8d">PokemonUnity.UseInBattleEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_use_in_field_event_args.cshtml#aaa505b21ef6c08463d2be3f51cec89d9">PokemonUnity.UseInFieldEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#ac8400586d778aa47115953416406e56e">PokemonUnity.UseOnPokemonEventArgs</a>, <a class="el" href="class_pokemon_unity_1_1_utility_1_1_linear_cong_random_1_1_on_seed_event_args.cshtml#a6b77eee633c4152fec70350bfa40f5ec">PokemonUnity.Utility.LinearCongRandom.OnSeedEventArgs</a></li>
<li>EVLIMIT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a30ec0f186a53826503eea4221424c375">PokemonUnity.Monster.Pokemon</a></li>
<li>EVSTATLIMIT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a3f1adc0a2ccabaa51b11e604a1c68ce9">PokemonUnity.Monster.Pokemon</a></li>
</ul>


<h3><a id="index_f" name="index_f"></a>- f -</h3><ul>
<li>F5&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#abc5c28863e148f7bf525d5f6ba83abcb">PokemonUnity.Input</a></li>
<li>F6&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a70476eaf8e6310cc276d3bf40ffcb059">PokemonUnity.Input</a></li>
<li>F7&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a74e10bda7191444e5e8cf41fa51151ac">PokemonUnity.Input</a></li>
<li>F8&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a5bc7988d35fcb9d785f89f7f9a8f9b88">PokemonUnity.Input</a></li>
<li>F9&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a1e6b905ba60f710ae3e9e1337856884e">PokemonUnity.Input</a></li>
<li>FATEFUL_ENCOUNTER_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aee5f0d4c16f204e5777d5e69249bae1a">PokemonUnity.Application.Feature</a></li>
<li>FISHINGAUTOHOOK&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a727d25014d26e9a2143e6bf7a384028a">PokemonUnity.Application.Feature</a></li>
<li>FREEZECLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a50b53e03f535c0bcebb827d5bef853de">PokemonUnity.BattleRule</a></li>
</ul>


<h3><a id="index_g" name="index_g"></a>- g -</h3><ul>
<li>GAINEXPFORCAPTURE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a33e1fad5beee68495ad62f83d150fff2">PokemonUnity.Application.Feature</a></li>
<li>Generation&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a2cea3bfc814445b8a534089793a2f6f3">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>Gravity&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aa03dfb18d44a59660c0fda280b53ca08">PokemonUnity.Attack.Data.Flag</a></li>
</ul>


<h3><a id="index_h" name="index_h"></a>- h -</h3><ul>
<li>HEADBUTTTREE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#af7329d58091415262e252a42b4f27eb6">PokemonUnity.Character.Entities</a></li>
<li>Heal&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a9ff90920ed18ba2d487a2a0e969fc063">PokemonUnity.Attack.Data.Flag</a></li>
<li>HEARTGAUGESIZE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#addf6394515d91f9fdb431777e27b8327">PokemonUnity.Monster.Pokemon</a></li>
<li>HIDDENITEM&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a3cdac771986b6d17564f4f78bbc1ae2b">PokemonUnity.Character.Entities</a></li>
<li>HIDDENITEM_SOMETHING&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a387882621d6b0b1bf4f59e48476781c7">PokemonUnity.Character.Entities</a></li>
<li>HIDDENMOVESCOUNTBADGES&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0aebc1518fdfa05cba28e7b4cc64ca6a">PokemonUnity.Application.Feature</a></li>
</ul>


<h3><a id="index_i" name="index_i"></a>- i -</h3><ul>
<li>INFINITETMS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a9167b5f58e9d80542540053c59b0bf7f">PokemonUnity.Application.Feature</a></li>
<li>INITIALMONEY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#afa2b2484d57bdaa1a9c151b8aeb6e029">PokemonUnity.Application.Feature</a></li>
<li>ITEMBALL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a508d61f454cafbd49b09dcf2180380d8">PokemonUnity.Character.Entities</a></li>
<li>ITEMBATTLEUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a2c68b3a19a1363459436b06d52d88359">PokemonUnity.Game</a></li>
<li>ITEMDESC&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a38705c751983c1c44a9ae17ee8ce118b">PokemonUnity.Game</a></li>
<li>ITEMID&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a35cd6f074c45d36c90d39786246129dc">PokemonUnity.Game</a></li>
<li>ItemId&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#aa298739ffa42c2b23d8581b10e753112">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>ITEMMACHINE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a84578ad3e650eabe77ce3f8bc59f513d">PokemonUnity.Game</a></li>
<li>ITEMNAME&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9fa93e3b67340a1b4ba47e843ef48b7b">PokemonUnity.Game</a></li>
<li>ITEMPLURAL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae357e6b8414068afd5305c281336a876">PokemonUnity.Game</a></li>
<li>ITEMPOCKET&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa8a095505d4581b2f9209603b4a0468e">PokemonUnity.Game</a></li>
<li>ITEMPRICE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9e332e8df05b40005a7b1966f0165435">PokemonUnity.Game</a></li>
<li>ITEMTYPE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#adbc833ea75a8e8176025f191422cb6f8">PokemonUnity.Game</a></li>
<li>ITEMUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a13f270b34e65f9c6c090745cd8cc8eb1">PokemonUnity.Game</a></li>
</ul>


<h3><a id="index_l" name="index_l"></a>- l -</h3><ul>
<li>L&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#af7f08324da442b7148851ad5d78cfbc5">PokemonUnity.Input</a></li>
<li>LEFT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a14bdcc2680530131e31c418d564f2eb4">PokemonUnity.Input</a></li>
<li>LeftMouseKey&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a50c8525a6614ec66739fdb079df6a533">PokemonUnity.Input</a></li>
<li>LIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a399d520124466ad720647139937f9ee4">PokemonUnity.Character.Entities</a></li>
<li>LocalizationDictionary&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a85e3bd69d41e5040ac9d88f7e45e9535">PokemonUnity.Game</a></li>
</ul>


<h3><a id="index_m" name="index_m"></a>- m -</h3><ul>
<li>MARKINGCHARS&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a22a5a1ffcd805b755bf23220270eb4e2">PokemonUnity.Character.PokemonStorage</a></li>
<li>MAXCOINS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a5083bae832457d926f74bbea2271dd31">PokemonUnity.Application.Feature</a></li>
<li>MAXIMUMLEVEL&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#affdcf69db4b01d1a5db865bf4637db22">PokemonUnity.Application.Feature</a></li>
<li>MAXMONEY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a673c43a14846085870eed5921c684f76">PokemonUnity.Application.Feature</a></li>
<li>MAXPARTYSIZE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ad3086c683ae334b94009ee64051ccfd0">PokemonUnity.Application.Feature</a></li>
<li>MAXPERSLOT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a75d53e8a04a8f4142e4936fb218d0c9a">PokemonUnity.Character.PCItemStorage</a></li>
<li>MAXPOCKETSIZE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a869a506ec9990d523815304da3dc9128">PokemonUnity.Application.Feature</a></li>
<li>MAXSIZE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#a1f5d2ac4bf8462c532ce67bdf4e875db">PokemonUnity.Character.PCItemStorage</a></li>
<li>MEGARINGS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a4f79402cd28587549be73a3ebdadbd29">PokemonUnity.Application.Feature</a></li>
<li>Mental&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a05d068aa88def122550ff6aeab3208b4">PokemonUnity.Attack.Data.Flag</a></li>
<li>Mirror&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a98be07e4ac5b4cef1e721c89eb85225f">PokemonUnity.Attack.Data.Flag</a></li>
<li>MODIFIEDSELFDESTRUCTCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a4bff9de4ed84f88f49ad6c5e7030cb55">PokemonUnity.BattleRule</a></li>
<li>MODIFIEDSLEEPCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a26777bbedddcb34c703f57caadc1849f">PokemonUnity.BattleRule</a></li>
<li>MyTeam&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#ac6a10a057d9b52fdaf6aee1bdaf46579">PokemonUnity.LevelAdjustment</a></li>
</ul>


<h3><a id="index_n" name="index_n"></a>- n -</h3><ul>
<li>NAMELIMIT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a6edf9342374fd2b5024b69ef34ad1cc6">PokemonUnity.Monster.Pokemon</a></li>
<li>names&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#a5da3fa848ee51151ce7e31e383cfbb44">PokemonUnity.NicknameChecker</a></li>
<li>namesMaxValue&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_nickname_checker.cshtml#aece7f90313dcd37c8179e98846fe0029">PokemonUnity.NicknameChecker</a></li>
<li>NEWBERRYPLANTS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a36a5c68f9b0f3818341bfd0c8a9b7845">PokemonUnity.Application.Feature</a></li>
<li>NO_MEGA_EVOLUTION&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a5e816ac71e84405980cd3c8afb999e59">PokemonUnity.Application.Feature</a></li>
<li>NO_MONEY_LOSS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#ae3cd131345a07213fe8f853cf3896665">PokemonUnity.Application.Feature</a></li>
<li>nodeType&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#a31b06db116c888f09b84eade2cd79edd">PokemonUnity.Translator.Language.XmlLocalizationDictionary</a></li>
<li>NonSky&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a4d33e03b72b761d5aec2dfa84161d6d5">PokemonUnity.Attack.Data.Flag</a></li>
<li>NOSPLITEXP&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a4273f5a9f88a4c8aed9d2f2bf4a9c653">PokemonUnity.Application.Feature</a></li>
</ul>


<h3><a id="index_o" name="index_o"></a>- o -</h3><ul>
<li>OHKOCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#aac7b0f4695660fc6357f81e12a6bf782">PokemonUnity.BattleRule</a></li>
<li>OUTDOORLIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a86eb179158af136acb16d9bfb4f2f491">PokemonUnity.Character.Entities</a></li>
</ul>


<h3><a id="index_p" name="index_p"></a>- p -</h3><ul>
<li>PacketContainer&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_packet.cshtml#a3224246ca74605b15084528201a22a23">PokemonUnity.Networking.Packets.IncomingPacket</a>, <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a6b95744c72def192a6e422e652606a62">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
<li>PERISHSONG&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a4502b04475728d530c93eb687e2dc3ad">PokemonUnity.BattleRule</a></li>
<li>PERISHSONGCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a438b60aeb8b671790e4ae67386765ef4">PokemonUnity.BattleRule</a></li>
<li>PLAYERNAMELIMIT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a55f08fcf6aa054f46b41fb1abebd8164">PokemonUnity.Application.Feature</a></li>
<li>POCKETAUTOSORT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#adbfe676ceb26b5ec0c7c5401f85e47bf">PokemonUnity.Application.Feature</a></li>
<li>POISONFAINTINFIELD&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a57e7f9a7d94caa01979313988587b0ff">PokemonUnity.Application.Feature</a></li>
<li>POISONINFIELD&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a3b49616503321dfaccc19f6b8f43b175">PokemonUnity.Application.Feature</a></li>
<li>POKERUSCHANCE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6f3ae3a8527fd579559f48d4eb614718">PokemonUnity.Application.Feature</a></li>
<li>PowderBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a23384431a31b6dad90b895fc307ed18e">PokemonUnity.Attack.Data.Flag</a></li>
<li>Protectable&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aca96eb842c9abf7b59f2540b12b5a97c">PokemonUnity.Attack.Data.Flag</a></li>
<li>PulseBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a33948f1a580dc958b3b1b73c8f2a4ce2">PokemonUnity.Attack.Data.Flag</a></li>
<li>Punching&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ac002475caadfde203588e778f6494b3c">PokemonUnity.Attack.Data.Flag</a></li>
</ul>


<h3><a id="index_r" name="index_r"></a>- r -</h3><ul>
<li>R&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#ac5238a57acaaac8b59c7064f6ca96422">PokemonUnity.Input</a></li>
<li>Rarirty&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#af23ff854861e488232a798edb8540660">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>Recharge&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a38896a5e1f93a32b453ccdbbf4974c34">PokemonUnity.Attack.Data.Flag</a></li>
<li>Reflectable&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a717b3d427e41d585380968bba3403f9f">PokemonUnity.Attack.Data.Flag</a></li>
<li>REFLECTION&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2fbf75aa507df1920b8aeda0db125362">PokemonUnity.Character.Entities</a></li>
<li>REGULARTONE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a4af2abb1409fed88118a24292726551b">PokemonUnity.Character.Entities</a></li>
<li>RIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a642d126f88f5781ac17bc58092563f5c">PokemonUnity.Input</a></li>
<li>RightMouseKey&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#aa3592237c0c23f6173d8816f53226667">PokemonUnity.Input</a></li>
</ul>


<h3><a id="index_s" name="index_s"></a>- s -</h3><ul>
<li>SAFARISTEPS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a96f38288a80a89c643eda3ab6953c179">PokemonUnity.Application.Feature</a></li>
<li>SEEN_POKERUS_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a23dbd5a75e1dfe9a2305c6c5216e4be8">PokemonUnity.Application.Feature</a></li>
<li>SELFDESTRUCTCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#afc938104c467f14773243aa206d8d179">PokemonUnity.BattleRule</a></li>
<li>SELFKOCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a318f9383806f1155dd78e40062d706b1">PokemonUnity.BattleRule</a></li>
<li>SHIFT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a2e2336ab21ce8653aaec9197be61e2d0">PokemonUnity.Input</a></li>
<li>SHINY_WILD_POKEMON_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a27735759145f85adf2e9c93f8262f0bf">PokemonUnity.Application.Feature</a></li>
<li>SHINYPOKEMONCHANCE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aa5c7578bd8f3733a8252979b19f8f2ba">PokemonUnity.Application.Feature</a></li>
<li>SIZE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#afaf2ab2e3654436bcc8182cc8bcaaf3f">PokemonUnity.Character.Entities</a></li>
<li>SKILLSWAPCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a99f31c00e7756a484faa79ad21b802a3">PokemonUnity.BattleRule</a></li>
<li>SLEEPCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a609553cd5cc413b486607406b9deff1c">PokemonUnity.BattleRule</a></li>
<li>SMASHROCK&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a5d18fbc813b40fc77b21c14a116b80d2">PokemonUnity.Character.Entities</a></li>
<li>Snatch&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c">PokemonUnity.Attack.Data.Flag</a></li>
<li>SONICBOOMCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a31808f8ee1b2cecaf1c37b86f0c19791">PokemonUnity.BattleRule</a></li>
<li>SOULDEWCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a09ce77f684c5f552694b4dfc3e70bd38">PokemonUnity.BattleRule</a></li>
<li>SoundBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aae25e04417b2856139a55a59fee7d052">PokemonUnity.Attack.Data.Flag</a></li>
<li>SpeechFrames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a238a745982770f5c6d4c643ca5c56e7c">PokemonUnity.Game</a></li>
<li>STARTING_OVER_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0a87edd8726e0eef45a874fe4b60f19b">PokemonUnity.Application.Feature</a></li>
<li>STORAGEBOXES&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a51b8acd2a55b8afeffeb3f66f6526023">PokemonUnity.Application.Feature</a></li>
<li>STRENGTHBOULDER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ad26fe5310a3d5bf7e0e1822a91a1b575">PokemonUnity.Character.Entities</a></li>
<li>SUDDENDEATH&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#acd3e09eced950952eba9aa27bd180f9b">PokemonUnity.BattleRule</a></li>
</ul>


<h3><a id="index_t" name="index_t"></a>- t -</h3><ul>
<li>TeachMethod&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#af7ec88ca776f8992b03cbf486ba05a2a">PokemonUnity.Monster.Data.PokemonMoveset</a></li>
<li>TextFrames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9659bb4b1b006c08000ce4c3376b48d0">PokemonUnity.Game</a></li>
<li>TILEHEIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#afdb4e72f837e51bcad5dbd1bdd9ada8e">PokemonUnity.Game.Game_Map</a></li>
<li>TILEWIDTH&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aff894d65a2670de0e99a872746a4a03e">PokemonUnity.Game.Game_Map</a></li>
<li>Time&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a2ed3b59687435e2ab1d3b0989e99c69c">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
<li>TRAINER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ac9901ebda4d4c09b52dc334eec5f9ee8">PokemonUnity.Character.Entities</a></li>
<li>TRAINERDEBUG&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ad30ce3782f0347e93d8a88aad46f1eea">PokemonUnity.Character.Entities</a></li>
<li>Type&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_packet.cshtml#aba55d78c8bb851a547845a8559c72163">PokemonUnity.Networking.Packets.IncomingPacket</a>, <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#aa4d73088b8e9f0406ed6885b5edb67e8">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
</ul>


<h3><a id="index_u" name="index_u"></a>- u -</h3><ul>
<li>UP&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a82882ebf0e2929ad896a064efd0e15bd">PokemonUnity.Input</a></li>
<li>UPDATE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a14c75c4d5097aa78f4045f9823433a1e">PokemonUnity.Character.Entities</a></li>
<li>USECRITICALCAPTURE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6e2da913ade789f8bcc0270a538bcc1f">PokemonUnity.Application.Feature</a></li>
<li>USEMOVECATEGORY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a7d22d84b8b6e43cb65389efedc3df7ac">PokemonUnity.Application.Feature</a></li>
<li>USENEWBATTLEMECHANICS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aba44dbfcd3c51784aa79cef96e083252">PokemonUnity.Application.Feature</a></li>
<li>USESCALEDEXPFORMULA&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a89556b94a16cc987e5f0a7e2316ad818">PokemonUnity.Application.Feature</a></li>
</ul>


<h3><a id="index_v" name="index_v"></a>- v -</h3><ul>
<li>VersionStyles&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa68ba3a01b32b46bea0e89c646e6ddf9">PokemonUnity.Game</a></li>
</ul>


<h3><a id="index_x" name="index_x"></a>- x -</h3><ul>
<li>X&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a6b5cf3f7826d5331869cb432949e9c0f">PokemonUnity.Input</a></li>
<li>XSUBPIXEL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a70408f622885e8b9f16a0f8432116254">PokemonUnity.Game.Game_Map</a></li>
</ul>


<h3><a id="index_y" name="index_y"></a>- y -</h3><ul>
<li>Y&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#aab7346a92026efc888890fe57478c368">PokemonUnity.Input</a></li>
<li>YSUBPIXEL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a067e8fbb6691544b9cbaaf4c5d2e3814">PokemonUnity.Game.Game_Map</a></li>
</ul>


<h3><a id="index_z" name="index_z"></a>- z -</h3><ul>
<li>Z&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a0f1b9a71e963651711db77537f69aad4">PokemonUnity.Input</a></li>
</ul>
