@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_t" name="index_t"></a>- t -</h3><ul>
<li>TeachMethod&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#af7ec88ca776f8992b03cbf486ba05a2a">PokemonUnity.Monster.Data.PokemonMoveset</a></li>
<li>TextFrames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9659bb4b1b006c08000ce4c3376b48d0">PokemonUnity.Game</a></li>
<li>thisPlayer&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a363bbe6ff7942e71a88b249dbe927967">PokemonUnity.MatchHistory</a></li>
<li>TILEHEIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#afdb4e72f837e51bcad5dbd1bdd9ada8e">PokemonUnity.Game.Game_Map</a></li>
<li>TILEWIDTH&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aff894d65a2670de0e99a872746a4a03e">PokemonUnity.Game.Game_Map</a></li>
<li>Time&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a2ed3b59687435e2ab1d3b0989e99c69c">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
<li>TRAINER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ac9901ebda4d4c09b52dc334eec5f9ee8">PokemonUnity.Character.Entities</a></li>
<li>TRAINERDEBUG&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ad30ce3782f0347e93d8a88aad46f1eea">PokemonUnity.Character.Entities</a></li>
<li>trainerid&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a094475c315742c05aa665f0866414f0a">PokemonUnity.BattleFactoryData</a></li>
<li>trainers&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a916182ff90916a175da14cb6866b265c">PokemonUnity.BattleChallengeData</a></li>
<li>Type&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_packet.cshtml#aba55d78c8bb851a547845a8559c72163">PokemonUnity.Networking.Packets.IncomingPacket</a>, <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#aa4d73088b8e9f0406ed6885b5edb67e8">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
<li>types&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a528cf8c430c48ba1118e63c9b13569a0">PokemonUnity.BattleChallenge</a></li>
</ul>

