@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Functions";
}


&#160;

<h3><a id="index_q" name="index_q"></a>- q -</h3><ul>
<li>Quantity()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a368e27d0225c2c928881c6f75fc8f318">PokemonEssentials.Interface.Screen.IBag</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a2b53be70f206bf1b79d999f5a30970ee">PokemonEssentials.Interface.Screen.IPCItemStorage</a>, <a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#ab8a96ebc3811d0e81e942f73791e86c0">PokemonUnity.Character.PCItemStorage</a>, <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a2d2a213d1bacd08e78d4d9c17f063812">PokemonUnity.Character.PokemonBag</a></li>
</ul>

