@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members";
}


<div class="textblock">Here is a list of all class members with links to the classes they belong to:</div>

<h3><a id="index_k" name="index_k"></a>- k -</h3><ul>
<li>keyItemCalling&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a34520bb27023de2601d4592e82c8ab88">PokemonEssentials.Interface.Field.ITempMetadata</a>, <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#aea393ed3faf266ce71e48e965a5b3f85">PokemonUnity.PokemonTemp</a></li>
<li>KeyPressed()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#acddb84a3b89e90697a0986d3654d8d6f">PokemonUnity.Input</a></li>
<li>Keys&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_move_effect_data.cshtml#af387d2e3c27326ce63bae7d656ad62d3">PokemonUnity.Combat.MoveEffectData</a></li>
<li>kind&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml#a634e0910ef3387d3e3f854a07a7a4bd9">PokemonEssentials.Interface.PokeBattle.IPokemon</a></li>
<li>KingsShield&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_battler.cshtml#ac3426f99095320f5b2a5ef1d11e13149">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsBattler</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_battler.cshtml#a44e35819d224c0d852606e496d2ac8ab">PokemonUnity.Combat.Effects.Battler</a></li>
<li>KnownMove&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a6cfa2856702e3968cd5f3776c83831b5">PokemonUnity.Monster.Data.EvolutionTrigger</a></li>
<li>KnownType&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a17687eda85ab8b0d750e8c8cc49c1245">PokemonUnity.Monster.Data.EvolutionTrigger</a></li>
<li>knowsMove()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml#aa637e635a68124a5c42383000961b92c">PokemonEssentials.Interface.PokeBattle.IPokemon</a>, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a721fe205e67763f0f6a7aaeeb223317e">PokemonUnity.Monster.Pokemon</a></li>
<li>kValue&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a5bde42e4511c9b8571a1f6249ad3fe5a">PokemonEssentials.Interface.Battle.ISingleMatch</a>, <a class="el" href="class_pokemon_unity_1_1_single_match.cshtml#a9c734e8b2c943ea11d185955581b1032">PokemonUnity.SingleMatch</a></li>
</ul>

