@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_s" name="index_s"></a>- s -</h3><ul>
<li>SAFARISTEPS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a96f38288a80a89c643eda3ab6953c179">PokemonUnity.Application.Feature</a></li>
<li>SEEN_POKERUS_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a23dbd5a75e1dfe9a2305c6c5216e4be8">PokemonUnity.Application.Feature</a></li>
<li>SELFDESTRUCTCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#afc938104c467f14773243aa206d8d179">PokemonUnity.BattleRule</a></li>
<li>SELFKOCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a318f9383806f1155dd78e40062d706b1">PokemonUnity.BattleRule</a></li>
<li>SHIFT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a2e2336ab21ce8653aaec9197be61e2d0">PokemonUnity.Input</a></li>
<li>SHINY_WILD_POKEMON_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a27735759145f85adf2e9c93f8262f0bf">PokemonUnity.Application.Feature</a></li>
<li>SHINYPOKEMONCHANCE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#aa5c7578bd8f3733a8252979b19f8f2ba">PokemonUnity.Application.Feature</a></li>
<li>SIZE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#afaf2ab2e3654436bcc8182cc8bcaaf3f">PokemonUnity.Character.Entities</a></li>
<li>SKILLSWAPCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a99f31c00e7756a484faa79ad21b802a3">PokemonUnity.BattleRule</a></li>
<li>SLEEPCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a609553cd5cc413b486607406b9deff1c">PokemonUnity.BattleRule</a></li>
<li>SMASHROCK&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a5d18fbc813b40fc77b21c14a116b80d2">PokemonUnity.Character.Entities</a></li>
<li>snaggedpokemon&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a07eb0fc77f771a490556073dc88ad507">PokemonUnity.Combat.Battle</a></li>
<li>Snatch&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c">PokemonUnity.Attack.Data.Flag</a></li>
<li>SONICBOOMCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a31808f8ee1b2cecaf1c37b86f0c19791">PokemonUnity.BattleRule</a></li>
<li>SOULDEWCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a09ce77f684c5f552694b4dfc3e70bd38">PokemonUnity.BattleRule</a></li>
<li>SoundBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aae25e04417b2856139a55a59fee7d052">PokemonUnity.Attack.Data.Flag</a></li>
<li>spatk&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a2ef9d842ac488dea58288e7744ae84a4">PokemonUnity.Combat.Pokemon</a></li>
<li>spdef&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a6e87ef3a46e2938def447cf7e89304d2">PokemonUnity.Combat.Pokemon</a></li>
<li>SpeechFrames&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a238a745982770f5c6d4c643ca5c56e7c">PokemonUnity.Game</a></li>
<li>speed&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aa429fd1ca2c8e41ab6099deba32dbe37">PokemonUnity.Combat.Pokemon</a></li>
<li>start&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a670bafcc8f75e57275247a74f13dacd0">PokemonUnity.BattleChallengeData</a></li>
<li>STARTING_OVER_SWITCH&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a0a87edd8726e0eef45a874fe4b60f19b">PokemonUnity.Application.Feature</a></li>
<li>STORAGEBOXES&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a51b8acd2a55b8afeffeb3f66f6526023">PokemonUnity.Application.Feature</a></li>
<li>STRENGTHBOULDER&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#ad26fe5310a3d5bf7e0e1822a91a1b575">PokemonUnity.Character.Entities</a></li>
<li>SUDDENDEATH&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#acd3e09eced950952eba9aa27bd180f9b">PokemonUnity.BattleRule</a></li>
</ul>

