@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Functions";
}

&#160;

<h3><a id="index_b" name="index_b"></a>- b -</h3><ul>
<li>babySpecies()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7032dd2bf91949fc55193e276dfab643">PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator</a></li>
<li>BadgeData()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#af1592277962cb3ad8082ed6f4743c01a">PokemonUnity.Character.BadgeData</a></li>
<li>BannedItemRestriction()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_banned_item_restriction.cshtml#aeeea801801b9843a2aa27a2aa883509d">PokemonUnity.BannedItemRestriction</a></li>
<li>BannedSpeciesRestriction()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_banned_species_restriction.cshtml#a21bd6fe5d17156818d2d321ad6337ad8">PokemonUnity.BannedSpeciesRestriction</a></li>
<li>baseStatTotal()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a24b40a86b8e95a4f7534402a0d68e82b">PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator</a></li>
<li>Battle()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a74945fa9cd999e396e1ff038089111db">PokemonUnity.Combat.Battle</a></li>
<li>BattleAbortedException()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle_aborted_exception.cshtml#a9640a366c1e0857600a80f68f19ea9b7">PokemonUnity.Combat.BattleAbortedException</a></li>
<li>Battler()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_battler.cshtml#a01fa31cdbea9946a979b74781b377f1e">PokemonUnity.Combat.Effects.Battler</a></li>
<li>beginRecordUI()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_utility.cshtml#ad2247a28ef17b09226eb637211464e86">PokemonEssentials.Interface.IGameUtility</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a93fbcfd198d1c45efba602e893b0657d">PokemonUnity.Game</a>, <a class="el" href="interface_pokemon_unity_1_1_u_x_1_1_i_front_end.cshtml#acf988f4154840371be42fd9f1cc27352">PokemonUnity.UX.IFrontEnd</a></li>
<li>BerryData()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a0928e0f86c53c97885bfd9a25fb68da8">PokemonUnity.Inventory.BerryData</a></li>
<li>bgm_fade()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#abd6bc819025fc5087ee62ddcf7cbd67b">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_memorize()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a2aa60684278853e687596ccc73ebf254">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_pause()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae93a1ca586653446ffe695546a0b321c">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_play()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a73fadfac86155f0ec909f176c0957662">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_play_internal()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a54ce957abe5ab36231dd479a1a57863b">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_play_internal2()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#af3631e6cab8b5475ee4c97ec041e07cb">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_restore()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a4b784f6d6cd82b5986ad2b8e354d3af7">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_resume()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3a6899dea238af50f74ddffa4ac99d6c">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_stop()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a7779c89c65f11ee5f3c6377cbd678298">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgm_unpause()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3e39650c7bc0c25a703faf0e4affcb07">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_fade()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a03bd1777fe2d3697d4788d516dee7dcc">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_memorize()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#aeb562980b4459bca99f162574fad9371">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_pause()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ac3b90548031c22c3dfd9ede90074a7f8">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_play()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ad32649453eabe355291f09cd7e26bf65">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_restore()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ab2e403c442d976639421b6030c3f1198">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_resume()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae0a3da85b141fe76d508ff488eded4ad">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_stop()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">PokemonEssentials.Interface.IAudio</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a202e3829ad510d32b804ce9361e18637">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bgs_unpause()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#add2fda29ce5e37ec35723d258b2429d9">PokemonEssentials.Interface.IGameSystem</a></li>
<li>bitmap()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_animated_bitmap.cshtml#ac90f30c3aa066c4faa6bde07b3cc03cd">PokemonEssentials.Interface.IAnimatedBitmap</a></li>
<li>blink_off()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#af7ae8382cfc8276bbf23256810c561d4">PokemonEssentials.Interface.ISprite</a></li>
<li>blink_on()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a7ab7a7173e2f65eb61dd6614270a5d06">PokemonEssentials.Interface.ISprite</a></li>
<li>BuildFomFile()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#a02f5f51029fd06ecd21e4283e1b0b88e">PokemonUnity.Translator.Language.XmlLocalizationDictionary</a></li>
<li>BuildFomXmlString()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_translator_1_1_language_1_1_xml_localization_dictionary.cshtml#aaeb266e3dcdd37453b205d89272f4bff">PokemonUnity.Translator.Language.XmlLocalizationDictionary</a></li>
<li>buildMazeWall()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a43ff5fc27b12e0c816e2dee64488d6de">PokemonEssentials.Interface.Field.IMaze</a></li>
<li>buildNodeList()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#aa42f039471996eee7b19038d564544d1">PokemonEssentials.Interface.Field.IMaze</a></li>
<li>bush()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#aa90f02ded5c452edb38b38fc334af271">PokemonEssentials.Interface.IGameMap</a>, <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aebb84b722667930c8e7e2fe59347557f">PokemonUnity.Game.Game_Map</a></li>
<li>ButtonEventArgs()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input_1_1_button_event_args.cshtml#ab92dbaa346a4d60327b6c1c8e203d017">PokemonUnity.Input.ButtonEventArgs</a></li>
<li>ButtonEventHandler()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a533bd7aa03ba585ace56717459b981c4">PokemonUnity.Input</a></li>
<li>ButtonStateChange()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#ac5df26c82999de1ef6066ed37fa067ea">PokemonUnity.Input</a></li>
<li>buttonToKey()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#acedb6e7a94afb02cfd4d931792930a47">PokemonUnity.Input</a></li>
</ul>
