@{
	Page.Title = "Class Members - Functions";
}


&#160;

<h3><a id="index_x" name="index_x"></a>- x -</h3><ul>
<li>XmlStringRes()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">PokemonUnity.Localization.XmlStringRes</a></li>
</ul>

