@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Functions";
}

&#160;

<h3><a id="index_z" name="index_z"></a>- z -</h3><ul>
<li>zodiac()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#aa24ada54d03dd396b4c057a43560302d">PokemonEssentials.Interface.Field.IGameTime</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4b3812d6eb779d2237207a656f5ddefa">PokemonUnity.Game</a></li>
<li>zodiacComplements()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a0a0b4092b82b755e01a6f8b105420b75">PokemonEssentials.Interface.Field.IGameTime</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4efadba4c7072f8f824e81f16f153f97">PokemonUnity.Game</a></li>
<li>zodiacOpposite()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ae874c1e6002b4e3665f878b9a8b6c2d7">PokemonEssentials.Interface.Field.IGameTime</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a144e1087e774c19e87abe1c71ee3f2c7">PokemonUnity.Game</a></li>
<li>zodiacPartners()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a49e7e3d640551cef2daae6fbb4041fa0">PokemonEssentials.Interface.Field.IGameTime</a>, <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac2da6aff5defb60db903a60a5f284870">PokemonUnity.Game</a></li>
</ul>
