@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_i" name="index_i"></a>- i -</h3><ul>
<li>id&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a71f630f87687e9540a724d6a53f7738e">PokemonUnity.BattleChallenge</a></li>
<li>INFINITETMS&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a9167b5f58e9d80542540053c59b0bf7f">PokemonUnity.Application.Feature</a></li>
<li>INITIALMONEY&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#afa2b2484d57bdaa1a9c151b8aeb6e029">PokemonUnity.Application.Feature</a></li>
<li>Instance&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a8cdf56d14a9e938c4c66c7d4e74f03e2">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a></li>
<li>ITEMBALL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a508d61f454cafbd49b09dcf2180380d8">PokemonUnity.Character.Entities</a></li>
<li>ITEMBATTLEUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a2c68b3a19a1363459436b06d52d88359">PokemonUnity.Game</a></li>
<li>ITEMDESC&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a38705c751983c1c44a9ae17ee8ce118b">PokemonUnity.Game</a></li>
<li>ITEMID&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a35cd6f074c45d36c90d39786246129dc">PokemonUnity.Game</a></li>
<li>ItemId&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#aa298739ffa42c2b23d8581b10e753112">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>ITEMMACHINE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a84578ad3e650eabe77ce3f8bc59f513d">PokemonUnity.Game</a></li>
<li>ITEMNAME&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9fa93e3b67340a1b4ba47e843ef48b7b">PokemonUnity.Game</a></li>
<li>ITEMPLURAL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae357e6b8414068afd5305c281336a876">PokemonUnity.Game</a></li>
<li>ITEMPOCKET&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa8a095505d4581b2f9209603b4a0468e">PokemonUnity.Game</a></li>
<li>ITEMPRICE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9e332e8df05b40005a7b1966f0165435">PokemonUnity.Game</a></li>
<li>ITEMTYPE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#adbc833ea75a8e8176025f191422cb6f8">PokemonUnity.Game</a></li>
<li>ITEMUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#a13f270b34e65f9c6c090745cd8cc8eb1">PokemonUnity.Game</a></li>
</ul>

