@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_v" name="index_v"></a>- v -</h3><ul>
<li>VersionStyles&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa68ba3a01b32b46bea0e89c646e6ddf9">PokemonUnity.Game</a></li>
</ul>

