@{
	Page.Title = "Class Members - Functions";
}


&#160;

<h3><a id="index_v" name="index_v"></a>- v -</h3><ul>
<li>valid()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ae7d2d14bf22f38178b0423c74a04116c">PokemonEssentials.Interface.IGameMap</a>, <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a9856fdd7aa09918a3ef728a5c8a360d4">PokemonUnity.Game.Game_Map</a></li>
<li>validLax()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a0961d3cc78452b17279f0decd91570c1">PokemonEssentials.Interface.IGameMap</a>, <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ab81bb7efc2dc44329a8477cd94f7c55e">PokemonUnity.Game.Game_Map</a></li>
<li>value()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a7a7d59abcff25b2cae172a804a4814ac">PokemonEssentials.Interface.Field.IDungeon</a></li>
<li>varAsInt()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml#ade691acdf9397241888d8637e016263c">PokemonEssentials.Interface.IGameEvent</a></li>
</ul>

