@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Properties";
}

&#160;

<h3><a id="index_q" name="index_q"></a>- q -</h3><ul>
<li>Quash&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_battler.cshtml#a7317666af1b2ff8c89a18f39730b55a9">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsBattler</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_battler.cshtml#af85e91243b381b46e12fc3b57d154caf">PokemonUnity.Combat.Effects.Battler</a></li>
<li>QuickGuard&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_side.cshtml#ad24a4210bb5abf6e76ddd6906bb4a07a">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsSide</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_side.cshtml#af4e189c0c10602200466c32d4379e21e">PokemonUnity.Combat.Effects.Side</a></li>
</ul>
