@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Class Members - Functions";
}

&#160;

<h3><a id="index_n" name="index_n"></a>- n -</h3><ul>
<li>Nature()&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_nature.cshtml#a5074696d74d6ead8548dc17f42908a22">PokemonUnity.Monster.Nature</a></li>
<li>negativesAllowed()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_choose_number_params.cshtml#ad06357925beb54b855827874360f97b3">PokemonEssentials.Interface.IChooseNumberParams</a></li>
<li>next()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a1d7eef4088ad21d190cc805d06f1c09f">PokemonEssentials.Interface.Screen.IOptionValue</a></li>
<li>nextTrainer()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#afdce2f994484540bb22e2545208998b4">PokemonEssentials.Interface.Battle.IBattleChallengeData</a></li>
<li>numFormsSeen()&#160;:&#160;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml#a22068357b86b5fb1bd64de53fd51def2">PokemonEssentials.Interface.PokeBattle.ITrainer</a>, <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml#a6b3eb0830ffcc1f1c5b54dce22df5f31">PokemonUnity.Trainer</a></li>
</ul>
