@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Functions";
}

&#160;

<h3><a id="index_x" name="index_x"></a>- x -</h3><ul>
<li>XmlFileLocalizationDictionaryProvider()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_xml_file_localization_dictionary_provider.cshtml#a36642f9f86fd5eddecb32233c2617233">PokemonUnity.XmlFileLocalizationDictionaryProvider</a></li>
<li>XmlStringRes()&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml#aa513f7121291355cf7757447ac6ce0a7">PokemonUnity.Localization.XmlStringRes</a></li>
</ul>
