@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_d" name="index_d"></a>- d -</h3><ul>
<li>DatabasePath&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game.cshtml#adc0bc3a5b107c7a70a7d4f29e51ac034">PokemonUnity.Game</a></li>
<li>defense&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3d7551a86e969caaabce67523796e1b9">PokemonUnity.Combat.Pokemon</a></li>
<li>Defrost&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a53fe40c06271f8fe76e76a56515e528c">PokemonUnity.Attack.Data.Flag</a></li>
<li>DEXDEPENDSONLOCATION&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a8a2c2efb8447f1b5caa305a7f16f6e70">PokemonUnity.Application.Feature</a></li>
<li>Distance&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a7df51020ccd86e4edfe542e23cd61154">PokemonUnity.Attack.Data.Flag</a></li>
<li>DIVINGSURFACEANYWHERE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6377fee45843124299266a06eb3748ff">PokemonUnity.Application.Feature</a></li>
<li>DOWN&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a7329cf8abbd6c22198d89b08843a2884">PokemonUnity.Input</a></li>
</ul>

