@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_r" name="index_r"></a>- r -</h3><ul>
<li>R&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#ac5238a57acaaac8b59c7064f6ca96422">PokemonUnity.Input</a></li>
<li>r&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_inverse_restriction.cshtml#a41ce02d7fd76398c7e5ef4b34f44f5d3">PokemonUnity.InverseRestriction</a></li>
<li>Rarirty&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#af23ff854861e488232a798edb8540660">PokemonUnity.Monster.Data.PokemonWildItems</a></li>
<li>real_x&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a73529c696ce9fd0be5e7b2ddeb1ac632">PokemonUnity.Game_Player</a></li>
<li>real_y&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4bb6c15dc55c3ddff761a70b25f4323b">PokemonUnity.Game_Player</a></li>
<li>Recharge&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a38896a5e1f93a32b453ccdbbf4974c34">PokemonUnity.Attack.Data.Flag</a></li>
<li>Reflectable&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a717b3d427e41d585380968bba3403f9f">PokemonUnity.Attack.Data.Flag</a></li>
<li>REFLECTION&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a2fbf75aa507df1920b8aeda0db125362">PokemonUnity.Character.Entities</a></li>
<li>REGULARTONE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml#a4af2abb1409fed88118a24292726551b">PokemonUnity.Character.Entities</a></li>
<li>rentals&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_factory_data.cshtml#a8110dba9e29a26f5c20577e5845a7e96">PokemonUnity.BattleFactoryData</a></li>
<li>RIGHT&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#a642d126f88f5781ac17bc58092563f5c">PokemonUnity.Input</a></li>
<li>RightMouseKey&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#aa3592237c0c23f6173d8816f53226667">PokemonUnity.Input</a></li>
<li>runCommand&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ae6c29067ced665704f32c222425b0a74">PokemonUnity.Combat.Battle</a></li>
</ul>

