@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Class Members - Variables";
}


&#160;

<h3><a id="index_p" name="index_p"></a>- p -</h3><ul>
<li>PacketContainer&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_incoming_packet.cshtml#a3224246ca74605b15084528201a22a23">PokemonUnity.Networking.Packets.IncomingPacket</a>, <a class="el" href="class_pokemon_unity_1_1_networking_1_1_packets_1_1_outgoing_packet.cshtml#a6b95744c72def192a6e422e652606a62">PokemonUnity.Networking.Packets.OutgoingPacket</a></li>
<li>peer&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a8e913ebc1dd4039e457ca98cc7b65138">PokemonUnity.Combat.Battle</a></li>
<li>PERISHSONG&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a4502b04475728d530c93eb687e2dc3ad">PokemonUnity.BattleRule</a></li>
<li>PERISHSONGCLAUSE&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_battle_rule.cshtml#a438b60aeb8b671790e4ae67386765ef4">PokemonUnity.BattleRule</a></li>
<li>pickupUse&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a9934daa355ae40c22240160b9b128f8d">PokemonUnity.Combat.Battle</a></li>
<li>PLAYERNAMELIMIT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a55f08fcf6aa054f46b41fb1abebd8164">PokemonUnity.Application.Feature</a></li>
<li>POCKETAUTOSORT&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#adbfe676ceb26b5ec0c7c5401f85e47bf">PokemonUnity.Application.Feature</a></li>
<li>POISONFAINTINFIELD&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a57e7f9a7d94caa01979313988587b0ff">PokemonUnity.Application.Feature</a></li>
<li>POISONINFIELD&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a3b49616503321dfaccc19f6b8f43b175">PokemonUnity.Application.Feature</a></li>
<li>POKERUSCHANCE&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml#a6f3ae3a8527fd579559f48d4eb614718">PokemonUnity.Application.Feature</a></li>
<li>PowderBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a23384431a31b6dad90b895fc307ed18e">PokemonUnity.Attack.Data.Flag</a></li>
<li>prelock_direction&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a0412850ad45cee7b2d431323cd6f3bc5">PokemonUnity.Game_Player</a></li>
<li>Protectable&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aca96eb842c9abf7b59f2540b12b5a97c">PokemonUnity.Attack.Data.Flag</a></li>
<li>PulseBased&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a33948f1a580dc958b3b1b73c8f2a4ce2">PokemonUnity.Attack.Data.Flag</a></li>
<li>Punching&#160;:&#160;<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ac002475caadfde203588e778f6494b3c">PokemonUnity.Attack.Data.Flag</a></li>
</ul>

