@{
	Page.Title = "Class Members - Variables";
}


&#160;

<h3><a id="index_y" name="index_y"></a>- y -</h3><ul>
<li>y&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a4adc24d0b2f848c8e8f815174b31b052">PokemonUnity.Game_Player</a></li>
<li>Y&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_input.cshtml#aab7346a92026efc888890fe57478c368">PokemonUnity.Input</a></li>
<li>YSUBPIXEL&#160;:&#160;<a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a067e8fbb6691544b9cbaaf4c5d2e3814">PokemonUnity.Game.Game_Map</a></li>
</ul>

