@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Api.cshtml";
}

					<article class="content wrap" id="_content" data-uid="">
						<h1 id="placeholder">PLACEHOLDER</h1>

						<p>Scripting API documentation</p>
					</article>