@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IBattleRule Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleRule Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleRule:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.png" usemap="#PokemonEssentials.Interface.Battle.IBattleRule_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleRule_map" name="PokemonEssentials.Interface.Battle.IBattleRule_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_double_battle.cshtml" alt="PokemonEssentials.Interface.Battle.IDoubleBattle" shape="rect" coords="345,56,680,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_evasion_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IEvasionClause" shape="rect" coords="345,112,680,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_freeze_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IFreezeClause" shape="rect" coords="345,168,680,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_modified_sleep_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IModifiedSleepClause" shape="rect" coords="345,224,680,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_o_h_k_o_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IOHKOClause" shape="rect" coords="345,280,680,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_perish_song_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IPerishSongClause" shape="rect" coords="345,336,680,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_self_k_o_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISelfKOClause" shape="rect" coords="345,392,680,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_selfdestruct_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISelfdestructClause" shape="rect" coords="345,448,680,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_battle.cshtml" alt="PokemonEssentials.Interface.Battle.ISingleBattle" shape="rect" coords="345,504,680,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_skill_swap_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISkillSwapClause" shape="rect" coords="345,560,680,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_sleep_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISleepClause" shape="rect" coords="345,616,680,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_sonic_boom_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISonicBoomClause" shape="rect" coords="345,672,680,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_soul_dew_battle_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISoulDewBattleClause" shape="rect" coords="345,728,680,752"/>
<area href="class_pokemon_unity_1_1_battle_rule.cshtml" alt="PokemonUnity.BattleRule" shape="rect" coords="345,784,680,808"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6a84fb679ad325ccae8252bd37667725"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml#a6a84fb679ad325ccae8252bd37667725">setRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a6a84fb679ad325ccae8252bd37667725"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6a84fb679ad325ccae8252bd37667725" name="a6a84fb679ad325ccae8252bd37667725"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a84fb679ad325ccae8252bd37667725">&#9670;&#160;</a></span>setRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleRule.setRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
