@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IBattleRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.png" usemap="#PokemonEssentials.Interface.Battle.IBattleRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleRestriction_map" name="PokemonEssentials.Interface.Battle.IBattleRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_able_pokemon_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IAblePokemonRestriction" shape="rect" coords="398,56,786,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_baby_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBabyRestriction" shape="rect" coords="398,112,786,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_banned_item_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBannedItemRestriction" shape="rect" coords="398,168,786,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_banned_species_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBannedSpeciesRestriction" shape="rect" coords="398,224,786,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_base_stat_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBaseStatRestriction" shape="rect" coords="398,280,786,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_height_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IHeightRestriction" shape="rect" coords="398,336,786,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_inverse_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IInverseRestriction" shape="rect" coords="398,392,786,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_items_disallowed_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IItemsDisallowedClause" shape="rect" coords="398,448,786,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_little_cup_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.ILittleCupRestriction" shape="rect" coords="398,504,786,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_maximum_level_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IMaximumLevelRestriction" shape="rect" coords="398,560,786,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IMinimumLevelRestriction" shape="rect" coords="398,616,786,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_negative_extended_game_clause.cshtml" alt="PokemonEssentials.Interface.Battle.INegativeExtendedGameClause" shape="rect" coords="398,672,786,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_non_egg_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.INonEggRestriction" shape="rect" coords="398,728,786,752"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nonlegendary_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.INonlegendaryRestriction" shape="rect" coords="398,784,786,808"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_soul_dew_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISoulDewClause" shape="rect" coords="398,840,786,864"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_species_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.ISpeciesRestriction" shape="rect" coords="398,896,786,920"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_standard_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IStandardRestriction" shape="rect" coords="398,952,786,976"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_unevolved_form_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IUnevolvedFormRestriction" shape="rect" coords="398,1008,786,1032"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_weight_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IWeightRestriction" shape="rect" coords="398,1064,786,1088"/>
<area href="class_pokemon_unity_1_1_able_pokemon_restriction.cshtml" alt="PokemonUnity.AblePokemonRestriction" shape="rect" coords="398,1120,786,1144"/>
<area href="class_pokemon_unity_1_1_baby_restriction.cshtml" alt="PokemonUnity.BabyRestriction" shape="rect" coords="398,1176,786,1200"/>
<area href="class_pokemon_unity_1_1_banned_item_restriction.cshtml" alt="PokemonUnity.BannedItemRestriction" shape="rect" coords="398,1232,786,1256"/>
<area href="class_pokemon_unity_1_1_banned_species_restriction.cshtml" alt="PokemonUnity.BannedSpeciesRestriction" shape="rect" coords="398,1288,786,1312"/>
<area href="class_pokemon_unity_1_1_height_restriction.cshtml" alt="PokemonUnity.HeightRestriction" shape="rect" coords="398,1344,786,1368"/>
<area href="class_pokemon_unity_1_1_items_disallowed_clause.cshtml" alt="PokemonUnity.ItemsDisallowedClause" shape="rect" coords="398,1400,786,1424"/>
<area href="class_pokemon_unity_1_1_little_cup_restriction.cshtml" alt="PokemonUnity.LittleCupRestriction" shape="rect" coords="398,1456,786,1480"/>
<area href="class_pokemon_unity_1_1_maximum_level_restriction.cshtml" alt="PokemonUnity.MaximumLevelRestriction" shape="rect" coords="398,1512,786,1536"/>
<area href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml" alt="PokemonUnity.MinimumLevelRestriction" shape="rect" coords="398,1568,786,1592"/>
<area href="class_pokemon_unity_1_1_negative_extended_game_clause.cshtml" alt="PokemonUnity.NegativeExtendedGameClause" shape="rect" coords="398,1624,786,1648"/>
<area href="class_pokemon_unity_1_1_non_egg_restriction.cshtml" alt="PokemonUnity.NonEggRestriction" shape="rect" coords="398,1680,786,1704"/>
<area href="class_pokemon_unity_1_1_soul_dew_clause.cshtml" alt="PokemonUnity.SoulDewClause" shape="rect" coords="398,1736,786,1760"/>
<area href="class_pokemon_unity_1_1_species_restriction.cshtml" alt="PokemonUnity.SpeciesRestriction" shape="rect" coords="398,1792,786,1816"/>
<area href="class_pokemon_unity_1_1_standard_restriction.cshtml" alt="PokemonUnity.StandardRestriction" shape="rect" coords="398,1848,786,1872"/>
<area href="class_pokemon_unity_1_1_unevolved_form_restriction.cshtml" alt="PokemonUnity.UnevolvedFormRestriction" shape="rect" coords="398,1904,786,1928"/>
<area href="class_pokemon_unity_1_1_weight_restriction.cshtml" alt="PokemonUnity.WeightRestriction" shape="rect" coords="398,1960,786,1984"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="adaa85ab73a11a215ef2899adc05c62e1" name="adaa85ab73a11a215ef2899adc05c62e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adaa85ab73a11a215ef2899adc05c62e1">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleRestriction.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
