@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp_sprite_window.cshtml">IGameTempSpriteWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameTempSpriteWindow Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp_sprite_window.cshtml">PokemonEssentials.Interface.IGameTempSpriteWindow</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp_sprite_window.cshtml#a5ceb5b8092b3a088a290198e7611df9c">fadestate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp_sprite_window.cshtml">PokemonEssentials.Interface.IGameTempSpriteWindow</a></td><td class="entry"></td></tr>
</table>
