@{
	Page.Title = "PokemonEssentials.Interface.IStringInput Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">IStringInput</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IStringInput Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a2b5a332db8b6c514b9844cd672a5e143"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">IStringInput</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a2b5a332db8b6c514b9844cd672a5e143">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> str)</td></tr>
<tr class="separator:a2b5a332db8b6c514b9844cd672a5e143"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7884a9fa87ad1a2c78d9669f019cc56a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a7884a9fa87ad1a2c78d9669f019cc56a">inspect</a> ()</td></tr>
<tr class="separator:a7884a9fa87ad1a2c78d9669f019cc56a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f77cc1703bbad0f0dfcc5bcf0b18f8b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a7f77cc1703bbad0f0dfcc5bcf0b18f8b">close</a> ()</td></tr>
<tr class="separator:a7f77cc1703bbad0f0dfcc5bcf0b18f8b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f03b6cb476c71b37ac3a4d71022ecb9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a5f03b6cb476c71b37ac3a4d71022ecb9">closed</a> ()</td></tr>
<tr class="separator:a5f03b6cb476c71b37ac3a4d71022ecb9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a223f2dd2faf52ddc159fb80ce2244bf3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a223f2dd2faf52ddc159fb80ce2244bf3">rewind</a> ()</td></tr>
<tr class="separator:a223f2dd2faf52ddc159fb80ce2244bf3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ea15195fa524732fb5ebd532adf6e34"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a3ea15195fa524732fb5ebd532adf6e34">seek</a> (int offset, int whence=0)</td></tr>
<tr class="separator:a3ea15195fa524732fb5ebd532adf6e34"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09d3a61077f529c3f9638c0b81934665"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a09d3a61077f529c3f9638c0b81934665">eof</a> ()</td></tr>
<tr class="separator:a09d3a61077f529c3f9638c0b81934665"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5341190541aaea44488160553df348e1"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a5341190541aaea44488160553df348e1">each</a> (ref <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>[] block)</td></tr>
<tr class="separator:a5341190541aaea44488160553df348e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f99fb95c65e4bbcaa2a2100f209371c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a8f99fb95c65e4bbcaa2a2100f209371c">gets</a> ()</td></tr>
<tr class="separator:a8f99fb95c65e4bbcaa2a2100f209371c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a156d2d6933f1a221b4d44be33b2fddf9"><td class="memItemLeft" align="right" valign="top">char&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a156d2d6933f1a221b4d44be33b2fddf9">getc</a> ()</td></tr>
<tr class="separator:a156d2d6933f1a221b4d44be33b2fddf9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd263ccef47aab55ba5137e8477145b2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#acd263ccef47aab55ba5137e8477145b2">read</a> (int? len=null)</td></tr>
<tr class="separator:acd263ccef47aab55ba5137e8477145b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e0fa5b77b8b3cfdc3cb4acf4956b733"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a3e0fa5b77b8b3cfdc3cb4acf4956b733">read_all</a> ()</td></tr>
<tr class="separator:a3e0fa5b77b8b3cfdc3cb4acf4956b733"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad8db7c385b9f498f9e59552987889eab"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#ad8db7c385b9f498f9e59552987889eab">lineno</a><code> [get]</code></td></tr>
<tr class="separator:ad8db7c385b9f498f9e59552987889eab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adef7bff54ab28b5e687260737a6f2a7a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a><code> [get]</code></td></tr>
<tr class="separator:adef7bff54ab28b5e687260737a6f2a7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2e3c57fb4e39f1892e9fdc856121f07"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#ab2e3c57fb4e39f1892e9fdc856121f07">pos</a><code> [get, set]</code></td></tr>
<tr class="separator:ab2e3c57fb4e39f1892e9fdc856121f07"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7f77cc1703bbad0f0dfcc5bcf0b18f8b" name="a7f77cc1703bbad0f0dfcc5bcf0b18f8b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f77cc1703bbad0f0dfcc5bcf0b18f8b">&#9670;&#160;</a></span>close()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IStringInput.close </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5f03b6cb476c71b37ac3a4d71022ecb9" name="a5f03b6cb476c71b37ac3a4d71022ecb9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f03b6cb476c71b37ac3a4d71022ecb9">&#9670;&#160;</a></span>closed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IStringInput.closed </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5341190541aaea44488160553df348e1" name="a5341190541aaea44488160553df348e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5341190541aaea44488160553df348e1">&#9670;&#160;</a></span>each()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> &gt; PokemonEssentials.Interface.IStringInput.each </td>
          <td>(</td>
          <td class="paramtype">ref <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>[]&#160;</td>
          <td class="paramname"><em>block</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a09d3a61077f529c3f9638c0b81934665" name="a09d3a61077f529c3f9638c0b81934665"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09d3a61077f529c3f9638c0b81934665">&#9670;&#160;</a></span>eof()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IStringInput.eof </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a156d2d6933f1a221b4d44be33b2fddf9" name="a156d2d6933f1a221b4d44be33b2fddf9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a156d2d6933f1a221b4d44be33b2fddf9">&#9670;&#160;</a></span>getc()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">char PokemonEssentials.Interface.IStringInput.getc </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f99fb95c65e4bbcaa2a2100f209371c" name="a8f99fb95c65e4bbcaa2a2100f209371c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f99fb95c65e4bbcaa2a2100f209371c">&#9670;&#160;</a></span>gets()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> PokemonEssentials.Interface.IStringInput.gets </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2b5a332db8b6c514b9844cd672a5e143" name="a2b5a332db8b6c514b9844cd672a5e143"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b5a332db8b6c514b9844cd672a5e143">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">IStringInput</a> PokemonEssentials.Interface.IStringInput.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a>&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7884a9fa87ad1a2c78d9669f019cc56a" name="a7884a9fa87ad1a2c78d9669f019cc56a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7884a9fa87ad1a2c78d9669f019cc56a">&#9670;&#160;</a></span>inspect()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> PokemonEssentials.Interface.IStringInput.inspect </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acd263ccef47aab55ba5137e8477145b2" name="acd263ccef47aab55ba5137e8477145b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd263ccef47aab55ba5137e8477145b2">&#9670;&#160;</a></span>read()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> PokemonEssentials.Interface.IStringInput.read </td>
          <td>(</td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>len</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e0fa5b77b8b3cfdc3cb4acf4956b733" name="a3e0fa5b77b8b3cfdc3cb4acf4956b733"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e0fa5b77b8b3cfdc3cb4acf4956b733">&#9670;&#160;</a></span>read_all()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a> PokemonEssentials.Interface.IStringInput.read_all </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a223f2dd2faf52ddc159fb80ce2244bf3" name="a223f2dd2faf52ddc159fb80ce2244bf3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a223f2dd2faf52ddc159fb80ce2244bf3">&#9670;&#160;</a></span>rewind()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IStringInput.rewind </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3ea15195fa524732fb5ebd532adf6e34" name="a3ea15195fa524732fb5ebd532adf6e34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ea15195fa524732fb5ebd532adf6e34">&#9670;&#160;</a></span>seek()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IStringInput.seek </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>offset</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>whence</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad8db7c385b9f498f9e59552987889eab" name="ad8db7c385b9f498f9e59552987889eab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8db7c385b9f498f9e59552987889eab">&#9670;&#160;</a></span>lineno</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IStringInput.lineno</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab2e3c57fb4e39f1892e9fdc856121f07" name="ab2e3c57fb4e39f1892e9fdc856121f07"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2e3c57fb4e39f1892e9fdc856121f07">&#9670;&#160;</a></span>pos</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IStringInput.pos</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adef7bff54ab28b5e687260737a6f2a7a" name="adef7bff54ab28b5e687260737a6f2a7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adef7bff54ab28b5e687260737a6f2a7a">&#9670;&#160;</a></span>string</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IStringInput.string</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>

