@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">IPngAnimatedBitmap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IPngAnimatedBitmap Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a678202e385f4ab7d6b92daa411a3c160">bitmap</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#ac793137a1adb9cf9796d3cc29cec106e">copy</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a7bf44e113395c01900d5571386605866">currentIndex</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a2583bc6fa1c42a7d1f7d85547c502989">deanimate</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a318d57a8d8665173727b94bc1cdcbe20">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a7e4faba64fca16cfc53bc0d96c49233a">disposed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a80426d04a5213fcfb3ea021be701c2d4">each</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#aa5d60371ab43f5fb305186bfb65eea81">frameDelay</a>(int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a2d7b1bec82b3e982f613d9409ab707ef">frames</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#afd85427fc4ee01fe569273dd8f772689">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#ab100334c62e1f35f0d59445ab5ceef72">initialize</a>(string file, int hue=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#afc79c849be6f2175089e3baa8827a259">length</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a0208eb22598aecfb73014b9e48e7089d">this[int index]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#a82e1ba6e070c1249efe16be31c92d617">totalFrames</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#ad02548440cff63949e5fb22b3164b2ab">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml#ab4bd96eb1733d64031c5b6e3ef1686df">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_png_animated_bitmap.cshtml">PokemonEssentials.Interface.IPngAnimatedBitmap</a></td><td class="entry"></td></tr>
</table>