@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IFakeBattler Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml">IFakeBattler</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IFakeBattler Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af53675e9cc254658d4fe0fe194862884"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml">IFakeBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#af53675e9cc254658d4fe0fe194862884">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a07427549ae63e2cc1a49fa76f726ccd2">pokemon</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a90954791a5a2d6c31e92ff920d9f8634">index</a>)</td></tr>
<tr class="separator:af53675e9cc254658d4fe0fe194862884"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27f5842742f727f71c9379c8cbfb7349"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a27f5842742f727f71c9379c8cbfb7349">ToString</a> (bool lowercase=false)</td></tr>
<tr class="separator:a27f5842742f727f71c9379c8cbfb7349"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a90954791a5a2d6c31e92ff920d9f8634"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a90954791a5a2d6c31e92ff920d9f8634">index</a><code> [get]</code></td></tr>
<tr class="separator:a90954791a5a2d6c31e92ff920d9f8634"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a07427549ae63e2cc1a49fa76f726ccd2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a07427549ae63e2cc1a49fa76f726ccd2">pokemon</a><code> [get]</code></td></tr>
<tr class="separator:a07427549ae63e2cc1a49fa76f726ccd2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7e422d2bcc3f1b50e45e67a976b1646"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ac7e422d2bcc3f1b50e45e67a976b1646">species</a><code> [get]</code></td></tr>
<tr class="separator:ac7e422d2bcc3f1b50e45e67a976b1646"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49a91cf82003cac8e48e6878a03d90b8"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a49a91cf82003cac8e48e6878a03d90b8">gender</a><code> [get]</code></td></tr>
<tr class="separator:a49a91cf82003cac8e48e6878a03d90b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad89d5dd8cbd9fc1bcb1080de05904bac"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ad89d5dd8cbd9fc1bcb1080de05904bac">status</a><code> [get]</code></td></tr>
<tr class="separator:ad89d5dd8cbd9fc1bcb1080de05904bac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36028b47fc3a33a69eada16ed9d67922"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a36028b47fc3a33a69eada16ed9d67922">hp</a><code> [get]</code></td></tr>
<tr class="separator:a36028b47fc3a33a69eada16ed9d67922"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0db3a3941b74da05d50f8439bc5edae8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a0db3a3941b74da05d50f8439bc5edae8">level</a><code> [get]</code></td></tr>
<tr class="separator:a0db3a3941b74da05d50f8439bc5edae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94cd9f9372cc26c5b4a21fde8679df86"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a94cd9f9372cc26c5b4a21fde8679df86">name</a><code> [get]</code></td></tr>
<tr class="separator:a94cd9f9372cc26c5b4a21fde8679df86"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6959a8dcada2647b53fbb9d7d5f450a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ab6959a8dcada2647b53fbb9d7d5f450a">totalhp</a><code> [get]</code></td></tr>
<tr class="separator:ab6959a8dcada2647b53fbb9d7d5f450a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d84395e05525e8d29b47c795d35e6f6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a3d84395e05525e8d29b47c795d35e6f6">owned</a><code> [get]</code></td></tr>
<tr class="separator:a3d84395e05525e8d29b47c795d35e6f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98878acb734311308f46f967e2bca683"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a98878acb734311308f46f967e2bca683">isFainted</a><code> [get]</code></td></tr>
<tr class="separator:a98878acb734311308f46f967e2bca683"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf844ce79dadda31099edb574d251e0f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#adf844ce79dadda31099edb574d251e0f">isShiny</a><code> [get]</code></td></tr>
<tr class="separator:adf844ce79dadda31099edb574d251e0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c3743052c47395d1ed9489ade5ee741"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a1c3743052c47395d1ed9489ade5ee741">isShadow</a><code> [get]</code></td></tr>
<tr class="separator:a1c3743052c47395d1ed9489ade5ee741"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a704544000c048a8a3c79281349cfd9e2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a704544000c048a8a3c79281349cfd9e2">hasMega</a><code> [get]</code></td></tr>
<tr class="separator:a704544000c048a8a3c79281349cfd9e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab287de82a789f4e3835a7232824af28f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ab287de82a789f4e3835a7232824af28f">isMega</a><code> [get]</code></td></tr>
<tr class="separator:ab287de82a789f4e3835a7232824af28f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94558163ed8f39aed04b7fd56cc57f40"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a94558163ed8f39aed04b7fd56cc57f40">hasPrimal</a><code> [get]</code></td></tr>
<tr class="separator:a94558163ed8f39aed04b7fd56cc57f40"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36d0a8a1580811a0b78c1450e5c4e23f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a36d0a8a1580811a0b78c1450e5c4e23f">isPrimal</a><code> [get]</code></td></tr>
<tr class="separator:a36d0a8a1580811a0b78c1450e5c4e23f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae3c0e66d4b55e8d1ad547c2dfa87aa49"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ae3c0e66d4b55e8d1ad547c2dfa87aa49">displayGender</a><code> [get]</code></td></tr>
<tr class="memdesc:ae3c0e66d4b55e8d1ad547c2dfa87aa49"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns the gender of the pokemon for UI   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#ae3c0e66d4b55e8d1ad547c2dfa87aa49">More...</a><br /></td></tr>
<tr class="separator:ae3c0e66d4b55e8d1ad547c2dfa87aa49"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11a1704e56322ab46f43edfd4fc64838"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml#a11a1704e56322ab46f43edfd4fc64838">captured</a><code> [get, set]</code></td></tr>
<tr class="separator:a11a1704e56322ab46f43edfd4fc64838"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af53675e9cc254658d4fe0fe194862884" name="af53675e9cc254658d4fe0fe194862884"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af53675e9cc254658d4fe0fe194862884">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_fake_battler.cshtml">IFakeBattler</a> PokemonEssentials.Interface.PokeBattle.IFakeBattler.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a27f5842742f727f71c9379c8cbfb7349" name="a27f5842742f727f71c9379c8cbfb7349"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27f5842742f727f71c9379c8cbfb7349">&#9670;&#160;</a></span>ToString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IFakeBattler.ToString </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>lowercase</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a11a1704e56322ab46f43edfd4fc64838" name="a11a1704e56322ab46f43edfd4fc64838"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11a1704e56322ab46f43edfd4fc64838">&#9670;&#160;</a></span>captured</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.captured</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae3c0e66d4b55e8d1ad547c2dfa87aa49" name="ae3c0e66d4b55e8d1ad547c2dfa87aa49"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae3c0e66d4b55e8d1ad547c2dfa87aa49">&#9670;&#160;</a></span>displayGender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonEssentials.Interface.PokeBattle.IFakeBattler.displayGender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns the gender of the pokemon for UI  </p>

</div>
</div>
<a id="a49a91cf82003cac8e48e6878a03d90b8" name="a49a91cf82003cac8e48e6878a03d90b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49a91cf82003cac8e48e6878a03d90b8">&#9670;&#160;</a></span>gender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonEssentials.Interface.PokeBattle.IFakeBattler.gender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a704544000c048a8a3c79281349cfd9e2" name="a704544000c048a8a3c79281349cfd9e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a704544000c048a8a3c79281349cfd9e2">&#9670;&#160;</a></span>hasMega</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.hasMega</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a94558163ed8f39aed04b7fd56cc57f40" name="a94558163ed8f39aed04b7fd56cc57f40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94558163ed8f39aed04b7fd56cc57f40">&#9670;&#160;</a></span>hasPrimal</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.hasPrimal</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a36028b47fc3a33a69eada16ed9d67922" name="a36028b47fc3a33a69eada16ed9d67922"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36028b47fc3a33a69eada16ed9d67922">&#9670;&#160;</a></span>hp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IFakeBattler.hp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a90954791a5a2d6c31e92ff920d9f8634" name="a90954791a5a2d6c31e92ff920d9f8634"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90954791a5a2d6c31e92ff920d9f8634">&#9670;&#160;</a></span>index</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IFakeBattler.index</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a98878acb734311308f46f967e2bca683" name="a98878acb734311308f46f967e2bca683"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98878acb734311308f46f967e2bca683">&#9670;&#160;</a></span>isFainted</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.isFainted</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab287de82a789f4e3835a7232824af28f" name="ab287de82a789f4e3835a7232824af28f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab287de82a789f4e3835a7232824af28f">&#9670;&#160;</a></span>isMega</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.isMega</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a36d0a8a1580811a0b78c1450e5c4e23f" name="a36d0a8a1580811a0b78c1450e5c4e23f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36d0a8a1580811a0b78c1450e5c4e23f">&#9670;&#160;</a></span>isPrimal</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.isPrimal</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1c3743052c47395d1ed9489ade5ee741" name="a1c3743052c47395d1ed9489ade5ee741"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c3743052c47395d1ed9489ade5ee741">&#9670;&#160;</a></span>isShadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.isShadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adf844ce79dadda31099edb574d251e0f" name="adf844ce79dadda31099edb574d251e0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf844ce79dadda31099edb574d251e0f">&#9670;&#160;</a></span>isShiny</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.isShiny</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0db3a3941b74da05d50f8439bc5edae8" name="a0db3a3941b74da05d50f8439bc5edae8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0db3a3941b74da05d50f8439bc5edae8">&#9670;&#160;</a></span>level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IFakeBattler.level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a94cd9f9372cc26c5b4a21fde8679df86" name="a94cd9f9372cc26c5b4a21fde8679df86"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94cd9f9372cc26c5b4a21fde8679df86">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IFakeBattler.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3d84395e05525e8d29b47c795d35e6f6" name="a3d84395e05525e8d29b47c795d35e6f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d84395e05525e8d29b47c795d35e6f6">&#9670;&#160;</a></span>owned</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IFakeBattler.owned</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a07427549ae63e2cc1a49fa76f726ccd2" name="a07427549ae63e2cc1a49fa76f726ccd2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a07427549ae63e2cc1a49fa76f726ccd2">&#9670;&#160;</a></span>pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.PokeBattle.IFakeBattler.pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac7e422d2bcc3f1b50e45e67a976b1646" name="ac7e422d2bcc3f1b50e45e67a976b1646"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7e422d2bcc3f1b50e45e67a976b1646">&#9670;&#160;</a></span>species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.PokeBattle.IFakeBattler.species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad89d5dd8cbd9fc1bcb1080de05904bac" name="ad89d5dd8cbd9fc1bcb1080de05904bac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad89d5dd8cbd9fc1bcb1080de05904bac">&#9670;&#160;</a></span>status</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IFakeBattler.status</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab6959a8dcada2647b53fbb9d7d5f450a" name="ab6959a8dcada2647b53fbb9d7d5f450a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6959a8dcada2647b53fbb9d7d5f450a">&#9670;&#160;</a></span>totalhp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IFakeBattler.totalhp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_safari_zone_8cs.cshtml">ISafariZone.cs</a></li>
</ul>
