@{
	Page.Title = "PokemonEssentials.Interface.Screen.IRegionalStorage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml">IRegionalStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IRegionalStorage Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IRegionalStorage:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.png" usemap="#PokemonEssentials.Interface.Screen.IRegionalStorage_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IRegionalStorage_map" name="PokemonEssentials.Interface.Screen.IRegionalStorage_map">
<area href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml" alt="PokemonUnity.Character.RegionalStorage" shape="rect" coords="0,56,318,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aac5362a8b529167b66ba6caa012768aa"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml">IRegionalStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#aac5362a8b529167b66ba6caa012768aa">initialize</a> ()</td></tr>
<tr class="separator:aac5362a8b529167b66ba6caa012768aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4bbbada0abdab9d94c02a2518d53f269"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a4bbbada0abdab9d94c02a2518d53f269">maxPokemon</a> (int box)</td></tr>
<tr class="separator:a4bbbada0abdab9d94c02a2518d53f269"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ecc936380dedea13b49a6da54b56094"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a3ecc936380dedea13b49a6da54b56094">FirstFreePos</a> (int box)</td></tr>
<tr class="separator:a3ecc936380dedea13b49a6da54b56094"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af035800a5cbebd639499aa8861bafdd0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#af035800a5cbebd639499aa8861bafdd0">Copy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:af035800a5cbebd639499aa8861bafdd0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3d67edcc2b8ff437392c26eec290aec"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#ad3d67edcc2b8ff437392c26eec290aec">Move</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:ad3d67edcc2b8ff437392c26eec290aec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4181d38c3a1d11fd730b89acbefb85ec"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a4181d38c3a1d11fd730b89acbefb85ec">MoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a4181d38c3a1d11fd730b89acbefb85ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab0756ca947dae7b7ddd00c41397bbb1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#aab0756ca947dae7b7ddd00c41397bbb1">MoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:aab0756ca947dae7b7ddd00c41397bbb1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e32ef794001595303878c8a5b61fadb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a8e32ef794001595303878c8a5b61fadb">StoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a8e32ef794001595303878c8a5b61fadb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba9eec2a0e6eb380d292cd0a2d600a11"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#aba9eec2a0e6eb380d292cd0a2d600a11">Delete</a> (int box, int index)</td></tr>
<tr class="separator:aba9eec2a0e6eb380d292cd0a2d600a11"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0115b93ef7be892ca7f787c01c5e9761"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">IPCPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a0115b93ef7be892ca7f787c01c5e9761">getCurrentStorage</a><code> [get]</code></td></tr>
<tr class="separator:a0115b93ef7be892ca7f787c01c5e9761"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8cb51c2705f27f0b684ed95350d2b0f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#aa8cb51c2705f27f0b684ed95350d2b0f">boxes</a><code> [get]</code></td></tr>
<tr class="separator:aa8cb51c2705f27f0b684ed95350d2b0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab239d611d88b377c40f5544c76a93194"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#ab239d611d88b377c40f5544c76a93194">party</a><code> [get]</code></td></tr>
<tr class="separator:ab239d611d88b377c40f5544c76a93194"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c688e6c6b7ed32223be758de15aaa87"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a8c688e6c6b7ed32223be758de15aaa87">currentBox</a><code> [get, set]</code></td></tr>
<tr class="separator:a8c688e6c6b7ed32223be758de15aaa87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a116b202a7f9a3a3bd4bc6a2784d25298"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a116b202a7f9a3a3bd4bc6a2784d25298">maxBoxes</a><code> [get]</code></td></tr>
<tr class="separator:a116b202a7f9a3a3bd4bc6a2784d25298"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6272419cfa6dc66aafbeb4420b84bfb4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a6272419cfa6dc66aafbeb4420b84bfb4">this[int x]</a><code> [get]</code></td></tr>
<tr class="separator:a6272419cfa6dc66aafbeb4420b84bfb4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a036f493d9d0b64f6c333ffae3f05d075"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#a036f493d9d0b64f6c333ffae3f05d075">this[int x, int y]</a><code> [get, set]</code></td></tr>
<tr class="separator:a036f493d9d0b64f6c333ffae3f05d075"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7b6cd97739eb484989e1b8f24da1114"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml#aa7b6cd97739eb484989e1b8f24da1114">full</a><code> [get]</code></td></tr>
<tr class="separator:aa7b6cd97739eb484989e1b8f24da1114"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af035800a5cbebd639499aa8861bafdd0" name="af035800a5cbebd639499aa8861bafdd0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af035800a5cbebd639499aa8861bafdd0">&#9670;&#160;</a></span>Copy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.Copy </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxSrc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexSrc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#acdcbde9673182d4a4ec18b64252e56df">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="aba9eec2a0e6eb380d292cd0a2d600a11" name="aba9eec2a0e6eb380d292cd0a2d600a11"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba9eec2a0e6eb380d292cd0a2d600a11">&#9670;&#160;</a></span>Delete()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.Delete </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#ac42cf2863f994cfaff1b756f2efca55b">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a3ecc936380dedea13b49a6da54b56094" name="a3ecc936380dedea13b49a6da54b56094"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ecc936380dedea13b49a6da54b56094">&#9670;&#160;</a></span>FirstFreePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.FirstFreePos </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#aab4634b2254c42cecdda8130c4e73e3c">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="aac5362a8b529167b66ba6caa012768aa" name="aac5362a8b529167b66ba6caa012768aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac5362a8b529167b66ba6caa012768aa">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_regional_storage.cshtml">IRegionalStorage</a> PokemonEssentials.Interface.Screen.IRegionalStorage.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a35e8fd67215a1ab2bc6320d4bd09eb45">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a4bbbada0abdab9d94c02a2518d53f269" name="a4bbbada0abdab9d94c02a2518d53f269"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4bbbada0abdab9d94c02a2518d53f269">&#9670;&#160;</a></span>maxPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IRegionalStorage.maxPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a4a1667f66eca0cd8c79da45dae4c0d62">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="ad3d67edcc2b8ff437392c26eec290aec" name="ad3d67edcc2b8ff437392c26eec290aec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3d67edcc2b8ff437392c26eec290aec">&#9670;&#160;</a></span>Move()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.Move </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxSrc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexSrc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a00c6e92be155210d4f6187c335a4689c">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="aab0756ca947dae7b7ddd00c41397bbb1" name="aab0756ca947dae7b7ddd00c41397bbb1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab0756ca947dae7b7ddd00c41397bbb1">&#9670;&#160;</a></span>MoveCaughtToBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.MoveCaughtToBox </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4181d38c3a1d11fd730b89acbefb85ec" name="a4181d38c3a1d11fd730b89acbefb85ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4181d38c3a1d11fd730b89acbefb85ec">&#9670;&#160;</a></span>MoveCaughtToParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.MoveCaughtToParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8e32ef794001595303878c8a5b61fadb" name="a8e32ef794001595303878c8a5b61fadb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e32ef794001595303878c8a5b61fadb">&#9670;&#160;</a></span>StoreCaught()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRegionalStorage.StoreCaught </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa8cb51c2705f27f0b684ed95350d2b0f" name="aa8cb51c2705f27f0b684ed95350d2b0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa8cb51c2705f27f0b684ed95350d2b0f">&#9670;&#160;</a></span>boxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> [] PokemonEssentials.Interface.Screen.IRegionalStorage.boxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a18c3e3e608a748c23b2894435e51edcf">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a8c688e6c6b7ed32223be758de15aaa87" name="a8c688e6c6b7ed32223be758de15aaa87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c688e6c6b7ed32223be758de15aaa87">&#9670;&#160;</a></span>currentBox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IRegionalStorage.currentBox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#aed0bc41e84ebb8fffce974b1992b4547">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="aa7b6cd97739eb484989e1b8f24da1114" name="aa7b6cd97739eb484989e1b8f24da1114"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7b6cd97739eb484989e1b8f24da1114">&#9670;&#160;</a></span>full</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IRegionalStorage.full</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#aba009ec3c661c0317c35ef0e44c9d2f2">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a0115b93ef7be892ca7f787c01c5e9761" name="a0115b93ef7be892ca7f787c01c5e9761"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0115b93ef7be892ca7f787c01c5e9761">&#9670;&#160;</a></span>getCurrentStorage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">IPCPokemonStorage</a> PokemonEssentials.Interface.Screen.IRegionalStorage.getCurrentStorage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a2db32213551e647b4f97979a658049e6">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a116b202a7f9a3a3bd4bc6a2784d25298" name="a116b202a7f9a3a3bd4bc6a2784d25298"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a116b202a7f9a3a3bd4bc6a2784d25298">&#9670;&#160;</a></span>maxBoxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IRegionalStorage.maxBoxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#ac8bbd1c0420d09b23913628af90ecaa9">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="ab239d611d88b377c40f5544c76a93194" name="ab239d611d88b377c40f5544c76a93194"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab239d611d88b377c40f5544c76a93194">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.Screen.IRegionalStorage.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a765f5791558fd8449704b624d21c9208">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a036f493d9d0b64f6c333ffae3f05d075" name="a036f493d9d0b64f6c333ffae3f05d075"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a036f493d9d0b64f6c333ffae3f05d075">&#9670;&#160;</a></span>this[int x, int y]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Screen.IRegionalStorage.this[int x, int y]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a55cdafe6d7dcb75298775dd151590cd8">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<a id="a6272419cfa6dc66aafbeb4420b84bfb4" name="a6272419cfa6dc66aafbeb4420b84bfb4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6272419cfa6dc66aafbeb4420b84bfb4">&#9670;&#160;</a></span>this[int x]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> PokemonEssentials.Interface.Screen.IRegionalStorage.this[int x]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml#a7530916222956b4daee14f39be53f1e7">PokemonUnity.Character.RegionalStorage</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>

