@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">IMapInfo</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a104066307ab93f895caf47f98c0be86c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a104066307ab93f895caf47f98c0be86c">name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a104066307ab93f895caf47f98c0be86c"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map name.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a104066307ab93f895caf47f98c0be86c">More...</a><br /></td></tr>
<tr class="separator:a104066307ab93f895caf47f98c0be86c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a900b0049ce2cabe34f0f5d6d64c73a73"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a900b0049ce2cabe34f0f5d6d64c73a73">parent_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a900b0049ce2cabe34f0f5d6d64c73a73"><td class="mdescLeft">&#160;</td><td class="mdescRight">The parent map ID.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a900b0049ce2cabe34f0f5d6d64c73a73">More...</a><br /></td></tr>
<tr class="separator:a900b0049ce2cabe34f0f5d6d64c73a73"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3cbd0972482645100a9fa64f97431f9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#aa3cbd0972482645100a9fa64f97431f9">order</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aa3cbd0972482645100a9fa64f97431f9"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map tree display order, used internally.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#aa3cbd0972482645100a9fa64f97431f9">More...</a><br /></td></tr>
<tr class="separator:aa3cbd0972482645100a9fa64f97431f9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6fc7415252e2af796492a269bcf9096"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#ac6fc7415252e2af796492a269bcf9096">expanded</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac6fc7415252e2af796492a269bcf9096"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map tree expansion flag, used internally.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#ac6fc7415252e2af796492a269bcf9096">More...</a><br /></td></tr>
<tr class="separator:ac6fc7415252e2af796492a269bcf9096"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd206916bfb79785e7b0587616ffefe7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#acd206916bfb79785e7b0587616ffefe7">scroll_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:acd206916bfb79785e7b0587616ffefe7"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-axis scroll position, used internally.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#acd206916bfb79785e7b0587616ffefe7">More...</a><br /></td></tr>
<tr class="separator:acd206916bfb79785e7b0587616ffefe7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a60c654e589b5709a8636cf14ea6f46f3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a60c654e589b5709a8636cf14ea6f46f3">scroll_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a60c654e589b5709a8636cf14ea6f46f3"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-axis scroll position, used internally.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a60c654e589b5709a8636cf14ea6f46f3">More...</a><br /></td></tr>
<tr class="separator:a60c654e589b5709a8636cf14ea6f46f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac6fc7415252e2af796492a269bcf9096" name="ac6fc7415252e2af796492a269bcf9096"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6fc7415252e2af796492a269bcf9096">&#9670;&#160;</a></span>expanded</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.expanded</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map tree expansion flag, used internally.  </p>

</div>
</div>
<a id="a104066307ab93f895caf47f98c0be86c" name="a104066307ab93f895caf47f98c0be86c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a104066307ab93f895caf47f98c0be86c">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map name.  </p>

</div>
</div>
<a id="aa3cbd0972482645100a9fa64f97431f9" name="aa3cbd0972482645100a9fa64f97431f9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3cbd0972482645100a9fa64f97431f9">&#9670;&#160;</a></span>order</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.order</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map tree display order, used internally.  </p>

</div>
</div>
<a id="a900b0049ce2cabe34f0f5d6d64c73a73" name="a900b0049ce2cabe34f0f5d6d64c73a73"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a900b0049ce2cabe34f0f5d6d64c73a73">&#9670;&#160;</a></span>parent_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.parent_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The parent map ID.  </p>

</div>
</div>
<a id="acd206916bfb79785e7b0587616ffefe7" name="acd206916bfb79785e7b0587616ffefe7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd206916bfb79785e7b0587616ffefe7">&#9670;&#160;</a></span>scroll_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.scroll_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-axis scroll position, used internally.  </p>

</div>
</div>
<a id="a60c654e589b5709a8636cf14ea6f46f3" name="a60c654e589b5709a8636cf14ea6f46f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a60c654e589b5709a8636cf14ea6f46f3">&#9670;&#160;</a></span>scroll_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo.scroll_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-axis scroll position, used internally.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>

