@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">IAudioState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#aec621e274dfd53971c1e824f4bf9dc76">bgm</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#aefc8a01eaa3de7747c9ea5c05f6c4533">bgmActive</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a41314f828c16a956cd0bc91952509521">bgsContext</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a180980c71b8527ed923a24fe54e08e00">context</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#ab16f95d70c4be68f6a3d496adb287075">meActive</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a1f48133465404479fed40f45bef9ae65">meContext</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#aa709257360a0796580180fc9c135778d">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a454b6d8bede94d1134167f55d993849a">pitch</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#aa110c551c9bf85a6c780658853fb304d">seContext</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a1e5e69e944876b4c55cda91655e1d5dc">setWaitingBGM</a>(IAudioBGM bgm, int volume, float pitch, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#aa2a52810b80640aefab256a3b608c4a4">volume</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml#a5488e7533afcecb8a27f2509c93c7c96">waitingBGM</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_state.cshtml">PokemonEssentials.Interface.IAudioState</a></td><td class="entry"></td></tr>
</table>
