@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioBGM Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml#ab8fa34a7883fc4404dde10b64a5b2c80">clone</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml#a87fab9898cf23525c5454d6022a3310b">fade</a>(int time)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml#a1e368af12a0ccc740b857fdec5923832">last</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a8e7a6731cead227df83168b23d663cdb">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml#a9ad224b5da47dd582f93e149b8b48fa8">play</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml#a9a56c908d60165ed8c9506afb42f7a9e">stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">PokemonEssentials.Interface.IAudioBGM</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
</table>