@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml">IBushBitmap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IBushBitmap Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml">PokemonEssentials.Interface.IBushBitmap</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml#a12fa91e8681ca0890d51d40dc99639d6">bitmap</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml">PokemonEssentials.Interface.IBushBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml#a24d9d130f01298c24163f88a72b8d51b">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bush_bitmap.cshtml">PokemonEssentials.Interface.IBushBitmap</a></td><td class="entry"></td></tr>
</table>