@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonSystemOption Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">IPokemonSystemOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonSystemOption Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonSystemOption:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonSystemOption_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonSystemOption_map" name="PokemonEssentials.Interface.Screen.IPokemonSystemOption_map">
<area href="class_pokemon_unity_1_1_pokemon_system.cshtml" alt="PokemonUnity.PokemonSystem" shape="rect" coords="0,56,353,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab29c59d5e2291e29184a0af557b0e9ef"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">IPokemonSystemOption</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ab29c59d5e2291e29184a0af557b0e9ef">initialize</a> ()</td></tr>
<tr class="separator:ab29c59d5e2291e29184a0af557b0e9ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aded269acf3229715343edbe48e23d893"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#aded269acf3229715343edbe48e23d893">textspeed</a><code> [get, set]</code></td></tr>
<tr class="separator:aded269acf3229715343edbe48e23d893"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4cf3c4b8741b18e54a2343e3d26ba184"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a4cf3c4b8741b18e54a2343e3d26ba184">battlescene</a><code> [get, set]</code></td></tr>
<tr class="separator:a4cf3c4b8741b18e54a2343e3d26ba184"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f65398e4e41fe156a444237e7e2bcde"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a7f65398e4e41fe156a444237e7e2bcde">battlestyle</a><code> [get, set]</code></td></tr>
<tr class="separator:a7f65398e4e41fe156a444237e7e2bcde"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822c0cefd8f22bf13d3574c627b46a3b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a822c0cefd8f22bf13d3574c627b46a3b">frame</a><code> [get, set]</code></td></tr>
<tr class="separator:a822c0cefd8f22bf13d3574c627b46a3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a598394a6e84e6c614ce2f65c6584b1a7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a598394a6e84e6c614ce2f65c6584b1a7">textskin</a><code> [get]</code></td></tr>
<tr class="separator:a598394a6e84e6c614ce2f65c6584b1a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a144b661705eb090ea4301b2d95e37915"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a144b661705eb090ea4301b2d95e37915">font</a><code> [get, set]</code></td></tr>
<tr class="separator:a144b661705eb090ea4301b2d95e37915"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46c111b7c82c2d7c0ec0d2a635e78eef"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a46c111b7c82c2d7c0ec0d2a635e78eef">screensize</a><code> [get, set]</code></td></tr>
<tr class="separator:a46c111b7c82c2d7c0ec0d2a635e78eef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d477a7d2ada466b8e5f587c55a550a3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a5d477a7d2ada466b8e5f587c55a550a3">language</a><code> [get]</code></td></tr>
<tr class="separator:a5d477a7d2ada466b8e5f587c55a550a3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9bff3506e845369f08e4c6747f7c70e7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a9bff3506e845369f08e4c6747f7c70e7">border</a><code> [get]</code></td></tr>
<tr class="separator:a9bff3506e845369f08e4c6747f7c70e7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71d5dae12f2e8b7ae846181fd9861374"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a71d5dae12f2e8b7ae846181fd9861374">runstyle</a><code> [get]</code></td></tr>
<tr class="separator:a71d5dae12f2e8b7ae846181fd9861374"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:accee740bea8af6bee0757a7550dea28f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#accee740bea8af6bee0757a7550dea28f">bgmvolume</a><code> [get]</code></td></tr>
<tr class="separator:accee740bea8af6bee0757a7550dea28f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1131a30355b3ab222a340fba284d212"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#ac1131a30355b3ab222a340fba284d212">sevolume</a><code> [get]</code></td></tr>
<tr class="separator:ac1131a30355b3ab222a340fba284d212"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58dd9ac4e15d87f1b2425f10a699b042"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml#a58dd9ac4e15d87f1b2425f10a699b042">tilemap</a><code> [get]</code></td></tr>
<tr class="separator:a58dd9ac4e15d87f1b2425f10a699b042"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab29c59d5e2291e29184a0af557b0e9ef" name="ab29c59d5e2291e29184a0af557b0e9ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab29c59d5e2291e29184a0af557b0e9ef">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">IPokemonSystemOption</a> PokemonEssentials.Interface.Screen.IPokemonSystemOption.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ada8af66da8823c5495fbaf010fa709f7">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a4cf3c4b8741b18e54a2343e3d26ba184" name="a4cf3c4b8741b18e54a2343e3d26ba184"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4cf3c4b8741b18e54a2343e3d26ba184">&#9670;&#160;</a></span>battlescene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.battlescene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac8ca6546ad2e9aad767591d11b7b5d7d">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a7f65398e4e41fe156a444237e7e2bcde" name="a7f65398e4e41fe156a444237e7e2bcde"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f65398e4e41fe156a444237e7e2bcde">&#9670;&#160;</a></span>battlestyle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.battlestyle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a48bd46020dee9f3d3f7c79a8b89a0ed0">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="accee740bea8af6bee0757a7550dea28f" name="accee740bea8af6bee0757a7550dea28f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#accee740bea8af6bee0757a7550dea28f">&#9670;&#160;</a></span>bgmvolume</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.bgmvolume</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20a9fd945ada1ac4b25b765949df5c5a">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a9bff3506e845369f08e4c6747f7c70e7" name="a9bff3506e845369f08e4c6747f7c70e7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9bff3506e845369f08e4c6747f7c70e7">&#9670;&#160;</a></span>border</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.border</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#aed6301ceb8ed97e5ed46ba2375d26974">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a144b661705eb090ea4301b2d95e37915" name="a144b661705eb090ea4301b2d95e37915"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a144b661705eb090ea4301b2d95e37915">&#9670;&#160;</a></span>font</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.font</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a20381512ddf33e0ae9bba6ff947b7933">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a822c0cefd8f22bf13d3574c627b46a3b" name="a822c0cefd8f22bf13d3574c627b46a3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a822c0cefd8f22bf13d3574c627b46a3b">&#9670;&#160;</a></span>frame</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.frame</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab7852c943612559a9ec932dcc2b14411">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a5d477a7d2ada466b8e5f587c55a550a3" name="a5d477a7d2ada466b8e5f587c55a550a3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d477a7d2ada466b8e5f587c55a550a3">&#9670;&#160;</a></span>language</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.language</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ae82b87577d4c5e2c353b6fdc3d5d53a2">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a71d5dae12f2e8b7ae846181fd9861374" name="a71d5dae12f2e8b7ae846181fd9861374"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71d5dae12f2e8b7ae846181fd9861374">&#9670;&#160;</a></span>runstyle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.runstyle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3e98b915716e31bd19414ccbc68cda9b">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a46c111b7c82c2d7c0ec0d2a635e78eef" name="a46c111b7c82c2d7c0ec0d2a635e78eef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46c111b7c82c2d7c0ec0d2a635e78eef">&#9670;&#160;</a></span>screensize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.screensize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ab2656323279a184324468245abeaa1c2">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="ac1131a30355b3ab222a340fba284d212" name="ac1131a30355b3ab222a340fba284d212"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1131a30355b3ab222a340fba284d212">&#9670;&#160;</a></span>sevolume</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.sevolume</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#ac238057442f5d189006f47271abb04cc">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a598394a6e84e6c614ce2f65c6584b1a7" name="a598394a6e84e6c614ce2f65c6584b1a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a598394a6e84e6c614ce2f65c6584b1a7">&#9670;&#160;</a></span>textskin</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.textskin</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a3779682f6296c6fc79b24aac5f97f487">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="aded269acf3229715343edbe48e23d893" name="aded269acf3229715343edbe48e23d893"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aded269acf3229715343edbe48e23d893">&#9670;&#160;</a></span>textspeed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.textspeed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a30b0c900e4b8ec627b698ac8eae8c5fd">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<a id="a58dd9ac4e15d87f1b2425f10a699b042" name="a58dd9ac4e15d87f1b2425f10a699b042"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a58dd9ac4e15d87f1b2425f10a699b042">&#9670;&#160;</a></span>tilemap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonSystemOption.tilemap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_system.cshtml#a7cc54a6d4054fd27353170526e38df62">PokemonUnity.PokemonSystem</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>

