@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_utility.cshtml">Utility</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Utility.IPoint Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml#a37d8bc4fac0acb2ff22738dc5cfe9a59">x</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml#a376673443d243e1aa074b7690c9ac724">y</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a></td><td class="entry"></td></tr>
</table>