@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.IGame_Screen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml">IGame_Screen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_game___screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IGame_Screen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IGame_Screen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_game___screen.png" usemap="#PokemonUnity.IGame_5FScreen_map" alt=""/>
  <map id="PokemonUnity.IGame_5FScreen_map" name="PokemonUnity.IGame_5FScreen_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,178,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a69057e546dc2dd8e27ddb7296490b85c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a69057e546dc2dd8e27ddb7296490b85c">start_flash</a> (Color color, int duration)</td></tr>
<tr class="separator:a69057e546dc2dd8e27ddb7296490b85c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad94209e62a2d5478e7079bb0234f68e4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#ad94209e62a2d5478e7079bb0234f68e4">start_shake</a> (float power, float speed, int duration)</td></tr>
<tr class="separator:ad94209e62a2d5478e7079bb0234f68e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aebe517c64b320a5933660fb42d855b61"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#aebe517c64b320a5933660fb42d855b61">update</a> ()</td></tr>
<tr class="separator:aebe517c64b320a5933660fb42d855b61"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3507293af4960f67558e5f9e616340bb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a3507293af4960f67558e5f9e616340bb">weather</a> (int type, int power, int duration)</td></tr>
<tr class="separator:a3507293af4960f67558e5f9e616340bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a03a7ee00a05ddfdd2df219515dec1727"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a03a7ee00a05ddfdd2df219515dec1727">brightness</a><code> [get]</code></td></tr>
<tr class="separator:a03a7ee00a05ddfdd2df219515dec1727"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf2bbd1027bab6b8912d10e9fe939bb5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#adf2bbd1027bab6b8912d10e9fe939bb5">flash_color</a><code> [get]</code></td></tr>
<tr class="separator:adf2bbd1027bab6b8912d10e9fe939bb5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7785e2058eab9b99ac3557bbdf82a2ad"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a7785e2058eab9b99ac3557bbdf82a2ad">pictures</a><code> [get]</code></td></tr>
<tr class="separator:a7785e2058eab9b99ac3557bbdf82a2ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b178f70a2ed900f8172e5d1d0b38369"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a3b178f70a2ed900f8172e5d1d0b38369">shake</a><code> [get]</code></td></tr>
<tr class="separator:a3b178f70a2ed900f8172e5d1d0b38369"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a64937a9d1e38a168e098bce3927ff643"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a64937a9d1e38a168e098bce3927ff643">tone</a><code> [get]</code></td></tr>
<tr class="separator:a64937a9d1e38a168e098bce3927ff643"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4eea9a983d8ef39c1a1b7163f2cca621"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a4eea9a983d8ef39c1a1b7163f2cca621">weather_max</a><code> [get]</code></td></tr>
<tr class="separator:a4eea9a983d8ef39c1a1b7163f2cca621"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61c0ef446f9433b7627ec57e4b1233c4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">Overworld.FieldWeathers</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_game___screen.cshtml#a61c0ef446f9433b7627ec57e4b1233c4">weather_type</a><code> [get]</code></td></tr>
<tr class="separator:a61c0ef446f9433b7627ec57e4b1233c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a69057e546dc2dd8e27ddb7296490b85c" name="a69057e546dc2dd8e27ddb7296490b85c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69057e546dc2dd8e27ddb7296490b85c">&#9670;&#160;</a></span>start_flash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IGame_Screen.start_flash </td>
          <td>(</td>
          <td class="paramtype">Color&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad94209e62a2d5478e7079bb0234f68e4" name="ad94209e62a2d5478e7079bb0234f68e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad94209e62a2d5478e7079bb0234f68e4">&#9670;&#160;</a></span>start_shake()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IGame_Screen.start_shake </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>power</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>speed</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aebe517c64b320a5933660fb42d855b61" name="aebe517c64b320a5933660fb42d855b61"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aebe517c64b320a5933660fb42d855b61">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonUnity.IGame_Screen.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3507293af4960f67558e5f9e616340bb" name="a3507293af4960f67558e5f9e616340bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3507293af4960f67558e5f9e616340bb">&#9670;&#160;</a></span>weather()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IGame_Screen.weather </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>type</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>power</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a03a7ee00a05ddfdd2df219515dec1727" name="a03a7ee00a05ddfdd2df219515dec1727"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03a7ee00a05ddfdd2df219515dec1727">&#9670;&#160;</a></span>brightness</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.brightness</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adf2bbd1027bab6b8912d10e9fe939bb5" name="adf2bbd1027bab6b8912d10e9fe939bb5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf2bbd1027bab6b8912d10e9fe939bb5">&#9670;&#160;</a></span>flash_color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.flash_color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7785e2058eab9b99ac3557bbdf82a2ad" name="a7785e2058eab9b99ac3557bbdf82a2ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7785e2058eab9b99ac3557bbdf82a2ad">&#9670;&#160;</a></span>pictures</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.pictures</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3b178f70a2ed900f8172e5d1d0b38369" name="a3b178f70a2ed900f8172e5d1d0b38369"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b178f70a2ed900f8172e5d1d0b38369">&#9670;&#160;</a></span>shake</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.shake</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a64937a9d1e38a168e098bce3927ff643" name="a64937a9d1e38a168e098bce3927ff643"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a64937a9d1e38a168e098bce3927ff643">&#9670;&#160;</a></span>tone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.tone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4eea9a983d8ef39c1a1b7163f2cca621" name="a4eea9a983d8ef39c1a1b7163f2cca621"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4eea9a983d8ef39c1a1b7163f2cca621">&#9670;&#160;</a></span>weather_max</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IGame_Screen.weather_max</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a61c0ef446f9433b7627ec57e4b1233c4" name="a61c0ef446f9433b7627ec57e4b1233c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61c0ef446f9433b7627ec57e4b1233c4">&#9670;&#160;</a></span>weather_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">Overworld.FieldWeathers</a> PokemonUnity.IGame_Screen.weather_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
