@{
	Page.Title = "PokemonEssentials.Interface.IScreenBorder Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">IScreenBorder</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IScreenBorder Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a28fbdfc660e9fa9b02d859699489e544"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">IScreenBorder</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a28fbdfc660e9fa9b02d859699489e544">initialize</a> ()</td></tr>
<tr class="separator:a28fbdfc660e9fa9b02d859699489e544"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af264ecde9871554aa8b6c2b066bae0f9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#af264ecde9871554aa8b6c2b066bae0f9">initializeInternal</a> ()</td></tr>
<tr class="separator:af264ecde9871554aa8b6c2b066bae0f9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa82655082cf8ea8d0875dd878782f9b8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#aa82655082cf8ea8d0875dd878782f9b8">dispose</a> ()</td></tr>
<tr class="separator:aa82655082cf8ea8d0875dd878782f9b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5aedf7ecff1074b7985a9cd8a3442883"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a5aedf7ecff1074b7985a9cd8a3442883">adjustZ</a> (int z)</td></tr>
<tr class="separator:a5aedf7ecff1074b7985a9cd8a3442883"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29f0716a657cbb2051a2e834d93b820c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a29f0716a657cbb2051a2e834d93b820c">refresh</a> ()</td></tr>
<tr class="separator:a29f0716a657cbb2051a2e834d93b820c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af504f186aa92546fd742c7554cea9e14"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#af504f186aa92546fd742c7554cea9e14">bordername</a> <code>[set]</code></td></tr>
<tr class="separator:af504f186aa92546fd742c7554cea9e14"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5aedf7ecff1074b7985a9cd8a3442883" name="a5aedf7ecff1074b7985a9cd8a3442883"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5aedf7ecff1074b7985a9cd8a3442883">&#9670;&#160;</a></span>adjustZ()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IScreenBorder.adjustZ </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>z</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa82655082cf8ea8d0875dd878782f9b8" name="aa82655082cf8ea8d0875dd878782f9b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa82655082cf8ea8d0875dd878782f9b8">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IScreenBorder.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a28fbdfc660e9fa9b02d859699489e544" name="a28fbdfc660e9fa9b02d859699489e544"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a28fbdfc660e9fa9b02d859699489e544">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">IScreenBorder</a> PokemonEssentials.Interface.IScreenBorder.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af264ecde9871554aa8b6c2b066bae0f9" name="af264ecde9871554aa8b6c2b066bae0f9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af264ecde9871554aa8b6c2b066bae0f9">&#9670;&#160;</a></span>initializeInternal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IScreenBorder.initializeInternal </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a29f0716a657cbb2051a2e834d93b820c" name="a29f0716a657cbb2051a2e834d93b820c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29f0716a657cbb2051a2e834d93b820c">&#9670;&#160;</a></span>refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IScreenBorder.refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="af504f186aa92546fd742c7554cea9e14" name="af504f186aa92546fd742c7554cea9e14"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af504f186aa92546fd742c7554cea9e14">&#9670;&#160;</a></span>bordername</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IScreenBorder.bordername</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_resizer_8cs.cshtml">ISpriteResizer.cs</a></li>
</ul>
