@{
	Page.Title = "PokemonEssentials.Interface.Screen.ISceneHasChatter Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml">ISceneHasChatter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ISceneHasChatter Interface Reference</div></div>
}


<p>Shows the player's Pok&eacute; Ball being thrown to capture a Pok&eacute;mon.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ISceneHasChatter:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.png" usemap="#PokemonEssentials.Interface.Screen.ISceneHasChatter_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.ISceneHasChatter_map" name="PokemonEssentials.Interface.Screen.ISceneHasChatter_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics" shape="rect" coords="0,56,431,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_logging.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoLogging" shape="rect" coords="441,56,872,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="882,56,1313,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_logging.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoLogging" shape="rect" coords="0,112,431,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugScene" shape="rect" coords="441,112,872,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="882,112,1313,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugScene" shape="rect" coords="0,168,431,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="441,168,872,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="0,224,431,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="441,224,872,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="0,280,431,304"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af7871a727e45386f304503f0b5ac9d05"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml#af7871a727e45386f304503f0b5ac9d05">Chatter</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:af7871a727e45386f304503f0b5ac9d05"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Shows the player's Pok&eacute; Ball being thrown to capture a Pok&eacute;mon.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">ball</td><td></td></tr>
    <tr><td class="paramname">shakes</td><td></td></tr>
    <tr><td class="paramname">critical</td><td></td></tr>
    <tr><td class="paramname">targetBattler</td><td></td></tr>
    <tr><td class="paramname">scene</td><td></td></tr>
    <tr><td class="paramname">battler</td><td></td></tr>
    <tr><td class="paramname">burst</td><td></td></tr>
    <tr><td class="paramname">showplayer</td><td></td></tr>
  </table>
  </dd>
</dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="af7871a727e45386f304503f0b5ac9d05" name="af7871a727e45386f304503f0b5ac9d05"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7871a727e45386f304503f0b5ac9d05">&#9670;&#160;</a></span>Chatter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ISceneHasChatter.Chatter </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>

