@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.ISelfSwitchVariable Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.cshtml">ISelfSwitchVariable</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISelfSwitchVariable Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISelfSwitchVariable:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.png" usemap="#PokemonEssentials.Interface.ISelfSwitchVariable_map" alt=""/>
  <map id="PokemonEssentials.Interface.ISelfSwitchVariable_map" name="PokemonEssentials.Interface.ISelfSwitchVariable_map">
<area href="struct_pokemon_essentials_1_1_interface_1_1_self_switch_variable.cshtml" alt="PokemonEssentials.Interface.SelfSwitchVariable" shape="rect" coords="0,56,287,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a78794024fa62b618dabf46c5a85dea01"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.cshtml#a78794024fa62b618dabf46c5a85dea01">MapId</a><code> [get]</code></td></tr>
<tr class="separator:a78794024fa62b618dabf46c5a85dea01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a057fe3a688b118b9653840a13b21f343"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.cshtml#a057fe3a688b118b9653840a13b21f343">EventId</a><code> [get]</code></td></tr>
<tr class="separator:a057fe3a688b118b9653840a13b21f343"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3087bb28a3b472f5da6d8745316840da"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.cshtml#a3087bb28a3b472f5da6d8745316840da">Name</a><code> [get]</code></td></tr>
<tr class="separator:a3087bb28a3b472f5da6d8745316840da"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a057fe3a688b118b9653840a13b21f343" name="a057fe3a688b118b9653840a13b21f343"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a057fe3a688b118b9653840a13b21f343">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISelfSwitchVariable.EventId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_self_switch_variable.cshtml#ac339f318a96bf86dd2d8d63f8f45cd99">PokemonEssentials.Interface.SelfSwitchVariable</a>.</p>

</div>
</div>
<a id="a78794024fa62b618dabf46c5a85dea01" name="a78794024fa62b618dabf46c5a85dea01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78794024fa62b618dabf46c5a85dea01">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISelfSwitchVariable.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_self_switch_variable.cshtml#a9123ff098ae05da72d9cc8bc393f336d">PokemonEssentials.Interface.SelfSwitchVariable</a>.</p>

</div>
</div>
<a id="a3087bb28a3b472f5da6d8745316840da" name="a3087bb28a3b472f5da6d8745316840da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3087bb28a3b472f5da6d8745316840da">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ISelfSwitchVariable.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_self_switch_variable.cshtml#ad699ea4bd99d97bbcc3b9efc85d29660">PokemonEssentials.Interface.SelfSwitchVariable</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_self_switches_8cs.cshtml">IGameSelfSwitches.cs</a></li>
</ul>
