@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonEntryScene2 Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml">IPokemonEntryScene2</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonEntryScene2 Interface Reference</div></div>
}


<p>Text entry screen - arrows to select letter.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonEntryScene2:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonEntryScene2_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonEntryScene2_map" name="PokemonEssentials.Interface.Screen.IPokemonEntryScene2_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,112,349,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml" title="Text entry screen - free typing." alt="PokemonEssentials.Interface.Screen.IPokemonEntryScene" shape="rect" coords="359,112,708,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,56,349,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="359,56,708,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="359,0,708,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a52c454626c6616573ec2ca17ddd82456"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#a52c454626c6616573ec2ca17ddd82456">Update</a> ()</td></tr>
<tr class="separator:a52c454626c6616573ec2ca17ddd82456"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adea73b83472d6bd86b30b89d03593c21"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#adea73b83472d6bd86b30b89d03593c21">ChangeTab</a> (int newtab=0)</td></tr>
<tr class="separator:adea73b83472d6bd86b30b89d03593c21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab72dfb679e4ebd1677bb524935b4191c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#ab72dfb679e4ebd1677bb524935b4191c">ColumnEmpty</a> (int m)</td></tr>
<tr class="separator:ab72dfb679e4ebd1677bb524935b4191c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae26dcf7dd0decaf17a0ceef014d2369b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#ae26dcf7dd0decaf17a0ceef014d2369b">UpdateOverlay</a> ()</td></tr>
<tr class="separator:ae26dcf7dd0decaf17a0ceef014d2369b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a949bbdabc2469fc4ebffeeeb3d19e4e9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#a949bbdabc2469fc4ebffeeeb3d19e4e9">DoUpdateOverlay</a> ()</td></tr>
<tr class="separator:a949bbdabc2469fc4ebffeeeb3d19e4e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afed82fa09aa5ac032f2d1b32b8eae922"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#afed82fa09aa5ac032f2d1b32b8eae922">DoUpdateOverlay2</a> ()</td></tr>
<tr class="separator:afed82fa09aa5ac032f2d1b32b8eae922"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a017ea98dd3e2a21594413782c7b4e7b6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#a017ea98dd3e2a21594413782c7b4e7b6">MoveCursor</a> ()</td></tr>
<tr class="separator:a017ea98dd3e2a21594413782c7b4e7b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf733db8cf48a8a5bbd6c15161536079"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml#adf733db8cf48a8a5bbd6c15161536079">wrapmod</a> (int x, int y)</td></tr>
<tr class="separator:adf733db8cf48a8a5bbd6c15161536079"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScene</a></td></tr>
<tr class="memitem:a8e0bcea8db32b0f06ca4796853671654 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a8e0bcea8db32b0f06ca4796853671654">StartScene</a> (string helptext, int minlength, int maxlength, string initialText, <a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a2b5c94ec1b9c2fceaa3aab999708a3f2">PokemonUnity.UX.TextEntryTypes</a> subject=0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon=null)</td></tr>
<tr class="separator:a8e0bcea8db32b0f06ca4796853671654 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a829d2c3f9dd371eb059a9ac2794472c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a829d2c3f9dd371eb059a9ac2794472c0">EndScene</a> ()</td></tr>
<tr class="separator:a829d2c3f9dd371eb059a9ac2794472c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0269e150d53c72213055e381d85d3801 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a0269e150d53c72213055e381d85d3801">Entry</a> ()</td></tr>
<tr class="separator:a0269e150d53c72213055e381d85d3801 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Text entry screen - arrows to select letter.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="adea73b83472d6bd86b30b89d03593c21" name="adea73b83472d6bd86b30b89d03593c21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adea73b83472d6bd86b30b89d03593c21">&#9670;&#160;</a></span>ChangeTab()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEntryScene2.ChangeTab </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>newtab</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab72dfb679e4ebd1677bb524935b4191c" name="ab72dfb679e4ebd1677bb524935b4191c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab72dfb679e4ebd1677bb524935b4191c">&#9670;&#160;</a></span>ColumnEmpty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonEntryScene2.ColumnEmpty </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>m</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a949bbdabc2469fc4ebffeeeb3d19e4e9" name="a949bbdabc2469fc4ebffeeeb3d19e4e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a949bbdabc2469fc4ebffeeeb3d19e4e9">&#9670;&#160;</a></span>DoUpdateOverlay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEntryScene2.DoUpdateOverlay </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afed82fa09aa5ac032f2d1b32b8eae922" name="afed82fa09aa5ac032f2d1b32b8eae922"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afed82fa09aa5ac032f2d1b32b8eae922">&#9670;&#160;</a></span>DoUpdateOverlay2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEntryScene2.DoUpdateOverlay2 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a017ea98dd3e2a21594413782c7b4e7b6" name="a017ea98dd3e2a21594413782c7b4e7b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a017ea98dd3e2a21594413782c7b4e7b6">&#9670;&#160;</a></span>MoveCursor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonEntryScene2.MoveCursor </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a52c454626c6616573ec2ca17ddd82456" name="a52c454626c6616573ec2ca17ddd82456"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52c454626c6616573ec2ca17ddd82456">&#9670;&#160;</a></span>Update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEntryScene2.Update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae26dcf7dd0decaf17a0ceef014d2369b" name="ae26dcf7dd0decaf17a0ceef014d2369b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae26dcf7dd0decaf17a0ceef014d2369b">&#9670;&#160;</a></span>UpdateOverlay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEntryScene2.UpdateOverlay </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adf733db8cf48a8a5bbd6c15161536079" name="adf733db8cf48a8a5bbd6c15161536079"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf733db8cf48a8a5bbd6c15161536079">&#9670;&#160;</a></span>wrapmod()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonEntryScene2.wrapmod </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_text_entry_8cs.cshtml">ITextEntry.cs</a></li>
</ul>

