@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">IPurifyChamberScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a662508e3b78b62bb6d1bce66ad7a6b82">CheckPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#af2035d83bcbbec71176b0cc5ed716352">Confirm</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a009a6e13b4457de7bc712dac7b2923c7">Display</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a4c77da407cfdd63f7ff0b9498324d2d9">DoPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a0feaf14fcf621cad5bf2b213357143d7">initialize</a>(IPurifyChamberScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#ae5cc8d43f38e315610eedc3c1c23d9d8">OnPlace</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a6a9923c21881a384d529761a621d70dd">OpenSetDetail</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a62945792002f48c7fb6e7e7f9202f29c">Place</a>(IPokemon pkmn, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a81134fb5477415c5aa86a63551ab92d6">PlacePokemon</a>(int[] pos, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#abd0641140654a14dba381b94865ac434">Refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#ac24c72ad7d898f31e431af19d5fb4784">StartPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
</table>
