@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml">IOnSpritesetCreateEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] = Spriteset being created e[1] = Viewport used for tilemap and characters e[0].map = Map associated with the spriteset (not necessarily the current map).   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,400,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml" title="Parameters: e[0] = Spriteset being created e[1] = Viewport used for tilemap and characters e[0]...." alt="PokemonUnity.EventArg.OnSpritesetCreateEventArgs" shape="rect" coords="0,112,400,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0b49cb91ec0f3f6d4f70c7e581549ba6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a0b49cb91ec0f3f6d4f70c7e581549ba6">SpritesetId</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0b49cb91ec0f3f6d4f70c7e581549ba6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Spriteset being created   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a0b49cb91ec0f3f6d4f70c7e581549ba6">More...</a><br /></td></tr>
<tr class="separator:a0b49cb91ec0f3f6d4f70c7e581549ba6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a121187b805de48aee26f7585a19803cc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a121187b805de48aee26f7585a19803cc">Viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a121187b805de48aee26f7585a19803cc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Viewport used for tilemap and characters   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a121187b805de48aee26f7585a19803cc">More...</a><br /></td></tr>
<tr class="separator:a121187b805de48aee26f7585a19803cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82aede6c78c72fa58bd67741f6c71a08"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a82aede6c78c72fa58bd67741f6c71a08">MapId</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a82aede6c78c72fa58bd67741f6c71a08"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map associated with the spriteset (not necessarily the current map).   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#a82aede6c78c72fa58bd67741f6c71a08">More...</a><br /></td></tr>
<tr class="separator:a82aede6c78c72fa58bd67741f6c71a08"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] = Spriteset being created e[1] = Viewport used for tilemap and characters e[0].map = Map associated with the spriteset (not necessarily the current map).  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a82aede6c78c72fa58bd67741f6c71a08" name="a82aede6c78c72fa58bd67741f6c71a08"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82aede6c78c72fa58bd67741f6c71a08">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map associated with the spriteset (not necessarily the current map).  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#ad6c162b42ab83af31f5272ba5b31cc90">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a>.</p>

</div>
</div>
<a id="a0b49cb91ec0f3f6d4f70c7e581549ba6" name="a0b49cb91ec0f3f6d4f70c7e581549ba6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b49cb91ec0f3f6d4f70c7e581549ba6">&#9670;&#160;</a></span>SpritesetId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs.SpritesetId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Spriteset being created  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a4c46507678ab5f4d48a38ec3c301037d">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a>.</p>

</div>
</div>
<a id="a121187b805de48aee26f7585a19803cc" name="a121187b805de48aee26f7585a19803cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a121187b805de48aee26f7585a19803cc">&#9670;&#160;</a></span>Viewport</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.EventArg.IOnSpritesetCreateEventArgs.Viewport</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Viewport used for tilemap and characters  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_spriteset_create_event_args.cshtml#a79e59e68e58dec77f1568b2da130bc6d">PokemonUnity.EventArg.OnSpritesetCreateEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>
