@{
	Page.Title = "PokemonEssentials.Interface.ISpriteTimer Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">ISpriteTimer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteTimer Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISpriteTimer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:adef066e6afd873eb3cb9174d054e2a2b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">ISpriteTimer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#adef066e6afd873eb3cb9174d054e2a2b">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:adef066e6afd873eb3cb9174d054e2a2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8722d5e5cf7d6b7ead633b840c4fce23"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#a8722d5e5cf7d6b7ead633b840c4fce23">dispose</a> ()</td></tr>
<tr class="separator:a8722d5e5cf7d6b7ead633b840c4fce23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a575b9dfcebfaebbcc06f529d3233ac9b"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#a575b9dfcebfaebbcc06f529d3233ac9b">update</a> ()</td></tr>
<tr class="separator:a575b9dfcebfaebbcc06f529d3233ac9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aca4dbab9fe41dcb216541ef0ef8fba7f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#aca4dbab9fe41dcb216541ef0ef8fba7f">disposed</a> <code>[get]</code></td></tr>
<tr class="separator:aca4dbab9fe41dcb216541ef0ef8fba7f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a8722d5e5cf7d6b7ead633b840c4fce23" name="a8722d5e5cf7d6b7ead633b840c4fce23"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8722d5e5cf7d6b7ead633b840c4fce23">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteTimer.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adef066e6afd873eb3cb9174d054e2a2b" name="adef066e6afd873eb3cb9174d054e2a2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adef066e6afd873eb3cb9174d054e2a2b">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">ISpriteTimer</a> PokemonEssentials.Interface.ISpriteTimer.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a575b9dfcebfaebbcc06f529d3233ac9b" name="a575b9dfcebfaebbcc06f529d3233ac9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a575b9dfcebfaebbcc06f529d3233ac9b">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.ISpriteTimer.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aca4dbab9fe41dcb216541ef0ef8fba7f" name="aca4dbab9fe41dcb216541ef0ef8fba7f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca4dbab9fe41dcb216541ef0ef8fba7f">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISpriteTimer.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_timer_8cs.cshtml">ISpriteTimer.cs</a></li>
</ul>

