@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.IPokemonSummaryScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml">IPokemonSummaryScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_summary_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonSummaryScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonSummaryScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_summary_scene.png" usemap="#PokemonUnity.IPokemonSummaryScene_map" alt=""/>
  <map id="PokemonUnity.IPokemonSummaryScene_map" name="PokemonUnity.IPokemonSummaryScene_map">
<area href="interface_pokemon_unity_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonUnity.IScene" shape="rect" coords="0,56,237,80"/>
<area href="interface_pokemon_unity_1_1_i_has_display_message.cshtml" alt="PokemonUnity.IHasDisplayMessage" shape="rect" coords="0,0,237,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a44b60d77c68d5b9355a84d8532899ed4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a44b60d77c68d5b9355a84d8532899ed4">drawPageOne</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:a44b60d77c68d5b9355a84d8532899ed4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a435b774b8206110573cc155d10c75291"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a435b774b8206110573cc155d10c75291">drawPageOneEgg</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:a435b774b8206110573cc155d10c75291"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b415e5f0e40f941d5ae4322913d41ad"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a3b415e5f0e40f941d5ae4322913d41ad">drawPageTwo</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:a3b415e5f0e40f941d5ae4322913d41ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add2ee252e8cc8b56201187bba6189b46"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#add2ee252e8cc8b56201187bba6189b46">drawPageThree</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:add2ee252e8cc8b56201187bba6189b46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6413091b6caaba67f2674bb9bc2e1652"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a6413091b6caaba67f2674bb9bc2e1652">drawPageFour</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:a6413091b6caaba67f2674bb9bc2e1652"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae84af20ef44bfcf282d549148a15359d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#ae84af20ef44bfcf282d549148a15359d">drawPageFive</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:ae84af20ef44bfcf282d549148a15359d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1ffea1d8d7d15002126a1cbe4242cee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#ac1ffea1d8d7d15002126a1cbe4242cee">drawMoveSelection</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:ac1ffea1d8d7d15002126a1cbe4242cee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98d98e32ad1d91ef4a096f20e63ed960"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a98d98e32ad1d91ef4a096f20e63ed960">drawSelectedMove</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid)</td></tr>
<tr class="separator:a98d98e32ad1d91ef4a096f20e63ed960"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5c04c4c1f32f5afe888a58c67fa6e79"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#ad5c04c4c1f32f5afe888a58c67fa6e79">pbChooseMoveToForget</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:ad5c04c4c1f32f5afe888a58c67fa6e79"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab74c46209807a54755d96d2b5443e754"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#ab74c46209807a54755d96d2b5443e754">pbEndScene</a> ()</td></tr>
<tr class="separator:ab74c46209807a54755d96d2b5443e754"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abbc1e2db13bc919fbf086c0e1f087bca"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#abbc1e2db13bc919fbf086c0e1f087bca">pbGoToNext</a> ()</td></tr>
<tr class="separator:abbc1e2db13bc919fbf086c0e1f087bca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a056e0a35632d996be5b2bfbfca28be1a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a056e0a35632d996be5b2bfbfca28be1a">pbGoToPrevious</a> ()</td></tr>
<tr class="separator:a056e0a35632d996be5b2bfbfca28be1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc6b72f232f1ebcaf913f734ac38730d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#abc6b72f232f1ebcaf913f734ac38730d">pbMoveSelection</a> ()</td></tr>
<tr class="separator:abc6b72f232f1ebcaf913f734ac38730d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a085e10ac3be4b7a72d020c3f69274942"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a085e10ac3be4b7a72d020c3f69274942">pbPokerus</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn)</td></tr>
<tr class="separator:a085e10ac3be4b7a72d020c3f69274942"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afae32a6896350f0258c4b65d01c14559"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#afae32a6896350f0258c4b65d01c14559">pbScene</a> ()</td></tr>
<tr class="separator:afae32a6896350f0258c4b65d01c14559"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af71d4ff04818af9352ad63e02115f9f5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#af71d4ff04818af9352ad63e02115f9f5">pbStartForgetScene</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> party, int partyindex, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:af71d4ff04818af9352ad63e02115f9f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a270b2fd311bdb4201114b7fc1cba2f6a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a270b2fd311bdb4201114b7fc1cba2f6a">pbStartScene</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> party, int partyindex)</td></tr>
<tr class="separator:a270b2fd311bdb4201114b7fc1cba2f6a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c871e2539e6d3d3e96d0c4c624edd8e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml#a6c871e2539e6d3d3e96d0c4c624edd8e">pbUpdate</a> ()</td></tr>
<tr class="separator:a6c871e2539e6d3d3e96d0c4c624edd8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td></tr>
<tr class="memitem:a6d62e2ad717faa4cbecd1e1d6d7faf50 inherit pub_methods_interface_pokemon_unity_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a> ()</td></tr>
<tr class="separator:a6d62e2ad717faa4cbecd1e1d6d7faf50 inherit pub_methods_interface_pokemon_unity_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a> (string v)</td></tr>
<tr class="separator:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td></tr>
<tr class="memitem:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">More...</a><br /></td></tr>
<tr class="separator:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac1ffea1d8d7d15002126a1cbe4242cee" name="ac1ffea1d8d7d15002126a1cbe4242cee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1ffea1d8d7d15002126a1cbe4242cee">&#9670;&#160;</a></span>drawMoveSelection()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawMoveSelection </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae84af20ef44bfcf282d549148a15359d" name="ae84af20ef44bfcf282d549148a15359d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae84af20ef44bfcf282d549148a15359d">&#9670;&#160;</a></span>drawPageFive()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageFive </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6413091b6caaba67f2674bb9bc2e1652" name="a6413091b6caaba67f2674bb9bc2e1652"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6413091b6caaba67f2674bb9bc2e1652">&#9670;&#160;</a></span>drawPageFour()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageFour </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a44b60d77c68d5b9355a84d8532899ed4" name="a44b60d77c68d5b9355a84d8532899ed4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44b60d77c68d5b9355a84d8532899ed4">&#9670;&#160;</a></span>drawPageOne()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageOne </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a435b774b8206110573cc155d10c75291" name="a435b774b8206110573cc155d10c75291"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a435b774b8206110573cc155d10c75291">&#9670;&#160;</a></span>drawPageOneEgg()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageOneEgg </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="add2ee252e8cc8b56201187bba6189b46" name="add2ee252e8cc8b56201187bba6189b46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add2ee252e8cc8b56201187bba6189b46">&#9670;&#160;</a></span>drawPageThree()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageThree </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3b415e5f0e40f941d5ae4322913d41ad" name="a3b415e5f0e40f941d5ae4322913d41ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b415e5f0e40f941d5ae4322913d41ad">&#9670;&#160;</a></span>drawPageTwo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawPageTwo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a98d98e32ad1d91ef4a096f20e63ed960" name="a98d98e32ad1d91ef4a096f20e63ed960"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98d98e32ad1d91ef4a096f20e63ed960">&#9670;&#160;</a></span>drawSelectedMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.drawSelectedMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad5c04c4c1f32f5afe888a58c67fa6e79" name="ad5c04c4c1f32f5afe888a58c67fa6e79"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5c04c4c1f32f5afe888a58c67fa6e79">&#9670;&#160;</a></span>pbChooseMoveToForget()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbChooseMoveToForget </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab74c46209807a54755d96d2b5443e754" name="ab74c46209807a54755d96d2b5443e754"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab74c46209807a54755d96d2b5443e754">&#9670;&#160;</a></span>pbEndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbEndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abbc1e2db13bc919fbf086c0e1f087bca" name="abbc1e2db13bc919fbf086c0e1f087bca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbc1e2db13bc919fbf086c0e1f087bca">&#9670;&#160;</a></span>pbGoToNext()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbGoToNext </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a056e0a35632d996be5b2bfbfca28be1a" name="a056e0a35632d996be5b2bfbfca28be1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a056e0a35632d996be5b2bfbfca28be1a">&#9670;&#160;</a></span>pbGoToPrevious()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbGoToPrevious </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abc6b72f232f1ebcaf913f734ac38730d" name="abc6b72f232f1ebcaf913f734ac38730d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc6b72f232f1ebcaf913f734ac38730d">&#9670;&#160;</a></span>pbMoveSelection()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbMoveSelection </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a085e10ac3be4b7a72d020c3f69274942" name="a085e10ac3be4b7a72d020c3f69274942"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a085e10ac3be4b7a72d020c3f69274942">&#9670;&#160;</a></span>pbPokerus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbPokerus </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afae32a6896350f0258c4b65d01c14559" name="afae32a6896350f0258c4b65d01c14559"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afae32a6896350f0258c4b65d01c14559">&#9670;&#160;</a></span>pbScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af71d4ff04818af9352ad63e02115f9f5" name="af71d4ff04818af9352ad63e02115f9f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af71d4ff04818af9352ad63e02115f9f5">&#9670;&#160;</a></span>pbStartForgetScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbStartForgetScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>partyindex</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a270b2fd311bdb4201114b7fc1cba2f6a" name="a270b2fd311bdb4201114b7fc1cba2f6a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a270b2fd311bdb4201114b7fc1cba2f6a">&#9670;&#160;</a></span>pbStartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbStartScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>partyindex</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6c871e2539e6d3d3e96d0c4c624edd8e" name="a6c871e2539e6d3d3e96d0c4c624edd8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c871e2539e6d3d3e96d0c4c624edd8e">&#9670;&#160;</a></span>pbUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonSummaryScene.pbUpdate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
