@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">IMosaicPokemonSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#a9ee5f530ad0fec21c18b2957f46c2a88">bitmap</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#aa3b30bafa96870efaac20eac43209ed3">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#a431d5b202c3d107684c6efd622e4dd0c">mosaic</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#abee94138f27523c0697a95bc5606bc55">mosaicRefresh</a>(IBitmap bitmap)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td><td class="entry"></td></tr>
</table>