@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IBattleTeamRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleTeamRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleTeamRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.png" usemap="#PokemonEssentials.Interface.Battle.IBattleTeamRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleTeamRestriction_map" name="PokemonEssentials.Interface.Battle.IBattleTeamRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_item_clause.cshtml" alt="PokemonEssentials.Interface.Battle.IItemClause" shape="rect" coords="385,56,760,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_clause.cshtml" title="No two Pokemon can have the same nickname. No nickname can be the same as the (real) name of another ..." alt="PokemonEssentials.Interface.Battle.INicknameClause" shape="rect" coords="385,112,760,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IRestrictedSpeciesRestriction" shape="rect" coords="385,168,760,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_same_species_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISameSpeciesClause" shape="rect" coords="385,224,760,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_species_clause.cshtml" alt="PokemonEssentials.Interface.Battle.ISpeciesClause" shape="rect" coords="385,280,760,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_total_level_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.ITotalLevelRestriction" shape="rect" coords="385,336,760,360"/>
<area href="class_pokemon_unity_1_1_item_clause.cshtml" alt="PokemonUnity.ItemClause" shape="rect" coords="385,392,760,416"/>
<area href="class_pokemon_unity_1_1_nickname_clause.cshtml" title="No two Pokemon can have the same nickname. No nickname can be the same as the (real) name of another ..." alt="PokemonUnity.NicknameClause" shape="rect" coords="385,448,760,472"/>
<area href="class_pokemon_unity_1_1_restricted_species_restriction.cshtml" alt="PokemonUnity.RestrictedSpeciesRestriction" shape="rect" coords="385,504,760,528"/>
<area href="class_pokemon_unity_1_1_same_species_clause.cshtml" alt="PokemonUnity.SameSpeciesClause" shape="rect" coords="385,560,760,584"/>
<area href="class_pokemon_unity_1_1_species_clause.cshtml" alt="PokemonUnity.SpeciesClause" shape="rect" coords="385,616,760,640"/>
<area href="class_pokemon_unity_1_1_total_level_restriction.cshtml" alt="PokemonUnity.TotalLevelRestriction" shape="rect" coords="385,672,760,696"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a860b976789f973f85c94be8de8fe672b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team)</td></tr>
<tr class="separator:a860b976789f973f85c94be8de8fe672b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab3405adc214f2b542307b943ec0ed821"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#ab3405adc214f2b542307b943ec0ed821">errorMessage</a><code> [get]</code></td></tr>
<tr class="separator:ab3405adc214f2b542307b943ec0ed821"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a860b976789f973f85c94be8de8fe672b" name="a860b976789f973f85c94be8de8fe672b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a860b976789f973f85c94be8de8fe672b">&#9670;&#160;</a></span>isValid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleTeamRestriction.isValid </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab3405adc214f2b542307b943ec0ed821" name="ab3405adc214f2b542307b943ec0ed821"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3405adc214f2b542307b943ec0ed821">&#9670;&#160;</a></span>errorMessage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.IBattleTeamRestriction.errorMessage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_total_level_restriction.cshtml#a591047143aa177380d971bd01e893e44">PokemonUnity.TotalLevelRestriction</a>, <a class="el" href="class_pokemon_unity_1_1_same_species_clause.cshtml#ac8a297cd1c51acadc50a10b5f7fecfaa">PokemonUnity.SameSpeciesClause</a>, <a class="el" href="class_pokemon_unity_1_1_species_clause.cshtml#a511a5870c6dca9e1c42507eed014d8d3">PokemonUnity.SpeciesClause</a>, <a class="el" href="class_pokemon_unity_1_1_item_clause.cshtml#a791f8d2841968917bb36e577da97e756">PokemonUnity.ItemClause</a>, and <a class="el" href="class_pokemon_unity_1_1_nickname_clause.cshtml#a96bbcdf3680aae2297d9f719620fc2a3">PokemonUnity.NicknameClause</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

