@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPurifyChamber Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamber Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a17fdc1b17e471d9ac725370018bda137"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a17fdc1b17e471d9ac725370018bda137">initialize</a> ()</td></tr>
<tr class="separator:a17fdc1b17e471d9ac725370018bda137"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb6a212d2fd7ec4043238d7bb43d9ba5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#aeb6a212d2fd7ec4043238d7bb43d9ba5">setCount</a> (int set)</td></tr>
<tr class="separator:aeb6a212d2fd7ec4043238d7bb43d9ba5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed9acd8c4f9f7acf1c0841777cd42356"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#aed9acd8c4f9f7acf1c0841777cd42356">setList</a> (int set)</td></tr>
<tr class="separator:aed9acd8c4f9f7acf1c0841777cd42356"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26a459a71d9d7728ac3a22e1863f4999"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a26a459a71d9d7728ac3a22e1863f4999">chamberFlow</a> (int chamber)</td></tr>
<tr class="separator:a26a459a71d9d7728ac3a22e1863f4999"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17f635f7098ac595d1f0bc76ed9a3719"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a17f635f7098ac595d1f0bc76ed9a3719">getShadow</a> (int chamber)</td></tr>
<tr class="separator:a17f635f7098ac595d1f0bc76ed9a3719"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c388750cdd21706874ec12f45b206d0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a1c388750cdd21706874ec12f45b206d0">setShadow</a> (int chamber, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> value)</td></tr>
<tr class="separator:a1c388750cdd21706874ec12f45b206d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f89745de5c8ea6a41357cabd7b181a9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a8f89745de5c8ea6a41357cabd7b181a9">Switch</a> (int set1, int set2)</td></tr>
<tr class="separator:a8f89745de5c8ea6a41357cabd7b181a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9c74644b6ecda4ea086c58b32fd2f60"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#ad9c74644b6ecda4ea086c58b32fd2f60">insertAfter</a> (int set, int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> value)</td></tr>
<tr class="separator:ad9c74644b6ecda4ea086c58b32fd2f60"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed91b0327d23ab475cdc270195090751"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#aed91b0327d23ab475cdc270195090751">insertAt</a> (int set, int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> value)</td></tr>
<tr class="separator:aed91b0327d23ab475cdc270195090751"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a120e748802cdbc211178483234bbcb9b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a120e748802cdbc211178483234bbcb9b">isPurifiableIgnoreRegular</a> (int set)</td></tr>
<tr class="separator:a120e748802cdbc211178483234bbcb9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb634630682718f4aaa055a61c96d01e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#acb634630682718f4aaa055a61c96d01e">isPurifiable</a> (int set)</td></tr>
<tr class="separator:acb634630682718f4aaa055a61c96d01e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7301df37b163465ecbabdb87a356c9c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a7301df37b163465ecbabdb87a356c9c1">update</a> ()</td></tr>
<tr class="separator:a7301df37b163465ecbabdb87a356c9c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac81c29e8971e81b66023c4ec79c95f3f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#ac81c29e8971e81b66023c4ec79c95f3f">debugAddShadow</a> (int set, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:ac81c29e8971e81b66023c4ec79c95f3f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a155566cad569b022225f5b1629e6e3a1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a155566cad569b022225f5b1629e6e3a1">debugAddNormal</a> (int set, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a155566cad569b022225f5b1629e6e3a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a838837da3e770da09afc17325fca8b3d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#a838837da3e770da09afc17325fca8b3d">debugAdd</a> (int set, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> shadow, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> type1, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>? type2=null)</td></tr>
<tr class="separator:a838837da3e770da09afc17325fca8b3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa4b1d55c3b07dfc347e37188c7decf00"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml#aa4b1d55c3b07dfc347e37188c7decf00">currentSet</a><code> [get, set]</code></td></tr>
<tr class="separator:aa4b1d55c3b07dfc347e37188c7decf00"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a26a459a71d9d7728ac3a22e1863f4999" name="a26a459a71d9d7728ac3a22e1863f4999"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26a459a71d9d7728ac3a22e1863f4999">&#9670;&#160;</a></span>chamberFlow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamber.chamberFlow </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>chamber</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a838837da3e770da09afc17325fca8b3d" name="a838837da3e770da09afc17325fca8b3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a838837da3e770da09afc17325fca8b3d">&#9670;&#160;</a></span>debugAdd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.debugAdd </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>shadow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>type1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>?&#160;</td>
          <td class="paramname"><em>type2</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a155566cad569b022225f5b1629e6e3a1" name="a155566cad569b022225f5b1629e6e3a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a155566cad569b022225f5b1629e6e3a1">&#9670;&#160;</a></span>debugAddNormal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.debugAddNormal </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac81c29e8971e81b66023c4ec79c95f3f" name="ac81c29e8971e81b66023c4ec79c95f3f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac81c29e8971e81b66023c4ec79c95f3f">&#9670;&#160;</a></span>debugAddShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.debugAddShadow </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a17f635f7098ac595d1f0bc76ed9a3719" name="a17f635f7098ac595d1f0bc76ed9a3719"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17f635f7098ac595d1f0bc76ed9a3719">&#9670;&#160;</a></span>getShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamber.getShadow </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>chamber</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a17fdc1b17e471d9ac725370018bda137" name="a17fdc1b17e471d9ac725370018bda137"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17fdc1b17e471d9ac725370018bda137">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a> PokemonEssentials.Interface.Screen.IPurifyChamber.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad9c74644b6ecda4ea086c58b32fd2f60" name="ad9c74644b6ecda4ea086c58b32fd2f60"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9c74644b6ecda4ea086c58b32fd2f60">&#9670;&#160;</a></span>insertAfter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.insertAfter </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed91b0327d23ab475cdc270195090751" name="aed91b0327d23ab475cdc270195090751"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed91b0327d23ab475cdc270195090751">&#9670;&#160;</a></span>insertAt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.insertAt </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acb634630682718f4aaa055a61c96d01e" name="acb634630682718f4aaa055a61c96d01e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb634630682718f4aaa055a61c96d01e">&#9670;&#160;</a></span>isPurifiable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamber.isPurifiable </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a120e748802cdbc211178483234bbcb9b" name="a120e748802cdbc211178483234bbcb9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a120e748802cdbc211178483234bbcb9b">&#9670;&#160;</a></span>isPurifiableIgnoreRegular()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamber.isPurifiableIgnoreRegular </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb6a212d2fd7ec4043238d7bb43d9ba5" name="aeb6a212d2fd7ec4043238d7bb43d9ba5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb6a212d2fd7ec4043238d7bb43d9ba5">&#9670;&#160;</a></span>setCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamber.setCount </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed9acd8c4f9f7acf1c0841777cd42356" name="aed9acd8c4f9f7acf1c0841777cd42356"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed9acd8c4f9f7acf1c0841777cd42356">&#9670;&#160;</a></span>setList()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Screen.IPurifyChamber.setList </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1c388750cdd21706874ec12f45b206d0" name="a1c388750cdd21706874ec12f45b206d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c388750cdd21706874ec12f45b206d0">&#9670;&#160;</a></span>setShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.setShadow </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f89745de5c8ea6a41357cabd7b181a9" name="a8f89745de5c8ea6a41357cabd7b181a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f89745de5c8ea6a41357cabd7b181a9">&#9670;&#160;</a></span>Switch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.Switch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7301df37b163465ecbabdb87a356c9c1" name="a7301df37b163465ecbabdb87a356c9c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7301df37b163465ecbabdb87a356c9c1">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamber.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa4b1d55c3b07dfc347e37188c7decf00" name="aa4b1d55c3b07dfc347e37188c7decf00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa4b1d55c3b07dfc347e37188c7decf00">&#9670;&#160;</a></span>currentSet</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamber.currentSet</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>
