@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule&lt; out TBattle &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">IRecordedBattleModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule&lt; out TBattle &gt; Interface Template Reference</div></div>
}


<p>Recording of a Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4394212c1c4ea9b7ece00e01b48605ae"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a4394212c1c4ea9b7ece00e01b48605ae">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] p1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] p2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] opponent)</td></tr>
<tr class="separator:a4394212c1c4ea9b7ece00e01b48605ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61a401320c0e12111f77538b029fdadf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a61a401320c0e12111f77538b029fdadf">pbGetBattleType</a> ()</td></tr>
<tr class="separator:a61a401320c0e12111f77538b029fdadf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36a6e0d288041f88d355e7050423666d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a36a6e0d288041f88d355e7050423666d">pbGetTrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer)</td></tr>
<tr class="separator:a36a6e0d288041f88d355e7050423666d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad20ed322678e5ad50dddfe0de34bc92e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ad20ed322678e5ad50dddfe0de34bc92e">pbStartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:ad20ed322678e5ad50dddfe0de34bc92e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d3b183f522cacb3fe7b29ff8dc50d62"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a5d3b183f522cacb3fe7b29ff8dc50d62">pbDumpRecord</a> ()</td></tr>
<tr class="separator:a5d3b183f522cacb3fe7b29ff8dc50d62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae2b45410b47a0e1264a780ca885ad52"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#aae2b45410b47a0e1264a780ca885ad52">pbSwitchInBetween</a> (int i1, bool i2, bool i3)</td></tr>
<tr class="separator:aae2b45410b47a0e1264a780ca885ad52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99267c04136d5b5c4aca4ec329cf5c11"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a99267c04136d5b5c4aca4ec329cf5c11">pbRegisterMove</a> (int i1, int i2, bool showMessages=true)</td></tr>
<tr class="separator:a99267c04136d5b5c4aca4ec329cf5c11"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace114871a67c70789181022a3a714106"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ace114871a67c70789181022a3a714106">pbRun</a> (int i1, bool duringBattle=false)</td></tr>
<tr class="separator:ace114871a67c70789181022a3a714106"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6471aa65ad89d7d45ae135645151cad"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ad6471aa65ad89d7d45ae135645151cad">pbRegisterTarget</a> (int i1, int i2)</td></tr>
<tr class="separator:ad6471aa65ad89d7d45ae135645151cad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abbefbe687e0ea239098a19f8f632eec8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#abbefbe687e0ea239098a19f8f632eec8">pbAutoChooseMove</a> (int i1, bool showMessages=true)</td></tr>
<tr class="separator:abbefbe687e0ea239098a19f8f632eec8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae12fdc5351faab7648fcd29db2747a0d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ae12fdc5351faab7648fcd29db2747a0d">pbRegisterSwitch</a> (int i1, int i2)</td></tr>
<tr class="separator:ae12fdc5351faab7648fcd29db2747a0d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d11dde1a7da2a53f76f36da3ee6fcc1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a5d11dde1a7da2a53f76f36da3ee6fcc1">pbRegisterItem</a> (int i1, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> i2)</td></tr>
<tr class="separator:a5d11dde1a7da2a53f76f36da3ee6fcc1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8a756983edb3e716dc24923397f9403f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a8a756983edb3e716dc24923397f9403f">pbCommandPhase</a> ()</td></tr>
<tr class="separator:a8a756983edb3e716dc24923397f9403f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb172a940d9b57110c82a50279f112a1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#aeb172a940d9b57110c82a50279f112a1">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:aeb172a940d9b57110c82a50279f112a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed167f3b286f68c37cd3093a35230f11"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#aed167f3b286f68c37cd3093a35230f11">pbRandom</a> (int num)</td></tr>
<tr class="separator:aed167f3b286f68c37cd3093a35230f11"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9864095be3b776a0b5e71c75cf6276aa"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a9864095be3b776a0b5e71c75cf6276aa">randomnums</a><code> [get]</code></td></tr>
<tr class="separator:a9864095be3b776a0b5e71c75cf6276aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e280f126690f15f43baab75e1e99f0b"><td class="memItemLeft" align="right" valign="top">IList&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>, int &gt;[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a0e280f126690f15f43baab75e1e99f0b">rounds</a><code> [get]</code></td></tr>
<tr class="separator:a0e280f126690f15f43baab75e1e99f0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Recording of a Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>  </p>
<dl class="tparams"><dt>Template Parameters</dt><dd>
  <table class="tparams">
    <tr><td class="paramname">TBattle</td><td>any <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a> entity</td></tr>
  </table>
  </dd>
</dl>
<div class="typeconstraint">
<dl><dt><b>Type Constraints</b></dt><dd>
<table border="0" cellspacing="2" cellpadding="0">
<tr><td valign="top"><em>TBattle</em></td><td>&#160;:</td><td valign="top"><em><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a></em></td><td>&#160;</td></tr>
</table>
</dd>
</dl>
</div>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a4394212c1c4ea9b7ece00e01b48605ae" name="a4394212c1c4ea9b7ece00e01b48605ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4394212c1c4ea9b7ece00e01b48605ae">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>p1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>p2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>opponent</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abbefbe687e0ea239098a19f8f632eec8" name="abbefbe687e0ea239098a19f8f632eec8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbefbe687e0ea239098a19f8f632eec8">&#9670;&#160;</a></span>pbAutoChooseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbAutoChooseMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8a756983edb3e716dc24923397f9403f" name="a8a756983edb3e716dc24923397f9403f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a756983edb3e716dc24923397f9403f">&#9670;&#160;</a></span>pbCommandPhase()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbCommandPhase </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5d3b183f522cacb3fe7b29ff8dc50d62" name="a5d3b183f522cacb3fe7b29ff8dc50d62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d3b183f522cacb3fe7b29ff8dc50d62">&#9670;&#160;</a></span>pbDumpRecord()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbDumpRecord </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a61a401320c0e12111f77538b029fdadf" name="a61a401320c0e12111f77538b029fdadf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61a401320c0e12111f77538b029fdadf">&#9670;&#160;</a></span>pbGetBattleType()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbGetBattleType </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a36a6e0d288041f88d355e7050423666d" name="a36a6e0d288041f88d355e7050423666d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36a6e0d288041f88d355e7050423666d">&#9670;&#160;</a></span>pbGetTrainerInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbGetTrainerInfo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed167f3b286f68c37cd3093a35230f11" name="aed167f3b286f68c37cd3093a35230f11"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed167f3b286f68c37cd3093a35230f11">&#9670;&#160;</a></span>pbRandom()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRandom </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5d11dde1a7da2a53f76f36da3ee6fcc1" name="a5d11dde1a7da2a53f76f36da3ee6fcc1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d11dde1a7da2a53f76f36da3ee6fcc1">&#9670;&#160;</a></span>pbRegisterItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRegisterItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a99267c04136d5b5c4aca4ec329cf5c11" name="a99267c04136d5b5c4aca4ec329cf5c11"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99267c04136d5b5c4aca4ec329cf5c11">&#9670;&#160;</a></span>pbRegisterMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRegisterMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae12fdc5351faab7648fcd29db2747a0d" name="ae12fdc5351faab7648fcd29db2747a0d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae12fdc5351faab7648fcd29db2747a0d">&#9670;&#160;</a></span>pbRegisterSwitch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRegisterSwitch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad6471aa65ad89d7d45ae135645151cad" name="ad6471aa65ad89d7d45ae135645151cad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6471aa65ad89d7d45ae135645151cad">&#9670;&#160;</a></span>pbRegisterTarget()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRegisterTarget </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ace114871a67c70789181022a3a714106" name="ace114871a67c70789181022a3a714106"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace114871a67c70789181022a3a714106">&#9670;&#160;</a></span>pbRun()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbRun </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>duringBattle</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad20ed322678e5ad50dddfe0de34bc92e" name="ad20ed322678e5ad50dddfe0de34bc92e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad20ed322678e5ad50dddfe0de34bc92e">&#9670;&#160;</a></span>pbStartBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbStartBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canlose</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb172a940d9b57110c82a50279f112a1" name="aeb172a940d9b57110c82a50279f112a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb172a940d9b57110c82a50279f112a1">&#9670;&#160;</a></span>pbStorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbStorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae2b45410b47a0e1264a780ca885ad52" name="aae2b45410b47a0e1264a780ca885ad52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae2b45410b47a0e1264a780ca885ad52">&#9670;&#160;</a></span>pbSwitchInBetween()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.pbSwitchInBetween </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i3</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a9864095be3b776a0b5e71c75cf6276aa" name="a9864095be3b776a0b5e71c75cf6276aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9864095be3b776a0b5e71c75cf6276aa">&#9670;&#160;</a></span>randomnums</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.randomnums</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0e280f126690f15f43baab75e1e99f0b" name="a0e280f126690f15f43baab75e1e99f0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e280f126690f15f43baab75e1e99f0b">&#9670;&#160;</a></span>rounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>,int&gt;[]&gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.rounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>
