@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IRuledTeam Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IRuledTeam Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IRuledTeam:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.png" usemap="#PokemonEssentials.Interface.Battle.IRuledTeam_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IRuledTeam_map" name="PokemonEssentials.Interface.Battle.IRuledTeam_map">
<area href="class_pokemon_unity_1_1_ruled_team.cshtml" alt="PokemonUnity.RuledTeam" shape="rect" coords="0,56,277,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a393ad93daed37c98743670e0ab7fb4f0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a393ad93daed37c98743670e0ab7fb4f0">updateRating</a> ()</td></tr>
<tr class="separator:a393ad93daed37c98743670e0ab7fb4f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a101d28ced86fd394071d1afea562b1cd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a101d28ced86fd394071d1afea562b1cd">compare</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other)</td></tr>
<tr class="separator:a101d28ced86fd394071d1afea562b1cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29c8fe026159906b2c3ad3afb0278e6e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29c8fe026159906b2c3ad3afb0278e6e">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> other, int score)</td></tr>
<tr class="separator:a29c8fe026159906b2c3ad3afb0278e6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93d721b5223e8af125214d551300b315"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a93d721b5223e8af125214d551300b315">initialize</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a93d721b5223e8af125214d551300b315"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abe907ddb050238d41a55b267fdf9310e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#abe907ddb050238d41a55b267fdf9310e">ToString</a> ()</td></tr>
<tr class="separator:abe907ddb050238d41a55b267fdf9310e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21b235b8c159ed926f81f2996b52b581"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a21b235b8c159ed926f81f2996b52b581">load</a> (IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party)</td></tr>
<tr class="separator:a21b235b8c159ed926f81f2996b52b581"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aaecdf8c49973c752a7a5e77574a00043"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#aaecdf8c49973c752a7a5e77574a00043">rating</a><code> [get]</code></td></tr>
<tr class="separator:aaecdf8c49973c752a7a5e77574a00043"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e794504b4d2106704d08c3e48126300"><td class="memItemLeft" align="right" valign="top">float[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a0e794504b4d2106704d08c3e48126300">ratingRaw</a><code> [get]</code></td></tr>
<tr class="separator:a0e794504b4d2106704d08c3e48126300"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae57eae66efa0f2897debc422a36e7877"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae57eae66efa0f2897debc422a36e7877">ratingData</a><code> [get]</code></td></tr>
<tr class="separator:ae57eae66efa0f2897debc422a36e7877"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29be20fe2f0c4a39d799c0bb24fc4b2b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29be20fe2f0c4a39d799c0bb24fc4b2b">totalGames</a><code> [get]</code></td></tr>
<tr class="separator:a29be20fe2f0c4a39d799c0bb24fc4b2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3cd52e4aba7b3356587ccb01f80216a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad3cd52e4aba7b3356587ccb01f80216a">games</a><code> [get]</code></td></tr>
<tr class="separator:ad3cd52e4aba7b3356587ccb01f80216a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822ef4835ea78d6ec0112ff9ab31b4ff"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a822ef4835ea78d6ec0112ff9ab31b4ff">team</a><code> [get]</code></td></tr>
<tr class="separator:a822ef4835ea78d6ec0112ff9ab31b4ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1baee7d5adc9197a83dc068c452ad0a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad1baee7d5adc9197a83dc068c452ad0a">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:ad1baee7d5adc9197a83dc068c452ad0a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1060773939b5f56ee6bff9d4987a37f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae1060773939b5f56ee6bff9d4987a37f">length</a><code> [get]</code></td></tr>
<tr class="separator:ae1060773939b5f56ee6bff9d4987a37f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a29c8fe026159906b2c3ad3afb0278e6e" name="a29c8fe026159906b2c3ad3afb0278e6e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29c8fe026159906b2c3ad3afb0278e6e">&#9670;&#160;</a></span>addMatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IRuledTeam.addMatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>other</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>score</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a196dfbd27744f19eb17bf51348be99e5">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a101d28ced86fd394071d1afea562b1cd" name="a101d28ced86fd394071d1afea562b1cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a101d28ced86fd394071d1afea562b1cd">&#9670;&#160;</a></span>compare()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IRuledTeam.compare </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a157a72f95bcb88d3326ff93962a349a8">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a93d721b5223e8af125214d551300b315" name="a93d721b5223e8af125214d551300b315"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93d721b5223e8af125214d551300b315">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> PokemonEssentials.Interface.Battle.IRuledTeam.initialize </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#aa55e122729f0b566b863d8f24a474443">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a21b235b8c159ed926f81f2996b52b581" name="a21b235b8c159ed926f81f2996b52b581"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21b235b8c159ed926f81f2996b52b581">&#9670;&#160;</a></span>load()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; PokemonEssentials.Interface.Battle.IRuledTeam.load </td>
          <td>(</td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a2d64bf9d158e148b17adf30e19dbb13a">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="abe907ddb050238d41a55b267fdf9310e" name="abe907ddb050238d41a55b267fdf9310e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abe907ddb050238d41a55b267fdf9310e">&#9670;&#160;</a></span>ToString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.IRuledTeam.ToString </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a22b495810a4e51901001d2cda6d222cd">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a393ad93daed37c98743670e0ab7fb4f0" name="a393ad93daed37c98743670e0ab7fb4f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a393ad93daed37c98743670e0ab7fb4f0">&#9670;&#160;</a></span>updateRating()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IRuledTeam.updateRating </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a622829d9d9ef378232018fd593ba4527">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad3cd52e4aba7b3356587ccb01f80216a" name="ad3cd52e4aba7b3356587ccb01f80216a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3cd52e4aba7b3356587ccb01f80216a">&#9670;&#160;</a></span>games</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IRuledTeam.games</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a1ba74db949865e5d8cc41e2f54334d21">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="ae1060773939b5f56ee6bff9d4987a37f" name="ae1060773939b5f56ee6bff9d4987a37f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1060773939b5f56ee6bff9d4987a37f">&#9670;&#160;</a></span>length</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IRuledTeam.length</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a957f4bcb313d6c956ffdeea473509ccd">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="aaecdf8c49973c752a7a5e77574a00043" name="aaecdf8c49973c752a7a5e77574a00043"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaecdf8c49973c752a7a5e77574a00043">&#9670;&#160;</a></span>rating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IRuledTeam.rating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#adfbf01b5c4c970f6212c709e17810cdc">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="ae57eae66efa0f2897debc422a36e7877" name="ae57eae66efa0f2897debc422a36e7877"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae57eae66efa0f2897debc422a36e7877">&#9670;&#160;</a></span>ratingData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonEssentials.Interface.Battle.IRuledTeam.ratingData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a403d1dd6d8a1d55485ec2b82303f922c">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a0e794504b4d2106704d08c3e48126300" name="a0e794504b4d2106704d08c3e48126300"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e794504b4d2106704d08c3e48126300">&#9670;&#160;</a></span>ratingRaw</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float [] PokemonEssentials.Interface.Battle.IRuledTeam.ratingRaw</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a472d727c1d9bc1a0336611cfd4a7e86d">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a822ef4835ea78d6ec0112ff9ab31b4ff" name="a822ef4835ea78d6ec0112ff9ab31b4ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a822ef4835ea78d6ec0112ff9ab31b4ff">&#9670;&#160;</a></span>team</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt; PokemonEssentials.Interface.Battle.IRuledTeam.team</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a3f2488bb9e63080d64e5e4e65e445b29">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="ad1baee7d5adc9197a83dc068c452ad0a" name="ad1baee7d5adc9197a83dc068c452ad0a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1baee7d5adc9197a83dc068c452ad0a">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IRuledTeam.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#a792dfca7d9067812b5190aec719d6ba5">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<a id="a29be20fe2f0c4a39d799c0bb24fc4b2b" name="a29be20fe2f0c4a39d799c0bb24fc4b2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29be20fe2f0c4a39d799c0bb24fc4b2b">&#9670;&#160;</a></span>totalGames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IRuledTeam.totalGames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_ruled_team.cshtml#afabee315861e1ca69332a0781766ed7f">PokemonUnity.RuledTeam</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_generator_8cs.cshtml">IOrgBattleGenerator.cs</a></li>
</ul>

