@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">IMapData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a3032361567bf644d998686f247dc5898">autoplay_bgm</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a1988755430935c61130f915ba9855b32">autoplay_bgs</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a30f7afe698f8e37a0ccdc394fce29b06">bgm</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a43730c8fef5fecec0fabcf583db6ea16">bgs</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a44a36362fb599c67fbf4526df7d3660a">data</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a16a1a9c42e38fc4d2617986486b17af2">encounter_list</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#abf29b1c7f0516e1afb69bd08c0d50c38">encounter_step</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#a662c7b6fb1e0a4a30aa3bc8b3695e84b">events</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#af710ff7a6610a7df3bd8675cdd17dcf2">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#afb2ab84fd9147ab821d7f60bcba9b85a">tileset_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml#ad579c375e3c0a5ed366c3f68c58512d2">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_data.cshtml">PokemonEssentials.Interface.Field.IMapData</a></td><td class="entry"></td></tr>
</table>