@{
	Page.Title = "PokemonUnity.IScene_Intro Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_scene___intro.cshtml">IScene_Intro</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_scene___intro-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IScene_Intro Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IScene_Intro:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_scene___intro.png" usemap="#PokemonUnity.IScene_5FIntro_map" alt=""/>
  <map id="PokemonUnity.IScene_5FIntro_map" name="PokemonUnity.IScene_5FIntro_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,166,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a2a66caf1350bd73b21cbb6ff5bfb8c2b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene___intro.cshtml#a2a66caf1350bd73b21cbb6ff5bfb8c2b">initialize</a> ()</td></tr>
<tr class="separator:a2a66caf1350bd73b21cbb6ff5bfb8c2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5faeaa543c55d57049e5b8c0829ba975"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene___intro.cshtml#a5faeaa543c55d57049e5b8c0829ba975">main</a> ()</td></tr>
<tr class="separator:a5faeaa543c55d57049e5b8c0829ba975"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a2a66caf1350bd73b21cbb6ff5bfb8c2b" name="a2a66caf1350bd73b21cbb6ff5bfb8c2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a66caf1350bd73b21cbb6ff5bfb8c2b">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IScene_Intro.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5faeaa543c55d57049e5b8c0829ba975" name="a5faeaa543c55d57049e5b8c0829ba975"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5faeaa543c55d57049e5b8c0829ba975">&#9670;&#160;</a></span>main()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IScene_Intro.main </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
