@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IPokemonChatter Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_chatter.cshtml">IPokemonChatter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_chatter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IPokemonChatter Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_chatter.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IPokemonChatter:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_chatter.png" usemap="#PokemonEssentials.Interface.PokeBattle.IPokemonChatter_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IPokemonChatter_map" name="PokemonEssentials.Interface.PokeBattle.IPokemonChatter_map">
<area href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml" alt="PokemonUnity.Monster.Pokemon" shape="rect" coords="0,56,335,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a18103240876a75f76dd0b4a2d921a6ad"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_wave_data.cshtml">IWaveData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_chatter.cshtml#a18103240876a75f76dd0b4a2d921a6ad">chatter</a> <code>[get, set]</code></td></tr>
<tr class="separator:a18103240876a75f76dd0b4a2d921a6ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a18103240876a75f76dd0b4a2d921a6ad" name="a18103240876a75f76dd0b4a2d921a6ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18103240876a75f76dd0b4a2d921a6ad">&#9670;&#160;</a></span>chatter</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_wave_data.cshtml">IWaveData</a> PokemonEssentials.Interface.PokeBattle.IPokemonChatter.chatter</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a64a866128ca71486212b3fc3db8069a4">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_chatter_8cs.cshtml">IPokemonChatter.cs</a></li>
</ul>
