@{
	Page.Title = "PokemonEssentials.Interface.ISpritePicture Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">ISpritePicture</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritePicture Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISpritePicture:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a201de06b767a8c0bd93b31b21d0e476d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">ISpritePicture</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a201de06b767a8c0bd93b31b21d0e476d">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> picture)</td></tr>
<tr class="separator:a201de06b767a8c0bd93b31b21d0e476d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20eeb73ca7b3438120218157e08b1921"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a20eeb73ca7b3438120218157e08b1921">dispose</a> ()</td></tr>
<tr class="separator:a20eeb73ca7b3438120218157e08b1921"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a241ba54b2ca44d86a6d35f6797c05e1a"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a241ba54b2ca44d86a6d35f6797c05e1a">update</a> ()</td></tr>
<tr class="separator:a241ba54b2ca44d86a6d35f6797c05e1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a20eeb73ca7b3438120218157e08b1921" name="a20eeb73ca7b3438120218157e08b1921"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20eeb73ca7b3438120218157e08b1921">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritePicture.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a201de06b767a8c0bd93b31b21d0e476d" name="a201de06b767a8c0bd93b31b21d0e476d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a201de06b767a8c0bd93b31b21d0e476d">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">ISpritePicture</a> PokemonEssentials.Interface.ISpritePicture.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td>
          <td class="paramname"><em>picture</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a241ba54b2ca44d86a6d35f6797c05e1a" name="a241ba54b2ca44d86a6d35f6797c05e1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a241ba54b2ca44d86a6d35f6797c05e1a">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.ISpritePicture.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_pokemon_8cs.cshtml">ISpritePokemon.cs</a></li>
</ul>
