@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPurifyChamberScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">IPurifyChamberScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPurifyChamberScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.png" usemap="#PokemonEssentials.Interface.Screen.IPurifyChamberScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPurifyChamberScreen_map" name="PokemonEssentials.Interface.Screen.IPurifyChamberScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,351,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0feaf14fcf621cad5bf2b213357143d7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">IPurifyChamberScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a0feaf14fcf621cad5bf2b213357143d7">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a> scene)</td></tr>
<tr class="separator:a0feaf14fcf621cad5bf2b213357143d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69d312ba53984bb91542a68bb536882f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a69d312ba53984bb91542a68bb536882f">pbPlace</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int position)</td></tr>
<tr class="separator:a69d312ba53984bb91542a68bb536882f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1dabe15289a6149842628353e1abdfdf"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a1dabe15289a6149842628353e1abdfdf">pbPlacePokemon</a> (int[] pos, int position)</td></tr>
<tr class="separator:a1dabe15289a6149842628353e1abdfdf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69891d2af01e3f64961d9f95a8c62ac3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a69891d2af01e3f64961d9f95a8c62ac3">pbOnPlace</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a69891d2af01e3f64961d9f95a8c62ac3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87dd3d78d80ced0032396780e21701f4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a87dd3d78d80ced0032396780e21701f4">pbOpenSetDetail</a> ()</td></tr>
<tr class="separator:a87dd3d78d80ced0032396780e21701f4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa35af41495228dc8971797104febe321"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#aa35af41495228dc8971797104febe321">pbDisplay</a> (string msg)</td></tr>
<tr class="separator:aa35af41495228dc8971797104febe321"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e2f068b7cc75e9aa6fca14a4b7e4e0e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a5e2f068b7cc75e9aa6fca14a4b7e4e0e">pbConfirm</a> (string msg)</td></tr>
<tr class="separator:a5e2f068b7cc75e9aa6fca14a4b7e4e0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35a9b3e60b489ea09fa31698f23cbd9d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a35a9b3e60b489ea09fa31698f23cbd9d">pbRefresh</a> ()</td></tr>
<tr class="separator:a35a9b3e60b489ea09fa31698f23cbd9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a754bcc2cd7d3eedc88cfc20b63f37ac7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a754bcc2cd7d3eedc88cfc20b63f37ac7">pbCheckPurify</a> ()</td></tr>
<tr class="separator:a754bcc2cd7d3eedc88cfc20b63f37ac7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7bed3665a4b56450bf8621d322f00201"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a7bed3665a4b56450bf8621d322f00201">pbDoPurify</a> ()</td></tr>
<tr class="separator:a7bed3665a4b56450bf8621d322f00201"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a666c25bcb220ebfa441445ed9ab790e2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a666c25bcb220ebfa441445ed9ab790e2">pbStartPurify</a> ()</td></tr>
<tr class="separator:a666c25bcb220ebfa441445ed9ab790e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0feaf14fcf621cad5bf2b213357143d7" name="a0feaf14fcf621cad5bf2b213357143d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0feaf14fcf621cad5bf2b213357143d7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">IPurifyChamberScreen</a> PokemonEssentials.Interface.Screen.IPurifyChamberScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a754bcc2cd7d3eedc88cfc20b63f37ac7" name="a754bcc2cd7d3eedc88cfc20b63f37ac7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a754bcc2cd7d3eedc88cfc20b63f37ac7">&#9670;&#160;</a></span>pbCheckPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbCheckPurify </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5e2f068b7cc75e9aa6fca14a4b7e4e0e" name="a5e2f068b7cc75e9aa6fca14a4b7e4e0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e2f068b7cc75e9aa6fca14a4b7e4e0e">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa35af41495228dc8971797104febe321" name="aa35af41495228dc8971797104febe321"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa35af41495228dc8971797104febe321">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7bed3665a4b56450bf8621d322f00201" name="a7bed3665a4b56450bf8621d322f00201"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7bed3665a4b56450bf8621d322f00201">&#9670;&#160;</a></span>pbDoPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbDoPurify </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a69891d2af01e3f64961d9f95a8c62ac3" name="a69891d2af01e3f64961d9f95a8c62ac3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69891d2af01e3f64961d9f95a8c62ac3">&#9670;&#160;</a></span>pbOnPlace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbOnPlace </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a87dd3d78d80ced0032396780e21701f4" name="a87dd3d78d80ced0032396780e21701f4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87dd3d78d80ced0032396780e21701f4">&#9670;&#160;</a></span>pbOpenSetDetail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbOpenSetDetail </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a69d312ba53984bb91542a68bb536882f" name="a69d312ba53984bb91542a68bb536882f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69d312ba53984bb91542a68bb536882f">&#9670;&#160;</a></span>pbPlace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbPlace </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1dabe15289a6149842628353e1abdfdf" name="a1dabe15289a6149842628353e1abdfdf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1dabe15289a6149842628353e1abdfdf">&#9670;&#160;</a></span>pbPlacePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbPlacePokemon </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>pos</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pos</td><td>x: storage box, y: box index</td></tr>
    <tr><td class="paramname">position</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a35a9b3e60b489ea09fa31698f23cbd9d" name="a35a9b3e60b489ea09fa31698f23cbd9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35a9b3e60b489ea09fa31698f23cbd9d">&#9670;&#160;</a></span>pbRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a666c25bcb220ebfa441445ed9ab790e2" name="a666c25bcb220ebfa441445ed9ab790e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a666c25bcb220ebfa441445ed9ab790e2">&#9670;&#160;</a></span>pbStartPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberScreen.pbStartPurify </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>
