@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">IBattlerClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerClause Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a23a0d1ec5d56980a83dbe4063ce05df0">pbCanFreeze</a>(IBattler attacker, bool showMessages, IBattleMove move=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a8014d1c730bbe166627591bfda2a2fa7">pbCanSleep</a>(IBattler attacker, bool showMessages, IBattleMove move=null, bool ignorestatus=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a69f646e455ee6b752958e8924d5ac4d2">pbCanSleepYawn</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a3384d0f3db7a8e8154144698553044dd">pbHasStatusPokemon</a>(Status status)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
</table>