@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Item.IGamePokeRadar Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml">IGamePokeRadar</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGamePokeRadar Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a73c3a900aef04088ab33c72bcfa2c145"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a73c3a900aef04088ab33c72bcfa2c145">pbCanUsePokeRadar</a> ()</td></tr>
<tr class="separator:a73c3a900aef04088ab33c72bcfa2c145"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd58e7279b27cf7c01938ff60493e76f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#abd58e7279b27cf7c01938ff60493e76f">pbUsePokeRadar</a> ()</td></tr>
<tr class="separator:abd58e7279b27cf7c01938ff60493e76f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8c19d4ca05d8dec2a13a126bca3a815"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#aa8c19d4ca05d8dec2a13a126bca3a815">pbPokeRadarHighlightGrass</a> (bool showmessage=true)</td></tr>
<tr class="separator:aa8c19d4ca05d8dec2a13a126bca3a815"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a122ce4fd2556879fa92d1913394a2006"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a122ce4fd2556879fa92d1913394a2006">pbPokeRadarCancel</a> ()</td></tr>
<tr class="separator:a122ce4fd2556879fa92d1913394a2006"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b6eb37ee9cc76cf69826032a20bf318"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a6b6eb37ee9cc76cf69826032a20bf318">pbPokeRadarGetShakingGrass</a> ()</td></tr>
<tr class="separator:a6b6eb37ee9cc76cf69826032a20bf318"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a579810a3fa21fa9ba55668cb5f5143aa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a579810a3fa21fa9ba55668cb5f5143aa">pbPokeRadarOnShakingGrass</a> ()</td></tr>
<tr class="separator:a579810a3fa21fa9ba55668cb5f5143aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b770e1b59626035654defc353520206"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">Field.IEncounter</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a9b770e1b59626035654defc353520206">pbPokeRadarGetEncounter</a> (int rarity=0)</td></tr>
<tr class="separator:a9b770e1b59626035654defc353520206"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a73c3a900aef04088ab33c72bcfa2c145" name="a73c3a900aef04088ab33c72bcfa2c145"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73c3a900aef04088ab33c72bcfa2c145">&#9670;&#160;</a></span>pbCanUsePokeRadar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.pbCanUsePokeRadar </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a122ce4fd2556879fa92d1913394a2006" name="a122ce4fd2556879fa92d1913394a2006"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a122ce4fd2556879fa92d1913394a2006">&#9670;&#160;</a></span>pbPokeRadarCancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IGamePokeRadar.pbPokeRadarCancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9b770e1b59626035654defc353520206" name="a9b770e1b59626035654defc353520206"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b770e1b59626035654defc353520206">&#9670;&#160;</a></span>pbPokeRadarGetEncounter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">Field.IEncounter</a> PokemonEssentials.Interface.Item.IGamePokeRadar.pbPokeRadarGetEncounter </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>rarity</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6b6eb37ee9cc76cf69826032a20bf318" name="a6b6eb37ee9cc76cf69826032a20bf318"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b6eb37ee9cc76cf69826032a20bf318">&#9670;&#160;</a></span>pbPokeRadarGetShakingGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IGamePokeRadar.pbPokeRadarGetShakingGrass </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa8c19d4ca05d8dec2a13a126bca3a815" name="aa8c19d4ca05d8dec2a13a126bca3a815"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa8c19d4ca05d8dec2a13a126bca3a815">&#9670;&#160;</a></span>pbPokeRadarHighlightGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IGamePokeRadar.pbPokeRadarHighlightGrass </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a579810a3fa21fa9ba55668cb5f5143aa" name="a579810a3fa21fa9ba55668cb5f5143aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a579810a3fa21fa9ba55668cb5f5143aa">&#9670;&#160;</a></span>pbPokeRadarOnShakingGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.pbPokeRadarOnShakingGrass </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abd58e7279b27cf7c01938ff60493e76f" name="abd58e7279b27cf7c01938ff60493e76f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd58e7279b27cf7c01938ff60493e76f">&#9670;&#160;</a></span>pbUsePokeRadar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.pbUsePokeRadar </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
