@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonFormScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.cshtml">IPokemonFormScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonFormScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonFormScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonFormScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonFormScreen_map" name="PokemonEssentials.Interface.Screen.IPokemonFormScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,346,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab6a11f4dfdd20ef1e8186e053853bff3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.cshtml">IPokemonFormScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.cshtml#ab6a11f4dfdd20ef1e8186e053853bff3">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_scene.cshtml">IPokemonFormScene</a> scene)</td></tr>
<tr class="separator:ab6a11f4dfdd20ef1e8186e053853bff3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae5e1511c63703eac84cb5f0c70671a4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.cshtml#aae5e1511c63703eac84cb5f0c70671a4">pbStartScreen</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int listlimits)</td></tr>
<tr class="separator:aae5e1511c63703eac84cb5f0c70671a4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab6a11f4dfdd20ef1e8186e053853bff3" name="ab6a11f4dfdd20ef1e8186e053853bff3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6a11f4dfdd20ef1e8186e053853bff3">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_screen.cshtml">IPokemonFormScreen</a> PokemonEssentials.Interface.Screen.IPokemonFormScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_scene.cshtml">IPokemonFormScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae5e1511c63703eac84cb5f0c70671a4" name="aae5e1511c63703eac84cb5f0c70671a4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae5e1511c63703eac84cb5f0c70671a4">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonFormScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>listlimits</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_pokedex_nest_form_8cs.cshtml">IPokedexNestForm.cs</a></li>
</ul>
