@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IBattleTower Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_tower.cshtml">IBattleTower</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_tower-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleTower Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleTower:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_tower.png" usemap="#PokemonEssentials.Interface.Battle.IBattleTower_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleTower_map" name="PokemonEssentials.Interface.Battle.IBattleTower_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleType" shape="rect" coords="0,0,281,24"/>
<area href="class_pokemon_unity_1_1_battle_tower.cshtml" alt="PokemonUnity.BattleTower" shape="rect" coords="0,112,281,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">PokemonEssentials.Interface.Battle.IBattleType</a></td></tr>
<tr class="memitem:a63386634dd4fd6836760b008c4e24be2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml#a63386634dd4fd6836760b008c4e24be2">CreateBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:a63386634dd4fd6836760b008c4e24be2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

