@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">ISpritesetMapAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritesetMapAnimation Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#a078f66a83e16c4d6673ef8a2dbe56e8e">addUserAnimation</a>(int animID, float x, float y, bool tinting=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#adf6e098e1968bb6c63d5e14f5be7f27f">addUserSprite</a>(ISprite sprite)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#abcd1e70dbd5d2ca13006f725cb0ae290">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#a5abfafb9c1a988a3faf18c4345c8a2bf">initialize</a>(IGameMap map=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#aca2bd406ae922b2369cf2f5da2f044b0">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">PokemonEssentials.Interface.ISpritesetMapAnimation</a></td><td class="entry"></td></tr>
</table>
