@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">IGameTextEntry</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameTextEntry Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a132a3cbfedc9edb74a2665af646e2ec2">pbEnterBoxName</a>(string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, bool nofadeout=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a0b6894e4097072344a53ac22af5998cd">pbEnterNPCName</a>(string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, int id=0, bool nofadeout=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a7585cddec745108d590c19f35ff14eb4">pbEnterPlayerName</a>(string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, bool nofadeout=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#ad25ba1c12f6d9e08a08a5a82a5c6ea63">pbEnterPokemonName</a>(string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, IPokemon pokemon=null, bool nofadeout=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a9d1b6258c87088839f9e373bfe9f3567">pbEnterText</a>(string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, int mode=0, IPokemon pokemon=null, bool nofadeout=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">PokemonEssentials.Interface.Screen.IGameTextEntry</a></td><td class="entry"></td></tr>
</table>