@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule&lt; out TBattle &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">IRecordedBattleModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule&lt; out TBattle &gt; Interface Template Reference</div></div>
}


<p>Recording of a Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4394212c1c4ea9b7ece00e01b48605ae"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a4394212c1c4ea9b7ece00e01b48605ae">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] p1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] p2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] opponent)</td></tr>
<tr class="separator:a4394212c1c4ea9b7ece00e01b48605ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa711f9b76196951fd80d737d8d08668f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#aa711f9b76196951fd80d737d8d08668f">GetBattleType</a> ()</td></tr>
<tr class="separator:aa711f9b76196951fd80d737d8d08668f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bee053716be5338a18644fdd8e1a756"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a5bee053716be5338a18644fdd8e1a756">GetTrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer)</td></tr>
<tr class="separator:a5bee053716be5338a18644fdd8e1a756"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68b8b363bb96574d45e50b0cf89a18fc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a68b8b363bb96574d45e50b0cf89a18fc">StartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:a68b8b363bb96574d45e50b0cf89a18fc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a677adcfbd3e0fd21790590d3900bb672"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a677adcfbd3e0fd21790590d3900bb672">DumpRecord</a> ()</td></tr>
<tr class="separator:a677adcfbd3e0fd21790590d3900bb672"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a67f53e23b9f7cb0090c32fd1a1d6856a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a67f53e23b9f7cb0090c32fd1a1d6856a">SwitchInBetween</a> (int i1, bool i2, bool i3)</td></tr>
<tr class="separator:a67f53e23b9f7cb0090c32fd1a1d6856a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afea87c9916bd2ea00620aaaeff24ef2a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#afea87c9916bd2ea00620aaaeff24ef2a">RegisterMove</a> (int i1, int i2, bool showMessages=true)</td></tr>
<tr class="separator:afea87c9916bd2ea00620aaaeff24ef2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6dbc32e849c1651acd77f65ad95e5c6b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a6dbc32e849c1651acd77f65ad95e5c6b">Run</a> (int i1, bool duringBattle=false)</td></tr>
<tr class="separator:a6dbc32e849c1651acd77f65ad95e5c6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbac79daac1553f56ccbc20f3eafd4aa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#afbac79daac1553f56ccbc20f3eafd4aa">RegisterTarget</a> (int i1, int i2)</td></tr>
<tr class="separator:afbac79daac1553f56ccbc20f3eafd4aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5a6e710f951a21a42ace05adcdaa4c9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ad5a6e710f951a21a42ace05adcdaa4c9">AutoChooseMove</a> (int i1, bool showMessages=true)</td></tr>
<tr class="separator:ad5a6e710f951a21a42ace05adcdaa4c9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a372344888a08c4cab5570162de507dd2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a372344888a08c4cab5570162de507dd2">RegisterSwitch</a> (int i1, int i2)</td></tr>
<tr class="separator:a372344888a08c4cab5570162de507dd2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b">RegisterItem</a> (int i1, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> i2)</td></tr>
<tr class="separator:a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69ff9e43c6d07fb3148a02627fa591c3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a69ff9e43c6d07fb3148a02627fa591c3">CommandPhase</a> ()</td></tr>
<tr class="separator:a69ff9e43c6d07fb3148a02627fa591c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4d2cb83712333ddca77164a577100851"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a4d2cb83712333ddca77164a577100851">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a4d2cb83712333ddca77164a577100851"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85dfac2a695024e31a2fb18b9d263bdf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a85dfac2a695024e31a2fb18b9d263bdf">Random</a> (int num)</td></tr>
<tr class="separator:a85dfac2a695024e31a2fb18b9d263bdf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae4b18d0e6a89402b2e15c17968b39790"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#ae4b18d0e6a89402b2e15c17968b39790">randomnumbers</a><code> [get]</code></td></tr>
<tr class="separator:ae4b18d0e6a89402b2e15c17968b39790"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a880f8d1f0de04a717db09383cbba204b"><td class="memItemLeft" align="right" valign="top">IList&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>, int &gt;?[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a880f8d1f0de04a717db09383cbba204b">rounds</a><code> [get]</code></td></tr>
<tr class="separator:a880f8d1f0de04a717db09383cbba204b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d8d55832f9bb3f5c72496257d3fa57e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a6d8d55832f9bb3f5c72496257d3fa57e">properties</a><code> [get]</code></td></tr>
<tr class="separator:a6d8d55832f9bb3f5c72496257d3fa57e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03ae12501cfffdac08a1667f7010b9c6"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml#a03ae12501cfffdac08a1667f7010b9c6">switches</a><code> [get]</code></td></tr>
<tr class="separator:a03ae12501cfffdac08a1667f7010b9c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Recording of a Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>  </p>
<dl class="tparams"><dt>Template Parameters</dt><dd>
  <table class="tparams">
    <tr><td class="paramname">TBattle</td><td>any <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a> entity</td></tr>
  </table>
  </dd>
</dl>
<div class="typeconstraint">
<dl><dt><b>Type Constraints</b></dt><dd>
<table border="0" cellspacing="2" cellpadding="0">
<tr><td valign="top"><em>TBattle</em></td><td>&#160;:</td><td valign="top"><em><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a></em></td><td>&#160;</td></tr>
</table>
</dd>
</dl>
</div>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ad5a6e710f951a21a42ace05adcdaa4c9" name="ad5a6e710f951a21a42ace05adcdaa4c9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5a6e710f951a21a42ace05adcdaa4c9">&#9670;&#160;</a></span>AutoChooseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.AutoChooseMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a69ff9e43c6d07fb3148a02627fa591c3" name="a69ff9e43c6d07fb3148a02627fa591c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69ff9e43c6d07fb3148a02627fa591c3">&#9670;&#160;</a></span>CommandPhase()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.CommandPhase </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a677adcfbd3e0fd21790590d3900bb672" name="a677adcfbd3e0fd21790590d3900bb672"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a677adcfbd3e0fd21790590d3900bb672">&#9670;&#160;</a></span>DumpRecord()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.DumpRecord </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa711f9b76196951fd80d737d8d08668f" name="aa711f9b76196951fd80d737d8d08668f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa711f9b76196951fd80d737d8d08668f">&#9670;&#160;</a></span>GetBattleType()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.GetBattleType </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5bee053716be5338a18644fdd8e1a756" name="a5bee053716be5338a18644fdd8e1a756"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5bee053716be5338a18644fdd8e1a756">&#9670;&#160;</a></span>GetTrainerInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.GetTrainerInfo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4394212c1c4ea9b7ece00e01b48605ae" name="a4394212c1c4ea9b7ece00e01b48605ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4394212c1c4ea9b7ece00e01b48605ae">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>p1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>p2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>opponent</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a85dfac2a695024e31a2fb18b9d263bdf" name="a85dfac2a695024e31a2fb18b9d263bdf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85dfac2a695024e31a2fb18b9d263bdf">&#9670;&#160;</a></span>Random()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.Random </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b" name="a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18eb8fd2f8edf77a8f9bf1ecbcbe5e1b">&#9670;&#160;</a></span>RegisterItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.RegisterItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afea87c9916bd2ea00620aaaeff24ef2a" name="afea87c9916bd2ea00620aaaeff24ef2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afea87c9916bd2ea00620aaaeff24ef2a">&#9670;&#160;</a></span>RegisterMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.RegisterMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a372344888a08c4cab5570162de507dd2" name="a372344888a08c4cab5570162de507dd2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a372344888a08c4cab5570162de507dd2">&#9670;&#160;</a></span>RegisterSwitch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.RegisterSwitch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afbac79daac1553f56ccbc20f3eafd4aa" name="afbac79daac1553f56ccbc20f3eafd4aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbac79daac1553f56ccbc20f3eafd4aa">&#9670;&#160;</a></span>RegisterTarget()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.RegisterTarget </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6dbc32e849c1651acd77f65ad95e5c6b" name="a6dbc32e849c1651acd77f65ad95e5c6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6dbc32e849c1651acd77f65ad95e5c6b">&#9670;&#160;</a></span>Run()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.Run </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>duringBattle</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a68b8b363bb96574d45e50b0cf89a18fc" name="a68b8b363bb96574d45e50b0cf89a18fc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68b8b363bb96574d45e50b0cf89a18fc">&#9670;&#160;</a></span>StartBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.StartBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canlose</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4d2cb83712333ddca77164a577100851" name="a4d2cb83712333ddca77164a577100851"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4d2cb83712333ddca77164a577100851">&#9670;&#160;</a></span>StorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.StorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a67f53e23b9f7cb0090c32fd1a1d6856a" name="a67f53e23b9f7cb0090c32fd1a1d6856a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67f53e23b9f7cb0090c32fd1a1d6856a">&#9670;&#160;</a></span>SwitchInBetween()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.SwitchInBetween </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i3</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6d8d55832f9bb3f5c72496257d3fa57e" name="a6d8d55832f9bb3f5c72496257d3fa57e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d8d55832f9bb3f5c72496257d3fa57e">&#9670;&#160;</a></span>properties</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.properties</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae4b18d0e6a89402b2e15c17968b39790" name="ae4b18d0e6a89402b2e15c17968b39790"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae4b18d0e6a89402b2e15c17968b39790">&#9670;&#160;</a></span>randomnumbers</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.randomnumbers</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a880f8d1f0de04a717db09383cbba204b" name="a880f8d1f0de04a717db09383cbba204b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a880f8d1f0de04a717db09383cbba204b">&#9670;&#160;</a></span>rounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>,int&gt;?[]&gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.rounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a03ae12501cfffdac08a1667f7010b9c6" name="a03ae12501cfffdac08a1667f7010b9c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03ae12501cfffdac08a1667f7010b9c6">&#9670;&#160;</a></span>switches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_module.cshtml">PokemonEssentials.Interface.PokeBattle.IRecordedBattleModule</a>&lt; out TBattle &gt;.switches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>

