@{
	Page.Title = "PokemonEssentials.Interface.Screen.IBag Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBag Interface Reference</div></div>
}


<p>The Bag object, which actually contains all the items   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IBag:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.png" usemap="#PokemonEssentials.Interface.Screen.IBag_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IBag_map" name="PokemonEssentials.Interface.Screen.IBag_map">
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml" title="Collection of KeyValuePairs grouped by Items. Used in combination with quantity[],..." alt="PokemonUnity.Character.PokemonBag" shape="rect" coords="0,56,247,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aeabd3d5d3a3268fdb33e0dfab9f8a11b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aeabd3d5d3a3268fdb33e0dfab9f8a11b">rearrange</a> ()</td></tr>
<tr class="separator:aeabd3d5d3a3268fdb33e0dfab9f8a11b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20642019c61b1570f900993ae5af0e26"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a20642019c61b1570f900993ae5af0e26">getChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket)</td></tr>
<tr class="memdesc:a20642019c61b1570f900993ae5af0e26"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the index of the current selected item in the pocket   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a20642019c61b1570f900993ae5af0e26">More...</a><br /></td></tr>
<tr class="separator:a20642019c61b1570f900993ae5af0e26"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a824fcd6348572b5073a49fdf64944590"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a824fcd6348572b5073a49fdf64944590">clear</a> ()</td></tr>
<tr class="memdesc:a824fcd6348572b5073a49fdf64944590"><td class="mdescLeft">&#160;</td><td class="mdescRight">Clears the entire bag   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a824fcd6348572b5073a49fdf64944590">More...</a><br /></td></tr>
<tr class="separator:a824fcd6348572b5073a49fdf64944590"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76770141da4c629a35fcf49d1a7f4143"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a76770141da4c629a35fcf49d1a7f4143">setChoice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> pocket, int value)</td></tr>
<tr class="memdesc:a76770141da4c629a35fcf49d1a7f4143"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets the index of the current selected item in the pocket   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a76770141da4c629a35fcf49d1a7f4143">More...</a><br /></td></tr>
<tr class="separator:a76770141da4c629a35fcf49d1a7f4143"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5a9da28ca2fc447c76c98f06270dac3f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a5a9da28ca2fc447c76c98f06270dac3f">RegisterKeyItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="memdesc:a5a9da28ca2fc447c76c98f06270dac3f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Registers the item as a key item. Can be retrieved with Game.GameData.Bag.registeredItem   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a5a9da28ca2fc447c76c98f06270dac3f">More...</a><br /></td></tr>
<tr class="separator:a5a9da28ca2fc447c76c98f06270dac3f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab53aac3b8bb3bba14935ad4e12c7037d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab53aac3b8bb3bba14935ad4e12c7037d">maxPocketSize</a> (int pocket)</td></tr>
<tr class="separator:ab53aac3b8bb3bba14935ad4e12c7037d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a368e27d0225c2c928881c6f75fc8f318"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a368e27d0225c2c928881c6f75fc8f318">Quantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a368e27d0225c2c928881c6f75fc8f318"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a511825d01ecedefdcad71225f085186c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a511825d01ecedefdcad71225f085186c">HasItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a511825d01ecedefdcad71225f085186c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aca9fad88cb1b47c5e813ac6262eaf6e1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aca9fad88cb1b47c5e813ac6262eaf6e1">DeleteItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:aca9fad88cb1b47c5e813ac6262eaf6e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30cb20e954cee4239bdf3eb3947b7a80"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a30cb20e954cee4239bdf3eb3947b7a80">CanStore</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a30cb20e954cee4239bdf3eb3947b7a80"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62653f7eec08b0802e7b55d815e8719c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a62653f7eec08b0802e7b55d815e8719c">StoreAllOrNone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:a62653f7eec08b0802e7b55d815e8719c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5f45fdd3011ba2e318d9281df154185"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ab5f45fdd3011ba2e318d9281df154185">StoreItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int qty=1)</td></tr>
<tr class="separator:ab5f45fdd3011ba2e318d9281df154185"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78d5469727c6cdc6794bdc5ace6adeab"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a78d5469727c6cdc6794bdc5ace6adeab">ChangeItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> olditem, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> newitem)</td></tr>
<tr class="separator:a78d5469727c6cdc6794bdc5ace6adeab"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa4baca81d6d3c7d7aea72f95131af46f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#aa4baca81d6d3c7d7aea72f95131af46f">registeredItem</a><code> [get]</code></td></tr>
<tr class="separator:aa4baca81d6d3c7d7aea72f95131af46f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0926b805901c83f724653beb15ee6978"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a0926b805901c83f724653beb15ee6978">lastpocket</a><code> [get]</code></td></tr>
<tr class="separator:a0926b805901c83f724653beb15ee6978"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac72bc34e127159998f00039d9ed8fca1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac72bc34e127159998f00039d9ed8fca1">pockets</a><code> [get]</code></td></tr>
<tr class="separator:ac72bc34e127159998f00039d9ed8fca1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97a4677837124b90a6d8afad80bea041"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#a97a4677837124b90a6d8afad80bea041">pocketNames</a><code> [get]</code></td></tr>
<tr class="separator:a97a4677837124b90a6d8afad80bea041"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac63e84bbf2a71b18e3052d88cba58be1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml#ac63e84bbf2a71b18e3052d88cba58be1">numPockets</a><code> [get]</code></td></tr>
<tr class="separator:ac63e84bbf2a71b18e3052d88cba58be1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The Bag object, which actually contains all the items  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a30cb20e954cee4239bdf3eb3947b7a80" name="a30cb20e954cee4239bdf3eb3947b7a80"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30cb20e954cee4239bdf3eb3947b7a80">&#9670;&#160;</a></span>CanStore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.CanStore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#abf21eee01230814ab094adda7b61f655">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a78d5469727c6cdc6794bdc5ace6adeab" name="a78d5469727c6cdc6794bdc5ace6adeab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78d5469727c6cdc6794bdc5ace6adeab">&#9670;&#160;</a></span>ChangeItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.ChangeItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>olditem</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>newitem</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ae201213a320ed71cd53a9441a3af6cbe">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a824fcd6348572b5073a49fdf64944590" name="a824fcd6348572b5073a49fdf64944590"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a824fcd6348572b5073a49fdf64944590">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBag.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Clears the entire bag  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a4c9f09609a0006843c5d7cc5d2df635b">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="aca9fad88cb1b47c5e813ac6262eaf6e1" name="aca9fad88cb1b47c5e813ac6262eaf6e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca9fad88cb1b47c5e813ac6262eaf6e1">&#9670;&#160;</a></span>DeleteItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.DeleteItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ad99f6710c40c94a615f503b1a16ea06e">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a20642019c61b1570f900993ae5af0e26" name="a20642019c61b1570f900993ae5af0e26"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20642019c61b1570f900993ae5af0e26">&#9670;&#160;</a></span>getChoice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBag.getChoice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>&#160;</td>
          <td class="paramname"><em>pocket</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the index of the current selected item in the pocket  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pocket</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a561dcce6f8e66c52b40f4814fe842906">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a511825d01ecedefdcad71225f085186c" name="a511825d01ecedefdcad71225f085186c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a511825d01ecedefdcad71225f085186c">&#9670;&#160;</a></span>HasItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.HasItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a1530eb02a5f5115791b4842dc591b8ee">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="ab53aac3b8bb3bba14935ad4e12c7037d" name="ab53aac3b8bb3bba14935ad4e12c7037d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab53aac3b8bb3bba14935ad4e12c7037d">&#9670;&#160;</a></span>maxPocketSize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBag.maxPocketSize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pocket</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a7792a4fb390d287286302a590f276ea3">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a368e27d0225c2c928881c6f75fc8f318" name="a368e27d0225c2c928881c6f75fc8f318"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a368e27d0225c2c928881c6f75fc8f318">&#9670;&#160;</a></span>Quantity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBag.Quantity </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a2d2a213d1bacd08e78d4d9c17f063812">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="aeabd3d5d3a3268fdb33e0dfab9f8a11b" name="aeabd3d5d3a3268fdb33e0dfab9f8a11b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeabd3d5d3a3268fdb33e0dfab9f8a11b">&#9670;&#160;</a></span>rearrange()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBag.rearrange </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ab404c034aa7e6dae980f2d464fd729ff">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a5a9da28ca2fc447c76c98f06270dac3f" name="a5a9da28ca2fc447c76c98f06270dac3f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a9da28ca2fc447c76c98f06270dac3f">&#9670;&#160;</a></span>RegisterKeyItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBag.RegisterKeyItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Registers the item as a key item. Can be retrieved with Game.GameData.Bag.registeredItem  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a7488a8ec3e87768e53125e62c7fc9c10">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a76770141da4c629a35fcf49d1a7f4143" name="a76770141da4c629a35fcf49d1a7f4143"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a76770141da4c629a35fcf49d1a7f4143">&#9670;&#160;</a></span>setChoice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBag.setChoice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>&#160;</td>
          <td class="paramname"><em>pocket</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets the index of the current selected item in the pocket  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pocket</td><td></td></tr>
    <tr><td class="paramname">value</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#ac062d5b6f58b67e99137383ab231c230">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a62653f7eec08b0802e7b55d815e8719c" name="a62653f7eec08b0802e7b55d815e8719c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62653f7eec08b0802e7b55d815e8719c">&#9670;&#160;</a></span>StoreAllOrNone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.StoreAllOrNone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a1cb88a9b8bc83867872ee3f33a64b740">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="ab5f45fdd3011ba2e318d9281df154185" name="ab5f45fdd3011ba2e318d9281df154185"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5f45fdd3011ba2e318d9281df154185">&#9670;&#160;</a></span>StoreItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBag.StoreItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a794f2e3a075c7f86a1022da25498ea2d">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0926b805901c83f724653beb15ee6978" name="a0926b805901c83f724653beb15ee6978"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0926b805901c83f724653beb15ee6978">&#9670;&#160;</a></span>lastpocket</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBag.lastpocket</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a301820e505a36f1c12923b3f4593e560">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="ac63e84bbf2a71b18e3052d88cba58be1" name="ac63e84bbf2a71b18e3052d88cba58be1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac63e84bbf2a71b18e3052d88cba58be1">&#9670;&#160;</a></span>numPockets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBag.numPockets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a2746f14e2704ce2fec41c8884cd8c088">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="a97a4677837124b90a6d8afad80bea041" name="a97a4677837124b90a6d8afad80bea041"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97a4677837124b90a6d8afad80bea041">&#9670;&#160;</a></span>pocketNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonEssentials.Interface.Screen.IBag.pocketNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a5ce35073dfd71eab5341bff6e663e835">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="ac72bc34e127159998f00039d9ed8fca1" name="ac72bc34e127159998f00039d9ed8fca1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac72bc34e127159998f00039d9ed8fca1">&#9670;&#160;</a></span>pockets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> [][] PokemonEssentials.Interface.Screen.IBag.pockets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#a983cba15ca704f8e89fafc23f413b383">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<a id="aa4baca81d6d3c7d7aea72f95131af46f" name="aa4baca81d6d3c7d7aea72f95131af46f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa4baca81d6d3c7d7aea72f95131af46f">&#9670;&#160;</a></span>registeredItem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBag.registeredItem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#aaa0a7e844843d0f5957b1fa793c9c0fb">PokemonUnity.Character.PokemonBag</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_bag_8cs.cshtml">IBag.cs</a></li>
</ul>

