@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallengeType Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a90d55988dfba592d6416fb3a10df2a2b">battletype</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#abd236b54cb8835ce4648c1ae4c8d01af">currentSwaps</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a1a9b9e1d9557f8df0108f22e032962f6">currentWins</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a4d57875e1489bd3004e6926b8a073b41">doublebattle</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a0107a33dc073327d7f8003ee4d00cd0c">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#ae6f474700131722d18c42dcf6505be89">maxSwaps</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#aaf5afd5ee18703fa77fc6d0f1665de6a">maxWins</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a9cd7a905daffacb78343868212f34572">mode</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#ad765edeba57890acb08a1e7b30a7e483">numPokemon</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a4a4b1dec61c8e225f0a672c2d94a2cc9">numRounds</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a46068ba8999199f40d5a13424d44079a">previousSwaps</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#adc46b5037fff1123bb11a061fb72ceea">previousWins</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a086c4bc2584b05444b118f1b3d7b4d06">saveWins</a>(IBattleChallengeData challenge)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">PokemonEssentials.Interface.Battle.IBattleChallengeType</a></td><td class="entry"></td></tr>
</table>
