@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.ITimerDisplay Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml">ITimerDisplay</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ITimerDisplay Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.ITimerDisplay:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab701b539eab950e40da0f9cbed394036"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml#ab701b539eab950e40da0f9cbed394036">initialize</a> (int start, int maxtime)</td></tr>
<tr class="separator:ab701b539eab950e40da0f9cbed394036"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbcc51f4c83c0e9c51830bd65bb78fa1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml#afbcc51f4c83c0e9c51830bd65bb78fa1">dispose</a> ()</td></tr>
<tr class="separator:afbcc51f4c83c0e9c51830bd65bb78fa1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29bffac7519524b0bb48a424c159d8ac"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml#a29bffac7519524b0bb48a424c159d8ac">disposed</a> ()</td></tr>
<tr class="separator:a29bffac7519524b0bb48a424c159d8ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87fbcf2bde3390c61bf6afdd689d5a06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_timer_display.cshtml#a87fbcf2bde3390c61bf6afdd689d5a06">update</a> ()</td></tr>
<tr class="separator:a87fbcf2bde3390c61bf6afdd689d5a06"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Member Function Documentation</h2>
<a id="afbcc51f4c83c0e9c51830bd65bb78fa1" name="afbcc51f4c83c0e9c51830bd65bb78fa1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbcc51f4c83c0e9c51830bd65bb78fa1">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.ITimerDisplay.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a29bffac7519524b0bb48a424c159d8ac" name="a29bffac7519524b0bb48a424c159d8ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29bffac7519524b0bb48a424c159d8ac">&#9670;&#160;</a></span>disposed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.ITimerDisplay.disposed </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab701b539eab950e40da0f9cbed394036" name="ab701b539eab950e40da0f9cbed394036"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab701b539eab950e40da0f9cbed394036">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.ITimerDisplay.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>start</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxtime</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a87fbcf2bde3390c61bf6afdd689d5a06" name="a87fbcf2bde3390c61bf6afdd689d5a06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87fbcf2bde3390c61bf6afdd689d5a06">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.ITimerDisplay.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_bug_contest_8cs.cshtml">IBugContest.cs</a></li>
</ul>

