@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml">ISceneHasChatter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ISceneHasChatter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml">PokemonEssentials.Interface.Screen.ISceneHasChatter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml#a2ca9ae9ddec318025d33b2fbb207adbc">pbChatter</a>(IBattler attacker, IBattler opponent)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene_has_chatter.cshtml">PokemonEssentials.Interface.Screen.ISceneHasChatter</a></td><td class="entry"></td></tr>
</table>