@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">IPokemonMenu_Scene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonMenu_Scene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#a89ccb71b84f7e58af03480a03ab41987">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#a7fdbe3049099aaf355e67d8dfff1979c">pbHideMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#ac9b59054cc76e1e04e294c5682a7335e">pbShowCommands</a>(string[] commands)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#ae90cbd5c866f0318aad54bb79cce7490">pbShowHelp</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#ad46f4c3dfd00d01ede28bd74d7da6859">pbShowInfo</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#af4ddf068529db585dd1284e05d233fd7">pbShowMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml#a04b1ab41e54fb23eb445a325778a3204">pbStartScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml">PokemonUnity.IPokemonMenu_Scene</a></td><td class="entry"></td></tr>
</table>