@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">IMapChunkUnit</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapChunkUnit Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">PokemonEssentials.Interface.Field.IMapChunkUnit</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#a951063c7e5e6ac62619a90ea0119c565">MapId</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">PokemonEssentials.Interface.Field.IMapChunkUnit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#af10ed1be6c1dc17a64c24b7239200486">X</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">PokemonEssentials.Interface.Field.IMapChunkUnit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#aa73589cb7fdd3367d6f87cc21a7a34ab">Y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">PokemonEssentials.Interface.Field.IMapChunkUnit</a></td><td class="entry"></td></tr>
</table>
