@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IGameOrgBattle Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml">IGameOrgBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattle Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:afb916287a3d241d5b90bb358edfdecc3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#afb916287a3d241d5b90bb358edfdecc3">HasEligible</a> (params object[] args)</td></tr>
<tr class="separator:afb916287a3d241d5b90bb358edfdecc3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae38b267b884eface7f7a3a3e26f73cf8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ae38b267b884eface7f7a3a3e26f73cf8">GetBTTrainers</a> (int challengeID)</td></tr>
<tr class="separator:ae38b267b884eface7f7a3a3e26f73cf8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b505741c9fd3cc46261cad2159b3de8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a6b505741c9fd3cc46261cad2159b3de8">GetBTPokemon</a> (int challengeID)</td></tr>
<tr class="separator:a6b505741c9fd3cc46261cad2159b3de8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5281dd213cb5f1d44b82c5f310547c13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a5281dd213cb5f1d44b82c5f310547c13">RecordLastBattle</a> ()</td></tr>
<tr class="separator:a5281dd213cb5f1d44b82c5f310547c13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50f416752b7c8072e722e245e518d993"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a50f416752b7c8072e722e245e518d993">PlayBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml">IBattleRecordData</a> battledata)</td></tr>
<tr class="separator:a50f416752b7c8072e722e245e518d993"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb46c9c8a44a4079e04f8411026be8bc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#afb46c9c8a44a4079e04f8411026be8bc">DebugPlayBattle</a> ()</td></tr>
<tr class="separator:afb46c9c8a44a4079e04f8411026be8bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1562f2e0e5e46a85645c6e3d14a74d9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ae1562f2e0e5e46a85645c6e3d14a74d9">PlayLastBattle</a> ()</td></tr>
<tr class="separator:ae1562f2e0e5e46a85645c6e3d14a74d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8806421a8b7a18b54372b9e10d0abacb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a8806421a8b7a18b54372b9e10d0abacb">PlayBattleFromFile</a> (string filename)</td></tr>
<tr class="separator:a8806421a8b7a18b54372b9e10d0abacb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c1691d7ec1d4a70ade6c36058214252"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a2c1691d7ec1d4a70ade6c36058214252">BattleChallengeTrainer</a> (int numwins, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a>[] bttrainers)</td></tr>
<tr class="separator:a2c1691d7ec1d4a70ade6c36058214252"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09cbdcf54e89239027d9ef8dcb63dde9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a09cbdcf54e89239027d9ef8dcb63dde9">BattleChallengeGraphic</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a> @@event)</td></tr>
<tr class="separator:a09cbdcf54e89239027d9ef8dcb63dde9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c061ff7cb7e9775b6d5bb4a21ef0f58"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a8c061ff7cb7e9775b6d5bb4a21ef0f58">BattleChallengeBeginSpeech</a> ()</td></tr>
<tr class="separator:a8c061ff7cb7e9775b6d5bb4a21ef0f58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3011607beb54c861fa237f1b17c0883"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ab3011607beb54c861fa237f1b17c0883">EntryScreen</a> (params object[] arg)</td></tr>
<tr class="separator:ab3011607beb54c861fa237f1b17c0883"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a875fabae2ec259ec593d9cdda314f522"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a875fabae2ec259ec593d9cdda314f522">BattleChallengeBattle</a> ()</td></tr>
<tr class="separator:a875fabae2ec259ec593d9cdda314f522"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b26e202331d8350e0fee42aeb004626"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a6b26e202331d8350e0fee42aeb004626">BattleFactoryPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, int numwins, int numswaps, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] rentals)</td></tr>
<tr class="separator:a6b26e202331d8350e0fee42aeb004626"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a72f1ed5574f0b1d8b823e2a90ee1e6a9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a72f1ed5574f0b1d8b823e2a90ee1e6a9">GenerateBattleTrainer</a> (int trainerid, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a72f1ed5574f0b1d8b823e2a90ee1e6a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46d797c8b14da8d82dd12601231811aa"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a46d797c8b14da8d82dd12601231811aa">OrganizedBattleEx</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> opponent, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> challengedata, string endspeech, string endspeechwin)</td></tr>
<tr class="separator:a46d797c8b14da8d82dd12601231811aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3fa9a329e0114a4ad9f76d1d47f4914"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ad3fa9a329e0114a4ad9f76d1d47f4914">IsBanned</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:ad3fa9a329e0114a4ad9f76d1d47f4914"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adc45329adf4e831f4762404be59c664e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#adc45329adf4e831f4762404be59c664e">BattleChallenge</a><code> [get]</code></td></tr>
<tr class="separator:adc45329adf4e831f4762404be59c664e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a875fabae2ec259ec593d9cdda314f522" name="a875fabae2ec259ec593d9cdda314f522"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a875fabae2ec259ec593d9cdda314f522">&#9670;&#160;</a></span>BattleChallengeBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleChallengeBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8c061ff7cb7e9775b6d5bb4a21ef0f58" name="a8c061ff7cb7e9775b6d5bb4a21ef0f58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c061ff7cb7e9775b6d5bb4a21ef0f58">&#9670;&#160;</a></span>BattleChallengeBeginSpeech()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleChallengeBeginSpeech </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a09cbdcf54e89239027d9ef8dcb63dde9" name="a09cbdcf54e89239027d9ef8dcb63dde9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09cbdcf54e89239027d9ef8dcb63dde9">&#9670;&#160;</a></span>BattleChallengeGraphic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleChallengeGraphic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2c1691d7ec1d4a70ade6c36058214252" name="a2c1691d7ec1d4a70ade6c36058214252"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2c1691d7ec1d4a70ade6c36058214252">&#9670;&#160;</a></span>BattleChallengeTrainer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleChallengeTrainer </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numwins</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a>[]&#160;</td>
          <td class="paramname"><em>bttrainers</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6b26e202331d8350e0fee42aeb004626" name="a6b26e202331d8350e0fee42aeb004626"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b26e202331d8350e0fee42aeb004626">&#9670;&#160;</a></span>BattleFactoryPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleFactoryPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numwins</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numswaps</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>rentals</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afb46c9c8a44a4079e04f8411026be8bc" name="afb46c9c8a44a4079e04f8411026be8bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb46c9c8a44a4079e04f8411026be8bc">&#9670;&#160;</a></span>DebugPlayBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.DebugPlayBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3011607beb54c861fa237f1b17c0883" name="ab3011607beb54c861fa237f1b17c0883"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3011607beb54c861fa237f1b17c0883">&#9670;&#160;</a></span>EntryScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.EntryScreen </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a72f1ed5574f0b1d8b823e2a90ee1e6a9" name="a72f1ed5574f0b1d8b823e2a90ee1e6a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a72f1ed5574f0b1d8b823e2a90ee1e6a9">&#9670;&#160;</a></span>GenerateBattleTrainer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.GenerateBattleTrainer </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>trainerid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6b505741c9fd3cc46261cad2159b3de8" name="a6b505741c9fd3cc46261cad2159b3de8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b505741c9fd3cc46261cad2159b3de8">&#9670;&#160;</a></span>GetBTPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.GetBTPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challengeID</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae38b267b884eface7f7a3a3e26f73cf8" name="ae38b267b884eface7f7a3a3e26f73cf8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae38b267b884eface7f7a3a3e26f73cf8">&#9670;&#160;</a></span>GetBTTrainers()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattle.GetBTTrainers </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challengeID</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afb916287a3d241d5b90bb358edfdecc3" name="afb916287a3d241d5b90bb358edfdecc3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb916287a3d241d5b90bb358edfdecc3">&#9670;&#160;</a></span>HasEligible()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.HasEligible </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>args</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3fa9a329e0114a4ad9f76d1d47f4914" name="ad3fa9a329e0114a4ad9f76d1d47f4914"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3fa9a329e0114a4ad9f76d1d47f4914">&#9670;&#160;</a></span>IsBanned()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.IsBanned </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a46d797c8b14da8d82dd12601231811aa" name="a46d797c8b14da8d82dd12601231811aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46d797c8b14da8d82dd12601231811aa">&#9670;&#160;</a></span>OrganizedBattleEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.OrganizedBattleEx </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>challengedata</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>endspeech</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>endspeechwin</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a50f416752b7c8072e722e245e518d993" name="a50f416752b7c8072e722e245e518d993"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50f416752b7c8072e722e245e518d993">&#9670;&#160;</a></span>PlayBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.PlayBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml">IBattleRecordData</a>&#160;</td>
          <td class="paramname"><em>battledata</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8806421a8b7a18b54372b9e10d0abacb" name="a8806421a8b7a18b54372b9e10d0abacb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8806421a8b7a18b54372b9e10d0abacb">&#9670;&#160;</a></span>PlayBattleFromFile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.PlayBattleFromFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1562f2e0e5e46a85645c6e3d14a74d9" name="ae1562f2e0e5e46a85645c6e3d14a74d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1562f2e0e5e46a85645c6e3d14a74d9">&#9670;&#160;</a></span>PlayLastBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.PlayLastBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5281dd213cb5f1d44b82c5f310547c13" name="a5281dd213cb5f1d44b82c5f310547c13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5281dd213cb5f1d44b82c5f310547c13">&#9670;&#160;</a></span>RecordLastBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.RecordLastBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adc45329adf4e831f4762404be59c664e" name="adc45329adf4e831f4762404be59c664e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc45329adf4e831f4762404be59c664e">&#9670;&#160;</a></span>BattleChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.BattleChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>

