@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">IOnWildBattleEndEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,390,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml" title="Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - Battle result (1-win,..." alt="PokemonUnity.EventArg.OnWildBattleEndEventArgs" shape="rect" coords="0,112,390,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a936b41377db2ed50237e0f822db8a908"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a936b41377db2ed50237e0f822db8a908">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:a936b41377db2ed50237e0f822db8a908"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bded4dc138b7c4144f9bf58087b3187"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a6bded4dc138b7c4144f9bf58087b3187">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:a6bded4dc138b7c4144f9bf58087b3187"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01877a27b9d52f59076078700869610f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a01877a27b9d52f59076078700869610f"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">More...</a><br /></td></tr>
<tr class="separator:a01877a27b9d52f59076078700869610f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Pokémon species e[1] - Pokémon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a6bded4dc138b7c4144f9bf58087b3187" name="a6bded4dc138b7c4144f9bf58087b3187"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6bded4dc138b7c4144f9bf58087b3187">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#aa0a77b0711a66d801f43a88eeade5d1d">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<a id="a01877a27b9d52f59076078700869610f" name="a01877a27b9d52f59076078700869610f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01877a27b9d52f59076078700869610f">&#9670;&#160;</a></span>Result</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs.Result</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a99c17741a815b51456f1591ed022c7af">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<a id="a936b41377db2ed50237e0f822db8a908" name="a936b41377db2ed50237e0f822db8a908"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a936b41377db2ed50237e0f822db8a908">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_end_event_args.cshtml#a2fdc5a745ca7ba09cfa257e6fcc3f4c1">PokemonUnity.EventArg.OnWildBattleEndEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

