@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameFactory Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_factory.cshtml">IGameFactory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_factory-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameFactory Interface Reference</div></div>
}


<p>Extension of base application class (Game)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_factory.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae4f89c7721b23b50b8583b17f3a128d4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_factory.cshtml#ae4f89c7721b23b50b8583b17f3a128d4">updateTilesets</a> ()</td></tr>
<tr class="separator:ae4f89c7721b23b50b8583b17f3a128d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of base application class (Game)  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ae4f89c7721b23b50b8583b17f3a128d4" name="ae4f89c7721b23b50b8583b17f3a128d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae4f89c7721b23b50b8583b17f3a128d4">&#9670;&#160;</a></span>updateTilesets()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameFactory.updateTilesets </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>

