@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] = Move being created e[1] = Pokemon using the move   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs_map" name="PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,368,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac022d52d1ab2588123847b1c42fefbc7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#ac022d52d1ab2588123847b1c42fefbc7">Move</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac022d52d1ab2588123847b1c42fefbc7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move being created   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#ac022d52d1ab2588123847b1c42fefbc7">More...</a><br /></td></tr>
<tr class="separator:ac022d52d1ab2588123847b1c42fefbc7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd487ff28218c41d94e01c3d71efff6b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#abd487ff28218c41d94e01c3d71efff6b">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="memdesc:abd487ff28218c41d94e01c3d71efff6b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pokemon using the move   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#abd487ff28218c41d94e01c3d71efff6b">More...</a><br /></td></tr>
<tr class="separator:abd487ff28218c41d94e01c3d71efff6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] = Move being created e[1] = Pokemon using the move  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="ac022d52d1ab2588123847b1c42fefbc7" name="ac022d52d1ab2588123847b1c42fefbc7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac022d52d1ab2588123847b1c42fefbc7">&#9670;&#160;</a></span>Move</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs.Move</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Move being created  </p>

</div>
</div>
<a id="abd487ff28218c41d94e01c3d71efff6b" name="abd487ff28218c41d94e01c3d71efff6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd487ff28218c41d94e01c3d71efff6b">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Pokemon using the move  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_hidden_moves_8cs.cshtml">IHiddenMoves.cs</a></li>
</ul>
