@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonEvolutionScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml">IPokemonEvolutionScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonEvolutionScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonEvolutionScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonEvolutionScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonEvolutionScene_map" name="PokemonEssentials.Interface.Screen.IPokemonEvolutionScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,364,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,364,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8ef3bc58b43098f76828af1b21a89ece"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#a8ef3bc58b43098f76828af1b21a89ece">pbEndScreen</a> ()</td></tr>
<tr class="separator:a8ef3bc58b43098f76828af1b21a89ece"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94da2baa17a9e137c086dcc7ff081605"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#a94da2baa17a9e137c086dcc7ff081605">pbEvolution</a> (bool cancancel=true)</td></tr>
<tr class="separator:a94da2baa17a9e137c086dcc7ff081605"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aecdbea3d7b769f0d6cc5aff5beca8105"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#aecdbea3d7b769f0d6cc5aff5beca8105">pbFlashInOut</a> (bool canceled, string oldstate, string oldstate2)</td></tr>
<tr class="separator:aecdbea3d7b769f0d6cc5aff5beca8105"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4b6a6a843f3dd586068bcf8b0bf9d02"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#ab4b6a6a843f3dd586068bcf8b0bf9d02">pbStartScreen</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> newspecies)</td></tr>
<tr class="separator:ab4b6a6a843f3dd586068bcf8b0bf9d02"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac4d6ec045283523ba15e8e385b8ee9d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#aac4d6ec045283523ba15e8e385b8ee9d">pbUpdate</a> (bool animating=false)</td></tr>
<tr class="separator:aac4d6ec045283523ba15e8e385b8ee9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a570ea6aa3d506f7f250897de04bf8347"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#a570ea6aa3d506f7f250897de04bf8347">pbUpdateExpandScreen</a> ()</td></tr>
<tr class="separator:a570ea6aa3d506f7f250897de04bf8347"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab13c3c1a8091abadfac715cfe9bd04c8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml#ab13c3c1a8091abadfac715cfe9bd04c8">pbUpdateNarrowScreen</a> ()</td></tr>
<tr class="separator:ab13c3c1a8091abadfac715cfe9bd04c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a> ()</td></tr>
<tr class="separator:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a8ef3bc58b43098f76828af1b21a89ece" name="a8ef3bc58b43098f76828af1b21a89ece"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ef3bc58b43098f76828af1b21a89ece">&#9670;&#160;</a></span>pbEndScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbEndScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a94da2baa17a9e137c086dcc7ff081605" name="a94da2baa17a9e137c086dcc7ff081605"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94da2baa17a9e137c086dcc7ff081605">&#9670;&#160;</a></span>pbEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbEvolution </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>cancancel</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aecdbea3d7b769f0d6cc5aff5beca8105" name="aecdbea3d7b769f0d6cc5aff5beca8105"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aecdbea3d7b769f0d6cc5aff5beca8105">&#9670;&#160;</a></span>pbFlashInOut()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbFlashInOut </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canceled</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>oldstate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>oldstate2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab4b6a6a843f3dd586068bcf8b0bf9d02" name="ab4b6a6a843f3dd586068bcf8b0bf9d02"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4b6a6a843f3dd586068bcf8b0bf9d02">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>newspecies</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac4d6ec045283523ba15e8e385b8ee9d" name="aac4d6ec045283523ba15e8e385b8ee9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac4d6ec045283523ba15e8e385b8ee9d">&#9670;&#160;</a></span>pbUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbUpdate </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>animating</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a570ea6aa3d506f7f250897de04bf8347" name="a570ea6aa3d506f7f250897de04bf8347"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a570ea6aa3d506f7f250897de04bf8347">&#9670;&#160;</a></span>pbUpdateExpandScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbUpdateExpandScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab13c3c1a8091abadfac715cfe9bd04c8" name="ab13c3c1a8091abadfac715cfe9bd04c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab13c3c1a8091abadfac715cfe9bd04c8">&#9670;&#160;</a></span>pbUpdateNarrowScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonEvolutionScene.pbUpdateNarrowScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
