@{
	Page.Title = "PokemonEssentials.Interface.Battle.IGameOrgBattleRules Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">IGameOrgBattleRules</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattleRules Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IGameOrgBattleRules:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.png" usemap="#PokemonEssentials.Interface.Battle.IGameOrgBattleRules_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IGameOrgBattleRules_map" name="PokemonEssentials.Interface.Battle.IGameOrgBattleRules_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,331,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:acf639fff7fed0c8f0269c2c5a6eaa008"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#acf639fff7fed0c8f0269c2c5a6eaa008">BaseStatTotal</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:acf639fff7fed0c8f0269c2c5a6eaa008"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aacd0d3991b17fb36aadf07e5bc17d2ee"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#aacd0d3991b17fb36aadf07e5bc17d2ee">BalancedLevelFromBST</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:aacd0d3991b17fb36aadf07e5bc17d2ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf574245bcf497582940506fbd925f19"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#aaf574245bcf497582940506fbd925f19">TooTall</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, double maxHeightInMeters)</td></tr>
<tr class="separator:aaf574245bcf497582940506fbd925f19"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6744c1b9294f536f8983917500aa254d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a6744c1b9294f536f8983917500aa254d">TooHeavy</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, double maxWeightInKg)</td></tr>
<tr class="separator:a6744c1b9294f536f8983917500aa254d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a581dfac863ea080ae053367a0bd7979b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a581dfac863ea080ae053367a0bd7979b">PikaCupRules</a> (bool @@double)</td></tr>
<tr class="separator:a581dfac863ea080ae053367a0bd7979b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7564274e37079d386ca4d7b3169b838"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#ad7564274e37079d386ca4d7b3169b838">PokeCupRules</a> (bool @@double)</td></tr>
<tr class="separator:ad7564274e37079d386ca4d7b3169b838"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41bfd2e2656aadeacdda02870c08b11c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a41bfd2e2656aadeacdda02870c08b11c">PrimeCupRules</a> (bool @@double)</td></tr>
<tr class="separator:a41bfd2e2656aadeacdda02870c08b11c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a354437d445f82e8d75ad6ae7b0a8f7f2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a354437d445f82e8d75ad6ae7b0a8f7f2">FancyCupRules</a> (bool @@double)</td></tr>
<tr class="separator:a354437d445f82e8d75ad6ae7b0a8f7f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a656228e9b9dec69d7701288629a031ac"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a656228e9b9dec69d7701288629a031ac">LittleCupRules</a> (bool @@double)</td></tr>
<tr class="separator:a656228e9b9dec69d7701288629a031ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b322cdf0b433347fb6a11df858dc90e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a1b322cdf0b433347fb6a11df858dc90e">StrictLittleCupRules</a> (bool @@double)</td></tr>
<tr class="separator:a1b322cdf0b433347fb6a11df858dc90e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4a16b4649bc85126177866ebdd34542e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a4a16b4649bc85126177866ebdd34542e">BattleTowerRules</a> (bool @@double, bool openlevel)</td></tr>
<tr class="separator:a4a16b4649bc85126177866ebdd34542e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a14b6f5ddc24cfcaa5c09bb810530e90c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a14b6f5ddc24cfcaa5c09bb810530e90c">BattlePalaceRules</a> (bool @@double, bool openlevel)</td></tr>
<tr class="separator:a14b6f5ddc24cfcaa5c09bb810530e90c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74b5612a37364a8f9fcaf991a45118fa"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a74b5612a37364a8f9fcaf991a45118fa">BattleArenaRules</a> (bool openlevel)</td></tr>
<tr class="separator:a74b5612a37364a8f9fcaf991a45118fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a800316789961275e215d080f63206246"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a800316789961275e215d080f63206246">BattleFactoryRules</a> (bool @@double, bool openlevel)</td></tr>
<tr class="separator:a800316789961275e215d080f63206246"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="aacd0d3991b17fb36aadf07e5bc17d2ee" name="aacd0d3991b17fb36aadf07e5bc17d2ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aacd0d3991b17fb36aadf07e5bc17d2ee">&#9670;&#160;</a></span>BalancedLevelFromBST()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BalancedLevelFromBST </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a06d162c00aa9e31574a6c62b02beb4a8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="acf639fff7fed0c8f0269c2c5a6eaa008" name="acf639fff7fed0c8f0269c2c5a6eaa008"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acf639fff7fed0c8f0269c2c5a6eaa008">&#9670;&#160;</a></span>BaseStatTotal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BaseStatTotal </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8c01597f1e3f74fbe7efad279ad039be">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a74b5612a37364a8f9fcaf991a45118fa" name="a74b5612a37364a8f9fcaf991a45118fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74b5612a37364a8f9fcaf991a45118fa">&#9670;&#160;</a></span>BattleArenaRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BattleArenaRules </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>openlevel</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9b13e0f71536d084582de0150f1f85aa">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a800316789961275e215d080f63206246" name="a800316789961275e215d080f63206246"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a800316789961275e215d080f63206246">&#9670;&#160;</a></span>BattleFactoryRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BattleFactoryRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname">, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>openlevel</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3c0ee24122cf8e9acad9b9ce3779a431">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a14b6f5ddc24cfcaa5c09bb810530e90c" name="a14b6f5ddc24cfcaa5c09bb810530e90c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a14b6f5ddc24cfcaa5c09bb810530e90c">&#9670;&#160;</a></span>BattlePalaceRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BattlePalaceRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname">, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>openlevel</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9ba39f5b68b7b9888f61e6dda7b05f44">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a4a16b4649bc85126177866ebdd34542e" name="a4a16b4649bc85126177866ebdd34542e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4a16b4649bc85126177866ebdd34542e">&#9670;&#160;</a></span>BattleTowerRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.BattleTowerRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname">, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>openlevel</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a0f024773ae488b143df2d61dd31fed2a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a354437d445f82e8d75ad6ae7b0a8f7f2" name="a354437d445f82e8d75ad6ae7b0a8f7f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a354437d445f82e8d75ad6ae7b0a8f7f2">&#9670;&#160;</a></span>FancyCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.FancyCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#af9c559d319d1584d99ccc57b619f7c96">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a656228e9b9dec69d7701288629a031ac" name="a656228e9b9dec69d7701288629a031ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a656228e9b9dec69d7701288629a031ac">&#9670;&#160;</a></span>LittleCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.LittleCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a5c827722a526011a549aabba153681ac">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a581dfac863ea080ae053367a0bd7979b" name="a581dfac863ea080ae053367a0bd7979b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a581dfac863ea080ae053367a0bd7979b">&#9670;&#160;</a></span>PikaCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.PikaCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a654bad3bb5c174d4aa32ccd94e2989e6">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ad7564274e37079d386ca4d7b3169b838" name="ad7564274e37079d386ca4d7b3169b838"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7564274e37079d386ca4d7b3169b838">&#9670;&#160;</a></span>PokeCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.PokeCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ab7748e2f799c6c0c575bf8e515c413b9">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a41bfd2e2656aadeacdda02870c08b11c" name="a41bfd2e2656aadeacdda02870c08b11c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41bfd2e2656aadeacdda02870c08b11c">&#9670;&#160;</a></span>PrimeCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.PrimeCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a87cefece90f5fa3a77a65b1470227d0b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a1b322cdf0b433347fb6a11df858dc90e" name="a1b322cdf0b433347fb6a11df858dc90e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b322cdf0b433347fb6a11df858dc90e">&#9670;&#160;</a></span>StrictLittleCupRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleRules.StrictLittleCupRules </td>
          <td>(</td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a09ea916403a329194e1388f1385b9168">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6744c1b9294f536f8983917500aa254d" name="a6744c1b9294f536f8983917500aa254d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6744c1b9294f536f8983917500aa254d">&#9670;&#160;</a></span>TooHeavy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleRules.TooHeavy </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>maxWeightInKg</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaf574245bcf497582940506fbd925f19" name="aaf574245bcf497582940506fbd925f19"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf574245bcf497582940506fbd925f19">&#9670;&#160;</a></span>TooTall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleRules.TooTall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>maxHeightInMeters</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

