@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">IMartScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMartScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a822b76587fa88e4559e11f64b0b2af24">initialize</a>(IMartScene scene, Items[] stock)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#ae18f6bb4e7b5c1415320547302fee09e">pbBuyScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a1eac0fa1528b08fef8f5f429a6f74ce6">pbConfirm</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a26b0216f03803441b769aeb19803e65a">pbDisplay</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a76cb3afcec10b0c2cc23ded1c5c92e17">pbDisplayPaused</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a777ecc1d4bf7cfa0bcf5256994861b06">pbSellScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">PokemonEssentials.Interface.Screen.IMartScreen</a></td><td class="entry"></td></tr>
</table>