@{
	Page.Title = "PokemonEssentials.Interface.Screen.IMartScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">IMartScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMartScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IMartScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.png" usemap="#PokemonEssentials.Interface.Screen.IMartScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IMartScreen_map" name="PokemonEssentials.Interface.Screen.IMartScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,292,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a822b76587fa88e4559e11f64b0b2af24"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">IMartScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a822b76587fa88e4559e11f64b0b2af24">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml">IMartScene</a> scene, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] stock)</td></tr>
<tr class="separator:a822b76587fa88e4559e11f64b0b2af24"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a606960e1f1dba4d929fb6aa8b4f94912"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a606960e1f1dba4d929fb6aa8b4f94912">Confirm</a> (string msg)</td></tr>
<tr class="separator:a606960e1f1dba4d929fb6aa8b4f94912"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1468146978f68eb484d1712085e57f0c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a1468146978f68eb484d1712085e57f0c">Display</a> (string msg)</td></tr>
<tr class="separator:a1468146978f68eb484d1712085e57f0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab74b5f9fcf3fb5a0a5a7f5d9246a138c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#ab74b5f9fcf3fb5a0a5a7f5d9246a138c">DisplayPaused</a> (string msg)</td></tr>
<tr class="separator:ab74b5f9fcf3fb5a0a5a7f5d9246a138c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a59be4b227bd1e8c729014249d0026e07"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a59be4b227bd1e8c729014249d0026e07">BuyScreen</a> ()</td></tr>
<tr class="separator:a59be4b227bd1e8c729014249d0026e07"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a232bc614712e456d1540f75b8288c324"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml#a232bc614712e456d1540f75b8288c324">SellScreen</a> ()</td></tr>
<tr class="separator:a232bc614712e456d1540f75b8288c324"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a59be4b227bd1e8c729014249d0026e07" name="a59be4b227bd1e8c729014249d0026e07"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59be4b227bd1e8c729014249d0026e07">&#9670;&#160;</a></span>BuyScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.IMartScreen.BuyScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a606960e1f1dba4d929fb6aa8b4f94912" name="a606960e1f1dba4d929fb6aa8b4f94912"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a606960e1f1dba4d929fb6aa8b4f94912">&#9670;&#160;</a></span>Confirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartScreen.Confirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1468146978f68eb484d1712085e57f0c" name="a1468146978f68eb484d1712085e57f0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1468146978f68eb484d1712085e57f0c">&#9670;&#160;</a></span>Display()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScreen.Display </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab74b5f9fcf3fb5a0a5a7f5d9246a138c" name="ab74b5f9fcf3fb5a0a5a7f5d9246a138c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab74b5f9fcf3fb5a0a5a7f5d9246a138c">&#9670;&#160;</a></span>DisplayPaused()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScreen.DisplayPaused </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a822b76587fa88e4559e11f64b0b2af24" name="a822b76587fa88e4559e11f64b0b2af24"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a822b76587fa88e4559e11f64b0b2af24">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_screen.cshtml">IMartScreen</a> PokemonEssentials.Interface.Screen.IMartScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml">IMartScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>stock</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a232bc614712e456d1540f75b8288c324" name="a232bc614712e456d1540f75b8288c324"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a232bc614712e456d1540f75b8288c324">&#9670;&#160;</a></span>SellScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.IMartScreen.SellScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_mart_8cs.cshtml">IMart.cs</a></li>
</ul>

