@{
	Page.Title = "PokemonEssentials.Interface.Screen.IIntroEventScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.cshtml">IIntroEventScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IIntroEventScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IIntroEventScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.png" usemap="#PokemonEssentials.Interface.Screen.IIntroEventScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IIntroEventScreen_map" name="PokemonEssentials.Interface.Screen.IIntroEventScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,323,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa13000ae277c20b10a38332505445633"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.cshtml">IIntroEventScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.cshtml#aa13000ae277c20b10a38332505445633">initialize</a> ()</td></tr>
<tr class="separator:aa13000ae277c20b10a38332505445633"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1d883c5c8952142a9c9aeab1478f8fd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.cshtml#ac1d883c5c8952142a9c9aeab1478f8fd">main</a> ()</td></tr>
<tr class="separator:ac1d883c5c8952142a9c9aeab1478f8fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aa13000ae277c20b10a38332505445633" name="aa13000ae277c20b10a38332505445633"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa13000ae277c20b10a38332505445633">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_screen.cshtml">IIntroEventScreen</a> PokemonEssentials.Interface.Screen.IIntroEventScreen.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac1d883c5c8952142a9c9aeab1478f8fd" name="ac1d883c5c8952142a9c9aeab1478f8fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1d883c5c8952142a9c9aeab1478f8fd">&#9670;&#160;</a></span>main()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScreen.main </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
