@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattlerClause Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">IBattlerClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerClause Interface Reference</div></div>
}


<p>Partial </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattlerClause:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattlerClause_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattlerClause_map" name="PokemonEssentials.Interface.PokeBattle.IBattlerClause_map">
<area href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml" title="A Pokemon placeholder class to be used while in-battle, to prevent changes from being permanent to or..." alt="PokemonUnity.Combat.Pokemon" shape="rect" coords="0,56,318,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3384d0f3db7a8e8154144698553044dd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a3384d0f3db7a8e8154144698553044dd">pbHasStatusPokemon</a> (<a class="el" href="namespace_pokemon_unity.cshtml#ab3f466c2b0d6e654d9f03dec9a2fc3b8">Status</a> status)</td></tr>
<tr class="separator:a3384d0f3db7a8e8154144698553044dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69f646e455ee6b752958e8924d5ac4d2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a69f646e455ee6b752958e8924d5ac4d2">pbCanSleepYawn</a> ()</td></tr>
<tr class="separator:a69f646e455ee6b752958e8924d5ac4d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23a0d1ec5d56980a83dbe4063ce05df0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a23a0d1ec5d56980a83dbe4063ce05df0">pbCanFreeze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a23a0d1ec5d56980a83dbe4063ce05df0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8014d1c730bbe166627591bfda2a2fa7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a8014d1c730bbe166627591bfda2a2fa7">pbCanSleep</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool ignorestatus=false)</td></tr>
<tr class="separator:a8014d1c730bbe166627591bfda2a2fa7"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Partial </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a23a0d1ec5d56980a83dbe4063ce05df0" name="a23a0d1ec5d56980a83dbe4063ce05df0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23a0d1ec5d56980a83dbe4063ce05df0">&#9670;&#160;</a></span>pbCanFreeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerClause.pbCanFreeze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a35b6c8bdbd750ea4644f786e33787f15">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a8014d1c730bbe166627591bfda2a2fa7" name="a8014d1c730bbe166627591bfda2a2fa7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8014d1c730bbe166627591bfda2a2fa7">&#9670;&#160;</a></span>pbCanSleep()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerClause.pbCanSleep </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignorestatus</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ad7df06566faf753207227980bb2c441f">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a69f646e455ee6b752958e8924d5ac4d2" name="a69f646e455ee6b752958e8924d5ac4d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69f646e455ee6b752958e8924d5ac4d2">&#9670;&#160;</a></span>pbCanSleepYawn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerClause.pbCanSleepYawn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a109cd423cc9e748755835614494aff76">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3384d0f3db7a8e8154144698553044dd" name="a3384d0f3db7a8e8154144698553044dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3384d0f3db7a8e8154144698553044dd">&#9670;&#160;</a></span>pbHasStatusPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerClause.pbHasStatusPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#ab3f466c2b0d6e654d9f03dec9a2fc3b8">Status</a>&#160;</td>
          <td class="paramname"><em>status</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a58455f7aa36b9f94959f103c5da9078b">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_clause_8cs.cshtml">IBattleClause.cs</a></li>
</ul>
