@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">IInput</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInput Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">PokemonEssentials.Interface.IInput</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ac6bc0760a95932864db8f56b7cbaa85c">press</a>(PokemonUnity.UX.InputKeys num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">PokemonEssentials.Interface.IInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#aac49620c567d545d6cc5f9cbea9827b1">repeat</a>(PokemonUnity.UX.InputKeys num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">PokemonEssentials.Interface.IInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ab642aa39176ae14549151e8424c2ea58">trigger</a>(PokemonUnity.UX.InputKeys num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">PokemonEssentials.Interface.IInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#a3d13c873ac0716cd60e19c4384c1c90c">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">PokemonEssentials.Interface.IInput</a></td><td class="entry"></td></tr>
</table>