@{
	Page.Title = "PokemonEssentials.Interface.IGameSpriteWindow Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml">IGameSpriteWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSpriteWindow Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IGameSpriteWindow:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.png" usemap="#PokemonEssentials.Interface.IGameSpriteWindow_map" alt=""/>
  <map id="PokemonEssentials.Interface.IGameSpriteWindow_map" name="PokemonEssentials.Interface.IGameSpriteWindow_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,289,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad828f8d373ede71b85d754c3798154ac"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ad828f8d373ede71b85d754c3798154ac">safeIsDirectory</a> (string f)</td></tr>
<tr class="separator:ad828f8d373ede71b85d754c3798154ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3248972c6b2c4cc76a087983e75f8098"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3248972c6b2c4cc76a087983e75f8098">safeExists</a> (string f)</td></tr>
<tr class="separator:a3248972c6b2c4cc76a087983e75f8098"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7346394ac117c0ffc3fcdadb4c1927c"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa7346394ac117c0ffc3fcdadb4c1927c">safeGlob</a> (string dir, string wildcard)</td></tr>
<tr class="separator:aa7346394ac117c0ffc3fcdadb4c1927c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a707375e325d4dda65adad586049df864"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a707375e325d4dda65adad586049df864">GetTileBitmap</a> (string filename, int tile_id, int hue)</td></tr>
<tr class="separator:a707375e325d4dda65adad586049df864"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ba8e6163374269c986c3b3280ca8192"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a9ba8e6163374269c986c3b3280ca8192">GetAnimation</a> (string name, int hue=0)</td></tr>
<tr class="separator:a9ba8e6163374269c986c3b3280ca8192"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ee2ef5408c4ca61fae483f7a9e12743"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a1ee2ef5408c4ca61fae483f7a9e12743">GetTileset</a> (string name, int hue=0)</td></tr>
<tr class="separator:a1ee2ef5408c4ca61fae483f7a9e12743"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6174dc3a7cf95d26f7babf6c0d295e76"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a6174dc3a7cf95d26f7babf6c0d295e76">GetAutotile</a> (string name, int hue=0)</td></tr>
<tr class="separator:a6174dc3a7cf95d26f7babf6c0d295e76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a754a0b9b99dead307ec1f1bda9c5ba29"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a754a0b9b99dead307ec1f1bda9c5ba29">DrawShadow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text)</td></tr>
<tr class="separator:a754a0b9b99dead307ec1f1bda9c5ba29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6f91dcaa9cb6c279ab2285558cb42cc4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a6f91dcaa9cb6c279ab2285558cb42cc4">DrawShadowText</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> baseColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> shadowColor=null, int align=0)</td></tr>
<tr class="separator:a6f91dcaa9cb6c279ab2285558cb42cc4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a017ec2c749bc7b8b87b22280222249e3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a017ec2c749bc7b8b87b22280222249e3">DrawOutlineText</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> baseColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> shadowColor=null, int align=0)</td></tr>
<tr class="separator:a017ec2c749bc7b8b87b22280222249e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa041415d35c805496f77d9aea877a1a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#afa041415d35c805496f77d9aea877a1a">BottomRight</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:afa041415d35c805496f77d9aea877a1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02ee00481b2a8a858761f95a373c398a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a02ee00481b2a8a858761f95a373c398a">BottomLeft</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:a02ee00481b2a8a858761f95a373c398a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10805c4516d829b89b25bdc5aaaa3aaf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a10805c4516d829b89b25bdc5aaaa3aaf">BottomLeftLines</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window, int lines, int? width=null)</td></tr>
<tr class="separator:a10805c4516d829b89b25bdc5aaaa3aaf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95a35d290305a02cebd25173588be2fd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a95a35d290305a02cebd25173588be2fd">Disposed</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> x)</td></tr>
<tr class="separator:a95a35d290305a02cebd25173588be2fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d8638b422196d966e02627f9b938517"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3d8638b422196d966e02627f9b938517">isDarkBackground</a> (int background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect=null)</td></tr>
<tr class="separator:a3d8638b422196d966e02627f9b938517"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff8fd5e339a0173297eda01135c50881"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aff8fd5e339a0173297eda01135c50881">isDarkWindowskin</a> (int windowskin)</td></tr>
<tr class="separator:aff8fd5e339a0173297eda01135c50881"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a139961b64c02c6b5dea831815a1e5091"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a139961b64c02c6b5dea831815a1e5091">getDefaultTextColors</a> (int windowskin)</td></tr>
<tr class="separator:a139961b64c02c6b5dea831815a1e5091"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53b9b7f586640e26ba19f668351a3792"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a53b9b7f586640e26ba19f668351a3792">DoEnsureBitmap</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, int dwidth, int dheight)</td></tr>
<tr class="separator:a53b9b7f586640e26ba19f668351a3792"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af35a7ecfb73265003e3ab9fffe467978"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af35a7ecfb73265003e3ab9fffe467978">UpdateSpriteHash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] windows)</td></tr>
<tr class="separator:af35a7ecfb73265003e3ab9fffe467978"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e18e9c27e05d2c8b6240ec4d16f9717"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a1e18e9c27e05d2c8b6240ec4d16f9717">DisposeSpriteHash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites)</td></tr>
<tr class="memdesc:a1e18e9c27e05d2c8b6240ec4d16f9717"><td class="mdescLeft">&#160;</td><td class="mdescRight">Disposes all objects in the specified hash.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a1e18e9c27e05d2c8b6240ec4d16f9717">More...</a><br /></td></tr>
<tr class="separator:a1e18e9c27e05d2c8b6240ec4d16f9717"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c264b430aeae6b7f290d3ce8b7e8afa"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a9c264b430aeae6b7f290d3ce8b7e8afa">DisposeSprite</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, int id)</td></tr>
<tr class="memdesc:a9c264b430aeae6b7f290d3ce8b7e8afa"><td class="mdescLeft">&#160;</td><td class="mdescRight">Disposes the specified graphics object within the specified hash. Basically like: sprites[id].dispose   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a9c264b430aeae6b7f290d3ce8b7e8afa">More...</a><br /></td></tr>
<tr class="separator:a9c264b430aeae6b7f290d3ce8b7e8afa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29ee70d0db0e40c6b65f2b4a335ac0dc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a29ee70d0db0e40c6b65f2b4a335ac0dc">DrawTextPositions</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a>&gt; textpos)</td></tr>
<tr class="separator:a29ee70d0db0e40c6b65f2b4a335ac0dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1ebc53aeba4be6ad515f9cc4d01fe3d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ae1ebc53aeba4be6ad515f9cc4d01fe3d">DrawImagePositions</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a>&gt; textpos)</td></tr>
<tr class="separator:ae1ebc53aeba4be6ad515f9cc4d01fe3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55e95d9f51399b01aacd9b8109df7195"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a55e95d9f51399b01aacd9b8109df7195">PushFade</a> ()</td></tr>
<tr class="separator:a55e95d9f51399b01aacd9b8109df7195"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d26116782fdb6ae45c8296a68098f6b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a0d26116782fdb6ae45c8296a68098f6b">PopFade</a> ()</td></tr>
<tr class="separator:a0d26116782fdb6ae45c8296a68098f6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74725aeca07ba46e7836414251913e73"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a74725aeca07ba46e7836414251913e73">FadeOutIn</a> (int z, bool nofadeout=false, Action block=null)</td></tr>
<tr class="memdesc:a74725aeca07ba46e7836414251913e73"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out the screen before a <em>block</em>  is run and fades it back in after the <em>block</em>  exits.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a74725aeca07ba46e7836414251913e73">More...</a><br /></td></tr>
<tr class="separator:a74725aeca07ba46e7836414251913e73"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e9fedafaac72a7b2524a7fc19d1c702"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a7e9fedafaac72a7b2524a7fc19d1c702">FadeOutAndHide</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites)</td></tr>
<tr class="separator:a7e9fedafaac72a7b2524a7fc19d1c702"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae686a362bcdd148f48e3ae242208f672"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ae686a362bcdd148f48e3ae242208f672">FadeInAndShow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&gt; visiblesprites=null, Action block=null)</td></tr>
<tr class="separator:ae686a362bcdd148f48e3ae242208f672"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3d69b0c0a9680f57157e4a47f26609e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa3d69b0c0a9680f57157e4a47f26609e">RestoreActivations</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, object activeStatuses)</td></tr>
<tr class="separator:aa3d69b0c0a9680f57157e4a47f26609e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a992da4dcb6febc11a075b43487154a26"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a992da4dcb6febc11a075b43487154a26">DeactivateWindows</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] sprites, Action action=null)</td></tr>
<tr class="separator:a992da4dcb6febc11a075b43487154a26"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1bde288fe197c8b4432f7bec5e71f5a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ae1bde288fe197c8b4432f7bec5e71f5a">ActivateWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] sprites, int key, Action action=null)</td></tr>
<tr class="separator:ae1bde288fe197c8b4432f7bec5e71f5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac23b66b178b97ea4e95d1269f479b0ab"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ac23b66b178b97ea4e95d1269f479b0ab">AlphaBlend</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> dstColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> srcColor)</td></tr>
<tr class="separator:ac23b66b178b97ea4e95d1269f479b0ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade2b0ae9c9073a5d83be09ea3b2b3eae"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ade2b0ae9c9073a5d83be09ea3b2b3eae">SrcOver</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> dstColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> srcColor)</td></tr>
<tr class="separator:ade2b0ae9c9073a5d83be09ea3b2b3eae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abcd07183021f14ebb9637f705ff3a033"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#abcd07183021f14ebb9637f705ff3a033">SetSpritesToColor</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color)</td></tr>
<tr class="separator:abcd07183021f14ebb9637f705ff3a033"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f0c74ac6cfea961c47977c180d0f1dd"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3f0c74ac6cfea961c47977c180d0f1dd">TryString</a> (string x)</td></tr>
<tr class="separator:a3f0c74ac6cfea961c47977c180d0f1dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab75af9ead69f3499ff6228981c55c831"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ab75af9ead69f3499ff6228981c55c831">BitmapName</a> (string x)</td></tr>
<tr class="separator:ab75af9ead69f3499ff6228981c55c831"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf17ef7ff289b27ae0eec20259652443"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#adf17ef7ff289b27ae0eec20259652443">ResolveBitmap</a> (string x)</td></tr>
<tr class="memdesc:adf17ef7ff289b27ae0eec20259652443"><td class="mdescLeft">&#160;</td><td class="mdescRight">Finds the real path for an image file. This includes paths in encrypted archives. <br  />
   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#adf17ef7ff289b27ae0eec20259652443">More...</a><br /></td></tr>
<tr class="separator:adf17ef7ff289b27ae0eec20259652443"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c254b99862d6199a122b2d214ede249"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a4c254b99862d6199a122b2d214ede249">addBackgroundPlane</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, string planename, string background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a4c254b99862d6199a122b2d214ede249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cee630b0a71a1221278564c48eccd5b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a5cee630b0a71a1221278564c48eccd5b">addBackgroundOrColoredPlane</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, string planename, string background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a5cee630b0a71a1221278564c48eccd5b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd9a71032244b3a9dd86023a5b76ba67"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#abd9a71032244b3a9dd86023a5b76ba67">SetSystemFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:abd9a71032244b3a9dd86023a5b76ba67"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#abd9a71032244b3a9dd86023a5b76ba67">More...</a><br /></td></tr>
<tr class="separator:abd9a71032244b3a9dd86023a5b76ba67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04d392a8a814b760a3d5be964f9259a3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a04d392a8a814b760a3d5be964f9259a3">SmallFontName</a> ()</td></tr>
<tr class="memdesc:a04d392a8a814b760a3d5be964f9259a3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the name of the system small font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a04d392a8a814b760a3d5be964f9259a3">More...</a><br /></td></tr>
<tr class="separator:a04d392a8a814b760a3d5be964f9259a3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af830e0596594e8a9d1dfa1cffc874fc0"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af830e0596594e8a9d1dfa1cffc874fc0">NarrowFontName</a> ()</td></tr>
<tr class="memdesc:af830e0596594e8a9d1dfa1cffc874fc0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the name of the system narrow font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af830e0596594e8a9d1dfa1cffc874fc0">More...</a><br /></td></tr>
<tr class="separator:af830e0596594e8a9d1dfa1cffc874fc0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19af43031bf8b93fe29eb66d2b64f21b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a19af43031bf8b93fe29eb66d2b64f21b">SetSmallFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:a19af43031bf8b93fe29eb66d2b64f21b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system small font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a19af43031bf8b93fe29eb66d2b64f21b">More...</a><br /></td></tr>
<tr class="separator:a19af43031bf8b93fe29eb66d2b64f21b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a53c783cc987f7621b39855abf99e5c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a2a53c783cc987f7621b39855abf99e5c">SetNarrowFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:a2a53c783cc987f7621b39855abf99e5c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system narrow font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a2a53c783cc987f7621b39855abf99e5c">More...</a><br /></td></tr>
<tr class="separator:a2a53c783cc987f7621b39855abf99e5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a320764de63e3cb3681be7ec820cc4b0f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a320764de63e3cb3681be7ec820cc4b0f">RgssExists</a> (string filename)</td></tr>
<tr class="separator:a320764de63e3cb3681be7ec820cc4b0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a56fea511ab8ad67acd8fb3d18423577b"><td class="memItemLeft" align="right" valign="top">IDisposable&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a56fea511ab8ad67acd8fb3d18423577b">RgssOpen</a> (string file, int? mode=null, Action action=null)</td></tr>
<tr class="memdesc:a56fea511ab8ad67acd8fb3d18423577b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Opens an IO, even if the file is in an encrypted archive. Doesn't check RTP for the file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a56fea511ab8ad67acd8fb3d18423577b">More...</a><br /></td></tr>
<tr class="separator:a56fea511ab8ad67acd8fb3d18423577b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaab7d38ff1f013533d23b47e91e24f57"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aaab7d38ff1f013533d23b47e91e24f57">GetFileChar</a> (string file)</td></tr>
<tr class="memdesc:aaab7d38ff1f013533d23b47e91e24f57"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets at least the first byte of a file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aaab7d38ff1f013533d23b47e91e24f57">More...</a><br /></td></tr>
<tr class="separator:aaab7d38ff1f013533d23b47e91e24f57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb032e183eab13bcb9468659b8341413"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#acb032e183eab13bcb9468659b8341413">GetFileString</a> (string file)</td></tr>
<tr class="memdesc:acb032e183eab13bcb9468659b8341413"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the contents of a file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#acb032e183eab13bcb9468659b8341413">More...</a><br /></td></tr>
<tr class="separator:acb032e183eab13bcb9468659b8341413"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab34e2a5b0636487bb7d5431f3c5f70e9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ab34e2a5b0636487bb7d5431f3c5f70e9">IsFaded</a> <code>[get]</code></td></tr>
<tr class="separator:ab34e2a5b0636487bb7d5431f3c5f70e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ae1bde288fe197c8b4432f7bec5e71f5a" name="ae1bde288fe197c8b4432f7bec5e71f5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1bde288fe197c8b4432f7bec5e71f5a">&#9670;&#160;</a></span>ActivateWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.ActivateWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#af38a25ed44f605382afc569ad068ca6a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5cee630b0a71a1221278564c48eccd5b" name="a5cee630b0a71a1221278564c48eccd5b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cee630b0a71a1221278564c48eccd5b">&#9670;&#160;</a></span>addBackgroundOrColoredPlane()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.addBackgroundOrColoredPlane </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>planename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a009e3ee3f700a6d5d86ff9cfe2c5d22e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a4c254b99862d6199a122b2d214ede249" name="a4c254b99862d6199a122b2d214ede249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c254b99862d6199a122b2d214ede249">&#9670;&#160;</a></span>addBackgroundPlane()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.addBackgroundPlane </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>planename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a290ae91cde55f711b44c009d39ebbe02">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ac23b66b178b97ea4e95d1269f479b0ab" name="ac23b66b178b97ea4e95d1269f479b0ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac23b66b178b97ea4e95d1269f479b0ab">&#9670;&#160;</a></span>AlphaBlend()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.AlphaBlend </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>dstColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>srcColor</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4aa22c3a4bf0933d1ec2eaf766dbdebd">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ab75af9ead69f3499ff6228981c55c831" name="ab75af9ead69f3499ff6228981c55c831"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab75af9ead69f3499ff6228981c55c831">&#9670;&#160;</a></span>BitmapName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.BitmapName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9587a33c9715ad3510096958da6742bc">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a02ee00481b2a8a858761f95a373c398a" name="a02ee00481b2a8a858761f95a373c398a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02ee00481b2a8a858761f95a373c398a">&#9670;&#160;</a></span>BottomLeft()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.BottomLeft </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a1924467105b5eda11d30e94112156a7d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a10805c4516d829b89b25bdc5aaaa3aaf" name="a10805c4516d829b89b25bdc5aaaa3aaf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10805c4516d829b89b25bdc5aaaa3aaf">&#9670;&#160;</a></span>BottomLeftLines()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.BottomLeftLines </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>lines</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>width</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4ea35d26c74b31a36cbf03233c0564d9">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="afa041415d35c805496f77d9aea877a1a" name="afa041415d35c805496f77d9aea877a1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa041415d35c805496f77d9aea877a1a">&#9670;&#160;</a></span>BottomRight()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.BottomRight </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#af400d662afccf8a629375df6c26784d1">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a992da4dcb6febc11a075b43487154a26" name="a992da4dcb6febc11a075b43487154a26"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a992da4dcb6febc11a075b43487154a26">&#9670;&#160;</a></span>DeactivateWindows()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DeactivateWindows </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a49f95560823636c27d31b8239fc2466c">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a95a35d290305a02cebd25173588be2fd" name="a95a35d290305a02cebd25173588be2fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95a35d290305a02cebd25173588be2fd">&#9670;&#160;</a></span>Disposed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.Disposed </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac5ff8c9585549cd97db1ec1e223f7ff0">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9c264b430aeae6b7f290d3ce8b7e8afa" name="a9c264b430aeae6b7f290d3ce8b7e8afa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c264b430aeae6b7f290d3ce8b7e8afa">&#9670;&#160;</a></span>DisposeSprite()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DisposeSprite </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Disposes the specified graphics object within the specified hash. Basically like: sprites[id].dispose  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sprites</td><td></td></tr>
    <tr><td class="paramname">id</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a012620ce94f1f348ae862c3f3cdf470d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a1e18e9c27e05d2c8b6240ec4d16f9717" name="a1e18e9c27e05d2c8b6240ec4d16f9717"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e18e9c27e05d2c8b6240ec4d16f9717">&#9670;&#160;</a></span>DisposeSpriteHash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DisposeSpriteHash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Disposes all objects in the specified hash.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sprites</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3694ffaeb2102a3f8cf091ca5234348e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a53b9b7f586640e26ba19f668351a3792" name="a53b9b7f586640e26ba19f668351a3792"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53b9b7f586640e26ba19f668351a3792">&#9670;&#160;</a></span>DoEnsureBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> PokemonEssentials.Interface.IGameSpriteWindow.DoEnsureBitmap </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dwidth</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dheight</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#abce72c24c34da47075debfd506d75601">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ae1ebc53aeba4be6ad515f9cc4d01fe3d" name="ae1ebc53aeba4be6ad515f9cc4d01fe3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1ebc53aeba4be6ad515f9cc4d01fe3d">&#9670;&#160;</a></span>DrawImagePositions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DrawImagePositions </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a>&gt;&#160;</td>
          <td class="paramname"><em>textpos</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6be559adcbb81e5411f6a71a87bd7a17">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a017ec2c749bc7b8b87b22280222249e3" name="a017ec2c749bc7b8b87b22280222249e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a017ec2c749bc7b8b87b22280222249e3">&#9670;&#160;</a></span>DrawOutlineText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DrawOutlineText </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>baseColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>shadowColor</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>align</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#acefab9c8c23cf656afcb5ea143a9a841">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a754a0b9b99dead307ec1f1bda9c5ba29" name="a754a0b9b99dead307ec1f1bda9c5ba29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a754a0b9b99dead307ec1f1bda9c5ba29">&#9670;&#160;</a></span>DrawShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DrawShadow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7f16bede49c65ca7571c850f429c3db7">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6f91dcaa9cb6c279ab2285558cb42cc4" name="a6f91dcaa9cb6c279ab2285558cb42cc4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f91dcaa9cb6c279ab2285558cb42cc4">&#9670;&#160;</a></span>DrawShadowText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DrawShadowText </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>baseColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>shadowColor</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>align</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a298b1317fdea2467ec80820558540913">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a29ee70d0db0e40c6b65f2b4a335ac0dc" name="a29ee70d0db0e40c6b65f2b4a335ac0dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29ee70d0db0e40c6b65f2b4a335ac0dc">&#9670;&#160;</a></span>DrawTextPositions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.DrawTextPositions </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a>&gt;&#160;</td>
          <td class="paramname"><em>textpos</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a170842aee14236ca611d6f6ddb0f10b9">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ae686a362bcdd148f48e3ae242208f672" name="ae686a362bcdd148f48e3ae242208f672"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae686a362bcdd148f48e3ae242208f672">&#9670;&#160;</a></span>FadeInAndShow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.FadeInAndShow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&gt;&#160;</td>
          <td class="paramname"><em>visiblesprites</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a5899d82cb71e4f0b6e2ccc62518659dd">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a7e9fedafaac72a7b2524a7fc19d1c702" name="a7e9fedafaac72a7b2524a7fc19d1c702"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e9fedafaac72a7b2524a7fc19d1c702">&#9670;&#160;</a></span>FadeOutAndHide()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.FadeOutAndHide </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#af2267e135344b36360a37465fd74d6ec">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a74725aeca07ba46e7836414251913e73" name="a74725aeca07ba46e7836414251913e73"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74725aeca07ba46e7836414251913e73">&#9670;&#160;</a></span>FadeOutIn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.FadeOutIn </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>z</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out the screen before a <em>block</em>  is run and fades it back in after the <em>block</em>  exits.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">z</td><td>z indicates the z-coordinate of the viewport used for this effect</td></tr>
    <tr><td class="paramname">nofadeout</td><td></td></tr>
    <tr><td class="paramname">block</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac21f93b4caabb812471c5b17cbf2c2c2">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9ba8e6163374269c986c3b3280ca8192" name="a9ba8e6163374269c986c3b3280ca8192"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ba8e6163374269c986c3b3280ca8192">&#9670;&#160;</a></span>GetAnimation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.GetAnimation </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad07094637edf22579ac46578bb8b0b44">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6174dc3a7cf95d26f7babf6c0d295e76" name="a6174dc3a7cf95d26f7babf6c0d295e76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6174dc3a7cf95d26f7babf6c0d295e76">&#9670;&#160;</a></span>GetAutotile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.GetAutotile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a2768808a6045ad72b7a4afc3da2f1ba6">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a139961b64c02c6b5dea831815a1e5091" name="a139961b64c02c6b5dea831815a1e5091"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a139961b64c02c6b5dea831815a1e5091">&#9670;&#160;</a></span>getDefaultTextColors()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.getDefaultTextColors </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>windowskin</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8e68c35e4a1c1505e624b8cd5f1cfd3b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aaab7d38ff1f013533d23b47e91e24f57" name="aaab7d38ff1f013533d23b47e91e24f57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaab7d38ff1f013533d23b47e91e24f57">&#9670;&#160;</a></span>GetFileChar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.GetFileChar </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets at least the first byte of a file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p>Doesn't check RTP, but does check encrypted archives. </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a5105b7679425fee373b984f621daa538">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="acb032e183eab13bcb9468659b8341413" name="acb032e183eab13bcb9468659b8341413"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb032e183eab13bcb9468659b8341413">&#9670;&#160;</a></span>GetFileString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.GetFileString </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the contents of a file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p>Doesn't check RTP, but does check encrypted archives. </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad78bc63ab5aa380516ff526db230db1a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a707375e325d4dda65adad586049df864" name="a707375e325d4dda65adad586049df864"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a707375e325d4dda65adad586049df864">&#9670;&#160;</a></span>GetTileBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> PokemonEssentials.Interface.IGameSpriteWindow.GetTileBitmap </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>tile_id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae635c04b83b71a65b9b62ecd8752d8c7">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a1ee2ef5408c4ca61fae483f7a9e12743" name="a1ee2ef5408c4ca61fae483f7a9e12743"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ee2ef5408c4ca61fae483f7a9e12743">&#9670;&#160;</a></span>GetTileset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.GetTileset </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a88601ae4a9c54fffc9be5d1a42fb42cf">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3d8638b422196d966e02627f9b938517" name="a3d8638b422196d966e02627f9b938517"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d8638b422196d966e02627f9b938517">&#9670;&#160;</a></span>isDarkBackground()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.isDarkBackground </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7359c8b93037a177907800db4485eadf">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aff8fd5e339a0173297eda01135c50881" name="aff8fd5e339a0173297eda01135c50881"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff8fd5e339a0173297eda01135c50881">&#9670;&#160;</a></span>isDarkWindowskin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.isDarkWindowskin </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>windowskin</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4cebaf787ed96cc20d7893c4839ca401">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af830e0596594e8a9d1dfa1cffc874fc0" name="af830e0596594e8a9d1dfa1cffc874fc0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af830e0596594e8a9d1dfa1cffc874fc0">&#9670;&#160;</a></span>NarrowFontName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.NarrowFontName </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the name of the system narrow font.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a475db98afd15de346bdb7974095e2a12">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a0d26116782fdb6ae45c8296a68098f6b" name="a0d26116782fdb6ae45c8296a68098f6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d26116782fdb6ae45c8296a68098f6b">&#9670;&#160;</a></span>PopFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.PopFade </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6232ec848cf78b9e8a6cf63c8a0b3308">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a55e95d9f51399b01aacd9b8109df7195" name="a55e95d9f51399b01aacd9b8109df7195"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a55e95d9f51399b01aacd9b8109df7195">&#9670;&#160;</a></span>PushFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.PushFade </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa4470eb2941bf9ee5a6b3eedaa412ac6">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="adf17ef7ff289b27ae0eec20259652443" name="adf17ef7ff289b27ae0eec20259652443"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf17ef7ff289b27ae0eec20259652443">&#9670;&#160;</a></span>ResolveBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.ResolveBitmap </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Finds the real path for an image file. This includes paths in encrypted archives. <br  />
  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns null if the path can't be found.</dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9f95db710e4d0ebb65fc6b8b371ac175">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa3d69b0c0a9680f57157e4a47f26609e" name="aa3d69b0c0a9680f57157e4a47f26609e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3d69b0c0a9680f57157e4a47f26609e">&#9670;&#160;</a></span>RestoreActivations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.RestoreActivations </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>activeStatuses</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#adbb9ac0bc6b92aa83075dc10f7d17da3">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a320764de63e3cb3681be7ec820cc4b0f" name="a320764de63e3cb3681be7ec820cc4b0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a320764de63e3cb3681be7ec820cc4b0f">&#9670;&#160;</a></span>RgssExists()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.RgssExists </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a90561cc8d1edcc364638a8c3cefb4411">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a56fea511ab8ad67acd8fb3d18423577b" name="a56fea511ab8ad67acd8fb3d18423577b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a56fea511ab8ad67acd8fb3d18423577b">&#9670;&#160;</a></span>RgssOpen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IDisposable PokemonEssentials.Interface.IGameSpriteWindow.RgssOpen </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>mode</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Opens an IO, even if the file is in an encrypted archive. Doesn't check RTP for the file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td>path to file</td></tr>
    <tr><td class="paramname">mode</td><td></td></tr>
    <tr><td class="paramname">action</td><td>logic to perform on file</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa650668082005a70e44fbb6020d63f94">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3248972c6b2c4cc76a087983e75f8098" name="a3248972c6b2c4cc76a087983e75f8098"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3248972c6b2c4cc76a087983e75f8098">&#9670;&#160;</a></span>safeExists()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.safeExists </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>f</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a87c258f470ef3b9d46ad68bac273310e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa7346394ac117c0ffc3fcdadb4c1927c" name="aa7346394ac117c0ffc3fcdadb4c1927c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7346394ac117c0ffc3fcdadb4c1927c">&#9670;&#160;</a></span>safeGlob()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string[] PokemonEssentials.Interface.IGameSpriteWindow.safeGlob </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>dir</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>wildcard</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a197222075d0d4b02a629b8f2db44bf76">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ad828f8d373ede71b85d754c3798154ac" name="ad828f8d373ede71b85d754c3798154ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad828f8d373ede71b85d754c3798154ac">&#9670;&#160;</a></span>safeIsDirectory()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.safeIsDirectory </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>f</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aae5961100d90179b71ed2818b0beb26f">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a2a53c783cc987f7621b39855abf99e5c" name="a2a53c783cc987f7621b39855abf99e5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a53c783cc987f7621b39855abf99e5c">&#9670;&#160;</a></span>SetNarrowFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.SetNarrowFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system narrow font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a56488c6ebfdfa5ce6bff874a808532ee">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a19af43031bf8b93fe29eb66d2b64f21b" name="a19af43031bf8b93fe29eb66d2b64f21b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19af43031bf8b93fe29eb66d2b64f21b">&#9670;&#160;</a></span>SetSmallFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.SetSmallFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system small font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#acc3248196dd94de4855bb122293c41eb">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="abcd07183021f14ebb9637f705ff3a033" name="abcd07183021f14ebb9637f705ff3a033"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abcd07183021f14ebb9637f705ff3a033">&#9670;&#160;</a></span>SetSpritesToColor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.SetSpritesToColor </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#acdd023201b86d396921165b03bf24966">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="abd9a71032244b3a9dd86023a5b76ba67" name="abd9a71032244b3a9dd86023a5b76ba67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd9a71032244b3a9dd86023a5b76ba67">&#9670;&#160;</a></span>SetSystemFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.SetSystemFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6f80a7b0be1e9ddc6d10f72df6c6038a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a04d392a8a814b760a3d5be964f9259a3" name="a04d392a8a814b760a3d5be964f9259a3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a04d392a8a814b760a3d5be964f9259a3">&#9670;&#160;</a></span>SmallFontName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.SmallFontName </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the name of the system small font.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa6b1a1214c96f24ae9aee741f8be8b83">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ade2b0ae9c9073a5d83be09ea3b2b3eae" name="ade2b0ae9c9073a5d83be09ea3b2b3eae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade2b0ae9c9073a5d83be09ea3b2b3eae">&#9670;&#160;</a></span>SrcOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.SrcOver </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>dstColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>srcColor</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae8b47ed932d25833562572def8a21995">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3f0c74ac6cfea961c47977c180d0f1dd" name="a3f0c74ac6cfea961c47977c180d0f1dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f0c74ac6cfea961c47977c180d0f1dd">&#9670;&#160;</a></span>TryString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.TryString </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a0ce9c07c0fdee0dece77415545b34954">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af35a7ecfb73265003e3ab9fffe467978" name="af35a7ecfb73265003e3ab9fffe467978"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af35a7ecfb73265003e3ab9fffe467978">&#9670;&#160;</a></span>UpdateSpriteHash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.UpdateSpriteHash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>windows</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9e2df73d1d57c8c718341a21c99fcfa5">PokemonUnity.Game</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab34e2a5b0636487bb7d5431f3c5f70e9" name="ab34e2a5b0636487bb7d5431f3c5f70e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab34e2a5b0636487bb7d5431f3c5f70e9">&#9670;&#160;</a></span>IsFaded</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.IsFaded</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a99ed7f6a9c3beb119b7b9f578b83fa2b">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>

