@{
	Page.Title = "PokemonEssentials.Interface.Screen.IWindow_PokemonOption Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">IWindow_PokemonOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PokemonOption Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af71ded9339e8cd03b14d95fe9cea43c9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">IWindow_PokemonOption</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#af71ded9339e8cd03b14d95fe9cea43c9">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">IOptionValue</a>[] options, float x, float y, float width, float height)</td></tr>
<tr class="separator:af71ded9339e8cd03b14d95fe9cea43c9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5d2cc4733ee4b047610e4e46288860a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#ac5d2cc4733ee4b047610e4e46288860a">itemCount</a> ()</td></tr>
<tr class="separator:ac5d2cc4733ee4b047610e4e46288860a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8d2be0898d2cd6ee1a3a82045c921aa"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#ad8d2be0898d2cd6ee1a3a82045c921aa">drawItem</a> (int index, int count, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:ad8d2be0898d2cd6ee1a3a82045c921aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d1fb66abb36f054048bfe42493c401a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a2d1fb66abb36f054048bfe42493c401a">update</a> ()</td></tr>
<tr class="separator:a2d1fb66abb36f054048bfe42493c401a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0108dbc90753d3956452a052e333a56e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a0108dbc90753d3956452a052e333a56e">mustUpdateOptions</a><code> [get, set]</code></td></tr>
<tr class="separator:a0108dbc90753d3956452a052e333a56e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3efc2582c947e00a804678ea9c4a206e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">IOptionValue</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a3efc2582c947e00a804678ea9c4a206e">this[int i]</a><code> [get, set]</code></td></tr>
<tr class="separator:a3efc2582c947e00a804678ea9c4a206e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ad8d2be0898d2cd6ee1a3a82045c921aa" name="ad8d2be0898d2cd6ee1a3a82045c921aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8d2be0898d2cd6ee1a3a82045c921aa">&#9670;&#160;</a></span>drawItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IWindow_PokemonOption.drawItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>count</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af71ded9339e8cd03b14d95fe9cea43c9" name="af71ded9339e8cd03b14d95fe9cea43c9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af71ded9339e8cd03b14d95fe9cea43c9">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">IWindow_PokemonOption</a> PokemonEssentials.Interface.Screen.IWindow_PokemonOption.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">IOptionValue</a>[]&#160;</td>
          <td class="paramname"><em>options</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac5d2cc4733ee4b047610e4e46288860a" name="ac5d2cc4733ee4b047610e4e46288860a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5d2cc4733ee4b047610e4e46288860a">&#9670;&#160;</a></span>itemCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PokemonOption.itemCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d1fb66abb36f054048bfe42493c401a" name="a2d1fb66abb36f054048bfe42493c401a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d1fb66abb36f054048bfe42493c401a">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IWindow_PokemonOption.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0108dbc90753d3956452a052e333a56e" name="a0108dbc90753d3956452a052e333a56e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0108dbc90753d3956452a052e333a56e">&#9670;&#160;</a></span>mustUpdateOptions</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IWindow_PokemonOption.mustUpdateOptions</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3efc2582c947e00a804678ea9c4a206e" name="a3efc2582c947e00a804678ea9c4a206e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3efc2582c947e00a804678ea9c4a206e">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">IOptionValue</a> PokemonEssentials.Interface.Screen.IWindow_PokemonOption.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>
