@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">IInterpreterMart</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IInterpreterMart Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">PokemonEssentials.Interface.Screen.IInterpreterMart</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml#a6adbb1a0c2c31e9421a870c353c18457">command_302</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">PokemonEssentials.Interface.Screen.IInterpreterMart</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml#a1a2b8e1b31264043241c3e418d59b6c7">getItem</a>(KeyValuePair&lt; int, int &gt; p)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">PokemonEssentials.Interface.Screen.IInterpreterMart</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml#aceecfb6f4cf982b3e717f6db6102350b">setPrice</a>(Items item, int buyprice=-1, int sellprice=-1)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">PokemonEssentials.Interface.Screen.IInterpreterMart</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml#a3101bde9d8112bd2567e50ce90cee520">setSellPrice</a>(Items item, int sellprice)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_interpreter_mart.cshtml">PokemonEssentials.Interface.Screen.IInterpreterMart</a></td><td class="entry"></td></tr>
</table>
