@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_total_level_adjustment.cshtml">ITotalLevelAdjustment</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ITotalLevelAdjustment Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_total_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ITotalLevelAdjustment</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a072469c1cff1b3755f295e7d0072acb0">adjustLevels</a>(IPokemon[] team1, IPokemon[] team2)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#adb2270a00d4c8daec38191c172dbabb5">getAdjustment</a>(IPokemon[] thisTeam, IPokemon[] otherTeam)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#aaacc597129b7f15809543b95fa2be899">getMyAdjustment</a>(IPokemon[] myTeam, IPokemon[] theirTeam)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a08cbe106d03357a4b6fea3bb082d6c4b">getOldExp</a>(IPokemon[] team1, IPokemon[] team2)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a430724dfdc09ad1649dc226e4ed43c68">getTheirAdjustment</a>(IPokemon[] theirTeam, IPokemon[] myTeam)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#af0932cf2b5f483f12e3b185dca6e567f">type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#ace0005fc0d07e0f75bc73a3caeb9d6c0">unadjustLevels</a>(IPokemon[] team1, IPokemon[] team2, int?[][] adjustments)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">PokemonEssentials.Interface.Battle.ILevelAdjustment</a></td><td class="entry"></td></tr>
</table>