@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">IPokemonBattlerSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IPokemonBattlerSprite Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#abf732e869de8f1b2033b8684d4911091">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a8fd719d92157548dce88c6d74880be3f">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#ac8161636eb8a935665688b39d1e41610">initialize</a>(bool doublebattle, int index, IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#aa38c9f0a011abce54a0099687d77f4ab">selected</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#acbca11c968805f7af062dac8a49c6128">setPokemonBitmap</a>(IPokemon pokemon, bool back=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a2948871a0d1ffc135ec5674b00bf21d6">setPokemonBitmap</a>(PokemonUnity.Monster.Forms pokemon, bool back=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a15af2cfb04b408c0bdc8bf3866f886f7">setPokemonBitmapSpecies</a>(IPokemon pokemon, Pokemons species, bool back=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#acd165f14276112c4708d8f1823f57a00">tone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#ac5f40da2ad62613d99d6a98503a36786">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a54e6c61efd5e4b7d6c7cf9b331ac85b7">visible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a84a9d5b24253c24c17552bd049cfcaf7">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a11010b4704ba352c40252e81daf67c93">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#af4afb8b113f899798ea7e27ccd184b03">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml#a64d7a4d7567e1e5eb4e268e7356fc012">z</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">PokemonEssentials.Interface.IPokemonBattlerSprite</a></td><td class="entry"></td></tr>
</table>
