@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">IPhoneMessageData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.IPhoneMessageData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#a7f5ace7e694814d86e6186c289878ab8">BattleRequests</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#a7c86825055fb3c04ea43f01182199b64">Bodies1</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#aee33397eb455c2dcebd12ee387f530c4">Bodies2</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#a1e6cecb6ef859edb9054e0c57fa61431">Generics</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#abfd0d4f753d83f19e30c5fbe98bbf031">Greetings</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#a69bb269fe9665f5552b346e5e4dd0710">GreetingsEvening</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml#a81547b55c5aff0a8775b0c8406c2e94d">GreetingsMorning</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">PokemonUnity.Character.IPhoneMessageData</a></td><td class="entry"></td></tr>
</table>
