@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IGameSpriteWindow Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml">IGameSpriteWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSpriteWindow Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IGameSpriteWindow:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.png" usemap="#PokemonEssentials.Interface.IGameSpriteWindow_map" alt=""/>
  <map id="PokemonEssentials.Interface.IGameSpriteWindow_map" name="PokemonEssentials.Interface.IGameSpriteWindow_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,289,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad828f8d373ede71b85d754c3798154ac"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ad828f8d373ede71b85d754c3798154ac">safeIsDirectory</a> (string f)</td></tr>
<tr class="separator:ad828f8d373ede71b85d754c3798154ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3248972c6b2c4cc76a087983e75f8098"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3248972c6b2c4cc76a087983e75f8098">safeExists</a> (string f)</td></tr>
<tr class="separator:a3248972c6b2c4cc76a087983e75f8098"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7346394ac117c0ffc3fcdadb4c1927c"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa7346394ac117c0ffc3fcdadb4c1927c">safeGlob</a> (string dir, string wildcard)</td></tr>
<tr class="separator:aa7346394ac117c0ffc3fcdadb4c1927c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf9c5803844a8a00d95543060c194c26"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aaf9c5803844a8a00d95543060c194c26">pbGetTileBitmap</a> (string filename, int tile_id, int hue)</td></tr>
<tr class="separator:aaf9c5803844a8a00d95543060c194c26"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af2d3a6df44cd1688860aa61c07631325"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af2d3a6df44cd1688860aa61c07631325">pbGetAnimation</a> (string name, int hue=0)</td></tr>
<tr class="separator:af2d3a6df44cd1688860aa61c07631325"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab12b466757befff9b8abeb2b429f55fc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ab12b466757befff9b8abeb2b429f55fc">pbGetTileset</a> (string name, int hue=0)</td></tr>
<tr class="separator:ab12b466757befff9b8abeb2b429f55fc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a228d6e6982c4b4f98f93df55f0989944"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a228d6e6982c4b4f98f93df55f0989944">pbGetAutotile</a> (string name, int hue=0)</td></tr>
<tr class="separator:a228d6e6982c4b4f98f93df55f0989944"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac2c0f4602a10f693c6f433b36936e882"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ac2c0f4602a10f693c6f433b36936e882">pbDrawShadow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text)</td></tr>
<tr class="separator:ac2c0f4602a10f693c6f433b36936e882"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a987dc5e550b78d69d6b15ccbeed600b4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a987dc5e550b78d69d6b15ccbeed600b4">pbDrawShadowText</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> baseColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> shadowColor=null, int align=0)</td></tr>
<tr class="separator:a987dc5e550b78d69d6b15ccbeed600b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab311c4c1774ad3d86080a8b99455b76e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ab311c4c1774ad3d86080a8b99455b76e">pbDrawOutlineText</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, float x, float y, int width, int height, string text, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> baseColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> shadowColor=null, int align=0)</td></tr>
<tr class="separator:ab311c4c1774ad3d86080a8b99455b76e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab60772bd9701871b154c5f9708bd5d0d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ab60772bd9701871b154c5f9708bd5d0d">pbBottomRight</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:ab60772bd9701871b154c5f9708bd5d0d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6fa75c7378285062081d17cbbc202003"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a6fa75c7378285062081d17cbbc202003">pbBottomLeft</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:a6fa75c7378285062081d17cbbc202003"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d9c8607f219aa67d6ef37c3480dac7a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a2d9c8607f219aa67d6ef37c3480dac7a">pbBottomLeftLines</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window, int lines, int? width=null)</td></tr>
<tr class="separator:a2d9c8607f219aa67d6ef37c3480dac7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50f518c09a2eb3f005023a14ad9bde8e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a50f518c09a2eb3f005023a14ad9bde8e">pbDisposed</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> x)</td></tr>
<tr class="separator:a50f518c09a2eb3f005023a14ad9bde8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d8638b422196d966e02627f9b938517"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3d8638b422196d966e02627f9b938517">isDarkBackground</a> (int background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect=null)</td></tr>
<tr class="separator:a3d8638b422196d966e02627f9b938517"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff8fd5e339a0173297eda01135c50881"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aff8fd5e339a0173297eda01135c50881">isDarkWindowskin</a> (int windowskin)</td></tr>
<tr class="separator:aff8fd5e339a0173297eda01135c50881"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a139961b64c02c6b5dea831815a1e5091"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a139961b64c02c6b5dea831815a1e5091">getDefaultTextColors</a> (int windowskin)</td></tr>
<tr class="separator:a139961b64c02c6b5dea831815a1e5091"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f622e7f56fb3f338a93429690f1eb02"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a8f622e7f56fb3f338a93429690f1eb02">pbDoEnsureBitmap</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, int dwidth, int dheight)</td></tr>
<tr class="separator:a8f622e7f56fb3f338a93429690f1eb02"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5167140510a38ec74bd2d68ea68ca2db"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a5167140510a38ec74bd2d68ea68ca2db">pbUpdateSpriteHash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] windows)</td></tr>
<tr class="separator:a5167140510a38ec74bd2d68ea68ca2db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52510840215998a370c2256e502a7add"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a52510840215998a370c2256e502a7add">pbDisposeSpriteHash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites)</td></tr>
<tr class="memdesc:a52510840215998a370c2256e502a7add"><td class="mdescLeft">&#160;</td><td class="mdescRight">Disposes all objects in the specified hash.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a52510840215998a370c2256e502a7add">More...</a><br /></td></tr>
<tr class="separator:a52510840215998a370c2256e502a7add"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54e6a339a814dc538364919a85e1d1ba"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a54e6a339a814dc538364919a85e1d1ba">pbDisposeSprite</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, int id)</td></tr>
<tr class="memdesc:a54e6a339a814dc538364919a85e1d1ba"><td class="mdescLeft">&#160;</td><td class="mdescRight">Disposes the specified graphics object within the specified hash. Basically like: sprites[id].dispose   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a54e6a339a814dc538364919a85e1d1ba">More...</a><br /></td></tr>
<tr class="separator:a54e6a339a814dc538364919a85e1d1ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa57d6892c2a0cd8b9203704b493541b0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa57d6892c2a0cd8b9203704b493541b0">pbDrawTextPositions</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a> &gt; textpos)</td></tr>
<tr class="separator:aa57d6892c2a0cd8b9203704b493541b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9d758cc62e9cadf69a747439d88b8bf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af9d758cc62e9cadf69a747439d88b8bf">pbDrawImagePositions</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a> &gt; textpos)</td></tr>
<tr class="separator:af9d758cc62e9cadf69a747439d88b8bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2975dd01b30657d751375773718ea47b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a2975dd01b30657d751375773718ea47b">pbPushFade</a> ()</td></tr>
<tr class="separator:a2975dd01b30657d751375773718ea47b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af97c3b2213eff78b82766a129d1d39f2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af97c3b2213eff78b82766a129d1d39f2">pbPopFade</a> ()</td></tr>
<tr class="separator:af97c3b2213eff78b82766a129d1d39f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9934fd20c8f30df1972d14485c7de14"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af9934fd20c8f30df1972d14485c7de14">pbFadeOutIn</a> (int z, bool nofadeout=false, Action block=null)</td></tr>
<tr class="memdesc:af9934fd20c8f30df1972d14485c7de14"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out the screen before a <em>block</em>  is run and fades it back in after the <em>block</em>  exits.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af9934fd20c8f30df1972d14485c7de14">More...</a><br /></td></tr>
<tr class="separator:af9934fd20c8f30df1972d14485c7de14"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c9b98fc46d8409e66a1485c3b8fb7f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a9c9b98fc46d8409e66a1485c3b8fb7f8">pbFadeOutAndHide</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites)</td></tr>
<tr class="separator:a9c9b98fc46d8409e66a1485c3b8fb7f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac269d8d1a9e1601cf40651dc5272e831"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ac269d8d1a9e1601cf40651dc5272e831">pbFadeInAndShow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt; visiblesprites=null, Action block=null)</td></tr>
<tr class="separator:ac269d8d1a9e1601cf40651dc5272e831"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa500b1aa60d982a623e95d9fe260404d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa500b1aa60d982a623e95d9fe260404d">pbRestoreActivations</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, object activeStatuses)</td></tr>
<tr class="separator:aa500b1aa60d982a623e95d9fe260404d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade31583ebeb75abe172bf81f73fca5cd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ade31583ebeb75abe172bf81f73fca5cd">pbDeactivateWindows</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] sprites, Action action=null)</td></tr>
<tr class="separator:ade31583ebeb75abe172bf81f73fca5cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03740ee694ca19d12115d74d5c683f0a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a03740ee694ca19d12115d74d5c683f0a">pbActivateWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[] sprites, int key, Action action=null)</td></tr>
<tr class="separator:a03740ee694ca19d12115d74d5c683f0a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25e75fac551430008d9009e9a5c3fd7b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a25e75fac551430008d9009e9a5c3fd7b">pbAlphaBlend</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> dstColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> srcColor)</td></tr>
<tr class="separator:a25e75fac551430008d9009e9a5c3fd7b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5930fa663b545a99cba4f0c0fbe28a76"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a5930fa663b545a99cba4f0c0fbe28a76">pbSrcOver</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> dstColor, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> srcColor)</td></tr>
<tr class="separator:a5930fa663b545a99cba4f0c0fbe28a76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5a3a580946db274ecd3e02d430162f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#af5a3a580946db274ecd3e02d430162f8">pbSetSpritesToColor</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color)</td></tr>
<tr class="separator:af5a3a580946db274ecd3e02d430162f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab8ebe8c6aafc476dd83d5b0230210c8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aab8ebe8c6aafc476dd83d5b0230210c8">pbTryString</a> (string x)</td></tr>
<tr class="separator:aab8ebe8c6aafc476dd83d5b0230210c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6922cf47ecee59d8fcf9b2753da63a0c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a6922cf47ecee59d8fcf9b2753da63a0c">pbBitmapName</a> (string x)</td></tr>
<tr class="separator:a6922cf47ecee59d8fcf9b2753da63a0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8fb0fe2772094693abbbb97ceef3966e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a8fb0fe2772094693abbbb97ceef3966e">pbResolveBitmap</a> (string x)</td></tr>
<tr class="memdesc:a8fb0fe2772094693abbbb97ceef3966e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Finds the real path for an image file. This includes paths in encrypted archives. <br  />
   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a8fb0fe2772094693abbbb97ceef3966e">More...</a><br /></td></tr>
<tr class="separator:a8fb0fe2772094693abbbb97ceef3966e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c254b99862d6199a122b2d214ede249"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a4c254b99862d6199a122b2d214ede249">addBackgroundPlane</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, string planename, string background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a4c254b99862d6199a122b2d214ede249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cee630b0a71a1221278564c48eccd5b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a5cee630b0a71a1221278564c48eccd5b">addBackgroundOrColoredPlane</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites, string planename, string background, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a5cee630b0a71a1221278564c48eccd5b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa28eb2e4e08f9f25130d74759d016c13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa28eb2e4e08f9f25130d74759d016c13">pbSetSystemFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:aa28eb2e4e08f9f25130d74759d016c13"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa28eb2e4e08f9f25130d74759d016c13">More...</a><br /></td></tr>
<tr class="separator:aa28eb2e4e08f9f25130d74759d016c13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cc0d11857057652acbf4e846ba9cbc8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3cc0d11857057652acbf4e846ba9cbc8">pbSmallFontName</a> ()</td></tr>
<tr class="memdesc:a3cc0d11857057652acbf4e846ba9cbc8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the name of the system small font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3cc0d11857057652acbf4e846ba9cbc8">More...</a><br /></td></tr>
<tr class="separator:a3cc0d11857057652acbf4e846ba9cbc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa53f65289cb68983d3ac3cdbdd5fde32"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa53f65289cb68983d3ac3cdbdd5fde32">pbNarrowFontName</a> ()</td></tr>
<tr class="memdesc:aa53f65289cb68983d3ac3cdbdd5fde32"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the name of the system narrow font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#aa53f65289cb68983d3ac3cdbdd5fde32">More...</a><br /></td></tr>
<tr class="separator:aa53f65289cb68983d3ac3cdbdd5fde32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a28376df8319061ec80375298eab4e1cc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a28376df8319061ec80375298eab4e1cc">pbSetSmallFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:a28376df8319061ec80375298eab4e1cc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system small font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a28376df8319061ec80375298eab4e1cc">More...</a><br /></td></tr>
<tr class="separator:a28376df8319061ec80375298eab4e1cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adbe89c71cf6426dae144aeb779202236"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#adbe89c71cf6426dae144aeb779202236">pbSetNarrowFont</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap)</td></tr>
<tr class="memdesc:adbe89c71cf6426dae144aeb779202236"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets a bitmap's font to the system narrow font.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#adbe89c71cf6426dae144aeb779202236">More...</a><br /></td></tr>
<tr class="separator:adbe89c71cf6426dae144aeb779202236"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3591347a46e31250ddffe1ac2cedc831"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a3591347a46e31250ddffe1ac2cedc831">pbRgssExists</a> (string filename)</td></tr>
<tr class="separator:a3591347a46e31250ddffe1ac2cedc831"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1a7e76f87fa37ee6078f204c0b9e5cd4"><td class="memItemLeft" align="right" valign="top">IDisposable&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a1a7e76f87fa37ee6078f204c0b9e5cd4">pbRgssOpen</a> (string file, int? mode=null, Action action=null)</td></tr>
<tr class="memdesc:a1a7e76f87fa37ee6078f204c0b9e5cd4"><td class="mdescLeft">&#160;</td><td class="mdescRight">Opens an IO, even if the file is in an encrypted archive. Doesn't check RTP for the file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a1a7e76f87fa37ee6078f204c0b9e5cd4">More...</a><br /></td></tr>
<tr class="separator:a1a7e76f87fa37ee6078f204c0b9e5cd4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4eabbfa13768829ae0f5fc26bf24b697"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a4eabbfa13768829ae0f5fc26bf24b697">pbGetFileChar</a> (string file)</td></tr>
<tr class="memdesc:a4eabbfa13768829ae0f5fc26bf24b697"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets at least the first byte of a file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a4eabbfa13768829ae0f5fc26bf24b697">More...</a><br /></td></tr>
<tr class="separator:a4eabbfa13768829ae0f5fc26bf24b697"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a441fbd97fb8e49ccdfa60f3113e293eb"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a441fbd97fb8e49ccdfa60f3113e293eb">pbGetFileString</a> (string file)</td></tr>
<tr class="memdesc:a441fbd97fb8e49ccdfa60f3113e293eb"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the contents of a file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#a441fbd97fb8e49ccdfa60f3113e293eb">More...</a><br /></td></tr>
<tr class="separator:a441fbd97fb8e49ccdfa60f3113e293eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad4a3edb613416c7170b576610efce273"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite_window.cshtml#ad4a3edb613416c7170b576610efce273">pbIsFaded</a><code> [get]</code></td></tr>
<tr class="separator:ad4a3edb613416c7170b576610efce273"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5cee630b0a71a1221278564c48eccd5b" name="a5cee630b0a71a1221278564c48eccd5b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cee630b0a71a1221278564c48eccd5b">&#9670;&#160;</a></span>addBackgroundOrColoredPlane()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.addBackgroundOrColoredPlane </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>planename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a009e3ee3f700a6d5d86ff9cfe2c5d22e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a4c254b99862d6199a122b2d214ede249" name="a4c254b99862d6199a122b2d214ede249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c254b99862d6199a122b2d214ede249">&#9670;&#160;</a></span>addBackgroundPlane()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.addBackgroundPlane </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>planename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a290ae91cde55f711b44c009d39ebbe02">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a139961b64c02c6b5dea831815a1e5091" name="a139961b64c02c6b5dea831815a1e5091"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a139961b64c02c6b5dea831815a1e5091">&#9670;&#160;</a></span>getDefaultTextColors()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.getDefaultTextColors </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>windowskin</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8e68c35e4a1c1505e624b8cd5f1cfd3b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3d8638b422196d966e02627f9b938517" name="a3d8638b422196d966e02627f9b938517"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d8638b422196d966e02627f9b938517">&#9670;&#160;</a></span>isDarkBackground()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.isDarkBackground </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>background</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7359c8b93037a177907800db4485eadf">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aff8fd5e339a0173297eda01135c50881" name="aff8fd5e339a0173297eda01135c50881"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff8fd5e339a0173297eda01135c50881">&#9670;&#160;</a></span>isDarkWindowskin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.isDarkWindowskin </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>windowskin</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4cebaf787ed96cc20d7893c4839ca401">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a03740ee694ca19d12115d74d5c683f0a" name="a03740ee694ca19d12115d74d5c683f0a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03740ee694ca19d12115d74d5c683f0a">&#9670;&#160;</a></span>pbActivateWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbActivateWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>key</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a25e75fac551430008d9009e9a5c3fd7b" name="a25e75fac551430008d9009e9a5c3fd7b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25e75fac551430008d9009e9a5c3fd7b">&#9670;&#160;</a></span>pbAlphaBlend()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.pbAlphaBlend </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>dstColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>srcColor</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a43b820b571cf87c6ba7416201c1ac5c2">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6922cf47ecee59d8fcf9b2753da63a0c" name="a6922cf47ecee59d8fcf9b2753da63a0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6922cf47ecee59d8fcf9b2753da63a0c">&#9670;&#160;</a></span>pbBitmapName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbBitmapName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ab6577506d52990dbae25e08a95a486f1">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6fa75c7378285062081d17cbbc202003" name="a6fa75c7378285062081d17cbbc202003"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6fa75c7378285062081d17cbbc202003">&#9670;&#160;</a></span>pbBottomLeft()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbBottomLeft </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d9c8607f219aa67d6ef37c3480dac7a" name="a2d9c8607f219aa67d6ef37c3480dac7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d9c8607f219aa67d6ef37c3480dac7a">&#9670;&#160;</a></span>pbBottomLeftLines()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbBottomLeftLines </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>lines</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>width</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab60772bd9701871b154c5f9708bd5d0d" name="ab60772bd9701871b154c5f9708bd5d0d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab60772bd9701871b154c5f9708bd5d0d">&#9670;&#160;</a></span>pbBottomRight()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbBottomRight </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ade31583ebeb75abe172bf81f73fca5cd" name="ade31583ebeb75abe172bf81f73fca5cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade31583ebeb75abe172bf81f73fca5cd">&#9670;&#160;</a></span>pbDeactivateWindows()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDeactivateWindows </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a50f518c09a2eb3f005023a14ad9bde8e" name="a50f518c09a2eb3f005023a14ad9bde8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50f518c09a2eb3f005023a14ad9bde8e">&#9670;&#160;</a></span>pbDisposed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.pbDisposed </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3276b605819279930ee9b36450c1ade8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a54e6a339a814dc538364919a85e1d1ba" name="a54e6a339a814dc538364919a85e1d1ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54e6a339a814dc538364919a85e1d1ba">&#9670;&#160;</a></span>pbDisposeSprite()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDisposeSprite </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Disposes the specified graphics object within the specified hash. Basically like: sprites[id].dispose  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sprites</td><td></td></tr>
    <tr><td class="paramname">id</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8afe46af6050c0f6c927b84a60babd4d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a52510840215998a370c2256e502a7add" name="a52510840215998a370c2256e502a7add"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52510840215998a370c2256e502a7add">&#9670;&#160;</a></span>pbDisposeSpriteHash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDisposeSpriteHash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Disposes all objects in the specified hash.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sprites</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3a2f0c4aee7e174244e1b2515c95854d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a8f622e7f56fb3f338a93429690f1eb02" name="a8f622e7f56fb3f338a93429690f1eb02"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f622e7f56fb3f338a93429690f1eb02">&#9670;&#160;</a></span>pbDoEnsureBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> PokemonEssentials.Interface.IGameSpriteWindow.pbDoEnsureBitmap </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dwidth</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dheight</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9283a372fbd609ce913d731620084604">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af9d758cc62e9cadf69a747439d88b8bf" name="af9d758cc62e9cadf69a747439d88b8bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9d758cc62e9cadf69a747439d88b8bf">&#9670;&#160;</a></span>pbDrawImagePositions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDrawImagePositions </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a> &gt;&#160;</td>
          <td class="paramname"><em>textpos</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a91b93eaf9a9e839199e92d0a76114499">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ab311c4c1774ad3d86080a8b99455b76e" name="ab311c4c1774ad3d86080a8b99455b76e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab311c4c1774ad3d86080a8b99455b76e">&#9670;&#160;</a></span>pbDrawOutlineText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDrawOutlineText </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>baseColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>shadowColor</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>align</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac3645826878583945136e9789da0c3a5">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ac2c0f4602a10f693c6f433b36936e882" name="ac2c0f4602a10f693c6f433b36936e882"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac2c0f4602a10f693c6f433b36936e882">&#9670;&#160;</a></span>pbDrawShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDrawShadow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8699161a524f61b0bdaa53892d99a091">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a987dc5e550b78d69d6b15ccbeed600b4" name="a987dc5e550b78d69d6b15ccbeed600b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a987dc5e550b78d69d6b15ccbeed600b4">&#9670;&#160;</a></span>pbDrawShadowText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDrawShadowText </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>baseColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>shadowColor</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>align</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad666b1a5502c96f826ffd07c476944e8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa57d6892c2a0cd8b9203704b493541b0" name="aa57d6892c2a0cd8b9203704b493541b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa57d6892c2a0cd8b9203704b493541b0">&#9670;&#160;</a></span>pbDrawTextPositions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbDrawTextPositions </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a> &gt;&#160;</td>
          <td class="paramname"><em>textpos</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac6de83a551ed63f6ee84b1b6e705a0fe">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ac269d8d1a9e1601cf40651dc5272e831" name="ac269d8d1a9e1601cf40651dc5272e831"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac269d8d1a9e1601cf40651dc5272e831">&#9670;&#160;</a></span>pbFadeInAndShow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbFadeInAndShow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt;&#160;</td>
          <td class="paramname"><em>visiblesprites</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4a73202723bd2858082a5381f48234c6">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9c9b98fc46d8409e66a1485c3b8fb7f8" name="a9c9b98fc46d8409e66a1485c3b8fb7f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c9b98fc46d8409e66a1485c3b8fb7f8">&#9670;&#160;</a></span>pbFadeOutAndHide()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbFadeOutAndHide </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#abe56d5b6e73f57f0a6aaf3e21c9150c5">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af9934fd20c8f30df1972d14485c7de14" name="af9934fd20c8f30df1972d14485c7de14"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9934fd20c8f30df1972d14485c7de14">&#9670;&#160;</a></span>pbFadeOutIn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbFadeOutIn </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>z</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out the screen before a <em>block</em>  is run and fades it back in after the <em>block</em>  exits.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">z</td><td>z indicates the z-coordinate of the viewport used for this effect</td></tr>
    <tr><td class="paramname">nofadeout</td><td></td></tr>
    <tr><td class="paramname">block</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac5f0e2440544d6def29d50982025aa15">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af2d3a6df44cd1688860aa61c07631325" name="af2d3a6df44cd1688860aa61c07631325"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af2d3a6df44cd1688860aa61c07631325">&#9670;&#160;</a></span>pbGetAnimation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.pbGetAnimation </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae6c1f35e6e3bccdc2ee3d3257514442f">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a228d6e6982c4b4f98f93df55f0989944" name="a228d6e6982c4b4f98f93df55f0989944"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a228d6e6982c4b4f98f93df55f0989944">&#9670;&#160;</a></span>pbGetAutotile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.pbGetAutotile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3a6f17b185973f2a86137681658ed409">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a4eabbfa13768829ae0f5fc26bf24b697" name="a4eabbfa13768829ae0f5fc26bf24b697"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4eabbfa13768829ae0f5fc26bf24b697">&#9670;&#160;</a></span>pbGetFileChar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbGetFileChar </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets at least the first byte of a file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p>Doesn't check RTP, but does check encrypted archives. </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7ae7def4b51179e4d272ec33fbee7a73">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a441fbd97fb8e49ccdfa60f3113e293eb" name="a441fbd97fb8e49ccdfa60f3113e293eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a441fbd97fb8e49ccdfa60f3113e293eb">&#9670;&#160;</a></span>pbGetFileString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbGetFileString </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the contents of a file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p>Doesn't check RTP, but does check encrypted archives. </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad3f814756340d1d682e12d0f405d02da">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aaf9c5803844a8a00d95543060c194c26" name="aaf9c5803844a8a00d95543060c194c26"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf9c5803844a8a00d95543060c194c26">&#9670;&#160;</a></span>pbGetTileBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> PokemonEssentials.Interface.IGameSpriteWindow.pbGetTileBitmap </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>tile_id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae29f80cf7a269bf92ba4bc1a40e07071">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ab12b466757befff9b8abeb2b429f55fc" name="ab12b466757befff9b8abeb2b429f55fc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab12b466757befff9b8abeb2b429f55fc">&#9670;&#160;</a></span>pbGetTileset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>[] PokemonEssentials.Interface.IGameSpriteWindow.pbGetTileset </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hue</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a78e25132f3f8cd2efff82e94c99773ab">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa53f65289cb68983d3ac3cdbdd5fde32" name="aa53f65289cb68983d3ac3cdbdd5fde32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa53f65289cb68983d3ac3cdbdd5fde32">&#9670;&#160;</a></span>pbNarrowFontName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbNarrowFontName </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the name of the system narrow font.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad64621562debdf3610258b25bb6d761a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af97c3b2213eff78b82766a129d1d39f2" name="af97c3b2213eff78b82766a129d1d39f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af97c3b2213eff78b82766a129d1d39f2">&#9670;&#160;</a></span>pbPopFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbPopFade </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae6428b8e86690cf9fd062f5fc244fba1">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a2975dd01b30657d751375773718ea47b" name="a2975dd01b30657d751375773718ea47b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2975dd01b30657d751375773718ea47b">&#9670;&#160;</a></span>pbPushFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbPushFade </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae040d43b8f2667d5ad9d6ed9f4253b4b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a8fb0fe2772094693abbbb97ceef3966e" name="a8fb0fe2772094693abbbb97ceef3966e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8fb0fe2772094693abbbb97ceef3966e">&#9670;&#160;</a></span>pbResolveBitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbResolveBitmap </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Finds the real path for an image file. This includes paths in encrypted archives. <br  />
  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns null if the path can't be found.</dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a094c0c53adf0f261fcdd63ed637d640a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa500b1aa60d982a623e95d9fe260404d" name="aa500b1aa60d982a623e95d9fe260404d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa500b1aa60d982a623e95d9fe260404d">&#9670;&#160;</a></span>pbRestoreActivations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbRestoreActivations </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>activeStatuses</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa55f722c7086c8917c2b2510443365eb">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3591347a46e31250ddffe1ac2cedc831" name="a3591347a46e31250ddffe1ac2cedc831"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3591347a46e31250ddffe1ac2cedc831">&#9670;&#160;</a></span>pbRgssExists()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.pbRgssExists </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a63338de5302b24c1f68112894eea4baa">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a1a7e76f87fa37ee6078f204c0b9e5cd4" name="a1a7e76f87fa37ee6078f204c0b9e5cd4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a7e76f87fa37ee6078f204c0b9e5cd4">&#9670;&#160;</a></span>pbRgssOpen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IDisposable PokemonEssentials.Interface.IGameSpriteWindow.pbRgssOpen </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>file</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>mode</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>action</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Opens an IO, even if the file is in an encrypted archive. Doesn't check RTP for the file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">file</td><td>path to file</td></tr>
    <tr><td class="paramname">mode</td><td></td></tr>
    <tr><td class="paramname">action</td><td>logic to perform on file</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad35e0c0d832ec2a10a5779f1c0286b7a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="adbe89c71cf6426dae144aeb779202236" name="adbe89c71cf6426dae144aeb779202236"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adbe89c71cf6426dae144aeb779202236">&#9670;&#160;</a></span>pbSetNarrowFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbSetNarrowFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system narrow font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aae0cc6588135d43e69bbdca1cd9d6b2d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a28376df8319061ec80375298eab4e1cc" name="a28376df8319061ec80375298eab4e1cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a28376df8319061ec80375298eab4e1cc">&#9670;&#160;</a></span>pbSetSmallFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbSetSmallFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system small font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a2f5b621f5caacd8884a4081be09ea7f4">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af5a3a580946db274ecd3e02d430162f8" name="af5a3a580946db274ecd3e02d430162f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5a3a580946db274ecd3e02d430162f8">&#9670;&#160;</a></span>pbSetSpritesToColor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbSetSpritesToColor </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a527239979f954b77b77b35a0e0f40d63">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa28eb2e4e08f9f25130d74759d016c13" name="aa28eb2e4e08f9f25130d74759d016c13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa28eb2e4e08f9f25130d74759d016c13">&#9670;&#160;</a></span>pbSetSystemFont()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbSetSystemFont </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets a bitmap's font to the system font.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">bitmap</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae288e467bdd1dc29e899937f5862b325">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3cc0d11857057652acbf4e846ba9cbc8" name="a3cc0d11857057652acbf4e846ba9cbc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cc0d11857057652acbf4e846ba9cbc8">&#9670;&#160;</a></span>pbSmallFontName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbSmallFontName </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the name of the system small font.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a1c95376d0d30e89fda0b9119b3ce9b3d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5930fa663b545a99cba4f0c0fbe28a76" name="a5930fa663b545a99cba4f0c0fbe28a76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5930fa663b545a99cba4f0c0fbe28a76">&#9670;&#160;</a></span>pbSrcOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameSpriteWindow.pbSrcOver </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>dstColor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>srcColor</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a29549d42647ebdb3f57b794302a55cd2">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aab8ebe8c6aafc476dd83d5b0230210c8" name="aab8ebe8c6aafc476dd83d5b0230210c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab8ebe8c6aafc476dd83d5b0230210c8">&#9670;&#160;</a></span>pbTryString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSpriteWindow.pbTryString </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a74e6fd5b47f9df11f6f7cb15a83a7655">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5167140510a38ec74bd2d68ea68ca2db" name="a5167140510a38ec74bd2d68ea68ca2db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5167140510a38ec74bd2d68ea68ca2db">&#9670;&#160;</a></span>pbUpdateSpriteHash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSpriteWindow.pbUpdateSpriteHash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>[]&#160;</td>
          <td class="paramname"><em>windows</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3248972c6b2c4cc76a087983e75f8098" name="a3248972c6b2c4cc76a087983e75f8098"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3248972c6b2c4cc76a087983e75f8098">&#9670;&#160;</a></span>safeExists()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.safeExists </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>f</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a87c258f470ef3b9d46ad68bac273310e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aa7346394ac117c0ffc3fcdadb4c1927c" name="aa7346394ac117c0ffc3fcdadb4c1927c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7346394ac117c0ffc3fcdadb4c1927c">&#9670;&#160;</a></span>safeGlob()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string[] PokemonEssentials.Interface.IGameSpriteWindow.safeGlob </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>dir</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>wildcard</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a197222075d0d4b02a629b8f2db44bf76">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ad828f8d373ede71b85d754c3798154ac" name="ad828f8d373ede71b85d754c3798154ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad828f8d373ede71b85d754c3798154ac">&#9670;&#160;</a></span>safeIsDirectory()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.safeIsDirectory </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>f</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aae5961100d90179b71ed2818b0beb26f">PokemonUnity.Game</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad4a3edb613416c7170b576610efce273" name="ad4a3edb613416c7170b576610efce273"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad4a3edb613416c7170b576610efce273">&#9670;&#160;</a></span>pbIsFaded</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSpriteWindow.pbIsFaded</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aabaa172c6d179b5b172e7b8145050179">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>
