@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml">IOnLeaveTileEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] - Event that just left the tile. e[1] - Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map. e[2] - X-coordinate of the tile e[3] - Y-coordinate of the tile   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,368,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml" title="Parameters: e[0] - Event that just left the tile. e[1] - Map ID where the tile is located (not necess..." alt="PokemonUnity.EventArg.OnLeaveTileEventArgs" shape="rect" coords="0,112,368,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab9317f9e6feef4017a42a8b6d472b79e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#ab9317f9e6feef4017a42a8b6d472b79e">Event</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ab9317f9e6feef4017a42a8b6d472b79e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Event that just left the tile.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#ab9317f9e6feef4017a42a8b6d472b79e">More...</a><br /></td></tr>
<tr class="separator:ab9317f9e6feef4017a42a8b6d472b79e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a326cb5c3f551734a9ba41098063f1671"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#a326cb5c3f551734a9ba41098063f1671">MapId</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a326cb5c3f551734a9ba41098063f1671"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#a326cb5c3f551734a9ba41098063f1671">More...</a><br /></td></tr>
<tr class="separator:a326cb5c3f551734a9ba41098063f1671"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af2b7a912bdf7d2d9f6b8994e6e41366b"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#af2b7a912bdf7d2d9f6b8994e6e41366b">X</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af2b7a912bdf7d2d9f6b8994e6e41366b"><td class="mdescLeft">&#160;</td><td class="mdescRight">X-coordinate of the tile   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#af2b7a912bdf7d2d9f6b8994e6e41366b">More...</a><br /></td></tr>
<tr class="separator:af2b7a912bdf7d2d9f6b8994e6e41366b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3c3d268c401d7644b080e485ee48e54"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#af3c3d268c401d7644b080e485ee48e54">Y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af3c3d268c401d7644b080e485ee48e54"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y-coordinate of the tile   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#af3c3d268c401d7644b080e485ee48e54">More...</a><br /></td></tr>
<tr class="separator:af3c3d268c401d7644b080e485ee48e54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Event that just left the tile. e[1] - Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map. e[2] - X-coordinate of the tile e[3] - Y-coordinate of the tile  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="ab9317f9e6feef4017a42a8b6d472b79e" name="ab9317f9e6feef4017a42a8b6d472b79e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab9317f9e6feef4017a42a8b6d472b79e">&#9670;&#160;</a></span>Event</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs.Event</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Event that just left the tile.  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#ad27a9a399c818a029033d463e4fd7ddd">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>.</p>

</div>
</div>
<a id="a326cb5c3f551734a9ba41098063f1671" name="a326cb5c3f551734a9ba41098063f1671"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a326cb5c3f551734a9ba41098063f1671">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map.  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#afb6dfa8ff08c758dd7809dd8708a8287">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>.</p>

</div>
</div>
<a id="af2b7a912bdf7d2d9f6b8994e6e41366b" name="af2b7a912bdf7d2d9f6b8994e6e41366b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af2b7a912bdf7d2d9f6b8994e6e41366b">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>X-coordinate of the tile  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#ac8585b0c0aaa4ba1f6d93009933249ba">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>.</p>

</div>
</div>
<a id="af3c3d268c401d7644b080e485ee48e54" name="af3c3d268c401d7644b080e485ee48e54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3c3d268c401d7644b080e485ee48e54">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.EventArg.IOnLeaveTileEventArgs.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Y-coordinate of the tile  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_leave_tile_event_args.cshtml#a8c2b6d26c15566991834f46d023e1b25">PokemonUnity.EventArg.OnLeaveTileEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

