@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">ISystemTestBattler</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#afc1411b8767922a851e90cf18281cde1">actor_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a9fd59a3f5d2d3127d7816367891878c8">armor1_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#ac444fcd026eabeb8e7dfa05a456259d4">armor2_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#acb4e6bbf359d31e7495e4d68398e5b16">armor3_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#ad94833b0cdc137fecd42f9cea571874b">armor4_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a7b3a48e976db0adcaed4c46fe3387e11">level</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a4c2515e3fbe04328914211ea0b77db8b">weapon_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler</a></td><td class="entry"></td></tr>
</table>