@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.IEncounterData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae519c5855c0edee97b4faf55172ca51f">Conditions</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a679b03d71f5fb3836d5298c46090504f">Generation</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">MapId</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a86d08d7bb80fc380f7d7e454390d6b6f">MaxLevel</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a8d95edad5a96ca19176c8a14aebc1f01">Method</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a61f431ecd5b8117c22fc06c21c0924f8">MinLevel</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#afecc4f406693ffb643d08af77fbd8f9b">Pokemon</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a2c59d601b121f1f3b1fdcb861b5e85fa">Rarity</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae4fa1969de83164fb52ee58f994a8ce5">SlotId</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a08412ee6f7eb664a2f53481afffbb0e0">Versions</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td><td class="entry"></td></tr>
</table>