@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMysteryGiftData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">PokemonEssentials.Interface.Screen.IMysteryGiftData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml#a6587eab65cb2cfeeda478bd720b48920">giftname</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">PokemonEssentials.Interface.Screen.IMysteryGiftData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml#a055e63dc199ff54eb1ea120ca3d5c7bf">id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">PokemonEssentials.Interface.Screen.IMysteryGiftData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml#aa83b308491592b514110cac020cce2fc">item</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">PokemonEssentials.Interface.Screen.IMysteryGiftData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml#a5a3229ad53364a1b46da3a4f721f9d33">type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">PokemonEssentials.Interface.Screen.IMysteryGiftData</a></td><td class="entry"></td></tr>
</table>
