@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">IGamePokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePokemonEvolution Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a3f8fe61d41e4bde113f343405f712bef">CheckEvolution</a>(IPokemon pokemon, Items item=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ad7113b254abe2a1554fe9abe0934618a">CheckEvolutionEx</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a02879686ea0c7c50fc3a920702f3d353">EvoDebug</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ab16c1cefaba7b44e47d776d68e73222d">GetBabySpecies</a>(Pokemons species, Items item1=Items.NONE, Items item2=Items.NONE)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a829b700799c77de044c4a16879b92765">GetEvolvedFormData</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ab44cddb09923f5234c0188fdea2f3e94">GetMinimumLevel</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#adccc0787ecf2e6cd0b0249506a972e4d">GetPreviousForm</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a9cb5e6302347ebd2e38947f3db73139d">MiniCheckEvolution</a>(IPokemon pokemon, EvolutionMethod evonib, int level, Pokemons poke)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a878c58f3d14e99cdffd1ecdfe4ecf3fd">MiniCheckEvolutionItem</a>(IPokemon pokemon, EvolutionMethod evonib, Items level, Pokemons poke, Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
</table>
