@{
	Page.Title = "PokemonEssentials.Interface.IMessage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml">IMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_message-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IMessage Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6f51210b0ba7fbe93d60d97a8569fdb7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml#a6f51210b0ba7fbe93d60d97a8569fdb7">background</a> <code>[get]</code></td></tr>
<tr class="separator:a6f51210b0ba7fbe93d60d97a8569fdb7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39dfc7fa1860bde19d30f4b6307e1eeb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml#a39dfc7fa1860bde19d30f4b6307e1eeb">visible</a> <code>[get]</code></td></tr>
<tr class="separator:a39dfc7fa1860bde19d30f4b6307e1eeb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6f51210b0ba7fbe93d60d97a8569fdb7" name="a6f51210b0ba7fbe93d60d97a8569fdb7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f51210b0ba7fbe93d60d97a8569fdb7">&#9670;&#160;</a></span>background</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMessage.background</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a39dfc7fa1860bde19d30f4b6307e1eeb" name="a39dfc7fa1860bde19d30f4b6307e1eeb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39dfc7fa1860bde19d30f4b6307e1eeb">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IMessage.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_message_8cs.cshtml">IMessage.cs</a></li>
</ul>

