@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.ISuccessState Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">ISuccessState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.ISuccessState Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.ISuccessState:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.png" usemap="#PokemonEssentials.Interface.PokeBattle.ISuccessState_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.ISuccessState_map" name="PokemonEssentials.Interface.PokeBattle.ISuccessState_map">
<area href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml" title="Success state (used for Battle Arena)" alt="PokemonUnity.Combat.Data.SuccessState" shape="rect" coords="0,56,319,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8a482cb106935cbbc86472c2138b81d7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">ISuccessState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a8a482cb106935cbbc86472c2138b81d7">initialize</a> ()</td></tr>
<tr class="separator:a8a482cb106935cbbc86472c2138b81d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1a0506951085d88c24a445a0fc6240ce"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a1a0506951085d88c24a445a0fc6240ce">Clear</a> ()</td></tr>
<tr class="separator:a1a0506951085d88c24a445a0fc6240ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a421d5528ff5d7df3aad31e69b45ef452"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a421d5528ff5d7df3aad31e69b45ef452">UpdateSkill</a> ()</td></tr>
<tr class="separator:a421d5528ff5d7df3aad31e69b45ef452"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a815effa2fb8440b3badbaa3283d2a194"><td class="memItemLeft" align="right" valign="top">double&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a815effa2fb8440b3badbaa3283d2a194">TypeMod</a><code> [get, set]</code></td></tr>
<tr class="separator:a815effa2fb8440b3badbaa3283d2a194"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f2e76591186bec28f8e654e07ec97e9"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a0f2e76591186bec28f8e654e07ec97e9">UseState</a><code> [get, set]</code></td></tr>
<tr class="separator:a0f2e76591186bec28f8e654e07ec97e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a601cb9a20752339e141f93a7142c23ab"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a601cb9a20752339e141f93a7142c23ab">Protected</a><code> [get, set]</code></td></tr>
<tr class="separator:a601cb9a20752339e141f93a7142c23ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02e4d8767b79664ec767a65de713ae27"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a02e4d8767b79664ec767a65de713ae27">Skill</a><code> [get]</code></td></tr>
<tr class="separator:a02e4d8767b79664ec767a65de713ae27"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1a0506951085d88c24a445a0fc6240ce" name="a1a0506951085d88c24a445a0fc6240ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a0506951085d88c24a445a0fc6240ce">&#9670;&#160;</a></span>Clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISuccessState.Clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#af894c77bce577e91d656e7f27dc6ebf7">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<a id="a8a482cb106935cbbc86472c2138b81d7" name="a8a482cb106935cbbc86472c2138b81d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a482cb106935cbbc86472c2138b81d7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">ISuccessState</a> PokemonEssentials.Interface.PokeBattle.ISuccessState.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#a7d98fd892c10abfce6672b6b5bc24b95">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<a id="a421d5528ff5d7df3aad31e69b45ef452" name="a421d5528ff5d7df3aad31e69b45ef452"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a421d5528ff5d7df3aad31e69b45ef452">&#9670;&#160;</a></span>UpdateSkill()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISuccessState.UpdateSkill </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#ab177a9e75eb9fcef12c838429034a89b">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a601cb9a20752339e141f93a7142c23ab" name="a601cb9a20752339e141f93a7142c23ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a601cb9a20752339e141f93a7142c23ab">&#9670;&#160;</a></span>Protected</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISuccessState.Protected</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#ada231ac1637d9dfb0173110b5294fab1">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<a id="a02e4d8767b79664ec767a65de713ae27" name="a02e4d8767b79664ec767a65de713ae27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02e4d8767b79664ec767a65de713ae27">&#9670;&#160;</a></span>Skill</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.ISuccessState.Skill</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#a06ba22f42826abba29afbd8528bc6f07">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<a id="a815effa2fb8440b3badbaa3283d2a194" name="a815effa2fb8440b3badbaa3283d2a194"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a815effa2fb8440b3badbaa3283d2a194">&#9670;&#160;</a></span>TypeMod</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">double PokemonEssentials.Interface.PokeBattle.ISuccessState.TypeMod</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#a618529a47132c37a24123feeb7104cf8">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<a id="a0f2e76591186bec28f8e654e07ec97e9" name="a0f2e76591186bec28f8e654e07ec97e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f2e76591186bec28f8e654e07ec97e9">&#9670;&#160;</a></span>UseState</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonEssentials.Interface.PokeBattle.ISuccessState.UseState</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_data_1_1_success_state.cshtml#abbdc2c4a8e9473f07be70ff22430840f">PokemonUnity.Combat.Data.SuccessState</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_damage_state_8cs.cshtml">IDamageState.cs</a></li>
</ul>
