@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">ISpritesetMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritesetMap Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a84b545b459285f5b7cab92561df15538">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a1f8e166d847c540f1bcfed1b317c4f21">in_range</a>(IGameEvent obj)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a5ae501e2e5d46eccd530eb94e65ea7b7">initialize</a>(IGameMap map=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a79f41c1741f4acb5f23e5cbc3528e4bb">map</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#adfc8513371c810cdd49a72c9b6bee8ee">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a6e9dac87bbb0e88820d1c336d3b6ca7b">viewport1</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">PokemonEssentials.Interface.ISpritesetMap</a></td><td class="entry"></td></tr>
</table>