@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameMetadataMisc Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml">IGameMetadataMisc</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameMetadataMisc Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IGameMetadataMisc:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.png" usemap="#PokemonEssentials.Interface.Field.IGameMetadataMisc_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IGameMetadataMisc_map" name="PokemonEssentials.Interface.Field.IGameMetadataMisc_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,323,80"/>
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="333,56,656,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9b038cc216189c4493f77c9899062b2a"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a9b038cc216189c4493f77c9899062b2a">LoadMetadata</a> ()</td></tr>
<tr class="separator:a9b038cc216189c4493f77c9899062b2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af0223da991f148cc8647160273e21aa3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#af0223da991f148cc8647160273e21aa3">GetMetadata</a> (int mapid)</td></tr>
<tr class="separator:af0223da991f148cc8647160273e21aa3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53958217b21b5f49961da89c2a51eeee"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a53958217b21b5f49961da89c2a51eeee">LoadPhoneData</a> ()</td></tr>
<tr class="separator:a53958217b21b5f49961da89c2a51eeee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f4e16b4d94521679e66833c5cdcbda7"><td class="memItemLeft" align="right" valign="top">IList&lt; string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a0f4e16b4d94521679e66833c5cdcbda7">OpenDexData</a> (Func&lt; IList&lt; string &gt;, IList&lt; string &gt; &gt; block=null)</td></tr>
<tr class="separator:a0f4e16b4d94521679e66833c5cdcbda7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ede24a9344d5f25dd57d1fb7ac1d097"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a3ede24a9344d5f25dd57d1fb7ac1d097">ClearData</a> ()</td></tr>
<tr class="separator:a3ede24a9344d5f25dd57d1fb7ac1d097"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a3ede24a9344d5f25dd57d1fb7ac1d097" name="a3ede24a9344d5f25dd57d1fb7ac1d097"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ede24a9344d5f25dd57d1fb7ac1d097">&#9670;&#160;</a></span>ClearData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameMetadataMisc.ClearData </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a96150b7bd16922ce39f73460748422a0">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af0223da991f148cc8647160273e21aa3" name="af0223da991f148cc8647160273e21aa3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0223da991f148cc8647160273e21aa3">&#9670;&#160;</a></span>GetMetadata()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a> PokemonEssentials.Interface.Field.IGameMetadataMisc.GetMetadata </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae2879127aab19483d4394fbca68c3b38">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9b038cc216189c4493f77c9899062b2a" name="a9b038cc216189c4493f77c9899062b2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b038cc216189c4493f77c9899062b2a">&#9670;&#160;</a></span>LoadMetadata()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a>&gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.LoadMetadata </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8d968d473e5c58b9051863be8528bee8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a53958217b21b5f49961da89c2a51eeee" name="a53958217b21b5f49961da89c2a51eeee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53958217b21b5f49961da89c2a51eeee">&#9670;&#160;</a></span>LoadPhoneData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; int &gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.LoadPhoneData </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6c3b843f1c42864c69bb7bf4022bd62d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a0f4e16b4d94521679e66833c5cdcbda7" name="a0f4e16b4d94521679e66833c5cdcbda7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f4e16b4d94521679e66833c5cdcbda7">&#9670;&#160;</a></span>OpenDexData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; string &gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.OpenDexData </td>
          <td>(</td>
          <td class="paramtype">Func&lt; IList&lt; string &gt;, IList&lt; string &gt; &gt;&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aeee346e395b385ebd60e7e313ba53e48">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>

