@{
	Page.Title = "PokemonEssentials.Interface.Screen.IScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IScene Interface Reference</div></div>
}


<p>A scene basically represents unity (or any frontend) where code pauses for user interaction (animation, and user key inputs).   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.png" usemap="#PokemonEssentials.Interface.Screen.IScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IScene_map" name="PokemonEssentials.Interface.Screen.IScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,431,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IBagScene" shape="rect" coords="441,112,872,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IBattleSwapScene" shape="rect" coords="441,168,872,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IItemStorageScene" shape="rect" coords="441,224,872,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ILoadScene" shape="rect" coords="441,280,872,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IMartScene" shape="rect" coords="441,336,872,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IOptionScene" shape="rect" coords="441,392,872,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPartyDisplayScene" shape="rect" coords="441,448,872,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="441,504,872,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugScene" shape="rect" coords="441,560,872,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics" shape="rect" coords="441,616,872,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_logging.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoLogging" shape="rect" coords="441,672,872,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="441,728,872,752"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive" shape="rect" coords="441,784,872,808"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokegear_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokegearScene" shape="rect" coords="441,840,872,864"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml" title="Text entry screen - free typing." alt="PokemonEssentials.Interface.Screen.IPokemonEntryScene" shape="rect" coords="441,896,872,920"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml" title="Text entry screen - arrows to select letter." alt="PokemonEssentials.Interface.Screen.IPokemonEntryScene2" shape="rect" coords="441,952,872,976"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonEvolutionScene" shape="rect" coords="441,1008,872,1032"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_scene.cshtml" title="Shows the &quot;Form&quot; page of the Pok&eacute;dex entry screen." alt="PokemonEssentials.Interface.Screen.IPokemonFormScene" shape="rect" coords="441,1064,872,1088"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonMenuScene" shape="rect" coords="441,1120,872,1144"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_nest_map_scene.cshtml" title="Shows the &quot;Nest&quot; page of the Pok&eacute;dex entry screen." alt="PokemonEssentials.Interface.Screen.IPokemonNestMapScene" shape="rect" coords="441,1176,872,1200"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonPokedexScene" shape="rect" coords="441,1232,872,1256"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorageScene" shape="rect" coords="441,1288,872,1312"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonSummaryScene" shape="rect" coords="441,1344,872,1368"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPurifyChamberScene" shape="rect" coords="441,1400,872,1424"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml" title="Scene class for handling appearance of the screen" alt="PokemonEssentials.Interface.Screen.IRelicStoneScene" shape="rect" coords="441,1456,872,1480"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ISaveScene" shape="rect" coords="441,1512,872,1536"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_card_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ITrainerCardScene" shape="rect" coords="441,1568,872,1592"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af39f043e72772055f2f8d23506ea3d42"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a> ()</td></tr>
<tr class="separator:af39f043e72772055f2f8d23506ea3d42"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >A scene basically represents unity (or any frontend) where code pauses for user interaction (animation, and user key inputs).  </p>
<p >When code has a scene variable calling a method in middle of script everything essentially comes to a hault as the frontend takes over and the code awaits a result or response to begin again. </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="af39f043e72772055f2f8d23506ea3d42" name="af39f043e72772055f2f8d23506ea3d42"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af39f043e72772055f2f8d23506ea3d42">&#9670;&#160;</a></span>pbRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IScene.pbRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a2e0682fc35b13f09f7467911124081ac" name="a2e0682fc35b13f09f7467911124081ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e0682fc35b13f09f7467911124081ac">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IScene.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Represents the unique id for given scene. Used for loading scenes in unity.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
