@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">IOnWildBattleEndEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a6bded4dc138b7c4144f9bf58087b3187">Level</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a01877a27b9d52f59076078700869610f">Result</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#a936b41377db2ed50237e0f822db8a908">Species</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnWildBattleEndEventArgs</a></td><td class="entry"></td></tr>
</table>
