@{
	Page.Title = "PokemonEssentials.Interface.IGameMessage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml">IGameMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameMessage Interface Reference</div></div>
}


<p><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a03b83c864fdc2df8fbf82efe8f40dbd5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a03b83c864fdc2df8fbf82efe8f40dbd5">MapInterpreterRunning</a> ()</td></tr>
<tr class="separator:a03b83c864fdc2df8fbf82efe8f40dbd5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aabd0ab7daf86bcde1b7624375d0da54f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter.cshtml">IInterpreter</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#aabd0ab7daf86bcde1b7624375d0da54f">MapInterpreter</a> ()</td></tr>
<tr class="separator:aabd0ab7daf86bcde1b7624375d0da54f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab6159443a62dba212f79bc7a3d67367"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#aab6159443a62dba212f79bc7a3d67367">RefreshSceneMap</a> ()</td></tr>
<tr class="separator:aab6159443a62dba212f79bc7a3d67367"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b87b1119039bd1c874db93a47bd748d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a3b87b1119039bd1c874db93a47bd748d">UpdateSceneMap</a> ()</td></tr>
<tr class="separator:a3b87b1119039bd1c874db93a47bd748d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a731f0221c3e98942df9b1dbc338e6691"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a731f0221c3e98942df9b1dbc338e6691">CsvField</a> (string str)</td></tr>
<tr class="separator:a731f0221c3e98942df9b1dbc338e6691"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af8ac5927809727d6a12ecb4c5cd4e6a9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#af8ac5927809727d6a12ecb4c5cd4e6a9">CsvPosInt</a> (string str)</td></tr>
<tr class="separator:af8ac5927809727d6a12ecb4c5cd4e6a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a851ec7ac883994fc16bcbb6ce8e54870"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a851ec7ac883994fc16bcbb6ce8e54870">EventCommentInput</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event, int elements, string trigger)</td></tr>
<tr class="separator:a851ec7ac883994fc16bcbb6ce8e54870"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af30e949b5b0d2a7a44d23d7bd386ff75"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#af30e949b5b0d2a7a44d23d7bd386ff75">CurrentEventCommentInput</a> (int elements, string trigger)</td></tr>
<tr class="separator:af30e949b5b0d2a7a44d23d7bd386ff75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94e5256eab02c3a650b8e1eb08915026"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a94e5256eab02c3a650b8e1eb08915026">ButtonInputProcessing</a> (int variableNumber=0, int timeoutFrames=0)</td></tr>
<tr class="separator:a94e5256eab02c3a650b8e1eb08915026"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f8edc22d082820963be87ff9879bc42"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a8f8edc22d082820963be87ff9879bc42">ChooseNumber</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_choose_number_params.cshtml">IChooseNumberParams</a> param, Action block=null)</td></tr>
<tr class="separator:a8f8edc22d082820963be87ff9879bc42"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90ab050531c4f98c4a3e8ee577c5a753"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a90ab050531c4f98c4a3e8ee577c5a753">ShowCommandsWithHelp</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, string[] commands, string[] help, int cmdIfCancel=0, int defaultCmd=0, Action block=null)</td></tr>
<tr class="separator:a90ab050531c4f98c4a3e8ee577c5a753"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace8e773c5aece7f9998e3df637881230"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#ace8e773c5aece7f9998e3df637881230">ShowCommands</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, string[] commands=null, int cmdIfCancel=0, int defaultCmd=0, Action block=null)</td></tr>
<tr class="separator:ace8e773c5aece7f9998e3df637881230"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa87da0a7fe348ec0fed77403c0212d13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#aa87da0a7fe348ec0fed77403c0212d13">PositionFaceWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> facewindow, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow)</td></tr>
<tr class="separator:aa87da0a7fe348ec0fed77403c0212d13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5829cf4f8c4d50d3f832c96c93655c44"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a5829cf4f8c4d50d3f832c96c93655c44">PositionNearMsgWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> cmdwindow, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, bool side)</td></tr>
<tr class="separator:a5829cf4f8c4d50d3f832c96c93655c44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a094cded5e214e612735d641e61c6dd"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a9a094cded5e214e612735d641e61c6dd">GetBasicMapNameFromId</a> (int id)</td></tr>
<tr class="separator:a9a094cded5e214e612735d641e61c6dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adafe1b2152868cff77811f3d566c20f0"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#adafe1b2152868cff77811f3d566c20f0">GetMapNameFromId</a> (int id)</td></tr>
<tr class="separator:adafe1b2152868cff77811f3d566c20f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a734626b17283961664fb11de1a20051f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a734626b17283961664fb11de1a20051f">Message</a> (string message, string[] commands=null, int cmdIfCancel=0, int? skin=null, int defaultCmd=0, Action block=null)</td></tr>
<tr class="separator:a734626b17283961664fb11de1a20051f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a634e03f65a39a6f7c14e89800967e790"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a634e03f65a39a6f7c14e89800967e790">MessageChooseNumber</a> (string message, string[] param, ref Action block)</td></tr>
<tr class="separator:a634e03f65a39a6f7c14e89800967e790"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3a00f9abd115c7836828acdb69b611c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#ad3a00f9abd115c7836828acdb69b611c">ConfirmMessage</a> (string message, Action block=null)</td></tr>
<tr class="separator:ad3a00f9abd115c7836828acdb69b611c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9abfacb69c519f74f15c8b28e7060110"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a9abfacb69c519f74f15c8b28e7060110">ConfirmMessageSerious</a> (string message, Action block=null)</td></tr>
<tr class="separator:a9abfacb69c519f74f15c8b28e7060110"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85b09f8edb5ae6bb65cac2b962f53875"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a85b09f8edb5ae6bb65cac2b962f53875">CreateStatusWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a85b09f8edb5ae6bb65cac2b962f53875"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6193acde18703c0aeed15ce5a9dbe62f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a6193acde18703c0aeed15ce5a9dbe62f">CreateMessageWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null, int? skin=null)</td></tr>
<tr class="separator:a6193acde18703c0aeed15ce5a9dbe62f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78e71519fc18e87aecd820f3ac205924"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a78e71519fc18e87aecd820f3ac205924">DisposeMessageWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow)</td></tr>
<tr class="separator:a78e71519fc18e87aecd820f3ac205924"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a365a6e4bec7c2157b8ad096332e43bf9"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a365a6e4bec7c2157b8ad096332e43bf9">itemIconTag</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a365a6e4bec7c2157b8ad096332e43bf9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abfe3a89be9a8a17c928ecc292dbf2d29"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#abfe3a89be9a8a17c928ecc292dbf2d29">getSkinColor</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> windowskin, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color, bool isDarkSkin)</td></tr>
<tr class="separator:abfe3a89be9a8a17c928ecc292dbf2d29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3be2e48f9e3322a9d33bfad05a412b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#ad3be2e48f9e3322a9d33bfad05a412b1">RepositionMessageWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, int linecount=2)</td></tr>
<tr class="separator:ad3be2e48f9e3322a9d33bfad05a412b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f5e1ef6c216ef69b14278266b6cc2c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a5f5e1ef6c216ef69b14278266b6cc2c1">UpdateMsgWindowPos</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> @@event, bool eventChanged=false)</td></tr>
<tr class="separator:a5f5e1ef6c216ef69b14278266b6cc2c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a074266263709f40840930d0bddc6d48f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a074266263709f40840930d0bddc6d48f">GetGoldString</a> ()</td></tr>
<tr class="separator:a074266263709f40840930d0bddc6d48f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4bf621ab7406d63d9b20dcf352ac126a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a4bf621ab7406d63d9b20dcf352ac126a">DisplayGoldWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow)</td></tr>
<tr class="separator:a4bf621ab7406d63d9b20dcf352ac126a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c731292786aa46fa56530fa53ff9a6c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a7c731292786aa46fa56530fa53ff9a6c">DisplayCoinsWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> goldwindow)</td></tr>
<tr class="separator:a7c731292786aa46fa56530fa53ff9a6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e98d9ca2ad238d59bf2ea55d0821efd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a6e98d9ca2ad238d59bf2ea55d0821efd">MessageWaitForInput</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, int frames, bool showPause=false)</td></tr>
<tr class="separator:a6e98d9ca2ad238d59bf2ea55d0821efd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0401f60e4272e1145f2576f456a6a3cf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_message.cshtml#a0401f60e4272e1145f2576f456a6a3cf">MessageDisplay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, string message, bool letterbyletter=true, Action commandProc=null)</td></tr>
<tr class="separator:a0401f60e4272e1145f2576f456a6a3cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p ><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a94e5256eab02c3a650b8e1eb08915026" name="a94e5256eab02c3a650b8e1eb08915026"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94e5256eab02c3a650b8e1eb08915026">&#9670;&#160;</a></span>ButtonInputProcessing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.ButtonInputProcessing </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>variableNumber</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>timeoutFrames</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f8edc22d082820963be87ff9879bc42" name="a8f8edc22d082820963be87ff9879bc42"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f8edc22d082820963be87ff9879bc42">&#9670;&#160;</a></span>ChooseNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.ChooseNumber </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_choose_number_params.cshtml">IChooseNumberParams</a>&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3a00f9abd115c7836828acdb69b611c" name="ad3a00f9abd115c7836828acdb69b611c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3a00f9abd115c7836828acdb69b611c">&#9670;&#160;</a></span>ConfirmMessage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMessage.ConfirmMessage </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9abfacb69c519f74f15c8b28e7060110" name="a9abfacb69c519f74f15c8b28e7060110"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9abfacb69c519f74f15c8b28e7060110">&#9670;&#160;</a></span>ConfirmMessageSerious()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMessage.ConfirmMessageSerious </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6193acde18703c0aeed15ce5a9dbe62f" name="a6193acde18703c0aeed15ce5a9dbe62f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6193acde18703c0aeed15ce5a9dbe62f">&#9670;&#160;</a></span>CreateMessageWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IGameMessage.CreateMessageWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>skin</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a85b09f8edb5ae6bb65cac2b962f53875" name="a85b09f8edb5ae6bb65cac2b962f53875"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85b09f8edb5ae6bb65cac2b962f53875">&#9670;&#160;</a></span>CreateStatusWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IGameMessage.CreateStatusWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a731f0221c3e98942df9b1dbc338e6691" name="a731f0221c3e98942df9b1dbc338e6691"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a731f0221c3e98942df9b1dbc338e6691">&#9670;&#160;</a></span>CsvField()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMessage.CsvField </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af8ac5927809727d6a12ecb4c5cd4e6a9" name="af8ac5927809727d6a12ecb4c5cd4e6a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8ac5927809727d6a12ecb4c5cd4e6a9">&#9670;&#160;</a></span>CsvPosInt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.CsvPosInt </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af30e949b5b0d2a7a44d23d7bd386ff75" name="af30e949b5b0d2a7a44d23d7bd386ff75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af30e949b5b0d2a7a44d23d7bd386ff75">&#9670;&#160;</a></span>CurrentEventCommentInput()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.IGameMessage.CurrentEventCommentInput </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>elements</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>trigger</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7c731292786aa46fa56530fa53ff9a6c" name="a7c731292786aa46fa56530fa53ff9a6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c731292786aa46fa56530fa53ff9a6c">&#9670;&#160;</a></span>DisplayCoinsWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IGameMessage.DisplayCoinsWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>goldwindow</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4bf621ab7406d63d9b20dcf352ac126a" name="a4bf621ab7406d63d9b20dcf352ac126a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4bf621ab7406d63d9b20dcf352ac126a">&#9670;&#160;</a></span>DisplayGoldWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IGameMessage.DisplayGoldWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78e71519fc18e87aecd820f3ac205924" name="a78e71519fc18e87aecd820f3ac205924"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78e71519fc18e87aecd820f3ac205924">&#9670;&#160;</a></span>DisposeMessageWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.DisposeMessageWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a851ec7ac883994fc16bcbb6ce8e54870" name="a851ec7ac883994fc16bcbb6ce8e54870"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a851ec7ac883994fc16bcbb6ce8e54870">&#9670;&#160;</a></span>EventCommentInput()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.IGameMessage.EventCommentInput </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>elements</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>trigger</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9a094cded5e214e612735d641e61c6dd" name="a9a094cded5e214e612735d641e61c6dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a094cded5e214e612735d641e61c6dd">&#9670;&#160;</a></span>GetBasicMapNameFromId()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMessage.GetBasicMapNameFromId </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a074266263709f40840930d0bddc6d48f" name="a074266263709f40840930d0bddc6d48f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a074266263709f40840930d0bddc6d48f">&#9670;&#160;</a></span>GetGoldString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMessage.GetGoldString </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adafe1b2152868cff77811f3d566c20f0" name="adafe1b2152868cff77811f3d566c20f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adafe1b2152868cff77811f3d566c20f0">&#9670;&#160;</a></span>GetMapNameFromId()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMessage.GetMapNameFromId </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abfe3a89be9a8a17c928ecc292dbf2d29" name="abfe3a89be9a8a17c928ecc292dbf2d29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abfe3a89be9a8a17c928ecc292dbf2d29">&#9670;&#160;</a></span>getSkinColor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IGameMessage.getSkinColor </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>windowskin</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>isDarkSkin</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a365a6e4bec7c2157b8ad096332e43bf9" name="a365a6e4bec7c2157b8ad096332e43bf9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a365a6e4bec7c2157b8ad096332e43bf9">&#9670;&#160;</a></span>itemIconTag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMessage.itemIconTag </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aabd0ab7daf86bcde1b7624375d0da54f" name="aabd0ab7daf86bcde1b7624375d0da54f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabd0ab7daf86bcde1b7624375d0da54f">&#9670;&#160;</a></span>MapInterpreter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter.cshtml">IInterpreter</a> PokemonEssentials.Interface.IGameMessage.MapInterpreter </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a03b83c864fdc2df8fbf82efe8f40dbd5" name="a03b83c864fdc2df8fbf82efe8f40dbd5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03b83c864fdc2df8fbf82efe8f40dbd5">&#9670;&#160;</a></span>MapInterpreterRunning()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMessage.MapInterpreterRunning </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a734626b17283961664fb11de1a20051f" name="a734626b17283961664fb11de1a20051f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a734626b17283961664fb11de1a20051f">&#9670;&#160;</a></span>Message()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.Message </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cmdIfCancel</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>skin</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>defaultCmd</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a634e03f65a39a6f7c14e89800967e790" name="a634e03f65a39a6f7c14e89800967e790"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a634e03f65a39a6f7c14e89800967e790">&#9670;&#160;</a></span>MessageChooseNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.MessageChooseNumber </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">ref Action&#160;</td>
          <td class="paramname"><em>block</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0401f60e4272e1145f2576f456a6a3cf" name="a0401f60e4272e1145f2576f456a6a3cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0401f60e4272e1145f2576f456a6a3cf">&#9670;&#160;</a></span>MessageDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.MessageDisplay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>letterbyletter</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>commandProc</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6e98d9ca2ad238d59bf2ea55d0821efd" name="a6e98d9ca2ad238d59bf2ea55d0821efd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e98d9ca2ad238d59bf2ea55d0821efd">&#9670;&#160;</a></span>MessageWaitForInput()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.MessageWaitForInput </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showPause</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa87da0a7fe348ec0fed77403c0212d13" name="aa87da0a7fe348ec0fed77403c0212d13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa87da0a7fe348ec0fed77403c0212d13">&#9670;&#160;</a></span>PositionFaceWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.PositionFaceWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>facewindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5829cf4f8c4d50d3f832c96c93655c44" name="a5829cf4f8c4d50d3f832c96c93655c44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5829cf4f8c4d50d3f832c96c93655c44">&#9670;&#160;</a></span>PositionNearMsgWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.PositionNearMsgWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>cmdwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>side</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aab6159443a62dba212f79bc7a3d67367" name="aab6159443a62dba212f79bc7a3d67367"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab6159443a62dba212f79bc7a3d67367">&#9670;&#160;</a></span>RefreshSceneMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.RefreshSceneMap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3be2e48f9e3322a9d33bfad05a412b1" name="ad3be2e48f9e3322a9d33bfad05a412b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3be2e48f9e3322a9d33bfad05a412b1">&#9670;&#160;</a></span>RepositionMessageWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.RepositionMessageWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>linecount</em> = <code>2</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ace8e773c5aece7f9998e3df637881230" name="ace8e773c5aece7f9998e3df637881230"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace8e773c5aece7f9998e3df637881230">&#9670;&#160;</a></span>ShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.ShowCommands </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cmdIfCancel</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>defaultCmd</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a90ab050531c4f98c4a3e8ee577c5a753" name="a90ab050531c4f98c4a3e8ee577c5a753"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90ab050531c4f98c4a3e8ee577c5a753">&#9670;&#160;</a></span>ShowCommandsWithHelp()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMessage.ShowCommandsWithHelp </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>help</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cmdIfCancel</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>defaultCmd</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5f5e1ef6c216ef69b14278266b6cc2c1" name="a5f5e1ef6c216ef69b14278266b6cc2c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f5e1ef6c216ef69b14278266b6cc2c1">&#9670;&#160;</a></span>UpdateMsgWindowPos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.UpdateMsgWindowPos </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>eventChanged</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3b87b1119039bd1c874db93a47bd748d" name="a3b87b1119039bd1c874db93a47bd748d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b87b1119039bd1c874db93a47bd748d">&#9670;&#160;</a></span>UpdateSceneMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMessage.UpdateSceneMap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_message_8cs.cshtml">IMessage.cs</a></li>
</ul>

