@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPurifyChamberSet Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberSet Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae7c8e74c914450fb974bfd1e2c26f21d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#ae7c8e74c914450fb974bfd1e2c26f21d">partialSum</a> (int x)</td></tr>
<tr class="separator:ae7c8e74c914450fb974bfd1e2c26f21d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af96f9b9814c7f46e975e5c833843d4fd"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#af96f9b9814c7f46e975e5c833843d4fd">length</a> ()</td></tr>
<tr class="separator:af96f9b9814c7f46e975e5c833843d4fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adfd92ce40a81eca9ff7368f0eb24c9ea"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#adfd92ce40a81eca9ff7368f0eb24c9ea">initialize</a> ()</td></tr>
<tr class="separator:adfd92ce40a81eca9ff7368f0eb24c9ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d66758c1f36b8a0f7fbc32a0ba4b1b6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#a2d66758c1f36b8a0f7fbc32a0ba4b1b6">flow</a> ()</td></tr>
<tr class="separator:a2d66758c1f36b8a0f7fbc32a0ba4b1b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a519dad10743c5ace4cf8b639a39d68f1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#a519dad10743c5ace4cf8b639a39d68f1">shadowAffinity</a> ()</td></tr>
<tr class="separator:a519dad10743c5ace4cf8b639a39d68f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab68487ebecf16731836eee94e7318985"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#ab68487ebecf16731836eee94e7318985">affinity</a> (int i)</td></tr>
<tr class="separator:ab68487ebecf16731836eee94e7318985"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeba8367e6eb6a0595d4dc7dd491e52e5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#aeba8367e6eb6a0595d4dc7dd491e52e5">tempo</a> ()</td></tr>
<tr class="separator:aeba8367e6eb6a0595d4dc7dd491e52e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ee3ab705fa33ee3998c4cd04109e78d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#a1ee3ab705fa33ee3998c4cd04109e78d">insertAfter</a> (int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> value)</td></tr>
<tr class="separator:a1ee3ab705fa33ee3998c4cd04109e78d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aabe95b77fb8a9c39a71279f5d0147512"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#aabe95b77fb8a9c39a71279f5d0147512">insertAt</a> (int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> value)</td></tr>
<tr class="separator:aabe95b77fb8a9c39a71279f5d0147512"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac9e01e2339a847e5637d0f28c3a8349a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#ac9e01e2339a847e5637d0f28c3a8349a">facing</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac9e01e2339a847e5637d0f28c3a8349a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11873f6cfa39b12cec4fbf509fb4eb27"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml#a11873f6cfa39b12cec4fbf509fb4eb27">shadow</a> <code>[get, set]</code></td></tr>
<tr class="separator:a11873f6cfa39b12cec4fbf509fb4eb27"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab68487ebecf16731836eee94e7318985" name="ab68487ebecf16731836eee94e7318985"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab68487ebecf16731836eee94e7318985">&#9670;&#160;</a></span>affinity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.affinity </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d66758c1f36b8a0f7fbc32a0ba4b1b6" name="a2d66758c1f36b8a0f7fbc32a0ba4b1b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d66758c1f36b8a0f7fbc32a0ba4b1b6">&#9670;&#160;</a></span>flow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.flow </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adfd92ce40a81eca9ff7368f0eb24c9ea" name="adfd92ce40a81eca9ff7368f0eb24c9ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adfd92ce40a81eca9ff7368f0eb24c9ea">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> PokemonEssentials.Interface.Screen.IPurifyChamberSet.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1ee3ab705fa33ee3998c4cd04109e78d" name="a1ee3ab705fa33ee3998c4cd04109e78d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ee3ab705fa33ee3998c4cd04109e78d">&#9670;&#160;</a></span>insertAfter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberSet.insertAfter </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aabe95b77fb8a9c39a71279f5d0147512" name="aabe95b77fb8a9c39a71279f5d0147512"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabe95b77fb8a9c39a71279f5d0147512">&#9670;&#160;</a></span>insertAt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberSet.insertAt </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>value</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af96f9b9814c7f46e975e5c833843d4fd" name="af96f9b9814c7f46e975e5c833843d4fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af96f9b9814c7f46e975e5c833843d4fd">&#9670;&#160;</a></span>length()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.length </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae7c8e74c914450fb974bfd1e2c26f21d" name="ae7c8e74c914450fb974bfd1e2c26f21d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7c8e74c914450fb974bfd1e2c26f21d">&#9670;&#160;</a></span>partialSum()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.partialSum </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a519dad10743c5ace4cf8b639a39d68f1" name="a519dad10743c5ace4cf8b639a39d68f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a519dad10743c5ace4cf8b639a39d68f1">&#9670;&#160;</a></span>shadowAffinity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.shadowAffinity </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeba8367e6eb6a0595d4dc7dd491e52e5" name="aeba8367e6eb6a0595d4dc7dd491e52e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeba8367e6eb6a0595d4dc7dd491e52e5">&#9670;&#160;</a></span>tempo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.tempo </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac9e01e2339a847e5637d0f28c3a8349a" name="ac9e01e2339a847e5637d0f28c3a8349a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9e01e2339a847e5637d0f28c3a8349a">&#9670;&#160;</a></span>facing</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberSet.facing</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a11873f6cfa39b12cec4fbf509fb4eb27" name="a11873f6cfa39b12cec4fbf509fb4eb27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11873f6cfa39b12cec4fbf509fb4eb27">&#9670;&#160;</a></span>shadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamberSet.shadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>

