@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml">IPokemonMenu</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonMenu Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml">PokemonUnity.IPokemonMenu</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml#aabd03a11c1386bd240a268082b89165d">initialize</a>(IPokemonMenu_Scene scene)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml">PokemonUnity.IPokemonMenu</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml#a7f2ade4570894dc2d0771994fd147477">pbShowMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml">PokemonUnity.IPokemonMenu</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml#a416754dd4be2f24d0be871785c8dc863">pbStartPokemonMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_menu.cshtml">PokemonUnity.IPokemonMenu</a></td><td class="entry"></td></tr>
</table>