@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">IHiddenMoveHandlers</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IHiddenMoveHandlers Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a8cfaedbb2aebd9e7d4fc483859462c40">addCanUseMove</a>(Moves item, Func&lt; Moves, IPokemon, bool &gt; proc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a001cd9ed361c7bd51495d2c9fb16e0ee">addUseMove</a>(Moves item, Func&lt; Moves, IPokemon, bool &gt; proc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#aa5b8bb39dc17efad7f0d94e076b98a48">CanUseMove</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a9fcbe5a946ef9fd1097795e8544850c6">hasHandler</a>(Moves item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a216b39bf59bd6e5830f25cdf5ef0f538">OnCanUseMove</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a7cdc5947ac93f37eae992d3dbf10150a">OnUseMove</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a7b8e16e627d31833d4b4225660e0264b">triggerCanUseMove</a>(Moves item, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a22ca6a1c027107683876ff8dd39154f8">triggerUseMove</a>(Moves item, IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#ab4f3a7f366f0819b80f915102d872873">UseMove</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">PokemonEssentials.Interface.Field.IHiddenMoveHandlers</a></td><td class="entry"></td></tr>
</table>