@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">IEncounter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IEncounter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">PokemonEssentials.Interface.Field.IEncounter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml#a36308e743a7bd476924c598538169566">Level</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">PokemonEssentials.Interface.Field.IEncounter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml#a89b0dd978cf037bcb177861e07484b3c">Pokemon</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">PokemonEssentials.Interface.Field.IEncounter</a></td><td class="entry"></td></tr>
</table>