@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IGameSelfSwitches Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_self_switches.cshtml">IGameSelfSwitches</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_self_switches-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSelfSwitches Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad39c1ba7e6efc700e9a632837939ba2c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_self_switches.cshtml#ad39c1ba7e6efc700e9a632837939ba2c">this[ISelfSwitchVariable key]</a><code> [get, set]</code></td></tr>
<tr class="separator:ad39c1ba7e6efc700e9a632837939ba2c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad39c1ba7e6efc700e9a632837939ba2c" name="ad39c1ba7e6efc700e9a632837939ba2c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad39c1ba7e6efc700e9a632837939ba2c">&#9670;&#160;</a></span>this[ISelfSwitchVariable key]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSelfSwitches.this[<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_self_switch_variable.cshtml">ISelfSwitchVariable</a> key]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_self_switches_8cs.cshtml">IGameSelfSwitches.cs</a></li>
</ul>
