@{
	Page.Title = "PokemonEssentials.Interface.Screen.IMartAdapter Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMartAdapter Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a25cd912921a98adbbd056a9c6dd8acdc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a25cd912921a98adbbd056a9c6dd8acdc">getMoney</a> ()</td></tr>
<tr class="separator:a25cd912921a98adbbd056a9c6dd8acdc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7050ef4665362e701b81a7d03477e748"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a7050ef4665362e701b81a7d03477e748">setMoney</a> (int value)</td></tr>
<tr class="separator:a7050ef4665362e701b81a7d03477e748"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a782314a7747eda29602dca396d2b140a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a782314a7747eda29602dca396d2b140a">getInventory</a> ()</td></tr>
<tr class="separator:a782314a7747eda29602dca396d2b140a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62e42b01445dfcc53abfaf1efc038ab3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a62e42b01445dfcc53abfaf1efc038ab3">getPrice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, bool selling=false)</td></tr>
<tr class="separator:a62e42b01445dfcc53abfaf1efc038ab3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a149eb0460264b75745818e3ea76a2ca8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a149eb0460264b75745818e3ea76a2ca8">getItemIcon</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a149eb0460264b75745818e3ea76a2ca8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19003fe75f34da178c286f1181559a3f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a19003fe75f34da178c286f1181559a3f">getItemIconRect</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a19003fe75f34da178c286f1181559a3f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99f405bb55f135528029974ae5c52fa8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a99f405bb55f135528029974ae5c52fa8">getDisplayName</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a99f405bb55f135528029974ae5c52fa8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f15d7980276fa9ad7f1e39f17127bae"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a5f15d7980276fa9ad7f1e39f17127bae">getName</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a5f15d7980276fa9ad7f1e39f17127bae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15bf448db523e1df5dc18a1d2c6ec15c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a15bf448db523e1df5dc18a1d2c6ec15c">getDisplayPrice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, bool selling=false)</td></tr>
<tr class="separator:a15bf448db523e1df5dc18a1d2c6ec15c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acbb7aa89797a21d3fb7d40c8b0604330"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#acbb7aa89797a21d3fb7d40c8b0604330">getDescription</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:acbb7aa89797a21d3fb7d40c8b0604330"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8248c20a437c8e6009d670fda054e4fb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a8248c20a437c8e6009d670fda054e4fb">addItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a8248c20a437c8e6009d670fda054e4fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afae9cc7f879f4b4e070810ba20f3e85f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#afae9cc7f879f4b4e070810ba20f3e85f">getQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:afae9cc7f879f4b4e070810ba20f3e85f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ac0cd7191996890c42d4d0316cf19d7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a2ac0cd7191996890c42d4d0316cf19d7">canSell</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a2ac0cd7191996890c42d4d0316cf19d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38470f352c2c98ad4031bce6b56df585"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a38470f352c2c98ad4031bce6b56df585">showQuantity</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a38470f352c2c98ad4031bce6b56df585"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae885bee36d2b5b1a99b92f51aa0e7d18"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#ae885bee36d2b5b1a99b92f51aa0e7d18">removeItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:ae885bee36d2b5b1a99b92f51aa0e7d18"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a8248c20a437c8e6009d670fda054e4fb" name="a8248c20a437c8e6009d670fda054e4fb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8248c20a437c8e6009d670fda054e4fb">&#9670;&#160;</a></span>addItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartAdapter.addItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ac0cd7191996890c42d4d0316cf19d7" name="a2ac0cd7191996890c42d4d0316cf19d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ac0cd7191996890c42d4d0316cf19d7">&#9670;&#160;</a></span>canSell()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartAdapter.canSell </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acbb7aa89797a21d3fb7d40c8b0604330" name="acbb7aa89797a21d3fb7d40c8b0604330"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acbb7aa89797a21d3fb7d40c8b0604330">&#9670;&#160;</a></span>getDescription()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IMartAdapter.getDescription </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a99f405bb55f135528029974ae5c52fa8" name="a99f405bb55f135528029974ae5c52fa8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99f405bb55f135528029974ae5c52fa8">&#9670;&#160;</a></span>getDisplayName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IMartAdapter.getDisplayName </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a15bf448db523e1df5dc18a1d2c6ec15c" name="a15bf448db523e1df5dc18a1d2c6ec15c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a15bf448db523e1df5dc18a1d2c6ec15c">&#9670;&#160;</a></span>getDisplayPrice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IMartAdapter.getDisplayPrice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>selling</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a782314a7747eda29602dca396d2b140a" name="a782314a7747eda29602dca396d2b140a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a782314a7747eda29602dca396d2b140a">&#9670;&#160;</a></span>getInventory()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> PokemonEssentials.Interface.Screen.IMartAdapter.getInventory </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a149eb0460264b75745818e3ea76a2ca8" name="a149eb0460264b75745818e3ea76a2ca8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a149eb0460264b75745818e3ea76a2ca8">&#9670;&#160;</a></span>getItemIcon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> PokemonEssentials.Interface.Screen.IMartAdapter.getItemIcon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19003fe75f34da178c286f1181559a3f" name="a19003fe75f34da178c286f1181559a3f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19003fe75f34da178c286f1181559a3f">&#9670;&#160;</a></span>getItemIconRect()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> PokemonEssentials.Interface.Screen.IMartAdapter.getItemIconRect </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a25cd912921a98adbbd056a9c6dd8acdc" name="a25cd912921a98adbbd056a9c6dd8acdc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25cd912921a98adbbd056a9c6dd8acdc">&#9670;&#160;</a></span>getMoney()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartAdapter.getMoney </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5f15d7980276fa9ad7f1e39f17127bae" name="a5f15d7980276fa9ad7f1e39f17127bae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f15d7980276fa9ad7f1e39f17127bae">&#9670;&#160;</a></span>getName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IMartAdapter.getName </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a62e42b01445dfcc53abfaf1efc038ab3" name="a62e42b01445dfcc53abfaf1efc038ab3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62e42b01445dfcc53abfaf1efc038ab3">&#9670;&#160;</a></span>getPrice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartAdapter.getPrice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>selling</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afae9cc7f879f4b4e070810ba20f3e85f" name="afae9cc7f879f4b4e070810ba20f3e85f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afae9cc7f879f4b4e070810ba20f3e85f">&#9670;&#160;</a></span>getQuantity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartAdapter.getQuantity </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae885bee36d2b5b1a99b92f51aa0e7d18" name="ae885bee36d2b5b1a99b92f51aa0e7d18"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae885bee36d2b5b1a99b92f51aa0e7d18">&#9670;&#160;</a></span>removeItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartAdapter.removeItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7050ef4665362e701b81a7d03477e748" name="a7050ef4665362e701b81a7d03477e748"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7050ef4665362e701b81a7d03477e748">&#9670;&#160;</a></span>setMoney()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartAdapter.setMoney </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a38470f352c2c98ad4031bce6b56df585" name="a38470f352c2c98ad4031bce6b56df585"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38470f352c2c98ad4031bce6b56df585">&#9670;&#160;</a></span>showQuantity()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartAdapter.showQuantity </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_mart_8cs.cshtml">IMart.cs</a></li>
</ul>
