@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">IMove</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IMove Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a4dafe4596df223ec75688bd372012db1">Effect</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a1718700f5d3b06ccd917ea24bc959fb0">id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6d4d7e30f04ede89bafc50986f84e8e3">initialize</a>(Moves moveid=Moves.NONE)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a6a8d48e922a366a719b1d077a5e6954a">PP</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ad38135bb67a036f7d1949725247ef8a6">PPups</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#ac9ef20ea2578ec5f9ec6c76c929521dc">TotalPP</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml#a893201615bdad3bfa98fc7ce1b3c9a1f">Type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move.cshtml">PokemonEssentials.Interface.IMove</a></td><td class="entry"></td></tr>
</table>
