@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml">IOnMapChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,382,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml" alt="PokemonUnity.EventArg.OnMapChangeEventArgs" shape="rect" coords="0,112,382,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aacf16615ab4e5acac3a872c857b4f973"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml#aacf16615ab4e5acac3a872c857b4f973">MapId</a><code> [get, set]</code></td></tr>
<tr class="separator:aacf16615ab4e5acac3a872c857b4f973"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="aacf16615ab4e5acac3a872c857b4f973" name="aacf16615ab4e5acac3a872c857b4f973"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aacf16615ab4e5acac3a872c857b4f973">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnMapChangeEventArgs.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_change_event_args.cshtml#a9c0338593697f44a6141af6fc8cb55ff">PokemonUnity.EventArg.OnMapChangeEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>
