@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IRect Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IRect Interface Reference</div></div>
}


<p>The rectangle class.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IRect:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_rect.png" usemap="#PokemonEssentials.Interface.IRect_map" alt=""/>
  <map id="PokemonEssentials.Interface.IRect_map" name="PokemonEssentials.Interface.IRect_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_notifiable_rect.cshtml" alt="PokemonEssentials.Interface.INotifiableRect" shape="rect" coords="0,56,321,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml" alt="PokemonEssentials.Interface.ISpriteWindowCursorRect" shape="rect" coords="331,56,652,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a250399e4e2effb20151d9f147560e5c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">set</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">height</a>)</td></tr>
<tr class="memdesc:a250399e4e2effb20151d9f147560e5c1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets all parameters at once.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">More...</a><br /></td></tr>
<tr class="separator:a250399e4e2effb20151d9f147560e5c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a8c407a62b9f02e65926a88e7dfd58de3"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8c407a62b9f02e65926a88e7dfd58de3"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">More...</a><br /></td></tr>
<tr class="separator:a8c407a62b9f02e65926a88e7dfd58de3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a591f18e1ac9cf82b48af881928af1f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0a591f18e1ac9cf82b48af881928af1f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">More...</a><br /></td></tr>
<tr class="separator:a0a591f18e1ac9cf82b48af881928af1f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2661efe5fc24d0f527ae2daedb13f5e6"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2661efe5fc24d0f527ae2daedb13f5e6"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">More...</a><br /></td></tr>
<tr class="separator:a2661efe5fc24d0f527ae2daedb13f5e6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b1af7895485edf37499bcb547d5c7f2"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4b1af7895485edf37499bcb547d5c7f2"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">More...</a><br /></td></tr>
<tr class="separator:a4b1af7895485edf37499bcb547d5c7f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The rectangle class.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a250399e4e2effb20151d9f147560e5c1" name="a250399e4e2effb20151d9f147560e5c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a250399e4e2effb20151d9f147560e5c1">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IRect.set </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets all parameters at once.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#ac577bcc862470fd3021e111755e3ca89">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a4b1af7895485edf37499bcb547d5c7f2" name="a4b1af7895485edf37499bcb547d5c7f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b1af7895485edf37499bcb547d5c7f2">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRect.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The rectangle's height.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8cd8f5fde54a365b927a090bb4cbd70d">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>.</p>

</div>
</div>
<a id="a2661efe5fc24d0f527ae2daedb13f5e6" name="a2661efe5fc24d0f527ae2daedb13f5e6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2661efe5fc24d0f527ae2daedb13f5e6">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRect.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The rectangle's width.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a3f0c77d9a2fafec54282f45ee30aadda">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>.</p>

</div>
</div>
<a id="a8c407a62b9f02e65926a88e7dfd58de3" name="a8c407a62b9f02e65926a88e7dfd58de3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c407a62b9f02e65926a88e7dfd58de3">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRect.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the rectangle's upper left corner.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a54aea6ed93c01cb4885f1ed13e053fd5">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>.</p>

</div>
</div>
<a id="a0a591f18e1ac9cf82b48af881928af1f" name="a0a591f18e1ac9cf82b48af881928af1f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a591f18e1ac9cf82b48af881928af1f">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRect.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the rectangle's upper left corner.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#af1683566f7862d46bed076361c0b0c75">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>

