@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_temp_metadata_pokemon_shadow.cshtml">ITempMetadataPokemonShadow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_temp_metadata_pokemon_shadow-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd>ITempMetadata</dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_temp_metadata_pokemon_shadow.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_temp_metadata_pokemon_shadow.png" usemap="#PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow_map" name="PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow_map">
<area href="class_pokemon_unity_1_1_temp_data.cshtml" alt="PokemonUnity.TempData" shape="rect" coords="0,56,421,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac2c24220bb0eb318a46fac8bb23fe372"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_temp_metadata_pokemon_shadow.cshtml#ac2c24220bb0eb318a46fac8bb23fe372">heartgauges</a><code> [get]</code></td></tr>
<tr class="separator:ac2c24220bb0eb318a46fac8bb23fe372"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd>ITempMetadata</dd></dl>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="ac2c24220bb0eb318a46fac8bb23fe372" name="ac2c24220bb0eb318a46fac8bb23fe372"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac2c24220bb0eb318a46fac8bb23fe372">&#9670;&#160;</a></span>heartgauges</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.PokeBattle.ITempMetadataPokemonShadow.heartgauges</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_temp_data.cshtml#ae131862a4e51a156beeb98aa84536d0e">PokemonUnity.TempData</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_shadow_pokemon_8cs.cshtml">IPokemonShadowPokemon.cs</a></li>
</ul>
