@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonSummaryScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml">IPokemonSummaryScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonSummaryScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonSummaryScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonSummaryScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonSummaryScene_map" name="PokemonEssentials.Interface.Screen.IPokemonSummaryScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,364,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,364,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6098b49ab1e0ec08085e12d2e8ba2eb4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml">IPokemonSummaryScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a6098b49ab1e0ec08085e12d2e8ba2eb4">initialize</a> ()</td></tr>
<tr class="separator:a6098b49ab1e0ec08085e12d2e8ba2eb4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43ea6f21807c919e3a6e35eba25243ac"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a43ea6f21807c919e3a6e35eba25243ac">drawPageOne</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a43ea6f21807c919e3a6e35eba25243ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a4fc0782b6332503e7289e282f89a8e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a0a4fc0782b6332503e7289e282f89a8e">drawPageOneEgg</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a0a4fc0782b6332503e7289e282f89a8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e6d9f3230f78ba3c00b952bf0b81345"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a9e6d9f3230f78ba3c00b952bf0b81345">drawPageTwo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a9e6d9f3230f78ba3c00b952bf0b81345"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35f3810acbf4a0bd8269ed89c2cd1ddd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a35f3810acbf4a0bd8269ed89c2cd1ddd">drawPageThree</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a35f3810acbf4a0bd8269ed89c2cd1ddd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc4ec49466b63575fb37846912dd817f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#adc4ec49466b63575fb37846912dd817f">drawPageFour</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adc4ec49466b63575fb37846912dd817f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3759dac74d36454160b48a305ebc3ed9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a3759dac74d36454160b48a305ebc3ed9">drawPageFive</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a3759dac74d36454160b48a305ebc3ed9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38a03ebd6ac14acdde18cb7ed7254bd7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a38a03ebd6ac14acdde18cb7ed7254bd7">drawMoveSelection</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:a38a03ebd6ac14acdde18cb7ed7254bd7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9dd30f06bfdaa4949ca0978fda946852"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a9dd30f06bfdaa4949ca0978fda946852">drawSelectedMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid)</td></tr>
<tr class="separator:a9dd30f06bfdaa4949ca0978fda946852"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c281f1a7305a749f9276b3978830ce9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a5c281f1a7305a749f9276b3978830ce9">ChooseMoveToForget</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:a5c281f1a7305a749f9276b3978830ce9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75ddd584c0c91ccb8e1493528f6176de"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a75ddd584c0c91ccb8e1493528f6176de">EndScene</a> ()</td></tr>
<tr class="separator:a75ddd584c0c91ccb8e1493528f6176de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d2a64500abfc5303244363a13a9ce1a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a2d2a64500abfc5303244363a13a9ce1a">GoToNext</a> ()</td></tr>
<tr class="separator:a2d2a64500abfc5303244363a13a9ce1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5a8d647c608fe8aa1538ca160eb8f7bd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a5a8d647c608fe8aa1538ca160eb8f7bd">GoToPrevious</a> ()</td></tr>
<tr class="separator:a5a8d647c608fe8aa1538ca160eb8f7bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a633fc17da4f6522b14ff7fd947cf446f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a633fc17da4f6522b14ff7fd947cf446f">MoveSelection</a> ()</td></tr>
<tr class="separator:a633fc17da4f6522b14ff7fd947cf446f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e6525b6ffbcbe1e78dcedc2887f43c3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a3e6525b6ffbcbe1e78dcedc2887f43c3">Pokerus</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a3e6525b6ffbcbe1e78dcedc2887f43c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b999740677a6c2509872e23f52f71f5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a4b999740677a6c2509872e23f52f71f5">Scene</a> ()</td></tr>
<tr class="separator:a4b999740677a6c2509872e23f52f71f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad2e8d33a0eae3dc2484d20a54209621a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#ad2e8d33a0eae3dc2484d20a54209621a">StartForgetScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> party, int partyindex, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="separator:ad2e8d33a0eae3dc2484d20a54209621a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76727b12f3f925f52c7d0562622899c3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a76727b12f3f925f52c7d0562622899c3">StartScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> party, int partyindex)</td></tr>
<tr class="separator:a76727b12f3f925f52c7d0562622899c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6f6c60b251c0d63c7cc15aec1af8c853"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml#a6f6c60b251c0d63c7cc15aec1af8c853">Update</a> ()</td></tr>
<tr class="separator:a6f6c60b251c0d63c7cc15aec1af8c853"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5c281f1a7305a749f9276b3978830ce9" name="a5c281f1a7305a749f9276b3978830ce9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c281f1a7305a749f9276b3978830ce9">&#9670;&#160;</a></span>ChooseMoveToForget()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.ChooseMoveToForget </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a38a03ebd6ac14acdde18cb7ed7254bd7" name="a38a03ebd6ac14acdde18cb7ed7254bd7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38a03ebd6ac14acdde18cb7ed7254bd7">&#9670;&#160;</a></span>drawMoveSelection()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawMoveSelection </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3759dac74d36454160b48a305ebc3ed9" name="a3759dac74d36454160b48a305ebc3ed9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3759dac74d36454160b48a305ebc3ed9">&#9670;&#160;</a></span>drawPageFive()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageFive </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adc4ec49466b63575fb37846912dd817f" name="adc4ec49466b63575fb37846912dd817f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc4ec49466b63575fb37846912dd817f">&#9670;&#160;</a></span>drawPageFour()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageFour </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43ea6f21807c919e3a6e35eba25243ac" name="a43ea6f21807c919e3a6e35eba25243ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43ea6f21807c919e3a6e35eba25243ac">&#9670;&#160;</a></span>drawPageOne()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageOne </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a4fc0782b6332503e7289e282f89a8e" name="a0a4fc0782b6332503e7289e282f89a8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a4fc0782b6332503e7289e282f89a8e">&#9670;&#160;</a></span>drawPageOneEgg()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageOneEgg </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a35f3810acbf4a0bd8269ed89c2cd1ddd" name="a35f3810acbf4a0bd8269ed89c2cd1ddd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35f3810acbf4a0bd8269ed89c2cd1ddd">&#9670;&#160;</a></span>drawPageThree()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageThree </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9e6d9f3230f78ba3c00b952bf0b81345" name="a9e6d9f3230f78ba3c00b952bf0b81345"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e6d9f3230f78ba3c00b952bf0b81345">&#9670;&#160;</a></span>drawPageTwo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawPageTwo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9dd30f06bfdaa4949ca0978fda946852" name="a9dd30f06bfdaa4949ca0978fda946852"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9dd30f06bfdaa4949ca0978fda946852">&#9670;&#160;</a></span>drawSelectedMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.drawSelectedMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a75ddd584c0c91ccb8e1493528f6176de" name="a75ddd584c0c91ccb8e1493528f6176de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75ddd584c0c91ccb8e1493528f6176de">&#9670;&#160;</a></span>EndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.EndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d2a64500abfc5303244363a13a9ce1a" name="a2d2a64500abfc5303244363a13a9ce1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d2a64500abfc5303244363a13a9ce1a">&#9670;&#160;</a></span>GoToNext()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.GoToNext </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5a8d647c608fe8aa1538ca160eb8f7bd" name="a5a8d647c608fe8aa1538ca160eb8f7bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a8d647c608fe8aa1538ca160eb8f7bd">&#9670;&#160;</a></span>GoToPrevious()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.GoToPrevious </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6098b49ab1e0ec08085e12d2e8ba2eb4" name="a6098b49ab1e0ec08085e12d2e8ba2eb4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6098b49ab1e0ec08085e12d2e8ba2eb4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml">IPokemonSummaryScene</a> PokemonEssentials.Interface.Screen.IPokemonSummaryScene.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a633fc17da4f6522b14ff7fd947cf446f" name="a633fc17da4f6522b14ff7fd947cf446f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a633fc17da4f6522b14ff7fd947cf446f">&#9670;&#160;</a></span>MoveSelection()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.MoveSelection </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e6525b6ffbcbe1e78dcedc2887f43c3" name="a3e6525b6ffbcbe1e78dcedc2887f43c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e6525b6ffbcbe1e78dcedc2887f43c3">&#9670;&#160;</a></span>Pokerus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.Pokerus </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b999740677a6c2509872e23f52f71f5" name="a4b999740677a6c2509872e23f52f71f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b999740677a6c2509872e23f52f71f5">&#9670;&#160;</a></span>Scene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.Scene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad2e8d33a0eae3dc2484d20a54209621a" name="ad2e8d33a0eae3dc2484d20a54209621a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad2e8d33a0eae3dc2484d20a54209621a">&#9670;&#160;</a></span>StartForgetScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.StartForgetScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>partyindex</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveToLearn</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a76727b12f3f925f52c7d0562622899c3" name="a76727b12f3f925f52c7d0562622899c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a76727b12f3f925f52c7d0562622899c3">&#9670;&#160;</a></span>StartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.StartScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>partyindex</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6f6c60b251c0d63c7cc15aec1af8c853" name="a6f6c60b251c0d63c7cc15aec1af8c853"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f6c60b251c0d63c7cc15aec1af8c853">&#9670;&#160;</a></span>Update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonSummaryScene.Update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_summary_8cs.cshtml">ISummary.cs</a></li>
</ul>

