@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">IGameMysteryGift</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameMysteryGift Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a7fc04cff7956155317bef593f5fffdce">CreateMysteryGift</a>(int type, Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#aaed53c74f0a2e1ef6be1a52fa979e2f1">DownloadMysteryGift</a>(ITrainer trainer)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a1d80a432202041a49516d931498a2d03">EditMysteryGift</a>(int type, Items item, int id=0, string giftname=&quot;&quot;)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a0345b0feb3f1324cdee38b0a6aa20bde">ManageMysteryGifts</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ae74a19154faa3f5f0edce1234b20c8fe">MysteryGiftDecrypt</a>(string gift)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#aa5ad980100beaab3919b0bc32760ea9a">MysteryGiftEncrypt</a>(IMysteryGiftData gift)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a46244fd9639806635fc51df4017a8e25">MYSTERYGIFTURL</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ad9e4cbbe95e76861b78ce8d75faf5267">NextMysteryGiftID</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a222208e38b6021439e45fd4b19827475">ReceiveMysteryGift</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a9831a0a14a8d56faf64eba35fc16ebae">RefreshMGCommands</a>(IMysteryGiftData[] master, int[] online)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
</table>
