@{
	Page.Title = "PokemonEssentials.Interface.Field.IMapConnection Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapConnection Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aeaf4784a3b3ab0c153f8de78743a8f91"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#aeaf4784a3b3ab0c153f8de78743a8f91">Id1</a> <code>[get]</code></td></tr>
<tr class="memdesc:aeaf4784a3b3ab0c153f8de78743a8f91"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 1's ID number   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#aeaf4784a3b3ab0c153f8de78743a8f91">More...</a><br /></td></tr>
<tr class="separator:aeaf4784a3b3ab0c153f8de78743a8f91"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a9ae4c25af1f107d7726401c85f59f3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a6a9ae4c25af1f107d7726401c85f59f3">Edge1</a> <code>[get]</code></td></tr>
<tr class="memdesc:a6a9ae4c25af1f107d7726401c85f59f3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 1's edge (one of N, North, S, South, E, East, W or West)   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a6a9ae4c25af1f107d7726401c85f59f3">More...</a><br /></td></tr>
<tr class="separator:a6a9ae4c25af1f107d7726401c85f59f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fc64ee083721037fe737523d2dfa62e"><td class="memItemLeft" align="right" valign="top">ushort&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3fc64ee083721037fe737523d2dfa62e">Offset1</a> <code>[get]</code></td></tr>
<tr class="memdesc:a3fc64ee083721037fe737523d2dfa62e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 1's connecting point (a positive integer)   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3fc64ee083721037fe737523d2dfa62e">More...</a><br /></td></tr>
<tr class="separator:a3fc64ee083721037fe737523d2dfa62e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab13bcb2b456a2b01a4fe706bf725d21c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#ab13bcb2b456a2b01a4fe706bf725d21c">Id2</a> <code>[get]</code></td></tr>
<tr class="memdesc:ab13bcb2b456a2b01a4fe706bf725d21c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 2's ID number   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#ab13bcb2b456a2b01a4fe706bf725d21c">More...</a><br /></td></tr>
<tr class="separator:ab13bcb2b456a2b01a4fe706bf725d21c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a4a26f8eac227a4a27df5bf493a5f83"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3a4a26f8eac227a4a27df5bf493a5f83">Edge2</a> <code>[get]</code></td></tr>
<tr class="memdesc:a3a4a26f8eac227a4a27df5bf493a5f83"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 2's edge (one of N, North, S, South, E, East, W or West)   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3a4a26f8eac227a4a27df5bf493a5f83">More...</a><br /></td></tr>
<tr class="separator:a3a4a26f8eac227a4a27df5bf493a5f83"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a411b815f6dcaedcdec55066a875acbb5"><td class="memItemLeft" align="right" valign="top">ushort&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a411b815f6dcaedcdec55066a875acbb5">Offset2</a> <code>[get]</code></td></tr>
<tr class="memdesc:a411b815f6dcaedcdec55066a875acbb5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map 2's connecting point (a positive integer)   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a411b815f6dcaedcdec55066a875acbb5">More...</a><br /></td></tr>
<tr class="separator:a411b815f6dcaedcdec55066a875acbb5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Property Documentation</h2>
<a id="a6a9ae4c25af1f107d7726401c85f59f3" name="a6a9ae4c25af1f107d7726401c85f59f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a9ae4c25af1f107d7726401c85f59f3">&#9670;&#160;</a></span>Edge1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IMapConnection.Edge1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 1's edge (one of N, North, S, South, E, East, W or West)  </p>

</div>
</div>
<a id="a3a4a26f8eac227a4a27df5bf493a5f83" name="a3a4a26f8eac227a4a27df5bf493a5f83"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a4a26f8eac227a4a27df5bf493a5f83">&#9670;&#160;</a></span>Edge2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IMapConnection.Edge2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 2's edge (one of N, North, S, South, E, East, W or West)  </p>

</div>
</div>
<a id="aeaf4784a3b3ab0c153f8de78743a8f91" name="aeaf4784a3b3ab0c153f8de78743a8f91"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeaf4784a3b3ab0c153f8de78743a8f91">&#9670;&#160;</a></span>Id1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapConnection.Id1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 1's ID number  </p>

</div>
</div>
<a id="ab13bcb2b456a2b01a4fe706bf725d21c" name="ab13bcb2b456a2b01a4fe706bf725d21c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab13bcb2b456a2b01a4fe706bf725d21c">&#9670;&#160;</a></span>Id2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapConnection.Id2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 2's ID number  </p>

</div>
</div>
<a id="a3fc64ee083721037fe737523d2dfa62e" name="a3fc64ee083721037fe737523d2dfa62e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fc64ee083721037fe737523d2dfa62e">&#9670;&#160;</a></span>Offset1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">ushort PokemonEssentials.Interface.Field.IMapConnection.Offset1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 1's connecting point (a positive integer)  </p>

</div>
</div>
<a id="a411b815f6dcaedcdec55066a875acbb5" name="a411b815f6dcaedcdec55066a875acbb5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a411b815f6dcaedcdec55066a875acbb5">&#9670;&#160;</a></span>Offset2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">ushort PokemonEssentials.Interface.Field.IMapConnection.Offset2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map 2's connecting point (a positive integer)  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>

