@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">IPointInterpolator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IPointInterpolator Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a1e654371ab045dfc5bd7b9dc48123327">done</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#abbf7954dce7f3e31169aaf8032ccd322">initialize</a>(float oldx, float oldy, float newx, float newy, int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a31caea8171aa3f914e74f880f4f98fa8">restart</a>(float oldx, float oldy, float newx, float newy, int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#af36725ae32df8479cdbc0f72d4de28b1">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#aefc76df138970e8e0724f19977700091">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a9f4f7e3fe9fb43409119804c68931462">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">PokemonEssentials.Interface.Field.IPointInterpolator</a></td><td class="entry"></td></tr>
</table>