@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">IScreenBorder</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IScreenBorder Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a5aedf7ecff1074b7985a9cd8a3442883">adjustZ</a>(int z)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#af504f186aa92546fd742c7554cea9e14">bordername</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#aa82655082cf8ea8d0875dd878782f9b8">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a28fbdfc660e9fa9b02d859699489e544">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#af264ecde9871554aa8b6c2b066bae0f9">initializeInternal</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml#a29f0716a657cbb2051a2e834d93b820c">refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_screen_border.cshtml">PokemonEssentials.Interface.IScreenBorder</a></td><td class="entry"></td></tr>
</table>