@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameSafari Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">IGameSafari</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameSafari Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IGameSafari:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.png" usemap="#PokemonEssentials.Interface.Field.IGameSafari_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IGameSafari_map" name="PokemonEssentials.Interface.Field.IGameSafari_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,278,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7ce65da5a69f859efbc0419959d29810"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a7ce65da5a69f859efbc0419959d29810">SafariBattle</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int level)</td></tr>
<tr class="separator:a7ce65da5a69f859efbc0419959d29810"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3fdee63da43025a0d7d71c02833cbf6e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a3fdee63da43025a0d7d71c02833cbf6e">InSafari</a><code> [get]</code></td></tr>
<tr class="separator:a3fdee63da43025a0d7d71c02833cbf6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaefc7164e6b3428fc98e9b9ded00b9c2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#aaefc7164e6b3428fc98e9b9ded00b9c2">SafariState</a><code> [get]</code></td></tr>
<tr class="separator:aaefc7164e6b3428fc98e9b9ded00b9c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:af9bac49f1a342bca61860f8244d114a1"><td class="memItemLeft" align="right" valign="top">System.EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#af9bac49f1a342bca61860f8244d114a1">OnMapChange</a></td></tr>
<tr class="memdesc:af9bac49f1a342bca61860f8244d114a1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fires whenever the player moves to a new map. Event handler receives the old map ID or 0 if none. Also fires when the first map of the game is loaded   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#af9bac49f1a342bca61860f8244d114a1">More...</a><br /></td></tr>
<tr class="separator:af9bac49f1a342bca61860f8244d114a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a678bc0d1718f574cab981c7c2fdc8e15"><td class="memItemLeft" align="right" valign="top">System.Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">EventArg.IOnStepTakenTransferPossibleEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a678bc0d1718f574cab981c7c2fdc8e15">OnStepTakenTransferPossible</a></td></tr>
<tr class="memdesc:a678bc0d1718f574cab981c7c2fdc8e15"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fires whenever the player takes a step. The event handler may possibly move the player elsewhere.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a678bc0d1718f574cab981c7c2fdc8e15">More...</a><br /></td></tr>
<tr class="separator:a678bc0d1718f574cab981c7c2fdc8e15"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a611a8a21f10fd4f69a3d5ac1d2265346"><td class="memItemLeft" align="right" valign="top">System.Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">EventArg.IOnWildBattleOverrideEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a611a8a21f10fd4f69a3d5ac1d2265346">OnWildBattleOverride</a></td></tr>
<tr class="memdesc:a611a8a21f10fd4f69a3d5ac1d2265346"><td class="mdescLeft">&#160;</td><td class="mdescRight">Triggers at the start of a wild battle. Event handlers can provide their own wild battle routines to override the default behavior.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a611a8a21f10fd4f69a3d5ac1d2265346">More...</a><br /></td></tr>
<tr class="separator:a611a8a21f10fd4f69a3d5ac1d2265346"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a7ce65da5a69f859efbc0419959d29810" name="a7ce65da5a69f859efbc0419959d29810"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ce65da5a69f859efbc0419959d29810">&#9670;&#160;</a></span>SafariBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Field.IGameSafari.SafariBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>level</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad466a55ad005b59c0ce403c87f7b8201">PokemonUnity.Game</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3fdee63da43025a0d7d71c02833cbf6e" name="a3fdee63da43025a0d7d71c02833cbf6e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fdee63da43025a0d7d71c02833cbf6e">&#9670;&#160;</a></span>InSafari</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameSafari.InSafari</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a727543b6f4a3076839bd0006f0cd4e80">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aaefc7164e6b3428fc98e9b9ded00b9c2" name="aaefc7164e6b3428fc98e9b9ded00b9c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaefc7164e6b3428fc98e9b9ded00b9c2">&#9670;&#160;</a></span>SafariState</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a> PokemonEssentials.Interface.Field.IGameSafari.SafariState</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9199c720e5e18f215d3d3d0456885962">PokemonUnity.Game</a>.</p>

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="af9bac49f1a342bca61860f8244d114a1" name="af9bac49f1a342bca61860f8244d114a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9bac49f1a342bca61860f8244d114a1">&#9670;&#160;</a></span>OnMapChange</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">System.EventHandler PokemonEssentials.Interface.Field.IGameSafari.OnMapChange</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fires whenever the player moves to a new map. Event handler receives the old map ID or 0 if none. Also fires when the first map of the game is loaded  </p>

</div>
</div>
<a id="a678bc0d1718f574cab981c7c2fdc8e15" name="a678bc0d1718f574cab981c7c2fdc8e15"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a678bc0d1718f574cab981c7c2fdc8e15">&#9670;&#160;</a></span>OnStepTakenTransferPossible</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">System.Action&lt;object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">EventArg.IOnStepTakenTransferPossibleEventArgs</a>&gt; PokemonEssentials.Interface.Field.IGameSafari.OnStepTakenTransferPossible</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fires whenever the player takes a step. The event handler may possibly move the player elsewhere.  </p>

</div>
</div>
<a id="a611a8a21f10fd4f69a3d5ac1d2265346" name="a611a8a21f10fd4f69a3d5ac1d2265346"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a611a8a21f10fd4f69a3d5ac1d2265346">&#9670;&#160;</a></span>OnWildBattleOverride</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">System.Action&lt;object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">EventArg.IOnWildBattleOverrideEventArgs</a>&gt; PokemonEssentials.Interface.Field.IGameSafari.OnWildBattleOverride</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Triggers at the start of a wild battle. Event handlers can provide their own wild battle routines to override the default behavior.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_safari_state_8cs.cshtml">ISafariState.cs</a></li>
</ul>

