@{
	Page.Title = "PokemonEssentials.Interface.ISpriteWindowCursorRect Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">ISpriteWindowCursorRect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteWindowCursorRect Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISpriteWindowCursorRect:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.png" usemap="#PokemonEssentials.Interface.ISpriteWindowCursorRect_map" alt=""/>
  <map id="PokemonEssentials.Interface.ISpriteWindowCursorRect_map" name="PokemonEssentials.Interface.ISpriteWindowCursorRect_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml" title="The rectangle class." alt="PokemonEssentials.Interface.IRect" shape="rect" coords="0,0,321,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a11ce677a7e5e57fdd3c032d20a5a985a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">ISpriteWindowCursorRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a11ce677a7e5e57fdd3c032d20a5a985a">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:a11ce677a7e5e57fdd3c032d20a5a985a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a252d3c15e5f8609fa2bcc33731ca99c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a252d3c15e5f8609fa2bcc33731ca99c0">empty</a> ()</td></tr>
<tr class="separator:a252d3c15e5f8609fa2bcc33731ca99c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8646b82ec717c7c089e74c900c9273cc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8646b82ec717c7c089e74c900c9273cc">isEmpty</a> ()</td></tr>
<tr class="separator:a8646b82ec717c7c089e74c900c9273cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac577bcc862470fd3021e111755e3ca89"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#ac577bcc862470fd3021e111755e3ca89">set</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a54aea6ed93c01cb4885f1ed13e053fd5">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#af1683566f7862d46bed076361c0b0c75">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a3f0c77d9a2fafec54282f45ee30aadda">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8cd8f5fde54a365b927a090bb4cbd70d">height</a>)</td></tr>
<tr class="memdesc:ac577bcc862470fd3021e111755e3ca89"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets all parameters at once.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#ac577bcc862470fd3021e111755e3ca89">More...</a><br /></td></tr>
<tr class="separator:ac577bcc862470fd3021e111755e3ca89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a250399e4e2effb20151d9f147560e5c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">set</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">height</a>)</td></tr>
<tr class="memdesc:a250399e4e2effb20151d9f147560e5c1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets all parameters at once.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">More...</a><br /></td></tr>
<tr class="separator:a250399e4e2effb20151d9f147560e5c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a54aea6ed93c01cb4885f1ed13e053fd5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a54aea6ed93c01cb4885f1ed13e053fd5">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a54aea6ed93c01cb4885f1ed13e053fd5"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a54aea6ed93c01cb4885f1ed13e053fd5">More...</a><br /></td></tr>
<tr class="separator:a54aea6ed93c01cb4885f1ed13e053fd5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1683566f7862d46bed076361c0b0c75"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#af1683566f7862d46bed076361c0b0c75">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af1683566f7862d46bed076361c0b0c75"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#af1683566f7862d46bed076361c0b0c75">More...</a><br /></td></tr>
<tr class="separator:af1683566f7862d46bed076361c0b0c75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f0c77d9a2fafec54282f45ee30aadda"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a3f0c77d9a2fafec54282f45ee30aadda">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3f0c77d9a2fafec54282f45ee30aadda"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a3f0c77d9a2fafec54282f45ee30aadda">More...</a><br /></td></tr>
<tr class="separator:a3f0c77d9a2fafec54282f45ee30aadda"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cd8f5fde54a365b927a090bb4cbd70d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8cd8f5fde54a365b927a090bb4cbd70d">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8cd8f5fde54a365b927a090bb4cbd70d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8cd8f5fde54a365b927a090bb4cbd70d">More...</a><br /></td></tr>
<tr class="separator:a8cd8f5fde54a365b927a090bb4cbd70d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td></tr>
<tr class="memitem:a8c407a62b9f02e65926a88e7dfd58de3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8c407a62b9f02e65926a88e7dfd58de3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">More...</a><br /></td></tr>
<tr class="separator:a8c407a62b9f02e65926a88e7dfd58de3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a591f18e1ac9cf82b48af881928af1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0a591f18e1ac9cf82b48af881928af1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the rectangle's upper left corner.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">More...</a><br /></td></tr>
<tr class="separator:a0a591f18e1ac9cf82b48af881928af1f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2661efe5fc24d0f527ae2daedb13f5e6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2661efe5fc24d0f527ae2daedb13f5e6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">More...</a><br /></td></tr>
<tr class="separator:a2661efe5fc24d0f527ae2daedb13f5e6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b1af7895485edf37499bcb547d5c7f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4b1af7895485edf37499bcb547d5c7f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="mdescLeft">&#160;</td><td class="mdescRight">The rectangle's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">More...</a><br /></td></tr>
<tr class="separator:a4b1af7895485edf37499bcb547d5c7f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_rect"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a252d3c15e5f8609fa2bcc33731ca99c0" name="a252d3c15e5f8609fa2bcc33731ca99c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a252d3c15e5f8609fa2bcc33731ca99c0">&#9670;&#160;</a></span>empty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteWindowCursorRect.empty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a11ce677a7e5e57fdd3c032d20a5a985a" name="a11ce677a7e5e57fdd3c032d20a5a985a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11ce677a7e5e57fdd3c032d20a5a985a">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">ISpriteWindowCursorRect</a> PokemonEssentials.Interface.ISpriteWindowCursorRect.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8646b82ec717c7c089e74c900c9273cc" name="a8646b82ec717c7c089e74c900c9273cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8646b82ec717c7c089e74c900c9273cc">&#9670;&#160;</a></span>isEmpty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISpriteWindowCursorRect.isEmpty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac577bcc862470fd3021e111755e3ca89" name="ac577bcc862470fd3021e111755e3ca89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac577bcc862470fd3021e111755e3ca89">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteWindowCursorRect.set </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets all parameters at once.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">PokemonEssentials.Interface.IRect</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8cd8f5fde54a365b927a090bb4cbd70d" name="a8cd8f5fde54a365b927a090bb4cbd70d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8cd8f5fde54a365b927a090bb4cbd70d">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISpriteWindowCursorRect.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The rectangle's height.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">PokemonEssentials.Interface.IRect</a>.</p>

</div>
</div>
<a id="a3f0c77d9a2fafec54282f45ee30aadda" name="a3f0c77d9a2fafec54282f45ee30aadda"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f0c77d9a2fafec54282f45ee30aadda">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISpriteWindowCursorRect.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The rectangle's width.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">PokemonEssentials.Interface.IRect</a>.</p>

</div>
</div>
<a id="a54aea6ed93c01cb4885f1ed13e053fd5" name="a54aea6ed93c01cb4885f1ed13e053fd5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54aea6ed93c01cb4885f1ed13e053fd5">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISpriteWindowCursorRect.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the rectangle's upper left corner.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">PokemonEssentials.Interface.IRect</a>.</p>

</div>
</div>
<a id="af1683566f7862d46bed076361c0b0c75" name="af1683566f7862d46bed076361c0b0c75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1683566f7862d46bed076361c0b0c75">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISpriteWindowCursorRect.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the rectangle's upper left corner.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">PokemonEssentials.Interface.IRect</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>

