@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml">ISystemWords</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1993f7192f03a847ecd50ade15963ed4"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a1993f7192f03a847ecd50ade15963ed4">gold</a><code> [get, set]</code></td></tr>
<tr class="separator:a1993f7192f03a847ecd50ade15963ed4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1fac5bb9a3454ad6866970c772e53ef"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ab1fac5bb9a3454ad6866970c772e53ef">hp</a><code> [get, set]</code></td></tr>
<tr class="separator:ab1fac5bb9a3454ad6866970c772e53ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52661e24384c446f1c1c016b7a8f7d2e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a52661e24384c446f1c1c016b7a8f7d2e">sp</a><code> [get, set]</code></td></tr>
<tr class="separator:a52661e24384c446f1c1c016b7a8f7d2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a146c58f41727c79a84602e0021569fb0"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a146c58f41727c79a84602e0021569fb0">str</a><code> [get, set]</code></td></tr>
<tr class="separator:a146c58f41727c79a84602e0021569fb0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2579dd49453a86b97dbde24349f7cadf"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a2579dd49453a86b97dbde24349f7cadf">dex</a><code> [get, set]</code></td></tr>
<tr class="separator:a2579dd49453a86b97dbde24349f7cadf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0efeb8af3589b71ba1dd70ba0134b7a"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ac0efeb8af3589b71ba1dd70ba0134b7a">agi</a><code> [get, set]</code></td></tr>
<tr class="separator:ac0efeb8af3589b71ba1dd70ba0134b7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:addb3ed7d21c36e32ed4fef8b5611dc20"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#addb3ed7d21c36e32ed4fef8b5611dc20">int</a><code> [get, set]</code></td></tr>
<tr class="separator:addb3ed7d21c36e32ed4fef8b5611dc20"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc3279c8c97d98babfbe4dd09477311b"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#abc3279c8c97d98babfbe4dd09477311b">atk</a><code> [get, set]</code></td></tr>
<tr class="separator:abc3279c8c97d98babfbe4dd09477311b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d7f737a33a9be5a8b00a789b514548e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a7d7f737a33a9be5a8b00a789b514548e">pdef</a><code> [get, set]</code></td></tr>
<tr class="separator:a7d7f737a33a9be5a8b00a789b514548e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a557706a1a5f8186f15e0c8eef69fcdce"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a557706a1a5f8186f15e0c8eef69fcdce">mdef</a><code> [get, set]</code></td></tr>
<tr class="separator:a557706a1a5f8186f15e0c8eef69fcdce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3575e49e2f5f8e4bedfc349df48da23"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ab3575e49e2f5f8e4bedfc349df48da23">weapon</a><code> [get, set]</code></td></tr>
<tr class="separator:ab3575e49e2f5f8e4bedfc349df48da23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7c415684542003a1fa921e191ed226e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ae7c415684542003a1fa921e191ed226e">armor1</a><code> [get, set]</code></td></tr>
<tr class="separator:ae7c415684542003a1fa921e191ed226e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a967c18e0a55bacc0b62d12054d0af703"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a967c18e0a55bacc0b62d12054d0af703">armor2</a><code> [get, set]</code></td></tr>
<tr class="separator:a967c18e0a55bacc0b62d12054d0af703"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad157d0a3f3da538195c75a6cd3d213b8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ad157d0a3f3da538195c75a6cd3d213b8">armor3</a><code> [get, set]</code></td></tr>
<tr class="separator:ad157d0a3f3da538195c75a6cd3d213b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc48e917954654b52195aeb8d1eafaeb"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#afc48e917954654b52195aeb8d1eafaeb">armor4</a><code> [get, set]</code></td></tr>
<tr class="separator:afc48e917954654b52195aeb8d1eafaeb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5096ea3b90f9635f7b5b9714086f1b27"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a5096ea3b90f9635f7b5b9714086f1b27">attack</a><code> [get, set]</code></td></tr>
<tr class="separator:a5096ea3b90f9635f7b5b9714086f1b27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a801f86905f216ebf0d7ee9e652cfbedc"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a801f86905f216ebf0d7ee9e652cfbedc">skill</a><code> [get, set]</code></td></tr>
<tr class="separator:a801f86905f216ebf0d7ee9e652cfbedc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac55539125590f96777f6dc26a9e93f4f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ac55539125590f96777f6dc26a9e93f4f">guard</a><code> [get, set]</code></td></tr>
<tr class="separator:ac55539125590f96777f6dc26a9e93f4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38bd819c17d6d180fc61bf86b547e1f7"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#a38bd819c17d6d180fc61bf86b547e1f7">item</a><code> [get, set]</code></td></tr>
<tr class="separator:a38bd819c17d6d180fc61bf86b547e1f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1399b6e4d573f3c40261b4a4a390a96"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml#ae1399b6e4d573f3c40261b4a4a390a96">equip</a><code> [get, set]</code></td></tr>
<tr class="separator:ae1399b6e4d573f3c40261b4a4a390a96"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac0efeb8af3589b71ba1dd70ba0134b7a" name="ac0efeb8af3589b71ba1dd70ba0134b7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0efeb8af3589b71ba1dd70ba0134b7a">&#9670;&#160;</a></span>agi</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.agi</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae7c415684542003a1fa921e191ed226e" name="ae7c415684542003a1fa921e191ed226e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7c415684542003a1fa921e191ed226e">&#9670;&#160;</a></span>armor1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.armor1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a967c18e0a55bacc0b62d12054d0af703" name="a967c18e0a55bacc0b62d12054d0af703"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a967c18e0a55bacc0b62d12054d0af703">&#9670;&#160;</a></span>armor2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.armor2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad157d0a3f3da538195c75a6cd3d213b8" name="ad157d0a3f3da538195c75a6cd3d213b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad157d0a3f3da538195c75a6cd3d213b8">&#9670;&#160;</a></span>armor3</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.armor3</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afc48e917954654b52195aeb8d1eafaeb" name="afc48e917954654b52195aeb8d1eafaeb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc48e917954654b52195aeb8d1eafaeb">&#9670;&#160;</a></span>armor4</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.armor4</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abc3279c8c97d98babfbe4dd09477311b" name="abc3279c8c97d98babfbe4dd09477311b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc3279c8c97d98babfbe4dd09477311b">&#9670;&#160;</a></span>atk</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.atk</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5096ea3b90f9635f7b5b9714086f1b27" name="a5096ea3b90f9635f7b5b9714086f1b27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5096ea3b90f9635f7b5b9714086f1b27">&#9670;&#160;</a></span>attack</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.attack</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2579dd49453a86b97dbde24349f7cadf" name="a2579dd49453a86b97dbde24349f7cadf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2579dd49453a86b97dbde24349f7cadf">&#9670;&#160;</a></span>dex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.dex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1399b6e4d573f3c40261b4a4a390a96" name="ae1399b6e4d573f3c40261b4a4a390a96"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1399b6e4d573f3c40261b4a4a390a96">&#9670;&#160;</a></span>equip</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.equip</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1993f7192f03a847ecd50ade15963ed4" name="a1993f7192f03a847ecd50ade15963ed4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1993f7192f03a847ecd50ade15963ed4">&#9670;&#160;</a></span>gold</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.gold</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac55539125590f96777f6dc26a9e93f4f" name="ac55539125590f96777f6dc26a9e93f4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac55539125590f96777f6dc26a9e93f4f">&#9670;&#160;</a></span>guard</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.guard</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab1fac5bb9a3454ad6866970c772e53ef" name="ab1fac5bb9a3454ad6866970c772e53ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1fac5bb9a3454ad6866970c772e53ef">&#9670;&#160;</a></span>hp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.hp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="addb3ed7d21c36e32ed4fef8b5611dc20" name="addb3ed7d21c36e32ed4fef8b5611dc20"></a>
<h2 class="memtitle"><span class="permalink"><a href="#addb3ed7d21c36e32ed4fef8b5611dc20">&#9670;&#160;</a></span>int</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.int</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a38bd819c17d6d180fc61bf86b547e1f7" name="a38bd819c17d6d180fc61bf86b547e1f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38bd819c17d6d180fc61bf86b547e1f7">&#9670;&#160;</a></span>item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a557706a1a5f8186f15e0c8eef69fcdce" name="a557706a1a5f8186f15e0c8eef69fcdce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a557706a1a5f8186f15e0c8eef69fcdce">&#9670;&#160;</a></span>mdef</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.mdef</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7d7f737a33a9be5a8b00a789b514548e" name="a7d7f737a33a9be5a8b00a789b514548e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d7f737a33a9be5a8b00a789b514548e">&#9670;&#160;</a></span>pdef</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.pdef</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a801f86905f216ebf0d7ee9e652cfbedc" name="a801f86905f216ebf0d7ee9e652cfbedc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a801f86905f216ebf0d7ee9e652cfbedc">&#9670;&#160;</a></span>skill</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.skill</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a52661e24384c446f1c1c016b7a8f7d2e" name="a52661e24384c446f1c1c016b7a8f7d2e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52661e24384c446f1c1c016b7a8f7d2e">&#9670;&#160;</a></span>sp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.sp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a146c58f41727c79a84602e0021569fb0" name="a146c58f41727c79a84602e0021569fb0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a146c58f41727c79a84602e0021569fb0">&#9670;&#160;</a></span>str</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.str</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3575e49e2f5f8e4bedfc349df48da23" name="ab3575e49e2f5f8e4bedfc349df48da23"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3575e49e2f5f8e4bedfc349df48da23">&#9670;&#160;</a></span>weapon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystemWords.weapon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>

