@{
	Page.Title = "PokemonEssentials.Interface.Field.IRegionMap Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml">IRegionMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IRegionMap Interface Reference</div></div>
}


<p>The region map (also known as the Town Map) is the picture that shows the entire region.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab1ef7278c70884a3be3939ca8b5ac91b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#ab1ef7278c70884a3be3939ca8b5ac91b">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:ab1ef7278c70884a3be3939ca8b5ac91b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Each region defined has its own section, which begins with the region number in square brackets (the first/default region number is 0).   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#ab1ef7278c70884a3be3939ca8b5ac91b">More...</a><br /></td></tr>
<tr class="separator:ab1ef7278c70884a3be3939ca8b5ac91b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b9f43ec223d9c27fcd398bce1a6c235"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#a6b9f43ec223d9c27fcd398bce1a6c235">Name</a><code> [get]</code></td></tr>
<tr class="memdesc:a6b9f43ec223d9c27fcd398bce1a6c235"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of the region   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#a6b9f43ec223d9c27fcd398bce1a6c235">More...</a><br /></td></tr>
<tr class="separator:a6b9f43ec223d9c27fcd398bce1a6c235"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc696a9f4d12d6c1856c50c2bb8bd7fd"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#acc696a9f4d12d6c1856c50c2bb8bd7fd">Filename</a><code> [get]</code></td></tr>
<tr class="memdesc:acc696a9f4d12d6c1856c50c2bb8bd7fd"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of the graphic file depicting the region   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#acc696a9f4d12d6c1856c50c2bb8bd7fd">More...</a><br /></td></tr>
<tr class="separator:acc696a9f4d12d6c1856c50c2bb8bd7fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abaf3b31f189568df85ebb1d69e219f7b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">IRegionMapData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#abaf3b31f189568df85ebb1d69e219f7b">Points</a><code> [get]</code></td></tr>
<tr class="memdesc:abaf3b31f189568df85ebb1d69e219f7b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The information about each square (or "point").   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml#abaf3b31f189568df85ebb1d69e219f7b">More...</a><br /></td></tr>
<tr class="separator:abaf3b31f189568df85ebb1d69e219f7b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The region map (also known as the Town Map) is the picture that shows the entire region.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="acc696a9f4d12d6c1856c50c2bb8bd7fd" name="acc696a9f4d12d6c1856c50c2bb8bd7fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc696a9f4d12d6c1856c50c2bb8bd7fd">&#9670;&#160;</a></span>Filename</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IRegionMap.Filename</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of the graphic file depicting the region  </p>

</div>
</div>
<a id="ab1ef7278c70884a3be3939ca8b5ac91b" name="ab1ef7278c70884a3be3939ca8b5ac91b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1ef7278c70884a3be3939ca8b5ac91b">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IRegionMap.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Each region defined has its own section, which begins with the region number in square brackets (the first/default region number is 0).  </p>

</div>
</div>
<a id="a6b9f43ec223d9c27fcd398bce1a6c235" name="a6b9f43ec223d9c27fcd398bce1a6c235"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b9f43ec223d9c27fcd398bce1a6c235">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IRegionMap.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of the region  </p>

</div>
</div>
<a id="abaf3b31f189568df85ebb1d69e219f7b" name="abaf3b31f189568df85ebb1d69e219f7b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abaf3b31f189568df85ebb1d69e219f7b">&#9670;&#160;</a></span>Points</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">IRegionMapData</a> [] PokemonEssentials.Interface.Field.IRegionMap.Points</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The information about each square (or "point").  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_data_8cs.cshtml">IMapData.cs</a></li>
</ul>

