@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IPurifyChamberPC Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_p_c.cshtml">IPurifyChamberPC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_p_c-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberPC Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPurifyChamberPC:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_p_c.png" usemap="#PokemonEssentials.Interface.Screen.IPurifyChamberPC_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPurifyChamberPC_map" name="PokemonEssentials.Interface.Screen.IPurifyChamberPC_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml" alt="PokemonEssentials.Interface.Screen.IPCMenuUser" shape="rect" coords="0,0,327,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml">PokemonEssentials.Interface.Screen.IPCMenuUser</a></td></tr>
<tr class="memitem:a6d4764490ba362583281c65484e73c13 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">access</a> ()</td></tr>
<tr class="separator:a6d4764490ba362583281c65484e73c13 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml">PokemonEssentials.Interface.Screen.IPCMenuUser</a></td></tr>
<tr class="memitem:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">shouldShow</a><code> [get]</code></td></tr>
<tr class="separator:a82ab820cf160242bf434fb878404af55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">name</a><code> [get]</code></td></tr>
<tr class="separator:a41e1f05c77ea4da5e66b6065810d486c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>

