@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">IPurifyChamberHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberHelper Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberHelper</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#aaea76b0f11ca39e9e8cb898c08102d83">adjustOnInsert</a>(int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a79c6276cbd2e6fd3bcc899a65a47933a">GetPokemon</a>(IPurifyChamberSet chamber, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a195c6faebac8681c189727b44bd185e5">GetPokemon2</a>(IPurifyChamberSet chamber, int set, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#ae1fb0c083bbf0f000b0506fb2d7b8590">SetPokemon</a>(IPurifyChamberSet chamber, int position, int value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberHelper</a></td><td class="entry"></td></tr>
</table>
