@{
	Page.Title = "PokemonUnity.IPokemonBagScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml">IPokemonBagScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_bag_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonBagScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonBagScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_bag_screen.png" usemap="#PokemonUnity.IPokemonBagScreen_map" alt=""/>
  <map id="PokemonUnity.IPokemonBagScreen_map" name="PokemonUnity.IPokemonBagScreen_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,212,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aabe8e3fd37715addca936051b08ee038"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml">IPokemonBagScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#aabe8e3fd37715addca936051b08ee038">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">IPokemonBag_Scene</a> scene, Bag bag)</td></tr>
<tr class="separator:aabe8e3fd37715addca936051b08ee038"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2521abcaf05f385bcf119790f78808d1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a2521abcaf05f385bcf119790f78808d1">pbDisplay</a> (string text)</td></tr>
<tr class="separator:a2521abcaf05f385bcf119790f78808d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79e8469ea8d6ecac4e4305dca67871bd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a79e8469ea8d6ecac4e4305dca67871bd">pbConfirm</a> (string text)</td></tr>
<tr class="separator:a79e8469ea8d6ecac4e4305dca67871bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd3ff93b229211caea1e5d4d65a1d6f9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#acd3ff93b229211caea1e5d4d65a1d6f9">pbGiveItemScreen</a> ()</td></tr>
<tr class="separator:acd3ff93b229211caea1e5d4d65a1d6f9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c8e586a2ceba3acb5e10b539b4c87c8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a3c8e586a2ceba3acb5e10b539b4c87c8">pbUseItemScreen</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> pokemon)</td></tr>
<tr class="separator:a3c8e586a2ceba3acb5e10b539b4c87c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac566d6907006ae5e1a742507aca71503"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#ac566d6907006ae5e1a742507aca71503">pbChooseItemScreen</a> ()</td></tr>
<tr class="separator:ac566d6907006ae5e1a742507aca71503"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1492be27fdfccf75bcaff1c03f670946"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a1492be27fdfccf75bcaff1c03f670946">pbChooseBerryScreen</a> ()</td></tr>
<tr class="separator:a1492be27fdfccf75bcaff1c03f670946"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b8469b0f3e1fb1aa997e52d9c4a56b7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a5b8469b0f3e1fb1aa997e52d9c4a56b7">pbTossItemScreen</a> ()</td></tr>
<tr class="separator:a5b8469b0f3e1fb1aa997e52d9c4a56b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c29e1a09f7b597fe4a89db22adb0edc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a9c29e1a09f7b597fe4a89db22adb0edc">pbWithdrawItemScreen</a> ()</td></tr>
<tr class="separator:a9c29e1a09f7b597fe4a89db22adb0edc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad045bcd45b72cd02680194d2704accf0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#ad045bcd45b72cd02680194d2704accf0">pbDepositItemScreen</a> ()</td></tr>
<tr class="separator:ad045bcd45b72cd02680194d2704accf0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a793b48dbc875573251ea49b2caacf377"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml#a793b48dbc875573251ea49b2caacf377">pbStartScreen</a> ()</td></tr>
<tr class="separator:a793b48dbc875573251ea49b2caacf377"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aabe8e3fd37715addca936051b08ee038" name="aabe8e3fd37715addca936051b08ee038"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabe8e3fd37715addca936051b08ee038">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag_screen.cshtml">IPokemonBagScreen</a> PokemonUnity.IPokemonBagScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">IPokemonBag_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Bag&#160;</td>
          <td class="paramname"><em>bag</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1492be27fdfccf75bcaff1c03f670946" name="a1492be27fdfccf75bcaff1c03f670946"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1492be27fdfccf75bcaff1c03f670946">&#9670;&#160;</a></span>pbChooseBerryScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.IPokemonBagScreen.pbChooseBerryScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac566d6907006ae5e1a742507aca71503" name="ac566d6907006ae5e1a742507aca71503"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac566d6907006ae5e1a742507aca71503">&#9670;&#160;</a></span>pbChooseItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.IPokemonBagScreen.pbChooseItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a79e8469ea8d6ecac4e4305dca67871bd" name="a79e8469ea8d6ecac4e4305dca67871bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79e8469ea8d6ecac4e4305dca67871bd">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonBagScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad045bcd45b72cd02680194d2704accf0" name="ad045bcd45b72cd02680194d2704accf0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad045bcd45b72cd02680194d2704accf0">&#9670;&#160;</a></span>pbDepositItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonBagScreen.pbDepositItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2521abcaf05f385bcf119790f78808d1" name="a2521abcaf05f385bcf119790f78808d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2521abcaf05f385bcf119790f78808d1">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonBagScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acd3ff93b229211caea1e5d4d65a1d6f9" name="acd3ff93b229211caea1e5d4d65a1d6f9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd3ff93b229211caea1e5d4d65a1d6f9">&#9670;&#160;</a></span>pbGiveItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.IPokemonBagScreen.pbGiveItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a793b48dbc875573251ea49b2caacf377" name="a793b48dbc875573251ea49b2caacf377"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a793b48dbc875573251ea49b2caacf377">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.IPokemonBagScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5b8469b0f3e1fb1aa997e52d9c4a56b7" name="a5b8469b0f3e1fb1aa997e52d9c4a56b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b8469b0f3e1fb1aa997e52d9c4a56b7">&#9670;&#160;</a></span>pbTossItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonBagScreen.pbTossItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3c8e586a2ceba3acb5e10b539b4c87c8" name="a3c8e586a2ceba3acb5e10b539b4c87c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c8e586a2ceba3acb5e10b539b4c87c8">&#9670;&#160;</a></span>pbUseItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.IPokemonBagScreen.pbUseItemScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c29e1a09f7b597fe4a89db22adb0edc" name="a9c29e1a09f7b597fe4a89db22adb0edc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c29e1a09f7b597fe4a89db22adb0edc">&#9670;&#160;</a></span>pbWithdrawItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonBagScreen.pbWithdrawItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
