@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">ISpriteWindowCursorRect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteWindowCursorRect Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a252d3c15e5f8609fa2bcc33731ca99c0">empty</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8cd8f5fde54a365b927a090bb4cbd70d">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a11ce677a7e5e57fdd3c032d20a5a985a">initialize</a>(IWindow window)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a8646b82ec717c7c089e74c900c9273cc">isEmpty</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#ac577bcc862470fd3021e111755e3ca89">set</a>(float x, float y, float width, float height)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a3f0c77d9a2fafec54282f45ee30aadda">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#a54aea6ed93c01cb4885f1ed13e053fd5">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml#af1683566f7862d46bed076361c0b0c75">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window_cursor_rect.cshtml">PokemonEssentials.Interface.ISpriteWindowCursorRect</a></td><td class="entry"></td></tr>
</table>
