@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IRPGSprite Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">IRPGSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IRPGSprite Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IRPGSprite:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.png" usemap="#PokemonEssentials.Interface.IRPGSprite_map" alt=""/>
  <map id="PokemonEssentials.Interface.IRPGSprite_map" name="PokemonEssentials.Interface.IRPGSprite_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml" alt="PokemonEssentials.Interface.ISprite" shape="rect" coords="432,112,854,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_animation_sprite.cshtml" title="A sprite whose sole purpose is to display an animation. This sprite can be displayed anywhere on the ..." alt="PokemonEssentials.Interface.IAnimationSprite" shape="rect" coords="0,168,422,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_character.cshtml" alt="PokemonEssentials.Interface.ISpriteCharacter" shape="rect" coords="432,168,854,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml" alt="PokemonEssentials.Interface.ISpriteWrapper" shape="rect" coords="864,168,1286,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_clippable_sprite.cshtml" alt="PokemonEssentials.Interface.IClippableSprite" shape="rect" coords="432,224,854,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_animated_sprite.cshtml" alt="PokemonEssentials.Interface.IAnimatedSprite" shape="rect" coords="1296,224,1718,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap_sprite.cshtml" alt="PokemonEssentials.Interface.IBitmapSprite" shape="rect" coords="1296,280,1718,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_icon_sprite.cshtml" title="Displays an icon bitmap in a sprite. Supports animated images." alt="PokemonEssentials.Interface.IIconSprite" shape="rect" coords="1296,336,1718,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_icon_sprite.cshtml" title="Pokémon icon (for defined Pokémon)" alt="PokemonEssentials.Interface.IPokemonIconSprite" shape="rect" coords="1296,392,1718,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_species_icon_sprite.cshtml" title="Pokémon icon (for species)" alt="PokemonEssentials.Interface.IPokemonSpeciesIconSprite" shape="rect" coords="1296,448,1718,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_sprite.cshtml" title="Pokémon sprite (used out of battle)" alt="PokemonEssentials.Interface.IPokemonSprite" shape="rect" coords="1296,504,1718,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_changeling_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IChangelingSprite" shape="rect" coords="1296,560,1718,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_panel.cshtml" alt="PokemonEssentials.Interface.Screen.ILoadPanel" shape="rect" coords="1296,616,1718,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_move_selection_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IMoveSelectionSprite" shape="rect" coords="1296,672,1718,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_confirm_cancel_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionConfirmCancelSprite" shape="rect" coords="1296,728,1718,752"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_placeholder_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionPlaceholderSprite" shape="rect" coords="1296,784,1718,808"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionSprite" shape="rect" coords="1296,840,1718,864"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokegear_button.cshtml" alt="PokemonEssentials.Interface.Screen.IPokegearButton" shape="rect" coords="1296,896,1718,920"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_arrow.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxArrow" shape="rect" coords="1296,952,1718,976"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_party_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxPartySprite" shape="rect" coords="1296,1008,1718,1032"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxSprite" shape="rect" coords="1296,1064,1718,1088"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_data_box.cshtml" title="Data box for regular battles (both single and double)" alt="PokemonEssentials.Interface.Screen.IPokemonDataBox" shape="rect" coords="1296,1120,1718,1144"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set_view.cshtml" alt="PokemonEssentials.Interface.Screen.IPurifyChamberSetView" shape="rect" coords="1296,1176,1718,1200"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_safari_data_box.cshtml" title="Data box for safari battles" alt="PokemonEssentials.Interface.Screen.ISafariDataBox" shape="rect" coords="1296,1232,1718,1256"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a626240719b79463b8bb3567a14fc5889"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a626240719b79463b8bb3567a14fc5889">update</a> ()</td></tr>
<tr class="memdesc:a626240719b79463b8bb3567a14fc5889"><td class="mdescLeft">&#160;</td><td class="mdescRight">If a flash or wave is not needed, it is not necessary to call this.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a626240719b79463b8bb3567a14fc5889">More...</a><br /></td></tr>
<tr class="separator:a626240719b79463b8bb3567a14fc5889"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cbbe3690cd7be4f67d24968e94cc4b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a3cbbe3690cd7be4f67d24968e94cc4b1">flash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">color</a>, int duration)</td></tr>
<tr class="memdesc:a3cbbe3690cd7be4f67d24968e94cc4b1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Frees the sprite. If the sprite has already been freed, does nothing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a3cbbe3690cd7be4f67d24968e94cc4b1">More...</a><br /></td></tr>
<tr class="separator:a3cbbe3690cd7be4f67d24968e94cc4b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad876dd683adfb82a6cea735b03d28b45"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">IRPGSprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad876dd683adfb82a6cea735b03d28b45">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">viewport</a>=null)</td></tr>
<tr class="separator:ad876dd683adfb82a6cea735b03d28b45"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad01b4380b35287532a6eabd9d097be3a"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad01b4380b35287532a6eabd9d097be3a">angle</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad01b4380b35287532a6eabd9d097be3a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's angle of rotation. Specifies up to 360 degrees of counterclockwise rotation.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad01b4380b35287532a6eabd9d097be3a">More...</a><br /></td></tr>
<tr class="separator:ad01b4380b35287532a6eabd9d097be3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40ec912b9fffe644e2449886c4f639f0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a40ec912b9fffe644e2449886c4f639f0">blend_type</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a40ec912b9fffe644e2449886c4f639f0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the bitmap (Bitmap) used for the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a40ec912b9fffe644e2449886c4f639f0">More...</a><br /></td></tr>
<tr class="separator:a40ec912b9fffe644e2449886c4f639f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af456f0f14d99997cf3c5bcc1b7720560"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af456f0f14d99997cf3c5bcc1b7720560">bush_depth</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af456f0f14d99997cf3c5bcc1b7720560"><td class="mdescLeft">&#160;</td><td class="mdescRight">This can be used to represent something like characters' legs being hidden by bushes. For bush_depth, the number of pixels for the bush section is specified.The default value is 0.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af456f0f14d99997cf3c5bcc1b7720560">More...</a><br /></td></tr>
<tr class="separator:af456f0f14d99997cf3c5bcc1b7720560"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06f3cf1345b2da7c821167d5086da7b6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a06f3cf1345b2da7c821167d5086da7b6"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the sprite. Alpha values are used in the blending ratio.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">More...</a><br /></td></tr>
<tr class="separator:a06f3cf1345b2da7c821167d5086da7b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac017c1b2509b3c52fd3d9461866733ef"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac017c1b2509b3c52fd3d9461866733ef">disposed</a><code> [get]</code></td></tr>
<tr class="memdesc:ac017c1b2509b3c52fd3d9461866733ef"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns TRUE if the sprite has been freed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac017c1b2509b3c52fd3d9461866733ef">More...</a><br /></td></tr>
<tr class="separator:ac017c1b2509b3c52fd3d9461866733ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5adc2e9501437e8eb276208858947a9d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5adc2e9501437e8eb276208858947a9d">mirror</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5adc2e9501437e8eb276208858947a9d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Flag denoting the sprite has been flipped horizontally. If TRUE, the sprite will be drawn flipped.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5adc2e9501437e8eb276208858947a9d">More...</a><br /></td></tr>
<tr class="separator:a5adc2e9501437e8eb276208858947a9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea41a045c92ef650a15ddf5d6d6f48d3"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aea41a045c92ef650a15ddf5d6d6f48d3">opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aea41a045c92ef650a15ddf5d6d6f48d3"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's opacity (0-255). Values out of range are automatically corrected.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aea41a045c92ef650a15ddf5d6d6f48d3">More...</a><br /></td></tr>
<tr class="separator:aea41a045c92ef650a15ddf5d6d6f48d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f2e635b9645b8ee5ec52f4ea7244caf"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1f2e635b9645b8ee5ec52f4ea7244caf">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1f2e635b9645b8ee5ec52f4ea7244caf"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1f2e635b9645b8ee5ec52f4ea7244caf">More...</a><br /></td></tr>
<tr class="separator:a1f2e635b9645b8ee5ec52f4ea7244caf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9eeb948f584358591ebf0d4235daefc"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af9eeb948f584358591ebf0d4235daefc">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af9eeb948f584358591ebf0d4235daefc"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af9eeb948f584358591ebf0d4235daefc">More...</a><br /></td></tr>
<tr class="separator:af9eeb948f584358591ebf0d4235daefc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a026e21ab4aeabf8c68e20f3016d10ab1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a026e21ab4aeabf8c68e20f3016d10ab1">src_rect</a><code> [get, set]</code></td></tr>
<tr class="separator:a026e21ab4aeabf8c68e20f3016d10ab1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47350ac729cbaebc3c3c21277ddcf0c9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a47350ac729cbaebc3c3c21277ddcf0c9">tone</a><code> [get, set]</code></td></tr>
<tr class="separator:a47350ac729cbaebc3c3c21277ddcf0c9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1aa81cccddf9609b6831a5b3a473364e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1aa81cccddf9609b6831a5b3a473364e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the viewport (Viewport) associated with the sprite.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">More...</a><br /></td></tr>
<tr class="separator:a1aa81cccddf9609b6831a5b3a473364e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a041509919ae84b04c79473c63a562024"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a041509919ae84b04c79473c63a562024">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a041509919ae84b04c79473c63a562024"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's visibility. If TRUE, the sprite is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a041509919ae84b04c79473c63a562024">More...</a><br /></td></tr>
<tr class="separator:a041509919ae84b04c79473c63a562024"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27b83c161ee7d828b70e2b1bb3c3f47e"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27b83c161ee7d828b70e2b1bb3c3f47e">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27b83c161ee7d828b70e2b1bb3c3f47e"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27b83c161ee7d828b70e2b1bb3c3f47e">More...</a><br /></td></tr>
<tr class="separator:a27b83c161ee7d828b70e2b1bb3c3f47e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32ee91987527077947469ece13c81b0f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a32ee91987527077947469ece13c81b0f">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a32ee91987527077947469ece13c81b0f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a32ee91987527077947469ece13c81b0f">More...</a><br /></td></tr>
<tr class="separator:a32ee91987527077947469ece13c81b0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6163437482ffa43d22be401cefdf41a"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad6163437482ffa43d22be401cefdf41a">z</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad6163437482ffa43d22be401cefdf41a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Z-coordinate. The larger this value, the closer to the player the sprite will be displayed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad6163437482ffa43d22be401cefdf41a">More...</a><br /></td></tr>
<tr class="separator:ad6163437482ffa43d22be401cefdf41a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02da03cfe3e73005af894848d2e505c4"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a02da03cfe3e73005af894848d2e505c4">zoom_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a02da03cfe3e73005af894848d2e505c4"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a02da03cfe3e73005af894848d2e505c4">More...</a><br /></td></tr>
<tr class="separator:a02da03cfe3e73005af894848d2e505c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27f1940e9077546969489358e0583dc2"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27f1940e9077546969489358e0583dc2">zoom_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27f1940e9077546969489358e0583dc2"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27f1940e9077546969489358e0583dc2">More...</a><br /></td></tr>
<tr class="separator:a27f1940e9077546969489358e0583dc2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba13ccc41a77634c7c7ea82c504af307"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aba13ccc41a77634c7c7ea82c504af307">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aba13ccc41a77634c7c7ea82c504af307"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the width of the sprite. Equivalent to src_rect.width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aba13ccc41a77634c7c7ea82c504af307">More...</a><br /></td></tr>
<tr class="separator:aba13ccc41a77634c7c7ea82c504af307"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5633e7c126f18cf99dd13e09aa31d9a9"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5633e7c126f18cf99dd13e09aa31d9a9">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5633e7c126f18cf99dd13e09aa31d9a9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the height of the sprite. Equivalent to src_rect.height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5633e7c126f18cf99dd13e09aa31d9a9">More...</a><br /></td></tr>
<tr class="separator:a5633e7c126f18cf99dd13e09aa31d9a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a3cbbe3690cd7be4f67d24968e94cc4b1" name="a3cbbe3690cd7be4f67d24968e94cc4b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cbbe3690cd7be4f67d24968e94cc4b1">&#9670;&#160;</a></span>flash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IRPGSprite.flash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Frees the sprite. If the sprite has already been freed, does nothing.  </p>
<p >Begins flashing the sprite. duration specifies the number of frames the flash will last. If color is set to nil, the sprite will disappear while flashing.  </p><dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">color</td><td></td></tr>
    <tr><td class="paramname">duration</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a3f709df984508f892d045e0f174d92e0">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="ad876dd683adfb82a6cea735b03d28b45" name="ad876dd683adfb82a6cea735b03d28b45"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad876dd683adfb82a6cea735b03d28b45">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">IRPGSprite</a> PokemonEssentials.Interface.IRPGSprite.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_sprite.cshtml#a68b308e811a1afda5eb55e8c7f1e9ad5">PokemonEssentials.Interface.IPokemonSprite</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a10f68e847df54b72d0d91352abbfa015">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a626240719b79463b8bb3567a14fc5889" name="a626240719b79463b8bb3567a14fc5889"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a626240719b79463b8bb3567a14fc5889">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IRPGSprite.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>If a flash or wave is not needed, it is not necessary to call this.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_animated_sprite.cshtml#ac8e03617b19f30193973102680029541">PokemonEssentials.Interface.IAnimatedSprite</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_icon_sprite.cshtml#ab028529b21117ba906ee806e5bb0d84e">PokemonEssentials.Interface.IIconSprite</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad01b4380b35287532a6eabd9d097be3a" name="ad01b4380b35287532a6eabd9d097be3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad01b4380b35287532a6eabd9d097be3a">&#9670;&#160;</a></span>angle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.angle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's angle of rotation. Specifies up to 360 degrees of counterclockwise rotation.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a8b2263fdb7a85e4de94f784d66d0f1bf">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a40ec912b9fffe644e2449886c4f639f0" name="a40ec912b9fffe644e2449886c4f639f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40ec912b9fffe644e2449886c4f639f0">&#9670;&#160;</a></span>blend_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IRPGSprite.blend_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Refers to the bitmap (Bitmap) used for the sprite's starting point.  </p>
<p >The sprite's blending mode (0: normal, 1: addition, 2: subtraction).  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a85c4b4ccfa3e405749657ce089a85dc3">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="af456f0f14d99997cf3c5bcc1b7720560" name="af456f0f14d99997cf3c5bcc1b7720560"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af456f0f14d99997cf3c5bcc1b7720560">&#9670;&#160;</a></span>bush_depth</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IRPGSprite.bush_depth</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This can be used to represent something like characters' legs being hidden by bushes. For bush_depth, the number of pixels for the bush section is specified.The default value is 0.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ace9a946f8ba51b731c37094c670c9d2d">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a06f3cf1345b2da7c821167d5086da7b6" name="a06f3cf1345b2da7c821167d5086da7b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a06f3cf1345b2da7c821167d5086da7b6">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IRPGSprite.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The color (Color) to be blended with the sprite. Alpha values are used in the blending ratio.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a223eb0f2704431becb47549d5669f772">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="ac017c1b2509b3c52fd3d9461866733ef" name="ac017c1b2509b3c52fd3d9461866733ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac017c1b2509b3c52fd3d9461866733ef">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IRPGSprite.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns TRUE if the sprite has been freed.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ad88c77ed411a3bc9730f2c3e5e868473">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a5633e7c126f18cf99dd13e09aa31d9a9" name="a5633e7c126f18cf99dd13e09aa31d9a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5633e7c126f18cf99dd13e09aa31d9a9">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the height of the sprite. Equivalent to src_rect.height.  </p>

</div>
</div>
<a id="a5adc2e9501437e8eb276208858947a9d" name="a5adc2e9501437e8eb276208858947a9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5adc2e9501437e8eb276208858947a9d">&#9670;&#160;</a></span>mirror</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IRPGSprite.mirror</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Flag denoting the sprite has been flipped horizontally. If TRUE, the sprite will be drawn flipped.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#afab375aad0eaa1715110003ba9c34760">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="aea41a045c92ef650a15ddf5d6d6f48d3" name="aea41a045c92ef650a15ddf5d6d6f48d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea41a045c92ef650a15ddf5d6d6f48d3">&#9670;&#160;</a></span>opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's opacity (0-255). Values out of range are automatically corrected.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a8fd9456ec5b0666f70ad0779a8581117">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a1f2e635b9645b8ee5ec52f4ea7244caf" name="a1f2e635b9645b8ee5ec52f4ea7244caf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f2e635b9645b8ee5ec52f4ea7244caf">&#9670;&#160;</a></span>ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the sprite's starting point.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#adc10ad67bbec9e6fadf2880fadfa2d56">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="af9eeb948f584358591ebf0d4235daefc" name="af9eeb948f584358591ebf0d4235daefc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9eeb948f584358591ebf0d4235daefc">&#9670;&#160;</a></span>oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the sprite's starting point.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a0396d895e8f6f7e67728a8a86a3fe7ae">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a026e21ab4aeabf8c68e20f3016d10ab1" name="a026e21ab4aeabf8c68e20f3016d10ab1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a026e21ab4aeabf8c68e20f3016d10ab1">&#9670;&#160;</a></span>src_rect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> PokemonEssentials.Interface.IRPGSprite.src_rect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a411c4c3964e4d3e200a85c56f0f4df01">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a47350ac729cbaebc3c3c21277ddcf0c9" name="a47350ac729cbaebc3c3c21277ddcf0c9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a47350ac729cbaebc3c3c21277ddcf0c9">&#9670;&#160;</a></span>tone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.IRPGSprite.tone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a868d29742dc0c9ca612eb666fcaaee91">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a1aa81cccddf9609b6831a5b3a473364e" name="a1aa81cccddf9609b6831a5b3a473364e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1aa81cccddf9609b6831a5b3a473364e">&#9670;&#160;</a></span>viewport</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.IRPGSprite.viewport</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Refers to the viewport (Viewport) associated with the sprite.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ac93140ec70c1fd0f36f8dc5aba1ff923">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a041509919ae84b04c79473c63a562024" name="a041509919ae84b04c79473c63a562024"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a041509919ae84b04c79473c63a562024">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IRPGSprite.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's visibility. If TRUE, the sprite is visible.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a3987041c6540d48612b2d5c6555554fb">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="aba13ccc41a77634c7c7ea82c504af307" name="aba13ccc41a77634c7c7ea82c504af307"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba13ccc41a77634c7c7ea82c504af307">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the width of the sprite. Equivalent to src_rect.width.  </p>

</div>
</div>
<a id="a27b83c161ee7d828b70e2b1bb3c3f47e" name="a27b83c161ee7d828b70e2b1bb3c3f47e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27b83c161ee7d828b70e2b1bb3c3f47e">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's X-coordinate.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_icon_sprite.cshtml#a5fe38345627fc051a799a539a6249b11">PokemonEssentials.Interface.IPokemonIconSprite</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_species_icon_sprite.cshtml#ac0e8dfb29c2a75c780136e86048cca1e">PokemonEssentials.Interface.IPokemonSpeciesIconSprite</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a5f08ec604afcbd0548b23995aeb123d0">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a32ee91987527077947469ece13c81b0f" name="a32ee91987527077947469ece13c81b0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32ee91987527077947469ece13c81b0f">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Y-coordinate.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_icon_sprite.cshtml#abc5cda1f88c2dc86ae64b751f86f023e">PokemonEssentials.Interface.IPokemonIconSprite</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_species_icon_sprite.cshtml#a15cadb880cd8007ce6509151c9adf406">PokemonEssentials.Interface.IPokemonSpeciesIconSprite</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ad659dc22117e6b554c96ee9e6a926028">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="ad6163437482ffa43d22be401cefdf41a" name="ad6163437482ffa43d22be401cefdf41a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6163437482ffa43d22be401cefdf41a">&#9670;&#160;</a></span>z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.z</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Z-coordinate. The larger this value, the closer to the player the sprite will be displayed.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ae03352ff24a483bb02774f3ece9e157e">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a02da03cfe3e73005af894848d2e505c4" name="a02da03cfe3e73005af894848d2e505c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02da03cfe3e73005af894848d2e505c4">&#9670;&#160;</a></span>zoom_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.zoom_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's X-axis zoom level. 1.0 denotes actual pixel size.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#a4dc5afb2e6d71c82978a46551a2775ef">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<a id="a27f1940e9077546969489358e0583dc2" name="a27f1940e9077546969489358e0583dc2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27f1940e9077546969489358e0583dc2">&#9670;&#160;</a></span>zoom_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IRPGSprite.zoom_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Y-axis zoom level. 1.0 denotes actual pixel size.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml#ab65eedb190db1f6af6719d1c26e6c17d">PokemonEssentials.Interface.ISpriteWrapper</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
