@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">ISafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ISafariState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a291f9cef5f3a91e31eda89a2ea56e97d">ballcount</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a44baa51b13193efd41f8fe8b9f5458f6">decision</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#aa3b18658cdfb450cd95fac8466a1084b">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a8430b38acbd93e8e6097357a53c5eab5">InProgress</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#acb0b2b988b5797df794ab48fcb5fa3ae">pbEnd</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a6741acca183d7f20a3eadb8f64695928">pbGoToStart</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a5690f2e7b5d1642a21e88ce4200c2784">pbReceptionMap</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#a134d38f05da5242170bb96432648f37f">pbStart</a>(int ballcount)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml#aba00058e5a482421729034f6206c9922">steps</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Battle.ISafariState</a></td><td class="entry"></td></tr>
</table>