@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Field.IGameEventField Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml">IGameEventField</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameEventField Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa4fcdc5b34f69e6521040c7cc764b910"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml#aa4fcdc5b34f69e6521040c7cc764b910">cooledDown</a> (int seconds)</td></tr>
<tr class="separator:aa4fcdc5b34f69e6521040c7cc764b910"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae54f42544f27a6ec90ba60c246d7e32a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml#ae54f42544f27a6ec90ba60c246d7e32a">cooledDownDays</a> (int days)</td></tr>
<tr class="separator:ae54f42544f27a6ec90ba60c246d7e32a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aa4fcdc5b34f69e6521040c7cc764b910" name="aa4fcdc5b34f69e6521040c7cc764b910"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa4fcdc5b34f69e6521040c7cc764b910">&#9670;&#160;</a></span>cooledDown()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameEventField.cooledDown </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>seconds</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae54f42544f27a6ec90ba60c246d7e32a" name="ae54f42544f27a6ec90ba60c246d7e32a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae54f42544f27a6ec90ba60c246d7e32a">&#9670;&#160;</a></span>cooledDownDays()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameEventField.cooledDownDays </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>days</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_field_8cs.cshtml">IField.cs</a></li>
</ul>
