@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">IInterpreterFieldMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterFieldMixin Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a416a2d18b59fe653a1b52decc536f4b2">GetPokemon</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a032469a3fc960bea07dde22c686c1acf">getVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a3c7d166f10c256ce2abda101f288136c">Headbutt</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8fa3bd6b18a4cd687276db66c98a8831">PushThisBoulder</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a15eba420b63489ff9fc615952d2ca835">PushThisEvent</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a9a4d01d48d64bcf2f0b0c71ac4437891">SetEventTime</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a02409a08504c19e1bd1244fb025fca93">setTempSwitchOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#ac0ca0d7b9c18d12262b67a1ba323206e">setTempSwitchOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a445350fefeed72247b0c178d36d91652">setVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a77bbbf7630fccd1136fb449e3a0c9e45">TrainerEnd</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a54b2a6e5ccbddaf539f6af2eaecbf0b7">TrainerIntro</a>(TrainerTypes symbol)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8754899ecc965f0bcab59b5ef423634d">tsOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a24ff8630a97ee1bcf0895763206b5ae1">tsOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
