@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameBerryPlants Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_berry_plants.cshtml">IGameBerryPlants</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_berry_plants-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameBerryPlants Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a25da7ae3a5ae9e402930907f05c658d8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_berry_plants.cshtml#a25da7ae3a5ae9e402930907f05c658d8">pbBerryPlant</a> ()</td></tr>
<tr class="separator:a25da7ae3a5ae9e402930907f05c658d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a536d5a6e269b81f347642eba602ee552"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_berry_plants.cshtml#a536d5a6e269b81f347642eba602ee552">pbPickBerry</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> berry, int qty=1)</td></tr>
<tr class="separator:a536d5a6e269b81f347642eba602ee552"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a25da7ae3a5ae9e402930907f05c658d8" name="a25da7ae3a5ae9e402930907f05c658d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25da7ae3a5ae9e402930907f05c658d8">&#9670;&#160;</a></span>pbBerryPlant()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameBerryPlants.pbBerryPlant </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a536d5a6e269b81f347642eba602ee552" name="a536d5a6e269b81f347642eba602ee552"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a536d5a6e269b81f347642eba602ee552">&#9670;&#160;</a></span>pbPickBerry()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameBerryPlants.pbPickBerry </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>berry</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>qty</em> = <code>1</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_berry_plants_8cs.cshtml">IBerryPlants.cs</a></li>
</ul>
