@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml">INumberOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.INumberOption Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml">PokemonEssentials.Interface.Screen.INumberOption</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">get</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; int &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml#ab58003f655345ea36aafb2e07b5ebd57">initialize</a>(string name, int optstart, int optend, Func&lt; int, int &gt; getProc, Action&lt; int &gt; setProc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml">PokemonEssentials.Interface.Screen.INumberOption</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a44c39e2d8b17094289c3b93843b1d620">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a1d7eef4088ad21d190cc805d06f1c09f">next</a>(int current)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml#a26f9ec47694fd8b0f990b9e3fc3df72c">optend</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml">PokemonEssentials.Interface.Screen.INumberOption</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml#ac4a86efcc96658accfa57e410c66ec8a">optstart</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml">PokemonEssentials.Interface.Screen.INumberOption</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a891872de469e1c3d07a3a9bb40caab98">prev</a>(int current)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">set</a>(Action&lt; int &gt; value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; int &gt;</a></td><td class="entry"></td></tr>
</table>
