@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Monster.Data.IPokemonEvolution&lt; out T &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml">IPokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.IPokemonEvolution&lt; out T &gt; Interface Template Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Monster.Data.IPokemonEvolution&lt; out T &gt;:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac00668b77715ce2962d09f8c42bb4a04"><td class="memItemLeft" align="right" valign="top">T&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml#ac00668b77715ce2962d09f8c42bb4a04">EvolveValue</a><code> [get]</code></td></tr>
<tr class="separator:ac00668b77715ce2962d09f8c42bb4a04"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3dd1d3b8815f049a84a63b4c162178f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml#ab3dd1d3b8815f049a84a63b4c162178f">Species</a><code> [get]</code></td></tr>
<tr class="separator:ab3dd1d3b8815f049a84a63b4c162178f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08f14d15adb712c983775938e3f3bcd9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml#a08f14d15adb712c983775938e3f3bcd9">EvolveMethod</a><code> [get]</code></td></tr>
<tr class="separator:a08f14d15adb712c983775938e3f3bcd9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a08f14d15adb712c983775938e3f3bcd9" name="a08f14d15adb712c983775938e3f3bcd9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08f14d15adb712c983775938e3f3bcd9">&#9670;&#160;</a></span>EvolveMethod</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> <a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.IPokemonEvolution</a>&lt; out T &gt;.EvolveMethod</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac00668b77715ce2962d09f8c42bb4a04" name="ac00668b77715ce2962d09f8c42bb4a04"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac00668b77715ce2962d09f8c42bb4a04">&#9670;&#160;</a></span>EvolveValue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">T <a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.IPokemonEvolution</a>&lt; out T &gt;.EvolveValue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3dd1d3b8815f049a84a63b4c162178f" name="ab3dd1d3b8815f049a84a63b4c162178f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3dd1d3b8815f049a84a63b4c162178f">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> <a class="el" href="interface_pokemon_unity_1_1_monster_1_1_data_1_1_i_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.IPokemonEvolution</a>&lt; out T &gt;.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_evolution_8cs.cshtml">Evolution.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
