@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Field.IGameHiddenMoves Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml">IGameHiddenMoves</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameHiddenMoves Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4d2176434f084d90768ab4e8ddae6a5f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a4d2176434f084d90768ab4e8ddae6a5f">CanUseHiddenMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a4d2176434f084d90768ab4e8ddae6a5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec625225b9a73105ea794eecf9212496"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aec625225b9a73105ea794eecf9212496">UseHiddenMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:aec625225b9a73105ea794eecf9212496"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a014a93d8aa7c5cdcbbbbe0010d9a5092"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a014a93d8aa7c5cdcbbbbe0010d9a5092">HiddenMoveEvent</a> ()</td></tr>
<tr class="separator:a014a93d8aa7c5cdcbbbbe0010d9a5092"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99f5a16376186d3965039b757d7f8b2d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a99f5a16376186d3965039b757d7f8b2d">HiddenMoveAnimation</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a99f5a16376186d3965039b757d7f8b2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7107d07e135e6adade15748053e366cd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a7107d07e135e6adade15748053e366cd">Cut</a> ()</td></tr>
<tr class="separator:a7107d07e135e6adade15748053e366cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6fcbc27138565305fec8ecb88250b8a1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a6fcbc27138565305fec8ecb88250b8a1">HeadbuttEffect</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event)</td></tr>
<tr class="separator:a6fcbc27138565305fec8ecb88250b8a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4edd593ac3bfab95c71bb181b891c384"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a4edd593ac3bfab95c71bb181b891c384">Headbutt</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event)</td></tr>
<tr class="separator:a4edd593ac3bfab95c71bb181b891c384"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac235ed7f5a2a64bb2a5181c541350063"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#ac235ed7f5a2a64bb2a5181c541350063">RockSmashRandomEncounter</a> ()</td></tr>
<tr class="separator:ac235ed7f5a2a64bb2a5181c541350063"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1648d8c93ee3428c65d9f178e2692d8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aa1648d8c93ee3428c65d9f178e2692d8">RockSmash</a> ()</td></tr>
<tr class="separator:aa1648d8c93ee3428c65d9f178e2692d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb87d4b945662107a3d2855dd07303b0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#afb87d4b945662107a3d2855dd07303b0">Strength</a> ()</td></tr>
<tr class="separator:afb87d4b945662107a3d2855dd07303b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af263bf54bd34a5550b24a728d2f8ff3a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#af263bf54bd34a5550b24a728d2f8ff3a">Surf</a> ()</td></tr>
<tr class="separator:af263bf54bd34a5550b24a728d2f8ff3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d414a2b1cc4f426f70e3710d54b016c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a5d414a2b1cc4f426f70e3710d54b016c">StartSurfing</a> ()</td></tr>
<tr class="separator:a5d414a2b1cc4f426f70e3710d54b016c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e9b94f64d9e202ada35823d44b4af4d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a5e9b94f64d9e202ada35823d44b4af4d">EndSurf</a> (float xOffset, float yOffset)</td></tr>
<tr class="separator:a5e9b94f64d9e202ada35823d44b4af4d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68c8a082d145ae777600cc7f92747abb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a68c8a082d145ae777600cc7f92747abb">TransferSurfing</a> (int mapid, float xcoord, float ycoord, float direction)</td></tr>
<tr class="separator:a68c8a082d145ae777600cc7f92747abb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5efc94182acc74610198b5894a581fbb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a5efc94182acc74610198b5894a581fbb">AscendWaterfall</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null)</td></tr>
<tr class="separator:a5efc94182acc74610198b5894a581fbb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af53c4633deb816eeba705daf29a33724"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#af53c4633deb816eeba705daf29a33724">DescendWaterfall</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null)</td></tr>
<tr class="separator:af53c4633deb816eeba705daf29a33724"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7da3521da7674ce37e203403787c8e4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aa7da3521da7674ce37e203403787c8e4">Waterfall</a> ()</td></tr>
<tr class="separator:aa7da3521da7674ce37e203403787c8e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a936aa2320ae69d526cf0df877b1356fa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a936aa2320ae69d526cf0df877b1356fa">Dive</a> ()</td></tr>
<tr class="separator:a936aa2320ae69d526cf0df877b1356fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7dad1c73558c2c5c896ba4afdeac1a2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#ae7dad1c73558c2c5c896ba4afdeac1a2">Surfacing</a> ()</td></tr>
<tr class="separator:ae7dad1c73558c2c5c896ba4afdeac1a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac427e8a5cf4574751b72850c435f1cc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aac427e8a5cf4574751b72850c435f1cc">TransferUnderwater</a> (int mapid, float xcoord, float ycoord, float direction)</td></tr>
<tr class="separator:aac427e8a5cf4574751b72850c435f1cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:addf30df77ba6ab6603d09d81c7b6bf34"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#addf30df77ba6ab6603d09d81c7b6bf34">SweetScent</a> ()</td></tr>
<tr class="separator:addf30df77ba6ab6603d09d81c7b6bf34"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a705bc0d1c5492dc7b8ec29daccc666a1"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a705bc0d1c5492dc7b8ec29daccc666a1">OnAction</a></td></tr>
<tr class="memdesc:a705bc0d1c5492dc7b8ec29daccc666a1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Triggers when the player presses the Action button on the map.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a705bc0d1c5492dc7b8ec29daccc666a1">More...</a><br /></td></tr>
<tr class="separator:a705bc0d1c5492dc7b8ec29daccc666a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5efc94182acc74610198b5894a581fbb" name="a5efc94182acc74610198b5894a581fbb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5efc94182acc74610198b5894a581fbb">&#9670;&#160;</a></span>AscendWaterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.AscendWaterfall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4d2176434f084d90768ab4e8ddae6a5f" name="a4d2176434f084d90768ab4e8ddae6a5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4d2176434f084d90768ab4e8ddae6a5f">&#9670;&#160;</a></span>CanUseHiddenMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.CanUseHiddenMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7107d07e135e6adade15748053e366cd" name="a7107d07e135e6adade15748053e366cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7107d07e135e6adade15748053e366cd">&#9670;&#160;</a></span>Cut()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Cut </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af53c4633deb816eeba705daf29a33724" name="af53c4633deb816eeba705daf29a33724"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af53c4633deb816eeba705daf29a33724">&#9670;&#160;</a></span>DescendWaterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.DescendWaterfall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a936aa2320ae69d526cf0df877b1356fa" name="a936aa2320ae69d526cf0df877b1356fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a936aa2320ae69d526cf0df877b1356fa">&#9670;&#160;</a></span>Dive()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Dive </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5e9b94f64d9e202ada35823d44b4af4d" name="a5e9b94f64d9e202ada35823d44b4af4d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e9b94f64d9e202ada35823d44b4af4d">&#9670;&#160;</a></span>EndSurf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.EndSurf </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xOffset</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>yOffset</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4edd593ac3bfab95c71bb181b891c384" name="a4edd593ac3bfab95c71bb181b891c384"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4edd593ac3bfab95c71bb181b891c384">&#9670;&#160;</a></span>Headbutt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.Headbutt </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6fcbc27138565305fec8ecb88250b8a1" name="a6fcbc27138565305fec8ecb88250b8a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6fcbc27138565305fec8ecb88250b8a1">&#9670;&#160;</a></span>HeadbuttEffect()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.HeadbuttEffect </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a99f5a16376186d3965039b757d7f8b2d" name="a99f5a16376186d3965039b757d7f8b2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99f5a16376186d3965039b757d7f8b2d">&#9670;&#160;</a></span>HiddenMoveAnimation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.HiddenMoveAnimation </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a014a93d8aa7c5cdcbbbbe0010d9a5092" name="a014a93d8aa7c5cdcbbbbe0010d9a5092"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a014a93d8aa7c5cdcbbbbe0010d9a5092">&#9670;&#160;</a></span>HiddenMoveEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.HiddenMoveEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa1648d8c93ee3428c65d9f178e2692d8" name="aa1648d8c93ee3428c65d9f178e2692d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1648d8c93ee3428c65d9f178e2692d8">&#9670;&#160;</a></span>RockSmash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.RockSmash </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac235ed7f5a2a64bb2a5181c541350063" name="ac235ed7f5a2a64bb2a5181c541350063"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac235ed7f5a2a64bb2a5181c541350063">&#9670;&#160;</a></span>RockSmashRandomEncounter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.RockSmashRandomEncounter </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5d414a2b1cc4f426f70e3710d54b016c" name="a5d414a2b1cc4f426f70e3710d54b016c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d414a2b1cc4f426f70e3710d54b016c">&#9670;&#160;</a></span>StartSurfing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.StartSurfing </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afb87d4b945662107a3d2855dd07303b0" name="afb87d4b945662107a3d2855dd07303b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb87d4b945662107a3d2855dd07303b0">&#9670;&#160;</a></span>Strength()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Strength </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af263bf54bd34a5550b24a728d2f8ff3a" name="af263bf54bd34a5550b24a728d2f8ff3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af263bf54bd34a5550b24a728d2f8ff3a">&#9670;&#160;</a></span>Surf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Surf </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae7dad1c73558c2c5c896ba4afdeac1a2" name="ae7dad1c73558c2c5c896ba4afdeac1a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7dad1c73558c2c5c896ba4afdeac1a2">&#9670;&#160;</a></span>Surfacing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Surfacing </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="addf30df77ba6ab6603d09d81c7b6bf34" name="addf30df77ba6ab6603d09d81c7b6bf34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#addf30df77ba6ab6603d09d81c7b6bf34">&#9670;&#160;</a></span>SweetScent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.SweetScent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a68c8a082d145ae777600cc7f92747abb" name="a68c8a082d145ae777600cc7f92747abb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68c8a082d145ae777600cc7f92747abb">&#9670;&#160;</a></span>TransferSurfing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.TransferSurfing </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xcoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>ycoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>direction</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac427e8a5cf4574751b72850c435f1cc" name="aac427e8a5cf4574751b72850c435f1cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac427e8a5cf4574751b72850c435f1cc">&#9670;&#160;</a></span>TransferUnderwater()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.TransferUnderwater </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xcoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>ycoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>direction</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aec625225b9a73105ea794eecf9212496" name="aec625225b9a73105ea794eecf9212496"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec625225b9a73105ea794eecf9212496">&#9670;&#160;</a></span>UseHiddenMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.UseHiddenMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7da3521da7674ce37e203403787c8e4" name="aa7da3521da7674ce37e203403787c8e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7da3521da7674ce37e203403787c8e4">&#9670;&#160;</a></span>Waterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.Waterfall </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="a705bc0d1c5492dc7b8ec29daccc666a1" name="a705bc0d1c5492dc7b8ec29daccc666a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a705bc0d1c5492dc7b8ec29daccc666a1">&#9670;&#160;</a></span>OnAction</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Field.IGameHiddenMoves.OnAction</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Triggers when the player presses the Action button on the map.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_hidden_moves_8cs.cshtml">IHiddenMoves.cs</a></li>
</ul>

