@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">IAudioContext</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioContext Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">PokemonEssentials.Interface.IAudioContext</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a1ee9a40a0810dd930a010565117248ec">context</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">PokemonEssentials.Interface.IAudioContext</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a764a98fa39f81db6455cc918167e2f42">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">PokemonEssentials.Interface.IAudioContext</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a2a05220d40bc3959e4e2ca285278ae32">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">PokemonEssentials.Interface.IAudioContext</a></td><td class="entry"></td></tr>
</table>
