@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml">IEventPage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9d04628283114e893d0b1bc83c514882"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml">IEventPageCondition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a9d04628283114e893d0b1bc83c514882">condition</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a9d04628283114e893d0b1bc83c514882"><td class="mdescLeft">&#160;</td><td class="mdescRight">The event condition   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a9d04628283114e893d0b1bc83c514882">More...</a><br /></td></tr>
<tr class="separator:a9d04628283114e893d0b1bc83c514882"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cb78426aea6d50fa2cc66021e7e1791"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_graphic.cshtml">IEventPageGraphic</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a8cb78426aea6d50fa2cc66021e7e1791">graphic</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8cb78426aea6d50fa2cc66021e7e1791"><td class="mdescLeft">&#160;</td><td class="mdescRight">The event graphic   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a8cb78426aea6d50fa2cc66021e7e1791">More...</a><br /></td></tr>
<tr class="separator:a8cb78426aea6d50fa2cc66021e7e1791"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe635d69a7564baad92477b33f1dd5eb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#afe635d69a7564baad92477b33f1dd5eb">move_type</a><code> [get, set]</code></td></tr>
<tr class="memdesc:afe635d69a7564baad92477b33f1dd5eb"><td class="mdescLeft">&#160;</td><td class="mdescRight">Type of movement (0: fixed, 1: random, 2: approach, 3: custom).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#afe635d69a7564baad92477b33f1dd5eb">More...</a><br /></td></tr>
<tr class="separator:afe635d69a7564baad92477b33f1dd5eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70ad239a813e42a3e374fdbf87359d13"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a70ad239a813e42a3e374fdbf87359d13">move_speed</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a70ad239a813e42a3e374fdbf87359d13"><td class="mdescLeft">&#160;</td><td class="mdescRight">Movement speed (1: x8 slower, 2: x4 slower, 3: x2 slower, 4: normal, 5: x2 faster, 6: x4 faster).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a70ad239a813e42a3e374fdbf87359d13">More...</a><br /></td></tr>
<tr class="separator:a70ad239a813e42a3e374fdbf87359d13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af0ac63373ec673471f2d0a3017ec6ef0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#af0ac63373ec673471f2d0a3017ec6ef0">move_frequency</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af0ac63373ec673471f2d0a3017ec6ef0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Movement frequency (1: lowest, 2: lower, 3: normal, 4: higher, 5: highest).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#af0ac63373ec673471f2d0a3017ec6ef0">More...</a><br /></td></tr>
<tr class="separator:af0ac63373ec673471f2d0a3017ec6ef0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c0f8f11dd8628545ec243ffd0a9361b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_route.cshtml">IMoveRoute</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a0c0f8f11dd8628545ec243ffd0a9361b">move_route</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0c0f8f11dd8628545ec243ffd0a9361b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Movement route. Referenced only when the movement type is set to Custom. </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#afe635d69a7564baad92477b33f1dd5eb" title="Type of movement (0: fixed, 1: random, 2: approach, 3: custom).">move_type</a></dd></dl>
 <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a0c0f8f11dd8628545ec243ffd0a9361b">More...</a><br /></td></tr>
<tr class="separator:a0c0f8f11dd8628545ec243ffd0a9361b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ace664eae9b612a6213ecf46facd1bf"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a5ace664eae9b612a6213ecf46facd1bf">walk_anime</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5ace664eae9b612a6213ecf46facd1bf"><td class="mdescLeft">&#160;</td><td class="mdescRight">Truth value of the [Walking Anim.] option.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a5ace664eae9b612a6213ecf46facd1bf">More...</a><br /></td></tr>
<tr class="separator:a5ace664eae9b612a6213ecf46facd1bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af66034b68617596614ef349f24de8be9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#af66034b68617596614ef349f24de8be9">step_anime</a><code> [get, set]</code></td></tr>
<tr class="separator:af66034b68617596614ef349f24de8be9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f98626285f8756ad10bb1233f05a72f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a1f98626285f8756ad10bb1233f05a72f">direction_fix</a><code> [get, set]</code></td></tr>
<tr class="separator:a1f98626285f8756ad10bb1233f05a72f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a250afb00c969bc1b5568b162107e2d56"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a250afb00c969bc1b5568b162107e2d56">through</a><code> [get, set]</code></td></tr>
<tr class="separator:a250afb00c969bc1b5568b162107e2d56"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c3a8298c735e73df3627cb3c35c4eef"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a2c3a8298c735e73df3627cb3c35c4eef">priority_type</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2c3a8298c735e73df3627cb3c35c4eef"><td class="mdescLeft">&#160;</td><td class="mdescRight">Priority type (0: below characters, 1: same as characters, 2: above characters).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a2c3a8298c735e73df3627cb3c35c4eef">More...</a><br /></td></tr>
<tr class="separator:a2c3a8298c735e73df3627cb3c35c4eef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abda54622d5f9bd59bae7dcb9a6b3364d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#abda54622d5f9bd59bae7dcb9a6b3364d">trigger</a><code> [get, set]</code></td></tr>
<tr class="memdesc:abda54622d5f9bd59bae7dcb9a6b3364d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Event trigger (0: action button, 1: player touch, 2: event touch, 3: autorun, 4: parallel process).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#abda54622d5f9bd59bae7dcb9a6b3364d">More...</a><br /></td></tr>
<tr class="separator:abda54622d5f9bd59bae7dcb9a6b3364d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05952698fda2bee493754bb482b7e68b"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml">IEventCommand</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a05952698fda2bee493754bb482b7e68b">list</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a05952698fda2bee493754bb482b7e68b"><td class="mdescLeft">&#160;</td><td class="mdescRight">List of event commands.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#a05952698fda2bee493754bb482b7e68b">More...</a><br /></td></tr>
<tr class="separator:a05952698fda2bee493754bb482b7e68b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a9d04628283114e893d0b1bc83c514882" name="a9d04628283114e893d0b1bc83c514882"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d04628283114e893d0b1bc83c514882">&#9670;&#160;</a></span>condition</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml">IEventPageCondition</a> PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.condition</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The event condition  </p>

</div>
</div>
<a id="a1f98626285f8756ad10bb1233f05a72f" name="a1f98626285f8756ad10bb1233f05a72f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f98626285f8756ad10bb1233f05a72f">&#9670;&#160;</a></span>direction_fix</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.direction_fix</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8cb78426aea6d50fa2cc66021e7e1791" name="a8cb78426aea6d50fa2cc66021e7e1791"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8cb78426aea6d50fa2cc66021e7e1791">&#9670;&#160;</a></span>graphic</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_graphic.cshtml">IEventPageGraphic</a> PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.graphic</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The event graphic  </p>

</div>
</div>
<a id="a05952698fda2bee493754bb482b7e68b" name="a05952698fda2bee493754bb482b7e68b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05952698fda2bee493754bb482b7e68b">&#9670;&#160;</a></span>list</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml">IEventCommand</a>&gt; PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.list</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>List of event commands.  </p>

</div>
</div>
<a id="af0ac63373ec673471f2d0a3017ec6ef0" name="af0ac63373ec673471f2d0a3017ec6ef0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0ac63373ec673471f2d0a3017ec6ef0">&#9670;&#160;</a></span>move_frequency</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.move_frequency</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Movement frequency (1: lowest, 2: lower, 3: normal, 4: higher, 5: highest).  </p>

</div>
</div>
<a id="a0c0f8f11dd8628545ec243ffd0a9361b" name="a0c0f8f11dd8628545ec243ffd0a9361b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0c0f8f11dd8628545ec243ffd0a9361b">&#9670;&#160;</a></span>move_route</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_route.cshtml">IMoveRoute</a> PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.move_route</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Movement route. Referenced only when the movement type is set to Custom. </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml#afe635d69a7564baad92477b33f1dd5eb" title="Type of movement (0: fixed, 1: random, 2: approach, 3: custom).">move_type</a></dd></dl>
</p>

</div>
</div>
<a id="a70ad239a813e42a3e374fdbf87359d13" name="a70ad239a813e42a3e374fdbf87359d13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70ad239a813e42a3e374fdbf87359d13">&#9670;&#160;</a></span>move_speed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.move_speed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Movement speed (1: x8 slower, 2: x4 slower, 3: x2 slower, 4: normal, 5: x2 faster, 6: x4 faster).  </p>

</div>
</div>
<a id="afe635d69a7564baad92477b33f1dd5eb" name="afe635d69a7564baad92477b33f1dd5eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe635d69a7564baad92477b33f1dd5eb">&#9670;&#160;</a></span>move_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.move_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Type of movement (0: fixed, 1: random, 2: approach, 3: custom).  </p>

</div>
</div>
<a id="a2c3a8298c735e73df3627cb3c35c4eef" name="a2c3a8298c735e73df3627cb3c35c4eef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2c3a8298c735e73df3627cb3c35c4eef">&#9670;&#160;</a></span>priority_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.priority_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Priority type (0: below characters, 1: same as characters, 2: above characters).  </p>

</div>
</div>
<a id="af66034b68617596614ef349f24de8be9" name="af66034b68617596614ef349f24de8be9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af66034b68617596614ef349f24de8be9">&#9670;&#160;</a></span>step_anime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.step_anime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a250afb00c969bc1b5568b162107e2d56" name="a250afb00c969bc1b5568b162107e2d56"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a250afb00c969bc1b5568b162107e2d56">&#9670;&#160;</a></span>through</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.through</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abda54622d5f9bd59bae7dcb9a6b3364d" name="abda54622d5f9bd59bae7dcb9a6b3364d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abda54622d5f9bd59bae7dcb9a6b3364d">&#9670;&#160;</a></span>trigger</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.trigger</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Event trigger (0: action button, 1: player touch, 2: event touch, 3: autorun, 4: parallel process).  </p>

</div>
</div>
<a id="a5ace664eae9b612a6213ecf46facd1bf" name="a5ace664eae9b612a6213ecf46facd1bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ace664eae9b612a6213ecf46facd1bf">&#9670;&#160;</a></span>walk_anime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPage.walk_anime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Truth value of the [Walking Anim.] option.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
