@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">IPokemonMegaEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a98134994b413ebd4b560ab8e3f8578cb">hasMegaForm</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a5308f36255768e582971af602ad0395c">hasPrimalForm</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a8004410bbebbdd13760d00f5d251b6d3">isMega</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#af3811289df119d23106ba5969697bce9">isPrimal</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a16da35ac274d9afd434bcc67591ba3ac">makeMega</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#afd1923fdc32a0ef09dbadfbaa5e42e61">makePrimal</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a90683cf6c7b6d74abb7982363182b527">makeUnmega</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a69abb2990e3e79c77a23a9a1ff2f49fe">makeUnprimal</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#a4e33fc426238d071b2b8ab5b098befdd">megaMessage</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml#aef073e97f38487e7c5f061d62b0df52f">megaName</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_mega_evolution.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemonMegaEvolution</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
