@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IBitmap Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#a3a226f1781f6e06ec2bd6be959ba643c">address</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#a87a76bbaf9042d8e4917be98de424771">asOpaque</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#a670b0aa786f694fe2bcf9293d123abc5">getData</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#a64599b68a0cea5b991d64f9dc0b30fe9">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#ad04ec076b8e0be2deeed7a05c1a31fc1">saveToPng</a>(string filename)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#a6f5491fd31d5c38cf976edf9f3fb32da">setData</a>(byte[] x)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#ac0305bb33c178ee190f87d4d2c8e7569">swap32</a>(byte x)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml#af9e87795dc285c2ca6d28edd2163e246">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">PokemonEssentials.Interface.IBitmap</a></td><td class="entry"></td></tr>
</table>
