@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml">IPokemonPokedex</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonPokedex Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml">PokemonUnity.IPokemonPokedex</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml#af5fca23a6b40fd1e0187417306b2269d">initialize</a>(IPokemonPokedexScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml">PokemonUnity.IPokemonPokedex</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml#abfcd68553ac1a37cbebbdc9223d9377b">pbDexEntry</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml">PokemonUnity.IPokemonPokedex</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml#a19cf0ae8e5fd2d179eb8bd53fcfec9aa">pbStartScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_pokedex.cshtml">PokemonUnity.IPokemonPokedex</a></td><td class="entry"></td></tr>
</table>