@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">IInterpreterMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterMessage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">PokemonEssentials.Interface.IInterpreterMessage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml#a873390a60c0b37d0e28431889e84f1bb">command_101</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">PokemonEssentials.Interface.IInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml#ad1a7e0fdd09f8c3fd01d0ec79cd4c4ed">command_102</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">PokemonEssentials.Interface.IInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml#a38b384124d16cb1c14266bf189eff362">command_103</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">PokemonEssentials.Interface.IInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml#a7ba6e73f667f8615a87cc37c7fee518e">command_105</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_message.cshtml">PokemonEssentials.Interface.IInterpreterMessage</a></td><td class="entry"></td></tr>
</table>
