@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">IPokemonFormScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonFormScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#ab372d7e3e5ea04c41335cf5ef9cdef03">pbChooseForm</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#ab4ca85ee26e91fac808f872b8505f3c6">pbControls</a>(int listlimits)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#a4df20c15d6938f7e4c20c1267a6d8a78">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#a28a26ca019510774028f5db1f5d4b36a">pbGetAvailable</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#ad595e9fa7355831c1245fae16597d3f9">pbGetCommands</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#a4760186144da06bc92639415d9285acb">pbStartScene</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml#af5e5e389c90a7b12285b7a5597c958e6">pbUpdate</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">PokemonUnity.IPokemonFormScene</a></td><td class="entry"></td></tr>
</table>