@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Item.IPokeRadarMetaData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">IPokeRadarMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IPokeRadarMetaData Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a8bdec07d52b07f47b3678c39b34fb05a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml">IPokeRadarGrassData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#a8bdec07d52b07f47b3678c39b34fb05a">Grass</a><code> [get]</code></td></tr>
<tr class="separator:a8bdec07d52b07f47b3678c39b34fb05a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae9a30b323a2ed25b56e0690a1d84a37a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#ae9a30b323a2ed25b56e0690a1d84a37a">ChainCount</a><code> [get]</code></td></tr>
<tr class="separator:ae9a30b323a2ed25b56e0690a1d84a37a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e0faf452b2d29556ac4112833f38b3d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#a9e0faf452b2d29556ac4112833f38b3d">Species</a><code> [get]</code></td></tr>
<tr class="separator:a9e0faf452b2d29556ac4112833f38b3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac1b30d77cda108d87ca233009ac7f76"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#aac1b30d77cda108d87ca233009ac7f76">Level</a><code> [get]</code></td></tr>
<tr class="separator:aac1b30d77cda108d87ca233009ac7f76"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae9a30b323a2ed25b56e0690a1d84a37a" name="ae9a30b323a2ed25b56e0690a1d84a37a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae9a30b323a2ed25b56e0690a1d84a37a">&#9670;&#160;</a></span>ChainCount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarMetaData.ChainCount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8bdec07d52b07f47b3678c39b34fb05a" name="a8bdec07d52b07f47b3678c39b34fb05a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bdec07d52b07f47b3678c39b34fb05a">&#9670;&#160;</a></span>Grass</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml">IPokeRadarGrassData</a> [] PokemonEssentials.Interface.Item.IPokeRadarMetaData.Grass</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aac1b30d77cda108d87ca233009ac7f76" name="aac1b30d77cda108d87ca233009ac7f76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac1b30d77cda108d87ca233009ac7f76">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarMetaData.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9e0faf452b2d29556ac4112833f38b3d" name="a9e0faf452b2d29556ac4112833f38b3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e0faf452b2d29556ac4112833f38b3d">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.Item.IPokeRadarMetaData.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></li>
</ul>

