@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattlerEffect Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml">IBattlerEffect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerEffect Interface Reference</div></div>
}


<p>Partial extension of existing entity </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattlerEffect:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map" name="PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map">
<area href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml" title="A Pokemon placeholder class to be used while in-battle, to prevent changes from being permanent to or..." alt="PokemonUnity.Combat.Pokemon" shape="rect" coords="0,56,312,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a44dd8dc99d353273ae733ca8fb515c0e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a44dd8dc99d353273ae733ca8fb515c0e">pbCanSleep</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool ignorestatus=false)</td></tr>
<tr class="separator:a44dd8dc99d353273ae733ca8fb515c0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10d05e60015572dfba75272fef0b1cc5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a10d05e60015572dfba75272fef0b1cc5">pbCanSleepYawn</a> ()</td></tr>
<tr class="separator:a10d05e60015572dfba75272fef0b1cc5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a992f95fe33724df3baf2866b83b5bf70"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a992f95fe33724df3baf2866b83b5bf70">pbSleep</a> (string msg=null)</td></tr>
<tr class="separator:a992f95fe33724df3baf2866b83b5bf70"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ffd64e832eefe471959ad64c14c8d74"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a7ffd64e832eefe471959ad64c14c8d74">pbSleepSelf</a> (int duration=-1)</td></tr>
<tr class="separator:a7ffd64e832eefe471959ad64c14c8d74"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a799dba42e6929c3bfd8157fb97eb8ced"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a799dba42e6929c3bfd8157fb97eb8ced">pbCanPoison</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a799dba42e6929c3bfd8157fb97eb8ced"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8121885d092567c52b8f0d6c2a77705"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad8121885d092567c52b8f0d6c2a77705">pbCanPoisonSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:ad8121885d092567c52b8f0d6c2a77705"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad977b8996fb7d4650681a5e8a115984"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aad977b8996fb7d4650681a5e8a115984">pbCanPoisonSpikes</a> (bool moldbreaker=false)</td></tr>
<tr class="separator:aad977b8996fb7d4650681a5e8a115984"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aadd77df8302536afe81b6b0d4d6a69bf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aadd77df8302536afe81b6b0d4d6a69bf">pbPoison</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null, bool toxic=false)</td></tr>
<tr class="separator:aadd77df8302536afe81b6b0d4d6a69bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b4c4fbbe6da110951641cd3b8311dfd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a2b4c4fbbe6da110951641cd3b8311dfd">pbCanBurn</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a2b4c4fbbe6da110951641cd3b8311dfd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae67ef0181eeeb1b7d9f5267b409e5ab"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aae67ef0181eeeb1b7d9f5267b409e5ab">pbCanBurnSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:aae67ef0181eeeb1b7d9f5267b409e5ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9552da624dc1567ff376e5c4e9d3dd6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ac9552da624dc1567ff376e5c4e9d3dd6">pbBurn</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:ac9552da624dc1567ff376e5c4e9d3dd6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a126ae7c72db89c86b8194a44b1789e67"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a126ae7c72db89c86b8194a44b1789e67">pbCanParalyze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a126ae7c72db89c86b8194a44b1789e67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a548da9e545042fef0ac0271cb16b7d8e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a548da9e545042fef0ac0271cb16b7d8e">pbCanParalyzeSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a548da9e545042fef0ac0271cb16b7d8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8fbd7c314efd9abca24ed669c37810a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad8fbd7c314efd9abca24ed669c37810a">pbParalyze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:ad8fbd7c314efd9abca24ed669c37810a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3da8bfffd228f93db76ac872a9af7ce3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3da8bfffd228f93db76ac872a9af7ce3">pbCanFreeze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a3da8bfffd228f93db76ac872a9af7ce3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d799d95f0c8ae67f45e7afce657b0c5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a0d799d95f0c8ae67f45e7afce657b0c5">pbFreeze</a> (string msg=null)</td></tr>
<tr class="separator:a0d799d95f0c8ae67f45e7afce657b0c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8aaaaed8a9a8eef8cc065df77b56ce74"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a8aaaaed8a9a8eef8cc065df77b56ce74">pbContinueStatus</a> (bool showAnim=true)</td></tr>
<tr class="separator:a8aaaaed8a9a8eef8cc065df77b56ce74"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd314d06f9396f06392a8252b2212a31"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#afd314d06f9396f06392a8252b2212a31">pbCureStatus</a> (bool showMessages=true)</td></tr>
<tr class="separator:afd314d06f9396f06392a8252b2212a31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a855d525388bdc0264ba2679abee2cee7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a855d525388bdc0264ba2679abee2cee7">pbCanConfuse</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=true, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a855d525388bdc0264ba2679abee2cee7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a469da705a27fb197efc5e4fccf0d18ff"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a469da705a27fb197efc5e4fccf0d18ff">pbCanConfuseSelf</a> (bool showMessages)</td></tr>
<tr class="separator:a469da705a27fb197efc5e4fccf0d18ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d961964045156c09c355d030efd1500"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a6d961964045156c09c355d030efd1500">pbConfuse</a> ()</td></tr>
<tr class="separator:a6d961964045156c09c355d030efd1500"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d608774cbb49cf312498363112da212"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a8d608774cbb49cf312498363112da212">pbConfuseSelf</a> ()</td></tr>
<tr class="separator:a8d608774cbb49cf312498363112da212"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e9e8e51a4c0d06dfde06f6c4b4bd7f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a2e9e8e51a4c0d06dfde06f6c4b4bd7f8">pbContinueConfusion</a> ()</td></tr>
<tr class="separator:a2e9e8e51a4c0d06dfde06f6c4b4bd7f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ed9428a86443b2bc0fb0ed27364b419"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a6ed9428a86443b2bc0fb0ed27364b419">pbCureConfusion</a> (bool showMessages=true)</td></tr>
<tr class="separator:a6ed9428a86443b2bc0fb0ed27364b419"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a528605a5f40f5530ce2d09e98aa6b6fb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a528605a5f40f5530ce2d09e98aa6b6fb">pbCanAttract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages=true)</td></tr>
<tr class="separator:a528605a5f40f5530ce2d09e98aa6b6fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9a438046fa4324198dc0afcdd5bb41d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad9a438046fa4324198dc0afcdd5bb41d">pbAttract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:ad9a438046fa4324198dc0afcdd5bb41d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e653da2ca75cfa9cc42962245fd9b86"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3e653da2ca75cfa9cc42962245fd9b86">pbAnnounceAttract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> seducer)</td></tr>
<tr class="separator:a3e653da2ca75cfa9cc42962245fd9b86"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab42b752c1fea5d01f335bce5b9b5fd3c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ab42b752c1fea5d01f335bce5b9b5fd3c">pbContinueAttract</a> ()</td></tr>
<tr class="separator:ab42b752c1fea5d01f335bce5b9b5fd3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0035f45ecadbfbb1414c03e1be7c67d9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a0035f45ecadbfbb1414c03e1be7c67d9">pbCureAttract</a> ()</td></tr>
<tr class="separator:a0035f45ecadbfbb1414c03e1be7c67d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11cbd96dd1100b679b5c04b0532c27b8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a11cbd96dd1100b679b5c04b0532c27b8">pbFlinch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker)</td></tr>
<tr class="separator:a11cbd96dd1100b679b5c04b0532c27b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a823964cdf4785fac884dec8fdc6e1358"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a823964cdf4785fac884dec8fdc6e1358">pbTooHigh</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat)</td></tr>
<tr class="separator:a823964cdf4785fac884dec8fdc6e1358"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab98ce8d5288036afb059a95f5d0e7044"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ab98ce8d5288036afb059a95f5d0e7044">pbCanIncreaseStatStage</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=false, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:ab98ce8d5288036afb059a95f5d0e7044"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad72dece3c637e2e7067cec9f3e39a365"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad72dece3c637e2e7067cec9f3e39a365">pbIncreaseStatBasic</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:ad72dece3c637e2e7067cec9f3e39a365"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab8ed5d6ed945d413fa90de4b5c7e65d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aab8ed5d6ed945d413fa90de4b5c7e65d">pbIncreaseStat</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool upanim=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:aab8ed5d6ed945d413fa90de4b5c7e65d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7bfb0fd45b1a5b991609e8b4f192c25"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ac7bfb0fd45b1a5b991609e8b4f192c25">pbIncreaseStatWithCause</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string cause, bool showanim=true, bool showmessage=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:ac7bfb0fd45b1a5b991609e8b4f192c25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fb92cc783ab32304ee0a4b0411974db"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3fb92cc783ab32304ee0a4b0411974db">pbTooLow</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat)</td></tr>
<tr class="separator:a3fb92cc783ab32304ee0a4b0411974db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aabd88341c7b80f83615befc2679d306e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aabd88341c7b80f83615befc2679d306e">pbCanReduceStatStage</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=false, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="memdesc:aabd88341c7b80f83615befc2679d306e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Tickle (Moves.TICKLE) and Noble Roar (Moves.NOBLE_ROAR) can't use this, but replicate it instead. (Reason is they lowers more than 1 stat independently, and therefore could show certain messages twice which is undesirable.)   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aabd88341c7b80f83615befc2679d306e">More...</a><br /></td></tr>
<tr class="separator:aabd88341c7b80f83615befc2679d306e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5bb24a668adb83d8a7f5b491094c0a2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aa5bb24a668adb83d8a7f5b491094c0a2">pbReduceStatBasic</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:aa5bb24a668adb83d8a7f5b491094c0a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac4306820fa5fcabd3bc08aab6c3072b6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ac4306820fa5fcabd3bc08aab6c3072b6">pbReduceStat</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool downanim=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:ac4306820fa5fcabd3bc08aab6c3072b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e6cb9dc81ff73fd6a082f2a9a41e5cd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a0e6cb9dc81ff73fd6a082f2a9a41e5cd">pbReduceStatWithCause</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string cause, bool showanim=true, bool showmessage=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:a0e6cb9dc81ff73fd6a082f2a9a41e5cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a854c3d22f35f147034f370e4ba81fcf8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a854c3d22f35f147034f370e4ba81fcf8">pbReduceAttackStatIntimidate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a854c3d22f35f147034f370e4ba81fcf8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Partial extension of existing entity </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a3e653da2ca75cfa9cc42962245fd9b86" name="a3e653da2ca75cfa9cc42962245fd9b86"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e653da2ca75cfa9cc42962245fd9b86">&#9670;&#160;</a></span>pbAnnounceAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbAnnounceAttract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>seducer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a1f0d641fb187d47b0e4c1ced76631e14">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad9a438046fa4324198dc0afcdd5bb41d" name="ad9a438046fa4324198dc0afcdd5bb41d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9a438046fa4324198dc0afcdd5bb41d">&#9670;&#160;</a></span>pbAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbAttract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a859ea521025ee276b441c26d09ec972e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ac9552da624dc1567ff376e5c4e9d3dd6" name="ac9552da624dc1567ff376e5c4e9d3dd6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9552da624dc1567ff376e5c4e9d3dd6">&#9670;&#160;</a></span>pbBurn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbBurn </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a69e83e5fad2f0687929870b9b4c3144c">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a528605a5f40f5530ce2d09e98aa6b6fb" name="a528605a5f40f5530ce2d09e98aa6b6fb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a528605a5f40f5530ce2d09e98aa6b6fb">&#9670;&#160;</a></span>pbCanAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanAttract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a485e4449e5abfe3d897da611b5ab0b8d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a2b4c4fbbe6da110951641cd3b8311dfd" name="a2b4c4fbbe6da110951641cd3b8311dfd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b4c4fbbe6da110951641cd3b8311dfd">&#9670;&#160;</a></span>pbCanBurn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanBurn </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3f35af6e324bbdb1f79a5cb667e599e3">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aae67ef0181eeeb1b7d9f5267b409e5ab" name="aae67ef0181eeeb1b7d9f5267b409e5ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae67ef0181eeeb1b7d9f5267b409e5ab">&#9670;&#160;</a></span>pbCanBurnSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanBurnSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a59cb1e9f6a7b7d4150f318930256be61">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a855d525388bdc0264ba2679abee2cee7" name="a855d525388bdc0264ba2679abee2cee7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a855d525388bdc0264ba2679abee2cee7">&#9670;&#160;</a></span>pbCanConfuse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanConfuse </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#abd8eab479ca33eba3cd07e9017b07342">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a469da705a27fb197efc5e4fccf0d18ff" name="a469da705a27fb197efc5e4fccf0d18ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a469da705a27fb197efc5e4fccf0d18ff">&#9670;&#160;</a></span>pbCanConfuseSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanConfuseSelf </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#af164483d81785cd85db3a3cf90de2a2e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3da8bfffd228f93db76ac872a9af7ce3" name="a3da8bfffd228f93db76ac872a9af7ce3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3da8bfffd228f93db76ac872a9af7ce3">&#9670;&#160;</a></span>pbCanFreeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanFreeze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a35b6c8bdbd750ea4644f786e33787f15">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ab98ce8d5288036afb059a95f5d0e7044" name="ab98ce8d5288036afb059a95f5d0e7044"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab98ce8d5288036afb059a95f5d0e7044">&#9670;&#160;</a></span>pbCanIncreaseStatStage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanIncreaseStatStage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a31d54731a45b08c42d555f5ed238a100">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a126ae7c72db89c86b8194a44b1789e67" name="a126ae7c72db89c86b8194a44b1789e67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a126ae7c72db89c86b8194a44b1789e67">&#9670;&#160;</a></span>pbCanParalyze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanParalyze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a9d4fc8eb22765f532577e67aded91a04">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a548da9e545042fef0ac0271cb16b7d8e" name="a548da9e545042fef0ac0271cb16b7d8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a548da9e545042fef0ac0271cb16b7d8e">&#9670;&#160;</a></span>pbCanParalyzeSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanParalyzeSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a069959845d305bb3d333b8ddb5bd1f34">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a799dba42e6929c3bfd8157fb97eb8ced" name="a799dba42e6929c3bfd8157fb97eb8ced"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a799dba42e6929c3bfd8157fb97eb8ced">&#9670;&#160;</a></span>pbCanPoison()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanPoison </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aad52b32d99857ddc1ce2c1d9e70e60b0">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aad977b8996fb7d4650681a5e8a115984" name="aad977b8996fb7d4650681a5e8a115984"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad977b8996fb7d4650681a5e8a115984">&#9670;&#160;</a></span>pbCanPoisonSpikes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanPoisonSpikes </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a9a4ca12d15e328e2bdf9a403e7c2d165">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad8121885d092567c52b8f0d6c2a77705" name="ad8121885d092567c52b8f0d6c2a77705"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8121885d092567c52b8f0d6c2a77705">&#9670;&#160;</a></span>pbCanPoisonSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanPoisonSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a5666c186425019649430a37d8f52bae3">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aabd88341c7b80f83615befc2679d306e" name="aabd88341c7b80f83615befc2679d306e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabd88341c7b80f83615befc2679d306e">&#9670;&#160;</a></span>pbCanReduceStatStage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanReduceStatStage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Tickle (Moves.TICKLE) and Noble Roar (Moves.NOBLE_ROAR) can't use this, but replicate it instead. (Reason is they lowers more than 1 stat independently, and therefore could show certain messages twice which is undesirable.)  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">stat</td><td></td></tr>
    <tr><td class="paramname">attacker</td><td></td></tr>
    <tr><td class="paramname">showMessages</td><td></td></tr>
    <tr><td class="paramname">move</td><td></td></tr>
    <tr><td class="paramname">moldbreaker</td><td></td></tr>
    <tr><td class="paramname">ignoreContrary</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3661ae322149bb9e5aa924856375d7f0">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a44dd8dc99d353273ae733ca8fb515c0e" name="a44dd8dc99d353273ae733ca8fb515c0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44dd8dc99d353273ae733ca8fb515c0e">&#9670;&#160;</a></span>pbCanSleep()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanSleep </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignorestatus</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ad7df06566faf753207227980bb2c441f">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a10d05e60015572dfba75272fef0b1cc5" name="a10d05e60015572dfba75272fef0b1cc5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10d05e60015572dfba75272fef0b1cc5">&#9670;&#160;</a></span>pbCanSleepYawn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCanSleepYawn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a109cd423cc9e748755835614494aff76">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a6d961964045156c09c355d030efd1500" name="a6d961964045156c09c355d030efd1500"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d961964045156c09c355d030efd1500">&#9670;&#160;</a></span>pbConfuse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbConfuse </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a304ee14a746a385bca9d5e0033cda430">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a8d608774cbb49cf312498363112da212" name="a8d608774cbb49cf312498363112da212"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d608774cbb49cf312498363112da212">&#9670;&#160;</a></span>pbConfuseSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbConfuseSelf </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a143c4960f81a60d4a738da9c2d5cb544">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ab42b752c1fea5d01f335bce5b9b5fd3c" name="ab42b752c1fea5d01f335bce5b9b5fd3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab42b752c1fea5d01f335bce5b9b5fd3c">&#9670;&#160;</a></span>pbContinueAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbContinueAttract </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a86772b4839d740760a4118234d529d33">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a2e9e8e51a4c0d06dfde06f6c4b4bd7f8" name="a2e9e8e51a4c0d06dfde06f6c4b4bd7f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e9e8e51a4c0d06dfde06f6c4b4bd7f8">&#9670;&#160;</a></span>pbContinueConfusion()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbContinueConfusion </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a9c4ce13bd16ef55e96e2cd9b98e38232">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a8aaaaed8a9a8eef8cc065df77b56ce74" name="a8aaaaed8a9a8eef8cc065df77b56ce74"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8aaaaed8a9a8eef8cc065df77b56ce74">&#9670;&#160;</a></span>pbContinueStatus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbContinueStatus </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showAnim</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0443889f605e40fa339cf8d1020f3ae7">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a0035f45ecadbfbb1414c03e1be7c67d9" name="a0035f45ecadbfbb1414c03e1be7c67d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0035f45ecadbfbb1414c03e1be7c67d9">&#9670;&#160;</a></span>pbCureAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCureAttract </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ab52c4446ae58f77baba5180e2196d26c">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a6ed9428a86443b2bc0fb0ed27364b419" name="a6ed9428a86443b2bc0fb0ed27364b419"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ed9428a86443b2bc0fb0ed27364b419">&#9670;&#160;</a></span>pbCureConfusion()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCureConfusion </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3e559755e683cac0527f18391b9a546b">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="afd314d06f9396f06392a8252b2212a31" name="afd314d06f9396f06392a8252b2212a31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd314d06f9396f06392a8252b2212a31">&#9670;&#160;</a></span>pbCureStatus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbCureStatus </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a52967fec83cf1f4e4d8374f169f2fb97">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a11cbd96dd1100b679b5c04b0532c27b8" name="a11cbd96dd1100b679b5c04b0532c27b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11cbd96dd1100b679b5c04b0532c27b8">&#9670;&#160;</a></span>pbFlinch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbFlinch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ac55f7b48b5fa0cf963b0a002c881822b">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a0d799d95f0c8ae67f45e7afce657b0c5" name="a0d799d95f0c8ae67f45e7afce657b0c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d799d95f0c8ae67f45e7afce657b0c5">&#9670;&#160;</a></span>pbFreeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbFreeze </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#abb0f2cdefb8cff0ef2b18ae479ed8e54">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aab8ed5d6ed945d413fa90de4b5c7e65d" name="aab8ed5d6ed945d413fa90de4b5c7e65d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab8ed5d6ed945d413fa90de4b5c7e65d">&#9670;&#160;</a></span>pbIncreaseStat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbIncreaseStat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>upanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0edce494397e1a8e05a660b821a20d31">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad72dece3c637e2e7067cec9f3e39a365" name="ad72dece3c637e2e7067cec9f3e39a365"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad72dece3c637e2e7067cec9f3e39a365">&#9670;&#160;</a></span>pbIncreaseStatBasic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbIncreaseStatBasic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a12336ad6879328c15cd0f78995cc73ad">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ac7bfb0fd45b1a5b991609e8b4f192c25" name="ac7bfb0fd45b1a5b991609e8b4f192c25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7bfb0fd45b1a5b991609e8b4f192c25">&#9670;&#160;</a></span>pbIncreaseStatWithCause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbIncreaseStatWithCause </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>cause</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#accea577b83fea61be0177dce17ccf28e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad8fbd7c314efd9abca24ed669c37810a" name="ad8fbd7c314efd9abca24ed669c37810a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8fbd7c314efd9abca24ed669c37810a">&#9670;&#160;</a></span>pbParalyze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbParalyze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0c867d82a750dc93174f13d6a7606bf1">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aadd77df8302536afe81b6b0d4d6a69bf" name="aadd77df8302536afe81b6b0d4d6a69bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aadd77df8302536afe81b6b0d4d6a69bf">&#9670;&#160;</a></span>pbPoison()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbPoison </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>toxic</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a800a0b1c77d237df7ff1ff8ea6f796cf">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a854c3d22f35f147034f370e4ba81fcf8" name="a854c3d22f35f147034f370e4ba81fcf8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a854c3d22f35f147034f370e4ba81fcf8">&#9670;&#160;</a></span>pbReduceAttackStatIntimidate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbReduceAttackStatIntimidate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0d3d64dc8184e0a3d3c53c776e56defe">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ac4306820fa5fcabd3bc08aab6c3072b6" name="ac4306820fa5fcabd3bc08aab6c3072b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4306820fa5fcabd3bc08aab6c3072b6">&#9670;&#160;</a></span>pbReduceStat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbReduceStat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>downanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#af2dcbdf0f0146acaa265f195b8fd77c7">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aa5bb24a668adb83d8a7f5b491094c0a2" name="aa5bb24a668adb83d8a7f5b491094c0a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5bb24a668adb83d8a7f5b491094c0a2">&#9670;&#160;</a></span>pbReduceStatBasic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbReduceStatBasic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aa9e848c5a8e1249798788e33c71257bc">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a0e6cb9dc81ff73fd6a082f2a9a41e5cd" name="a0e6cb9dc81ff73fd6a082f2a9a41e5cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e6cb9dc81ff73fd6a082f2a9a41e5cd">&#9670;&#160;</a></span>pbReduceStatWithCause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbReduceStatWithCause </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>cause</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a5b12cb527f6df099889c795026269c68">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a992f95fe33724df3baf2866b83b5bf70" name="a992f95fe33724df3baf2866b83b5bf70"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a992f95fe33724df3baf2866b83b5bf70">&#9670;&#160;</a></span>pbSleep()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbSleep </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ad2ea2848231d21778e5a7abbfcd6665e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a7ffd64e832eefe471959ad64c14c8d74" name="a7ffd64e832eefe471959ad64c14c8d74"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ffd64e832eefe471959ad64c14c8d74">&#9670;&#160;</a></span>pbSleepSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbSleepSelf </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em> = <code>-1</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a7de3957ff28fb34ab4d0ba485b57e12b">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a823964cdf4785fac884dec8fdc6e1358" name="a823964cdf4785fac884dec8fdc6e1358"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a823964cdf4785fac884dec8fdc6e1358">&#9670;&#160;</a></span>pbTooHigh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbTooHigh </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aae3ac50ea6fb9ac592ee174eed86874d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3fb92cc783ab32304ee0a4b0411974db" name="a3fb92cc783ab32304ee0a4b0411974db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fb92cc783ab32304ee0a4b0411974db">&#9670;&#160;</a></span>pbTooLow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.pbTooLow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ab103001cafc994d3062fd8d152d9d9a3">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battler_effect_8cs.cshtml">IBattlerEffect.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
