@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">ISpriteTimer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteTimer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">PokemonEssentials.Interface.ISpriteTimer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#a8722d5e5cf7d6b7ead633b840c4fce23">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">PokemonEssentials.Interface.ISpriteTimer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#aca4dbab9fe41dcb216541ef0ef8fba7f">disposed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">PokemonEssentials.Interface.ISpriteTimer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#adef066e6afd873eb3cb9174d054e2a2b">initialize</a>(IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">PokemonEssentials.Interface.ISpriteTimer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml#a575b9dfcebfaebbcc06f529d3233ac9b">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_timer.cshtml">PokemonEssentials.Interface.ISpriteTimer</a></td><td class="entry"></td></tr>
</table>