@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">ISuccessState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.ISuccessState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a1a0506951085d88c24a445a0fc6240ce">Clear</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a8a482cb106935cbbc86472c2138b81d7">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a601cb9a20752339e141f93a7142c23ab">Protected</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a02e4d8767b79664ec767a65de713ae27">Skill</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a815effa2fb8440b3badbaa3283d2a194">TypeMod</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a421d5528ff5d7df3aad31e69b45ef452">UpdateSkill</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml#a0f2e76591186bec28f8e654e07ec97e9">UseState</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_success_state.cshtml">PokemonEssentials.Interface.PokeBattle.ISuccessState</a></td><td class="entry"></td></tr>
</table>