@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IPurifyChamberHelper Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">IPurifyChamberHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberHelper Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a195c6faebac8681c189727b44bd185e5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a195c6faebac8681c189727b44bd185e5">GetPokemon2</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int set, int position)</td></tr>
<tr class="separator:a195c6faebac8681c189727b44bd185e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79c6276cbd2e6fd3bcc899a65a47933a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a79c6276cbd2e6fd3bcc899a65a47933a">GetPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int position)</td></tr>
<tr class="separator:a79c6276cbd2e6fd3bcc899a65a47933a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaea76b0f11ca39e9e8cb898c08102d83"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#aaea76b0f11ca39e9e8cb898c08102d83">adjustOnInsert</a> (int position)</td></tr>
<tr class="separator:aaea76b0f11ca39e9e8cb898c08102d83"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1fb0c083bbf0f000b0506fb2d7b8590"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#ae1fb0c083bbf0f000b0506fb2d7b8590">SetPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int position, int value)</td></tr>
<tr class="separator:ae1fb0c083bbf0f000b0506fb2d7b8590"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aaea76b0f11ca39e9e8cb898c08102d83" name="aaea76b0f11ca39e9e8cb898c08102d83"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaea76b0f11ca39e9e8cb898c08102d83">&#9670;&#160;</a></span>adjustOnInsert()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberHelper.adjustOnInsert </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a79c6276cbd2e6fd3bcc899a65a47933a" name="a79c6276cbd2e6fd3bcc899a65a47933a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79c6276cbd2e6fd3bcc899a65a47933a">&#9670;&#160;</a></span>GetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamberHelper.GetPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a195c6faebac8681c189727b44bd185e5" name="a195c6faebac8681c189727b44bd185e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a195c6faebac8681c189727b44bd185e5">&#9670;&#160;</a></span>GetPokemon2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamberHelper.GetPokemon2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1fb0c083bbf0f000b0506fb2d7b8590" name="ae1fb0c083bbf0f000b0506fb2d7b8590"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1fb0c083bbf0f000b0506fb2d7b8590">&#9670;&#160;</a></span>SetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberHelper.SetPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>

