@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">IPokemonEntryScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonEntryScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">PokemonUnity.IPokemonEntryScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml#a7621b052b87dec1e0c751925939c037d">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">PokemonUnity.IPokemonEntryScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml#aa3e3520571e1e9d7dd13e257917aa439">pbEntry</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">PokemonUnity.IPokemonEntryScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml#a36e766c372771332ca4d64deefaf9193">pbStartScene</a>(string helptext, int minlength, int maxlength, string initialText, TextEntryTypes subject=0, Monster.Pokemon pokemon=null)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">PokemonUnity.IPokemonEntryScene</a></td><td class="entry"></td></tr>
</table>