@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.ITempMetadataDependantEvents Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_dependant_events.cshtml">ITempMetadataDependantEvents</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_dependant_events-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ITempMetadataDependantEvents Interface Reference</div></div>
}


<p>Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml" title="Temporary data which is not saved and which is erased when a game restarts.">ITempMetadata</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_dependant_events.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0bc532981ec8ce3874dfe9f9bbbddb88"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_events.cshtml">IDependentEvents</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_dependant_events.cshtml#a0bc532981ec8ce3874dfe9f9bbbddb88">dependentEvents</a><code> [get]</code></td></tr>
<tr class="separator:a0bc532981ec8ce3874dfe9f9bbbddb88"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml" title="Temporary data which is not saved and which is erased when a game restarts.">ITempMetadata</a>  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a0bc532981ec8ce3874dfe9f9bbbddb88" name="a0bc532981ec8ce3874dfe9f9bbbddb88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0bc532981ec8ce3874dfe9f9bbbddb88">&#9670;&#160;</a></span>dependentEvents</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_events.cshtml">IDependentEvents</a> PokemonEssentials.Interface.Field.ITempMetadataDependantEvents.dependentEvents</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_dependant_events_8cs.cshtml">IDependantEvents.cs</a></li>
</ul>
