@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">IGamePicture</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePicture Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a82849d07cfb651fc505bbe4e511acd5d">angle</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1f0d04fd0eba66386d6156b020702257">blend_type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a7d2a2add14475d3ce9139159e73ba5e8">erase</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a344e76becf5a2ed6f8283eabc666e917">initialize</a>(int number)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#aaf13aa5077f2d0899200cf4f31a13193">move</a>(int duration, int origin, float x, float y, float zoom_x, float zoom_y, float opacity, int? blend_type)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#ab80e36dd7692b8d34d279f32c65742ef">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a383b4265de854a85c1f44317b454144e">number</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a63d2da821461b9abe40a939865edca0b">opacity</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a12cbfc8fab151592798403f3e2e14e4f">origin</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a3fd6e7fe3d831a2044bdd0d4ba0e0215">rotate</a>(int speed)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a97da1d6767f38350bed76042f4d7dab4">show</a>(string name, int origin, float x, float y, float zoom_x, float zoom_y, float opacity, int? blend_type)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a40ce6424b5f3168b5a724d9836c72e8f">start_tone_change</a>(ITone tone, float duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1bc3e43d1e5e27669865483dea396671">tone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a395314a85386365da7f93437dfab6f8a">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a9df5681a2a6cfff3ee8994db369afc38">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a32866f0793de9267b12f57e37d8a11dc">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a59aaaa4b52649bb480eafbc32cb88bd9">zoom_x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a6c91b3ead27fe424af1112ae6b003bbb">zoom_y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">PokemonEssentials.Interface.IGamePicture</a></td><td class="entry"></td></tr>
</table>
