@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">IGameResizer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameResizer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a615f6e365edf12c52608e40547aaea8c">HaveResizeBorder</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a88a51d45dc6b4f4354a907449947202b">pbConfigureFullScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a94d06e164d69a81778480efe459978b7">pbConfigureWindowedScreen</a>(float value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a085fc232d335155b725314a98efe431b">pbSetResizeFactor</a>(float factor=1, bool norecalc=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#abc475bf1761df561e832281accaa7e9e">pbSetResizeFactor2</a>(float factor, bool force=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#ad8da5ec355a3d2766b54bc6e23d79b34">ResizeFactor</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a19c24b9dadc765774b9596dec559a9b8">ResizeFactorMul</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a47a9d67228eaf2aa0eec43e30228e001">ResizeFactorSet</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#aab47dba618488d18bb2085eb1f9a0e25">ResizeOffsetX</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a8a3a2323b78a520557b136ce65dbe131">ResizeOffsetY</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a8623ea2e223b28d7bc6667a53e1d112c">setScreenBorderName</a>(string border)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">PokemonEssentials.Interface.IGameResizer</a></td><td class="entry"></td></tr>
</table>