@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.IPokeBattleArena_Scene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle_arena___scene.cshtml">IPokeBattleArena_Scene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_poke_battle_arena___scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokeBattleArena_Scene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokeBattleArena_Scene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_poke_battle_arena___scene.png" usemap="#PokemonUnity.IPokeBattleArena_5FScene_map" alt=""/>
  <map id="PokemonUnity.IPokeBattleArena_5FScene_map" name="PokemonUnity.IPokeBattleArena_5FScene_map">
<area href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml" alt="PokemonUnity.IPokeBattle_Scene" shape="rect" coords="122,112,357,136"/>
<area href="interface_pokemon_unity_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonUnity.IScene" shape="rect" coords="0,56,235,80"/>
<area href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml" alt="PokemonUnity.ISceneHasChatter" shape="rect" coords="245,56,480,80"/>
<area href="interface_pokemon_unity_1_1_i_has_display_message.cshtml" alt="PokemonUnity.IHasDisplayMessage" shape="rect" coords="0,0,235,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae951295073f582866de35839a3a8c0a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle_arena___scene.cshtml#ae951295073f582866de35839a3a8c0a6">pbBattleArenaBattlers</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler1, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler2)</td></tr>
<tr class="separator:ae951295073f582866de35839a3a8c0a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7b8077024ddf590d7cc7497817c0164"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle_arena___scene.cshtml#ad7b8077024ddf590d7cc7497817c0164">pbBattleArenaJudgment</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler1, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler2, int[] ratings1, int[] ratings2)</td></tr>
<tr class="separator:ad7b8077024ddf590d7cc7497817c0164"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7fe4cf6f60f74cdfe44367ed1119c0af"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle_arena___scene.cshtml#a7fe4cf6f60f74cdfe44367ed1119c0af">updateJudgment</a> (<a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml">IWindow</a> window, int phase, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler1, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> battler2, int[] ratings1, int[] ratings2)</td></tr>
<tr class="separator:a7fe4cf6f60f74cdfe44367ed1119c0af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml">PokemonUnity.IPokeBattle_Scene</a></td></tr>
<tr class="memitem:a1b069824e2e1c039301294cb599b2b58 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a1b069824e2e1c039301294cb599b2b58">initialize</a> ()</td></tr>
<tr class="separator:a1b069824e2e1c039301294cb599b2b58 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5397f23f5917937ad18f075bb3bc690e inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a5397f23f5917937ad18f075bb3bc690e">pbUpdate</a> ()</td></tr>
<tr class="separator:a5397f23f5917937ad18f075bb3bc690e inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bcd63afeab207f279c02c9432dae003 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a6bcd63afeab207f279c02c9432dae003">pbGraphicsUpdate</a> ()</td></tr>
<tr class="separator:a6bcd63afeab207f279c02c9432dae003 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa101dac87ca328ea3195a6fb26c44ed8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa101dac87ca328ea3195a6fb26c44ed8">pbInputUpdate</a> ()</td></tr>
<tr class="separator:aa101dac87ca328ea3195a6fb26c44ed8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20aeb9a081a06b99d8f4bb2ede3e43f3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a20aeb9a081a06b99d8f4bb2ede3e43f3">pbShowWindow</a> (int windowtype)</td></tr>
<tr class="separator:a20aeb9a081a06b99d8f4bb2ede3e43f3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa7a06d3489f884cb71af2746ed6c6f8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aaa7a06d3489f884cb71af2746ed6c6f8">pbSetMessageMode</a> (bool mode)</td></tr>
<tr class="separator:aaa7a06d3489f884cb71af2746ed6c6f8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52db4c11013ed70db2cb96be2ac30a7c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a52db4c11013ed70db2cb96be2ac30a7c">pbWaitMessage</a> ()</td></tr>
<tr class="separator:a52db4c11013ed70db2cb96be2ac30a7c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0625726d88df7b01195ea035341f4c04 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0625726d88df7b01195ea035341f4c04">pbDisplay</a> (string msg, bool brief=false)</td></tr>
<tr class="separator:a0625726d88df7b01195ea035341f4c04 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b90c7949f7332c2a77d3ea2d9848d07 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a1b90c7949f7332c2a77d3ea2d9848d07">pbDisplayMessage</a> (string msg, bool brief=false)</td></tr>
<tr class="separator:a1b90c7949f7332c2a77d3ea2d9848d07 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1179a5e2f1f2f5a76d28add504e797f inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af1179a5e2f1f2f5a76d28add504e797f">pbDisplayPausedMessage</a> (string msg)</td></tr>
<tr class="separator:af1179a5e2f1f2f5a76d28add504e797f inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a053340d5555794706f903da4f478d90b inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a053340d5555794706f903da4f478d90b">pbDisplayConfirmMessage</a> (string msg)</td></tr>
<tr class="separator:a053340d5555794706f903da4f478d90b inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2f57c93ca1cd1f03b730addc05c23661 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a2f57c93ca1cd1f03b730addc05c23661">pbShowCommands</a> (string msg, string[] commands, bool canCancel)</td></tr>
<tr class="separator:a2f57c93ca1cd1f03b730addc05c23661 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4393ee2ccc5eb1d3800bbbf7c5798fa9 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a4393ee2ccc5eb1d3800bbbf7c5798fa9">pbFrameUpdate</a> (object cw=null)</td></tr>
<tr class="separator:a4393ee2ccc5eb1d3800bbbf7c5798fa9 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39e64943b11c0048352f4378fec2bfa8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a39e64943b11c0048352f4378fec2bfa8">pbAddSprite</a> (string id, double x, double y, string filename, int viewport)</td></tr>
<tr class="separator:a39e64943b11c0048352f4378fec2bfa8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:accdbdfeea38337f3529db9c83a9598cd inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#accdbdfeea38337f3529db9c83a9598cd">pbAddPlane</a> (int id, string filename, int viewport)</td></tr>
<tr class="separator:accdbdfeea38337f3529db9c83a9598cd inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a00bcd3d3ed2ec33fbe562d9c364d3ad9 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a00bcd3d3ed2ec33fbe562d9c364d3ad9">pbDisposeSprites</a> ()</td></tr>
<tr class="separator:a00bcd3d3ed2ec33fbe562d9c364d3ad9 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afef9a6734d743aace8e3c6b68b5e1969 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#afef9a6734d743aace8e3c6b68b5e1969">pbBeginCommandPhase</a> ()</td></tr>
<tr class="separator:afef9a6734d743aace8e3c6b68b5e1969 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea6eeb57fef0b785160c3452f4860392 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aea6eeb57fef0b785160c3452f4860392">pbShowOpponent</a> (int index)</td></tr>
<tr class="separator:aea6eeb57fef0b785160c3452f4860392 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa4a9c0fc59082085272a848fd8339ce7 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa4a9c0fc59082085272a848fd8339ce7">pbHideOpponent</a> ()</td></tr>
<tr class="separator:aa4a9c0fc59082085272a848fd8339ce7 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaecbd512a5332b9d1eeaa75e689c22f4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aaecbd512a5332b9d1eeaa75e689c22f4">pbShowHelp</a> (string text)</td></tr>
<tr class="separator:aaecbd512a5332b9d1eeaa75e689c22f4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8bf2ce3d728ced168a12b7b4fa76191 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa8bf2ce3d728ced168a12b7b4fa76191">pbHideHelp</a> ()</td></tr>
<tr class="separator:aa8bf2ce3d728ced168a12b7b4fa76191 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65e619ddb08b4ec745c3342205fc1538 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a65e619ddb08b4ec745c3342205fc1538">pbBackdrop</a> ()</td></tr>
<tr class="separator:a65e619ddb08b4ec745c3342205fc1538 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f7437ff0fdec7c5f706271b4eb67065 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0f7437ff0fdec7c5f706271b4eb67065">partyAnimationUpdate</a> ()</td></tr>
<tr class="memdesc:a0f7437ff0fdec7c5f706271b4eb67065 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Shows the party line-ups appearing on-screen   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0f7437ff0fdec7c5f706271b4eb67065">More...</a><br /></td></tr>
<tr class="separator:a0f7437ff0fdec7c5f706271b4eb67065 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0bc5b7099ad57b6beded3e8d7a4b8270 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0bc5b7099ad57b6beded3e8d7a4b8270">pbStartBattle</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml">PokemonUnity.Combat.Battle</a> battle)</td></tr>
<tr class="separator:a0bc5b7099ad57b6beded3e8d7a4b8270 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab8a76e9adb71c6b9fefd3853b0a33194 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ab8a76e9adb71c6b9fefd3853b0a33194">pbEndBattle</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> result)</td></tr>
<tr class="separator:ab8a76e9adb71c6b9fefd3853b0a33194 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a109e168c0569575990e01eeb5f05ceed inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a109e168c0569575990e01eeb5f05ceed">pbRecall</a> (int battlerindex)</td></tr>
<tr class="separator:a109e168c0569575990e01eeb5f05ceed inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa552770e0c69a9c5a96d87e8a6b1aa3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#afa552770e0c69a9c5a96d87e8a6b1aa3">pbTrainerSendOut</a> (int battlerindex, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn)</td></tr>
<tr class="separator:afa552770e0c69a9c5a96d87e8a6b1aa3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abe0a19777a647e49bfaf46b66cfa05a3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#abe0a19777a647e49bfaf46b66cfa05a3">pbSendOut</a> (int battlerindex, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn)</td></tr>
<tr class="memdesc:abe0a19777a647e49bfaf46b66cfa05a3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Player sending out Pok&eacute;mon   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#abe0a19777a647e49bfaf46b66cfa05a3">More...</a><br /></td></tr>
<tr class="separator:abe0a19777a647e49bfaf46b66cfa05a3 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec70f3332c9407bb49ae0a654563d0fb inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aec70f3332c9407bb49ae0a654563d0fb">pbTrainerWithdraw</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml">Combat.Battle</a> battle, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> pkmn)</td></tr>
<tr class="separator:aec70f3332c9407bb49ae0a654563d0fb inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:addfa33df550db6f647ad1272ef0434e8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#addfa33df550db6f647ad1272ef0434e8">pbWithdraw</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml">Combat.Battle</a> battle, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> pkmn)</td></tr>
<tr class="separator:addfa33df550db6f647ad1272ef0434e8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af74e599009a5734381e15b8a588fd682 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af74e599009a5734381e15b8a588fd682">pbMoveString</a> (string move)</td></tr>
<tr class="separator:af74e599009a5734381e15b8a588fd682 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01225f2b8c2e2f8760c08bfab50932c0 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a01225f2b8c2e2f8760c08bfab50932c0">pbBeginAttackPhase</a> ()</td></tr>
<tr class="separator:a01225f2b8c2e2f8760c08bfab50932c0 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace390fed14c6c27cac1dc004749d5cf7 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ace390fed14c6c27cac1dc004749d5cf7">pbSafariStart</a> ()</td></tr>
<tr class="separator:ace390fed14c6c27cac1dc004749d5cf7 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c24ead5107a32394b7953c4e142190a inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0c24ead5107a32394b7953c4e142190a">pbResetCommandIndices</a> ()</td></tr>
<tr class="separator:a0c24ead5107a32394b7953c4e142190a inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aadaf8c8f2c301529ad3b39f306a50b8c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aadaf8c8f2c301529ad3b39f306a50b8c">pbResetMoveIndex</a> (int index)</td></tr>
<tr class="separator:aadaf8c8f2c301529ad3b39f306a50b8c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45c93b4c06d4c2820ab17d7271b46f72 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a45c93b4c06d4c2820ab17d7271b46f72">pbSafariCommandMenu</a> (int index)</td></tr>
<tr class="separator:a45c93b4c06d4c2820ab17d7271b46f72 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af426b5eb1c2209e6fa9694a67b398607 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af426b5eb1c2209e6fa9694a67b398607">pbCommandMenu</a> (int index)</td></tr>
<tr class="memdesc:af426b5eb1c2209e6fa9694a67b398607 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to display the list of commands and choose a command for the player.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af426b5eb1c2209e6fa9694a67b398607">More...</a><br /></td></tr>
<tr class="separator:af426b5eb1c2209e6fa9694a67b398607 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afca87c8f8942219e9dcf3936844cdae4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#afca87c8f8942219e9dcf3936844cdae4">pbCommandMenuEx</a> (int index, string[] texts, int mode=0)</td></tr>
<tr class="separator:afca87c8f8942219e9dcf3936844cdae4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7021faa69d5f1d3d86a6ba76945287ca inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a7021faa69d5f1d3d86a6ba76945287ca">pbFightMenu</a> (int index)</td></tr>
<tr class="memdesc:a7021faa69d5f1d3d86a6ba76945287ca inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Update selected command Use this method to display the list of moves for a Pok&eacute;mon   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a7021faa69d5f1d3d86a6ba76945287ca">More...</a><br /></td></tr>
<tr class="separator:a7021faa69d5f1d3d86a6ba76945287ca inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26ee72f1dd46b4582f506775d485eb87 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a26ee72f1dd46b4582f506775d485eb87">pbItemMenu</a> (int index)</td></tr>
<tr class="memdesc:a26ee72f1dd46b4582f506775d485eb87 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to display the inventory The return value is the item chosen, or 0 if the choice was canceled.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a26ee72f1dd46b4582f506775d485eb87">More...</a><br /></td></tr>
<tr class="separator:a26ee72f1dd46b4582f506775d485eb87 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30350b399f3e1d88dd7eb1313a3e1317 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a30350b399f3e1d88dd7eb1313a3e1317">pbForgetMove</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveToLearn)</td></tr>
<tr class="memdesc:a30350b399f3e1d88dd7eb1313a3e1317 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Called whenever a Pok&eacute;mon should forget a move. It should return -1 if the selection is canceled, or 0 to 3 to indicate the move to forget. The function should not allow HM moves to be forgotten.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a30350b399f3e1d88dd7eb1313a3e1317">More...</a><br /></td></tr>
<tr class="separator:a30350b399f3e1d88dd7eb1313a3e1317 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1fbbd849358ad905e28b5c363862499 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ac1fbbd849358ad905e28b5c363862499">pbChooseMove</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, string message)</td></tr>
<tr class="memdesc:ac1fbbd849358ad905e28b5c363862499 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Called whenever a Pok&eacute;mon needs one of its moves chosen. Used for Ether.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ac1fbbd849358ad905e28b5c363862499">More...</a><br /></td></tr>
<tr class="separator:ac1fbbd849358ad905e28b5c363862499 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6901b2da8a790f6f561687c63326f12 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa6901b2da8a790f6f561687c63326f12">pbNameEntry</a> (string helptext, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:aa6901b2da8a790f6f561687c63326f12 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3d590065f135b079c3826723165f7da inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa3d590065f135b079c3826723165f7da">pbSelectBattler</a> (int index, int selectmode=1)</td></tr>
<tr class="separator:aa3d590065f135b079c3826723165f7da inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab9352c186a6b578ff647791d059319e1 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ab9352c186a6b578ff647791d059319e1">pbFirstTarget</a> (int index, <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">Attack.Data.Targets</a> targettype)</td></tr>
<tr class="separator:ab9352c186a6b578ff647791d059319e1 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12a9e5e1e1c1f704705bd1da98df9c19 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a12a9e5e1e1c1f704705bd1da98df9c19">pbUpdateSelected</a> (int index)</td></tr>
<tr class="separator:a12a9e5e1e1c1f704705bd1da98df9c19 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a83fa4a878a8cba1983d054394e721877 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a83fa4a878a8cba1983d054394e721877">pbChooseTarget</a> (int index, <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">Attack.Data.Targets</a> targettype)</td></tr>
<tr class="memdesc:a83fa4a878a8cba1983d054394e721877 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to make the player choose a target for certain moves in double battles.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a83fa4a878a8cba1983d054394e721877">More...</a><br /></td></tr>
<tr class="separator:a83fa4a878a8cba1983d054394e721877 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6638daa7ef139be917bf9e3805d6c042 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a6638daa7ef139be917bf9e3805d6c042">pbSwitch</a> (int index, bool lax, bool cancancel)</td></tr>
<tr class="separator:a6638daa7ef139be917bf9e3805d6c042 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1fece154d3a19fc885adcfbe3362abbf inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a1fece154d3a19fc885adcfbe3362abbf">pbDamageAnimation</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> pkmn, float effectiveness)</td></tr>
<tr class="separator:a1fece154d3a19fc885adcfbe3362abbf inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ff3988e0f75528ec8904227759c3b1c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a4ff3988e0f75528ec8904227759c3b1c">pbHPChanged</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> pkmn, int oldhp, bool animate=false)</td></tr>
<tr class="memdesc:a4ff3988e0f75528ec8904227759c3b1c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">This method is called whenever a Pok&eacute;mon's HP changes. Used to animate the HP bar.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a4ff3988e0f75528ec8904227759c3b1c">More...</a><br /></td></tr>
<tr class="separator:a4ff3988e0f75528ec8904227759c3b1c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add5eb0cd10dc2c0a189ee947bc3e8acd inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#add5eb0cd10dc2c0a189ee947bc3e8acd">pbFainted</a> (int pkmn)</td></tr>
<tr class="memdesc:add5eb0cd10dc2c0a189ee947bc3e8acd inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">This method is called whenever a Pok&eacute;mon faints.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#add5eb0cd10dc2c0a189ee947bc3e8acd">More...</a><br /></td></tr>
<tr class="separator:add5eb0cd10dc2c0a189ee947bc3e8acd inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c0a9900f6afface695ac3e702775492 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0c0a9900f6afface695ac3e702775492">pbChooseEnemyCommand</a> (int index)</td></tr>
<tr class="memdesc:a0c0a9900f6afface695ac3e702775492 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to choose a command for the enemy.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0c0a9900f6afface695ac3e702775492">More...</a><br /></td></tr>
<tr class="separator:a0c0a9900f6afface695ac3e702775492 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a28fbe9cee6e73e560d866817da9cd776 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a28fbe9cee6e73e560d866817da9cd776">pbChooseNewEnemy</a> (int index, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>[] party)</td></tr>
<tr class="memdesc:a28fbe9cee6e73e560d866817da9cd776 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to choose a new Pok&eacute;mon for the enemy The enemy's party is guaranteed to have at least one choosable member.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a28fbe9cee6e73e560d866817da9cd776">More...</a><br /></td></tr>
<tr class="separator:a28fbe9cee6e73e560d866817da9cd776 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18648cdd8efe69adbf048d4e3472da4c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a18648cdd8efe69adbf048d4e3472da4c">pbWildBattleSuccess</a> ()</td></tr>
<tr class="memdesc:a18648cdd8efe69adbf048d4e3472da4c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">This method is called when the player wins a wild Pok&eacute;mon battle. This method can change the battle's music for example.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a18648cdd8efe69adbf048d4e3472da4c">More...</a><br /></td></tr>
<tr class="separator:a18648cdd8efe69adbf048d4e3472da4c inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73f4f0c85dde65afcc23d1c693285168 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a73f4f0c85dde65afcc23d1c693285168">pbTrainerBattleSuccess</a> ()</td></tr>
<tr class="memdesc:a73f4f0c85dde65afcc23d1c693285168 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">This method is called when the player wins a <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> battle. This method can change the battle's music for example.   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a73f4f0c85dde65afcc23d1c693285168">More...</a><br /></td></tr>
<tr class="separator:a73f4f0c85dde65afcc23d1c693285168 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb35012df2ee91b9e2ffd636bb56ce51 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#afb35012df2ee91b9e2ffd636bb56ce51">pbEXPBar</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> battler, int startexp, int endexp, int tempexp1, int tempexp2)</td></tr>
<tr class="separator:afb35012df2ee91b9e2ffd636bb56ce51 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a640cbc27267932a358a17acd7d52dfac inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a640cbc27267932a358a17acd7d52dfac">pbShowPokedex</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int form=0)</td></tr>
<tr class="separator:a640cbc27267932a358a17acd7d52dfac inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a681e08a04b0fca2f7dcf69f060e85a73 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a681e08a04b0fca2f7dcf69f060e85a73">pbChangeSpecies</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> attacker, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a681e08a04b0fca2f7dcf69f060e85a73 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0066563010b0d00f0c886a963c7a8cac inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a0066563010b0d00f0c886a963c7a8cac">ChangePokemon</a> ()</td></tr>
<tr class="separator:a0066563010b0d00f0c886a963c7a8cac inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab0a8144312113fddde86e916f625dd4e inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ab0a8144312113fddde86e916f625dd4e">pbChangePokemon</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> attacker, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Monster.Forms</a> pokemon)</td></tr>
<tr class="separator:ab0a8144312113fddde86e916f625dd4e inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6af344c8456729d1f94cb595f5b767a2 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a6af344c8456729d1f94cb595f5b767a2">pbSaveShadows</a> ()</td></tr>
<tr class="separator:a6af344c8456729d1f94cb595f5b767a2 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6734066f422c148bd810791a8ee91e05 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a6734066f422c148bd810791a8ee91e05">pbFindAnimation</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid, int userIndex, int hitnum)</td></tr>
<tr class="separator:a6734066f422c148bd810791a8ee91e05 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01751f6f95166f2c193c380be68385ee inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a01751f6f95166f2c193c380be68385ee">pbCommonAnimation</a> (string animname, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> user, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> target, int hitnum=0)</td></tr>
<tr class="separator:a01751f6f95166f2c193c380be68385ee inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55867bb9605c28fe7e9cffdf9bbc81ec inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a55867bb9605c28fe7e9cffdf9bbc81ec">pbAnimation</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> user, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> target, int hitnum=0)</td></tr>
<tr class="separator:a55867bb9605c28fe7e9cffdf9bbc81ec inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e6168e6b3674b2e18b7c1f0f2bbfed8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a4e6168e6b3674b2e18b7c1f0f2bbfed8">pbAnimationCore</a> (string animation, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> user, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> target, bool oppmove=false)</td></tr>
<tr class="separator:a4e6168e6b3674b2e18b7c1f0f2bbfed8 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3f68437a404e07a25b546484342cbc2 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#aa3f68437a404e07a25b546484342cbc2">pbLevelUp</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> battler, int oldtotalhp, int oldattack, int olddefense, int oldspeed, int oldspatk, int oldspdef)</td></tr>
<tr class="separator:aa3f68437a404e07a25b546484342cbc2 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15e5e4b05971879c08e00f9966e78b50 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a15e5e4b05971879c08e00f9966e78b50">pbThrowAndDeflect</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int targetBattler)</td></tr>
<tr class="separator:a15e5e4b05971879c08e00f9966e78b50 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1a4bd7ce46bf5bac7e3b231762d5b66 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af1a4bd7ce46bf5bac7e3b231762d5b66">pbThrow</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int shakes, bool critical, int targetBattler, bool showplayer=false)</td></tr>
<tr class="separator:af1a4bd7ce46bf5bac7e3b231762d5b66 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a898c8def50f70188d1f42626ade3de36 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a898c8def50f70188d1f42626ade3de36">pbThrowSuccess</a> ()</td></tr>
<tr class="separator:a898c8def50f70188d1f42626ade3de36 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abb8e8feaac5071b4e30ba60ff30e39a4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#abb8e8feaac5071b4e30ba60ff30e39a4">pbHideCaptureBall</a> ()</td></tr>
<tr class="separator:abb8e8feaac5071b4e30ba60ff30e39a4 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1c602d43a0229a7bf79af5b329e1d90 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#af1c602d43a0229a7bf79af5b329e1d90">pbThrowBait</a> ()</td></tr>
<tr class="separator:af1c602d43a0229a7bf79af5b329e1d90 inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1d5fc1886fdfa4b9dd7b5e46f3eec7f inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#ae1d5fc1886fdfa4b9dd7b5e46f3eec7f">pbThrowRock</a> ()</td></tr>
<tr class="separator:ae1d5fc1886fdfa4b9dd7b5e46f3eec7f inherit pub_methods_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td></tr>
<tr class="memitem:a6d62e2ad717faa4cbecd1e1d6d7faf50 inherit pub_methods_interface_pokemon_unity_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a> ()</td></tr>
<tr class="separator:a6d62e2ad717faa4cbecd1e1d6d7faf50 inherit pub_methods_interface_pokemon_unity_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a> (string v)</td></tr>
<tr class="separator:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_scene_has_chatter"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_scene_has_chatter')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml">PokemonUnity.ISceneHasChatter</a></td></tr>
<tr class="memitem:af4f94c32e989f32b89b5e255f0095fac inherit pub_methods_interface_pokemon_unity_1_1_i_scene_has_chatter"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml#af4f94c32e989f32b89b5e255f0095fac">pbChatter</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Combat.Pokemon</a> attacker, Combat.Trainer opponent)</td></tr>
<tr class="separator:af4f94c32e989f32b89b5e255f0095fac inherit pub_methods_interface_pokemon_unity_1_1_i_scene_has_chatter"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_i_poke_battle___scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_i_poke_battle___scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml">PokemonUnity.IPokeBattle_Scene</a></td></tr>
<tr class="memitem:a7745698de0c70376a73f196519419e19 inherit properties_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a7745698de0c70376a73f196519419e19">inPartyAnimation</a><code> [get]</code></td></tr>
<tr class="memdesc:a7745698de0c70376a73f196519419e19 inherit properties_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns whether the party line-ups are currently appearing on-screen   <a href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml#a7745698de0c70376a73f196519419e19">More...</a><br /></td></tr>
<tr class="separator:a7745698de0c70376a73f196519419e19 inherit properties_interface_pokemon_unity_1_1_i_poke_battle___scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td></tr>
<tr class="memitem:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">More...</a><br /></td></tr>
<tr class="separator:aaf7e73de085792717a886c06ddc1d9c0 inherit properties_interface_pokemon_unity_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ae951295073f582866de35839a3a8c0a6" name="ae951295073f582866de35839a3a8c0a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae951295073f582866de35839a3a8c0a6">&#9670;&#160;</a></span>pbBattleArenaBattlers()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokeBattleArena_Scene.pbBattleArenaBattlers </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad7b8077024ddf590d7cc7497817c0164" name="ad7b8077024ddf590d7cc7497817c0164"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7b8077024ddf590d7cc7497817c0164">&#9670;&#160;</a></span>pbBattleArenaJudgment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokeBattleArena_Scene.pbBattleArenaJudgment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>ratings1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>ratings2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7fe4cf6f60f74cdfe44367ed1119c0af" name="a7fe4cf6f60f74cdfe44367ed1119c0af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7fe4cf6f60f74cdfe44367ed1119c0af">&#9670;&#160;</a></span>updateJudgment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokeBattleArena_Scene.updateJudgment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>phase</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>battler2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>ratings1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>ratings2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">window</td><td>infowindow as <code>SpriteWindow_Base</code> to display the results</td></tr>
    <tr><td class="paramname">phase</td><td></td></tr>
    <tr><td class="paramname">battler1</td><td></td></tr>
    <tr><td class="paramname">battler2</td><td></td></tr>
    <tr><td class="paramname">ratings1</td><td></td></tr>
    <tr><td class="paramname">ratings2</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
