@{
	Page.Title = "PokemonEssentials.Interface.IGraphics Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">IGraphics</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGraphics Interface Reference</div></div>
}


<p>The module that carries out graphics processing.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9f21d3939bed646e8f85765aff0b9961"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a9f21d3939bed646e8f85765aff0b9961">update</a> ()</td></tr>
<tr class="memdesc:a9f21d3939bed646e8f85765aff0b9961"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refreshes the game screen and advances time by 1 frame. This method must be called at set intervals.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a9f21d3939bed646e8f85765aff0b9961">More...</a><br /></td></tr>
<tr class="separator:a9f21d3939bed646e8f85765aff0b9961"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57d3d7a9c5b8bbfadb2883c9f61962cd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a57d3d7a9c5b8bbfadb2883c9f61962cd">wait</a> (float duration)</td></tr>
<tr class="memdesc:a57d3d7a9c5b8bbfadb2883c9f61962cd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Waits for the specified number of frames.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a57d3d7a9c5b8bbfadb2883c9f61962cd">More...</a><br /></td></tr>
<tr class="separator:a57d3d7a9c5b8bbfadb2883c9f61962cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5778e01a2f0665f4f2900ba066d950b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#af5778e01a2f0665f4f2900ba066d950b">fadeout</a> (float duration)</td></tr>
<tr class="memdesc:af5778e01a2f0665f4f2900ba066d950b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Performs a fade-out of the screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#af5778e01a2f0665f4f2900ba066d950b">More...</a><br /></td></tr>
<tr class="separator:af5778e01a2f0665f4f2900ba066d950b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5489ec4fbd5432e38e007b054f176dc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ab5489ec4fbd5432e38e007b054f176dc">fadein</a> (float duration)</td></tr>
<tr class="memdesc:ab5489ec4fbd5432e38e007b054f176dc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Performs a fade-in of the screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ab5489ec4fbd5432e38e007b054f176dc">More...</a><br /></td></tr>
<tr class="separator:ab5489ec4fbd5432e38e007b054f176dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a176db10c28c897b5b170753183625a52"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a176db10c28c897b5b170753183625a52">freeze</a> ()</td></tr>
<tr class="memdesc:a176db10c28c897b5b170753183625a52"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fixes the current screen in preparation for transitions. <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a> rewrites are prohibited until the transition method is called.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a176db10c28c897b5b170753183625a52">More...</a><br /></td></tr>
<tr class="separator:a176db10c28c897b5b170753183625a52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c78a2c51f5ff2417e60110a3809fcc5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1c78a2c51f5ff2417e60110a3809fcc5">frame_reset</a> ()</td></tr>
<tr class="memdesc:a1c78a2c51f5ff2417e60110a3809fcc5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Resets the screen refresh timing. After a time-consuming process, call this method to prevent extreme frame skips.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1c78a2c51f5ff2417e60110a3809fcc5">More...</a><br /></td></tr>
<tr class="separator:a1c78a2c51f5ff2417e60110a3809fcc5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77506feb6ba61c3d16f0fb960460b8b4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a77506feb6ba61c3d16f0fb960460b8b4">transition</a> (float duration, string filename, int vague=40)</td></tr>
<tr class="memdesc:a77506feb6ba61c3d16f0fb960460b8b4"><td class="mdescLeft">&#160;</td><td class="mdescRight">Carries out a transition from the screen fixed in Graphics.freeze to the current screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a77506feb6ba61c3d16f0fb960460b8b4">More...</a><br /></td></tr>
<tr class="separator:a77506feb6ba61c3d16f0fb960460b8b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79d2ec9f204c379fe679bc1775238725"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a79d2ec9f204c379fe679bc1775238725">fadein</a> (int frames)</td></tr>
<tr class="separator:a79d2ec9f204c379fe679bc1775238725"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8c7c38bfd85a1304e00c2e2f6c8a7da"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ac8c7c38bfd85a1304e00c2e2f6c8a7da">wait</a> (int frames)</td></tr>
<tr class="separator:ac8c7c38bfd85a1304e00c2e2f6c8a7da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab466326c71afc285fc4a29596f1a0a23"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ab466326c71afc285fc4a29596f1a0a23">fadeout</a> (int frames)</td></tr>
<tr class="separator:ab466326c71afc285fc4a29596f1a0a23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2aa2f3b323285f426807065ee6384b3a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a2aa2f3b323285f426807065ee6384b3a">resize_screen</a> (int w, int h)</td></tr>
<tr class="separator:a2aa2f3b323285f426807065ee6384b3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7d18266fd330fe488aa16ad63ae0b73"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#af7d18266fd330fe488aa16ad63ae0b73">snap_to_bitmap</a> ()</td></tr>
<tr class="separator:af7d18266fd330fe488aa16ad63ae0b73"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1e62853a3e0bab7ffbc8d0cced5b2a79"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1e62853a3e0bab7ffbc8d0cced5b2a79">frame_rate</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1e62853a3e0bab7ffbc8d0cced5b2a79"><td class="mdescLeft">&#160;</td><td class="mdescRight">The number of times the screen is refreshed per second. The larger the value, the more CPU power is required. Normally set at 60. Changing this property is not recommended; however, it can be set anywhere from 10 to 120.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1e62853a3e0bab7ffbc8d0cced5b2a79">More...</a><br /></td></tr>
<tr class="separator:a1e62853a3e0bab7ffbc8d0cced5b2a79"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a817f8745665a1fbc697f34da91a0831d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a817f8745665a1fbc697f34da91a0831d">frame_count</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a817f8745665a1fbc697f34da91a0831d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The screen's refresh rate count. Set this property to 0 at game start and the game play time (in seconds) can be calculated by dividing this value by the frame_rate property value.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a817f8745665a1fbc697f34da91a0831d">More...</a><br /></td></tr>
<tr class="separator:a817f8745665a1fbc697f34da91a0831d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34a09b19bf26964345a2cdfc619c4cc8"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a34a09b19bf26964345a2cdfc619c4cc8">brightness</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a34a09b19bf26964345a2cdfc619c4cc8"><td class="mdescLeft">&#160;</td><td class="mdescRight">The brightness of the screen. Takes a value from 0 to 255. The fadeout, fade-in, and transition methods change this value internally, as required.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a34a09b19bf26964345a2cdfc619c4cc8">More...</a><br /></td></tr>
<tr class="separator:a34a09b19bf26964345a2cdfc619c4cc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52f7e9ee93bdf6a54e39a7178945920c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a52f7e9ee93bdf6a54e39a7178945920c">width</a> <code>[get]</code></td></tr>
<tr class="memdesc:a52f7e9ee93bdf6a54e39a7178945920c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the width of the game screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a52f7e9ee93bdf6a54e39a7178945920c">More...</a><br /></td></tr>
<tr class="separator:a52f7e9ee93bdf6a54e39a7178945920c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f9d6bcda61380c3eb749ffd187a6206"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a0f9d6bcda61380c3eb749ffd187a6206">height</a> <code>[get]</code></td></tr>
<tr class="memdesc:a0f9d6bcda61380c3eb749ffd187a6206"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the height of the game screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a0f9d6bcda61380c3eb749ffd187a6206">More...</a><br /></td></tr>
<tr class="separator:a0f9d6bcda61380c3eb749ffd187a6206"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c91c7066cd85509954559e52443ebec"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a8c91c7066cd85509954559e52443ebec">deletefailed</a> <code>[get, set]</code></td></tr>
<tr class="separator:a8c91c7066cd85509954559e52443ebec"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The module that carries out graphics processing.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ab5489ec4fbd5432e38e007b054f176dc" name="ab5489ec4fbd5432e38e007b054f176dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5489ec4fbd5432e38e007b054f176dc">&#9670;&#160;</a></span>fadein() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.fadein </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>duration</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Performs a fade-in of the screen.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">duration</td><td>duration is the number of frames to spend on the fade-in.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a79d2ec9f204c379fe679bc1775238725" name="a79d2ec9f204c379fe679bc1775238725"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79d2ec9f204c379fe679bc1775238725">&#9670;&#160;</a></span>fadein() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.fadein </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af5778e01a2f0665f4f2900ba066d950b" name="af5778e01a2f0665f4f2900ba066d950b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5778e01a2f0665f4f2900ba066d950b">&#9670;&#160;</a></span>fadeout() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.fadeout </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>duration</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Performs a fade-out of the screen.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">duration</td><td>duration is the number of frames to spend on the fade-out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ab466326c71afc285fc4a29596f1a0a23" name="ab466326c71afc285fc4a29596f1a0a23"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab466326c71afc285fc4a29596f1a0a23">&#9670;&#160;</a></span>fadeout() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.fadeout </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1c78a2c51f5ff2417e60110a3809fcc5" name="a1c78a2c51f5ff2417e60110a3809fcc5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c78a2c51f5ff2417e60110a3809fcc5">&#9670;&#160;</a></span>frame_reset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.frame_reset </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Resets the screen refresh timing. After a time-consuming process, call this method to prevent extreme frame skips.  </p>

</div>
</div>
<a id="a176db10c28c897b5b170753183625a52" name="a176db10c28c897b5b170753183625a52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a176db10c28c897b5b170753183625a52">&#9670;&#160;</a></span>freeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.freeze </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fixes the current screen in preparation for transitions. <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a> rewrites are prohibited until the transition method is called.  </p>

</div>
</div>
<a id="a2aa2f3b323285f426807065ee6384b3a" name="a2aa2f3b323285f426807065ee6384b3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2aa2f3b323285f426807065ee6384b3a">&#9670;&#160;</a></span>resize_screen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.resize_screen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>w</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>h</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af7d18266fd330fe488aa16ad63ae0b73" name="af7d18266fd330fe488aa16ad63ae0b73"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7d18266fd330fe488aa16ad63ae0b73">&#9670;&#160;</a></span>snap_to_bitmap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> PokemonEssentials.Interface.IGraphics.snap_to_bitmap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a77506feb6ba61c3d16f0fb960460b8b4" name="a77506feb6ba61c3d16f0fb960460b8b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77506feb6ba61c3d16f0fb960460b8b4">&#9670;&#160;</a></span>transition()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.transition </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>duration</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>vague</em> = <code>40</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Carries out a transition from the screen fixed in Graphics.freeze to the current screen.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">duration</td><td>duration is the number of frames the transition will last. When omitted, this value is set to 8.</td></tr>
    <tr><td class="paramname">filename</td><td>filename specifies the transition graphic file name. When not specified, a standard fade will be used.</td></tr>
    <tr><td class="paramname">vague</td><td>vague sets the ambiguity of the borderline between the graphic's starting and ending points. The larger the value, the greater the ambiguity. When omitted, this value is set to 40.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a9f21d3939bed646e8f85765aff0b9961" name="a9f21d3939bed646e8f85765aff0b9961"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f21d3939bed646e8f85765aff0b9961">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IGraphics.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Refreshes the game screen and advances time by 1 frame. This method must be called at set intervals.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a57d3d7a9c5b8bbfadb2883c9f61962cd" name="a57d3d7a9c5b8bbfadb2883c9f61962cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a57d3d7a9c5b8bbfadb2883c9f61962cd">&#9670;&#160;</a></span>wait() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.wait </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>duration</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Waits for the specified number of frames.  </p>
<p >do { <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a9f21d3939bed646e8f85765aff0b9961" title="Refreshes the game screen and advances time by 1 frame. This method must be called at set intervals.">update</a> } while (duration.times) </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">duration</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ac8c7c38bfd85a1304e00c2e2f6c8a7da" name="ac8c7c38bfd85a1304e00c2e2f6c8a7da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8c7c38bfd85a1304e00c2e2f6c8a7da">&#9670;&#160;</a></span>wait() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGraphics.wait </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a34a09b19bf26964345a2cdfc619c4cc8" name="a34a09b19bf26964345a2cdfc619c4cc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34a09b19bf26964345a2cdfc619c4cc8">&#9670;&#160;</a></span>brightness</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.IGraphics.brightness</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The brightness of the screen. Takes a value from 0 to 255. The fadeout, fade-in, and transition methods change this value internally, as required.  </p>
<p >ToDO: Takes a value from -126 to 126. Negative use black overlay, positive use white. </p>

</div>
</div>
<a id="a8c91c7066cd85509954559e52443ebec" name="a8c91c7066cd85509954559e52443ebec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c91c7066cd85509954559e52443ebec">&#9670;&#160;</a></span>deletefailed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGraphics.deletefailed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a817f8745665a1fbc697f34da91a0831d" name="a817f8745665a1fbc697f34da91a0831d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a817f8745665a1fbc697f34da91a0831d">&#9670;&#160;</a></span>frame_count</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGraphics.frame_count</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The screen's refresh rate count. Set this property to 0 at game start and the game play time (in seconds) can be calculated by dividing this value by the frame_rate property value.  </p>

</div>
</div>
<a id="a1e62853a3e0bab7ffbc8d0cced5b2a79" name="a1e62853a3e0bab7ffbc8d0cced5b2a79"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e62853a3e0bab7ffbc8d0cced5b2a79">&#9670;&#160;</a></span>frame_rate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGraphics.frame_rate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The number of times the screen is refreshed per second. The larger the value, the more CPU power is required. Normally set at 60. Changing this property is not recommended; however, it can be set anywhere from 10 to 120.  </p>

</div>
</div>
<a id="a0f9d6bcda61380c3eb749ffd187a6206" name="a0f9d6bcda61380c3eb749ffd187a6206"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f9d6bcda61380c3eb749ffd187a6206">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGraphics.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the height of the game screen.  </p>

</div>
</div>
<a id="a52f7e9ee93bdf6a54e39a7178945920c" name="a52f7e9ee93bdf6a54e39a7178945920c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52f7e9ee93bdf6a54e39a7178945920c">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGraphics.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gets the width of the game screen.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following files:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_resizer_8cs.cshtml">ISpriteResizer.cs</a></li>
</ul>

