@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml">IGameOrgBattleGenerator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6530dfc9fbad16bff8ae57b44f212648"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a6530dfc9fbad16bff8ae57b44f212648">pbRandomMove</a> ()</td></tr>
<tr class="separator:a6530dfc9fbad16bff8ae57b44f212648"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea8fb35db75015f5f3d11c084e5badd9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#aea8fb35db75015f5f3d11c084e5badd9">addMove</a> (ref List&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> &gt; moves, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, int @@base)</td></tr>
<tr class="separator:aea8fb35db75015f5f3d11c084e5badd9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad86e4da5ba1900ff7454ec3dd2965035"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ad86e4da5ba1900ff7454ec3dd2965035">pbGetLegalMoves2</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int maxlevel)</td></tr>
<tr class="separator:ad86e4da5ba1900ff7454ec3dd2965035"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24b40a86b8e95a4f7534402a0d68e82b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a24b40a86b8e95a4f7534402a0d68e82b">baseStatTotal</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a24b40a86b8e95a4f7534402a0d68e82b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7032dd2bf91949fc55193e276dfab643"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7032dd2bf91949fc55193e276dfab643">babySpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a7032dd2bf91949fc55193e276dfab643"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33342ba4d29c9236db2390159ec1c52c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a33342ba4d29c9236db2390159ec1c52c">minimumLevel</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a33342ba4d29c9236db2390159ec1c52c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30c005ceafaf1fe3e6206438e74ae55a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">PokemonUnity.Attack.Data.MoveData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a30c005ceafaf1fe3e6206438e74ae55a">moveData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a30c005ceafaf1fe3e6206438e74ae55a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8a2bdfbecba7a4ead62d6e29e34599a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ae8a2bdfbecba7a4ead62d6e29e34599a">withRestr</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, int minbs, int maxbs, int legendary)</td></tr>
<tr class="separator:ae8a2bdfbecba7a4ead62d6e29e34599a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7a8781d69dfa7976990160a38b54713"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ac7a8781d69dfa7976990160a38b54713">pbArrangeByTier</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] pokemonlist, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:ac7a8781d69dfa7976990160a38b54713"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d7326a4f3353423a96a9ddc23f39369"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a8d7326a4f3353423a96a9ddc23f39369">hasMorePowerfulMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] moves, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> thismove)</td></tr>
<tr class="separator:a8d7326a4f3353423a96a9ddc23f39369"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2174ca2398543f7a9bb58500a4838c62"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a2174ca2398543f7a9bb58500a4838c62">pbRandomPokemonFromRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> trainer)</td></tr>
<tr class="separator:a2174ca2398543f7a9bb58500a4838c62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a805e3f0fefe210343bae13cb1d574c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a3a805e3f0fefe210343bae13cb1d574c">pbDecideWinnerEffectiveness</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> otype1, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> otype2, <a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> ability, int[] scores)</td></tr>
<tr class="separator:a3a805e3f0fefe210343bae13cb1d574c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a460ee17fd90632e2f4070c5f1c1d31e0"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a460ee17fd90632e2f4070c5f1c1d31e0">pbDecideWinnerScore</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, double rating)</td></tr>
<tr class="separator:a460ee17fd90632e2f4070c5f1c1d31e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9010544e50d61ef1e9069ad0d73bd6e2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a9010544e50d61ef1e9069ad0d73bd6e2">pbDecideWinner</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, double rating0, double rating1)</td></tr>
<tr class="separator:a9010544e50d61ef1e9069ad0d73bd6e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6dd97d6bdd56e1ebdcc5917cf527f35b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a6dd97d6bdd56e1ebdcc5917cf527f35b">pbRuledBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> team1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> team2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a6dd97d6bdd56e1ebdcc5917cf527f35b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad4bc51016c13e4bde0032dd1506ce733"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ad4bc51016c13e4bde0032dd1506ce733">getTypes</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:ad4bc51016c13e4bde0032dd1506ce733"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a280c0fc899ef987bd5700977a77cd410"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a280c0fc899ef987bd5700977a77cd410">pbTrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] pokemonlist, string trfile, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rules)</td></tr>
<tr class="separator:a280c0fc899ef987bd5700977a77cd410"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeaeecd03ff0edaec2ebb62434d302ab9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#aeaeecd03ff0edaec2ebb62434d302ab9">isBattlePokemonDuplicate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pk, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pk2)</td></tr>
<tr class="separator:aeaeecd03ff0edaec2ebb62434d302ab9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f23256a9deacb3e32515cc026dd50da"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7f23256a9deacb3e32515cc026dd50da">pbRemoveDuplicates</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party)</td></tr>
<tr class="separator:a7f23256a9deacb3e32515cc026dd50da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a711d34948b9b26272625e0ff88b13a8d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a711d34948b9b26272625e0ff88b13a8d">pbReplenishBattlePokemon</a> (ref List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a711d34948b9b26272625e0ff88b13a8d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a67143fed150b932b43a310147e0bfdeb"><td class="memItemLeft" align="right" valign="top">IEnumerator&lt; string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a67143fed150b932b43a310147e0bfdeb">pbGenerateChallenge</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, string tag)</td></tr>
<tr class="separator:a67143fed150b932b43a310147e0bfdeb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822b00704a06dc0fa9a181f6cd274635"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a822b00704a06dc0fa9a181f6cd274635">pbWriteCup</a> (int id, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rules)</td></tr>
<tr class="separator:a822b00704a06dc0fa9a181f6cd274635"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aea8fb35db75015f5f3d11c084e5badd9" name="aea8fb35db75015f5f3d11c084e5badd9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea8fb35db75015f5f3d11c084e5badd9">&#9670;&#160;</a></span>addMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.addMove </td>
          <td>(</td>
          <td class="paramtype">ref List&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> &gt;&#160;</td>
          <td class="paramname"><em>moves</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int @@&#160;</td>
          <td class="paramname"><em>base</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7032dd2bf91949fc55193e276dfab643" name="a7032dd2bf91949fc55193e276dfab643"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7032dd2bf91949fc55193e276dfab643">&#9670;&#160;</a></span>babySpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.babySpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a24b40a86b8e95a4f7534402a0d68e82b" name="a24b40a86b8e95a4f7534402a0d68e82b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24b40a86b8e95a4f7534402a0d68e82b">&#9670;&#160;</a></span>baseStatTotal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.baseStatTotal </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad4bc51016c13e4bde0032dd1506ce733" name="ad4bc51016c13e4bde0032dd1506ce733"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad4bc51016c13e4bde0032dd1506ce733">&#9670;&#160;</a></span>getTypes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.getTypes </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8d7326a4f3353423a96a9ddc23f39369" name="a8d7326a4f3353423a96a9ddc23f39369"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d7326a4f3353423a96a9ddc23f39369">&#9670;&#160;</a></span>hasMorePowerfulMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.hasMorePowerfulMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>moves</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>thismove</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeaeecd03ff0edaec2ebb62434d302ab9" name="aeaeecd03ff0edaec2ebb62434d302ab9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeaeecd03ff0edaec2ebb62434d302ab9">&#9670;&#160;</a></span>isBattlePokemonDuplicate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.isBattlePokemonDuplicate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pk2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a33342ba4d29c9236db2390159ec1c52c" name="a33342ba4d29c9236db2390159ec1c52c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33342ba4d29c9236db2390159ec1c52c">&#9670;&#160;</a></span>minimumLevel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.minimumLevel </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a30c005ceafaf1fe3e6206438e74ae55a" name="a30c005ceafaf1fe3e6206438e74ae55a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30c005ceafaf1fe3e6206438e74ae55a">&#9670;&#160;</a></span>moveData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">PokemonUnity.Attack.Data.MoveData</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.moveData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac7a8781d69dfa7976990160a38b54713" name="ac7a8781d69dfa7976990160a38b54713"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7a8781d69dfa7976990160a38b54713">&#9670;&#160;</a></span>pbArrangeByTier()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbArrangeByTier </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>pokemonlist</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9010544e50d61ef1e9069ad0d73bd6e2" name="a9010544e50d61ef1e9069ad0d73bd6e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9010544e50d61ef1e9069ad0d73bd6e2">&#9670;&#160;</a></span>pbDecideWinner()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbDecideWinner </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating1</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3a805e3f0fefe210343bae13cb1d574c" name="a3a805e3f0fefe210343bae13cb1d574c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a805e3f0fefe210343bae13cb1d574c">&#9670;&#160;</a></span>pbDecideWinnerEffectiveness()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbDecideWinnerEffectiveness </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>otype1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>otype2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>&#160;</td>
          <td class="paramname"><em>ability</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>scores</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a460ee17fd90632e2f4070c5f1c1d31e0" name="a460ee17fd90632e2f4070c5f1c1d31e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a460ee17fd90632e2f4070c5f1c1d31e0">&#9670;&#160;</a></span>pbDecideWinnerScore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbDecideWinnerScore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a67143fed150b932b43a310147e0bfdeb" name="a67143fed150b932b43a310147e0bfdeb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67143fed150b932b43a310147e0bfdeb">&#9670;&#160;</a></span>pbGenerateChallenge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator&lt; string &gt; PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbGenerateChallenge </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>tag</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad86e4da5ba1900ff7454ec3dd2965035" name="ad86e4da5ba1900ff7454ec3dd2965035"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad86e4da5ba1900ff7454ec3dd2965035">&#9670;&#160;</a></span>pbGetLegalMoves2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">List&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> &gt; PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbGetLegalMoves2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlevel</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6530dfc9fbad16bff8ae57b44f212648" name="a6530dfc9fbad16bff8ae57b44f212648"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6530dfc9fbad16bff8ae57b44f212648">&#9670;&#160;</a></span>pbRandomMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbRandomMove </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2174ca2398543f7a9bb58500a4838c62" name="a2174ca2398543f7a9bb58500a4838c62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2174ca2398543f7a9bb58500a4838c62">&#9670;&#160;</a></span>pbRandomPokemonFromRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbRandomPokemonFromRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>trainer</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7f23256a9deacb3e32515cc026dd50da" name="a7f23256a9deacb3e32515cc026dd50da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f23256a9deacb3e32515cc026dd50da">&#9670;&#160;</a></span>pbRemoveDuplicates()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbRemoveDuplicates </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a711d34948b9b26272625e0ff88b13a8d" name="a711d34948b9b26272625e0ff88b13a8d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a711d34948b9b26272625e0ff88b13a8d">&#9670;&#160;</a></span>pbReplenishBattlePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbReplenishBattlePokemon </td>
          <td>(</td>
          <td class="paramtype">ref List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6dd97d6bdd56e1ebdcc5917cf527f35b" name="a6dd97d6bdd56e1ebdcc5917cf527f35b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6dd97d6bdd56e1ebdcc5917cf527f35b">&#9670;&#160;</a></span>pbRuledBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbRuledBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>team1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>team2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a280c0fc899ef987bd5700977a77cd410" name="a280c0fc899ef987bd5700977a77cd410"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a280c0fc899ef987bd5700977a77cd410">&#9670;&#160;</a></span>pbTrainerInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbTrainerInfo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>pokemonlist</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>trfile</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a822b00704a06dc0fa9a181f6cd274635" name="a822b00704a06dc0fa9a181f6cd274635"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a822b00704a06dc0fa9a181f6cd274635">&#9670;&#160;</a></span>pbWriteCup()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.pbWriteCup </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae8a2bdfbecba7a4ead62d6e29e34599a" name="ae8a2bdfbecba7a4ead62d6e29e34599a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8a2bdfbecba7a4ead62d6e29e34599a">&#9670;&#160;</a></span>withRestr()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.withRestr </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minbs</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxbs</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>legendary</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_generator_8cs.cshtml">IOrgBattleGenerator.cs</a></li>
</ul>
