@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml">IEncounterModifier</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IEncounterModifier Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml">PokemonEssentials.Interface.Field.IEncounterModifier</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml#ab2b601b243986f3ece72a0c1cf56a7ed">OnEncounter</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml">PokemonEssentials.Interface.Field.IEncounterModifier</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml#a8cfe2e75a3a5c7023a1a79fa0633f473">OnEncounterEnd</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml">PokemonEssentials.Interface.Field.IEncounterModifier</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml#ab1ca88f28fa23b9e827d6bc9130d66b2">triggerEncounterEnd</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter_modifier.cshtml">PokemonEssentials.Interface.Field.IEncounterModifier</a></td><td class="entry"></td></tr>
</table>
