@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml">IGlobalMetadataPokeRadar</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml">Interface.IGlobalMetadata</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.png" usemap="#PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar_map" alt=""/>
  <map id="PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar_map" name="PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml" alt="PokemonEssentials.Interface.IGlobalMetadata" shape="rect" coords="0,56,356,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a09c95b141493135f3dd06444de021f2b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml#a09c95b141493135f3dd06444de021f2b">pokeradarBattery</a><code> [get]</code></td></tr>
<tr class="separator:a09c95b141493135f3dd06444de021f2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml">Interface.IGlobalMetadata</a></dd></dl>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a09c95b141493135f3dd06444de021f2b" name="a09c95b141493135f3dd06444de021f2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09c95b141493135f3dd06444de021f2b">&#9670;&#160;</a></span>pokeradarBattery</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar.pokeradarBattery</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></li>
</ul>

