@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">IPropertyMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt; Interface Template Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt;:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.png" usemap="#PokemonEssentials.Interface.Screen.IPropertyMixin_3C_20T_20_3E_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPropertyMixin_3C_20T_20_3E_map" name="PokemonEssentials.Interface.Screen.IPropertyMixin_3C_20T_20_3E_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml" alt="PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;" shape="rect" coords="0,56,335,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af3d40b22d96f049684e3375622ddc06d"><td class="memItemLeft" align="right" valign="top">Func&lt; int, T &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">get</a> ()</td></tr>
<tr class="separator:af3d40b22d96f049684e3375622ddc06d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33560f3f7b981b0dee5929bb2fd4ae28"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">set</a> (Action&lt; int &gt; value)</td></tr>
<tr class="separator:a33560f3f7b981b0dee5929bb2fd4ae28"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af3d40b22d96f049684e3375622ddc06d" name="af3d40b22d96f049684e3375622ddc06d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3d40b22d96f049684e3375622ddc06d">&#9670;&#160;</a></span>get()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Func&lt; int, T &gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin</a>&lt; T &gt;.get </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a33560f3f7b981b0dee5929bb2fd4ae28" name="a33560f3f7b981b0dee5929bb2fd4ae28"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33560f3f7b981b0dee5929bb2fd4ae28">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin</a>&lt; T &gt;.set </td>
          <td>(</td>
          <td class="paramtype">Action&lt; int &gt;&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>

