@{
	Page.Title = "PokemonEssentials.Interface.Screen.IGameTextEntry Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml">IGameTextEntry</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameTextEntry Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af0a3ec4279b9c671136e3de8a4d168d2"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#af0a3ec4279b9c671136e3de8a4d168d2">EnterText</a> (string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, int mode=0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon=null, bool nofadeout=false)</td></tr>
<tr class="separator:af0a3ec4279b9c671136e3de8a4d168d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19eacdea2f18f4d7fb9df2769fea727a"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a19eacdea2f18f4d7fb9df2769fea727a">EnterPlayerName</a> (string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, bool nofadeout=false)</td></tr>
<tr class="separator:a19eacdea2f18f4d7fb9df2769fea727a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5359a9639a8fbce55b64e462fbe47d30"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a5359a9639a8fbce55b64e462fbe47d30">EnterPokemonName</a> (string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon=null, bool nofadeout=false)</td></tr>
<tr class="separator:a5359a9639a8fbce55b64e462fbe47d30"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0940ed68d46a6f901efd04254ebf7302"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a0940ed68d46a6f901efd04254ebf7302">EnterBoxName</a> (string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, bool nofadeout=false)</td></tr>
<tr class="separator:a0940ed68d46a6f901efd04254ebf7302"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a858760e10413cd72ec8f22beb7ba0b57"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_text_entry.cshtml#a858760e10413cd72ec8f22beb7ba0b57">EnterNPCName</a> (string helptext, int minlength, int maxlength, string initialText=&quot;&quot;, int id=0, bool nofadeout=false)</td></tr>
<tr class="separator:a858760e10413cd72ec8f22beb7ba0b57"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0940ed68d46a6f901efd04254ebf7302" name="a0940ed68d46a6f901efd04254ebf7302"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0940ed68d46a6f901efd04254ebf7302">&#9670;&#160;</a></span>EnterBoxName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameTextEntry.EnterBoxName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em> = <code>&quot;&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a858760e10413cd72ec8f22beb7ba0b57" name="a858760e10413cd72ec8f22beb7ba0b57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a858760e10413cd72ec8f22beb7ba0b57">&#9670;&#160;</a></span>EnterNPCName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameTextEntry.EnterNPCName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em> = <code>&quot;&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19eacdea2f18f4d7fb9df2769fea727a" name="a19eacdea2f18f4d7fb9df2769fea727a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19eacdea2f18f4d7fb9df2769fea727a">&#9670;&#160;</a></span>EnterPlayerName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameTextEntry.EnterPlayerName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em> = <code>&quot;&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5359a9639a8fbce55b64e462fbe47d30" name="a5359a9639a8fbce55b64e462fbe47d30"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5359a9639a8fbce55b64e462fbe47d30">&#9670;&#160;</a></span>EnterPokemonName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameTextEntry.EnterPokemonName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em> = <code>&quot;&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af0a3ec4279b9c671136e3de8a4d168d2" name="af0a3ec4279b9c671136e3de8a4d168d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0a3ec4279b9c671136e3de8a4d168d2">&#9670;&#160;</a></span>EnterText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameTextEntry.EnterText </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em> = <code>&quot;&quot;</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nofadeout</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_text_entry_8cs.cshtml">ITextEntry.cs</a></li>
</ul>

