@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ISingleMatch Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a0da4fd4687f019d517d8c77371711ae8">initialize</a>(float opponentRating, float opponentDev, int score, int kValue=16)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a5bde42e4511c9b8571a1f6249ad3fe5a">kValue</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a7d0319a3a083cc334da14656e121cf03">opponentDeviation</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#adac7f5c3996f954f9658014d0ff20fdd">opponentRating</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml#a7d75193d92c1b119b7a841053a5a9034">score</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">PokemonEssentials.Interface.Battle.ISingleMatch</a></td><td class="entry"></td></tr>
</table>