@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IWindow Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_window-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IWindow Interface Reference</div></div>
}


<p>The game window class. Created internally from multiple sprites.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IWindow:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_window.png" usemap="#PokemonEssentials.Interface.IWindow_map" alt=""/>
  <map id="PokemonEssentials.Interface.IWindow_map" name="PokemonEssentials.Interface.IWindow_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow" shape="rect" coords="1832,112,2280,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_Base" shape="rect" coords="1832,168,2280,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_face_window_v_x.cshtml" alt="PokemonEssentials.Interface.IFaceWindowVX" shape="rect" coords="0,224,448,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_icon_window.cshtml" alt="PokemonEssentials.Interface.IIconWindow" shape="rect" coords="458,224,906,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_picture_window.cshtml" alt="PokemonEssentials.Interface.IPictureWindow" shape="rect" coords="916,224,1364,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_Selectable" shape="rect" coords="1832,224,2280,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_AdvancedTextPokemon" shape="rect" coords="2290,224,2738,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___input_number_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_InputNumberPokemon" shape="rect" coords="2748,224,3196,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___unformatted_text_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_UnformattedTextPokemon" shape="rect" coords="3206,224,3654,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_SelectableEx" shape="rect" coords="1832,280,2280,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml" alt="PokemonEssentials.Interface.IWindow_DrawableCommand" shape="rect" coords="1832,336,2280,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_AdvancedCommandPokemon" shape="rect" coords="458,392,906,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_CommandPokemon" shape="rect" coords="1374,392,1822,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___complex_command_pokemon.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_ComplexCommandPokemon" shape="rect" coords="1832,392,2280,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokedex.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_Pokedex" shape="rect" coords="2290,392,2738,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_bag.cshtml" title="UI Elements for the Bag screen" alt="PokemonEssentials.Interface.Screen.IWindow_PokemonBag" shape="rect" coords="2748,392,3196,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon_ex.cshtml" alt="PokemonEssentials.Interface.IWindow_AdvancedCommandPokemonEx" shape="rect" coords="458,448,906,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon_ex.cshtml" alt="PokemonEssentials.Interface.IWindow_CommandPokemonEx" shape="rect" coords="916,448,1364,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___command_pokemon_white_arrow.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_CommandPokemonWhiteArrow" shape="rect" coords="1374,448,1822,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___dexes_list.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_DexesList" shape="rect" coords="1832,448,2280,472"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5b93fa43347b0555bb271a7c00667773"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a5b93fa43347b0555bb271a7c00667773">update</a> ()</td></tr>
<tr class="separator:a5b93fa43347b0555bb271a7c00667773"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45347d2aa227ef0a8f02c5fd46ca9569"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>)</td></tr>
<tr class="memdesc:a45347d2aa227ef0a8f02c5fd46ca9569"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a Window object. Specifies a Viewport (Viewport) when necessary.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">More...</a><br /></td></tr>
<tr class="separator:a45347d2aa227ef0a8f02c5fd46ca9569"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a423d3025cf93e49510935c767ef97d92"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">windowskin</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a423d3025cf93e49510935c767ef97d92"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the bitmap (Bitmap) used as a windowskin.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">More...</a><br /></td></tr>
<tr class="separator:a423d3025cf93e49510935c767ef97d92"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a078b631fd88736bcf2584964a4c17f63"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a078b631fd88736bcf2584964a4c17f63"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the (Viewport) associated with the window.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">More...</a><br /></td></tr>
<tr class="separator:a078b631fd88736bcf2584964a4c17f63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac41f52747ca2171d6581fa011290daa4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">active</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac41f52747ca2171d6581fa011290daa4"><td class="mdescLeft">&#160;</td><td class="mdescRight">The cursor box (Rect). Sets the window's upper left corner using relative coordinates (-16, -16).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">More...</a><br /></td></tr>
<tr class="separator:ac41f52747ca2171d6581fa011290daa4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7716418b49bad2f5dacffde577ffd5d2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7716418b49bad2f5dacffde577ffd5d2"><td class="mdescLeft">&#160;</td><td class="mdescRight">The viewport's visibility. If TRUE, the viewport is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">More...</a><br /></td></tr>
<tr class="separator:a7716418b49bad2f5dacffde577ffd5d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21d56613233710262e74424f91bd8063"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">pause</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a21d56613233710262e74424f91bd8063"><td class="mdescLeft">&#160;</td><td class="mdescRight">The pause graphic's visibility. This is a symbol that appears in the message window when waiting for the player to press a button. If TRUE, the graphic is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">More...</a><br /></td></tr>
<tr class="separator:a21d56613233710262e74424f91bd8063"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae36cc081149dd10f52d98fd61fed9bae"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae36cc081149dd10f52d98fd61fed9bae"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">More...</a><br /></td></tr>
<tr class="separator:ae36cc081149dd10f52d98fd61fed9bae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a610ffd1e897bf268e608edc3cd4f8490"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a610ffd1e897bf268e608edc3cd4f8490"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">More...</a><br /></td></tr>
<tr class="separator:a610ffd1e897bf268e608edc3cd4f8490"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e9a510886136d10401264daf7f67d09"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4e9a510886136d10401264daf7f67d09"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">More...</a><br /></td></tr>
<tr class="separator:a4e9a510886136d10401264daf7f67d09"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a033f6167a4cc584126ebeeb2d4db580f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a033f6167a4cc584126ebeeb2d4db580f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">More...</a><br /></td></tr>
<tr class="separator:a033f6167a4cc584126ebeeb2d4db580f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62e4f89b417d4ed064d241c0088a4691"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">z</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a62e4f89b417d4ed064d241c0088a4691"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Z-coordinate. The larger this value, the closer to the player the plane will be displayed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">More...</a><br /></td></tr>
<tr class="separator:a62e4f89b417d4ed064d241c0088a4691"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a934153a7daef857431e5341034ef32bd"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a934153a7daef857431e5341034ef32bd"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">More...</a><br /></td></tr>
<tr class="separator:a934153a7daef857431e5341034ef32bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03a488fcd36fcfc349df8be5e8ba377d"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a03a488fcd36fcfc349df8be5e8ba377d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">More...</a><br /></td></tr>
<tr class="separator:a03a488fcd36fcfc349df8be5e8ba377d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefef9ff3f7e9928b7082297e59792ed0"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aefef9ff3f7e9928b7082297e59792ed0"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">More...</a><br /></td></tr>
<tr class="separator:aefef9ff3f7e9928b7082297e59792ed0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cc447a5d67c7356ef7e2c7f81d9787e"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">back_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8cc447a5d67c7356ef7e2c7f81d9787e"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window background's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">More...</a><br /></td></tr>
<tr class="separator:a8cc447a5d67c7356ef7e2c7f81d9787e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27fe817a4084bfce1c98e1d56c8ac323"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">contents_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27fe817a4084bfce1c98e1d56c8ac323"><td class="mdescLeft">&#160;</td><td class="mdescRight">The opacity of the window's contents (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">More...</a><br /></td></tr>
<tr class="separator:a27fe817a4084bfce1c98e1d56c8ac323"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3997d54a4cbfcabc0ed25b0c605fa702"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">openness</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3997d54a4cbfcabc0ed25b0c605fa702"><td class="mdescLeft">&#160;</td><td class="mdescRight">By changing this value from 0 (completely closed) to 255 (completely open), it is possible to create an animation of the window opening and closing. If the openness is less than 255, the contents of the window will not be displayed. The default value is 255.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">More...</a><br /></td></tr>
<tr class="separator:a3997d54a4cbfcabc0ed25b0c605fa702"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a558ef8d06ca4d92dcdbf3a6aa596ba31"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a558ef8d06ca4d92dcdbf3a6aa596ba31"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">More...</a><br /></td></tr>
<tr class="separator:a558ef8d06ca4d92dcdbf3a6aa596ba31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a722de601dac7c5131197dd26dfb4d2b0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a722de601dac7c5131197dd26dfb4d2b0">disposed</a><code> [get]</code></td></tr>
<tr class="separator:a722de601dac7c5131197dd26dfb4d2b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The game window class. Created internally from multiple sprites.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a45347d2aa227ef0a8f02c5fd46ca9569" name="a45347d2aa227ef0a8f02c5fd46ca9569"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a45347d2aa227ef0a8f02c5fd46ca9569">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> PokemonEssentials.Interface.IWindow.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Creates a Window object. Specifies a Viewport (Viewport) when necessary.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">viewport</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a4e015ce8f83cd5be108f0ac5835f9b43">PokemonEssentials.Interface.ISpriteWindow</a>.</p>

</div>
</div>
<a id="a5b93fa43347b0555bb271a7c00667773" name="a5b93fa43347b0555bb271a7c00667773"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b93fa43347b0555bb271a7c00667773">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IWindow.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a7b0d0a97cadadbee75b32d00957c9b29">PokemonEssentials.Interface.ISpriteWindow_Base</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a81b78171fce7bf39b925cbaa4171238b">PokemonEssentials.Interface.ISpriteWindow_Selectable</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a9f2469af8629855d5f2829ba72d96f91">PokemonEssentials.Interface.IWindow_DrawableCommand</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ae2448e20aeb6937e9757812e8637da95">PokemonEssentials.Interface.IWindow_AdvancedTextPokemon</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___input_number_pokemon.cshtml#aa71713cd1ee55c128377fa87102de0b0">PokemonEssentials.Interface.IWindow_InputNumberPokemon</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_icon_window.cshtml#a0905e37cc8d01d9c62ed5776f7ca4b98">PokemonEssentials.Interface.IIconWindow</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_picture_window.cshtml#a84295ad18c20f18b6bf2eb39261cb24b">PokemonEssentials.Interface.IPictureWindow</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac41f52747ca2171d6581fa011290daa4" name="ac41f52747ca2171d6581fa011290daa4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac41f52747ca2171d6581fa011290daa4">&#9670;&#160;</a></span>active</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow.active</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The cursor box (Rect). Sets the window's upper left corner using relative coordinates (-16, -16).  </p>
<p >Cursor blink status. If TRUE, the cursor is blinking.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___input_number_pokemon.cshtml#af7c62a8631361b8ee830bdb9392f5baa">PokemonEssentials.Interface.IWindow_InputNumberPokemon</a>.</p>

</div>
</div>
<a id="a8cc447a5d67c7356ef7e2c7f81d9787e" name="a8cc447a5d67c7356ef7e2c7f81d9787e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8cc447a5d67c7356ef7e2c7f81d9787e">&#9670;&#160;</a></span>back_opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.IWindow.back_opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window background's opacity (0-255).  </p>

</div>
</div>
<a id="a558ef8d06ca4d92dcdbf3a6aa596ba31" name="a558ef8d06ca4d92dcdbf3a6aa596ba31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a558ef8d06ca4d92dcdbf3a6aa596ba31">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IWindow.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a19da9772bbe6da342c7cfaa49b39c02f">PokemonEssentials.Interface.IWindow_CommandPokemon</a>.</p>

</div>
</div>
<a id="a27fe817a4084bfce1c98e1d56c8ac323" name="a27fe817a4084bfce1c98e1d56c8ac323"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27fe817a4084bfce1c98e1d56c8ac323">&#9670;&#160;</a></span>contents_opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.IWindow.contents_opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The opacity of the window's contents (0-255).  </p>

</div>
</div>
<a id="a722de601dac7c5131197dd26dfb4d2b0" name="a722de601dac7c5131197dd26dfb4d2b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a722de601dac7c5131197dd26dfb4d2b0">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a033f6167a4cc584126ebeeb2d4db580f" name="a033f6167a4cc584126ebeeb2d4db580f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a033f6167a4cc584126ebeeb2d4db580f">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's height.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#af59f04d93f2ec2f64013045726b2b582">PokemonEssentials.Interface.IWindow_CommandPokemon</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon.cshtml#aa856a7cfed6b4e58b9d69b27287e437a">PokemonEssentials.Interface.IWindow_AdvancedCommandPokemon</a>.</p>

</div>
</div>
<a id="aefef9ff3f7e9928b7082297e59792ed0" name="aefef9ff3f7e9928b7082297e59792ed0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefef9ff3f7e9928b7082297e59792ed0">&#9670;&#160;</a></span>opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.IWindow.opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's opacity (0-255).  </p>

</div>
</div>
<a id="a3997d54a4cbfcabc0ed25b0c605fa702" name="a3997d54a4cbfcabc0ed25b0c605fa702"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3997d54a4cbfcabc0ed25b0c605fa702">&#9670;&#160;</a></span>openness</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.IWindow.openness</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>By changing this value from 0 (completely closed) to 255 (completely open), it is possible to create an animation of the window opening and closing. If the openness is less than 255, the contents of the window will not be displayed. The default value is 255.  </p>

</div>
</div>
<a id="a934153a7daef857431e5341034ef32bd" name="a934153a7daef857431e5341034ef32bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a934153a7daef857431e5341034ef32bd">&#9670;&#160;</a></span>ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.  </p>

</div>
</div>
<a id="a03a488fcd36fcfc349df8be5e8ba377d" name="a03a488fcd36fcfc349df8be5e8ba377d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03a488fcd36fcfc349df8be5e8ba377d">&#9670;&#160;</a></span>oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.  </p>

</div>
</div>
<a id="a21d56613233710262e74424f91bd8063" name="a21d56613233710262e74424f91bd8063"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21d56613233710262e74424f91bd8063">&#9670;&#160;</a></span>pause</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow.pause</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The pause graphic's visibility. This is a symbol that appears in the message window when waiting for the player to press a button. If TRUE, the graphic is visible.  </p>

</div>
</div>
<a id="a078b631fd88736bcf2584964a4c17f63" name="a078b631fd88736bcf2584964a4c17f63"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a078b631fd88736bcf2584964a4c17f63">&#9670;&#160;</a></span>viewport</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.IWindow.viewport</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Refers to the (Viewport) associated with the window.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">PokemonEssentials.Interface.ISpriteWindow_SelectableEx</a>.</p>

</div>
</div>
<a id="a7716418b49bad2f5dacffde577ffd5d2" name="a7716418b49bad2f5dacffde577ffd5d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7716418b49bad2f5dacffde577ffd5d2">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The viewport's visibility. If TRUE, the viewport is visible.  </p>

</div>
</div>
<a id="a4e9a510886136d10401264daf7f67d09" name="a4e9a510886136d10401264daf7f67d09"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4e9a510886136d10401264daf7f67d09">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's width.  </p>

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">PokemonEssentials.Interface.IWindow_CommandPokemon</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon.cshtml#a4261870f3403e6109ff1704684c35b27">PokemonEssentials.Interface.IWindow_AdvancedCommandPokemon</a>.</p>

</div>
</div>
<a id="a423d3025cf93e49510935c767ef97d92" name="a423d3025cf93e49510935c767ef97d92"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a423d3025cf93e49510935c767ef97d92">&#9670;&#160;</a></span>windowskin</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow.windowskin</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Refers to the bitmap (Bitmap) used as a windowskin.  </p>

</div>
</div>
<a id="ae36cc081149dd10f52d98fd61fed9bae" name="ae36cc081149dd10f52d98fd61fed9bae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae36cc081149dd10f52d98fd61fed9bae">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's X-coordinate.  </p>

</div>
</div>
<a id="a610ffd1e897bf268e608edc3cd4f8490" name="a610ffd1e897bf268e608edc3cd4f8490"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a610ffd1e897bf268e608edc3cd4f8490">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's Y-coordinate.  </p>

</div>
</div>
<a id="a62e4f89b417d4ed064d241c0088a4691" name="a62e4f89b417d4ed064d241c0088a4691"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62e4f89b417d4ed064d241c0088a4691">&#9670;&#160;</a></span>z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow.z</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's Z-coordinate. The larger this value, the closer to the player the plane will be displayed.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>

