@{
	Page.Title = "PokemonUnity.IDatabase Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml">IDatabase</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_database-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IDatabase Interface Reference</div></div>
}


<p>Variables that are stored when game is saved, and other temp values used for gameplay. This class should be called once, when the game boots-up. During boot-up, game will check directory for save files and load data. <a class="el" href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay.">Game</a> class will overwrite all the other class default values when player triggers a load state.   
 <a href="interface_pokemon_unity_1_1_i_database.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a66c7d2672f2f1fb188410a27f2a53483"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a66c7d2672f2f1fb188410a27f2a53483">InitPokemons</a> (bool sql=true)</td></tr>
<tr class="separator:a66c7d2672f2f1fb188410a27f2a53483"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47a778175ded57ff8a7718166ac33092"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a47a778175ded57ff8a7718166ac33092">InitPokemonMoves</a> (bool sql=true)</td></tr>
<tr class="separator:a47a778175ded57ff8a7718166ac33092"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3df97c4df4925645f7b10f46c985ad6e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a3df97c4df4925645f7b10f46c985ad6e">InitPokemonEvolutions</a> (bool sql=true)</td></tr>
<tr class="separator:a3df97c4df4925645f7b10f46c985ad6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a48d9f075f91792a8d2be04c517978623"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a48d9f075f91792a8d2be04c517978623">InitPokemonItems</a> (bool sql=true)</td></tr>
<tr class="separator:a48d9f075f91792a8d2be04c517978623"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c3cde4211fd7050d83fd65cf04d2f6a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a2c3cde4211fd7050d83fd65cf04d2f6a">InitPokemonForms</a> (bool sql=true)</td></tr>
<tr class="separator:a2c3cde4211fd7050d83fd65cf04d2f6a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa31697ec5863605526468744553de4ba"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#aa31697ec5863605526468744553de4ba">InitNatures</a> (bool sql=true)</td></tr>
<tr class="separator:aa31697ec5863605526468744553de4ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade2365285bc04a2e41933031f8e15647"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ade2365285bc04a2e41933031f8e15647">InitTypes</a> (bool sql=true)</td></tr>
<tr class="separator:ade2365285bc04a2e41933031f8e15647"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c1342a4c0c06cbcf108b6a543bdccc5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a3c1342a4c0c06cbcf108b6a543bdccc5">InitMoves</a> (bool sql=true)</td></tr>
<tr class="separator:a3c1342a4c0c06cbcf108b6a543bdccc5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acac12714067613bd16bf8098eeea50bf"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#acac12714067613bd16bf8098eeea50bf">InitMoveEffects</a> (bool sql=false)</td></tr>
<tr class="separator:acac12714067613bd16bf8098eeea50bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd6ebdcec5f82b4b82352633798fa554"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#afd6ebdcec5f82b4b82352633798fa554">InitItems</a> (bool sql=true)</td></tr>
<tr class="separator:afd6ebdcec5f82b4b82352633798fa554"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e2dcb0d8c6f9e859323fdf21441a2f2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a8e2dcb0d8c6f9e859323fdf21441a2f2">InitBerries</a> (bool sql=true)</td></tr>
<tr class="separator:a8e2dcb0d8c6f9e859323fdf21441a2f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc0823298e567a89e9089d29ca5abec1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#afc0823298e567a89e9089d29ca5abec1">InitRegions</a> (bool sql=true)</td></tr>
<tr class="separator:afc0823298e567a89e9089d29ca5abec1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a437904dfbc4e2004cf24ac3f28369746"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a437904dfbc4e2004cf24ac3f28369746">InitLocations</a> (bool sql=true)</td></tr>
<tr class="separator:a437904dfbc4e2004cf24ac3f28369746"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12891be7a33ae4168f26ca19ca638418"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a12891be7a33ae4168f26ca19ca638418">InitEncounters</a> (bool sql=true)</td></tr>
<tr class="separator:a12891be7a33ae4168f26ca19ca638418"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27940faad5391428602e0f4b4e4b8c46"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a27940faad5391428602e0f4b4e4b8c46">InitMachines</a> (bool sql=true)</td></tr>
<tr class="separator:a27940faad5391428602e0f4b4e4b8c46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af432f67aa59410336dce142701a51618"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#af432f67aa59410336dce142701a51618">InitTrainers</a> (bool sql=false)</td></tr>
<tr class="separator:af432f67aa59410336dce142701a51618"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8bb0d29b5bd208c81d7712711bc36981"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a8bb0d29b5bd208c81d7712711bc36981">InitGymBadges</a> (bool sql=false)</td></tr>
<tr class="separator:a8bb0d29b5bd208c81d7712711bc36981"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75fa8182eb66d8ff825cbe68899c03c3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a75fa8182eb66d8ff825cbe68899c03c3">InitPokedex</a> (bool sql=true)</td></tr>
<tr class="separator:a75fa8182eb66d8ff825cbe68899c03c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5e564bebc96e413b27deda9735c6330b"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a5e564bebc96e413b27deda9735c6330b">PokemonEvolutionsData</a> <code>[get]</code></td></tr>
<tr class="separator:a5e564bebc96e413b27deda9735c6330b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9e8c6a2c257f0781ec5d91f71b8ad1b"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml">PokemonUnity.Monster.Data.PokemonWildItems</a>[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#af9e8c6a2c257f0781ec5d91f71b8ad1b">PokemonItemsData</a> <code>[get]</code></td></tr>
<tr class="separator:af9e8c6a2c257f0781ec5d91f71b8ad1b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8a2b06ccd44c88f00dca7ca3582640a"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_form.cshtml">PokemonUnity.Monster.Data.Form</a>[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ac8a2b06ccd44c88f00dca7ca3582640a">PokemonFormsData</a> <code>[get]</code></td></tr>
<tr class="separator:ac8a2b06ccd44c88f00dca7ca3582640a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c6456151d8eb7c8098e4496a147d88c"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a1c6456151d8eb7c8098e4496a147d88c">PokemonMovesData</a> <code>[get]</code></td></tr>
<tr class="separator:a1c6456151d8eb7c8098e4496a147d88c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9e1277c4bd6be5d2b39d9b7e6338d6b"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml">PokemonUnity.Monster.Data.PokemonData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ac9e1277c4bd6be5d2b39d9b7e6338d6b">PokemonData</a> <code>[get]</code></td></tr>
<tr class="separator:ac9e1277c4bd6be5d2b39d9b7e6338d6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac13c0929d070122c99440ba8d4c45512"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a006b000842ecac022ed75bd637df09dd">Natures</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_nature.cshtml">PokemonUnity.Monster.Nature</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ac13c0929d070122c99440ba8d4c45512">NatureData</a> <code>[get]</code></td></tr>
<tr class="separator:ac13c0929d070122c99440ba8d4c45512"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1a1efda48de4f6711b5350f9bbdccac"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#af1a1efda48de4f6711b5350f9bbdccac">TypeData</a> <code>[get]</code></td></tr>
<tr class="separator:af1a1efda48de4f6711b5350f9bbdccac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adbc2679ae42bf57d63cb045e4f42aa37"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">Attack.Data.MoveData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#adbc2679ae42bf57d63cb045e4f42aa37">MoveData</a> <code>[get]</code></td></tr>
<tr class="separator:adbc2679ae42bf57d63cb045e4f42aa37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ebc3b9babee8a35a2e3e2f06ce725ec"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml">Attack.Data.MetaData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a7ebc3b9babee8a35a2e3e2f06ce725ec">MoveMetaData</a> <code>[get]</code></td></tr>
<tr class="separator:a7ebc3b9babee8a35a2e3e2f06ce725ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8233016ab957d35bd582afc57160b69a"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">PokemonEssentials.Interface.PokeBattle.IBattleMove</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a8233016ab957d35bd582afc57160b69a">MoveEffectData</a> <code>[get]</code></td></tr>
<tr class="separator:a8233016ab957d35bd582afc57160b69a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e0cb4e2cbef16b7a471011dcb71cc57"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a1e0cb4e2cbef16b7a471011dcb71cc57">ItemData</a> <code>[get]</code></td></tr>
<tr class="separator:a1e0cb4e2cbef16b7a471011dcb71cc57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b315d4e38429d372eb10c36e180ff6d"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>, <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a8b315d4e38429d372eb10c36e180ff6d">BerryData</a> <code>[get]</code></td></tr>
<tr class="separator:a8b315d4e38429d372eb10c36e180ff6d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f809716279ea26d6cdb00c3b5aa4aa8"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>, <a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a0f809716279ea26d6cdb00c3b5aa4aa8">RegionData</a> <code>[get]</code></td></tr>
<tr class="separator:a0f809716279ea26d6cdb00c3b5aa4aa8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80dc134420ead37c1dfeaadee031e97e"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">Pokedex</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a80dc134420ead37c1dfeaadee031e97e">PokedexData</a> <code>[get]</code></td></tr>
<tr class="separator:a80dc134420ead37c1dfeaadee031e97e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5290a835c791e0b0bb4b136cb3110ebb"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>, int[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a5290a835c791e0b0bb4b136cb3110ebb">LocationData</a> <code>[get]</code></td></tr>
<tr class="memdesc:a5290a835c791e0b0bb4b136cb3110ebb"><td class="mdescLeft">&#160;</td><td class="mdescRight">Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>, <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a93eceb2ba0614dcc9e1425f51e6d68c8">Area.Id</a></dd></dl>
<p>| Value:    <a href="interface_pokemon_unity_1_1_i_database.cshtml#a5290a835c791e0b0bb4b136cb3110ebb">More...</a><br /></td></tr>
<tr class="separator:a5290a835c791e0b0bb4b136cb3110ebb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab12f85b8d079ecb9d95ca8c12b771b75"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">IArea</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ab12f85b8d079ecb9d95ca8c12b771b75">AreaData</a> <code>[get]</code></td></tr>
<tr class="memdesc:ab12f85b8d079ecb9d95ca8c12b771b75"><td class="mdescLeft">&#160;</td><td class="mdescRight">List of <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#afb14ba123fda335688eabaad8cdaef69">Player.Area</a> that triggers </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance enounter for a battle agai...">Overworld.IEncounterData</a></dd></dl>
 <a href="interface_pokemon_unity_1_1_i_database.cshtml#ab12f85b8d079ecb9d95ca8c12b771b75">More...</a><br /></td></tr>
<tr class="separator:ab12f85b8d079ecb9d95ca8c12b771b75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae52c5b195c71122244751a9dd163915d"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>, int[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ae52c5b195c71122244751a9dd163915d">MethodData</a> <code>[get]</code></td></tr>
<tr class="memdesc:ae52c5b195c71122244751a9dd163915d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b" title="Encounter method">Method</a>, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2" title="Identifier for this Encounter (Used for record lookup, and tracking/storage)">IEncounterData.Id</a></dd></dl>
<p>| Value:    <a href="interface_pokemon_unity_1_1_i_database.cshtml#ae52c5b195c71122244751a9dd163915d">More...</a><br /></td></tr>
<tr class="separator:ae52c5b195c71122244751a9dd163915d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ffb712736f3ead46caeb83b6bfac050"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a6ffb712736f3ead46caeb83b6bfac050">EncounterData</a> <code>[get]</code></td></tr>
<tr class="memdesc:a6ffb712736f3ead46caeb83b6bfac050"><td class="mdescLeft">&#160;</td><td class="mdescRight">Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2" title="Identifier for this Encounter (Used for record lookup, and tracking/storage)">IEncounterData.Id</a>, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance enounter for a battle agai...">Overworld.IEncounterData</a></dd></dl>
<p>| Value:    <a href="interface_pokemon_unity_1_1_i_database.cshtml#a6ffb712736f3ead46caeb83b6bfac050">More...</a><br /></td></tr>
<tr class="separator:a6ffb712736f3ead46caeb83b6bfac050"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad49dc0d89c3b898577652c9ede4f597"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">TrainerMetaData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#aad49dc0d89c3b898577652c9ede4f597">TrainerMetaData</a> <code>[get]</code></td></tr>
<tr class="separator:aad49dc0d89c3b898577652c9ede4f597"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aedd18e7a6b669b0d9f7d4e7636fd7ccb"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">Character.BadgeData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#aedd18e7a6b669b0d9f7d4e7636fd7ccb">BadgeData</a> <code>[get]</code></td></tr>
<tr class="separator:aedd18e7a6b669b0d9f7d4e7636fd7ccb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ccc27e14bd8169c4c282cac7d1ff9f0"><td class="memItemLeft" align="right" valign="top">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a>, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">HiddenMoveData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#a8ccc27e14bd8169c4c282cac7d1ff9f0">HiddenMoveData</a> <code>[get]</code></td></tr>
<tr class="separator:a8ccc27e14bd8169c4c282cac7d1ff9f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace2ded0b7c45cfe42cd6ff58bf55a3db"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">MachineData</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_database.cshtml#ace2ded0b7c45cfe42cd6ff58bf55a3db">MachineData</a> <code>[get]</code></td></tr>
<tr class="separator:ace2ded0b7c45cfe42cd6ff58bf55a3db"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Variables that are stored when game is saved, and other temp values used for gameplay. This class should be called once, when the game boots-up. During boot-up, game will check directory for save files and load data. <a class="el" href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay.">Game</a> class will overwrite all the other class default values when player triggers a load state.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a8e2dcb0d8c6f9e859323fdf21441a2f2" name="a8e2dcb0d8c6f9e859323fdf21441a2f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e2dcb0d8c6f9e859323fdf21441a2f2">&#9670;&#160;</a></span>InitBerries()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitBerries </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a12891be7a33ae4168f26ca19ca638418" name="a12891be7a33ae4168f26ca19ca638418"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12891be7a33ae4168f26ca19ca638418">&#9670;&#160;</a></span>InitEncounters()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitEncounters </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8bb0d29b5bd208c81d7712711bc36981" name="a8bb0d29b5bd208c81d7712711bc36981"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bb0d29b5bd208c81d7712711bc36981">&#9670;&#160;</a></span>InitGymBadges()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitGymBadges </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afd6ebdcec5f82b4b82352633798fa554" name="afd6ebdcec5f82b4b82352633798fa554"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd6ebdcec5f82b4b82352633798fa554">&#9670;&#160;</a></span>InitItems()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitItems </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a437904dfbc4e2004cf24ac3f28369746" name="a437904dfbc4e2004cf24ac3f28369746"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a437904dfbc4e2004cf24ac3f28369746">&#9670;&#160;</a></span>InitLocations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitLocations </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a27940faad5391428602e0f4b4e4b8c46" name="a27940faad5391428602e0f4b4e4b8c46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27940faad5391428602e0f4b4e4b8c46">&#9670;&#160;</a></span>InitMachines()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitMachines </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acac12714067613bd16bf8098eeea50bf" name="acac12714067613bd16bf8098eeea50bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acac12714067613bd16bf8098eeea50bf">&#9670;&#160;</a></span>InitMoveEffects()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitMoveEffects </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3c1342a4c0c06cbcf108b6a543bdccc5" name="a3c1342a4c0c06cbcf108b6a543bdccc5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c1342a4c0c06cbcf108b6a543bdccc5">&#9670;&#160;</a></span>InitMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitMoves </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa31697ec5863605526468744553de4ba" name="aa31697ec5863605526468744553de4ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa31697ec5863605526468744553de4ba">&#9670;&#160;</a></span>InitNatures()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitNatures </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a75fa8182eb66d8ff825cbe68899c03c3" name="a75fa8182eb66d8ff825cbe68899c03c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75fa8182eb66d8ff825cbe68899c03c3">&#9670;&#160;</a></span>InitPokedex()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokedex </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3df97c4df4925645f7b10f46c985ad6e" name="a3df97c4df4925645f7b10f46c985ad6e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3df97c4df4925645f7b10f46c985ad6e">&#9670;&#160;</a></span>InitPokemonEvolutions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokemonEvolutions </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2c3cde4211fd7050d83fd65cf04d2f6a" name="a2c3cde4211fd7050d83fd65cf04d2f6a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2c3cde4211fd7050d83fd65cf04d2f6a">&#9670;&#160;</a></span>InitPokemonForms()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokemonForms </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a48d9f075f91792a8d2be04c517978623" name="a48d9f075f91792a8d2be04c517978623"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a48d9f075f91792a8d2be04c517978623">&#9670;&#160;</a></span>InitPokemonItems()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokemonItems </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a47a778175ded57ff8a7718166ac33092" name="a47a778175ded57ff8a7718166ac33092"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a47a778175ded57ff8a7718166ac33092">&#9670;&#160;</a></span>InitPokemonMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokemonMoves </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a66c7d2672f2f1fb188410a27f2a53483" name="a66c7d2672f2f1fb188410a27f2a53483"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a66c7d2672f2f1fb188410a27f2a53483">&#9670;&#160;</a></span>InitPokemons()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitPokemons </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afc0823298e567a89e9089d29ca5abec1" name="afc0823298e567a89e9089d29ca5abec1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc0823298e567a89e9089d29ca5abec1">&#9670;&#160;</a></span>InitRegions()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitRegions </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af432f67aa59410336dce142701a51618" name="af432f67aa59410336dce142701a51618"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af432f67aa59410336dce142701a51618">&#9670;&#160;</a></span>InitTrainers()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitTrainers </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ade2365285bc04a2e41933031f8e15647" name="ade2365285bc04a2e41933031f8e15647"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade2365285bc04a2e41933031f8e15647">&#9670;&#160;</a></span>InitTypes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IDatabase.InitTypes </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sql</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab12f85b8d079ecb9d95ca8c12b771b75" name="ab12f85b8d079ecb9d95ca8c12b771b75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab12f85b8d079ecb9d95ca8c12b771b75">&#9670;&#160;</a></span>AreaData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int,<a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">IArea</a>&gt; PokemonUnity.IDatabase.AreaData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>List of <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#afb14ba123fda335688eabaad8cdaef69">Player.Area</a> that triggers </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance enounter for a battle agai...">Overworld.IEncounterData</a></dd></dl>
</p>
<p >Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac253b9597404f4c569373e0f0f17a030">Overworld.IArea.Id</a>, <a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml#afb14ba123fda335688eabaad8cdaef69">Player.Area</a></dd></dl>
<p>| Value:   </p>

</div>
</div>
<a id="aedd18e7a6b669b0d9f7d4e7636fd7ccb" name="aedd18e7a6b669b0d9f7d4e7636fd7ccb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aedd18e7a6b669b0d9f7d4e7636fd7ccb">&#9670;&#160;</a></span>BadgeData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>,<a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">Character.BadgeData</a>&gt; PokemonUnity.IDatabase.BadgeData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b315d4e38429d372eb10c36e180ff6d" name="a8b315d4e38429d372eb10c36e180ff6d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b315d4e38429d372eb10c36e180ff6d">&#9670;&#160;</a></span>BerryData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>,<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a>&gt; PokemonUnity.IDatabase.BerryData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6ffb712736f3ead46caeb83b6bfac050" name="a6ffb712736f3ead46caeb83b6bfac050"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ffb712736f3ead46caeb83b6bfac050">&#9670;&#160;</a></span>EncounterData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int,<a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a>&gt; PokemonUnity.IDatabase.EncounterData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2" title="Identifier for this Encounter (Used for record lookup, and tracking/storage)">IEncounterData.Id</a>, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance enounter for a battle agai...">Overworld.IEncounterData</a></dd></dl>
<p>| Value:   </p>

</div>
</div>
<a id="a8ccc27e14bd8169c4c282cac7d1ff9f0" name="a8ccc27e14bd8169c4c282cac7d1ff9f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ccc27e14bd8169c4c282cac7d1ff9f0">&#9670;&#160;</a></span>HiddenMoveData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a>,<a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">HiddenMoveData</a>&gt; PokemonUnity.IDatabase.HiddenMoveData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1e0cb4e2cbef16b7a471011dcb71cc57" name="a1e0cb4e2cbef16b7a471011dcb71cc57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e0cb4e2cbef16b7a471011dcb71cc57">&#9670;&#160;</a></span>ItemData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>,<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a>&gt; PokemonUnity.IDatabase.ItemData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5290a835c791e0b0bb4b136cb3110ebb" name="a5290a835c791e0b0bb4b136cb3110ebb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5290a835c791e0b0bb4b136cb3110ebb">&#9670;&#160;</a></span>LocationData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>,int[]&gt; PokemonUnity.IDatabase.LocationData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>, <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a93eceb2ba0614dcc9e1425f51e6d68c8">Area.Id</a></dd></dl>
<p>| Value:   </p>

</div>
</div>
<a id="ace2ded0b7c45cfe42cd6ff58bf55a3db" name="ace2ded0b7c45cfe42cd6ff58bf55a3db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace2ded0b7c45cfe42cd6ff58bf55a3db">&#9670;&#160;</a></span>MachineData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int,<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">MachineData</a>&gt; PokemonUnity.IDatabase.MachineData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae52c5b195c71122244751a9dd163915d" name="ae52c5b195c71122244751a9dd163915d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae52c5b195c71122244751a9dd163915d">&#9670;&#160;</a></span>MethodData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>,int[]&gt; PokemonUnity.IDatabase.MethodData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Key: </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b" title="Encounter method">Method</a>, <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2" title="Identifier for this Encounter (Used for record lookup, and tracking/storage)">IEncounterData.Id</a></dd></dl>
<p>| Value:   </p>

</div>
</div>
<a id="adbc2679ae42bf57d63cb045e4f42aa37" name="adbc2679ae42bf57d63cb045e4f42aa37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adbc2679ae42bf57d63cb045e4f42aa37">&#9670;&#160;</a></span>MoveData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>,<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">Attack.Data.MoveData</a>&gt; PokemonUnity.IDatabase.MoveData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8233016ab957d35bd582afc57160b69a" name="a8233016ab957d35bd582afc57160b69a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8233016ab957d35bd582afc57160b69a">&#9670;&#160;</a></span>MoveEffectData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">Attack.Data.Effects</a>,<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">PokemonEssentials.Interface.PokeBattle.IBattleMove</a>&gt; PokemonUnity.IDatabase.MoveEffectData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ebc3b9babee8a35a2e3e2f06ce725ec" name="a7ebc3b9babee8a35a2e3e2f06ce725ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ebc3b9babee8a35a2e3e2f06ce725ec">&#9670;&#160;</a></span>MoveMetaData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>,<a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml">Attack.Data.MetaData</a>&gt; PokemonUnity.IDatabase.MoveMetaData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac13c0929d070122c99440ba8d4c45512" name="ac13c0929d070122c99440ba8d4c45512"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac13c0929d070122c99440ba8d4c45512">&#9670;&#160;</a></span>NatureData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a006b000842ecac022ed75bd637df09dd">Natures</a>,<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_nature.cshtml">PokemonUnity.Monster.Nature</a>&gt; PokemonUnity.IDatabase.NatureData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a80dc134420ead37c1dfeaadee031e97e" name="a80dc134420ead37c1dfeaadee031e97e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a80dc134420ead37c1dfeaadee031e97e">&#9670;&#160;</a></span>PokedexData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>,<a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">Pokedex</a>&gt; PokemonUnity.IDatabase.PokedexData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac9e1277c4bd6be5d2b39d9b7e6338d6b" name="ac9e1277c4bd6be5d2b39d9b7e6338d6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9e1277c4bd6be5d2b39d9b7e6338d6b">&#9670;&#160;</a></span>PokemonData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml">PokemonUnity.Monster.Data.PokemonData</a>&gt; PokemonUnity.IDatabase.PokemonData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5e564bebc96e413b27deda9735c6330b" name="a5e564bebc96e413b27deda9735c6330b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e564bebc96e413b27deda9735c6330b">&#9670;&#160;</a></span>PokemonEvolutionsData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[]&gt; PokemonUnity.IDatabase.PokemonEvolutionsData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac8a2b06ccd44c88f00dca7ca3582640a" name="ac8a2b06ccd44c88f00dca7ca3582640a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8a2b06ccd44c88f00dca7ca3582640a">&#9670;&#160;</a></span>PokemonFormsData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_form.cshtml">PokemonUnity.Monster.Data.Form</a>[]&gt; PokemonUnity.IDatabase.PokemonFormsData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af9e8c6a2c257f0781ec5d91f71b8ad1b" name="af9e8c6a2c257f0781ec5d91f71b8ad1b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9e8c6a2c257f0781ec5d91f71b8ad1b">&#9670;&#160;</a></span>PokemonItemsData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml">PokemonUnity.Monster.Data.PokemonWildItems</a>[]&gt; PokemonUnity.IDatabase.PokemonItemsData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1c6456151d8eb7c8098e4496a147d88c" name="a1c6456151d8eb7c8098e4496a147d88c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c6456151d8eb7c8098e4496a147d88c">&#9670;&#160;</a></span>PokemonMovesData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a>&gt; PokemonUnity.IDatabase.PokemonMovesData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0f809716279ea26d6cdb00c3b5aa4aa8" name="a0f809716279ea26d6cdb00c3b5aa4aa8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f809716279ea26d6cdb00c3b5aa4aa8">&#9670;&#160;</a></span>RegionData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>,<a class="el" href="namespace_pokemon_unity.cshtml#a856f67f27c1fce72e2156c69c059b0e5">Locations</a>[]&gt; PokemonUnity.IDatabase.RegionData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aad49dc0d89c3b898577652c9ede4f597" name="aad49dc0d89c3b898577652c9ede4f597"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad49dc0d89c3b898577652c9ede4f597">&#9670;&#160;</a></span>TrainerMetaData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>,<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">TrainerMetaData</a>&gt; PokemonUnity.IDatabase.TrainerMetaData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af1a1efda48de4f6711b5350f9bbdccac" name="af1a1efda48de4f6711b5350f9bbdccac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1a1efda48de4f6711b5350f9bbdccac">&#9670;&#160;</a></span>TypeData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>,<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a>&gt; PokemonUnity.IDatabase.TypeData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_database_8cs.cshtml">IDatabase.cs</a></li>
</ul>

