@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">IWindow_PurifyChamberSets</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a2380c65b68f9b1adf96b37e1480988a6">drawItem</a>(int index, int count, IRect rect)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a21809800c96e89cd36c5ed95e32e5837">initialize</a>(IPurifyChamber chamber, float x, float y, int width, int height, IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a0004f9c61ed276c28309e76d969a49a7">itemCount</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a0704bb83040d2fef1e0e25e107b9f4b0">switching</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets</a></td><td class="entry"></td></tr>
</table>