@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">INicknameChecker</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.INicknameChecker Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">PokemonEssentials.Interface.Battle.INicknameChecker</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a7d5f1baa3e14cbe3b3f955fa014e2bcd">check</a>(string name, Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">PokemonEssentials.Interface.Battle.INicknameChecker</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a11a21e7591b5c4ccd4b04c7454bb7f08">getName</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">PokemonEssentials.Interface.Battle.INicknameChecker</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#afd353c19d11f7924622a2b2f46f0beb8">names</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">PokemonEssentials.Interface.Battle.INicknameChecker</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a17ee83b10397e2bf8e160e3900476beb">namesMaxValue</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">PokemonEssentials.Interface.Battle.INicknameChecker</a></td><td class="entry"></td></tr>
</table>