@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">IReflectedSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IReflectedSprite Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">PokemonEssentials.Interface.IReflectedSprite</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml#a83a965342b8e274bffe7f7686f2f1a5e">IGameEvent</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">PokemonEssentials.Interface.IReflectedSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml#ad49fb7ac774491b41b746cf0136ed7f9">initialize</a>(ISprite sprite, IGameEvent _event, IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">PokemonEssentials.Interface.IReflectedSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml#a645d2f682dd34e294649d96d288d0384">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">PokemonEssentials.Interface.IReflectedSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml#a5bd7777dc81acfa67a2adc0127b41ef1">visible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_reflected_sprite.cshtml">PokemonEssentials.Interface.IReflectedSprite</a></td><td class="entry"></td></tr>
</table>
