@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">IInterpreterFieldMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterFieldMixin Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a032469a3fc960bea07dde22c686c1acf">getVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a42de82efd134978739645ea94d8328cd">pbGetPokemon</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#afb6f8213e7c467ce7ede8dd2cb90313b">pbHeadbutt</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a1128ebe56d9b2b7961e92667b7f2b0b2">pbPushThisBoulder</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a4a3ec3ee54c8afa2244d62053461ab1e">pbPushThisEvent</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a700c96e5d32e5a80badd9d8e59b20049">pbSetEventTime</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a4bfefbc6961953f1c79eb3463da08087">pbTrainerEnd</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a718d0b9479746bc3b3036967f8eb372e">pbTrainerIntro</a>(TrainerTypes symbol)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a02409a08504c19e1bd1244fb025fca93">setTempSwitchOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#ac0ca0d7b9c18d12262b67a1ba323206e">setTempSwitchOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a445350fefeed72247b0c178d36d91652">setVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8754899ecc965f0bcab59b5ef423634d">tsOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a24ff8630a97ee1bcf0895763206b5ae1">tsOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">PokemonEssentials.Interface.IInterpreterFieldMixin</a></td><td class="entry"></td></tr>
</table>