@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IMazeNode Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml">IMazeNode</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMazeNode Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aac984a6fc90b0b3979261aa62164b8be"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml">IMazeNode</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#aac984a6fc90b0b3979261aa62164b8be">initialize</a> ()</td></tr>
<tr class="separator:aac984a6fc90b0b3979261aa62164b8be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc335960d05ed9cee6de446ee03adeb3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#acc335960d05ed9cee6de446ee03adeb3">setEdge</a> (int e)</td></tr>
<tr class="separator:acc335960d05ed9cee6de446ee03adeb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bce2299fee057b4816aa7139027c1c4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#a5bce2299fee057b4816aa7139027c1c4">clearEdge</a> (int e)</td></tr>
<tr class="separator:a5bce2299fee057b4816aa7139027c1c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abaff50d79f574afb786ca66f9af08b29"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#abaff50d79f574afb786ca66f9af08b29">clear</a> ()</td></tr>
<tr class="separator:abaff50d79f574afb786ca66f9af08b29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa81cfbf6daab68b5754aacc7b634b597"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#aa81cfbf6daab68b5754aacc7b634b597">set</a> ()</td></tr>
<tr class="separator:aa81cfbf6daab68b5754aacc7b634b597"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80e100733df614dadcf016683e63dc43"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#a80e100733df614dadcf016683e63dc43">getEdge</a> (int e)</td></tr>
<tr class="separator:a80e100733df614dadcf016683e63dc43"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5470083ee26dd54993497665ef2761de"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml#a5470083ee26dd54993497665ef2761de">isBlocked</a> ()</td></tr>
<tr class="separator:a5470083ee26dd54993497665ef2761de"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abaff50d79f574afb786ca66f9af08b29" name="abaff50d79f574afb786ca66f9af08b29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abaff50d79f574afb786ca66f9af08b29">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMazeNode.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5bce2299fee057b4816aa7139027c1c4" name="a5bce2299fee057b4816aa7139027c1c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5bce2299fee057b4816aa7139027c1c4">&#9670;&#160;</a></span>clearEdge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMazeNode.clearEdge </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>e</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a80e100733df614dadcf016683e63dc43" name="a80e100733df614dadcf016683e63dc43"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a80e100733df614dadcf016683e63dc43">&#9670;&#160;</a></span>getEdge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMazeNode.getEdge </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>e</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac984a6fc90b0b3979261aa62164b8be" name="aac984a6fc90b0b3979261aa62164b8be"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac984a6fc90b0b3979261aa62164b8be">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze_node.cshtml">IMazeNode</a> PokemonEssentials.Interface.Field.IMazeNode.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5470083ee26dd54993497665ef2761de" name="a5470083ee26dd54993497665ef2761de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5470083ee26dd54993497665ef2761de">&#9670;&#160;</a></span>isBlocked()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMazeNode.isBlocked </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa81cfbf6daab68b5754aacc7b634b597" name="aa81cfbf6daab68b5754aacc7b634b597"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa81cfbf6daab68b5754aacc7b634b597">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMazeNode.set </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acc335960d05ed9cee6de446ee03adeb3" name="acc335960d05ed9cee6de446ee03adeb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc335960d05ed9cee6de446ee03adeb3">&#9670;&#160;</a></span>setEdge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMazeNode.setEdge </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>e</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
