@{
	Page.Title = "PokemonEssentials.Interface.Field.IAntiRandom Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml">IAntiRandom</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IAntiRandom Interface Reference</div></div>
}


<p>This class is designed to favor different values more than a uniform random generator does   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6cbc51145686d07e2884428d742a588e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml">IAntiRandom</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml#a6cbc51145686d07e2884428d742a588e">initialize</a> (int size)</td></tr>
<tr class="separator:a6cbc51145686d07e2884428d742a588e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ed9f869169186960decb86d98a96ee5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml#a5ed9f869169186960decb86d98a96ee5">get</a> ()</td></tr>
<tr class="separator:a5ed9f869169186960decb86d98a96ee5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >This class is designed to favor different values more than a uniform random generator does  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a5ed9f869169186960decb86d98a96ee5" name="a5ed9f869169186960decb86d98a96ee5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ed9f869169186960decb86d98a96ee5">&#9670;&#160;</a></span>get()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IAntiRandom.get </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6cbc51145686d07e2884428d742a588e" name="a6cbc51145686d07e2884428d742a588e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6cbc51145686d07e2884428d742a588e">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_anti_random.cshtml">IAntiRandom</a> PokemonEssentials.Interface.Field.IAntiRandom.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>size</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>
