@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">IGameBugContest</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameBugContest Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a748ea9ac1d11b31634656e0ced687637">BugContestBattle</a>(Pokemons species, int level)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a2e253ba96dc8b6c1e490def9bfda520b">BugContestDecided</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#ade8f17f0ad5ea312c4a61dec1546a4c6">BugContestScore</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a60b01aed63a7b3ba318e5e2813cc8074">BugContestStartOver</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a50b4faaa7965ef6f4f019ed360c943a2">BugContestState</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#af3c8c655545e1e2738ee27f21f88c202">BugContestUndecided</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a6c533c0d423b1bdcb266a122e63a6ba9">InBugContest</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a0442cac855218697b5839afe73b0b0a9">OnMapChange</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#aaba1fcb52fc95762e3d292d835117edd">OnMapChanging</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#ae9d93e317e18c9132a3480f33fac8247">OnMapSceneChange</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a119013d3a36e630760e7cf081e13188f">OnMapUpdate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#acb841c64e0dfe856aa7ea85272a051e8">OnWildBattleOverride</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
</table>
