@{
	Page.Title = "PokemonEssentials.Interface.Field.IPokemonMetadata Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IPokemonMetadata Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9c80786bd19ad728778a71dfa3395001"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#a9c80786bd19ad728778a71dfa3395001">this[GlobalMetadatas i]</a> <code>[get]</code></td></tr>
<tr class="separator:a9c80786bd19ad728778a71dfa3395001"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3121b0c1dab201da4d1abde0129872a"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#aa3121b0c1dab201da4d1abde0129872a">this[MapMetadatas i]</a> <code>[get]</code></td></tr>
<tr class="separator:aa3121b0c1dab201da4d1abde0129872a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82921b0d81d6d9b0c7f686d726e6d3c6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#a82921b0d81d6d9b0c7f686d726e6d3c6">MapId</a> <code>[get]</code></td></tr>
<tr class="separator:a82921b0d81d6d9b0c7f686d726e6d3c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ab8dc16f8bf8d864af268a38d04d1b9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">GlobalMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#a7ab8dc16f8bf8d864af268a38d04d1b9">Global</a> <code>[get]</code></td></tr>
<tr class="separator:a7ab8dc16f8bf8d864af268a38d04d1b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1994da1da7b58485c45e0847b53c0326"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml">MapMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml#a1994da1da7b58485c45e0847b53c0326">Map</a> <code>[get]</code></td></tr>
<tr class="separator:a1994da1da7b58485c45e0847b53c0326"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Load both resources per map id... </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a7ab8dc16f8bf8d864af268a38d04d1b9" name="a7ab8dc16f8bf8d864af268a38d04d1b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ab8dc16f8bf8d864af268a38d04d1b9">&#9670;&#160;</a></span>Global</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">GlobalMetadata</a> PokemonEssentials.Interface.Field.IPokemonMetadata.Global</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1994da1da7b58485c45e0847b53c0326" name="a1994da1da7b58485c45e0847b53c0326"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1994da1da7b58485c45e0847b53c0326">&#9670;&#160;</a></span>Map</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml">MapMetadata</a> PokemonEssentials.Interface.Field.IPokemonMetadata.Map</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a82921b0d81d6d9b0c7f686d726e6d3c6" name="a82921b0d81d6d9b0c7f686d726e6d3c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82921b0d81d6d9b0c7f686d726e6d3c6">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IPokemonMetadata.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c80786bd19ad728778a71dfa3395001" name="a9c80786bd19ad728778a71dfa3395001"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c80786bd19ad728778a71dfa3395001">&#9670;&#160;</a></span>this[GlobalMetadatas i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.Field.IPokemonMetadata.this[<a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml#a481bfd7703434b6ee8bf555dcd1ca187">GlobalMetadatas</a> i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa3121b0c1dab201da4d1abde0129872a" name="aa3121b0c1dab201da4d1abde0129872a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3121b0c1dab201da4d1abde0129872a">&#9670;&#160;</a></span>this[MapMetadatas i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.Field.IPokemonMetadata.this[<a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml#a74ed490a5c5e53bd2d4b00af97cf2a41">MapMetadatas</a> i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>
