@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">IAudioObject</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IAudioObject Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#aa3564f80f443e76983264fc53b8013f2">clone</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#a4c76b6e51edbaf74a92ae5fcf0010089">name</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#accefa6e147ce96c70b7b7a4a821fdff0">pitch</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#ae29dd5f25cd629c3d1c1abe10b5c11f2">play</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#a241d9cff0e89ecb65cbafcfc9b3b5930">position</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#a0d26266c28b050290cdac4e634677396">time</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml#a7f55b956088f1a9e6a21f4ce2ee998f4">volume</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_audio_object.cshtml">PokemonUnity.IAudioObject</a></td><td class="entry"></td></tr>
</table>