@{
	Page.Title = "PokemonEssentials.Interface.Battle.IGameOrgBattle Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml">IGameOrgBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattle Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:acaf8455d5de1da75c904a1faa73ed3a1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#acaf8455d5de1da75c904a1faa73ed3a1">pbHasEligible</a> (params object[] args)</td></tr>
<tr class="separator:acaf8455d5de1da75c904a1faa73ed3a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af380a7227fee6b802d7f94401f2fa039"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#af380a7227fee6b802d7f94401f2fa039">pbGetBTTrainers</a> (int challengeID)</td></tr>
<tr class="separator:af380a7227fee6b802d7f94401f2fa039"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfcc8f594707b23c73788606095bbe8a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#acfcc8f594707b23c73788606095bbe8a">pbGetBTPokemon</a> (int challengeID)</td></tr>
<tr class="separator:acfcc8f594707b23c73788606095bbe8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeab6477b109cd3fe61c0882ad62560b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#aeab6477b109cd3fe61c0882ad62560b1">pbRecordLastBattle</a> ()</td></tr>
<tr class="separator:aeab6477b109cd3fe61c0882ad62560b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc471bb2e566576c4c8fea86254431ef"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#acc471bb2e566576c4c8fea86254431ef">pbPlayBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml">IBattleRecordData</a> battledata)</td></tr>
<tr class="separator:acc471bb2e566576c4c8fea86254431ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace5c0cb310d3c125978e879aab60c179"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ace5c0cb310d3c125978e879aab60c179">pbDebugPlayBattle</a> ()</td></tr>
<tr class="separator:ace5c0cb310d3c125978e879aab60c179"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d13e347247bbd0851d3cd1d9851ffe7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a6d13e347247bbd0851d3cd1d9851ffe7">pbPlayLastBattle</a> ()</td></tr>
<tr class="separator:a6d13e347247bbd0851d3cd1d9851ffe7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25f861a3e4d4460384d625355558de13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a25f861a3e4d4460384d625355558de13">pbPlayBattleFromFile</a> (string filename)</td></tr>
<tr class="separator:a25f861a3e4d4460384d625355558de13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab63cc4b15e36f9cf42b0cc9fcf46d883"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#ab63cc4b15e36f9cf42b0cc9fcf46d883">pbBattleChallenge</a> ()</td></tr>
<tr class="separator:ab63cc4b15e36f9cf42b0cc9fcf46d883"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff02c3e8b73957d5b6a60686bbaa69dc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#aff02c3e8b73957d5b6a60686bbaa69dc">pbBattleChallengeTrainer</a> (int numwins, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] bttrainers)</td></tr>
<tr class="separator:aff02c3e8b73957d5b6a60686bbaa69dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a833c51439652036b44566818494805d7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a833c51439652036b44566818494805d7">pbBattleChallengeGraphic</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a> @@event)</td></tr>
<tr class="separator:a833c51439652036b44566818494805d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24304a3eaa42777b7dbc39e35b354190"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a24304a3eaa42777b7dbc39e35b354190">pbBattleChallengeBeginSpeech</a> ()</td></tr>
<tr class="separator:a24304a3eaa42777b7dbc39e35b354190"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7491bf2c7dd5195afa667a727264954c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a7491bf2c7dd5195afa667a727264954c">pbEntryScreen</a> (params object[] arg)</td></tr>
<tr class="separator:a7491bf2c7dd5195afa667a727264954c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5747921c20fd2d2e0088bd791ace80db"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a5747921c20fd2d2e0088bd791ace80db">pbBattleChallengeBattle</a> ()</td></tr>
<tr class="separator:a5747921c20fd2d2e0088bd791ace80db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e23e580f538e019d8571bbe7a3bb33f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a6e23e580f538e019d8571bbe7a3bb33f">pbBattleFactoryPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, int numwins, int numswaps, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] rentals)</td></tr>
<tr class="separator:a6e23e580f538e019d8571bbe7a3bb33f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec2e94039b15c64e4b524a9f50f64acb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#aec2e94039b15c64e4b524a9f50f64acb">pbGenerateBattleTrainer</a> (int trainerid, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:aec2e94039b15c64e4b524a9f50f64acb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a160b13c5a69da240093d44647f4e79b4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a160b13c5a69da240093d44647f4e79b4">pbOrganizedBattleEx</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> opponent, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> challengedata, string endspeech, string endspeechwin)</td></tr>
<tr class="separator:a160b13c5a69da240093d44647f4e79b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a368724d0eb099e230cdddc9cf9d7e3a7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle.cshtml#a368724d0eb099e230cdddc9cf9d7e3a7">pbIsBanned</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a368724d0eb099e230cdddc9cf9d7e3a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ab63cc4b15e36f9cf42b0cc9fcf46d883" name="ab63cc4b15e36f9cf42b0cc9fcf46d883"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab63cc4b15e36f9cf42b0cc9fcf46d883">&#9670;&#160;</a></span>pbBattleChallenge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleChallenge </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5747921c20fd2d2e0088bd791ace80db" name="a5747921c20fd2d2e0088bd791ace80db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5747921c20fd2d2e0088bd791ace80db">&#9670;&#160;</a></span>pbBattleChallengeBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleChallengeBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a24304a3eaa42777b7dbc39e35b354190" name="a24304a3eaa42777b7dbc39e35b354190"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24304a3eaa42777b7dbc39e35b354190">&#9670;&#160;</a></span>pbBattleChallengeBeginSpeech()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleChallengeBeginSpeech </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a833c51439652036b44566818494805d7" name="a833c51439652036b44566818494805d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a833c51439652036b44566818494805d7">&#9670;&#160;</a></span>pbBattleChallengeGraphic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleChallengeGraphic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aff02c3e8b73957d5b6a60686bbaa69dc" name="aff02c3e8b73957d5b6a60686bbaa69dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff02c3e8b73957d5b6a60686bbaa69dc">&#9670;&#160;</a></span>pbBattleChallengeTrainer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleChallengeTrainer </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numwins</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>bttrainers</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6e23e580f538e019d8571bbe7a3bb33f" name="a6e23e580f538e019d8571bbe7a3bb33f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e23e580f538e019d8571bbe7a3bb33f">&#9670;&#160;</a></span>pbBattleFactoryPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattle.pbBattleFactoryPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numwins</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numswaps</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>rentals</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ace5c0cb310d3c125978e879aab60c179" name="ace5c0cb310d3c125978e879aab60c179"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace5c0cb310d3c125978e879aab60c179">&#9670;&#160;</a></span>pbDebugPlayBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbDebugPlayBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7491bf2c7dd5195afa667a727264954c" name="a7491bf2c7dd5195afa667a727264954c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7491bf2c7dd5195afa667a727264954c">&#9670;&#160;</a></span>pbEntryScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.pbEntryScreen </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aec2e94039b15c64e4b524a9f50f64acb" name="aec2e94039b15c64e4b524a9f50f64acb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec2e94039b15c64e4b524a9f50f64acb">&#9670;&#160;</a></span>pbGenerateBattleTrainer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.pbGenerateBattleTrainer </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>trainerid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acfcc8f594707b23c73788606095bbe8a" name="acfcc8f594707b23c73788606095bbe8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfcc8f594707b23c73788606095bbe8a">&#9670;&#160;</a></span>pbGetBTPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.pbGetBTPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challengeID</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af380a7227fee6b802d7f94401f2fa039" name="af380a7227fee6b802d7f94401f2fa039"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af380a7227fee6b802d7f94401f2fa039">&#9670;&#160;</a></span>pbGetBTTrainers()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattle.pbGetBTTrainers </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challengeID</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acaf8455d5de1da75c904a1faa73ed3a1" name="acaf8455d5de1da75c904a1faa73ed3a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acaf8455d5de1da75c904a1faa73ed3a1">&#9670;&#160;</a></span>pbHasEligible()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.pbHasEligible </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>args</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a368724d0eb099e230cdddc9cf9d7e3a7" name="a368724d0eb099e230cdddc9cf9d7e3a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a368724d0eb099e230cdddc9cf9d7e3a7">&#9670;&#160;</a></span>pbIsBanned()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattle.pbIsBanned </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a160b13c5a69da240093d44647f4e79b4" name="a160b13c5a69da240093d44647f4e79b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a160b13c5a69da240093d44647f4e79b4">&#9670;&#160;</a></span>pbOrganizedBattleEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IGameOrgBattle.pbOrganizedBattleEx </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>challengedata</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>endspeech</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>endspeechwin</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acc471bb2e566576c4c8fea86254431ef" name="acc471bb2e566576c4c8fea86254431ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc471bb2e566576c4c8fea86254431ef">&#9670;&#160;</a></span>pbPlayBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbPlayBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml">IBattleRecordData</a>&#160;</td>
          <td class="paramname"><em>battledata</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a25f861a3e4d4460384d625355558de13" name="a25f861a3e4d4460384d625355558de13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25f861a3e4d4460384d625355558de13">&#9670;&#160;</a></span>pbPlayBattleFromFile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbPlayBattleFromFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6d13e347247bbd0851d3cd1d9851ffe7" name="a6d13e347247bbd0851d3cd1d9851ffe7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d13e347247bbd0851d3cd1d9851ffe7">&#9670;&#160;</a></span>pbPlayLastBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbPlayLastBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeab6477b109cd3fe61c0882ad62560b1" name="aeab6477b109cd3fe61c0882ad62560b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeab6477b109cd3fe61c0882ad62560b1">&#9670;&#160;</a></span>pbRecordLastBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattle.pbRecordLastBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
