@{
	Page.Title = "PokemonEssentials.Interface.Battle.IBattleChallengeData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallengeData Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4f284d5f0f58031de2702001ceec1ee0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a4f284d5f0f58031de2702001ceec1ee0">initialize</a> ()</td></tr>
<tr class="separator:a4f284d5f0f58031de2702001ceec1ee0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad578d40f641229a5238d5d311d9d4895"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ad578d40f641229a5238d5d311d9d4895">setExtraData</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> value)</td></tr>
<tr class="separator:ad578d40f641229a5238d5d311d9d4895"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d5c8c81eddee7f559326d468ae559b3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a3d5c8c81eddee7f559326d468ae559b3">pbAddWin</a> ()</td></tr>
<tr class="separator:a3d5c8c81eddee7f559326d468ae559b3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a3e52575764953b60c770d1825d2883"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a7a3e52575764953b60c770d1825d2883">pbAddSwap</a> ()</td></tr>
<tr class="separator:a7a3e52575764953b60c770d1825d2883"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5853d9d15703ff90f81d39569773dbe6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a5853d9d15703ff90f81d39569773dbe6">pbMatchOver</a> ()</td></tr>
<tr class="separator:a5853d9d15703ff90f81d39569773dbe6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afdce2f994484540bb22e2545208998b4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#afdce2f994484540bb22e2545208998b4">nextTrainer</a> ()</td></tr>
<tr class="separator:afdce2f994484540bb22e2545208998b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43d039e8d20625c456b4c8d3f71d9f2b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a43d039e8d20625c456b4c8d3f71d9f2b">pbGoToStart</a> ()</td></tr>
<tr class="separator:a43d039e8d20625c456b4c8d3f71d9f2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99c91fcd6d1f38814e9420cdd2334b93"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a99c91fcd6d1f38814e9420cdd2334b93">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:a99c91fcd6d1f38814e9420cdd2334b93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0ff97d5716340ce02fde35033fda6931"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a0ff97d5716340ce02fde35033fda6931">pbStart</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> t, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a36d424712f85bca9592683e091847b6d">numRounds</a>)</td></tr>
<tr class="separator:a0ff97d5716340ce02fde35033fda6931"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f443f184eeab728a5d8f60442979650"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a9f443f184eeab728a5d8f60442979650">pbCancel</a> ()</td></tr>
<tr class="separator:a9f443f184eeab728a5d8f60442979650"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d8ffed592874261216b918c02143a23"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a0d8ffed592874261216b918c02143a23">pbEnd</a> ()</td></tr>
<tr class="separator:a0d8ffed592874261216b918c02143a23"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6dce360195e0130734087594137043e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ac6dce360195e0130734087594137043e">pbGoOn</a> ()</td></tr>
<tr class="separator:ac6dce360195e0130734087594137043e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1a53f59c0aa0cdf1902cb9c17a5f6f40"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a1a53f59c0aa0cdf1902cb9c17a5f6f40">pbRest</a> ()</td></tr>
<tr class="separator:a1a53f59c0aa0cdf1902cb9c17a5f6f40"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af27402a50f1e1ad58fbb8127f073bc4d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#af27402a50f1e1ad58fbb8127f073bc4d">resting</a><code> [get, set]</code></td></tr>
<tr class="separator:af27402a50f1e1ad58fbb8127f073bc4d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac78c27ce22c7e42592cb0390492d2b54"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ac78c27ce22c7e42592cb0390492d2b54">wins</a><code> [get, set]</code></td></tr>
<tr class="separator:ac78c27ce22c7e42592cb0390492d2b54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1edc98b387ca74c4d43e8fb605de28d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ad1edc98b387ca74c4d43e8fb605de28d">swaps</a><code> [get, set]</code></td></tr>
<tr class="separator:ad1edc98b387ca74c4d43e8fb605de28d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad23bfbbbf1a22c27858dee1b7fa223ce"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ad23bfbbbf1a22c27858dee1b7fa223ce">inProgress</a><code> [get, set]</code></td></tr>
<tr class="separator:ad23bfbbbf1a22c27858dee1b7fa223ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a92c3f4561927a46c70fb85291a5abd5d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a92c3f4561927a46c70fb85291a5abd5d">battleNumber</a><code> [get, set]</code></td></tr>
<tr class="separator:a92c3f4561927a46c70fb85291a5abd5d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36d424712f85bca9592683e091847b6d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a36d424712f85bca9592683e091847b6d">numRounds</a><code> [get, set]</code></td></tr>
<tr class="separator:a36d424712f85bca9592683e091847b6d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a875e5cdacd8211cf46d2d37a61520712"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a875e5cdacd8211cf46d2d37a61520712">decision</a><code> [get, set]</code></td></tr>
<tr class="separator:a875e5cdacd8211cf46d2d37a61520712"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbbc5b5e2f6661204ed542940c3591d5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#afbbc5b5e2f6661204ed542940c3591d5">party</a><code> [get, set]</code></td></tr>
<tr class="separator:afbbc5b5e2f6661204ed542940c3591d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf1ca864962795e852584e8b3705021c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#adf1ca864962795e852584e8b3705021c">extraData</a><code> [get, set]</code></td></tr>
<tr class="separator:adf1ca864962795e852584e8b3705021c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a4f284d5f0f58031de2702001ceec1ee0" name="a4f284d5f0f58031de2702001ceec1ee0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f284d5f0f58031de2702001ceec1ee0">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afdce2f994484540bb22e2545208998b4" name="afdce2f994484540bb22e2545208998b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afdce2f994484540bb22e2545208998b4">&#9670;&#160;</a></span>nextTrainer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.nextTrainer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7a3e52575764953b60c770d1825d2883" name="a7a3e52575764953b60c770d1825d2883"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a3e52575764953b60c770d1825d2883">&#9670;&#160;</a></span>pbAddSwap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbAddSwap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3d5c8c81eddee7f559326d468ae559b3" name="a3d5c8c81eddee7f559326d468ae559b3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d5c8c81eddee7f559326d468ae559b3">&#9670;&#160;</a></span>pbAddWin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbAddWin </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f443f184eeab728a5d8f60442979650" name="a9f443f184eeab728a5d8f60442979650"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f443f184eeab728a5d8f60442979650">&#9670;&#160;</a></span>pbCancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbCancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0d8ffed592874261216b918c02143a23" name="a0d8ffed592874261216b918c02143a23"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d8ffed592874261216b918c02143a23">&#9670;&#160;</a></span>pbEnd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbEnd </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac6dce360195e0130734087594137043e" name="ac6dce360195e0130734087594137043e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6dce360195e0130734087594137043e">&#9670;&#160;</a></span>pbGoOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbGoOn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43d039e8d20625c456b4c8d3f71d9f2b" name="a43d039e8d20625c456b4c8d3f71d9f2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43d039e8d20625c456b4c8d3f71d9f2b">&#9670;&#160;</a></span>pbGoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbGoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5853d9d15703ff90f81d39569773dbe6" name="a5853d9d15703ff90f81d39569773dbe6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5853d9d15703ff90f81d39569773dbe6">&#9670;&#160;</a></span>pbMatchOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallengeData.pbMatchOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1a53f59c0aa0cdf1902cb9c17a5f6f40" name="a1a53f59c0aa0cdf1902cb9c17a5f6f40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a53f59c0aa0cdf1902cb9c17a5f6f40">&#9670;&#160;</a></span>pbRest()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbRest </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0ff97d5716340ce02fde35033fda6931" name="a0ff97d5716340ce02fde35033fda6931"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0ff97d5716340ce02fde35033fda6931">&#9670;&#160;</a></span>pbStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.pbStart </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td>
          <td class="paramname"><em>t</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numRounds</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad578d40f641229a5238d5d311d9d4895" name="ad578d40f641229a5238d5d311d9d4895"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad578d40f641229a5238d5d311d9d4895">&#9670;&#160;</a></span>setExtraData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.setExtraData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a99c91fcd6d1f38814e9420cdd2334b93" name="a99c91fcd6d1f38814e9420cdd2334b93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99c91fcd6d1f38814e9420cdd2334b93">&#9670;&#160;</a></span>setParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.setParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a92c3f4561927a46c70fb85291a5abd5d" name="a92c3f4561927a46c70fb85291a5abd5d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a92c3f4561927a46c70fb85291a5abd5d">&#9670;&#160;</a></span>battleNumber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.battleNumber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a875e5cdacd8211cf46d2d37a61520712" name="a875e5cdacd8211cf46d2d37a61520712"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a875e5cdacd8211cf46d2d37a61520712">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adf1ca864962795e852584e8b3705021c" name="adf1ca864962795e852584e8b3705021c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf1ca864962795e852584e8b3705021c">&#9670;&#160;</a></span>extraData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.extraData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad23bfbbbf1a22c27858dee1b7fa223ce" name="ad23bfbbbf1a22c27858dee1b7fa223ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad23bfbbbf1a22c27858dee1b7fa223ce">&#9670;&#160;</a></span>inProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.inProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a36d424712f85bca9592683e091847b6d" name="a36d424712f85bca9592683e091847b6d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36d424712f85bca9592683e091847b6d">&#9670;&#160;</a></span>numRounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.numRounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afbbc5b5e2f6661204ed542940c3591d5" name="afbbc5b5e2f6661204ed542940c3591d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbbc5b5e2f6661204ed542940c3591d5">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.Battle.IBattleChallengeData.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af27402a50f1e1ad58fbb8127f073bc4d" name="af27402a50f1e1ad58fbb8127f073bc4d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af27402a50f1e1ad58fbb8127f073bc4d">&#9670;&#160;</a></span>resting</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.resting</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1edc98b387ca74c4d43e8fb605de28d" name="ad1edc98b387ca74c4d43e8fb605de28d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1edc98b387ca74c4d43e8fb605de28d">&#9670;&#160;</a></span>swaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.swaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac78c27ce22c7e42592cb0390492d2b54" name="ac78c27ce22c7e42592cb0390492d2b54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac78c27ce22c7e42592cb0390492d2b54">&#9670;&#160;</a></span>wins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.wins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
