@{
	Page.Title = "PokemonEssentials.Interface.IGameResizer Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml">IGameResizer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameResizer Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a085fc232d335155b725314a98efe431b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a085fc232d335155b725314a98efe431b">pbSetResizeFactor</a> (float factor=1, bool norecalc=false)</td></tr>
<tr class="separator:a085fc232d335155b725314a98efe431b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc475bf1761df561e832281accaa7e9e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#abc475bf1761df561e832281accaa7e9e">pbSetResizeFactor2</a> (float factor, bool force=false)</td></tr>
<tr class="separator:abc475bf1761df561e832281accaa7e9e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a88a51d45dc6b4f4354a907449947202b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a88a51d45dc6b4f4354a907449947202b">pbConfigureFullScreen</a> ()</td></tr>
<tr class="separator:a88a51d45dc6b4f4354a907449947202b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94d06e164d69a81778480efe459978b7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a94d06e164d69a81778480efe459978b7">pbConfigureWindowedScreen</a> (float value)</td></tr>
<tr class="separator:a94d06e164d69a81778480efe459978b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8623ea2e223b28d7bc6667a53e1d112c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a8623ea2e223b28d7bc6667a53e1d112c">setScreenBorderName</a> (string border)</td></tr>
<tr class="separator:a8623ea2e223b28d7bc6667a53e1d112c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad8da5ec355a3d2766b54bc6e23d79b34"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#ad8da5ec355a3d2766b54bc6e23d79b34">ResizeFactor</a><code> [get, set]</code></td></tr>
<tr class="separator:ad8da5ec355a3d2766b54bc6e23d79b34"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19c24b9dadc765774b9596dec559a9b8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a19c24b9dadc765774b9596dec559a9b8">ResizeFactorMul</a><code> [get, set]</code></td></tr>
<tr class="separator:a19c24b9dadc765774b9596dec559a9b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab47dba618488d18bb2085eb1f9a0e25"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#aab47dba618488d18bb2085eb1f9a0e25">ResizeOffsetX</a><code> [get, set]</code></td></tr>
<tr class="separator:aab47dba618488d18bb2085eb1f9a0e25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8a3a2323b78a520557b136ce65dbe131"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a8a3a2323b78a520557b136ce65dbe131">ResizeOffsetY</a><code> [get, set]</code></td></tr>
<tr class="separator:a8a3a2323b78a520557b136ce65dbe131"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47a9d67228eaf2aa0eec43e30228e001"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a47a9d67228eaf2aa0eec43e30228e001">ResizeFactorSet</a><code> [get, set]</code></td></tr>
<tr class="separator:a47a9d67228eaf2aa0eec43e30228e001"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a615f6e365edf12c52608e40547aaea8c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_resizer.cshtml#a615f6e365edf12c52608e40547aaea8c">HaveResizeBorder</a><code> [get, set]</code></td></tr>
<tr class="separator:a615f6e365edf12c52608e40547aaea8c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a88a51d45dc6b4f4354a907449947202b" name="a88a51d45dc6b4f4354a907449947202b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a88a51d45dc6b4f4354a907449947202b">&#9670;&#160;</a></span>pbConfigureFullScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameResizer.pbConfigureFullScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a94d06e164d69a81778480efe459978b7" name="a94d06e164d69a81778480efe459978b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a94d06e164d69a81778480efe459978b7">&#9670;&#160;</a></span>pbConfigureWindowedScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameResizer.pbConfigureWindowedScreen </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a085fc232d335155b725314a98efe431b" name="a085fc232d335155b725314a98efe431b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a085fc232d335155b725314a98efe431b">&#9670;&#160;</a></span>pbSetResizeFactor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameResizer.pbSetResizeFactor </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>factor</em> = <code>1</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>norecalc</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abc475bf1761df561e832281accaa7e9e" name="abc475bf1761df561e832281accaa7e9e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc475bf1761df561e832281accaa7e9e">&#9670;&#160;</a></span>pbSetResizeFactor2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameResizer.pbSetResizeFactor2 </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>factor</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>force</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8623ea2e223b28d7bc6667a53e1d112c" name="a8623ea2e223b28d7bc6667a53e1d112c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8623ea2e223b28d7bc6667a53e1d112c">&#9670;&#160;</a></span>setScreenBorderName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameResizer.setScreenBorderName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>border</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a615f6e365edf12c52608e40547aaea8c" name="a615f6e365edf12c52608e40547aaea8c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a615f6e365edf12c52608e40547aaea8c">&#9670;&#160;</a></span>HaveResizeBorder</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameResizer.HaveResizeBorder</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad8da5ec355a3d2766b54bc6e23d79b34" name="ad8da5ec355a3d2766b54bc6e23d79b34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8da5ec355a3d2766b54bc6e23d79b34">&#9670;&#160;</a></span>ResizeFactor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameResizer.ResizeFactor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a19c24b9dadc765774b9596dec559a9b8" name="a19c24b9dadc765774b9596dec559a9b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19c24b9dadc765774b9596dec559a9b8">&#9670;&#160;</a></span>ResizeFactorMul</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameResizer.ResizeFactorMul</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a47a9d67228eaf2aa0eec43e30228e001" name="a47a9d67228eaf2aa0eec43e30228e001"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a47a9d67228eaf2aa0eec43e30228e001">&#9670;&#160;</a></span>ResizeFactorSet</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameResizer.ResizeFactorSet</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aab47dba618488d18bb2085eb1f9a0e25" name="aab47dba618488d18bb2085eb1f9a0e25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab47dba618488d18bb2085eb1f9a0e25">&#9670;&#160;</a></span>ResizeOffsetX</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameResizer.ResizeOffsetX</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8a3a2323b78a520557b136ce65dbe131" name="a8a3a2323b78a520557b136ce65dbe131"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a3a2323b78a520557b136ce65dbe131">&#9670;&#160;</a></span>ResizeOffsetY</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameResizer.ResizeOffsetY</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_resizer_8cs.cshtml">ISpriteResizer.cs</a></li>
</ul>
