@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPartyDisplayScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml">IPartyDisplayScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPartyDisplayScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPartyDisplayScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.png" usemap="#PokemonEssentials.Interface.Screen.IPartyDisplayScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPartyDisplayScreen_map" name="PokemonEssentials.Interface.Screen.IPartyDisplayScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,340,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="350,0,690,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a75fbad3dac42a3f63c98388981fffd57"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml">IPartyDisplayScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a75fbad3dac42a3f63c98388981fffd57">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_scene.cshtml">IPartyDisplayScene</a> scene, IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; party)</td></tr>
<tr class="separator:a75fbad3dac42a3f63c98388981fffd57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb5859d525a2ad53de631d92f5fe346a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#afb5859d525a2ad53de631d92f5fe346a">HardRefresh</a> ()</td></tr>
<tr class="separator:afb5859d525a2ad53de631d92f5fe346a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab1504ada88f9b28b435686b21cab835"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#aab1504ada88f9b28b435686b21cab835">Refresh</a> ()</td></tr>
<tr class="separator:aab1504ada88f9b28b435686b21cab835"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab14fa2ddc892946463fcd20419157f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#aab14fa2ddc892946463fcd20419157f8">RefreshSingle</a> (int i)</td></tr>
<tr class="separator:aab14fa2ddc892946463fcd20419157f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8825864db700c1477e32b81ac95f8f10"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a8825864db700c1477e32b81ac95f8f10">Switch</a> (int oldid, int newid)</td></tr>
<tr class="separator:a8825864db700c1477e32b81ac95f8f10"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa63a02a80440212164cbcffb3241698"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#aaa63a02a80440212164cbcffb3241698">MailScreen</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int pkmnid)</td></tr>
<tr class="separator:aaa63a02a80440212164cbcffb3241698"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a324db82589b471267d40c1b5a00ee957"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a324db82589b471267d40c1b5a00ee957">TakeMail</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a324db82589b471267d40c1b5a00ee957"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a827e954de6c0faab8c0d9cf0e989a333"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a827e954de6c0faab8c0d9cf0e989a333">GiveMail</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int pkmnid=0)</td></tr>
<tr class="separator:a827e954de6c0faab8c0d9cf0e989a333"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3bac5cf3670a5517642c0400c1b6717c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a3bac5cf3670a5517642c0400c1b6717c">PokemonGiveScreen</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a3bac5cf3670a5517642c0400c1b6717c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a09be10813f416e3f200d1be26f8932"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a9a09be10813f416e3f200d1be26f8932">PokemonGiveMailScreen</a> (int mailIndex)</td></tr>
<tr class="separator:a9a09be10813f416e3f200d1be26f8932"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9d510b8447bb6a8165554afe278252e1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a9d510b8447bb6a8165554afe278252e1">StartScene</a> (string helptext, bool doublebattle, string[] annotations=null)</td></tr>
<tr class="separator:a9d510b8447bb6a8165554afe278252e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a500b4aa147b287e3edeb5280be352d2c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a500b4aa147b287e3edeb5280be352d2c">ChoosePokemon</a> (string helptext=null)</td></tr>
<tr class="separator:a500b4aa147b287e3edeb5280be352d2c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a253657a3367117d7229dedbabb8f7b72"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a253657a3367117d7229dedbabb8f7b72">ChooseMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, string helptext)</td></tr>
<tr class="separator:a253657a3367117d7229dedbabb8f7b72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af58ecad2547b394b09dfd4cc6a018dcc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#af58ecad2547b394b09dfd4cc6a018dcc">EndScene</a> ()</td></tr>
<tr class="separator:af58ecad2547b394b09dfd4cc6a018dcc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a66719916813eb81583ed19280016a0c6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a66719916813eb81583ed19280016a0c6">CheckSpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] array)</td></tr>
<tr class="memdesc:a66719916813eb81583ed19280016a0c6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks for identical species   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a66719916813eb81583ed19280016a0c6">More...</a><br /></td></tr>
<tr class="separator:a66719916813eb81583ed19280016a0c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a587f3d545fb493bd6129f57d2127f528"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a587f3d545fb493bd6129f57d2127f528">CheckItems</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] array)</td></tr>
<tr class="memdesc:a587f3d545fb493bd6129f57d2127f528"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks for identical held items   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a587f3d545fb493bd6129f57d2127f528">More...</a><br /></td></tr>
<tr class="separator:a587f3d545fb493bd6129f57d2127f528"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af8bce246b57403e14b0767e3bed694d2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#af8bce246b57403e14b0767e3bed694d2">PokemonMultipleEntryScreenEx</a> (string[] ruleset)</td></tr>
<tr class="separator:af8bce246b57403e14b0767e3bed694d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e5f25466cf7bdfd6c16263339ee628a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a7e5f25466cf7bdfd6c16263339ee628a">ChooseAblePokemon</a> (Predicate&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; ableProc, bool allowIneligible=false)</td></tr>
<tr class="separator:a7e5f25466cf7bdfd6c16263339ee628a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e395d8d64456c070c43a45f8fb23c35"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a5e395d8d64456c070c43a45f8fb23c35">RefreshAnnotations</a> (bool ableProc)</td></tr>
<tr class="separator:a5e395d8d64456c070c43a45f8fb23c35"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a047b845f58bfaa01e90256e1de886def"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#a047b845f58bfaa01e90256e1de886def">ClearAnnotations</a> ()</td></tr>
<tr class="separator:a047b845f58bfaa01e90256e1de886def"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5c9e7a273ec04dac7777dec78891f49"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#aa5c9e7a273ec04dac7777dec78891f49">PokemonDebug</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int pkmnid)</td></tr>
<tr class="separator:aa5c9e7a273ec04dac7777dec78891f49"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9bd846a50c7901f9dcc3269294ae2e9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml#af9bd846a50c7901f9dcc3269294ae2e9">PokemonScreen</a> ()</td></tr>
<tr class="separator:af9bd846a50c7901f9dcc3269294ae2e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a587f3d545fb493bd6129f57d2127f528" name="a587f3d545fb493bd6129f57d2127f528"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a587f3d545fb493bd6129f57d2127f528">&#9670;&#160;</a></span>CheckItems()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.CheckItems </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>array</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks for identical held items  </p>

</div>
</div>
<a id="a66719916813eb81583ed19280016a0c6" name="a66719916813eb81583ed19280016a0c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a66719916813eb81583ed19280016a0c6">&#9670;&#160;</a></span>CheckSpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.CheckSpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td>
          <td class="paramname"><em>array</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks for identical species  </p>

</div>
</div>
<a id="a7e5f25466cf7bdfd6c16263339ee628a" name="a7e5f25466cf7bdfd6c16263339ee628a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e5f25466cf7bdfd6c16263339ee628a">&#9670;&#160;</a></span>ChooseAblePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPartyDisplayScreen.ChooseAblePokemon </td>
          <td>(</td>
          <td class="paramtype">Predicate&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>ableProc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>allowIneligible</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a253657a3367117d7229dedbabb8f7b72" name="a253657a3367117d7229dedbabb8f7b72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a253657a3367117d7229dedbabb8f7b72">&#9670;&#160;</a></span>ChooseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.ChooseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a500b4aa147b287e3edeb5280be352d2c" name="a500b4aa147b287e3edeb5280be352d2c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a500b4aa147b287e3edeb5280be352d2c">&#9670;&#160;</a></span>ChoosePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPartyDisplayScreen.ChoosePokemon </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a047b845f58bfaa01e90256e1de886def" name="a047b845f58bfaa01e90256e1de886def"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a047b845f58bfaa01e90256e1de886def">&#9670;&#160;</a></span>ClearAnnotations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.ClearAnnotations </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af58ecad2547b394b09dfd4cc6a018dcc" name="af58ecad2547b394b09dfd4cc6a018dcc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af58ecad2547b394b09dfd4cc6a018dcc">&#9670;&#160;</a></span>EndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.EndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a827e954de6c0faab8c0d9cf0e989a333" name="a827e954de6c0faab8c0d9cf0e989a333"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a827e954de6c0faab8c0d9cf0e989a333">&#9670;&#160;</a></span>GiveMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.GiveMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afb5859d525a2ad53de631d92f5fe346a" name="afb5859d525a2ad53de631d92f5fe346a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb5859d525a2ad53de631d92f5fe346a">&#9670;&#160;</a></span>HardRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.HardRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a75fbad3dac42a3f63c98388981fffd57" name="a75fbad3dac42a3f63c98388981fffd57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75fbad3dac42a3f63c98388981fffd57">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml">IPartyDisplayScreen</a> PokemonEssentials.Interface.Screen.IPartyDisplayScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_scene.cshtml">IPartyDisplayScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td>
          <td class="paramname"><em>party</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaa63a02a80440212164cbcffb3241698" name="aaa63a02a80440212164cbcffb3241698"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa63a02a80440212164cbcffb3241698">&#9670;&#160;</a></span>MailScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.MailScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa5c9e7a273ec04dac7777dec78891f49" name="aa5c9e7a273ec04dac7777dec78891f49"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5c9e7a273ec04dac7777dec78891f49">&#9670;&#160;</a></span>PokemonDebug()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.PokemonDebug </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9a09be10813f416e3f200d1be26f8932" name="a9a09be10813f416e3f200d1be26f8932"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a09be10813f416e3f200d1be26f8932">&#9670;&#160;</a></span>PokemonGiveMailScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.PokemonGiveMailScreen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mailIndex</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3bac5cf3670a5517642c0400c1b6717c" name="a3bac5cf3670a5517642c0400c1b6717c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3bac5cf3670a5517642c0400c1b6717c">&#9670;&#160;</a></span>PokemonGiveScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.PokemonGiveScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af8bce246b57403e14b0767e3bed694d2" name="af8bce246b57403e14b0767e3bed694d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8bce246b57403e14b0767e3bed694d2">&#9670;&#160;</a></span>PokemonMultipleEntryScreenEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.PokemonMultipleEntryScreenEx </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>ruleset</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af9bd846a50c7901f9dcc3269294ae2e9" name="af9bd846a50c7901f9dcc3269294ae2e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9bd846a50c7901f9dcc3269294ae2e9">&#9670;&#160;</a></span>PokemonScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.PokemonScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aab1504ada88f9b28b435686b21cab835" name="aab1504ada88f9b28b435686b21cab835"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab1504ada88f9b28b435686b21cab835">&#9670;&#160;</a></span>Refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.Refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5e395d8d64456c070c43a45f8fb23c35" name="a5e395d8d64456c070c43a45f8fb23c35"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5e395d8d64456c070c43a45f8fb23c35">&#9670;&#160;</a></span>RefreshAnnotations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.RefreshAnnotations </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ableProc</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aab14fa2ddc892946463fcd20419157f8" name="aab14fa2ddc892946463fcd20419157f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab14fa2ddc892946463fcd20419157f8">&#9670;&#160;</a></span>RefreshSingle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.RefreshSingle </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9d510b8447bb6a8165554afe278252e1" name="a9d510b8447bb6a8165554afe278252e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d510b8447bb6a8165554afe278252e1">&#9670;&#160;</a></span>StartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.StartScene </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>annotations</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8825864db700c1477e32b81ac95f8f10" name="a8825864db700c1477e32b81ac95f8f10"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8825864db700c1477e32b81ac95f8f10">&#9670;&#160;</a></span>Switch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.Switch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>oldid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>newid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a324db82589b471267d40c1b5a00ee957" name="a324db82589b471267d40c1b5a00ee957"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a324db82589b471267d40c1b5a00ee957">&#9670;&#160;</a></span>TakeMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPartyDisplayScreen.TakeMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_party_menu_8cs.cshtml">IPartyMenu.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
