@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml">IPokemonMultipleForms</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.png" usemap="#PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms_map" name="PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms_map">
<area href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml" alt="PokemonUnity.Monster.Pokemon" shape="rect" coords="0,56,373,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a18679d7aeb6e15e2fca5ab3abc9be70a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#a18679d7aeb6e15e2fca5ab3abc9be70a">forceForm</a> (int value)</td></tr>
<tr class="memdesc:a18679d7aeb6e15e2fca5ab3abc9be70a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used by the Pok&eacute;dex only   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#a18679d7aeb6e15e2fca5ab3abc9be70a">More...</a><br /></td></tr>
<tr class="separator:a18679d7aeb6e15e2fca5ab3abc9be70a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a784c0a4b1e8644240e915d1af867e010"><td class="memItemLeft" align="right" valign="top">DateTime?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#a784c0a4b1e8644240e915d1af867e010">formTime</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a784c0a4b1e8644240e915d1af867e010"><td class="mdescLeft">&#160;</td><td class="mdescRight">Time when Furfrou's/Hoopa's form was set   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#a784c0a4b1e8644240e915d1af867e010">More...</a><br /></td></tr>
<tr class="separator:a784c0a4b1e8644240e915d1af867e010"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44eb227cd22eba070769bdb477747781"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#a44eb227cd22eba070769bdb477747781">form</a> <code>[get, set]</code></td></tr>
<tr class="separator:a44eb227cd22eba070769bdb477747781"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab950a7dbe3d2b0ea85cedc5db93f9339"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_multiple_forms.cshtml#ab950a7dbe3d2b0ea85cedc5db93f9339">formNoCall</a> <code>[set]</code></td></tr>
<tr class="separator:ab950a7dbe3d2b0ea85cedc5db93f9339"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a18679d7aeb6e15e2fca5ab3abc9be70a" name="a18679d7aeb6e15e2fca5ab3abc9be70a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18679d7aeb6e15e2fca5ab3abc9be70a">&#9670;&#160;</a></span>forceForm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms.forceForm </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Used by the Pok&eacute;dex only  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">value</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a0e4ee35ca70eb59c16122079c9db473f">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a44eb227cd22eba070769bdb477747781" name="a44eb227cd22eba070769bdb477747781"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44eb227cd22eba070769bdb477747781">&#9670;&#160;</a></span>form</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms.form</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a3e5701297a89fe045d7f455ad6eb1218">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="ab950a7dbe3d2b0ea85cedc5db93f9339" name="ab950a7dbe3d2b0ea85cedc5db93f9339"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab950a7dbe3d2b0ea85cedc5db93f9339">&#9670;&#160;</a></span>formNoCall</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms.formNoCall</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ad7ac16d60b3e11ede704259b3c2897f9">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a784c0a4b1e8644240e915d1af867e010" name="a784c0a4b1e8644240e915d1af867e010"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a784c0a4b1e8644240e915d1af867e010">&#9670;&#160;</a></span>formTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">DateTime? PokemonEssentials.Interface.PokeBattle.IPokemonMultipleForms.formTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Time when Furfrou's/Hoopa's form was set  </p>
<p >Either use int as datetime value in seconds, or just regular datetime class </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a5564d6f5cad2135e7fbbd3b6e41498c7">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_multiple_forms_8cs.cshtml">IPokemonMultipleForms.cs</a></li>
</ul>

