@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ITone Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a11dcddb314c3332f0aefdb86e4d96616">blue</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#ac3251d07eed5fa1cae063ff24bb92a8a">clone</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#acf77e906a8ae1cfaf8e6b88a4df26600">gray</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a1cbcd961628d8ddd6a41b00461743446">green</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a52e28be6cd90bc56ce080ba13730a9a6">red</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a64d041bfec306c162c1a55153bbccac7">set</a>(float red, float green, float blue, float gray=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">PokemonEssentials.Interface.ITone</a></td><td class="entry"></td></tr>
</table>