@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattleMove_MoveFailed Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move___move_failed.cshtml">IBattleMove_MoveFailed</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move___move_failed-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleMove_MoveFailed Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattleMove_MoveFailed:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move___move_failed.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattleMove_5FMoveFailed_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattleMove_5FMoveFailed_map" name="PokemonEssentials.Interface.PokeBattle.IBattleMove_5FMoveFailed_map">
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__022.cshtml" title="Increases the user&#39;s evasion by 1 stage." alt="PokemonUnity.Combat.PokeBattle_Move_022" shape="rect" coords="390,56,770,80"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__034.cshtml" title="Increases the user&#39;s evasion by 2 stages. Minimizes the user. (Minimize)" alt="PokemonUnity.Combat.PokeBattle_Move_034" shape="rect" coords="390,112,770,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__067.cshtml" title="User and target swap abilities. (Skill Swap)" alt="PokemonUnity.Combat.PokeBattle_Move_067" shape="rect" coords="390,168,770,192"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__06_a.cshtml" title="Inflicts a fixed 20HP damage. (SonicBoom)" alt="PokemonUnity.Combat.PokeBattle_Move_06A" shape="rect" coords="390,224,770,248"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__06_b.cshtml" title="Inflicts a fixed 40HP damage. (Dragon Rage)" alt="PokemonUnity.Combat.PokeBattle_Move_06B" shape="rect" coords="390,280,770,304"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__070.cshtml" title="OHKO. Accuracy increases by difference between levels of user and target." alt="PokemonUnity.Combat.PokeBattle_Move_070" shape="rect" coords="390,336,770,360"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__0_e0.cshtml" title="User faints. (Explosion, Selfdestruct)" alt="PokemonUnity.Combat.PokeBattle_Move_0E0" shape="rect" coords="390,392,770,416"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__0_e5.cshtml" title="All current battlers will perish after 3 more rounds. (Perish Song)" alt="PokemonUnity.Combat.PokeBattle_Move_0E5" shape="rect" coords="390,448,770,472"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__0_e7.cshtml" title="If user is KO&#39;d before it next moves, the battler that caused it also faints. (Destiny Bond)" alt="PokemonUnity.Combat.PokeBattle_Move_0E7" shape="rect" coords="390,504,770,528"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6284acf5721e410ee1db95b79a832fbe"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move___move_failed.cshtml#a6284acf5721e410ee1db95b79a832fbe">pbMoveFailed</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a6284acf5721e410ee1db95b79a832fbe"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6284acf5721e410ee1db95b79a832fbe" name="a6284acf5721e410ee1db95b79a832fbe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6284acf5721e410ee1db95b79a832fbe">&#9670;&#160;</a></span>pbMoveFailed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMove_MoveFailed.pbMoveFailed </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">attacker</td><td></td></tr>
    <tr><td class="paramname">opponent</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__022.cshtml#a5a061c16ad752b7374b4f59236d64439">PokemonUnity.Combat.PokeBattle_Move_022</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__034.cshtml#ad0ef71237df5208696f230ae3f02a0b5">PokemonUnity.Combat.PokeBattle_Move_034</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__067.cshtml#ae772d4089a6c8fddb94e5432df0ed8cd">PokemonUnity.Combat.PokeBattle_Move_067</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__06_a.cshtml#abe3ba690e11d161d36773ec55a0ac0d9">PokemonUnity.Combat.PokeBattle_Move_06A</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__06_b.cshtml#a93fc6c30650c151aa85ed6c81ea54050">PokemonUnity.Combat.PokeBattle_Move_06B</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__070.cshtml#a482c07d30984c1040553b4d7bf14429e">PokemonUnity.Combat.PokeBattle_Move_070</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__0_e5.cshtml#a6bdecbdba4cb56ae31243254d181127a">PokemonUnity.Combat.PokeBattle_Move_0E5</a>, and <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___move__0_e7.cshtml#a2feee47fcbf381dc0287d50925081247">PokemonUnity.Combat.PokeBattle_Move_0E7</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_clause_8cs.cshtml">IBattleClause.cs</a></li>
</ul>
