@{
	Page.Title = "PokemonEssentials.Interface.Battle.IGameMapOrgBattle Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml">IGameMapOrgBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameMapOrgBattle Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IGameMapOrgBattle:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.png" usemap="#PokemonEssentials.Interface.Battle.IGameMapOrgBattle_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IGameMapOrgBattle_map" name="PokemonEssentials.Interface.Battle.IGameMapOrgBattle_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml" alt="PokemonEssentials.Interface.IGameMap" shape="rect" coords="0,56,325,80"/>
<area href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml" title="This class handles the map. It includes scrolling and passable determining functions...." alt="PokemonUnity.Game.Game_Map" shape="rect" coords="335,56,660,80"/>
<area href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml" title="This class handles the map. It includes scrolling and passable determining functions...." alt="PokemonUnity.Game.Game_Map" shape="rect" coords="0,112,325,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa0f6e59d200c2298f48ef19d0094f972"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml#aa0f6e59d200c2298f48ef19d0094f972">map_id</a> <code>[get, set]</code></td></tr>
<tr class="separator:aa0f6e59d200c2298f48ef19d0094f972"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa0f6e59d200c2298f48ef19d0094f972" name="aa0f6e59d200c2298f48ef19d0094f972"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0f6e59d200c2298f48ef19d0094f972">&#9670;&#160;</a></span>map_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameMapOrgBattle.map_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a9010087f1aa3e722a1052c8de9a3123d">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
