@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Item.IItemCheck Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml">IItemCheck</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IItemCheck Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml" title="Extension of IGame">IGameItem</a></dd></dl>
<p>. Can be own <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a> Class   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7049c79bd25b0df3c3f5fe4db3cb59af"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a7049c79bd25b0df3c3f5fe4db3cb59af">IsHiddenMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a7049c79bd25b0df3c3f5fe4db3cb59af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78f2aa7c68b9b5e2c3dc80246b869248"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a78f2aa7c68b9b5e2c3dc80246b869248">GetPrice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a78f2aa7c68b9b5e2c3dc80246b869248"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d9750fc1d9b061e4c353da56ce585c8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a8d9750fc1d9b061e4c353da56ce585c8">GetPocket</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a8d9750fc1d9b061e4c353da56ce585c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76cb17b72bc6c8dbc7f3b2b86d434963"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a76cb17b72bc6c8dbc7f3b2b86d434963">IsImportantItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="memdesc:a76cb17b72bc6c8dbc7f3b2b86d434963"><td class="mdescLeft">&#160;</td><td class="mdescRight">Important items can't be sold, given to hold, or tossed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a76cb17b72bc6c8dbc7f3b2b86d434963">More...</a><br /></td></tr>
<tr class="separator:a76cb17b72bc6c8dbc7f3b2b86d434963"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9e64f6b0e6b0c86012d91dd603f5504"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#ad9e64f6b0e6b0c86012d91dd603f5504">IsMachine</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:ad9e64f6b0e6b0c86012d91dd603f5504"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77f53105f186ff09ca4ac3b3ed3ade36"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a77f53105f186ff09ca4ac3b3ed3ade36">IsTechnicalMachine</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a77f53105f186ff09ca4ac3b3ed3ade36"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49c20efc10b6f0374ab50dc73fb19164"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a49c20efc10b6f0374ab50dc73fb19164">IsHiddenMachine</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a49c20efc10b6f0374ab50dc73fb19164"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78776fb171644057ac442147994e84d7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a78776fb171644057ac442147994e84d7">IsMail</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a78776fb171644057ac442147994e84d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41c77219b47ca0cb7c4edc6dca0b52ee"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a41c77219b47ca0cb7c4edc6dca0b52ee">IsSnagBall</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a41c77219b47ca0cb7c4edc6dca0b52ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8da8d74f2b9893595d392e263ddbcfe1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a8da8d74f2b9893595d392e263ddbcfe1">IsPokeBall</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a8da8d74f2b9893595d392e263ddbcfe1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2caf4a644737af58d098bbd5ebcbecd3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a2caf4a644737af58d098bbd5ebcbecd3">IsBerry</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a2caf4a644737af58d098bbd5ebcbecd3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f9708af449cb6771b5880c1ca874c3d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a0f9708af449cb6771b5880c1ca874c3d">IsKeyItem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a0f9708af449cb6771b5880c1ca874c3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58f715bb654f51faf307f95ab477d049"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a58f715bb654f51faf307f95ab477d049">IsGem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a58f715bb654f51faf307f95ab477d049"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2715e4d0fdaa45ac48370100a4ba61f0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a2715e4d0fdaa45ac48370100a4ba61f0">IsEvolutionStone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a2715e4d0fdaa45ac48370100a4ba61f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6747a0416b1e08100b86f40240cca04c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a6747a0416b1e08100b86f40240cca04c">IsMegaStone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="memdesc:a6747a0416b1e08100b86f40240cca04c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Does NOT include Red Orb/Blue Orb   <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a6747a0416b1e08100b86f40240cca04c">More...</a><br /></td></tr>
<tr class="separator:a6747a0416b1e08100b86f40240cca04c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a303b5fd1d42d3074e129bf0ce344ed30"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_item_check.cshtml#a303b5fd1d42d3074e129bf0ce344ed30">IsMulch</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a303b5fd1d42d3074e129bf0ce344ed30"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item.cshtml" title="Extension of IGame">IGameItem</a></dd></dl>
<p>. Can be own <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a> Class  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a8d9750fc1d9b061e4c353da56ce585c8" name="a8d9750fc1d9b061e4c353da56ce585c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d9750fc1d9b061e4c353da56ce585c8">&#9670;&#160;</a></span>GetPocket()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>? PokemonEssentials.Interface.Item.IItemCheck.GetPocket </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78f2aa7c68b9b5e2c3dc80246b869248" name="a78f2aa7c68b9b5e2c3dc80246b869248"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78f2aa7c68b9b5e2c3dc80246b869248">&#9670;&#160;</a></span>GetPrice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IItemCheck.GetPrice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2caf4a644737af58d098bbd5ebcbecd3" name="a2caf4a644737af58d098bbd5ebcbecd3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2caf4a644737af58d098bbd5ebcbecd3">&#9670;&#160;</a></span>IsBerry()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsBerry </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2715e4d0fdaa45ac48370100a4ba61f0" name="a2715e4d0fdaa45ac48370100a4ba61f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2715e4d0fdaa45ac48370100a4ba61f0">&#9670;&#160;</a></span>IsEvolutionStone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsEvolutionStone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a58f715bb654f51faf307f95ab477d049" name="a58f715bb654f51faf307f95ab477d049"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a58f715bb654f51faf307f95ab477d049">&#9670;&#160;</a></span>IsGem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsGem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a49c20efc10b6f0374ab50dc73fb19164" name="a49c20efc10b6f0374ab50dc73fb19164"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49c20efc10b6f0374ab50dc73fb19164">&#9670;&#160;</a></span>IsHiddenMachine()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsHiddenMachine </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7049c79bd25b0df3c3f5fe4db3cb59af" name="a7049c79bd25b0df3c3f5fe4db3cb59af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7049c79bd25b0df3c3f5fe4db3cb59af">&#9670;&#160;</a></span>IsHiddenMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsHiddenMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">move</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<dl class="section see"><dt>See also</dt><dd>HiddenMoves</dd></dl>

</div>
</div>
<a id="a76cb17b72bc6c8dbc7f3b2b86d434963" name="a76cb17b72bc6c8dbc7f3b2b86d434963"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a76cb17b72bc6c8dbc7f3b2b86d434963">&#9670;&#160;</a></span>IsImportantItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsImportantItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Important items can't be sold, given to hold, or tossed.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a0f9708af449cb6771b5880c1ca874c3d" name="a0f9708af449cb6771b5880c1ca874c3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f9708af449cb6771b5880c1ca874c3d">&#9670;&#160;</a></span>IsKeyItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsKeyItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad9e64f6b0e6b0c86012d91dd603f5504" name="ad9e64f6b0e6b0c86012d91dd603f5504"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9e64f6b0e6b0c86012d91dd603f5504">&#9670;&#160;</a></span>IsMachine()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsMachine </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78776fb171644057ac442147994e84d7" name="a78776fb171644057ac442147994e84d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78776fb171644057ac442147994e84d7">&#9670;&#160;</a></span>IsMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6747a0416b1e08100b86f40240cca04c" name="a6747a0416b1e08100b86f40240cca04c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6747a0416b1e08100b86f40240cca04c">&#9670;&#160;</a></span>IsMegaStone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsMegaStone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Does NOT include Red Orb/Blue Orb  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a303b5fd1d42d3074e129bf0ce344ed30" name="a303b5fd1d42d3074e129bf0ce344ed30"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a303b5fd1d42d3074e129bf0ce344ed30">&#9670;&#160;</a></span>IsMulch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsMulch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8da8d74f2b9893595d392e263ddbcfe1" name="a8da8d74f2b9893595d392e263ddbcfe1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8da8d74f2b9893595d392e263ddbcfe1">&#9670;&#160;</a></span>IsPokeBall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsPokeBall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a41c77219b47ca0cb7c4edc6dca0b52ee" name="a41c77219b47ca0cb7c4edc6dca0b52ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41c77219b47ca0cb7c4edc6dca0b52ee">&#9670;&#160;</a></span>IsSnagBall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsSnagBall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a77f53105f186ff09ca4ac3b3ed3ade36" name="a77f53105f186ff09ca4ac3b3ed3ade36"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77f53105f186ff09ca4ac3b3ed3ade36">&#9670;&#160;</a></span>IsTechnicalMachine()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IItemCheck.IsTechnicalMachine </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_item_handlers_8cs.cshtml">IItemHandlers.cs</a></li>
</ul>

