@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml">IGamePlayerOrgBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.png" usemap="#PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle_map" name="PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle_map">
<area href="class_pokemon_unity_1_1_game___player.cshtml" alt="PokemonUnity.Game_Player" shape="rect" coords="0,56,337,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad9be25e0f09f59e7933febe6872141b5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#ad9be25e0f09f59e7933febe6872141b5">moveto2</a> (float x, float y)</td></tr>
<tr class="separator:ad9be25e0f09f59e7933febe6872141b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a97a08c54ee8866487828a8cfd95f0091"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_player_org_battle.cshtml#a97a08c54ee8866487828a8cfd95f0091">direction</a><code> [get]</code></td></tr>
<tr class="separator:a97a08c54ee8866487828a8cfd95f0091"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ad9be25e0f09f59e7933febe6872141b5" name="ad9be25e0f09f59e7933febe6872141b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9be25e0f09f59e7933febe6872141b5">&#9670;&#160;</a></span>moveto2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle.moveto2 </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#aae6f2d05b0bed4acf75cca43b8c7cc62">PokemonUnity.Game_Player</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a97a08c54ee8866487828a8cfd95f0091" name="a97a08c54ee8866487828a8cfd95f0091"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97a08c54ee8866487828a8cfd95f0091">&#9670;&#160;</a></span>direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGamePlayerOrgBattle.direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game___player.cshtml#a2a4c2d3d4be600df773f113e574f3efc">PokemonUnity.Game_Player</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>

