@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">IOnWildBattleOverrideEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,419,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml" title="Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - Battle result (1-win,..." alt="PokemonUnity.EventArg.OnWildBattleOverrideEventArgs" shape="rect" coords="0,112,419,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:afc873026e5c18e8121ef687fd58a06cd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#afc873026e5c18e8121ef687fd58a06cd">Species</a><code> [get, set]</code></td></tr>
<tr class="separator:afc873026e5c18e8121ef687fd58a06cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4558161de21ccf2b2e2f83ee8920505a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a4558161de21ccf2b2e2f83ee8920505a">Level</a><code> [get, set]</code></td></tr>
<tr class="separator:a4558161de21ccf2b2e2f83ee8920505a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a4f7459ce4d7faec78aa607f4b88055"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a7a4f7459ce4d7faec78aa607f4b88055">Result</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7a4f7459ce4d7faec78aa607f4b88055"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#a7a4f7459ce4d7faec78aa607f4b88055">More...</a><br /></td></tr>
<tr class="separator:a7a4f7459ce4d7faec78aa607f4b88055"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a4558161de21ccf2b2e2f83ee8920505a" name="a4558161de21ccf2b2e2f83ee8920505a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4558161de21ccf2b2e2f83ee8920505a">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#ae50244e10de23eaad5e9696bfc8b52a1">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<a id="a7a4f7459ce4d7faec78aa607f4b88055" name="a7a4f7459ce4d7faec78aa607f4b88055"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a4f7459ce4d7faec78aa607f4b88055">&#9670;&#160;</a></span>Result</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs.Result</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#af75db55c9ec2dbf29b81e28e7848be69">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<a id="afc873026e5c18e8121ef687fd58a06cd" name="afc873026e5c18e8121ef687fd58a06cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc873026e5c18e8121ef687fd58a06cd">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.EventArg.IOnWildBattleOverrideEventArgs.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_wild_battle_override_event_args.cshtml#a7c454388eeb086332834e6527d70d53b">PokemonUnity.EventArg.OnWildBattleOverrideEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>
