@{
	Page.Title = "PokemonEssentials.Interface.Screen.IOptionValue Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">IOptionValue</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IOptionValue Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IOptionValue:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.png" usemap="#PokemonEssentials.Interface.Screen.IOptionValue_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IOptionValue_map" name="PokemonEssentials.Interface.Screen.IOptionValue_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml" alt="PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;" shape="rect" coords="0,56,324,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml" alt="PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;" shape="rect" coords="334,56,658,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_number_option.cshtml" alt="PokemonEssentials.Interface.Screen.INumberOption" shape="rect" coords="668,56,992,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_slider_option.cshtml" alt="PokemonEssentials.Interface.Screen.ISliderOption" shape="rect" coords="1002,56,1326,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1d7eef4088ad21d190cc805d06f1c09f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a1d7eef4088ad21d190cc805d06f1c09f">next</a> (int current)</td></tr>
<tr class="separator:a1d7eef4088ad21d190cc805d06f1c09f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a891872de469e1c3d07a3a9bb40caab98"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a891872de469e1c3d07a3a9bb40caab98">prev</a> (int current)</td></tr>
<tr class="separator:a891872de469e1c3d07a3a9bb40caab98"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a44c39e2d8b17094289c3b93843b1d620"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a44c39e2d8b17094289c3b93843b1d620">name</a> <code>[get]</code></td></tr>
<tr class="separator:a44c39e2d8b17094289c3b93843b1d620"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1d7eef4088ad21d190cc805d06f1c09f" name="a1d7eef4088ad21d190cc805d06f1c09f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1d7eef4088ad21d190cc805d06f1c09f">&#9670;&#160;</a></span>next()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IOptionValue.next </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>current</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a891872de469e1c3d07a3a9bb40caab98" name="a891872de469e1c3d07a3a9bb40caab98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a891872de469e1c3d07a3a9bb40caab98">&#9670;&#160;</a></span>prev()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IOptionValue.prev </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>current</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a44c39e2d8b17094289c3b93843b1d620" name="a44c39e2d8b17094289c3b93843b1d620"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44c39e2d8b17094289c3b93843b1d620">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IOptionValue.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>
