@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Character.IPhoneTrainerContact Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml">IPhoneTrainerContact</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.IPhoneTrainerContact Interface Reference</div></div>
}


<p>For trainer contacts   
 <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.IPhoneTrainerContact:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.png" usemap="#PokemonUnity.Character.IPhoneTrainerContact_map" alt=""/>
  <map id="PokemonUnity.Character.IPhoneTrainerContact_map" name="PokemonUnity.Character.IPhoneTrainerContact_map">
<area href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml" title="For non-trainer contacts (&quot;special&quot; contacts). Each special contact in your phone can be called at an..." alt="PokemonUnity.Character.IPhoneContact" shape="rect" coords="0,0,279,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aab2e87e14eefea8bf6c28501aa915d0b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aab2e87e14eefea8bf6c28501aa915d0b">Type</a><code> [get]</code></td></tr>
<tr class="memdesc:aab2e87e14eefea8bf6c28501aa915d0b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The trainer type of the contact (e.g. 14, TrainerTypes.CAMPER). In the contact list, this is the first part of the displayed name, e.g.the "Camper" in "Camper Andrew".   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aab2e87e14eefea8bf6c28501aa915d0b">More...</a><br /></td></tr>
<tr class="separator:aab2e87e14eefea8bf6c28501aa915d0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0dcb21c7f9ede57b99b91ebef5a4bda"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda">NextBattleTime</a><code> [get]</code></td></tr>
<tr class="memdesc:aa0dcb21c7f9ede57b99b91ebef5a4bda"><td class="mdescLeft">&#160;</td><td class="mdescRight">When the trainer is registered, and each time the player defeats them in a rematch, this value is set to 2000+rand(2000), and reduces by 1 every 1/4 second (except when messages are being displayed or the player is being forced to move by a move route). When it reaches 0, the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a2a6f57a17c08faab6c159c72b60b0066" title="This value is reset to 0 after the player defeats the trainer and then to 1 once its NextBattleTime h...">CanBattle</a> value is changed from 1 to 2.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda">More...</a><br /></td></tr>
<tr class="separator:aa0dcb21c7f9ede57b99b91ebef5a4bda"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a6f57a17c08faab6c159c72b60b0066"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a95b20baad9a8f0c2d9eb879455ee76a5">PhoneBattleStatuses</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a2a6f57a17c08faab6c159c72b60b0066">CanBattle</a><code> [get]</code></td></tr>
<tr class="memdesc:a2a6f57a17c08faab6c159c72b60b0066"><td class="mdescLeft">&#160;</td><td class="mdescRight">This value is reset to 0 after the player defeats the trainer and then to 1 once its <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda" title="When the trainer is registered, and each time the player defeats them in a rematch,...">NextBattleTime</a> has been set to a value. It is set to 2 when the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda" title="When the trainer is registered, and each time the player defeats them in a rematch,...">NextBattleTime</a> hits zero. It is changed from 2 to 3 after the contact calls the player to tell them they are ready for a rematch.  <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a2a6f57a17c08faab6c159c72b60b0066">More...</a><br /></td></tr>
<tr class="separator:a2a6f57a17c08faab6c159c72b60b0066"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9acadcc14b4c948f2dc13c249b85fbcd"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a9acadcc14b4c948f2dc13c249b85fbcd">RematchId</a><code> [get]</code></td></tr>
<tr class="memdesc:a9acadcc14b4c948f2dc13c249b85fbcd"><td class="mdescLeft">&#160;</td><td class="mdescRight">This number is the version of the trainer that the player will battle next (0 is the original battle, 1 is the first rematch, etc.). This is increased by 1 after each time the player defeats the trainer.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a9acadcc14b4c948f2dc13c249b85fbcd">More...</a><br /></td></tr>
<tr class="separator:a9acadcc14b4c948f2dc13c249b85fbcd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53aee148a008dda0712b237d0e468041"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a53aee148a008dda0712b237d0e468041">EventId</a><code> [get]</code></td></tr>
<tr class="memdesc:a53aee148a008dda0712b237d0e468041"><td class="mdescLeft">&#160;</td><td class="mdescRight">The ID of the trainer's event on the map mentioned above. If this is defined along with the map ID, and if the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a6c4e8ce01e490c18456cc8733d37a721" title="This is either TRUE or FALSE. If this is TRUE, then the contact is displayed in the phone list (so th...">IsVisible</a> value is TRUE, then their event's Self Switches will be altered to allow rematches when they become available. This value has no other effect.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a53aee148a008dda0712b237d0e468041">More...</a><br /></td></tr>
<tr class="separator:a53aee148a008dda0712b237d0e468041"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml">PokemonUnity.Character.IPhoneContact</a></td></tr>
<tr class="memitem:ac6bce3d08afe2488d624fb827b953497 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#ac6bce3d08afe2488d624fb827b953497">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:ac6bce3d08afe2488d624fb827b953497 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="mdescLeft">&#160;</td><td class="mdescRight">A number unique to each contact. It is used to determine which charset to show in the contact list, and which Common Event contains the phone messages for this contact.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#ac6bce3d08afe2488d624fb827b953497">More...</a><br /></td></tr>
<tr class="separator:ac6bce3d08afe2488d624fb827b953497 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c4e8ce01e490c18456cc8733d37a721 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a6c4e8ce01e490c18456cc8733d37a721">IsVisible</a><code> [get]</code></td></tr>
<tr class="memdesc:a6c4e8ce01e490c18456cc8733d37a721 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="mdescLeft">&#160;</td><td class="mdescRight">This is either TRUE or FALSE. If this is TRUE, then the contact is displayed in the phone list (so the player can call them).   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a6c4e8ce01e490c18456cc8733d37a721">More...</a><br /></td></tr>
<tr class="separator:a6c4e8ce01e490c18456cc8733d37a721 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a798435d5d0c2a8e99f31c4156c0a2f47 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a798435d5d0c2a8e99f31c4156c0a2f47">Name</a><code> [get]</code></td></tr>
<tr class="memdesc:a798435d5d0c2a8e99f31c4156c0a2f47 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="mdescLeft">&#160;</td><td class="mdescRight">The full display name of the contact (e.g. "Professor Oak").   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a798435d5d0c2a8e99f31c4156c0a2f47">More...</a><br /></td></tr>
<tr class="separator:a798435d5d0c2a8e99f31c4156c0a2f47 inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36ad0ccb99ac8d97adb1dd819c08895b inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a36ad0ccb99ac8d97adb1dd819c08895b">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:a36ad0ccb99ac8d97adb1dd819c08895b inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="mdescLeft">&#160;</td><td class="mdescRight">The ID of the map corresponding to this contact. It is only used to show the contact's location in the contact list.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a36ad0ccb99ac8d97adb1dd819c08895b">More...</a><br /></td></tr>
<tr class="separator:a36ad0ccb99ac8d97adb1dd819c08895b inherit properties_interface_pokemon_unity_1_1_character_1_1_i_phone_contact"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >For trainer contacts  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a2a6f57a17c08faab6c159c72b60b0066" name="a2a6f57a17c08faab6c159c72b60b0066"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a6f57a17c08faab6c159c72b60b0066">&#9670;&#160;</a></span>CanBattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a95b20baad9a8f0c2d9eb879455ee76a5">PhoneBattleStatuses</a> PokemonUnity.Character.IPhoneTrainerContact.CanBattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This value is reset to 0 after the player defeats the trainer and then to 1 once its <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda" title="When the trainer is registered, and each time the player defeats them in a rematch,...">NextBattleTime</a> has been set to a value. It is set to 2 when the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda" title="When the trainer is registered, and each time the player defeats them in a rematch,...">NextBattleTime</a> hits zero. It is changed from 2 to 3 after the contact calls the player to tell them they are ready for a rematch. </p>
<p >If this value is 2, when the contact calls the player (or vice versa), they will tell the player they are ready for a rematch. If this value is 3, when the contact calls the player (or vice versa), there is only a 50% chance they will remind the player they are ready for a rematch</p><ul>
<li>the other 50% of the time they will say the usual random dialogue.  </li>
</ul>
<p >Note that the contact does not need to have called the player before they can be rebattled, as the rematch is set up as soon as its <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#aa0dcb21c7f9ede57b99b91ebef5a4bda" title="When the trainer is registered, and each time the player defeats them in a rematch,...">NextBattleTime</a> hits zero. </p>

</div>
</div>
<a id="a53aee148a008dda0712b237d0e468041" name="a53aee148a008dda0712b237d0e468041"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53aee148a008dda0712b237d0e468041">&#9670;&#160;</a></span>EventId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.IPhoneTrainerContact.EventId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The ID of the trainer's event on the map mentioned above. If this is defined along with the map ID, and if the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#a6c4e8ce01e490c18456cc8733d37a721" title="This is either TRUE or FALSE. If this is TRUE, then the contact is displayed in the phone list (so th...">IsVisible</a> value is TRUE, then their event's Self Switches will be altered to allow rematches when they become available. This value has no other effect.  </p>

</div>
</div>
<a id="aa0dcb21c7f9ede57b99b91ebef5a4bda" name="aa0dcb21c7f9ede57b99b91ebef5a4bda"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0dcb21c7f9ede57b99b91ebef5a4bda">&#9670;&#160;</a></span>NextBattleTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.IPhoneTrainerContact.NextBattleTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>When the trainer is registered, and each time the player defeats them in a rematch, this value is set to 2000+rand(2000), and reduces by 1 every 1/4 second (except when messages are being displayed or the player is being forced to move by a move route). When it reaches 0, the <a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#a2a6f57a17c08faab6c159c72b60b0066" title="This value is reset to 0 after the player defeats the trainer and then to 1 once its NextBattleTime h...">CanBattle</a> value is changed from 1 to 2.  </p>
<p >This value will hit 0 between 8m 20s and 16m 40s after the trainer was last defeated(not including time spent displaying messages, etc.). </p>

</div>
</div>
<a id="a9acadcc14b4c948f2dc13c249b85fbcd" name="a9acadcc14b4c948f2dc13c249b85fbcd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9acadcc14b4c948f2dc13c249b85fbcd">&#9670;&#160;</a></span>RematchId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.IPhoneTrainerContact.RematchId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This number is the version of the trainer that the player will battle next (0 is the original battle, 1 is the first rematch, etc.). This is increased by 1 after each time the player defeats the trainer.  </p>
<p >This value cannot be increased beyond a maximum number, which is the number of "Battle" comments in the event. Once all the different versions of the trainer have been battled, all subsequent rematches with that trainer will be with the final version of that trainer. </p>

</div>
</div>
<a id="aab2e87e14eefea8bf6c28501aa915d0b" name="aab2e87e14eefea8bf6c28501aa915d0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab2e87e14eefea8bf6c28501aa915d0b">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> PokemonUnity.Character.IPhoneTrainerContact.Type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The trainer type of the contact (e.g. 14, TrainerTypes.CAMPER). In the contact list, this is the first part of the displayed name, e.g.the "Camper" in "Camper Andrew".  </p>
<p >Remember that all trainer contacts must have an associated defined trainer, even if that trainer is never battled. </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/Gear/<a class="el" href="_phone_8cs.cshtml">Phone.cs</a></li>
</ul>

