@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBagScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ad99a2a5e702a751f931bbc7e7c664be8">ChooseBerryScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a10085ada2e510c7778df37894fe85435">ChooseItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#aa0c7e8470e97122f431ebdc6160b503e">Confirm</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#afa14abcae31f09a505495d38924ffc6e">DepositItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ab2beca580055cd9c77b0f2119a53bbcc">Display</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ad2ad3f6e70d0e1716d8b15d802942500">GiveItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a0fc27b3e11b4177e9f97fe3d1a8fcd4f">initialize</a>(IBagScene scene, IBag bag)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#aa3482f334f9fc7f0f15e03ffa663a9a8">StartScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a34e5bed432db8145d8ede897e6d1660b">TossItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a1cf0534f81ac3bea12d865a61b55d71a">UseItemScreen</a>(Pokemons pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a66d01580a1c0aea57874d2bfbeea4e6c">WithdrawItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
</table>
