@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">IScene_PokedexMenu</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IScene_PokedexMenu Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">PokemonEssentials.Interface.Screen.IScene_PokedexMenu</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a3494c166d60801ebc0b8cc4518894bca">initialize</a>(int menu_index=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">PokemonEssentials.Interface.Screen.IScene_PokedexMenu</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a7ec336ab7c93d7e944014681365a0f06">main</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">PokemonEssentials.Interface.Screen.IScene_PokedexMenu</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a774017e83a979a207ed9479ee5e928f6">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">PokemonEssentials.Interface.Screen.IScene_PokedexMenu</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a9c0dccfe24f4e8c7c3e367c81e8afbe4">update_command</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">PokemonEssentials.Interface.Screen.IScene_PokedexMenu</a></td><td class="entry"></td></tr>
</table>
