@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml">IUseOnPokemonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs_map" name="PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,385,24"/>
<area href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml" alt="PokemonUnity.UseOnPokemonEventArgs" shape="rect" coords="0,112,385,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5205d287ea14b2c780e1a7944cbb48da"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a5205d287ea14b2c780e1a7944cbb48da">Item</a><code> [get, set]</code></td></tr>
<tr class="separator:a5205d287ea14b2c780e1a7944cbb48da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d9a71ced97cf2cae836d6bc54035112"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a3d9a71ced97cf2cae836d6bc54035112">Pokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:a3d9a71ced97cf2cae836d6bc54035112"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac502104760ecfc31f6ae933a287fb37f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#ac502104760ecfc31f6ae933a287fb37f">Scene</a><code> [get, set]</code></td></tr>
<tr class="separator:ac502104760ecfc31f6ae933a287fb37f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36fecc5dad5c91e6bf77c0dd74c2e096"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml#a36fecc5dad5c91e6bf77c0dd74c2e096">Response</a><code> [get, set]</code></td></tr>
<tr class="separator:a36fecc5dad5c91e6bf77c0dd74c2e096"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a5205d287ea14b2c780e1a7944cbb48da" name="a5205d287ea14b2c780e1a7944cbb48da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5205d287ea14b2c780e1a7944cbb48da">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a32b4af4501a5a3a5283acf4c0956fd5f">PokemonUnity.UseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a3d9a71ced97cf2cae836d6bc54035112" name="a3d9a71ced97cf2cae836d6bc54035112"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d9a71ced97cf2cae836d6bc54035112">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#ac5ad11ce8298c724649f560a81d083e4">PokemonUnity.UseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a36fecc5dad5c91e6bf77c0dd74c2e096" name="a36fecc5dad5c91e6bf77c0dd74c2e096"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36fecc5dad5c91e6bf77c0dd74c2e096">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a46b54529e8cc06801bef421a8464717c">PokemonUnity.UseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="ac502104760ecfc31f6ae933a287fb37f" name="ac502104760ecfc31f6ae933a287fb37f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac502104760ecfc31f6ae933a287fb37f">&#9670;&#160;</a></span>Scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> PokemonEssentials.Interface.EventArg.IUseOnPokemonEventArgs.Scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_use_on_pokemon_event_args.cshtml#a75c06ed447aaf1c2d7473b7f6bc0fce5">PokemonUnity.UseOnPokemonEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_item_handlers_8cs.cshtml">IItemHandlers.cs</a></li>
</ul>

