@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">IGameDependantEvents</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameDependantEvents Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#aacb0dd2fb84821c3bcad596b305a2014">AddDependency</a>(IGameEvent @@event)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#abac8d14c784e91a978b7f729c4e0dd6a">AddDependency2</a>(int eventID, string eventName, object commonEvent)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a1966163dc187ec9253f98d754c08c3ed">FancyMoveTo</a>(IGameCharacter follower, float newX, float newY)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#acac15406cf09333b29a1706614f6bac5">jumpFancy</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a6166e53e49dfd67071f953960b99ca7b">moveFancy</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a2558fbabe03c02ecd6f43931270d0b4d">moveThrough</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a532b5212617c2d3e7e951e2ff49f61f7">OnMapSceneChange</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a30a69326bb6dbb319a69ca02b6c6c3d5">OnSpritesetCreate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#ad5ed471b4d16a21442c1ae6b43ffe6e4">RemoveDependencies</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a1988eac6d7faf4d30fd7bf8884c683ec">RemoveDependency</a>(IGameEvent @@event)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#af249aca7741097336f3a96df467b520f">RemoveDependency2</a>(string eventName)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a373d7d0ad6c59b3a2c3a79b0a631a367">TestPass</a>(IGameCharacter follower, float x, float y, int? direction=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
</table>
