@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">IDependentEventSprites</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDependentEventSprites Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml#aa514d817fb408d3a683e043073f6fa3e">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml#aee1c41c40e29ee2041d4cfff1fb6e589">disposed</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml#af9bf6d0b803130fdcfe41f7dc58418c4">initialize</a>(IViewport viewport, IGameMap map)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml#ad0061493de994a9a80faa16f30828cdf">refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml#a2d15506237b93c055c92401c5fe64392">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_event_sprites.cshtml">PokemonEssentials.Interface.Field.IDependentEventSprites</a></td><td class="entry"></td></tr>
</table>