@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml">IPokemonEntryScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonEntryScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml#a3423792d3db561ce3a3f2d7f6519519d">initialize</a>(IPokemonEntryScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml#a75569d950f90ff904f7b1fdf4058f465">StartScreen</a>(string helptext, int minlength, int maxlength, string initialText, PokemonUnity.UX.TextEntryTypes mode=0, IPokemon pokemon=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScreen</a></td><td class="entry"></td></tr>
</table>
