@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IGameAudioPlay Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml">IGameAudioPlay</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameAudioPlay Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad8b1217275a281b2bf7940a85d5c0632"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ad8b1217275a281b2bf7940a85d5c0632">StringToAudioFile</a> (string str)</td></tr>
<tr class="separator:ad8b1217275a281b2bf7940a85d5c0632"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a100fb01a2b511d98f6a2aab03bc9f9b7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a100fb01a2b511d98f6a2aab03bc9f9b7">ResolveAudioFile</a> (string str, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a100fb01a2b511d98f6a2aab03bc9f9b7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Converts an object to an audio file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a100fb01a2b511d98f6a2aab03bc9f9b7">More...</a><br /></td></tr>
<tr class="separator:a100fb01a2b511d98f6a2aab03bc9f9b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c38ee4610582d88636f29e532c43b77"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a6c38ee4610582d88636f29e532c43b77">ResolveAudioFile</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> str, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a6c38ee4610582d88636f29e532c43b77"><td class="mdescLeft">&#160;</td><td class="mdescRight">Converts an object to an audio file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a6c38ee4610582d88636f29e532c43b77">More...</a><br /></td></tr>
<tr class="separator:a6c38ee4610582d88636f29e532c43b77"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeebb781f01cb7b4c72484bce0985172a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#aeebb781f01cb7b4c72484bce0985172a">BGMPlay</a> (string param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:aeebb781f01cb7b4c72484bce0985172a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a BGM file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#aeebb781f01cb7b4c72484bce0985172a">More...</a><br /></td></tr>
<tr class="separator:aeebb781f01cb7b4c72484bce0985172a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd2c336ad68aca279248d27e553e2556"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#afd2c336ad68aca279248d27e553e2556">BGMPlay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:afd2c336ad68aca279248d27e553e2556"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a BGM file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#afd2c336ad68aca279248d27e553e2556">More...</a><br /></td></tr>
<tr class="separator:afd2c336ad68aca279248d27e553e2556"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a007d99082ada94c43f538b2908540833"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a007d99082ada94c43f538b2908540833">BGMFade</a> (float x=0)</td></tr>
<tr class="memdesc:a007d99082ada94c43f538b2908540833"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops BGM playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a007d99082ada94c43f538b2908540833">More...</a><br /></td></tr>
<tr class="separator:a007d99082ada94c43f538b2908540833"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d042f8cfe1530d5ca0975d702dc02bc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a8d042f8cfe1530d5ca0975d702dc02bc">BGMStop</a> (float timeInSeconds=0)</td></tr>
<tr class="memdesc:a8d042f8cfe1530d5ca0975d702dc02bc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops BGM playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a8d042f8cfe1530d5ca0975d702dc02bc">More...</a><br /></td></tr>
<tr class="separator:a8d042f8cfe1530d5ca0975d702dc02bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85823abfec3835e7ea8ddf2a8bbd7995"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a85823abfec3835e7ea8ddf2a8bbd7995">MEPlay</a> (string param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a85823abfec3835e7ea8ddf2a8bbd7995"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays an ME file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a85823abfec3835e7ea8ddf2a8bbd7995">More...</a><br /></td></tr>
<tr class="separator:a85823abfec3835e7ea8ddf2a8bbd7995"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85fa90758808672df9b550a6f203affd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a85fa90758808672df9b550a6f203affd">MEPlay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a85fa90758808672df9b550a6f203affd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays an ME file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a85fa90758808672df9b550a6f203affd">More...</a><br /></td></tr>
<tr class="separator:a85fa90758808672df9b550a6f203affd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5a3f3e60f33590d8e08bfa120d31ac2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ab5a3f3e60f33590d8e08bfa120d31ac2">MEFade</a> (float x=0)</td></tr>
<tr class="memdesc:ab5a3f3e60f33590d8e08bfa120d31ac2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ab5a3f3e60f33590d8e08bfa120d31ac2">More...</a><br /></td></tr>
<tr class="separator:ab5a3f3e60f33590d8e08bfa120d31ac2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed130d7e712c187dd2d73586b5a7ea6e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#aed130d7e712c187dd2d73586b5a7ea6e">MEStop</a> (float timeInSeconds=0)</td></tr>
<tr class="memdesc:aed130d7e712c187dd2d73586b5a7ea6e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#aed130d7e712c187dd2d73586b5a7ea6e">More...</a><br /></td></tr>
<tr class="separator:aed130d7e712c187dd2d73586b5a7ea6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac683f7127a9e83a110a008ffc842ef48"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ac683f7127a9e83a110a008ffc842ef48">BGSPlay</a> (string param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:ac683f7127a9e83a110a008ffc842ef48"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a BGS file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ac683f7127a9e83a110a008ffc842ef48">More...</a><br /></td></tr>
<tr class="separator:ac683f7127a9e83a110a008ffc842ef48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70e17259534383b726a5eb6f1843106d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a70e17259534383b726a5eb6f1843106d">BGSPlay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a70e17259534383b726a5eb6f1843106d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a BGS file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a70e17259534383b726a5eb6f1843106d">More...</a><br /></td></tr>
<tr class="separator:a70e17259534383b726a5eb6f1843106d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a56a85444f7e13dd3eb3de49ee1fdc358"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a56a85444f7e13dd3eb3de49ee1fdc358">BGSFade</a> (float x=0)</td></tr>
<tr class="memdesc:a56a85444f7e13dd3eb3de49ee1fdc358"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a56a85444f7e13dd3eb3de49ee1fdc358">More...</a><br /></td></tr>
<tr class="separator:a56a85444f7e13dd3eb3de49ee1fdc358"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a517fa81bb04db1b8af6daa24a6d59608"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a517fa81bb04db1b8af6daa24a6d59608">BGSStop</a> (float timeInSeconds=0)</td></tr>
<tr class="memdesc:a517fa81bb04db1b8af6daa24a6d59608"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fades out or stops BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a517fa81bb04db1b8af6daa24a6d59608">More...</a><br /></td></tr>
<tr class="separator:a517fa81bb04db1b8af6daa24a6d59608"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fbd4c49104657de6ba4b8262562057e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a5fbd4c49104657de6ba4b8262562057e">SEPlay</a> (string param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a5fbd4c49104657de6ba4b8262562057e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays an SE file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a5fbd4c49104657de6ba4b8262562057e">More...</a><br /></td></tr>
<tr class="separator:a5fbd4c49104657de6ba4b8262562057e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ed2db374fe9c56c4d46ac5a2e45255b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a7ed2db374fe9c56c4d46ac5a2e45255b">SEPlay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> param, int? volume=null, float? pitch=null)</td></tr>
<tr class="memdesc:a7ed2db374fe9c56c4d46ac5a2e45255b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays an SE file.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a7ed2db374fe9c56c4d46ac5a2e45255b">More...</a><br /></td></tr>
<tr class="separator:a7ed2db374fe9c56c4d46ac5a2e45255b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1feac299217b9b77a76bc6586eefd2d5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a1feac299217b9b77a76bc6586eefd2d5">SEFade</a> (float x=0)</td></tr>
<tr class="memdesc:a1feac299217b9b77a76bc6586eefd2d5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops SE playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a1feac299217b9b77a76bc6586eefd2d5">More...</a><br /></td></tr>
<tr class="separator:a1feac299217b9b77a76bc6586eefd2d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5158fcf4c21ea7eb92419cb9b4c48d72"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a5158fcf4c21ea7eb92419cb9b4c48d72">SEStop</a> (float timeInSeconds=0)</td></tr>
<tr class="memdesc:a5158fcf4c21ea7eb92419cb9b4c48d72"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops SE playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a5158fcf4c21ea7eb92419cb9b4c48d72">More...</a><br /></td></tr>
<tr class="separator:a5158fcf4c21ea7eb92419cb9b4c48d72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af0c26aad36290a7b3e012d46448c03ee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#af0c26aad36290a7b3e012d46448c03ee">PlayCursorSE</a> ()</td></tr>
<tr class="memdesc:af0c26aad36290a7b3e012d46448c03ee"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a sound effect that plays when the player moves the cursor.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#af0c26aad36290a7b3e012d46448c03ee">More...</a><br /></td></tr>
<tr class="separator:af0c26aad36290a7b3e012d46448c03ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac4b33a01a58bdec454c849009faa479c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ac4b33a01a58bdec454c849009faa479c">PlayDecisionSE</a> ()</td></tr>
<tr class="memdesc:ac4b33a01a58bdec454c849009faa479c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a sound effect that plays when a decision is confirmed or a choice is made.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#ac4b33a01a58bdec454c849009faa479c">More...</a><br /></td></tr>
<tr class="separator:ac4b33a01a58bdec454c849009faa479c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c4d184a7efde5a72a08f99cc8fa9e0f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a1c4d184a7efde5a72a08f99cc8fa9e0f">PlayCancelSE</a> ()</td></tr>
<tr class="memdesc:a1c4d184a7efde5a72a08f99cc8fa9e0f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a sound effect that plays when a choice is canceled.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a1c4d184a7efde5a72a08f99cc8fa9e0f">More...</a><br /></td></tr>
<tr class="separator:a1c4d184a7efde5a72a08f99cc8fa9e0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4afd6089ac299ceb27d305444ec85e46"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a4afd6089ac299ceb27d305444ec85e46">PlayBuzzerSE</a> ()</td></tr>
<tr class="memdesc:a4afd6089ac299ceb27d305444ec85e46"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays a buzzer sound effect.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_audio_play.cshtml#a4afd6089ac299ceb27d305444ec85e46">More...</a><br /></td></tr>
<tr class="separator:a4afd6089ac299ceb27d305444ec85e46"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a007d99082ada94c43f538b2908540833" name="a007d99082ada94c43f538b2908540833"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a007d99082ada94c43f538b2908540833">&#9670;&#160;</a></span>BGMFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGMFade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops BGM playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="afd2c336ad68aca279248d27e553e2556" name="afd2c336ad68aca279248d27e553e2556"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd2c336ad68aca279248d27e553e2556">&#9670;&#160;</a></span>BGMPlay() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGMPlay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a BGM file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>an <dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></dd></dl>
object.</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="aeebb781f01cb7b4c72484bce0985172a" name="aeebb781f01cb7b4c72484bce0985172a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeebb781f01cb7b4c72484bce0985172a">&#9670;&#160;</a></span>BGMPlay() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGMPlay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a BGM file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>a string showing the filename (relative to Audio/BGM/).</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="a8d042f8cfe1530d5ca0975d702dc02bc" name="a8d042f8cfe1530d5ca0975d702dc02bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d042f8cfe1530d5ca0975d702dc02bc">&#9670;&#160;</a></span>BGMStop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGMStop </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>timeInSeconds</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops BGM playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">timeInSeconds</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a56a85444f7e13dd3eb3de49ee1fdc358" name="a56a85444f7e13dd3eb3de49ee1fdc358"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a56a85444f7e13dd3eb3de49ee1fdc358">&#9670;&#160;</a></span>BGSFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGSFade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops BGS playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a70e17259534383b726a5eb6f1843106d" name="a70e17259534383b726a5eb6f1843106d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70e17259534383b726a5eb6f1843106d">&#9670;&#160;</a></span>BGSPlay() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGSPlay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a BGS file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>an <dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></dd></dl>
object.</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="ac683f7127a9e83a110a008ffc842ef48" name="ac683f7127a9e83a110a008ffc842ef48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac683f7127a9e83a110a008ffc842ef48">&#9670;&#160;</a></span>BGSPlay() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGSPlay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a BGS file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>a string showing the filename (relative to Audio/BGS/).</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="a517fa81bb04db1b8af6daa24a6d59608" name="a517fa81bb04db1b8af6daa24a6d59608"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a517fa81bb04db1b8af6daa24a6d59608">&#9670;&#160;</a></span>BGSStop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.BGSStop </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>timeInSeconds</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops BGS playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">timeInSeconds</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ab5a3f3e60f33590d8e08bfa120d31ac2" name="ab5a3f3e60f33590d8e08bfa120d31ac2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5a3f3e60f33590d8e08bfa120d31ac2">&#9670;&#160;</a></span>MEFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.MEFade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops ME playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a85fa90758808672df9b550a6f203affd" name="a85fa90758808672df9b550a6f203affd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85fa90758808672df9b550a6f203affd">&#9670;&#160;</a></span>MEPlay() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.MEPlay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays an ME file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>an <dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></dd></dl>
object.</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="a85823abfec3835e7ea8ddf2a8bbd7995" name="a85823abfec3835e7ea8ddf2a8bbd7995"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85823abfec3835e7ea8ddf2a8bbd7995">&#9670;&#160;</a></span>MEPlay() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.MEPlay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays an ME file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>a string showing the filename (relative to Audio/ME/).</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="aed130d7e712c187dd2d73586b5a7ea6e" name="aed130d7e712c187dd2d73586b5a7ea6e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed130d7e712c187dd2d73586b5a7ea6e">&#9670;&#160;</a></span>MEStop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.MEStop </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>timeInSeconds</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fades out or stops ME playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">timeInSeconds</td><td>'x' is the time in seconds to fade out.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a4afd6089ac299ceb27d305444ec85e46" name="a4afd6089ac299ceb27d305444ec85e46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4afd6089ac299ceb27d305444ec85e46">&#9670;&#160;</a></span>PlayBuzzerSE()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.PlayBuzzerSE </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a buzzer sound effect.  </p>

</div>
</div>
<a id="a1c4d184a7efde5a72a08f99cc8fa9e0f" name="a1c4d184a7efde5a72a08f99cc8fa9e0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c4d184a7efde5a72a08f99cc8fa9e0f">&#9670;&#160;</a></span>PlayCancelSE()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.PlayCancelSE </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a sound effect that plays when a choice is canceled.  </p>

</div>
</div>
<a id="af0c26aad36290a7b3e012d46448c03ee" name="af0c26aad36290a7b3e012d46448c03ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0c26aad36290a7b3e012d46448c03ee">&#9670;&#160;</a></span>PlayCursorSE()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.PlayCursorSE </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a sound effect that plays when the player moves the cursor.  </p>

</div>
</div>
<a id="ac4b33a01a58bdec454c849009faa479c" name="ac4b33a01a58bdec454c849009faa479c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4b33a01a58bdec454c849009faa479c">&#9670;&#160;</a></span>PlayDecisionSE()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.PlayDecisionSE </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays a sound effect that plays when a decision is confirmed or a choice is made.  </p>

</div>
</div>
<a id="a6c38ee4610582d88636f29e532c43b77" name="a6c38ee4610582d88636f29e532c43b77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c38ee4610582d88636f29e532c43b77">&#9670;&#160;</a></span>ResolveAudioFile() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> PokemonEssentials.Interface.IGameAudioPlay.ResolveAudioFile </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td>
          <td class="paramname"><em>str</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Converts an object to an audio file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">str</td><td>an <dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></dd></dl>
object.</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a100fb01a2b511d98f6a2aab03bc9f9b7" name="a100fb01a2b511d98f6a2aab03bc9f9b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a100fb01a2b511d98f6a2aab03bc9f9b7">&#9670;&#160;</a></span>ResolveAudioFile() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> PokemonEssentials.Interface.IGameAudioPlay.ResolveAudioFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Converts an object to an audio file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">str</td><td>a string showing the filename. Possible formats for <em>str</em> :</td></tr>
  </table>
  </dd>
</dl>
<p>filename volume and pitch 100</p>
<p >filename:volume pitch 100</p>
<p >filename:volume:pitch </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a1feac299217b9b77a76bc6586eefd2d5" name="a1feac299217b9b77a76bc6586eefd2d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1feac299217b9b77a76bc6586eefd2d5">&#9670;&#160;</a></span>SEFade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.SEFade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops SE playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a7ed2db374fe9c56c4d46ac5a2e45255b" name="a7ed2db374fe9c56c4d46ac5a2e45255b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ed2db374fe9c56c4d46ac5a2e45255b">&#9670;&#160;</a></span>SEPlay() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.SEPlay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a>&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays an SE file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>an <dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></dd></dl>
object.</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="a5fbd4c49104657de6ba4b8262562057e" name="a5fbd4c49104657de6ba4b8262562057e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5fbd4c49104657de6ba4b8262562057e">&#9670;&#160;</a></span>SEPlay() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.SEPlay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>param</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>volume</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays an SE file.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">param</td><td>a string showing the filename (relative to Audio/SE/).</td></tr>
    <tr><td class="paramname">volume</td><td>Volume of the file, up to 100</td></tr>
    <tr><td class="paramname">pitch</td><td>Pitch of the file, normally 100</td></tr>
  </table>
  </dd>
</dl>
<p >Possible formats for <em>param</em> :</p>
<p >filename (volume and pitch 100)</p>
<p >filename:volume (pitch 100)</p>
<p >filename:volume:pitch </p>

</div>
</div>
<a id="a5158fcf4c21ea7eb92419cb9b4c48d72" name="a5158fcf4c21ea7eb92419cb9b4c48d72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5158fcf4c21ea7eb92419cb9b4c48d72">&#9670;&#160;</a></span>SEStop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameAudioPlay.SEStop </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>timeInSeconds</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops SE playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">timeInSeconds</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ad8b1217275a281b2bf7940a85d5c0632" name="ad8b1217275a281b2bf7940a85d5c0632"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8b1217275a281b2bf7940a85d5c0632">&#9670;&#160;</a></span>StringToAudioFile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a> PokemonEssentials.Interface.IGameAudioPlay.StringToAudioFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_audio_play_8cs.cshtml">IAudioPlay.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
