@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IRect Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a4b1af7895485edf37499bcb547d5c7f2">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a250399e4e2effb20151d9f147560e5c1">set</a>(float x, float y, float width, float height)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a2661efe5fc24d0f527ae2daedb13f5e6">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a8c407a62b9f02e65926a88e7dfd58de3">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml#a0a591f18e1ac9cf82b48af881928af1f">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">PokemonEssentials.Interface.IRect</a></td><td class="entry"></td></tr>
</table>
