@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml">IActiveField</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.Effects.IActiveField Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveField</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml#a4cbe19dd8981b30dd218e1ef734801c3">effects</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml#a4a040342f3dab0517e6c815bcaec0798">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_field.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveField</a></td><td class="entry"></td></tr>
</table>