@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">IPokemonEvolutionScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonEvolutionScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#affc8abbef67e68edbc2525899a0922b3">pbEndScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#aef6b14caa3152cb6bc4d24065cad3142">pbEvolution</a>(bool cancancel=true)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#a3fc7cb5b447565d92407034e98416d13">pbFlashInOut</a>(bool canceled, string oldstate, string oldstate2)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#a1b4ff54350bbedc391c655bf51b3ef0f">pbStartScreen</a>(Monster.Pokemon pokemon, Pokemons newspecies)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#a29be809bec39a5d51c107d2713b77c06">pbUpdate</a>(bool animating=false)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#a9cb19a9a7bac12fa0db1a8e0d8a9e231">pbUpdateExpandScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml#ac5074e8251b146fc44364e0154a5e194">pbUpdateNarrowScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml">PokemonUnity.IPokemonEvolutionScene</a></td><td class="entry"></td></tr>
</table>