@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">IGameDependantEvents</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameDependantEvents Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#acac15406cf09333b29a1706614f6bac5">jumpFancy</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a6166e53e49dfd67071f953960b99ca7b">moveFancy</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a2558fbabe03c02ecd6f43931270d0b4d">moveThrough</a>(IGameCharacter follower, int direction)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a528fc7c8cab7c31ced8ea277aa666065">pbAddDependency</a>(IGameEvent @@event)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#abbbbe76d1f3350951a0fa85e32f7c934">pbAddDependency2</a>(int eventID, string eventName, object commonEvent)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a31f64396060349d34d592361b940df07">pbFancyMoveTo</a>(IGameCharacter follower, float newX, float newY)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a94ae8eac0d9caa31cfa510016e481cc5">pbRemoveDependencies</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#ab52ea7ad22c8b0ecf13af05c1f1e0ad5">pbRemoveDependency</a>(IGameEvent @@event)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#a2e2be31d59c3bd955f58452df9b387ec">pbRemoveDependency2</a>(string eventName)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml#aa4fec3a5bc4f5b0fa6d69dafd6b9d26a">pbTestPass</a>(IGameCharacter follower, float x, float y, int? direction=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dependant_events.cshtml">PokemonEssentials.Interface.Field.IGameDependantEvents</a></td><td class="entry"></td></tr>
</table>