@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.ISpriteResizer Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">ISpriteResizer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteResizer Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab271dd97dd28a8316c2dc08ec66213c7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#ab271dd97dd28a8316c2dc08ec66213c7">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:ab271dd97dd28a8316c2dc08ec66213c7"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:abbed3f79aee3564219663b1e1dfe3b44"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#abbed3f79aee3564219663b1e1dfe3b44">bush_depth</a><code> [get, set]</code></td></tr>
<tr class="memdesc:abbed3f79aee3564219663b1e1dfe3b44"><td class="mdescLeft">&#160;</td><td class="mdescRight">This can be used to represent something like characters' legs being hidden by bushes. For bush_depth, the number of pixels for the bush section is specified.The default value is 0.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#abbed3f79aee3564219663b1e1dfe3b44">More...</a><br /></td></tr>
<tr class="separator:abbed3f79aee3564219663b1e1dfe3b44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b9c51fcbc0061f73c55bf13eb079c4a"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a2b9c51fcbc0061f73c55bf13eb079c4a">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2b9c51fcbc0061f73c55bf13eb079c4a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a2b9c51fcbc0061f73c55bf13eb079c4a">More...</a><br /></td></tr>
<tr class="separator:a2b9c51fcbc0061f73c55bf13eb079c4a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a953f0c3eee90a9445f5fdfa018413310"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a953f0c3eee90a9445f5fdfa018413310">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a953f0c3eee90a9445f5fdfa018413310"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a953f0c3eee90a9445f5fdfa018413310">More...</a><br /></td></tr>
<tr class="separator:a953f0c3eee90a9445f5fdfa018413310"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd1e45038932101465e6924e57ca065f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#acd1e45038932101465e6924e57ca065f">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:acd1e45038932101465e6924e57ca065f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#acd1e45038932101465e6924e57ca065f">More...</a><br /></td></tr>
<tr class="separator:acd1e45038932101465e6924e57ca065f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73ccf1294f091ab91933e84a9f52def9"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a73ccf1294f091ab91933e84a9f52def9">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a73ccf1294f091ab91933e84a9f52def9"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a73ccf1294f091ab91933e84a9f52def9">More...</a><br /></td></tr>
<tr class="separator:a73ccf1294f091ab91933e84a9f52def9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae5d043926a0ff784a647a1d08218739f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#ae5d043926a0ff784a647a1d08218739f">zoom_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae5d043926a0ff784a647a1d08218739f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#ae5d043926a0ff784a647a1d08218739f">More...</a><br /></td></tr>
<tr class="separator:ae5d043926a0ff784a647a1d08218739f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e06b4a914947e67076414c8fabae907"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a6e06b4a914947e67076414c8fabae907">zoom_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a6e06b4a914947e67076414c8fabae907"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a6e06b4a914947e67076414c8fabae907">More...</a><br /></td></tr>
<tr class="separator:a6e06b4a914947e67076414c8fabae907"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab271dd97dd28a8316c2dc08ec66213c7" name="ab271dd97dd28a8316c2dc08ec66213c7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab271dd97dd28a8316c2dc08ec66213c7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> PokemonEssentials.Interface.ISpriteResizer.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="abbed3f79aee3564219663b1e1dfe3b44" name="abbed3f79aee3564219663b1e1dfe3b44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbed3f79aee3564219663b1e1dfe3b44">&#9670;&#160;</a></span>bush_depth</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ISpriteResizer.bush_depth</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This can be used to represent something like characters' legs being hidden by bushes. For bush_depth, the number of pixels for the bush section is specified.The default value is 0.  </p>

</div>
</div>
<a id="a2b9c51fcbc0061f73c55bf13eb079c4a" name="a2b9c51fcbc0061f73c55bf13eb079c4a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b9c51fcbc0061f73c55bf13eb079c4a">&#9670;&#160;</a></span>ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the sprite's starting point.  </p>

</div>
</div>
<a id="a953f0c3eee90a9445f5fdfa018413310" name="a953f0c3eee90a9445f5fdfa018413310"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a953f0c3eee90a9445f5fdfa018413310">&#9670;&#160;</a></span>oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the sprite's starting point.  </p>

</div>
</div>
<a id="acd1e45038932101465e6924e57ca065f" name="acd1e45038932101465e6924e57ca065f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd1e45038932101465e6924e57ca065f">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's X-coordinate.  </p>

</div>
</div>
<a id="a73ccf1294f091ab91933e84a9f52def9" name="a73ccf1294f091ab91933e84a9f52def9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73ccf1294f091ab91933e84a9f52def9">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Y-coordinate.  </p>

</div>
</div>
<a id="ae5d043926a0ff784a647a1d08218739f" name="ae5d043926a0ff784a647a1d08218739f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae5d043926a0ff784a647a1d08218739f">&#9670;&#160;</a></span>zoom_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.zoom_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's X-axis zoom level. 1.0 denotes actual pixel size.  </p>

</div>
</div>
<a id="a6e06b4a914947e67076414c8fabae907" name="a6e06b4a914947e67076414c8fabae907"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e06b4a914947e67076414c8fabae907">&#9670;&#160;</a></span>zoom_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteResizer.zoom_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Y-axis zoom level. 1.0 denotes actual pixel size.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
