@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">ISpritePicture</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritePicture Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">PokemonEssentials.Interface.ISpritePicture</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a20eeb73ca7b3438120218157e08b1921">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">PokemonEssentials.Interface.ISpritePicture</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a201de06b767a8c0bd93b31b21d0e476d">initialize</a>(IViewport viewport, ISprite picture)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">PokemonEssentials.Interface.ISpritePicture</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml#a241ba54b2ca44d86a6d35f6797c05e1a">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_picture.cshtml">PokemonEssentials.Interface.ISpritePicture</a></td><td class="entry"></td></tr>
</table>