@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IBattleChallengeType Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallengeType Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0107a33dc073327d7f8003ee4d00cd0c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a0107a33dc073327d7f8003ee4d00cd0c">initialize</a> ()</td></tr>
<tr class="separator:a0107a33dc073327d7f8003ee4d00cd0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ca45d004a6f1834e3b74acaefb6d697"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a2ca45d004a6f1834e3b74acaefb6d697">saveWins</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> challenge)</td></tr>
<tr class="separator:a2ca45d004a6f1834e3b74acaefb6d697"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1a9b9e1d9557f8df0108f22e032962f6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a1a9b9e1d9557f8df0108f22e032962f6">currentWins</a><code> [get, set]</code></td></tr>
<tr class="separator:a1a9b9e1d9557f8df0108f22e032962f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc46b5037fff1123bb11a061fb72ceea"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#adc46b5037fff1123bb11a061fb72ceea">previousWins</a><code> [get, set]</code></td></tr>
<tr class="separator:adc46b5037fff1123bb11a061fb72ceea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf5afd5ee18703fa77fc6d0f1665de6a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#aaf5afd5ee18703fa77fc6d0f1665de6a">maxWins</a><code> [get, set]</code></td></tr>
<tr class="separator:aaf5afd5ee18703fa77fc6d0f1665de6a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd236b54cb8835ce4648c1ae4c8d01af"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#abd236b54cb8835ce4648c1ae4c8d01af">currentSwaps</a><code> [get, set]</code></td></tr>
<tr class="separator:abd236b54cb8835ce4648c1ae4c8d01af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46068ba8999199f40d5a13424d44079a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a46068ba8999199f40d5a13424d44079a">previousSwaps</a><code> [get, set]</code></td></tr>
<tr class="separator:a46068ba8999199f40d5a13424d44079a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae6f474700131722d18c42dcf6505be89"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#ae6f474700131722d18c42dcf6505be89">maxSwaps</a><code> [get, set]</code></td></tr>
<tr class="separator:ae6f474700131722d18c42dcf6505be89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a88455bf30c758fce3ca6d3702391f793"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a88455bf30c758fce3ca6d3702391f793">doublebattle</a><code> [get, set]</code></td></tr>
<tr class="separator:a88455bf30c758fce3ca6d3702391f793"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad765edeba57890acb08a1e7b30a7e483"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#ad765edeba57890acb08a1e7b30a7e483">numPokemon</a><code> [get, set]</code></td></tr>
<tr class="separator:ad765edeba57890acb08a1e7b30a7e483"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90d55988dfba592d6416fb3a10df2a2b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a90d55988dfba592d6416fb3a10df2a2b">battletype</a><code> [get, set]</code></td></tr>
<tr class="separator:a90d55988dfba592d6416fb3a10df2a2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9cd7a905daffacb78343868212f34572"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml#a9cd7a905daffacb78343868212f34572">mode</a><code> [get, set]</code></td></tr>
<tr class="separator:a9cd7a905daffacb78343868212f34572"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0107a33dc073327d7f8003ee4d00cd0c" name="a0107a33dc073327d7f8003ee4d00cd0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0107a33dc073327d7f8003ee4d00cd0c">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> PokemonEssentials.Interface.Battle.IBattleChallengeType.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ca45d004a6f1834e3b74acaefb6d697" name="a2ca45d004a6f1834e3b74acaefb6d697"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ca45d004a6f1834e3b74acaefb6d697">&#9670;&#160;</a></span>saveWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeType.saveWins </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a90d55988dfba592d6416fb3a10df2a2b" name="a90d55988dfba592d6416fb3a10df2a2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90d55988dfba592d6416fb3a10df2a2b">&#9670;&#160;</a></span>battletype</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.battletype</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abd236b54cb8835ce4648c1ae4c8d01af" name="abd236b54cb8835ce4648c1ae4c8d01af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd236b54cb8835ce4648c1ae4c8d01af">&#9670;&#160;</a></span>currentSwaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.currentSwaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1a9b9e1d9557f8df0108f22e032962f6" name="a1a9b9e1d9557f8df0108f22e032962f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a9b9e1d9557f8df0108f22e032962f6">&#9670;&#160;</a></span>currentWins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.currentWins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a88455bf30c758fce3ca6d3702391f793" name="a88455bf30c758fce3ca6d3702391f793"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a88455bf30c758fce3ca6d3702391f793">&#9670;&#160;</a></span>doublebattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.doublebattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae6f474700131722d18c42dcf6505be89" name="ae6f474700131722d18c42dcf6505be89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6f474700131722d18c42dcf6505be89">&#9670;&#160;</a></span>maxSwaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.maxSwaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aaf5afd5ee18703fa77fc6d0f1665de6a" name="aaf5afd5ee18703fa77fc6d0f1665de6a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf5afd5ee18703fa77fc6d0f1665de6a">&#9670;&#160;</a></span>maxWins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.maxWins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9cd7a905daffacb78343868212f34572" name="a9cd7a905daffacb78343868212f34572"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9cd7a905daffacb78343868212f34572">&#9670;&#160;</a></span>mode</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.mode</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad765edeba57890acb08a1e7b30a7e483" name="ad765edeba57890acb08a1e7b30a7e483"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad765edeba57890acb08a1e7b30a7e483">&#9670;&#160;</a></span>numPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.numPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a46068ba8999199f40d5a13424d44079a" name="a46068ba8999199f40d5a13424d44079a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46068ba8999199f40d5a13424d44079a">&#9670;&#160;</a></span>previousSwaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.previousSwaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adc46b5037fff1123bb11a061fb72ceea" name="adc46b5037fff1123bb11a061fb72ceea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc46b5037fff1123bb11a061fb72ceea">&#9670;&#160;</a></span>previousWins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeType.previousWins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
