@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">IOnEndBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs Interface Reference</div></div>
}


<p>Parameters: int decision e[0] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw) e[1] - If allowed to be defeated, or is stuck in a battle loop until Win   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,366,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml" alt="PokemonUnity.EventArg.OnEndBattleEventArgs" shape="rect" coords="0,112,366,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adf3e802b9bf8789d0263f36fd67e2166"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#adf3e802b9bf8789d0263f36fd67e2166">CanLose</a><code> [get, set]</code></td></tr>
<tr class="separator:adf3e802b9bf8789d0263f36fd67e2166"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a762a82ec455cc99b379da7c0e81993"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">Decision</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3a762a82ec455cc99b379da7c0e81993"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">More...</a><br /></td></tr>
<tr class="separator:a3a762a82ec455cc99b379da7c0e81993"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: int decision e[0] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw) e[1] - If allowed to be defeated, or is stuck in a battle loop until Win  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="adf3e802b9bf8789d0263f36fd67e2166" name="adf3e802b9bf8789d0263f36fd67e2166"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf3e802b9bf8789d0263f36fd67e2166">&#9670;&#160;</a></span>CanLose</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs.CanLose</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a3cf6e64880855d545da489ebd1a2b4ff">PokemonUnity.EventArg.OnEndBattleEventArgs</a>.</p>

</div>
</div>
<a id="a3a762a82ec455cc99b379da7c0e81993" name="a3a762a82ec455cc99b379da7c0e81993"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a762a82ec455cc99b379da7c0e81993">&#9670;&#160;</a></span>Decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs.Decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_end_battle_event_args.cshtml#a9bc63f8ffb3d2dbd2125a40ca17143f6">PokemonUnity.EventArg.OnEndBattleEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

