@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameMapFactory Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_map_factory.cshtml">IGameMapFactory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_map_factory-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameMapFactory Interface Reference</div></div>
}


<p>Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_map_factory.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a74ff6b3a8945accdbd35bcddab51bd61"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_map_factory.cshtml#a74ff6b3a8945accdbd35bcddab51bd61">updateTileset</a> ()</td></tr>
<tr class="separator:a74ff6b3a8945accdbd35bcddab51bd61"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a74ff6b3a8945accdbd35bcddab51bd61" name="a74ff6b3a8945accdbd35bcddab51bd61"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74ff6b3a8945accdbd35bcddab51bd61">&#9670;&#160;</a></span>updateTileset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameMapFactory.updateTileset </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>
