@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IWindow Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">active</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">back_opacity</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">color</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">contents_opacity</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a722de601dac7c5131197dd26dfb4d2b0">disposed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">initialize</a>(IViewport viewport)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">opacity</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">openness</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">ox</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">oy</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">pause</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a5b93fa43347b0555bb271a7c00667773">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">visible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">windowskin</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">z</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td><td class="entry"></td></tr>
</table>
