@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">IOnFailCatchEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnFailCatchEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnFailCatchEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml#a9e895ffc250f874090119b6d91f8239e">Ball</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnFailCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml#afd29a2fa105d82ba7b6e3094b51a5245">Battle</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnFailCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml#a23d3ad47ae46446020f0707feda74d0b">Battler</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnFailCatchEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
</table>