@{
	Page.Title = "PokemonEssentials.Interface.ISpritesetMap Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">ISpritesetMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritesetMap Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISpritesetMap:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5ae501e2e5d46eccd530eb94e65ea7b7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">ISpritesetMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a5ae501e2e5d46eccd530eb94e65ea7b7">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a79f41c1741f4acb5f23e5cbc3528e4bb">map</a>=null)</td></tr>
<tr class="separator:a5ae501e2e5d46eccd530eb94e65ea7b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a84b545b459285f5b7cab92561df15538"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a84b545b459285f5b7cab92561df15538">dispose</a> ()</td></tr>
<tr class="separator:a84b545b459285f5b7cab92561df15538"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f8e166d847c540f1bcfed1b317c4f21"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a1f8e166d847c540f1bcfed1b317c4f21">in_range</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> obj)</td></tr>
<tr class="separator:a1f8e166d847c540f1bcfed1b317c4f21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adfc8513371c810cdd49a72c9b6bee8ee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#adfc8513371c810cdd49a72c9b6bee8ee">update</a> ()</td></tr>
<tr class="separator:adfc8513371c810cdd49a72c9b6bee8ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a79f41c1741f4acb5f23e5cbc3528e4bb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a79f41c1741f4acb5f23e5cbc3528e4bb">map</a> <code>[get]</code></td></tr>
<tr class="separator:a79f41c1741f4acb5f23e5cbc3528e4bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e9dac87bbb0e88820d1c336d3b6ca7b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml#a6e9dac87bbb0e88820d1c336d3b6ca7b">viewport1</a> <code>[get]</code></td></tr>
<tr class="separator:a6e9dac87bbb0e88820d1c336d3b6ca7b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a84b545b459285f5b7cab92561df15538" name="a84b545b459285f5b7cab92561df15538"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a84b545b459285f5b7cab92561df15538">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritesetMap.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1f8e166d847c540f1bcfed1b317c4f21" name="a1f8e166d847c540f1bcfed1b317c4f21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f8e166d847c540f1bcfed1b317c4f21">&#9670;&#160;</a></span>in_range()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISpritesetMap.in_range </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5ae501e2e5d46eccd530eb94e65ea7b7" name="a5ae501e2e5d46eccd530eb94e65ea7b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ae501e2e5d46eccd530eb94e65ea7b7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map.cshtml">ISpritesetMap</a> PokemonEssentials.Interface.ISpritesetMap.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adfc8513371c810cdd49a72c9b6bee8ee" name="adfc8513371c810cdd49a72c9b6bee8ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adfc8513371c810cdd49a72c9b6bee8ee">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritesetMap.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a79f41c1741f4acb5f23e5cbc3528e4bb" name="a79f41c1741f4acb5f23e5cbc3528e4bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79f41c1741f4acb5f23e5cbc3528e4bb">&#9670;&#160;</a></span>map</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> PokemonEssentials.Interface.ISpritesetMap.map</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6e9dac87bbb0e88820d1c336d3b6ca7b" name="a6e9dac87bbb0e88820d1c336d3b6ca7b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e9dac87bbb0e88820d1c336d3b6ca7b">&#9670;&#160;</a></span>viewport1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.ISpritesetMap.viewport1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_spriteset_map_8cs.cshtml">ISpritesetMap.cs</a></li>
</ul>
