@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPlayerFadeAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">IPlayerFadeAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation Interface Reference</div></div>
}


<p>Shows the player (and partner) and the player party lineup sliding off screen. Shows the player's/partner's throwing animation (if they have one). Doesn't show the ball thrown or the Pok&eacute;mon.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab49ae887395a65a0958cef67bd2c1714"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">IPlayerFadeAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#ab49ae887395a65a0958cef67bd2c1714">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[] sprites)</td></tr>
<tr class="separator:ab49ae887395a65a0958cef67bd2c1714"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a155a711579ee42ace007ec7232285bb3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#a155a711579ee42ace007ec7232285bb3">update</a> ()</td></tr>
<tr class="separator:a155a711579ee42ace007ec7232285bb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a40b5f1cb3a29a54722c1c000e809a533"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#a40b5f1cb3a29a54722c1c000e809a533">animdone</a><code> [get]</code></td></tr>
<tr class="separator:a40b5f1cb3a29a54722c1c000e809a533"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Shows the player (and partner) and the player party lineup sliding off screen. Shows the player's/partner's throwing animation (if they have one). Doesn't show the ball thrown or the Pok&eacute;mon.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ab49ae887395a65a0958cef67bd2c1714" name="ab49ae887395a65a0958cef67bd2c1714"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab49ae887395a65a0958cef67bd2c1714">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">IPlayerFadeAnimation</a> PokemonEssentials.Interface.Screen.IPlayerFadeAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>[]&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a155a711579ee42ace007ec7232285bb3" name="a155a711579ee42ace007ec7232285bb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a155a711579ee42ace007ec7232285bb3">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPlayerFadeAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a40b5f1cb3a29a54722c1c000e809a533" name="a40b5f1cb3a29a54722c1c000e809a533"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40b5f1cb3a29a54722c1c000e809a533">&#9670;&#160;</a></span>animdone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPlayerFadeAnimation.animdone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>

