@{
	Page.Title = "PokemonEssentials.Interface.IGamePicture Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">IGamePicture</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePicture Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a395314a85386365da7f93437dfab6f8a"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a395314a85386365da7f93437dfab6f8a">update</a> ()</td></tr>
<tr class="memdesc:a395314a85386365da7f93437dfab6f8a"><td class="mdescLeft">&#160;</td><td class="mdescRight">If a flash or wave is not needed, it is not necessary to call this.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a395314a85386365da7f93437dfab6f8a">More...</a><br /></td></tr>
<tr class="separator:a395314a85386365da7f93437dfab6f8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97da1d6767f38350bed76042f4d7dab4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a97da1d6767f38350bed76042f4d7dab4">show</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#ab80e36dd7692b8d34d279f32c65742ef">name</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a12cbfc8fab151592798403f3e2e14e4f">origin</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a9df5681a2a6cfff3ee8994db369afc38">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a32866f0793de9267b12f57e37d8a11dc">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a59aaaa4b52649bb480eafbc32cb88bd9">zoom_x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a6c91b3ead27fe424af1112ae6b003bbb">zoom_y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a63d2da821461b9abe40a939865edca0b">opacity</a>, int? <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1f0d04fd0eba66386d6156b020702257">blend_type</a>)</td></tr>
<tr class="memdesc:a97da1d6767f38350bed76042f4d7dab4"><td class="mdescLeft">&#160;</td><td class="mdescRight">Show Picture   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a97da1d6767f38350bed76042f4d7dab4">More...</a><br /></td></tr>
<tr class="separator:a97da1d6767f38350bed76042f4d7dab4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf13aa5077f2d0899200cf4f31a13193"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#aaf13aa5077f2d0899200cf4f31a13193">move</a> (int duration, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a12cbfc8fab151592798403f3e2e14e4f">origin</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a9df5681a2a6cfff3ee8994db369afc38">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a32866f0793de9267b12f57e37d8a11dc">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a59aaaa4b52649bb480eafbc32cb88bd9">zoom_x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a6c91b3ead27fe424af1112ae6b003bbb">zoom_y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a63d2da821461b9abe40a939865edca0b">opacity</a>, int? <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1f0d04fd0eba66386d6156b020702257">blend_type</a>)</td></tr>
<tr class="memdesc:aaf13aa5077f2d0899200cf4f31a13193"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move Picture   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#aaf13aa5077f2d0899200cf4f31a13193">More...</a><br /></td></tr>
<tr class="separator:aaf13aa5077f2d0899200cf4f31a13193"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fd6e7fe3d831a2044bdd0d4ba0e0215"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a3fd6e7fe3d831a2044bdd0d4ba0e0215">rotate</a> (int speed)</td></tr>
<tr class="memdesc:a3fd6e7fe3d831a2044bdd0d4ba0e0215"><td class="mdescLeft">&#160;</td><td class="mdescRight">Change Rotation Speed   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a3fd6e7fe3d831a2044bdd0d4ba0e0215">More...</a><br /></td></tr>
<tr class="separator:a3fd6e7fe3d831a2044bdd0d4ba0e0215"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40ce6424b5f3168b5a724d9836c72e8f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a40ce6424b5f3168b5a724d9836c72e8f">start_tone_change</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1bc3e43d1e5e27669865483dea396671">tone</a>, float duration)</td></tr>
<tr class="memdesc:a40ce6424b5f3168b5a724d9836c72e8f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Start Change of Color Tone   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a40ce6424b5f3168b5a724d9836c72e8f">More...</a><br /></td></tr>
<tr class="separator:a40ce6424b5f3168b5a724d9836c72e8f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d2a2add14475d3ce9139159e73ba5e8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a7d2a2add14475d3ce9139159e73ba5e8">erase</a> ()</td></tr>
<tr class="memdesc:a7d2a2add14475d3ce9139159e73ba5e8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Erase Picture   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a7d2a2add14475d3ce9139159e73ba5e8">More...</a><br /></td></tr>
<tr class="separator:a7d2a2add14475d3ce9139159e73ba5e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a344e76becf5a2ed6f8283eabc666e917"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">IGamePicture</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a344e76becf5a2ed6f8283eabc666e917">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a383b4265de854a85c1f44317b454144e">number</a>)</td></tr>
<tr class="separator:a344e76becf5a2ed6f8283eabc666e917"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a383b4265de854a85c1f44317b454144e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a383b4265de854a85c1f44317b454144e">number</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a383b4265de854a85c1f44317b454144e"><td class="mdescLeft">&#160;</td><td class="mdescRight">picture number   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a383b4265de854a85c1f44317b454144e">More...</a><br /></td></tr>
<tr class="separator:a383b4265de854a85c1f44317b454144e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab80e36dd7692b8d34d279f32c65742ef"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#ab80e36dd7692b8d34d279f32c65742ef">name</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ab80e36dd7692b8d34d279f32c65742ef"><td class="mdescLeft">&#160;</td><td class="mdescRight">file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#ab80e36dd7692b8d34d279f32c65742ef">More...</a><br /></td></tr>
<tr class="separator:ab80e36dd7692b8d34d279f32c65742ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12cbfc8fab151592798403f3e2e14e4f"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a12cbfc8fab151592798403f3e2e14e4f">origin</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a12cbfc8fab151592798403f3e2e14e4f"><td class="mdescLeft">&#160;</td><td class="mdescRight">starting point   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a12cbfc8fab151592798403f3e2e14e4f">More...</a><br /></td></tr>
<tr class="separator:a12cbfc8fab151592798403f3e2e14e4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9df5681a2a6cfff3ee8994db369afc38"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a9df5681a2a6cfff3ee8994db369afc38">x</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a9df5681a2a6cfff3ee8994db369afc38"><td class="mdescLeft">&#160;</td><td class="mdescRight">The picture's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a9df5681a2a6cfff3ee8994db369afc38">More...</a><br /></td></tr>
<tr class="separator:a9df5681a2a6cfff3ee8994db369afc38"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32866f0793de9267b12f57e37d8a11dc"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a32866f0793de9267b12f57e37d8a11dc">y</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a32866f0793de9267b12f57e37d8a11dc"><td class="mdescLeft">&#160;</td><td class="mdescRight">The picture's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a32866f0793de9267b12f57e37d8a11dc">More...</a><br /></td></tr>
<tr class="separator:a32866f0793de9267b12f57e37d8a11dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a59aaaa4b52649bb480eafbc32cb88bd9"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a59aaaa4b52649bb480eafbc32cb88bd9">zoom_x</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a59aaaa4b52649bb480eafbc32cb88bd9"><td class="mdescLeft">&#160;</td><td class="mdescRight">The picture's X-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a59aaaa4b52649bb480eafbc32cb88bd9">More...</a><br /></td></tr>
<tr class="separator:a59aaaa4b52649bb480eafbc32cb88bd9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c91b3ead27fe424af1112ae6b003bbb"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a6c91b3ead27fe424af1112ae6b003bbb">zoom_y</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a6c91b3ead27fe424af1112ae6b003bbb"><td class="mdescLeft">&#160;</td><td class="mdescRight">The picture's Y-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a6c91b3ead27fe424af1112ae6b003bbb">More...</a><br /></td></tr>
<tr class="separator:a6c91b3ead27fe424af1112ae6b003bbb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63d2da821461b9abe40a939865edca0b"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a63d2da821461b9abe40a939865edca0b">opacity</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a63d2da821461b9abe40a939865edca0b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's opacity (0-255). Values out of range are automatically corrected.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a63d2da821461b9abe40a939865edca0b">More...</a><br /></td></tr>
<tr class="separator:a63d2da821461b9abe40a939865edca0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f0d04fd0eba66386d6156b020702257"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1f0d04fd0eba66386d6156b020702257">blend_type</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1f0d04fd0eba66386d6156b020702257"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's blending mode (0: normal, 1: addition, 2: subtraction).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1f0d04fd0eba66386d6156b020702257">More...</a><br /></td></tr>
<tr class="separator:a1f0d04fd0eba66386d6156b020702257"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bc3e43d1e5e27669865483dea396671"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1bc3e43d1e5e27669865483dea396671">tone</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1bc3e43d1e5e27669865483dea396671"><td class="mdescLeft">&#160;</td><td class="mdescRight">color tone   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a1bc3e43d1e5e27669865483dea396671">More...</a><br /></td></tr>
<tr class="separator:a1bc3e43d1e5e27669865483dea396671"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82849d07cfb651fc505bbe4e511acd5d"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a82849d07cfb651fc505bbe4e511acd5d">angle</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a82849d07cfb651fc505bbe4e511acd5d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's angle of rotation. Specifies up to 360 degrees of counterclockwise rotation.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml#a82849d07cfb651fc505bbe4e511acd5d">More...</a><br /></td></tr>
<tr class="separator:a82849d07cfb651fc505bbe4e511acd5d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7d2a2add14475d3ce9139159e73ba5e8" name="a7d2a2add14475d3ce9139159e73ba5e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d2a2add14475d3ce9139159e73ba5e8">&#9670;&#160;</a></span>erase()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePicture.erase </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Erase Picture  </p>

</div>
</div>
<a id="a344e76becf5a2ed6f8283eabc666e917" name="a344e76becf5a2ed6f8283eabc666e917"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a344e76becf5a2ed6f8283eabc666e917">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_picture.cshtml">IGamePicture</a> PokemonEssentials.Interface.IGamePicture.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>number</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaf13aa5077f2d0899200cf4f31a13193" name="aaf13aa5077f2d0899200cf4f31a13193"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf13aa5077f2d0899200cf4f31a13193">&#9670;&#160;</a></span>move()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePicture.move </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>origin</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>zoom_x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>zoom_y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opacity</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>blend_type</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Move Picture  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">duration</td><td>time</td></tr>
    <tr><td class="paramname">origin</td><td>starting point</td></tr>
    <tr><td class="paramname">x</td><td>x-coordinate</td></tr>
    <tr><td class="paramname">y</td><td>y-coordinate</td></tr>
    <tr><td class="paramname">zoom_x</td><td>x directional zoom rate</td></tr>
    <tr><td class="paramname">zoom_y</td><td>y directional zoom rate</td></tr>
    <tr><td class="paramname">opacity</td><td>opacity level</td></tr>
    <tr><td class="paramname">blend_type</td><td>blend method</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a3fd6e7fe3d831a2044bdd0d4ba0e0215" name="a3fd6e7fe3d831a2044bdd0d4ba0e0215"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fd6e7fe3d831a2044bdd0d4ba0e0215">&#9670;&#160;</a></span>rotate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePicture.rotate </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>speed</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Change Rotation Speed  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">speed</td><td>rotation speed</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a97da1d6767f38350bed76042f4d7dab4" name="a97da1d6767f38350bed76042f4d7dab4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97da1d6767f38350bed76042f4d7dab4">&#9670;&#160;</a></span>show()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePicture.show </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>origin</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>zoom_x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>zoom_y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opacity</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>blend_type</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Show Picture  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">name</td><td>file name</td></tr>
    <tr><td class="paramname">origin</td><td>starting point</td></tr>
    <tr><td class="paramname">x</td><td>x-coordinate</td></tr>
    <tr><td class="paramname">y</td><td>y-coordinate</td></tr>
    <tr><td class="paramname">zoom_x</td><td>x directional zoom rate</td></tr>
    <tr><td class="paramname">zoom_y</td><td>y directional zoom rate</td></tr>
    <tr><td class="paramname">opacity</td><td>opacity level</td></tr>
    <tr><td class="paramname">blend_type</td><td>blend method</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a40ce6424b5f3168b5a724d9836c72e8f" name="a40ce6424b5f3168b5a724d9836c72e8f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40ce6424b5f3168b5a724d9836c72e8f">&#9670;&#160;</a></span>start_tone_change()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePicture.start_tone_change </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td>
          <td class="paramname"><em>tone</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>duration</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Start Change of Color Tone  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">tone</td><td>color tone</td></tr>
    <tr><td class="paramname">duration</td><td>time</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a395314a85386365da7f93437dfab6f8a" name="a395314a85386365da7f93437dfab6f8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a395314a85386365da7f93437dfab6f8a">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IGamePicture.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>If a flash or wave is not needed, it is not necessary to call this.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a82849d07cfb651fc505bbe4e511acd5d" name="a82849d07cfb651fc505bbe4e511acd5d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82849d07cfb651fc505bbe4e511acd5d">&#9670;&#160;</a></span>angle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.angle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's angle of rotation. Specifies up to 360 degrees of counterclockwise rotation.  </p>

</div>
</div>
<a id="a1f0d04fd0eba66386d6156b020702257" name="a1f0d04fd0eba66386d6156b020702257"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f0d04fd0eba66386d6156b020702257">&#9670;&#160;</a></span>blend_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePicture.blend_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's blending mode (0: normal, 1: addition, 2: subtraction).  </p>

</div>
</div>
<a id="ab80e36dd7692b8d34d279f32c65742ef" name="ab80e36dd7692b8d34d279f32c65742ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab80e36dd7692b8d34d279f32c65742ef">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGamePicture.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>file name  </p>

</div>
</div>
<a id="a383b4265de854a85c1f44317b454144e" name="a383b4265de854a85c1f44317b454144e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a383b4265de854a85c1f44317b454144e">&#9670;&#160;</a></span>number</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePicture.number</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>picture number  </p>

</div>
</div>
<a id="a63d2da821461b9abe40a939865edca0b" name="a63d2da821461b9abe40a939865edca0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63d2da821461b9abe40a939865edca0b">&#9670;&#160;</a></span>opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's opacity (0-255). Values out of range are automatically corrected.  </p>

</div>
</div>
<a id="a12cbfc8fab151592798403f3e2e14e4f" name="a12cbfc8fab151592798403f3e2e14e4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12cbfc8fab151592798403f3e2e14e4f">&#9670;&#160;</a></span>origin</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.origin</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>starting point  </p>

</div>
</div>
<a id="a1bc3e43d1e5e27669865483dea396671" name="a1bc3e43d1e5e27669865483dea396671"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bc3e43d1e5e27669865483dea396671">&#9670;&#160;</a></span>tone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.IGamePicture.tone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>color tone  </p>

</div>
</div>
<a id="a9df5681a2a6cfff3ee8994db369afc38" name="a9df5681a2a6cfff3ee8994db369afc38"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9df5681a2a6cfff3ee8994db369afc38">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The picture's X-coordinate.  </p>

</div>
</div>
<a id="a32866f0793de9267b12f57e37d8a11dc" name="a32866f0793de9267b12f57e37d8a11dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32866f0793de9267b12f57e37d8a11dc">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The picture's Y-coordinate.  </p>

</div>
</div>
<a id="a59aaaa4b52649bb480eafbc32cb88bd9" name="a59aaaa4b52649bb480eafbc32cb88bd9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59aaaa4b52649bb480eafbc32cb88bd9">&#9670;&#160;</a></span>zoom_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.zoom_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The picture's X-axis zoom level. 1.0 denotes actual pixel size.  </p>

</div>
</div>
<a id="a6c91b3ead27fe424af1112ae6b003bbb" name="a6c91b3ead27fe424af1112ae6b003bbb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c91b3ead27fe424af1112ae6b003bbb">&#9670;&#160;</a></span>zoom_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGamePicture.zoom_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The picture's Y-axis zoom level. 1.0 denotes actual pixel size.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_picture_8cs.cshtml">IGamePicture.cs</a></li>
</ul>
