@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">IRegionMapData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IRegionMapData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#abfae1cad74da8b32fbcb0898f2438c32">FlyDestination</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a7fede61a089c9ac77d9aa60fb80653f3">Name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a76012871b2f6b625b55e81b927e94c88">PointOfInterest</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#aafa9b2f435349325a6e0d4d57baf1eb0">Position</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a062fce4305dd1287b0307bed6d7362ae">Switch</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">PokemonEssentials.Interface.Field.IRegionMapData</a></td><td class="entry"></td></tr>
</table>
