@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IWindow_CommandPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IWindow_CommandPokemon Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IWindow_CommandPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.png" usemap="#PokemonEssentials.Interface.IWindow_5FCommandPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.IWindow_5FCommandPokemon_map" name="PokemonEssentials.Interface.IWindow_5FCommandPokemon_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml" alt="PokemonEssentials.Interface.IWindow_DrawableCommand" shape="rect" coords="458,336,906,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_SelectableEx" shape="rect" coords="458,280,906,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_Selectable" shape="rect" coords="229,224,677,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml" alt="PokemonEssentials.Interface.IUpDownArrowMixin" shape="rect" coords="687,224,1135,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_Base" shape="rect" coords="229,168,677,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow" shape="rect" coords="229,112,677,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml" title="The game window class. Created internally from multiple sprites." alt="PokemonEssentials.Interface.IWindow" shape="rect" coords="229,56,677,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon_ex.cshtml" alt="PokemonEssentials.Interface.IWindow_CommandPokemonEx" shape="rect" coords="0,448,448,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___command_pokemon_white_arrow.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_CommandPokemonWhiteArrow" shape="rect" coords="458,448,906,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___dexes_list.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_DexesList" shape="rect" coords="916,448,1364,472"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a34582a767e42281506019dee92f1b9f7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a34582a767e42281506019dee92f1b9f7">initialize</a> (string[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#ae7766583ae1ea1f23101f3ab99f25417">commands</a>, float? <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">width</a>=null)</td></tr>
<tr class="separator:a34582a767e42281506019dee92f1b9f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aacad0b2bc4d90fea6331fa3ff2d418ad"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aacad0b2bc4d90fea6331fa3ff2d418ad">WithSize</a> (string[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#ae7766583ae1ea1f23101f3ab99f25417">commands</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#af59f04d93f2ec2f64013045726b2b582">height</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">viewport</a>=null)</td></tr>
<tr class="separator:aacad0b2bc4d90fea6331fa3ff2d418ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4971a9194fccdcbfab8a05c0f7d0f8c1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a4971a9194fccdcbfab8a05c0f7d0f8c1">Empty</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#af59f04d93f2ec2f64013045726b2b582">height</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">viewport</a>=null)</td></tr>
<tr class="separator:a4971a9194fccdcbfab8a05c0f7d0f8c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12caec4f73ee1214b0e137b99689cecf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a12caec4f73ee1214b0e137b99689cecf">resizeToFit</a> (string[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#ae7766583ae1ea1f23101f3ab99f25417">commands</a>, float? <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">width</a>=null)</td></tr>
<tr class="separator:a12caec4f73ee1214b0e137b99689cecf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19859863343600a4b9e56821635ea64c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a19859863343600a4b9e56821635ea64c">itemCount</a> ()</td></tr>
<tr class="separator:a19859863343600a4b9e56821635ea64c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99e2047360393bf0b02101a9bd0815a3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a99e2047360393bf0b02101a9bd0815a3">drawItem</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a435ce32fb69177e1002f3d1bf0d112ba">index</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a58ccb608330dffdc84a8eb87331ba339">count</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:a99e2047360393bf0b02101a9bd0815a3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml">PokemonEssentials.Interface.IWindow_DrawableCommand</a></td></tr>
<tr class="memitem:ae6d543f16922f169b602cab6d3fdafc8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#ae6d543f16922f169b602cab6d3fdafc8">textWidth</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, string text)</td></tr>
<tr class="separator:ae6d543f16922f169b602cab6d3fdafc8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2002f11b68da4f53d4e0506aee2b1e69 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a2002f11b68da4f53d4e0506aee2b1e69">getAutoDims</a> (string[] commands, ref int[] dims, float? <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>=null)</td></tr>
<tr class="separator:a2002f11b68da4f53d4e0506aee2b1e69 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a94eb630781a2ab6a201a73337e931b6c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a94eb630781a2ab6a201a73337e931b6c">initialize</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">viewport</a>=null)</td></tr>
<tr class="separator:a94eb630781a2ab6a201a73337e931b6c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38b61e098317b13c0d2adafb13561f2e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a38b61e098317b13c0d2adafb13561f2e">drawCursor</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af10ed75b53c648642835463216adb806">index</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:a38b61e098317b13c0d2adafb13561f2e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5841a97b6abf10b306b3840d0fd83913 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a5841a97b6abf10b306b3840d0fd83913">itemCount</a> ()</td></tr>
<tr class="separator:a5841a97b6abf10b306b3840d0fd83913 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2bdb3dd8360ad4f15d0e67c6bbef008 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#ae2bdb3dd8360ad4f15d0e67c6bbef008">drawItem</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af10ed75b53c648642835463216adb806">index</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a58ccb608330dffdc84a8eb87331ba339">count</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:ae2bdb3dd8360ad4f15d0e67c6bbef008 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a07c92f872493add65b8444cebe7ba387 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a07c92f872493add65b8444cebe7ba387">refresh</a> ()</td></tr>
<tr class="separator:a07c92f872493add65b8444cebe7ba387 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f2469af8629855d5f2829ba72d96f91 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a9f2469af8629855d5f2829ba72d96f91">update</a> ()</td></tr>
<tr class="separator:a9f2469af8629855d5f2829ba72d96f91 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml">PokemonEssentials.Interface.ISpriteWindow_Selectable</a></td></tr>
<tr class="memitem:a60d0a3e2aa294f575fbb6e5c3f754ddf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml">ISpriteWindow_Selectable</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a60d0a3e2aa294f575fbb6e5c3f754ddf">initialize</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a>)</td></tr>
<tr class="separator:a60d0a3e2aa294f575fbb6e5c3f754ddf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a798504a22aaac2af0d3149cc434c350e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a798504a22aaac2af0d3149cc434c350e">update_cursor_rect</a> ()</td></tr>
<tr class="separator:a798504a22aaac2af0d3149cc434c350e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b9e28a9b0657747a5a5dcf95ea04585 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a3b9e28a9b0657747a5a5dcf95ea04585">itemRect</a> (int item)</td></tr>
<tr class="separator:a3b9e28a9b0657747a5a5dcf95ea04585 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a81b78171fce7bf39b925cbaa4171238b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a81b78171fce7bf39b925cbaa4171238b">update</a> ()</td></tr>
<tr class="separator:a81b78171fce7bf39b925cbaa4171238b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8be854662d0e796806d57447b18cdc4e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a8be854662d0e796806d57447b18cdc4e">refresh</a> ()</td></tr>
<tr class="separator:a8be854662d0e796806d57447b18cdc4e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml">PokemonEssentials.Interface.ISpriteWindow_Base</a></td></tr>
<tr class="memitem:a916fe1b78f3eee9ef3f18775713a8d3c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml">ISpriteWindow_Base</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a916fe1b78f3eee9ef3f18775713a8d3c">initialize</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a>)</td></tr>
<tr class="separator:a916fe1b78f3eee9ef3f18775713a8d3c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a379e7fb978c50e437d174c480f86a347 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a379e7fb978c50e437d174c480f86a347">__setWindowskin</a> (int skin)</td></tr>
<tr class="separator:a379e7fb978c50e437d174c480f86a347 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac44b13b0da3056e6447bb862d1e1908a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#ac44b13b0da3056e6447bb862d1e1908a">__resolveSystemFrame</a> ()</td></tr>
<tr class="separator:ac44b13b0da3056e6447bb862d1e1908a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a945385f66b4847d4a414b5f6f8343484 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a945385f66b4847d4a414b5f6f8343484">setSkin</a> (int skin)</td></tr>
<tr class="separator:a945385f66b4847d4a414b5f6f8343484 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a64b8a48dc609670878203b7407654d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a9a64b8a48dc609670878203b7407654d">setSystemFrame</a> ()</td></tr>
<tr class="separator:a9a64b8a48dc609670878203b7407654d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b0d0a97cadadbee75b32d00957c9b29 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a7b0d0a97cadadbee75b32d00957c9b29">update</a> ()</td></tr>
<tr class="separator:a7b0d0a97cadadbee75b32d00957c9b29 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">PokemonEssentials.Interface.ISpriteWindow</a></td></tr>
<tr class="memitem:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">ISpriteWindow</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a4e015ce8f83cd5be108f0ac5835f9b43">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>=null)</td></tr>
<tr class="memdesc:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a Window object. Specifies a Viewport (Viewport) when necessary.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a4e015ce8f83cd5be108f0ac5835f9b43">More...</a><br /></td></tr>
<tr class="separator:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td></tr>
<tr class="memitem:a5b93fa43347b0555bb271a7c00667773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a5b93fa43347b0555bb271a7c00667773">update</a> ()</td></tr>
<tr class="separator:a5b93fa43347b0555bb271a7c00667773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6e374cef4e3d4c5b5c711b439532bd7 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#af6e374cef4e3d4c5b5c711b439532bd7">dispose</a> ()</td></tr>
<tr class="separator:af6e374cef4e3d4c5b5c711b439532bd7 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>)</td></tr>
<tr class="memdesc:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a Window object. Specifies a Viewport (Viewport) when necessary.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">More...</a><br /></td></tr>
<tr class="separator:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml">PokemonEssentials.Interface.IUpDownArrowMixin</a></td></tr>
<tr class="memitem:aa50c8750661226a1b69bd7cf93cc1019 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#aa50c8750661226a1b69bd7cf93cc1019">initUpDownArrow</a> ()</td></tr>
<tr class="separator:aa50c8750661226a1b69bd7cf93cc1019 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaec4828697c0bd759b7d8f7cecacc902 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#aaec4828697c0bd759b7d8f7cecacc902">dispose</a> ()</td></tr>
<tr class="separator:aaec4828697c0bd759b7d8f7cecacc902 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1e77d9512c862ae24c289e861ddf4ef inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#af1e77d9512c862ae24c289e861ddf4ef">adjustForZoom</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> sprite)</td></tr>
<tr class="separator:af1e77d9512c862ae24c289e861ddf4ef inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a19bad998c5eb351eb94ac086298276 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a0a19bad998c5eb351eb94ac086298276">update</a> ()</td></tr>
<tr class="separator:a0a19bad998c5eb351eb94ac086298276 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a19da9772bbe6da342c7cfaa49b39c02f"><td class="memItemLeft" align="right" valign="top">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a19da9772bbe6da342c7cfaa49b39c02f">color</a><code> [get, set]</code></td></tr>
<tr class="separator:a19da9772bbe6da342c7cfaa49b39c02f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7766583ae1ea1f23101f3ab99f25417"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#ae7766583ae1ea1f23101f3ab99f25417">commands</a><code> [get, set]</code></td></tr>
<tr class="separator:ae7766583ae1ea1f23101f3ab99f25417"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a435ce32fb69177e1002f3d1bf0d112ba"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a435ce32fb69177e1002f3d1bf0d112ba">index</a><code> [get, set]</code></td></tr>
<tr class="separator:a435ce32fb69177e1002f3d1bf0d112ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7414c97861081f30a5e0c055e991249"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aa7414c97861081f30a5e0c055e991249"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#aa7414c97861081f30a5e0c055e991249">More...</a><br /></td></tr>
<tr class="separator:aa7414c97861081f30a5e0c055e991249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af59f04d93f2ec2f64013045726b2b582"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#af59f04d93f2ec2f64013045726b2b582">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af59f04d93f2ec2f64013045726b2b582"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#af59f04d93f2ec2f64013045726b2b582">More...</a><br /></td></tr>
<tr class="separator:af59f04d93f2ec2f64013045726b2b582"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml">PokemonEssentials.Interface.IWindow_DrawableCommand</a></td></tr>
<tr class="memitem:af68b0446181119d695fed72923d5fde5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#af68b0446181119d695fed72923d5fde5">baseColor</a><code> [get, set]</code></td></tr>
<tr class="separator:af68b0446181119d695fed72923d5fde5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f738a4fec76cda8349519f1bedd8901 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a1f738a4fec76cda8349519f1bedd8901">shadowColor</a><code> [get, set]</code></td></tr>
<tr class="separator:a1f738a4fec76cda8349519f1bedd8901 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml">PokemonEssentials.Interface.ISpriteWindow_SelectableEx</a></td></tr>
<tr class="memitem:a74b0146be248780f8905c8a2a8a9cc66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex"><td class="memItemLeft" align="right" valign="top">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">viewport</a><code> [set]</code></td></tr>
<tr class="separator:a74b0146be248780f8905c8a2a8a9cc66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml">PokemonEssentials.Interface.ISpriteWindow_Selectable</a></td></tr>
<tr class="memitem:af10ed75b53c648642835463216adb806 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af10ed75b53c648642835463216adb806">index</a><code> [get, set]</code></td></tr>
<tr class="separator:af10ed75b53c648642835463216adb806 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a675d1216f84b4e2387bf3ed173593b46 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a675d1216f84b4e2387bf3ed173593b46">itemCount</a><code> [get]</code></td></tr>
<tr class="separator:a675d1216f84b4e2387bf3ed173593b46 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58ccb608330dffdc84a8eb87331ba339 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a58ccb608330dffdc84a8eb87331ba339">count</a><code> [get]</code></td></tr>
<tr class="separator:a58ccb608330dffdc84a8eb87331ba339 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a512b5d97d48904ad3850bc9ca045d266 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a512b5d97d48904ad3850bc9ca045d266">rowHeight</a><code> [get, set]</code></td></tr>
<tr class="separator:a512b5d97d48904ad3850bc9ca045d266 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18051568b42a5b81f10905aed9393929 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a18051568b42a5b81f10905aed9393929">columns</a><code> [get, set]</code></td></tr>
<tr class="separator:a18051568b42a5b81f10905aed9393929 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af77d31ce3b8a303ac519e966e413e383 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af77d31ce3b8a303ac519e966e413e383">columnSpacing</a><code> [get, set]</code></td></tr>
<tr class="separator:af77d31ce3b8a303ac519e966e413e383 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac3c0ba9a1ef14936873331e5b6b21ae6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#ac3c0ba9a1ef14936873331e5b6b21ae6">row_max</a><code> [get, set]</code></td></tr>
<tr class="separator:ac3c0ba9a1ef14936873331e5b6b21ae6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5aa511cfb7299a61d24261461339309 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af5aa511cfb7299a61d24261461339309">top_row</a><code> [get, set]</code></td></tr>
<tr class="separator:af5aa511cfb7299a61d24261461339309 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b81dc5d26b4adf966a3fe1659e2b4f0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#a3b81dc5d26b4adf966a3fe1659e2b4f0">top_item</a><code> [get, set]</code></td></tr>
<tr class="separator:a3b81dc5d26b4adf966a3fe1659e2b4f0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae3de661a3f460aeccdcc087b2a20e4c3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#ae3de661a3f460aeccdcc087b2a20e4c3">page_row_max</a><code> [get, set]</code></td></tr>
<tr class="separator:ae3de661a3f460aeccdcc087b2a20e4c3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af4eb12e3276af4b3d50270e3004a08f8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af4eb12e3276af4b3d50270e3004a08f8">page_item_max</a><code> [get, set]</code></td></tr>
<tr class="separator:af4eb12e3276af4b3d50270e3004a08f8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae16655995c19caccc98a9e92a5699e42 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#ae16655995c19caccc98a9e92a5699e42">ignore_input</a><code> [set]</code></td></tr>
<tr class="separator:ae16655995c19caccc98a9e92a5699e42 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">PokemonEssentials.Interface.ISpriteWindow</a></td></tr>
<tr class="memitem:a0c154b918d06d25abfadf08682eed1df inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a0c154b918d06d25abfadf08682eed1df">tone</a><code> [get, set]</code></td></tr>
<tr class="separator:a0c154b918d06d25abfadf08682eed1df inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73f1a4b950adedc05c24161942f74f44 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a73f1a4b950adedc05c24161942f74f44">contents</a><code> [get, set]</code></td></tr>
<tr class="separator:a73f1a4b950adedc05c24161942f74f44 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1931a70ee9c0a938a89111bbdcd4db05 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a1931a70ee9c0a938a89111bbdcd4db05">zoom_x</a><code> [get, set]</code></td></tr>
<tr class="separator:a1931a70ee9c0a938a89111bbdcd4db05 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e31c64889fe349528e05a7dd2a37228 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a5e31c64889fe349528e05a7dd2a37228">zoom_y</a><code> [get, set]</code></td></tr>
<tr class="separator:a5e31c64889fe349528e05a7dd2a37228 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af941739888bd58bad76f78f0cd33a344 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#af941739888bd58bad76f78f0cd33a344">offset_x</a><code> [get, set]</code></td></tr>
<tr class="separator:af941739888bd58bad76f78f0cd33a344 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab48bde9521538bce7e416dcd5e248e09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#ab48bde9521538bce7e416dcd5e248e09">offset_y</a><code> [get, set]</code></td></tr>
<tr class="separator:ab48bde9521538bce7e416dcd5e248e09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e224b6804df54cf01dbc9d02f146c36 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a5e224b6804df54cf01dbc9d02f146c36">cursor_rect</a><code> [get, set]</code></td></tr>
<tr class="separator:a5e224b6804df54cf01dbc9d02f146c36 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7160c9a6a96f98e47e652df41a84af66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a7160c9a6a96f98e47e652df41a84af66">contents_blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:a7160c9a6a96f98e47e652df41a84af66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc2632cdebd7470ab7d95fcb94d75983 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#abc2632cdebd7470ab7d95fcb94d75983">blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:abc2632cdebd7470ab7d95fcb94d75983 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_window')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td></tr>
<tr class="memitem:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">windowskin</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the bitmap (Bitmap) used as a windowskin.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">More...</a><br /></td></tr>
<tr class="separator:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the (Viewport) associated with the window.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">More...</a><br /></td></tr>
<tr class="separator:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">active</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The cursor box (Rect). Sets the window's upper left corner using relative coordinates (-16, -16).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">More...</a><br /></td></tr>
<tr class="separator:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The viewport's visibility. If TRUE, the viewport is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">More...</a><br /></td></tr>
<tr class="separator:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">pause</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The pause graphic's visibility. This is a symbol that appears in the message window when waiting for the player to press a button. If TRUE, the graphic is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">More...</a><br /></td></tr>
<tr class="separator:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">More...</a><br /></td></tr>
<tr class="separator:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">More...</a><br /></td></tr>
<tr class="separator:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">More...</a><br /></td></tr>
<tr class="separator:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">More...</a><br /></td></tr>
<tr class="separator:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">z</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Z-coordinate. The larger this value, the closer to the player the plane will be displayed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">More...</a><br /></td></tr>
<tr class="separator:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">More...</a><br /></td></tr>
<tr class="separator:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">More...</a><br /></td></tr>
<tr class="separator:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">More...</a><br /></td></tr>
<tr class="separator:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">back_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window background's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">More...</a><br /></td></tr>
<tr class="separator:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">contents_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The opacity of the window's contents (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">More...</a><br /></td></tr>
<tr class="separator:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">openness</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">By changing this value from 0 (completely closed) to 255 (completely open), it is possible to create an animation of the window opening and closing. If the openness is less than 255, the contents of the window will not be displayed. The default value is 255.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">More...</a><br /></td></tr>
<tr class="separator:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">More...</a><br /></td></tr>
<tr class="separator:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a722de601dac7c5131197dd26dfb4d2b0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a722de601dac7c5131197dd26dfb4d2b0">disposed</a><code> [get]</code></td></tr>
<tr class="separator:a722de601dac7c5131197dd26dfb4d2b0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml">PokemonEssentials.Interface.IUpDownArrowMixin</a></td></tr>
<tr class="memitem:a602d198f6c67f25d6323883cfba769ff inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a602d198f6c67f25d6323883cfba769ff">viewport</a><code> [set]</code></td></tr>
<tr class="separator:a602d198f6c67f25d6323883cfba769ff inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a520281bcc50e883f7044162c0ba8203a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a520281bcc50e883f7044162c0ba8203a">color</a><code> [set]</code></td></tr>
<tr class="separator:a520281bcc50e883f7044162c0ba8203a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a99e2047360393bf0b02101a9bd0815a3" name="a99e2047360393bf0b02101a9bd0815a3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99e2047360393bf0b02101a9bd0815a3">&#9670;&#160;</a></span>drawItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_CommandPokemon.drawItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>count</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#ae2bdb3dd8360ad4f15d0e67c6bbef008">PokemonEssentials.Interface.IWindow_DrawableCommand</a>.</p>

</div>
</div>
<a id="a4971a9194fccdcbfab8a05c0f7d0f8c1" name="a4971a9194fccdcbfab8a05c0f7d0f8c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4971a9194fccdcbfab8a05c0f7d0f8c1">&#9670;&#160;</a></span>Empty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a> PokemonEssentials.Interface.IWindow_CommandPokemon.Empty </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a34582a767e42281506019dee92f1b9f7" name="a34582a767e42281506019dee92f1b9f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34582a767e42281506019dee92f1b9f7">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a> PokemonEssentials.Interface.IWindow_CommandPokemon.initialize </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>width</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19859863343600a4b9e56821635ea64c" name="a19859863343600a4b9e56821635ea64c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19859863343600a4b9e56821635ea64c">&#9670;&#160;</a></span>itemCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_CommandPokemon.itemCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a5841a97b6abf10b306b3840d0fd83913">PokemonEssentials.Interface.IWindow_DrawableCommand</a>.</p>

</div>
</div>
<a id="a12caec4f73ee1214b0e137b99689cecf" name="a12caec4f73ee1214b0e137b99689cecf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12caec4f73ee1214b0e137b99689cecf">&#9670;&#160;</a></span>resizeToFit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_CommandPokemon.resizeToFit </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>width</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aacad0b2bc4d90fea6331fa3ff2d418ad" name="aacad0b2bc4d90fea6331fa3ff2d418ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aacad0b2bc4d90fea6331fa3ff2d418ad">&#9670;&#160;</a></span>WithSize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml">IWindow_CommandPokemon</a> PokemonEssentials.Interface.IWindow_CommandPokemon.WithSize </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a19da9772bbe6da342c7cfaa49b39c02f" name="a19da9772bbe6da342c7cfaa49b39c02f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19da9772bbe6da342c7cfaa49b39c02f">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IWindow_CommandPokemon.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a520281bcc50e883f7044162c0ba8203a">PokemonEssentials.Interface.IUpDownArrowMixin</a>.</p>

</div>
</div>
<a id="ae7766583ae1ea1f23101f3ab99f25417" name="ae7766583ae1ea1f23101f3ab99f25417"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7766583ae1ea1f23101f3ab99f25417">&#9670;&#160;</a></span>commands</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonEssentials.Interface.IWindow_CommandPokemon.commands</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af59f04d93f2ec2f64013045726b2b582" name="af59f04d93f2ec2f64013045726b2b582"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af59f04d93f2ec2f64013045726b2b582">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow_CommandPokemon.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's height.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">PokemonEssentials.Interface.IWindow</a>.</p>

</div>
</div>
<a id="a435ce32fb69177e1002f3d1bf0d112ba" name="a435ce32fb69177e1002f3d1bf0d112ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a435ce32fb69177e1002f3d1bf0d112ba">&#9670;&#160;</a></span>index</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_CommandPokemon.index</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable.cshtml#af10ed75b53c648642835463216adb806">PokemonEssentials.Interface.ISpriteWindow_Selectable</a>.</p>

</div>
</div>
<a id="aa7414c97861081f30a5e0c055e991249" name="aa7414c97861081f30a5e0c055e991249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7414c97861081f30a5e0c055e991249">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IWindow_CommandPokemon.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The window's width.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">PokemonEssentials.Interface.IWindow</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>
