@{
	Page.Title = "PokemonUnity.IPokemonScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml">IPokemonScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_screen.png" usemap="#PokemonUnity.IPokemonScreen_map" alt=""/>
  <map id="PokemonUnity.IPokemonScreen_map" name="PokemonUnity.IPokemonScreen_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,190,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af65487f45a7450300be5bb0f2eebca33"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml">IPokemonScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#af65487f45a7450300be5bb0f2eebca33">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen___scene.cshtml">IPokemonScreen_Scene</a> scene, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>[] party)</td></tr>
<tr class="separator:af65487f45a7450300be5bb0f2eebca33"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69d876e69624f2782511274c75f075ab"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a69d876e69624f2782511274c75f075ab">pbHardRefresh</a> ()</td></tr>
<tr class="separator:a69d876e69624f2782511274c75f075ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9d0fd35550876539b7b1bece1006654"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#af9d0fd35550876539b7b1bece1006654">pbRefresh</a> ()</td></tr>
<tr class="separator:af9d0fd35550876539b7b1bece1006654"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2661c43ceffe2e8c67408694802cf202"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a2661c43ceffe2e8c67408694802cf202">pbRefreshSingle</a> (int i)</td></tr>
<tr class="separator:a2661c43ceffe2e8c67408694802cf202"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afaa86de2147045f8d250ae8025d990ab"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#afaa86de2147045f8d250ae8025d990ab">pbDisplay</a> (string text)</td></tr>
<tr class="separator:afaa86de2147045f8d250ae8025d990ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae703163c14c512a687c9d33510420928"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ae703163c14c512a687c9d33510420928">pbConfirm</a> (string text)</td></tr>
<tr class="separator:ae703163c14c512a687c9d33510420928"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a42a533230212918082899d3385c8d1a2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a42a533230212918082899d3385c8d1a2">pbSwitch</a> (int oldid, int newid)</td></tr>
<tr class="separator:a42a533230212918082899d3385c8d1a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc38ad15e11bd7cb1b32f6f191694bc0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#acc38ad15e11bd7cb1b32f6f191694bc0">pbMailScreen</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn, int pkmnid)</td></tr>
<tr class="separator:acc38ad15e11bd7cb1b32f6f191694bc0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ce878e4bc4d990efa55fb5b0b466de5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a2ce878e4bc4d990efa55fb5b0b466de5">pbTakeMail</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn)</td></tr>
<tr class="separator:a2ce878e4bc4d990efa55fb5b0b466de5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6cffb7150eec6f5b37b7612de1b219bd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a6cffb7150eec6f5b37b7612de1b219bd">pbGiveMail</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn, int pkmnid=0)</td></tr>
<tr class="separator:a6cffb7150eec6f5b37b7612de1b219bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a110772707f3f0b441636f52d2d88f55a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a110772707f3f0b441636f52d2d88f55a">pbPokemonGiveScreen</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a110772707f3f0b441636f52d2d88f55a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3cf3a9570b72244d3fc6336f613fa13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ad3cf3a9570b72244d3fc6336f613fa13">pbPokemonGiveMailScreen</a> (int mailIndex)</td></tr>
<tr class="separator:ad3cf3a9570b72244d3fc6336f613fa13"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6f9a512422f7d0a624c53148c75a0bc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ab6f9a512422f7d0a624c53148c75a0bc">pbStartScene</a> (string helptext, bool doublebattle, string[] annotations=null)</td></tr>
<tr class="separator:ab6f9a512422f7d0a624c53148c75a0bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a138194b0e930a042daf208a763050469"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a138194b0e930a042daf208a763050469">pbChoosePokemon</a> (string helptext=null)</td></tr>
<tr class="separator:a138194b0e930a042daf208a763050469"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a505f27ca0631b97097cad002f6e27fb6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a505f27ca0631b97097cad002f6e27fb6">pbChooseMove</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon, string helptext)</td></tr>
<tr class="separator:a505f27ca0631b97097cad002f6e27fb6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5014f7712c5cbbaac24a5d4b25c257f6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a5014f7712c5cbbaac24a5d4b25c257f6">pbEndScene</a> ()</td></tr>
<tr class="separator:a5014f7712c5cbbaac24a5d4b25c257f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb28b9bd8ae43057dd5179b26fbc65d7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#afb28b9bd8ae43057dd5179b26fbc65d7">pbCheckSpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] array)</td></tr>
<tr class="memdesc:afb28b9bd8ae43057dd5179b26fbc65d7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks for identical species   <a href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#afb28b9bd8ae43057dd5179b26fbc65d7">More...</a><br /></td></tr>
<tr class="separator:afb28b9bd8ae43057dd5179b26fbc65d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5829fb9a651ba835963092e96e902bd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ad5829fb9a651ba835963092e96e902bd">pbCheckItems</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] array)</td></tr>
<tr class="memdesc:ad5829fb9a651ba835963092e96e902bd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks for identical held items   <a href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ad5829fb9a651ba835963092e96e902bd">More...</a><br /></td></tr>
<tr class="separator:ad5829fb9a651ba835963092e96e902bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76e81dcc4a580ec5496f871d98bfde9d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a76e81dcc4a580ec5496f871d98bfde9d">pbPokemonMultipleEntryScreenEx</a> (string[] ruleset)</td></tr>
<tr class="separator:a76e81dcc4a580ec5496f871d98bfde9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f69060801882fc00d0a751749e9639b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#a1f69060801882fc00d0a751749e9639b">pbChooseAblePokemon</a> (Func&lt;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>, bool &gt; ableProc, bool allowIneligible=false)</td></tr>
<tr class="separator:a1f69060801882fc00d0a751749e9639b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adacbd363bada2ed6272530be3924caf9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#adacbd363bada2ed6272530be3924caf9">pbRefreshAnnotations</a> (bool ableProc)</td></tr>
<tr class="separator:adacbd363bada2ed6272530be3924caf9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af45f841f622ff47435cbab65d5209720"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#af45f841f622ff47435cbab65d5209720">pbClearAnnotations</a> ()</td></tr>
<tr class="separator:af45f841f622ff47435cbab65d5209720"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2135995ac9894afb87393c203a23b45"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#aa2135995ac9894afb87393c203a23b45">pbPokemonDebug</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pkmn, int pkmnid)</td></tr>
<tr class="separator:aa2135995ac9894afb87393c203a23b45"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad96480dca56cdf88bf9a74c2cdc27fa6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml#ad96480dca56cdf88bf9a74c2cdc27fa6">pbPokemonScreen</a> ()</td></tr>
<tr class="separator:ad96480dca56cdf88bf9a74c2cdc27fa6"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af65487f45a7450300be5bb0f2eebca33" name="af65487f45a7450300be5bb0f2eebca33"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af65487f45a7450300be5bb0f2eebca33">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen.cshtml">IPokemonScreen</a> PokemonUnity.IPokemonScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_screen___scene.cshtml">IPokemonScreen_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad5829fb9a651ba835963092e96e902bd" name="ad5829fb9a651ba835963092e96e902bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5829fb9a651ba835963092e96e902bd">&#9670;&#160;</a></span>pbCheckItems()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbCheckItems </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>array</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks for identical held items  </p>

</div>
</div>
<a id="afb28b9bd8ae43057dd5179b26fbc65d7" name="afb28b9bd8ae43057dd5179b26fbc65d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb28b9bd8ae43057dd5179b26fbc65d7">&#9670;&#160;</a></span>pbCheckSpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbCheckSpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td>
          <td class="paramname"><em>array</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks for identical species  </p>

</div>
</div>
<a id="a1f69060801882fc00d0a751749e9639b" name="a1f69060801882fc00d0a751749e9639b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f69060801882fc00d0a751749e9639b">&#9670;&#160;</a></span>pbChooseAblePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IPokemonScreen.pbChooseAblePokemon </td>
          <td>(</td>
          <td class="paramtype">Func&lt;<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>, bool &gt;&#160;</td>
          <td class="paramname"><em>ableProc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>allowIneligible</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a505f27ca0631b97097cad002f6e27fb6" name="a505f27ca0631b97097cad002f6e27fb6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a505f27ca0631b97097cad002f6e27fb6">&#9670;&#160;</a></span>pbChooseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbChooseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a138194b0e930a042daf208a763050469" name="a138194b0e930a042daf208a763050469"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a138194b0e930a042daf208a763050469">&#9670;&#160;</a></span>pbChoosePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IPokemonScreen.pbChoosePokemon </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af45f841f622ff47435cbab65d5209720" name="af45f841f622ff47435cbab65d5209720"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af45f841f622ff47435cbab65d5209720">&#9670;&#160;</a></span>pbClearAnnotations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbClearAnnotations </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae703163c14c512a687c9d33510420928" name="ae703163c14c512a687c9d33510420928"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae703163c14c512a687c9d33510420928">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afaa86de2147045f8d250ae8025d990ab" name="afaa86de2147045f8d250ae8025d990ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afaa86de2147045f8d250ae8025d990ab">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5014f7712c5cbbaac24a5d4b25c257f6" name="a5014f7712c5cbbaac24a5d4b25c257f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5014f7712c5cbbaac24a5d4b25c257f6">&#9670;&#160;</a></span>pbEndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbEndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6cffb7150eec6f5b37b7612de1b219bd" name="a6cffb7150eec6f5b37b7612de1b219bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6cffb7150eec6f5b37b7612de1b219bd">&#9670;&#160;</a></span>pbGiveMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbGiveMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a69d876e69624f2782511274c75f075ab" name="a69d876e69624f2782511274c75f075ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69d876e69624f2782511274c75f075ab">&#9670;&#160;</a></span>pbHardRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbHardRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acc38ad15e11bd7cb1b32f6f191694bc0" name="acc38ad15e11bd7cb1b32f6f191694bc0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc38ad15e11bd7cb1b32f6f191694bc0">&#9670;&#160;</a></span>pbMailScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbMailScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2135995ac9894afb87393c203a23b45" name="aa2135995ac9894afb87393c203a23b45"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2135995ac9894afb87393c203a23b45">&#9670;&#160;</a></span>pbPokemonDebug()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbPokemonDebug </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnid</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3cf3a9570b72244d3fc6336f613fa13" name="ad3cf3a9570b72244d3fc6336f613fa13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3cf3a9570b72244d3fc6336f613fa13">&#9670;&#160;</a></span>pbPokemonGiveMailScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbPokemonGiveMailScreen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mailIndex</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a110772707f3f0b441636f52d2d88f55a" name="a110772707f3f0b441636f52d2d88f55a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a110772707f3f0b441636f52d2d88f55a">&#9670;&#160;</a></span>pbPokemonGiveScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbPokemonGiveScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a76e81dcc4a580ec5496f871d98bfde9d" name="a76e81dcc4a580ec5496f871d98bfde9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a76e81dcc4a580ec5496f871d98bfde9d">&#9670;&#160;</a></span>pbPokemonMultipleEntryScreenEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbPokemonMultipleEntryScreenEx </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>ruleset</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad96480dca56cdf88bf9a74c2cdc27fa6" name="ad96480dca56cdf88bf9a74c2cdc27fa6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad96480dca56cdf88bf9a74c2cdc27fa6">&#9670;&#160;</a></span>pbPokemonScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbPokemonScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af9d0fd35550876539b7b1bece1006654" name="af9d0fd35550876539b7b1bece1006654"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9d0fd35550876539b7b1bece1006654">&#9670;&#160;</a></span>pbRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adacbd363bada2ed6272530be3924caf9" name="adacbd363bada2ed6272530be3924caf9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adacbd363bada2ed6272530be3924caf9">&#9670;&#160;</a></span>pbRefreshAnnotations()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbRefreshAnnotations </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ableProc</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2661c43ceffe2e8c67408694802cf202" name="a2661c43ceffe2e8c67408694802cf202"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2661c43ceffe2e8c67408694802cf202">&#9670;&#160;</a></span>pbRefreshSingle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbRefreshSingle </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab6f9a512422f7d0a624c53148c75a0bc" name="ab6f9a512422f7d0a624c53148c75a0bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6f9a512422f7d0a624c53148c75a0bc">&#9670;&#160;</a></span>pbStartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbStartScene </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>annotations</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a42a533230212918082899d3385c8d1a2" name="a42a533230212918082899d3385c8d1a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a42a533230212918082899d3385c8d1a2">&#9670;&#160;</a></span>pbSwitch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbSwitch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>oldid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>newid</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ce878e4bc4d990efa55fb5b0b466de5" name="a2ce878e4bc4d990efa55fb5b0b466de5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ce878e4bc4d990efa55fb5b0b466de5">&#9670;&#160;</a></span>pbTakeMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonScreen.pbTakeMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
