@{
	Page.Title = "PokemonEssentials.Interface.IMoveData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">IMoveData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IMoveData Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7e3330ce1f5ad7ff1c784f8a555f4806"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">IMoveData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a7e3330ce1f5ad7ff1c784f8a555f4806">initialize</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveid)</td></tr>
<tr class="separator:a7e3330ce1f5ad7ff1c784f8a555f4806"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ada52944fa1167c14dae34ad419347b2f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">PokemonUnity.Attack.Data.Effects</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ada52944fa1167c14dae34ad419347b2f">Effect</a><code> [get]</code></td></tr>
<tr class="separator:ada52944fa1167c14dae34ad419347b2f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3dff2a6a89682c5e5282de122f27994"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ad3dff2a6a89682c5e5282de122f27994">basedamage</a><code> [get, set]</code></td></tr>
<tr class="separator:ad3dff2a6a89682c5e5282de122f27994"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a565689d58e02c43b49ac85a4512fdef0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a565689d58e02c43b49ac85a4512fdef0">type</a><code> [get, set]</code></td></tr>
<tr class="separator:a565689d58e02c43b49ac85a4512fdef0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f875edc70e622ffd76267a28d543515"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a9f875edc70e622ffd76267a28d543515">accuracy</a><code> [get, set]</code></td></tr>
<tr class="separator:a9f875edc70e622ffd76267a28d543515"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae5a7ea13241e0bc978d780dab6027581"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ae5a7ea13241e0bc978d780dab6027581">totalpp</a><code> [get, set]</code></td></tr>
<tr class="separator:ae5a7ea13241e0bc978d780dab6027581"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a914b0c0b59dff8023449f99637dc089e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a914b0c0b59dff8023449f99637dc089e">addlEffect</a><code> [get, set]</code></td></tr>
<tr class="separator:a914b0c0b59dff8023449f99637dc089e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac109da8209842710e561b79bb4bdf78e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">PokemonUnity.Attack.Data.Targets</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ac109da8209842710e561b79bb4bdf78e">target</a><code> [get, set]</code></td></tr>
<tr class="separator:ac109da8209842710e561b79bb4bdf78e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb37d2bd834f6673d2e3faed101a5603"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#acb37d2bd834f6673d2e3faed101a5603">priority</a><code> [get, set]</code></td></tr>
<tr class="separator:acb37d2bd834f6673d2e3faed101a5603"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d860c010f189e459204c537e0135b2f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml">PokemonUnity.Attack.Data.Flag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a6d860c010f189e459204c537e0135b2f">flags</a><code> [get, set]</code></td></tr>
<tr class="separator:a6d860c010f189e459204c537e0135b2f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e70b0481a450cb00e82329021f61836"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">PokemonUnity.Attack.Category</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a8e70b0481a450cb00e82329021f61836">category</a><code> [get, set]</code></td></tr>
<tr class="separator:a8e70b0481a450cb00e82329021f61836"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7e3330ce1f5ad7ff1c784f8a555f4806" name="a7e3330ce1f5ad7ff1c784f8a555f4806"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e3330ce1f5ad7ff1c784f8a555f4806">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">IMoveData</a> PokemonEssentials.Interface.IMoveData.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveid</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a9f875edc70e622ffd76267a28d543515" name="a9f875edc70e622ffd76267a28d543515"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f875edc70e622ffd76267a28d543515">&#9670;&#160;</a></span>accuracy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMoveData.accuracy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a914b0c0b59dff8023449f99637dc089e" name="a914b0c0b59dff8023449f99637dc089e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a914b0c0b59dff8023449f99637dc089e">&#9670;&#160;</a></span>addlEffect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMoveData.addlEffect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3dff2a6a89682c5e5282de122f27994" name="ad3dff2a6a89682c5e5282de122f27994"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3dff2a6a89682c5e5282de122f27994">&#9670;&#160;</a></span>basedamage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMoveData.basedamage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8e70b0481a450cb00e82329021f61836" name="a8e70b0481a450cb00e82329021f61836"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e70b0481a450cb00e82329021f61836">&#9670;&#160;</a></span>category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">PokemonUnity.Attack.Category</a> PokemonEssentials.Interface.IMoveData.category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ada52944fa1167c14dae34ad419347b2f" name="ada52944fa1167c14dae34ad419347b2f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ada52944fa1167c14dae34ad419347b2f">&#9670;&#160;</a></span>Effect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#a116a27acf56755e3c05306e090ca538f">PokemonUnity.Attack.Data.Effects</a> PokemonEssentials.Interface.IMoveData.Effect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6d860c010f189e459204c537e0135b2f" name="a6d860c010f189e459204c537e0135b2f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d860c010f189e459204c537e0135b2f">&#9670;&#160;</a></span>flags</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml">PokemonUnity.Attack.Data.Flag</a> PokemonEssentials.Interface.IMoveData.flags</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acb37d2bd834f6673d2e3faed101a5603" name="acb37d2bd834f6673d2e3faed101a5603"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb37d2bd834f6673d2e3faed101a5603">&#9670;&#160;</a></span>priority</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMoveData.priority</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac109da8209842710e561b79bb4bdf78e" name="ac109da8209842710e561b79bb4bdf78e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac109da8209842710e561b79bb4bdf78e">&#9670;&#160;</a></span>target</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">PokemonUnity.Attack.Data.Targets</a> PokemonEssentials.Interface.IMoveData.target</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae5a7ea13241e0bc978d780dab6027581" name="ae5a7ea13241e0bc978d780dab6027581"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae5a7ea13241e0bc978d780dab6027581">&#9670;&#160;</a></span>totalpp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IMoveData.totalpp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a565689d58e02c43b49ac85a4512fdef0" name="a565689d58e02c43b49ac85a4512fdef0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a565689d58e02c43b49ac85a4512fdef0">&#9670;&#160;</a></span>type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> PokemonEssentials.Interface.IMoveData.type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_move_8cs.cshtml">IMove.cs</a></li>
</ul>

