@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IWindow_AdvancedTextPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IWindow_AdvancedTextPokemon Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IWindow_AdvancedTextPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.png" usemap="#PokemonEssentials.Interface.IWindow_5FAdvancedTextPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.IWindow_5FAdvancedTextPokemon_map" name="PokemonEssentials.Interface.IWindow_5FAdvancedTextPokemon_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_Base" shape="rect" coords="0,168,363,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow" shape="rect" coords="0,112,363,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml" title="The game window class. Created internally from multiple sprites." alt="PokemonEssentials.Interface.IWindow" shape="rect" coords="0,56,363,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a43ce2abd23aa38832a7157974a60cfaf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a43ce2abd23aa38832a7157974a60cfaf">setText</a> (string value)</td></tr>
<tr class="separator:a43ce2abd23aa38832a7157974a60cfaf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49030452d6388e268c9aacd2d816a211"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a49030452d6388e268c9aacd2d816a211">resume</a> ()</td></tr>
<tr class="separator:a49030452d6388e268c9aacd2d816a211"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26f85a8a487d2fc6d15a0aba354a27ed"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a26f85a8a487d2fc6d15a0aba354a27ed">moveCursor</a> ()</td></tr>
<tr class="separator:a26f85a8a487d2fc6d15a0aba354a27ed"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a949628cf5a034e5c5bbbac14df840898"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a949628cf5a034e5c5bbbac14df840898">initialize</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>=&quot;&quot;)</td></tr>
<tr class="separator:a949628cf5a034e5c5bbbac14df840898"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a361a140c11731261a306324788a2b2a5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a361a140c11731261a306324788a2b2a5">WithSize</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>=null)</td></tr>
<tr class="separator:a361a140c11731261a306324788a2b2a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1a8aa774088af81444cdebbbee0af57"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#af1a8aa774088af81444cdebbbee0af57">resizeToFitInternal</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, int maxwidth)</td></tr>
<tr class="separator:af1a8aa774088af81444cdebbbee0af57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4de582c6594348684c19196fc8b4b05"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ab4de582c6594348684c19196fc8b4b05">resizeToFit2</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, int maxwidth, int maxheight)</td></tr>
<tr class="separator:ab4de582c6594348684c19196fc8b4b05"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acbd2bea3d915de8a46f60864d8cb0fe2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#acbd2bea3d915de8a46f60864d8cb0fe2">setTextToFit</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, int maxwidth=-1)</td></tr>
<tr class="separator:acbd2bea3d915de8a46f60864d8cb0fe2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae5c8f96a3f54ddf907e874067408251"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#aae5c8f96a3f54ddf907e874067408251">resizeToFit</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, int maxwidth=-1)</td></tr>
<tr class="separator:aae5c8f96a3f54ddf907e874067408251"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e5ddac99b5c7ceeff641675ceb52177"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4e5ddac99b5c7ceeff641675ceb52177">resizeHeightToFit</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>=-1)</td></tr>
<tr class="separator:a4e5ddac99b5c7ceeff641675ceb52177"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbaf554ae32f66140cb6b0ed5406339b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#afbaf554ae32f66140cb6b0ed5406339b">refresh</a> ()</td></tr>
<tr class="separator:afbaf554ae32f66140cb6b0ed5406339b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae9714761124ba991c4764a5c5804a48f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ae9714761124ba991c4764a5c5804a48f">maxPosition</a> ()</td></tr>
<tr class="separator:ae9714761124ba991c4764a5c5804a48f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a077591b8fc1afee117bdb71beb9c1890"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a077591b8fc1afee117bdb71beb9c1890">position</a> ()</td></tr>
<tr class="separator:a077591b8fc1afee117bdb71beb9c1890"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04fcd489c82c221e529ed0dfc63bbae4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a04fcd489c82c221e529ed0dfc63bbae4">redrawText</a> ()</td></tr>
<tr class="separator:a04fcd489c82c221e529ed0dfc63bbae4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5403dcafd067c117be7734714f7762a2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a5403dcafd067c117be7734714f7762a2">updateInternal</a> ()</td></tr>
<tr class="separator:a5403dcafd067c117be7734714f7762a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2448e20aeb6937e9757812e8637da95"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ae2448e20aeb6937e9757812e8637da95">update</a> ()</td></tr>
<tr class="separator:ae2448e20aeb6937e9757812e8637da95"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a944b9427b81048b70f0dc2ab6cec0b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a3a944b9427b81048b70f0dc2ab6cec0b">allocPause</a> ()</td></tr>
<tr class="separator:a3a944b9427b81048b70f0dc2ab6cec0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05ec0b7d1dae3efab08ea9bc646af792"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a05ec0b7d1dae3efab08ea9bc646af792">startPause</a> ()</td></tr>
<tr class="separator:a05ec0b7d1dae3efab08ea9bc646af792"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c8b1b5f9eed43ea8ddc6df34d16c638"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a5c8b1b5f9eed43ea8ddc6df34d16c638">stopPause</a> ()</td></tr>
<tr class="separator:a5c8b1b5f9eed43ea8ddc6df34d16c638"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml">PokemonEssentials.Interface.ISpriteWindow_Base</a></td></tr>
<tr class="memitem:a916fe1b78f3eee9ef3f18775713a8d3c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml">ISpriteWindow_Base</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a916fe1b78f3eee9ef3f18775713a8d3c">initialize</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a>)</td></tr>
<tr class="separator:a916fe1b78f3eee9ef3f18775713a8d3c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a379e7fb978c50e437d174c480f86a347 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a379e7fb978c50e437d174c480f86a347">__setWindowskin</a> (int skin)</td></tr>
<tr class="separator:a379e7fb978c50e437d174c480f86a347 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac44b13b0da3056e6447bb862d1e1908a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#ac44b13b0da3056e6447bb862d1e1908a">__resolveSystemFrame</a> ()</td></tr>
<tr class="separator:ac44b13b0da3056e6447bb862d1e1908a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a945385f66b4847d4a414b5f6f8343484 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a945385f66b4847d4a414b5f6f8343484">setSkin</a> (int skin)</td></tr>
<tr class="separator:a945385f66b4847d4a414b5f6f8343484 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a64b8a48dc609670878203b7407654d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a9a64b8a48dc609670878203b7407654d">setSystemFrame</a> ()</td></tr>
<tr class="separator:a9a64b8a48dc609670878203b7407654d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b0d0a97cadadbee75b32d00957c9b29 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a7b0d0a97cadadbee75b32d00957c9b29">update</a> ()</td></tr>
<tr class="separator:a7b0d0a97cadadbee75b32d00957c9b29 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">PokemonEssentials.Interface.ISpriteWindow</a></td></tr>
<tr class="memitem:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">ISpriteWindow</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a4e015ce8f83cd5be108f0ac5835f9b43">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>=null)</td></tr>
<tr class="memdesc:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a Window object. Specifies a Viewport (Viewport) when necessary.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a4e015ce8f83cd5be108f0ac5835f9b43">More...</a><br /></td></tr>
<tr class="separator:a4e015ce8f83cd5be108f0ac5835f9b43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td></tr>
<tr class="memitem:a5b93fa43347b0555bb271a7c00667773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a5b93fa43347b0555bb271a7c00667773">update</a> ()</td></tr>
<tr class="separator:a5b93fa43347b0555bb271a7c00667773 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6e374cef4e3d4c5b5c711b439532bd7 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#af6e374cef4e3d4c5b5c711b439532bd7">dispose</a> ()</td></tr>
<tr class="separator:af6e374cef4e3d4c5b5c711b439532bd7 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a>)</td></tr>
<tr class="memdesc:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creates a Window object. Specifies a Viewport (Viewport) when necessary.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a45347d2aa227ef0a8f02c5fd46ca9569">More...</a><br /></td></tr>
<tr class="separator:a45347d2aa227ef0a8f02c5fd46ca9569 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a4c11af7ad1e79c1b61a0a099577f4bc9"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a4c11af7ad1e79c1b61a0a099577f4bc9">text</a><code> [get, set]</code></td></tr>
<tr class="separator:a4c11af7ad1e79c1b61a0a099577f4bc9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad0e50ea6ef310cb7c7ab473d5b35630"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#aad0e50ea6ef310cb7c7ab473d5b35630">baseColor</a><code> [get, set]</code></td></tr>
<tr class="separator:aad0e50ea6ef310cb7c7ab473d5b35630"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a742afec5023df4384d5a26a94f04eaf7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a742afec5023df4384d5a26a94f04eaf7">shadowColor</a><code> [get, set]</code></td></tr>
<tr class="separator:a742afec5023df4384d5a26a94f04eaf7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2968d2f31d9d80ae15339604d141a8a8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a2968d2f31d9d80ae15339604d141a8a8">letterbyletter</a><code> [get, set]</code></td></tr>
<tr class="separator:a2968d2f31d9d80ae15339604d141a8a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8add1934c72138a6929e869d8dab2397"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a8add1934c72138a6929e869d8dab2397">lineHeight</a><code> [get, set]</code></td></tr>
<tr class="separator:a8add1934c72138a6929e869d8dab2397"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4ed4c0c8f7dc14c0262906930060f87"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ab4ed4c0c8f7dc14c0262906930060f87">textspeed</a><code> [get, set]</code></td></tr>
<tr class="separator:ab4ed4c0c8f7dc14c0262906930060f87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab0e5be4cad03e53abdd2226b2d75c991"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#ab0e5be4cad03e53abdd2226b2d75c991">waitcount</a><code> [get, set]</code></td></tr>
<tr class="separator:ab0e5be4cad03e53abdd2226b2d75c991"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfa13a46384615901e6db83c5b904d20"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#acfa13a46384615901e6db83c5b904d20">busy</a><code> [get]</code></td></tr>
<tr class="separator:acfa13a46384615901e6db83c5b904d20"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71ae268aceecd436c36880ce4d149e40"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#a71ae268aceecd436c36880ce4d149e40">pausing</a><code> [get]</code></td></tr>
<tr class="separator:a71ae268aceecd436c36880ce4d149e40"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef965dc49781618036aa230ec19696e5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml#aef965dc49781618036aa230ec19696e5">cursorMode</a><code> [get, set]</code></td></tr>
<tr class="separator:aef965dc49781618036aa230ec19696e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml">PokemonEssentials.Interface.ISpriteWindow</a></td></tr>
<tr class="memitem:a0c154b918d06d25abfadf08682eed1df inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a0c154b918d06d25abfadf08682eed1df">tone</a><code> [get, set]</code></td></tr>
<tr class="separator:a0c154b918d06d25abfadf08682eed1df inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73f1a4b950adedc05c24161942f74f44 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a73f1a4b950adedc05c24161942f74f44">contents</a><code> [get, set]</code></td></tr>
<tr class="separator:a73f1a4b950adedc05c24161942f74f44 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1931a70ee9c0a938a89111bbdcd4db05 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a1931a70ee9c0a938a89111bbdcd4db05">zoom_x</a><code> [get, set]</code></td></tr>
<tr class="separator:a1931a70ee9c0a938a89111bbdcd4db05 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e31c64889fe349528e05a7dd2a37228 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a5e31c64889fe349528e05a7dd2a37228">zoom_y</a><code> [get, set]</code></td></tr>
<tr class="separator:a5e31c64889fe349528e05a7dd2a37228 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af941739888bd58bad76f78f0cd33a344 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#af941739888bd58bad76f78f0cd33a344">offset_x</a><code> [get, set]</code></td></tr>
<tr class="separator:af941739888bd58bad76f78f0cd33a344 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab48bde9521538bce7e416dcd5e248e09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#ab48bde9521538bce7e416dcd5e248e09">offset_y</a><code> [get, set]</code></td></tr>
<tr class="separator:ab48bde9521538bce7e416dcd5e248e09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e224b6804df54cf01dbc9d02f146c36 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a5e224b6804df54cf01dbc9d02f146c36">cursor_rect</a><code> [get, set]</code></td></tr>
<tr class="separator:a5e224b6804df54cf01dbc9d02f146c36 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7160c9a6a96f98e47e652df41a84af66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#a7160c9a6a96f98e47e652df41a84af66">contents_blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:a7160c9a6a96f98e47e652df41a84af66 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc2632cdebd7470ab7d95fcb94d75983 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window.cshtml#abc2632cdebd7470ab7d95fcb94d75983">blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:abc2632cdebd7470ab7d95fcb94d75983 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_window')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">PokemonEssentials.Interface.IWindow</a></td></tr>
<tr class="memitem:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">windowskin</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the bitmap (Bitmap) used as a windowskin.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a423d3025cf93e49510935c767ef97d92">More...</a><br /></td></tr>
<tr class="separator:a423d3025cf93e49510935c767ef97d92 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the (Viewport) associated with the window.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a078b631fd88736bcf2584964a4c17f63">More...</a><br /></td></tr>
<tr class="separator:a078b631fd88736bcf2584964a4c17f63 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">active</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The cursor box (Rect). Sets the window's upper left corner using relative coordinates (-16, -16).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ac41f52747ca2171d6581fa011290daa4">More...</a><br /></td></tr>
<tr class="separator:ac41f52747ca2171d6581fa011290daa4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The viewport's visibility. If TRUE, the viewport is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a7716418b49bad2f5dacffde577ffd5d2">More...</a><br /></td></tr>
<tr class="separator:a7716418b49bad2f5dacffde577ffd5d2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">pause</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The pause graphic's visibility. This is a symbol that appears in the message window when waiting for the player to press a button. If TRUE, the graphic is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a21d56613233710262e74424f91bd8063">More...</a><br /></td></tr>
<tr class="separator:a21d56613233710262e74424f91bd8063 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#ae36cc081149dd10f52d98fd61fed9bae">More...</a><br /></td></tr>
<tr class="separator:ae36cc081149dd10f52d98fd61fed9bae inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a610ffd1e897bf268e608edc3cd4f8490">More...</a><br /></td></tr>
<tr class="separator:a610ffd1e897bf268e608edc3cd4f8490 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a4e9a510886136d10401264daf7f67d09">More...</a><br /></td></tr>
<tr class="separator:a4e9a510886136d10401264daf7f67d09 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a033f6167a4cc584126ebeeb2d4db580f">More...</a><br /></td></tr>
<tr class="separator:a033f6167a4cc584126ebeeb2d4db580f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">z</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's Z-coordinate. The larger this value, the closer to the player the plane will be displayed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a62e4f89b417d4ed064d241c0088a4691">More...</a><br /></td></tr>
<tr class="separator:a62e4f89b417d4ed064d241c0088a4691 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a934153a7daef857431e5341034ef32bd">More...</a><br /></td></tr>
<tr class="separator:a934153a7daef857431e5341034ef32bd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a03a488fcd36fcfc349df8be5e8ba377d">More...</a><br /></td></tr>
<tr class="separator:a03a488fcd36fcfc349df8be5e8ba377d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#aefef9ff3f7e9928b7082297e59792ed0">More...</a><br /></td></tr>
<tr class="separator:aefef9ff3f7e9928b7082297e59792ed0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">back_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The window background's opacity (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a8cc447a5d67c7356ef7e2c7f81d9787e">More...</a><br /></td></tr>
<tr class="separator:a8cc447a5d67c7356ef7e2c7f81d9787e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">contents_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The opacity of the window's contents (0-255).   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a27fe817a4084bfce1c98e1d56c8ac323">More...</a><br /></td></tr>
<tr class="separator:a27fe817a4084bfce1c98e1d56c8ac323 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">openness</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">By changing this value from 0 (completely closed) to 255 (completely open), it is possible to create an animation of the window opening and closing. If the openness is less than 255, the contents of the window will not be displayed. The default value is 255.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a3997d54a4cbfcabc0ed25b0c605fa702">More...</a><br /></td></tr>
<tr class="separator:a3997d54a4cbfcabc0ed25b0c605fa702 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a558ef8d06ca4d92dcdbf3a6aa596ba31">More...</a><br /></td></tr>
<tr class="separator:a558ef8d06ca4d92dcdbf3a6aa596ba31 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a722de601dac7c5131197dd26dfb4d2b0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml#a722de601dac7c5131197dd26dfb4d2b0">disposed</a><code> [get]</code></td></tr>
<tr class="separator:a722de601dac7c5131197dd26dfb4d2b0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_window"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a3a944b9427b81048b70f0dc2ab6cec0b" name="a3a944b9427b81048b70f0dc2ab6cec0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a944b9427b81048b70f0dc2ab6cec0b">&#9670;&#160;</a></span>allocPause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.allocPause </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a949628cf5a034e5c5bbbac14df840898" name="a949628cf5a034e5c5bbbac14df840898"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a949628cf5a034e5c5bbbac14df840898">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em> = <code>&quot;&quot;</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae9714761124ba991c4764a5c5804a48f" name="ae9714761124ba991c4764a5c5804a48f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae9714761124ba991c4764a5c5804a48f">&#9670;&#160;</a></span>maxPosition()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.maxPosition </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a26f85a8a487d2fc6d15a0aba354a27ed" name="a26f85a8a487d2fc6d15a0aba354a27ed"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26f85a8a487d2fc6d15a0aba354a27ed">&#9670;&#160;</a></span>moveCursor()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.moveCursor </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a077591b8fc1afee117bdb71beb9c1890" name="a077591b8fc1afee117bdb71beb9c1890"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a077591b8fc1afee117bdb71beb9c1890">&#9670;&#160;</a></span>position()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.position </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a04fcd489c82c221e529ed0dfc63bbae4" name="a04fcd489c82c221e529ed0dfc63bbae4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a04fcd489c82c221e529ed0dfc63bbae4">&#9670;&#160;</a></span>redrawText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.redrawText </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afbaf554ae32f66140cb6b0ed5406339b" name="afbaf554ae32f66140cb6b0ed5406339b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbaf554ae32f66140cb6b0ed5406339b">&#9670;&#160;</a></span>refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4e5ddac99b5c7ceeff641675ceb52177" name="a4e5ddac99b5c7ceeff641675ceb52177"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4e5ddac99b5c7ceeff641675ceb52177">&#9670;&#160;</a></span>resizeHeightToFit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.resizeHeightToFit </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em> = <code>-1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae5c8f96a3f54ddf907e874067408251" name="aae5c8f96a3f54ddf907e874067408251"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae5c8f96a3f54ddf907e874067408251">&#9670;&#160;</a></span>resizeToFit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.resizeToFit </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxwidth</em> = <code>-1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab4de582c6594348684c19196fc8b4b05" name="ab4de582c6594348684c19196fc8b4b05"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4de582c6594348684c19196fc8b4b05">&#9670;&#160;</a></span>resizeToFit2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.resizeToFit2 </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxwidth</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxheight</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af1a8aa774088af81444cdebbbee0af57" name="af1a8aa774088af81444cdebbbee0af57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1a8aa774088af81444cdebbbee0af57">&#9670;&#160;</a></span>resizeToFitInternal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.resizeToFitInternal </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxwidth</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a49030452d6388e268c9aacd2d816a211" name="a49030452d6388e268c9aacd2d816a211"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49030452d6388e268c9aacd2d816a211">&#9670;&#160;</a></span>resume()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.resume </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43ce2abd23aa38832a7157974a60cfaf" name="a43ce2abd23aa38832a7157974a60cfaf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43ce2abd23aa38832a7157974a60cfaf">&#9670;&#160;</a></span>setText()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.setText </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acbd2bea3d915de8a46f60864d8cb0fe2" name="acbd2bea3d915de8a46f60864d8cb0fe2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acbd2bea3d915de8a46f60864d8cb0fe2">&#9670;&#160;</a></span>setTextToFit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.setTextToFit </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxwidth</em> = <code>-1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a05ec0b7d1dae3efab08ea9bc646af792" name="a05ec0b7d1dae3efab08ea9bc646af792"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05ec0b7d1dae3efab08ea9bc646af792">&#9670;&#160;</a></span>startPause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.startPause </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5c8b1b5f9eed43ea8ddc6df34d16c638" name="a5c8b1b5f9eed43ea8ddc6df34d16c638"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c8b1b5f9eed43ea8ddc6df34d16c638">&#9670;&#160;</a></span>stopPause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.stopPause </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae2448e20aeb6937e9757812e8637da95" name="ae2448e20aeb6937e9757812e8637da95"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2448e20aeb6937e9757812e8637da95">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___base.cshtml#a7b0d0a97cadadbee75b32d00957c9b29">PokemonEssentials.Interface.ISpriteWindow_Base</a>.</p>

</div>
</div>
<a id="a5403dcafd067c117be7734714f7762a2" name="a5403dcafd067c117be7734714f7762a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5403dcafd067c117be7734714f7762a2">&#9670;&#160;</a></span>updateInternal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.updateInternal </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a361a140c11731261a306324788a2b2a5" name="a361a140c11731261a306324788a2b2a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a361a140c11731261a306324788a2b2a5">&#9670;&#160;</a></span>WithSize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_text_pokemon.cshtml">IWindow_AdvancedTextPokemon</a> PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.WithSize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aad0e50ea6ef310cb7c7ab473d5b35630" name="aad0e50ea6ef310cb7c7ab473d5b35630"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad0e50ea6ef310cb7c7ab473d5b35630">&#9670;&#160;</a></span>baseColor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.baseColor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acfa13a46384615901e6db83c5b904d20" name="acfa13a46384615901e6db83c5b904d20"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfa13a46384615901e6db83c5b904d20">&#9670;&#160;</a></span>busy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.busy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aef965dc49781618036aa230ec19696e5" name="aef965dc49781618036aa230ec19696e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef965dc49781618036aa230ec19696e5">&#9670;&#160;</a></span>cursorMode</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.cursorMode</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2968d2f31d9d80ae15339604d141a8a8" name="a2968d2f31d9d80ae15339604d141a8a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2968d2f31d9d80ae15339604d141a8a8">&#9670;&#160;</a></span>letterbyletter</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.letterbyletter</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8add1934c72138a6929e869d8dab2397" name="a8add1934c72138a6929e869d8dab2397"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8add1934c72138a6929e869d8dab2397">&#9670;&#160;</a></span>lineHeight</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.lineHeight</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71ae268aceecd436c36880ce4d149e40" name="a71ae268aceecd436c36880ce4d149e40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71ae268aceecd436c36880ce4d149e40">&#9670;&#160;</a></span>pausing</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.pausing</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a742afec5023df4384d5a26a94f04eaf7" name="a742afec5023df4384d5a26a94f04eaf7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a742afec5023df4384d5a26a94f04eaf7">&#9670;&#160;</a></span>shadowColor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.shadowColor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c11af7ad1e79c1b61a0a099577f4bc9" name="a4c11af7ad1e79c1b61a0a099577f4bc9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c11af7ad1e79c1b61a0a099577f4bc9">&#9670;&#160;</a></span>text</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.text</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab4ed4c0c8f7dc14c0262906930060f87" name="ab4ed4c0c8f7dc14c0262906930060f87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4ed4c0c8f7dc14c0262906930060f87">&#9670;&#160;</a></span>textspeed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.textspeed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab0e5be4cad03e53abdd2226b2d75c991" name="ab0e5be4cad03e53abdd2226b2d75c991"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab0e5be4cad03e53abdd2226b2d75c991">&#9670;&#160;</a></span>waitcount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IWindow_AdvancedTextPokemon.waitcount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
