@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonMenuScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml">IPokemonMenuScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonMenuScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonMenuScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonMenuScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonMenuScene_map" name="PokemonEssentials.Interface.Screen.IPokemonMenuScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,344,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,344,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a14a84a881b7ef8347318a88c6651b44f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a14a84a881b7ef8347318a88c6651b44f">EndScene</a> ()</td></tr>
<tr class="separator:a14a84a881b7ef8347318a88c6651b44f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3928578e8efcd6d1fce749df167689a9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a3928578e8efcd6d1fce749df167689a9">HideMenu</a> ()</td></tr>
<tr class="separator:a3928578e8efcd6d1fce749df167689a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad51fb83d276333d9a5c95f97a17330c8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#ad51fb83d276333d9a5c95f97a17330c8">ShowCommands</a> (string[] commands)</td></tr>
<tr class="separator:ad51fb83d276333d9a5c95f97a17330c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc3336f9cf7b4098c76b957a91617092"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#afc3336f9cf7b4098c76b957a91617092">ShowHelp</a> (string text)</td></tr>
<tr class="separator:afc3336f9cf7b4098c76b957a91617092"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a328cc1e7d2b98b2e4c45ea2e82cd30b8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a328cc1e7d2b98b2e4c45ea2e82cd30b8">ShowInfo</a> (string text)</td></tr>
<tr class="separator:a328cc1e7d2b98b2e4c45ea2e82cd30b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8755b524d392d66c85cc498588b3a3a3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a8755b524d392d66c85cc498588b3a3a3">ShowMenu</a> ()</td></tr>
<tr class="separator:a8755b524d392d66c85cc498588b3a3a3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7bd66673b33e8ed81541ec4d6f96bc1a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a7bd66673b33e8ed81541ec4d6f96bc1a">StartScene</a> ()</td></tr>
<tr class="separator:a7bd66673b33e8ed81541ec4d6f96bc1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a14a84a881b7ef8347318a88c6651b44f" name="a14a84a881b7ef8347318a88c6651b44f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a14a84a881b7ef8347318a88c6651b44f">&#9670;&#160;</a></span>EndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.EndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3928578e8efcd6d1fce749df167689a9" name="a3928578e8efcd6d1fce749df167689a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3928578e8efcd6d1fce749df167689a9">&#9670;&#160;</a></span>HideMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.HideMenu </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad51fb83d276333d9a5c95f97a17330c8" name="ad51fb83d276333d9a5c95f97a17330c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad51fb83d276333d9a5c95f97a17330c8">&#9670;&#160;</a></span>ShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.ShowCommands </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afc3336f9cf7b4098c76b957a91617092" name="afc3336f9cf7b4098c76b957a91617092"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc3336f9cf7b4098c76b957a91617092">&#9670;&#160;</a></span>ShowHelp()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.ShowHelp </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a328cc1e7d2b98b2e4c45ea2e82cd30b8" name="a328cc1e7d2b98b2e4c45ea2e82cd30b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a328cc1e7d2b98b2e4c45ea2e82cd30b8">&#9670;&#160;</a></span>ShowInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.ShowInfo </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8755b524d392d66c85cc498588b3a3a3" name="a8755b524d392d66c85cc498588b3a3a3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8755b524d392d66c85cc498588b3a3a3">&#9670;&#160;</a></span>ShowMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.ShowMenu </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7bd66673b33e8ed81541ec4d6f96bc1a" name="a7bd66673b33e8ed81541ec4d6f96bc1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7bd66673b33e8ed81541ec4d6f96bc1a">&#9670;&#160;</a></span>StartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.StartScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_pause_menu_8cs.cshtml">IPauseMenu.cs</a></li>
</ul>

