@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapConnection Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a6a9ae4c25af1f107d7726401c85f59f3">Edge1</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3a4a26f8eac227a4a27df5bf493a5f83">Edge2</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#aeaf4784a3b3ab0c153f8de78743a8f91">Id1</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#ab13bcb2b456a2b01a4fe706bf725d21c">Id2</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a3fc64ee083721037fe737523d2dfa62e">Offset1</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml#a411b815f6dcaedcdec55066a875acbb5">Offset2</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">PokemonEssentials.Interface.Field.IMapConnection</a></td><td class="entry"></td></tr>
</table>