@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">IFlowDiagram</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IFlowDiagram Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a33b99cd3c1dac59b40980c4001db276e">color</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a5c7462689fc358f7a68c05ef573d4c57">dispose</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#abb9c575e7ff33c2efbe04a714d84f047">ensurePoint</a>(int j)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a5cd4989fd753cfba35ac680ef1369fc8">initialize</a>(IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a79ddc0314de76666c79d553a03519f42">setFlowStrength</a>(int strength)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a44802c43985b80fd2684ec200571a6d6">setRange</a>(float angle1, float angle2)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#ac005c059dc7426bca2aa51c6b8c91e99">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#aa7099950ecd3216606a3d6949365ac51">visible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml#a821ddd1b882424bc5bfd5ee968595fc4">withinRange</a>(float angle, float startAngle, float endAngle)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_flow_diagram.cshtml">PokemonEssentials.Interface.Screen.IFlowDiagram</a></td><td class="entry"></td></tr>
</table>
