@{
	Page.Title = "PokemonUnity.IPokemonForm Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form.cshtml">IPokemonForm</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_form-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonForm Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonForm:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_form.png" usemap="#PokemonUnity.IPokemonForm_map" alt=""/>
  <map id="PokemonUnity.IPokemonForm_map" name="PokemonUnity.IPokemonForm_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,178,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a696071dda8bb5e47ceb2aac4e316615d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form.cshtml#a696071dda8bb5e47ceb2aac4e316615d">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">IPokemonFormScene</a> scene)</td></tr>
<tr class="separator:a696071dda8bb5e47ceb2aac4e316615d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb4b32985dc9c7aa402acad2fc9e78ae"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form.cshtml#adb4b32985dc9c7aa402acad2fc9e78ae">pbStartScreen</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int listlimits)</td></tr>
<tr class="separator:adb4b32985dc9c7aa402acad2fc9e78ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a696071dda8bb5e47ceb2aac4e316615d" name="a696071dda8bb5e47ceb2aac4e316615d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a696071dda8bb5e47ceb2aac4e316615d">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonForm.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml">IPokemonFormScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adb4b32985dc9c7aa402acad2fc9e78ae" name="adb4b32985dc9c7aa402acad2fc9e78ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb4b32985dc9c7aa402acad2fc9e78ae">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonForm.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>listlimits</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
