@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattlePlayerHelper Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_helper.cshtml">IBattlePlayerHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_helper-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePlayerHelper Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a33ff997e45e82547e268d29825fb671d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_helper.cshtml#a33ff997e45e82547e268d29825fb671d">GetOpponent</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a33ff997e45e82547e268d29825fb671d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8214ee889ad277ee52837598d7601f7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_helper.cshtml#ae8214ee889ad277ee52837598d7601f7">GetBattleBGM</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:ae8214ee889ad277ee52837598d7601f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf9a4bc353e180556177ef3140aee8c3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_helper.cshtml#abf9a4bc353e180556177ef3140aee8c3">CreateTrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer)</td></tr>
<tr class="separator:abf9a4bc353e180556177ef3140aee8c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abf9a4bc353e180556177ef3140aee8c3" name="abf9a4bc353e180556177ef3140aee8c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf9a4bc353e180556177ef3140aee8c3">&#9670;&#160;</a></span>CreateTrainerInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] PokemonEssentials.Interface.PokeBattle.IBattlePlayerHelper.CreateTrainerInfo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae8214ee889ad277ee52837598d7601f7" name="ae8214ee889ad277ee52837598d7601f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8214ee889ad277ee52837598d7601f7">&#9670;&#160;</a></span>GetBattleBGM()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.PokeBattle.IBattlePlayerHelper.GetBattleBGM </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a33ff997e45e82547e268d29825fb671d" name="a33ff997e45e82547e268d29825fb671d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33ff997e45e82547e268d29825fb671d">&#9670;&#160;</a></span>GetOpponent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] PokemonEssentials.Interface.PokeBattle.IBattlePlayerHelper.GetOpponent </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>

