@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">IMapInfo</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#ac6fc7415252e2af796492a269bcf9096">expanded</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a104066307ab93f895caf47f98c0be86c">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#aa3cbd0972482645100a9fa64f97431f9">order</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a900b0049ce2cabe34f0f5d6d64c73a73">parent_id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#acd206916bfb79785e7b0587616ffefe7">scroll_x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml#a60c654e589b5709a8636cf14ea6f46f3">scroll_y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_map_info.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.IMapInfo</a></td><td class="entry"></td></tr>
</table>