@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IBattleChallenge Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallenge Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleChallenge:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.png" usemap="#PokemonEssentials.Interface.Battle.IBattleChallenge_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleChallenge_map" name="PokemonEssentials.Interface.Battle.IBattleChallenge_map">
<area href="class_pokemon_unity_1_1_battle_challenge.cshtml" alt="PokemonUnity.BattleChallenge" shape="rect" coords="0,56,303,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac58ad51b9f187e9aea33fc729be948e4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac58ad51b9f187e9aea33fc729be948e4">initialize</a> ()</td></tr>
<tr class="separator:ac58ad51b9f187e9aea33fc729be948e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02a9c1707e93acc5ca9b8a5491f416d0">modeToRules</a> (bool doublebattle, int numPokemon, int battletype, int mode)</td></tr>
<tr class="separator:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a556e6398c25a5f12567748617c96631e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a556e6398c25a5f12567748617c96631e">set</a> (int id, int numrounds, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a>)</td></tr>
<tr class="separator:a556e6398c25a5f12567748617c96631e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4b109871b0e0e78ed155ed3459dc5a55">start</a> (params object[] args)</td></tr>
<tr class="separator:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02fe8722da8bd667b3c76eff521045c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02fe8722da8bd667b3c76eff521045c0">register</a> (int id, bool doublebattle, int numrounds, int numPokemon, int battletype, int mode=1)</td></tr>
<tr class="separator:a02fe8722da8bd667b3c76eff521045c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4c3f6d1c36f068c875f1de0c2d640816">getCurrentWins</a> (int challenge)</td></tr>
<tr class="separator:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a2dbc1d08cb66350d531044e8bc2db89b">getPreviousWins</a> (int challenge)</td></tr>
<tr class="separator:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a791d04361171ca1d4a8cfad151d03628"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a791d04361171ca1d4a8cfad151d03628">getMaxWins</a> (int challenge)</td></tr>
<tr class="separator:a791d04361171ca1d4a8cfad151d03628"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3db6ce62750cfed0660ed5ad6455022"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af3db6ce62750cfed0660ed5ad6455022">getCurrentSwaps</a> (int challenge)</td></tr>
<tr class="separator:af3db6ce62750cfed0660ed5ad6455022"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fd43597fb60d7c6268a5ed941d348de"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a5fd43597fb60d7c6268a5ed941d348de">getPreviousSwaps</a> (int challenge)</td></tr>
<tr class="separator:a5fd43597fb60d7c6268a5ed941d348de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70c0f526b80d2bea30d742b7a3292e63"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a70c0f526b80d2bea30d742b7a3292e63">getMaxSwaps</a> (int challenge)</td></tr>
<tr class="separator:a70c0f526b80d2bea30d742b7a3292e63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae19bce85dd1f9c9e37b84ad3bd5e2463"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae19bce85dd1f9c9e37b84ad3bd5e2463">Start</a> (int challenge)</td></tr>
<tr class="separator:ae19bce85dd1f9c9e37b84ad3bd5e2463"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40a41098dd9fb6f2032b7ec38b60bf67"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a40a41098dd9fb6f2032b7ec38b60bf67">End</a> ()</td></tr>
<tr class="separator:a40a41098dd9fb6f2032b7ec38b60bf67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ff94669f57478fc3812a7d501a98917"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8ff94669f57478fc3812a7d501a98917">Battle</a> ()</td></tr>
<tr class="separator:a8ff94669f57478fc3812a7d501a98917"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a697ab1dab7842364dd7439d47a2ebe6f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a697ab1dab7842364dd7439d47a2ebe6f">Resting</a> ()</td></tr>
<tr class="separator:a697ab1dab7842364dd7439d47a2ebe6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa00ee06b9a18fbc0f38be4ca9e52f342">setDecision</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> value)</td></tr>
<tr class="separator:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac76e7d760c2bd140b9326183a1f05f31"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac76e7d760c2bd140b9326183a1f05f31">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:ac76e7d760c2bd140b9326183a1f05f31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2bc5e96b870f14db3d69ee8c1ff4e82"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ab2bc5e96b870f14db3d69ee8c1ff4e82">GoOn</a> ()</td></tr>
<tr class="separator:ab2bc5e96b870f14db3d69ee8c1ff4e82"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6dc385389e1b7e4a12fafb06406b09a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a6dc385389e1b7e4a12fafb06406b09a6">AddWin</a> ()</td></tr>
<tr class="separator:a6dc385389e1b7e4a12fafb06406b09a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac00f99efe5b0e4684568e89d68842b90"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac00f99efe5b0e4684568e89d68842b90">Cancel</a> ()</td></tr>
<tr class="separator:ac00f99efe5b0e4684568e89d68842b90"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a723d724ea5f0aed2135a36ce07b57ba4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a723d724ea5f0aed2135a36ce07b57ba4">Rest</a> ()</td></tr>
<tr class="separator:a723d724ea5f0aed2135a36ce07b57ba4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a717f099e0aa90e2e2300bfe8975c2c01"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a717f099e0aa90e2e2300bfe8975c2c01">MatchOver</a> ()</td></tr>
<tr class="separator:a717f099e0aa90e2e2300bfe8975c2c01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a16de2e47dc7bd8f002731dbe538b35"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a9a16de2e47dc7bd8f002731dbe538b35">GoToStart</a> ()</td></tr>
<tr class="separator:a9a16de2e47dc7bd8f002731dbe538b35"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aac640f75778bb403bc165bd6094d9558"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aac640f75778bb403bc165bd6094d9558">currentChallenge</a><code> [get]</code></td></tr>
<tr class="separator:aac640f75778bb403bc165bd6094d9558"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a022e8e588950d8e44960d208ceda2b77"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a><code> [get]</code></td></tr>
<tr class="separator:a022e8e588950d8e44960d208ceda2b77"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c5ebd8f5e2684e36ecd2be9e07667ce"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a7c5ebd8f5e2684e36ecd2be9e07667ce">InChallenge</a><code> [get]</code></td></tr>
<tr class="separator:a7c5ebd8f5e2684e36ecd2be9e07667ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b32f36186bc602e973a82100b80ffb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a44b32f36186bc602e973a82100b80ffb">data</a><code> [get]</code></td></tr>
<tr class="separator:a44b32f36186bc602e973a82100b80ffb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bebdec7110ae793474704ba75dd633c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a1bebdec7110ae793474704ba75dd633c">InProgress</a><code> [get]</code></td></tr>
<tr class="separator:a1bebdec7110ae793474704ba75dd633c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8028146783fd42309ea6aeffba42f052"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8028146783fd42309ea6aeffba42f052">extra</a><code> [get]</code></td></tr>
<tr class="separator:a8028146783fd42309ea6aeffba42f052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af66fa76932d1cf88f7b361a9dbb8592f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af66fa76932d1cf88f7b361a9dbb8592f">decision</a><code> [get]</code></td></tr>
<tr class="separator:af66fa76932d1cf88f7b361a9dbb8592f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa9118a137c3f6dfeb328b4e9d9a299ca"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa9118a137c3f6dfeb328b4e9d9a299ca">wins</a><code> [get]</code></td></tr>
<tr class="separator:aa9118a137c3f6dfeb328b4e9d9a299ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ed351048a3da1f575df880e385348d4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4ed351048a3da1f575df880e385348d4">swaps</a><code> [get]</code></td></tr>
<tr class="separator:a4ed351048a3da1f575df880e385348d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae92fa3217c939ab9215584631f7344f1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae92fa3217c939ab9215584631f7344f1">battleNumber</a><code> [get]</code></td></tr>
<tr class="separator:ae92fa3217c939ab9215584631f7344f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add0079473fa01b1e2364ef8975a82891"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#add0079473fa01b1e2364ef8975a82891">nextTrainer</a><code> [get]</code></td></tr>
<tr class="separator:add0079473fa01b1e2364ef8975a82891"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6dc385389e1b7e4a12fafb06406b09a6" name="a6dc385389e1b7e4a12fafb06406b09a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6dc385389e1b7e4a12fafb06406b09a6">&#9670;&#160;</a></span>AddWin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.AddWin </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a1e980c415433a62016826d524ab5bb8c">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a8ff94669f57478fc3812a7d501a98917" name="a8ff94669f57478fc3812a7d501a98917"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ff94669f57478fc3812a7d501a98917">&#9670;&#160;</a></span>Battle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBattleChallenge.Battle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a244bcb5f6ec320aa003f481ecea40b52">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="ac00f99efe5b0e4684568e89d68842b90" name="ac00f99efe5b0e4684568e89d68842b90"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac00f99efe5b0e4684568e89d68842b90">&#9670;&#160;</a></span>Cancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.Cancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a17b2bdee4b93f9b53216bc618511411b">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a40a41098dd9fb6f2032b7ec38b60bf67" name="a40a41098dd9fb6f2032b7ec38b60bf67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40a41098dd9fb6f2032b7ec38b60bf67">&#9670;&#160;</a></span>End()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.End </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#adec98b193fea1cc5f8a93987d51b8181">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="af3db6ce62750cfed0660ed5ad6455022" name="af3db6ce62750cfed0660ed5ad6455022"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3db6ce62750cfed0660ed5ad6455022">&#9670;&#160;</a></span>getCurrentSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getCurrentSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a655275a1244f4d732397536980c8c60e">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a4c3f6d1c36f068c875f1de0c2d640816" name="a4c3f6d1c36f068c875f1de0c2d640816"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c3f6d1c36f068c875f1de0c2d640816">&#9670;&#160;</a></span>getCurrentWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getCurrentWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a53f9caacb4358a0ed5346acb1088f498">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a70c0f526b80d2bea30d742b7a3292e63" name="a70c0f526b80d2bea30d742b7a3292e63"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70c0f526b80d2bea30d742b7a3292e63">&#9670;&#160;</a></span>getMaxSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getMaxSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aee231ca7bba965250732c75dc086dd6f">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a791d04361171ca1d4a8cfad151d03628" name="a791d04361171ca1d4a8cfad151d03628"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a791d04361171ca1d4a8cfad151d03628">&#9670;&#160;</a></span>getMaxWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getMaxWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a14330f3ee4f3eb35f4d03d3e8fcc0846">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a5fd43597fb60d7c6268a5ed941d348de" name="a5fd43597fb60d7c6268a5ed941d348de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5fd43597fb60d7c6268a5ed941d348de">&#9670;&#160;</a></span>getPreviousSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getPreviousSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a79bd7125c568174c3b390ac68b4489f7">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a2dbc1d08cb66350d531044e8bc2db89b" name="a2dbc1d08cb66350d531044e8bc2db89b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2dbc1d08cb66350d531044e8bc2db89b">&#9670;&#160;</a></span>getPreviousWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getPreviousWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ac8ee29a08e9967716001f6a06d8ee17a">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="ab2bc5e96b870f14db3d69ee8c1ff4e82" name="ab2bc5e96b870f14db3d69ee8c1ff4e82"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2bc5e96b870f14db3d69ee8c1ff4e82">&#9670;&#160;</a></span>GoOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.GoOn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#adaa61a17131b508506fdcbb14bdfb3c2">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a9a16de2e47dc7bd8f002731dbe538b35" name="a9a16de2e47dc7bd8f002731dbe538b35"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a16de2e47dc7bd8f002731dbe538b35">&#9670;&#160;</a></span>GoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.GoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a78ef764004f8fece494a3b4945c6c6a9">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="ac58ad51b9f187e9aea33fc729be948e4" name="ac58ad51b9f187e9aea33fc729be948e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac58ad51b9f187e9aea33fc729be948e4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> PokemonEssentials.Interface.Battle.IBattleChallenge.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aee4bbf0fc777ab4470e72449dc872a67">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a717f099e0aa90e2e2300bfe8975c2c01" name="a717f099e0aa90e2e2300bfe8975c2c01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a717f099e0aa90e2e2300bfe8975c2c01">&#9670;&#160;</a></span>MatchOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.MatchOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7fcd21158a08cb5b094b5333a64ca190">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a02a9c1707e93acc5ca9b8a5491f416d0" name="a02a9c1707e93acc5ca9b8a5491f416d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02a9c1707e93acc5ca9b8a5491f416d0">&#9670;&#160;</a></span>modeToRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IBattleChallenge.modeToRules </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">doublebattle</td><td></td></tr>
    <tr><td class="paramname">numPokemon</td><td></td></tr>
    <tr><td class="paramname">battletype</td><td>0=&gt;BattleTower; 1=&gt;BattlePalace; 2=&gt;BattleArena; 3=&gt;BattleFactory</td></tr>
    <tr><td class="paramname">mode</td><td>1=&gt;Open Level; 2=&gt;<a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> Tent</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a162eda188dcd6140da8062e76088e8d4">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a02fe8722da8bd667b3c76eff521045c0" name="a02fe8722da8bd667b3c76eff521045c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02fe8722da8bd667b3c76eff521045c0">&#9670;&#160;</a></span>register()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.register </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a9b2e6c5849049541e4eb77deacfc97a8">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a723d724ea5f0aed2135a36ce07b57ba4" name="a723d724ea5f0aed2135a36ce07b57ba4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a723d724ea5f0aed2135a36ce07b57ba4">&#9670;&#160;</a></span>Rest()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.Rest </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a6a15791fdbdcc311cd8357e3faadbaab">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a697ab1dab7842364dd7439d47a2ebe6f" name="a697ab1dab7842364dd7439d47a2ebe6f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a697ab1dab7842364dd7439d47a2ebe6f">&#9670;&#160;</a></span>Resting()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.Resting </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7b6763118d3c97776271844462bb0b57">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a556e6398c25a5f12567748617c96631e" name="a556e6398c25a5f12567748617c96631e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a556e6398c25a5f12567748617c96631e">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.set </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ab6ac83b52d9bd0e1064c840498afda4c">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="aa00ee06b9a18fbc0f38be4ca9e52f342" name="aa00ee06b9a18fbc0f38be4ca9e52f342"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa00ee06b9a18fbc0f38be4ca9e52f342">&#9670;&#160;</a></span>setDecision()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.setDecision </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a7b2c768b5621ae9e27040ae77b5904ad">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="ac76e7d760c2bd140b9326183a1f05f31" name="ac76e7d760c2bd140b9326183a1f05f31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac76e7d760c2bd140b9326183a1f05f31">&#9670;&#160;</a></span>setParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.setParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a8539953bcec89aaa65e79b4afe3b390d">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="ae19bce85dd1f9c9e37b84ad3bd5e2463" name="ae19bce85dd1f9c9e37b84ad3bd5e2463"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae19bce85dd1f9c9e37b84ad3bd5e2463">&#9670;&#160;</a></span>Start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.Start </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a5b3ba6202ca0d3c4d8c5c1df877cc72d">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a4b109871b0e0e78ed155ed3459dc5a55" name="a4b109871b0e0e78ed155ed3459dc5a55"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b109871b0e0e78ed155ed3459dc5a55">&#9670;&#160;</a></span>start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.start </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>args</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a8ca57698b20926ddee4aade6aebfb7e3">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae92fa3217c939ab9215584631f7344f1" name="ae92fa3217c939ab9215584631f7344f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae92fa3217c939ab9215584631f7344f1">&#9670;&#160;</a></span>battleNumber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.battleNumber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a45460356c5d5bc36a4d247a65570d4ec">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="aac640f75778bb403bc165bd6094d9558" name="aac640f75778bb403bc165bd6094d9558"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac640f75778bb403bc165bd6094d9558">&#9670;&#160;</a></span>currentChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.currentChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a82b96dab10e075ebc4423eb912ee66f2">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a44b32f36186bc602e973a82100b80ffb" name="a44b32f36186bc602e973a82100b80ffb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44b32f36186bc602e973a82100b80ffb">&#9670;&#160;</a></span>data</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> PokemonEssentials.Interface.Battle.IBattleChallenge.data</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aefd64abda09bf408b250beddc64cb907">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="af66fa76932d1cf88f7b361a9dbb8592f" name="af66fa76932d1cf88f7b361a9dbb8592f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af66fa76932d1cf88f7b361a9dbb8592f">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBattleChallenge.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a391f33ca1ecf2511df0b726d0a898e9a">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a8028146783fd42309ea6aeffba42f052" name="a8028146783fd42309ea6aeffba42f052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8028146783fd42309ea6aeffba42f052">&#9670;&#160;</a></span>extra</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> PokemonEssentials.Interface.Battle.IBattleChallenge.extra</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#ad965cb011b89f2704c57182205256d31">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a7c5ebd8f5e2684e36ecd2be9e07667ce" name="a7c5ebd8f5e2684e36ecd2be9e07667ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c5ebd8f5e2684e36ecd2be9e07667ce">&#9670;&#160;</a></span>InChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.InChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a5dda364efb778bccd56cc6466ac7561d">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a1bebdec7110ae793474704ba75dd633c" name="a1bebdec7110ae793474704ba75dd633c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bebdec7110ae793474704ba75dd633c">&#9670;&#160;</a></span>InProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.InProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#abbbcc8dbf82b3a499fb9ea85f0efb358">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="add0079473fa01b1e2364ef8975a82891" name="add0079473fa01b1e2364ef8975a82891"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add0079473fa01b1e2364ef8975a82891">&#9670;&#160;</a></span>nextTrainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.nextTrainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a93ea8bed9c6fce0f383e24c773f97a5c">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a022e8e588950d8e44960d208ceda2b77" name="a022e8e588950d8e44960d208ceda2b77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a022e8e588950d8e44960d208ceda2b77">&#9670;&#160;</a></span>rules</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IBattleChallenge.rules</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#aebcdbab8b8bb8362de451a073fe0eff7">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="a4ed351048a3da1f575df880e385348d4" name="a4ed351048a3da1f575df880e385348d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ed351048a3da1f575df880e385348d4">&#9670;&#160;</a></span>swaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.swaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#a08b63a0ef26b44f7c911ad5726bc618f">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<a id="aa9118a137c3f6dfeb328b4e9d9a299ca" name="aa9118a137c3f6dfeb328b4e9d9a299ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa9118a137c3f6dfeb328b4e9d9a299ca">&#9670;&#160;</a></span>wins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.wins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge.cshtml#abf78675b5f8707164d29d6fcf758e95c">PokemonUnity.BattleChallenge</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>

