@{
	Page.Title = "PokemonEssentials.Interface.Field.IRegionMapMetadata Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml">IRegionMapMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IRegionMapMetadata Interface Reference</div></div>
}


<p>The size and shape of this map in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> squares. Maps with this metadata calculate the relative position of the player on that map, and show the player's head icon in the appropriate place depending on this position.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a38446495d585277aa79a4ab2cb624910"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml#a38446495d585277aa79a4ab2cb624910">Width</a><code> [get]</code></td></tr>
<tr class="memdesc:a38446495d585277aa79a4ab2cb624910"><td class="mdescLeft">&#160;</td><td class="mdescRight">The width of the map, in squares. This can be 1.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml#a38446495d585277aa79a4ab2cb624910">More...</a><br /></td></tr>
<tr class="separator:a38446495d585277aa79a4ab2cb624910"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a351f614db90b03cae031a182cca1f52f"><td class="memItemLeft" align="right" valign="top">bool[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml#a351f614db90b03cae031a182cca1f52f">Shape</a><code> [get]</code></td></tr>
<tr class="memdesc:a351f614db90b03cae031a182cca1f52f"><td class="mdescLeft">&#160;</td><td class="mdescRight">An array of 1s and 0s, which describe the shape of the map. Can use a utility to convert from bool[] to bool[,]   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml#a351f614db90b03cae031a182cca1f52f">More...</a><br /></td></tr>
<tr class="separator:a351f614db90b03cae031a182cca1f52f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The size and shape of this map in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> squares. Maps with this metadata calculate the relative position of the player on that map, and show the player's head icon in the appropriate place depending on this position.  </p>
<p >For example, if the width of the map is 2, and the layout is "1011", then the map is a 2x2 L-shaped map with the gap in the top right corner. </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a351f614db90b03cae031a182cca1f52f" name="a351f614db90b03cae031a182cca1f52f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a351f614db90b03cae031a182cca1f52f">&#9670;&#160;</a></span>Shape</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool [] PokemonEssentials.Interface.Field.IRegionMapMetadata.Shape</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>An array of 1s and 0s, which describe the shape of the map. Can use a utility to convert from bool[] to bool[,]  </p>
<p >It is more easily visualised by breaking it up into chunks with "width" number of digits each; each successive chunk comes underneath the previous chunk. A 1 represents a square that is part of the map, and a 0 represents a square that isn't. </p>

</div>
</div>
<a id="a38446495d585277aa79a4ab2cb624910" name="a38446495d585277aa79a4ab2cb624910"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38446495d585277aa79a4ab2cb624910">&#9670;&#160;</a></span>Width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IRegionMapMetadata.Width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The width of the map, in squares. This can be 1.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_data_8cs.cshtml">IMapData.cs</a></li>
</ul>
