@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt; Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#abbe82a28acc079051133cb03c94c5f9a">CommandPhaseCore</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab91fbd8a5f7fcde14aa9f4c33ee24bdd">DisplayPaused</a>(string str)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a12d8a57c8cec9a492d3f2f978467c341">initialize</a>(PokemonEssentials.Interface.Screen.IPokeBattle_Scene scene, IBattle battle)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a86982baff69e96779c413a6540110076">Random</a>(int num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a06df41388ba9ede75278fbb36fac867f">StartBattle</a>(bool canlose=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab046928264f5fa414f554b45763a0d50">SwitchInBetween</a>(int i1, int i2, bool i3)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
</table>
