@{
	Page.Title = "PokemonEssentials.Interface.IUpDownArrowMixin Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml">IUpDownArrowMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IUpDownArrowMixin Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IUpDownArrowMixin:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.png" usemap="#PokemonEssentials.Interface.IUpDownArrowMixin_map" alt=""/>
  <map id="PokemonEssentials.Interface.IUpDownArrowMixin_map" name="PokemonEssentials.Interface.IUpDownArrowMixin_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml" alt="PokemonEssentials.Interface.ISpriteWindow_SelectableEx" shape="rect" coords="1374,56,1822,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml" alt="PokemonEssentials.Interface.IWindow_DrawableCommand" shape="rect" coords="1374,112,1822,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_AdvancedCommandPokemon" shape="rect" coords="0,168,448,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml" alt="PokemonEssentials.Interface.IWindow_CommandPokemon" shape="rect" coords="916,168,1364,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___complex_command_pokemon.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_ComplexCommandPokemon" shape="rect" coords="1374,168,1822,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokedex.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_Pokedex" shape="rect" coords="1832,168,2280,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_bag.cshtml" title="UI Elements for the Bag screen" alt="PokemonEssentials.Interface.Screen.IWindow_PokemonBag" shape="rect" coords="2290,168,2738,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___advanced_command_pokemon_ex.cshtml" alt="PokemonEssentials.Interface.IWindow_AdvancedCommandPokemonEx" shape="rect" coords="0,224,448,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon_ex.cshtml" alt="PokemonEssentials.Interface.IWindow_CommandPokemonEx" shape="rect" coords="458,224,906,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___command_pokemon_white_arrow.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_CommandPokemonWhiteArrow" shape="rect" coords="916,224,1364,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___dexes_list.cshtml" alt="PokemonEssentials.Interface.Screen.IWindow_DexesList" shape="rect" coords="1374,224,1822,248"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa50c8750661226a1b69bd7cf93cc1019"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#aa50c8750661226a1b69bd7cf93cc1019">initUpDownArrow</a> ()</td></tr>
<tr class="separator:aa50c8750661226a1b69bd7cf93cc1019"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaec4828697c0bd759b7d8f7cecacc902"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#aaec4828697c0bd759b7d8f7cecacc902">dispose</a> ()</td></tr>
<tr class="separator:aaec4828697c0bd759b7d8f7cecacc902"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1e77d9512c862ae24c289e861ddf4ef"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#af1e77d9512c862ae24c289e861ddf4ef">adjustForZoom</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> sprite)</td></tr>
<tr class="separator:af1e77d9512c862ae24c289e861ddf4ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a19bad998c5eb351eb94ac086298276"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a0a19bad998c5eb351eb94ac086298276">update</a> ()</td></tr>
<tr class="separator:a0a19bad998c5eb351eb94ac086298276"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a602d198f6c67f25d6323883cfba769ff"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a602d198f6c67f25d6323883cfba769ff">viewport</a><code> [set]</code></td></tr>
<tr class="separator:a602d198f6c67f25d6323883cfba769ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a520281bcc50e883f7044162c0ba8203a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_up_down_arrow_mixin.cshtml#a520281bcc50e883f7044162c0ba8203a">color</a><code> [set]</code></td></tr>
<tr class="separator:a520281bcc50e883f7044162c0ba8203a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af1e77d9512c862ae24c289e861ddf4ef" name="af1e77d9512c862ae24c289e861ddf4ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1e77d9512c862ae24c289e861ddf4ef">&#9670;&#160;</a></span>adjustForZoom()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IUpDownArrowMixin.adjustForZoom </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td>
          <td class="paramname"><em>sprite</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaec4828697c0bd759b7d8f7cecacc902" name="aaec4828697c0bd759b7d8f7cecacc902"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaec4828697c0bd759b7d8f7cecacc902">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IUpDownArrowMixin.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa50c8750661226a1b69bd7cf93cc1019" name="aa50c8750661226a1b69bd7cf93cc1019"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa50c8750661226a1b69bd7cf93cc1019">&#9670;&#160;</a></span>initUpDownArrow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IUpDownArrowMixin.initUpDownArrow </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a19bad998c5eb351eb94ac086298276" name="a0a19bad998c5eb351eb94ac086298276"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a19bad998c5eb351eb94ac086298276">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IUpDownArrowMixin.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___drawable_command.cshtml#a9f2469af8629855d5f2829ba72d96f91">PokemonEssentials.Interface.IWindow_DrawableCommand</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a520281bcc50e883f7044162c0ba8203a" name="a520281bcc50e883f7044162c0ba8203a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a520281bcc50e883f7044162c0ba8203a">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IUpDownArrowMixin.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window___command_pokemon.cshtml#a19da9772bbe6da342c7cfaa49b39c02f">PokemonEssentials.Interface.IWindow_CommandPokemon</a>.</p>

</div>
</div>
<a id="a602d198f6c67f25d6323883cfba769ff" name="a602d198f6c67f25d6323883cfba769ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a602d198f6c67f25d6323883cfba769ff">&#9670;&#160;</a></span>viewport</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.IUpDownArrowMixin.viewport</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_window___selectable_ex.cshtml#a74b0146be248780f8905c8a2a8a9cc66">PokemonEssentials.Interface.ISpriteWindow_SelectableEx</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_window_8cs.cshtml">ISpriteWindow.cs</a></li>
</ul>
