@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IInterpreterFieldMixin Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">IInterpreterFieldMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterFieldMixin Interface Reference</div></div>
}


<p>Logic that's used by Game while player is in <code>Overworld_Field</code>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IInterpreterFieldMixin:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.png" usemap="#PokemonEssentials.Interface.IInterpreterFieldMixin_map" alt=""/>
  <map id="PokemonEssentials.Interface.IInterpreterFieldMixin_map" name="PokemonEssentials.Interface.IInterpreterFieldMixin_map">
<area href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml" alt="PokemonUnity.InterpreterFieldMixin" shape="rect" coords="0,56,297,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a032469a3fc960bea07dde22c686c1acf"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a032469a3fc960bea07dde22c686c1acf">getVariable</a> (params int[] arg)</td></tr>
<tr class="separator:a032469a3fc960bea07dde22c686c1acf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a42de82efd134978739645ea94d8328cd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a42de82efd134978739645ea94d8328cd">pbGetPokemon</a> (int id)</td></tr>
<tr class="separator:a42de82efd134978739645ea94d8328cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb6f8213e7c467ce7ede8dd2cb90313b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#afb6f8213e7c467ce7ede8dd2cb90313b">pbHeadbutt</a> ()</td></tr>
<tr class="separator:afb6f8213e7c467ce7ede8dd2cb90313b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1128ebe56d9b2b7961e92667b7f2b0b2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a1128ebe56d9b2b7961e92667b7f2b0b2">pbPushThisBoulder</a> ()</td></tr>
<tr class="separator:a1128ebe56d9b2b7961e92667b7f2b0b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4a3ec3ee54c8afa2244d62053461ab1e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a4a3ec3ee54c8afa2244d62053461ab1e">pbPushThisEvent</a> ()</td></tr>
<tr class="separator:a4a3ec3ee54c8afa2244d62053461ab1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a700c96e5d32e5a80badd9d8e59b20049"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a700c96e5d32e5a80badd9d8e59b20049">pbSetEventTime</a> (params int[] arg)</td></tr>
<tr class="separator:a700c96e5d32e5a80badd9d8e59b20049"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a718d0b9479746bc3b3036967f8eb372e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a718d0b9479746bc3b3036967f8eb372e">pbTrainerIntro</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> symbol)</td></tr>
<tr class="memdesc:a718d0b9479746bc3b3036967f8eb372e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used when player encounters a trainer, and battle logic get triggered   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a718d0b9479746bc3b3036967f8eb372e">More...</a><br /></td></tr>
<tr class="separator:a718d0b9479746bc3b3036967f8eb372e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4bfefbc6961953f1c79eb3463da08087"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a4bfefbc6961953f1c79eb3463da08087">pbTrainerEnd</a> ()</td></tr>
<tr class="separator:a4bfefbc6961953f1c79eb3463da08087"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02409a08504c19e1bd1244fb025fca93"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a02409a08504c19e1bd1244fb025fca93">setTempSwitchOff</a> (string c)</td></tr>
<tr class="separator:a02409a08504c19e1bd1244fb025fca93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0ca0d7b9c18d12262b67a1ba323206e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#ac0ca0d7b9c18d12262b67a1ba323206e">setTempSwitchOn</a> (string c)</td></tr>
<tr class="separator:ac0ca0d7b9c18d12262b67a1ba323206e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a445350fefeed72247b0c178d36d91652"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a445350fefeed72247b0c178d36d91652">setVariable</a> (params int[] arg)</td></tr>
<tr class="separator:a445350fefeed72247b0c178d36d91652"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8754899ecc965f0bcab59b5ef423634d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8754899ecc965f0bcab59b5ef423634d">tsOff</a> (string c)</td></tr>
<tr class="separator:a8754899ecc965f0bcab59b5ef423634d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24ff8630a97ee1bcf0895763206b5ae1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a24ff8630a97ee1bcf0895763206b5ae1">tsOn</a> (string c)</td></tr>
<tr class="separator:a24ff8630a97ee1bcf0895763206b5ae1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Logic that's used by Game while player is in <code>Overworld_Field</code>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a032469a3fc960bea07dde22c686c1acf" name="a032469a3fc960bea07dde22c686c1acf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a032469a3fc960bea07dde22c686c1acf">&#9670;&#160;</a></span>getVariable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.IInterpreterFieldMixin.getVariable </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aec876874a3d12a64c71559573f8c4ee3">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a42de82efd134978739645ea94d8328cd" name="a42de82efd134978739645ea94d8328cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a42de82efd134978739645ea94d8328cd">&#9670;&#160;</a></span>pbGetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> PokemonEssentials.Interface.IInterpreterFieldMixin.pbGetPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aff259d56845c6f1caddd8d0eb150ef00">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="afb6f8213e7c467ce7ede8dd2cb90313b" name="afb6f8213e7c467ce7ede8dd2cb90313b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb6f8213e7c467ce7ede8dd2cb90313b">&#9670;&#160;</a></span>pbHeadbutt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.pbHeadbutt </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a243c3103a61c9b18333be656d2bbd77e">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a1128ebe56d9b2b7961e92667b7f2b0b2" name="a1128ebe56d9b2b7961e92667b7f2b0b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1128ebe56d9b2b7961e92667b7f2b0b2">&#9670;&#160;</a></span>pbPushThisBoulder()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.pbPushThisBoulder </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#ae91737a842f0f621cd676b508a732b85">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a4a3ec3ee54c8afa2244d62053461ab1e" name="a4a3ec3ee54c8afa2244d62053461ab1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4a3ec3ee54c8afa2244d62053461ab1e">&#9670;&#160;</a></span>pbPushThisEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.pbPushThisEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a7a5c5e87b167aac11ed1fc65d733b66c">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a700c96e5d32e5a80badd9d8e59b20049" name="a700c96e5d32e5a80badd9d8e59b20049"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a700c96e5d32e5a80badd9d8e59b20049">&#9670;&#160;</a></span>pbSetEventTime()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.pbSetEventTime </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a4d3ef37c4574c33fde467c92f9fb476b">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a4bfefbc6961953f1c79eb3463da08087" name="a4bfefbc6961953f1c79eb3463da08087"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4bfefbc6961953f1c79eb3463da08087">&#9670;&#160;</a></span>pbTrainerEnd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.pbTrainerEnd </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a6dcc92260d4e26eeebb9d08228f1ce7e">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a718d0b9479746bc3b3036967f8eb372e" name="a718d0b9479746bc3b3036967f8eb372e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a718d0b9479746bc3b3036967f8eb372e">&#9670;&#160;</a></span>pbTrainerIntro()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.pbTrainerIntro </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td>
          <td class="paramname"><em>symbol</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Used when player encounters a trainer, and battle logic get triggered  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">symbol</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Plays TrainerType Audio Theme and returns true</dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a2f6c3b6f7051cee960d398b94c4cc495">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a02409a08504c19e1bd1244fb025fca93" name="a02409a08504c19e1bd1244fb025fca93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02409a08504c19e1bd1244fb025fca93">&#9670;&#160;</a></span>setTempSwitchOff()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setTempSwitchOff </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a5f4af5f087e704b73cf3100dc4c311ae">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="ac0ca0d7b9c18d12262b67a1ba323206e" name="ac0ca0d7b9c18d12262b67a1ba323206e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0ca0d7b9c18d12262b67a1ba323206e">&#9670;&#160;</a></span>setTempSwitchOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setTempSwitchOn </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#af8e6d59572d35615bf8e10d8458fd334">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a445350fefeed72247b0c178d36d91652" name="a445350fefeed72247b0c178d36d91652"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a445350fefeed72247b0c178d36d91652">&#9670;&#160;</a></span>setVariable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setVariable </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#ab05612f20a2dc22a5e47c1d82ed1ba73">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a8754899ecc965f0bcab59b5ef423634d" name="a8754899ecc965f0bcab59b5ef423634d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8754899ecc965f0bcab59b5ef423634d">&#9670;&#160;</a></span>tsOff()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.tsOff </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a6d38fc28f9922eb44a7a35424cb2c75a">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a24ff8630a97ee1bcf0895763206b5ae1" name="a24ff8630a97ee1bcf0895763206b5ae1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24ff8630a97ee1bcf0895763206b5ae1">&#9670;&#160;</a></span>tsOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.tsOn </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aeed3fb12aa4fe1553b69961bdfa68e95">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_interpreter_field_mixin_8cs.cshtml">IInterpreterFieldMixin.cs</a></li>
</ul>
