@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml">IGameMail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGameMail Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml">PokemonEssentials.Interface.Item.IGameMail</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml#aa02258bdc94a935bf2cda95f57f06d75">pbDisplayMail</a>(IMail mail, string bearer=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml">PokemonEssentials.Interface.Item.IGameMail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml#a45c11af92723d8b68ac787bd759226b7">pbMoveToMailbox</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml">PokemonEssentials.Interface.Item.IGameMail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml#a829e555881530b6fdea23510aed921d5">pbStoreMail</a>(IPokemon pkmn, Items item, string message, IPokemon poke1=null, IPokemon poke2=null, IPokemon poke3=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_mail.cshtml">PokemonEssentials.Interface.Item.IGameMail</a></td><td class="entry"></td></tr>
</table>