@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">IPokemonBoxIcon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonBoxIcon Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">PokemonEssentials.Interface.Screen.IPokemonBoxIcon</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a62dcd6670d4c5224396f3116bc8dc8dd">initialize</a>(IPokemon pokemon, IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">PokemonEssentials.Interface.Screen.IPokemonBoxIcon</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a841ffd51f952b24e548a1fa85dbd42dd">release</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">PokemonEssentials.Interface.Screen.IPokemonBoxIcon</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a86f5cc43c61ea8177dbbf2fd5080e4ae">releasing</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">PokemonEssentials.Interface.Screen.IPokemonBoxIcon</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#adeaf7417f7ee5e26f714f079152fd123">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">PokemonEssentials.Interface.Screen.IPokemonBoxIcon</a></td><td class="entry"></td></tr>
</table>