@{
	Page.Title = "PokemonEssentials.Interface.IInterpreterAutoscroll Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml">IInterpreterAutoscroll</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterAutoscroll Interface Reference</div></div>
}


<p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter.cshtml" title="This interpreter runs event commands. This class is used within the Game_System class and the Game_Ev...">IInterpreter</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a07e3549f559fed88589aa1d61b3a1b8a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#a07e3549f559fed88589aa1d61b3a1b8a">autoscroll</a> (float x, float y, int speed=Core.SCROLL_SPEED_DEFAULT)</td></tr>
<tr class="memdesc:a07e3549f559fed88589aa1d61b3a1b8a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map Autoscroll to Coordinates   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#a07e3549f559fed88589aa1d61b3a1b8a">More...</a><br /></td></tr>
<tr class="separator:a07e3549f559fed88589aa1d61b3a1b8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adff4db02f6a8019dc1ef888aa73dd107"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#adff4db02f6a8019dc1ef888aa73dd107">autoscroll_player</a> (int speed=Core.SCROLL_SPEED_DEFAULT)</td></tr>
<tr class="memdesc:adff4db02f6a8019dc1ef888aa73dd107"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map Autoscroll (to Player)   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#adff4db02f6a8019dc1ef888aa73dd107">More...</a><br /></td></tr>
<tr class="separator:adff4db02f6a8019dc1ef888aa73dd107"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter.cshtml" title="This interpreter runs event commands. This class is used within the Game_System class and the Game_Ev...">IInterpreter</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a07e3549f559fed88589aa1d61b3a1b8a" name="a07e3549f559fed88589aa1d61b3a1b8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a07e3549f559fed88589aa1d61b3a1b8a">&#9670;&#160;</a></span>autoscroll()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterAutoscroll.autoscroll </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>speed</em> = <code>Core.SCROLL_SPEED_DEFAULT</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Map Autoscroll to Coordinates  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>x coordinate to scroll to and center on</td></tr>
    <tr><td class="paramname">y</td><td>y coordinate to scroll to and center on</td></tr>
    <tr><td class="paramname">speed</td><td>(optional) scroll speed (from 1-6, default being 4)</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="adff4db02f6a8019dc1ef888aa73dd107" name="adff4db02f6a8019dc1ef888aa73dd107"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adff4db02f6a8019dc1ef888aa73dd107">&#9670;&#160;</a></span>autoscroll_player()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterAutoscroll.autoscroll_player </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>speed</em> = <code>Core.SCROLL_SPEED_DEFAULT</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Map Autoscroll (to Player)  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">speed</td><td>(optional) scroll speed (from 1-6, default being 4)</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_map_autoscroll_8cs.cshtml">IGameMapAutoscroll.cs</a></li>
</ul>

