@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">IGamePCStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGamePCStorage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#ac5956e06f54abe1e91af358cec50494b">pbGetStorageCreator</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a6716ef8dafce60a6f8be462f041f9e25">pbPCItemStorage</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#ac6c7423aa90b08434703bfe67879e66e">pbPCMailbox</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a463c8f3364a3b401d386d5064c44fc28">pbPokeCenterPC</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#abf6927eeb0817a55933256d7d3faee7d">pbTrainerPC</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a13d7f6e27d68ee7d75ab3f63d17cc788">pbTrainerPCMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
</table>