@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">IGameSafari</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameSafari Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a3fdee63da43025a0d7d71c02833cbf6e">InSafari</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#af9bac49f1a342bca61860f8244d114a1">OnMapChange</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a678bc0d1718f574cab981c7c2fdc8e15">OnStepTakenTransferPossible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a611a8a21f10fd4f69a3d5ac1d2265346">OnWildBattleOverride</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#a7ce65da5a69f859efbc0419959d29810">SafariBattle</a>(Pokemons species, int level)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml#aaefc7164e6b3428fc98e9b9ded00b9c2">SafariState</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_safari.cshtml">PokemonEssentials.Interface.Field.IGameSafari</a></td><td class="entry"></td></tr>
</table>
