@{
	Page.Title = "PokemonEssentials.Interface.Field.IMapFactoryHelper Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">IMapFactoryHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapFactoryHelper Interface Reference</div></div>
}


<p>Map Factory (allows multiple maps to be loaded at once and connected)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3ef5450e0434b5eb6a6b4884e847de3f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a3ef5450e0434b5eb6a6b4884e847de3f">clear</a> ()</td></tr>
<tr class="separator:a3ef5450e0434b5eb6a6b4884e847de3f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afcb615766d8e8747828952d2a12ad6c4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#afcb615766d8e8747828952d2a12ad6c4">getMapEdge</a> (int id, string edge)</td></tr>
<tr class="separator:afcb615766d8e8747828952d2a12ad6c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae001a014b9e3ad678ed79f0ce265ec58"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ae001a014b9e3ad678ed79f0ce265ec58">getMapDims</a> (int id)</td></tr>
<tr class="memdesc:ae001a014b9e3ad678ed79f0ce265ec58"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the height and width of the map with id   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ae001a014b9e3ad678ed79f0ce265ec58">More...</a><br /></td></tr>
<tr class="separator:ae001a014b9e3ad678ed79f0ce265ec58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11a3147b80e0a2c6f969b29a0fffb37e"><td class="memItemLeft" align="right" valign="top">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a11a3147b80e0a2c6f969b29a0fffb37e">getMapConnections</a> ()</td></tr>
<tr class="separator:a11a3147b80e0a2c6f969b29a0fffb37e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a8b8e7a682bfda821306721bc6f8599"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a2a8b8e7a682bfda821306721bc6f8599">hasConnections</a> (int id)</td></tr>
<tr class="separator:a2a8b8e7a682bfda821306721bc6f8599"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a88013cc5492dec762155c39ee607bbc8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a88013cc5492dec762155c39ee607bbc8">mapInRange</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> map)</td></tr>
<tr class="separator:a88013cc5492dec762155c39ee607bbc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab252f3b47d58a4db453bc23b7171c751"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ab252f3b47d58a4db453bc23b7171c751">mapInRangeById</a> (int id, float dispx, float dispy)</td></tr>
<tr class="separator:ab252f3b47d58a4db453bc23b7171c751"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aaaef9a0637acc40307bf98a460940e99"><td class="memItemLeft" align="right" valign="top">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#aaaef9a0637acc40307bf98a460940e99">MapConnections</a> <code>[get]</code></td></tr>
<tr class="separator:aaaef9a0637acc40307bf98a460940e99"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8b9efabc3c843001f1566422d42f926"><td class="memItemLeft" align="right" valign="top">int[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ad8b9efabc3c843001f1566422d42f926">MapDims</a> <code>[get]</code></td></tr>
<tr class="memdesc:ad8b9efabc3c843001f1566422d42f926"><td class="mdescLeft">&#160;</td><td class="mdescRight">array of [width, height] for maps, indexed by id   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ad8b9efabc3c843001f1566422d42f926">More...</a><br /></td></tr>
<tr class="separator:ad8b9efabc3c843001f1566422d42f926"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Map Factory (allows multiple maps to be loaded at once and connected)  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a3ef5450e0434b5eb6a6b4884e847de3f" name="a3ef5450e0434b5eb6a6b4884e847de3f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ef5450e0434b5eb6a6b4884e847de3f">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactoryHelper.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a11a3147b80e0a2c6f969b29a0fffb37e" name="a11a3147b80e0a2c6f969b29a0fffb37e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11a3147b80e0a2c6f969b29a0fffb37e">&#9670;&#160;</a></span>getMapConnections()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a>&gt; PokemonEssentials.Interface.Field.IMapFactoryHelper.getMapConnections </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae001a014b9e3ad678ed79f0ce265ec58" name="ae001a014b9e3ad678ed79f0ce265ec58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae001a014b9e3ad678ed79f0ce265ec58">&#9670;&#160;</a></span>getMapDims()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Field.IMapFactoryHelper.getMapDims </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the height and width of the map with id  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">id</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="afcb615766d8e8747828952d2a12ad6c4" name="afcb615766d8e8747828952d2a12ad6c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afcb615766d8e8747828952d2a12ad6c4">&#9670;&#160;</a></span>getMapEdge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapFactoryHelper.getMapEdge </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>edge</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">id</td><td></td></tr>
    <tr><td class="paramname">edge</td><td>Considers the special strings "N","W","E","S"</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns the X or Y coordinate (width/height) of an edge on the map with id.</dd></dl>

</div>
</div>
<a id="a2a8b8e7a682bfda821306721bc6f8599" name="a2a8b8e7a682bfda821306721bc6f8599"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a8b8e7a682bfda821306721bc6f8599">&#9670;&#160;</a></span>hasConnections()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactoryHelper.hasConnections </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a88013cc5492dec762155c39ee607bbc8" name="a88013cc5492dec762155c39ee607bbc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a88013cc5492dec762155c39ee607bbc8">&#9670;&#160;</a></span>mapInRange()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactoryHelper.mapInRange </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab252f3b47d58a4db453bc23b7171c751" name="ab252f3b47d58a4db453bc23b7171c751"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab252f3b47d58a4db453bc23b7171c751">&#9670;&#160;</a></span>mapInRangeById()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactoryHelper.mapInRangeById </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>dispx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>dispy</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aaaef9a0637acc40307bf98a460940e99" name="aaaef9a0637acc40307bf98a460940e99"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaaef9a0637acc40307bf98a460940e99">&#9670;&#160;</a></span>MapConnections</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_connection.cshtml">IMapConnection</a>&gt; PokemonEssentials.Interface.Field.IMapFactoryHelper.MapConnections</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad8b9efabc3c843001f1566422d42f926" name="ad8b9efabc3c843001f1566422d42f926"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8b9efabc3c843001f1566422d42f926">&#9670;&#160;</a></span>MapDims</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [][] PokemonEssentials.Interface.Field.IMapFactoryHelper.MapDims</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>array of [width, height] for maps, indexed by id  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>
