@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">IMoveData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IMoveData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a9f875edc70e622ffd76267a28d543515">accuracy</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a914b0c0b59dff8023449f99637dc089e">addlEffect</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ad3dff2a6a89682c5e5282de122f27994">basedamage</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a8e70b0481a450cb00e82329021f61836">category</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ada52944fa1167c14dae34ad419347b2f">Effect</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a6d860c010f189e459204c537e0135b2f">flags</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a7e3330ce1f5ad7ff1c784f8a555f4806">initialize</a>(Moves moveid)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#acb37d2bd834f6673d2e3faed101a5603">priority</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ac109da8209842710e561b79bb4bdf78e">target</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#ae5a7ea13241e0bc978d780dab6027581">totalpp</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml#a565689d58e02c43b49ac85a4512fdef0">type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_move_data.cshtml">PokemonEssentials.Interface.IMoveData</a></td><td class="entry"></td></tr>
</table>
