@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">ITextPosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ITextPosition Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a282116dc0ed0a88f89fdede15324bbb4">Base</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#ac4f25dfb918e4413251448f19f61b9c1">LeftAligned</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aae8cc51bdb338d4ea28206c1f82ee40b">Shadow</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aea85fd6c45fa8c81dc3c340c7d6c606b">Text</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a05b821cc2e26f75dcd92ff8d533fdf55">X</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a543b3806f293431a6ae6515525692f1d">Y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td><td class="entry"></td></tr>
</table>