@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IGamePokemonEvolution Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">IGamePokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePokemonEvolution Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd>IPokemon</dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a829b700799c77de044c4a16879b92765"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a829b700799c77de044c4a16879b92765">GetEvolvedFormData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a829b700799c77de044c4a16879b92765"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02879686ea0c7c50fc3a920702f3d353"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a02879686ea0c7c50fc3a920702f3d353">EvoDebug</a> ()</td></tr>
<tr class="separator:a02879686ea0c7c50fc3a920702f3d353"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adccc0787ecf2e6cd0b0249506a972e4d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#adccc0787ecf2e6cd0b0249506a972e4d">GetPreviousForm</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:adccc0787ecf2e6cd0b0249506a972e4d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab44cddb09923f5234c0188fdea2f3e94"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ab44cddb09923f5234c0188fdea2f3e94">GetMinimumLevel</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:ab44cddb09923f5234c0188fdea2f3e94"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab16c1cefaba7b44e47d776d68e73222d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ab16c1cefaba7b44e47d776d68e73222d">GetBabySpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item1=Items.NONE, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item2=Items.NONE)</td></tr>
<tr class="separator:ab16c1cefaba7b44e47d776d68e73222d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9cb5e6302347ebd2e38947f3db73139d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a9cb5e6302347ebd2e38947f3db73139d">MiniCheckEvolution</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> evonib, int level, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> poke)</td></tr>
<tr class="separator:a9cb5e6302347ebd2e38947f3db73139d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a878c58f3d14e99cdffd1ecdfe4ecf3fd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a878c58f3d14e99cdffd1ecdfe4ecf3fd">MiniCheckEvolutionItem</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> evonib, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> level, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> poke, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a878c58f3d14e99cdffd1ecdfe4ecf3fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7113b254abe2a1554fe9abe0934618a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ad7113b254abe2a1554fe9abe0934618a">CheckEvolutionEx</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="memdesc:ad7113b254abe2a1554fe9abe0934618a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks whether a Pokemon can evolve now. If a block is given, calls the block with the following parameters:  <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#ad7113b254abe2a1554fe9abe0934618a">More...</a><br /></td></tr>
<tr class="separator:ad7113b254abe2a1554fe9abe0934618a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f8fe61d41e4bde113f343405f712bef"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a3f8fe61d41e4bde113f343405f712bef">CheckEvolution</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item=0)</td></tr>
<tr class="memdesc:a3f8fe61d41e4bde113f343405f712bef"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks whether a Pokemon can evolve now. If an item is used on the Pokémon, checks whether the Pokemon can evolve with the given item.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a3f8fe61d41e4bde113f343405f712bef">More...</a><br /></td></tr>
<tr class="separator:a3f8fe61d41e4bde113f343405f712bef"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd>IPokemon</dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a3f8fe61d41e4bde113f343405f712bef" name="a3f8fe61d41e4bde113f343405f712bef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f8fe61d41e4bde113f343405f712bef">&#9670;&#160;</a></span>CheckEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] PokemonEssentials.Interface.IGamePokemonEvolution.CheckEvolution </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks whether a Pokemon can evolve now. If an item is used on the Pokémon, checks whether the Pokemon can evolve with the given item.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ad7113b254abe2a1554fe9abe0934618a" name="ad7113b254abe2a1554fe9abe0934618a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7113b254abe2a1554fe9abe0934618a">&#9670;&#160;</a></span>CheckEvolutionEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.CheckEvolutionEx </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks whether a Pokemon can evolve now. If a block is given, calls the block with the following parameters: </p>
<p >Pokemon to check; evolution type; level or other parameter; ID of the new Pokemon species  </p><dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a02879686ea0c7c50fc3a920702f3d353" name="a02879686ea0c7c50fc3a920702f3d353"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02879686ea0c7c50fc3a920702f3d353">&#9670;&#160;</a></span>EvoDebug()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePokemonEvolution.EvoDebug </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab16c1cefaba7b44e47d776d68e73222d" name="ab16c1cefaba7b44e47d776d68e73222d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab16c1cefaba7b44e47d776d68e73222d">&#9670;&#160;</a></span>GetBabySpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.GetBabySpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item1</em> = <code>Items.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item2</em> = <code>Items.NONE</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a829b700799c77de044c4a16879b92765" name="a829b700799c77de044c4a16879b92765"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a829b700799c77de044c4a16879b92765">&#9670;&#160;</a></span>GetEvolvedFormData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[] PokemonEssentials.Interface.IGamePokemonEvolution.GetEvolvedFormData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab44cddb09923f5234c0188fdea2f3e94" name="ab44cddb09923f5234c0188fdea2f3e94"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab44cddb09923f5234c0188fdea2f3e94">&#9670;&#160;</a></span>GetMinimumLevel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePokemonEvolution.GetMinimumLevel </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adccc0787ecf2e6cd0b0249506a972e4d" name="adccc0787ecf2e6cd0b0249506a972e4d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adccc0787ecf2e6cd0b0249506a972e4d">&#9670;&#160;</a></span>GetPreviousForm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.GetPreviousForm </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9cb5e6302347ebd2e38947f3db73139d" name="a9cb5e6302347ebd2e38947f3db73139d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9cb5e6302347ebd2e38947f3db73139d">&#9670;&#160;</a></span>MiniCheckEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.MiniCheckEvolution </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td>
          <td class="paramname"><em>evonib</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>level</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>poke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a878c58f3d14e99cdffd1ecdfe4ecf3fd" name="a878c58f3d14e99cdffd1ecdfe4ecf3fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a878c58f3d14e99cdffd1ecdfe4ecf3fd">&#9670;&#160;</a></span>MiniCheckEvolutionItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.MiniCheckEvolutionItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td>
          <td class="paramname"><em>evonib</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>level</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>poke</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_evolution_8cs.cshtml">IPokemonEvolution.cs</a></li>
</ul>

