@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">IButtonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IButtonEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a6aaddd61bc7375c4b3086cbef849eded">Button</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml#a86a2cdd548ca3c44e8e11d4e90ef4578">IsDown</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">PokemonEssentials.Interface.EventArg.IButtonEventArgs</a></td><td class="entry"></td></tr>
</table>
