@{
	Page.Title = "PokemonEssentials.Interface.Screen.IIntroEventScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml">IIntroEventScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IIntroEventScene Interface Reference</div></div>
}


<p>First scene to load when game boots up. Displays logos and intro credits/sponsers   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IIntroEventScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.png" usemap="#PokemonEssentials.Interface.Screen.IIntroEventScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IIntroEventScene_map" name="PokemonEssentials.Interface.Screen.IIntroEventScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IEventScene" shape="rect" coords="0,0,318,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aba952737a2a2d1a49e6d1f005653eed5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#aba952737a2a2d1a49e6d1f005653eed5">openPic</a> ()</td></tr>
<tr class="separator:aba952737a2a2d1a49e6d1f005653eed5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54faa0b8a9956a919bcb3ccd63fcc2d2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a54faa0b8a9956a919bcb3ccd63fcc2d2">timer</a> ()</td></tr>
<tr class="separator:a54faa0b8a9956a919bcb3ccd63fcc2d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35ac5307c4dbe50572489df23aa0a7f7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a35ac5307c4dbe50572489df23aa0a7f7">closePic</a> ()</td></tr>
<tr class="separator:a35ac5307c4dbe50572489df23aa0a7f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8658251636dd28531ddb40ec429104c3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a8658251636dd28531ddb40ec429104c3">openSplash</a> ()</td></tr>
<tr class="separator:a8658251636dd28531ddb40ec429104c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7ba5784610c78b03d4f214edad1012e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#ab7ba5784610c78b03d4f214edad1012e">splashUpdate</a> ()</td></tr>
<tr class="separator:ab7ba5784610c78b03d4f214edad1012e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ee3dfacfe45f2e6b0b045433d2f2c24"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a6ee3dfacfe45f2e6b0b045433d2f2c24">closeSplash</a> ()</td></tr>
<tr class="memdesc:a6ee3dfacfe45f2e6b0b045433d2f2c24"><td class="mdescLeft">&#160;</td><td class="mdescRight">Ends intro scene and transition to load/new game screen   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#a6ee3dfacfe45f2e6b0b045433d2f2c24">More...</a><br /></td></tr>
<tr class="separator:a6ee3dfacfe45f2e6b0b045433d2f2c24"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc8015fbacd5474001f6023e38e128b9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#abc8015fbacd5474001f6023e38e128b9">closeSplashDelete</a> ()</td></tr>
<tr class="memdesc:abc8015fbacd5474001f6023e38e128b9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Ends intro scene and transition to delete save data screen   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml#abc8015fbacd5474001f6023e38e128b9">More...</a><br /></td></tr>
<tr class="separator:abc8015fbacd5474001f6023e38e128b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td></tr>
<tr class="memitem:aae06059928f3892b083510e2ca0774ff inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#aae06059928f3892b083510e2ca0774ff">main</a> ()</td></tr>
<tr class="separator:aae06059928f3892b083510e2ca0774ff inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5d68c065752ad5ce65bd73aa69f0718 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">IEventScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#aa5d68c065752ad5ce65bd73aa69f0718">initialize</a> ()</td></tr>
<tr class="separator:aa5d68c065752ad5ce65bd73aa69f0718 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab85722f17e776d7718bb060a428c0796 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#ab85722f17e776d7718bb060a428c0796">dispose</a> ()</td></tr>
<tr class="separator:ab85722f17e776d7718bb060a428c0796 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39b01a578930a7b9be97f2f518005ae1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a39b01a578930a7b9be97f2f518005ae1">addLabel</a> (float x, float y, float width, string text)</td></tr>
<tr class="separator:a39b01a578930a7b9be97f2f518005ae1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0bfe23737982dd1ea99ee27136582f58 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a0bfe23737982dd1ea99ee27136582f58">addImage</a> (float x, float y, string name)</td></tr>
<tr class="separator:a0bfe23737982dd1ea99ee27136582f58 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af022403fbfceefe0bd8b51ca4245fb65 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#af022403fbfceefe0bd8b51ca4245fb65">getPicture</a> (int num)</td></tr>
<tr class="separator:af022403fbfceefe0bd8b51ca4245fb65 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d848b0529165f0640562a9283aea5d0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a3d848b0529165f0640562a9283aea5d0">wait</a> (int frames)</td></tr>
<tr class="separator:a3d848b0529165f0640562a9283aea5d0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f4948d46b51f4f08294858bf990412c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7f4948d46b51f4f08294858bf990412c">pictureWait</a> (int extraframes=0)</td></tr>
<tr class="separator:a7f4948d46b51f4f08294858bf990412c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e46d3a11b469a9d083bbda5b1b976e4 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a2e46d3a11b469a9d083bbda5b1b976e4">update</a> ()</td></tr>
<tr class="separator:a2e46d3a11b469a9d083bbda5b1b976e4 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td></tr>
<tr class="memitem:a7f6744824b1af390ba6a4a64c030baf9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7f6744824b1af390ba6a4a64c030baf9">onATrigger</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a7f6744824b1af390ba6a4a64c030baf9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Action Button Pressed...   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7f6744824b1af390ba6a4a64c030baf9">More...</a><br /></td></tr>
<tr class="separator:a7f6744824b1af390ba6a4a64c030baf9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32b154460be3e064cc0990cfb30dac3b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a32b154460be3e064cc0990cfb30dac3b">onBTrigger</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a32b154460be3e064cc0990cfb30dac3b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Back/Cancel Button Pressed...   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a32b154460be3e064cc0990cfb30dac3b">More...</a><br /></td></tr>
<tr class="separator:a32b154460be3e064cc0990cfb30dac3b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac19af6c8488b7e8ac997045526db17a7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#ac19af6c8488b7e8ac997045526db17a7">onUpdate</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac19af6c8488b7e8ac997045526db17a7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adeda265316ed969617320bf3d2ccfb27 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#adeda265316ed969617320bf3d2ccfb27">disposed</a> <code>[get]</code></td></tr>
<tr class="separator:adeda265316ed969617320bf3d2ccfb27 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >First scene to load when game boots up. Displays logos and intro credits/sponsers  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a35ac5307c4dbe50572489df23aa0a7f7" name="a35ac5307c4dbe50572489df23aa0a7f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35ac5307c4dbe50572489df23aa0a7f7">&#9670;&#160;</a></span>closePic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.closePic </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6ee3dfacfe45f2e6b0b045433d2f2c24" name="a6ee3dfacfe45f2e6b0b045433d2f2c24"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ee3dfacfe45f2e6b0b045433d2f2c24">&#9670;&#160;</a></span>closeSplash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.closeSplash </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Ends intro scene and transition to load/new game screen  </p>

</div>
</div>
<a id="abc8015fbacd5474001f6023e38e128b9" name="abc8015fbacd5474001f6023e38e128b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc8015fbacd5474001f6023e38e128b9">&#9670;&#160;</a></span>closeSplashDelete()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.closeSplashDelete </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Ends intro scene and transition to delete save data screen  </p>

</div>
</div>
<a id="aba952737a2a2d1a49e6d1f005653eed5" name="aba952737a2a2d1a49e6d1f005653eed5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba952737a2a2d1a49e6d1f005653eed5">&#9670;&#160;</a></span>openPic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.openPic </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8658251636dd28531ddb40ec429104c3" name="a8658251636dd28531ddb40ec429104c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8658251636dd28531ddb40ec429104c3">&#9670;&#160;</a></span>openSplash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.openSplash </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab7ba5784610c78b03d4f214edad1012e" name="ab7ba5784610c78b03d4f214edad1012e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7ba5784610c78b03d4f214edad1012e">&#9670;&#160;</a></span>splashUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.splashUpdate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<p >If you press and hold special keys, go to delete screen </p>

</div>
</div>
<a id="a54faa0b8a9956a919bcb3ccd63fcc2d2" name="a54faa0b8a9956a919bcb3ccd63fcc2d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54faa0b8a9956a919bcb3ccd63fcc2d2">&#9670;&#160;</a></span>timer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IIntroEventScene.timer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
