@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">IRelicStoneScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IRelicStoneScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#aad76244e8d766cfc32e2e5e98452fe9f">Display</a>(string msg, bool brief=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">PokemonEssentials::Interface::Screen::IScene.Display</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#a28490fe095045c3ca14845458237aa84">EndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#acde57e2e623d516f12c9185f2e6f54ba">initialize</a>(IScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#a5922bde71ca15043e3536241f2c067ed">Purify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#a1134f25bf5b2e1d66177b540589712b2">StartScene</a>(IPokemonShadowPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml#a08974d2e3e65884a2db350558a3106ed">Update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">PokemonEssentials.Interface.Screen.IRelicStoneScene</a></td><td class="entry"></td></tr>
</table>
