@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IGamePokemonEvolution Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">IGamePokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePokemonEvolution Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd>IPokemon</dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a362fd11f267fc282765ab509fc47bf5c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a362fd11f267fc282765ab509fc47bf5c">pbGetEvolvedFormData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a362fd11f267fc282765ab509fc47bf5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1629546af4909b217bf61eb971232cfb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a1629546af4909b217bf61eb971232cfb">pbEvoDebug</a> ()</td></tr>
<tr class="separator:a1629546af4909b217bf61eb971232cfb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6fa3dca53b3d995e70d9d86becca2b4e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a6fa3dca53b3d995e70d9d86becca2b4e">pbGetPreviousForm</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a6fa3dca53b3d995e70d9d86becca2b4e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a518b6b9242d63ac5ee44bdee1676541e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a518b6b9242d63ac5ee44bdee1676541e">pbGetMinimumLevel</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a518b6b9242d63ac5ee44bdee1676541e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af2ebbc41f94325d26dbb0b7b4f9bb41c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#af2ebbc41f94325d26dbb0b7b4f9bb41c">pbGetBabySpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item1=Items.NONE, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item2=Items.NONE)</td></tr>
<tr class="separator:af2ebbc41f94325d26dbb0b7b4f9bb41c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65aa72370515fbb8d1e8587c5bbebe06"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a65aa72370515fbb8d1e8587c5bbebe06">pbMiniCheckEvolution</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> evonib, int level, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> poke)</td></tr>
<tr class="separator:a65aa72370515fbb8d1e8587c5bbebe06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93ac4a95ba2b2bc27cd289243c69f48f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a93ac4a95ba2b2bc27cd289243c69f48f">pbMiniCheckEvolutionItem</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> evonib, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> level, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> poke, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a93ac4a95ba2b2bc27cd289243c69f48f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c6c77af0d8bdb69c5deee4efbc4f198"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a5c6c77af0d8bdb69c5deee4efbc4f198">pbCheckEvolutionEx</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="memdesc:a5c6c77af0d8bdb69c5deee4efbc4f198"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks whether a Pokemon can evolve now. If a block is given, calls the block with the following parameters:  <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a5c6c77af0d8bdb69c5deee4efbc4f198">More...</a><br /></td></tr>
<tr class="separator:a5c6c77af0d8bdb69c5deee4efbc4f198"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a380972ea36a8a58b9e53d9f318dde641"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a380972ea36a8a58b9e53d9f318dde641">pbCheckEvolution</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item=0)</td></tr>
<tr class="memdesc:a380972ea36a8a58b9e53d9f318dde641"><td class="mdescLeft">&#160;</td><td class="mdescRight">Checks whether a Pokemon can evolve now. If an item is used on the Pokémon, checks whether the Pokemon can evolve with the given item.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a380972ea36a8a58b9e53d9f318dde641">More...</a><br /></td></tr>
<tr class="separator:a380972ea36a8a58b9e53d9f318dde641"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd>IPokemon</dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a380972ea36a8a58b9e53d9f318dde641" name="a380972ea36a8a58b9e53d9f318dde641"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a380972ea36a8a58b9e53d9f318dde641">&#9670;&#160;</a></span>pbCheckEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] PokemonEssentials.Interface.IGamePokemonEvolution.pbCheckEvolution </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks whether a Pokemon can evolve now. If an item is used on the Pokémon, checks whether the Pokemon can evolve with the given item.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
    <tr><td class="paramname">item</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a5c6c77af0d8bdb69c5deee4efbc4f198" name="a5c6c77af0d8bdb69c5deee4efbc4f198"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c6c77af0d8bdb69c5deee4efbc4f198">&#9670;&#160;</a></span>pbCheckEvolutionEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.pbCheckEvolutionEx </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Checks whether a Pokemon can evolve now. If a block is given, calls the block with the following parameters: </p>
<p >Pokemon to check; evolution type; level or other parameter; ID of the new Pokemon species  </p><dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a1629546af4909b217bf61eb971232cfb" name="a1629546af4909b217bf61eb971232cfb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1629546af4909b217bf61eb971232cfb">&#9670;&#160;</a></span>pbEvoDebug()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePokemonEvolution.pbEvoDebug </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af2ebbc41f94325d26dbb0b7b4f9bb41c" name="af2ebbc41f94325d26dbb0b7b4f9bb41c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af2ebbc41f94325d26dbb0b7b4f9bb41c">&#9670;&#160;</a></span>pbGetBabySpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.pbGetBabySpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item1</em> = <code>Items.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item2</em> = <code>Items.NONE</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a362fd11f267fc282765ab509fc47bf5c" name="a362fd11f267fc282765ab509fc47bf5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a362fd11f267fc282765ab509fc47bf5c">&#9670;&#160;</a></span>pbGetEvolvedFormData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>[] PokemonEssentials.Interface.IGamePokemonEvolution.pbGetEvolvedFormData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a518b6b9242d63ac5ee44bdee1676541e" name="a518b6b9242d63ac5ee44bdee1676541e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a518b6b9242d63ac5ee44bdee1676541e">&#9670;&#160;</a></span>pbGetMinimumLevel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePokemonEvolution.pbGetMinimumLevel </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6fa3dca53b3d995e70d9d86becca2b4e" name="a6fa3dca53b3d995e70d9d86becca2b4e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6fa3dca53b3d995e70d9d86becca2b4e">&#9670;&#160;</a></span>pbGetPreviousForm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.pbGetPreviousForm </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a65aa72370515fbb8d1e8587c5bbebe06" name="a65aa72370515fbb8d1e8587c5bbebe06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65aa72370515fbb8d1e8587c5bbebe06">&#9670;&#160;</a></span>pbMiniCheckEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.pbMiniCheckEvolution </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td>
          <td class="paramname"><em>evonib</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>level</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>poke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a93ac4a95ba2b2bc27cd289243c69f48f" name="a93ac4a95ba2b2bc27cd289243c69f48f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93ac4a95ba2b2bc27cd289243c69f48f">&#9670;&#160;</a></span>pbMiniCheckEvolutionItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.IGamePokemonEvolution.pbMiniCheckEvolutionItem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td>
          <td class="paramname"><em>evonib</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>level</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>poke</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_evolution_8cs.cshtml">IPokemonEvolution.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
