@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml">IGameSwitches</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSwitches Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml">PokemonEssentials.Interface.IGameSwitches</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml#a0ec6ec99b8e5b3a52c5f3023842b9e77">this[int switch_id]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml">PokemonEssentials.Interface.IGameSwitches</a></td><td class="entry"></td></tr>
</table>
