@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">IArea</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.IArea Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac142f07a4cf6643b9de996bfec089d9f">Encounters</a>(Method method)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac253b9597404f4c569373e0f0f17a030">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#a75817ce5cebb661683f878a556e0c542">Rate</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#aded942d4c3717e8164b90c8020a27c2d">this[Method method]</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a></td><td class="entry"></td></tr>
</table>