@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">IBattleSwapScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBattleSwapScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">PokemonEssentials.Interface.Screen.IBattleSwapScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#ad8f39201455e66bfdf029ba510797d00">initialize</a>(IBattleSwapScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">PokemonEssentials.Interface.Screen.IBattleSwapScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#a464717732f7aca22840f95e98a19c099">pbStartRent</a>(IPokemon[] rentals)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">PokemonEssentials.Interface.Screen.IBattleSwapScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#a2d3b4221a9989716beb6cb2ef330c6b4">pbStartSwap</a>(IPokemon[] currentPokemon, IPokemon[] newPokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">PokemonEssentials.Interface.Screen.IBattleSwapScreen</a></td><td class="entry"></td></tr>
</table>