@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_shadow_pokemon.cshtml">IBattleShadowPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_shadow_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_shadow_pokemon.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_shadow_pokemon.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon_map" name="PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon_map">
<area href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml" alt="PokemonUnity.Combat.Battle" shape="rect" coords="637,56,1052,80"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_arena.cshtml" alt="PokemonUnity.Combat.PokeBattle_BattleArena" shape="rect" coords="0,112,415,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml" alt="PokemonUnity.Combat.PokeBattle_BattlePalace" shape="rect" coords="425,112,840,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml" alt="PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; out IBattle &gt;" shape="rect" coords="850,112,1265,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml" alt="PokemonUnity.Combat.PokeBattle_SafariZone" shape="rect" coords="1275,112,1690,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5a208dd4585af4f98007172d5fa3ceee"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_shadow_pokemon.cshtml#a5a208dd4585af4f98007172d5fa3ceee">pbUseItemOnPokemon</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int pkmnIndex, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> userPkmn, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">IHasDisplayMessage</a> scene)</td></tr>
<tr class="separator:a5a208dd4585af4f98007172d5fa3ceee"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a5a208dd4585af4f98007172d5fa3ceee" name="a5a208dd4585af4f98007172d5fa3ceee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a208dd4585af4f98007172d5fa3ceee">&#9670;&#160;</a></span>pbUseItemOnPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleShadowPokemon.pbUseItemOnPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnIndex</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>userPkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">IHasDisplayMessage</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_shadow_pokemon_8cs.cshtml">IPokemonShadowPokemon.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
