@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattleMetaData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleMetaData Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6df37c6e0ca9e5f443cc908ce9b60a5a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a6df37c6e0ca9e5f443cc908ce9b60a5a">internalbattle</a><code> [get, set]</code></td></tr>
<tr class="separator:a6df37c6e0ca9e5f443cc908ce9b60a5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab5a50f97f65ebadfa56e96e8d160b67"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#aab5a50f97f65ebadfa56e96e8d160b67">player</a><code> [get, set]</code></td></tr>
<tr class="separator:aab5a50f97f65ebadfa56e96e8d160b67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b98999e48fdee9ef3de833157f0dcb3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a3b98999e48fdee9ef3de833157f0dcb3">opponent</a><code> [get, set]</code></td></tr>
<tr class="separator:a3b98999e48fdee9ef3de833157f0dcb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a169e909a7ca9ec958a68a1748dc510ac"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a169e909a7ca9ec958a68a1748dc510ac">party1</a><code> [get, set]</code></td></tr>
<tr class="separator:a169e909a7ca9ec958a68a1748dc510ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98e5f15851fd461c7edadd264862ed7d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a98e5f15851fd461c7edadd264862ed7d">party2</a><code> [get, set]</code></td></tr>
<tr class="separator:a98e5f15851fd461c7edadd264862ed7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50b9aa008274dd1b7e992d17a3accd65"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a50b9aa008274dd1b7e992d17a3accd65">endspeech</a><code> [get, set]</code></td></tr>
<tr class="separator:a50b9aa008274dd1b7e992d17a3accd65"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71c124ae7a2312156e664fed410bd2fd"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a71c124ae7a2312156e664fed410bd2fd">endspeech2</a><code> [get, set]</code></td></tr>
<tr class="separator:a71c124ae7a2312156e664fed410bd2fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e02976e7468c1f7abe520618e498a74"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a8e02976e7468c1f7abe520618e498a74">endspeechwin</a><code> [get, set]</code></td></tr>
<tr class="separator:a8e02976e7468c1f7abe520618e498a74"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a60fa63007650e6fd54537f02f24d54d5"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a60fa63007650e6fd54537f02f24d54d5">endspeechwin2</a><code> [get, set]</code></td></tr>
<tr class="separator:a60fa63007650e6fd54537f02f24d54d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f22bb47ffda186b25e39b6449f1a4e5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a0f22bb47ffda186b25e39b6449f1a4e5">doublebattle</a><code> [get, set]</code></td></tr>
<tr class="separator:a0f22bb47ffda186b25e39b6449f1a4e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1210590007825074848919bae8e0fac1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a1210590007825074848919bae8e0fac1">weather</a><code> [get, set]</code></td></tr>
<tr class="separator:a1210590007825074848919bae8e0fac1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63a88af26e5afd6520368ac96e655a1e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a63a88af26e5afd6520368ac96e655a1e">weatherduration</a><code> [get, set]</code></td></tr>
<tr class="separator:a63a88af26e5afd6520368ac96e655a1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8d9ea71575ea10faa74a279ab0ed3c8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#aa8d9ea71575ea10faa74a279ab0ed3c8">cantescape</a><code> [get, set]</code></td></tr>
<tr class="separator:aa8d9ea71575ea10faa74a279ab0ed3c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1dcc6cad0286b7432311bb34bf929b5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#aa1dcc6cad0286b7432311bb34bf929b5">shiftStyle</a><code> [get, set]</code></td></tr>
<tr class="separator:aa1dcc6cad0286b7432311bb34bf929b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ad9111ff107c4e10f9edc7cc5727d75"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a7ad9111ff107c4e10f9edc7cc5727d75">battlescene</a><code> [get, set]</code></td></tr>
<tr class="separator:a7ad9111ff107c4e10f9edc7cc5727d75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af43554d3d138368237bd4c55c50ecc32"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#af43554d3d138368237bd4c55c50ecc32">items</a><code> [get, set]</code></td></tr>
<tr class="separator:af43554d3d138368237bd4c55c50ecc32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ffabc771a36e83aae0298d94c79c6e8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a8ffabc771a36e83aae0298d94c79c6e8">environment</a><code> [get, set]</code></td></tr>
<tr class="separator:a8ffabc771a36e83aae0298d94c79c6e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09f9e96172933b319fb277f61240fbe0"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; string, bool &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml#a09f9e96172933b319fb277f61240fbe0">rules</a><code> [get, set]</code></td></tr>
<tr class="separator:a09f9e96172933b319fb277f61240fbe0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Property Documentation</h2>
<a id="a7ad9111ff107c4e10f9edc7cc5727d75" name="a7ad9111ff107c4e10f9edc7cc5727d75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ad9111ff107c4e10f9edc7cc5727d75">&#9670;&#160;</a></span>battlescene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMetaData.battlescene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa8d9ea71575ea10faa74a279ab0ed3c8" name="aa8d9ea71575ea10faa74a279ab0ed3c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa8d9ea71575ea10faa74a279ab0ed3c8">&#9670;&#160;</a></span>cantescape</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMetaData.cantescape</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0f22bb47ffda186b25e39b6449f1a4e5" name="a0f22bb47ffda186b25e39b6449f1a4e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f22bb47ffda186b25e39b6449f1a4e5">&#9670;&#160;</a></span>doublebattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMetaData.doublebattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a50b9aa008274dd1b7e992d17a3accd65" name="a50b9aa008274dd1b7e992d17a3accd65"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50b9aa008274dd1b7e992d17a3accd65">&#9670;&#160;</a></span>endspeech</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattleMetaData.endspeech</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71c124ae7a2312156e664fed410bd2fd" name="a71c124ae7a2312156e664fed410bd2fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71c124ae7a2312156e664fed410bd2fd">&#9670;&#160;</a></span>endspeech2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattleMetaData.endspeech2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8e02976e7468c1f7abe520618e498a74" name="a8e02976e7468c1f7abe520618e498a74"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e02976e7468c1f7abe520618e498a74">&#9670;&#160;</a></span>endspeechwin</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattleMetaData.endspeechwin</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a60fa63007650e6fd54537f02f24d54d5" name="a60fa63007650e6fd54537f02f24d54d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a60fa63007650e6fd54537f02f24d54d5">&#9670;&#160;</a></span>endspeechwin2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattleMetaData.endspeechwin2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8ffabc771a36e83aae0298d94c79c6e8" name="a8ffabc771a36e83aae0298d94c79c6e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ffabc771a36e83aae0298d94c79c6e8">&#9670;&#160;</a></span>environment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleMetaData.environment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6df37c6e0ca9e5f443cc908ce9b60a5a" name="a6df37c6e0ca9e5f443cc908ce9b60a5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6df37c6e0ca9e5f443cc908ce9b60a5a">&#9670;&#160;</a></span>internalbattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMetaData.internalbattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af43554d3d138368237bd4c55c50ecc32" name="af43554d3d138368237bd4c55c50ecc32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af43554d3d138368237bd4c55c50ecc32">&#9670;&#160;</a></span>items</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> [][] PokemonEssentials.Interface.PokeBattle.IBattleMetaData.items</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3b98999e48fdee9ef3de833157f0dcb3" name="a3b98999e48fdee9ef3de833157f0dcb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b98999e48fdee9ef3de833157f0dcb3">&#9670;&#160;</a></span>opponent</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> [] PokemonEssentials.Interface.PokeBattle.IBattleMetaData.opponent</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a169e909a7ca9ec958a68a1748dc510ac" name="a169e909a7ca9ec958a68a1748dc510ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a169e909a7ca9ec958a68a1748dc510ac">&#9670;&#160;</a></span>party1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> [] PokemonEssentials.Interface.PokeBattle.IBattleMetaData.party1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a98e5f15851fd461c7edadd264862ed7d" name="a98e5f15851fd461c7edadd264862ed7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98e5f15851fd461c7edadd264862ed7d">&#9670;&#160;</a></span>party2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> [] PokemonEssentials.Interface.PokeBattle.IBattleMetaData.party2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aab5a50f97f65ebadfa56e96e8d160b67" name="aab5a50f97f65ebadfa56e96e8d160b67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab5a50f97f65ebadfa56e96e8d160b67">&#9670;&#160;</a></span>player</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> [] PokemonEssentials.Interface.PokeBattle.IBattleMetaData.player</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a09f9e96172933b319fb277f61240fbe0" name="a09f9e96172933b319fb277f61240fbe0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09f9e96172933b319fb277f61240fbe0">&#9670;&#160;</a></span>rules</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;string,bool&gt; PokemonEssentials.Interface.PokeBattle.IBattleMetaData.rules</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa1dcc6cad0286b7432311bb34bf929b5" name="aa1dcc6cad0286b7432311bb34bf929b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1dcc6cad0286b7432311bb34bf929b5">&#9670;&#160;</a></span>shiftStyle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleMetaData.shiftStyle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1210590007825074848919bae8e0fac1" name="a1210590007825074848919bae8e0fac1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1210590007825074848919bae8e0fac1">&#9670;&#160;</a></span>weather</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleMetaData.weather</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a63a88af26e5afd6520368ac96e655a1e" name="a63a88af26e5afd6520368ac96e655a1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63a88af26e5afd6520368ac96e655a1e">&#9670;&#160;</a></span>weatherduration</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleMetaData.weatherduration</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>

