@{
	Page.Title = "PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml">IWindow_PokemonItemStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8dbd0be37be542f9e0622a55d9d15e94"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml">IWindow_PokemonItemStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#a8dbd0be37be542f9e0622a55d9d15e94">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#aee367bdc439ceb4c3e1f3591485de0f6">bag</a>, float x, float y, float width, float height)</td></tr>
<tr class="separator:a8dbd0be37be542f9e0622a55d9d15e94"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ba8f89326e70c2419d75feb0ab8aea3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#a6ba8f89326e70c2419d75feb0ab8aea3">itemCount</a> ()</td></tr>
<tr class="separator:a6ba8f89326e70c2419d75feb0ab8aea3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a96400c820e556b9a4099c293850f6836"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#a96400c820e556b9a4099c293850f6836">drawItem</a> (int index, int count, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:a96400c820e556b9a4099c293850f6836"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aee367bdc439ceb4c3e1f3591485de0f6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#aee367bdc439ceb4c3e1f3591485de0f6">bag</a> <code>[get, set]</code></td></tr>
<tr class="separator:aee367bdc439ceb4c3e1f3591485de0f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a735641b11428d4e8df51c5ea9e5e2005"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#a735641b11428d4e8df51c5ea9e5e2005">pocket</a> <code>[get, set]</code></td></tr>
<tr class="separator:a735641b11428d4e8df51c5ea9e5e2005"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac259980a07be0a9e1c0a733624717934"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#ac259980a07be0a9e1c0a733624717934">sortIndex</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac259980a07be0a9e1c0a733624717934"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e9cadfa198ad46aed50e783792f4d30"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml#a3e9cadfa198ad46aed50e783792f4d30">item</a> <code>[get]</code></td></tr>
<tr class="separator:a3e9cadfa198ad46aed50e783792f4d30"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a96400c820e556b9a4099c293850f6836" name="a96400c820e556b9a4099c293850f6836"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a96400c820e556b9a4099c293850f6836">&#9670;&#160;</a></span>drawItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.drawItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>count</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8dbd0be37be542f9e0622a55d9d15e94" name="a8dbd0be37be542f9e0622a55d9d15e94"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8dbd0be37be542f9e0622a55d9d15e94">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_item_storage.cshtml">IWindow_PokemonItemStorage</a> PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td>
          <td class="paramname"><em>bag</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6ba8f89326e70c2419d75feb0ab8aea3" name="a6ba8f89326e70c2419d75feb0ab8aea3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ba8f89326e70c2419d75feb0ab8aea3">&#9670;&#160;</a></span>itemCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.itemCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aee367bdc439ceb4c3e1f3591485de0f6" name="aee367bdc439ceb4c3e1f3591485de0f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee367bdc439ceb4c3e1f3591485de0f6">&#9670;&#160;</a></span>bag</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.bag</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e9cadfa198ad46aed50e783792f4d30" name="a3e9cadfa198ad46aed50e783792f4d30"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e9cadfa198ad46aed50e783792f4d30">&#9670;&#160;</a></span>item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a735641b11428d4e8df51c5ea9e5e2005" name="a735641b11428d4e8df51c5ea9e5e2005"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a735641b11428d4e8df51c5ea9e5e2005">&#9670;&#160;</a></span>pocket</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.pocket</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac259980a07be0a9e1c0a733624717934" name="ac259980a07be0a9e1c0a733624717934"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac259980a07be0a9e1c0a733624717934">&#9670;&#160;</a></span>sortIndex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PokemonItemStorage.sortIndex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_item_8cs.cshtml">IPCStorageItem.cs</a></li>
</ul>
