@{
	Page.Title = "PokemonEssentials.Interface.Field.ISafariState Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ISafariState Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.ISafariState:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.png" usemap="#PokemonEssentials.Interface.Field.ISafariState_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.ISafariState_map" name="PokemonEssentials.Interface.Field.ISafariState_map">
<area href="class_pokemon_unity_1_1_safari_state.cshtml" alt="PokemonUnity.SafariState" shape="rect" coords="0,56,274,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abab00ca9db3489584a88cb057811d446"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abab00ca9db3489584a88cb057811d446">initialize</a> ()</td></tr>
<tr class="separator:abab00ca9db3489584a88cb057811d446"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf7c15b32cc090d0fc736496195ef7cc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abf7c15b32cc090d0fc736496195ef7cc">GoToStart</a> ()</td></tr>
<tr class="separator:abf7c15b32cc090d0fc736496195ef7cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a821214300a96344719d9ee110ec70c96"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a821214300a96344719d9ee110ec70c96">Start</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">ballcount</a>)</td></tr>
<tr class="separator:a821214300a96344719d9ee110ec70c96"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae0505e66f12697b0a640bf895e6ae5f0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#ae0505e66f12697b0a640bf895e6ae5f0">End</a> ()</td></tr>
<tr class="separator:ae0505e66f12697b0a640bf895e6ae5f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a163d2afdead3195b5e7ffacdaa275445"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">ballcount</a> <code>[get, set]</code></td></tr>
<tr class="separator:a163d2afdead3195b5e7ffacdaa275445"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c5323c95bd4e9b922a8dccddbd28f2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a25c5323c95bd4e9b922a8dccddbd28f2">decision</a> <code>[get, set]</code></td></tr>
<tr class="separator:a25c5323c95bd4e9b922a8dccddbd28f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a273bf6a10508bf75014a88959e195206"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a273bf6a10508bf75014a88959e195206">steps</a> <code>[get, set]</code></td></tr>
<tr class="separator:a273bf6a10508bf75014a88959e195206"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af92d6c76cfe52700e11178fc37b1132e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#af92d6c76cfe52700e11178fc37b1132e">ReceptionMap</a> <code>[get]</code></td></tr>
<tr class="separator:af92d6c76cfe52700e11178fc37b1132e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc900e0504b05ad8fbad5acca88cb65d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#acc900e0504b05ad8fbad5acca88cb65d">InProgress</a> <code>[get]</code></td></tr>
<tr class="separator:acc900e0504b05ad8fbad5acca88cb65d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ae0505e66f12697b0a640bf895e6ae5f0" name="ae0505e66f12697b0a640bf895e6ae5f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae0505e66f12697b0a640bf895e6ae5f0">&#9670;&#160;</a></span>End()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.ISafariState.End </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a9c1468eb70c2d98d1cb31155bf2e8800">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="abf7c15b32cc090d0fc736496195ef7cc" name="abf7c15b32cc090d0fc736496195ef7cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf7c15b32cc090d0fc736496195ef7cc">&#9670;&#160;</a></span>GoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.ISafariState.GoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#aff84509de640b6009d55a709d7990664">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="abab00ca9db3489584a88cb057811d446" name="abab00ca9db3489584a88cb057811d446"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abab00ca9db3489584a88cb057811d446">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a> PokemonEssentials.Interface.Field.ISafariState.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afe434ad00739acf81d82bdf447d2d084">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="a821214300a96344719d9ee110ec70c96" name="a821214300a96344719d9ee110ec70c96"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a821214300a96344719d9ee110ec70c96">&#9670;&#160;</a></span>Start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.ISafariState.Start </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ballcount</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a837c8487f1baf2770d6c2df75444c1c4">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a163d2afdead3195b5e7ffacdaa275445" name="a163d2afdead3195b5e7ffacdaa275445"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a163d2afdead3195b5e7ffacdaa275445">&#9670;&#160;</a></span>ballcount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ISafariState.ballcount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a26db933bc0619b87b509dabe7c774388">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="a25c5323c95bd4e9b922a8dccddbd28f2" name="a25c5323c95bd4e9b922a8dccddbd28f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25c5323c95bd4e9b922a8dccddbd28f2">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Field.ISafariState.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a6f2b28cbe3c49562055de4ebf75e5bbc">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="acc900e0504b05ad8fbad5acca88cb65d" name="acc900e0504b05ad8fbad5acca88cb65d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc900e0504b05ad8fbad5acca88cb65d">&#9670;&#160;</a></span>InProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.ISafariState.InProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#a10466f870e37fcbd339cacfedf57e213">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="af92d6c76cfe52700e11178fc37b1132e" name="af92d6c76cfe52700e11178fc37b1132e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af92d6c76cfe52700e11178fc37b1132e">&#9670;&#160;</a></span>ReceptionMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ISafariState.ReceptionMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afca4f937ed7a8e05c2b4ac864f56c300">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<a id="a273bf6a10508bf75014a88959e195206" name="a273bf6a10508bf75014a88959e195206"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a273bf6a10508bf75014a88959e195206">&#9670;&#160;</a></span>steps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ISafariState.steps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_safari_state.cshtml#afb726bbc6ac388f3b8fa16adbd2721e1">PokemonUnity.SafariState</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_safari_state_8cs.cshtml">ISafariState.cs</a></li>
</ul>

