@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.ITossItemScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.cshtml">ITossItemScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ITossItemScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ITossItemScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.png" usemap="#PokemonEssentials.Interface.Screen.ITossItemScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.ITossItemScene_map" name="PokemonEssentials.Interface.Screen.ITossItemScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IItemStorageScene" shape="rect" coords="0,112,340,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,340,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,340,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af0e95f3aeed74e2f4bb33f6927ab0b20"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.cshtml">ITossItemScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.cshtml#af0e95f3aeed74e2f4bb33f6927ab0b20">initialize</a> ()</td></tr>
<tr class="separator:af0e95f3aeed74e2f4bb33f6927ab0b20"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">PokemonEssentials.Interface.Screen.IItemStorageScene</a></td></tr>
<tr class="memitem:a645017b97f46f5fc07f6201794f26593 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">IItemStorageScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a645017b97f46f5fc07f6201794f26593">initialize</a> (string title)</td></tr>
<tr class="separator:a645017b97f46f5fc07f6201794f26593 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b1fbecaee3cc59d60de997d1dc88a7d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a1b1fbecaee3cc59d60de997d1dc88a7d">update</a> ()</td></tr>
<tr class="separator:a1b1fbecaee3cc59d60de997d1dc88a7d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fd873ae5820b1e09dd0189e88af7e27 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a3fd873ae5820b1e09dd0189e88af7e27">StartScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> bag)</td></tr>
<tr class="separator:a3fd873ae5820b1e09dd0189e88af7e27 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e82f8400dfc7314a4efd4e5688d4e59 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a0e82f8400dfc7314a4efd4e5688d4e59">EndScene</a> ()</td></tr>
<tr class="separator:a0e82f8400dfc7314a4efd4e5688d4e59 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23943bee6abe8f179d7d506a0c026fdf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a23943bee6abe8f179d7d506a0c026fdf">ChooseItem</a> ()</td></tr>
<tr class="separator:a23943bee6abe8f179d7d506a0c026fdf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2382c47d22f953fc2cc4b77136c15781 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2382c47d22f953fc2cc4b77136c15781">ChooseNumber</a> (string helptext, int maximum)</td></tr>
<tr class="separator:a2382c47d22f953fc2cc4b77136c15781 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2894b7cf448ccf2840c94c18b5655e1d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2894b7cf448ccf2840c94c18b5655e1d">Display</a> (string msg, bool brief=false)</td></tr>
<tr class="separator:a2894b7cf448ccf2840c94c18b5655e1d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0b59db2ce7fdf50e107ec5be49f2c48 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#ad0b59db2ce7fdf50e107ec5be49f2c48">Confirm</a> (string msg)</td></tr>
<tr class="separator:ad0b59db2ce7fdf50e107ec5be49f2c48 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a13fa87424c338c5d64a2d5865a60b6cf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a13fa87424c338c5d64a2d5865a60b6cf">ShowCommands</a> (string helptext, string[] commands)</td></tr>
<tr class="separator:a13fa87424c338c5d64a2d5865a60b6cf inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">PokemonEssentials.Interface.Screen.IItemStorageScene</a></td></tr>
<tr class="memitem:a71460657ca297a998653264002374a27 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a71460657ca297a998653264002374a27">ITEMLISTBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a71460657ca297a998653264002374a27 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add2fd28170b1c081ea4f4cafec36e63a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#add2fd28170b1c081ea4f4cafec36e63a">ITEMLISTSHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:add2fd28170b1c081ea4f4cafec36e63a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad26689dd530b43a7f2bdaf1fd1943ac7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#ad26689dd530b43a7f2bdaf1fd1943ac7">ITEMTEXTBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:ad26689dd530b43a7f2bdaf1fd1943ac7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb4bfd3f873ef55df7dd1074fa0326fe inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#aeb4bfd3f873ef55df7dd1074fa0326fe">ITEMTEXTSHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:aeb4bfd3f873ef55df7dd1074fa0326fe inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a371ad84ac0c20994a85b632c7410382a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a371ad84ac0c20994a85b632c7410382a">TITLEBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a371ad84ac0c20994a85b632c7410382a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f6ba1caa34126b1b8301e5b2446d6c5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a8f6ba1caa34126b1b8301e5b2446d6c5">TITLESHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a8f6ba1caa34126b1b8301e5b2446d6c5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2f1bdc4bf211c559f774d308135042b9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2f1bdc4bf211c559f774d308135042b9">ITEMSVISIBLE</a><code> [get]</code></td></tr>
<tr class="separator:a2f1bdc4bf211c559f774d308135042b9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af0e95f3aeed74e2f4bb33f6927ab0b20" name="af0e95f3aeed74e2f4bb33f6927ab0b20"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0e95f3aeed74e2f4bb33f6927ab0b20">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.cshtml">ITossItemScene</a> PokemonEssentials.Interface.Screen.ITossItemScene.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_item_8cs.cshtml">IPCStorageItem.cs</a></li>
</ul>

