@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml">IGameSave</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameSave Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml">PokemonEssentials.Interface.Screen.IGameSave</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml#a2bef4997fc39ed46fce333bef5c787b3">pbEmergencySave</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml">PokemonEssentials.Interface.Screen.IGameSave</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml#a896bee46ab5e8a18cf56e753ea5b1304">pbSave</a>(bool safesave=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_save.cshtml">PokemonEssentials.Interface.Screen.IGameSave</a></td><td class="entry"></td></tr>
</table>