@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">IPokemonSummaryScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a66f73c2339357ae800632d186a55c686">initialize</a>(IPokemonSummaryScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#ab4052149b657508187aa7e1ab0d52642">pbStartChooseMoveScreen</a>(IPokemon[] party, int partyindex, string message)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a54f3c610111279156c0df01af5d6b63b">pbStartChooseMoveScreen</a>(IPokemon party, int partyindex, string message)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#ab9eed8ad42622503c8ca2211cbd2504b">pbStartForgetScreen</a>(IPokemon party, int partyindex, Moves moveToLearn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a5eb55e8b4dd51881ee7d51d2cf2fae02">pbStartScreen</a>(IPokemon[] party, int partyindex)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
</table>