@{
	Page.Title = "PokemonEssentials.Interface.IAudio Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">IAudio</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudio Interface Reference</div></div>
}


<p>The module that carries out music and sound processing.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IAudio:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_audio.png" usemap="#PokemonEssentials.Interface.IAudio_map" alt=""/>
  <map id="PokemonEssentials.Interface.IAudio_map" name="PokemonEssentials.Interface.IAudio_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml" alt="PokemonEssentials.Interface.IAudioObject" shape="rect" coords="260,0,510,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml" alt="PokemonEssentials.Interface.IAudioBGS" shape="rect" coords="0,112,250,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml" alt="PokemonEssentials.Interface.IAudioME" shape="rect" coords="260,112,510,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml" alt="PokemonEssentials.Interface.IAudioSE" shape="rect" coords="520,112,770,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6bdf4bf52db3d0bcfe81e3ab65f9997f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">bgm_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a6bdf4bf52db3d0bcfe81e3ab65f9997f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGM playback. Sets the file name, volume, and pitch in turn.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">More...</a><br /></td></tr>
<tr class="separator:a6bdf4bf52db3d0bcfe81e3ab65f9997f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97b16b2a006043fbbd1de5b3fc4c2590"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">bgm_stop</a> ()</td></tr>
<tr class="memdesc:a97b16b2a006043fbbd1de5b3fc4c2590"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops BGM playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">More...</a><br /></td></tr>
<tr class="separator:a97b16b2a006043fbbd1de5b3fc4c2590"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac948681c62ecd129a528f8b6eba9b002"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">bgm_fade</a> (int time)</td></tr>
<tr class="memdesc:ac948681c62ecd129a528f8b6eba9b002"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGM fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">More...</a><br /></td></tr>
<tr class="separator:ac948681c62ecd129a528f8b6eba9b002"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4287626bd4ee60d6316558eb1d6e6ef0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">bgs_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a4287626bd4ee60d6316558eb1d6e6ef0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGS playback. Sets the file name, volume, and pitch in turn.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">More...</a><br /></td></tr>
<tr class="separator:a4287626bd4ee60d6316558eb1d6e6ef0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1cc245328a0d4ad7fdbcf26a77716b3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">bgs_stop</a> ()</td></tr>
<tr class="memdesc:af1cc245328a0d4ad7fdbcf26a77716b3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">More...</a><br /></td></tr>
<tr class="separator:af1cc245328a0d4ad7fdbcf26a77716b3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6ced8f833eb0cb75140fe3d93e6103e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">bgs_fade</a> (int time)</td></tr>
<tr class="memdesc:af6ced8f833eb0cb75140fe3d93e6103e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGS fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">More...</a><br /></td></tr>
<tr class="separator:af6ced8f833eb0cb75140fe3d93e6103e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1f3102a0e225afa7add3c6bd8a9ac3b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac1f3102a0e225afa7add3c6bd8a9ac3b">me_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:ac1f3102a0e225afa7add3c6bd8a9ac3b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts ME playback. Sets the file name, volume, and pitch in turn. When ME is playing, the BGM will temporarily stop.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac1f3102a0e225afa7add3c6bd8a9ac3b">More...</a><br /></td></tr>
<tr class="separator:ac1f3102a0e225afa7add3c6bd8a9ac3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">me_stop</a> ()</td></tr>
<tr class="memdesc:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">More...</a><br /></td></tr>
<tr class="separator:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad819f8418fc7f71af529e952d9cf5fdc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ad819f8418fc7f71af529e952d9cf5fdc">me_fade</a> (int time)</td></tr>
<tr class="memdesc:ad819f8418fc7f71af529e952d9cf5fdc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts ME fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ad819f8418fc7f71af529e952d9cf5fdc">More...</a><br /></td></tr>
<tr class="separator:ad819f8418fc7f71af529e952d9cf5fdc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a303701f57d68850a372da0651cfaa3d6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a303701f57d68850a372da0651cfaa3d6">se_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a303701f57d68850a372da0651cfaa3d6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts SE playback. Sets the file name, volume, and pitch in turn. When attempting to play the same SE more than once in a very short period, they will automatically be filtered to prevent choppy playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a303701f57d68850a372da0651cfaa3d6">More...</a><br /></td></tr>
<tr class="separator:a303701f57d68850a372da0651cfaa3d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e245e9b640aaad6d2815771bfae2608"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a3e245e9b640aaad6d2815771bfae2608">se_stop</a> ()</td></tr>
<tr class="memdesc:a3e245e9b640aaad6d2815771bfae2608"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a3e245e9b640aaad6d2815771bfae2608">More...</a><br /></td></tr>
<tr class="separator:a3e245e9b640aaad6d2815771bfae2608"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td></tr>
<tr class="memitem:a8e7a6731cead227df83168b23d663cdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a8e7a6731cead227df83168b23d663cdb">name</a> <code>[get, set]</code></td></tr>
<tr class="separator:a8e7a6731cead227df83168b23d663cdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b51eb9bf78c5f7bed5d23cc66a3b16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a> <code>[get, set]</code></td></tr>
<tr class="separator:a44b51eb9bf78c5f7bed5d23cc66a3b16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3faf75da405b41a32b67c33aeb1d21fd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a> <code>[get, set]</code></td></tr>
<tr class="separator:a3faf75da405b41a32b67c33aeb1d21fd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The module that carries out music and sound processing.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac948681c62ecd129a528f8b6eba9b002" name="ac948681c62ecd129a528f8b6eba9b002"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac948681c62ecd129a528f8b6eba9b002">&#9670;&#160;</a></span>bgm_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgm_fade </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts BGM fadeout.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td>time is the length of the fadeout in milliseconds.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a6bdf4bf52db3d0bcfe81e3ab65f9997f" name="a6bdf4bf52db3d0bcfe81e3ab65f9997f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6bdf4bf52db3d0bcfe81e3ab65f9997f">&#9670;&#160;</a></span>bgm_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgm_play </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts BGM playback. Sets the file name, volume, and pitch in turn.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">filename</td><td></td></tr>
    <tr><td class="paramname">volume</td><td></td></tr>
    <tr><td class="paramname">pitch</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a97b16b2a006043fbbd1de5b3fc4c2590" name="a97b16b2a006043fbbd1de5b3fc4c2590"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97b16b2a006043fbbd1de5b3fc4c2590">&#9670;&#160;</a></span>bgm_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgm_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops BGM playback.  </p>

</div>
</div>
<a id="af6ced8f833eb0cb75140fe3d93e6103e" name="af6ced8f833eb0cb75140fe3d93e6103e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6ced8f833eb0cb75140fe3d93e6103e">&#9670;&#160;</a></span>bgs_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgs_fade </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts BGS fadeout.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td>time is the length of the fadeout in milliseconds.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a4287626bd4ee60d6316558eb1d6e6ef0" name="a4287626bd4ee60d6316558eb1d6e6ef0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4287626bd4ee60d6316558eb1d6e6ef0">&#9670;&#160;</a></span>bgs_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgs_play </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts BGS playback. Sets the file name, volume, and pitch in turn.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">filename</td><td></td></tr>
    <tr><td class="paramname">volume</td><td></td></tr>
    <tr><td class="paramname">pitch</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="af1cc245328a0d4ad7fdbcf26a77716b3" name="af1cc245328a0d4ad7fdbcf26a77716b3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1cc245328a0d4ad7fdbcf26a77716b3">&#9670;&#160;</a></span>bgs_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.bgs_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops BGS playback.  </p>

</div>
</div>
<a id="ad819f8418fc7f71af529e952d9cf5fdc" name="ad819f8418fc7f71af529e952d9cf5fdc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad819f8418fc7f71af529e952d9cf5fdc">&#9670;&#160;</a></span>me_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.me_fade </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts ME fadeout.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td>time is the length of the fadeout in milliseconds.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ac1f3102a0e225afa7add3c6bd8a9ac3b" name="ac1f3102a0e225afa7add3c6bd8a9ac3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1f3102a0e225afa7add3c6bd8a9ac3b">&#9670;&#160;</a></span>me_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.me_play </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts ME playback. Sets the file name, volume, and pitch in turn. When ME is playing, the BGM will temporarily stop.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">filename</td><td></td></tr>
    <tr><td class="paramname">volume</td><td></td></tr>
    <tr><td class="paramname">pitch</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a85d4bb2ec7fb33a2b6bcc02c70ac5f6a" name="a85d4bb2ec7fb33a2b6bcc02c70ac5f6a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">&#9670;&#160;</a></span>me_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.me_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops ME playback.  </p>

</div>
</div>
<a id="a303701f57d68850a372da0651cfaa3d6" name="a303701f57d68850a372da0651cfaa3d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a303701f57d68850a372da0651cfaa3d6">&#9670;&#160;</a></span>se_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.se_play </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>filename</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts SE playback. Sets the file name, volume, and pitch in turn. When attempting to play the same SE more than once in a very short period, they will automatically be filtered to prevent choppy playback.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">filename</td><td></td></tr>
    <tr><td class="paramname">volume</td><td></td></tr>
    <tr><td class="paramname">pitch</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a3e245e9b640aaad6d2815771bfae2608" name="a3e245e9b640aaad6d2815771bfae2608"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e245e9b640aaad6d2815771bfae2608">&#9670;&#160;</a></span>se_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudio.se_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops ME playback.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
