@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">ITrainerFadeAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a2937155136e960c4b48572ae4cfa0261">animdone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a9ba65381a3f2e3cf8f960c2e66cb7795">initialize</a>(IDictionary&lt; string, ISprite &gt; sprites)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a552d4bdf3c57652548f0a903e5ef46c2">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation</a></td><td class="entry"></td></tr>
</table>
