@{
	Page.Title = "PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_team_restriction.cshtml">IRestrictedSpeciesTeamRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_team_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_team_restriction.png" usemap="#PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction_map" name="PokemonEssentials.Interface.Battle.IRestrictedSpeciesTeamRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IRestrictedSpeciesRestriction" shape="rect" coords="0,56,405,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleTeamRestriction" shape="rect" coords="0,0,405,24"/>
<area href="class_pokemon_unity_1_1_restricted_species_team_restriction.cshtml" alt="PokemonUnity.RestrictedSpeciesTeamRestriction" shape="rect" coords="0,168,405,192"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction.cshtml">PokemonEssentials.Interface.Battle.IRestrictedSpeciesRestriction</a></td></tr>
<tr class="memitem:af82cc1ce03e1e7a986a5d41781fbf4f1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction.cshtml#af82cc1ce03e1e7a986a5d41781fbf4f1">isSpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] specieslist)</td></tr>
<tr class="separator:af82cc1ce03e1e7a986a5d41781fbf4f1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_restricted_species_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td></tr>
<tr class="memitem:a860b976789f973f85c94be8de8fe672b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#a860b976789f973f85c94be8de8fe672b">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team)</td></tr>
<tr class="separator:a860b976789f973f85c94be8de8fe672b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleTeamRestriction</a></td></tr>
<tr class="memitem:ab3405adc214f2b542307b943ec0ed821 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml#ab3405adc214f2b542307b943ec0ed821">errorMessage</a> <code>[get]</code></td></tr>
<tr class="separator:ab3405adc214f2b542307b943ec0ed821 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

