@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IBerryPlantSprite Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml">IBerryPlantSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IBerryPlantSprite Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IBerryPlantSprite:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af744f5d6e514fcd9b4a07ab1e716f4eb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml">IBerryPlantSprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#af744f5d6e514fcd9b4a07ab1e716f4eb">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> map, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport)</td></tr>
<tr class="separator:af744f5d6e514fcd9b4a07ab1e716f4eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79b687a17215470a425d850f55839abe"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#a79b687a17215470a425d850f55839abe">dispose</a> ()</td></tr>
<tr class="separator:a79b687a17215470a425d850f55839abe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1f1bdd34223dd3842fa4efc6ce050ff"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#ae1f1bdd34223dd3842fa4efc6ce050ff">disposed</a> ()</td></tr>
<tr class="separator:ae1f1bdd34223dd3842fa4efc6ce050ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a975ac95ef6dbde9a56144c76428521db"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#a975ac95ef6dbde9a56144c76428521db">update</a> ()</td></tr>
<tr class="memdesc:a975ac95ef6dbde9a56144c76428521db"><td class="mdescLeft">&#160;</td><td class="mdescRight">Constantly updates, used only to immediately change sprite when planting/picking berries   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#a975ac95ef6dbde9a56144c76428521db">More...</a><br /></td></tr>
<tr class="separator:a975ac95ef6dbde9a56144c76428521db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06d7cb59bfa82232547955710b026db2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#a06d7cb59bfa82232547955710b026db2">updatePlantDetails</a> (<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a> berryData)</td></tr>
<tr class="separator:a06d7cb59bfa82232547955710b026db2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62161f923da7894c77c4f40e22b10b52"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml#a62161f923da7894c77c4f40e22b10b52">setGraphic</a> (<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a> berryData, bool fullcheck=false)</td></tr>
<tr class="separator:a62161f923da7894c77c4f40e22b10b52"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a79b687a17215470a425d850f55839abe" name="a79b687a17215470a425d850f55839abe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79b687a17215470a425d850f55839abe">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IBerryPlantSprite.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1f1bdd34223dd3842fa4efc6ce050ff" name="ae1f1bdd34223dd3842fa4efc6ce050ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1f1bdd34223dd3842fa4efc6ce050ff">&#9670;&#160;</a></span>disposed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IBerryPlantSprite.disposed </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af744f5d6e514fcd9b4a07ab1e716f4eb" name="af744f5d6e514fcd9b4a07ab1e716f4eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af744f5d6e514fcd9b4a07ab1e716f4eb">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_sprite.cshtml">IBerryPlantSprite</a> PokemonEssentials.Interface.Field.IBerryPlantSprite.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a62161f923da7894c77c4f40e22b10b52" name="a62161f923da7894c77c4f40e22b10b52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62161f923da7894c77c4f40e22b10b52">&#9670;&#160;</a></span>setGraphic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IBerryPlantSprite.setGraphic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a>&#160;</td>
          <td class="paramname"><em>berryData</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>fullcheck</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a975ac95ef6dbde9a56144c76428521db" name="a975ac95ef6dbde9a56144c76428521db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a975ac95ef6dbde9a56144c76428521db">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Field.IBerryPlantSprite.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Constantly updates, used only to immediately change sprite when planting/picking berries  </p>

</div>
</div>
<a id="a06d7cb59bfa82232547955710b026db2" name="a06d7cb59bfa82232547955710b026db2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a06d7cb59bfa82232547955710b026db2">&#9670;&#160;</a></span>updatePlantDetails()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a> PokemonEssentials.Interface.Field.IBerryPlantSprite.updatePlantDetails </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a>&#160;</td>
          <td class="paramname"><em>berryData</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_berry_plants_8cs.cshtml">IBerryPlants.cs</a></li>
</ul>

