@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_language.cshtml">ILanguage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.ILanguage&lt; T &gt; Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_language.cshtml">PokemonUnity.ILanguage&lt; T &gt;</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_language.cshtml#a3ddb00479ba7599a02cf07a2f4194611">ILanguage</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_language.cshtml">PokemonUnity.ILanguage&lt; T &gt;</a></td><td class="entry"></td></tr>
</table>