@{
	Page.Title = "PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">IWindow_PurifyChamberSets</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a21809800c96e89cd36c5ed95e32e5837"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">IWindow_PurifyChamberSets</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a21809800c96e89cd36c5ed95e32e5837">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a> chamber, float x, float y, int width, int height, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a21809800c96e89cd36c5ed95e32e5837"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0004f9c61ed276c28309e76d969a49a7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a0004f9c61ed276c28309e76d969a49a7">itemCount</a> ()</td></tr>
<tr class="separator:a0004f9c61ed276c28309e76d969a49a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2380c65b68f9b1adf96b37e1480988a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a2380c65b68f9b1adf96b37e1480988a6">drawItem</a> (int index, int count, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect)</td></tr>
<tr class="separator:a2380c65b68f9b1adf96b37e1480988a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0704bb83040d2fef1e0e25e107b9f4b0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml#a0704bb83040d2fef1e0e25e107b9f4b0">switching</a><code> [get, set]</code></td></tr>
<tr class="separator:a0704bb83040d2fef1e0e25e107b9f4b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a2380c65b68f9b1adf96b37e1480988a6" name="a2380c65b68f9b1adf96b37e1480988a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2380c65b68f9b1adf96b37e1480988a6">&#9670;&#160;</a></span>drawItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets.drawItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>count</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a21809800c96e89cd36c5ed95e32e5837" name="a21809800c96e89cd36c5ed95e32e5837"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21809800c96e89cd36c5ed95e32e5837">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___purify_chamber_sets.cshtml">IWindow_PurifyChamberSets</a> PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0004f9c61ed276c28309e76d969a49a7" name="a0004f9c61ed276c28309e76d969a49a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0004f9c61ed276c28309e76d969a49a7">&#9670;&#160;</a></span>itemCount()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets.itemCount </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0704bb83040d2fef1e0e25e107b9f4b0" name="a0704bb83040d2fef1e0e25e107b9f4b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0704bb83040d2fef1e0e25e107b9f4b0">&#9670;&#160;</a></span>switching</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IWindow_PurifyChamberSets.switching</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>

