@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml">IGameItemEffect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGameItemEffect Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml">PokemonEssentials.Interface.Item.IGameItemEffect</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml#a57a61817f68a2d1df372b1dace53ce6f">Repel</a>(Items item, int steps)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_item_effect.cshtml">PokemonEssentials.Interface.Item.IGameItemEffect</a></td><td class="entry"></td></tr>
</table>
