@{
	Page.Title = "PokemonEssentials.Interface.Screen.IItemStorageScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">IItemStorageScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IItemStorageScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IItemStorageScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.png" usemap="#PokemonEssentials.Interface.Screen.IItemStorageScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IItemStorageScene_map" name="PokemonEssentials.Interface.Screen.IItemStorageScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="175,56,515,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="175,0,515,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_toss_item_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ITossItemScene" shape="rect" coords="0,168,340,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_withdraw_item_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IWithdrawItemScene" shape="rect" coords="350,168,690,192"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a645017b97f46f5fc07f6201794f26593"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">IItemStorageScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a645017b97f46f5fc07f6201794f26593">initialize</a> (string title)</td></tr>
<tr class="separator:a645017b97f46f5fc07f6201794f26593"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b1fbecaee3cc59d60de997d1dc88a7d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a1b1fbecaee3cc59d60de997d1dc88a7d">update</a> ()</td></tr>
<tr class="separator:a1b1fbecaee3cc59d60de997d1dc88a7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fd873ae5820b1e09dd0189e88af7e27"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a3fd873ae5820b1e09dd0189e88af7e27">StartScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> bag)</td></tr>
<tr class="separator:a3fd873ae5820b1e09dd0189e88af7e27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e82f8400dfc7314a4efd4e5688d4e59"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a0e82f8400dfc7314a4efd4e5688d4e59">EndScene</a> ()</td></tr>
<tr class="separator:a0e82f8400dfc7314a4efd4e5688d4e59"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23943bee6abe8f179d7d506a0c026fdf"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a23943bee6abe8f179d7d506a0c026fdf">ChooseItem</a> ()</td></tr>
<tr class="separator:a23943bee6abe8f179d7d506a0c026fdf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2382c47d22f953fc2cc4b77136c15781"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2382c47d22f953fc2cc4b77136c15781">ChooseNumber</a> (string helptext, int maximum)</td></tr>
<tr class="separator:a2382c47d22f953fc2cc4b77136c15781"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2894b7cf448ccf2840c94c18b5655e1d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2894b7cf448ccf2840c94c18b5655e1d">Display</a> (string msg, bool brief=false)</td></tr>
<tr class="separator:a2894b7cf448ccf2840c94c18b5655e1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0b59db2ce7fdf50e107ec5be49f2c48"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#ad0b59db2ce7fdf50e107ec5be49f2c48">Confirm</a> (string msg)</td></tr>
<tr class="separator:ad0b59db2ce7fdf50e107ec5be49f2c48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a13fa87424c338c5d64a2d5865a60b6cf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a13fa87424c338c5d64a2d5865a60b6cf">ShowCommands</a> (string helptext, string[] commands)</td></tr>
<tr class="separator:a13fa87424c338c5d64a2d5865a60b6cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a71460657ca297a998653264002374a27"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a71460657ca297a998653264002374a27">ITEMLISTBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a71460657ca297a998653264002374a27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add2fd28170b1c081ea4f4cafec36e63a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#add2fd28170b1c081ea4f4cafec36e63a">ITEMLISTSHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:add2fd28170b1c081ea4f4cafec36e63a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad26689dd530b43a7f2bdaf1fd1943ac7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#ad26689dd530b43a7f2bdaf1fd1943ac7">ITEMTEXTBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:ad26689dd530b43a7f2bdaf1fd1943ac7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb4bfd3f873ef55df7dd1074fa0326fe"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#aeb4bfd3f873ef55df7dd1074fa0326fe">ITEMTEXTSHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:aeb4bfd3f873ef55df7dd1074fa0326fe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a371ad84ac0c20994a85b632c7410382a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a371ad84ac0c20994a85b632c7410382a">TITLEBASECOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a371ad84ac0c20994a85b632c7410382a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f6ba1caa34126b1b8301e5b2446d6c5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a8f6ba1caa34126b1b8301e5b2446d6c5">TITLESHADOWCOLOR</a><code> [get]</code></td></tr>
<tr class="separator:a8f6ba1caa34126b1b8301e5b2446d6c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2f1bdc4bf211c559f774d308135042b9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml#a2f1bdc4bf211c559f774d308135042b9">ITEMSVISIBLE</a><code> [get]</code></td></tr>
<tr class="separator:a2f1bdc4bf211c559f774d308135042b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a23943bee6abe8f179d7d506a0c026fdf" name="a23943bee6abe8f179d7d506a0c026fdf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23943bee6abe8f179d7d506a0c026fdf">&#9670;&#160;</a></span>ChooseItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IItemStorageScene.ChooseItem </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2382c47d22f953fc2cc4b77136c15781" name="a2382c47d22f953fc2cc4b77136c15781"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2382c47d22f953fc2cc4b77136c15781">&#9670;&#160;</a></span>ChooseNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IItemStorageScene.ChooseNumber </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maximum</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad0b59db2ce7fdf50e107ec5be49f2c48" name="ad0b59db2ce7fdf50e107ec5be49f2c48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0b59db2ce7fdf50e107ec5be49f2c48">&#9670;&#160;</a></span>Confirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IItemStorageScene.Confirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2894b7cf448ccf2840c94c18b5655e1d" name="a2894b7cf448ccf2840c94c18b5655e1d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2894b7cf448ccf2840c94c18b5655e1d">&#9670;&#160;</a></span>Display()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IItemStorageScene.Display </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>brief</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0e82f8400dfc7314a4efd4e5688d4e59" name="a0e82f8400dfc7314a4efd4e5688d4e59"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e82f8400dfc7314a4efd4e5688d4e59">&#9670;&#160;</a></span>EndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IItemStorageScene.EndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a645017b97f46f5fc07f6201794f26593" name="a645017b97f46f5fc07f6201794f26593"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a645017b97f46f5fc07f6201794f26593">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml">IItemStorageScene</a> PokemonEssentials.Interface.Screen.IItemStorageScene.initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>title</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a13fa87424c338c5d64a2d5865a60b6cf" name="a13fa87424c338c5d64a2d5865a60b6cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a13fa87424c338c5d64a2d5865a60b6cf">&#9670;&#160;</a></span>ShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IItemStorageScene.ShowCommands </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3fd873ae5820b1e09dd0189e88af7e27" name="a3fd873ae5820b1e09dd0189e88af7e27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3fd873ae5820b1e09dd0189e88af7e27">&#9670;&#160;</a></span>StartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IItemStorageScene.StartScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td>
          <td class="paramname"><em>bag</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1b1fbecaee3cc59d60de997d1dc88a7d" name="a1b1fbecaee3cc59d60de997d1dc88a7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b1fbecaee3cc59d60de997d1dc88a7d">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IItemStorageScene.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a71460657ca297a998653264002374a27" name="a71460657ca297a998653264002374a27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71460657ca297a998653264002374a27">&#9670;&#160;</a></span>ITEMLISTBASECOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.ITEMLISTBASECOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="add2fd28170b1c081ea4f4cafec36e63a" name="add2fd28170b1c081ea4f4cafec36e63a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add2fd28170b1c081ea4f4cafec36e63a">&#9670;&#160;</a></span>ITEMLISTSHADOWCOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.ITEMLISTSHADOWCOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2f1bdc4bf211c559f774d308135042b9" name="a2f1bdc4bf211c559f774d308135042b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2f1bdc4bf211c559f774d308135042b9">&#9670;&#160;</a></span>ITEMSVISIBLE</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IItemStorageScene.ITEMSVISIBLE</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad26689dd530b43a7f2bdaf1fd1943ac7" name="ad26689dd530b43a7f2bdaf1fd1943ac7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad26689dd530b43a7f2bdaf1fd1943ac7">&#9670;&#160;</a></span>ITEMTEXTBASECOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.ITEMTEXTBASECOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb4bfd3f873ef55df7dd1074fa0326fe" name="aeb4bfd3f873ef55df7dd1074fa0326fe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb4bfd3f873ef55df7dd1074fa0326fe">&#9670;&#160;</a></span>ITEMTEXTSHADOWCOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.ITEMTEXTSHADOWCOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a371ad84ac0c20994a85b632c7410382a" name="a371ad84ac0c20994a85b632c7410382a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a371ad84ac0c20994a85b632c7410382a">&#9670;&#160;</a></span>TITLEBASECOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.TITLEBASECOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f6ba1caa34126b1b8301e5b2446d6c5" name="a8f6ba1caa34126b1b8301e5b2446d6c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f6ba1caa34126b1b8301e5b2446d6c5">&#9670;&#160;</a></span>TITLESHADOWCOLOR</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.IItemStorageScene.TITLESHADOWCOLOR</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_item_8cs.cshtml">IPCStorageItem.cs</a></li>
</ul>

