@{
	Page.Title = "PokemonEssentials.Interface.ISpriteAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml">ISpriteAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteAnimation Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISpriteAnimation:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a057fafcb83c4b7d18fab101b27d01a5f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a057fafcb83c4b7d18fab101b27d01a5f">clear</a> ()</td></tr>
<tr class="separator:a057fafcb83c4b7d18fab101b27d01a5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2dd5febfae328f4f1d5d8e6621d9d46"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#ae2dd5febfae328f4f1d5d8e6621d9d46">dispose</a> ()</td></tr>
<tr class="memdesc:ae2dd5febfae328f4f1d5d8e6621d9d46"><td class="mdescLeft">&#160;</td><td class="mdescRight">Frees the sprite. If the sprite has already been freed, does nothing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#ae2dd5febfae328f4f1d5d8e6621d9d46">More...</a><br /></td></tr>
<tr class="separator:ae2dd5febfae328f4f1d5d8e6621d9d46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a16a77eb1596a915604ed910d0457b24a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a16a77eb1596a915604ed910d0457b24a">animation</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> animation, int hit)</td></tr>
<tr class="separator:a16a77eb1596a915604ed910d0457b24a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9256f3f6132d7bdda16a7e69e174cd09"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a9256f3f6132d7bdda16a7e69e174cd09">loop_animation</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a16a77eb1596a915604ed910d0457b24a">animation</a>)</td></tr>
<tr class="separator:a9256f3f6132d7bdda16a7e69e174cd09"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a67a1b3c12d4ebcc6ef5bc609464871d2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a67a1b3c12d4ebcc6ef5bc609464871d2">dispose_animation</a> ()</td></tr>
<tr class="separator:a67a1b3c12d4ebcc6ef5bc609464871d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfd42bf8e41734595089b6d76184d99d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#acfd42bf8e41734595089b6d76184d99d">dispose_loop_animation</a> ()</td></tr>
<tr class="separator:acfd42bf8e41734595089b6d76184d99d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac8e1dc3bcda2abf63cd18ce33d756fd6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml">ISpriteAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#ac8e1dc3bcda2abf63cd18ce33d756fd6">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> sprite)</td></tr>
<tr class="separator:ac8e1dc3bcda2abf63cd18ce33d756fd6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac045fffa20f2572a1b41cd7c1098d651"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#ac045fffa20f2572a1b41cd7c1098d651">update</a> ()</td></tr>
<tr class="separator:ac045fffa20f2572a1b41cd7c1098d651"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d535d2185750ee5bc58b852acdae4cb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a0d535d2185750ee5bc58b852acdae4cb">update_animation</a> ()</td></tr>
<tr class="separator:a0d535d2185750ee5bc58b852acdae4cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a00ace8775b9353beabe06ca9dab547c5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a00ace8775b9353beabe06ca9dab547c5">update_loop_animation</a> ()</td></tr>
<tr class="separator:a00ace8775b9353beabe06ca9dab547c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9903f2813a99fe9334d7b62ef930ac67"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a9903f2813a99fe9334d7b62ef930ac67">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a9903f2813a99fe9334d7b62ef930ac67"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a9903f2813a99fe9334d7b62ef930ac67">More...</a><br /></td></tr>
<tr class="separator:a9903f2813a99fe9334d7b62ef930ac67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1697d96139229bcc13962f1eff874019"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a1697d96139229bcc13962f1eff874019">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1697d96139229bcc13962f1eff874019"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a1697d96139229bcc13962f1eff874019">More...</a><br /></td></tr>
<tr class="separator:a1697d96139229bcc13962f1eff874019"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a006a5482a044a7cce325465f377591f6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#a006a5482a044a7cce325465f377591f6">active</a><code> [get, set]</code></td></tr>
<tr class="separator:a006a5482a044a7cce325465f377591f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7973d86b302edc9e976bc9349262925"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml#ac7973d86b302edc9e976bc9349262925">effect</a><code> [get, set]</code></td></tr>
<tr class="separator:ac7973d86b302edc9e976bc9349262925"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a16a77eb1596a915604ed910d0457b24a" name="a16a77eb1596a915604ed910d0457b24a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a16a77eb1596a915604ed910d0457b24a">&#9670;&#160;</a></span>animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.animation </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>animation</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hit</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">animation</td><td></td></tr>
    <tr><td class="paramname">hit</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a057fafcb83c4b7d18fab101b27d01a5f" name="a057fafcb83c4b7d18fab101b27d01a5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a057fafcb83c4b7d18fab101b27d01a5f">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="ae2dd5febfae328f4f1d5d8e6621d9d46" name="ae2dd5febfae328f4f1d5d8e6621d9d46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2dd5febfae328f4f1d5d8e6621d9d46">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Frees the sprite. If the sprite has already been freed, does nothing.  </p>

</div>
</div>
<a id="a67a1b3c12d4ebcc6ef5bc609464871d2" name="a67a1b3c12d4ebcc6ef5bc609464871d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67a1b3c12d4ebcc6ef5bc609464871d2">&#9670;&#160;</a></span>dispose_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.dispose_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acfd42bf8e41734595089b6d76184d99d" name="acfd42bf8e41734595089b6d76184d99d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfd42bf8e41734595089b6d76184d99d">&#9670;&#160;</a></span>dispose_loop_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.dispose_loop_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac8e1dc3bcda2abf63cd18ce33d756fd6" name="ac8e1dc3bcda2abf63cd18ce33d756fd6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac8e1dc3bcda2abf63cd18ce33d756fd6">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_animation.cshtml">ISpriteAnimation</a> PokemonEssentials.Interface.ISpriteAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td>
          <td class="paramname"><em>sprite</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9256f3f6132d7bdda16a7e69e174cd09" name="a9256f3f6132d7bdda16a7e69e174cd09"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9256f3f6132d7bdda16a7e69e174cd09">&#9670;&#160;</a></span>loop_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.loop_animation </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>animation</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">animation</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ac045fffa20f2572a1b41cd7c1098d651" name="ac045fffa20f2572a1b41cd7c1098d651"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac045fffa20f2572a1b41cd7c1098d651">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.ISpriteAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0d535d2185750ee5bc58b852acdae4cb" name="a0d535d2185750ee5bc58b852acdae4cb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d535d2185750ee5bc58b852acdae4cb">&#9670;&#160;</a></span>update_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.update_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a00ace8775b9353beabe06ca9dab547c5" name="a00ace8775b9353beabe06ca9dab547c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a00ace8775b9353beabe06ca9dab547c5">&#9670;&#160;</a></span>update_loop_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpriteAnimation.update_loop_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a006a5482a044a7cce325465f377591f6" name="a006a5482a044a7cce325465f377591f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a006a5482a044a7cce325465f377591f6">&#9670;&#160;</a></span>active</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISpriteAnimation.active</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac7973d86b302edc9e976bc9349262925" name="ac7973d86b302edc9e976bc9349262925"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7973d86b302edc9e976bc9349262925">&#9670;&#160;</a></span>effect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISpriteAnimation.effect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9903f2813a99fe9334d7b62ef930ac67" name="a9903f2813a99fe9334d7b62ef930ac67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9903f2813a99fe9334d7b62ef930ac67">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteAnimation.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's X-coordinate.  </p>

</div>
</div>
<a id="a1697d96139229bcc13962f1eff874019" name="a1697d96139229bcc13962f1eff874019"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1697d96139229bcc13962f1eff874019">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ISpriteAnimation.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's Y-coordinate.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_character_8cs.cshtml">ISpriteCharacter.cs</a></li>
</ul>

