@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IRuledTeam Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29c8fe026159906b2c3ad3afb0278e6e">addMatch</a>(IRuledTeam other, int score)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a101d28ced86fd394071d1afea562b1cd">compare</a>(IRuledTeam other)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad3cd52e4aba7b3356587ccb01f80216a">games</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a93d721b5223e8af125214d551300b315">initialize</a>(IList&lt; IPokemon &gt; party, IPokemonChallengeRules rule)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae1060773939b5f56ee6bff9d4987a37f">length</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a21b235b8c159ed926f81f2996b52b581">load</a>(IList&lt; IPokemon &gt; party)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#aaecdf8c49973c752a7a5e77574a00043">rating</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ae57eae66efa0f2897debc422a36e7877">ratingData</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a0e794504b4d2106704d08c3e48126300">ratingRaw</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a822ef4835ea78d6ec0112ff9ab31b4ff">team</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#ad1baee7d5adc9197a83dc068c452ad0a">this[int i]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#abe907ddb050238d41a55b267fdf9310e">ToString</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a29be20fe2f0c4a39d799c0bb24fc4b2b">totalGames</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml#a393ad93daed37c98743670e0ab7fb4f0">updateRating</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">PokemonEssentials.Interface.Battle.IRuledTeam</a></td><td class="entry"></td></tr>
</table>
