@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">IGraphics</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGraphics Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a34a09b19bf26964345a2cdfc619c4cc8">brightness</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a8c91c7066cd85509954559e52443ebec">deletefailed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ab5489ec4fbd5432e38e007b054f176dc">fadein</a>(float duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a79d2ec9f204c379fe679bc1775238725">fadein</a>(int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#af5778e01a2f0665f4f2900ba066d950b">fadeout</a>(float duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ab466326c71afc285fc4a29596f1a0a23">fadeout</a>(int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a817f8745665a1fbc697f34da91a0831d">frame_count</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1e62853a3e0bab7ffbc8d0cced5b2a79">frame_rate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a1c78a2c51f5ff2417e60110a3809fcc5">frame_reset</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a176db10c28c897b5b170753183625a52">freeze</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a0f9d6bcda61380c3eb749ffd187a6206">height</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a2aa2f3b323285f426807065ee6384b3a">resize_screen</a>(int w, int h)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#af7d18266fd330fe488aa16ad63ae0b73">snap_to_bitmap</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a77506feb6ba61c3d16f0fb960460b8b4">transition</a>(float duration, string filename, int vague=40)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a9f21d3939bed646e8f85765aff0b9961">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a57d3d7a9c5b8bbfadb2883c9f61962cd">wait</a>(float duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#ac8c7c38bfd85a1304e00c2e2f6c8a7da">wait</a>(int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml#a52f7e9ee93bdf6a54e39a7178945920c">width</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_graphics.cshtml">PokemonEssentials.Interface.IGraphics</a></td><td class="entry"></td></tr>
</table>