@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">IGameSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSprite Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml#aba373b63580109ab8697bfd171db79bd">adjustBattleSpriteY</a>(ISprite sprite, Pokemons species, int index, int[] metrics=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml#a0fdfd48ef7e1b949c55895c63909eae0">getBattleSpriteMetricOffset</a>(Pokemons species, int index, int[] metrics=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml#a7783519132a4586a8a5cec1136265c43">PositionPokemonSprite</a>(ISprite sprite, float left, float top)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml#a02c17a1001adf22154d5d007eb7a1a10">showShadow</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml#aa8b6337ee9d5b41df05250fa59eeb536">SpriteSetCenter</a>(ISprite sprite, float cx, float cy)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_sprite.cshtml">PokemonEssentials.Interface.IGameSprite</a></td><td class="entry"></td></tr>
</table>
