@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml">ISceneHasChatter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.ISceneHasChatter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml">PokemonUnity.ISceneHasChatter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml#af4f94c32e989f32b89b5e255f0095fac">pbChatter</a>(Combat.Pokemon attacker, Combat.Trainer opponent)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene_has_chatter.cshtml">PokemonUnity.ISceneHasChatter</a></td><td class="entry"></td></tr>
</table>