@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IDayCare Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">IDayCare</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDayCare Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IDayCare:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.png" usemap="#PokemonEssentials.Interface.Field.IDayCare_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IDayCare_map" name="PokemonEssentials.Interface.Field.IDayCare_map">
<area href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml" alt="PokemonUnity.Character.DayCare" shape="rect" coords="0,56,263,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a648d31e29ec332b19bca3966445718b6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a648d31e29ec332b19bca3966445718b6">EggGenerated</a> ()</td></tr>
<tr class="separator:a648d31e29ec332b19bca3966445718b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61a19ea010878713a2ceeeb7c37b7cda"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a61a19ea010878713a2ceeeb7c37b7cda">DayCareDeposited</a> ()</td></tr>
<tr class="separator:a61a19ea010878713a2ceeeb7c37b7cda"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae195f39fe8da3df714d983dbaf7c48f0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ae195f39fe8da3df714d983dbaf7c48f0">DayCareDeposit</a> (int index)</td></tr>
<tr class="separator:ae195f39fe8da3df714d983dbaf7c48f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae853d2470ee052b3df847e2ce635b310"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ae853d2470ee052b3df847e2ce635b310">DayCareGetLevelGain</a> (int index, int nameVariable, int levelVariable)</td></tr>
<tr class="separator:ae853d2470ee052b3df847e2ce635b310"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af8cda363009908d7806887564aa7a6db"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af8cda363009908d7806887564aa7a6db">DayCareGetDeposited</a> (int index, int nameVariable, int costVariable)</td></tr>
<tr class="separator:af8cda363009908d7806887564aa7a6db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e5ff87e8638db84d4c8cbf23ea9076d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a1e5ff87e8638db84d4c8cbf23ea9076d">IsDitto</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a1e5ff87e8638db84d4c8cbf23ea9076d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a177ffee653f2bfeb3ce88f2e45555bae"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a177ffee653f2bfeb3ce88f2e45555bae">DayCareCompatibleGender</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon2)</td></tr>
<tr class="separator:a177ffee653f2bfeb3ce88f2e45555bae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b0c3e5de50ec85c3c45a92addac6a47"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a8b0c3e5de50ec85c3c45a92addac6a47">DayCareGetCompat</a> ()</td></tr>
<tr class="separator:a8b0c3e5de50ec85c3c45a92addac6a47"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af909af8bd92dbd96eee23cc95ea0be51"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af909af8bd92dbd96eee23cc95ea0be51">DayCareGetCompatibility</a> (int variable)</td></tr>
<tr class="separator:af909af8bd92dbd96eee23cc95ea0be51"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e4318f95c3f5021ea3c36dfb1714507"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a2e4318f95c3f5021ea3c36dfb1714507">DayCareWithdraw</a> (int index)</td></tr>
<tr class="separator:a2e4318f95c3f5021ea3c36dfb1714507"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3cbddb240fc121946cad9368964bdf4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ab3cbddb240fc121946cad9368964bdf4">DayCareChoose</a> (string text, int variable)</td></tr>
<tr class="separator:ab3cbddb240fc121946cad9368964bdf4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8a70109aa451231f2d8fca4e5b808f06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a8a70109aa451231f2d8fca4e5b808f06">DayCareGenerateEgg</a> ()</td></tr>
<tr class="separator:a8a70109aa451231f2d8fca4e5b808f06"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a018a18fdeba64166858afd534ab7d45f"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a018a18fdeba64166858afd534ab7d45f">Slot</a><code> [get]</code></td></tr>
<tr class="separator:a018a18fdeba64166858afd534ab7d45f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf6ea643c75217fb58cf4e2850629685"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#abf6ea643c75217fb58cf4e2850629685">this[int index]</a><code> [get]</code></td></tr>
<tr class="separator:abf6ea643c75217fb58cf4e2850629685"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab3cbddb240fc121946cad9368964bdf4" name="ab3cbddb240fc121946cad9368964bdf4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3cbddb240fc121946cad9368964bdf4">&#9670;&#160;</a></span>DayCareChoose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareChoose </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>variable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ac29a2a5579efee6da541194db26d5af6">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a177ffee653f2bfeb3ce88f2e45555bae" name="a177ffee653f2bfeb3ce88f2e45555bae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a177ffee653f2bfeb3ce88f2e45555bae">&#9670;&#160;</a></span>DayCareCompatibleGender()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.DayCareCompatibleGender </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1d053a196861ed9ba190405c5390bf26">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="ae195f39fe8da3df714d983dbaf7c48f0" name="ae195f39fe8da3df714d983dbaf7c48f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae195f39fe8da3df714d983dbaf7c48f0">&#9670;&#160;</a></span>DayCareDeposit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareDeposit </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1056ad0350f9f277ec119a58181213c6">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a61a19ea010878713a2ceeeb7c37b7cda" name="a61a19ea010878713a2ceeeb7c37b7cda"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61a19ea010878713a2ceeeb7c37b7cda">&#9670;&#160;</a></span>DayCareDeposited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayCare.DayCareDeposited </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ad546869e992392998992c6f3c39386f1">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a8a70109aa451231f2d8fca4e5b808f06" name="a8a70109aa451231f2d8fca4e5b808f06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a70109aa451231f2d8fca4e5b808f06">&#9670;&#160;</a></span>DayCareGenerateEgg()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareGenerateEgg </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#af2a96c0495dfa4266e5dd09f9d63ef6d">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a8b0c3e5de50ec85c3c45a92addac6a47" name="a8b0c3e5de50ec85c3c45a92addac6a47"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b0c3e5de50ec85c3c45a92addac6a47">&#9670;&#160;</a></span>DayCareGetCompat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayCare.DayCareGetCompat </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a591cdd8af7a99b0163de15310faac853">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="af909af8bd92dbd96eee23cc95ea0be51" name="af909af8bd92dbd96eee23cc95ea0be51"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af909af8bd92dbd96eee23cc95ea0be51">&#9670;&#160;</a></span>DayCareGetCompatibility()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareGetCompatibility </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>variable</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5b4387051dd238ff4a3a273144350837">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="af8cda363009908d7806887564aa7a6db" name="af8cda363009908d7806887564aa7a6db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8cda363009908d7806887564aa7a6db">&#9670;&#160;</a></span>DayCareGetDeposited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareGetDeposited </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>nameVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>costVariable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a3274e5cadc056371663f78752ce4cfa4">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="ae853d2470ee052b3df847e2ce635b310" name="ae853d2470ee052b3df847e2ce635b310"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae853d2470ee052b3df847e2ce635b310">&#9670;&#160;</a></span>DayCareGetLevelGain()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.DayCareGetLevelGain </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>nameVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>levelVariable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ada66415c597ab4b1126710255acb3f10">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a2e4318f95c3f5021ea3c36dfb1714507" name="a2e4318f95c3f5021ea3c36dfb1714507"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e4318f95c3f5021ea3c36dfb1714507">&#9670;&#160;</a></span>DayCareWithdraw()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.DayCareWithdraw </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a1a1666eb6db65a34830206bbe6ecc643">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a648d31e29ec332b19bca3966445718b6" name="a648d31e29ec332b19bca3966445718b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a648d31e29ec332b19bca3966445718b6">&#9670;&#160;</a></span>EggGenerated()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.EggGenerated </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a22343b5614d772c070459e1c0d2518f3">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a1e5ff87e8638db84d4c8cbf23ea9076d" name="a1e5ff87e8638db84d4c8cbf23ea9076d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e5ff87e8638db84d4c8cbf23ea9076d">&#9670;&#160;</a></span>IsDitto()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.IsDitto </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a7cd002bdf3a7e738c2cc1d506454614a">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a018a18fdeba64166858afd534ab7d45f" name="a018a18fdeba64166858afd534ab7d45f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a018a18fdeba64166858afd534ab7d45f">&#9670;&#160;</a></span>Slot</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, int&gt; [] PokemonEssentials.Interface.Field.IDayCare.Slot</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ab1d9ef400f70c55bc8ea8a4947ff1b80">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="abf6ea643c75217fb58cf4e2850629685" name="abf6ea643c75217fb58cf4e2850629685"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf6ea643c75217fb58cf4e2850629685">&#9670;&#160;</a></span>this[int index]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Field.IDayCare.this[int index]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#abc4294e85df246bf58d44de78b5fd15e">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_day_care_8cs.cshtml">IDayCare.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
