@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt; Interface Template Reference</div></div>
}


<p>Playback Recorded Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a12d8a57c8cec9a492d3f2f978467c341"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a>&lt; TBattle &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a12d8a57c8cec9a492d3f2f978467c341">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a12d8a57c8cec9a492d3f2f978467c341"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06df41388ba9ede75278fbb36fac867f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a06df41388ba9ede75278fbb36fac867f">StartBattle</a> (bool canlose=false)</td></tr>
<tr class="separator:a06df41388ba9ede75278fbb36fac867f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab046928264f5fa414f554b45763a0d50"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab046928264f5fa414f554b45763a0d50">SwitchInBetween</a> (int i1, int i2, bool i3)</td></tr>
<tr class="separator:ab046928264f5fa414f554b45763a0d50"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86982baff69e96779c413a6540110076"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a86982baff69e96779c413a6540110076">Random</a> (int num)</td></tr>
<tr class="separator:a86982baff69e96779c413a6540110076"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab91fbd8a5f7fcde14aa9f4c33ee24bdd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ab91fbd8a5f7fcde14aa9f4c33ee24bdd">DisplayPaused</a> (string str)</td></tr>
<tr class="separator:ab91fbd8a5f7fcde14aa9f4c33ee24bdd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abbe82a28acc079051133cb03c94c5f9a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#abbe82a28acc079051133cb03c94c5f9a">CommandPhaseCore</a> ()</td></tr>
<tr class="separator:abbe82a28acc079051133cb03c94c5f9a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Playback Recorded Pokemon <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a>  </p>
<dl class="tparams"><dt>Template Parameters</dt><dd>
  <table class="tparams">
    <tr><td class="paramname">TBattle</td><td></td></tr>
  </table>
  </dd>
</dl>
<div class="typeconstraint">
<dl><dt><b>Type Constraints</b></dt><dd>
<table border="0" cellspacing="2" cellpadding="0">
<tr><td valign="top"><em>TBattle</em></td><td>&#160;:</td><td valign="top"><em><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a></em></td><td>&#160;</td></tr>
</table>
</dd>
</dl>
</div>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="abbe82a28acc079051133cb03c94c5f9a" name="abbe82a28acc079051133cb03c94c5f9a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbe82a28acc079051133cb03c94c5f9a">&#9670;&#160;</a></span>CommandPhaseCore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.CommandPhaseCore </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab91fbd8a5f7fcde14aa9f4c33ee24bdd" name="ab91fbd8a5f7fcde14aa9f4c33ee24bdd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab91fbd8a5f7fcde14aa9f4c33ee24bdd">&#9670;&#160;</a></span>DisplayPaused()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.DisplayPaused </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a12d8a57c8cec9a492d3f2f978467c341" name="a12d8a57c8cec9a492d3f2f978467c341"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12d8a57c8cec9a492d3f2f978467c341">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a>&lt; TBattle &gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a86982baff69e96779c413a6540110076" name="a86982baff69e96779c413a6540110076"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86982baff69e96779c413a6540110076">&#9670;&#160;</a></span>Random()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.Random </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a06df41388ba9ede75278fbb36fac867f" name="a06df41388ba9ede75278fbb36fac867f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a06df41388ba9ede75278fbb36fac867f">&#9670;&#160;</a></span>StartBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.StartBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canlose</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab046928264f5fa414f554b45763a0d50" name="ab046928264f5fa414f554b45763a0d50"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab046928264f5fa414f554b45763a0d50">&#9670;&#160;</a></span>SwitchInBetween()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule</a>&lt; out TBattle &gt;.SwitchInBetween </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>i3</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>

