@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioBGS Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">bgm_fade</a>(int time)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">bgm_play</a>(string filename, float volume, float pitch)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">bgm_stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">bgs_fade</a>(int time)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">bgs_play</a>(string filename, float volume, float pitch)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">bgs_stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#a19373a21d452a03c71eee2288dc70db8">clone</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#acc82f1b75f3432191be2f1ac71688add">fade</a>(int time)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#abc73ed1099031b2ed2a4f5984f9a0727">last</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ad819f8418fc7f71af529e952d9cf5fdc">me_fade</a>(int time)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac1f3102a0e225afa7add3c6bd8a9ac3b">me_play</a>(string filename, float volume, float pitch)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">me_stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a8e7a6731cead227df83168b23d663cdb">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#a6cef34b13f12a457e95dc7c2e032979c">play</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a303701f57d68850a372da0651cfaa3d6">se_play</a>(string filename, float volume, float pitch)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a3e245e9b640aaad6d2815771bfae2608">se_stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#ab6e44ded4d68f732a04cb8137f1e525a">stop</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">PokemonEssentials.Interface.IAudioBGS</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td><td class="entry"></td></tr>
</table>
