@{
	Page.Title = "PokemonEssentials.Interface.Field.ITilePosition Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ITilePosition Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.ITilePosition:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.png" usemap="#PokemonEssentials.Interface.Field.ITilePosition_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.ITilePosition_map" name="PokemonEssentials.Interface.Field.ITilePosition_map">
<area href="struct_pokemon_unity_1_1_tile_position.cshtml" alt="PokemonUnity.TilePosition" shape="rect" coords="0,56,276,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a556798ad4c0abb5c210a562eaa7071da"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a556798ad4c0abb5c210a562eaa7071da">MapId</a> <code>[get]</code></td></tr>
<tr class="separator:a556798ad4c0abb5c210a562eaa7071da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ba0996b83a730b71d08d6509d90f631"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a6ba0996b83a730b71d08d6509d90f631">X</a> <code>[get]</code></td></tr>
<tr class="separator:a6ba0996b83a730b71d08d6509d90f631"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1778006b4720b6534d9ab474fa9f1663"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a1778006b4720b6534d9ab474fa9f1663">Y</a> <code>[get]</code></td></tr>
<tr class="separator:a1778006b4720b6534d9ab474fa9f1663"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7e04962c92b793d6215931103f28a26"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#ac7e04962c92b793d6215931103f28a26">Z</a> <code>[get]</code></td></tr>
<tr class="separator:ac7e04962c92b793d6215931103f28a26"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a556798ad4c0abb5c210a562eaa7071da" name="a556798ad4c0abb5c210a562eaa7071da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a556798ad4c0abb5c210a562eaa7071da">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITilePosition.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a05188627f47ae39f91e5f97aa6307960">PokemonUnity.TilePosition</a>.</p>

</div>
</div>
<a id="a6ba0996b83a730b71d08d6509d90f631" name="a6ba0996b83a730b71d08d6509d90f631"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ba0996b83a730b71d08d6509d90f631">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.ITilePosition.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a5dc4997b446d69731ca947dd23d47f48">PokemonUnity.TilePosition</a>.</p>

</div>
</div>
<a id="a1778006b4720b6534d9ab474fa9f1663" name="a1778006b4720b6534d9ab474fa9f1663"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1778006b4720b6534d9ab474fa9f1663">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.ITilePosition.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a3899599f36919949c27fa1ab681c0c40">PokemonUnity.TilePosition</a>.</p>

</div>
</div>
<a id="ac7e04962c92b793d6215931103f28a26" name="ac7e04962c92b793d6215931103f28a26"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7e04962c92b793d6215931103f28a26">&#9670;&#160;</a></span>Z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.ITilePosition.Z</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#ad94748a17dc061e632f574b91c3f8f31">PokemonUnity.TilePosition</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>
