@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IMatchHistory Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IMatchHistory Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IMatchHistory:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.png" usemap="#PokemonEssentials.Interface.Battle.IMatchHistory_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IMatchHistory_map" name="PokemonEssentials.Interface.Battle.IMatchHistory_map">
<area href="class_pokemon_unity_1_1_match_history.cshtml" alt="PokemonUnity.MatchHistory" shape="rect" coords="0,112,290,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:adc388821ab981d7296280c3287c16b52"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#adc388821ab981d7296280c3287c16b52">each</a> ()</td></tr>
<tr class="separator:adc388821ab981d7296280c3287c16b52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82b924043121b907bae2848e9f547618"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a82b924043121b907bae2848e9f547618">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> thisPlayer)</td></tr>
<tr class="separator:a82b924043121b907bae2848e9f547618"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a563d9ad087b742ffc6edd09fad397b1d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a563d9ad087b742ffc6edd09fad397b1d">addMatch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> otherPlayer, int result)</td></tr>
<tr class="separator:a563d9ad087b742ffc6edd09fad397b1d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7be567124598f2ab5575e146adda22d8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a7be567124598f2ab5575e146adda22d8">updateAndClear</a> ()</td></tr>
<tr class="separator:a7be567124598f2ab5575e146adda22d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5c217e8764c1a0b3de1b9c42ffaa986e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#a5c217e8764c1a0b3de1b9c42ffaa986e">length</a><code> [get]</code></td></tr>
<tr class="separator:a5c217e8764c1a0b3de1b9c42ffaa986e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa43a68db0f417e04f81d78cc35586ca4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml#aa43a68db0f417e04f81d78cc35586ca4">this[int i]</a><code> [get]</code></td></tr>
<tr class="separator:aa43a68db0f417e04f81d78cc35586ca4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a563d9ad087b742ffc6edd09fad397b1d" name="a563d9ad087b742ffc6edd09fad397b1d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a563d9ad087b742ffc6edd09fad397b1d">&#9670;&#160;</a></span>addMatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IMatchHistory.addMatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td>
          <td class="paramname"><em>otherPlayer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>result</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a6bd5a5f534bd1e0a077a490222f5d475">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<a id="adc388821ab981d7296280c3287c16b52" name="adc388821ab981d7296280c3287c16b52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc388821ab981d7296280c3287c16b52">&#9670;&#160;</a></span>each()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> &gt; PokemonEssentials.Interface.Battle.IMatchHistory.each </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a1ea8f2002d88adb11fe2a95984e571e4">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<a id="a82b924043121b907bae2848e9f547618" name="a82b924043121b907bae2848e9f547618"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82b924043121b907bae2848e9f547618">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_match_history.cshtml">IMatchHistory</a> PokemonEssentials.Interface.Battle.IMatchHistory.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td>
          <td class="paramname"><em>thisPlayer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ab005e79c52b31cb0e62277cf80fede80">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<a id="a7be567124598f2ab5575e146adda22d8" name="a7be567124598f2ab5575e146adda22d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7be567124598f2ab5575e146adda22d8">&#9670;&#160;</a></span>updateAndClear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IMatchHistory.updateAndClear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#ad56898796e670b4738960db181745854">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a5c217e8764c1a0b3de1b9c42ffaa986e" name="a5c217e8764c1a0b3de1b9c42ffaa986e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c217e8764c1a0b3de1b9c42ffaa986e">&#9670;&#160;</a></span>length</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IMatchHistory.length</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#a0aa9df8833bee44fc333e1b996ce0cea">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<a id="aa43a68db0f417e04f81d78cc35586ca4" name="aa43a68db0f417e04f81d78cc35586ca4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa43a68db0f417e04f81d78cc35586ca4">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a> PokemonEssentials.Interface.Battle.IMatchHistory.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_match_history.cshtml#aaa8924fcc5be87eeb4b9abb9c3571157">PokemonUnity.MatchHistory</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_generator_8cs.cshtml">IOrgBattleGenerator.cs</a></li>
</ul>

