@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">IGamePokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePokemonEvolution Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a380972ea36a8a58b9e53d9f318dde641">pbCheckEvolution</a>(IPokemon pokemon, Items item=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a5c6c77af0d8bdb69c5deee4efbc4f198">pbCheckEvolutionEx</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a1629546af4909b217bf61eb971232cfb">pbEvoDebug</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#af2ebbc41f94325d26dbb0b7b4f9bb41c">pbGetBabySpecies</a>(Pokemons species, Items item1=Items.NONE, Items item2=Items.NONE)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a362fd11f267fc282765ab509fc47bf5c">pbGetEvolvedFormData</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a518b6b9242d63ac5ee44bdee1676541e">pbGetMinimumLevel</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a6fa3dca53b3d995e70d9d86becca2b4e">pbGetPreviousForm</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a65aa72370515fbb8d1e8587c5bbebe06">pbMiniCheckEvolution</a>(IPokemon pokemon, EvolutionMethod evonib, int level, Pokemons poke)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml#a93ac4a95ba2b2bc27cd289243c69f48f">pbMiniCheckEvolutionItem</a>(IPokemon pokemon, EvolutionMethod evonib, Items level, Pokemons poke, Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_pokemon_evolution.cshtml">PokemonEssentials.Interface.IGamePokemonEvolution</a></td><td class="entry"></td></tr>
</table>