@{
	Page.Title = "PokemonEssentials.Interface.Item.IPokeRadarGrassData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml">IPokeRadarGrassData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IPokeRadarGrassData Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adf26a969886157b2513e53b45f4da93d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml#adf26a969886157b2513e53b45f4da93d">X</a> <code>[get]</code></td></tr>
<tr class="separator:adf26a969886157b2513e53b45f4da93d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace0dfb8d7828a1a69a9ff29fb4dd7cde"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml#ace0dfb8d7828a1a69a9ff29fb4dd7cde">Y</a> <code>[get]</code></td></tr>
<tr class="separator:ace0dfb8d7828a1a69a9ff29fb4dd7cde"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae04210cb26b756ec2ae0ef0b33f44388"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml#ae04210cb26b756ec2ae0ef0b33f44388">Ring</a> <code>[get]</code></td></tr>
<tr class="memdesc:ae04210cb26b756ec2ae0ef0b33f44388"><td class="mdescLeft">&#160;</td><td class="mdescRight">(0-3 inner to outer)   <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml#ae04210cb26b756ec2ae0ef0b33f44388">More...</a><br /></td></tr>
<tr class="separator:ae04210cb26b756ec2ae0ef0b33f44388"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e557d93268ee107282ca95e52dea866"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_grass_data.cshtml#a8e557d93268ee107282ca95e52dea866">Rarity</a> <code>[get]</code></td></tr>
<tr class="separator:a8e557d93268ee107282ca95e52dea866"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8e557d93268ee107282ca95e52dea866" name="a8e557d93268ee107282ca95e52dea866"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e557d93268ee107282ca95e52dea866">&#9670;&#160;</a></span>Rarity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarGrassData.Rarity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae04210cb26b756ec2ae0ef0b33f44388" name="ae04210cb26b756ec2ae0ef0b33f44388"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae04210cb26b756ec2ae0ef0b33f44388">&#9670;&#160;</a></span>Ring</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarGrassData.Ring</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>(0-3 inner to outer)  </p>

</div>
</div>
<a id="adf26a969886157b2513e53b45f4da93d" name="adf26a969886157b2513e53b45f4da93d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf26a969886157b2513e53b45f4da93d">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarGrassData.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ace0dfb8d7828a1a69a9ff29fb4dd7cde" name="ace0dfb8d7828a1a69a9ff29fb4dd7cde"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace0dfb8d7828a1a69a9ff29fb4dd7cde">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IPokeRadarGrassData.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></li>
</ul>
