@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonStorageWithParty Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">IPokemonStorageWithParty</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonStorageWithParty:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonStorageWithParty_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonStorageWithParty_map" name="PokemonEssentials.Interface.Screen.IPokemonStorageWithParty_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorage" shape="rect" coords="0,0,374,24"/>
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml" alt="PokemonUnity.Character.PokemonStorageWithParty" shape="rect" coords="0,112,374,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a8d882f0bd04ae73e12cfa6e799482547"><td class="memItemLeft" align="right" valign="top">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml#a8d882f0bd04ae73e12cfa6e799482547">party</a><code> [get, set]</code></td></tr>
<tr class="separator:a8d882f0bd04ae73e12cfa6e799482547"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td></tr>
<tr class="memitem:a3e0828153d15524740e714c061487ef1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3e0828153d15524740e714c061487ef1">boxes</a><code> [get]</code></td></tr>
<tr class="separator:a3e0828153d15524740e714c061487ef1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a954b5e31cbecc563008fcd99b976b45d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a954b5e31cbecc563008fcd99b976b45d">currentBox</a><code> [get, set]</code></td></tr>
<tr class="separator:a954b5e31cbecc563008fcd99b976b45d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57164220ab80eae504390644886a2d75 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a><code> [get]</code></td></tr>
<tr class="separator:a57164220ab80eae504390644886a2d75 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0058fa6da8391d54574c9c477b00cfdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a0058fa6da8391d54574c9c477b00cfdb">party</a><code> [get]</code></td></tr>
<tr class="separator:a0058fa6da8391d54574c9c477b00cfdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af23b767fdc9d55dc1cc4dd608c5cf39f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#af23b767fdc9d55dc1cc4dd608c5cf39f">this[int x]</a><code> [get]</code></td></tr>
<tr class="separator:af23b767fdc9d55dc1cc4dd608c5cf39f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7eb7444d1712928614a2b283e007057f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a7eb7444d1712928614a2b283e007057f">this[int x, int y]</a><code> [get, set]</code></td></tr>
<tr class="separator:a7eb7444d1712928614a2b283e007057f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a144344ba92e12f3384c4f25793b3d0b7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a144344ba92e12f3384c4f25793b3d0b7">full</a><code> [get]</code></td></tr>
<tr class="separator:a144344ba92e12f3384c4f25793b3d0b7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td></tr>
<tr class="memitem:a9f07018541bdcfd5744c1fb7cea8585b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a9f07018541bdcfd5744c1fb7cea8585b">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a>=30)</td></tr>
<tr class="separator:a9f07018541bdcfd5744c1fb7cea8585b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c947fe1a6a6dd29dd8419a6985cde8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a> (int box)</td></tr>
<tr class="separator:a8c947fe1a6a6dd29dd8419a6985cde8f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69f6db13d8d4b5d56d0eeb4a64e594fb inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a69f6db13d8d4b5d56d0eeb4a64e594fb">pbFirstFreePos</a> (int box)</td></tr>
<tr class="separator:a69f6db13d8d4b5d56d0eeb4a64e594fb inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c8e19efd97399e5eaa9967acfd317c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a25c8e19efd97399e5eaa9967acfd317c">pbCopy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a25c8e19efd97399e5eaa9967acfd317c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b7193b33119f3c1d5009b7773aa1d86 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3b7193b33119f3c1d5009b7773aa1d86">pbMove</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a3b7193b33119f3c1d5009b7773aa1d86 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b5d2cfdd183b2d85b2b859150a01dc3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8b5d2cfdd183b2d85b2b859150a01dc3">pbMoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a8b5d2cfdd183b2d85b2b859150a01dc3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5fea2de9155b57f5c4457a6a840f6e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab5fea2de9155b57f5c4457a6a840f6e2">pbMoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:ab5fea2de9155b57f5c4457a6a840f6e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08f331ed2ef575c90571cb9bd975c749 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a08f331ed2ef575c90571cb9bd975c749">pbStoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a08f331ed2ef575c90571cb9bd975c749 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab68b70597e9ef0730a412d0be881640e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab68b70597e9ef0730a412d0be881640e">pbDelete</a> (int box, int index)</td></tr>
<tr class="separator:ab68b70597e9ef0730a412d0be881640e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8d882f0bd04ae73e12cfa6e799482547" name="a8d882f0bd04ae73e12cfa6e799482547"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d882f0bd04ae73e12cfa6e799482547">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">new <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.Screen.IPokemonStorageWithParty.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a0058fa6da8391d54574c9c477b00cfdb">PokemonEssentials.Interface.Screen.IPokemonStorage</a>.</p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a05e1e88fe9f1bd0e83493ccbf323f80f">PokemonUnity.Character.PokemonStorageWithParty</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
