@{
	Page.Title = "PokemonUnity.IPokemonStorageScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml">IPokemonStorageScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_storage_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonStorageScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonStorageScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_storage_screen.png" usemap="#PokemonUnity.IPokemonStorageScreen_map" alt=""/>
  <map id="PokemonUnity.IPokemonStorageScreen_map" name="PokemonUnity.IPokemonStorageScreen_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,234,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab3057a1681ab34d471e1c9963653a39d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#ab3057a1681ab34d471e1c9963653a39d">debugMenu</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> pkmn, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:ab3057a1681ab34d471e1c9963653a39d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8a4a3873d64b19a5d8501643d94a0edc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a8a4a3873d64b19a5d8501643d94a0edc">IPokemonStorageScreen</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a> <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aef179f9ab183771995df7260db56a69b">scene</a>, <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">Character.PokemonStorage</a> <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aaa855d680c03f8e930770e77ecfd3bc8">storage</a>)</td></tr>
<tr class="separator:a8a4a3873d64b19a5d8501643d94a0edc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06d030139b31a557309e371ba943a381"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a06d030139b31a557309e371ba943a381">pbAble</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> pokemon)</td></tr>
<tr class="separator:a06d030139b31a557309e371ba943a381"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32584593dc65d30f217f0170e564ff76"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a32584593dc65d30f217f0170e564ff76">pbBoxCommands</a> ()</td></tr>
<tr class="separator:a32584593dc65d30f217f0170e564ff76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac560328e6e397b0b1fd49b96ac1b4ea"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aac560328e6e397b0b1fd49b96ac1b4ea">pbChoosePokemon</a> (<a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>[] party=null)</td></tr>
<tr class="separator:aac560328e6e397b0b1fd49b96ac1b4ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54d6ac5d850147b108ef5afbbfb0a00f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a54d6ac5d850147b108ef5afbbfb0a00f">pbConfirm</a> (string str)</td></tr>
<tr class="separator:a54d6ac5d850147b108ef5afbbfb0a00f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6fb05f0ebb3958eb362222071b17af68"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a6fb05f0ebb3958eb362222071b17af68">pbDisplay</a> (string message)</td></tr>
<tr class="separator:a6fb05f0ebb3958eb362222071b17af68"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aede8da7668399f081783407adbd864af"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aede8da7668399f081783407adbd864af">pbHold</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:aede8da7668399f081783407adbd864af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acec76b96cb67c1657e5d8a877d6d24ad"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#acec76b96cb67c1657e5d8a877d6d24ad">pbItem</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:acec76b96cb67c1657e5d8a877d6d24ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adab969d35c335bde24eff64889f2d64f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#adab969d35c335bde24eff64889f2d64f">pbMark</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:adab969d35c335bde24eff64889f2d64f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae65ccb6a1bbe6c4d14cad1ff5ebbf932"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#ae65ccb6a1bbe6c4d14cad1ff5ebbf932">pbPlace</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:ae65ccb6a1bbe6c4d14cad1ff5ebbf932"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb36676d7093b1c9714e88c3496c1e3e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#adb36676d7093b1c9714e88c3496c1e3e">pbRelease</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:adb36676d7093b1c9714e88c3496c1e3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3a8dffd970659007c0cf83136c7255d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#ab3a8dffd970659007c0cf83136c7255d">pbShowCommands</a> (string msg, string[] commands)</td></tr>
<tr class="separator:ab3a8dffd970659007c0cf83136c7255d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06fabe8bc3614d0906c24a9b8178b12a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a06fabe8bc3614d0906c24a9b8178b12a">pbStartScreen</a> (int command)</td></tr>
<tr class="separator:a06fabe8bc3614d0906c24a9b8178b12a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dbbff5f67a1dabee93517a33798b3cb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a2dbbff5f67a1dabee93517a33798b3cb">pbStore</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:a2dbbff5f67a1dabee93517a33798b3cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02bc40fb8a854454058e45a2b11e18a8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a02bc40fb8a854454058e45a2b11e18a8">pbSummary</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:a02bc40fb8a854454058e45a2b11e18a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f5c28d2b523872cebbb17cce470e4f4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a0f5c28d2b523872cebbb17cce470e4f4">pbSwap</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:a0f5c28d2b523872cebbb17cce470e4f4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2bfc5fad4cc6845e6a26f31b2c048d49"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a2bfc5fad4cc6845e6a26f31b2c048d49">pbWithdraw</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> heldpoke)</td></tr>
<tr class="separator:a2bfc5fad4cc6845e6a26f31b2c048d49"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0497938f651b475e3f915c7d1413aee8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a0497938f651b475e3f915c7d1413aee8">selectPokemon</a> (int index)</td></tr>
<tr class="separator:a0497938f651b475e3f915c7d1413aee8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0e233ebff9776a5f87cf04fe789e1b92"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a0e233ebff9776a5f87cf04fe789e1b92">pbAbleCount</a> <code>[get]</code></td></tr>
<tr class="separator:a0e233ebff9776a5f87cf04fe789e1b92"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a355674ee98a6b5817e314998d2a8170e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#a355674ee98a6b5817e314998d2a8170e">pbHeldPokemon</a> <code>[get]</code></td></tr>
<tr class="separator:a355674ee98a6b5817e314998d2a8170e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef179f9ab183771995df7260db56a69b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aef179f9ab183771995df7260db56a69b">scene</a> <code>[get]</code></td></tr>
<tr class="separator:aef179f9ab183771995df7260db56a69b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa855d680c03f8e930770e77ecfd3bc8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">Character.PokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_screen.cshtml#aaa855d680c03f8e930770e77ecfd3bc8">storage</a> <code>[get]</code></td></tr>
<tr class="separator:aaa855d680c03f8e930770e77ecfd3bc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a8a4a3873d64b19a5d8501643d94a0edc" name="a8a4a3873d64b19a5d8501643d94a0edc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a4a3873d64b19a5d8501643d94a0edc">&#9670;&#160;</a></span>IPokemonStorageScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.IPokemonStorageScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">Character.PokemonStorage</a>&#160;</td>
          <td class="paramname"><em>storage</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ab3057a1681ab34d471e1c9963653a39d" name="ab3057a1681ab34d471e1c9963653a39d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3057a1681ab34d471e1c9963653a39d">&#9670;&#160;</a></span>debugMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.debugMenu </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a06d030139b31a557309e371ba943a381" name="a06d030139b31a557309e371ba943a381"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a06d030139b31a557309e371ba943a381">&#9670;&#160;</a></span>pbAble()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IPokemonStorageScreen.pbAble </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a32584593dc65d30f217f0170e564ff76" name="a32584593dc65d30f217f0170e564ff76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32584593dc65d30f217f0170e564ff76">&#9670;&#160;</a></span>pbBoxCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbBoxCommands </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac560328e6e397b0b1fd49b96ac1b4ea" name="aac560328e6e397b0b1fd49b96ac1b4ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac560328e6e397b0b1fd49b96ac1b4ea">&#9670;&#160;</a></span>pbChoosePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.IPokemonStorageScreen.pbChoosePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a54d6ac5d850147b108ef5afbbfb0a00f" name="a54d6ac5d850147b108ef5afbbfb0a00f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54d6ac5d850147b108ef5afbbfb0a00f">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IPokemonStorageScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6fb05f0ebb3958eb362222071b17af68" name="a6fb05f0ebb3958eb362222071b17af68"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6fb05f0ebb3958eb362222071b17af68">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aede8da7668399f081783407adbd864af" name="aede8da7668399f081783407adbd864af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aede8da7668399f081783407adbd864af">&#9670;&#160;</a></span>pbHold()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbHold </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acec76b96cb67c1657e5d8a877d6d24ad" name="acec76b96cb67c1657e5d8a877d6d24ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acec76b96cb67c1657e5d8a877d6d24ad">&#9670;&#160;</a></span>pbItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbItem </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adab969d35c335bde24eff64889f2d64f" name="adab969d35c335bde24eff64889f2d64f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adab969d35c335bde24eff64889f2d64f">&#9670;&#160;</a></span>pbMark()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbMark </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae65ccb6a1bbe6c4d14cad1ff5ebbf932" name="ae65ccb6a1bbe6c4d14cad1ff5ebbf932"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae65ccb6a1bbe6c4d14cad1ff5ebbf932">&#9670;&#160;</a></span>pbPlace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbPlace </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adb36676d7093b1c9714e88c3496c1e3e" name="adb36676d7093b1c9714e88c3496c1e3e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb36676d7093b1c9714e88c3496c1e3e">&#9670;&#160;</a></span>pbRelease()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbRelease </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3a8dffd970659007c0cf83136c7255d" name="ab3a8dffd970659007c0cf83136c7255d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3a8dffd970659007c0cf83136c7255d">&#9670;&#160;</a></span>pbShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IPokemonStorageScreen.pbShowCommands </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a06fabe8bc3614d0906c24a9b8178b12a" name="a06fabe8bc3614d0906c24a9b8178b12a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a06fabe8bc3614d0906c24a9b8178b12a">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>command</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2dbbff5f67a1dabee93517a33798b3cb" name="a2dbbff5f67a1dabee93517a33798b3cb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2dbbff5f67a1dabee93517a33798b3cb">&#9670;&#160;</a></span>pbStore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbStore </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a02bc40fb8a854454058e45a2b11e18a8" name="a02bc40fb8a854454058e45a2b11e18a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02bc40fb8a854454058e45a2b11e18a8">&#9670;&#160;</a></span>pbSummary()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.pbSummary </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0f5c28d2b523872cebbb17cce470e4f4" name="a0f5c28d2b523872cebbb17cce470e4f4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f5c28d2b523872cebbb17cce470e4f4">&#9670;&#160;</a></span>pbSwap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IPokemonStorageScreen.pbSwap </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2bfc5fad4cc6845e6a26f31b2c048d49" name="a2bfc5fad4cc6845e6a26f31b2c048d49"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2bfc5fad4cc6845e6a26f31b2c048d49">&#9670;&#160;</a></span>pbWithdraw()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IPokemonStorageScreen.pbWithdraw </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0497938f651b475e3f915c7d1413aee8" name="a0497938f651b475e3f915c7d1413aee8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0497938f651b475e3f915c7d1413aee8">&#9670;&#160;</a></span>selectPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonStorageScreen.selectPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0e233ebff9776a5f87cf04fe789e1b92" name="a0e233ebff9776a5f87cf04fe789e1b92"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e233ebff9776a5f87cf04fe789e1b92">&#9670;&#160;</a></span>pbAbleCount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IPokemonStorageScreen.pbAbleCount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a355674ee98a6b5817e314998d2a8170e" name="a355674ee98a6b5817e314998d2a8170e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a355674ee98a6b5817e314998d2a8170e">&#9670;&#160;</a></span>pbHeldPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml">Pokemon</a> PokemonUnity.IPokemonStorageScreen.pbHeldPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aef179f9ab183771995df7260db56a69b" name="aef179f9ab183771995df7260db56a69b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef179f9ab183771995df7260db56a69b">&#9670;&#160;</a></span>scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a> PokemonUnity.IPokemonStorageScreen.scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aaa855d680c03f8e930770e77ecfd3bc8" name="aaa855d680c03f8e930770e77ecfd3bc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa855d680c03f8e930770e77ecfd3bc8">&#9670;&#160;</a></span>storage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">Character.PokemonStorage</a> PokemonUnity.IPokemonStorageScreen.storage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
