@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.ISafariZone Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml">ISafariZone</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.ISafariZone Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.ISafariZone:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.png" usemap="#PokemonEssentials.Interface.PokeBattle.ISafariZone_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.ISafariZone_map" name="PokemonEssentials.Interface.PokeBattle.ISafariZone_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattleCommon" shape="rect" coords="0,0,322,24"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml" alt="PokemonUnity.Combat.PokeBattle_SafariZone" shape="rect" coords="0,112,322,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a09c1205c9be03fe64e923e5577b3f19e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml">ISafariZone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a09c1205c9be03fe64e923e5577b3f19e">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#ad3139468536d8e4360be9413201ddb42">player</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#aa0b1ede92302ab6f4de00cc9fc7765b4">party2</a>)</td></tr>
<tr class="separator:a09c1205c9be03fe64e923e5577b3f19e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ee5d776a00af4428828f8e09d4ae2c7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a7ee5d776a00af4428828f8e09d4ae2c7">pbIsOpposing</a> (int index)</td></tr>
<tr class="separator:a7ee5d776a00af4428828f8e09d4ae2c7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65885da93c543fb3dc21d27ac25d460c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a65885da93c543fb3dc21d27ac25d460c">pbIsDoubleBattler</a> (int index)</td></tr>
<tr class="separator:a65885da93c543fb3dc21d27ac25d460c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49a23a1a58c2374a63b1a167be64ddc8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a49a23a1a58c2374a63b1a167be64ddc8">pbPlayer</a> ()</td></tr>
<tr class="separator:a49a23a1a58c2374a63b1a167be64ddc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5517af86b370ea8cfda296ead34f6404"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a5517af86b370ea8cfda296ead34f6404">pbAbort</a> ()</td></tr>
<tr class="separator:a5517af86b370ea8cfda296ead34f6404"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a149364f2f50398d7b2163e3ad4499481"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a149364f2f50398d7b2163e3ad4499481">pbEscapeRate</a> (int rareness)</td></tr>
<tr class="separator:a149364f2f50398d7b2163e3ad4499481"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee93f104238b252a989b53d18e10b332"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#aee93f104238b252a989b53d18e10b332">pbStartBattle</a> ()</td></tr>
<tr class="separator:aee93f104238b252a989b53d18e10b332"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeecead3d5740043cd3fe4a2854302ec7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#aeecead3d5740043cd3fe4a2854302ec7">pbDebugUpdate</a> ()</td></tr>
<tr class="separator:aeecead3d5740043cd3fe4a2854302ec7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a832a1dc912e1d6e24dbb5a66ce245004"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a832a1dc912e1d6e24dbb5a66ce245004">pbDisplayPaused</a> (string msg)</td></tr>
<tr class="separator:a832a1dc912e1d6e24dbb5a66ce245004"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19c3dce0b0c36a9b63c2201fec77137f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a19c3dce0b0c36a9b63c2201fec77137f">pbDisplay</a> (string msg)</td></tr>
<tr class="separator:a19c3dce0b0c36a9b63c2201fec77137f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4938d71380ac987f56e1652b33e58475"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a4938d71380ac987f56e1652b33e58475">pbDisplayBrief</a> (string msg)</td></tr>
<tr class="separator:a4938d71380ac987f56e1652b33e58475"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a64e8b272dfa4d45b9c44c40ca110e908"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a64e8b272dfa4d45b9c44c40ca110e908">pbDisplayConfirm</a> (string msg)</td></tr>
<tr class="separator:a64e8b272dfa4d45b9c44c40ca110e908"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0ce39507838f32d0cc3ed85fa29139ac"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a0ce39507838f32d0cc3ed85fa29139ac">pbRandom</a> (int x)</td></tr>
<tr class="separator:a0ce39507838f32d0cc3ed85fa29139ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afade608f2cd7d090c93fb7a1384980c9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#afade608f2cd7d090c93fb7a1384980c9">pbGainEXP</a> ()</td></tr>
<tr class="separator:afade608f2cd7d090c93fb7a1384980c9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml">PokemonEssentials.Interface.PokeBattle.IBattleCommon</a></td></tr>
<tr class="memitem:a0ef34cee8c4539d971ae4f49e19f2290 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml#a0ef34cee8c4539d971ae4f49e19f2290">pbStorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a0ef34cee8c4539d971ae4f49e19f2290 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a21f1e1d3b9dc568e9226548acd4791 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml#a3a21f1e1d3b9dc568e9226548acd4791">pbThrowPokeBall</a> (int idxPokemon, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int? rareness=null, bool showplayer=false)</td></tr>
<tr class="separator:a3a21f1e1d3b9dc568e9226548acd4791 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a83926424982ffc5caff02dd79cf78f5a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">PokemonUnity.Overworld.Environments</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a83926424982ffc5caff02dd79cf78f5a">environment</a><code> [get, set]</code></td></tr>
<tr class="separator:a83926424982ffc5caff02dd79cf78f5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63937b71772fa37682bfa951fb1b612e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a63937b71772fa37682bfa951fb1b612e">party1</a><code> [get]</code></td></tr>
<tr class="separator:a63937b71772fa37682bfa951fb1b612e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0b1ede92302ab6f4de00cc9fc7765b4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#aa0b1ede92302ab6f4de00cc9fc7765b4">party2</a><code> [get]</code></td></tr>
<tr class="separator:aa0b1ede92302ab6f4de00cc9fc7765b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3139468536d8e4360be9413201ddb42"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#ad3139468536d8e4360be9413201ddb42">player</a><code> [get]</code></td></tr>
<tr class="separator:ad3139468536d8e4360be9413201ddb42"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a07db193804b5efb56b1c7a118b041832"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a07db193804b5efb56b1c7a118b041832">battlescene</a><code> [get, set]</code></td></tr>
<tr class="separator:a07db193804b5efb56b1c7a118b041832"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ada19fb1eb46cc3d60b19a5f9f5c6c6b2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#ada19fb1eb46cc3d60b19a5f9f5c6c6b2">battlers</a><code> [get]</code></td></tr>
<tr class="separator:ada19fb1eb46cc3d60b19a5f9f5c6c6b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69703cdd118d054c8c0ac9831e1dc4ca"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a69703cdd118d054c8c0ac9831e1dc4ca">opponent</a><code> [get]</code></td></tr>
<tr class="separator:a69703cdd118d054c8c0ac9831e1dc4ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40a392f6be2cde5365b04c362e167027"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a40a392f6be2cde5365b04c362e167027">doublebattle</a><code> [get]</code></td></tr>
<tr class="separator:a40a392f6be2cde5365b04c362e167027"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c971865bd1a3597bdcb1a9e9dd716a9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml#a7c971865bd1a3597bdcb1a9e9dd716a9">ballCount</a><code> [get, set]</code></td></tr>
<tr class="separator:a7c971865bd1a3597bdcb1a9e9dd716a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a09c1205c9be03fe64e923e5577b3f19e" name="a09c1205c9be03fe64e923e5577b3f19e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09c1205c9be03fe64e923e5577b3f19e">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_safari_zone.cshtml">ISafariZone</a> PokemonEssentials.Interface.PokeBattle.ISafariZone.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5517af86b370ea8cfda296ead34f6404" name="a5517af86b370ea8cfda296ead34f6404"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5517af86b370ea8cfda296ead34f6404">&#9670;&#160;</a></span>pbAbort()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbAbort </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeecead3d5740043cd3fe4a2854302ec7" name="aeecead3d5740043cd3fe4a2854302ec7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeecead3d5740043cd3fe4a2854302ec7">&#9670;&#160;</a></span>pbDebugUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbDebugUpdate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a33b7f07e4f7ba00a6eeca869170c57f0">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a19c3dce0b0c36a9b63c2201fec77137f" name="a19c3dce0b0c36a9b63c2201fec77137f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19c3dce0b0c36a9b63c2201fec77137f">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#add28b74ba21b8c60464303f126f1a022">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a4938d71380ac987f56e1652b33e58475" name="a4938d71380ac987f56e1652b33e58475"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4938d71380ac987f56e1652b33e58475">&#9670;&#160;</a></span>pbDisplayBrief()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbDisplayBrief </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a1f3ace39ae05d87163386b151e0d11d8">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a64e8b272dfa4d45b9c44c40ca110e908" name="a64e8b272dfa4d45b9c44c40ca110e908"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a64e8b272dfa4d45b9c44c40ca110e908">&#9670;&#160;</a></span>pbDisplayConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISafariZone.pbDisplayConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a973201217973e23b535eb22bbdf29c29">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a832a1dc912e1d6e24dbb5a66ce245004" name="a832a1dc912e1d6e24dbb5a66ce245004"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a832a1dc912e1d6e24dbb5a66ce245004">&#9670;&#160;</a></span>pbDisplayPaused()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbDisplayPaused </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a60ec24922da683ca0f1757848da72975">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a149364f2f50398d7b2163e3ad4499481" name="a149364f2f50398d7b2163e3ad4499481"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a149364f2f50398d7b2163e3ad4499481">&#9670;&#160;</a></span>pbEscapeRate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.ISafariZone.pbEscapeRate </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>rareness</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#aaa9b1d0bfe94d8af36959d185dfc7d03">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="afade608f2cd7d090c93fb7a1384980c9" name="afade608f2cd7d090c93fb7a1384980c9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afade608f2cd7d090c93fb7a1384980c9">&#9670;&#160;</a></span>pbGainEXP()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.ISafariZone.pbGainEXP </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a18172b738cb259767d5aaa945e0fe08b">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="a65885da93c543fb3dc21d27ac25d460c" name="a65885da93c543fb3dc21d27ac25d460c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65885da93c543fb3dc21d27ac25d460c">&#9670;&#160;</a></span>pbIsDoubleBattler()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISafariZone.pbIsDoubleBattler </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ee5d776a00af4428828f8e09d4ae2c7" name="a7ee5d776a00af4428828f8e09d4ae2c7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ee5d776a00af4428828f8e09d4ae2c7">&#9670;&#160;</a></span>pbIsOpposing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISafariZone.pbIsOpposing </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a49a23a1a58c2374a63b1a167be64ddc8" name="a49a23a1a58c2374a63b1a167be64ddc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49a23a1a58c2374a63b1a167be64ddc8">&#9670;&#160;</a></span>pbPlayer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.PokeBattle.ISafariZone.pbPlayer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0ce39507838f32d0cc3ed85fa29139ac" name="a0ce39507838f32d0cc3ed85fa29139ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0ce39507838f32d0cc3ed85fa29139ac">&#9670;&#160;</a></span>pbRandom()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.ISafariZone.pbRandom </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aee93f104238b252a989b53d18e10b332" name="aee93f104238b252a989b53d18e10b332"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee93f104238b252a989b53d18e10b332">&#9670;&#160;</a></span>pbStartBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.PokeBattle.ISafariZone.pbStartBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a4c2cdd7d0479ce8b8932cd681081753b">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a7c971865bd1a3597bdcb1a9e9dd716a9" name="a7c971865bd1a3597bdcb1a9e9dd716a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c971865bd1a3597bdcb1a9e9dd716a9">&#9670;&#160;</a></span>ballCount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.ISafariZone.ballCount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml#a4201be0089c82bf87d900f2b82d5e515">PokemonUnity.Combat.PokeBattle_SafariZone</a>.</p>

</div>
</div>
<a id="ada19fb1eb46cc3d60b19a5f9f5c6c6b2" name="ada19fb1eb46cc3d60b19a5f9f5c6c6b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ada19fb1eb46cc3d60b19a5f9f5c6c6b2">&#9670;&#160;</a></span>battlers</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> [] PokemonEssentials.Interface.PokeBattle.ISafariZone.battlers</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a07db193804b5efb56b1c7a118b041832" name="a07db193804b5efb56b1c7a118b041832"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a07db193804b5efb56b1c7a118b041832">&#9670;&#160;</a></span>battlescene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISafariZone.battlescene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a40a392f6be2cde5365b04c362e167027" name="a40a392f6be2cde5365b04c362e167027"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40a392f6be2cde5365b04c362e167027">&#9670;&#160;</a></span>doublebattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.ISafariZone.doublebattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a83926424982ffc5caff02dd79cf78f5a" name="a83926424982ffc5caff02dd79cf78f5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a83926424982ffc5caff02dd79cf78f5a">&#9670;&#160;</a></span>environment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">PokemonUnity.Overworld.Environments</a> PokemonEssentials.Interface.PokeBattle.ISafariZone.environment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a69703cdd118d054c8c0ac9831e1dc4ca" name="a69703cdd118d054c8c0ac9831e1dc4ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69703cdd118d054c8c0ac9831e1dc4ca">&#9670;&#160;</a></span>opponent</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> [] PokemonEssentials.Interface.PokeBattle.ISafariZone.opponent</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a63937b71772fa37682bfa951fb1b612e" name="a63937b71772fa37682bfa951fb1b612e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63937b71772fa37682bfa951fb1b612e">&#9670;&#160;</a></span>party1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.PokeBattle.ISafariZone.party1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa0b1ede92302ab6f4de00cc9fc7765b4" name="aa0b1ede92302ab6f4de00cc9fc7765b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0b1ede92302ab6f4de00cc9fc7765b4">&#9670;&#160;</a></span>party2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.PokeBattle.ISafariZone.party2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3139468536d8e4360be9413201ddb42" name="ad3139468536d8e4360be9413201ddb42"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3139468536d8e4360be9413201ddb42">&#9670;&#160;</a></span>player</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> [] PokemonEssentials.Interface.PokeBattle.ISafariZone.player</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_safari_zone_8cs.cshtml">ISafariZone.cs</a></li>
</ul>
