@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">IPokemonSummaryScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a66f73c2339357ae800632d186a55c686">initialize</a>(IPokemonSummaryScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#acc76b799ff4428cdbb95ce4591b0c69b">StartChooseMoveScreen</a>(IPokemon[] party, int partyindex, string message)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#ab587fba55ad3b0da165c6a912f268e82">StartChooseMoveScreen</a>(IPokemon party, int partyindex, string message)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a8afdab3ae8758a2fe9a38540390f5239">StartForgetScreen</a>(IPokemon party, int partyindex, Moves moveToLearn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml#a8eb3dd020f495098df9d4074a77d2f97">StartScreen</a>(IPokemon[] party, int partyindex)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_screen.cshtml">PokemonEssentials.Interface.Screen.IPokemonSummaryScreen</a></td><td class="entry"></td></tr>
</table>
