@{
	Page.Title = "PokemonEssentials.Interface.Field.IRegionMapData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml">IRegionMapData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IRegionMapData Interface Reference</div></div>
}


<p>Each square of the <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> can be given a variety of information. The information each square of a region map can have is a <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml" title="Each square of the IRegionMap can be given a variety of information. The information each square of a...">IRegionMapData</a> node.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aafa9b2f435349325a6e0d4d57baf1eb0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#aafa9b2f435349325a6e0d4d57baf1eb0">Position</a> <code>[get]</code></td></tr>
<tr class="memdesc:aafa9b2f435349325a6e0d4d57baf1eb0"><td class="mdescLeft">&#160;</td><td class="mdescRight">The coordinates of the point on the region map, in squares. Every point must have these coordinates. You cannot have more than one line in the same region with the same coordinates.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#aafa9b2f435349325a6e0d4d57baf1eb0">More...</a><br /></td></tr>
<tr class="separator:aafa9b2f435349325a6e0d4d57baf1eb0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7fede61a089c9ac77d9aa60fb80653f3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a7fede61a089c9ac77d9aa60fb80653f3">Name</a> <code>[get]</code></td></tr>
<tr class="memdesc:a7fede61a089c9ac77d9aa60fb80653f3"><td class="mdescLeft">&#160;</td><td class="mdescRight">The location's name (e.g. Route 101, Rustboro City, Mt. Moon). Several squares can have the same name (e.g. you can give both squares of a large city that takes up 2 squares the same name).   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a7fede61a089c9ac77d9aa60fb80653f3">More...</a><br /></td></tr>
<tr class="separator:a7fede61a089c9ac77d9aa60fb80653f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a76012871b2f6b625b55e81b927e94c88"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a76012871b2f6b625b55e81b927e94c88">PointOfInterest</a> <code>[get]</code></td></tr>
<tr class="memdesc:a76012871b2f6b625b55e81b927e94c88"><td class="mdescLeft">&#160;</td><td class="mdescRight">Optional. The name of a particular building or cave or other feature within that location (e.g. Pok&eacute;mon Tower, Desert, Safari Zone). You can only have one Point of Interest per square.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a76012871b2f6b625b55e81b927e94c88">More...</a><br /></td></tr>
<tr class="separator:a76012871b2f6b625b55e81b927e94c88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abfae1cad74da8b32fbcb0898f2438c32"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#abfae1cad74da8b32fbcb0898f2438c32">FlyDestination</a> <code>[get]</code></td></tr>
<tr class="memdesc:abfae1cad74da8b32fbcb0898f2438c32"><td class="mdescLeft">&#160;</td><td class="mdescRight">Optional. This is a Fly destination, and is a </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a></dd></dl>
<p>: the map ID followed by X and Y coordinates of the location Fly will take you to when you choose this square to Fly to. This location is usually directly in front of a Pok&eacute; Center building, hence its old name "Healing Spot".   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#abfae1cad74da8b32fbcb0898f2438c32">More...</a><br /></td></tr>
<tr class="separator:abfae1cad74da8b32fbcb0898f2438c32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a062fce4305dd1287b0307bed6d7362ae"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a062fce4305dd1287b0307bed6d7362ae">Switch</a> <code>[get]</code></td></tr>
<tr class="memdesc:a062fce4305dd1287b0307bed6d7362ae"><td class="mdescLeft">&#160;</td><td class="mdescRight">Optional. If this is a number, then the Game Switch of that number must be ON in order to show the square's information. That is, the map's name and Point of Interest will not be shown unless that Game Switch is ON. This only affects the player's version of the region map; the public version never shows the information for these squares. Multiple squares can depend on the same Game Switch.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml#a062fce4305dd1287b0307bed6d7362ae">More...</a><br /></td></tr>
<tr class="separator:a062fce4305dd1287b0307bed6d7362ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Each square of the <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> can be given a variety of information. The information each square of a region map can have is a <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_data.cshtml" title="Each square of the IRegionMap can be given a variety of information. The information each square of a...">IRegionMapData</a> node.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="abfae1cad74da8b32fbcb0898f2438c32" name="abfae1cad74da8b32fbcb0898f2438c32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abfae1cad74da8b32fbcb0898f2438c32">&#9670;&#160;</a></span>FlyDestination</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IRegionMapData.FlyDestination</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Optional. This is a Fly destination, and is a </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a></dd></dl>
<p>: the map ID followed by X and Y coordinates of the location Fly will take you to when you choose this square to Fly to. This location is usually directly in front of a Pok&eacute; Center building, hence its old name "Healing Spot".  </p>

</div>
</div>
<a id="a7fede61a089c9ac77d9aa60fb80653f3" name="a7fede61a089c9ac77d9aa60fb80653f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7fede61a089c9ac77d9aa60fb80653f3">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IRegionMapData.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The location's name (e.g. Route 101, Rustboro City, Mt. Moon). Several squares can have the same name (e.g. you can give both squares of a large city that takes up 2 squares the same name).  </p>

</div>
</div>
<a id="a76012871b2f6b625b55e81b927e94c88" name="a76012871b2f6b625b55e81b927e94c88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a76012871b2f6b625b55e81b927e94c88">&#9670;&#160;</a></span>PointOfInterest</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IRegionMapData.PointOfInterest</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Optional. The name of a particular building or cave or other feature within that location (e.g. Pok&eacute;mon Tower, Desert, Safari Zone). You can only have one Point of Interest per square.  </p>

</div>
</div>
<a id="aafa9b2f435349325a6e0d4d57baf1eb0" name="aafa9b2f435349325a6e0d4d57baf1eb0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aafa9b2f435349325a6e0d4d57baf1eb0">&#9670;&#160;</a></span>Position</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IRegionMapData.Position</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The coordinates of the point on the region map, in squares. Every point must have these coordinates. You cannot have more than one line in the same region with the same coordinates.  </p>

</div>
</div>
<a id="a062fce4305dd1287b0307bed6d7362ae" name="a062fce4305dd1287b0307bed6d7362ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a062fce4305dd1287b0307bed6d7362ae">&#9670;&#160;</a></span>Switch</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.Field.IRegionMapData.Switch</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Optional. If this is a number, then the Game Switch of that number must be ON in order to show the square's information. That is, the map's name and Point of Interest will not be shown unless that Game Switch is ON. This only affects the player's version of the region map; the public version never shows the information for these squares. Multiple squares can depend on the same Game Switch.  </p>
<p >Typically used for special locations outside of the storyline. Note that only the name and Point of Interest are not displayed; you can still Fly there (if "Fly Destination" is defined). However, since you can only Fly to maps you have already visited, this shouldn't usually matter as you would set this Game Switch ON at the same time as visiting the map. </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_data_8cs.cshtml">IMapData.cs</a></li>
</ul>

