@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IEventScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">IEventScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IEventScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IEventScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.png" usemap="#PokemonEssentials.Interface.Screen.IEventScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IEventScene_map" name="PokemonEssentials.Interface.Screen.IEventScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_button_event_scene.cshtml" title="Shows a help screen listing the keyboard controls." alt="PokemonEssentials.Interface.Screen.IButtonEventScene" shape="rect" coords="0,112,328,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_intro_event_scene.cshtml" title="First scene to load when game boots up. Displays logos and intro credits/sponsors" alt="PokemonEssentials.Interface.Screen.IIntroEventScene" shape="rect" coords="338,112,666,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aae06059928f3892b083510e2ca0774ff"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#aae06059928f3892b083510e2ca0774ff">main</a> ()</td></tr>
<tr class="memdesc:aae06059928f3892b083510e2ca0774ff"><td class="mdescLeft">&#160;</td><td class="mdescRight">Beginning starting point that runs and operates the entire game application   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#aae06059928f3892b083510e2ca0774ff">More...</a><br /></td></tr>
<tr class="separator:aae06059928f3892b083510e2ca0774ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1bd4b2b3593d861e70de298963f55ba"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">IEventScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#ad1bd4b2b3593d861e70de298963f55ba">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:ad1bd4b2b3593d861e70de298963f55ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39b01a578930a7b9be97f2f518005ae1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a39b01a578930a7b9be97f2f518005ae1">addLabel</a> (float x, float y, float width, string text)</td></tr>
<tr class="separator:a39b01a578930a7b9be97f2f518005ae1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0bfe23737982dd1ea99ee27136582f58"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a0bfe23737982dd1ea99ee27136582f58">addImage</a> (float x, float y, string name)</td></tr>
<tr class="separator:a0bfe23737982dd1ea99ee27136582f58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af022403fbfceefe0bd8b51ca4245fb65"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#af022403fbfceefe0bd8b51ca4245fb65">getPicture</a> (int num)</td></tr>
<tr class="separator:af022403fbfceefe0bd8b51ca4245fb65"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d848b0529165f0640562a9283aea5d0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a3d848b0529165f0640562a9283aea5d0">wait</a> (int frames)</td></tr>
<tr class="separator:a3d848b0529165f0640562a9283aea5d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f4948d46b51f4f08294858bf990412c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7f4948d46b51f4f08294858bf990412c">pictureWait</a> (int extraframes=0)</td></tr>
<tr class="separator:a7f4948d46b51f4f08294858bf990412c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e46d3a11b469a9d083bbda5b1b976e4"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a2e46d3a11b469a9d083bbda5b1b976e4">update</a> ()</td></tr>
<tr class="separator:a2e46d3a11b469a9d083bbda5b1b976e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adeda265316ed969617320bf3d2ccfb27"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#adeda265316ed969617320bf3d2ccfb27">disposed</a><code> [get]</code></td></tr>
<tr class="separator:adeda265316ed969617320bf3d2ccfb27"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a7ca7d0b8016eebb2e8874da43ae4428b"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7ca7d0b8016eebb2e8874da43ae4428b">onATrigger</a></td></tr>
<tr class="memdesc:a7ca7d0b8016eebb2e8874da43ae4428b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Action Button Pressed...   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7ca7d0b8016eebb2e8874da43ae4428b">More...</a><br /></td></tr>
<tr class="separator:a7ca7d0b8016eebb2e8874da43ae4428b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a099380f70b04a582870bdb048ff5ca57"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a099380f70b04a582870bdb048ff5ca57">onBTrigger</a></td></tr>
<tr class="memdesc:a099380f70b04a582870bdb048ff5ca57"><td class="mdescLeft">&#160;</td><td class="mdescRight">Back/Cancel Button Pressed...   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a099380f70b04a582870bdb048ff5ca57">More...</a><br /></td></tr>
<tr class="separator:a099380f70b04a582870bdb048ff5ca57"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4fb2daca31738cf3873fa55763a2ceaf"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a4fb2daca31738cf3873fa55763a2ceaf">onUpdate</a></td></tr>
<tr class="memdesc:a4fb2daca31738cf3873fa55763a2ceaf"><td class="mdescLeft">&#160;</td><td class="mdescRight">Update has been triggered, and a new frame is called   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a4fb2daca31738cf3873fa55763a2ceaf">More...</a><br /></td></tr>
<tr class="separator:a4fb2daca31738cf3873fa55763a2ceaf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0bfe23737982dd1ea99ee27136582f58" name="a0bfe23737982dd1ea99ee27136582f58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0bfe23737982dd1ea99ee27136582f58">&#9670;&#160;</a></span>addImage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IEventScene.addImage </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a39b01a578930a7b9be97f2f518005ae1" name="a39b01a578930a7b9be97f2f518005ae1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39b01a578930a7b9be97f2f518005ae1">&#9670;&#160;</a></span>addLabel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IEventScene.addLabel </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af022403fbfceefe0bd8b51ca4245fb65" name="af022403fbfceefe0bd8b51ca4245fb65"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af022403fbfceefe0bd8b51ca4245fb65">&#9670;&#160;</a></span>getPicture()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IEventScene.getPicture </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1bd4b2b3593d861e70de298963f55ba" name="ad1bd4b2b3593d861e70de298963f55ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1bd4b2b3593d861e70de298963f55ba">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">IEventScene</a> PokemonEssentials.Interface.Screen.IEventScene.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae06059928f3892b083510e2ca0774ff" name="aae06059928f3892b083510e2ca0774ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae06059928f3892b083510e2ca0774ff">&#9670;&#160;</a></span>main()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.IEventScene.main </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Beginning starting point that runs and operates the entire game application  </p>
<dl class="section return"><dt>Returns</dt><dd>Enumerates through each frame tick and calls <code>update</code> across entire game assembly </dd></dl>
<p>This is supposed to mimic behavior of Unity's Monobehavior <code>OnUpdate</code> </p>

</div>
</div>
<a id="a7f4948d46b51f4f08294858bf990412c" name="a7f4948d46b51f4f08294858bf990412c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f4948d46b51f4f08294858bf990412c">&#9670;&#160;</a></span>pictureWait()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IEventScene.pictureWait </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>extraframes</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2e46d3a11b469a9d083bbda5b1b976e4" name="a2e46d3a11b469a9d083bbda5b1b976e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e46d3a11b469a9d083bbda5b1b976e4">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.IEventScene.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3d848b0529165f0640562a9283aea5d0" name="a3d848b0529165f0640562a9283aea5d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d848b0529165f0640562a9283aea5d0">&#9670;&#160;</a></span>wait()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IEventScene.wait </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adeda265316ed969617320bf3d2ccfb27" name="adeda265316ed969617320bf3d2ccfb27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adeda265316ed969617320bf3d2ccfb27">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IEventScene.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="a7ca7d0b8016eebb2e8874da43ae4428b" name="a7ca7d0b8016eebb2e8874da43ae4428b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ca7d0b8016eebb2e8874da43ae4428b">&#9670;&#160;</a></span>onATrigger</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Screen.IEventScene.onATrigger</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Action Button Pressed...  </p>

</div>
</div>
<a id="a099380f70b04a582870bdb048ff5ca57" name="a099380f70b04a582870bdb048ff5ca57"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a099380f70b04a582870bdb048ff5ca57">&#9670;&#160;</a></span>onBTrigger</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Screen.IEventScene.onBTrigger</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Back/Cancel Button Pressed...  </p>

</div>
</div>
<a id="a4fb2daca31738cf3873fa55763a2ceaf" name="a4fb2daca31738cf3873fa55763a2ceaf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4fb2daca31738cf3873fa55763a2ceaf">&#9670;&#160;</a></span>onUpdate</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Screen.IEventScene.onUpdate</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Update has been triggered, and a new frame is called  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_intro_8cs.cshtml">IIntro.cs</a></li>
</ul>

