@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.RPGMaker.Kernal.IEvent Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml">IEvent</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IEvent Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a4d2c5903b54e6593833aeb62ee97eddb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml#a4d2c5903b54e6593833aeb62ee97eddb">id</a><code> [get, set]</code></td></tr>
<tr class="separator:a4d2c5903b54e6593833aeb62ee97eddb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71f8f1518bcca0dcea23c5a5fade72f8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml#a71f8f1518bcca0dcea23c5a5fade72f8">name</a><code> [get, set]</code></td></tr>
<tr class="separator:a71f8f1518bcca0dcea23c5a5fade72f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa23f576293c6725b4ae24b176adf2c67"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml#aa23f576293c6725b4ae24b176adf2c67">x</a><code> [get, set]</code></td></tr>
<tr class="separator:aa23f576293c6725b4ae24b176adf2c67"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d3291e892293bfb3151fd72a4d6a059"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml#a5d3291e892293bfb3151fd72a4d6a059">y</a><code> [get, set]</code></td></tr>
<tr class="separator:a5d3291e892293bfb3151fd72a4d6a059"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71e92e1b3bdfe9f1534ad28073702fde"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml">IEventPage</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event.cshtml#a71e92e1b3bdfe9f1534ad28073702fde">pages</a><code> [get, set]</code></td></tr>
<tr class="separator:a71e92e1b3bdfe9f1534ad28073702fde"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a4d2c5903b54e6593833aeb62ee97eddb" name="a4d2c5903b54e6593833aeb62ee97eddb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4d2c5903b54e6593833aeb62ee97eddb">&#9670;&#160;</a></span>id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEvent.id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71f8f1518bcca0dcea23c5a5fade72f8" name="a71f8f1518bcca0dcea23c5a5fade72f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71f8f1518bcca0dcea23c5a5fade72f8">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.IEvent.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71e92e1b3bdfe9f1534ad28073702fde" name="a71e92e1b3bdfe9f1534ad28073702fde"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71e92e1b3bdfe9f1534ad28073702fde">&#9670;&#160;</a></span>pages</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page.cshtml">IEventPage</a>&gt; PokemonEssentials.Interface.RPGMaker.Kernal.IEvent.pages</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa23f576293c6725b4ae24b176adf2c67" name="aa23f576293c6725b4ae24b176adf2c67"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa23f576293c6725b4ae24b176adf2c67">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEvent.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5d3291e892293bfb3151fd72a4d6a059" name="a5d3291e892293bfb3151fd72a4d6a059"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d3291e892293bfb3151fd72a4d6a059">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEvent.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
