@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">IOnStepTakenTransferPossibleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] = Array that contains a single boolean value. If an event handler moves the player to a new map, it should set this value to true. Other event handlers should check this parameter's value.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,467,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml" title="Parameters: e[0] = Array that contains a single boolean value. If an event handler moves the player t..." alt="PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs" shape="rect" coords="0,112,467,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a43d5997d96c85bbb9b81e2d8108a88d2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml#a43d5997d96c85bbb9b81e2d8108a88d2">Index</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a43d5997d96c85bbb9b81e2d8108a88d2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Array that contains a single boolean value.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml#a43d5997d96c85bbb9b81e2d8108a88d2">More...</a><br /></td></tr>
<tr class="separator:a43d5997d96c85bbb9b81e2d8108a88d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] = Array that contains a single boolean value. If an event handler moves the player to a new map, it should set this value to true. Other event handlers should check this parameter's value.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a43d5997d96c85bbb9b81e2d8108a88d2" name="a43d5997d96c85bbb9b81e2d8108a88d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43d5997d96c85bbb9b81e2d8108a88d2">&#9670;&#160;</a></span>Index</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.EventArg.IOnStepTakenTransferPossibleEventArgs.Index</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Array that contains a single boolean value.  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_step_taken_transfer_possible_event_args.cshtml#a20031602f15d8439f90bca35b3e09f69">PokemonUnity.EventArg.OnStepTakenTransferPossibleEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>
