@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IPokemonChallengeRules Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IPokemonChallengeRules Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IPokemonChallengeRules:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.png" usemap="#PokemonEssentials.Interface.Battle.IPokemonChallengeRules_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IPokemonChallengeRules_map" name="PokemonEssentials.Interface.Battle.IPokemonChallengeRules_map">
<area href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml" alt="PokemonUnity.PokemonChallengeRules" shape="rect" coords="0,56,354,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6a7418e8bf0f906d197b0ae1e79d9541"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a6a7418e8bf0f906d197b0ae1e79d9541">copy</a> ()</td></tr>
<tr class="separator:a6a7418e8bf0f906d197b0ae1e79d9541"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40cda073b4086232988f4f2226198b72"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a40cda073b4086232988f4f2226198b72">setNumber</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">number</a>)</td></tr>
<tr class="separator:a40cda073b4086232988f4f2226198b72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90ed6c42c0c2a7b09726df47b7a12773"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a90ed6c42c0c2a7b09726df47b7a12773">setDoubleBattle</a> (bool value)</td></tr>
<tr class="separator:a90ed6c42c0c2a7b09726df47b7a12773"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7ed874e7512b5e54771a059d80f69b6"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ab7ed874e7512b5e54771a059d80f69b6">adjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2)</td></tr>
<tr class="separator:ab7ed874e7512b5e54771a059d80f69b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9713d176324865de74d7bb566adbce8f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9713d176324865de74d7bb566adbce8f">unadjustLevelsBilateral</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:a9713d176324865de74d7bb566adbce8f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6ac4c713196736e8c2bae1ebb5c516d"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ad6ac4c713196736e8c2bae1ebb5c516d">adjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2)</td></tr>
<tr class="separator:ad6ac4c713196736e8c2bae1ebb5c516d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a101ec2e1f0eda018ed0befbe09c8569b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a101ec2e1f0eda018ed0befbe09c8569b">unadjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party2, int?[][] adjusts)</td></tr>
<tr class="separator:a101ec2e1f0eda018ed0befbe09c8569b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7cd3ad68e4c99945e5900316f1914bd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ab7cd3ad68e4c99945e5900316f1914bd">addPokemonRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> rule)</td></tr>
<tr class="separator:ab7cd3ad68e4c99945e5900316f1914bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ab5bed3871e86bbe75abac32259b7e1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ab5bed3871e86bbe75abac32259b7e1">addLevelRule</a> (int minLevel, int maxLevel, int totalLevel)</td></tr>
<tr class="separator:a9ab5bed3871e86bbe75abac32259b7e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a2562a3851313bd299ee1cbe8049462"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9a2562a3851313bd299ee1cbe8049462">addSubsetRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:a9a2562a3851313bd299ee1cbe8049462"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeceab9f488430f3c53fe90d598c20911"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aeceab9f488430f3c53fe90d598c20911">addTeamRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:aeceab9f488430f3c53fe90d598c20911"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a560efe199747e20b5a24c8d8626e5330"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a560efe199747e20b5a24c8d8626e5330">addBattleRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a> rule)</td></tr>
<tr class="separator:a560efe199747e20b5a24c8d8626e5330"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae79e33e4c1982d4651c6d1a0e17a2658"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#ae79e33e4c1982d4651c6d1a0e17a2658">createBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[] trainer2)</td></tr>
<tr class="separator:ae79e33e4c1982d4651c6d1a0e17a2658"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d9392da1cb9c21308f39d86b836ebc8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a1d9392da1cb9c21308f39d86b836ebc8">setRuleset</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> rule)</td></tr>
<tr class="separator:a1d9392da1cb9c21308f39d86b836ebc8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80b353a4b267856fdbc49bd93746f33b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a80b353a4b267856fdbc49bd93746f33b">setBattleType</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a> rule)</td></tr>
<tr class="separator:a80b353a4b267856fdbc49bd93746f33b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12cb598a1e76188886324577da82a934"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a12cb598a1e76188886324577da82a934">setLevelAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a> rule)</td></tr>
<tr class="separator:a12cb598a1e76188886324577da82a934"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa0b250f0c02bcc7d9a9f787e3bb290b6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#aa0b250f0c02bcc7d9a9f787e3bb290b6">ruleset</a><code> [get]</code></td></tr>
<tr class="separator:aa0b250f0c02bcc7d9a9f787e3bb290b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb9609d038e567180354e54469dfb3e2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#adb9609d038e567180354e54469dfb3e2">battletype</a><code> [get]</code></td></tr>
<tr class="separator:adb9609d038e567180354e54469dfb3e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a263f005907cbabea7f445907acc65c58"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a263f005907cbabea7f445907acc65c58">levelAdjustment</a><code> [get]</code></td></tr>
<tr class="separator:a263f005907cbabea7f445907acc65c58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ea7ce2ca1a38e7ed7f665aca99bc2cf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">number</a><code> [get]</code></td></tr>
<tr class="separator:a9ea7ce2ca1a38e7ed7f665aca99bc2cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a560efe199747e20b5a24c8d8626e5330" name="a560efe199747e20b5a24c8d8626e5330"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a560efe199747e20b5a24c8d8626e5330">&#9670;&#160;</a></span>addBattleRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.addBattleRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">IBattleRule</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#af4f0407bedb2abe700c128f0cd9a1af0">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a9ab5bed3871e86bbe75abac32259b7e1" name="a9ab5bed3871e86bbe75abac32259b7e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ab5bed3871e86bbe75abac32259b7e1">&#9670;&#160;</a></span>addLevelRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.addLevelRule </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minLevel</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxLevel</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>totalLevel</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#afa40de9ad798d1a998adc3128c480f75">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="ab7cd3ad68e4c99945e5900316f1914bd" name="ab7cd3ad68e4c99945e5900316f1914bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7cd3ad68e4c99945e5900316f1914bd">&#9670;&#160;</a></span>addPokemonRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.addPokemonRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#accaaa8cdf96ab008e646cb374ec8349d">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a9a2562a3851313bd299ee1cbe8049462" name="a9a2562a3851313bd299ee1cbe8049462"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a2562a3851313bd299ee1cbe8049462">&#9670;&#160;</a></span>addSubsetRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.addSubsetRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#afdd1773335be3f670b471631ef66a297">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="aeceab9f488430f3c53fe90d598c20911" name="aeceab9f488430f3c53fe90d598c20911"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeceab9f488430f3c53fe90d598c20911">&#9670;&#160;</a></span>addTeamRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.addTeamRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a5fd7164ce067ae9207be79c914bca006">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="ad6ac4c713196736e8c2bae1ebb5c516d" name="ad6ac4c713196736e8c2bae1ebb5c516d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6ac4c713196736e8c2bae1ebb5c516d">&#9670;&#160;</a></span>adjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[][] PokemonEssentials.Interface.Battle.IPokemonChallengeRules.adjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab7ed874e7512b5e54771a059d80f69b6" name="ab7ed874e7512b5e54771a059d80f69b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7ed874e7512b5e54771a059d80f69b6">&#9670;&#160;</a></span>adjustLevelsBilateral()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[][] PokemonEssentials.Interface.Battle.IPokemonChallengeRules.adjustLevelsBilateral </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6a7418e8bf0f906d197b0ae1e79d9541" name="a6a7418e8bf0f906d197b0ae1e79d9541"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a7418e8bf0f906d197b0ae1e79d9541">&#9670;&#160;</a></span>copy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.copy </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a968a7a3eab867db50a36ca4f055209fb">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="ae79e33e4c1982d4651c6d1a0e17a2658" name="ae79e33e4c1982d4651c6d1a0e17a2658"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae79e33e4c1982d4651c6d1a0e17a2658">&#9670;&#160;</a></span>createBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.createBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>[]&#160;</td>
          <td class="paramname"><em>trainer2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a2b01b1cf038b275dea473a1e06b0e9d6">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a80b353a4b267856fdbc49bd93746f33b" name="a80b353a4b267856fdbc49bd93746f33b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a80b353a4b267856fdbc49bd93746f33b">&#9670;&#160;</a></span>setBattleType()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.setBattleType </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a201c1d179d7cf956c508a3e4a18e99ef">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a90ed6c42c0c2a7b09726df47b7a12773" name="a90ed6c42c0c2a7b09726df47b7a12773"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90ed6c42c0c2a7b09726df47b7a12773">&#9670;&#160;</a></span>setDoubleBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.setDoubleBattle </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a9e22942da78f77c1778f4e2cad016e1e">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a12cb598a1e76188886324577da82a934" name="a12cb598a1e76188886324577da82a934"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12cb598a1e76188886324577da82a934">&#9670;&#160;</a></span>setLevelAdjustment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.setLevelAdjustment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#acb228b35bfac80e11bd6f5340ed9e91c">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a40cda073b4086232988f4f2226198b72" name="a40cda073b4086232988f4f2226198b72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40cda073b4086232988f4f2226198b72">&#9670;&#160;</a></span>setNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.setNumber </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>number</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a28b5fe51ab806761c76c151ed3a3692b">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a1d9392da1cb9c21308f39d86b836ebc8" name="a1d9392da1cb9c21308f39d86b836ebc8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1d9392da1cb9c21308f39d86b836ebc8">&#9670;&#160;</a></span>setRuleset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.setRuleset </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td>
          <td class="paramname"><em>rule</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#add5d615f2dfa748f22f2c6cb242d1794">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a101ec2e1f0eda018ed0befbe09c8569b" name="a101ec2e1f0eda018ed0befbe09c8569b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a101ec2e1f0eda018ed0befbe09c8569b">&#9670;&#160;</a></span>unadjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IPokemonChallengeRules.unadjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>adjusts</em>[][]&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9713d176324865de74d7bb566adbce8f" name="a9713d176324865de74d7bb566adbce8f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9713d176324865de74d7bb566adbce8f">&#9670;&#160;</a></span>unadjustLevelsBilateral()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IPokemonChallengeRules.unadjustLevelsBilateral </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>adjusts</em>[][]&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adb9609d038e567180354e54469dfb3e2" name="adb9609d038e567180354e54469dfb3e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb9609d038e567180354e54469dfb3e2">&#9670;&#160;</a></span>battletype</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_type.cshtml">IBattleType</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.battletype</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a09f2e4d856d981e7cbdcd73f2875a8b0">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a263f005907cbabea7f445907acc65c58" name="a263f005907cbabea7f445907acc65c58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a263f005907cbabea7f445907acc65c58">&#9670;&#160;</a></span>levelAdjustment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.levelAdjustment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a55327b5c58129e4d9c8b586fdf6e5997">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="a9ea7ce2ca1a38e7ed7f665aca99bc2cf" name="a9ea7ce2ca1a38e7ed7f665aca99bc2cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ea7ce2ca1a38e7ed7f665aca99bc2cf">&#9670;&#160;</a></span>number</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IPokemonChallengeRules.number</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#ae4edce76348591b55d1c58b76c06cb70">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<a id="aa0b250f0c02bcc7d9a9f787e3bb290b6" name="aa0b250f0c02bcc7d9a9f787e3bb290b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0b250f0c02bcc7d9a9f787e3bb290b6">&#9670;&#160;</a></span>ruleset</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a> PokemonEssentials.Interface.Battle.IPokemonChallengeRules.ruleset</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_challenge_rules.cshtml#a7692d4c1cd3691e507ce3b1c1c84dab9">PokemonUnity.PokemonChallengeRules</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

