@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">IPokemonBag_Scene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonBag_Scene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a85093e1f796ddad22b9442541cfa22cb">pbChooseItem</a>(bool lockpocket=false)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a3475ada5096568c602788f5766638349">pbChooseNumber</a>(string helptext, int maximum)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a26661e8e7e4bb345ed38f4f5f7da22a3">pbConfirm</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#abc41b278fdc96535509910bfcf54e9c9">pbDisplay</a>(string msg, bool brief=false)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">PokemonUnity::IScene.pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#aedc7d974d05356391303e70e7f0bcc3c">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a2f14d7c4217a787b7eeda00906845b1b">pbShowCommands</a>(string helptext, int commands)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a5aa438d33ab73e5dd04324aebee58c26">pbStartScene</a>(Bag bag)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml#a21b8c924fe90d3c3b457eb33d963c541">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml">PokemonUnity.IPokemonBag_Scene</a></td><td class="entry"></td></tr>
</table>