@{
	Page.Title = "PokemonEssentials.Interface.Field.IPointInterpolator Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">IPointInterpolator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IPointInterpolator Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abbf7954dce7f3e31169aaf8032ccd322"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">IPointInterpolator</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#abbf7954dce7f3e31169aaf8032ccd322">initialize</a> (float oldx, float oldy, float newx, float newy, int frames)</td></tr>
<tr class="separator:abbf7954dce7f3e31169aaf8032ccd322"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31caea8171aa3f914e74f880f4f98fa8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a31caea8171aa3f914e74f880f4f98fa8">restart</a> (float oldx, float oldy, float newx, float newy, int frames)</td></tr>
<tr class="separator:a31caea8171aa3f914e74f880f4f98fa8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1e654371ab045dfc5bd7b9dc48123327"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a1e654371ab045dfc5bd7b9dc48123327">done</a> ()</td></tr>
<tr class="separator:a1e654371ab045dfc5bd7b9dc48123327"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af36725ae32df8479cdbc0f72d4de28b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#af36725ae32df8479cdbc0f72d4de28b1">update</a> ()</td></tr>
<tr class="separator:af36725ae32df8479cdbc0f72d4de28b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aefc76df138970e8e0724f19977700091"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#aefc76df138970e8e0724f19977700091">x</a><code> [get]</code></td></tr>
<tr class="separator:aefc76df138970e8e0724f19977700091"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f4f7e3fe9fb43409119804c68931462"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml#a9f4f7e3fe9fb43409119804c68931462">y</a><code> [get]</code></td></tr>
<tr class="separator:a9f4f7e3fe9fb43409119804c68931462"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1e654371ab045dfc5bd7b9dc48123327" name="a1e654371ab045dfc5bd7b9dc48123327"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e654371ab045dfc5bd7b9dc48123327">&#9670;&#160;</a></span>done()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IPointInterpolator.done </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abbf7954dce7f3e31169aaf8032ccd322" name="abbf7954dce7f3e31169aaf8032ccd322"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abbf7954dce7f3e31169aaf8032ccd322">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_point_interpolator.cshtml">IPointInterpolator</a> PokemonEssentials.Interface.Field.IPointInterpolator.initialize </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>oldx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>oldy</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>newx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>newy</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a31caea8171aa3f914e74f880f4f98fa8" name="a31caea8171aa3f914e74f880f4f98fa8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31caea8171aa3f914e74f880f4f98fa8">&#9670;&#160;</a></span>restart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IPointInterpolator.restart </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>oldx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>oldy</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>newx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>newy</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>frames</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af36725ae32df8479cdbc0f72d4de28b1" name="af36725ae32df8479cdbc0f72d4de28b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af36725ae32df8479cdbc0f72d4de28b1">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IPointInterpolator.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aefc76df138970e8e0724f19977700091" name="aefc76df138970e8e0724f19977700091"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefc76df138970e8e0724f19977700091">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.IPointInterpolator.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f4f7e3fe9fb43409119804c68931462" name="a9f4f7e3fe9fb43409119804c68931462"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f4f7e3fe9fb43409119804c68931462">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.IPointInterpolator.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_hidden_moves_8cs.cshtml">IHiddenMoves.cs</a></li>
</ul>

