@{
	Page.Title = "PokemonEssentials.Interface.Field.IMaze Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml">IMaze</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMaze Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:afec84e4ffd9bab5a173e5c70bdabe2df"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml">IMaze</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#afec84e4ffd9bab5a173e5c70bdabe2df">initialize</a> (int cw, int ch)</td></tr>
<tr class="separator:afec84e4ffd9bab5a173e5c70bdabe2df"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa42f039471996eee7b19038d564544d1"><td class="memItemLeft" align="right" valign="top">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_node_list_element.cshtml">INodeListElement</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#aa42f039471996eee7b19038d564544d1">buildNodeList</a> ()</td></tr>
<tr class="separator:aa42f039471996eee7b19038d564544d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3da0acaf4cf8fc6c7eb961398acc1be7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a3da0acaf4cf8fc6c7eb961398acc1be7">setEdgeNode</a> (float x, float y, int edge)</td></tr>
<tr class="separator:a3da0acaf4cf8fc6c7eb961398acc1be7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31dba64a5f853b5885c0d1f7b19df732"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a31dba64a5f853b5885c0d1f7b19df732">clearEdgeNode</a> (float x, float y, int edge)</td></tr>
<tr class="separator:a31dba64a5f853b5885c0d1f7b19df732"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19f47776c0747526bd7a384f1cc7fc04"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a19f47776c0747526bd7a384f1cc7fc04">isBlockedNode</a> (float x, float y)</td></tr>
<tr class="separator:a19f47776c0747526bd7a384f1cc7fc04"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf2aa0f19b5ca90b30ea20ec444db334"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#aaf2aa0f19b5ca90b30ea20ec444db334">getEdgeNode</a> (float x, float y, int edge)</td></tr>
<tr class="separator:aaf2aa0f19b5ca90b30ea20ec444db334"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c06805fbc304a9458188ecc80ec1487"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a4c06805fbc304a9458188ecc80ec1487">getEdgePattern</a> (float x, float y)</td></tr>
<tr class="separator:a4c06805fbc304a9458188ecc80ec1487"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6005643d4b5d31d8d1c4fa7da9b19dc6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a6005643d4b5d31d8d1c4fa7da9b19dc6">setAllEdges</a> ()</td></tr>
<tr class="separator:a6005643d4b5d31d8d1c4fa7da9b19dc6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a145c84879b42061949b748457b0da9fa"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a145c84879b42061949b748457b0da9fa">clearAllEdges</a> ()</td></tr>
<tr class="separator:a145c84879b42061949b748457b0da9fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c23c87a1e5112d18df61449fb115ea6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a9c23c87a1e5112d18df61449fb115ea6">clearAllCells</a> ()</td></tr>
<tr class="separator:a9c23c87a1e5112d18df61449fb115ea6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ba84ab31386c1e036a6dd3c4559dc85"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a9ba84ab31386c1e036a6dd3c4559dc85">setVisited</a> (float x, float y)</td></tr>
<tr class="separator:a9ba84ab31386c1e036a6dd3c4559dc85"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc65b2b979af445d30905547786182ea"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#acc65b2b979af445d30905547786182ea">getVisited</a> (float x, float y)</td></tr>
<tr class="separator:acc65b2b979af445d30905547786182ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f47b5132d2183705cfd00be56a83d06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a8f47b5132d2183705cfd00be56a83d06">clearVisited</a> (float x, float y)</td></tr>
<tr class="separator:a8f47b5132d2183705cfd00be56a83d06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a761f9c4ab3aeec01b8b7d6d0b9e4b5c4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a761f9c4ab3aeec01b8b7d6d0b9e4b5c4">randomDir</a> ()</td></tr>
<tr class="separator:a761f9c4ab3aeec01b8b7d6d0b9e4b5c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43ff5fc27b12e0c816e2dee64488d6de"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a43ff5fc27b12e0c816e2dee64488d6de">buildMazeWall</a> (float x, float y, <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a> dir, int len)</td></tr>
<tr class="separator:a43ff5fc27b12e0c816e2dee64488d6de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c69b4e0cb99a819dae5d2a1e34e2003"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a0c69b4e0cb99a819dae5d2a1e34e2003">generateWallGrowthMaze</a> (int? minWall=null, int? maxWall=null)</td></tr>
<tr class="separator:a0c69b4e0cb99a819dae5d2a1e34e2003"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a297afb9c567d9d9541b36a400cb3659d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a297afb9c567d9d9541b36a400cb3659d">recurseDepthFirst</a> (float x, float y, int depth)</td></tr>
<tr class="separator:a297afb9c567d9d9541b36a400cb3659d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f6aab8870daa9b109a9b06c6fc5efe3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a9f6aab8870daa9b109a9b06c6fc5efe3">generateDepthFirstMaze</a> ()</td></tr>
<tr class="separator:a9f6aab8870daa9b109a9b06c6fc5efe3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af7a257a79ab0f7d614547cd449b7857e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#af7a257a79ab0f7d614547cd449b7857e">cellWidth</a> <code>[get]</code></td></tr>
<tr class="separator:af7a257a79ab0f7d614547cd449b7857e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f351d35377d1181e60f2ac7b263b20f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a8f351d35377d1181e60f2ac7b263b20f">cellHeight</a> <code>[get]</code></td></tr>
<tr class="separator:a8f351d35377d1181e60f2ac7b263b20f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b8ab0050d3ea4cb7b06cb0ec3773007"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a6b8ab0050d3ea4cb7b06cb0ec3773007">nodeWidth</a> <code>[get]</code></td></tr>
<tr class="separator:a6b8ab0050d3ea4cb7b06cb0ec3773007"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10936dc76554bd05bf3de693c1d13115"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#a10936dc76554bd05bf3de693c1d13115">nodeHeight</a> <code>[get]</code></td></tr>
<tr class="separator:a10936dc76554bd05bf3de693c1d13115"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae971f46c279ef66340a1004929277729"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml#ae971f46c279ef66340a1004929277729">dirs</a> <code>[get]</code></td></tr>
<tr class="separator:ae971f46c279ef66340a1004929277729"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a43ff5fc27b12e0c816e2dee64488d6de" name="a43ff5fc27b12e0c816e2dee64488d6de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43ff5fc27b12e0c816e2dee64488d6de">&#9670;&#160;</a></span>buildMazeWall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.buildMazeWall </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a>&#160;</td>
          <td class="paramname"><em>dir</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>len</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa42f039471996eee7b19038d564544d1" name="aa42f039471996eee7b19038d564544d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa42f039471996eee7b19038d564544d1">&#9670;&#160;</a></span>buildNodeList()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_node_list_element.cshtml">INodeListElement</a>&gt; PokemonEssentials.Interface.Field.IMaze.buildNodeList </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c23c87a1e5112d18df61449fb115ea6" name="a9c23c87a1e5112d18df61449fb115ea6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c23c87a1e5112d18df61449fb115ea6">&#9670;&#160;</a></span>clearAllCells()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.clearAllCells </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a145c84879b42061949b748457b0da9fa" name="a145c84879b42061949b748457b0da9fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a145c84879b42061949b748457b0da9fa">&#9670;&#160;</a></span>clearAllEdges()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.clearAllEdges </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a31dba64a5f853b5885c0d1f7b19df732" name="a31dba64a5f853b5885c0d1f7b19df732"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31dba64a5f853b5885c0d1f7b19df732">&#9670;&#160;</a></span>clearEdgeNode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.clearEdgeNode </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>edge</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f47b5132d2183705cfd00be56a83d06" name="a8f47b5132d2183705cfd00be56a83d06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f47b5132d2183705cfd00be56a83d06">&#9670;&#160;</a></span>clearVisited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.clearVisited </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f6aab8870daa9b109a9b06c6fc5efe3" name="a9f6aab8870daa9b109a9b06c6fc5efe3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f6aab8870daa9b109a9b06c6fc5efe3">&#9670;&#160;</a></span>generateDepthFirstMaze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.generateDepthFirstMaze </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0c69b4e0cb99a819dae5d2a1e34e2003" name="a0c69b4e0cb99a819dae5d2a1e34e2003"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0c69b4e0cb99a819dae5d2a1e34e2003">&#9670;&#160;</a></span>generateWallGrowthMaze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.generateWallGrowthMaze </td>
          <td>(</td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>minWall</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>maxWall</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaf2aa0f19b5ca90b30ea20ec444db334" name="aaf2aa0f19b5ca90b30ea20ec444db334"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf2aa0f19b5ca90b30ea20ec444db334">&#9670;&#160;</a></span>getEdgeNode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMaze.getEdgeNode </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>edge</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c06805fbc304a9458188ecc80ec1487" name="a4c06805fbc304a9458188ecc80ec1487"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c06805fbc304a9458188ecc80ec1487">&#9670;&#160;</a></span>getEdgePattern()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a> PokemonEssentials.Interface.Field.IMaze.getEdgePattern </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acc65b2b979af445d30905547786182ea" name="acc65b2b979af445d30905547786182ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc65b2b979af445d30905547786182ea">&#9670;&#160;</a></span>getVisited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMaze.getVisited </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afec84e4ffd9bab5a173e5c70bdabe2df" name="afec84e4ffd9bab5a173e5c70bdabe2df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afec84e4ffd9bab5a173e5c70bdabe2df">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_maze.cshtml">IMaze</a> PokemonEssentials.Interface.Field.IMaze.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cw</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ch</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19f47776c0747526bd7a384f1cc7fc04" name="a19f47776c0747526bd7a384f1cc7fc04"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19f47776c0747526bd7a384f1cc7fc04">&#9670;&#160;</a></span>isBlockedNode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMaze.isBlockedNode </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a761f9c4ab3aeec01b8b7d6d0b9e4b5c4" name="a761f9c4ab3aeec01b8b7d6d0b9e4b5c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a761f9c4ab3aeec01b8b7d6d0b9e4b5c4">&#9670;&#160;</a></span>randomDir()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a> PokemonEssentials.Interface.Field.IMaze.randomDir </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a297afb9c567d9d9541b36a400cb3659d" name="a297afb9c567d9d9541b36a400cb3659d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a297afb9c567d9d9541b36a400cb3659d">&#9670;&#160;</a></span>recurseDepthFirst()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.recurseDepthFirst </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>depth</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6005643d4b5d31d8d1c4fa7da9b19dc6" name="a6005643d4b5d31d8d1c4fa7da9b19dc6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6005643d4b5d31d8d1c4fa7da9b19dc6">&#9670;&#160;</a></span>setAllEdges()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.setAllEdges </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3da0acaf4cf8fc6c7eb961398acc1be7" name="a3da0acaf4cf8fc6c7eb961398acc1be7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3da0acaf4cf8fc6c7eb961398acc1be7">&#9670;&#160;</a></span>setEdgeNode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.setEdgeNode </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>edge</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9ba84ab31386c1e036a6dd3c4559dc85" name="a9ba84ab31386c1e036a6dd3c4559dc85"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ba84ab31386c1e036a6dd3c4559dc85">&#9670;&#160;</a></span>setVisited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMaze.setVisited </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8f351d35377d1181e60f2ac7b263b20f" name="a8f351d35377d1181e60f2ac7b263b20f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f351d35377d1181e60f2ac7b263b20f">&#9670;&#160;</a></span>cellHeight</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMaze.cellHeight</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af7a257a79ab0f7d614547cd449b7857e" name="af7a257a79ab0f7d614547cd449b7857e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7a257a79ab0f7d614547cd449b7857e">&#9670;&#160;</a></span>cellWidth</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMaze.cellWidth</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae971f46c279ef66340a1004929277729" name="ae971f46c279ef66340a1004929277729"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae971f46c279ef66340a1004929277729">&#9670;&#160;</a></span>dirs</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a> [] PokemonEssentials.Interface.Field.IMaze.dirs</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a10936dc76554bd05bf3de693c1d13115" name="a10936dc76554bd05bf3de693c1d13115"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10936dc76554bd05bf3de693c1d13115">&#9670;&#160;</a></span>nodeHeight</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMaze.nodeHeight</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6b8ab0050d3ea4cb7b06cb0ec3773007" name="a6b8ab0050d3ea4cb7b06cb0ec3773007"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6b8ab0050d3ea4cb7b06cb0ec3773007">&#9670;&#160;</a></span>nodeWidth</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMaze.nodeWidth</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>

