@{
	Page.Title = "PokemonEssentials.Interface.Battle.IPlayerRating Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IPlayerRating Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a131ea4ecc82c7c3adb685b7d1c7c0830"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a131ea4ecc82c7c3adb685b7d1c7c0830">initialize</a> ()</td></tr>
<tr class="separator:a131ea4ecc82c7c3adb685b7d1c7c0830"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17df8d4583e802215613e509ca134a3b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a17df8d4583e802215613e509ca134a3b">update</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>[] matches, float system=1.2f)</td></tr>
<tr class="separator:a17df8d4583e802215613e509ca134a3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a255945c3a27c91f5559fefa51e1adbbc"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a255945c3a27c91f5559fefa51e1adbbc">deviation</a><code> [get]</code></td></tr>
<tr class="separator:a255945c3a27c91f5559fefa51e1adbbc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8d1c34aeaabcb80c5a5a20bb06f1c82"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#ae8d1c34aeaabcb80c5a5a20bb06f1c82">rating</a><code> [get]</code></td></tr>
<tr class="separator:ae8d1c34aeaabcb80c5a5a20bb06f1c82"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32b85adc73fb6fbe7ef6b17d2431e0e0"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml#a32b85adc73fb6fbe7ef6b17d2431e0e0">winChancePercent</a><code> [get]</code></td></tr>
<tr class="separator:a32b85adc73fb6fbe7ef6b17d2431e0e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a131ea4ecc82c7c3adb685b7d1c7c0830" name="a131ea4ecc82c7c3adb685b7d1c7c0830"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a131ea4ecc82c7c3adb685b7d1c7c0830">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_player_rating.cshtml">IPlayerRating</a> PokemonEssentials.Interface.Battle.IPlayerRating.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a17df8d4583e802215613e509ca134a3b" name="a17df8d4583e802215613e509ca134a3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17df8d4583e802215613e509ca134a3b">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IPlayerRating.update </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_single_match.cshtml">ISingleMatch</a>[]&#160;</td>
          <td class="paramname"><em>matches</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>system</em> = <code>1.2f</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a255945c3a27c91f5559fefa51e1adbbc" name="a255945c3a27c91f5559fefa51e1adbbc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a255945c3a27c91f5559fefa51e1adbbc">&#9670;&#160;</a></span>deviation</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IPlayerRating.deviation</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae8d1c34aeaabcb80c5a5a20bb06f1c82" name="ae8d1c34aeaabcb80c5a5a20bb06f1c82"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8d1c34aeaabcb80c5a5a20bb06f1c82">&#9670;&#160;</a></span>rating</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IPlayerRating.rating</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a32b85adc73fb6fbe7ef6b17d2431e0e0" name="a32b85adc73fb6fbe7ef6b17d2431e0e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32b85adc73fb6fbe7ef6b17d2431e0e0">&#9670;&#160;</a></span>winChancePercent</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IPlayerRating.winChancePercent</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_generator_8cs.cshtml">IOrgBattleGenerator.cs</a></li>
</ul>
