@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_chatter.cshtml">IGameChatter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameChatter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_chatter.cshtml">PokemonEssentials.Interface.IGameChatter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_chatter.cshtml#a5b6d0bc9bc8ac24d4c4de7a808497b4f">Chatter</a>(PokemonEssentials.Interface.PokeBattle.IPokemonChatter pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_chatter.cshtml">PokemonEssentials.Interface.IGameChatter</a></td><td class="entry"></td></tr>
</table>
