@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">IPokeRadarMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IPokeRadarMetaData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">PokemonEssentials.Interface.Item.IPokeRadarMetaData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#ae9a30b323a2ed25b56e0690a1d84a37a">ChainCount</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">PokemonEssentials.Interface.Item.IPokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#a8bdec07d52b07f47b3678c39b34fb05a">Grass</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">PokemonEssentials.Interface.Item.IPokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#aac1b30d77cda108d87ca233009ac7f76">Level</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">PokemonEssentials.Interface.Item.IPokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml#a9e0faf452b2d29556ac4112833f38b3d">Species</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_poke_radar_meta_data.cshtml">PokemonEssentials.Interface.Item.IPokeRadarMetaData</a></td><td class="entry"></td></tr>
</table>