@{
	Page.Title = "PokemonEssentials.Interface.Battle.INicknameChecker Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml">INicknameChecker</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.INicknameChecker Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a11a21e7591b5c4ccd4b04c7454bb7f08"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a11a21e7591b5c4ccd4b04c7454bb7f08">getName</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a11a21e7591b5c4ccd4b04c7454bb7f08"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d5f1baa3e14cbe3b3f955fa014e2bcd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a7d5f1baa3e14cbe3b3f955fa014e2bcd">check</a> (string name, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a7d5f1baa3e14cbe3b3f955fa014e2bcd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:afd353c19d11f7924622a2b2f46f0beb8"><td class="memItemLeft" align="right" valign="top">Dictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#afd353c19d11f7924622a2b2f46f0beb8">names</a> <code>[get]</code></td></tr>
<tr class="separator:afd353c19d11f7924622a2b2f46f0beb8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17ee83b10397e2bf8e160e3900476beb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_nickname_checker.cshtml#a17ee83b10397e2bf8e160e3900476beb">namesMaxValue</a> <code>[get]</code></td></tr>
<tr class="separator:a17ee83b10397e2bf8e160e3900476beb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a7d5f1baa3e14cbe3b3f955fa014e2bcd" name="a7d5f1baa3e14cbe3b3f955fa014e2bcd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d5f1baa3e14cbe3b3f955fa014e2bcd">&#9670;&#160;</a></span>check()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.INicknameChecker.check </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a11a21e7591b5c4ccd4b04c7454bb7f08" name="a11a21e7591b5c4ccd4b04c7454bb7f08"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11a21e7591b5c4ccd4b04c7454bb7f08">&#9670;&#160;</a></span>getName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.INicknameChecker.getName </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="afd353c19d11f7924622a2b2f46f0beb8" name="afd353c19d11f7924622a2b2f46f0beb8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd353c19d11f7924622a2b2f46f0beb8">&#9670;&#160;</a></span>names</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Dictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>, string&gt; PokemonEssentials.Interface.Battle.INicknameChecker.names</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a17ee83b10397e2bf8e160e3900476beb" name="a17ee83b10397e2bf8e160e3900476beb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17ee83b10397e2bf8e160e3900476beb">&#9670;&#160;</a></span>namesMaxValue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.INicknameChecker.namesMaxValue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
