@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonBoxIcon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">IPokemonBoxIcon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonBoxIcon Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a62dcd6670d4c5224396f3116bc8dc8dd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">IPokemonBoxIcon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a62dcd6670d4c5224396f3116bc8dc8dd">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:a62dcd6670d4c5224396f3116bc8dc8dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a841ffd51f952b24e548a1fa85dbd42dd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a841ffd51f952b24e548a1fa85dbd42dd">release</a> ()</td></tr>
<tr class="separator:a841ffd51f952b24e548a1fa85dbd42dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86f5cc43c61ea8177dbbf2fd5080e4ae"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#a86f5cc43c61ea8177dbbf2fd5080e4ae">releasing</a> ()</td></tr>
<tr class="separator:a86f5cc43c61ea8177dbbf2fd5080e4ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adeaf7417f7ee5e26f714f079152fd123"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml#adeaf7417f7ee5e26f714f079152fd123">update</a> ()</td></tr>
<tr class="separator:adeaf7417f7ee5e26f714f079152fd123"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a62dcd6670d4c5224396f3116bc8dc8dd" name="a62dcd6670d4c5224396f3116bc8dc8dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62dcd6670d4c5224396f3116bc8dc8dd">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_icon.cshtml">IPokemonBoxIcon</a> PokemonEssentials.Interface.Screen.IPokemonBoxIcon.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a841ffd51f952b24e548a1fa85dbd42dd" name="a841ffd51f952b24e548a1fa85dbd42dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a841ffd51f952b24e548a1fa85dbd42dd">&#9670;&#160;</a></span>release()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonBoxIcon.release </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a86f5cc43c61ea8177dbbf2fd5080e4ae" name="a86f5cc43c61ea8177dbbf2fd5080e4ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86f5cc43c61ea8177dbbf2fd5080e4ae">&#9670;&#160;</a></span>releasing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonBoxIcon.releasing </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adeaf7417f7ee5e26f714f079152fd123" name="adeaf7417f7ee5e26f714f079152fd123"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adeaf7417f7ee5e26f714f079152fd123">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonBoxIcon.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
