@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Item.IGamePokeRadar Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml">IGamePokeRadar</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGamePokeRadar Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aea1cf203e538d5d741ee649894aefaf0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#aea1cf203e538d5d741ee649894aefaf0">CanUsePokeRadar</a> ()</td></tr>
<tr class="separator:aea1cf203e538d5d741ee649894aefaf0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7906fdb059cb1b7df8f24806abfb1074"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a7906fdb059cb1b7df8f24806abfb1074">UsePokeRadar</a> ()</td></tr>
<tr class="separator:a7906fdb059cb1b7df8f24806abfb1074"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfcd7ec30521769d90564419ef7d1748"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#acfcd7ec30521769d90564419ef7d1748">PokeRadarHighlightGrass</a> (bool showmessage=true)</td></tr>
<tr class="separator:acfcd7ec30521769d90564419ef7d1748"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a508ac1d5e5ae291f88046f58b13873ef"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a508ac1d5e5ae291f88046f58b13873ef">PokeRadarCancel</a> ()</td></tr>
<tr class="separator:a508ac1d5e5ae291f88046f58b13873ef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac082c2d60f190a28ee6b101c954be1e9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#ac082c2d60f190a28ee6b101c954be1e9">PokeRadarGetShakingGrass</a> ()</td></tr>
<tr class="separator:ac082c2d60f190a28ee6b101c954be1e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17573786fb06f9cc5c55b7992a3b8f88"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a17573786fb06f9cc5c55b7992a3b8f88">PokeRadarOnShakingGrass</a> ()</td></tr>
<tr class="separator:a17573786fb06f9cc5c55b7992a3b8f88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a072356a02faa60a203edbc41b6b39b98"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">Field.IEncounter</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_poke_radar.cshtml#a072356a02faa60a203edbc41b6b39b98">PokeRadarGetEncounter</a> (int rarity=0)</td></tr>
<tr class="separator:a072356a02faa60a203edbc41b6b39b98"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="aea1cf203e538d5d741ee649894aefaf0" name="aea1cf203e538d5d741ee649894aefaf0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea1cf203e538d5d741ee649894aefaf0">&#9670;&#160;</a></span>CanUsePokeRadar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.CanUsePokeRadar </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a508ac1d5e5ae291f88046f58b13873ef" name="a508ac1d5e5ae291f88046f58b13873ef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a508ac1d5e5ae291f88046f58b13873ef">&#9670;&#160;</a></span>PokeRadarCancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IGamePokeRadar.PokeRadarCancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a072356a02faa60a203edbc41b6b39b98" name="a072356a02faa60a203edbc41b6b39b98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a072356a02faa60a203edbc41b6b39b98">&#9670;&#160;</a></span>PokeRadarGetEncounter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounter.cshtml">Field.IEncounter</a> PokemonEssentials.Interface.Item.IGamePokeRadar.PokeRadarGetEncounter </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>rarity</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac082c2d60f190a28ee6b101c954be1e9" name="ac082c2d60f190a28ee6b101c954be1e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac082c2d60f190a28ee6b101c954be1e9">&#9670;&#160;</a></span>PokeRadarGetShakingGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IGamePokeRadar.PokeRadarGetShakingGrass </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acfcd7ec30521769d90564419ef7d1748" name="acfcd7ec30521769d90564419ef7d1748"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfcd7ec30521769d90564419ef7d1748">&#9670;&#160;</a></span>PokeRadarHighlightGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IGamePokeRadar.PokeRadarHighlightGrass </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a17573786fb06f9cc5c55b7992a3b8f88" name="a17573786fb06f9cc5c55b7992a3b8f88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17573786fb06f9cc5c55b7992a3b8f88">&#9670;&#160;</a></span>PokeRadarOnShakingGrass()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.PokeRadarOnShakingGrass </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7906fdb059cb1b7df8f24806abfb1074" name="a7906fdb059cb1b7df8f24806abfb1074"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7906fdb059cb1b7df8f24806abfb1074">&#9670;&#160;</a></span>UsePokeRadar()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IGamePokeRadar.UsePokeRadar </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_poke_radar_8cs.cshtml">IPokeRadar.cs</a></li>
</ul>

