@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleFactoryData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#a74b7251ea2e0db7f8364952cbf86f6c6">Battle</a>(IBattleChallenge challenge)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#ad95a6fc6f17938396b1e6866747941af">ChooseRentals</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#a6b5f3aa2be566174eb4a669dd88a6d94">ChooseSwaps</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#aac3331354544cb0496d9e3c714ac5737">initialize</a>(IBattleChallengeData bcdata)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#a9cc89c015342e212294dfd8b2b466856">PrepareRentals</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml#ac8019530c76dbb5cea9baf22bc248d68">PrepareSwaps</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">PokemonEssentials.Interface.Battle.IBattleFactoryData</a></td><td class="entry"></td></tr>
</table>
