@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.RPGMaker.Kernal.IMoveParameters Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_parameters.cshtml">IMoveParameters</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IMoveParameters Interface Reference</div></div>
}

<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
