@{
	Page.Title = "PokemonEssentials.Interface.IAudioObject Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">IAudioObject</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioObject Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IAudioObject:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.png" usemap="#PokemonEssentials.Interface.IAudioObject_map" alt=""/>
  <map id="PokemonEssentials.Interface.IAudioObject_map" name="PokemonEssentials.Interface.IAudioObject_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml" title="The module that carries out music and sound processing." alt="PokemonEssentials.Interface.IAudio" shape="rect" coords="260,56,510,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml" alt="PokemonEssentials.Interface.IAudioBGM" shape="rect" coords="520,56,770,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml" alt="PokemonEssentials.Interface.IAudioBGS" shape="rect" coords="0,112,250,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml" alt="PokemonEssentials.Interface.IAudioME" shape="rect" coords="260,112,510,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml" alt="PokemonEssentials.Interface.IAudioSE" shape="rect" coords="520,112,770,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a8e7a6731cead227df83168b23d663cdb"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a8e7a6731cead227df83168b23d663cdb">name</a> <code>[get, set]</code></td></tr>
<tr class="separator:a8e7a6731cead227df83168b23d663cdb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b51eb9bf78c5f7bed5d23cc66a3b16"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a> <code>[get, set]</code></td></tr>
<tr class="separator:a44b51eb9bf78c5f7bed5d23cc66a3b16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3faf75da405b41a32b67c33aeb1d21fd"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a> <code>[get, set]</code></td></tr>
<tr class="separator:a3faf75da405b41a32b67c33aeb1d21fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8e7a6731cead227df83168b23d663cdb" name="a8e7a6731cead227df83168b23d663cdb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e7a6731cead227df83168b23d663cdb">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IAudioObject.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3faf75da405b41a32b67c33aeb1d21fd" name="a3faf75da405b41a32b67c33aeb1d21fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3faf75da405b41a32b67c33aeb1d21fd">&#9670;&#160;</a></span>pitch</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IAudioObject.pitch</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a44b51eb9bf78c5f7bed5d23cc66a3b16" name="a44b51eb9bf78c5f7bed5d23cc66a3b16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44b51eb9bf78c5f7bed5d23cc66a3b16">&#9670;&#160;</a></span>volume</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IAudioObject.volume</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
