@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml">IGameShadowPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.png" usemap="#PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map" name="PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,371,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab7fa38ff11450325f844b27069222e1f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#ab7fa38ff11450325f844b27069222e1f">pbPurify</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a> scene)</td></tr>
<tr class="separator:ab7fa38ff11450325f844b27069222e1f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5896f7d32abe1dad4ce5ad3ad1d0791e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a5896f7d32abe1dad4ce5ad3ad1d0791e">pbRelicStoneScreen</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pkmn)</td></tr>
<tr class="separator:a5896f7d32abe1dad4ce5ad3ad1d0791e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f7656fe14b4bfacd30630fb072459d7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a8f7656fe14b4bfacd30630fb072459d7">pbIsPurifiable</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pkmn)</td></tr>
<tr class="separator:a8f7656fe14b4bfacd30630fb072459d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a64959c61033cd70135c545b61b93ba1e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a64959c61033cd70135c545b61b93ba1e">pbHasPurifiableInParty</a> ()</td></tr>
<tr class="separator:a64959c61033cd70135c545b61b93ba1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cca4461ab94d7a0e51a9cbff13638ce"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a5cca4461ab94d7a0e51a9cbff13638ce">pbRelicStone</a> ()</td></tr>
<tr class="separator:a5cca4461ab94d7a0e51a9cbff13638ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38b633057ad7abad4b708d18714f07b7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a38b633057ad7abad4b708d18714f07b7">pbRaiseHappinessAndReduceHeart</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a> scene, int amount)</td></tr>
<tr class="separator:a38b633057ad7abad4b708d18714f07b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3aec4b4e601ce47cab16dff6fcb2496"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#aa3aec4b4e601ce47cab16dff6fcb2496">pbApplyEVGain</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">Stats</a> ev, int evgain)</td></tr>
<tr class="separator:aa3aec4b4e601ce47cab16dff6fcb2496"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a992ca448c59dcfae03476b51bac1eda0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a992ca448c59dcfae03476b51bac1eda0">pbReplaceMoves</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move1, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move2=0, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move3=0, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move4=0)</td></tr>
<tr class="separator:a992ca448c59dcfae03476b51bac1eda0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab98be00088eb96124285cce076195666"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#ab98be00088eb96124285cce076195666">pbReadyToPurify</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon)</td></tr>
<tr class="separator:ab98be00088eb96124285cce076195666"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="aa3aec4b4e601ce47cab16dff6fcb2496" name="aa3aec4b4e601ce47cab16dff6fcb2496"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3aec4b4e601ce47cab16dff6fcb2496">&#9670;&#160;</a></span>pbApplyEVGain()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbApplyEVGain </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">Stats</a>&#160;</td>
          <td class="paramname"><em>ev</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evgain</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a6e5bcb0008fed1b553869da713d9bc0c">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a64959c61033cd70135c545b61b93ba1e" name="a64959c61033cd70135c545b61b93ba1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a64959c61033cd70135c545b61b93ba1e">&#9670;&#160;</a></span>pbHasPurifiableInParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbHasPurifiableInParty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a0208b3f6c610610e05a947fd970c4570">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a8f7656fe14b4bfacd30630fb072459d7" name="a8f7656fe14b4bfacd30630fb072459d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f7656fe14b4bfacd30630fb072459d7">&#9670;&#160;</a></span>pbIsPurifiable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbIsPurifiable </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#abb3b0ee7e8375b2e304e497cb048264a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ab7fa38ff11450325f844b27069222e1f" name="ab7fa38ff11450325f844b27069222e1f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7fa38ff11450325f844b27069222e1f">&#9670;&#160;</a></span>pbPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbPurify </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aaa4161feb0bed2dfff534ee53118e30c">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a38b633057ad7abad4b708d18714f07b7" name="a38b633057ad7abad4b708d18714f07b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38b633057ad7abad4b708d18714f07b7">&#9670;&#160;</a></span>pbRaiseHappinessAndReduceHeart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbRaiseHappinessAndReduceHeart </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>amount</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab98be00088eb96124285cce076195666" name="ab98be00088eb96124285cce076195666"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab98be00088eb96124285cce076195666">&#9670;&#160;</a></span>pbReadyToPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbReadyToPurify </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#adeaf5f052459aa0adca1d997ce4451b4">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5cca4461ab94d7a0e51a9cbff13638ce" name="a5cca4461ab94d7a0e51a9cbff13638ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cca4461ab94d7a0e51a9cbff13638ce">&#9670;&#160;</a></span>pbRelicStone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbRelicStone </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a021bfd4bcf6709de85bc0c9f334675e0">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5896f7d32abe1dad4ce5ad3ad1d0791e" name="a5896f7d32abe1dad4ce5ad3ad1d0791e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5896f7d32abe1dad4ce5ad3ad1d0791e">&#9670;&#160;</a></span>pbRelicStoneScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbRelicStoneScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#afba424c93927964c719a002041ad8490">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a992ca448c59dcfae03476b51bac1eda0" name="a992ca448c59dcfae03476b51bac1eda0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a992ca448c59dcfae03476b51bac1eda0">&#9670;&#160;</a></span>pbReplaceMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.pbReplaceMoves </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move2</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move3</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move4</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa8685e453ea36a4a14fce419bfe4f1e7">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_shadow_pokemon_8cs.cshtml">IPokemonShadowPokemon.cs</a></li>
</ul>
