@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IAudioContext Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">IAudioContext</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioContext Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a2a05220d40bc3959e4e2ca285278ae32"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">IAudioContext</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a2a05220d40bc3959e4e2ca285278ae32">initialize</a> ()</td></tr>
<tr class="separator:a2a05220d40bc3959e4e2ca285278ae32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a764a98fa39f81db6455cc918167e2f42"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a764a98fa39f81db6455cc918167e2f42">dispose</a> ()</td></tr>
<tr class="separator:a764a98fa39f81db6455cc918167e2f42"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1ee9a40a0810dd930a010565117248ec"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml#a1ee9a40a0810dd930a010565117248ec">context</a><code> [get, set]</code></td></tr>
<tr class="separator:a1ee9a40a0810dd930a010565117248ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a764a98fa39f81db6455cc918167e2f42" name="a764a98fa39f81db6455cc918167e2f42"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a764a98fa39f81db6455cc918167e2f42">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudioContext.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2a05220d40bc3959e4e2ca285278ae32" name="a2a05220d40bc3959e4e2ca285278ae32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a05220d40bc3959e4e2ca285278ae32">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_context.cshtml">IAudioContext</a> PokemonEssentials.Interface.IAudioContext.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1ee9a40a0810dd930a010565117248ec" name="a1ee9a40a0810dd930a010565117248ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ee9a40a0810dd930a010565117248ec">&#9670;&#160;</a></span>context</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IAudioContext.context</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8_audio_8cs.cshtml">IEngine.Audio.cs</a></li>
</ul>
