@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IGameMap Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameMap Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IGameMap:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.png" usemap="#PokemonEssentials.Interface.IGameMap_map" alt=""/>
  <map id="PokemonEssentials.Interface.IGameMap_map" name="PokemonEssentials.Interface.IGameMap_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml" alt="PokemonEssentials.Interface.Battle.IGameMapOrgBattle" shape="rect" coords="0,0,325,24"/>
<area href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml" title="This class handles the map. It includes scrolling and passable determining functions...." alt="PokemonUnity.Game.Game_Map" shape="rect" coords="0,112,325,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7866eab491884d339b7ffc4e197750c1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a7866eab491884d339b7ffc4e197750c1">setup</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml#aa0f6e59d200c2298f48ef19d0094f972">map_id</a>)</td></tr>
<tr class="separator:a7866eab491884d339b7ffc4e197750c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04e1cb37dabe24635d3117f3d4aa4ffc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a04e1cb37dabe24635d3117f3d4aa4ffc">autoplayAsCue</a> ()</td></tr>
<tr class="memdesc:a04e1cb37dabe24635d3117f3d4aa4ffc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Autoplays background music. Plays music called "[normal BGM]n" if it's night time and it exists   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a04e1cb37dabe24635d3117f3d4aa4ffc">More...</a><br /></td></tr>
<tr class="separator:a04e1cb37dabe24635d3117f3d4aa4ffc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93a2773ee7af7c49bfcaa364fe7ec83d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a93a2773ee7af7c49bfcaa364fe7ec83d">autoplay</a> ()</td></tr>
<tr class="memdesc:a93a2773ee7af7c49bfcaa364fe7ec83d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays background music Plays music called "[normal BGM]n" if it's night time and it exists   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a93a2773ee7af7c49bfcaa364fe7ec83d">More...</a><br /></td></tr>
<tr class="separator:a93a2773ee7af7c49bfcaa364fe7ec83d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4442afdb1cb097054d8c8d810e44c3e5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a4442afdb1cb097054d8c8d810e44c3e5">refresh</a> ()</td></tr>
<tr class="separator:a4442afdb1cb097054d8c8d810e44c3e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5d9684e7b0523f4390f73e10f1c99059"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a5d9684e7b0523f4390f73e10f1c99059">scroll_down</a> (int distance)</td></tr>
<tr class="separator:a5d9684e7b0523f4390f73e10f1c99059"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5989e4c5bc7c916141bbf3820ca9abc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ab5989e4c5bc7c916141bbf3820ca9abc">scroll_left</a> (int distance)</td></tr>
<tr class="separator:ab5989e4c5bc7c916141bbf3820ca9abc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab596dbebc39447de7773a36308b24426"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ab596dbebc39447de7773a36308b24426">scroll_right</a> (int distance)</td></tr>
<tr class="separator:ab596dbebc39447de7773a36308b24426"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab9febbf6c5578a138281081457217215"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ab9febbf6c5578a138281081457217215">scroll_up</a> (int distance)</td></tr>
<tr class="separator:ab9febbf6c5578a138281081457217215"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7d2d14bf22f38178b0423c74a04116c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ae7d2d14bf22f38178b0423c74a04116c">valid</a> (float x, float y)</td></tr>
<tr class="separator:ae7d2d14bf22f38178b0423c74a04116c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0961d3cc78452b17279f0decd91570c1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a0961d3cc78452b17279f0decd91570c1">validLax</a> (float x, float y)</td></tr>
<tr class="separator:a0961d3cc78452b17279f0decd91570c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2b563650322dbd56cfa5debe7c2c9d3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ab2b563650322dbd56cfa5debe7c2c9d3">passable</a> (float x, float y, int d, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> self_event=null)</td></tr>
<tr class="separator:ab2b563650322dbd56cfa5debe7c2c9d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5912ebd3f9e5869b315c878adbbf28e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac5912ebd3f9e5869b315c878adbbf28e">playerPassable</a> (float x, float y, int d, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> self_event=null)</td></tr>
<tr class="separator:ac5912ebd3f9e5869b315c878adbbf28e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82805cf317ccba053cb06cb37ef269bc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a82805cf317ccba053cb06cb37ef269bc">passableStrict</a> (float x, float y, int d, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> self_event=null)</td></tr>
<tr class="separator:a82805cf317ccba053cb06cb37ef269bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1eb4a622986405eb13024213390dfc88"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a1eb4a622986405eb13024213390dfc88">deepBush</a> (float x, float y)</td></tr>
<tr class="separator:a1eb4a622986405eb13024213390dfc88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa90f02ded5c452edb38b38fc334af271"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#aa90f02ded5c452edb38b38fc334af271">bush</a> (float x, float y)</td></tr>
<tr class="separator:aa90f02ded5c452edb38b38fc334af271"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c2e45296f63ba50a772057f9d3bd3dd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a8c2e45296f63ba50a772057f9d3bd3dd">counter</a> (float x, float y)</td></tr>
<tr class="separator:a8c2e45296f63ba50a772057f9d3bd3dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9466663c371069a47c9dba3faf914579"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">Terrains</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a9466663c371069a47c9dba3faf914579">terrain_tag</a> (float x, float y, bool countBridge=false)</td></tr>
<tr class="separator:a9466663c371069a47c9dba3faf914579"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad71e36328a51ba5724dbebbadfa225b4"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ad71e36328a51ba5724dbebbadfa225b4">check_event</a> (float x, float y)</td></tr>
<tr class="separator:ad71e36328a51ba5724dbebbadfa225b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a697d12795d7ffe877298a92df21f998e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a697d12795d7ffe877298a92df21f998e">start_scroll</a> (int direction, int distance, float speed)</td></tr>
<tr class="separator:a697d12795d7ffe877298a92df21f998e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f1b02e844b7a216c9d7b6cfeb586b89"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a8f1b02e844b7a216c9d7b6cfeb586b89">start_fog_tone_change</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> tone, int duration)</td></tr>
<tr class="separator:a8f1b02e844b7a216c9d7b6cfeb586b89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7571f4152e4f9ff680f59b6c1c16d3c3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a7571f4152e4f9ff680f59b6c1c16d3c3">start_fog_opacity_change</a> (float opacity, int duration)</td></tr>
<tr class="separator:a7571f4152e4f9ff680f59b6c1c16d3c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ddafe70ca440703a06bc1220b1a57ad"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a7ddafe70ca440703a06bc1220b1a57ad">in_range</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@object)</td></tr>
<tr class="separator:a7ddafe70ca440703a06bc1220b1a57ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cb89be5a73b430497a2962d6829e7cd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a3cb89be5a73b430497a2962d6829e7cd">update</a> ()</td></tr>
<tr class="separator:a3cb89be5a73b430497a2962d6829e7cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac07e0775aa045126d7534deea25b2682"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac07e0775aa045126d7534deea25b2682">tileset_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac07e0775aa045126d7534deea25b2682"><td class="mdescLeft">&#160;</td><td class="mdescRight">tileset file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac07e0775aa045126d7534deea25b2682">More...</a><br /></td></tr>
<tr class="separator:ac07e0775aa045126d7534deea25b2682"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e56bbe075fac4c1c5a6a265df445faf"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a8e56bbe075fac4c1c5a6a265df445faf">autotile_names</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8e56bbe075fac4c1c5a6a265df445faf"><td class="mdescLeft">&#160;</td><td class="mdescRight">autotile file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a8e56bbe075fac4c1c5a6a265df445faf">More...</a><br /></td></tr>
<tr class="separator:a8e56bbe075fac4c1c5a6a265df445faf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51d88d452c42648f18c996c857e48f17"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a51d88d452c42648f18c996c857e48f17">panorama_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a51d88d452c42648f18c996c857e48f17"><td class="mdescLeft">&#160;</td><td class="mdescRight">panorama file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a51d88d452c42648f18c996c857e48f17">More...</a><br /></td></tr>
<tr class="separator:a51d88d452c42648f18c996c857e48f17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26fe88dd58863e78d91cbc62f61936e7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a26fe88dd58863e78d91cbc62f61936e7">panorama_hue</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a26fe88dd58863e78d91cbc62f61936e7"><td class="mdescLeft">&#160;</td><td class="mdescRight">panorama hue   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a26fe88dd58863e78d91cbc62f61936e7">More...</a><br /></td></tr>
<tr class="separator:a26fe88dd58863e78d91cbc62f61936e7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93ed4001ce0f114ca9d1ea0342ae3808"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a93ed4001ce0f114ca9d1ea0342ae3808">fog_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a93ed4001ce0f114ca9d1ea0342ae3808"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a93ed4001ce0f114ca9d1ea0342ae3808">More...</a><br /></td></tr>
<tr class="separator:a93ed4001ce0f114ca9d1ea0342ae3808"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5016a6c24cafd4fb71bec6da1f19e473"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a5016a6c24cafd4fb71bec6da1f19e473">fog_hue</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5016a6c24cafd4fb71bec6da1f19e473"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog hue   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a5016a6c24cafd4fb71bec6da1f19e473">More...</a><br /></td></tr>
<tr class="separator:a5016a6c24cafd4fb71bec6da1f19e473"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adbd8aeaa1f36732d7087870a92446380"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#adbd8aeaa1f36732d7087870a92446380">fog_opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:adbd8aeaa1f36732d7087870a92446380"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog opacity level   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#adbd8aeaa1f36732d7087870a92446380">More...</a><br /></td></tr>
<tr class="separator:adbd8aeaa1f36732d7087870a92446380"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03da910f86c90f82eead340551af4a46"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a03da910f86c90f82eead340551af4a46">fog_blend_type</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a03da910f86c90f82eead340551af4a46"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog blending method   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a03da910f86c90f82eead340551af4a46">More...</a><br /></td></tr>
<tr class="separator:a03da910f86c90f82eead340551af4a46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad12c08381c0a30036b261f55ebf876f5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ad12c08381c0a30036b261f55ebf876f5">fog_zoom</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad12c08381c0a30036b261f55ebf876f5"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog zoom rate   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ad12c08381c0a30036b261f55ebf876f5">More...</a><br /></td></tr>
<tr class="separator:ad12c08381c0a30036b261f55ebf876f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a52b581a2d7355a82cc6bf05bf4273dc4"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a52b581a2d7355a82cc6bf05bf4273dc4">fog_sx</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a52b581a2d7355a82cc6bf05bf4273dc4"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog sx   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a52b581a2d7355a82cc6bf05bf4273dc4">More...</a><br /></td></tr>
<tr class="separator:a52b581a2d7355a82cc6bf05bf4273dc4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1fafaef2e1a030662c95dbd69e59e0bf"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a1fafaef2e1a030662c95dbd69e59e0bf">fog_sy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1fafaef2e1a030662c95dbd69e59e0bf"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog sy   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a1fafaef2e1a030662c95dbd69e59e0bf">More...</a><br /></td></tr>
<tr class="separator:a1fafaef2e1a030662c95dbd69e59e0bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a565b6d15807e8120cb4a52717f84990c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a565b6d15807e8120cb4a52717f84990c">battleback_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a565b6d15807e8120cb4a52717f84990c"><td class="mdescLeft">&#160;</td><td class="mdescRight">battleback file name   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a565b6d15807e8120cb4a52717f84990c">More...</a><br /></td></tr>
<tr class="separator:a565b6d15807e8120cb4a52717f84990c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a038d7fd412a611d168d16ae6e28fe563"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a038d7fd412a611d168d16ae6e28fe563">display_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a038d7fd412a611d168d16ae6e28fe563"><td class="mdescLeft">&#160;</td><td class="mdescRight">display x-coordinate * 128   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a038d7fd412a611d168d16ae6e28fe563">More...</a><br /></td></tr>
<tr class="separator:a038d7fd412a611d168d16ae6e28fe563"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a666515a10d92db2391bc4d8f36a56ba7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a666515a10d92db2391bc4d8f36a56ba7">display_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a666515a10d92db2391bc4d8f36a56ba7"><td class="mdescLeft">&#160;</td><td class="mdescRight">display y-coordinate * 128   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a666515a10d92db2391bc4d8f36a56ba7">More...</a><br /></td></tr>
<tr class="separator:a666515a10d92db2391bc4d8f36a56ba7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57aea07845800f02717f87f661ce3830"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a57aea07845800f02717f87f661ce3830">need_refresh</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a57aea07845800f02717f87f661ce3830"><td class="mdescLeft">&#160;</td><td class="mdescRight">refresh request flag   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a57aea07845800f02717f87f661ce3830">More...</a><br /></td></tr>
<tr class="separator:a57aea07845800f02717f87f661ce3830"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a64cddf98db0e1bc4ab0aa26537dad71d"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a64cddf98db0e1bc4ab0aa26537dad71d">passages</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a64cddf98db0e1bc4ab0aa26537dad71d"><td class="mdescLeft">&#160;</td><td class="mdescRight">passage table   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a64cddf98db0e1bc4ab0aa26537dad71d">More...</a><br /></td></tr>
<tr class="separator:a64cddf98db0e1bc4ab0aa26537dad71d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa92c61a30639d055fb655bd6f2cb551"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#afa92c61a30639d055fb655bd6f2cb551">priorities</a><code> [get, set]</code></td></tr>
<tr class="memdesc:afa92c61a30639d055fb655bd6f2cb551"><td class="mdescLeft">&#160;</td><td class="mdescRight">prioroty table   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#afa92c61a30639d055fb655bd6f2cb551">More...</a><br /></td></tr>
<tr class="separator:afa92c61a30639d055fb655bd6f2cb551"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2bdbeb47e34e216155fcbeba07914ce4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">Terrains</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a2bdbeb47e34e216155fcbeba07914ce4">terrain_tags</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2bdbeb47e34e216155fcbeba07914ce4"><td class="mdescLeft">&#160;</td><td class="mdescRight">terrain tag table   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a2bdbeb47e34e216155fcbeba07914ce4">More...</a><br /></td></tr>
<tr class="separator:a2bdbeb47e34e216155fcbeba07914ce4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac020834ddd7325fd8d6f3c9a5830ece3"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac020834ddd7325fd8d6f3c9a5830ece3">events</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac020834ddd7325fd8d6f3c9a5830ece3"><td class="mdescLeft">&#160;</td><td class="mdescRight">events   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac020834ddd7325fd8d6f3c9a5830ece3">More...</a><br /></td></tr>
<tr class="separator:ac020834ddd7325fd8d6f3c9a5830ece3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65699cf48424337a9828c318d3992a75"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a65699cf48424337a9828c318d3992a75">fog_ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a65699cf48424337a9828c318d3992a75"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog x-coordinate starting point   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a65699cf48424337a9828c318d3992a75">More...</a><br /></td></tr>
<tr class="separator:a65699cf48424337a9828c318d3992a75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adff943a835bb51b12ecb933308b1fa1a"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#adff943a835bb51b12ecb933308b1fa1a">fog_oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:adff943a835bb51b12ecb933308b1fa1a"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog y-coordinate starting point   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#adff943a835bb51b12ecb933308b1fa1a">More...</a><br /></td></tr>
<tr class="separator:adff943a835bb51b12ecb933308b1fa1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6ccca353ce1b6c595e7698c07342197"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac6ccca353ce1b6c595e7698c07342197">fog_tone</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac6ccca353ce1b6c595e7698c07342197"><td class="mdescLeft">&#160;</td><td class="mdescRight">fog color tone   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ac6ccca353ce1b6c595e7698c07342197">More...</a><br /></td></tr>
<tr class="separator:ac6ccca353ce1b6c595e7698c07342197"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab9ed7050098404e83239177aebb67367"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#ab9ed7050098404e83239177aebb67367">mapsInRange</a><code> [get, set]</code></td></tr>
<tr class="separator:ab9ed7050098404e83239177aebb67367"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5ffcd6253c966efb926e4005c45836a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#af5ffcd6253c966efb926e4005c45836a">width</a><code> [get]</code></td></tr>
<tr class="separator:af5ffcd6253c966efb926e4005c45836a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af522d15936143ab351f36f40ed4c65fc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#af522d15936143ab351f36f40ed4c65fc">height</a><code> [get]</code></td></tr>
<tr class="separator:af522d15936143ab351f36f40ed4c65fc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a823860af441583690a7619eebb3e6ee0"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a823860af441583690a7619eebb3e6ee0">encounter_list</a><code> [get]</code></td></tr>
<tr class="separator:a823860af441583690a7619eebb3e6ee0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a389b5ff300545efd5559ff7c9591ea89"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a389b5ff300545efd5559ff7c9591ea89">encounter_step</a><code> [get]</code></td></tr>
<tr class="separator:a389b5ff300545efd5559ff7c9591ea89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a232a2b4e618016c22b8764c473e7bc55"><td class="memItemLeft" align="right" valign="top">int?[,,]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a232a2b4e618016c22b8764c473e7bc55">data</a><code> [get]</code></td></tr>
<tr class="separator:a232a2b4e618016c22b8764c473e7bc55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44986e49a39134d9930e2d42c8ba37f6"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a44986e49a39134d9930e2d42c8ba37f6">name</a><code> [get]</code></td></tr>
<tr class="separator:a44986e49a39134d9930e2d42c8ba37f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c272d068983e36f322909e9efd890de"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml#a9c272d068983e36f322909e9efd890de">scrolling</a><code> [get]</code></td></tr>
<tr class="separator:a9c272d068983e36f322909e9efd890de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml">PokemonEssentials.Interface.Battle.IGameMapOrgBattle</a></td></tr>
<tr class="memitem:aa0f6e59d200c2298f48ef19d0094f972 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle.cshtml#aa0f6e59d200c2298f48ef19d0094f972">map_id</a><code> [get, set]</code></td></tr>
<tr class="separator:aa0f6e59d200c2298f48ef19d0094f972 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_map_org_battle"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a93a2773ee7af7c49bfcaa364fe7ec83d" name="a93a2773ee7af7c49bfcaa364fe7ec83d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93a2773ee7af7c49bfcaa364fe7ec83d">&#9670;&#160;</a></span>autoplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.autoplay </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays background music Plays music called "[normal BGM]n" if it's night time and it exists  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a1e52d6ac722fcc58e5d0963d4decc661">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a04e1cb37dabe24635d3117f3d4aa4ffc" name="a04e1cb37dabe24635d3117f3d4aa4ffc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a04e1cb37dabe24635d3117f3d4aa4ffc">&#9670;&#160;</a></span>autoplayAsCue()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.autoplayAsCue </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Autoplays background music. Plays music called "[normal BGM]n" if it's night time and it exists  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a6868d1ab77666a1da37607651a154a58">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="aa90f02ded5c452edb38b38fc334af271" name="aa90f02ded5c452edb38b38fc334af271"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa90f02ded5c452edb38b38fc334af271">&#9670;&#160;</a></span>bush()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.bush </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aebb84b722667930c8e7e2fe59347557f">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ad71e36328a51ba5724dbebbadfa225b4" name="ad71e36328a51ba5724dbebbadfa225b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad71e36328a51ba5724dbebbadfa225b4">&#9670;&#160;</a></span>check_event()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.IGameMap.check_event </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a3782c9cdc6519c28617a62ecc6848539">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a8c2e45296f63ba50a772057f9d3bd3dd" name="a8c2e45296f63ba50a772057f9d3bd3dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c2e45296f63ba50a772057f9d3bd3dd">&#9670;&#160;</a></span>counter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.counter </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#afb66a436eb32676555deb7f5c3e13c04">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a1eb4a622986405eb13024213390dfc88" name="a1eb4a622986405eb13024213390dfc88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1eb4a622986405eb13024213390dfc88">&#9670;&#160;</a></span>deepBush()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.deepBush </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a72ea1c2dee9bf7139c0e51c0e2d9c2ee">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a7ddafe70ca440703a06bc1220b1a57ad" name="a7ddafe70ca440703a06bc1220b1a57ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ddafe70ca440703a06bc1220b1a57ad">&#9670;&#160;</a></span>in_range()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.in_range </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>object</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ac5de7d49382c0f58d75747333aefbbd5">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ab2b563650322dbd56cfa5debe7c2c9d3" name="ab2b563650322dbd56cfa5debe7c2c9d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2b563650322dbd56cfa5debe7c2c9d3">&#9670;&#160;</a></span>passable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.passable </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>d</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>self_event</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a874ce09ff3b13534a3f32968138a57e9">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a82805cf317ccba053cb06cb37ef269bc" name="a82805cf317ccba053cb06cb37ef269bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82805cf317ccba053cb06cb37ef269bc">&#9670;&#160;</a></span>passableStrict()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.passableStrict </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>d</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>self_event</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a8329ebe7e2ac4d540470b4b6034cceab">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ac5912ebd3f9e5869b315c878adbbf28e" name="ac5912ebd3f9e5869b315c878adbbf28e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5912ebd3f9e5869b315c878adbbf28e">&#9670;&#160;</a></span>playerPassable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.playerPassable </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>d</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>self_event</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a36b14b721e22c9d977d87411e82bc3d5">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a4442afdb1cb097054d8c8d810e44c3e5" name="a4442afdb1cb097054d8c8d810e44c3e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4442afdb1cb097054d8c8d810e44c3e5">&#9670;&#160;</a></span>refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a93eb8a9b3abcc85018e342396d2e83af">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a5d9684e7b0523f4390f73e10f1c99059" name="a5d9684e7b0523f4390f73e10f1c99059"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d9684e7b0523f4390f73e10f1c99059">&#9670;&#160;</a></span>scroll_down()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.scroll_down </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a2fd273a0dab6d977a8e34cb890fa62cf">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ab5989e4c5bc7c916141bbf3820ca9abc" name="ab5989e4c5bc7c916141bbf3820ca9abc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5989e4c5bc7c916141bbf3820ca9abc">&#9670;&#160;</a></span>scroll_left()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.scroll_left </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a2058fd60d4f03f6c9cbbdf0d13dd9f00">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ab596dbebc39447de7773a36308b24426" name="ab596dbebc39447de7773a36308b24426"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab596dbebc39447de7773a36308b24426">&#9670;&#160;</a></span>scroll_right()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.scroll_right </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a04ed63c0fe6a71c81f5b0507049a4f0b">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ab9febbf6c5578a138281081457217215" name="ab9febbf6c5578a138281081457217215"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab9febbf6c5578a138281081457217215">&#9670;&#160;</a></span>scroll_up()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.scroll_up </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a8e6b9b20de61ff3422ef54b5c6da1cca">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a7866eab491884d339b7ffc4e197750c1" name="a7866eab491884d339b7ffc4e197750c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7866eab491884d339b7ffc4e197750c1">&#9670;&#160;</a></span>setup()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.setup </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map_id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a701e3701884b8f2c9c98195a382d924f">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a7571f4152e4f9ff680f59b6c1c16d3c3" name="a7571f4152e4f9ff680f59b6c1c16d3c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7571f4152e4f9ff680f59b6c1c16d3c3">&#9670;&#160;</a></span>start_fog_opacity_change()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.start_fog_opacity_change </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>opacity</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a4a2eecd34fdfdcc731adc9d31ff3085b">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a8f1b02e844b7a216c9d7b6cfeb586b89" name="a8f1b02e844b7a216c9d7b6cfeb586b89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f1b02e844b7a216c9d7b6cfeb586b89">&#9670;&#160;</a></span>start_fog_tone_change()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.start_fog_tone_change </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td>
          <td class="paramname"><em>tone</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a343030fb299a17bfc4093bee63132936">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a697d12795d7ffe877298a92df21f998e" name="a697d12795d7ffe877298a92df21f998e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a697d12795d7ffe877298a92df21f998e">&#9670;&#160;</a></span>start_scroll()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.start_scroll </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>direction</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>speed</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a5dd6e596ca9d8932ff6d25b2fce152c7">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a9466663c371069a47c9dba3faf914579" name="a9466663c371069a47c9dba3faf914579"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9466663c371069a47c9dba3faf914579">&#9670;&#160;</a></span>terrain_tag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">Terrains</a> PokemonEssentials.Interface.IGameMap.terrain_tag </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>countBridge</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ada045e8fb82e9134e6af92532d645f3f">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a3cb89be5a73b430497a2962d6829e7cd" name="a3cb89be5a73b430497a2962d6829e7cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cb89be5a73b430497a2962d6829e7cd">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameMap.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a4ed8fed6ac76ac6174069cc2e23d2ad8">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ae7d2d14bf22f38178b0423c74a04116c" name="ae7d2d14bf22f38178b0423c74a04116c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7d2d14bf22f38178b0423c74a04116c">&#9670;&#160;</a></span>valid()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.valid </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a9856fdd7aa09918a3ef728a5c8a360d4">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a0961d3cc78452b17279f0decd91570c1" name="a0961d3cc78452b17279f0decd91570c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0961d3cc78452b17279f0decd91570c1">&#9670;&#160;</a></span>validLax()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.validLax </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ab81bb7efc2dc44329a8477cd94f7c55e">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8e56bbe075fac4c1c5a6a265df445faf" name="a8e56bbe075fac4c1c5a6a265df445faf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e56bbe075fac4c1c5a6a265df445faf">&#9670;&#160;</a></span>autotile_names</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonEssentials.Interface.IGameMap.autotile_names</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>autotile file name  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a5ec0f63a039357bb07467699e9ec07d0">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a565b6d15807e8120cb4a52717f84990c" name="a565b6d15807e8120cb4a52717f84990c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a565b6d15807e8120cb4a52717f84990c">&#9670;&#160;</a></span>battleback_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMap.battleback_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>battleback file name  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aa593ad50ab00d1ca9e34763c44cfa152">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a232a2b4e618016c22b8764c473e7bc55" name="a232a2b4e618016c22b8764c473e7bc55"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a232a2b4e618016c22b8764c473e7bc55">&#9670;&#160;</a></span>data</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? [,,] PokemonEssentials.Interface.IGameMap.data</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a9b9557f5bd21f5db234dbe952e3046b9">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a038d7fd412a611d168d16ae6e28fe563" name="a038d7fd412a611d168d16ae6e28fe563"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a038d7fd412a611d168d16ae6e28fe563">&#9670;&#160;</a></span>display_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.display_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>display x-coordinate * 128  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a790762dbfe33b4377411b05647f03727">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a666515a10d92db2391bc4d8f36a56ba7" name="a666515a10d92db2391bc4d8f36a56ba7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a666515a10d92db2391bc4d8f36a56ba7">&#9670;&#160;</a></span>display_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.display_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>display y-coordinate * 128  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ad7ee3d9edc98d22216f4866fd3b236eb">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a823860af441583690a7619eebb3e6ee0" name="a823860af441583690a7619eebb3e6ee0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a823860af441583690a7619eebb3e6ee0">&#9670;&#160;</a></span>encounter_list</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&gt; PokemonEssentials.Interface.IGameMap.encounter_list</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a3e6b5755608efffdae4eb9fa546d6a66">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a389b5ff300545efd5559ff7c9591ea89" name="a389b5ff300545efd5559ff7c9591ea89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a389b5ff300545efd5559ff7c9591ea89">&#9670;&#160;</a></span>encounter_step</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.encounter_step</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#af8dba7b78cdd1bc54a3602cd86d44f72">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ac020834ddd7325fd8d6f3c9a5830ece3" name="ac020834ddd7325fd8d6f3c9a5830ece3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac020834ddd7325fd8d6f3c9a5830ece3">&#9670;&#160;</a></span>events</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a>&gt; PokemonEssentials.Interface.IGameMap.events</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>events  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a2f2973bc04f19dfcbba33aef0289c11c">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a03da910f86c90f82eead340551af4a46" name="a03da910f86c90f82eead340551af4a46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03da910f86c90f82eead340551af4a46">&#9670;&#160;</a></span>fog_blend_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.fog_blend_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog blending method  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a62f528cd9087cb6508922ff245165c3a">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a5016a6c24cafd4fb71bec6da1f19e473" name="a5016a6c24cafd4fb71bec6da1f19e473"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5016a6c24cafd4fb71bec6da1f19e473">&#9670;&#160;</a></span>fog_hue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.fog_hue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog hue  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a989dfba9e1654ab0ec65da08de395667">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a93ed4001ce0f114ca9d1ea0342ae3808" name="a93ed4001ce0f114ca9d1ea0342ae3808"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93ed4001ce0f114ca9d1ea0342ae3808">&#9670;&#160;</a></span>fog_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMap.fog_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog file name  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a64c49978eebb79c59a0cefa561e49c1b">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="adbd8aeaa1f36732d7087870a92446380" name="adbd8aeaa1f36732d7087870a92446380"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adbd8aeaa1f36732d7087870a92446380">&#9670;&#160;</a></span>fog_opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameMap.fog_opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog opacity level  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a2846483d3918afdda03cf69c2f16cfd1">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a65699cf48424337a9828c318d3992a75" name="a65699cf48424337a9828c318d3992a75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65699cf48424337a9828c318d3992a75">&#9670;&#160;</a></span>fog_ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameMap.fog_ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog x-coordinate starting point  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ae80f304dcdf36de9b25308f95ed094fe">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="adff943a835bb51b12ecb933308b1fa1a" name="adff943a835bb51b12ecb933308b1fa1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adff943a835bb51b12ecb933308b1fa1a">&#9670;&#160;</a></span>fog_oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameMap.fog_oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog y-coordinate starting point  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a96b18f277b7b411e1b0e863d07f7bcb9">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a52b581a2d7355a82cc6bf05bf4273dc4" name="a52b581a2d7355a82cc6bf05bf4273dc4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52b581a2d7355a82cc6bf05bf4273dc4">&#9670;&#160;</a></span>fog_sx</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameMap.fog_sx</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog sx  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ae01bd3dca071eac27374ff6f22f6d908">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a1fafaef2e1a030662c95dbd69e59e0bf" name="a1fafaef2e1a030662c95dbd69e59e0bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1fafaef2e1a030662c95dbd69e59e0bf">&#9670;&#160;</a></span>fog_sy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IGameMap.fog_sy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog sy  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#afeb30966be30243f1d2739843ae06dd3">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ac6ccca353ce1b6c595e7698c07342197" name="ac6ccca353ce1b6c595e7698c07342197"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6ccca353ce1b6c595e7698c07342197">&#9670;&#160;</a></span>fog_tone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.IGameMap.fog_tone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog color tone  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a4d0d3a3de10297e8722a4409133e7123">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ad12c08381c0a30036b261f55ebf876f5" name="ad12c08381c0a30036b261f55ebf876f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad12c08381c0a30036b261f55ebf876f5">&#9670;&#160;</a></span>fog_zoom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.fog_zoom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>fog zoom rate  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a97fa795b619e6304ba15ec0fe44faa37">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="af522d15936143ab351f36f40ed4c65fc" name="af522d15936143ab351f36f40ed4c65fc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af522d15936143ab351f36f40ed4c65fc">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aa08cddf0bc7304ee45ee7dfbf128e8c3">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ab9ed7050098404e83239177aebb67367" name="ab9ed7050098404e83239177aebb67367"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab9ed7050098404e83239177aebb67367">&#9670;&#160;</a></span>mapsInRange</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.mapsInRange</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a97b490dd164db3f1946f6ff11856a09f">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a44986e49a39134d9930e2d42c8ba37f6" name="a44986e49a39134d9930e2d42c8ba37f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44986e49a39134d9930e2d42c8ba37f6">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMap.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a60fae96dc11f8b6d854c5b3749cfb8ac">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a57aea07845800f02717f87f661ce3830" name="a57aea07845800f02717f87f661ce3830"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a57aea07845800f02717f87f661ce3830">&#9670;&#160;</a></span>need_refresh</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.need_refresh</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>refresh request flag  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#aeec2fe620f68f1dedb16460045a4d291">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a26fe88dd58863e78d91cbc62f61936e7" name="a26fe88dd58863e78d91cbc62f61936e7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26fe88dd58863e78d91cbc62f61936e7">&#9670;&#160;</a></span>panorama_hue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.panorama_hue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>panorama hue  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ae8aac9788fbe5219b6ec1e5b795fe3e4">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a51d88d452c42648f18c996c857e48f17" name="a51d88d452c42648f18c996c857e48f17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51d88d452c42648f18c996c857e48f17">&#9670;&#160;</a></span>panorama_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMap.panorama_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>panorama file name  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#ae99797c88999c31bd4c8a33e1aa22b92">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a64cddf98db0e1bc4ab0aa26537dad71d" name="a64cddf98db0e1bc4ab0aa26537dad71d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a64cddf98db0e1bc4ab0aa26537dad71d">&#9670;&#160;</a></span>passages</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.IGameMap.passages</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>passage table  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a84933003212d2522608c1a556ba95ed4">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="afa92c61a30639d055fb655bd6f2cb551" name="afa92c61a30639d055fb655bd6f2cb551"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa92c61a30639d055fb655bd6f2cb551">&#9670;&#160;</a></span>priorities</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.IGameMap.priorities</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>prioroty table  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a8898341f0006b82551f7424aff383ed1">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a9c272d068983e36f322909e9efd890de" name="a9c272d068983e36f322909e9efd890de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c272d068983e36f322909e9efd890de">&#9670;&#160;</a></span>scrolling</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameMap.scrolling</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a9192b072c9fe014cccf54a1811bc87f4">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="a2bdbeb47e34e216155fcbeba07914ce4" name="a2bdbeb47e34e216155fcbeba07914ce4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2bdbeb47e34e216155fcbeba07914ce4">&#9670;&#160;</a></span>terrain_tags</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">Terrains</a> [] PokemonEssentials.Interface.IGameMap.terrain_tags</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>terrain tag table  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#af10e746de612ab42347429a8d5c90ac9">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="ac07e0775aa045126d7534deea25b2682" name="ac07e0775aa045126d7534deea25b2682"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac07e0775aa045126d7534deea25b2682">&#9670;&#160;</a></span>tileset_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameMap.tileset_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>tileset file name  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a819308d94f5c25381bb4ee5551f0188f">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<a id="af5ffcd6253c966efb926e4005c45836a" name="af5ffcd6253c966efb926e4005c45836a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5ffcd6253c966efb926e4005c45836a">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameMap.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game_1_1_game___map.cshtml#a988fa1d9d1e00f9175407508d212ef73">PokemonUnity.Game.Game_Map</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_map_8cs.cshtml">IGameMap.cs</a></li>
</ul>
