@{
	Page.Title = "PokemonEssentials.Interface.Screen.IHasDisplayMessage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">IHasDisplayMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IHasDisplayMessage Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IHasDisplayMessage:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.png" usemap="#PokemonEssentials.Interface.Screen.IHasDisplayMessage_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IHasDisplayMessage_map" name="PokemonEssentials.Interface.Screen.IHasDisplayMessage_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IPartyDisplayScreen" shape="rect" coords="0,56,431,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="441,56,872,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IBagScene" shape="rect" coords="882,112,1313,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IBattleSwapScene" shape="rect" coords="882,168,1313,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_item_storage_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IItemStorageScene" shape="rect" coords="882,224,1313,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ILoadScene" shape="rect" coords="882,280,1313,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IMartScene" shape="rect" coords="882,336,1313,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IOptionScene" shape="rect" coords="882,392,1313,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_party_display_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPartyDisplayScene" shape="rect" coords="882,448,1313,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="882,504,1313,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugScene" shape="rect" coords="882,560,1313,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics" shape="rect" coords="882,616,1313,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_logging.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoLogging" shape="rect" coords="882,672,1313,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="882,728,1313,752"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive" shape="rect" coords="882,784,1313,808"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokegear_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokegearScene" shape="rect" coords="882,840,1313,864"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml" title="Text entry screen - free typing." alt="PokemonEssentials.Interface.Screen.IPokemonEntryScene" shape="rect" coords="882,896,1313,920"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene2.cshtml" title="Text entry screen - arrows to select letter." alt="PokemonEssentials.Interface.Screen.IPokemonEntryScene2" shape="rect" coords="882,952,1313,976"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_evolution_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonEvolutionScene" shape="rect" coords="882,1008,1313,1032"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_form_scene.cshtml" title="Shows the &quot;Form&quot; page of the Pok&eacute;dex entry screen." alt="PokemonEssentials.Interface.Screen.IPokemonFormScene" shape="rect" coords="882,1064,1313,1088"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonMenuScene" shape="rect" coords="882,1120,1313,1144"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_nest_map_scene.cshtml" title="Shows the &quot;Nest&quot; page of the Pok&eacute;dex entry screen." alt="PokemonEssentials.Interface.Screen.IPokemonNestMapScene" shape="rect" coords="882,1176,1313,1200"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonPokedexScene" shape="rect" coords="882,1232,1313,1256"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorageScene" shape="rect" coords="882,1288,1313,1312"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_summary_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonSummaryScene" shape="rect" coords="882,1344,1313,1368"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPurifyChamberScene" shape="rect" coords="882,1400,1313,1424"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml" title="Scene class for handling appearance of the screen" alt="PokemonEssentials.Interface.Screen.IRelicStoneScene" shape="rect" coords="882,1456,1313,1480"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ISaveScene" shape="rect" coords="882,1512,1313,1536"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_card_scene.cshtml" alt="PokemonEssentials.Interface.Screen.ITrainerCardScene" shape="rect" coords="882,1568,1313,1592"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ae7a6744a7fe8872af9b6aecd5f5a88db" name="ae7a6744a7fe8872af9b6aecd5f5a88db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7a6744a7fe8872af9b6aecd5f5a88db">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IHasDisplayMessage.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>v</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
