@{
	Page.Title = "PokemonEssentials.Interface.Screen.IBattleSwapScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml">IBattleSwapScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBattleSwapScene Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IBattleSwapScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.png" usemap="#PokemonEssentials.Interface.Screen.IBattleSwapScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IBattleSwapScene_map" name="PokemonEssentials.Interface.Screen.IBattleSwapScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,340,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,340,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac4be839db5dc169f2277e3efbf5ef7d8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#ac4be839db5dc169f2277e3efbf5ef7d8">pbChoosePokemon</a> (bool canCancel)</td></tr>
<tr class="separator:ac4be839db5dc169f2277e3efbf5ef7d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78fd16b44138b5f55ab30072695d6aeb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a78fd16b44138b5f55ab30072695d6aeb">pbShowCommands</a> (string[] commands)</td></tr>
<tr class="separator:a78fd16b44138b5f55ab30072695d6aeb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02e5bed4764c011963259891cd2ef421"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a02e5bed4764c011963259891cd2ef421">pbConfirm</a> (string message)</td></tr>
<tr class="separator:a02e5bed4764c011963259891cd2ef421"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27e1ea8b726260fb6f0b059abf12c5f3"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a27e1ea8b726260fb6f0b059abf12c5f3">pbGetCommands</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] list, int[] choices)</td></tr>
<tr class="separator:a27e1ea8b726260fb6f0b059abf12c5f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae52a73b08dab16b6c4602b051f68ede4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#ae52a73b08dab16b6c4602b051f68ede4">pbUpdateChoices</a> (int[] choices)</td></tr>
<tr class="separator:ae52a73b08dab16b6c4602b051f68ede4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30ca98322a3e63ffb7a0e6a58512a569"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a30ca98322a3e63ffb7a0e6a58512a569">pbSwapChosen</a> (int pkmnindex)</td></tr>
<tr class="separator:a30ca98322a3e63ffb7a0e6a58512a569"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87fe770f302d3c435d1f79b884e981f3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a87fe770f302d3c435d1f79b884e981f3">pbInitSwapScreen</a> ()</td></tr>
<tr class="separator:a87fe770f302d3c435d1f79b884e981f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3be2d755b6f1a964e4fad7515171b58b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a3be2d755b6f1a964e4fad7515171b58b">pbSwapCanceled</a> ()</td></tr>
<tr class="separator:a3be2d755b6f1a964e4fad7515171b58b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7bd89ecb707ff914a54c02a110f2ab53"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a7bd89ecb707ff914a54c02a110f2ab53">pbSummary</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] list, int index)</td></tr>
<tr class="separator:a7bd89ecb707ff914a54c02a110f2ab53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9814bbba614e89ca307cddae7c463f2b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a9814bbba614e89ca307cddae7c463f2b">pbUpdate</a> ()</td></tr>
<tr class="separator:a9814bbba614e89ca307cddae7c463f2b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a963b9de30ca994931dc62fec8b996705"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a963b9de30ca994931dc62fec8b996705">pbEndScene</a> ()</td></tr>
<tr class="separator:a963b9de30ca994931dc62fec8b996705"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af08049103f023cefa94b21300254925f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#af08049103f023cefa94b21300254925f">pbStartSwapScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> currentPokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> newPokemon)</td></tr>
<tr class="separator:af08049103f023cefa94b21300254925f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90be0b68b182b5dac7a960069c5c570d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml#a90be0b68b182b5dac7a960069c5c570d">pbStartRentScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] rentals)</td></tr>
<tr class="separator:a90be0b68b182b5dac7a960069c5c570d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a> ()</td></tr>
<tr class="separator:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a> <code>[get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac4be839db5dc169f2277e3efbf5ef7d8" name="ac4be839db5dc169f2277e3efbf5ef7d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4be839db5dc169f2277e3efbf5ef7d8">&#9670;&#160;</a></span>pbChoosePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbChoosePokemon </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>canCancel</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a02e5bed4764c011963259891cd2ef421" name="a02e5bed4764c011963259891cd2ef421"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02e5bed4764c011963259891cd2ef421">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBattleSwapScene.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a963b9de30ca994931dc62fec8b996705" name="a963b9de30ca994931dc62fec8b996705"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a963b9de30ca994931dc62fec8b996705">&#9670;&#160;</a></span>pbEndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbEndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a27e1ea8b726260fb6f0b059abf12c5f3" name="a27e1ea8b726260fb6f0b059abf12c5f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27e1ea8b726260fb6f0b059abf12c5f3">&#9670;&#160;</a></span>pbGetCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string[] PokemonEssentials.Interface.Screen.IBattleSwapScene.pbGetCommands </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>list</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>choices</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a87fe770f302d3c435d1f79b884e981f3" name="a87fe770f302d3c435d1f79b884e981f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87fe770f302d3c435d1f79b884e981f3">&#9670;&#160;</a></span>pbInitSwapScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbInitSwapScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78fd16b44138b5f55ab30072695d6aeb" name="a78fd16b44138b5f55ab30072695d6aeb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78fd16b44138b5f55ab30072695d6aeb">&#9670;&#160;</a></span>pbShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbShowCommands </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a90be0b68b182b5dac7a960069c5c570d" name="a90be0b68b182b5dac7a960069c5c570d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90be0b68b182b5dac7a960069c5c570d">&#9670;&#160;</a></span>pbStartRentScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbStartRentScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>rentals</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af08049103f023cefa94b21300254925f" name="af08049103f023cefa94b21300254925f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af08049103f023cefa94b21300254925f">&#9670;&#160;</a></span>pbStartSwapScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbStartSwapScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>currentPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>newPokemon</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7bd89ecb707ff914a54c02a110f2ab53" name="a7bd89ecb707ff914a54c02a110f2ab53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7bd89ecb707ff914a54c02a110f2ab53">&#9670;&#160;</a></span>pbSummary()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbSummary </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>list</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3be2d755b6f1a964e4fad7515171b58b" name="a3be2d755b6f1a964e4fad7515171b58b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3be2d755b6f1a964e4fad7515171b58b">&#9670;&#160;</a></span>pbSwapCanceled()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbSwapCanceled </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a30ca98322a3e63ffb7a0e6a58512a569" name="a30ca98322a3e63ffb7a0e6a58512a569"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30ca98322a3e63ffb7a0e6a58512a569">&#9670;&#160;</a></span>pbSwapChosen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbSwapChosen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pkmnindex</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9814bbba614e89ca307cddae7c463f2b" name="a9814bbba614e89ca307cddae7c463f2b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9814bbba614e89ca307cddae7c463f2b">&#9670;&#160;</a></span>pbUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbUpdate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae52a73b08dab16b6c4602b051f68ede4" name="ae52a73b08dab16b6c4602b051f68ede4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae52a73b08dab16b6c4602b051f68ede4">&#9670;&#160;</a></span>pbUpdateChoices()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScene.pbUpdateChoices </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>choices</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_battle_swap_8cs.cshtml">IBattleSwap.cs</a></li>
</ul>
