@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IViewport Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IViewport Interface Reference</div></div>
}


<p>The viewport class. Used when displaying sprites in one portion of the screen, with no overflow into other regions.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IViewport:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7a802e4c3e8c8e06c6f8f3ad015e55a9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a7a802e4c3e8c8e06c6f8f3ad015e55a9">initialize</a> (float x, float y, float height, float width)</td></tr>
<tr class="separator:a7a802e4c3e8c8e06c6f8f3ad015e55a9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2d496b19e157271802627673a417f27"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#ae2d496b19e157271802627673a417f27">dispose</a> ()</td></tr>
<tr class="memdesc:ae2d496b19e157271802627673a417f27"><td class="mdescLeft">&#160;</td><td class="mdescRight">Frees the viewport. If the viewport has already been freed, does nothing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#ae2d496b19e157271802627673a417f27">More...</a><br /></td></tr>
<tr class="separator:ae2d496b19e157271802627673a417f27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a66682454e3cb88929770f6aa80aa6193"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a66682454e3cb88929770f6aa80aa6193">flash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a31016f0fb49c31553883306cebf3b80d">color</a>, int duration)</td></tr>
<tr class="memdesc:a66682454e3cb88929770f6aa80aa6193"><td class="mdescLeft">&#160;</td><td class="mdescRight">Begins flashing the viewport. duration specifies the number of frames the flash will last. If color is set to nil, the viewport will disappear while flashing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a66682454e3cb88929770f6aa80aa6193">More...</a><br /></td></tr>
<tr class="separator:a66682454e3cb88929770f6aa80aa6193"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11072f89cd3ff4f1ef9cc879eb6ec0bd"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a11072f89cd3ff4f1ef9cc879eb6ec0bd">update</a> ()</td></tr>
<tr class="memdesc:a11072f89cd3ff4f1ef9cc879eb6ec0bd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refreshes the viewport flash. As a rule, this method is called once per frame. It is not necessary to call this method if no flash effect is needed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a11072f89cd3ff4f1ef9cc879eb6ec0bd">More...</a><br /></td></tr>
<tr class="separator:a11072f89cd3ff4f1ef9cc879eb6ec0bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a820bce5e9a51375bedefaf6edf56edbd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a820bce5e9a51375bedefaf6edf56edbd">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a820bce5e9a51375bedefaf6edf56edbd"><td class="mdescLeft">&#160;</td><td class="mdescRight">The viewport's visibility. If TRUE, the viewport is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a820bce5e9a51375bedefaf6edf56edbd">More...</a><br /></td></tr>
<tr class="separator:a820bce5e9a51375bedefaf6edf56edbd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac51632ea37df1d55a9df768b952d1a72"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#ac51632ea37df1d55a9df768b952d1a72">ox</a><code> [get]</code></td></tr>
<tr class="memdesc:ac51632ea37df1d55a9df768b952d1a72"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#ac51632ea37df1d55a9df768b952d1a72">More...</a><br /></td></tr>
<tr class="separator:ac51632ea37df1d55a9df768b952d1a72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee9fc7459c5a0d4abaa292bce511cf3d"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#aee9fc7459c5a0d4abaa292bce511cf3d">oy</a><code> [get]</code></td></tr>
<tr class="memdesc:aee9fc7459c5a0d4abaa292bce511cf3d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#aee9fc7459c5a0d4abaa292bce511cf3d">More...</a><br /></td></tr>
<tr class="separator:aee9fc7459c5a0d4abaa292bce511cf3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31016f0fb49c31553883306cebf3b80d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a31016f0fb49c31553883306cebf3b80d">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a31016f0fb49c31553883306cebf3b80d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a31016f0fb49c31553883306cebf3b80d">More...</a><br /></td></tr>
<tr class="separator:a31016f0fb49c31553883306cebf3b80d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a870c97fc9fcb68a9a2ae379517348a61"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#a870c97fc9fcb68a9a2ae379517348a61">rect</a><code> [get, set]</code></td></tr>
<tr class="separator:a870c97fc9fcb68a9a2ae379517348a61"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa1914e8c8d882a12886a2a682bcba4f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#afa1914e8c8d882a12886a2a682bcba4f">disposed</a><code> [get]</code></td></tr>
<tr class="memdesc:afa1914e8c8d882a12886a2a682bcba4f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns TRUE if the viewport has been freed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml#afa1914e8c8d882a12886a2a682bcba4f">More...</a><br /></td></tr>
<tr class="separator:afa1914e8c8d882a12886a2a682bcba4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The viewport class. Used when displaying sprites in one portion of the screen, with no overflow into other regions.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ae2d496b19e157271802627673a417f27" name="ae2d496b19e157271802627673a417f27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2d496b19e157271802627673a417f27">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IViewport.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Frees the viewport. If the viewport has already been freed, does nothing.  </p>

</div>
</div>
<a id="a66682454e3cb88929770f6aa80aa6193" name="a66682454e3cb88929770f6aa80aa6193"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a66682454e3cb88929770f6aa80aa6193">&#9670;&#160;</a></span>flash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IViewport.flash </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Begins flashing the viewport. duration specifies the number of frames the flash will last. If color is set to nil, the viewport will disappear while flashing.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">color</td><td></td></tr>
    <tr><td class="paramname">duration</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a7a802e4c3e8c8e06c6f8f3ad015e55a9" name="a7a802e4c3e8c8e06c6f8f3ad015e55a9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a802e4c3e8c8e06c6f8f3ad015e55a9">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> PokemonEssentials.Interface.IViewport.initialize </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a11072f89cd3ff4f1ef9cc879eb6ec0bd" name="a11072f89cd3ff4f1ef9cc879eb6ec0bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11072f89cd3ff4f1ef9cc879eb6ec0bd">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IViewport.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Refreshes the viewport flash. As a rule, this method is called once per frame. It is not necessary to call this method if no flash effect is needed.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a31016f0fb49c31553883306cebf3b80d" name="a31016f0fb49c31553883306cebf3b80d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31016f0fb49c31553883306cebf3b80d">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.IViewport.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The color (Color) to be blended with the viewport. Alpha values are used in the blending ratio. Handled separately from the color blended into a flash effect.  </p>

</div>
</div>
<a id="afa1914e8c8d882a12886a2a682bcba4f" name="afa1914e8c8d882a12886a2a682bcba4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa1914e8c8d882a12886a2a682bcba4f">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IViewport.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns TRUE if the viewport has been freed.  </p>

</div>
</div>
<a id="ac51632ea37df1d55a9df768b952d1a72" name="ac51632ea37df1d55a9df768b952d1a72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac51632ea37df1d55a9df768b952d1a72">&#9670;&#160;</a></span>ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IViewport.ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The X-coordinate of the viewport's starting point. Change this value to shake the screen, etc.  </p>

</div>
</div>
<a id="aee9fc7459c5a0d4abaa292bce511cf3d" name="aee9fc7459c5a0d4abaa292bce511cf3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee9fc7459c5a0d4abaa292bce511cf3d">&#9670;&#160;</a></span>oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.IViewport.oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The Y-coordinate of the viewport's starting point. Change this value to shake the screen, etc.  </p>

</div>
</div>
<a id="a870c97fc9fcb68a9a2ae379517348a61" name="a870c97fc9fcb68a9a2ae379517348a61"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a870c97fc9fcb68a9a2ae379517348a61">&#9670;&#160;</a></span>rect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> PokemonEssentials.Interface.IViewport.rect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a820bce5e9a51375bedefaf6edf56edbd" name="a820bce5e9a51375bedefaf6edf56edbd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a820bce5e9a51375bedefaf6edf56edbd">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IViewport.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The viewport's visibility. If TRUE, the viewport is visible.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
