@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IBagScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBagScreen Interface Reference</div></div>
}


<p>Functions and Menu options for Bag Component. Can share the same GameObject entity as </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_bag.cshtml" title="UI Elements for the Bag screen">IWindow_PokemonBag</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IBagScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.png" usemap="#PokemonEssentials.Interface.Screen.IBagScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IBagScreen_map" name="PokemonEssentials.Interface.Screen.IBagScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,288,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0fc27b3e11b4177e9f97fe3d1a8fcd4f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a0fc27b3e11b4177e9f97fe3d1a8fcd4f">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_scene.cshtml">IBagScene</a> scene, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> bag)</td></tr>
<tr class="separator:a0fc27b3e11b4177e9f97fe3d1a8fcd4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8bca82224ec2834f93ff26b1a8d6508e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a8bca82224ec2834f93ff26b1a8d6508e">pbDisplay</a> (string text)</td></tr>
<tr class="separator:a8bca82224ec2834f93ff26b1a8d6508e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd79e0af21774be35c751c1abe208edd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#afd79e0af21774be35c751c1abe208edd">pbConfirm</a> (string text)</td></tr>
<tr class="separator:afd79e0af21774be35c751c1abe208edd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a402328b5b33362e70f5994b90163802c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a402328b5b33362e70f5994b90163802c">pbGiveItemScreen</a> ()</td></tr>
<tr class="memdesc:a402328b5b33362e70f5994b90163802c"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for the item screen when an item is to be held by a Pokémon.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a402328b5b33362e70f5994b90163802c">More...</a><br /></td></tr>
<tr class="separator:a402328b5b33362e70f5994b90163802c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a902a317aeb072467f5647cd0a748e4de"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a902a317aeb072467f5647cd0a748e4de">pbUseItemScreen</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> pokemon)</td></tr>
<tr class="memdesc:a902a317aeb072467f5647cd0a748e4de"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for the item screen when an item is used on a Pokémon from the party screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a902a317aeb072467f5647cd0a748e4de">More...</a><br /></td></tr>
<tr class="separator:a902a317aeb072467f5647cd0a748e4de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1e038d533834a68437ec6e294f4d45a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#aa1e038d533834a68437ec6e294f4d45a">pbChooseItemScreen</a> ()</td></tr>
<tr class="memdesc:aa1e038d533834a68437ec6e294f4d45a"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for the item screen for choosing an item   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#aa1e038d533834a68437ec6e294f4d45a">More...</a><br /></td></tr>
<tr class="separator:aa1e038d533834a68437ec6e294f4d45a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49797a9cdaeae464dac5db1f11d3338d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a49797a9cdaeae464dac5db1f11d3338d">pbChooseBerryScreen</a> ()</td></tr>
<tr class="memdesc:a49797a9cdaeae464dac5db1f11d3338d"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for the item screen for choosing a Berry   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a49797a9cdaeae464dac5db1f11d3338d">More...</a><br /></td></tr>
<tr class="separator:a49797a9cdaeae464dac5db1f11d3338d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a276478e956c456708d6d1241b36337f1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a276478e956c456708d6d1241b36337f1">pbTossItemScreen</a> ()</td></tr>
<tr class="memdesc:a276478e956c456708d6d1241b36337f1"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for tossing an item in the item screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a276478e956c456708d6d1241b36337f1">More...</a><br /></td></tr>
<tr class="separator:a276478e956c456708d6d1241b36337f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c590d47ab31d3f2c179039f3cf6fe84"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a9c590d47ab31d3f2c179039f3cf6fe84">pbWithdrawItemScreen</a> ()</td></tr>
<tr class="memdesc:a9c590d47ab31d3f2c179039f3cf6fe84"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for withdrawing an item in the item screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a9c590d47ab31d3f2c179039f3cf6fe84">More...</a><br /></td></tr>
<tr class="separator:a9c590d47ab31d3f2c179039f3cf6fe84"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad783d1af0d1afa33d4b7d781cc525c37"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ad783d1af0d1afa33d4b7d781cc525c37">pbDepositItemScreen</a> ()</td></tr>
<tr class="memdesc:ad783d1af0d1afa33d4b7d781cc525c37"><td class="mdescLeft">&#160;</td><td class="mdescRight">UI logic for depositing an item in the item screen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ad783d1af0d1afa33d4b7d781cc525c37">More...</a><br /></td></tr>
<tr class="separator:ad783d1af0d1afa33d4b7d781cc525c37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a282ca42f18e9433a6e78853b448dc076"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a282ca42f18e9433a6e78853b448dc076">pbStartScreen</a> ()</td></tr>
<tr class="separator:a282ca42f18e9433a6e78853b448dc076"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Functions and Menu options for Bag Component. Can share the same GameObject entity as </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_bag.cshtml" title="UI Elements for the Bag screen">IWindow_PokemonBag</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a0fc27b3e11b4177e9f97fe3d1a8fcd4f" name="a0fc27b3e11b4177e9f97fe3d1a8fcd4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0fc27b3e11b4177e9f97fe3d1a8fcd4f">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a> PokemonEssentials.Interface.Screen.IBagScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_scene.cshtml">IBagScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td>
          <td class="paramname"><em>bag</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a49797a9cdaeae464dac5db1f11d3338d" name="a49797a9cdaeae464dac5db1f11d3338d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49797a9cdaeae464dac5db1f11d3338d">&#9670;&#160;</a></span>pbChooseBerryScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBagScreen.pbChooseBerryScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for the item screen for choosing a Berry  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="aa1e038d533834a68437ec6e294f4d45a" name="aa1e038d533834a68437ec6e294f4d45a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1e038d533834a68437ec6e294f4d45a">&#9670;&#160;</a></span>pbChooseItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBagScreen.pbChooseItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for the item screen for choosing an item  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="afd79e0af21774be35c751c1abe208edd" name="afd79e0af21774be35c751c1abe208edd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd79e0af21774be35c751c1abe208edd">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBagScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad783d1af0d1afa33d4b7d781cc525c37" name="ad783d1af0d1afa33d4b7d781cc525c37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad783d1af0d1afa33d4b7d781cc525c37">&#9670;&#160;</a></span>pbDepositItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBagScreen.pbDepositItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for depositing an item in the item screen.  </p>

</div>
</div>
<a id="a8bca82224ec2834f93ff26b1a8d6508e" name="a8bca82224ec2834f93ff26b1a8d6508e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bca82224ec2834f93ff26b1a8d6508e">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBagScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a402328b5b33362e70f5994b90163802c" name="a402328b5b33362e70f5994b90163802c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a402328b5b33362e70f5994b90163802c">&#9670;&#160;</a></span>pbGiveItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBagScreen.pbGiveItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for the item screen when an item is to be held by a Pokémon.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a282ca42f18e9433a6e78853b448dc076" name="a282ca42f18e9433a6e78853b448dc076"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a282ca42f18e9433a6e78853b448dc076">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBagScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a276478e956c456708d6d1241b36337f1" name="a276478e956c456708d6d1241b36337f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a276478e956c456708d6d1241b36337f1">&#9670;&#160;</a></span>pbTossItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBagScreen.pbTossItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for tossing an item in the item screen.  </p>

</div>
</div>
<a id="a902a317aeb072467f5647cd0a748e4de" name="a902a317aeb072467f5647cd0a748e4de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a902a317aeb072467f5647cd0a748e4de">&#9670;&#160;</a></span>pbUseItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IBagScreen.pbUseItemScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for the item screen when an item is used on a Pokémon from the party screen.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a9c590d47ab31d3f2c179039f3cf6fe84" name="a9c590d47ab31d3f2c179039f3cf6fe84"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c590d47ab31d3f2c179039f3cf6fe84">&#9670;&#160;</a></span>pbWithdrawItemScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBagScreen.pbWithdrawItemScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>UI logic for withdrawing an item in the item screen.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_bag_8cs.cshtml">IBag.cs</a></li>
</ul>
