@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IBuyAdapter Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">IBuyAdapter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBuyAdapter Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0aee59902d59a9dbe5486a4d7eb0ded4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">IBuyAdapter</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a0aee59902d59a9dbe5486a4d7eb0ded4">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a> adapter)</td></tr>
<tr class="separator:a0aee59902d59a9dbe5486a4d7eb0ded4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0b474aac96c011306dd316835ac37c76"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a0b474aac96c011306dd316835ac37c76">getDisplayName</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a0b474aac96c011306dd316835ac37c76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad612a613ea5678af92867e4e993bd72d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#ad612a613ea5678af92867e4e993bd72d">getDisplayPrice</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:ad612a613ea5678af92867e4e993bd72d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a844e58f209c7dc4eb81ee9e1a74f3ef5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a844e58f209c7dc4eb81ee9e1a74f3ef5">isSelling</a> ()</td></tr>
<tr class="separator:a844e58f209c7dc4eb81ee9e1a74f3ef5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0b474aac96c011306dd316835ac37c76" name="a0b474aac96c011306dd316835ac37c76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b474aac96c011306dd316835ac37c76">&#9670;&#160;</a></span>getDisplayName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IBuyAdapter.getDisplayName </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad612a613ea5678af92867e4e993bd72d" name="ad612a613ea5678af92867e4e993bd72d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad612a613ea5678af92867e4e993bd72d">&#9670;&#160;</a></span>getDisplayPrice()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IBuyAdapter.getDisplayPrice </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0aee59902d59a9dbe5486a4d7eb0ded4" name="a0aee59902d59a9dbe5486a4d7eb0ded4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0aee59902d59a9dbe5486a4d7eb0ded4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">IBuyAdapter</a> PokemonEssentials.Interface.Screen.IBuyAdapter.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a>&#160;</td>
          <td class="paramname"><em>adapter</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a844e58f209c7dc4eb81ee9e1a74f3ef5" name="a844e58f209c7dc4eb81ee9e1a74f3ef5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a844e58f209c7dc4eb81ee9e1a74f3ef5">&#9670;&#160;</a></span>isSelling()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBuyAdapter.isSelling </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_mart_8cs.cshtml">IMart.cs</a></li>
</ul>

