@{
	Page.Title = "PokemonUnity.IPokemonNestMap Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map.cshtml">IPokemonNestMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_nest_map-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonNestMap Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonNestMap:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_nest_map.png" usemap="#PokemonUnity.IPokemonNestMap_map" alt=""/>
  <map id="PokemonUnity.IPokemonNestMap_map" name="PokemonUnity.IPokemonNestMap_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,199,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a63a813d50671333c23413a6d5fd35675"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map.cshtml#a63a813d50671333c23413a6d5fd35675">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">IPokemonNestMapScene</a> scene)</td></tr>
<tr class="separator:a63a813d50671333c23413a6d5fd35675"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a88e4c2abc065f82dbe4a4dd8ec0fdda4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map.cshtml#a88e4c2abc065f82dbe4a4dd8ec0fdda4">pbStartScreen</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int region, int listlimits)</td></tr>
<tr class="separator:a88e4c2abc065f82dbe4a4dd8ec0fdda4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a63a813d50671333c23413a6d5fd35675" name="a63a813d50671333c23413a6d5fd35675"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63a813d50671333c23413a6d5fd35675">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonNestMap.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">IPokemonNestMapScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a88e4c2abc065f82dbe4a4dd8ec0fdda4" name="a88e4c2abc065f82dbe4a4dd8ec0fdda4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a88e4c2abc065f82dbe4a4dd8ec0fdda4">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonNestMap.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>region</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>listlimits</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
