@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">ISaveScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ISaveScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml#ae93e280823d0379da1edd9e06912d991">initialize</a>(ISaveScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml#a20a44a540ba7b275aaef2f470d9ea759">pbConfirm</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml#a5f2a568e4641de15bfc68fd41b873d05">pbDisplay</a>(string text, bool brief=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml#a5774667c506341d0c258df19c575f581">pbDisplayPaused</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml#a97c97f9681a736d562911a3b2208c258">pbSaveScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_save_screen.cshtml">PokemonEssentials.Interface.Screen.ISaveScreen</a></td><td class="entry"></td></tr>
</table>