@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">IInterpreterFieldMixinField</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a7d3852d2cac9c50275bb6cd4817b375b">getVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#afe76b8564222645db5946e1130cb326f">pbGetPokemon</a>(Pokemons id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a36a86f568620f1eb3912885e113217c0">pbHeadbutt</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a9d94d268470c39b11a6b58b085290ae3">pbParams</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a71fbad05e661b92d8359c80b88c86f36">pbPushThisBoulder</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#acb0ebd0fba3f06cb6b4f94b4c40dad33">pbPushThisEvent</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a6b94aa4a83d2bc5b1e56028fae7ef8e5">pbSetEventTime</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#abd0b7f84a2719aa53ec3b4567d23f85b">pbTrainerEnd</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a7a7753dd07701df99d2695991ddfccd9">pbTrainerIntro</a>(TrainerTypes symbol)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#acb21dde965efced670486fb977f55e0f">setTempSwitchOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#aed82a5dcfa70bb58e5b2a47581bc1b43">setTempSwitchOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a73c2d072d99f55c609a97dcbeab5706c">setVariable</a>(params int[] arg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#a9dd3949fe6005dd4e61e964563f7b89a">tsOff</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml#abb24c4e5e2cd75c7f217b526a65a528e">tsOn</a>(string c)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_interpreter_field_mixin_field.cshtml">PokemonEssentials.Interface.Field.IInterpreterFieldMixinField</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
