@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Item.IMail Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">IMail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IMail Interface Reference</div></div>
}


<p>Data structure representing mail that the Pokémon can hold   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Item.IMail:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.png" usemap="#PokemonEssentials.Interface.Item.IMail_map" alt=""/>
  <map id="PokemonEssentials.Interface.Item.IMail_map" name="PokemonEssentials.Interface.Item.IMail_map">
<area href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml" title="Data structure representing mail that the Pokémon can hold" alt="PokemonUnity.Inventory.Mail" shape="rect" coords="0,56,230,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a67c6c134920e44590a6bcba437c7f8f0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">IMail</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a67c6c134920e44590a6bcba437c7f8f0">initialize</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac0fc8b7e545108be2627c35d33e57052">item</a>, string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#afb48f8a8b97c356de82b749bdddaa57e">message</a>, string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a427ffef4c16e04860b56138fd5264544">sender</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac1db6636d4b80287814fb857e7d7a0a2">poke1</a>=null, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a3884b0a0790ead1885a66d7f92f7fc21">poke2</a>=null, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a660592bd3f82f3424bad18d0cfceea7f">poke3</a>=null)</td></tr>
<tr class="separator:a67c6c134920e44590a6bcba437c7f8f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ac0fc8b7e545108be2627c35d33e57052"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac0fc8b7e545108be2627c35d33e57052">item</a><code> [get, set]</code></td></tr>
<tr class="separator:ac0fc8b7e545108be2627c35d33e57052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb48f8a8b97c356de82b749bdddaa57e"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#afb48f8a8b97c356de82b749bdddaa57e">message</a><code> [get, set]</code></td></tr>
<tr class="separator:afb48f8a8b97c356de82b749bdddaa57e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a427ffef4c16e04860b56138fd5264544"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a427ffef4c16e04860b56138fd5264544">sender</a><code> [get]</code></td></tr>
<tr class="separator:a427ffef4c16e04860b56138fd5264544"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1db6636d4b80287814fb857e7d7a0a2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac1db6636d4b80287814fb857e7d7a0a2">poke1</a><code> [get]</code></td></tr>
<tr class="separator:ac1db6636d4b80287814fb857e7d7a0a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3884b0a0790ead1885a66d7f92f7fc21"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a3884b0a0790ead1885a66d7f92f7fc21">poke2</a><code> [get]</code></td></tr>
<tr class="separator:a3884b0a0790ead1885a66d7f92f7fc21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a660592bd3f82f3424bad18d0cfceea7f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a660592bd3f82f3424bad18d0cfceea7f">poke3</a><code> [get]</code></td></tr>
<tr class="separator:a660592bd3f82f3424bad18d0cfceea7f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Data structure representing mail that the Pokémon can hold  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a67c6c134920e44590a6bcba437c7f8f0" name="a67c6c134920e44590a6bcba437c7f8f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67c6c134920e44590a6bcba437c7f8f0">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">IMail</a> PokemonEssentials.Interface.Item.IMail.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>sender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>poke1</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>poke2</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>poke3</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">item</td><td><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a> represented by this mail</td></tr>
    <tr><td class="paramname">message</td><td>Message text</td></tr>
    <tr><td class="paramname">sender</td><td>Name of the message's sender</td></tr>
    <tr><td class="paramname">poke1</td><td>[species,gender,shininess,form,shadowness,is egg]</td></tr>
    <tr><td class="paramname">poke2</td><td></td></tr>
    <tr><td class="paramname">poke3</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a11276bf5eaa1442223fa2ff0b764123a">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ac0fc8b7e545108be2627c35d33e57052" name="ac0fc8b7e545108be2627c35d33e57052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0fc8b7e545108be2627c35d33e57052">&#9670;&#160;</a></span>item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Item.IMail.item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#ab4979c627586603ca04b94f41ff389ea">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<a id="afb48f8a8b97c356de82b749bdddaa57e" name="afb48f8a8b97c356de82b749bdddaa57e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afb48f8a8b97c356de82b749bdddaa57e">&#9670;&#160;</a></span>message</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Item.IMail.message</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a44e3315b97dd08aec0f9ad2b0fd539da">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<a id="ac1db6636d4b80287814fb857e7d7a0a2" name="ac1db6636d4b80287814fb857e7d7a0a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1db6636d4b80287814fb857e7d7a0a2">&#9670;&#160;</a></span>poke1</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IMail.poke1</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#af36b1f09bd14bb0e10b829e49b842a43">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<a id="a3884b0a0790ead1885a66d7f92f7fc21" name="a3884b0a0790ead1885a66d7f92f7fc21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3884b0a0790ead1885a66d7f92f7fc21">&#9670;&#160;</a></span>poke2</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IMail.poke2</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#aae22ada7dd7a0d821cd1e7d60e9164c2">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<a id="a660592bd3f82f3424bad18d0cfceea7f" name="a660592bd3f82f3424bad18d0cfceea7f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a660592bd3f82f3424bad18d0cfceea7f">&#9670;&#160;</a></span>poke3</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IMail.poke3</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#a46368d44ecf2f71bd1dd00511cffa3be">PokemonUnity.Inventory.Mail</a>.</p>

</div>
</div>
<a id="a427ffef4c16e04860b56138fd5264544" name="a427ffef4c16e04860b56138fd5264544"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a427ffef4c16e04860b56138fd5264544">&#9670;&#160;</a></span>sender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Item.IMail.sender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_mail_8cs.cshtml">IMail.cs</a></li>
</ul>

