@{
	Page.Title = "PokemonEssentials.Interface.Screen.IGamePurifyChamber Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">IGamePurifyChamber</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGamePurifyChamber Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a44ee1676f03a3b0e3958ff28af9226bf"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#a44ee1676f03a3b0e3958ff28af9226bf">DrawGauge</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> bitmap, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> color, int value, int maxValue)</td></tr>
<tr class="separator:a44ee1676f03a3b0e3958ff28af9226bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb7eaa7b3ddd6792d5ea240a876f9ca0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#acb7eaa7b3ddd6792d5ea240a876f9ca0">calcPoint</a> (float x, float y, int distance, float angle)</td></tr>
<tr class="separator:acb7eaa7b3ddd6792d5ea240a876f9ca0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a59a3545c9bf67de959452d3c9f603d2e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#a59a3545c9bf67de959452d3c9f603d2e">PurifyChamber</a> ()</td></tr>
<tr class="separator:a59a3545c9bf67de959452d3c9f603d2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="acb7eaa7b3ddd6792d5ea240a876f9ca0" name="acb7eaa7b3ddd6792d5ea240a876f9ca0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb7eaa7b3ddd6792d5ea240a876f9ca0">&#9670;&#160;</a></span>calcPoint()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a> PokemonEssentials.Interface.Screen.IGamePurifyChamber.calcPoint </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>distance</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>angle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a44ee1676f03a3b0e3958ff28af9226bf" name="a44ee1676f03a3b0e3958ff28af9226bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44ee1676f03a3b0e3958ff28af9226bf">&#9670;&#160;</a></span>DrawGauge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IGamePurifyChamber.DrawGauge </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td>
          <td class="paramname"><em>bitmap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>color</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxValue</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a59a3545c9bf67de959452d3c9f603d2e" name="a59a3545c9bf67de959452d3c9f603d2e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59a3545c9bf67de959452d3c9f603d2e">&#9670;&#160;</a></span>PurifyChamber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IGamePurifyChamber.PurifyChamber </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>

