@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Overworld.IEncounterData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.IEncounterData Interface Reference</div></div>
}


<p>Data records of pokemon profiles used for pooling together a random chance enounter for a battle against wild pokemons   
 <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Overworld.IEncounterData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.png" usemap="#PokemonUnity.Overworld.IEncounterData_map" alt=""/>
  <map id="PokemonUnity.Overworld.IEncounterData_map" name="PokemonUnity.Overworld.IEncounterData_map">
<area href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance encounter for a battle aga..." alt="PokemonUnity.Overworld.EncounterData" shape="rect" coords="0,56,246,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a36d19585428f663b0e2be79ac37058b2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a36d19585428f663b0e2be79ac37058b2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Identifier for this <a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> (Used for record lookup, and tracking/storage)   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">More...</a><br /></td></tr>
<tr class="separator:a36d19585428f663b0e2be79ac37058b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a643b2729f3142083a96623d5252b1c8e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:a643b2729f3142083a96623d5252b1c8e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map or Scene/Level this encounter record belongs to (associated with)   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">More...</a><br /></td></tr>
<tr class="separator:a643b2729f3142083a96623d5252b1c8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d95edad5a96ca19176c8a14aebc1f01"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a8d95edad5a96ca19176c8a14aebc1f01">Method</a><code> [get]</code></td></tr>
<tr class="separator:a8d95edad5a96ca19176c8a14aebc1f01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae4fa1969de83164fb52ee58f994a8ce5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae4fa1969de83164fb52ee58f994a8ce5">SlotId</a><code> [get]</code></td></tr>
<tr class="separator:ae4fa1969de83164fb52ee58f994a8ce5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afecc4f406693ffb643d08af77fbd8f9b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#afecc4f406693ffb643d08af77fbd8f9b">Pokemon</a><code> [get]</code></td></tr>
<tr class="separator:afecc4f406693ffb643d08af77fbd8f9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae519c5855c0edee97b4faf55172ca51f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae519c5855c0edee97b4faf55172ca51f">Conditions</a><code> [get]</code></td></tr>
<tr class="separator:ae519c5855c0edee97b4faf55172ca51f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08412ee6f7eb664a2f53481afffbb0e0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a08412ee6f7eb664a2f53481afffbb0e0">Versions</a><code> [get]</code></td></tr>
<tr class="separator:a08412ee6f7eb664a2f53481afffbb0e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a679b03d71f5fb3836d5298c46090504f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a679b03d71f5fb3836d5298c46090504f">Generation</a><code> [get]</code></td></tr>
<tr class="separator:a679b03d71f5fb3836d5298c46090504f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61f431ecd5b8117c22fc06c21c0924f8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a61f431ecd5b8117c22fc06c21c0924f8">MinLevel</a><code> [get]</code></td></tr>
<tr class="separator:a61f431ecd5b8117c22fc06c21c0924f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86d08d7bb80fc380f7d7e454390d6b6f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a86d08d7bb80fc380f7d7e454390d6b6f">MaxLevel</a><code> [get]</code></td></tr>
<tr class="separator:a86d08d7bb80fc380f7d7e454390d6b6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c59d601b121f1f3b1fdcb861b5e85fa"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a2c59d601b121f1f3b1fdcb861b5e85fa">Rarity</a><code> [get]</code></td></tr>
<tr class="separator:a2c59d601b121f1f3b1fdcb861b5e85fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Data records of pokemon profiles used for pooling together a random chance enounter for a battle against wild pokemons  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="ae519c5855c0edee97b4faf55172ca51f" name="ae519c5855c0edee97b4faf55172ca51f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae519c5855c0edee97b4faf55172ca51f">&#9670;&#160;</a></span>Conditions</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a> [] PokemonUnity.Overworld.IEncounterData.Conditions</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a5df225cc70a6767680a553397bf7d4e5">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a679b03d71f5fb3836d5298c46090504f" name="a679b03d71f5fb3836d5298c46090504f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a679b03d71f5fb3836d5298c46090504f">&#9670;&#160;</a></span>Generation</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.Generation</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a08889f3fc350c4772069bec2ab024a3b">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a36d19585428f663b0e2be79ac37058b2" name="a36d19585428f663b0e2be79ac37058b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36d19585428f663b0e2be79ac37058b2">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Identifier for this <a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> (Used for record lookup, and tracking/storage)  </p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ad9648a4bb9d4874529ae36e9ec3cb5c5">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a643b2729f3142083a96623d5252b1c8e" name="a643b2729f3142083a96623d5252b1c8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a643b2729f3142083a96623d5252b1c8e">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map or Scene/Level this encounter record belongs to (associated with)  </p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac17a1b32125ea0267dcad1a6e20098a6">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a86d08d7bb80fc380f7d7e454390d6b6f" name="a86d08d7bb80fc380f7d7e454390d6b6f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86d08d7bb80fc380f7d7e454390d6b6f">&#9670;&#160;</a></span>MaxLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.MaxLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a0e6b2a49149e4404300721d36015f1f7">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a8d95edad5a96ca19176c8a14aebc1f01" name="a8d95edad5a96ca19176c8a14aebc1f01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d95edad5a96ca19176c8a14aebc1f01">&#9670;&#160;</a></span>Method</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> PokemonUnity.Overworld.IEncounterData.Method</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a45f14bab355e25b14429be4b27325fe7">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a61f431ecd5b8117c22fc06c21c0924f8" name="a61f431ecd5b8117c22fc06c21c0924f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a61f431ecd5b8117c22fc06c21c0924f8">&#9670;&#160;</a></span>MinLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.MinLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aedf6d71c541acea785c9162f6e54e07e">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="afecc4f406693ffb643d08af77fbd8f9b" name="afecc4f406693ffb643d08af77fbd8f9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afecc4f406693ffb643d08af77fbd8f9b">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> [] PokemonUnity.Overworld.IEncounterData.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aea1792e21119650be5308875b993003c">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a2c59d601b121f1f3b1fdcb861b5e85fa" name="a2c59d601b121f1f3b1fdcb861b5e85fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2c59d601b121f1f3b1fdcb861b5e85fa">&#9670;&#160;</a></span>Rarity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.Rarity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#adb7b9b8f9281341a7d75fcc71601cf74">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="ae4fa1969de83164fb52ee58f994a8ce5" name="ae4fa1969de83164fb52ee58f994a8ce5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae4fa1969de83164fb52ee58f994a8ce5">&#9670;&#160;</a></span>SlotId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.IEncounterData.SlotId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac04ac59d07fda4cca141def77f2cd8df">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<a id="a08412ee6f7eb664a2f53481afffbb0e0" name="a08412ee6f7eb664a2f53481afffbb0e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08412ee6f7eb664a2f53481afffbb0e0">&#9670;&#160;</a></span>Versions</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a> [] PokemonUnity.Overworld.IEncounterData.Versions</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implemented in <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a599bc755a6dca6e7cc243b0ef6ef3ce9">PokemonUnity.Overworld.EncounterData</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Overworld/Wild/<a class="el" href="_i_encounter_data_8cs.cshtml">IEncounterData.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
