@{
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.IMoveCommand Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command.cshtml">IMoveCommand</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IMoveCommand Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a292b20c17e126e20cf07126ce6832caf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command.cshtml#a292b20c17e126e20cf07126ce6832caf">code</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a292b20c17e126e20cf07126ce6832caf"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move command code.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command.cshtml#a292b20c17e126e20cf07126ce6832caf">More...</a><br /></td></tr>
<tr class="separator:a292b20c17e126e20cf07126ce6832caf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0ceca738d5f1f6a15219d98e552f241"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_parameters.cshtml">IMoveParameters</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command.cshtml#ad0ceca738d5f1f6a15219d98e552f241">parameters</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad0ceca738d5f1f6a15219d98e552f241"><td class="mdescLeft">&#160;</td><td class="mdescRight">Array containing the Move command arguments. The contents vary for each command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_command.cshtml#ad0ceca738d5f1f6a15219d98e552f241">More...</a><br /></td></tr>
<tr class="separator:ad0ceca738d5f1f6a15219d98e552f241"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a292b20c17e126e20cf07126ce6832caf" name="a292b20c17e126e20cf07126ce6832caf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a292b20c17e126e20cf07126ce6832caf">&#9670;&#160;</a></span>code</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IMoveCommand.code</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Move command code.  </p>

</div>
</div>
<a id="ad0ceca738d5f1f6a15219d98e552f241" name="ad0ceca738d5f1f6a15219d98e552f241"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0ceca738d5f1f6a15219d98e552f241">&#9670;&#160;</a></span>parameters</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_move_parameters.cshtml">IMoveParameters</a>&gt; PokemonEssentials.Interface.RPGMaker.Kernal.IMoveCommand.parameters</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Array containing the Move command arguments. The contents vary for each command.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
