@{
	Page.Title = "PokemonEssentials.Interface.Battle.IModifiedSleepClause Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_modified_sleep_clause.cshtml">IModifiedSleepClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_modified_sleep_clause-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IModifiedSleepClause Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IModifiedSleepClause:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_modified_sleep_clause.png" usemap="#PokemonEssentials.Interface.Battle.IModifiedSleepClause_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IModifiedSleepClause_map" name="PokemonEssentials.Interface.Battle.IModifiedSleepClause_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRule" shape="rect" coords="0,0,335,24"/>
<area href="class_pokemon_unity_1_1_modified_sleep_clause.cshtml" alt="PokemonUnity.ModifiedSleepClause" shape="rect" coords="0,112,335,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml">PokemonEssentials.Interface.Battle.IBattleRule</a></td></tr>
<tr class="memitem:a6a84fb679ad325ccae8252bd37667725 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule.cshtml#a6a84fb679ad325ccae8252bd37667725">setRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:a6a84fb679ad325ccae8252bd37667725 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_rule"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

