@{
	Page.Title = "PokemonEssentials.Interface.ITone Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_tone-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ITone Interface Reference</div></div>
}


<p>The color tone class. Each component is handled with a floating point value (Float).   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a64d041bfec306c162c1a55153bbccac7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a64d041bfec306c162c1a55153bbccac7">set</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a52e28be6cd90bc56ce080ba13730a9a6">red</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a1cbcd961628d8ddd6a41b00461743446">green</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a11dcddb314c3332f0aefdb86e4d96616">blue</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#acf77e906a8ae1cfaf8e6b88a4df26600">gray</a>=0)</td></tr>
<tr class="memdesc:a64d041bfec306c162c1a55153bbccac7"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color tone class. Each component is handled with a floating point value. (-255&lt;&gt;255)   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a64d041bfec306c162c1a55153bbccac7">More...</a><br /></td></tr>
<tr class="separator:a64d041bfec306c162c1a55153bbccac7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac3251d07eed5fa1cae063ff24bb92a8a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#ac3251d07eed5fa1cae063ff24bb92a8a">clone</a> ()</td></tr>
<tr class="separator:ac3251d07eed5fa1cae063ff24bb92a8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a52e28be6cd90bc56ce080ba13730a9a6"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a52e28be6cd90bc56ce080ba13730a9a6">red</a><code> [get, set]</code></td></tr>
<tr class="separator:a52e28be6cd90bc56ce080ba13730a9a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1cbcd961628d8ddd6a41b00461743446"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a1cbcd961628d8ddd6a41b00461743446">green</a><code> [get, set]</code></td></tr>
<tr class="separator:a1cbcd961628d8ddd6a41b00461743446"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11dcddb314c3332f0aefdb86e4d96616"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#a11dcddb314c3332f0aefdb86e4d96616">blue</a><code> [get, set]</code></td></tr>
<tr class="separator:a11dcddb314c3332f0aefdb86e4d96616"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acf77e906a8ae1cfaf8e6b88a4df26600"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml#acf77e906a8ae1cfaf8e6b88a4df26600">gray</a><code> [get, set]</code></td></tr>
<tr class="separator:acf77e906a8ae1cfaf8e6b88a4df26600"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The color tone class. Each component is handled with a floating point value (Float).  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac3251d07eed5fa1cae063ff24bb92a8a" name="ac3251d07eed5fa1cae063ff24bb92a8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac3251d07eed5fa1cae063ff24bb92a8a">&#9670;&#160;</a></span>clone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.ITone.clone </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a64d041bfec306c162c1a55153bbccac7" name="a64d041bfec306c162c1a55153bbccac7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a64d041bfec306c162c1a55153bbccac7">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ITone.set </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>red</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>green</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>blue</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>gray</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The color tone class. Each component is handled with a floating point value. (-255&lt;&gt;255)  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">red</td><td></td></tr>
    <tr><td class="paramname">green</td><td></td></tr>
    <tr><td class="paramname">blue</td><td></td></tr>
    <tr><td class="paramname">gray</td><td>only 0-255</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a11dcddb314c3332f0aefdb86e4d96616" name="a11dcddb314c3332f0aefdb86e4d96616"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11dcddb314c3332f0aefdb86e4d96616">&#9670;&#160;</a></span>blue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ITone.blue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acf77e906a8ae1cfaf8e6b88a4df26600" name="acf77e906a8ae1cfaf8e6b88a4df26600"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acf77e906a8ae1cfaf8e6b88a4df26600">&#9670;&#160;</a></span>gray</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ITone.gray</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1cbcd961628d8ddd6a41b00461743446" name="a1cbcd961628d8ddd6a41b00461743446"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1cbcd961628d8ddd6a41b00461743446">&#9670;&#160;</a></span>green</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ITone.green</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a52e28be6cd90bc56ce080ba13730a9a6" name="a52e28be6cd90bc56ce080ba13730a9a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a52e28be6cd90bc56ce080ba13730a9a6">&#9670;&#160;</a></span>red</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.ITone.red</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>

