@{
	Page.Title = "PokemonEssentials.Interface.Battle.IBattleChallengeData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallengeData Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IBattleChallengeData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.png" usemap="#PokemonEssentials.Interface.Battle.IBattleChallengeData_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IBattleChallengeData_map" name="PokemonEssentials.Interface.Battle.IBattleChallengeData_map">
<area href="class_pokemon_unity_1_1_battle_challenge_data.cshtml" alt="PokemonUnity.BattleChallengeData" shape="rect" coords="0,56,329,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4f284d5f0f58031de2702001ceec1ee0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a4f284d5f0f58031de2702001ceec1ee0">initialize</a> ()</td></tr>
<tr class="separator:a4f284d5f0f58031de2702001ceec1ee0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad578d40f641229a5238d5d311d9d4895"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ad578d40f641229a5238d5d311d9d4895">setExtraData</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> value)</td></tr>
<tr class="separator:ad578d40f641229a5238d5d311d9d4895"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31e45d95723ecdee6f4cb06376f78310"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a31e45d95723ecdee6f4cb06376f78310">AddWin</a> ()</td></tr>
<tr class="separator:a31e45d95723ecdee6f4cb06376f78310"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45da307e5bd960dba2aa6b524d7fbf27"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a45da307e5bd960dba2aa6b524d7fbf27">AddSwap</a> ()</td></tr>
<tr class="separator:a45da307e5bd960dba2aa6b524d7fbf27"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09b53330182bd4096d7cf92ccca926a5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a09b53330182bd4096d7cf92ccca926a5">MatchOver</a> ()</td></tr>
<tr class="separator:a09b53330182bd4096d7cf92ccca926a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acad57f1eb75ce72ff215cc4201f96c72"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#acad57f1eb75ce72ff215cc4201f96c72">GoToStart</a> ()</td></tr>
<tr class="separator:acad57f1eb75ce72ff215cc4201f96c72"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99c91fcd6d1f38814e9420cdd2334b93"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a99c91fcd6d1f38814e9420cdd2334b93">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:a99c91fcd6d1f38814e9420cdd2334b93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a411c185d04fc0bd95ac7e3650777d510"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a411c185d04fc0bd95ac7e3650777d510">Start</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> t, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a36d424712f85bca9592683e091847b6d">numRounds</a>)</td></tr>
<tr class="separator:a411c185d04fc0bd95ac7e3650777d510"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7281bbcf039f209869245534dabc0a22"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a7281bbcf039f209869245534dabc0a22">Cancel</a> ()</td></tr>
<tr class="separator:a7281bbcf039f209869245534dabc0a22"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3460b139c02c97ff5497eb8e0effd821"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a3460b139c02c97ff5497eb8e0effd821">End</a> ()</td></tr>
<tr class="separator:a3460b139c02c97ff5497eb8e0effd821"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40cef05245b4bc93a1b6e5c521bdd647"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a40cef05245b4bc93a1b6e5c521bdd647">GoOn</a> ()</td></tr>
<tr class="separator:a40cef05245b4bc93a1b6e5c521bdd647"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a581d4718efcf63dc94e9ba43b198872c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a581d4718efcf63dc94e9ba43b198872c">Rest</a> ()</td></tr>
<tr class="separator:a581d4718efcf63dc94e9ba43b198872c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af4a77bd5ef735fcce1f5c49556b6b4c3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#af4a77bd5ef735fcce1f5c49556b6b4c3">resting</a> <code>[get]</code></td></tr>
<tr class="separator:af4a77bd5ef735fcce1f5c49556b6b4c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac78c27ce22c7e42592cb0390492d2b54"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ac78c27ce22c7e42592cb0390492d2b54">wins</a> <code>[get]</code></td></tr>
<tr class="separator:ac78c27ce22c7e42592cb0390492d2b54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1edc98b387ca74c4d43e8fb605de28d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#ad1edc98b387ca74c4d43e8fb605de28d">swaps</a> <code>[get]</code></td></tr>
<tr class="separator:ad1edc98b387ca74c4d43e8fb605de28d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a362c72dffe732c45a1deac0879bca315"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a362c72dffe732c45a1deac0879bca315">inProgress</a> <code>[get]</code></td></tr>
<tr class="separator:a362c72dffe732c45a1deac0879bca315"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a92c3f4561927a46c70fb85291a5abd5d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a92c3f4561927a46c70fb85291a5abd5d">battleNumber</a> <code>[get]</code></td></tr>
<tr class="separator:a92c3f4561927a46c70fb85291a5abd5d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36d424712f85bca9592683e091847b6d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a36d424712f85bca9592683e091847b6d">numRounds</a> <code>[get]</code></td></tr>
<tr class="separator:a36d424712f85bca9592683e091847b6d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a989fe8f677b2aa04890a8896475f1b0e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a989fe8f677b2aa04890a8896475f1b0e">decision</a> <code>[get, set]</code></td></tr>
<tr class="separator:a989fe8f677b2aa04890a8896475f1b0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbbc5b5e2f6661204ed542940c3591d5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#afbbc5b5e2f6661204ed542940c3591d5">party</a> <code>[get]</code></td></tr>
<tr class="separator:afbbc5b5e2f6661204ed542940c3591d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf1ca864962795e852584e8b3705021c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#adf1ca864962795e852584e8b3705021c">extraData</a> <code>[get]</code></td></tr>
<tr class="separator:adf1ca864962795e852584e8b3705021c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b25a8402d13d0c673913640a089b217"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml#a1b25a8402d13d0c673913640a089b217">nextTrainer</a> <code>[get]</code></td></tr>
<tr class="separator:a1b25a8402d13d0c673913640a089b217"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a45da307e5bd960dba2aa6b524d7fbf27" name="a45da307e5bd960dba2aa6b524d7fbf27"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a45da307e5bd960dba2aa6b524d7fbf27">&#9670;&#160;</a></span>AddSwap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.AddSwap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a23ce83c14746f0c1c0840e107a2335a6">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a31e45d95723ecdee6f4cb06376f78310" name="a31e45d95723ecdee6f4cb06376f78310"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31e45d95723ecdee6f4cb06376f78310">&#9670;&#160;</a></span>AddWin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.AddWin </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#ac42de0cc60c975d52c93a881171e117a">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a7281bbcf039f209869245534dabc0a22" name="a7281bbcf039f209869245534dabc0a22"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7281bbcf039f209869245534dabc0a22">&#9670;&#160;</a></span>Cancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.Cancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a8a59c0c7db478d33c906d96e518dee3a">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a3460b139c02c97ff5497eb8e0effd821" name="a3460b139c02c97ff5497eb8e0effd821"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3460b139c02c97ff5497eb8e0effd821">&#9670;&#160;</a></span>End()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.End </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a1a2379a04574b3f2a78e57eb7d155d3a">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a40cef05245b4bc93a1b6e5c521bdd647" name="a40cef05245b4bc93a1b6e5c521bdd647"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40cef05245b4bc93a1b6e5c521bdd647">&#9670;&#160;</a></span>GoOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.GoOn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a64767c8476ad21c2007bb7a11c24350a">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="acad57f1eb75ce72ff215cc4201f96c72" name="acad57f1eb75ce72ff215cc4201f96c72"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acad57f1eb75ce72ff215cc4201f96c72">&#9670;&#160;</a></span>GoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.GoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a07ebf508cacb2dd9f8f7bc1b414f2ae6">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a4f284d5f0f58031de2702001ceec1ee0" name="a4f284d5f0f58031de2702001ceec1ee0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f284d5f0f58031de2702001ceec1ee0">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_data.cshtml">IBattleChallengeData</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a972bd02fda9424c96c468a1405a7e1b3">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a09b53330182bd4096d7cf92ccca926a5" name="a09b53330182bd4096d7cf92ccca926a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09b53330182bd4096d7cf92ccca926a5">&#9670;&#160;</a></span>MatchOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallengeData.MatchOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a6ed5fee5b7f72e9a0d4c585c7bdf7cac">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a581d4718efcf63dc94e9ba43b198872c" name="a581d4718efcf63dc94e9ba43b198872c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a581d4718efcf63dc94e9ba43b198872c">&#9670;&#160;</a></span>Rest()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.Rest </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a2168c4effddf9a819db67a2dc6655215">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="ad578d40f641229a5238d5d311d9d4895" name="ad578d40f641229a5238d5d311d9d4895"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad578d40f641229a5238d5d311d9d4895">&#9670;&#160;</a></span>setExtraData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.setExtraData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a115c6f0532666382503e15957ddc2150">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a99c91fcd6d1f38814e9420cdd2334b93" name="a99c91fcd6d1f38814e9420cdd2334b93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99c91fcd6d1f38814e9420cdd2334b93">&#9670;&#160;</a></span>setParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.setParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#ad13597ee1dc5c79dbaf720786c392723">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a411c185d04fc0bd95ac7e3650777d510" name="a411c185d04fc0bd95ac7e3650777d510"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a411c185d04fc0bd95ac7e3650777d510">&#9670;&#160;</a></span>Start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallengeData.Start </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td>
          <td class="paramname"><em>t</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numRounds</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#ac7fe7411af26bb30c9b8951c6b5dab72">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a92c3f4561927a46c70fb85291a5abd5d" name="a92c3f4561927a46c70fb85291a5abd5d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a92c3f4561927a46c70fb85291a5abd5d">&#9670;&#160;</a></span>battleNumber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.battleNumber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#afd7dc909ade2a761ee62ac27c16f4b52">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a989fe8f677b2aa04890a8896475f1b0e" name="a989fe8f677b2aa04890a8896475f1b0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a989fe8f677b2aa04890a8896475f1b0e">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a729ec203a4d325ca120f90aa03b3c453">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="adf1ca864962795e852584e8b3705021c" name="adf1ca864962795e852584e8b3705021c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf1ca864962795e852584e8b3705021c">&#9670;&#160;</a></span>extraData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> PokemonEssentials.Interface.Battle.IBattleChallengeData.extraData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#aa424cac39a59b1d11d70bef0f6c8e50a">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a362c72dffe732c45a1deac0879bca315" name="a362c72dffe732c45a1deac0879bca315"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a362c72dffe732c45a1deac0879bca315">&#9670;&#160;</a></span>inProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallengeData.inProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a7630946275b60138d9be74b88cc9f183">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a1b25a8402d13d0c673913640a089b217" name="a1b25a8402d13d0c673913640a089b217"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b25a8402d13d0c673913640a089b217">&#9670;&#160;</a></span>nextTrainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.nextTrainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#ae954622ac97764ae132a33eea0e12efa">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="a36d424712f85bca9592683e091847b6d" name="a36d424712f85bca9592683e091847b6d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36d424712f85bca9592683e091847b6d">&#9670;&#160;</a></span>numRounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.numRounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a594d55825aa1c2e752bc4e33b74e4e81">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="afbbc5b5e2f6661204ed542940c3591d5" name="afbbc5b5e2f6661204ed542940c3591d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbbc5b5e2f6661204ed542940c3591d5">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.Battle.IBattleChallengeData.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#ae006cd75b5fbce1bb23dba6ac7137e93">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="af4a77bd5ef735fcce1f5c49556b6b4c3" name="af4a77bd5ef735fcce1f5c49556b6b4c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af4a77bd5ef735fcce1f5c49556b6b4c3">&#9670;&#160;</a></span>resting</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallengeData.resting</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#af2d6adb5b16a1ec835c7dfe17f447e9d">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="ad1edc98b387ca74c4d43e8fb605de28d" name="ad1edc98b387ca74c4d43e8fb605de28d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1edc98b387ca74c4d43e8fb605de28d">&#9670;&#160;</a></span>swaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.swaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a122dd23ee0a645504c171d97a86bb0c7">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<a id="ac78c27ce22c7e42592cb0390492d2b54" name="ac78c27ce22c7e42592cb0390492d2b54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac78c27ce22c7e42592cb0390492d2b54">&#9670;&#160;</a></span>wins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallengeData.wins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_challenge_data.cshtml#a00f3decec8964e2b231892371b4818d3">PokemonUnity.BattleChallengeData</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>

