@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">IEncounters</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IEncounters Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a34a6b907e67796ab69a88eef86a2c0db">CanEncounter</a>(IEncounter encounter)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a427c2110a2ce00a9af2620d9a6e415b8">clearStepCount</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a1c7f4f56410a145eb716f0031a545948">EncounteredPokemon</a>(Method enctype, int tries=1)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#ad3ff5f70be51714da13741f9c516ef17">EncounterType</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a3f6027e9e236941a7df88421408543b9">EnctypeChances</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#af31ee8dc0d2092531ca6478d87769540">EnctypeCompileDens</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a10bbc0fbfe80c08742099ac92b19f81f">EnctypeDensities</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a6125fb67b9f0ab08b1560ffe83ac0deb">GenerateEncounter</a>(Method enctype)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#ae0a876e519ad9818129ce09a1bb18409">hasEncounter</a>(Method enc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#aadd023b823b3ec9db449b1712164de2c">isCave</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a31a720667ba3534704d75cb05c5af2bd">isEncounterPossibleHere</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#acd49ef510f9776261920e01017b9cbd5">isGrass</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a977969c4530e88609e6ebeb319b385c6">isRegularGrass</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a0e6e5574b0e6f7d55fcbe119d40192e5">isWater</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a3f0b4e07a51c16c1aefdb6e658557cd1">MapEncounter</a>(int mapID, Method enctype)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#af7b30d951634a781769e51e0fa6a4da2">MapHasEncounter</a>(int mapID, Method enctype)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a7ab31ece009df892a457b9bede9ec2d8">OnTrainerPartyLoad</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a309e3f10caff181c8d29df3d6bc0ed74">OnWildPokemonCreate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a62d051302803eacdc9e449782c7f33db">setup</a>(int mapID)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml#a3f20fd8e0c8a1c2e2783569d797f5b2f">stepcount</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
