@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IDayCare Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">IDayCare</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDayCare Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IDayCare:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.png" usemap="#PokemonEssentials.Interface.Field.IDayCare_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IDayCare_map" name="PokemonEssentials.Interface.Field.IDayCare_map">
<area href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml" alt="PokemonUnity.Character.DayCare" shape="rect" coords="0,56,263,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a39efbda0acf1523d6b229b3dead3e730"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a39efbda0acf1523d6b229b3dead3e730">pbEggGenerated</a> ()</td></tr>
<tr class="separator:a39efbda0acf1523d6b229b3dead3e730"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd21b0609332b591a95487ba51d8c8c4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#afd21b0609332b591a95487ba51d8c8c4">pbDayCareDeposited</a> ()</td></tr>
<tr class="separator:afd21b0609332b591a95487ba51d8c8c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8b5c8edca59814d1f1c121f6f000282"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ad8b5c8edca59814d1f1c121f6f000282">pbDayCareDeposit</a> (int index)</td></tr>
<tr class="separator:ad8b5c8edca59814d1f1c121f6f000282"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9bccdd139d4c7e56911b42e9295b3a6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af9bccdd139d4c7e56911b42e9295b3a6">pbDayCareGetLevelGain</a> (int index, int nameVariable, int levelVariable)</td></tr>
<tr class="separator:af9bccdd139d4c7e56911b42e9295b3a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6a01a4b2a30762b678d272212a5ef79"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#aa6a01a4b2a30762b678d272212a5ef79">pbDayCareGetDeposited</a> (int index, int nameVariable, int costVariable)</td></tr>
<tr class="separator:aa6a01a4b2a30762b678d272212a5ef79"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5558e6e80454ed78fffa46cf470d9768"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a5558e6e80454ed78fffa46cf470d9768">pbIsDitto</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a5558e6e80454ed78fffa46cf470d9768"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7152ebf5cf50e783cbd88293506c0bc1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a7152ebf5cf50e783cbd88293506c0bc1">pbDayCareCompatibleGender</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon2)</td></tr>
<tr class="separator:a7152ebf5cf50e783cbd88293506c0bc1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a146cb8cedcef7af8af3857259a28eaae"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a146cb8cedcef7af8af3857259a28eaae">pbDayCareGetCompat</a> ()</td></tr>
<tr class="separator:a146cb8cedcef7af8af3857259a28eaae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1dbc9a6d30298daaeed3ff41f44c48e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ab1dbc9a6d30298daaeed3ff41f44c48e">pbDayCareGetCompatibility</a> (int variable)</td></tr>
<tr class="separator:ab1dbc9a6d30298daaeed3ff41f44c48e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8678082cf60a5f4d82746f6e758647b5"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a8678082cf60a5f4d82746f6e758647b5">pbDayCareWithdraw</a> (int index)</td></tr>
<tr class="separator:a8678082cf60a5f4d82746f6e758647b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af66a598280824321eb52733d47f8ecab"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af66a598280824321eb52733d47f8ecab">pbDayCareChoose</a> (string text, int variable)</td></tr>
<tr class="separator:af66a598280824321eb52733d47f8ecab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe589a5b629036bab7d66fabbf5cdb09"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#afe589a5b629036bab7d66fabbf5cdb09">pbDayCareGenerateEgg</a> ()</td></tr>
<tr class="separator:afe589a5b629036bab7d66fabbf5cdb09"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a018a18fdeba64166858afd534ab7d45f"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a018a18fdeba64166858afd534ab7d45f">Slot</a><code> [get]</code></td></tr>
<tr class="separator:a018a18fdeba64166858afd534ab7d45f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf6ea643c75217fb58cf4e2850629685"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#abf6ea643c75217fb58cf4e2850629685">this[int index]</a><code> [get]</code></td></tr>
<tr class="separator:abf6ea643c75217fb58cf4e2850629685"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af66a598280824321eb52733d47f8ecab" name="af66a598280824321eb52733d47f8ecab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af66a598280824321eb52733d47f8ecab">&#9670;&#160;</a></span>pbDayCareChoose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareChoose </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>variable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a49168d12cb923781eb763bafc54f4925">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a7152ebf5cf50e783cbd88293506c0bc1" name="a7152ebf5cf50e783cbd88293506c0bc1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7152ebf5cf50e783cbd88293506c0bc1">&#9670;&#160;</a></span>pbDayCareCompatibleGender()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.pbDayCareCompatibleGender </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ae75ab4392cc8a4cc8d30f9f90e5453a7">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="ad8b5c8edca59814d1f1c121f6f000282" name="ad8b5c8edca59814d1f1c121f6f000282"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8b5c8edca59814d1f1c121f6f000282">&#9670;&#160;</a></span>pbDayCareDeposit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareDeposit </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a255d0d6d77cdbfe6c6a0cb58e6af584c">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="afd21b0609332b591a95487ba51d8c8c4" name="afd21b0609332b591a95487ba51d8c8c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd21b0609332b591a95487ba51d8c8c4">&#9670;&#160;</a></span>pbDayCareDeposited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayCare.pbDayCareDeposited </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a50dd09a633d734c9cc8e710f5879cd43">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="afe589a5b629036bab7d66fabbf5cdb09" name="afe589a5b629036bab7d66fabbf5cdb09"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe589a5b629036bab7d66fabbf5cdb09">&#9670;&#160;</a></span>pbDayCareGenerateEgg()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareGenerateEgg </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a464df43b89e1f21df0814697b291894a">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a146cb8cedcef7af8af3857259a28eaae" name="a146cb8cedcef7af8af3857259a28eaae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a146cb8cedcef7af8af3857259a28eaae">&#9670;&#160;</a></span>pbDayCareGetCompat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayCare.pbDayCareGetCompat </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a48052aa03915c7ed7652b5b240f81232">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="ab1dbc9a6d30298daaeed3ff41f44c48e" name="ab1dbc9a6d30298daaeed3ff41f44c48e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1dbc9a6d30298daaeed3ff41f44c48e">&#9670;&#160;</a></span>pbDayCareGetCompatibility()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareGetCompatibility </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>variable</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a69a43f17bec5585759e12195535a7cdb">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="aa6a01a4b2a30762b678d272212a5ef79" name="aa6a01a4b2a30762b678d272212a5ef79"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa6a01a4b2a30762b678d272212a5ef79">&#9670;&#160;</a></span>pbDayCareGetDeposited()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareGetDeposited </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>nameVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>costVariable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5aa29bad6b37e6b3746690bd3288e7be">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="af9bccdd139d4c7e56911b42e9295b3a6" name="af9bccdd139d4c7e56911b42e9295b3a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af9bccdd139d4c7e56911b42e9295b3a6">&#9670;&#160;</a></span>pbDayCareGetLevelGain()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.pbDayCareGetLevelGain </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>nameVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>levelVariable</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a92ed8ac5284fe9b06fd4a1f37a6eabb5">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a8678082cf60a5f4d82746f6e758647b5" name="a8678082cf60a5f4d82746f6e758647b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8678082cf60a5f4d82746f6e758647b5">&#9670;&#160;</a></span>pbDayCareWithdraw()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDayCare.pbDayCareWithdraw </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a5ff7138164de48f76a21b11d469ac009">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a39efbda0acf1523d6b229b3dead3e730" name="a39efbda0acf1523d6b229b3dead3e730"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39efbda0acf1523d6b229b3dead3e730">&#9670;&#160;</a></span>pbEggGenerated()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.pbEggGenerated </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#accdeccdf750be60ca5f54b251980fdbf">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="a5558e6e80454ed78fffa46cf470d9768" name="a5558e6e80454ed78fffa46cf470d9768"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5558e6e80454ed78fffa46cf470d9768">&#9670;&#160;</a></span>pbIsDitto()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayCare.pbIsDitto </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#a98f0ad1e76784af592e7bd87179cd371">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a018a18fdeba64166858afd534ab7d45f" name="a018a18fdeba64166858afd534ab7d45f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a018a18fdeba64166858afd534ab7d45f">&#9670;&#160;</a></span>Slot</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, int&gt; [] PokemonEssentials.Interface.Field.IDayCare.Slot</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#ab1d9ef400f70c55bc8ea8a4947ff1b80">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<a id="abf6ea643c75217fb58cf4e2850629685" name="abf6ea643c75217fb58cf4e2850629685"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf6ea643c75217fb58cf4e2850629685">&#9670;&#160;</a></span>this[int index]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Field.IDayCare.this[int index]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml#abc4294e85df246bf58d44de78b5fd15e">PokemonUnity.Character.DayCare</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_day_care_8cs.cshtml">IDayCare.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
