@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">UIHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.UIHelper Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a149d22560491ece70d1f8274f75ba0b3">ChooseNumber</a>(IWindow helpwindow, string helptext, int maximum)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a26f1704d826c4a4058f3df743f14b422">Confirm</a>(IWindow helpwindow, string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a10eb3b0b988c8b714d146212e7841ab6">Display</a>(IWindow helpwindow, string msg, bool brief)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#acba102a0a8caad335bf6378dfa3daf3f">DisplayStatic</a>(IWindow msgwindow, string message)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#afd9b208a1384e4d99a140a2afd3f0276">ShowCommands</a>(IWindow helpwindow, string helptext, string[] commands)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">PokemonEssentials.Interface.Screen.UIHelper</a></td><td class="entry"></td></tr>
</table>
