@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">IGameScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a59d01d0d02c03cd2e736150201412424">brightness</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a1ffa24ee98b60d8c2229f99dbb900586">flash_color</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a641a30a126186044d5129caeb8702d82">pictures</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#ad7ceef4d1d0e79ee2be1aa3c000306ff">shake</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#ab849bf832fa8e68d8e9f36b078337071">start_flash</a>(IColor color, int duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a42da9db7c15ffc2729e0af004b8d2abc">start_shake</a>(int power, int speed, int duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a7f5b3fd03213dbde24f20ba4361e01c3">start_tone_change</a>(ITone tone, float duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a5409fb035559d197687ccb1f59d865ec">tone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a5bb4ceb73ecac3d60d99f34fdf5013b7">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#ad5fe767d74acc716a8adc52701ae46a6">weather</a>(FieldWeathers type, int power, int duration)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a8cb8d132996a55088a00fe1915244cc5">weather_max</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml#a56df0de731b5802361bfee3e3911a9fa">weather_type</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a></td><td class="entry"></td></tr>
</table>
