@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">IPokemonStorageWithParty</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3e0828153d15524740e714c061487ef1">boxes</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a954b5e31cbecc563008fcd99b976b45d">currentBox</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a144344ba92e12f3384c4f25793b3d0b7">full</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a9f07018541bdcfd5744c1fb7cea8585b">initialize</a>(int maxBoxes=Core.STORAGEBOXES, int maxPokemon=30)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a>(int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml#a8d882f0bd04ae73e12cfa6e799482547">party</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a25c8e19efd97399e5eaa9967acfd317c">pbCopy</a>(int boxDst, int indexDst, int boxSrc, int indexSrc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab68b70597e9ef0730a412d0be881640e">pbDelete</a>(int box, int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a69f6db13d8d4b5d56d0eeb4a64e594fb">pbFirstFreePos</a>(int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3b7193b33119f3c1d5009b7773aa1d86">pbMove</a>(int boxDst, int indexDst, int boxSrc, int indexSrc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab5fea2de9155b57f5c4457a6a840f6e2">pbMoveCaughtToBox</a>(IPokemon pkmn, int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8b5d2cfdd183b2d85b2b859150a01dc3">pbMoveCaughtToParty</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a08f331ed2ef575c90571cb9bd975c749">pbStoreCaught</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a7eb7444d1712928614a2b283e007057f">this[int x, int y]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#af23b767fdc9d55dc1cc4dd608c5cf39f">this[int x]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPokemonStorage</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
