@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">IMail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IMail Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a67c6c134920e44590a6bcba437c7f8f0">initialize</a>(Items item, string message, string sender, IPokemon poke1=null, IPokemon poke2=null, IPokemon poke3=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac0fc8b7e545108be2627c35d33e57052">item</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#afb48f8a8b97c356de82b749bdddaa57e">message</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#ac1db6636d4b80287814fb857e7d7a0a2">poke1</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a3884b0a0790ead1885a66d7f92f7fc21">poke2</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a660592bd3f82f3424bad18d0cfceea7f">poke3</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml#a427ffef4c16e04860b56138fd5264544">sender</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_mail.cshtml">PokemonEssentials.Interface.Item.IMail</a></td><td class="entry"></td></tr>
</table>