@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IAblePokemonRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_able_pokemon_restriction.cshtml">IAblePokemonRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_able_pokemon_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IAblePokemonRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IAblePokemonRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_able_pokemon_restriction.png" usemap="#PokemonEssentials.Interface.Battle.IAblePokemonRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IAblePokemonRestriction_map" name="PokemonEssentials.Interface.Battle.IAblePokemonRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="0,0,351,24"/>
<area href="class_pokemon_unity_1_1_able_pokemon_restriction.cshtml" alt="PokemonUnity.AblePokemonRestriction" shape="rect" coords="0,112,351,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
