@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.IScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">IScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IScene Interface Reference</div></div>
}


<p>A scene basically represents unity (or any frontend) where code pauses for user interaction (animation, and user key inputs).   
 <a href="interface_pokemon_unity_1_1_i_scene.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.IScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_scene.png" usemap="#PokemonUnity.IScene_map" alt=""/>
  <map id="PokemonUnity.IScene_map" name="PokemonUnity.IScene_map">
<area href="interface_pokemon_unity_1_1_i_has_display_message.cshtml" alt="PokemonUnity.IHasDisplayMessage" shape="rect" coords="0,0,237,24"/>
<area href="interface_pokemon_unity_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonUnity.IPokeBattle_DebugScene" shape="rect" coords="247,112,484,136"/>
<area href="interface_pokemon_unity_1_1_i_poke_battle___scene.cshtml" alt="PokemonUnity.IPokeBattle_Scene" shape="rect" coords="247,168,484,192"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_bag___scene.cshtml" alt="PokemonUnity.IPokemonBag_Scene" shape="rect" coords="247,224,484,248"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml" title="Text entry screen - free typing." alt="PokemonUnity.IPokemonEntryScene" shape="rect" coords="247,280,484,304"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_entry_scene2.cshtml" title="Text entry screen - arrows to select letter." alt="PokemonUnity.IPokemonEntryScene2" shape="rect" coords="247,336,484,360"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_evolution_scene.cshtml" alt="PokemonUnity.IPokemonEvolutionScene" shape="rect" coords="247,392,484,416"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_form_scene.cshtml" title="Shows the &quot;Form&quot; page of the Pok&eacute;dex entry screen." alt="PokemonUnity.IPokemonFormScene" shape="rect" coords="247,448,484,472"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_menu___scene.cshtml" alt="PokemonUnity.IPokemonMenu_Scene" shape="rect" coords="247,504,484,528"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml" title="Shows the &quot;Nest&quot; page of the Pok&eacute;dex entry screen." alt="PokemonUnity.IPokemonNestMapScene" shape="rect" coords="247,560,484,584"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_pokedex_scene.cshtml" alt="PokemonUnity.IPokemonPokedexScene" shape="rect" coords="247,616,484,640"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_screen___scene.cshtml" alt="PokemonUnity.IPokemonScreen_Scene" shape="rect" coords="247,672,484,696"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_storage_scene.cshtml" alt="PokemonUnity.IPokemonStorageScene" shape="rect" coords="247,728,484,752"/>
<area href="interface_pokemon_unity_1_1_i_pokemon_summary_scene.cshtml" alt="PokemonUnity.IPokemonSummaryScene" shape="rect" coords="247,784,484,808"/>
<area href="interface_pokemon_unity_1_1_i_relic_stone_scene.cshtml" title="Scene class for handling appearance of the screen" alt="PokemonUnity.IRelicStoneScene" shape="rect" coords="247,840,484,864"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6d62e2ad717faa4cbecd1e1d6d7faf50"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a> ()</td></tr>
<tr class="separator:a6d62e2ad717faa4cbecd1e1d6d7faf50"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_unity_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a> (string v)</td></tr>
<tr class="separator:a9cf2c2f5044c1cf537e172d24751020f inherit pub_methods_interface_pokemon_unity_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aaf7e73de085792717a886c06ddc1d9c0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:aaf7e73de085792717a886c06ddc1d9c0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">More...</a><br /></td></tr>
<tr class="separator:aaf7e73de085792717a886c06ddc1d9c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >A scene basically represents unity (or any frontend) where code pauses for user interaction (animation, and user key inputs).  </p>
<p >When code has a scene variable calling a method in middle of script everything essentially comes to a hault as the frontend takes over and the code awaits a result or response to begin again. </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a6d62e2ad717faa4cbecd1e1d6d7faf50" name="a6d62e2ad717faa4cbecd1e1d6d7faf50"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d62e2ad717faa4cbecd1e1d6d7faf50">&#9670;&#160;</a></span>pbRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IScene.pbRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aaf7e73de085792717a886c06ddc1d9c0" name="aaf7e73de085792717a886c06ddc1d9c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf7e73de085792717a886c06ddc1d9c0">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.IScene.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Represents the unique id for given scene. Used for loading scenes in unity.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
