@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">IGamePurifyChamber</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGamePurifyChamber Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">PokemonEssentials.Interface.Screen.IGamePurifyChamber</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#acb7eaa7b3ddd6792d5ea240a876f9ca0">calcPoint</a>(float x, float y, int distance, float angle)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">PokemonEssentials.Interface.Screen.IGamePurifyChamber</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#a44ee1676f03a3b0e3958ff28af9226bf">DrawGauge</a>(IBitmap bitmap, IRect rect, IColor color, int value, int maxValue)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">PokemonEssentials.Interface.Screen.IGamePurifyChamber</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml#a59a3545c9bf67de959452d3c9f603d2e">PurifyChamber</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_purify_chamber.cshtml">PokemonEssentials.Interface.Screen.IGamePurifyChamber</a></td><td class="entry"></td></tr>
</table>
