@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">ISpriteResizer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteResizer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#abbed3f79aee3564219663b1e1dfe3b44">bush_depth</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#ab271dd97dd28a8316c2dc08ec66213c7">initialize</a>(IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a2b9c51fcbc0061f73c55bf13eb079c4a">ox</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a953f0c3eee90a9445f5fdfa018413310">oy</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#acd1e45038932101465e6924e57ca065f">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a73ccf1294f091ab91933e84a9f52def9">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#ae5d043926a0ff784a647a1d08218739f">zoom_x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml#a6e06b4a914947e67076414c8fabae907">zoom_y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer.cshtml">PokemonEssentials.Interface.ISpriteResizer</a></td><td class="entry"></td></tr>
</table>