@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IAudioBGS Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IAudioBGS Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IAudioBGS:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.png" usemap="#PokemonEssentials.Interface.IAudioBGS_map" alt=""/>
  <map id="PokemonEssentials.Interface.IAudioBGS_map" name="PokemonEssentials.Interface.IAudioBGS_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml" title="The module that carries out music and sound processing." alt="PokemonEssentials.Interface.IAudio" shape="rect" coords="0,56,250,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml" alt="PokemonEssentials.Interface.IAudioObject" shape="rect" coords="0,0,250,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abc73ed1099031b2ed2a4f5984f9a0727"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#abc73ed1099031b2ed2a4f5984f9a0727">last</a> ()</td></tr>
<tr class="memdesc:abc73ed1099031b2ed2a4f5984f9a0727"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns BGS (</p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a></dd></dl>
<p>) that playing now. If no playing BGS, returns null.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#abc73ed1099031b2ed2a4f5984f9a0727">More...</a><br /></td></tr>
<tr class="separator:abc73ed1099031b2ed2a4f5984f9a0727"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6e44ded4d68f732a04cb8137f1e525a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#ab6e44ded4d68f732a04cb8137f1e525a">stop</a> ()</td></tr>
<tr class="memdesc:ab6e44ded4d68f732a04cb8137f1e525a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#ab6e44ded4d68f732a04cb8137f1e525a">More...</a><br /></td></tr>
<tr class="separator:ab6e44ded4d68f732a04cb8137f1e525a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc82f1b75f3432191be2f1ac71688add"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#acc82f1b75f3432191be2f1ac71688add">fade</a> (int time)</td></tr>
<tr class="memdesc:acc82f1b75f3432191be2f1ac71688add"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGS fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#acc82f1b75f3432191be2f1ac71688add">More...</a><br /></td></tr>
<tr class="separator:acc82f1b75f3432191be2f1ac71688add"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6cef34b13f12a457e95dc7c2e032979c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#a6cef34b13f12a457e95dc7c2e032979c">play</a> ()</td></tr>
<tr class="memdesc:a6cef34b13f12a457e95dc7c2e032979c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts the BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#a6cef34b13f12a457e95dc7c2e032979c">More...</a><br /></td></tr>
<tr class="separator:a6cef34b13f12a457e95dc7c2e032979c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19373a21d452a03c71eee2288dc70db8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml#a19373a21d452a03c71eee2288dc70db8">clone</a> ()</td></tr>
<tr class="separator:a19373a21d452a03c71eee2288dc70db8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml">PokemonEssentials.Interface.IAudio</a></td></tr>
<tr class="memitem:a6bdf4bf52db3d0bcfe81e3ab65f9997f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">bgm_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a6bdf4bf52db3d0bcfe81e3ab65f9997f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGM playback. Sets the file name, volume, and pitch in turn.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a6bdf4bf52db3d0bcfe81e3ab65f9997f">More...</a><br /></td></tr>
<tr class="separator:a6bdf4bf52db3d0bcfe81e3ab65f9997f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97b16b2a006043fbbd1de5b3fc4c2590 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">bgm_stop</a> ()</td></tr>
<tr class="memdesc:a97b16b2a006043fbbd1de5b3fc4c2590 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops BGM playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a97b16b2a006043fbbd1de5b3fc4c2590">More...</a><br /></td></tr>
<tr class="separator:a97b16b2a006043fbbd1de5b3fc4c2590 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac948681c62ecd129a528f8b6eba9b002 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">bgm_fade</a> (int time)</td></tr>
<tr class="memdesc:ac948681c62ecd129a528f8b6eba9b002 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGM fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac948681c62ecd129a528f8b6eba9b002">More...</a><br /></td></tr>
<tr class="separator:ac948681c62ecd129a528f8b6eba9b002 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4287626bd4ee60d6316558eb1d6e6ef0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">bgs_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a4287626bd4ee60d6316558eb1d6e6ef0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGS playback. Sets the file name, volume, and pitch in turn.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a4287626bd4ee60d6316558eb1d6e6ef0">More...</a><br /></td></tr>
<tr class="separator:a4287626bd4ee60d6316558eb1d6e6ef0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1cc245328a0d4ad7fdbcf26a77716b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">bgs_stop</a> ()</td></tr>
<tr class="memdesc:af1cc245328a0d4ad7fdbcf26a77716b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops BGS playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af1cc245328a0d4ad7fdbcf26a77716b3">More...</a><br /></td></tr>
<tr class="separator:af1cc245328a0d4ad7fdbcf26a77716b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6ced8f833eb0cb75140fe3d93e6103e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">bgs_fade</a> (int time)</td></tr>
<tr class="memdesc:af6ced8f833eb0cb75140fe3d93e6103e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts BGS fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#af6ced8f833eb0cb75140fe3d93e6103e">More...</a><br /></td></tr>
<tr class="separator:af6ced8f833eb0cb75140fe3d93e6103e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1f3102a0e225afa7add3c6bd8a9ac3b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac1f3102a0e225afa7add3c6bd8a9ac3b">me_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:ac1f3102a0e225afa7add3c6bd8a9ac3b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts ME playback. Sets the file name, volume, and pitch in turn. When ME is playing, the BGM will temporarily stop.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ac1f3102a0e225afa7add3c6bd8a9ac3b">More...</a><br /></td></tr>
<tr class="separator:ac1f3102a0e225afa7add3c6bd8a9ac3b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">me_stop</a> ()</td></tr>
<tr class="memdesc:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a85d4bb2ec7fb33a2b6bcc02c70ac5f6a">More...</a><br /></td></tr>
<tr class="separator:a85d4bb2ec7fb33a2b6bcc02c70ac5f6a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad819f8418fc7f71af529e952d9cf5fdc inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ad819f8418fc7f71af529e952d9cf5fdc">me_fade</a> (int time)</td></tr>
<tr class="memdesc:ad819f8418fc7f71af529e952d9cf5fdc inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts ME fadeout.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#ad819f8418fc7f71af529e952d9cf5fdc">More...</a><br /></td></tr>
<tr class="separator:ad819f8418fc7f71af529e952d9cf5fdc inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a303701f57d68850a372da0651cfaa3d6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a303701f57d68850a372da0651cfaa3d6">se_play</a> (string filename, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a>)</td></tr>
<tr class="memdesc:a303701f57d68850a372da0651cfaa3d6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Starts SE playback. Sets the file name, volume, and pitch in turn. When attempting to play the same SE more than once in a very short period, they will automatically be filtered to prevent choppy playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a303701f57d68850a372da0651cfaa3d6">More...</a><br /></td></tr>
<tr class="separator:a303701f57d68850a372da0651cfaa3d6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e245e9b640aaad6d2815771bfae2608 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a3e245e9b640aaad6d2815771bfae2608">se_stop</a> ()</td></tr>
<tr class="memdesc:a3e245e9b640aaad6d2815771bfae2608 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="mdescLeft">&#160;</td><td class="mdescRight">Stops ME playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_audio.cshtml#a3e245e9b640aaad6d2815771bfae2608">More...</a><br /></td></tr>
<tr class="separator:a3e245e9b640aaad6d2815771bfae2608 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_audio"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml">PokemonEssentials.Interface.IAudioObject</a></td></tr>
<tr class="memitem:a8e7a6731cead227df83168b23d663cdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a8e7a6731cead227df83168b23d663cdb">name</a><code> [get, set]</code></td></tr>
<tr class="separator:a8e7a6731cead227df83168b23d663cdb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b51eb9bf78c5f7bed5d23cc66a3b16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a44b51eb9bf78c5f7bed5d23cc66a3b16">volume</a><code> [get, set]</code></td></tr>
<tr class="separator:a44b51eb9bf78c5f7bed5d23cc66a3b16 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3faf75da405b41a32b67c33aeb1d21fd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_object.cshtml#a3faf75da405b41a32b67c33aeb1d21fd">pitch</a><code> [get, set]</code></td></tr>
<tr class="separator:a3faf75da405b41a32b67c33aeb1d21fd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_audio_object"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a19373a21d452a03c71eee2288dc70db8" name="a19373a21d452a03c71eee2288dc70db8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19373a21d452a03c71eee2288dc70db8">&#9670;&#160;</a></span>clone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> PokemonEssentials.Interface.IAudioBGS.clone </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acc82f1b75f3432191be2f1ac71688add" name="acc82f1b75f3432191be2f1ac71688add"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc82f1b75f3432191be2f1ac71688add">&#9670;&#160;</a></span>fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudioBGS.fade </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts BGS fadeout.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td>time is the length of the fadeout in milliseconds.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="abc73ed1099031b2ed2a4f5984f9a0727" name="abc73ed1099031b2ed2a4f5984f9a0727"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc73ed1099031b2ed2a4f5984f9a0727">&#9670;&#160;</a></span>last()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> PokemonEssentials.Interface.IAudioBGS.last </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns BGS (</p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a></dd></dl>
<p>) that playing now. If no playing BGS, returns null.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a6cef34b13f12a457e95dc7c2e032979c" name="a6cef34b13f12a457e95dc7c2e032979c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6cef34b13f12a457e95dc7c2e032979c">&#9670;&#160;</a></span>play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudioBGS.play </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Starts the BGS playback.  </p>

</div>
</div>
<a id="ab6e44ded4d68f732a04cb8137f1e525a" name="ab6e44ded4d68f732a04cb8137f1e525a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6e44ded4d68f732a04cb8137f1e525a">&#9670;&#160;</a></span>stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IAudioBGS.stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Stops BGS playback.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
