@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.ILoadScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ILoadScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ILoadScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.png" usemap="#PokemonEssentials.Interface.Screen.ILoadScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.ILoadScene_map" name="PokemonEssentials.Interface.Screen.ILoadScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,340,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,340,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af60ba183bb4d952fcfd62c6382462d34"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#af60ba183bb4d952fcfd62c6382462d34">pbUpdate</a> ()</td></tr>
<tr class="separator:af60ba183bb4d952fcfd62c6382462d34"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a79724dc8f510fee82010c640857e4221"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a79724dc8f510fee82010c640857e4221">pbStartScene</a> (string[] commands, bool showContinue, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> trainer, int framecount, int mapid)</td></tr>
<tr class="separator:a79724dc8f510fee82010c640857e4221"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4bff5ce61fd8c827120a11bcc5ebed90"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a4bff5ce61fd8c827120a11bcc5ebed90">pbStartScene2</a> ()</td></tr>
<tr class="separator:a4bff5ce61fd8c827120a11bcc5ebed90"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a795ba88a9d558f8abccf6e730941f987"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a795ba88a9d558f8abccf6e730941f987">pbStartDeleteScene</a> ()</td></tr>
<tr class="separator:a795ba88a9d558f8abccf6e730941f987"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1982dc30d11540d1401395c50d25f5a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ac1982dc30d11540d1401395c50d25f5a">pbSetParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> trainer)</td></tr>
<tr class="separator:ac1982dc30d11540d1401395c50d25f5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abfb6dfb44495ea48097dccbaa9671ffc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#abfb6dfb44495ea48097dccbaa9671ffc">pbChoose</a> (string[] commands)</td></tr>
<tr class="separator:abfb6dfb44495ea48097dccbaa9671ffc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad049df7f26915bfd6280414daaed9671"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ad049df7f26915bfd6280414daaed9671">pbEndScene</a> ()</td></tr>
<tr class="separator:ad049df7f26915bfd6280414daaed9671"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2e86a91ae442ad8415a7aa3973f45d1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#aa2e86a91ae442ad8415a7aa3973f45d1">pbCloseScene</a> ()</td></tr>
<tr class="separator:aa2e86a91ae442ad8415a7aa3973f45d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a> ()</td></tr>
<tr class="separator:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abfb6dfb44495ea48097dccbaa9671ffc" name="abfb6dfb44495ea48097dccbaa9671ffc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abfb6dfb44495ea48097dccbaa9671ffc">&#9670;&#160;</a></span>pbChoose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbChoose </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2e86a91ae442ad8415a7aa3973f45d1" name="aa2e86a91ae442ad8415a7aa3973f45d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2e86a91ae442ad8415a7aa3973f45d1">&#9670;&#160;</a></span>pbCloseScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbCloseScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad049df7f26915bfd6280414daaed9671" name="ad049df7f26915bfd6280414daaed9671"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad049df7f26915bfd6280414daaed9671">&#9670;&#160;</a></span>pbEndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbEndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac1982dc30d11540d1401395c50d25f5a" name="ac1982dc30d11540d1401395c50d25f5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1982dc30d11540d1401395c50d25f5a">&#9670;&#160;</a></span>pbSetParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbSetParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>trainer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a795ba88a9d558f8abccf6e730941f987" name="a795ba88a9d558f8abccf6e730941f987"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a795ba88a9d558f8abccf6e730941f987">&#9670;&#160;</a></span>pbStartDeleteScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbStartDeleteScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a79724dc8f510fee82010c640857e4221" name="a79724dc8f510fee82010c640857e4221"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a79724dc8f510fee82010c640857e4221">&#9670;&#160;</a></span>pbStartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbStartScene </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showContinue</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>trainer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>framecount</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4bff5ce61fd8c827120a11bcc5ebed90" name="a4bff5ce61fd8c827120a11bcc5ebed90"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4bff5ce61fd8c827120a11bcc5ebed90">&#9670;&#160;</a></span>pbStartScene2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScene.pbStartScene2 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af60ba183bb4d952fcfd62c6382462d34" name="af60ba183bb4d952fcfd62c6382462d34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af60ba183bb4d952fcfd62c6382462d34">&#9670;&#160;</a></span>pbUpdate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.ILoadScene.pbUpdate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_load_8cs.cshtml">ILoad.cs</a></li>
</ul>
