@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">IWindow_PokemonMart</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PokemonMart Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonMart</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml#a6ed1bb339154b120a1a0f79a4c9b0600">drawItem</a>(int index, int count, IRect rect)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonMart</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml#a9dd56c5bc55b8daa70409c71cc8f0a8f">initialize</a>(Items[] stock, IMartAdapter adapter, float x, float y, int width, int height, IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonMart</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml#ae6f8566dd9ce10cfc8c5ad850e85b19d">item</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonMart</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml#aa060c1d6b9ffc7e55c623b3b348a0b2b">itemCount</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_mart.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonMart</a></td><td class="entry"></td></tr>
</table>