@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.IDebugger Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_unity_1_1_i_debugger-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IDebugger Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IDebugger:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_debugger.png" usemap="#PokemonUnity.IDebugger_map" alt=""/>
  <map id="PokemonUnity.IDebugger_map" name="PokemonUnity.IDebugger_map">
<area href="class_pokemon_unity_1_1_debugger.cshtml" alt="PokemonUnity.Debugger" shape="rect" coords="0,56,154,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1e6aa14cb7ef9f5332dfc2d2e1c36fa2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a1e6aa14cb7ef9f5332dfc2d2e1c36fa2">Init</a> (string logfilePath, string logBaseName)</td></tr>
<tr class="memdesc:a1e6aa14cb7ef9f5332dfc2d2e1c36fa2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Create and open data stream to file used for storing log entries.   <a href="interface_pokemon_unity_1_1_i_debugger.cshtml#a1e6aa14cb7ef9f5332dfc2d2e1c36fa2">More...</a><br /></td></tr>
<tr class="separator:a1e6aa14cb7ef9f5332dfc2d2e1c36fa2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62241abb761b1a794bba4b231d4bf3ec"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a62241abb761b1a794bba4b231d4bf3ec">Log</a> (string message, params object[] param)</td></tr>
<tr class="memdesc:a62241abb761b1a794bba4b231d4bf3ec"><td class="mdescLeft">&#160;</td><td class="mdescRight">Silently write into our log file   <a href="interface_pokemon_unity_1_1_i_debugger.cshtml#a62241abb761b1a794bba4b231d4bf3ec">More...</a><br /></td></tr>
<tr class="separator:a62241abb761b1a794bba4b231d4bf3ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af45eaed3ec882b89af25aa9e9ec4dba6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#af45eaed3ec882b89af25aa9e9ec4dba6">LogWarning</a> (string message)</td></tr>
<tr class="memdesc:af45eaed3ec882b89af25aa9e9ec4dba6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Displays to user, but doesnt pause or interrupt game. Typically flashes on screen and goes away.   <a href="interface_pokemon_unity_1_1_i_debugger.cshtml#af45eaed3ec882b89af25aa9e9ec4dba6">More...</a><br /></td></tr>
<tr class="separator:af45eaed3ec882b89af25aa9e9ec4dba6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3641bab89de46b0fcb72f8ec5974af98"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a3641bab89de46b0fcb72f8ec5974af98">LogError</a> (string message)</td></tr>
<tr class="memdesc:a3641bab89de46b0fcb72f8ec5974af98"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pauses and interrupts game to be displayed to user. Typically responses to user commands.   <a href="interface_pokemon_unity_1_1_i_debugger.cshtml#a3641bab89de46b0fcb72f8ec5974af98">More...</a><br /></td></tr>
<tr class="separator:a3641bab89de46b0fcb72f8ec5974af98"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78f8f4a86d69e2412d06217f595af78f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a78f8f4a86d69e2412d06217f595af78f">Shutdown</a> ()</td></tr>
<tr class="memdesc:a78f8f4a86d69e2412d06217f595af78f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Save and close data stream to file.   <a href="interface_pokemon_unity_1_1_i_debugger.cshtml#a78f8f4a86d69e2412d06217f595af78f">More...</a><br /></td></tr>
<tr class="separator:a78f8f4a86d69e2412d06217f595af78f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:ac0a0a74b13c354b5ef906f83be3ee781"><td class="memItemLeft" align="right" valign="top">EventHandler&lt; <a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml">OnDebugEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#ac0a0a74b13c354b5ef906f83be3ee781">OnLog</a></td></tr>
<tr class="separator:ac0a0a74b13c354b5ef906f83be3ee781"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1e6aa14cb7ef9f5332dfc2d2e1c36fa2" name="a1e6aa14cb7ef9f5332dfc2d2e1c36fa2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1e6aa14cb7ef9f5332dfc2d2e1c36fa2">&#9670;&#160;</a></span>Init()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IDebugger.Init </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>logfilePath</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>logBaseName</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Create and open data stream to file used for storing log entries.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">logfilePath</td><td>File Directory</td></tr>
    <tr><td class="paramname">logBaseName</td><td>Name of the File</td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a81c6514cb682fcfd196c1f0c3c5cdef0">PokemonUnity.Debugger</a>.</p>

</div>
</div>
<a id="a62241abb761b1a794bba4b231d4bf3ec" name="a62241abb761b1a794bba4b231d4bf3ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62241abb761b1a794bba4b231d4bf3ec">&#9670;&#160;</a></span>Log()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IDebugger.Log </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>param</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Silently write into our log file  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">message</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a5021a31e0b84f188b1e9b0bd57f11fe1">PokemonUnity.Debugger</a>.</p>

</div>
</div>
<a id="a3641bab89de46b0fcb72f8ec5974af98" name="a3641bab89de46b0fcb72f8ec5974af98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3641bab89de46b0fcb72f8ec5974af98">&#9670;&#160;</a></span>LogError()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IDebugger.LogError </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Pauses and interrupts game to be displayed to user. Typically responses to user commands.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">message</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#af982f4e719bd66a795aaf483bc69ce8d">PokemonUnity.Debugger</a>.</p>

</div>
</div>
<a id="af45eaed3ec882b89af25aa9e9ec4dba6" name="af45eaed3ec882b89af25aa9e9ec4dba6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af45eaed3ec882b89af25aa9e9ec4dba6">&#9670;&#160;</a></span>LogWarning()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IDebugger.LogWarning </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Displays to user, but doesnt pause or interrupt game. Typically flashes on screen and goes away.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">message</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#a647692088722b25bb15c5c369b2255b6">PokemonUnity.Debugger</a>.</p>

</div>
</div>
<a id="a78f8f4a86d69e2412d06217f595af78f" name="a78f8f4a86d69e2412d06217f595af78f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78f8f4a86d69e2412d06217f595af78f">&#9670;&#160;</a></span>Shutdown()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IDebugger.Shutdown </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Save and close data stream to file.  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_debugger.cshtml#aced141580299dfb367a1408f069be9ff">PokemonUnity.Debugger</a>.</p>

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="ac0a0a74b13c354b5ef906f83be3ee781" name="ac0a0a74b13c354b5ef906f83be3ee781"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0a0a74b13c354b5ef906f83be3ee781">&#9670;&#160;</a></span>OnLog</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler&lt;<a class="el" href="class_pokemon_unity_1_1_on_debug_event_args.cshtml">OnDebugEventArgs</a>&gt; PokemonUnity.IDebugger.OnLog</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_debugger_8cs.cshtml">IDebugger.cs</a></li>
</ul>

