@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.png" usemap="#PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon_map" name="PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon_map">
<area href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml" alt="PokemonUnity.Monster.Pokemon" shape="rect" coords="0,56,390,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a190fbbca0240ec50c052f4429326fc68"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a190fbbca0240ec50c052f4429326fc68">adjustHeart</a> (int value)</td></tr>
<tr class="separator:a190fbbca0240ec50c052f4429326fc68"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc1aef753eb3d37c6e42c71d6260d59a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#abc1aef753eb3d37c6e42c71d6260d59a">makeShadow</a> ()</td></tr>
<tr class="separator:abc1aef753eb3d37c6e42c71d6260d59a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6deb6d220b2a790973be4f81773d981"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#ad6deb6d220b2a790973be4f81773d981">UpdateShadowMoves</a> (bool allmoves=false)</td></tr>
<tr class="separator:ad6deb6d220b2a790973be4f81773d981"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa06b0d7eedff9ddc7af3ef800f4fcfbc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#aa06b0d7eedff9ddc7af3ef800f4fcfbc">decreaseShadowLevel</a> (<a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a73c7a5a79d8b87e311b5351c76b02e95">PokemonActions</a> action)</td></tr>
<tr class="separator:aa06b0d7eedff9ddc7af3ef800f4fcfbc"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9ae8f5e8eeea4bb02a641175bd325f85"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a9ae8f5e8eeea4bb02a641175bd325f85">heartgauge</a><code> [get]</code></td></tr>
<tr class="separator:a9ae8f5e8eeea4bb02a641175bd325f85"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a410ed37133b492de1888ce55b6e72e8a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a410ed37133b492de1888ce55b6e72e8a">shadow</a><code> [get, set]</code></td></tr>
<tr class="separator:a410ed37133b492de1888ce55b6e72e8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1cc0859c4472ba13dd1c14238206a0b4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a1cc0859c4472ba13dd1c14238206a0b4">hypermode</a><code> [get, set]</code></td></tr>
<tr class="separator:a1cc0859c4472ba13dd1c14238206a0b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a703ac36e725f1b57e4a186727626824d"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a703ac36e725f1b57e4a186727626824d">savedev</a><code> [get, set]</code></td></tr>
<tr class="separator:a703ac36e725f1b57e4a186727626824d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32f6800f5aa52a450aef99bb07ebd743"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a32f6800f5aa52a450aef99bb07ebd743">savedexp</a><code> [get, set]</code></td></tr>
<tr class="separator:a32f6800f5aa52a450aef99bb07ebd743"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80b8d06dd98e05a70539ba60617983be"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a80b8d06dd98e05a70539ba60617983be">shadowmoves</a><code> [get]</code></td></tr>
<tr class="separator:a80b8d06dd98e05a70539ba60617983be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a146c5825d16a36f80ad07c1488e2260b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a146c5825d16a36f80ad07c1488e2260b">shadowmovenum</a><code> [get]</code></td></tr>
<tr class="separator:a146c5825d16a36f80ad07c1488e2260b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50de7910ed329a00f22be3e99b62d035"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a50de7910ed329a00f22be3e99b62d035">heartStage</a><code> [get]</code></td></tr>
<tr class="separator:a50de7910ed329a00f22be3e99b62d035"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43973829fcf3b55a795105483cfc6f07"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#a43973829fcf3b55a795105483cfc6f07">isShadow</a><code> [get]</code></td></tr>
<tr class="separator:a43973829fcf3b55a795105483cfc6f07"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af11651c2b882c9387953de0404453c6f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#af11651c2b882c9387953de0404453c6f">exp</a><code> [get, set]</code></td></tr>
<tr class="separator:af11651c2b882c9387953de0404453c6f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af2643e784319e74e4ae0060ed3e0f8c9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#af2643e784319e74e4ae0060ed3e0f8c9">hp</a><code> [get, set]</code></td></tr>
<tr class="separator:af2643e784319e74e4ae0060ed3e0f8c9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf1f4e24d504c4111311edc8f121cf58"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#adf1f4e24d504c4111311edc8f121cf58">ShadowLevel</a><code> [get]</code></td></tr>
<tr class="memdesc:adf1f4e24d504c4111311edc8f121cf58"><td class="mdescLeft">&#160;</td><td class="mdescRight">Heart Gauge. The Heart Gauge is split into five equal bars. When a Shadow Pokémon is first snagged, all five bars are full.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#adf1f4e24d504c4111311edc8f121cf58">More...</a><br /></td></tr>
<tr class="separator:adf1f4e24d504c4111311edc8f121cf58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afcebdb6eeb6017b340d65a8eec41c102"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml#afcebdb6eeb6017b340d65a8eec41c102">HeartGuageSize</a><code> [get]</code></td></tr>
<tr class="separator:afcebdb6eeb6017b340d65a8eec41c102"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a190fbbca0240ec50c052f4429326fc68" name="a190fbbca0240ec50c052f4429326fc68"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a190fbbca0240ec50c052f4429326fc68">&#9670;&#160;</a></span>adjustHeart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.adjustHeart </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a8f912768ce100a4322b2401cf7718fa9">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="aa06b0d7eedff9ddc7af3ef800f4fcfbc" name="aa06b0d7eedff9ddc7af3ef800f4fcfbc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa06b0d7eedff9ddc7af3ef800f4fcfbc">&#9670;&#160;</a></span>decreaseShadowLevel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.decreaseShadowLevel </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a73c7a5a79d8b87e311b5351c76b02e95">PokemonActions</a>&#160;</td>
          <td class="paramname"><em>action</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#af40a560b04eb1ffcd7003fb61ebde1a4">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="abc1aef753eb3d37c6e42c71d6260d59a" name="abc1aef753eb3d37c6e42c71d6260d59a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc1aef753eb3d37c6e42c71d6260d59a">&#9670;&#160;</a></span>makeShadow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.makeShadow </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a546e0efffcb18e94939355c4dfc2303b">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="ad6deb6d220b2a790973be4f81773d981" name="ad6deb6d220b2a790973be4f81773d981"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6deb6d220b2a790973be4f81773d981">&#9670;&#160;</a></span>UpdateShadowMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.UpdateShadowMoves </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>allmoves</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a1359c38d50d702f5e7c7fe538a9575b4">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="af11651c2b882c9387953de0404453c6f" name="af11651c2b882c9387953de0404453c6f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af11651c2b882c9387953de0404453c6f">&#9670;&#160;</a></span>exp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.exp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9ae8f5e8eeea4bb02a641175bd325f85" name="a9ae8f5e8eeea4bb02a641175bd325f85"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ae8f5e8eeea4bb02a641175bd325f85">&#9670;&#160;</a></span>heartgauge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.heartgauge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ac17cf151fa4ff664e8a09a331eedbb37">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="afcebdb6eeb6017b340d65a8eec41c102" name="afcebdb6eeb6017b340d65a8eec41c102"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afcebdb6eeb6017b340d65a8eec41c102">&#9670;&#160;</a></span>HeartGuageSize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.HeartGuageSize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#aad6624636b264a6edbd4bdcb87d70091">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a50de7910ed329a00f22be3e99b62d035" name="a50de7910ed329a00f22be3e99b62d035"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50de7910ed329a00f22be3e99b62d035">&#9670;&#160;</a></span>heartStage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.heartStage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ada7dafbe352e09c317e44e1dff5d90b8">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="af2643e784319e74e4ae0060ed3e0f8c9" name="af2643e784319e74e4ae0060ed3e0f8c9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af2643e784319e74e4ae0060ed3e0f8c9">&#9670;&#160;</a></span>hp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.hp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1cc0859c4472ba13dd1c14238206a0b4" name="a1cc0859c4472ba13dd1c14238206a0b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1cc0859c4472ba13dd1c14238206a0b4">&#9670;&#160;</a></span>hypermode</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.hypermode</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a41460a71b8f113449b572e779c2df6b7">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a43973829fcf3b55a795105483cfc6f07" name="a43973829fcf3b55a795105483cfc6f07"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43973829fcf3b55a795105483cfc6f07">&#9670;&#160;</a></span>isShadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.isShadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a48e5f1a241aedc110a41ccc8c77700bf">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a703ac36e725f1b57e4a186727626824d" name="a703ac36e725f1b57e4a186727626824d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a703ac36e725f1b57e4a186727626824d">&#9670;&#160;</a></span>savedev</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.savedev</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ad2d678df28bee6661dc3fbee794cb74e">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a32f6800f5aa52a450aef99bb07ebd743" name="a32f6800f5aa52a450aef99bb07ebd743"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32f6800f5aa52a450aef99bb07ebd743">&#9670;&#160;</a></span>savedexp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.savedexp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a4dc3be304449c5105a220764d739ff35">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a410ed37133b492de1888ce55b6e72e8a" name="a410ed37133b492de1888ce55b6e72e8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a410ed37133b492de1888ce55b6e72e8a">&#9670;&#160;</a></span>shadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.shadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#ae791842c159c13ce967957f474b2a610">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="adf1f4e24d504c4111311edc8f121cf58" name="adf1f4e24d504c4111311edc8f121cf58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf1f4e24d504c4111311edc8f121cf58">&#9670;&#160;</a></span>ShadowLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.ShadowLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Heart Gauge. The Heart Gauge is split into five equal bars. When a Shadow Pokémon is first snagged, all five bars are full.  </p>
<p >If pokemon is purified, shadow level should be equal to -1 If pokemon has never been shadowed, then value should be null HeartGuage max size should be determined by _base.database </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a67ec084ff21b8571f397a5952c559e09">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a146c5825d16a36f80ad07c1488e2260b" name="a146c5825d16a36f80ad07c1488e2260b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a146c5825d16a36f80ad07c1488e2260b">&#9670;&#160;</a></span>shadowmovenum</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.shadowmovenum</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a1b3b1d41e4af2edf3bf1ad6670f48e8a">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<a id="a80b8d06dd98e05a70539ba60617983be" name="a80b8d06dd98e05a70539ba60617983be"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a80b8d06dd98e05a70539ba60617983be">&#9670;&#160;</a></span>shadowmoves</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonEssentials.Interface.PokeBattle.IPokemonShadowPokemon.shadowmoves</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml#a7a91d2b74131eb3ebfb7ad066106372f">PokemonUnity.Monster.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_shadow_pokemon_8cs.cshtml">IPokemonShadowPokemon.cs</a></li>
</ul>

