@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISceneMap Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#abdce3d63fdc33d8e96756b312736a3af">autofade</a>(int mapid)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a83f1224f5374c7eb2cadcca4b0a552c3">call_debug</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#adf921151a99474f93272d69b007e2a2e">call_menu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#ae5e6ee62d5216d402dcdd02fb7ae01bc">call_name</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a391cc45127234bbb91743471c6723f9d">createSpritesets</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a4c84dfc41bfafc6a7cabe7486d566fb5">disposeSpritesets</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a8250af0f86ccc02121ed50f6d68b0742">main</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#ab4b0ece68f21c8add15f9d163bceb76c">miniupdate</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#ac06d203d63fb3e945f22558872788b27">spriteset</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#ac575f60fe0d4076ee91e7fa2b21b509c">transfer_player</a>(bool cancelVehicles=true)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#ab029c914ebd4ae1da9f524d221a81adf">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a5599a59e57f5864dfec155eeb6d854f7">updateMaps</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml#a1d3cdecbd59d20ed46e004efbd0efa23">updateSpritesets</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a></td><td class="entry"></td></tr>
</table>
