@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPCMenuUser Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml">IPCMenuUser</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPCMenuUser Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPCMenuUser:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.png" usemap="#PokemonEssentials.Interface.Screen.IPCMenuUser_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPCMenuUser_map" name="PokemonEssentials.Interface.Screen.IPCMenuUser_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_p_c.cshtml" alt="PokemonEssentials.Interface.Screen.IPurifyChamberPC" shape="rect" coords="0,56,327,80"/>
<area href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml" alt="PokemonUnity.Character.StorageSystemPC" shape="rect" coords="337,56,664,80"/>
<area href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml" alt="PokemonUnity.Character.TrainerPC" shape="rect" coords="674,56,1001,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a6d4764490ba362583281c65484e73c13"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a6d4764490ba362583281c65484e73c13">access</a> ()</td></tr>
<tr class="separator:a6d4764490ba362583281c65484e73c13"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a82ab820cf160242bf434fb878404af55"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a82ab820cf160242bf434fb878404af55">shouldShow</a> <code>[get]</code></td></tr>
<tr class="separator:a82ab820cf160242bf434fb878404af55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41e1f05c77ea4da5e66b6065810d486c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_menu_user.cshtml#a41e1f05c77ea4da5e66b6065810d486c">name</a> <code>[get]</code></td></tr>
<tr class="separator:a41e1f05c77ea4da5e66b6065810d486c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6d4764490ba362583281c65484e73c13" name="a6d4764490ba362583281c65484e73c13"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d4764490ba362583281c65484e73c13">&#9670;&#160;</a></span>access()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPCMenuUser.access </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#ab7089b3e5efc1d1419de6e4deb27d816">PokemonUnity.Character.TrainerPC</a>, and <a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#a3fbe1715cbf3d232c21c230296cc79f2">PokemonUnity.Character.StorageSystemPC</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a41e1f05c77ea4da5e66b6065810d486c" name="a41e1f05c77ea4da5e66b6065810d486c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41e1f05c77ea4da5e66b6065810d486c">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IPCMenuUser.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#a61262bae75c532fcf4cef872bbb6e464">PokemonUnity.Character.TrainerPC</a>, and <a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#afe614bc4581e9f7c03fda27b792ea58c">PokemonUnity.Character.StorageSystemPC</a>.</p>

</div>
</div>
<a id="a82ab820cf160242bf434fb878404af55" name="a82ab820cf160242bf434fb878404af55"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82ab820cf160242bf434fb878404af55">&#9670;&#160;</a></span>shouldShow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPCMenuUser.shouldShow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml#aed97c76e4f267ba2a4f91afce0f1b470">PokemonUnity.Character.TrainerPC</a>, and <a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml#a3cb58f90b4272716801220b97ac393a0">PokemonUnity.Character.StorageSystemPC</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>

