@{
	Page.Title = "PokemonEssentials.Interface.Field.IDungeon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDungeon Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab257ba2b1ca012a9982c3e3314c40b14"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#ab257ba2b1ca012a9982c3e3314c40b14">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a19acb90d25540317573a6f202cced159">width</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a35226cf6f965b6814f6719e9da501ec3">height</a>)</td></tr>
<tr class="separator:ab257ba2b1ca012a9982c3e3314c40b14"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb28aa28d766788eeb0bfd2510b350f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#aeb28aa28d766788eeb0bfd2510b350f8">clear</a> ()</td></tr>
<tr class="separator:aeb28aa28d766788eeb0bfd2510b350f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed395fa7e6b70201a603325431016ae7"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#aed395fa7e6b70201a603325431016ae7">write</a> ()</td></tr>
<tr class="separator:aed395fa7e6b70201a603325431016ae7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a7d59abcff25b2cae172a804a4814ac"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a7a7d59abcff25b2cae172a804a4814ac">value</a> (int x, int y)</td></tr>
<tr class="separator:a7a7d59abcff25b2cae172a804a4814ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a638a6df0d6b440ead2b31b3a85ce51fe"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a638a6df0d6b440ead2b31b3a85ce51fe">get</a> (int x, int y)</td></tr>
<tr class="separator:a638a6df0d6b440ead2b31b3a85ce51fe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e33afc89a9e6d1f282602928d2103c4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a6e33afc89a9e6d1f282602928d2103c4">isWall</a> (int x, int y)</td></tr>
<tr class="separator:a6e33afc89a9e6d1f282602928d2103c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a80ca942149c87cc225d242159ae170"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a2a80ca942149c87cc225d242159ae170">isRoom</a> (int x, int y)</td></tr>
<tr class="separator:a2a80ca942149c87cc225d242159ae170"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c17fbf4f98df9a88438e289b5a6bf9a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a4c17fbf4f98df9a88438e289b5a6bf9a">generate</a> ()</td></tr>
<tr class="separator:a4c17fbf4f98df9a88438e289b5a6bf9a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a133dad407e7108e47e837651a4e7f380"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a133dad407e7108e47e837651a4e7f380">generateMapInPlace</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> map)</td></tr>
<tr class="separator:a133dad407e7108e47e837651a4e7f380"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35d52b38e42e54f88daf03a915d2871e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a35d52b38e42e54f88daf03a915d2871e">paint</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> rect, int offsetX, int offsetY)</td></tr>
<tr class="separator:a35d52b38e42e54f88daf03a915d2871e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20bf5d46794fe606ebeb6998012a3881"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a20bf5d46794fe606ebeb6998012a3881">intersects</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> r1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a> r2)</td></tr>
<tr class="separator:a20bf5d46794fe606ebeb6998012a3881"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a19acb90d25540317573a6f202cced159"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a19acb90d25540317573a6f202cced159">width</a> <code>[get]</code></td></tr>
<tr class="separator:a19acb90d25540317573a6f202cced159"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35226cf6f965b6814f6719e9da501ec3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a35226cf6f965b6814f6719e9da501ec3">height</a> <code>[get]</code></td></tr>
<tr class="separator:a35226cf6f965b6814f6719e9da501ec3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a11993011f33ce92b52a100e4fbd8cd52"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml#a11993011f33ce92b52a100e4fbd8cd52">this[int x, int y]</a> <code>[get, set]</code></td></tr>
<tr class="separator:a11993011f33ce92b52a100e4fbd8cd52"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aeb28aa28d766788eeb0bfd2510b350f8" name="aeb28aa28d766788eeb0bfd2510b350f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb28aa28d766788eeb0bfd2510b350f8">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDungeon.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c17fbf4f98df9a88438e289b5a6bf9a" name="a4c17fbf4f98df9a88438e289b5a6bf9a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c17fbf4f98df9a88438e289b5a6bf9a">&#9670;&#160;</a></span>generate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDungeon.generate </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a133dad407e7108e47e837651a4e7f380" name="a133dad407e7108e47e837651a4e7f380"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a133dad407e7108e47e837651a4e7f380">&#9670;&#160;</a></span>generateMapInPlace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDungeon.generateMapInPlace </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a638a6df0d6b440ead2b31b3a85ce51fe" name="a638a6df0d6b440ead2b31b3a85ce51fe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a638a6df0d6b440ead2b31b3a85ce51fe">&#9670;&#160;</a></span>get()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDungeon.get </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab257ba2b1ca012a9982c3e3314c40b14" name="ab257ba2b1ca012a9982c3e3314c40b14"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab257ba2b1ca012a9982c3e3314c40b14">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a> PokemonEssentials.Interface.Field.IDungeon.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a20bf5d46794fe606ebeb6998012a3881" name="a20bf5d46794fe606ebeb6998012a3881"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20bf5d46794fe606ebeb6998012a3881">&#9670;&#160;</a></span>intersects()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDungeon.intersects </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>r1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>r2</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2a80ca942149c87cc225d242159ae170" name="a2a80ca942149c87cc225d242159ae170"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a80ca942149c87cc225d242159ae170">&#9670;&#160;</a></span>isRoom()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDungeon.isRoom </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6e33afc89a9e6d1f282602928d2103c4" name="a6e33afc89a9e6d1f282602928d2103c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e33afc89a9e6d1f282602928d2103c4">&#9670;&#160;</a></span>isWall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDungeon.isWall </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a35d52b38e42e54f88daf03a915d2871e" name="a35d52b38e42e54f88daf03a915d2871e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35d52b38e42e54f88daf03a915d2871e">&#9670;&#160;</a></span>paint()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IDungeon.paint </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td>
          <td class="paramname"><em>rect</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>offsetX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>offsetY</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7a7d59abcff25b2cae172a804a4814ac" name="a7a7d59abcff25b2cae172a804a4814ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a7d59abcff25b2cae172a804a4814ac">&#9670;&#160;</a></span>value()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeon.value </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed395fa7e6b70201a603325431016ae7" name="aed395fa7e6b70201a603325431016ae7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed395fa7e6b70201a603325431016ae7">&#9670;&#160;</a></span>write()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IDungeon.write </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a35226cf6f965b6814f6719e9da501ec3" name="a35226cf6f965b6814f6719e9da501ec3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a35226cf6f965b6814f6719e9da501ec3">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeon.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a11993011f33ce92b52a100e4fbd8cd52" name="a11993011f33ce92b52a100e4fbd8cd52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a11993011f33ce92b52a100e4fbd8cd52">&#9670;&#160;</a></span>this[int x, int y]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeon.this[int x, int y]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a19acb90d25540317573a6f202cced159" name="a19acb90d25540317573a6f202cced159"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19acb90d25540317573a6f202cced159">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeon.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>
