@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">IGameVariable</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameVariable Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">PokemonEssentials.Interface.IGameVariable</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml#a25f905b2b5ffacc3224c2b77436f4757">this[int variable_id]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">PokemonEssentials.Interface.IGameVariable</a></td><td class="entry"></td></tr>
</table>
