@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">IDungeonTable</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDungeonTable Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">PokemonEssentials.Interface.Field.IDungeonTable</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a8533543472edc8259748517a3775e631">initialize</a>(IDungeon dungeon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">PokemonEssentials.Interface.Field.IDungeonTable</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a65333de7ee22fa2c8c00c015d0b72b7d">this[int x, int y]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">PokemonEssentials.Interface.Field.IDungeonTable</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a5c3d65bc8c1ff3ad8b8e6ca9acb207ec">xsize</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">PokemonEssentials.Interface.Field.IDungeonTable</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a5ea076ce284cf627db7bb28267240ee0">ysize</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">PokemonEssentials.Interface.Field.IDungeonTable</a></td><td class="entry"></td></tr>
</table>
