@{
	Page.Title = "PokemonUnity.IMovedEvent Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_moved_event.cshtml">IMovedEvent</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_moved_event-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IMovedEvent Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6337e75f8557860650ea2ff48e78486e"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_moved_event.cshtml#a6337e75f8557860650ea2ff48e78486e">X</a><code> [get]</code></td></tr>
<tr class="separator:a6337e75f8557860650ea2ff48e78486e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70252ec82267b2c2904eb89496ccc5f5"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_moved_event.cshtml#a70252ec82267b2c2904eb89496ccc5f5">Y</a><code> [get]</code></td></tr>
<tr class="separator:a70252ec82267b2c2904eb89496ccc5f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af07cd57b8aad3ccce7063dcf0eee2848"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_moved_event.cshtml#af07cd57b8aad3ccce7063dcf0eee2848">Direction</a><code> [get]</code></td></tr>
<tr class="separator:af07cd57b8aad3ccce7063dcf0eee2848"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27233039fad0fad3e9f2777a627eff60"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_moved_event.cshtml#a27233039fad0fad3e9f2777a627eff60">Through</a><code> [get]</code></td></tr>
<tr class="separator:a27233039fad0fad3e9f2777a627eff60"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="af07cd57b8aad3ccce7063dcf0eee2848" name="af07cd57b8aad3ccce7063dcf0eee2848"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af07cd57b8aad3ccce7063dcf0eee2848">&#9670;&#160;</a></span>Direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.IMovedEvent.Direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a27233039fad0fad3e9f2777a627eff60" name="a27233039fad0fad3e9f2777a627eff60"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27233039fad0fad3e9f2777a627eff60">&#9670;&#160;</a></span>Through</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonUnity.IMovedEvent.Through</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6337e75f8557860650ea2ff48e78486e" name="a6337e75f8557860650ea2ff48e78486e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6337e75f8557860650ea2ff48e78486e">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.IMovedEvent.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a70252ec82267b2c2904eb89496ccc5f5" name="a70252ec82267b2c2904eb89496ccc5f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70252ec82267b2c2904eb89496ccc5f5">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.IMovedEvent.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_resource_objects_8cs.cshtml">IResourceObjects.cs</a></li>
</ul>

