@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Field.ITempMetadataRoaming Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_roaming.cshtml">ITempMetadataRoaming</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_roaming-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ITempMetadataRoaming Interface Reference</div></div>
}


<p>Extension on <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml" title="Temporary data which is not saved and which is erased when a game restarts.">ITempMetadata</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_roaming.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adae6f3878bf471eb9a000e557ae28536"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_roaming.cshtml#adae6f3878bf471eb9a000e557ae28536">nowRoaming</a><code> [get]</code></td></tr>
<tr class="separator:adae6f3878bf471eb9a000e557ae28536"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86385d0a84935d29727727bdfa5c3ee5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata_roaming.cshtml#a86385d0a84935d29727727bdfa5c3ee5">roamerIndex</a><code> [get]</code></td></tr>
<tr class="separator:a86385d0a84935d29727727bdfa5c3ee5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension on <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml" title="Temporary data which is not saved and which is erased when a game restarts.">ITempMetadata</a>  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="adae6f3878bf471eb9a000e557ae28536" name="adae6f3878bf471eb9a000e557ae28536"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adae6f3878bf471eb9a000e557ae28536">&#9670;&#160;</a></span>nowRoaming</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadataRoaming.nowRoaming</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a86385d0a84935d29727727bdfa5c3ee5" name="a86385d0a84935d29727727bdfa5c3ee5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86385d0a84935d29727727bdfa5c3ee5">&#9670;&#160;</a></span>roamerIndex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadataRoaming.roamerIndex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_roaming_pokemon_8cs.cshtml">IRoamingPokemon.cs</a></li>
</ul>

