@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IScene_PokedexMenu Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">IScene_PokedexMenu</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IScene_PokedexMenu Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3494c166d60801ebc0b8cc4518894bca"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">IScene_PokedexMenu</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a3494c166d60801ebc0b8cc4518894bca">initialize</a> (int menu_index=0)</td></tr>
<tr class="separator:a3494c166d60801ebc0b8cc4518894bca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ec336ab7c93d7e944014681365a0f06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a7ec336ab7c93d7e944014681365a0f06">main</a> ()</td></tr>
<tr class="separator:a7ec336ab7c93d7e944014681365a0f06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a774017e83a979a207ed9479ee5e928f6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a774017e83a979a207ed9479ee5e928f6">update</a> ()</td></tr>
<tr class="separator:a774017e83a979a207ed9479ee5e928f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c0dccfe24f4e8c7c3e367c81e8afbe4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml#a9c0dccfe24f4e8c7c3e367c81e8afbe4">update_command</a> ()</td></tr>
<tr class="separator:a9c0dccfe24f4e8c7c3e367c81e8afbe4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a3494c166d60801ebc0b8cc4518894bca" name="a3494c166d60801ebc0b8cc4518894bca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3494c166d60801ebc0b8cc4518894bca">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene___pokedex_menu.cshtml">IScene_PokedexMenu</a> PokemonEssentials.Interface.Screen.IScene_PokedexMenu.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>menu_index</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ec336ab7c93d7e944014681365a0f06" name="a7ec336ab7c93d7e944014681365a0f06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ec336ab7c93d7e944014681365a0f06">&#9670;&#160;</a></span>main()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IScene_PokedexMenu.main </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a774017e83a979a207ed9479ee5e928f6" name="a774017e83a979a207ed9479ee5e928f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a774017e83a979a207ed9479ee5e928f6">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IScene_PokedexMenu.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c0dccfe24f4e8c7c3e367c81e8afbe4" name="a9c0dccfe24f4e8c7c3e367c81e8afbe4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c0dccfe24f4e8c7c3e367c81e8afbe4">&#9670;&#160;</a></span>update_command()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IScene_PokedexMenu.update_command </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_pokedex_8cs.cshtml">IPokedex.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
