@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">IPurifyChamberScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a0feaf14fcf621cad5bf2b213357143d7">initialize</a>(IPurifyChamberScene scene)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a754bcc2cd7d3eedc88cfc20b63f37ac7">pbCheckPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a5e2f068b7cc75e9aa6fca14a4b7e4e0e">pbConfirm</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#aa35af41495228dc8971797104febe321">pbDisplay</a>(string msg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a7bed3665a4b56450bf8621d322f00201">pbDoPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a69891d2af01e3f64961d9f95a8c62ac3">pbOnPlace</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a87dd3d78d80ced0032396780e21701f4">pbOpenSetDetail</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a69d312ba53984bb91542a68bb536882f">pbPlace</a>(IPokemon pkmn, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a1dabe15289a6149842628353e1abdfdf">pbPlacePokemon</a>(int[] pos, int position)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a35a9b3e60b489ea09fa31698f23cbd9d">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml#a666c25bcb220ebfa441445ed9ab790e2">pbStartPurify</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_screen.cshtml">PokemonEssentials.Interface.Screen.IPurifyChamberScreen</a></td><td class="entry"></td></tr>
</table>