@{
	Page.Title = "PokemonEssentials.Interface.IGameInterpreterMessage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">IGameInterpreterMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameInterpreterMessage Interface Reference</div></div>
}


<p>Used by RMVX   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a957b15392c77d29014aeb770de8534da"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a957b15392c77d29014aeb770de8534da">command_105</a> ()</td></tr>
<tr class="separator:a957b15392c77d29014aeb770de8534da"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a445d9269a6216902254bee4a4058d346"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a445d9269a6216902254bee4a4058d346">command_101</a> ()</td></tr>
<tr class="separator:a445d9269a6216902254bee4a4058d346"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad45f382705db076bfe69d48106c8050d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#ad45f382705db076bfe69d48106c8050d">command_102</a> ()</td></tr>
<tr class="separator:ad45f382705db076bfe69d48106c8050d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51e4ecb85b25a2d2ee6f9b098ccc7122"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a51e4ecb85b25a2d2ee6f9b098ccc7122">command_103</a> ()</td></tr>
<tr class="separator:a51e4ecb85b25a2d2ee6f9b098ccc7122"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Used by RMVX  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a445d9269a6216902254bee4a4058d346" name="a445d9269a6216902254bee4a4058d346"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a445d9269a6216902254bee4a4058d346">&#9670;&#160;</a></span>command_101()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameInterpreterMessage.command_101 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad45f382705db076bfe69d48106c8050d" name="ad45f382705db076bfe69d48106c8050d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad45f382705db076bfe69d48106c8050d">&#9670;&#160;</a></span>command_102()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameInterpreterMessage.command_102 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a51e4ecb85b25a2d2ee6f9b098ccc7122" name="a51e4ecb85b25a2d2ee6f9b098ccc7122"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51e4ecb85b25a2d2ee6f9b098ccc7122">&#9670;&#160;</a></span>command_103()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameInterpreterMessage.command_103 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a957b15392c77d29014aeb770de8534da" name="a957b15392c77d29014aeb770de8534da"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a957b15392c77d29014aeb770de8534da">&#9670;&#160;</a></span>command_105()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameInterpreterMessage.command_105 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_message_8cs.cshtml">IMessage.cs</a></li>
</ul>

