@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IGamePlayer Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">IGamePlayer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePlayer Interface Reference</div></div>
}


<p>This class handles the player. Its functions include event starting determinants and map scrolling.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IGamePlayer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.png" usemap="#PokemonEssentials.Interface.IGamePlayer_map" alt=""/>
  <map id="PokemonEssentials.Interface.IGamePlayer_map" name="PokemonEssentials.Interface.IGamePlayer_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml" alt="PokemonEssentials.Interface.IGameCharacter" shape="rect" coords="0,56,269,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml" alt="PokemonEssentials.Interface.Screen.IEntity" shape="rect" coords="0,0,269,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ab136c15b60fa3cadd833d2bcd81958d0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#ab136c15b60fa3cadd833d2bcd81958d0">HasDependentEvents</a> ()</td></tr>
<tr class="separator:ab136c15b60fa3cadd833d2bcd81958d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31d9db7a3fc2377fd942c44b0ee31553"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a31d9db7a3fc2377fd942c44b0ee31553">TriggeredTrainerEvents</a> (int[] triggers, bool checkIfRunning=true)</td></tr>
<tr class="separator:a31d9db7a3fc2377fd942c44b0ee31553"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09f061e1071c5fe2b56671123ee2846b"><td class="memItemLeft" align="right" valign="top">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a09f061e1071c5fe2b56671123ee2846b">TriggeredCounterEvents</a> (int[] triggers, bool checkIfRunning=true)</td></tr>
<tr class="separator:a09f061e1071c5fe2b56671123ee2846b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f993a8e23f426e6618f28f96d5e1161"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a3f993a8e23f426e6618f28f96d5e1161">CheckEventTriggerAfterTurning</a> ()</td></tr>
<tr class="separator:a3f993a8e23f426e6618f28f96d5e1161"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab8dfeec1d65ca7c35bc8a06cb48d1793"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#ab8dfeec1d65ca7c35bc8a06cb48d1793">CheckEventTriggerFromDistance</a> (int[] triggers)</td></tr>
<tr class="separator:ab8dfeec1d65ca7c35bc8a06cb48d1793"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38311e2758045bc69b006e4a74d6bd03"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a38311e2758045bc69b006e4a74d6bd03">FacingEvent</a> ()</td></tr>
<tr class="separator:a38311e2758045bc69b006e4a74d6bd03"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7bcbc3b105746081a6a03cc2cf99560"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#ae7bcbc3b105746081a6a03cc2cf99560">center</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>)</td></tr>
<tr class="memdesc:ae7bcbc3b105746081a6a03cc2cf99560"><td class="mdescLeft">&#160;</td><td class="mdescRight">Passable Determinants   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#ae7bcbc3b105746081a6a03cc2cf99560">More...</a><br /></td></tr>
<tr class="separator:ae7bcbc3b105746081a6a03cc2cf99560"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6debb3a8c37756043a2f07019d9209fd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a6debb3a8c37756043a2f07019d9209fd">make_encounter_count</a> ()</td></tr>
<tr class="memdesc:a6debb3a8c37756043a2f07019d9209fd"><td class="mdescLeft">&#160;</td><td class="mdescRight">Make Encounter Count   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a6debb3a8c37756043a2f07019d9209fd">More...</a><br /></td></tr>
<tr class="separator:a6debb3a8c37756043a2f07019d9209fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7798db588c102cb366238a1fec0772b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a7798db588c102cb366238a1fec0772b1">refresh</a> ()</td></tr>
<tr class="memdesc:a7798db588c102cb366238a1fec0772b1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refresh   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a7798db588c102cb366238a1fec0772b1">More...</a><br /></td></tr>
<tr class="separator:a7798db588c102cb366238a1fec0772b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4f1ef86db2cf220b93a09c7c1a5d3cde"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a4f1ef86db2cf220b93a09c7c1a5d3cde">check_event_trigger_here</a> (int[] triggers)</td></tr>
<tr class="memdesc:a4f1ef86db2cf220b93a09c7c1a5d3cde"><td class="mdescLeft">&#160;</td><td class="mdescRight">Same Position Starting Determinant   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a4f1ef86db2cf220b93a09c7c1a5d3cde">More...</a><br /></td></tr>
<tr class="separator:a4f1ef86db2cf220b93a09c7c1a5d3cde"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aede217033e7fbbf37169c60481ed015d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#aede217033e7fbbf37169c60481ed015d">check_event_trigger_there</a> (int[] triggers)</td></tr>
<tr class="memdesc:aede217033e7fbbf37169c60481ed015d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Front Event Starting Determinant   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#aede217033e7fbbf37169c60481ed015d">More...</a><br /></td></tr>
<tr class="separator:aede217033e7fbbf37169c60481ed015d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15541900e1786aab1860bcb2b38b84a8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a15541900e1786aab1860bcb2b38b84a8">check_event_trigger_touch</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>)</td></tr>
<tr class="memdesc:a15541900e1786aab1860bcb2b38b84a8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Touch Event Starting Determinant   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a15541900e1786aab1860bcb2b38b84a8">More...</a><br /></td></tr>
<tr class="separator:a15541900e1786aab1860bcb2b38b84a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">PokemonEssentials.Interface.IGameCharacter</a></td></tr>
<tr class="memitem:aed4dde8d74ade0a0a4c5ad9f591316c1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aed4dde8d74ade0a0a4c5ad9f591316c1">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac295dc5c59d86910c01c14e25c23e1d8">map</a>=null)</td></tr>
<tr class="separator:aed4dde8d74ade0a0a4c5ad9f591316c1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af87498e6411d4d1443be160ee9c04d8b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af87498e6411d4d1443be160ee9c04d8b">straighten</a> ()</td></tr>
<tr class="separator:af87498e6411d4d1443be160ee9c04d8b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0d670493dc8f21da6e495cae394f6a1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0d670493dc8f21da6e495cae394f6a1">force_move_route</a> (int move_route)</td></tr>
<tr class="separator:ac0d670493dc8f21da6e495cae394f6a1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae35dbb4c0be57cfeebc1df3ea479c533 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ae35dbb4c0be57cfeebc1df3ea479c533">passableEx</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>, int d, bool strict=false)</td></tr>
<tr class="separator:ae35dbb4c0be57cfeebc1df3ea479c533 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4da0b71276df5d1f6e10fcd08b941666 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a4da0b71276df5d1f6e10fcd08b941666">passable</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>, int d)</td></tr>
<tr class="memdesc:a4da0b71276df5d1f6e10fcd08b941666 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="mdescLeft">&#160;</td><td class="mdescRight">Passable Determinants   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a4da0b71276df5d1f6e10fcd08b941666">More...</a><br /></td></tr>
<tr class="separator:a4da0b71276df5d1f6e10fcd08b941666 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15b7c17bda4440d49afd554db1f2f705 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a15b7c17bda4440d49afd554db1f2f705">passableStrict</a> (float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, float <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>, int d)</td></tr>
<tr class="separator:a15b7c17bda4440d49afd554db1f2f705 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78354633e5601780faceb7d02d93028c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a78354633e5601780faceb7d02d93028c">_lock</a> ()</td></tr>
<tr class="separator:a78354633e5601780faceb7d02d93028c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f3f58b78bde10d767a644052f4770c1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a1f3f58b78bde10d767a644052f4770c1">unlock</a> ()</td></tr>
<tr class="separator:a1f3f58b78bde10d767a644052f4770c1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5476aed5ab6e447d1c4133b4f3fb9e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aa5476aed5ab6e447d1c4133b4f3fb9e2">triggerLeaveTile</a> ()</td></tr>
<tr class="separator:aa5476aed5ab6e447d1c4133b4f3fb9e2 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc35e3664041bdbdd74dc21d08dd4437 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#abc35e3664041bdbdd74dc21d08dd4437">moveto</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a>, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a>)</td></tr>
<tr class="memdesc:abc35e3664041bdbdd74dc21d08dd4437 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move to Designated Position   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#abc35e3664041bdbdd74dc21d08dd4437">More...</a><br /></td></tr>
<tr class="separator:abc35e3664041bdbdd74dc21d08dd4437 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd0566d138f59d2451ba3f8c1ce49101 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#afd0566d138f59d2451ba3f8c1ce49101">screen_y_ground</a> ()</td></tr>
<tr class="separator:afd0566d138f59d2451ba3f8c1ce49101 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1fa46f25537e5dfd5f64ea81db05d25 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af1fa46f25537e5dfd5f64ea81db05d25">screen_z</a> (int height=0)</td></tr>
<tr class="separator:af1fa46f25537e5dfd5f64ea81db05d25 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a982213e69017a54be82eacc5c6e6ab1a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a982213e69017a54be82eacc5c6e6ab1a">update</a> ()</td></tr>
<tr class="separator:a982213e69017a54be82eacc5c6e6ab1a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b2bfbaaf29dcf4810cb32e26e0886f8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a6b2bfbaaf29dcf4810cb32e26e0886f8">update_jump</a> ()</td></tr>
<tr class="separator:a6b2bfbaaf29dcf4810cb32e26e0886f8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b18c4e57ee93390385f0796f0270b7d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a9b18c4e57ee93390385f0796f0270b7d">update_move</a> ()</td></tr>
<tr class="separator:a9b18c4e57ee93390385f0796f0270b7d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04c6b67b6cda1387a1192f4a41cbc017 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a04c6b67b6cda1387a1192f4a41cbc017">update_stop</a> ()</td></tr>
<tr class="separator:a04c6b67b6cda1387a1192f4a41cbc017 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c3f47b2495544ae508098f2958e8548 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5c3f47b2495544ae508098f2958e8548">move_type_random</a> ()</td></tr>
<tr class="separator:a5c3f47b2495544ae508098f2958e8548 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a572a84d63d3b98003b58daea08a9e488 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a572a84d63d3b98003b58daea08a9e488">move_type_toward_player</a> ()</td></tr>
<tr class="separator:a572a84d63d3b98003b58daea08a9e488 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2be1646d873905dc57e1c7d490b682c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2be1646d873905dc57e1c7d490b682c0">move_type_custom</a> ()</td></tr>
<tr class="separator:a2be1646d873905dc57e1c7d490b682c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ca9d6cec537eebd775b17c053dcb3e6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5ca9d6cec537eebd775b17c053dcb3e6">increase_steps</a> ()</td></tr>
<tr class="separator:a5ca9d6cec537eebd775b17c053dcb3e6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3f85f9e5c3aff5b3a4cf4ee1a1adc7a3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a3f85f9e5c3aff5b3a4cf4ee1a1adc7a3">move_down</a> (bool turn_enabled=true)</td></tr>
<tr class="separator:a3f85f9e5c3aff5b3a4cf4ee1a1adc7a3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80fc0e119db2e86425c6b1ba409cad4e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a80fc0e119db2e86425c6b1ba409cad4e">move_left</a> (bool turn_enabled=true)</td></tr>
<tr class="separator:a80fc0e119db2e86425c6b1ba409cad4e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73976087d1a38299d0e05f83e64543b9 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a73976087d1a38299d0e05f83e64543b9">move_right</a> (bool turn_enabled=true)</td></tr>
<tr class="separator:a73976087d1a38299d0e05f83e64543b9 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa18c7f823f21cb076ff2e2c3dd4a096a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aa18c7f823f21cb076ff2e2c3dd4a096a">move_up</a> (bool turn_enabled=true)</td></tr>
<tr class="separator:aa18c7f823f21cb076ff2e2c3dd4a096a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21e88b4b4858ba1b1daa9a0dfad85a43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a21e88b4b4858ba1b1daa9a0dfad85a43">move_lower_left</a> ()</td></tr>
<tr class="separator:a21e88b4b4858ba1b1daa9a0dfad85a43 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba70ce075df56c7037e42b7625978cc0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aba70ce075df56c7037e42b7625978cc0">move_lower_right</a> ()</td></tr>
<tr class="separator:aba70ce075df56c7037e42b7625978cc0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12314c28b6233b1c23d9cfcd6fb0dafe inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a12314c28b6233b1c23d9cfcd6fb0dafe">move_upper_left</a> ()</td></tr>
<tr class="separator:a12314c28b6233b1c23d9cfcd6fb0dafe inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9dfc89922eb8264ee2728131c09433d0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a9dfc89922eb8264ee2728131c09433d0">move_upper_right</a> ()</td></tr>
<tr class="separator:a9dfc89922eb8264ee2728131c09433d0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0323a3bbf8b8e3c32c8debc3f8f74e21 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a0323a3bbf8b8e3c32c8debc3f8f74e21">moveLeft90</a> ()</td></tr>
<tr class="separator:a0323a3bbf8b8e3c32c8debc3f8f74e21 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef0881576efcb273fb66af60f64af3af inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aef0881576efcb273fb66af60f64af3af">moveRight90</a> ()</td></tr>
<tr class="separator:aef0881576efcb273fb66af60f64af3af inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ecd46d62085e946967245cddf9ff9c8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a8ecd46d62085e946967245cddf9ff9c8">move_random</a> ()</td></tr>
<tr class="separator:a8ecd46d62085e946967245cddf9ff9c8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3fca47b09b946cc38630e47c3b4f4e08 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a3fca47b09b946cc38630e47c3b4f4e08">move_toward_player</a> ()</td></tr>
<tr class="separator:a3fca47b09b946cc38630e47c3b4f4e08 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31fed692b56096c560d763ae64aac68d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a31fed692b56096c560d763ae64aac68d">move_away_from_player</a> ()</td></tr>
<tr class="separator:a31fed692b56096c560d763ae64aac68d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5780a518483c26e464888afa029b9b7b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5780a518483c26e464888afa029b9b7b">move_forward</a> ()</td></tr>
<tr class="separator:a5780a518483c26e464888afa029b9b7b inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ee123e8a942da455bbc9126e8391211 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5ee123e8a942da455bbc9126e8391211">move_backward</a> ()</td></tr>
<tr class="separator:a5ee123e8a942da455bbc9126e8391211 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee61792c3bf9d9420839f77d08c3b133 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aee61792c3bf9d9420839f77d08c3b133">jump</a> (int x_plus, int y_plus)</td></tr>
<tr class="separator:aee61792c3bf9d9420839f77d08c3b133 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0d7e02d10e2e8c03997e52001657627 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0d7e02d10e2e8c03997e52001657627">jumpForward</a> ()</td></tr>
<tr class="separator:ac0d7e02d10e2e8c03997e52001657627 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af968ed7e60a61a71543c27ad0a1a229d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af968ed7e60a61a71543c27ad0a1a229d">jumpBackward</a> ()</td></tr>
<tr class="separator:af968ed7e60a61a71543c27ad0a1a229d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3478079000e31c2a958e2d6dd7169b8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ad3478079000e31c2a958e2d6dd7169b8">turnGeneric</a> (int dir)</td></tr>
<tr class="separator:ad3478079000e31c2a958e2d6dd7169b8 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8cee00b0707eb89c6ee1fc1fad25d582 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a8cee00b0707eb89c6ee1fc1fad25d582">turn_down</a> ()</td></tr>
<tr class="separator:a8cee00b0707eb89c6ee1fc1fad25d582 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f30b00b7d79fe2215327809d016af9a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a8f30b00b7d79fe2215327809d016af9a">turn_left</a> ()</td></tr>
<tr class="separator:a8f30b00b7d79fe2215327809d016af9a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7409b9fde55a62a3737aa007ee1b4126 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a7409b9fde55a62a3737aa007ee1b4126">turn_right</a> ()</td></tr>
<tr class="separator:a7409b9fde55a62a3737aa007ee1b4126 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d1ee8177c072a92f9e195a2fd9c87de inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a1d1ee8177c072a92f9e195a2fd9c87de">turn_up</a> ()</td></tr>
<tr class="separator:a1d1ee8177c072a92f9e195a2fd9c87de inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adfb83a5da937caee417bd2a3383bb696 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#adfb83a5da937caee417bd2a3383bb696">turn_right_90</a> ()</td></tr>
<tr class="separator:adfb83a5da937caee417bd2a3383bb696 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a980e0d4a07e4be56d8682dc718b5a51c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a980e0d4a07e4be56d8682dc718b5a51c">turn_left_90</a> ()</td></tr>
<tr class="separator:a980e0d4a07e4be56d8682dc718b5a51c inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a865314fc64942f788b1218a44358e7c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a865314fc64942f788b1218a44358e7c6">turn_180</a> ()</td></tr>
<tr class="separator:a865314fc64942f788b1218a44358e7c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a094e97d7d1faf0c79bcc491f0fd09c49 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a094e97d7d1faf0c79bcc491f0fd09c49">turn_right_or_left_90</a> ()</td></tr>
<tr class="separator:a094e97d7d1faf0c79bcc491f0fd09c49 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad39928376f647c6489fb06100fa253c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ad39928376f647c6489fb06100fa253c6">turn_random</a> ()</td></tr>
<tr class="separator:ad39928376f647c6489fb06100fa253c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc32819b2b4034915cffaefbf5954807 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#adc32819b2b4034915cffaefbf5954807">turn_toward_player</a> ()</td></tr>
<tr class="separator:adc32819b2b4034915cffaefbf5954807 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bf8447b9bf48d1015e56b0eb20a2c99 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a6bf8447b9bf48d1015e56b0eb20a2c99">turn_away_from_player</a> ()</td></tr>
<tr class="separator:a6bf8447b9bf48d1015e56b0eb20a2c99 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1af28acd56e29f559eb73e0f545d4053 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a1af28acd56e29f559eb73e0f545d4053">minilock</a> ()</td></tr>
<tr class="separator:a1af28acd56e29f559eb73e0f545d4053 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a13955912be127b09165044bc1a86d829"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a13955912be127b09165044bc1a86d829">bump_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a13955912be127b09165044bc1a86d829"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ba1290f9295606ee57cbc3bcb43d800"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a7ba1290f9295606ee57cbc3bcb43d800">encounter_count</a><code> [get]</code></td></tr>
<tr class="memdesc:a7ba1290f9295606ee57cbc3bcb43d800"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move to Designated Position   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml#a7ba1290f9295606ee57cbc3bcb43d800">More...</a><br /></td></tr>
<tr class="separator:a7ba1290f9295606ee57cbc3bcb43d800"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">PokemonEssentials.Interface.IGameCharacter</a></td></tr>
<tr class="memitem:ab985f1e45ffbb6e8b507200072877696 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ab985f1e45ffbb6e8b507200072877696">id</a><code> [get, set]</code></td></tr>
<tr class="separator:ab985f1e45ffbb6e8b507200072877696 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c18c02c121ad2f807967b7c98e6846d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2c18c02c121ad2f807967b7c98e6846d">x</a><code> [get, set]</code></td></tr>
<tr class="separator:a2c18c02c121ad2f807967b7c98e6846d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5e3986206449752045585bee67a14aeb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5e3986206449752045585bee67a14aeb">y</a><code> [get, set]</code></td></tr>
<tr class="separator:a5e3986206449752045585bee67a14aeb inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68cf95438a7db3e0459b9aa4c2bb6721 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a68cf95438a7db3e0459b9aa4c2bb6721">real_x</a><code> [get, set]</code></td></tr>
<tr class="separator:a68cf95438a7db3e0459b9aa4c2bb6721 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd8b77ee563e96d15da58c3734d837ce inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#acd8b77ee563e96d15da58c3734d837ce">real_y</a><code> [get, set]</code></td></tr>
<tr class="separator:acd8b77ee563e96d15da58c3734d837ce inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34bda09ff9384f278e4cdfb2792d966a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a34bda09ff9384f278e4cdfb2792d966a">tile_id</a><code> [get, set]</code></td></tr>
<tr class="separator:a34bda09ff9384f278e4cdfb2792d966a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77454c5091d3fb87bdc9ad2e319d5acd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a77454c5091d3fb87bdc9ad2e319d5acd">character_name</a><code> [get, set]</code></td></tr>
<tr class="separator:a77454c5091d3fb87bdc9ad2e319d5acd inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a968247f801b376e8e4c6419b72eb1961 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a968247f801b376e8e4c6419b72eb1961">character_hue</a><code> [get, set]</code></td></tr>
<tr class="separator:a968247f801b376e8e4c6419b72eb1961 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1cf5d387f839fb99a9a3bf5f43b8502e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a1cf5d387f839fb99a9a3bf5f43b8502e">opacity</a><code> [get, set]</code></td></tr>
<tr class="separator:a1cf5d387f839fb99a9a3bf5f43b8502e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a189f83a35d7fec664599c60e90ea06e1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a189f83a35d7fec664599c60e90ea06e1">blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:a189f83a35d7fec664599c60e90ea06e1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf76335758e1434f8d06b1c686605643 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#adf76335758e1434f8d06b1c686605643">direction</a><code> [get, set]</code></td></tr>
<tr class="separator:adf76335758e1434f8d06b1c686605643 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbb713e34677f61444af868aef0f4746 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#afbb713e34677f61444af868aef0f4746">pattern</a><code> [get, set]</code></td></tr>
<tr class="separator:afbb713e34677f61444af868aef0f4746 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45a7835d69da961ab765789f35a50a4c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a45a7835d69da961ab765789f35a50a4c">move_route_forcing</a><code> [get, set]</code></td></tr>
<tr class="separator:a45a7835d69da961ab765789f35a50a4c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2669e75cded798cd8f4732fbcc960d76 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2669e75cded798cd8f4732fbcc960d76">through</a><code> [get, set]</code></td></tr>
<tr class="separator:a2669e75cded798cd8f4732fbcc960d76 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afff8d3755ff2b5fc27e4499c8333c854 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#afff8d3755ff2b5fc27e4499c8333c854">animation_id</a><code> [get, set]</code></td></tr>
<tr class="separator:afff8d3755ff2b5fc27e4499c8333c854 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad49eb46a33d99f7b0acde27413fefbc2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ad49eb46a33d99f7b0acde27413fefbc2">transparent</a><code> [get, set]</code></td></tr>
<tr class="separator:ad49eb46a33d99f7b0acde27413fefbc2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac295dc5c59d86910c01c14e25c23e1d8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac295dc5c59d86910c01c14e25c23e1d8">map</a><code> [get, set]</code></td></tr>
<tr class="separator:ac295dc5c59d86910c01c14e25c23e1d8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b9b8ec3011e76312a9286553a1f43de inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2b9b8ec3011e76312a9286553a1f43de">move_speed</a><code> [get, set]</code></td></tr>
<tr class="separator:a2b9b8ec3011e76312a9286553a1f43de inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a196f682c61e093f5b6a9014ccaa8ad7f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a196f682c61e093f5b6a9014ccaa8ad7f">walk_anime</a><code> [get, set]</code></td></tr>
<tr class="separator:a196f682c61e093f5b6a9014ccaa8ad7f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62e6a47f49f8d5722513300ce81a794e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a62e6a47f49f8d5722513300ce81a794e">step_anime</a><code> [get, set]</code></td></tr>
<tr class="separator:a62e6a47f49f8d5722513300ce81a794e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d6064c53605ebf0cc7bf517fcfed3d3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a2d6064c53605ebf0cc7bf517fcfed3d3">anime_count</a><code> [get, set]</code></td></tr>
<tr class="separator:a2d6064c53605ebf0cc7bf517fcfed3d3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac93541c3f113b73783c75170c3570369 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac93541c3f113b73783c75170c3570369">jump_count</a><code> [get, set]</code></td></tr>
<tr class="separator:ac93541c3f113b73783c75170c3570369 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7be4eaefa5bca2502018fb162a9e6bda inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a7be4eaefa5bca2502018fb162a9e6bda">stop_count</a><code> [get, set]</code></td></tr>
<tr class="separator:a7be4eaefa5bca2502018fb162a9e6bda inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a965f01e3cac93b16e898177b2c72f31c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a965f01e3cac93b16e898177b2c72f31c">jump_peak</a><code> [get, set]</code></td></tr>
<tr class="separator:a965f01e3cac93b16e898177b2c72f31c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99120fa10d65ee2d3200cd6ff5ef1761 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a99120fa10d65ee2d3200cd6ff5ef1761">wait_count</a><code> [get, set]</code></td></tr>
<tr class="separator:a99120fa10d65ee2d3200cd6ff5ef1761 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af53eee9311694b1b887eb7485959af25 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#af53eee9311694b1b887eb7485959af25">move_route_index</a><code> [get, set]</code></td></tr>
<tr class="separator:af53eee9311694b1b887eb7485959af25 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5581b8144ecb75bbd50bc353840a376d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5581b8144ecb75bbd50bc353840a376d">direction_fix</a><code> [get, set]</code></td></tr>
<tr class="separator:a5581b8144ecb75bbd50bc353840a376d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ef73220b3d536c11e8e43adb0681472 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a5ef73220b3d536c11e8e43adb0681472">locked</a><code> [get, set]</code></td></tr>
<tr class="separator:a5ef73220b3d536c11e8e43adb0681472 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba1ea2980787081651d5cfd30a98b88a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aba1ea2980787081651d5cfd30a98b88a">always_on_top</a><code> [get, set]</code></td></tr>
<tr class="separator:aba1ea2980787081651d5cfd30a98b88a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae3d51ba7b7e59de7c562385c357057f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">float?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ae3d51ba7b7e59de7c562385c357057f2">oldX</a><code> [get, set]</code></td></tr>
<tr class="separator:ae3d51ba7b7e59de7c562385c357057f2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add5f29fa94f12795da8e77954943e680 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">float?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#add5f29fa94f12795da8e77954943e680">oldY</a><code> [get, set]</code></td></tr>
<tr class="separator:add5f29fa94f12795da8e77954943e680 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c0e8e309900fcbb19dedd3d858e12a1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a8c0e8e309900fcbb19dedd3d858e12a1">oldMap</a><code> [get, set]</code></td></tr>
<tr class="separator:a8c0e8e309900fcbb19dedd3d858e12a1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7790f75538029a5c95d76611a55a54b4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a7790f75538029a5c95d76611a55a54b4">original_move_route</a><code> [get, set]</code></td></tr>
<tr class="separator:a7790f75538029a5c95d76611a55a54b4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a865c7e76e6f92aec61fb1d4261021fd8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a865c7e76e6f92aec61fb1d4261021fd8">original_move_route_index</a><code> [get, set]</code></td></tr>
<tr class="separator:a865c7e76e6f92aec61fb1d4261021fd8 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6b57534b34c86a332125eb16ea639da7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a6b57534b34c86a332125eb16ea639da7">prelock_direction</a><code> [get, set]</code></td></tr>
<tr class="separator:a6b57534b34c86a332125eb16ea639da7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb9f7e6527ed2ef0c5167befc179c395 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#acb9f7e6527ed2ef0c5167befc179c395">moving</a><code> [get]</code></td></tr>
<tr class="separator:acb9f7e6527ed2ef0c5167befc179c395 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f3708e4202d12aa0a787219ecc1fc19 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a7f3708e4202d12aa0a787219ecc1fc19">jumping</a><code> [get]</code></td></tr>
<tr class="separator:a7f3708e4202d12aa0a787219ecc1fc19 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac56a7fa22d29615beaf86f97e696d37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac56a7fa22d29615beaf86f97e696d37f">islock</a><code> [get]</code></td></tr>
<tr class="separator:ac56a7fa22d29615beaf86f97e696d37f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0e90f6dfb2b7d00cc162ddc8474cbb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ac0e90f6dfb2b7d00cc162ddc8474cbb4">screen_x</a><code> [get]</code></td></tr>
<tr class="separator:ac0e90f6dfb2b7d00cc162ddc8474cbb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa510c1cdc4db1db0a7f5f2456ce3133a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#aa510c1cdc4db1db0a7f5f2456ce3133a">screen_y</a><code> [get]</code></td></tr>
<tr class="separator:aa510c1cdc4db1db0a7f5f2456ce3133a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78286e302521e3f1edf49488066a4700 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a78286e302521e3f1edf49488066a4700">bush_depth</a><code> [get]</code></td></tr>
<tr class="separator:a78286e302521e3f1edf49488066a4700 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1584f200962d6b36a77054d88a8f3f4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">PokemonUnity.Overworld.Terrains</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#ad1584f200962d6b36a77054d88a8f3f4">terrain_tag</a><code> [get]</code></td></tr>
<tr class="separator:ad1584f200962d6b36a77054d88a8f3f4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_game_character"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >This class handles the player. Its functions include event starting determinants and map scrolling.  </p>
<p >Refer to "Game.GameData.GamePlayer" for the one instance of this class. </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ae7bcbc3b105746081a6a03cc2cf99560" name="ae7bcbc3b105746081a6a03cc2cf99560"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7bcbc3b105746081a6a03cc2cf99560">&#9670;&#160;</a></span>center()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePlayer.center </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Passable Determinants  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>x-coordinate</td></tr>
    <tr><td class="paramname">y</td><td>y-coordinate</td></tr>
    <tr><td class="paramname">d</td><td>direction (0,2,4,6,8)<ul>
<li>0 = Determines if all directions are impassable (for jumping)</li>
</ul>
</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p >Set Map Display Position to Center of <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a>  </p><dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a4f1ef86db2cf220b93a09c7c1a5d3cde" name="a4f1ef86db2cf220b93a09c7c1a5d3cde"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f1ef86db2cf220b93a09c7c1a5d3cde">&#9670;&#160;</a></span>check_event_trigger_here()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayer.check_event_trigger_here </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>triggers</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Same Position Starting Determinant  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">triggers</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="aede217033e7fbbf37169c60481ed015d" name="aede217033e7fbbf37169c60481ed015d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aede217033e7fbbf37169c60481ed015d">&#9670;&#160;</a></span>check_event_trigger_there()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayer.check_event_trigger_there </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>triggers</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Front Event Starting Determinant  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">triggers</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a15541900e1786aab1860bcb2b38b84a8" name="a15541900e1786aab1860bcb2b38b84a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a15541900e1786aab1860bcb2b38b84a8">&#9670;&#160;</a></span>check_event_trigger_touch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayer.check_event_trigger_touch </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Touch Event Starting Determinant  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a3f993a8e23f426e6618f28f96d5e1161" name="a3f993a8e23f426e6618f28f96d5e1161"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3f993a8e23f426e6618f28f96d5e1161">&#9670;&#160;</a></span>CheckEventTriggerAfterTurning()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePlayer.CheckEventTriggerAfterTurning </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab8dfeec1d65ca7c35bc8a06cb48d1793" name="ab8dfeec1d65ca7c35bc8a06cb48d1793"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab8dfeec1d65ca7c35bc8a06cb48d1793">&#9670;&#160;</a></span>CheckEventTriggerFromDistance()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayer.CheckEventTriggerFromDistance </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>triggers</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a38311e2758045bc69b006e4a74d6bd03" name="a38311e2758045bc69b006e4a74d6bd03"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38311e2758045bc69b006e4a74d6bd03">&#9670;&#160;</a></span>FacingEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a> PokemonEssentials.Interface.IGamePlayer.FacingEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab136c15b60fa3cadd833d2bcd81958d0" name="ab136c15b60fa3cadd833d2bcd81958d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab136c15b60fa3cadd833d2bcd81958d0">&#9670;&#160;</a></span>HasDependentEvents()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayer.HasDependentEvents </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6debb3a8c37756043a2f07019d9209fd" name="a6debb3a8c37756043a2f07019d9209fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6debb3a8c37756043a2f07019d9209fd">&#9670;&#160;</a></span>make_encounter_count()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePlayer.make_encounter_count </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Make Encounter Count  </p>

</div>
</div>
<a id="a7798db588c102cb366238a1fec0772b1" name="a7798db588c102cb366238a1fec0772b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7798db588c102cb366238a1fec0772b1">&#9670;&#160;</a></span>refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePlayer.refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Refresh  </p>

</div>
</div>
<a id="a09f061e1071c5fe2b56671123ee2846b" name="a09f061e1071c5fe2b56671123ee2846b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09f061e1071c5fe2b56671123ee2846b">&#9670;&#160;</a></span>TriggeredCounterEvents()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> &gt; PokemonEssentials.Interface.IGamePlayer.TriggeredCounterEvents </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>triggers</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>checkIfRunning</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a31d9db7a3fc2377fd942c44b0ee31553" name="a31d9db7a3fc2377fd942c44b0ee31553"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31d9db7a3fc2377fd942c44b0ee31553">&#9670;&#160;</a></span>TriggeredTrainerEvents()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">List&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a> &gt; PokemonEssentials.Interface.IGamePlayer.TriggeredTrainerEvents </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>triggers</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>checkIfRunning</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a13955912be127b09165044bc1a86d829" name="a13955912be127b09165044bc1a86d829"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a13955912be127b09165044bc1a86d829">&#9670;&#160;</a></span>bump_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.IGamePlayer.bump_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ba1290f9295606ee57cbc3bcb43d800" name="a7ba1290f9295606ee57cbc3bcb43d800"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ba1290f9295606ee57cbc3bcb43d800">&#9670;&#160;</a></span>encounter_count</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePlayer.encounter_count</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Move to Designated Position  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td>x-coordinate</td></tr>
    <tr><td class="paramname">y</td><td>y-coordinate</td></tr>
  </table>
  </dd>
</dl>
<p >Get Encounter Count  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_player_8cs.cshtml">IGamePlayer.cs</a></li>
</ul>

