@{
	Page.Title = "PokemonEssentials.Interface.Field.IMapChunkUnit Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">IMapChunkUnit</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapChunkUnit Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a951063c7e5e6ac62619a90ea0119c565"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#a951063c7e5e6ac62619a90ea0119c565">MapId</a><code> [get]</code></td></tr>
<tr class="separator:a951063c7e5e6ac62619a90ea0119c565"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af10ed1be6c1dc17a64c24b7239200486"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#af10ed1be6c1dc17a64c24b7239200486">X</a><code> [get]</code></td></tr>
<tr class="separator:af10ed1be6c1dc17a64c24b7239200486"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa73589cb7fdd3367d6f87cc21a7a34ab"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml#aa73589cb7fdd3367d6f87cc21a7a34ab">Y</a><code> [get]</code></td></tr>
<tr class="separator:aa73589cb7fdd3367d6f87cc21a7a34ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a951063c7e5e6ac62619a90ea0119c565" name="a951063c7e5e6ac62619a90ea0119c565"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a951063c7e5e6ac62619a90ea0119c565">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapChunkUnit.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af10ed1be6c1dc17a64c24b7239200486" name="af10ed1be6c1dc17a64c24b7239200486"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af10ed1be6c1dc17a64c24b7239200486">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapChunkUnit.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa73589cb7fdd3367d6f87cc21a7a34ab" name="aa73589cb7fdd3367d6f87cc21a7a34ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa73589cb7fdd3367d6f87cc21a7a34ab">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapChunkUnit.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>
