@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.IPokemonEntry Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry.cshtml">IPokemonEntry</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_pokemon_entry-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonEntry Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.IPokemonEntry:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_pokemon_entry.png" usemap="#PokemonUnity.IPokemonEntry_map" alt=""/>
  <map id="PokemonUnity.IPokemonEntry_map" name="PokemonUnity.IPokemonEntry_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,179,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa2a96129d7daaa41e7c8923a86dd9c77"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry.cshtml#aa2a96129d7daaa41e7c8923a86dd9c77">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">IPokemonEntryScene</a> scene)</td></tr>
<tr class="separator:aa2a96129d7daaa41e7c8923a86dd9c77"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad676ddaa34f69fe05ab9f3019212bbce"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry.cshtml#ad676ddaa34f69fe05ab9f3019212bbce">pbStartScreen</a> (string helptext, int minlength, int maxlength, string initialText, <a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a2b5c94ec1b9c2fceaa3aab999708a3f2">TextEntryTypes</a> mode=0, <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon=null)</td></tr>
<tr class="separator:ad676ddaa34f69fe05ab9f3019212bbce"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aa2a96129d7daaa41e7c8923a86dd9c77" name="aa2a96129d7daaa41e7c8923a86dd9c77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2a96129d7daaa41e7c8923a86dd9c77">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IPokemonEntry.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_entry_scene.cshtml">IPokemonEntryScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad676ddaa34f69fe05ab9f3019212bbce" name="ad676ddaa34f69fe05ab9f3019212bbce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad676ddaa34f69fe05ab9f3019212bbce">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.IPokemonEntry.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlength</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>initialText</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a2b5c94ec1b9c2fceaa3aab999708a3f2">TextEntryTypes</a>&#160;</td>
          <td class="paramname"><em>mode</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
