@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">IPlayerFadeAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#a40b5f1cb3a29a54722c1c000e809a533">animdone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#ab49ae887395a65a0958cef67bd2c1714">initialize</a>(ISprite[] sprites)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml#a155a711579ee42ace007ec7232285bb3">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_player_fade_animation.cshtml">PokemonEssentials.Interface.Screen.IPlayerFadeAnimation</a></td><td class="entry"></td></tr>
</table>
