@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml">IPokeBattle_SceneNonInteractive</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.png" usemap="#PokemonEssentials.Interface.Screen.IPokeBattle_5FSceneNonInteractive_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokeBattle_5FSceneNonInteractive_map" name="PokemonEssentials.Interface.Screen.IPokeBattle_5FSceneNonInteractive_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,431,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,431,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics" shape="rect" coords="0,168,431,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_logging.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoLogging" shape="rect" coords="0,224,431,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_DebugScene" shape="rect" coords="0,280,431,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattle_Scene" shape="rect" coords="0,336,431,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle_arena___scene.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeBattleArena_Scene" shape="rect" coords="0,392,431,416"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5300eebe061b47906328655a7133282e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a5300eebe061b47906328655a7133282e">CommandMenu</a> (int index)</td></tr>
<tr class="separator:a5300eebe061b47906328655a7133282e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b1371bcb9f0238dc543dc5512e9a837"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a8b1371bcb9f0238dc543dc5512e9a837">FightMenu</a> (int index)</td></tr>
<tr class="separator:a8b1371bcb9f0238dc543dc5512e9a837"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0bff5969049c42cefd6f8f1859200116"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a0bff5969049c42cefd6f8f1859200116">ItemMenu</a> (int index)</td></tr>
<tr class="separator:a0bff5969049c42cefd6f8f1859200116"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bc1697fe3e3d13642cec1665c742a33"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a1bc1697fe3e3d13642cec1665c742a33">ChooseTarget</a> (int index, <a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">PokemonUnity.Attack.Data.Targets</a> targettype)</td></tr>
<tr class="separator:a1bc1697fe3e3d13642cec1665c742a33"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a04b9dabb1534a89dc19fa4a9b4f27de6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a04b9dabb1534a89dc19fa4a9b4f27de6">Switch</a> (int index, bool lax, bool cancancel)</td></tr>
<tr class="separator:a04b9dabb1534a89dc19fa4a9b4f27de6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acef4d937cdf4c545fa6f5e0af378d71c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#acef4d937cdf4c545fa6f5e0af378d71c">ChooseEnemyCommand</a> (int index)</td></tr>
<tr class="separator:acef4d937cdf4c545fa6f5e0af378d71c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a272a341fea38fa55825fba143b8dd16e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a272a341fea38fa55825fba143b8dd16e">ChooseNewEnemy</a> (int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party)</td></tr>
<tr class="memdesc:a272a341fea38fa55825fba143b8dd16e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Use this method to choose a new Pok&eacute;mon for the enemy The enemy's party is guaranteed to have at least one choosable member.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene_non_interactive.cshtml#a272a341fea38fa55825fba143b8dd16e">More...</a><br /></td></tr>
<tr class="separator:a272a341fea38fa55825fba143b8dd16e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="acef4d937cdf4c545fa6f5e0af378d71c" name="acef4d937cdf4c545fa6f5e0af378d71c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acef4d937cdf4c545fa6f5e0af378d71c">&#9670;&#160;</a></span>ChooseEnemyCommand()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.ChooseEnemyCommand </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a272a341fea38fa55825fba143b8dd16e" name="a272a341fea38fa55825fba143b8dd16e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a272a341fea38fa55825fba143b8dd16e">&#9670;&#160;</a></span>ChooseNewEnemy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.ChooseNewEnemy </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Use this method to choose a new Pok&eacute;mon for the enemy The enemy's party is guaranteed to have at least one choosable member.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">index</td><td></td></tr>
    <tr><td class="paramname">party</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a1bc1697fe3e3d13642cec1665c742a33" name="a1bc1697fe3e3d13642cec1665c742a33"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bc1697fe3e3d13642cec1665c742a33">&#9670;&#160;</a></span>ChooseTarget()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.ChooseTarget </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml#ae6462bc5f4a7d6a649338ff1f33a1f84">PokemonUnity.Attack.Data.Targets</a>&#160;</td>
          <td class="paramname"><em>targettype</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml#a21c48320ee9236c601ac347819c56054">PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics</a>.</p>

</div>
</div>
<a id="a5300eebe061b47906328655a7133282e" name="a5300eebe061b47906328655a7133282e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5300eebe061b47906328655a7133282e">&#9670;&#160;</a></span>CommandMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.CommandMenu </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml#a3308d7e4a42be6d1d8ecbb33c582d51c">PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics</a>.</p>

</div>
</div>
<a id="a8b1371bcb9f0238dc543dc5512e9a837" name="a8b1371bcb9f0238dc543dc5512e9a837"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b1371bcb9f0238dc543dc5512e9a837">&#9670;&#160;</a></span>FightMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.FightMenu </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml#aa1d79bbb42ebc722726e53e53124fa85">PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics</a>.</p>

</div>
</div>
<a id="a0bff5969049c42cefd6f8f1859200116" name="a0bff5969049c42cefd6f8f1859200116"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0bff5969049c42cefd6f8f1859200116">&#9670;&#160;</a></span>ItemMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.ItemMenu </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___debug_scene_no_graphics.cshtml#a7186e679933a328b82b91de72b2c61d2">PokemonEssentials.Interface.Screen.IPokeBattle_DebugSceneNoGraphics</a>.</p>

</div>
</div>
<a id="a04b9dabb1534a89dc19fa4a9b4f27de6" name="a04b9dabb1534a89dc19fa4a9b4f27de6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a04b9dabb1534a89dc19fa4a9b4f27de6">&#9670;&#160;</a></span>Switch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokeBattle_SceneNonInteractive.Switch </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>lax</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>cancancel</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>

