@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">IGameMapAutoscroll</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameMapAutoscroll Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml#a8d3918a6b5f0f0c3d75fee9f6dd2ed35">scroll_downleft</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml#a9ad75a25acc4cd1f6820bb994677d740">scroll_downright</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml#a2d61d92c1571b0fcb7048a9d5a115391">scroll_upleft</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml#acacdab426d42329b8e1d88e9ddcbb31f">scroll_upright</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml#a38348bb6f4a1d34d9697458eafcc71e2">update_scrolling</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_autoscroll.cshtml">PokemonEssentials.Interface.IGameMapAutoscroll</a></td><td class="entry"></td></tr>
</table>