@{
	Page.Title = "PokemonEssentials.Interface.IGame Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGame Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IGame:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_game.png" usemap="#PokemonEssentials.Interface.IGame_map" alt=""/>
  <map id="PokemonEssentials.Interface.IGame_map" name="PokemonEssentials.Interface.IGame_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,212,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:afdbdc8bf1cfbd1c35c1bed2d26900839"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml">PokemonEssentials.Interface.IGlobalMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#afdbdc8bf1cfbd1c35c1bed2d26900839">Global</a> <code>[get]</code></td></tr>
<tr class="separator:afdbdc8bf1cfbd1c35c1bed2d26900839"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98e8c524085adb89ca09122dc5933d49"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml">PokemonEssentials.Interface.Field.IMapFactory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a98e8c524085adb89ca09122dc5933d49">MapFactory</a> <code>[get]</code></td></tr>
<tr class="separator:a98e8c524085adb89ca09122dc5933d49"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71543fcbdcc3dacb5c43cd366f0befbf"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a71543fcbdcc3dacb5c43cd366f0befbf">PokemonMap</a> <code>[get]</code></td></tr>
<tr class="separator:a71543fcbdcc3dacb5c43cd366f0befbf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac71bf5d52751648be96f6e9449e455f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#aac71bf5d52751648be96f6e9449e455f">MapData</a> <code>[get]</code></td></tr>
<tr class="separator:aac71bf5d52751648be96f6e9449e455f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add7991b838863522858fa5d802eba50a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#add7991b838863522858fa5d802eba50a">PokemonSystem</a> <code>[get]</code></td></tr>
<tr class="separator:add7991b838863522858fa5d802eba50a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cfbce6673f49c13457609d9e9d5120c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml">PokemonEssentials.Interface.Field.ITempMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a3cfbce6673f49c13457609d9e9d5120c">PokemonTemp</a> <code>[get, set]</code></td></tr>
<tr class="separator:a3cfbce6673f49c13457609d9e9d5120c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af36ee9ebb4ae17e9260fa441d52fbf29"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#af36ee9ebb4ae17e9260fa441d52fbf29">PokemonEncounters</a> <code>[get]</code></td></tr>
<tr class="separator:af36ee9ebb4ae17e9260fa441d52fbf29"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a542cf8df4c1dd3db3d4bf65591a20f52"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a542cf8df4c1dd3db3d4bf65591a20f52">PokemonStorage</a> <code>[get]</code></td></tr>
<tr class="separator:a542cf8df4c1dd3db3d4bf65591a20f52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3bcaf59267cdf776133b1ef4add265f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">PokemonEssentials.Interface.Screen.IBag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#af3bcaf59267cdf776133b1ef4add265f">Bag</a> <code>[get]</code></td></tr>
<tr class="separator:af3bcaf59267cdf776133b1ef4add265f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5233af03a3d1a4910f0ef83ab666f5a3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a5233af03a3d1a4910f0ef83ab666f5a3">Scene</a> <code>[get, set]</code></td></tr>
<tr class="separator:a5233af03a3d1a4910f0ef83ab666f5a3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9be12df50ff58e862efa7ae5186692e6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp.cshtml">PokemonEssentials.Interface.IGameTemp</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a9be12df50ff58e862efa7ae5186692e6">GameTemp</a> <code>[get]</code></td></tr>
<tr class="separator:a9be12df50ff58e862efa7ae5186692e6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51590bb8960c4064bbee99e2a5f13d3b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">PokemonEssentials.Interface.IGamePlayer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a51590bb8960c4064bbee99e2a5f13d3b">Player</a> <code>[get, set]</code></td></tr>
<tr class="separator:a51590bb8960c4064bbee99e2a5f13d3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a228268df404baf8a71833cfd092b341a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a228268df404baf8a71833cfd092b341a">Trainer</a> <code>[get, set]</code></td></tr>
<tr class="separator:a228268df404baf8a71833cfd092b341a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23cf3fe0127416d471262977b3d14dd0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystem</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a23cf3fe0127416d471262977b3d14dd0">DataSystem</a> <code>[get, set]</code></td></tr>
<tr class="separator:a23cf3fe0127416d471262977b3d14dd0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9854df1cd1d219db2cd0e263910851d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">PokemonEssentials.Interface.ITileset</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#ac9854df1cd1d219db2cd0e263910851d">DataTilesets</a> <code>[get, set]</code></td></tr>
<tr class="separator:ac9854df1cd1d219db2cd0e263910851d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5ee23467600f984b28b3d16d77f1057"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_common_event.cshtml">PokemonEssentials.Interface.IGameCommonEvent</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#ad5ee23467600f984b28b3d16d77f1057">DataCommonEvents</a> <code>[get, set]</code></td></tr>
<tr class="separator:ad5ee23467600f984b28b3d16d77f1057"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c029bbf0af54a617f4509a5937c0352"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml">PokemonEssentials.Interface.IGameSystem</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a6c029bbf0af54a617f4509a5937c0352">GameSystem</a> <code>[get, set]</code></td></tr>
<tr class="separator:a6c029bbf0af54a617f4509a5937c0352"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30a509454947130efc1bc9d67336059b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml">PokemonEssentials.Interface.IGameSwitches</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a30a509454947130efc1bc9d67336059b">GameSwitches</a> <code>[get, set]</code></td></tr>
<tr class="separator:a30a509454947130efc1bc9d67336059b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3a3a13e672b15c21cd8df95ba369d14"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_self_switches.cshtml">PokemonEssentials.Interface.IGameSelfSwitches</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#ab3a3a13e672b15c21cd8df95ba369d14">GameSelfSwitches</a> <code>[get, set]</code></td></tr>
<tr class="separator:ab3a3a13e672b15c21cd8df95ba369d14"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb62730b8640dafe019bba061acdb749"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">PokemonEssentials.Interface.IGameVariable</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#aeb62730b8640dafe019bba061acdb749">GameVariables</a> <code>[get, set]</code></td></tr>
<tr class="separator:aeb62730b8640dafe019bba061acdb749"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abc5dcbb69d42ff70efee424f2f93919f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#abc5dcbb69d42ff70efee424f2f93919f">GameScreen</a> <code>[get, set]</code></td></tr>
<tr class="separator:abc5dcbb69d42ff70efee424f2f93919f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05d616722d6d764b398e3f96fdcc139b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">PokemonEssentials.Interface.IGamePlayer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a05d616722d6d764b398e3f96fdcc139b">GamePlayer</a> <code>[get, set]</code></td></tr>
<tr class="separator:a05d616722d6d764b398e3f96fdcc139b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5c92bb6ad2a31240f37050d04620b073"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a5c92bb6ad2a31240f37050d04620b073">GameMap</a> <code>[get, set]</code></td></tr>
<tr class="separator:a5c92bb6ad2a31240f37050d04620b073"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7942665ae0a9748384238d65ecffe475"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_scenes_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScenesUI</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#a7942665ae0a9748384238d65ecffe475">Scenes</a> <code>[get, set]</code></td></tr>
<tr class="separator:a7942665ae0a9748384238d65ecffe475"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba281b87ffba5e7f79d29ca237d85394"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_screens_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScreensUI</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml#aba281b87ffba5e7f79d29ca237d85394">Screens</a> <code>[get, set]</code></td></tr>
<tr class="separator:aba281b87ffba5e7f79d29ca237d85394"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="af3bcaf59267cdf776133b1ef4add265f" name="af3bcaf59267cdf776133b1ef4add265f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3bcaf59267cdf776133b1ef4add265f">&#9670;&#160;</a></span>Bag</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">PokemonEssentials.Interface.Screen.IBag</a> PokemonEssentials.Interface.IGame.Bag</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aa15e676bbd7364dd21b77b9429f0a783">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ad5ee23467600f984b28b3d16d77f1057" name="ad5ee23467600f984b28b3d16d77f1057"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5ee23467600f984b28b3d16d77f1057">&#9670;&#160;</a></span>DataCommonEvents</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_common_event.cshtml">PokemonEssentials.Interface.IGameCommonEvent</a> [] PokemonEssentials.Interface.IGame.DataCommonEvents</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a8822da1c1d6716d396e6d28c17cc5aeb">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a23cf3fe0127416d471262977b3d14dd0" name="a23cf3fe0127416d471262977b3d14dd0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23cf3fe0127416d471262977b3d14dd0">&#9670;&#160;</a></span>DataSystem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml">PokemonEssentials.Interface.RPGMaker.Kernal.ISystem</a> PokemonEssentials.Interface.IGame.DataSystem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a52912e774d80a9f86298e14fad759051">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ac9854df1cd1d219db2cd0e263910851d" name="ac9854df1cd1d219db2cd0e263910851d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9854df1cd1d219db2cd0e263910851d">&#9670;&#160;</a></span>DataTilesets</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">PokemonEssentials.Interface.ITileset</a> [] PokemonEssentials.Interface.IGame.DataTilesets</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a12e3daef75bf2bb3bd6fd5e5f247b689">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5c92bb6ad2a31240f37050d04620b073" name="a5c92bb6ad2a31240f37050d04620b073"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c92bb6ad2a31240f37050d04620b073">&#9670;&#160;</a></span>GameMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> PokemonEssentials.Interface.IGame.GameMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aada32682f5f477c99099c7422eca4e3a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a05d616722d6d764b398e3f96fdcc139b" name="a05d616722d6d764b398e3f96fdcc139b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05d616722d6d764b398e3f96fdcc139b">&#9670;&#160;</a></span>GamePlayer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">PokemonEssentials.Interface.IGamePlayer</a> PokemonEssentials.Interface.IGame.GamePlayer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ad83168dc9c24e37dc18c0548d1d0e64d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="abc5dcbb69d42ff70efee424f2f93919f" name="abc5dcbb69d42ff70efee424f2f93919f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abc5dcbb69d42ff70efee424f2f93919f">&#9670;&#160;</a></span>GameScreen</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_screen.cshtml">PokemonEssentials.Interface.IGameScreen</a> PokemonEssentials.Interface.IGame.GameScreen</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a70bff4d36b3d551692407f06cb796718">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ab3a3a13e672b15c21cd8df95ba369d14" name="ab3a3a13e672b15c21cd8df95ba369d14"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3a3a13e672b15c21cd8df95ba369d14">&#9670;&#160;</a></span>GameSelfSwitches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_self_switches.cshtml">PokemonEssentials.Interface.IGameSelfSwitches</a> PokemonEssentials.Interface.IGame.GameSelfSwitches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3817b1b46237abd71219abe81f721adb">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a30a509454947130efc1bc9d67336059b" name="a30a509454947130efc1bc9d67336059b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30a509454947130efc1bc9d67336059b">&#9670;&#160;</a></span>GameSwitches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_switches.cshtml">PokemonEssentials.Interface.IGameSwitches</a> PokemonEssentials.Interface.IGame.GameSwitches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3da28a90385da38067524375314ac29f">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6c029bbf0af54a617f4509a5937c0352" name="a6c029bbf0af54a617f4509a5937c0352"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c029bbf0af54a617f4509a5937c0352">&#9670;&#160;</a></span>GameSystem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml">PokemonEssentials.Interface.IGameSystem</a> PokemonEssentials.Interface.IGame.GameSystem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a679124d6610e919fdaf7e51bf8f6d04a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9be12df50ff58e862efa7ae5186692e6" name="a9be12df50ff58e862efa7ae5186692e6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9be12df50ff58e862efa7ae5186692e6">&#9670;&#160;</a></span>GameTemp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_temp.cshtml">PokemonEssentials.Interface.IGameTemp</a> PokemonEssentials.Interface.IGame.GameTemp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aac98aebdb197f4b1f6504b09d82fa57b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aeb62730b8640dafe019bba061acdb749" name="aeb62730b8640dafe019bba061acdb749"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb62730b8640dafe019bba061acdb749">&#9670;&#160;</a></span>GameVariables</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">PokemonEssentials.Interface.IGameVariable</a> PokemonEssentials.Interface.IGame.GameVariables</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac3b0043c0ff995bd5f8f5c8e366cb1f5">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="afdbdc8bf1cfbd1c35c1bed2d26900839" name="afdbdc8bf1cfbd1c35c1bed2d26900839"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afdbdc8bf1cfbd1c35c1bed2d26900839">&#9670;&#160;</a></span>Global</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml">PokemonEssentials.Interface.IGlobalMetadata</a> PokemonEssentials.Interface.IGame.Global</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a320f6afad9e950f560a79415b4f740a8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aac71bf5d52751648be96f6e9449e455f" name="aac71bf5d52751648be96f6e9449e455f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac71bf5d52751648be96f6e9449e455f">&#9670;&#160;</a></span>MapData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a> PokemonEssentials.Interface.IGame.MapData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a68d3e48ca65817d0eb0ab4dd054f7197">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a98e8c524085adb89ca09122dc5933d49" name="a98e8c524085adb89ca09122dc5933d49"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98e8c524085adb89ca09122dc5933d49">&#9670;&#160;</a></span>MapFactory</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml">PokemonEssentials.Interface.Field.IMapFactory</a> PokemonEssentials.Interface.IGame.MapFactory</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a7902df5c3482940f933ea8bf132e7f78">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a51590bb8960c4064bbee99e2a5f13d3b" name="a51590bb8960c4064bbee99e2a5f13d3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51590bb8960c4064bbee99e2a5f13d3b">&#9670;&#160;</a></span>Player</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">PokemonEssentials.Interface.IGamePlayer</a> PokemonEssentials.Interface.IGame.Player</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a9090dfebc7348b64bf16df760e1556fa">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af36ee9ebb4ae17e9260fa441d52fbf29" name="af36ee9ebb4ae17e9260fa441d52fbf29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af36ee9ebb4ae17e9260fa441d52fbf29">&#9670;&#160;</a></span>PokemonEncounters</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_encounters.cshtml">PokemonEssentials.Interface.Field.IEncounters</a> PokemonEssentials.Interface.IGame.PokemonEncounters</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a5bdec4bd5edeca50459fda4eb9bd80a8">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a71543fcbdcc3dacb5c43cd366f0befbf" name="a71543fcbdcc3dacb5c43cd366f0befbf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71543fcbdcc3dacb5c43cd366f0befbf">&#9670;&#160;</a></span>PokemonMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a> PokemonEssentials.Interface.IGame.PokemonMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#abfd36a800208bb0a11d95077ebd37686">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a542cf8df4c1dd3db3d4bf65591a20f52" name="a542cf8df4c1dd3db3d4bf65591a20f52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a542cf8df4c1dd3db3d4bf65591a20f52">&#9670;&#160;</a></span>PokemonStorage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a> PokemonEssentials.Interface.IGame.PokemonStorage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a86366e3fdab1484b57e07d64432b929d">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="add7991b838863522858fa5d802eba50a" name="add7991b838863522858fa5d802eba50a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add7991b838863522858fa5d802eba50a">&#9670;&#160;</a></span>PokemonSystem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_system_option.cshtml">PokemonEssentials.Interface.Screen.IPokemonSystemOption</a> PokemonEssentials.Interface.IGame.PokemonSystem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a08367a79399e79876153f5fbf3799428">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a3cfbce6673f49c13457609d9e9d5120c" name="a3cfbce6673f49c13457609d9e9d5120c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3cfbce6673f49c13457609d9e9d5120c">&#9670;&#160;</a></span>PokemonTemp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml">PokemonEssentials.Interface.Field.ITempMetadata</a> PokemonEssentials.Interface.IGame.PokemonTemp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a26c07f2282abb7cd2036d6541e92f71a">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5233af03a3d1a4910f0ef83ab666f5a3" name="a5233af03a3d1a4910f0ef83ab666f5a3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5233af03a3d1a4910f0ef83ab666f5a3">&#9670;&#160;</a></span>Scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">PokemonEssentials.Interface.ISceneMap</a> PokemonEssentials.Interface.IGame.Scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#acc58d38a6239d68cc6a33d84b98053ae">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a7942665ae0a9748384238d65ecffe475" name="a7942665ae0a9748384238d65ecffe475"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7942665ae0a9748384238d65ecffe475">&#9670;&#160;</a></span>Scenes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_scenes_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScenesUI</a> PokemonEssentials.Interface.IGame.Scenes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a92c5631d5720b10c9d677c3c2f794516">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="aba281b87ffba5e7f79d29ca237d85394" name="aba281b87ffba5e7f79d29ca237d85394"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba281b87ffba5e7f79d29ca237d85394">&#9670;&#160;</a></span>Screens</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_screens_u_i.cshtml">PokemonEssentials.Interface.Screen.IGameScreensUI</a> PokemonEssentials.Interface.IGame.Screens</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aefbc7c05c9b0db72eb2091136b82984e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a228268df404baf8a71833cfd092b341a" name="a228268df404baf8a71833cfd092b341a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a228268df404baf8a71833cfd092b341a">&#9670;&#160;</a></span>Trainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">PokemonEssentials.Interface.PokeBattle.ITrainer</a> PokemonEssentials.Interface.IGame.Trainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae67cb64ed97cafc4b81411b3f18e3682">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>

