@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml">IInterpreterAutoscroll</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterAutoscroll Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml">PokemonEssentials.Interface.IInterpreterAutoscroll</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#a07e3549f559fed88589aa1d61b3a1b8a">autoscroll</a>(float x, float y, int speed=Core.SCROLL_SPEED_DEFAULT)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml">PokemonEssentials.Interface.IInterpreterAutoscroll</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml#adff4db02f6a8019dc1ef888aa73dd107">autoscroll_player</a>(int speed=Core.SCROLL_SPEED_DEFAULT)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_autoscroll.cshtml">PokemonEssentials.Interface.IInterpreterAutoscroll</a></td><td class="entry"></td></tr>
</table>
