@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml">IGamePokeball</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGamePokeball Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml">PokemonEssentials.Interface.Item.IGamePokeball</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml#a468cefe4cf8548eb517d92a21c209d20">BallTypes</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml">PokemonEssentials.Interface.Item.IGamePokeball</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml#a0318c902f7f0c410c2da58a6af3edcf8">BallTypeToBall</a>(int balltype)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml">PokemonEssentials.Interface.Item.IGamePokeball</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml#ae0eba60cd86d52128fc47b0f2506e18c">GetBallType</a>(Items ball)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_game_pokeball.cshtml">PokemonEssentials.Interface.Item.IGamePokeball</a></td><td class="entry"></td></tr>
</table>
