@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IPokemonStorage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonStorage Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonStorage:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonStorage_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonStorage_map" name="PokemonEssentials.Interface.Screen.IPokemonStorage_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonStorageWithParty" shape="rect" coords="0,56,374,80"/>
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml" alt="PokemonUnity.Character.PokemonStorage" shape="rect" coords="384,56,758,80"/>
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml" alt="PokemonUnity.Character.PokemonStorageWithParty" shape="rect" coords="0,112,374,136"/>
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml" alt="PokemonUnity.Character.PokemonStorageWithParty" shape="rect" coords="384,112,758,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9f07018541bdcfd5744c1fb7cea8585b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a9f07018541bdcfd5744c1fb7cea8585b">initialize</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a>=Core.STORAGEBOXES, int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a>=30)</td></tr>
<tr class="separator:a9f07018541bdcfd5744c1fb7cea8585b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c947fe1a6a6dd29dd8419a6985cde8f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8c947fe1a6a6dd29dd8419a6985cde8f">maxPokemon</a> (int box)</td></tr>
<tr class="separator:a8c947fe1a6a6dd29dd8419a6985cde8f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a69f6db13d8d4b5d56d0eeb4a64e594fb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a69f6db13d8d4b5d56d0eeb4a64e594fb">pbFirstFreePos</a> (int box)</td></tr>
<tr class="separator:a69f6db13d8d4b5d56d0eeb4a64e594fb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c8e19efd97399e5eaa9967acfd317c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a25c8e19efd97399e5eaa9967acfd317c">pbCopy</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a25c8e19efd97399e5eaa9967acfd317c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b7193b33119f3c1d5009b7773aa1d86"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3b7193b33119f3c1d5009b7773aa1d86">pbMove</a> (int boxDst, int indexDst, int boxSrc, int indexSrc)</td></tr>
<tr class="separator:a3b7193b33119f3c1d5009b7773aa1d86"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b5d2cfdd183b2d85b2b859150a01dc3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a8b5d2cfdd183b2d85b2b859150a01dc3">pbMoveCaughtToParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a8b5d2cfdd183b2d85b2b859150a01dc3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5fea2de9155b57f5c4457a6a840f6e2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab5fea2de9155b57f5c4457a6a840f6e2">pbMoveCaughtToBox</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, int box)</td></tr>
<tr class="separator:ab5fea2de9155b57f5c4457a6a840f6e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08f331ed2ef575c90571cb9bd975c749"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a08f331ed2ef575c90571cb9bd975c749">pbStoreCaught</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn)</td></tr>
<tr class="separator:a08f331ed2ef575c90571cb9bd975c749"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab68b70597e9ef0730a412d0be881640e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#ab68b70597e9ef0730a412d0be881640e">pbDelete</a> (int box, int index)</td></tr>
<tr class="separator:ab68b70597e9ef0730a412d0be881640e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3e0828153d15524740e714c061487ef1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a3e0828153d15524740e714c061487ef1">boxes</a><code> [get]</code></td></tr>
<tr class="separator:a3e0828153d15524740e714c061487ef1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a954b5e31cbecc563008fcd99b976b45d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a954b5e31cbecc563008fcd99b976b45d">currentBox</a><code> [get, set]</code></td></tr>
<tr class="separator:a954b5e31cbecc563008fcd99b976b45d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57164220ab80eae504390644886a2d75"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a57164220ab80eae504390644886a2d75">maxBoxes</a><code> [get]</code></td></tr>
<tr class="separator:a57164220ab80eae504390644886a2d75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0058fa6da8391d54574c9c477b00cfdb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a0058fa6da8391d54574c9c477b00cfdb">party</a><code> [get]</code></td></tr>
<tr class="separator:a0058fa6da8391d54574c9c477b00cfdb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af23b767fdc9d55dc1cc4dd608c5cf39f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#af23b767fdc9d55dc1cc4dd608c5cf39f">this[int x]</a><code> [get]</code></td></tr>
<tr class="separator:af23b767fdc9d55dc1cc4dd608c5cf39f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7eb7444d1712928614a2b283e007057f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a7eb7444d1712928614a2b283e007057f">this[int x, int y]</a><code> [get, set]</code></td></tr>
<tr class="separator:a7eb7444d1712928614a2b283e007057f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a144344ba92e12f3384c4f25793b3d0b7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml#a144344ba92e12f3384c4f25793b3d0b7">full</a><code> [get]</code></td></tr>
<tr class="separator:a144344ba92e12f3384c4f25793b3d0b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a9f07018541bdcfd5744c1fb7cea8585b" name="a9f07018541bdcfd5744c1fb7cea8585b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f07018541bdcfd5744c1fb7cea8585b">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a> PokemonEssentials.Interface.Screen.IPokemonStorage.initialize </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxBoxes</em> = <code>Core.STORAGEBOXES</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxPokemon</em> = <code>30</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a8aba3115502aafd3815fd720ea346126">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a8c947fe1a6a6dd29dd8419a6985cde8f" name="a8c947fe1a6a6dd29dd8419a6985cde8f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c947fe1a6a6dd29dd8419a6985cde8f">&#9670;&#160;</a></span>maxPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorage.maxPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a98367734239c454808705aaa84f37dd2">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a25c8e19efd97399e5eaa9967acfd317c" name="a25c8e19efd97399e5eaa9967acfd317c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25c8e19efd97399e5eaa9967acfd317c">&#9670;&#160;</a></span>pbCopy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorage.pbCopy </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxSrc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexSrc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a5ef9733d38001a021d8bf7cb0a590fdb">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="ab68b70597e9ef0730a412d0be881640e" name="ab68b70597e9ef0730a412d0be881640e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab68b70597e9ef0730a412d0be881640e">&#9670;&#160;</a></span>pbDelete()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorage.pbDelete </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a0a1218d7c321c1377bcd2eb8fdf43867">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a69f6db13d8d4b5d56d0eeb4a64e594fb" name="a69f6db13d8d4b5d56d0eeb4a64e594fb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69f6db13d8d4b5d56d0eeb4a64e594fb">&#9670;&#160;</a></span>pbFirstFreePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorage.pbFirstFreePos </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#ac382e3de571691b69a9a0ad47ec01458">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a3b7193b33119f3c1d5009b7773aa1d86" name="a3b7193b33119f3c1d5009b7773aa1d86"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b7193b33119f3c1d5009b7773aa1d86">&#9670;&#160;</a></span>pbMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorage.pbMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexDst</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>boxSrc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>indexSrc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a6eecd388e6dddef87dcd6a80ddf6c4f9">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="ab5fea2de9155b57f5c4457a6a840f6e2" name="ab5fea2de9155b57f5c4457a6a840f6e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5fea2de9155b57f5c4457a6a840f6e2">&#9670;&#160;</a></span>pbMoveCaughtToBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorage.pbMoveCaughtToBox </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b5d2cfdd183b2d85b2b859150a01dc3" name="a8b5d2cfdd183b2d85b2b859150a01dc3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b5d2cfdd183b2d85b2b859150a01dc3">&#9670;&#160;</a></span>pbMoveCaughtToParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorage.pbMoveCaughtToParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a08f331ed2ef575c90571cb9bd975c749" name="a08f331ed2ef575c90571cb9bd975c749"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08f331ed2ef575c90571cb9bd975c749">&#9670;&#160;</a></span>pbStoreCaught()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorage.pbStoreCaught </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3e0828153d15524740e714c061487ef1" name="a3e0828153d15524740e714c061487ef1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e0828153d15524740e714c061487ef1">&#9670;&#160;</a></span>boxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> [] PokemonEssentials.Interface.Screen.IPokemonStorage.boxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#ab8877cf0d0ba8fa121b51d529652c884">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a954b5e31cbecc563008fcd99b976b45d" name="a954b5e31cbecc563008fcd99b976b45d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a954b5e31cbecc563008fcd99b976b45d">&#9670;&#160;</a></span>currentBox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorage.currentBox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#af902792f5fb0e0ec54e11d9544aa05e3">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a144344ba92e12f3384c4f25793b3d0b7" name="a144344ba92e12f3384c4f25793b3d0b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a144344ba92e12f3384c4f25793b3d0b7">&#9670;&#160;</a></span>full</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorage.full</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a57a8cf997f282f29c0e2ac3ae7baeeed">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a57164220ab80eae504390644886a2d75" name="a57164220ab80eae504390644886a2d75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a57164220ab80eae504390644886a2d75">&#9670;&#160;</a></span>maxBoxes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorage.maxBoxes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a70fecc22150b28c0fea4f4ab4de1d690">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="a0058fa6da8391d54574c9c477b00cfdb" name="a0058fa6da8391d54574c9c477b00cfdb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0058fa6da8391d54574c9c477b00cfdb">&#9670;&#160;</a></span>party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> [] PokemonEssentials.Interface.Screen.IPokemonStorage.party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a96b0c1552a74b2bb2301cbd4f6ca5cb4">PokemonUnity.Character.PokemonStorage</a>, <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml#a05e1e88fe9f1bd0e83493ccbf323f80f">PokemonUnity.Character.PokemonStorageWithParty</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_with_party.cshtml#a8d882f0bd04ae73e12cfa6e799482547">PokemonEssentials.Interface.Screen.IPokemonStorageWithParty</a>.</p>

</div>
</div>
<a id="a7eb7444d1712928614a2b283e007057f" name="a7eb7444d1712928614a2b283e007057f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7eb7444d1712928614a2b283e007057f">&#9670;&#160;</a></span>this[int x, int y]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Screen.IPokemonStorage.this[int x, int y]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a04eea9bda496b825259fddb7aba76cf9">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<a id="af23b767fdc9d55dc1cc4dd608c5cf39f" name="af23b767fdc9d55dc1cc4dd608c5cf39f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af23b767fdc9d55dc1cc4dd608c5cf39f">&#9670;&#160;</a></span>this[int x]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> PokemonEssentials.Interface.Screen.IPokemonStorage.this[int x]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml#a906f48e39352b919e741b1b72a21332d">PokemonUnity.Character.PokemonStorage</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
