@{
	Page.Title = "PokemonEssentials.Interface.Battle.IGameEventOrgBattle Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml">IGameEventOrgBattle</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameEventOrgBattle Interface Reference</div></div>
}


<p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa244fb2727c1bbc1624baeebda5c5a2d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_event_org_battle.cshtml#aa244fb2727c1bbc1624baeebda5c5a2d">pbInChallenge</a><code> [get]</code></td></tr>
<tr class="separator:aa244fb2727c1bbc1624baeebda5c5a2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml">IGameEvent</a></dd></dl>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="aa244fb2727c1bbc1624baeebda5c5a2d" name="aa244fb2727c1bbc1624baeebda5c5a2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa244fb2727c1bbc1624baeebda5c5a2d">&#9670;&#160;</a></span>pbInChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameEventOrgBattle.pbInChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
