@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml">IEffectsField</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField Interface Reference</div></div>
}


<p>These effects apply to the battle (i.e. both sides)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.png" usemap="#PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField_map" name="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField_map">
<area href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml" title="These effects apply to the battle (i.e. both sides)" alt="PokemonUnity.Combat.Effects.Field" shape="rect" coords="0,56,353,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2b65d7937ee8dee699e7efc2cf7371db"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a2b65d7937ee8dee699e7efc2cf7371db">ElectricTerrain</a><code> [get, set]</code></td></tr>
<tr class="separator:a2b65d7937ee8dee699e7efc2cf7371db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a726fc56522033b52542b1c23595fd050"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a726fc56522033b52542b1c23595fd050">FairyLock</a><code> [get, set]</code></td></tr>
<tr class="separator:a726fc56522033b52542b1c23595fd050"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65822a8a3d584167c9b29e267b4a2391"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a65822a8a3d584167c9b29e267b4a2391">FusionBolt</a><code> [get, set]</code></td></tr>
<tr class="separator:a65822a8a3d584167c9b29e267b4a2391"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f7d54c2d972d8a7cb9449e1216ada5f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a8f7d54c2d972d8a7cb9449e1216ada5f">FusionFlare</a><code> [get, set]</code></td></tr>
<tr class="separator:a8f7d54c2d972d8a7cb9449e1216ada5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bc099c1b498ad1b238976e5c161f7d1"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a1bc099c1b498ad1b238976e5c161f7d1">GrassyTerrain</a><code> [get, set]</code></td></tr>
<tr class="separator:a1bc099c1b498ad1b238976e5c161f7d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a079b1f451bd6f90586c37cbd9fec3ab3"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a079b1f451bd6f90586c37cbd9fec3ab3">Gravity</a><code> [get, set]</code></td></tr>
<tr class="separator:a079b1f451bd6f90586c37cbd9fec3ab3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a978160a7db2d025a8fedba65a67b2c7a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a978160a7db2d025a8fedba65a67b2c7a">IonDeluge</a><code> [get, set]</code></td></tr>
<tr class="separator:a978160a7db2d025a8fedba65a67b2c7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afde39e817b084ebbafb3d98ca873c49c"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#afde39e817b084ebbafb3d98ca873c49c">MagicRoom</a><code> [get, set]</code></td></tr>
<tr class="separator:afde39e817b084ebbafb3d98ca873c49c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e8f07e9ed0c4f602b2c48319d2303ed"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a8e8f07e9ed0c4f602b2c48319d2303ed">MistyTerrain</a><code> [get, set]</code></td></tr>
<tr class="separator:a8e8f07e9ed0c4f602b2c48319d2303ed"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9f39b4e8033295813ddb3eda3479da6"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#ac9f39b4e8033295813ddb3eda3479da6">MudSportField</a><code> [get, set]</code></td></tr>
<tr class="separator:ac9f39b4e8033295813ddb3eda3479da6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a677204c150fd7f8fcadccdbfcb102d46"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a677204c150fd7f8fcadccdbfcb102d46">TrickRoom</a><code> [get, set]</code></td></tr>
<tr class="separator:a677204c150fd7f8fcadccdbfcb102d46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac4ba159e66f22bb74dd04ab7668a666b"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#ac4ba159e66f22bb74dd04ab7668a666b">WaterSportField</a><code> [get, set]</code></td></tr>
<tr class="separator:ac4ba159e66f22bb74dd04ab7668a666b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e81c372fe6346559e0247c47d06b5df"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_field.cshtml#a4e81c372fe6346559e0247c47d06b5df">WonderRoom</a><code> [get, set]</code></td></tr>
<tr class="separator:a4e81c372fe6346559e0247c47d06b5df"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >These effects apply to the battle (i.e. both sides)  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a2b65d7937ee8dee699e7efc2cf7371db" name="a2b65d7937ee8dee699e7efc2cf7371db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b65d7937ee8dee699e7efc2cf7371db">&#9670;&#160;</a></span>ElectricTerrain</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.ElectricTerrain</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a4c627cd91aae9299b1041212259e14af">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a726fc56522033b52542b1c23595fd050" name="a726fc56522033b52542b1c23595fd050"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a726fc56522033b52542b1c23595fd050">&#9670;&#160;</a></span>FairyLock</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.FairyLock</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a785746546ef5d9c1a5d16f7164bd081c">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a65822a8a3d584167c9b29e267b4a2391" name="a65822a8a3d584167c9b29e267b4a2391"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65822a8a3d584167c9b29e267b4a2391">&#9670;&#160;</a></span>FusionBolt</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.FusionBolt</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a5b9547fae15680b85602120ffb0a7b66">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a8f7d54c2d972d8a7cb9449e1216ada5f" name="a8f7d54c2d972d8a7cb9449e1216ada5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f7d54c2d972d8a7cb9449e1216ada5f">&#9670;&#160;</a></span>FusionFlare</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.FusionFlare</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#abcc0ff69246333fc6cb4d5b38cd8ef0e">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a1bc099c1b498ad1b238976e5c161f7d1" name="a1bc099c1b498ad1b238976e5c161f7d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bc099c1b498ad1b238976e5c161f7d1">&#9670;&#160;</a></span>GrassyTerrain</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.GrassyTerrain</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#ab706c18a4b95495350d592e5f3bc2678">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a079b1f451bd6f90586c37cbd9fec3ab3" name="a079b1f451bd6f90586c37cbd9fec3ab3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a079b1f451bd6f90586c37cbd9fec3ab3">&#9670;&#160;</a></span>Gravity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.Gravity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a8afa7120dc7a88607cfbb09f28c2c87a">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a978160a7db2d025a8fedba65a67b2c7a" name="a978160a7db2d025a8fedba65a67b2c7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a978160a7db2d025a8fedba65a67b2c7a">&#9670;&#160;</a></span>IonDeluge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.IonDeluge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#acc516c61426912a634380d58c944b829">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="afde39e817b084ebbafb3d98ca873c49c" name="afde39e817b084ebbafb3d98ca873c49c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afde39e817b084ebbafb3d98ca873c49c">&#9670;&#160;</a></span>MagicRoom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.MagicRoom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#aaf3bba513e8220117e57df87b35907d1">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a8e8f07e9ed0c4f602b2c48319d2303ed" name="a8e8f07e9ed0c4f602b2c48319d2303ed"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e8f07e9ed0c4f602b2c48319d2303ed">&#9670;&#160;</a></span>MistyTerrain</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.MistyTerrain</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a72f998394fc534732e672803c0ec4526">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="ac9f39b4e8033295813ddb3eda3479da6" name="ac9f39b4e8033295813ddb3eda3479da6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9f39b4e8033295813ddb3eda3479da6">&#9670;&#160;</a></span>MudSportField</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.MudSportField</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a31a77dcd261c61b44ce043f4762cc4c7">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a677204c150fd7f8fcadccdbfcb102d46" name="a677204c150fd7f8fcadccdbfcb102d46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a677204c150fd7f8fcadccdbfcb102d46">&#9670;&#160;</a></span>TrickRoom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.TrickRoom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#af9b89e46402b1515772e00df7ffa33c0">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="ac4ba159e66f22bb74dd04ab7668a666b" name="ac4ba159e66f22bb74dd04ab7668a666b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4ba159e66f22bb74dd04ab7668a666b">&#9670;&#160;</a></span>WaterSportField</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.WaterSportField</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a2d82868d50fe40c02a0988c26c1a5031">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<a id="a4e81c372fe6346559e0247c47d06b5df" name="a4e81c372fe6346559e0247c47d06b5df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4e81c372fe6346559e0247c47d06b5df">&#9670;&#160;</a></span>WonderRoom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonEssentials.Interface.PokeBattle.Effects.IEffectsField.WonderRoom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_field.cshtml#a2db694c0e969d0dd59b56dcad8d3e3f0">PokemonUnity.Combat.Effects.Field</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/Effects/<a class="el" href="_i_effects_field_8cs.cshtml">IEffectsField.cs</a></li>
</ul>
