@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">IGameBugContest</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameBugContest Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a77776138365ea8a20965de20228847bd">pbBugContestBattle</a>(Pokemons species, int level)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#af932720534e542129413a3aee31b5b04">pbBugContestDecided</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a59a6cc7538e9ecee040957ccbe6c3a48">pbBugContestScore</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a4c43e9be7518b27cf578f81f47560e62">pbBugContestStartOver</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#ae98d92532434732934665604385a769b">pbBugContestState</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a8a31ce7c725aaba24ca90bbd84606dd1">pbBugContestUndecided</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a24273deb49e0fa0e91688cb2b241bbc4">pbInBugContest</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">PokemonEssentials.Interface.Battle.IGameBugContest</a></td><td class="entry"></td></tr>
</table>