@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml">IEffectsMove</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove Interface Reference</div></div>
}


<p>These effects apply to the usage of a move   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.png" usemap="#PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove_map" name="PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove_map">
<area href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml" title="These effects apply to the usage of a move" alt="PokemonUnity.Combat.Effects.Move" shape="rect" coords="0,56,357,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a8c668ff00d66cececa58fc2ac4c4bf17"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a8c668ff00d66cececa58fc2ac4c4bf17">SkipAccuracyCheck</a><code> [get, set]</code></td></tr>
<tr class="separator:a8c668ff00d66cececa58fc2ac4c4bf17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bab6104f30765067a19603214cfc2c0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a1bab6104f30765067a19603214cfc2c0">SpecialUsage</a><code> [get, set]</code></td></tr>
<tr class="separator:a1bab6104f30765067a19603214cfc2c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab493da267626ed021ceb87b6ba9fab9c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#ab493da267626ed021ceb87b6ba9fab9c">PassedTrying</a><code> [get, set]</code></td></tr>
<tr class="separator:ab493da267626ed021ceb87b6ba9fab9c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c895573efcefe1608814f5e99842a1a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_effects_move.cshtml#a3c895573efcefe1608814f5e99842a1a">TotalDamage</a><code> [get, set]</code></td></tr>
<tr class="separator:a3c895573efcefe1608814f5e99842a1a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >These effects apply to the usage of a move  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="ab493da267626ed021ceb87b6ba9fab9c" name="ab493da267626ed021ceb87b6ba9fab9c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab493da267626ed021ceb87b6ba9fab9c">&#9670;&#160;</a></span>PassedTrying</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove.PassedTrying</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a34be9747cb834ccc74af661b764fd0c2">PokemonUnity.Combat.Effects.Move</a>.</p>

</div>
</div>
<a id="a8c668ff00d66cececa58fc2ac4c4bf17" name="a8c668ff00d66cececa58fc2ac4c4bf17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c668ff00d66cececa58fc2ac4c4bf17">&#9670;&#160;</a></span>SkipAccuracyCheck</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove.SkipAccuracyCheck</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a4362b55dd6c0bd4fd8e198ac9b34d11d">PokemonUnity.Combat.Effects.Move</a>.</p>

</div>
</div>
<a id="a1bab6104f30765067a19603214cfc2c0" name="a1bab6104f30765067a19603214cfc2c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bab6104f30765067a19603214cfc2c0">&#9670;&#160;</a></span>SpecialUsage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove.SpecialUsage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#a217e83b1c6c4faa480c348a244327c01">PokemonUnity.Combat.Effects.Move</a>.</p>

</div>
</div>
<a id="a3c895573efcefe1608814f5e99842a1a" name="a3c895573efcefe1608814f5e99842a1a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c895573efcefe1608814f5e99842a1a">&#9670;&#160;</a></span>TotalDamage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.Effects.IEffectsMove.TotalDamage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_effects_1_1_move.cshtml#ac77cc94e7bc075179ac200fb9490018f">PokemonUnity.Combat.Effects.Move</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/Effects/<a class="el" href="_i_effects_move_8cs.cshtml">IEffectsMove.cs</a></li>
</ul>
