@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IDayNight Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">IDayNight</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDayNight Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5a0b1195c812dfc3b40ba93f29f1b77b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a5a0b1195c812dfc3b40ba93f29f1b77b">isDay</a> (DateTime? @time=null)</td></tr>
<tr class="memdesc:a5a0b1195c812dfc3b40ba93f29f1b77b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if it's day.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a5a0b1195c812dfc3b40ba93f29f1b77b">More...</a><br /></td></tr>
<tr class="separator:a5a0b1195c812dfc3b40ba93f29f1b77b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0c9478f3c9902807df39a5267ad622c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#aa0c9478f3c9902807df39a5267ad622c">isNight</a> (DateTime? @time=null)</td></tr>
<tr class="memdesc:aa0c9478f3c9902807df39a5267ad622c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if it's night.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#aa0c9478f3c9902807df39a5267ad622c">More...</a><br /></td></tr>
<tr class="separator:aa0c9478f3c9902807df39a5267ad622c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac79cc022073dc0c3b1b0adfb33f81049"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#ac79cc022073dc0c3b1b0adfb33f81049">isMorning</a> (DateTime? @time=null)</td></tr>
<tr class="memdesc:ac79cc022073dc0c3b1b0adfb33f81049"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if it's morning.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#ac79cc022073dc0c3b1b0adfb33f81049">More...</a><br /></td></tr>
<tr class="separator:ac79cc022073dc0c3b1b0adfb33f81049"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1cf0b1ff87d9fc0ec836221bb0bf3123"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1cf0b1ff87d9fc0ec836221bb0bf3123">isAfternoon</a> (DateTime? @time=null)</td></tr>
<tr class="memdesc:a1cf0b1ff87d9fc0ec836221bb0bf3123"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if it's the afternoon.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1cf0b1ff87d9fc0ec836221bb0bf3123">More...</a><br /></td></tr>
<tr class="separator:a1cf0b1ff87d9fc0ec836221bb0bf3123"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74c3d4dbe9ab075b4e4a30a6a715536f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a74c3d4dbe9ab075b4e4a30a6a715536f">isEvening</a> (DateTime? @time=null)</td></tr>
<tr class="memdesc:a74c3d4dbe9ab075b4e4a30a6a715536f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if it's the evening.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a74c3d4dbe9ab075b4e4a30a6a715536f">More...</a><br /></td></tr>
<tr class="separator:a74c3d4dbe9ab075b4e4a30a6a715536f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1639fbfcb7877f5512f1d79a63e164c1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1639fbfcb7877f5512f1d79a63e164c1">getShade</a> ()</td></tr>
<tr class="memdesc:a1639fbfcb7877f5512f1d79a63e164c1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets a number representing the amount of daylight (0=full night, 255=full day).   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1639fbfcb7877f5512f1d79a63e164c1">More...</a><br /></td></tr>
<tr class="separator:a1639fbfcb7877f5512f1d79a63e164c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abb267d9483f1fe88a7f2ad870d509af9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#abb267d9483f1fe88a7f2ad870d509af9">getTone</a> ()</td></tr>
<tr class="memdesc:abb267d9483f1fe88a7f2ad870d509af9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets a Tone object representing a suggested shading tone for the current time of day.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#abb267d9483f1fe88a7f2ad870d509af9">More...</a><br /></td></tr>
<tr class="separator:abb267d9483f1fe88a7f2ad870d509af9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9330ea13a11e27abfb0759b878b7f2bf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a9330ea13a11e27abfb0759b878b7f2bf">pbGetDayNightMinutes</a> ()</td></tr>
<tr class="separator:a9330ea13a11e27abfb0759b878b7f2bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa114d4fe8fac32907b71c224ca19853f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#aa114d4fe8fac32907b71c224ca19853f">HourlyTones</a><code> [get]</code></td></tr>
<tr class="separator:aa114d4fe8fac32907b71c224ca19853f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c46868d026edc78130ee431bfa3c902"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a0c46868d026edc78130ee431bfa3c902">cachedTone</a><code> [get]</code></td></tr>
<tr class="separator:a0c46868d026edc78130ee431bfa3c902"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a857b35c01b138a554a0f10d3390e0be2"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a857b35c01b138a554a0f10d3390e0be2">dayNightToneLastUpdate</a><code> [get]</code></td></tr>
<tr class="separator:a857b35c01b138a554a0f10d3390e0be2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c3124578876b4ceb251dc375f052697"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a4c3124578876b4ceb251dc375f052697">oneOverSixty</a><code> [get]</code></td></tr>
<tr class="separator:a4c3124578876b4ceb251dc375f052697"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1639fbfcb7877f5512f1d79a63e164c1" name="a1639fbfcb7877f5512f1d79a63e164c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1639fbfcb7877f5512f1d79a63e164c1">&#9670;&#160;</a></span>getShade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayNight.getShade </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets a number representing the amount of daylight (0=full night, 255=full day).  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="abb267d9483f1fe88a7f2ad870d509af9" name="abb267d9483f1fe88a7f2ad870d509af9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abb267d9483f1fe88a7f2ad870d509af9">&#9670;&#160;</a></span>getTone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.Field.IDayNight.getTone </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets a Tone object representing a suggested shading tone for the current time of day.  </p>

</div>
</div>
<a id="a1cf0b1ff87d9fc0ec836221bb0bf3123" name="a1cf0b1ff87d9fc0ec836221bb0bf3123"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1cf0b1ff87d9fc0ec836221bb0bf3123">&#9670;&#160;</a></span>isAfternoon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayNight.isAfternoon </td>
          <td>(</td>
          <td class="paramtype">DateTime? @&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns true if it's the afternoon.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a5a0b1195c812dfc3b40ba93f29f1b77b" name="a5a0b1195c812dfc3b40ba93f29f1b77b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a0b1195c812dfc3b40ba93f29f1b77b">&#9670;&#160;</a></span>isDay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayNight.isDay </td>
          <td>(</td>
          <td class="paramtype">DateTime? @&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns true if it's day.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a74c3d4dbe9ab075b4e4a30a6a715536f" name="a74c3d4dbe9ab075b4e4a30a6a715536f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74c3d4dbe9ab075b4e4a30a6a715536f">&#9670;&#160;</a></span>isEvening()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayNight.isEvening </td>
          <td>(</td>
          <td class="paramtype">DateTime? @&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns true if it's the evening.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="ac79cc022073dc0c3b1b0adfb33f81049" name="ac79cc022073dc0c3b1b0adfb33f81049"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac79cc022073dc0c3b1b0adfb33f81049">&#9670;&#160;</a></span>isMorning()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayNight.isMorning </td>
          <td>(</td>
          <td class="paramtype">DateTime? @&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns true if it's morning.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="aa0c9478f3c9902807df39a5267ad622c" name="aa0c9478f3c9902807df39a5267ad622c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0c9478f3c9902807df39a5267ad622c">&#9670;&#160;</a></span>isNight()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IDayNight.isNight </td>
          <td>(</td>
          <td class="paramtype">DateTime? @&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns true if it's night.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a9330ea13a11e27abfb0759b878b7f2bf" name="a9330ea13a11e27abfb0759b878b7f2bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9330ea13a11e27abfb0759b878b7f2bf">&#9670;&#160;</a></span>pbGetDayNightMinutes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDayNight.pbGetDayNightMinutes </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0c46868d026edc78130ee431bfa3c902" name="a0c46868d026edc78130ee431bfa3c902"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0c46868d026edc78130ee431bfa3c902">&#9670;&#160;</a></span>cachedTone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> PokemonEssentials.Interface.Field.IDayNight.cachedTone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a857b35c01b138a554a0f10d3390e0be2" name="a857b35c01b138a554a0f10d3390e0be2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a857b35c01b138a554a0f10d3390e0be2">&#9670;&#160;</a></span>dayNightToneLastUpdate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.Field.IDayNight.dayNightToneLastUpdate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa114d4fe8fac32907b71c224ca19853f" name="aa114d4fe8fac32907b71c224ca19853f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa114d4fe8fac32907b71c224ca19853f">&#9670;&#160;</a></span>HourlyTones</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a> [] PokemonEssentials.Interface.Field.IDayNight.HourlyTones</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c3124578876b4ceb251dc375f052697" name="a4c3124578876b4ceb251dc375f052697"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c3124578876b4ceb251dc375f052697">&#9670;&#160;</a></span>oneOverSixty</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.IDayNight.oneOverSixty</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_time_8cs.cshtml">ITime.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
