@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml">IPlaneSpriteWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IPlaneSpriteWindow Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml">PokemonEssentials.Interface.IPlaneSpriteWindow</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml#ad41cbeb583d0d466fc46e533b95cea5d">refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml">PokemonEssentials.Interface.IPlaneSpriteWindow</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml#a1de36664a4fdad17c1a3f44c983c0cfd">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_plane_sprite_window.cshtml">PokemonEssentials.Interface.IPlaneSpriteWindow</a></td><td class="entry"></td></tr>
</table>