@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">IEventScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IEventScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a0bfe23737982dd1ea99ee27136582f58">addImage</a>(float x, float y, string name)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a39b01a578930a7b9be97f2f518005ae1">addLabel</a>(float x, float y, float width, string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#adeda265316ed969617320bf3d2ccfb27">disposed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#af022403fbfceefe0bd8b51ca4245fb65">getPicture</a>(int num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#ad1bd4b2b3593d861e70de298963f55ba">initialize</a>(IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#aae06059928f3892b083510e2ca0774ff">main</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7ca7d0b8016eebb2e8874da43ae4428b">onATrigger</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a099380f70b04a582870bdb048ff5ca57">onBTrigger</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a4fb2daca31738cf3873fa55763a2ceaf">onUpdate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a7f4948d46b51f4f08294858bf990412c">pictureWait</a>(int extraframes=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a2e46d3a11b469a9d083bbda5b1b976e4">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml#a3d848b0529165f0640562a9283aea5d0">wait</a>(int frames)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_event_scene.cshtml">PokemonEssentials.Interface.Screen.IEventScene</a></td><td class="entry"></td></tr>
</table>
