@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">IBattleUseOnPokemonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs_map" name="PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,416,24"/>
<area href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml" alt="PokemonUnity.BattleUseOnPokemonEventArgs" shape="rect" coords="0,112,416,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2e1920f90a6ced8d68185c67b5b204d0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a2e1920f90a6ced8d68185c67b5b204d0">Item</a> <code>[get, set]</code></td></tr>
<tr class="separator:a2e1920f90a6ced8d68185c67b5b204d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a782b74c976aa76fc221d87b2344de9df"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a782b74c976aa76fc221d87b2344de9df">Pokemon</a> <code>[get, set]</code></td></tr>
<tr class="separator:a782b74c976aa76fc221d87b2344de9df"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7b4a4b19001d1edb892bb558c90ed38"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#ab7b4a4b19001d1edb892bb558c90ed38">Battler</a> <code>[get, set]</code></td></tr>
<tr class="separator:ab7b4a4b19001d1edb892bb558c90ed38"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a60427a8365fc51423a1c0701a096e508"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a60427a8365fc51423a1c0701a096e508">Scene</a> <code>[get, set]</code></td></tr>
<tr class="separator:a60427a8365fc51423a1c0701a096e508"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad740b62aa384b02981d6dcacbf3b2dec"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#ad740b62aa384b02981d6dcacbf3b2dec">Response</a> <code>[get, set]</code></td></tr>
<tr class="separator:ad740b62aa384b02981d6dcacbf3b2dec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a> <code>[get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab7b4a4b19001d1edb892bb558c90ed38" name="ab7b4a4b19001d1edb892bb558c90ed38"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7b4a4b19001d1edb892bb558c90ed38">&#9670;&#160;</a></span>Battler</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs.Battler</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#afea3c216f739fc578540828c7bb5536d">PokemonUnity.BattleUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a2e1920f90a6ced8d68185c67b5b204d0" name="a2e1920f90a6ced8d68185c67b5b204d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e1920f90a6ced8d68185c67b5b204d0">&#9670;&#160;</a></span>Item</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs.Item</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a5f7186b0a6a748b799226e8daff8a506">PokemonUnity.BattleUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a782b74c976aa76fc221d87b2344de9df" name="a782b74c976aa76fc221d87b2344de9df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a782b74c976aa76fc221d87b2344de9df">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a2dad50db179bf6844b64b06e82979f2b">PokemonUnity.BattleUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="ad740b62aa384b02981d6dcacbf3b2dec" name="ad740b62aa384b02981d6dcacbf3b2dec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad740b62aa384b02981d6dcacbf3b2dec">&#9670;&#160;</a></span>Response</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs.Response</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a4ac7ea0578c49e06c87940d41d648bad">PokemonUnity.BattleUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<a id="a60427a8365fc51423a1c0701a096e508" name="a60427a8365fc51423a1c0701a096e508"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a60427a8365fc51423a1c0701a096e508">&#9670;&#160;</a></span>Scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs.Scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_battle_use_on_pokemon_event_args.cshtml#a9784dce306f6e893a539457bce961be3">PokemonUnity.BattleUseOnPokemonEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_item_handlers_8cs.cshtml">IItemHandlers.cs</a></li>
</ul>

