@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">ISellAdapter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ISellAdapter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">PokemonEssentials.Interface.Screen.ISellAdapter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml#ab3d2c55e4d8b30f3362e25c7a0769741">getDisplayName</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">PokemonEssentials.Interface.Screen.ISellAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml#a637f7505ad64da3757a6c1c333bea719">getDisplayPrice</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">PokemonEssentials.Interface.Screen.ISellAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml#a46f966f0f614dd033abbd580197a120f">initialize</a>(IMartAdapter adapter)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">PokemonEssentials.Interface.Screen.ISellAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml#a22cf75abc509b8b7b7b37577f65bbae1">isSelling</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_sell_adapter.cshtml">PokemonEssentials.Interface.Screen.ISellAdapter</a></td><td class="entry"></td></tr>
</table>