@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml">IMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IMessage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml">PokemonEssentials.Interface.IMessage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml#a6f51210b0ba7fbe93d60d97a8569fdb7">background</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml">PokemonEssentials.Interface.IMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml#a39dfc7fa1860bde19d30f4b6307e1eeb">visible</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_message.cshtml">PokemonEssentials.Interface.IMessage</a></td><td class="entry"></td></tr>
</table>