@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IInput Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml">IInput</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_input-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInput Interface Reference</div></div>
}


<p>A module that handles input data from a gamepad or keyboard.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3d13c873ac0716cd60e19c4384c1c90c"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#a3d13c873ac0716cd60e19c4384c1c90c">update</a> ()</td></tr>
<tr class="memdesc:a3d13c873ac0716cd60e19c4384c1c90c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Updates input data. As a rule, this method is called once per frame.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#a3d13c873ac0716cd60e19c4384c1c90c">More...</a><br /></td></tr>
<tr class="separator:a3d13c873ac0716cd60e19c4384c1c90c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6bc0760a95932864db8f56b7cbaa85c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ac6bc0760a95932864db8f56b7cbaa85c">press</a> (<a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a> num)</td></tr>
<tr class="memdesc:ac6bc0760a95932864db8f56b7cbaa85c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Determines whether the button number is currently being pressed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ac6bc0760a95932864db8f56b7cbaa85c">More...</a><br /></td></tr>
<tr class="separator:ac6bc0760a95932864db8f56b7cbaa85c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab642aa39176ae14549151e8424c2ea58"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ab642aa39176ae14549151e8424c2ea58">trigger</a> (<a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a> num)</td></tr>
<tr class="memdesc:ab642aa39176ae14549151e8424c2ea58"><td class="mdescLeft">&#160;</td><td class="mdescRight">Determines whether the button number is being pressed again.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ab642aa39176ae14549151e8424c2ea58">More...</a><br /></td></tr>
<tr class="separator:ab642aa39176ae14549151e8424c2ea58"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac49620c567d545d6cc5f9cbea9827b1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#aac49620c567d545d6cc5f9cbea9827b1">repeat</a> (<a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a> num)</td></tr>
<tr class="memdesc:aac49620c567d545d6cc5f9cbea9827b1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Determines whether the button number is being pressed again.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#aac49620c567d545d6cc5f9cbea9827b1">More...</a><br /></td></tr>
<tr class="separator:aac49620c567d545d6cc5f9cbea9827b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >A module that handles input data from a gamepad or keyboard.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac6bc0760a95932864db8f56b7cbaa85c" name="ac6bc0760a95932864db8f56b7cbaa85c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6bc0760a95932864db8f56b7cbaa85c">&#9670;&#160;</a></span>press()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInput.press </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a>&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Determines whether the button number is currently being pressed.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">num</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>If the button is being pressed, returns TRUE.If not, returns FALSE.</dd></dl>

</div>
</div>
<a id="aac49620c567d545d6cc5f9cbea9827b1" name="aac49620c567d545d6cc5f9cbea9827b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac49620c567d545d6cc5f9cbea9827b1">&#9670;&#160;</a></span>repeat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInput.repeat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a>&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Determines whether the button number is being pressed again.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">num</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>If the button is being pressed, returns TRUE. If not, returns FALSE.</dd></dl>
<p >Unlike <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_input.cshtml#ab642aa39176ae14549151e8424c2ea58" title="Determines whether the button number is being pressed again.">trigger</a>, takes into account the repeat input of a button being held down continuously.</p>

</div>
</div>
<a id="ab642aa39176ae14549151e8424c2ea58" name="ab642aa39176ae14549151e8424c2ea58"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab642aa39176ae14549151e8424c2ea58">&#9670;&#160;</a></span>trigger()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInput.trigger </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a>&#160;</td>
          <td class="paramname"><em>num</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Determines whether the button number is being pressed again.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">num</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>If the button is being pressed, returns TRUE. If not, returns FALSE.</dd></dl>
<p >"Pressed again" is seen as time having passed between the button being not pressed and being pressed.</p>

</div>
</div>
<a id="a3d13c873ac0716cd60e19c4384c1c90c" name="a3d13c873ac0716cd60e19c4384c1c90c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d13c873ac0716cd60e19c4384c1c90c">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IInput.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Updates input data. As a rule, this method is called once per frame.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_engine_8cs.cshtml">IEngine.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
