@{
	Page.Title = "PokemonEssentials.Interface.Screen.IOptionScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.cshtml">IOptionScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IOptionScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IOptionScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.png" usemap="#PokemonEssentials.Interface.Screen.IOptionScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IOptionScreen_map" name="PokemonEssentials.Interface.Screen.IOptionScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,303,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a56ce76bc226e75afad36fe1394393498"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.cshtml">IOptionScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.cshtml#a56ce76bc226e75afad36fe1394393498">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_scene.cshtml">IOptionScene</a> scene)</td></tr>
<tr class="separator:a56ce76bc226e75afad36fe1394393498"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2149c37ce0a44f6b1f640983180dbe4a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.cshtml#a2149c37ce0a44f6b1f640983180dbe4a">pbStartScreen</a> (bool inloadscreen=false)</td></tr>
<tr class="separator:a2149c37ce0a44f6b1f640983180dbe4a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a56ce76bc226e75afad36fe1394393498" name="a56ce76bc226e75afad36fe1394393498"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a56ce76bc226e75afad36fe1394393498">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_screen.cshtml">IOptionScreen</a> PokemonEssentials.Interface.Screen.IOptionScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_scene.cshtml">IOptionScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2149c37ce0a44f6b1f640983180dbe4a" name="a2149c37ce0a44f6b1f640983180dbe4a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2149c37ce0a44f6b1f640983180dbe4a">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IOptionScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>inloadscreen</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>
