@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMartAdapter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a8248c20a437c8e6009d670fda054e4fb">addItem</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a2ac0cd7191996890c42d4d0316cf19d7">canSell</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#acbb7aa89797a21d3fb7d40c8b0604330">getDescription</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a99f405bb55f135528029974ae5c52fa8">getDisplayName</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a15bf448db523e1df5dc18a1d2c6ec15c">getDisplayPrice</a>(Items item, bool selling=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a782314a7747eda29602dca396d2b140a">getInventory</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a149eb0460264b75745818e3ea76a2ca8">getItemIcon</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a19003fe75f34da178c286f1181559a3f">getItemIconRect</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a25cd912921a98adbbd056a9c6dd8acdc">getMoney</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a5f15d7980276fa9ad7f1e39f17127bae">getName</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a62e42b01445dfcc53abfaf1efc038ab3">getPrice</a>(Items item, bool selling=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#afae9cc7f879f4b4e070810ba20f3e85f">getQuantity</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#ae885bee36d2b5b1a99b92f51aa0e7d18">removeItem</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a7050ef4665362e701b81a7d03477e748">setMoney</a>(int value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml#a38470f352c2c98ad4031bce6b56df585">showQuantity</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">PokemonEssentials.Interface.Screen.IMartAdapter</a></td><td class="entry"></td></tr>
</table>
