@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml">IPokeballSendOutAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation Interface Reference</div></div>
}


<p>Shows the enemy trainer(s)'s Pok&eacute;mon being thrown out. It appears at coords (@@spritex,@@spritey), and moves in y to @@endspritey where it stays for the rest of the battle, i.e. the latter is the more important value. Doesn't show the ball itself being thrown.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0a7f29ee666d7249f81161fa7c3e4ae4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml">IPokeballSendOutAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#a0a7f29ee666d7249f81161fa7c3e4ae4">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">IPokemonBattlerSprite</a> sprite, IDictionary&lt; string, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt; spritehash, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> pkmn, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> illusionpoke, bool doublebattle)</td></tr>
<tr class="separator:a0a7f29ee666d7249f81161fa7c3e4ae4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05ba8c90699bd2ffb839d7c7fe063f9b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#a05ba8c90699bd2ffb839d7c7fe063f9b">dispose</a> ()</td></tr>
<tr class="separator:a05ba8c90699bd2ffb839d7c7fe063f9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a84698fda4cbf1bc6e5bae8275905d8ac"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#a84698fda4cbf1bc6e5bae8275905d8ac">update</a> ()</td></tr>
<tr class="separator:a84698fda4cbf1bc6e5bae8275905d8ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad0ab3fb77d7e0e1aa675ed1c1f9a01e2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#ad0ab3fb77d7e0e1aa675ed1c1f9a01e2">disposed</a><code> [get]</code></td></tr>
<tr class="separator:ad0ab3fb77d7e0e1aa675ed1c1f9a01e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad128b50a07f7d6f6333e409e9438fd52"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml#ad128b50a07f7d6f6333e409e9438fd52">animdone</a><code> [get]</code></td></tr>
<tr class="separator:ad128b50a07f7d6f6333e409e9438fd52"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Shows the enemy trainer(s)'s Pok&eacute;mon being thrown out. It appears at coords (@@spritex,@@spritey), and moves in y to @@endspritey where it stays for the rest of the battle, i.e. the latter is the more important value. Doesn't show the ball itself being thrown.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a05ba8c90699bd2ffb839d7c7fe063f9b" name="a05ba8c90699bd2ffb839d7c7fe063f9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05ba8c90699bd2ffb839d7c7fe063f9b">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a7f29ee666d7249f81161fa7c3e4ae4" name="a0a7f29ee666d7249f81161fa7c3e4ae4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a7f29ee666d7249f81161fa7c3e4ae4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_send_out_animation.cshtml">IPokeballSendOutAnimation</a> PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_battler_sprite.cshtml">IPokemonBattlerSprite</a>&#160;</td>
          <td class="paramname"><em>sprite</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IDictionary&lt; string, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt;&#160;</td>
          <td class="paramname"><em>spritehash</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>illusionpoke</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a84698fda4cbf1bc6e5bae8275905d8ac" name="a84698fda4cbf1bc6e5bae8275905d8ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a84698fda4cbf1bc6e5bae8275905d8ac">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad128b50a07f7d6f6333e409e9438fd52" name="ad128b50a07f7d6f6333e409e9438fd52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad128b50a07f7d6f6333e409e9438fd52">&#9670;&#160;</a></span>animdone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation.animdone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad0ab3fb77d7e0e1aa675ed1c1f9a01e2" name="ad0ab3fb77d7e0e1aa675ed1c1f9a01e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0ab3fb77d7e0e1aa675ed1c1f9a01e2">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokeballSendOutAnimation.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>
