@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IGameSystem Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml">IGameSystem</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameSystem Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abd6bc819025fc5087ee62ddcf7cbd67b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#abd6bc819025fc5087ee62ddcf7cbd67b">bgm_fade</a> (float time)</td></tr>
<tr class="separator:abd6bc819025fc5087ee62ddcf7cbd67b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2aa60684278853e687596ccc73ebf254"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a2aa60684278853e687596ccc73ebf254">bgm_memorize</a> ()</td></tr>
<tr class="memdesc:a2aa60684278853e687596ccc73ebf254"><td class="mdescLeft">&#160;</td><td class="mdescRight">Saves the currently playing background music for later playback.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a2aa60684278853e687596ccc73ebf254">More...</a><br /></td></tr>
<tr class="separator:a2aa60684278853e687596ccc73ebf254"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae93a1ca586653446ffe695546a0b321c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae93a1ca586653446ffe695546a0b321c">bgm_pause</a> (float fadetime=0)</td></tr>
<tr class="separator:ae93a1ca586653446ffe695546a0b321c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73fadfac86155f0ec909f176c0957662"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a73fadfac86155f0ec909f176c0957662">bgm_play</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> bgm)</td></tr>
<tr class="separator:a73fadfac86155f0ec909f176c0957662"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54ce957abe5ab36231dd479a1a57863b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a54ce957abe5ab36231dd479a1a57863b">bgm_play_internal</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> bgm, int position)</td></tr>
<tr class="separator:a54ce957abe5ab36231dd479a1a57863b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3631e6cab8b5475ee4c97ec041e07cb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#af3631e6cab8b5475ee4c97ec041e07cb">bgm_play_internal2</a> (string name, float volume, float pitch, int position)</td></tr>
<tr class="separator:af3631e6cab8b5475ee4c97ec041e07cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b784f6d6cd82b5986ad2b8e354d3af7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a4b784f6d6cd82b5986ad2b8e354d3af7">bgm_restore</a> ()</td></tr>
<tr class="memdesc:a4b784f6d6cd82b5986ad2b8e354d3af7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Plays the currently memorized background music   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a4b784f6d6cd82b5986ad2b8e354d3af7">More...</a><br /></td></tr>
<tr class="separator:a4b784f6d6cd82b5986ad2b8e354d3af7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a6899dea238af50f74ddffa4ac99d6c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3a6899dea238af50f74ddffa4ac99d6c">bgm_resume</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> bgm)</td></tr>
<tr class="separator:a3a6899dea238af50f74ddffa4ac99d6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7779c89c65f11ee5f3c6377cbd678298"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a7779c89c65f11ee5f3c6377cbd678298">bgm_stop</a> ()</td></tr>
<tr class="separator:a7779c89c65f11ee5f3c6377cbd678298"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e39650c7bc0c25a703faf0e4affcb07"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3e39650c7bc0c25a703faf0e4affcb07">bgm_unpause</a> ()</td></tr>
<tr class="separator:a3e39650c7bc0c25a703faf0e4affcb07"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03bd1777fe2d3697d4788d516dee7dcc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a03bd1777fe2d3697d4788d516dee7dcc">bgs_fade</a> (float time)</td></tr>
<tr class="separator:a03bd1777fe2d3697d4788d516dee7dcc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb562980b4459bca99f162574fad9371"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#aeb562980b4459bca99f162574fad9371">bgs_memorize</a> ()</td></tr>
<tr class="separator:aeb562980b4459bca99f162574fad9371"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac3b90548031c22c3dfd9ede90074a7f8"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ac3b90548031c22c3dfd9ede90074a7f8">bgs_pause</a> (float fadetime=0)</td></tr>
<tr class="separator:ac3b90548031c22c3dfd9ede90074a7f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad32649453eabe355291f09cd7e26bf65"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ad32649453eabe355291f09cd7e26bf65">bgs_play</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> bgs)</td></tr>
<tr class="separator:ad32649453eabe355291f09cd7e26bf65"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab2e403c442d976639421b6030c3f1198"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ab2e403c442d976639421b6030c3f1198">bgs_restore</a> ()</td></tr>
<tr class="separator:ab2e403c442d976639421b6030c3f1198"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae0a3da85b141fe76d508ff488eded4ad"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae0a3da85b141fe76d508ff488eded4ad">bgs_resume</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> bgs)</td></tr>
<tr class="separator:ae0a3da85b141fe76d508ff488eded4ad"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a202e3829ad510d32b804ce9361e18637"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a202e3829ad510d32b804ce9361e18637">bgs_stop</a> ()</td></tr>
<tr class="separator:a202e3829ad510d32b804ce9361e18637"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:add2fda29ce5e37ec35723d258b2429d9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#add2fda29ce5e37ec35723d258b2429d9">bgs_unpause</a> ()</td></tr>
<tr class="separator:add2fda29ce5e37ec35723d258b2429d9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f3b39a81e924acdb342f90f64a5a88f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a8f3b39a81e924acdb342f90f64a5a88f">getPlayingBGM</a> ()</td></tr>
<tr class="memdesc:a8f3b39a81e924acdb342f90f64a5a88f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns an AudioFile object for the currently playing background music   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a8f3b39a81e924acdb342f90f64a5a88f">More...</a><br /></td></tr>
<tr class="separator:a8f3b39a81e924acdb342f90f64a5a88f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adbc50776488b9a88b85997c18a2477f9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#adbc50776488b9a88b85997c18a2477f9">getPlayingBGS</a> ()</td></tr>
<tr class="separator:adbc50776488b9a88b85997c18a2477f9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6062703a4359a949b44ee355a633c0b9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a6062703a4359a949b44ee355a633c0b9">me_play</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a> me)</td></tr>
<tr class="separator:a6062703a4359a949b44ee355a633c0b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a265e1ec9faabd88c195dfce6d10adcf9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a265e1ec9faabd88c195dfce6d10adcf9">me_fade</a> (float time)</td></tr>
<tr class="separator:a265e1ec9faabd88c195dfce6d10adcf9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad639545f78c0109222cbb818783ad8a2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ad639545f78c0109222cbb818783ad8a2">me_stop</a> ()</td></tr>
<tr class="separator:ad639545f78c0109222cbb818783ad8a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abecd4cae3e1a39f8504a47f15d4038b7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#abecd4cae3e1a39f8504a47f15d4038b7">setDefaultBGM</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> bgm, float volume=80, float pitch=100)</td></tr>
<tr class="separator:abecd4cae3e1a39f8504a47f15d4038b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55f355be8ab3544da2944430605f46a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a55f355be8ab3544da2944430605f46a6">se_play</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> se)</td></tr>
<tr class="separator:a55f355be8ab3544da2944430605f46a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55375269fe48c66d3637902307f6fbbe"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a55375269fe48c66d3637902307f6fbbe">se_stop</a> ()</td></tr>
<tr class="separator:a55375269fe48c66d3637902307f6fbbe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae37c139be4c6c498738d4532f1758d4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#aae37c139be4c6c498738d4532f1758d4">update</a> ()</td></tr>
<tr class="separator:aae37c139be4c6c498738d4532f1758d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad3a14f79a76ec28fb9e967ba8faceb3e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ad3a14f79a76ec28fb9e967ba8faceb3e">autoscroll_x_speed</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad3a14f79a76ec28fb9e967ba8faceb3e"><td class="mdescLeft">&#160;</td><td class="mdescRight">map event interpreter   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ad3a14f79a76ec28fb9e967ba8faceb3e">More...</a><br /></td></tr>
<tr class="separator:ad3a14f79a76ec28fb9e967ba8faceb3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac14103cfd9e7e86c06613cd26bda75b4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ac14103cfd9e7e86c06613cd26bda75b4">autoscroll_y_speed</a><code> [get, set]</code></td></tr>
<tr class="separator:ac14103cfd9e7e86c06613cd26bda75b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18bfe48cdcb93308b729429236b17f88"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a18bfe48cdcb93308b729429236b17f88">battle_bgm</a><code> [get, set]</code></td></tr>
<tr class="separator:a18bfe48cdcb93308b729429236b17f88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5f724dc004a2c46db7104c305b2bd37"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#af5f724dc004a2c46db7104c305b2bd37">battle_end_me</a><code> [get, set]</code></td></tr>
<tr class="separator:af5f724dc004a2c46db7104c305b2bd37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ae6dd86094009c8beb9ff1ec097b58b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a8ae6dd86094009c8beb9ff1ec097b58b">bgm_position</a><code> [get, set]</code></td></tr>
<tr class="separator:a8ae6dd86094009c8beb9ff1ec097b58b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a554a445e401026e554b734484bbe82cc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a554a445e401026e554b734484bbe82cc">encounter_disabled</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a554a445e401026e554b734484bbe82cc"><td class="mdescLeft">&#160;</td><td class="mdescRight">encounter forbidden   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a554a445e401026e554b734484bbe82cc">More...</a><br /></td></tr>
<tr class="separator:a554a445e401026e554b734484bbe82cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd476943e4e80cacbcefc877ada48e9b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#afd476943e4e80cacbcefc877ada48e9b">magic_number</a><code> [get, set]</code></td></tr>
<tr class="memdesc:afd476943e4e80cacbcefc877ada48e9b"><td class="mdescLeft">&#160;</td><td class="mdescRight">magic number   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#afd476943e4e80cacbcefc877ada48e9b">More...</a><br /></td></tr>
<tr class="separator:afd476943e4e80cacbcefc877ada48e9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98e12d9b9eb666199ad4dd6a5ecb16bd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a98e12d9b9eb666199ad4dd6a5ecb16bd">menu_disabled</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a98e12d9b9eb666199ad4dd6a5ecb16bd"><td class="mdescLeft">&#160;</td><td class="mdescRight">menu forbidden   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a98e12d9b9eb666199ad4dd6a5ecb16bd">More...</a><br /></td></tr>
<tr class="separator:a98e12d9b9eb666199ad4dd6a5ecb16bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43cd97d02ffaecb967e34b5d79852249"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a43cd97d02ffaecb967e34b5d79852249">message_frame</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a43cd97d02ffaecb967e34b5d79852249"><td class="mdescLeft">&#160;</td><td class="mdescRight">text option: window frame   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a43cd97d02ffaecb967e34b5d79852249">More...</a><br /></td></tr>
<tr class="separator:a43cd97d02ffaecb967e34b5d79852249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0789040bc7b4221255584a1ab6b59d2d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a0789040bc7b4221255584a1ab6b59d2d">message_position</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0789040bc7b4221255584a1ab6b59d2d"><td class="mdescLeft">&#160;</td><td class="mdescRight">text option: positioning   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a0789040bc7b4221255584a1ab6b59d2d">More...</a><br /></td></tr>
<tr class="separator:a0789040bc7b4221255584a1ab6b59d2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae282302527a746be682fff90b500aa4e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae282302527a746be682fff90b500aa4e">playing_bgm</a><code> [get, set]</code></td></tr>
<tr class="separator:ae282302527a746be682fff90b500aa4e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b96837caed797b91398bc09b07c0d5e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a4b96837caed797b91398bc09b07c0d5e">playing_bgs</a><code> [get, set]</code></td></tr>
<tr class="separator:a4b96837caed797b91398bc09b07c0d5e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a16d34d4e68e7f4bc5369e33851a0ea96"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a16d34d4e68e7f4bc5369e33851a0ea96">save_count</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a16d34d4e68e7f4bc5369e33851a0ea96"><td class="mdescLeft">&#160;</td><td class="mdescRight">save count   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a16d34d4e68e7f4bc5369e33851a0ea96">More...</a><br /></td></tr>
<tr class="separator:a16d34d4e68e7f4bc5369e33851a0ea96"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac06ecc3bcafd8a7b75f1aa3f7ada5688"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ac06ecc3bcafd8a7b75f1aa3f7ada5688">timer</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac06ecc3bcafd8a7b75f1aa3f7ada5688"><td class="mdescLeft">&#160;</td><td class="mdescRight">timer   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ac06ecc3bcafd8a7b75f1aa3f7ada5688">More...</a><br /></td></tr>
<tr class="separator:ac06ecc3bcafd8a7b75f1aa3f7ada5688"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae4d694b009ad618d55184ff763f374ee"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae4d694b009ad618d55184ff763f374ee">timer_working</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae4d694b009ad618d55184ff763f374ee"><td class="mdescLeft">&#160;</td><td class="mdescRight">timer working flag   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#ae4d694b009ad618d55184ff763f374ee">More...</a><br /></td></tr>
<tr class="separator:ae4d694b009ad618d55184ff763f374ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3706e81c46cbdcdcc7317616b590b617"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3706e81c46cbdcdcc7317616b590b617">save_disabled</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a3706e81c46cbdcdcc7317616b590b617"><td class="mdescLeft">&#160;</td><td class="mdescRight">save forbidden   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#a3706e81c46cbdcdcc7317616b590b617">More...</a><br /></td></tr>
<tr class="separator:a3706e81c46cbdcdcc7317616b590b617"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aabb75f7020b4ca39ebb87dd114478333"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_system.cshtml#aabb75f7020b4ca39ebb87dd114478333">windowskin_name</a><code> [get, set]</code></td></tr>
<tr class="separator:aabb75f7020b4ca39ebb87dd114478333"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abd6bc819025fc5087ee62ddcf7cbd67b" name="abd6bc819025fc5087ee62ddcf7cbd67b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd6bc819025fc5087ee62ddcf7cbd67b">&#9670;&#160;</a></span>bgm_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_fade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2aa60684278853e687596ccc73ebf254" name="a2aa60684278853e687596ccc73ebf254"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2aa60684278853e687596ccc73ebf254">&#9670;&#160;</a></span>bgm_memorize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_memorize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Saves the currently playing background music for later playback.  </p>

</div>
</div>
<a id="ae93a1ca586653446ffe695546a0b321c" name="ae93a1ca586653446ffe695546a0b321c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae93a1ca586653446ffe695546a0b321c">&#9670;&#160;</a></span>bgm_pause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_pause </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>fadetime</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a73fadfac86155f0ec909f176c0957662" name="a73fadfac86155f0ec909f176c0957662"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73fadfac86155f0ec909f176c0957662">&#9670;&#160;</a></span>bgm_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_play </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td>
          <td class="paramname"><em>bgm</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a54ce957abe5ab36231dd479a1a57863b" name="a54ce957abe5ab36231dd479a1a57863b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54ce957abe5ab36231dd479a1a57863b">&#9670;&#160;</a></span>bgm_play_internal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_play_internal </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td>
          <td class="paramname"><em>bgm</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af3631e6cab8b5475ee4c97ec041e07cb" name="af3631e6cab8b5475ee4c97ec041e07cb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3631e6cab8b5475ee4c97ec041e07cb">&#9670;&#160;</a></span>bgm_play_internal2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_play_internal2 </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b784f6d6cd82b5986ad2b8e354d3af7" name="a4b784f6d6cd82b5986ad2b8e354d3af7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b784f6d6cd82b5986ad2b8e354d3af7">&#9670;&#160;</a></span>bgm_restore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_restore </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Plays the currently memorized background music  </p>

</div>
</div>
<a id="a3a6899dea238af50f74ddffa4ac99d6c" name="a3a6899dea238af50f74ddffa4ac99d6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a6899dea238af50f74ddffa4ac99d6c">&#9670;&#160;</a></span>bgm_resume()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_resume </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td>
          <td class="paramname"><em>bgm</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7779c89c65f11ee5f3c6377cbd678298" name="a7779c89c65f11ee5f3c6377cbd678298"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7779c89c65f11ee5f3c6377cbd678298">&#9670;&#160;</a></span>bgm_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e39650c7bc0c25a703faf0e4affcb07" name="a3e39650c7bc0c25a703faf0e4affcb07"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e39650c7bc0c25a703faf0e4affcb07">&#9670;&#160;</a></span>bgm_unpause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgm_unpause </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a03bd1777fe2d3697d4788d516dee7dcc" name="a03bd1777fe2d3697d4788d516dee7dcc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03bd1777fe2d3697d4788d516dee7dcc">&#9670;&#160;</a></span>bgs_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_fade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb562980b4459bca99f162574fad9371" name="aeb562980b4459bca99f162574fad9371"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb562980b4459bca99f162574fad9371">&#9670;&#160;</a></span>bgs_memorize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_memorize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac3b90548031c22c3dfd9ede90074a7f8" name="ac3b90548031c22c3dfd9ede90074a7f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac3b90548031c22c3dfd9ede90074a7f8">&#9670;&#160;</a></span>bgs_pause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_pause </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>fadetime</em> = <code>0</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad32649453eabe355291f09cd7e26bf65" name="ad32649453eabe355291f09cd7e26bf65"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad32649453eabe355291f09cd7e26bf65">&#9670;&#160;</a></span>bgs_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_play </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td>
          <td class="paramname"><em>bgs</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab2e403c442d976639421b6030c3f1198" name="ab2e403c442d976639421b6030c3f1198"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab2e403c442d976639421b6030c3f1198">&#9670;&#160;</a></span>bgs_restore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_restore </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae0a3da85b141fe76d508ff488eded4ad" name="ae0a3da85b141fe76d508ff488eded4ad"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae0a3da85b141fe76d508ff488eded4ad">&#9670;&#160;</a></span>bgs_resume()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_resume </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td>
          <td class="paramname"><em>bgs</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a202e3829ad510d32b804ce9361e18637" name="a202e3829ad510d32b804ce9361e18637"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a202e3829ad510d32b804ce9361e18637">&#9670;&#160;</a></span>bgs_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="add2fda29ce5e37ec35723d258b2429d9" name="add2fda29ce5e37ec35723d258b2429d9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add2fda29ce5e37ec35723d258b2429d9">&#9670;&#160;</a></span>bgs_unpause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.bgs_unpause </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f3b39a81e924acdb342f90f64a5a88f" name="a8f3b39a81e924acdb342f90f64a5a88f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f3b39a81e924acdb342f90f64a5a88f">&#9670;&#160;</a></span>getPlayingBGM()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.IGameSystem.getPlayingBGM </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns an AudioFile object for the currently playing background music  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="adbc50776488b9a88b85997c18a2477f9" name="adbc50776488b9a88b85997c18a2477f9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adbc50776488b9a88b85997c18a2477f9">&#9670;&#160;</a></span>getPlayingBGS()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> PokemonEssentials.Interface.IGameSystem.getPlayingBGS </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a265e1ec9faabd88c195dfce6d10adcf9" name="a265e1ec9faabd88c195dfce6d10adcf9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a265e1ec9faabd88c195dfce6d10adcf9">&#9670;&#160;</a></span>me_fade()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.me_fade </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>time</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6062703a4359a949b44ee355a633c0b9" name="a6062703a4359a949b44ee355a633c0b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6062703a4359a949b44ee355a633c0b9">&#9670;&#160;</a></span>me_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.me_play </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a>&#160;</td>
          <td class="paramname"><em>me</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad639545f78c0109222cbb818783ad8a2" name="ad639545f78c0109222cbb818783ad8a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad639545f78c0109222cbb818783ad8a2">&#9670;&#160;</a></span>me_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.me_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a55f355be8ab3544da2944430605f46a6" name="a55f355be8ab3544da2944430605f46a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a55f355be8ab3544da2944430605f46a6">&#9670;&#160;</a></span>se_play()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.se_play </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td>
          <td class="paramname"><em>se</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a55375269fe48c66d3637902307f6fbbe" name="a55375269fe48c66d3637902307f6fbbe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a55375269fe48c66d3637902307f6fbbe">&#9670;&#160;</a></span>se_stop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.se_stop </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abecd4cae3e1a39f8504a47f15d4038b7" name="abecd4cae3e1a39f8504a47f15d4038b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abecd4cae3e1a39f8504a47f15d4038b7">&#9670;&#160;</a></span>setDefaultBGM()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.setDefaultBGM </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td>
          <td class="paramname"><em>bgm</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>volume</em> = <code>80</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>pitch</em> = <code>100</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aae37c139be4c6c498738d4532f1758d4" name="aae37c139be4c6c498738d4532f1758d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae37c139be4c6c498738d4532f1758d4">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGameSystem.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad3a14f79a76ec28fb9e967ba8faceb3e" name="ad3a14f79a76ec28fb9e967ba8faceb3e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3a14f79a76ec28fb9e967ba8faceb3e">&#9670;&#160;</a></span>autoscroll_x_speed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.autoscroll_x_speed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>map event interpreter  </p>
<p >battle event interpreter  </p>

</div>
</div>
<a id="ac14103cfd9e7e86c06613cd26bda75b4" name="ac14103cfd9e7e86c06613cd26bda75b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac14103cfd9e7e86c06613cd26bda75b4">&#9670;&#160;</a></span>autoscroll_y_speed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.autoscroll_y_speed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a18bfe48cdcb93308b729429236b17f88" name="a18bfe48cdcb93308b729429236b17f88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18bfe48cdcb93308b729429236b17f88">&#9670;&#160;</a></span>battle_bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.IGameSystem.battle_bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af5f724dc004a2c46db7104c305b2bd37" name="af5f724dc004a2c46db7104c305b2bd37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5f724dc004a2c46db7104c305b2bd37">&#9670;&#160;</a></span>battle_end_me</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a> PokemonEssentials.Interface.IGameSystem.battle_end_me</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8ae6dd86094009c8beb9ff1ec097b58b" name="a8ae6dd86094009c8beb9ff1ec097b58b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ae6dd86094009c8beb9ff1ec097b58b">&#9670;&#160;</a></span>bgm_position</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.bgm_position</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a554a445e401026e554b734484bbe82cc" name="a554a445e401026e554b734484bbe82cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a554a445e401026e554b734484bbe82cc">&#9670;&#160;</a></span>encounter_disabled</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSystem.encounter_disabled</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>encounter forbidden  </p>

</div>
</div>
<a id="afd476943e4e80cacbcefc877ada48e9b" name="afd476943e4e80cacbcefc877ada48e9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd476943e4e80cacbcefc877ada48e9b">&#9670;&#160;</a></span>magic_number</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.magic_number</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>magic number  </p>

</div>
</div>
<a id="a98e12d9b9eb666199ad4dd6a5ecb16bd" name="a98e12d9b9eb666199ad4dd6a5ecb16bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98e12d9b9eb666199ad4dd6a5ecb16bd">&#9670;&#160;</a></span>menu_disabled</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSystem.menu_disabled</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>menu forbidden  </p>

</div>
</div>
<a id="a43cd97d02ffaecb967e34b5d79852249" name="a43cd97d02ffaecb967e34b5d79852249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43cd97d02ffaecb967e34b5d79852249">&#9670;&#160;</a></span>message_frame</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.message_frame</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>text option: window frame  </p>

</div>
</div>
<a id="a0789040bc7b4221255584a1ab6b59d2d" name="a0789040bc7b4221255584a1ab6b59d2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0789040bc7b4221255584a1ab6b59d2d">&#9670;&#160;</a></span>message_position</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.message_position</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>text option: positioning  </p>

</div>
</div>
<a id="ae282302527a746be682fff90b500aa4e" name="ae282302527a746be682fff90b500aa4e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae282302527a746be682fff90b500aa4e">&#9670;&#160;</a></span>playing_bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.IGameSystem.playing_bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b96837caed797b91398bc09b07c0d5e" name="a4b96837caed797b91398bc09b07c0d5e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b96837caed797b91398bc09b07c0d5e">&#9670;&#160;</a></span>playing_bgs</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> PokemonEssentials.Interface.IGameSystem.playing_bgs</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a16d34d4e68e7f4bc5369e33851a0ea96" name="a16d34d4e68e7f4bc5369e33851a0ea96"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a16d34d4e68e7f4bc5369e33851a0ea96">&#9670;&#160;</a></span>save_count</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.save_count</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>save count  </p>

</div>
</div>
<a id="a3706e81c46cbdcdcc7317616b590b617" name="a3706e81c46cbdcdcc7317616b590b617"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3706e81c46cbdcdcc7317616b590b617">&#9670;&#160;</a></span>save_disabled</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSystem.save_disabled</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>save forbidden  </p>

</div>
</div>
<a id="ac06ecc3bcafd8a7b75f1aa3f7ada5688" name="ac06ecc3bcafd8a7b75f1aa3f7ada5688"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac06ecc3bcafd8a7b75f1aa3f7ada5688">&#9670;&#160;</a></span>timer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGameSystem.timer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>timer  </p>

</div>
</div>
<a id="ae4d694b009ad618d55184ff763f374ee" name="ae4d694b009ad618d55184ff763f374ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae4d694b009ad618d55184ff763f374ee">&#9670;&#160;</a></span>timer_working</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGameSystem.timer_working</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>timer working flag  </p>

</div>
</div>
<a id="aabb75f7020b4ca39ebb87dd114478333" name="aabb75f7020b4ca39ebb87dd114478333"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabb75f7020b4ca39ebb87dd114478333">&#9670;&#160;</a></span>windowskin_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGameSystem.windowskin_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_system_8cs.cshtml">IGameSystem.cs</a></li>
</ul>

