@{
	Page.Title = "PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_auto_mosaic_pokemon_sprite.cshtml">IAutoMosaicPokemonSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_auto_mosaic_pokemon_sprite-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_auto_mosaic_pokemon_sprite.png" usemap="#PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite_map" name="PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IMosaicPokemonSprite" shape="rect" coords="0,0,376,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac4ea21f2e4c653e90c221f815aca6d20"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_auto_mosaic_pokemon_sprite.cshtml#ac4ea21f2e4c653e90c221f815aca6d20">update</a> ()</td></tr>
<tr class="separator:ac4ea21f2e4c653e90c221f815aca6d20"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td></tr>
<tr class="memitem:aa3b30bafa96870efaac20eac43209ed3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#aa3b30bafa96870efaac20eac43209ed3">dispose</a> ()</td></tr>
<tr class="separator:aa3b30bafa96870efaac20eac43209ed3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abee94138f27523c0697a95bc5606bc55 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#abee94138f27523c0697a95bc5606bc55">mosaicRefresh</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#a9ee5f530ad0fec21c18b2957f46c2a88">bitmap</a>)</td></tr>
<tr class="separator:abee94138f27523c0697a95bc5606bc55 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml">PokemonEssentials.Interface.Screen.IMosaicPokemonSprite</a></td></tr>
<tr class="memitem:a431d5b202c3d107684c6efd622e4dd0c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#a431d5b202c3d107684c6efd622e4dd0c">mosaic</a><code> [get, set]</code></td></tr>
<tr class="separator:a431d5b202c3d107684c6efd622e4dd0c inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ee5f530ad0fec21c18b2957f46c2a88 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap.cshtml">IBitmap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite.cshtml#a9ee5f530ad0fec21c18b2957f46c2a88">bitmap</a><code> [set]</code></td></tr>
<tr class="separator:a9ee5f530ad0fec21c18b2957f46c2a88 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mosaic_pokemon_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac4ea21f2e4c653e90c221f815aca6d20" name="ac4ea21f2e4c653e90c221f815aca6d20"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4ea21f2e4c653e90c221f815aca6d20">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IAutoMosaicPokemonSprite.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
