@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.ICommandMenuDisplay Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml">ICommandMenuDisplay</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ICommandMenuDisplay Interface Reference</div></div>
}


<p>Command menu (Fight/Pok&eacute;mon/Bag/Run)   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ICommandMenuDisplay:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abf9dba6cc085e0ef3a247f3176c22a37"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml">ICommandMenuDisplay</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#abf9dba6cc085e0ef3a247f3176c22a37">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:abf9dba6cc085e0ef3a247f3176c22a37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b3604980d23e6e6b8b1c9bfdd7f18cb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a5b3604980d23e6e6b8b1c9bfdd7f18cb">setTexts</a> (params string[] value)</td></tr>
<tr class="separator:a5b3604980d23e6e6b8b1c9bfdd7f18cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8da088c0579abf470bf78536ecd5aafb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a8da088c0579abf470bf78536ecd5aafb">refresh</a> ()</td></tr>
<tr class="separator:a8da088c0579abf470bf78536ecd5aafb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a36d60400456cca9d5bc716018054cbba"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a36d60400456cca9d5bc716018054cbba">update</a> ()</td></tr>
<tr class="separator:a36d60400456cca9d5bc716018054cbba"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9c929c431d255f20457372773edac9a7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a9c929c431d255f20457372773edac9a7">mode</a><code> [get, set]</code></td></tr>
<tr class="separator:a9c929c431d255f20457372773edac9a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff02a0d49050631fdebbae082bb297db"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#aff02a0d49050631fdebbae082bb297db">x</a><code> [get, set]</code></td></tr>
<tr class="separator:aff02a0d49050631fdebbae082bb297db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeebe45dacbf8c7566b5ae10c5b4bd061"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#aeebe45dacbf8c7566b5ae10c5b4bd061">y</a><code> [get, set]</code></td></tr>
<tr class="separator:aeebe45dacbf8c7566b5ae10c5b4bd061"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f8b29318a38905c4156c8d23d4e3a3c"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a8f8b29318a38905c4156c8d23d4e3a3c">z</a><code> [get, set]</code></td></tr>
<tr class="separator:a8f8b29318a38905c4156c8d23d4e3a3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22cea1c8248d8e0988ed85968729c7f8"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a22cea1c8248d8e0988ed85968729c7f8">ox</a><code> [get, set]</code></td></tr>
<tr class="separator:a22cea1c8248d8e0988ed85968729c7f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adda17c7c7504693ebbea8f8d38c711a8"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#adda17c7c7504693ebbea8f8d38c711a8">oy</a><code> [get, set]</code></td></tr>
<tr class="separator:adda17c7c7504693ebbea8f8d38c711a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5642507901a64b73c70693fd65901eb4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a5642507901a64b73c70693fd65901eb4">visible</a><code> [get, set]</code></td></tr>
<tr class="separator:a5642507901a64b73c70693fd65901eb4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5764508fd261b9426f3fcd11e4073503"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a5764508fd261b9426f3fcd11e4073503">color</a><code> [get, set]</code></td></tr>
<tr class="separator:a5764508fd261b9426f3fcd11e4073503"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68e45c3e7955ac7009cc5f9d4790551b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#a68e45c3e7955ac7009cc5f9d4790551b">disposed</a><code> [get]</code></td></tr>
<tr class="separator:a68e45c3e7955ac7009cc5f9d4790551b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef294c4efe8d9948f561359f05fddae8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml#aef294c4efe8d9948f561359f05fddae8">index</a><code> [get, set]</code></td></tr>
<tr class="separator:aef294c4efe8d9948f561359f05fddae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Command menu (Fight/Pok&eacute;mon/Bag/Run)  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="abf9dba6cc085e0ef3a247f3176c22a37" name="abf9dba6cc085e0ef3a247f3176c22a37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf9dba6cc085e0ef3a247f3176c22a37">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_command_menu_display.cshtml">ICommandMenuDisplay</a> PokemonEssentials.Interface.Screen.ICommandMenuDisplay.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8da088c0579abf470bf78536ecd5aafb" name="a8da088c0579abf470bf78536ecd5aafb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8da088c0579abf470bf78536ecd5aafb">&#9670;&#160;</a></span>refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ICommandMenuDisplay.refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5b3604980d23e6e6b8b1c9bfdd7f18cb" name="a5b3604980d23e6e6b8b1c9bfdd7f18cb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b3604980d23e6e6b8b1c9bfdd7f18cb">&#9670;&#160;</a></span>setTexts()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ICommandMenuDisplay.setTexts </td>
          <td>(</td>
          <td class="paramtype">params string[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a36d60400456cca9d5bc716018054cbba" name="a36d60400456cca9d5bc716018054cbba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a36d60400456cca9d5bc716018054cbba">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ICommandMenuDisplay.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a5764508fd261b9426f3fcd11e4073503" name="a5764508fd261b9426f3fcd11e4073503"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5764508fd261b9426f3fcd11e4073503">&#9670;&#160;</a></span>color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> PokemonEssentials.Interface.Screen.ICommandMenuDisplay.color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a68e45c3e7955ac7009cc5f9d4790551b" name="a68e45c3e7955ac7009cc5f9d4790551b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68e45c3e7955ac7009cc5f9d4790551b">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.ICommandMenuDisplay.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aef294c4efe8d9948f561359f05fddae8" name="aef294c4efe8d9948f561359f05fddae8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef294c4efe8d9948f561359f05fddae8">&#9670;&#160;</a></span>index</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.ICommandMenuDisplay.index</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c929c431d255f20457372773edac9a7" name="a9c929c431d255f20457372773edac9a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c929c431d255f20457372773edac9a7">&#9670;&#160;</a></span>mode</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.ICommandMenuDisplay.mode</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a22cea1c8248d8e0988ed85968729c7f8" name="a22cea1c8248d8e0988ed85968729c7f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a22cea1c8248d8e0988ed85968729c7f8">&#9670;&#160;</a></span>ox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Screen.ICommandMenuDisplay.ox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adda17c7c7504693ebbea8f8d38c711a8" name="adda17c7c7504693ebbea8f8d38c711a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adda17c7c7504693ebbea8f8d38c711a8">&#9670;&#160;</a></span>oy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Screen.ICommandMenuDisplay.oy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5642507901a64b73c70693fd65901eb4" name="a5642507901a64b73c70693fd65901eb4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5642507901a64b73c70693fd65901eb4">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.ICommandMenuDisplay.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aff02a0d49050631fdebbae082bb297db" name="aff02a0d49050631fdebbae082bb297db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff02a0d49050631fdebbae082bb297db">&#9670;&#160;</a></span>x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Screen.ICommandMenuDisplay.x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aeebe45dacbf8c7566b5ae10c5b4bd061" name="aeebe45dacbf8c7566b5ae10c5b4bd061"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeebe45dacbf8c7566b5ae10c5b4bd061">&#9670;&#160;</a></span>y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Screen.ICommandMenuDisplay.y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f8b29318a38905c4156c8d23d4e3a3c" name="a8f8b29318a38905c4156c8d23d4e3a3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f8b29318a38905c4156c8d23d4e3a3c">&#9670;&#160;</a></span>z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Screen.ICommandMenuDisplay.z</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>
