@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IEntity Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.cshtml">IEntity</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IEntity Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IEntity:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_entity.png" usemap="#PokemonEssentials.Interface.Screen.IEntity_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IEntity_map" name="PokemonEssentials.Interface.Screen.IEntity_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml" alt="PokemonEssentials.Interface.IGameCharacter" shape="rect" coords="139,56,408,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_game_event.cshtml" alt="PokemonEssentials.Interface.IGameEvent" shape="rect" coords="0,112,269,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml" title="This class handles the player. Its functions include event starting determinants and map scrolling." alt="PokemonEssentials.Interface.IGamePlayer" shape="rect" coords="279,112,548,136"/>
  </map>
</div></div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
