@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">IDayNight</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDayNight Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a0c46868d026edc78130ee431bfa3c902">cachedTone</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a857b35c01b138a554a0f10d3390e0be2">dayNightToneLastUpdate</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1639fbfcb7877f5512f1d79a63e164c1">getShade</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#abb267d9483f1fe88a7f2ad870d509af9">getTone</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#aa114d4fe8fac32907b71c224ca19853f">HourlyTones</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a1cf0b1ff87d9fc0ec836221bb0bf3123">isAfternoon</a>(DateTime? @@time=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a5a0b1195c812dfc3b40ba93f29f1b77b">isDay</a>(DateTime? @@time=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a74c3d4dbe9ab075b4e4a30a6a715536f">isEvening</a>(DateTime? @@time=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#ac79cc022073dc0c3b1b0adfb33f81049">isMorning</a>(DateTime? @@time=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#aa0c9478f3c9902807df39a5267ad622c">isNight</a>(DateTime? @@time=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a4c3124578876b4ceb251dc375f052697">oneOverSixty</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml#a9330ea13a11e27abfb0759b878b7f2bf">pbGetDayNightMinutes</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_night.cshtml">PokemonEssentials.Interface.Field.IDayNight</a></td><td class="entry"></td></tr>
</table>