@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.ISystem Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml">ISystem</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.ISystem Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab536ca0bc48289db2442cf79d4603724"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ab536ca0bc48289db2442cf79d4603724">magic_number</a><code> [get, set]</code></td></tr>
<tr class="separator:ab536ca0bc48289db2442cf79d4603724"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b6faebc79f85fa76780754572aa507b"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a8b6faebc79f85fa76780754572aa507b">party_members</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a8b6faebc79f85fa76780754572aa507b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The initial party. An array of actor IDs.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a8b6faebc79f85fa76780754572aa507b">More...</a><br /></td></tr>
<tr class="separator:a8b6faebc79f85fa76780754572aa507b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7dbe3fc22cff931d2ca3e5ba7131c4f"><td class="memItemLeft" align="right" valign="top">Dictionary&lt; int, string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ac7dbe3fc22cff931d2ca3e5ba7131c4f">elements</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac7dbe3fc22cff931d2ca3e5ba7131c4f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Element list. Text array using element IDs as subscripts, with the element in the 0 position being null.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ac7dbe3fc22cff931d2ca3e5ba7131c4f">More...</a><br /></td></tr>
<tr class="separator:ac7dbe3fc22cff931d2ca3e5ba7131c4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93fccd35041ec1095e3721951d39b805"><td class="memItemLeft" align="right" valign="top">Dictionary&lt; int, string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a93fccd35041ec1095e3721951d39b805">switches</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a93fccd35041ec1095e3721951d39b805"><td class="mdescLeft">&#160;</td><td class="mdescRight">Switch list. Text array using switch IDs as subscripts, with the element in the 0 position being null.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a93fccd35041ec1095e3721951d39b805">More...</a><br /></td></tr>
<tr class="separator:a93fccd35041ec1095e3721951d39b805"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4949706f1ddefdbe201db61f619349c2"><td class="memItemLeft" align="right" valign="top">Dictionary&lt; int, string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a4949706f1ddefdbe201db61f619349c2">variables</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4949706f1ddefdbe201db61f619349c2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Variable list. Text array using variable IDs as subscripts, with the element in the 0 position being null.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a4949706f1ddefdbe201db61f619349c2">More...</a><br /></td></tr>
<tr class="separator:a4949706f1ddefdbe201db61f619349c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac91426a896e6fcdb0ab2f1fd97e84dce"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ac91426a896e6fcdb0ab2f1fd97e84dce">windowskin_name</a><code> [get, set]</code></td></tr>
<tr class="separator:ac91426a896e6fcdb0ab2f1fd97e84dce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a99e832e3cae7d8dffb49642bd78ed16d"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a99e832e3cae7d8dffb49642bd78ed16d">title_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a99e832e3cae7d8dffb49642bd78ed16d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The game title.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a99e832e3cae7d8dffb49642bd78ed16d">More...</a><br /></td></tr>
<tr class="separator:a99e832e3cae7d8dffb49642bd78ed16d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afffd78e9519128820b2d4072fa9458a8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#afffd78e9519128820b2d4072fa9458a8">gameover_name</a><code> [get, set]</code></td></tr>
<tr class="separator:afffd78e9519128820b2d4072fa9458a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62603c22ef6ee178a6b1a45dec7a226c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a62603c22ef6ee178a6b1a45dec7a226c">battle_transition</a><code> [get, set]</code></td></tr>
<tr class="separator:a62603c22ef6ee178a6b1a45dec7a226c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade9e0e3dabf31fdb2a3e172ffcdf35b4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ade9e0e3dabf31fdb2a3e172ffcdf35b4">title_bgm</a><code> [get, set]</code></td></tr>
<tr class="separator:ade9e0e3dabf31fdb2a3e172ffcdf35b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a511b700215616eab29c5ade3e1d41771"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a511b700215616eab29c5ade3e1d41771">battle_bgm</a><code> [get, set]</code></td></tr>
<tr class="separator:a511b700215616eab29c5ade3e1d41771"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73cde7ee32bd31cbb818130a95becd6c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a73cde7ee32bd31cbb818130a95becd6c">battle_end_me</a><code> [get, set]</code></td></tr>
<tr class="separator:a73cde7ee32bd31cbb818130a95becd6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ba002e3fd46e54d3f3882ef4f4dcb37"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a3ba002e3fd46e54d3f3882ef4f4dcb37">gameover_me</a><code> [get, set]</code></td></tr>
<tr class="separator:a3ba002e3fd46e54d3f3882ef4f4dcb37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a659d17352f87342d8cc8df36a77b1fae"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a659d17352f87342d8cc8df36a77b1fae">cursor_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a659d17352f87342d8cc8df36a77b1fae"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a21478b56cfaef20c9135010020fad58d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a21478b56cfaef20c9135010020fad58d">decision_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a21478b56cfaef20c9135010020fad58d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa53b93f4556f908a64292b536af1ace"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#afa53b93f4556f908a64292b536af1ace">cancel_se</a><code> [get, set]</code></td></tr>
<tr class="separator:afa53b93f4556f908a64292b536af1ace"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae650ed90790a8fb7fa24d201bcf0e89c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ae650ed90790a8fb7fa24d201bcf0e89c">buzzer_se</a><code> [get, set]</code></td></tr>
<tr class="separator:ae650ed90790a8fb7fa24d201bcf0e89c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee95a92129aea5492c22ab390bb1cb9c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#aee95a92129aea5492c22ab390bb1cb9c">equip_se</a><code> [get, set]</code></td></tr>
<tr class="separator:aee95a92129aea5492c22ab390bb1cb9c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f09d24356e109b2bed84110208252fd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a1f09d24356e109b2bed84110208252fd">shop_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a1f09d24356e109b2bed84110208252fd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5409dfc7d4b0a64edf6b6ca2a4a82296"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a5409dfc7d4b0a64edf6b6ca2a4a82296">save_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a5409dfc7d4b0a64edf6b6ca2a4a82296"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8eae36fd4e1e09461a1a2087d2223ac7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a8eae36fd4e1e09461a1a2087d2223ac7">load_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a8eae36fd4e1e09461a1a2087d2223ac7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a3e094bd7d172e1f6afa562ae34195b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a7a3e094bd7d172e1f6afa562ae34195b">battle_start_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a7a3e094bd7d172e1f6afa562ae34195b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7f071149da412c77969054e03482d34"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ad7f071149da412c77969054e03482d34">escape_se</a><code> [get, set]</code></td></tr>
<tr class="separator:ad7f071149da412c77969054e03482d34"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a231e14ea862d54de99b01e9e1d9613d8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a231e14ea862d54de99b01e9e1d9613d8">actor_collapse_se</a><code> [get, set]</code></td></tr>
<tr class="separator:a231e14ea862d54de99b01e9e1d9613d8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acee49f381b6033c7d860fc24a16800b1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#acee49f381b6033c7d860fc24a16800b1">enemy_collapse_se</a><code> [get, set]</code></td></tr>
<tr class="separator:acee49f381b6033c7d860fc24a16800b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22bdfc643a304fc0489cef7218a3ff1f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml">ISystemWords</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a22bdfc643a304fc0489cef7218a3ff1f">words</a><code> [get, set]</code></td></tr>
<tr class="separator:a22bdfc643a304fc0489cef7218a3ff1f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19f54c9947d47cdfabd3bf3a2afe1a3d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">ISystemTestBattler</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a19f54c9947d47cdfabd3bf3a2afe1a3d">test_battlers</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a19f54c9947d47cdfabd3bf3a2afe1a3d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Party settings for battle tests.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a19f54c9947d47cdfabd3bf3a2afe1a3d">More...</a><br /></td></tr>
<tr class="separator:a19f54c9947d47cdfabd3bf3a2afe1a3d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7006ae379a368c125a440d74aca150a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#af7006ae379a368c125a440d74aca150a">test_troop_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af7006ae379a368c125a440d74aca150a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The troop ID for battle tests.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#af7006ae379a368c125a440d74aca150a">More...</a><br /></td></tr>
<tr class="separator:af7006ae379a368c125a440d74aca150a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02c211161c7156de5178e6f5cf3355d1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a02c211161c7156de5178e6f5cf3355d1">start_map_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a02c211161c7156de5178e6f5cf3355d1"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map ID of the player's initial position.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a02c211161c7156de5178e6f5cf3355d1">More...</a><br /></td></tr>
<tr class="separator:a02c211161c7156de5178e6f5cf3355d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a573a16fb3cf499383e8278114987b022"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a573a16fb3cf499383e8278114987b022">start_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a573a16fb3cf499383e8278114987b022"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map X-coordinate of the player's initial position.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a573a16fb3cf499383e8278114987b022">More...</a><br /></td></tr>
<tr class="separator:a573a16fb3cf499383e8278114987b022"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82f74e22fdb547b69bed14b116eb0859"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a82f74e22fdb547b69bed14b116eb0859">start_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a82f74e22fdb547b69bed14b116eb0859"><td class="mdescLeft">&#160;</td><td class="mdescRight">The map Y-coordinate of the player's initial position.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a82f74e22fdb547b69bed14b116eb0859">More...</a><br /></td></tr>
<tr class="separator:a82f74e22fdb547b69bed14b116eb0859"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3aa26d4669a263083bbe37144a2c283"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#ab3aa26d4669a263083bbe37144a2c283">battleback_name</a><code> [get, set]</code></td></tr>
<tr class="separator:ab3aa26d4669a263083bbe37144a2c283"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b8ac66caf7eae7aedf5a49f4c3adb41"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a5b8ac66caf7eae7aedf5a49f4c3adb41">battler_name</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5b8ac66caf7eae7aedf5a49f4c3adb41"><td class="mdescLeft">&#160;</td><td class="mdescRight">The battler graphic file name, for internal use.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a5b8ac66caf7eae7aedf5a49f4c3adb41">More...</a><br /></td></tr>
<tr class="separator:a5b8ac66caf7eae7aedf5a49f4c3adb41"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a158b68ce91bf52cf4482b4f0ebd5361d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a158b68ce91bf52cf4482b4f0ebd5361d">battler_hue</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a158b68ce91bf52cf4482b4f0ebd5361d"><td class="mdescLeft">&#160;</td><td class="mdescRight">The adjustment value for the battler graphic's hue (0..360), for internal use.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a158b68ce91bf52cf4482b4f0ebd5361d">More...</a><br /></td></tr>
<tr class="separator:a158b68ce91bf52cf4482b4f0ebd5361d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a945bbbb0aabc860ae97d59249bbc9856"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a945bbbb0aabc860ae97d59249bbc9856">edit_map_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a945bbbb0aabc860ae97d59249bbc9856"><td class="mdescLeft">&#160;</td><td class="mdescRight">The ID of the map currently being edited, for internal use.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system.cshtml#a945bbbb0aabc860ae97d59249bbc9856">More...</a><br /></td></tr>
<tr class="separator:a945bbbb0aabc860ae97d59249bbc9856"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a231e14ea862d54de99b01e9e1d9613d8" name="a231e14ea862d54de99b01e9e1d9613d8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a231e14ea862d54de99b01e9e1d9613d8">&#9670;&#160;</a></span>actor_collapse_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.actor_collapse_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a511b700215616eab29c5ade3e1d41771" name="a511b700215616eab29c5ade3e1d41771"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a511b700215616eab29c5ade3e1d41771">&#9670;&#160;</a></span>battle_bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battle_bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a73cde7ee32bd31cbb818130a95becd6c" name="a73cde7ee32bd31cbb818130a95becd6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73cde7ee32bd31cbb818130a95becd6c">&#9670;&#160;</a></span>battle_end_me</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battle_end_me</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7a3e094bd7d172e1f6afa562ae34195b" name="a7a3e094bd7d172e1f6afa562ae34195b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a3e094bd7d172e1f6afa562ae34195b">&#9670;&#160;</a></span>battle_start_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battle_start_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a62603c22ef6ee178a6b1a45dec7a226c" name="a62603c22ef6ee178a6b1a45dec7a226c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62603c22ef6ee178a6b1a45dec7a226c">&#9670;&#160;</a></span>battle_transition</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battle_transition</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3aa26d4669a263083bbe37144a2c283" name="ab3aa26d4669a263083bbe37144a2c283"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3aa26d4669a263083bbe37144a2c283">&#9670;&#160;</a></span>battleback_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battleback_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a158b68ce91bf52cf4482b4f0ebd5361d" name="a158b68ce91bf52cf4482b4f0ebd5361d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a158b68ce91bf52cf4482b4f0ebd5361d">&#9670;&#160;</a></span>battler_hue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battler_hue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The adjustment value for the battler graphic's hue (0..360), for internal use.  </p>

</div>
</div>
<a id="a5b8ac66caf7eae7aedf5a49f4c3adb41" name="a5b8ac66caf7eae7aedf5a49f4c3adb41"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b8ac66caf7eae7aedf5a49f4c3adb41">&#9670;&#160;</a></span>battler_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.battler_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The battler graphic file name, for internal use.  </p>

</div>
</div>
<a id="ae650ed90790a8fb7fa24d201bcf0e89c" name="ae650ed90790a8fb7fa24d201bcf0e89c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae650ed90790a8fb7fa24d201bcf0e89c">&#9670;&#160;</a></span>buzzer_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.buzzer_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afa53b93f4556f908a64292b536af1ace" name="afa53b93f4556f908a64292b536af1ace"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa53b93f4556f908a64292b536af1ace">&#9670;&#160;</a></span>cancel_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.cancel_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a659d17352f87342d8cc8df36a77b1fae" name="a659d17352f87342d8cc8df36a77b1fae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a659d17352f87342d8cc8df36a77b1fae">&#9670;&#160;</a></span>cursor_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.cursor_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a21478b56cfaef20c9135010020fad58d" name="a21478b56cfaef20c9135010020fad58d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21478b56cfaef20c9135010020fad58d">&#9670;&#160;</a></span>decision_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.decision_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a945bbbb0aabc860ae97d59249bbc9856" name="a945bbbb0aabc860ae97d59249bbc9856"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a945bbbb0aabc860ae97d59249bbc9856">&#9670;&#160;</a></span>edit_map_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.edit_map_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The ID of the map currently being edited, for internal use.  </p>

</div>
</div>
<a id="ac7dbe3fc22cff931d2ca3e5ba7131c4f" name="ac7dbe3fc22cff931d2ca3e5ba7131c4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7dbe3fc22cff931d2ca3e5ba7131c4f">&#9670;&#160;</a></span>elements</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Dictionary&lt;int, string&gt; PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.elements</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Element list. Text array using element IDs as subscripts, with the element in the 0 position being null.  </p>

</div>
</div>
<a id="acee49f381b6033c7d860fc24a16800b1" name="acee49f381b6033c7d860fc24a16800b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acee49f381b6033c7d860fc24a16800b1">&#9670;&#160;</a></span>enemy_collapse_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.enemy_collapse_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aee95a92129aea5492c22ab390bb1cb9c" name="aee95a92129aea5492c22ab390bb1cb9c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee95a92129aea5492c22ab390bb1cb9c">&#9670;&#160;</a></span>equip_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.equip_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad7f071149da412c77969054e03482d34" name="ad7f071149da412c77969054e03482d34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7f071149da412c77969054e03482d34">&#9670;&#160;</a></span>escape_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.escape_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3ba002e3fd46e54d3f3882ef4f4dcb37" name="a3ba002e3fd46e54d3f3882ef4f4dcb37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ba002e3fd46e54d3f3882ef4f4dcb37">&#9670;&#160;</a></span>gameover_me</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_m_e.cshtml">IAudioME</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.gameover_me</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afffd78e9519128820b2d4072fa9458a8" name="afffd78e9519128820b2d4072fa9458a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afffd78e9519128820b2d4072fa9458a8">&#9670;&#160;</a></span>gameover_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.gameover_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8eae36fd4e1e09461a1a2087d2223ac7" name="a8eae36fd4e1e09461a1a2087d2223ac7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8eae36fd4e1e09461a1a2087d2223ac7">&#9670;&#160;</a></span>load_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.load_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab536ca0bc48289db2442cf79d4603724" name="ab536ca0bc48289db2442cf79d4603724"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab536ca0bc48289db2442cf79d4603724">&#9670;&#160;</a></span>magic_number</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.magic_number</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b6faebc79f85fa76780754572aa507b" name="a8b6faebc79f85fa76780754572aa507b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b6faebc79f85fa76780754572aa507b">&#9670;&#160;</a></span>party_members</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.party_members</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The initial party. An array of actor IDs.  </p>

</div>
</div>
<a id="a5409dfc7d4b0a64edf6b6ca2a4a82296" name="a5409dfc7d4b0a64edf6b6ca2a4a82296"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5409dfc7d4b0a64edf6b6ca2a4a82296">&#9670;&#160;</a></span>save_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.save_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1f09d24356e109b2bed84110208252fd" name="a1f09d24356e109b2bed84110208252fd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f09d24356e109b2bed84110208252fd">&#9670;&#160;</a></span>shop_se</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_s_e.cshtml">IAudioSE</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.shop_se</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a02c211161c7156de5178e6f5cf3355d1" name="a02c211161c7156de5178e6f5cf3355d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02c211161c7156de5178e6f5cf3355d1">&#9670;&#160;</a></span>start_map_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.start_map_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map ID of the player's initial position.  </p>

</div>
</div>
<a id="a573a16fb3cf499383e8278114987b022" name="a573a16fb3cf499383e8278114987b022"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a573a16fb3cf499383e8278114987b022">&#9670;&#160;</a></span>start_x</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.start_x</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map X-coordinate of the player's initial position.  </p>

</div>
</div>
<a id="a82f74e22fdb547b69bed14b116eb0859" name="a82f74e22fdb547b69bed14b116eb0859"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82f74e22fdb547b69bed14b116eb0859">&#9670;&#160;</a></span>start_y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.start_y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The map Y-coordinate of the player's initial position.  </p>

</div>
</div>
<a id="a93fccd35041ec1095e3721951d39b805" name="a93fccd35041ec1095e3721951d39b805"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93fccd35041ec1095e3721951d39b805">&#9670;&#160;</a></span>switches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Dictionary&lt;int, string&gt; PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.switches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Switch list. Text array using switch IDs as subscripts, with the element in the 0 position being null.  </p>

</div>
</div>
<a id="a19f54c9947d47cdfabd3bf3a2afe1a3d" name="a19f54c9947d47cdfabd3bf3a2afe1a3d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19f54c9947d47cdfabd3bf3a2afe1a3d">&#9670;&#160;</a></span>test_battlers</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">ISystemTestBattler</a> [] PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.test_battlers</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Party settings for battle tests.  </p>

</div>
</div>
<a id="af7006ae379a368c125a440d74aca150a" name="af7006ae379a368c125a440d74aca150a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7006ae379a368c125a440d74aca150a">&#9670;&#160;</a></span>test_troop_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.test_troop_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The troop ID for battle tests.  </p>

</div>
</div>
<a id="ade9e0e3dabf31fdb2a3e172ffcdf35b4" name="ade9e0e3dabf31fdb2a3e172ffcdf35b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade9e0e3dabf31fdb2a3e172ffcdf35b4">&#9670;&#160;</a></span>title_bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.title_bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a99e832e3cae7d8dffb49642bd78ed16d" name="a99e832e3cae7d8dffb49642bd78ed16d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a99e832e3cae7d8dffb49642bd78ed16d">&#9670;&#160;</a></span>title_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.title_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The game title.  </p>

</div>
</div>
<a id="a4949706f1ddefdbe201db61f619349c2" name="a4949706f1ddefdbe201db61f619349c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4949706f1ddefdbe201db61f619349c2">&#9670;&#160;</a></span>variables</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">Dictionary&lt;int, string&gt; PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.variables</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Variable list. Text array using variable IDs as subscripts, with the element in the 0 position being null.  </p>

</div>
</div>
<a id="ac91426a896e6fcdb0ab2f1fd97e84dce" name="ac91426a896e6fcdb0ab2f1fd97e84dce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac91426a896e6fcdb0ab2f1fd97e84dce">&#9670;&#160;</a></span>windowskin_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.windowskin_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a22bdfc643a304fc0489cef7218a3ff1f" name="a22bdfc643a304fc0489cef7218a3ff1f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a22bdfc643a304fc0489cef7218a3ff1f">&#9670;&#160;</a></span>words</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_words.cshtml">ISystemWords</a> PokemonEssentials.Interface.RPGMaker.Kernal.ISystem.words</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
