@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonPokedexScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml">IPokemonPokedexScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonPokedexScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonPokedexScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonPokedexScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonPokedexScreen_map" name="PokemonEssentials.Interface.Screen.IPokemonPokedexScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,365,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1a6664ba0723bb900e6a22a47003d050"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml">IPokemonPokedexScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml#a1a6664ba0723bb900e6a22a47003d050">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_scene.cshtml">IPokemonPokedexScene</a> scene)</td></tr>
<tr class="separator:a1a6664ba0723bb900e6a22a47003d050"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95467fba1217bb55ed01597a83ab403c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml#a95467fba1217bb55ed01597a83ab403c">pbDexEntry</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:a95467fba1217bb55ed01597a83ab403c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47e1afdf1db94bec2e20dd65429d6b92"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml#a47e1afdf1db94bec2e20dd65429d6b92">pbStartScreen</a> ()</td></tr>
<tr class="separator:a47e1afdf1db94bec2e20dd65429d6b92"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a1a6664ba0723bb900e6a22a47003d050" name="a1a6664ba0723bb900e6a22a47003d050"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a6664ba0723bb900e6a22a47003d050">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_screen.cshtml">IPokemonPokedexScreen</a> PokemonEssentials.Interface.Screen.IPokemonPokedexScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_pokedex_scene.cshtml">IPokemonPokedexScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a95467fba1217bb55ed01597a83ab403c" name="a95467fba1217bb55ed01597a83ab403c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95467fba1217bb55ed01597a83ab403c">&#9670;&#160;</a></span>pbDexEntry()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonPokedexScreen.pbDexEntry </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a47e1afdf1db94bec2e20dd65429d6b92" name="a47e1afdf1db94bec2e20dd65429d6b92"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a47e1afdf1db94bec2e20dd65429d6b92">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonPokedexScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_pokedex_8cs.cshtml">IPokedex.cs</a></li>
</ul>
