@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.ILevelRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_restriction.cshtml">ILevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ILevelRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.ILevelRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_restriction.png" usemap="#PokemonEssentials.Interface.Battle.ILevelRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.ILevelRestriction_map" name="PokemonEssentials.Interface.Battle.ILevelRestriction_map">
<area href="class_pokemon_unity_1_1_level_restriction.cshtml" alt="PokemonUnity.LevelRestriction" shape="rect" coords="0,56,305,80"/>
  </map>
</div></div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
