@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattleCommon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml">IBattleCommon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleCommon Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattleCommon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattleCommon_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattleCommon_map" name="PokemonEssentials.Interface.PokeBattle.IBattleCommon_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class." alt="PokemonEssentials.Interface.PokeBattle.IBattle" shape="rect" coords="0,56,397,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_safari_zone___scene.cshtml" alt="PokemonEssentials.Interface.Screen.ISafariZone_Scene" shape="rect" coords="814,56,1211,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle___bug_contest_battle.cshtml" alt="PokemonEssentials.Interface.Battle.IBattle_BugContestBattle" shape="rect" coords="407,112,804,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_arena.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattleArena" shape="rect" coords="407,168,804,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_palace.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePalace" shape="rect" coords="407,224,804,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IBattlePlayer" shape="rect" coords="407,280,804,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IRecordedBattle" shape="rect" coords="407,336,804,360"/>
<area href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml" alt="PokemonUnity.Combat.Battle" shape="rect" coords="407,392,804,416"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml" alt="PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;" shape="rect" coords="407,448,804,472"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml" alt="PokemonUnity.Combat.PokeBattle_SafariZone" shape="rect" coords="814,112,1211,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa2ff4099f576f98d0aaad71ad6b82565"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml#aa2ff4099f576f98d0aaad71ad6b82565">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:aa2ff4099f576f98d0aaad71ad6b82565"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a988b8cfeb911018ae3a74666a36a8105"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_common.cshtml#a988b8cfeb911018ae3a74666a36a8105">ThrowPokeball</a> (int idxPokemon, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int? rareness=null, bool showplayer=false)</td></tr>
<tr class="separator:a988b8cfeb911018ae3a74666a36a8105"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aa2ff4099f576f98d0aaad71ad6b82565" name="aa2ff4099f576f98d0aaad71ad6b82565"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2ff4099f576f98d0aaad71ad6b82565">&#9670;&#160;</a></span>StorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattleCommon.StorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a47968deeaaa4a922b665cafe692377b8">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#acb7c5ec6eb88fcd443e19dc243960f82">PokemonUnity.Combat.Battle</a>, and <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle___bug_contest_battle.cshtml#a032f7d551750443323d9a41031ea6041">PokemonEssentials.Interface.Battle.IBattle_BugContestBattle</a>.</p>

</div>
</div>
<a id="a988b8cfeb911018ae3a74666a36a8105" name="a988b8cfeb911018ae3a74666a36a8105"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a988b8cfeb911018ae3a74666a36a8105">&#9670;&#160;</a></span>ThrowPokeball()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattleCommon.ThrowPokeball </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>idxPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>rareness</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showplayer</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ae2ca0e8679763383c4a994d707f36ffa">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_poke_battle_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>

