@{
	Page.Title = "PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata_dependant_events.cshtml">IGlobalMetadataDependantEvents</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata_dependant_events-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata_dependant_events.png" usemap="#PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents_map" name="PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_global_metadata.cshtml" alt="PokemonEssentials.Interface.IGlobalMetadata" shape="rect" coords="0,56,399,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aad58f993770aaa4ca926a859180e6147"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_events.cshtml">IDependentEvents</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata_dependant_events.cshtml#aad58f993770aaa4ca926a859180e6147">dependentEvents</a> <code>[get]</code></td></tr>
<tr class="separator:aad58f993770aaa4ca926a859180e6147"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="aad58f993770aaa4ca926a859180e6147" name="aad58f993770aaa4ca926a859180e6147"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad58f993770aaa4ca926a859180e6147">&#9670;&#160;</a></span>dependentEvents</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dependent_events.cshtml">IDependentEvents</a> PokemonEssentials.Interface.Field.IGlobalMetadataDependantEvents.dependentEvents</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_dependant_events_8cs.cshtml">IDependantEvents.cs</a></li>
</ul>
