@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects.cshtml">Effects</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml">IActiveSide</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.Effects.IActiveSide Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveSide</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml#aeccb71e290bdefaa8c61fbf21054151c">effects</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveSide</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml#a276c5cfd2e9c2395fe4b78a9d3368c4c">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_effects_1_1_i_active_side.cshtml">PokemonEssentials.Interface.PokeBattle.Effects.IActiveSide</a></td><td class="entry"></td></tr>
</table>