@{
	Page.Title = "PokemonUnity.IRelicStoneScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml">IRelicStoneScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_unity_1_1_i_relic_stone_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IRelicStoneScreen Interface Reference</div></div>
}


<p>Screen class for handling game logic   
 <a href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.IRelicStoneScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_unity_1_1_i_relic_stone_screen.png" usemap="#PokemonUnity.IRelicStoneScreen_map" alt=""/>
  <map id="PokemonUnity.IRelicStoneScreen_map" name="PokemonUnity.IRelicStoneScreen_map">
<area href="interface_pokemon_unity_1_1_i_screen.cshtml" alt="PokemonUnity.IScreen" shape="rect" coords="0,0,199,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a16f1d92d044f0ed59759c71e94ae93ca"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#a16f1d92d044f0ed59759c71e94ae93ca">initialize</a> (<a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_scene.cshtml">IRelicStoneScene</a> scene)</td></tr>
<tr class="separator:a16f1d92d044f0ed59759c71e94ae93ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f7a70aeb4ff08ac208cfa400f63ece6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#a7f7a70aeb4ff08ac208cfa400f63ece6">pbRefresh</a> ()</td></tr>
<tr class="separator:a7f7a70aeb4ff08ac208cfa400f63ece6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01b7c1bb247d0850504333013b8c1974"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#a01b7c1bb247d0850504333013b8c1974">pbConfirm</a> (string x)</td></tr>
<tr class="separator:a01b7c1bb247d0850504333013b8c1974"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0b62b8d9f47d47e2ac8262a7144ca711"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#a0b62b8d9f47d47e2ac8262a7144ca711">pbDisplay</a> (string x)</td></tr>
<tr class="separator:a0b62b8d9f47d47e2ac8262a7144ca711"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78ae7e8b91ecfb543c829dec7b36fa5c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_screen.cshtml#a78ae7e8b91ecfb543c829dec7b36fa5c">pbStartScreen</a> (<a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a> pokemon)</td></tr>
<tr class="separator:a78ae7e8b91ecfb543c829dec7b36fa5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Screen class for handling game logic  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a16f1d92d044f0ed59759c71e94ae93ca" name="a16f1d92d044f0ed59759c71e94ae93ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a16f1d92d044f0ed59759c71e94ae93ca">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IRelicStoneScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_unity_1_1_i_relic_stone_scene.cshtml">IRelicStoneScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a01b7c1bb247d0850504333013b8c1974" name="a01b7c1bb247d0850504333013b8c1974"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01b7c1bb247d0850504333013b8c1974">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IRelicStoneScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0b62b8d9f47d47e2ac8262a7144ca711" name="a0b62b8d9f47d47e2ac8262a7144ca711"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0b62b8d9f47d47e2ac8262a7144ca711">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IRelicStoneScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7f7a70aeb4ff08ac208cfa400f63ece6" name="a7f7a70aeb4ff08ac208cfa400f63ece6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f7a70aeb4ff08ac208cfa400f63ece6">&#9670;&#160;</a></span>pbRefresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IRelicStoneScreen.pbRefresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78ae7e8b91ecfb543c829dec7b36fa5c" name="a78ae7e8b91ecfb543c829dec7b36fa5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78ae7e8b91ecfb543c829dec7b36fa5c">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IRelicStoneScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Monster.Pokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
