@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">IDamageState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IDamageState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a71f1c9c3b325c16272cb5b9cb7981090">BerryWeakened</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a76ae2004878e378a852ebf653e0651c8">CalcDamage</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a3e196f8e41c360f01c933c1e50cef720">Critical</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a978e8063f587e6e6d4b3e44b01946586">Endured</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac8c982369e7c0a99e98f35adc0c431dc">FocusBand</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#ac5902ceff19c35a48a081d7b3f69f143">FocusSash</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a223f4c34a5dffdb8bf5c5495ec26ad8f">HPLost</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a0e7729d5724e9d6c2a0bd2328e9cc8ac">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a4b3d78d7ff68ea771c6f9c41b35bfde0">Reset</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a1ba58ff14673392cf8a08c935ab0e5c3">Sturdy</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a620926d9dd3ff6db6c88a8a1f9abc357">Substitute</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml#a120d0e5ed1b272275059b4608dc2f8b2">TypeMod</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_damage_state.cshtml">PokemonEssentials.Interface.PokeBattle.IDamageState</a></td><td class="entry"></td></tr>
</table>