@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.ISprite Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISprite Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.ISprite:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.png" usemap="#PokemonEssentials.Interface.ISprite_map" alt=""/>
  <map id="PokemonEssentials.Interface.ISprite_map" name="PokemonEssentials.Interface.ISprite_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml" alt="PokemonEssentials.Interface.IRPGSprite" shape="rect" coords="648,56,1070,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_animation_sprite.cshtml" title="A sprite whose sole purpose is to display an animation. This sprite can be displayed anywhere on the ..." alt="PokemonEssentials.Interface.IAnimationSprite" shape="rect" coords="0,168,422,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_character.cshtml" alt="PokemonEssentials.Interface.ISpriteCharacter" shape="rect" coords="432,168,854,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_wrapper.cshtml" alt="PokemonEssentials.Interface.ISpriteWrapper" shape="rect" coords="864,168,1286,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_clippable_sprite.cshtml" alt="PokemonEssentials.Interface.IClippableSprite" shape="rect" coords="432,224,854,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_animated_sprite.cshtml" alt="PokemonEssentials.Interface.IAnimatedSprite" shape="rect" coords="1296,224,1718,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_bitmap_sprite.cshtml" alt="PokemonEssentials.Interface.IBitmapSprite" shape="rect" coords="1296,280,1718,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_icon_sprite.cshtml" title="Displays an icon bitmap in a sprite. Supports animated images." alt="PokemonEssentials.Interface.IIconSprite" shape="rect" coords="1296,336,1718,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_icon_sprite.cshtml" title="Pokémon icon (for defined Pokémon)" alt="PokemonEssentials.Interface.IPokemonIconSprite" shape="rect" coords="1296,392,1718,416"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_species_icon_sprite.cshtml" title="Pokémon icon (for species)" alt="PokemonEssentials.Interface.IPokemonSpeciesIconSprite" shape="rect" coords="1296,448,1718,472"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_pokemon_sprite.cshtml" title="Pokémon sprite (used out of battle)" alt="PokemonEssentials.Interface.IPokemonSprite" shape="rect" coords="1296,504,1718,528"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_changeling_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IChangelingSprite" shape="rect" coords="1296,560,1718,584"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_panel.cshtml" alt="PokemonEssentials.Interface.Screen.ILoadPanel" shape="rect" coords="1296,616,1718,640"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_move_selection_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IMoveSelectionSprite" shape="rect" coords="1296,672,1718,696"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_confirm_cancel_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionConfirmCancelSprite" shape="rect" coords="1296,728,1718,752"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_placeholder_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionPlaceholderSprite" shape="rect" coords="1296,784,1718,808"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_selection_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokeSelectionSprite" shape="rect" coords="1296,840,1718,864"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokegear_button.cshtml" alt="PokemonEssentials.Interface.Screen.IPokegearButton" shape="rect" coords="1296,896,1718,920"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_arrow.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxArrow" shape="rect" coords="1296,952,1718,976"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_party_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxPartySprite" shape="rect" coords="1296,1008,1718,1032"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box_sprite.cshtml" alt="PokemonEssentials.Interface.Screen.IPokemonBoxSprite" shape="rect" coords="1296,1064,1718,1088"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_data_box.cshtml" title="Data box for regular battles (both single and double)" alt="PokemonEssentials.Interface.Screen.IPokemonDataBox" shape="rect" coords="1296,1120,1718,1144"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set_view.cshtml" alt="PokemonEssentials.Interface.Screen.IPurifyChamberSetView" shape="rect" coords="1296,1176,1718,1200"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_safari_data_box.cshtml" title="Data box for safari battles" alt="PokemonEssentials.Interface.Screen.ISafariDataBox" shape="rect" coords="1296,1232,1718,1256"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aaa5b816a03c5c485a20e49b1c6cc6a5b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#aaa5b816a03c5c485a20e49b1c6cc6a5b">whiten</a> ()</td></tr>
<tr class="memdesc:aaa5b816a03c5c485a20e49b1c6cc6a5b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#aaa5b816a03c5c485a20e49b1c6cc6a5b">More...</a><br /></td></tr>
<tr class="separator:aaa5b816a03c5c485a20e49b1c6cc6a5b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cf50974b3939edf98944cf5a2566f97"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a5cf50974b3939edf98944cf5a2566f97">appear</a> ()</td></tr>
<tr class="separator:a5cf50974b3939edf98944cf5a2566f97"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20ef318146a1c27a5ce7f55884dd2f78"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a20ef318146a1c27a5ce7f55884dd2f78">escape</a> ()</td></tr>
<tr class="separator:a20ef318146a1c27a5ce7f55884dd2f78"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7133511bfee3077167245cfae3ce921b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a7133511bfee3077167245cfae3ce921b">collapse</a> ()</td></tr>
<tr class="separator:a7133511bfee3077167245cfae3ce921b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeac3579aba2ec8a3668e82c0d3f8fa8f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#aeac3579aba2ec8a3668e82c0d3f8fa8f">damage</a> (int value, bool critical)</td></tr>
<tr class="separator:aeac3579aba2ec8a3668e82c0d3f8fa8f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9782e850f73d085b5eca91163be7734"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#ac9782e850f73d085b5eca91163be7734">dispose_damage</a> ()</td></tr>
<tr class="separator:ac9782e850f73d085b5eca91163be7734"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97a819f3d17655c5c7cfebeee219822d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a97a819f3d17655c5c7cfebeee219822d">dispose_animation</a> ()</td></tr>
<tr class="separator:a97a819f3d17655c5c7cfebeee219822d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a657cc623d9485fb9de74a0017b4d0156"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a657cc623d9485fb9de74a0017b4d0156">dispose_loop_animation</a> ()</td></tr>
<tr class="separator:a657cc623d9485fb9de74a0017b4d0156"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ab7a7173e2f65eb61dd6614270a5d06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a7ab7a7173e2f65eb61dd6614270a5d06">blink_on</a> ()</td></tr>
<tr class="separator:a7ab7a7173e2f65eb61dd6614270a5d06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7ae8382cfc8276bbf23256810c561d4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#af7ae8382cfc8276bbf23256810c561d4">blink_off</a> ()</td></tr>
<tr class="separator:af7ae8382cfc8276bbf23256810c561d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed16b1d17f33292028632207d1d20447"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#aed16b1d17f33292028632207d1d20447">update_animation</a> ()</td></tr>
<tr class="separator:aed16b1d17f33292028632207d1d20447"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a555902f06b38f3c0f64f2b5803631d5b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#a555902f06b38f3c0f64f2b5803631d5b">update_loop_animation</a> ()</td></tr>
<tr class="separator:a555902f06b38f3c0f64f2b5803631d5b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">PokemonEssentials.Interface.IRPGSprite</a></td></tr>
<tr class="memitem:a626240719b79463b8bb3567a14fc5889 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a626240719b79463b8bb3567a14fc5889">update</a> ()</td></tr>
<tr class="memdesc:a626240719b79463b8bb3567a14fc5889 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">If a flash or wave is not needed, it is not necessary to call this.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a626240719b79463b8bb3567a14fc5889">More...</a><br /></td></tr>
<tr class="separator:a626240719b79463b8bb3567a14fc5889 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6ed84e13867d94adfcc74bd4c3db20e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac6ed84e13867d94adfcc74bd4c3db20e">Dispose</a> ()</td></tr>
<tr class="memdesc:ac6ed84e13867d94adfcc74bd4c3db20e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Frees the sprite. If the sprite has already been freed, does nothing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac6ed84e13867d94adfcc74bd4c3db20e">More...</a><br /></td></tr>
<tr class="separator:ac6ed84e13867d94adfcc74bd4c3db20e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3cbbe3690cd7be4f67d24968e94cc4b1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a3cbbe3690cd7be4f67d24968e94cc4b1">flash</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">color</a>, int duration)</td></tr>
<tr class="memdesc:a3cbbe3690cd7be4f67d24968e94cc4b1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Begins flashing the sprite. duration specifies the number of frames the flash will last. If color is set to nil, the sprite will disappear while flashing.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a3cbbe3690cd7be4f67d24968e94cc4b1">More...</a><br /></td></tr>
<tr class="separator:a3cbbe3690cd7be4f67d24968e94cc4b1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad876dd683adfb82a6cea735b03d28b45 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">IRPGSprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad876dd683adfb82a6cea735b03d28b45">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">viewport</a>=null)</td></tr>
<tr class="separator:ad876dd683adfb82a6cea735b03d28b45 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae24235681e1d6e155d6992a4cf409652"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#ae24235681e1d6e155d6992a4cf409652">blink</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ae24235681e1d6e155d6992a4cf409652"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's visibility. If TRUE, the sprite is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#ae24235681e1d6e155d6992a4cf409652">More...</a><br /></td></tr>
<tr class="separator:ae24235681e1d6e155d6992a4cf409652"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acddea0cb50c6b476056737090b821695"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml#acddea0cb50c6b476056737090b821695">effect</a><code> [get, set]</code></td></tr>
<tr class="separator:acddea0cb50c6b476056737090b821695"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml">PokemonEssentials.Interface.IRPGSprite</a></td></tr>
<tr class="memitem:ad01b4380b35287532a6eabd9d097be3a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad01b4380b35287532a6eabd9d097be3a">angle</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad01b4380b35287532a6eabd9d097be3a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's angle of rotation. Specifies up to 360 degrees of counterclockwise rotation.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad01b4380b35287532a6eabd9d097be3a">More...</a><br /></td></tr>
<tr class="separator:ad01b4380b35287532a6eabd9d097be3a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40ec912b9fffe644e2449886c4f639f0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a40ec912b9fffe644e2449886c4f639f0">blend_type</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a40ec912b9fffe644e2449886c4f639f0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the bitmap (Bitmap) used for the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a40ec912b9fffe644e2449886c4f639f0">More...</a><br /></td></tr>
<tr class="separator:a40ec912b9fffe644e2449886c4f639f0 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af456f0f14d99997cf3c5bcc1b7720560 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af456f0f14d99997cf3c5bcc1b7720560">bush_depth</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af456f0f14d99997cf3c5bcc1b7720560 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">This can be used to represent something like characters' legs being hidden by bushes. For bush_depth, the number of pixels for the bush section is specified.The default value is 0.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af456f0f14d99997cf3c5bcc1b7720560">More...</a><br /></td></tr>
<tr class="separator:af456f0f14d99997cf3c5bcc1b7720560 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06f3cf1345b2da7c821167d5086da7b6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">color</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a06f3cf1345b2da7c821167d5086da7b6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The color (Color) to be blended with the sprite. Alpha values are used in the blending ratio.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a06f3cf1345b2da7c821167d5086da7b6">More...</a><br /></td></tr>
<tr class="separator:a06f3cf1345b2da7c821167d5086da7b6 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac017c1b2509b3c52fd3d9461866733ef inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac017c1b2509b3c52fd3d9461866733ef">disposed</a><code> [get]</code></td></tr>
<tr class="memdesc:ac017c1b2509b3c52fd3d9461866733ef inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns TRUE if the sprite has been freed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ac017c1b2509b3c52fd3d9461866733ef">More...</a><br /></td></tr>
<tr class="separator:ac017c1b2509b3c52fd3d9461866733ef inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5adc2e9501437e8eb276208858947a9d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5adc2e9501437e8eb276208858947a9d">mirror</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5adc2e9501437e8eb276208858947a9d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Flag denoting the sprite has been flipped horizontally. If TRUE, the sprite will be drawn flipped.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5adc2e9501437e8eb276208858947a9d">More...</a><br /></td></tr>
<tr class="separator:a5adc2e9501437e8eb276208858947a9d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea41a045c92ef650a15ddf5d6d6f48d3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aea41a045c92ef650a15ddf5d6d6f48d3">opacity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aea41a045c92ef650a15ddf5d6d6f48d3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's opacity (0-255). Values out of range are automatically corrected.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aea41a045c92ef650a15ddf5d6d6f48d3">More...</a><br /></td></tr>
<tr class="separator:aea41a045c92ef650a15ddf5d6d6f48d3 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f2e635b9645b8ee5ec52f4ea7244caf inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1f2e635b9645b8ee5ec52f4ea7244caf">ox</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1f2e635b9645b8ee5ec52f4ea7244caf inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The X-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1f2e635b9645b8ee5ec52f4ea7244caf">More...</a><br /></td></tr>
<tr class="separator:a1f2e635b9645b8ee5ec52f4ea7244caf inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af9eeb948f584358591ebf0d4235daefc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af9eeb948f584358591ebf0d4235daefc">oy</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af9eeb948f584358591ebf0d4235daefc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The Y-coordinate of the sprite's starting point.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#af9eeb948f584358591ebf0d4235daefc">More...</a><br /></td></tr>
<tr class="separator:af9eeb948f584358591ebf0d4235daefc inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a026e21ab4aeabf8c68e20f3016d10ab1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_rect.cshtml">IRect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a026e21ab4aeabf8c68e20f3016d10ab1">src_rect</a><code> [get, set]</code></td></tr>
<tr class="separator:a026e21ab4aeabf8c68e20f3016d10ab1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a47350ac729cbaebc3c3c21277ddcf0c9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tone.cshtml">ITone</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a47350ac729cbaebc3c3c21277ddcf0c9">tone</a><code> [get, set]</code></td></tr>
<tr class="separator:a47350ac729cbaebc3c3c21277ddcf0c9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1aa81cccddf9609b6831a5b3a473364e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">viewport</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a1aa81cccddf9609b6831a5b3a473364e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Refers to the viewport (Viewport) associated with the sprite.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a1aa81cccddf9609b6831a5b3a473364e">More...</a><br /></td></tr>
<tr class="separator:a1aa81cccddf9609b6831a5b3a473364e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a041509919ae84b04c79473c63a562024 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a041509919ae84b04c79473c63a562024">visible</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a041509919ae84b04c79473c63a562024 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's visibility. If TRUE, the sprite is visible.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a041509919ae84b04c79473c63a562024">More...</a><br /></td></tr>
<tr class="separator:a041509919ae84b04c79473c63a562024 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27b83c161ee7d828b70e2b1bb3c3f47e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27b83c161ee7d828b70e2b1bb3c3f47e">x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27b83c161ee7d828b70e2b1bb3c3f47e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27b83c161ee7d828b70e2b1bb3c3f47e">More...</a><br /></td></tr>
<tr class="separator:a27b83c161ee7d828b70e2b1bb3c3f47e inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32ee91987527077947469ece13c81b0f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a32ee91987527077947469ece13c81b0f">y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a32ee91987527077947469ece13c81b0f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-coordinate.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a32ee91987527077947469ece13c81b0f">More...</a><br /></td></tr>
<tr class="separator:a32ee91987527077947469ece13c81b0f inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6163437482ffa43d22be401cefdf41a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad6163437482ffa43d22be401cefdf41a">z</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad6163437482ffa43d22be401cefdf41a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Z-coordinate. The larger this value, the closer to the player the sprite will be displayed.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#ad6163437482ffa43d22be401cefdf41a">More...</a><br /></td></tr>
<tr class="separator:ad6163437482ffa43d22be401cefdf41a inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02da03cfe3e73005af894848d2e505c4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a02da03cfe3e73005af894848d2e505c4">zoom_x</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a02da03cfe3e73005af894848d2e505c4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's X-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a02da03cfe3e73005af894848d2e505c4">More...</a><br /></td></tr>
<tr class="separator:a02da03cfe3e73005af894848d2e505c4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27f1940e9077546969489358e0583dc2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27f1940e9077546969489358e0583dc2">zoom_y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a27f1940e9077546969489358e0583dc2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">The sprite's Y-axis zoom level. 1.0 denotes actual pixel size.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a27f1940e9077546969489358e0583dc2">More...</a><br /></td></tr>
<tr class="separator:a27f1940e9077546969489358e0583dc2 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aba13ccc41a77634c7c7ea82c504af307 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aba13ccc41a77634c7c7ea82c504af307">width</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aba13ccc41a77634c7c7ea82c504af307 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the width of the sprite. Equivalent to src_rect.width.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#aba13ccc41a77634c7c7ea82c504af307">More...</a><br /></td></tr>
<tr class="separator:aba13ccc41a77634c7c7ea82c504af307 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5633e7c126f18cf99dd13e09aa31d9a9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5633e7c126f18cf99dd13e09aa31d9a9">height</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5633e7c126f18cf99dd13e09aa31d9a9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the height of the sprite. Equivalent to src_rect.height.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite.cshtml#a5633e7c126f18cf99dd13e09aa31d9a9">More...</a><br /></td></tr>
<tr class="separator:a5633e7c126f18cf99dd13e09aa31d9a9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_r_p_g_sprite"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5cf50974b3939edf98944cf5a2566f97" name="a5cf50974b3939edf98944cf5a2566f97"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cf50974b3939edf98944cf5a2566f97">&#9670;&#160;</a></span>appear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.appear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af7ae8382cfc8276bbf23256810c561d4" name="af7ae8382cfc8276bbf23256810c561d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7ae8382cfc8276bbf23256810c561d4">&#9670;&#160;</a></span>blink_off()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.blink_off </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ab7a7173e2f65eb61dd6614270a5d06" name="a7ab7a7173e2f65eb61dd6614270a5d06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ab7a7173e2f65eb61dd6614270a5d06">&#9670;&#160;</a></span>blink_on()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.blink_on </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7133511bfee3077167245cfae3ce921b" name="a7133511bfee3077167245cfae3ce921b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7133511bfee3077167245cfae3ce921b">&#9670;&#160;</a></span>collapse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.collapse </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeac3579aba2ec8a3668e82c0d3f8fa8f" name="aeac3579aba2ec8a3668e82c0d3f8fa8f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeac3579aba2ec8a3668e82c0d3f8fa8f">&#9670;&#160;</a></span>damage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.damage </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>critical</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a97a819f3d17655c5c7cfebeee219822d" name="a97a819f3d17655c5c7cfebeee219822d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97a819f3d17655c5c7cfebeee219822d">&#9670;&#160;</a></span>dispose_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.dispose_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac9782e850f73d085b5eca91163be7734" name="ac9782e850f73d085b5eca91163be7734"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9782e850f73d085b5eca91163be7734">&#9670;&#160;</a></span>dispose_damage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.dispose_damage </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a657cc623d9485fb9de74a0017b4d0156" name="a657cc623d9485fb9de74a0017b4d0156"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a657cc623d9485fb9de74a0017b4d0156">&#9670;&#160;</a></span>dispose_loop_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.dispose_loop_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a20ef318146a1c27a5ce7f55884dd2f78" name="a20ef318146a1c27a5ce7f55884dd2f78"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20ef318146a1c27a5ce7f55884dd2f78">&#9670;&#160;</a></span>escape()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.escape </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed16b1d17f33292028632207d1d20447" name="aed16b1d17f33292028632207d1d20447"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed16b1d17f33292028632207d1d20447">&#9670;&#160;</a></span>update_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.update_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a555902f06b38f3c0f64f2b5803631d5b" name="a555902f06b38f3c0f64f2b5803631d5b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a555902f06b38f3c0f64f2b5803631d5b">&#9670;&#160;</a></span>update_loop_animation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.update_loop_animation </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaa5b816a03c5c485a20e49b1c6cc6a5b" name="aaa5b816a03c5c485a20e49b1c6cc6a5b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa5b816a03c5c485a20e49b1c6cc6a5b">&#9670;&#160;</a></span>whiten()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISprite.whiten </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The sprite's X-coordinate.  </p>
<p >The sprite's Y-coordinate. </p>
<p >Frees the sprite. If the sprite has already been freed, does nothing. </p>
<p >Begins flashing the sprite. duration specifies the number of frames the flash will last. If color is set to nil, the sprite will disappear while flashing.  </p><dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">color</td><td></td></tr>
    <tr><td class="paramname">duration</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae24235681e1d6e155d6992a4cf409652" name="ae24235681e1d6e155d6992a4cf409652"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae24235681e1d6e155d6992a4cf409652">&#9670;&#160;</a></span>blink</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISprite.blink</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The sprite's visibility. If TRUE, the sprite is visible.  </p>

</div>
</div>
<a id="acddea0cb50c6b476056737090b821695" name="acddea0cb50c6b476056737090b821695"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acddea0cb50c6b476056737090b821695">&#9670;&#160;</a></span>effect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.ISprite.effect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_sprite_character_8cs.cshtml">ISpriteCharacter.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
