@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IInterpreterMixinMessage Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml">IInterpreterMixinMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterMixinMessage Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a268834348e63ef7dfadc7691e7c6319b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a268834348e63ef7dfadc7691e7c6319b">GlobalLock</a> ()</td></tr>
<tr class="memdesc:a268834348e63ef7dfadc7691e7c6319b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Freezes all events on the map (for use at the beginning of common events)   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a268834348e63ef7dfadc7691e7c6319b">More...</a><br /></td></tr>
<tr class="separator:a268834348e63ef7dfadc7691e7c6319b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a116b8edfeb7c015d40a7adef38a353a2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a116b8edfeb7c015d40a7adef38a353a2">GlobalUnlock</a> ()</td></tr>
<tr class="memdesc:a116b8edfeb7c015d40a7adef38a353a2"><td class="mdescLeft">&#160;</td><td class="mdescRight">Unfreezes all events on the map (for use at the end of common events)   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a116b8edfeb7c015d40a7adef38a353a2">More...</a><br /></td></tr>
<tr class="separator:a116b8edfeb7c015d40a7adef38a353a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc806717d6759b1b69825463b78888de"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#afc806717d6759b1b69825463b78888de">RepeatAbove</a> (int index)</td></tr>
<tr class="separator:afc806717d6759b1b69825463b78888de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac3938e84b9730a65856ce19aa7bea9b9"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#ac3938e84b9730a65856ce19aa7bea9b9">BreakLoop</a> (int index)</td></tr>
<tr class="separator:ac3938e84b9730a65856ce19aa7bea9b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abb5b7cac9a9329fcb40ba822d0f4a4d1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#abb5b7cac9a9329fcb40ba822d0f4a4d1">JumpToLabel</a> (int index, string label_name)</td></tr>
<tr class="separator:abb5b7cac9a9329fcb40ba822d0f4a4d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa2372896172e688fc6cdb030ca019d1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#aaa2372896172e688fc6cdb030ca019d1">NextIndex</a> (int index)</td></tr>
<tr class="memdesc:aaa2372896172e688fc6cdb030ca019d1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the next index in the interpreter, ignoring certain events between messages   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#aaa2372896172e688fc6cdb030ca019d1">More...</a><br /></td></tr>
<tr class="separator:aaa2372896172e688fc6cdb030ca019d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc181ad3e1d64fa87eff2b5808d54d25"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#afc181ad3e1d64fa87eff2b5808d54d25">ShowPicture</a> (int number, string name, float origin, float x, float y, int zoomX=100, int zoomY=100, byte opacity=255, int blendType=0)</td></tr>
<tr class="memdesc:afc181ad3e1d64fa87eff2b5808d54d25"><td class="mdescLeft">&#160;</td><td class="mdescRight">Helper function that shows a picture in a script. To be used in a script event command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#afc181ad3e1d64fa87eff2b5808d54d25">More...</a><br /></td></tr>
<tr class="separator:afc181ad3e1d64fa87eff2b5808d54d25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2557f5363c42dcea13c4cd02a9a3646"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#ae2557f5363c42dcea13c4cd02a9a3646">EraseThisEvent</a> ()</td></tr>
<tr class="memdesc:ae2557f5363c42dcea13c4cd02a9a3646"><td class="mdescLeft">&#160;</td><td class="mdescRight">Erases an event and adds it to the list of erased events so that it can stay erased when the game is saved then loaded again. To be used in a script event command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#ae2557f5363c42dcea13c4cd02a9a3646">More...</a><br /></td></tr>
<tr class="separator:ae2557f5363c42dcea13c4cd02a9a3646"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac0abab4ba0791fa0541f163910423ee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#aac0abab4ba0791fa0541f163910423ee">CommonEvent</a> (int id)</td></tr>
<tr class="memdesc:aac0abab4ba0791fa0541f163910423ee"><td class="mdescLeft">&#160;</td><td class="mdescRight">Runs a common event. To be used in a script event command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#aac0abab4ba0791fa0541f163910423ee">More...</a><br /></td></tr>
<tr class="separator:aac0abab4ba0791fa0541f163910423ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af59c7173a21450075189689ee7248046"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#af59c7173a21450075189689ee7248046">SetSelfSwitch</a> (int @@event, string swtch, bool value)</td></tr>
<tr class="memdesc:af59c7173a21450075189689ee7248046"><td class="mdescLeft">&#160;</td><td class="mdescRight">Sets another event's self switch (eg. SetSelfSwitch(20,"A",true) ). To be used in a script event command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#af59c7173a21450075189689ee7248046">More...</a><br /></td></tr>
<tr class="separator:af59c7173a21450075189689ee7248046"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3a94478899a351e4212ab3874a5cacb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#aa3a94478899a351e4212ab3874a5cacb">command_242</a> ()</td></tr>
<tr class="separator:aa3a94478899a351e4212ab3874a5cacb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50a5f6b1d12d9235bb027de27215c583"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a50a5f6b1d12d9235bb027de27215c583">command_246</a> ()</td></tr>
<tr class="separator:a50a5f6b1d12d9235bb027de27215c583"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65a71b01cd35b9a4f6f2e1c035496958"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a65a71b01cd35b9a4f6f2e1c035496958">command_251</a> ()</td></tr>
<tr class="separator:a65a71b01cd35b9a4f6f2e1c035496958"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac175f900b8ed75a46c33f06f0ae11734"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#ac175f900b8ed75a46c33f06f0ae11734">command_241</a> ()</td></tr>
<tr class="separator:ac175f900b8ed75a46c33f06f0ae11734"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4aeb872c6ad2bddc90c4e8ddeea2cecc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#a4aeb872c6ad2bddc90c4e8ddeea2cecc">command_245</a> ()</td></tr>
<tr class="separator:a4aeb872c6ad2bddc90c4e8ddeea2cecc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd315280638429ae0f0da147716cf318"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#acd315280638429ae0f0da147716cf318">command_249</a> ()</td></tr>
<tr class="separator:acd315280638429ae0f0da147716cf318"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae2cedaa2125f4ff9f55729faa2b65ab8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_mixin_message.cshtml#ae2cedaa2125f4ff9f55729faa2b65ab8">command_250</a> ()</td></tr>
<tr class="separator:ae2cedaa2125f4ff9f55729faa2b65ab8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ac3938e84b9730a65856ce19aa7bea9b9" name="ac3938e84b9730a65856ce19aa7bea9b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac3938e84b9730a65856ce19aa7bea9b9">&#9670;&#160;</a></span>BreakLoop()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IInterpreterMixinMessage.BreakLoop </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac175f900b8ed75a46c33f06f0ae11734" name="ac175f900b8ed75a46c33f06f0ae11734"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac175f900b8ed75a46c33f06f0ae11734">&#9670;&#160;</a></span>command_241()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_241 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa3a94478899a351e4212ab3874a5cacb" name="aa3a94478899a351e4212ab3874a5cacb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3a94478899a351e4212ab3874a5cacb">&#9670;&#160;</a></span>command_242()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_242 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4aeb872c6ad2bddc90c4e8ddeea2cecc" name="a4aeb872c6ad2bddc90c4e8ddeea2cecc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4aeb872c6ad2bddc90c4e8ddeea2cecc">&#9670;&#160;</a></span>command_245()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_245 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a50a5f6b1d12d9235bb027de27215c583" name="a50a5f6b1d12d9235bb027de27215c583"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50a5f6b1d12d9235bb027de27215c583">&#9670;&#160;</a></span>command_246()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_246 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acd315280638429ae0f0da147716cf318" name="acd315280638429ae0f0da147716cf318"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd315280638429ae0f0da147716cf318">&#9670;&#160;</a></span>command_249()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_249 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae2cedaa2125f4ff9f55729faa2b65ab8" name="ae2cedaa2125f4ff9f55729faa2b65ab8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2cedaa2125f4ff9f55729faa2b65ab8">&#9670;&#160;</a></span>command_250()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_250 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a65a71b01cd35b9a4f6f2e1c035496958" name="a65a71b01cd35b9a4f6f2e1c035496958"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65a71b01cd35b9a4f6f2e1c035496958">&#9670;&#160;</a></span>command_251()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.command_251 </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac0abab4ba0791fa0541f163910423ee" name="aac0abab4ba0791fa0541f163910423ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac0abab4ba0791fa0541f163910423ee">&#9670;&#160;</a></span>CommonEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.CommonEvent </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Runs a common event. To be used in a script event command.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">id</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="ae2557f5363c42dcea13c4cd02a9a3646" name="ae2557f5363c42dcea13c4cd02a9a3646"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae2557f5363c42dcea13c4cd02a9a3646">&#9670;&#160;</a></span>EraseThisEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterMixinMessage.EraseThisEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Erases an event and adds it to the list of erased events so that it can stay erased when the game is saved then loaded again. To be used in a script event command.  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a268834348e63ef7dfadc7691e7c6319b" name="a268834348e63ef7dfadc7691e7c6319b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a268834348e63ef7dfadc7691e7c6319b">&#9670;&#160;</a></span>GlobalLock()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.GlobalLock </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Freezes all events on the map (for use at the beginning of common events)  </p>

</div>
</div>
<a id="a116b8edfeb7c015d40a7adef38a353a2" name="a116b8edfeb7c015d40a7adef38a353a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a116b8edfeb7c015d40a7adef38a353a2">&#9670;&#160;</a></span>GlobalUnlock()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.GlobalUnlock </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Unfreezes all events on the map (for use at the end of common events)  </p>

</div>
</div>
<a id="abb5b7cac9a9329fcb40ba822d0f4a4d1" name="abb5b7cac9a9329fcb40ba822d0f4a4d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abb5b7cac9a9329fcb40ba822d0f4a4d1">&#9670;&#160;</a></span>JumpToLabel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.JumpToLabel </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>label_name</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaa2372896172e688fc6cdb030ca019d1" name="aaa2372896172e688fc6cdb030ca019d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa2372896172e688fc6cdb030ca019d1">&#9670;&#160;</a></span>NextIndex()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IInterpreterMixinMessage.NextIndex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the next index in the interpreter, ignoring certain events between messages  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">index</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="afc806717d6759b1b69825463b78888de" name="afc806717d6759b1b69825463b78888de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc806717d6759b1b69825463b78888de">&#9670;&#160;</a></span>RepeatAbove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IInterpreterMixinMessage.RepeatAbove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af59c7173a21450075189689ee7248046" name="af59c7173a21450075189689ee7248046"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af59c7173a21450075189689ee7248046">&#9670;&#160;</a></span>SetSelfSwitch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.SetSelfSwitch </td>
          <td>(</td>
          <td class="paramtype">int @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>swtch</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Sets another event's self switch (eg. SetSelfSwitch(20,"A",true) ). To be used in a script event command.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">event</td><td></td></tr>
    <tr><td class="paramname">swtch</td><td></td></tr>
    <tr><td class="paramname">value</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="afc181ad3e1d64fa87eff2b5808d54d25" name="afc181ad3e1d64fa87eff2b5808d54d25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc181ad3e1d64fa87eff2b5808d54d25">&#9670;&#160;</a></span>ShowPicture()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterMixinMessage.ShowPicture </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>number</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>origin</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>zoomX</em> = <code>100</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>zoomY</em> = <code>100</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>opacity</em> = <code>255</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>blendType</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Helper function that shows a picture in a script. To be used in a script event command.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">number</td><td></td></tr>
    <tr><td class="paramname">name</td><td></td></tr>
    <tr><td class="paramname">origin</td><td></td></tr>
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
    <tr><td class="paramname">zoomX</td><td></td></tr>
    <tr><td class="paramname">zoomY</td><td></td></tr>
    <tr><td class="paramname">opacity</td><td></td></tr>
    <tr><td class="paramname">blendType</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_message_8cs.cshtml">IMessage.cs</a></li>
</ul>

