@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#ac022d52d1ab2588123847b1c42fefbc7">Move</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#abd487ff28218c41d94e01c3d71efff6b">Pokemon</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">PokemonEssentials.Interface.EventArg.IHiddenMoveEventArgs</a></td><td class="entry"></td></tr>
</table>