@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">IWindow_PokemonOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IWindow_PokemonOption Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#ad8d2be0898d2cd6ee1a3a82045c921aa">drawItem</a>(int index, int count, IRect rect)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#af71ded9339e8cd03b14d95fe9cea43c9">initialize</a>(IOptionValue[] options, float x, float y, float width, float height)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#ac5d2cc4733ee4b047610e4e46288860a">itemCount</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a0108dbc90753d3956452a052e333a56e">mustUpdateOptions</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a3efc2582c947e00a804678ea9c4a206e">this[int i]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml#a2d1fb66abb36f054048bfe42493c401a">update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_window___pokemon_option.cshtml">PokemonEssentials.Interface.Screen.IWindow_PokemonOption</a></td><td class="entry"></td></tr>
</table>