@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Field.IGameDungeon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon.cshtml">IGameDungeon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameDungeon Interface Reference</div></div>
}


<p>Extension of base Game...   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac02be7abb62a16a8e0f377a1b7165372"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon.cshtml#ac02be7abb62a16a8e0f377a1b7165372">RandomRoomTile</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a> dungeon, ref IList&lt; <a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a> &gt; tiles)</td></tr>
<tr class="separator:ac02be7abb62a16a8e0f377a1b7165372"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a436346067fc3ec5719bd67403de5690c"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon.cshtml#a436346067fc3ec5719bd67403de5690c">OnMapCreate</a></td></tr>
<tr class="memdesc:a436346067fc3ec5719bd67403de5690c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fires whenever a map is created. Event handler receives two parameters: the map (RPG.Map) and the tileset (RPG.Tileset)   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_dungeon.cshtml#a436346067fc3ec5719bd67403de5690c">More...</a><br /></td></tr>
<tr class="separator:a436346067fc3ec5719bd67403de5690c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of base Game...  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac02be7abb62a16a8e0f377a1b7165372" name="ac02be7abb62a16a8e0f377a1b7165372"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac02be7abb62a16a8e0f377a1b7165372">&#9670;&#160;</a></span>RandomRoomTile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a> PokemonEssentials.Interface.Field.IGameDungeon.RandomRoomTile </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a>&#160;</td>
          <td class="paramname"><em>dungeon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">ref IList&lt; <a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">PokemonUnity.Utility.IPoint</a> &gt;&#160;</td>
          <td class="paramname"><em>tiles</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="a436346067fc3ec5719bd67403de5690c" name="a436346067fc3ec5719bd67403de5690c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a436346067fc3ec5719bd67403de5690c">&#9670;&#160;</a></span>OnMapCreate</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Field.IGameDungeon.OnMapCreate</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fires whenever a map is created. Event handler receives two parameters: the map (RPG.Map) and the tileset (RPG.Tileset)  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>

