@{
	Page.Title = "PokemonEssentials.Interface.Field.IDungeonTable Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">IDungeonTable</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDungeonTable Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8533543472edc8259748517a3775e631"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">IDungeonTable</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a8533543472edc8259748517a3775e631">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a> dungeon)</td></tr>
<tr class="separator:a8533543472edc8259748517a3775e631"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a5c3d65bc8c1ff3ad8b8e6ca9acb207ec"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a5c3d65bc8c1ff3ad8b8e6ca9acb207ec">xsize</a> <code>[get]</code></td></tr>
<tr class="separator:a5c3d65bc8c1ff3ad8b8e6ca9acb207ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ea076ce284cf627db7bb28267240ee0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a5ea076ce284cf627db7bb28267240ee0">ysize</a> <code>[get]</code></td></tr>
<tr class="separator:a5ea076ce284cf627db7bb28267240ee0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65333de7ee22fa2c8c00c015d0b72b7d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml#a65333de7ee22fa2c8c00c015d0b72b7d">this[int x, int y]</a> <code>[get]</code></td></tr>
<tr class="separator:a65333de7ee22fa2c8c00c015d0b72b7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a8533543472edc8259748517a3775e631" name="a8533543472edc8259748517a3775e631"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8533543472edc8259748517a3775e631">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon_table.cshtml">IDungeonTable</a> PokemonEssentials.Interface.Field.IDungeonTable.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_dungeon.cshtml">IDungeon</a>&#160;</td>
          <td class="paramname"><em>dungeon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a65333de7ee22fa2c8c00c015d0b72b7d" name="a65333de7ee22fa2c8c00c015d0b72b7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65333de7ee22fa2c8c00c015d0b72b7d">&#9670;&#160;</a></span>this[int x, int y]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeonTable.this[int x, int y]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5c3d65bc8c1ff3ad8b8e6ca9acb207ec" name="a5c3d65bc8c1ff3ad8b8e6ca9acb207ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5c3d65bc8c1ff3ad8b8e6ca9acb207ec">&#9670;&#160;</a></span>xsize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeonTable.xsize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5ea076ce284cf627db7bb28267240ee0" name="a5ea076ce284cf627db7bb28267240ee0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ea076ce284cf627db7bb28267240ee0">&#9670;&#160;</a></span>ysize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IDungeonTable.ysize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_random_dungeon_8cs.cshtml">IRandomDungeon.cs</a></li>
</ul>
