@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IHiddenMoveHandlers Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml">IHiddenMoveHandlers</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IHiddenMoveHandlers Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a8cfaedbb2aebd9e7d4fc483859462c40"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a8cfaedbb2aebd9e7d4fc483859462c40">addCanUseMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> item, Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt; proc)</td></tr>
<tr class="separator:a8cfaedbb2aebd9e7d4fc483859462c40"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a001cd9ed361c7bd51495d2c9fb16e0ee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a001cd9ed361c7bd51495d2c9fb16e0ee">addUseMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> item, Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt; proc)</td></tr>
<tr class="separator:a001cd9ed361c7bd51495d2c9fb16e0ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9fcbe5a946ef9fd1097795e8544850c6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a9fcbe5a946ef9fd1097795e8544850c6">hasHandler</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> item)</td></tr>
<tr class="separator:a9fcbe5a946ef9fd1097795e8544850c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b8e16e627d31833d4b4225660e0264b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a7b8e16e627d31833d4b4225660e0264b">triggerCanUseMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a7b8e16e627d31833d4b4225660e0264b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22ca6a1c027107683876ff8dd39154f8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a22ca6a1c027107683876ff8dd39154f8">triggerUseMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a22ca6a1c027107683876ff8dd39154f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aa5b8bb39dc17efad7f0d94e076b98a48"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#aa5b8bb39dc17efad7f0d94e076b98a48">CanUseMove</a><code> [get]</code></td></tr>
<tr class="separator:aa5b8bb39dc17efad7f0d94e076b98a48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4f3a7f366f0819b80f915102d872873"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt; &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#ab4f3a7f366f0819b80f915102d872873">UseMove</a><code> [get]</code></td></tr>
<tr class="separator:ab4f3a7f366f0819b80f915102d872873"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a216b39bf59bd6e5830f25cdf5ef0f538"><td class="memItemLeft" align="right" valign="top">Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a216b39bf59bd6e5830f25cdf5ef0f538">OnCanUseMove</a></td></tr>
<tr class="separator:a216b39bf59bd6e5830f25cdf5ef0f538"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7cdc5947ac93f37eae992d3dbf10150a"><td class="memItemLeft" align="right" valign="top">Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_hidden_move_handlers.cshtml#a7cdc5947ac93f37eae992d3dbf10150a">OnUseMove</a></td></tr>
<tr class="separator:a7cdc5947ac93f37eae992d3dbf10150a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a8cfaedbb2aebd9e7d4fc483859462c40" name="a8cfaedbb2aebd9e7d4fc483859462c40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8cfaedbb2aebd9e7d4fc483859462c40">&#9670;&#160;</a></span>addCanUseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IHiddenMoveHandlers.addCanUseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt;&#160;</td>
          <td class="paramname"><em>proc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a001cd9ed361c7bd51495d2c9fb16e0ee" name="a001cd9ed361c7bd51495d2c9fb16e0ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a001cd9ed361c7bd51495d2c9fb16e0ee">&#9670;&#160;</a></span>addUseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IHiddenMoveHandlers.addUseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Func&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool &gt;&#160;</td>
          <td class="paramname"><em>proc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9fcbe5a946ef9fd1097795e8544850c6" name="a9fcbe5a946ef9fd1097795e8544850c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9fcbe5a946ef9fd1097795e8544850c6">&#9670;&#160;</a></span>hasHandler()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IHiddenMoveHandlers.hasHandler </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b8e16e627d31833d4b4225660e0264b" name="a7b8e16e627d31833d4b4225660e0264b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b8e16e627d31833d4b4225660e0264b">&#9670;&#160;</a></span>triggerCanUseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IHiddenMoveHandlers.triggerCanUseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a22ca6a1c027107683876ff8dd39154f8" name="a22ca6a1c027107683876ff8dd39154f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a22ca6a1c027107683876ff8dd39154f8">&#9670;&#160;</a></span>triggerUseMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IHiddenMoveHandlers.triggerUseMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa5b8bb39dc17efad7f0d94e076b98a48" name="aa5b8bb39dc17efad7f0d94e076b98a48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5b8bb39dc17efad7f0d94e076b98a48">&#9670;&#160;</a></span>CanUseMove</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, Func&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool&gt; &gt; PokemonEssentials.Interface.Field.IHiddenMoveHandlers.CanUseMove</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab4f3a7f366f0819b80f915102d872873" name="ab4f3a7f366f0819b80f915102d872873"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4f3a7f366f0819b80f915102d872873">&#9670;&#160;</a></span>UseMove</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, Func&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>, bool&gt; &gt; PokemonEssentials.Interface.Field.IHiddenMoveHandlers.UseMove</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="a216b39bf59bd6e5830f25cdf5ef0f538" name="a216b39bf59bd6e5830f25cdf5ef0f538"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a216b39bf59bd6e5830f25cdf5ef0f538">&#9670;&#160;</a></span>OnCanUseMove</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Action&lt;object,<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a>&gt; PokemonEssentials.Interface.Field.IHiddenMoveHandlers.OnCanUseMove</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7cdc5947ac93f37eae992d3dbf10150a" name="a7cdc5947ac93f37eae992d3dbf10150a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7cdc5947ac93f37eae992d3dbf10150a">&#9670;&#160;</a></span>OnUseMove</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Action&lt;object,<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a>&gt; PokemonEssentials.Interface.Field.IHiddenMoveHandlers.OnUseMove</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_hidden_moves_8cs.cshtml">IHiddenMoves.cs</a></li>
</ul>
