@{
	Page.Title = "PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt; Interface Template Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">IEnumOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt; Interface Template Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.png" usemap="#PokemonEssentials.Interface.Screen.IEnumOption_3C_20T_20_3E_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IEnumOption_3C_20T_20_3E_map" name="PokemonEssentials.Interface.Screen.IEnumOption_3C_20T_20_3E_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml" alt="PokemonEssentials.Interface.Screen.IOptionValue" shape="rect" coords="0,0,359,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml" alt="PokemonEssentials.Interface.Screen.IPropertyMixin&lt; string &gt;" shape="rect" coords="369,0,728,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml" alt="PokemonEssentials.Interface.Screen.IOptionValue" shape="rect" coords="738,0,1097,24"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml" alt="PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt;" shape="rect" coords="1107,0,1466,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a21704ed0be27da5cbd600f7f7d466408"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">IEnumOption</a>&lt; T &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml#a21704ed0be27da5cbd600f7f7d466408">initialize</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a44c39e2d8b17094289c3b93843b1d620">name</a>, T options, Func&lt; int, T &gt; getProc, Action&lt; int &gt; setProc)</td></tr>
<tr class="separator:a21704ed0be27da5cbd600f7f7d466408"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td></tr>
<tr class="memitem:a1d7eef4088ad21d190cc805d06f1c09f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a1d7eef4088ad21d190cc805d06f1c09f">next</a> (int current)</td></tr>
<tr class="separator:a1d7eef4088ad21d190cc805d06f1c09f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a891872de469e1c3d07a3a9bb40caab98 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a891872de469e1c3d07a3a9bb40caab98">prev</a> (int current)</td></tr>
<tr class="separator:a891872de469e1c3d07a3a9bb40caab98 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; string &gt;</a></td></tr>
<tr class="memitem:af3d40b22d96f049684e3375622ddc06d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memItemLeft" align="right" valign="top">Func&lt; int, T &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">get</a> ()</td></tr>
<tr class="separator:af3d40b22d96f049684e3375622ddc06d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33560f3f7b981b0dee5929bb2fd4ae28 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">set</a> (Action&lt; int &gt; value)</td></tr>
<tr class="separator:a33560f3f7b981b0dee5929bb2fd4ae28 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt;</a></td></tr>
<tr class="memitem:af3d40b22d96f049684e3375622ddc06d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memItemLeft" align="right" valign="top">Func&lt; int, T &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">get</a> ()</td></tr>
<tr class="separator:af3d40b22d96f049684e3375622ddc06d inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33560f3f7b981b0dee5929bb2fd4ae28 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">set</a> (Action&lt; int &gt; value)</td></tr>
<tr class="separator:a33560f3f7b981b0dee5929bb2fd4ae28 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adc70741da73683419ca6644580e7a9b1"><td class="memItemLeft" align="right" valign="top">T&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml#adc70741da73683419ca6644580e7a9b1">values</a><code> [get]</code></td></tr>
<tr class="separator:adc70741da73683419ca6644580e7a9b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td></tr>
<tr class="memitem:a44c39e2d8b17094289c3b93843b1d620 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a44c39e2d8b17094289c3b93843b1d620">name</a><code> [get]</code></td></tr>
<tr class="separator:a44c39e2d8b17094289c3b93843b1d620 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a21704ed0be27da5cbd600f7f7d466408" name="a21704ed0be27da5cbd600f7f7d466408"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a21704ed0be27da5cbd600f7f7d466408">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">IEnumOption</a>&lt; T &gt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">PokemonEssentials.Interface.Screen.IEnumOption</a>&lt; T &gt;.initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">T&#160;</td>
          <td class="paramname"><em>options</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Func&lt; int, T &gt;&#160;</td>
          <td class="paramname"><em>getProc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">Action&lt; int &gt;&#160;</td>
          <td class="paramname"><em>setProc</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="adc70741da73683419ca6644580e7a9b1" name="adc70741da73683419ca6644580e7a9b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc70741da73683419ca6644580e7a9b1">&#9670;&#160;</a></span>values</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">T <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">PokemonEssentials.Interface.Screen.IEnumOption</a>&lt; T &gt;.values</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>
