@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonBox Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonBox Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonBox:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonBox_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonBox_map" name="PokemonEssentials.Interface.Screen.IPokemonBox_map">
<area href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml" alt="PokemonUnity.Character.PokemonBox" shape="rect" coords="0,56,297,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aefd463779263763b40f63dd7e49eaea4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#aefd463779263763b40f63dd7e49eaea4">initialize</a> (string <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a96a012222a7fa7658e0d21d195e4ed92">name</a>, int maxPokemon=30)</td></tr>
<tr class="separator:aefd463779263763b40f63dd7e49eaea4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a737699bc557fa9baa7ef6b73ac81cd98"><td class="memItemLeft" align="right" valign="top">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a737699bc557fa9baa7ef6b73ac81cd98">each</a> ()</td></tr>
<tr class="separator:a737699bc557fa9baa7ef6b73ac81cd98"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a677f8e41ca5be8a80a9928692da2c8d3"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a677f8e41ca5be8a80a9928692da2c8d3">pokemon</a><code> [get]</code></td></tr>
<tr class="separator:a677f8e41ca5be8a80a9928692da2c8d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a96a012222a7fa7658e0d21d195e4ed92"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a96a012222a7fa7658e0d21d195e4ed92">name</a><code> [get, set]</code></td></tr>
<tr class="separator:a96a012222a7fa7658e0d21d195e4ed92"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3aa1d8c67843d25ecad29047b0b86d5f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a3aa1d8c67843d25ecad29047b0b86d5f">background</a><code> [get, set]</code></td></tr>
<tr class="separator:a3aa1d8c67843d25ecad29047b0b86d5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8786ac03b36486ea9d3962a2661ec01"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#aa8786ac03b36486ea9d3962a2661ec01">full</a><code> [get]</code></td></tr>
<tr class="separator:aa8786ac03b36486ea9d3962a2661ec01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa03d4de16314d96c0273e3ea60a6e05a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#aa03d4de16314d96c0273e3ea60a6e05a">nitems</a><code> [get]</code></td></tr>
<tr class="separator:aa03d4de16314d96c0273e3ea60a6e05a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad13981fc4933a4ad306ff66abdf4d682"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#ad13981fc4933a4ad306ff66abdf4d682">length</a><code> [get]</code></td></tr>
<tr class="separator:ad13981fc4933a4ad306ff66abdf4d682"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24d73ff05a02acf2c3fc1c6c841c2ca8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml#a24d73ff05a02acf2c3fc1c6c841c2ca8">this[int i]</a><code> [get, set]</code></td></tr>
<tr class="separator:a24d73ff05a02acf2c3fc1c6c841c2ca8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a737699bc557fa9baa7ef6b73ac81cd98" name="a737699bc557fa9baa7ef6b73ac81cd98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a737699bc557fa9baa7ef6b73ac81cd98">&#9670;&#160;</a></span>each()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerable&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt; PokemonEssentials.Interface.Screen.IPokemonBox.each </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a2609dc58c09fd02e83c9cfc1d6e09679">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="aefd463779263763b40f63dd7e49eaea4" name="aefd463779263763b40f63dd7e49eaea4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefd463779263763b40f63dd7e49eaea4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_box.cshtml">IPokemonBox</a> PokemonEssentials.Interface.Screen.IPokemonBox.initialize </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxPokemon</em> = <code>30</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#aace0d65f415272866607123e9cb360f9">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3aa1d8c67843d25ecad29047b0b86d5f" name="a3aa1d8c67843d25ecad29047b0b86d5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3aa1d8c67843d25ecad29047b0b86d5f">&#9670;&#160;</a></span>background</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IPokemonBox.background</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a41b3d55a271b4ba8a51e8b6c549c2833">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="aa8786ac03b36486ea9d3962a2661ec01" name="aa8786ac03b36486ea9d3962a2661ec01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa8786ac03b36486ea9d3962a2661ec01">&#9670;&#160;</a></span>full</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonBox.full</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a0803eab079697bea8e7222c9d773619d">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="ad13981fc4933a4ad306ff66abdf4d682" name="ad13981fc4933a4ad306ff66abdf4d682"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad13981fc4933a4ad306ff66abdf4d682">&#9670;&#160;</a></span>length</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonBox.length</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a2fa1acefe383d0b650501bab8584510e">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="a96a012222a7fa7658e0d21d195e4ed92" name="a96a012222a7fa7658e0d21d195e4ed92"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a96a012222a7fa7658e0d21d195e4ed92">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IPokemonBox.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a141d02bef1d8bcf97d2cdbad64d5d6d1">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="aa03d4de16314d96c0273e3ea60a6e05a" name="aa03d4de16314d96c0273e3ea60a6e05a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa03d4de16314d96c0273e3ea60a6e05a">&#9670;&#160;</a></span>nitems</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonBox.nitems</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#aa72304129d73d8571f75bf51cf0fd251">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="a677f8e41ca5be8a80a9928692da2c8d3" name="a677f8e41ca5be8a80a9928692da2c8d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a677f8e41ca5be8a80a9928692da2c8d3">&#9670;&#160;</a></span>pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt; PokemonEssentials.Interface.Screen.IPokemonBox.pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a32e8c6b037d60fc385dd37fcc10f0bc2">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<a id="a24d73ff05a02acf2c3fc1c6c841c2ca8" name="a24d73ff05a02acf2c3fc1c6c841c2ca8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24d73ff05a02acf2c3fc1c6c841c2ca8">&#9670;&#160;</a></span>this[int i]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Screen.IPokemonBox.this[int i]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml#a5f301b753d42993ccf77b3d0795afcdc">PokemonUnity.Character.PokemonBox</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
