@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">IStringInput</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IStringInput Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a7f77cc1703bbad0f0dfcc5bcf0b18f8b">close</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a5f03b6cb476c71b37ac3a4d71022ecb9">closed</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a5341190541aaea44488160553df348e1">each</a>(ref string[] block)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a09d3a61077f529c3f9638c0b81934665">eof</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a156d2d6933f1a221b4d44be33b2fddf9">getc</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a8f99fb95c65e4bbcaa2a2100f209371c">gets</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a2b5a332db8b6c514b9844cd672a5e143">initialize</a>(string str)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a7884a9fa87ad1a2c78d9669f019cc56a">inspect</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#ad8db7c385b9f498f9e59552987889eab">lineno</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#ab2e3c57fb4e39f1892e9fdc856121f07">pos</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#acd263ccef47aab55ba5137e8477145b2">read</a>(int? len=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a3e0fa5b77b8b3cfdc3cb4acf4956b733">read_all</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a223f2dd2faf52ddc159fb80ce2244bf3">rewind</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#a3ea15195fa524732fb5ebd532adf6e34">seek</a>(int offset, int whence=0)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml#adef7bff54ab28b5e687260737a6f2a7a">string</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_string_input.cshtml">PokemonEssentials.Interface.IStringInput</a></td><td class="entry"></td></tr>
</table>