@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml">IOnMapSceneChangeEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,418,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml" title="Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true o..." alt="PokemonUnity.EventArg.OnMapSceneChangeEventArgs" shape="rect" coords="0,112,418,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af2d925368b6e359ea6f1adba5f68fe5a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#af2d925368b6e359ea6f1adba5f68fe5a">Object</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:af2d925368b6e359ea6f1adba5f68fe5a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Scene_Map object.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#af2d925368b6e359ea6f1adba5f68fe5a">More...</a><br /></td></tr>
<tr class="separator:af2d925368b6e359ea6f1adba5f68fe5a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e3cc924580763adc3a8239a846b6cb9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#a7e3cc924580763adc3a8239a846b6cb9">NewMap</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a7e3cc924580763adc3a8239a846b6cb9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Whether the player just moved to a new map (either true or false).   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#a7e3cc924580763adc3a8239a846b6cb9">More...</a><br /></td></tr>
<tr class="separator:a7e3cc924580763adc3a8239a846b6cb9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a> <code>[get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a7e3cc924580763adc3a8239a846b6cb9" name="a7e3cc924580763adc3a8239a846b6cb9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e3cc924580763adc3a8239a846b6cb9">&#9670;&#160;</a></span>NewMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs.NewMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Whether the player just moved to a new map (either true or false).  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a0da199707b2b9fec476f9da4ddcfe527">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a>.</p>

</div>
</div>
<a id="af2d925368b6e359ea6f1adba5f68fe5a" name="af2d925368b6e359ea6f1adba5f68fe5a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af2d925368b6e359ea6f1adba5f68fe5a">&#9670;&#160;</a></span>Object</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_scene_map.cshtml">ISceneMap</a> PokemonEssentials.Interface.EventArg.IOnMapSceneChangeEventArgs.Object</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Scene_Map object.  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_scene_change_event_args.cshtml#a4fbca78923d90112f0a7e079acf0f0d6">PokemonUnity.EventArg.OnMapSceneChangeEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

