@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">IPokemonNestMapScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IPokemonNestMapScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">PokemonUnity.IPokemonNestMapScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#aaf7e73de085792717a886c06ddc1d9c0">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml#a9cf2c2f5044c1cf537e172d24751020f">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_has_display_message.cshtml">PokemonUnity.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml#af9c7e21169970275efaffb48fd8aa807">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">PokemonUnity.IPokemonNestMapScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml#a4754f34c4beec6cd95f203518b34a002">pbMapScene</a>(int listlimits)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">PokemonUnity.IPokemonNestMapScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml#a6d62e2ad717faa4cbecd1e1d6d7faf50">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_scene.cshtml">PokemonUnity.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml#a5407ba16ad10423c91045395aaa4d510">pbStartScene</a>(Pokemons species, int regionmap=-1)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">PokemonUnity.IPokemonNestMapScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml#a2eeed89a6d8ca9e832485f6868d80afb">pbUpdate</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_pokemon_nest_map_scene.cshtml">PokemonUnity.IPokemonNestMapScene</a></td><td class="entry"></td></tr>
</table>