@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">IBattlePlayerModule</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt; Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a629d3925457ef49bbbf4bdadca942d0a">initialize</a>(PokemonEssentials.Interface.Screen.IPokeBattle_Scene scene, IBattle battle)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#aa75857b66e60b2d91ac5d6723000ae20">pbCommandPhaseCore</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a925d88f5ecca1e4326f8a8eb62d5d858">pbDisplayPaused</a>(string str)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ae0f2b7c1b20d6ac99fd9bc2be374fd8e">pbRandom</a>(int num)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#ac8667311714af4d110c1ddd8fbe1551a">pbStartBattle</a>(bool canlose=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml#a9d6bff887d8350bdab0ee12fabe53b17">pbSwitchInBetween</a>(int i1, int i2, bool i3)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_player_module.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlePlayerModule&lt; out TBattle &gt;</a></td><td class="entry"></td></tr>
</table>