@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.ILevelAdjustment Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml">ILevelAdjustment</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ILevelAdjustment Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.ILevelAdjustment:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.png" usemap="#PokemonEssentials.Interface.Battle.ILevelAdjustment_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.ILevelAdjustment_map" name="PokemonEssentials.Interface.Battle.ILevelAdjustment_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_capped_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.ICappedLevelAdjustment" shape="rect" coords="373,56,736,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_combined_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.ICombinedLevelAdjustment" shape="rect" coords="373,112,736,136"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_enemy_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.IEnemyLevelAdjustment" shape="rect" coords="373,168,736,192"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_fixed_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.IFixedLevelAdjustment" shape="rect" coords="373,224,736,248"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_balance_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.ILevelBalanceAdjustment" shape="rect" coords="373,280,736,304"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_open_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.IOpenLevelAdjustment" shape="rect" coords="373,336,736,360"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_total_level_adjustment.cshtml" alt="PokemonEssentials.Interface.Battle.ITotalLevelAdjustment" shape="rect" coords="373,392,736,416"/>
<area href="class_pokemon_unity_1_1_level_adjustment.cshtml" alt="PokemonUnity.LevelAdjustment" shape="rect" coords="373,448,736,472"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:adb2270a00d4c8daec38191c172dbabb5"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#adb2270a00d4c8daec38191c172dbabb5">getAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] thisTeam, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] otherTeam)</td></tr>
<tr class="separator:adb2270a00d4c8daec38191c172dbabb5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08cbe106d03357a4b6fea3bb082d6c4b"><td class="memItemLeft" align="right" valign="top">int?[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a08cbe106d03357a4b6fea3bb082d6c4b">getOldExp</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team2)</td></tr>
<tr class="separator:a08cbe106d03357a4b6fea3bb082d6c4b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ace0005fc0d07e0f75bc73a3caeb9d6c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#ace0005fc0d07e0f75bc73a3caeb9d6c0">unadjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team2, int?[][] adjustments)</td></tr>
<tr class="separator:ace0005fc0d07e0f75bc73a3caeb9d6c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a072469c1cff1b3755f295e7d0072acb0"><td class="memItemLeft" align="right" valign="top">int?[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a072469c1cff1b3755f295e7d0072acb0">adjustLevels</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team2)</td></tr>
<tr class="separator:a072469c1cff1b3755f295e7d0072acb0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaacc597129b7f15809543b95fa2be899"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#aaacc597129b7f15809543b95fa2be899">getMyAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] myTeam, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] theirTeam)</td></tr>
<tr class="separator:aaacc597129b7f15809543b95fa2be899"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a430724dfdc09ad1649dc226e4ed43c68"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#a430724dfdc09ad1649dc226e4ed43c68">getTheirAdjustment</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] theirTeam, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] myTeam)</td></tr>
<tr class="separator:a430724dfdc09ad1649dc226e4ed43c68"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af0932cf2b5f483f12e3b185dca6e567f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_level_adjustment.cshtml#af0932cf2b5f483f12e3b185dca6e567f">type</a><code> [get]</code></td></tr>
<tr class="separator:af0932cf2b5f483f12e3b185dca6e567f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a072469c1cff1b3755f295e7d0072acb0" name="a072469c1cff1b3755f295e7d0072acb0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a072469c1cff1b3755f295e7d0072acb0">&#9670;&#160;</a></span>adjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[][] PokemonEssentials.Interface.Battle.ILevelAdjustment.adjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adb2270a00d4c8daec38191c172dbabb5" name="adb2270a00d4c8daec38191c172dbabb5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb2270a00d4c8daec38191c172dbabb5">&#9670;&#160;</a></span>getAdjustment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Battle.ILevelAdjustment.getAdjustment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>thisTeam</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>otherTeam</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aaacc597129b7f15809543b95fa2be899" name="aaacc597129b7f15809543b95fa2be899"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaacc597129b7f15809543b95fa2be899">&#9670;&#160;</a></span>getMyAdjustment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Battle.ILevelAdjustment.getMyAdjustment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>myTeam</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>theirTeam</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a08cbe106d03357a4b6fea3bb082d6c4b" name="a08cbe106d03357a4b6fea3bb082d6c4b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08cbe106d03357a4b6fea3bb082d6c4b">&#9670;&#160;</a></span>getOldExp()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int?[] PokemonEssentials.Interface.Battle.ILevelAdjustment.getOldExp </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a430724dfdc09ad1649dc226e4ed43c68" name="a430724dfdc09ad1649dc226e4ed43c68"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a430724dfdc09ad1649dc226e4ed43c68">&#9670;&#160;</a></span>getTheirAdjustment()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Battle.ILevelAdjustment.getTheirAdjustment </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>theirTeam</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>myTeam</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ace0005fc0d07e0f75bc73a3caeb9d6c0" name="ace0005fc0d07e0f75bc73a3caeb9d6c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ace0005fc0d07e0f75bc73a3caeb9d6c0">&#9670;&#160;</a></span>unadjustLevels()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.ILevelAdjustment.unadjustLevels </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>team2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>adjustments</em>[][]&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="af0932cf2b5f483f12e3b185dca6e567f" name="af0932cf2b5f483f12e3b185dca6e567f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af0932cf2b5f483f12e3b185dca6e567f">&#9670;&#160;</a></span>type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.ILevelAdjustment.type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_level_adjustment.cshtml#a34b2706131869ef8c1cd979b478eb937">PokemonUnity.LevelAdjustment</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
