@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.IGameVariable Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml">IGameVariable</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameVariable Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a25f905b2b5ffacc3224c2b77436f4757"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_variable.cshtml#a25f905b2b5ffacc3224c2b77436f4757">this[int variable_id]</a><code> [get, set]</code></td></tr>
<tr class="separator:a25f905b2b5ffacc3224c2b77436f4757"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a25f905b2b5ffacc3224c2b77436f4757" name="a25f905b2b5ffacc3224c2b77436f4757"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25f905b2b5ffacc3224c2b77436f4757">&#9670;&#160;</a></span>this[int variable_id]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.IGameVariable.this[int variable_id]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_variable_8cs.cshtml">IGameVariable.cs</a></li>
</ul>
