@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml">ISystemTestBattler</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:afc1411b8767922a851e90cf18281cde1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#afc1411b8767922a851e90cf18281cde1">actor_id</a><code> [get, set]</code></td></tr>
<tr class="separator:afc1411b8767922a851e90cf18281cde1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b3a48e976db0adcaed4c46fe3387e11"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a7b3a48e976db0adcaed4c46fe3387e11">level</a><code> [get, set]</code></td></tr>
<tr class="separator:a7b3a48e976db0adcaed4c46fe3387e11"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c2515e3fbe04328914211ea0b77db8b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a4c2515e3fbe04328914211ea0b77db8b">weapon_id</a><code> [get, set]</code></td></tr>
<tr class="separator:a4c2515e3fbe04328914211ea0b77db8b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9fd59a3f5d2d3127d7816367891878c8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#a9fd59a3f5d2d3127d7816367891878c8">armor1_id</a><code> [get, set]</code></td></tr>
<tr class="separator:a9fd59a3f5d2d3127d7816367891878c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac444fcd026eabeb8e7dfa05a456259d4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#ac444fcd026eabeb8e7dfa05a456259d4">armor2_id</a><code> [get, set]</code></td></tr>
<tr class="separator:ac444fcd026eabeb8e7dfa05a456259d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acb4e6bbf359d31e7495e4d68398e5b16"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#acb4e6bbf359d31e7495e4d68398e5b16">armor3_id</a><code> [get, set]</code></td></tr>
<tr class="separator:acb4e6bbf359d31e7495e4d68398e5b16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad94833b0cdc137fecd42f9cea571874b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_system_test_battler.cshtml#ad94833b0cdc137fecd42f9cea571874b">armor4_id</a><code> [get, set]</code></td></tr>
<tr class="separator:ad94833b0cdc137fecd42f9cea571874b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="afc1411b8767922a851e90cf18281cde1" name="afc1411b8767922a851e90cf18281cde1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc1411b8767922a851e90cf18281cde1">&#9670;&#160;</a></span>actor_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.actor_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9fd59a3f5d2d3127d7816367891878c8" name="a9fd59a3f5d2d3127d7816367891878c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9fd59a3f5d2d3127d7816367891878c8">&#9670;&#160;</a></span>armor1_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.armor1_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac444fcd026eabeb8e7dfa05a456259d4" name="ac444fcd026eabeb8e7dfa05a456259d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac444fcd026eabeb8e7dfa05a456259d4">&#9670;&#160;</a></span>armor2_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.armor2_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acb4e6bbf359d31e7495e4d68398e5b16" name="acb4e6bbf359d31e7495e4d68398e5b16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb4e6bbf359d31e7495e4d68398e5b16">&#9670;&#160;</a></span>armor3_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.armor3_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad94833b0cdc137fecd42f9cea571874b" name="ad94833b0cdc137fecd42f9cea571874b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad94833b0cdc137fecd42f9cea571874b">&#9670;&#160;</a></span>armor4_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.armor4_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b3a48e976db0adcaed4c46fe3387e11" name="a7b3a48e976db0adcaed4c46fe3387e11"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b3a48e976db0adcaed4c46fe3387e11">&#9670;&#160;</a></span>level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c2515e3fbe04328914211ea0b77db8b" name="a4c2515e3fbe04328914211ea0b77db8b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c2515e3fbe04328914211ea0b77db8b">&#9670;&#160;</a></span>weapon_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.ISystemTestBattler.weapon_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>

