@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">IGameInterpreterMessage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameInterpreterMessage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">PokemonEssentials.Interface.IGameInterpreterMessage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a445d9269a6216902254bee4a4058d346">command_101</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">PokemonEssentials.Interface.IGameInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#ad45f382705db076bfe69d48106c8050d">command_102</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">PokemonEssentials.Interface.IGameInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a51e4ecb85b25a2d2ee6f9b098ccc7122">command_103</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">PokemonEssentials.Interface.IGameInterpreterMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml#a957b15392c77d29014aeb770de8534da">command_105</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_interpreter_message.cshtml">PokemonEssentials.Interface.IGameInterpreterMessage</a></td><td class="entry"></td></tr>
</table>