@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IMartScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml">IMartScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IMartScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IMartScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.png" usemap="#PokemonEssentials.Interface.Screen.IMartScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IMartScene_map" name="PokemonEssentials.Interface.Screen.IMartScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,340,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,340,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa72c5e3014e9071c82238627f15191d6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#aa72c5e3014e9071c82238627f15191d6">update</a> ()</td></tr>
<tr class="separator:aa72c5e3014e9071c82238627f15191d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c3e633bc9606fb10d96ab465009d708"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a1c3e633bc9606fb10d96ab465009d708">StartBuyOrSellScene</a> (bool buying, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] stock, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a> adapter)</td></tr>
<tr class="separator:a1c3e633bc9606fb10d96ab465009d708"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e7e4aadd780de429eb54df9b551587a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a9e7e4aadd780de429eb54df9b551587a">StartBuyScene</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] stock, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a> adapter)</td></tr>
<tr class="separator:a9e7e4aadd780de429eb54df9b551587a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b40d0671a3fe5315adda9ad0096d860"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a2b40d0671a3fe5315adda9ad0096d860">StartSellScene</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> bag, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a> adapter)</td></tr>
<tr class="separator:a2b40d0671a3fe5315adda9ad0096d860"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd8e6695f8ec75838b020ba404844829"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#acd8e6695f8ec75838b020ba404844829">StartSellScene2</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a> bag, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a> adapter)</td></tr>
<tr class="separator:acd8e6695f8ec75838b020ba404844829"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17af5815d8d8b6553d95c2b9ed1f4b3e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a17af5815d8d8b6553d95c2b9ed1f4b3e">EndBuyScene</a> ()</td></tr>
<tr class="separator:a17af5815d8d8b6553d95c2b9ed1f4b3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d5bf4fba6d72d5b587327db10699073"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a2d5bf4fba6d72d5b587327db10699073">EndSellScene</a> ()</td></tr>
<tr class="separator:a2d5bf4fba6d72d5b587327db10699073"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a317006dad8a034257ea4f2790337014f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a317006dad8a034257ea4f2790337014f">PrepareWindow</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> window)</td></tr>
<tr class="separator:a317006dad8a034257ea4f2790337014f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae56d8530d73bbafe5211e1de133abbcd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#ae56d8530d73bbafe5211e1de133abbcd">ShowMoney</a> ()</td></tr>
<tr class="separator:ae56d8530d73bbafe5211e1de133abbcd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b195ac632ae2fa12c52893833f61a9e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a1b195ac632ae2fa12c52893833f61a9e">HideMoney</a> ()</td></tr>
<tr class="separator:a1b195ac632ae2fa12c52893833f61a9e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af177fe9b939958d2cb3dc0fc73154259"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#af177fe9b939958d2cb3dc0fc73154259">Display</a> (string msg, bool brief=false)</td></tr>
<tr class="separator:af177fe9b939958d2cb3dc0fc73154259"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a294bf3908528ffb4d149546a1ed61780"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a294bf3908528ffb4d149546a1ed61780">DisplayPaused</a> (string msg)</td></tr>
<tr class="separator:a294bf3908528ffb4d149546a1ed61780"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af8b869257b732297ccd7efe1eccac5d4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#af8b869257b732297ccd7efe1eccac5d4">Confirm</a> (string msg)</td></tr>
<tr class="separator:af8b869257b732297ccd7efe1eccac5d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6f4a2b5e1e084e84a7c8dbcf81e1ad7e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a6f4a2b5e1e084e84a7c8dbcf81e1ad7e">ChooseNumber</a> (string helptext, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int maximum)</td></tr>
<tr class="separator:a6f4a2b5e1e084e84a7c8dbcf81e1ad7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acc926d54362467f10513f0691ef2876f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#acc926d54362467f10513f0691ef2876f">ChooseBuyItem</a> ()</td></tr>
<tr class="separator:acc926d54362467f10513f0691ef2876f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1fed1d667e5ca8dad443ffe96e9e77c7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_scene.cshtml#a1fed1d667e5ca8dad443ffe96e9e77c7">ChooseSellItem</a> ()</td></tr>
<tr class="separator:a1fed1d667e5ca8dad443ffe96e9e77c7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a> ()</td></tr>
<tr class="separator:a7984b2ad8962a5b8871c277b94c82344 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a> (string v)</td></tr>
<tr class="separator:a95bfdbff5a48de4e8944544c1c6fdd7e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a> (string v)</td></tr>
<tr class="separator:afc9fa3afa0b7c97c5f0649e6e59553b3 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="acc926d54362467f10513f0691ef2876f" name="acc926d54362467f10513f0691ef2876f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acc926d54362467f10513f0691ef2876f">&#9670;&#160;</a></span>ChooseBuyItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartScene.ChooseBuyItem </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6f4a2b5e1e084e84a7c8dbcf81e1ad7e" name="a6f4a2b5e1e084e84a7c8dbcf81e1ad7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f4a2b5e1e084e84a7c8dbcf81e1ad7e">&#9670;&#160;</a></span>ChooseNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartScene.ChooseNumber </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maximum</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1fed1d667e5ca8dad443ffe96e9e77c7" name="a1fed1d667e5ca8dad443ffe96e9e77c7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1fed1d667e5ca8dad443ffe96e9e77c7">&#9670;&#160;</a></span>ChooseSellItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IMartScene.ChooseSellItem </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af8b869257b732297ccd7efe1eccac5d4" name="af8b869257b732297ccd7efe1eccac5d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8b869257b732297ccd7efe1eccac5d4">&#9670;&#160;</a></span>Confirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IMartScene.Confirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af177fe9b939958d2cb3dc0fc73154259" name="af177fe9b939958d2cb3dc0fc73154259"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af177fe9b939958d2cb3dc0fc73154259">&#9670;&#160;</a></span>Display()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.Display </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>brief</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a294bf3908528ffb4d149546a1ed61780" name="a294bf3908528ffb4d149546a1ed61780"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a294bf3908528ffb4d149546a1ed61780">&#9670;&#160;</a></span>DisplayPaused()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.DisplayPaused </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a17af5815d8d8b6553d95c2b9ed1f4b3e" name="a17af5815d8d8b6553d95c2b9ed1f4b3e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17af5815d8d8b6553d95c2b9ed1f4b3e">&#9670;&#160;</a></span>EndBuyScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.EndBuyScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d5bf4fba6d72d5b587327db10699073" name="a2d5bf4fba6d72d5b587327db10699073"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d5bf4fba6d72d5b587327db10699073">&#9670;&#160;</a></span>EndSellScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.EndSellScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1b195ac632ae2fa12c52893833f61a9e" name="a1b195ac632ae2fa12c52893833f61a9e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b195ac632ae2fa12c52893833f61a9e">&#9670;&#160;</a></span>HideMoney()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.HideMoney </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a317006dad8a034257ea4f2790337014f" name="a317006dad8a034257ea4f2790337014f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a317006dad8a034257ea4f2790337014f">&#9670;&#160;</a></span>PrepareWindow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.PrepareWindow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>window</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae56d8530d73bbafe5211e1de133abbcd" name="ae56d8530d73bbafe5211e1de133abbcd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae56d8530d73bbafe5211e1de133abbcd">&#9670;&#160;</a></span>ShowMoney()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.ShowMoney </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1c3e633bc9606fb10d96ab465009d708" name="a1c3e633bc9606fb10d96ab465009d708"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c3e633bc9606fb10d96ab465009d708">&#9670;&#160;</a></span>StartBuyOrSellScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.StartBuyOrSellScene </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>buying</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>stock</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a>&#160;</td>
          <td class="paramname"><em>adapter</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9e7e4aadd780de429eb54df9b551587a" name="a9e7e4aadd780de429eb54df9b551587a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e7e4aadd780de429eb54df9b551587a">&#9670;&#160;</a></span>StartBuyScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.StartBuyScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>stock</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a>&#160;</td>
          <td class="paramname"><em>adapter</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2b40d0671a3fe5315adda9ad0096d860" name="a2b40d0671a3fe5315adda9ad0096d860"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b40d0671a3fe5315adda9ad0096d860">&#9670;&#160;</a></span>StartSellScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.StartSellScene </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td>
          <td class="paramname"><em>bag</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a>&#160;</td>
          <td class="paramname"><em>adapter</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acd8e6695f8ec75838b020ba404844829" name="acd8e6695f8ec75838b020ba404844829"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd8e6695f8ec75838b020ba404844829">&#9670;&#160;</a></span>StartSellScene2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.StartSellScene2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag.cshtml">IBag</a>&#160;</td>
          <td class="paramname"><em>bag</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mart_adapter.cshtml">IMartAdapter</a>&#160;</td>
          <td class="paramname"><em>adapter</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa72c5e3014e9071c82238627f15191d6" name="aa72c5e3014e9071c82238627f15191d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa72c5e3014e9071c82238627f15191d6">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IMartScene.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_mart_8cs.cshtml">IMart.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
