@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattlerEffect Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml">IBattlerEffect</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerEffect Interface Reference</div></div>
}


<p>Partial extension of existing entity </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattlerEffect:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map" name="PokemonEssentials.Interface.PokeBattle.IBattlerEffect_map">
<area href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml" title="A Pokemon placeholder class to be used while in-battle, to prevent changes from being permanent to or..." alt="PokemonUnity.Combat.Pokemon" shape="rect" coords="0,56,312,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af6eb6a222f60189ee6d576f8674b82ec"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#af6eb6a222f60189ee6d576f8674b82ec">CanSleep</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool ignorestatus=false)</td></tr>
<tr class="separator:af6eb6a222f60189ee6d576f8674b82ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc050a7c7dad19e786a41a4e170c6203"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#adc050a7c7dad19e786a41a4e170c6203">CanSleepYawn</a> ()</td></tr>
<tr class="separator:adc050a7c7dad19e786a41a4e170c6203"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acf316c2b58d2e9dca32f5d04901e73ac"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#acf316c2b58d2e9dca32f5d04901e73ac">Sleep</a> (string msg=null)</td></tr>
<tr class="separator:acf316c2b58d2e9dca32f5d04901e73ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0811162d3793d0fd0372d309a90db07d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a0811162d3793d0fd0372d309a90db07d">SleepSelf</a> (int duration=-1)</td></tr>
<tr class="separator:a0811162d3793d0fd0372d309a90db07d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18e8f24dc6e66f6f34bb488a3e3e019a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a18e8f24dc6e66f6f34bb488a3e3e019a">CanPoison</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a18e8f24dc6e66f6f34bb488a3e3e019a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a89fb095dbc658cf8a661e7f3526363a5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a89fb095dbc658cf8a661e7f3526363a5">CanPoisonSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a89fb095dbc658cf8a661e7f3526363a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a00d87f93775dfe4c8961ba99885b79a7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a00d87f93775dfe4c8961ba99885b79a7">CanPoisonSpikes</a> (bool moldbreaker=false)</td></tr>
<tr class="separator:a00d87f93775dfe4c8961ba99885b79a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa78434b4e6522cf67adce0bc5e679885"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aa78434b4e6522cf67adce0bc5e679885">Poison</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null, bool toxic=false)</td></tr>
<tr class="separator:aa78434b4e6522cf67adce0bc5e679885"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43c182b6be6afbb65459b18aa94d5a4d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a43c182b6be6afbb65459b18aa94d5a4d">CanBurn</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a43c182b6be6afbb65459b18aa94d5a4d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad2487f21a191113fe3d896e17b574507"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad2487f21a191113fe3d896e17b574507">CanBurnSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:ad2487f21a191113fe3d896e17b574507"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7fcec15062eaecd5a98e8a7028142cc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ac7fcec15062eaecd5a98e8a7028142cc">Burn</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:ac7fcec15062eaecd5a98e8a7028142cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af93f444bd106f285ca92f168fb5f360a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#af93f444bd106f285ca92f168fb5f360a">CanParalyze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:af93f444bd106f285ca92f168fb5f360a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d198508415cc39a21bf9131d0e1c64d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a0d198508415cc39a21bf9131d0e1c64d">CanParalyzeSynchronize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a0d198508415cc39a21bf9131d0e1c64d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3a9c8bbdc1ea8260c6c038424fa4b3e1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3a9c8bbdc1ea8260c6c038424fa4b3e1">Paralyze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:a3a9c8bbdc1ea8260c6c038424fa4b3e1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ada8328f712bc6166b75ba12b35bfa5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3ada8328f712bc6166b75ba12b35bfa5">CanFreeze</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a3ada8328f712bc6166b75ba12b35bfa5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa483d621cb3cf52df42c58a7281c4ca"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aaa483d621cb3cf52df42c58a7281c4ca">Freeze</a> (string msg=null)</td></tr>
<tr class="separator:aaa483d621cb3cf52df42c58a7281c4ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae7bbf03cfd3e2de756f9af3091f7d271"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ae7bbf03cfd3e2de756f9af3091f7d271">ContinueStatus</a> (bool showAnim=true)</td></tr>
<tr class="separator:ae7bbf03cfd3e2de756f9af3091f7d271"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27b8d04b89134aaf537fc792fd17d208"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a27b8d04b89134aaf537fc792fd17d208">CureStatus</a> (bool showMessages=true)</td></tr>
<tr class="separator:a27b8d04b89134aaf537fc792fd17d208"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3b7a9a630214a1d4bf2c3d3b43fec4f1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a3b7a9a630214a1d4bf2c3d3b43fec4f1">CanConfuse</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=true, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null)</td></tr>
<tr class="separator:a3b7a9a630214a1d4bf2c3d3b43fec4f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a90c408f7ea2d4ede94855b9dcefab6b6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a90c408f7ea2d4ede94855b9dcefab6b6">CanConfuseSelf</a> (bool showMessages)</td></tr>
<tr class="separator:a90c408f7ea2d4ede94855b9dcefab6b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a479096bf3555c1199f83de6355ee1d16"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a479096bf3555c1199f83de6355ee1d16">Confuse</a> ()</td></tr>
<tr class="separator:a479096bf3555c1199f83de6355ee1d16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5b618030f74bb3b2d5b33bb38a0e3f78"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a5b618030f74bb3b2d5b33bb38a0e3f78">ConfuseSelf</a> ()</td></tr>
<tr class="separator:a5b618030f74bb3b2d5b33bb38a0e3f78"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a56850429d7f1aea1ff5743262a4ab9ce"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a56850429d7f1aea1ff5743262a4ab9ce">ContinueConfusion</a> ()</td></tr>
<tr class="separator:a56850429d7f1aea1ff5743262a4ab9ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a07908ae3d6de059c9b71b51f0d39accb"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a07908ae3d6de059c9b71b51f0d39accb">CureConfusion</a> (bool showMessages=true)</td></tr>
<tr class="separator:a07908ae3d6de059c9b71b51f0d39accb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01d0be5e977b13e2b7da42fb9d911733"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a01d0be5e977b13e2b7da42fb9d911733">CanAttract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages=true)</td></tr>
<tr class="separator:a01d0be5e977b13e2b7da42fb9d911733"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfe86949343863179fd71cac56d31677"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#acfe86949343863179fd71cac56d31677">Attract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string msg=null)</td></tr>
<tr class="separator:acfe86949343863179fd71cac56d31677"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d84ef4876defbf5346d33e49c6d3599"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a6d84ef4876defbf5346d33e49c6d3599">AnnounceAttract</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> seducer)</td></tr>
<tr class="separator:a6d84ef4876defbf5346d33e49c6d3599"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20f43bd050be9e73b14f0d679add89d6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a20f43bd050be9e73b14f0d679add89d6">ContinueAttract</a> ()</td></tr>
<tr class="separator:a20f43bd050be9e73b14f0d679add89d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa938014494d3fb67f2cf7de7f8b6d348"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#aa938014494d3fb67f2cf7de7f8b6d348">CureAttract</a> ()</td></tr>
<tr class="separator:aa938014494d3fb67f2cf7de7f8b6d348"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a162967bf2a60a5d3fe762915039e4d8e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a162967bf2a60a5d3fe762915039e4d8e">Flinch</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker)</td></tr>
<tr class="separator:a162967bf2a60a5d3fe762915039e4d8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a164b10709646bec73b16247acade75b2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a164b10709646bec73b16247acade75b2">TooHigh</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat)</td></tr>
<tr class="separator:a164b10709646bec73b16247acade75b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe2e4d3ef26e862d90dba1d88a958586"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#afe2e4d3ef26e862d90dba1d88a958586">CanIncreaseStatStage</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=false, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:afe2e4d3ef26e862d90dba1d88a958586"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18868e4415859d6ade6c322e874f0980"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a18868e4415859d6ade6c322e874f0980">IncreaseStatBasic</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:a18868e4415859d6ade6c322e874f0980"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a84aaf7b58c7fc8633c5a2b7d662d2a32"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a84aaf7b58c7fc8633c5a2b7d662d2a32">IncreaseStat</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool upanim=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:a84aaf7b58c7fc8633c5a2b7d662d2a32"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af262bf3e1b7903c18a6b91274d453752"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#af262bf3e1b7903c18a6b91274d453752">IncreaseStatWithCause</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string cause, bool showanim=true, bool showmessage=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:af262bf3e1b7903c18a6b91274d453752"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad95d028463d1840634e1abd98a204b8f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ad95d028463d1840634e1abd98a204b8f">TooLow</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat)</td></tr>
<tr class="separator:ad95d028463d1840634e1abd98a204b8f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae58103da3ddc687123ed1516b4741ab9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ae58103da3ddc687123ed1516b4741ab9">CanReduceStatStage</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool showMessages=false, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="memdesc:ae58103da3ddc687123ed1516b4741ab9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Tickle (Moves.TICKLE) and Noble Roar (Moves.NOBLE_ROAR) can't use this, but replicate it instead. (Reason is they lowers more than 1 stat independently, and therefore could show certain messages twice which is undesirable.)   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ae58103da3ddc687123ed1516b4741ab9">More...</a><br /></td></tr>
<tr class="separator:ae58103da3ddc687123ed1516b4741ab9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4e66b1d2a5448c5cd996c3984019f5a0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#a4e66b1d2a5448c5cd996c3984019f5a0">ReduceStatBasic</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker=null, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:a4e66b1d2a5448c5cd996c3984019f5a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acbb1b8e6cd368ec3959928c883e342b0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#acbb1b8e6cd368ec3959928c883e342b0">ReduceStat</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, bool showMessages, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move=null, bool downanim=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:acbb1b8e6cd368ec3959928c883e342b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac65ccc8ceb5f363fdb93785f6cb247c4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#ac65ccc8ceb5f363fdb93785f6cb247c4">ReduceStatWithCause</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int increment, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, string cause, bool showanim=true, bool showmessage=true, bool moldbreaker=false, bool ignoreContrary=false)</td></tr>
<tr class="separator:ac65ccc8ceb5f363fdb93785f6cb247c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af50d664550adf4923a69202ae6ac5a7c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_effect.cshtml#af50d664550adf4923a69202ae6ac5a7c">ReduceAttackStatIntimidate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:af50d664550adf4923a69202ae6ac5a7c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Partial extension of existing entity </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a6d84ef4876defbf5346d33e49c6d3599" name="a6d84ef4876defbf5346d33e49c6d3599"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d84ef4876defbf5346d33e49c6d3599">&#9670;&#160;</a></span>AnnounceAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.AnnounceAttract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>seducer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a8e4549ba2235f4375d2523cbaa6e348d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="acfe86949343863179fd71cac56d31677" name="acfe86949343863179fd71cac56d31677"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfe86949343863179fd71cac56d31677">&#9670;&#160;</a></span>Attract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Attract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a146d83e091bc56705fe33ff8fda1d5f3">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ac7fcec15062eaecd5a98e8a7028142cc" name="ac7fcec15062eaecd5a98e8a7028142cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7fcec15062eaecd5a98e8a7028142cc">&#9670;&#160;</a></span>Burn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Burn </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ac84d1301f17af1957a4a5455e43ca114">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a01d0be5e977b13e2b7da42fb9d911733" name="a01d0be5e977b13e2b7da42fb9d911733"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01d0be5e977b13e2b7da42fb9d911733">&#9670;&#160;</a></span>CanAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanAttract </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ad9d49278b02dfd87d30f274b9bb8e780">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a43c182b6be6afbb65459b18aa94d5a4d" name="a43c182b6be6afbb65459b18aa94d5a4d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43c182b6be6afbb65459b18aa94d5a4d">&#9670;&#160;</a></span>CanBurn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanBurn </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a58c4957fbc4c3df86b89dcc817201608">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad2487f21a191113fe3d896e17b574507" name="ad2487f21a191113fe3d896e17b574507"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad2487f21a191113fe3d896e17b574507">&#9670;&#160;</a></span>CanBurnSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanBurnSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aad321cf2984ca5def191478927f1cb01">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3b7a9a630214a1d4bf2c3d3b43fec4f1" name="a3b7a9a630214a1d4bf2c3d3b43fec4f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3b7a9a630214a1d4bf2c3d3b43fec4f1">&#9670;&#160;</a></span>CanConfuse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanConfuse </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a48d438b6370c60b1c29db695f6d3c774">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a90c408f7ea2d4ede94855b9dcefab6b6" name="a90c408f7ea2d4ede94855b9dcefab6b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a90c408f7ea2d4ede94855b9dcefab6b6">&#9670;&#160;</a></span>CanConfuseSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanConfuseSelf </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a855e86d5efd52f7c10a5d3671269ee4a">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3ada8328f712bc6166b75ba12b35bfa5" name="a3ada8328f712bc6166b75ba12b35bfa5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ada8328f712bc6166b75ba12b35bfa5">&#9670;&#160;</a></span>CanFreeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanFreeze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a1fb1aeb1d94676ac1d459e39532e58eb">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="afe2e4d3ef26e862d90dba1d88a958586" name="afe2e4d3ef26e862d90dba1d88a958586"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe2e4d3ef26e862d90dba1d88a958586">&#9670;&#160;</a></span>CanIncreaseStatStage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanIncreaseStatStage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a1badd6c5d8101d117a9c0a5e4565f96c">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="af93f444bd106f285ca92f168fb5f360a" name="af93f444bd106f285ca92f168fb5f360a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af93f444bd106f285ca92f168fb5f360a">&#9670;&#160;</a></span>CanParalyze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanParalyze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aad71c6162daddc92a5299803ead5135e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a0d198508415cc39a21bf9131d0e1c64d" name="a0d198508415cc39a21bf9131d0e1c64d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d198508415cc39a21bf9131d0e1c64d">&#9670;&#160;</a></span>CanParalyzeSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanParalyzeSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a870bc566b01702170688f279c882b31d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a18e8f24dc6e66f6f34bb488a3e3e019a" name="a18e8f24dc6e66f6f34bb488a3e3e019a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18e8f24dc6e66f6f34bb488a3e3e019a">&#9670;&#160;</a></span>CanPoison()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanPoison </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ae56acb71e4e49c36040b4ccf1736e114">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a00d87f93775dfe4c8961ba99885b79a7" name="a00d87f93775dfe4c8961ba99885b79a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a00d87f93775dfe4c8961ba99885b79a7">&#9670;&#160;</a></span>CanPoisonSpikes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanPoisonSpikes </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a7a63f91e176ee2a42abfb144bfed2b0d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a89fb095dbc658cf8a661e7f3526363a5" name="a89fb095dbc658cf8a661e7f3526363a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a89fb095dbc658cf8a661e7f3526363a5">&#9670;&#160;</a></span>CanPoisonSynchronize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanPoisonSynchronize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ae2ff64b247ee2b521960db443b04093b">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ae58103da3ddc687123ed1516b4741ab9" name="ae58103da3ddc687123ed1516b4741ab9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae58103da3ddc687123ed1516b4741ab9">&#9670;&#160;</a></span>CanReduceStatStage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanReduceStatStage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Tickle (Moves.TICKLE) and Noble Roar (Moves.NOBLE_ROAR) can't use this, but replicate it instead. (Reason is they lowers more than 1 stat independently, and therefore could show certain messages twice which is undesirable.)  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">stat</td><td></td></tr>
    <tr><td class="paramname">attacker</td><td></td></tr>
    <tr><td class="paramname">showMessages</td><td></td></tr>
    <tr><td class="paramname">move</td><td></td></tr>
    <tr><td class="paramname">moldbreaker</td><td></td></tr>
    <tr><td class="paramname">ignoreContrary</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ae07af8f729eef2f3f54788e4fa4bc124">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="af6eb6a222f60189ee6d576f8674b82ec" name="af6eb6a222f60189ee6d576f8674b82ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6eb6a222f60189ee6d576f8674b82ec">&#9670;&#160;</a></span>CanSleep()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanSleep </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignorestatus</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aa92667521eb3eca40092333b6657e218">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="adc050a7c7dad19e786a41a4e170c6203" name="adc050a7c7dad19e786a41a4e170c6203"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc050a7c7dad19e786a41a4e170c6203">&#9670;&#160;</a></span>CanSleepYawn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CanSleepYawn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a60c31df9ee39ed068fee82d23a98288e">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a479096bf3555c1199f83de6355ee1d16" name="a479096bf3555c1199f83de6355ee1d16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a479096bf3555c1199f83de6355ee1d16">&#9670;&#160;</a></span>Confuse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Confuse </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ab10f9e06f247958ad8918a5a52116dc4">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a5b618030f74bb3b2d5b33bb38a0e3f78" name="a5b618030f74bb3b2d5b33bb38a0e3f78"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5b618030f74bb3b2d5b33bb38a0e3f78">&#9670;&#160;</a></span>ConfuseSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ConfuseSelf </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a9ab442dd2fc1dc09eb07eb658f3ed93d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a20f43bd050be9e73b14f0d679add89d6" name="a20f43bd050be9e73b14f0d679add89d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20f43bd050be9e73b14f0d679add89d6">&#9670;&#160;</a></span>ContinueAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ContinueAttract </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a12a2cfd0e3a98638117204c021c2e506">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a56850429d7f1aea1ff5743262a4ab9ce" name="a56850429d7f1aea1ff5743262a4ab9ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a56850429d7f1aea1ff5743262a4ab9ce">&#9670;&#160;</a></span>ContinueConfusion()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ContinueConfusion </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#adb271b68d0ceb8e43711497efe4c8bf1">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ae7bbf03cfd3e2de756f9af3091f7d271" name="ae7bbf03cfd3e2de756f9af3091f7d271"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae7bbf03cfd3e2de756f9af3091f7d271">&#9670;&#160;</a></span>ContinueStatus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ContinueStatus </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showAnim</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ac897ebb73c7ed0d5629e2f5f7e5d4d26">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aa938014494d3fb67f2cf7de7f8b6d348" name="aa938014494d3fb67f2cf7de7f8b6d348"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa938014494d3fb67f2cf7de7f8b6d348">&#9670;&#160;</a></span>CureAttract()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CureAttract </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3b69b9be33f88ca86f6bb964dea5df89">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a07908ae3d6de059c9b71b51f0d39accb" name="a07908ae3d6de059c9b71b51f0d39accb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a07908ae3d6de059c9b71b51f0d39accb">&#9670;&#160;</a></span>CureConfusion()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CureConfusion </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0420f1cea5e7ead703a7a04db5ecda56">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a27b8d04b89134aaf537fc792fd17d208" name="a27b8d04b89134aaf537fc792fd17d208"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27b8d04b89134aaf537fc792fd17d208">&#9670;&#160;</a></span>CureStatus()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.CureStatus </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em> = <code>true</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a7409be245b8e14cbfc4b9b4b1557836a">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a162967bf2a60a5d3fe762915039e4d8e" name="a162967bf2a60a5d3fe762915039e4d8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a162967bf2a60a5d3fe762915039e4d8e">&#9670;&#160;</a></span>Flinch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Flinch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a6f6a38c0006d4fcc2dbd4b4dfd066a3a">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aaa483d621cb3cf52df42c58a7281c4ca" name="aaa483d621cb3cf52df42c58a7281c4ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa483d621cb3cf52df42c58a7281c4ca">&#9670;&#160;</a></span>Freeze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Freeze </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a730af2b0948277731828c2b78b77eaf7">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a84aaf7b58c7fc8633c5a2b7d662d2a32" name="a84aaf7b58c7fc8633c5a2b7d662d2a32"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a84aaf7b58c7fc8633c5a2b7d662d2a32">&#9670;&#160;</a></span>IncreaseStat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.IncreaseStat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>upanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ae67d35558c51a64e96263509a2c13d1a">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a18868e4415859d6ade6c322e874f0980" name="a18868e4415859d6ade6c322e874f0980"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18868e4415859d6ade6c322e874f0980">&#9670;&#160;</a></span>IncreaseStatBasic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlerEffect.IncreaseStatBasic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a9c963585319154d4899dd4faeef5b000">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="af262bf3e1b7903c18a6b91274d453752" name="af262bf3e1b7903c18a6b91274d453752"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af262bf3e1b7903c18a6b91274d453752">&#9670;&#160;</a></span>IncreaseStatWithCause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.IncreaseStatWithCause </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>cause</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ac098737bb8f291517e0583a19b665a26">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a3a9c8bbdc1ea8260c6c038424fa4b3e1" name="a3a9c8bbdc1ea8260c6c038424fa4b3e1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3a9c8bbdc1ea8260c6c038424fa4b3e1">&#9670;&#160;</a></span>Paralyze()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Paralyze </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ace916d95452e7520d0d3e2d255d920cf">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="aa78434b4e6522cf67adce0bc5e679885" name="aa78434b4e6522cf67adce0bc5e679885"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa78434b4e6522cf67adce0bc5e679885">&#9670;&#160;</a></span>Poison()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Poison </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>toxic</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a3b264ba29f6f7ed9762ae6f03448e753">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="af50d664550adf4923a69202ae6ac5a7c" name="af50d664550adf4923a69202ae6ac5a7c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af50d664550adf4923a69202ae6ac5a7c">&#9670;&#160;</a></span>ReduceAttackStatIntimidate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ReduceAttackStatIntimidate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a6c74f2cc88445ef34d1d83bfc04f35c5">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="acbb1b8e6cd368ec3959928c883e342b0" name="acbb1b8e6cd368ec3959928c883e342b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acbb1b8e6cd368ec3959928c883e342b0">&#9670;&#160;</a></span>ReduceStat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ReduceStat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showMessages</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>downanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#af8fe53158f4ef81e3428cd2ff997a920">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a4e66b1d2a5448c5cd996c3984019f5a0" name="a4e66b1d2a5448c5cd996c3984019f5a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4e66b1d2a5448c5cd996c3984019f5a0">&#9670;&#160;</a></span>ReduceStatBasic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ReduceStatBasic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a4d496876f8a97bdf56b240b1579126d7">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ac65ccc8ceb5f363fdb93785f6cb247c4" name="ac65ccc8ceb5f363fdb93785f6cb247c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac65ccc8ceb5f363fdb93785f6cb247c4">&#9670;&#160;</a></span>ReduceStatWithCause()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.ReduceStatWithCause </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>increment</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>cause</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showanim</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>showmessage</em> = <code>true</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>moldbreaker</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>ignoreContrary</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a4a5971c9d5a813c86915774a2f198ab5">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="acf316c2b58d2e9dca32f5d04901e73ac" name="acf316c2b58d2e9dca32f5d04901e73ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acf316c2b58d2e9dca32f5d04901e73ac">&#9670;&#160;</a></span>Sleep()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.Sleep </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#ae77c02f3eb0f71fbff5c8614a37ce487">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a0811162d3793d0fd0372d309a90db07d" name="a0811162d3793d0fd0372d309a90db07d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0811162d3793d0fd0372d309a90db07d">&#9670;&#160;</a></span>SleepSelf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlerEffect.SleepSelf </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>duration</em> = <code>-1</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#aca172b5f73289b090da38498ec1908e4">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="a164b10709646bec73b16247acade75b2" name="a164b10709646bec73b16247acade75b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a164b10709646bec73b16247acade75b2">&#9670;&#160;</a></span>TooHigh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.TooHigh </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a0e4d0d5aaf1113f19a61e1d40811ccb9">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<a id="ad95d028463d1840634e1abd98a204b8f" name="ad95d028463d1840634e1abd98a204b8f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad95d028463d1840634e1abd98a204b8f">&#9670;&#160;</a></span>TooLow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattlerEffect.TooLow </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_pokemon.cshtml#a221fdb9ced9bc3f7066da6d482ad2a7d">PokemonUnity.Combat.Pokemon</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battler_effect_8cs.cshtml">IBattlerEffect.cs</a></li>
</ul>

