@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">IPCItemStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPCItemStorage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ad3ffbd19ae2c0bec9d28358e9aa2e472">CanStore</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#af78551c75992a6326fabf81d41fda61a">DeleteItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a8ad3d41bf7da0cbda04fabc2737b7989">empty</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ac0d76cfa7070e82348cd06fd6a9e4e85">getCount</a>(int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a421a86fd69078e5a786871be915461aa">getItem</a>(int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a49bd628a810d875e257d3a2c6bfb52d2">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#ab22cde3050c74c1028c73f47c6c3f3cb">length</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a2b53be70f206bf1b79d999f5a30970ee">Quantity</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml#a511228d0320d7480b479b2f66ed20c56">StoreItem</a>(Items item, int qty=1)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_item_storage.cshtml">PokemonEssentials.Interface.Screen.IPCItemStorage</a></td><td class="entry"></td></tr>
</table>
