@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.IInterpreterFieldMixin Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml">IInterpreterFieldMixin</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IInterpreterFieldMixin Interface Reference</div></div>
}


<p>Logic that's used by Game while player is in <code>Overworld_Field</code>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.IInterpreterFieldMixin:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.png" usemap="#PokemonEssentials.Interface.IInterpreterFieldMixin_map" alt=""/>
  <map id="PokemonEssentials.Interface.IInterpreterFieldMixin_map" name="PokemonEssentials.Interface.IInterpreterFieldMixin_map">
<area href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml" alt="PokemonUnity.InterpreterFieldMixin" shape="rect" coords="0,56,297,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a032469a3fc960bea07dde22c686c1acf"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a032469a3fc960bea07dde22c686c1acf">getVariable</a> (params int[] arg)</td></tr>
<tr class="separator:a032469a3fc960bea07dde22c686c1acf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a416a2d18b59fe653a1b52decc536f4b2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a416a2d18b59fe653a1b52decc536f4b2">GetPokemon</a> (int id)</td></tr>
<tr class="separator:a416a2d18b59fe653a1b52decc536f4b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c7d166f10c256ce2abda101f288136c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a3c7d166f10c256ce2abda101f288136c">Headbutt</a> ()</td></tr>
<tr class="separator:a3c7d166f10c256ce2abda101f288136c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8fa3bd6b18a4cd687276db66c98a8831"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8fa3bd6b18a4cd687276db66c98a8831">PushThisBoulder</a> ()</td></tr>
<tr class="separator:a8fa3bd6b18a4cd687276db66c98a8831"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a15eba420b63489ff9fc615952d2ca835"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a15eba420b63489ff9fc615952d2ca835">PushThisEvent</a> ()</td></tr>
<tr class="separator:a15eba420b63489ff9fc615952d2ca835"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a4d01d48d64bcf2f0b0c71ac4437891"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a9a4d01d48d64bcf2f0b0c71ac4437891">SetEventTime</a> (params int[] arg)</td></tr>
<tr class="separator:a9a4d01d48d64bcf2f0b0c71ac4437891"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54b2a6e5ccbddaf539f6af2eaecbf0b7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a54b2a6e5ccbddaf539f6af2eaecbf0b7">TrainerIntro</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> symbol)</td></tr>
<tr class="memdesc:a54b2a6e5ccbddaf539f6af2eaecbf0b7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used when player encounters a trainer, and battle logic get triggered   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a54b2a6e5ccbddaf539f6af2eaecbf0b7">More...</a><br /></td></tr>
<tr class="separator:a54b2a6e5ccbddaf539f6af2eaecbf0b7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77bbbf7630fccd1136fb449e3a0c9e45"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a77bbbf7630fccd1136fb449e3a0c9e45">TrainerEnd</a> ()</td></tr>
<tr class="separator:a77bbbf7630fccd1136fb449e3a0c9e45"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02409a08504c19e1bd1244fb025fca93"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a02409a08504c19e1bd1244fb025fca93">setTempSwitchOff</a> (string c)</td></tr>
<tr class="separator:a02409a08504c19e1bd1244fb025fca93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0ca0d7b9c18d12262b67a1ba323206e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#ac0ca0d7b9c18d12262b67a1ba323206e">setTempSwitchOn</a> (string c)</td></tr>
<tr class="separator:ac0ca0d7b9c18d12262b67a1ba323206e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a445350fefeed72247b0c178d36d91652"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a445350fefeed72247b0c178d36d91652">setVariable</a> (params int[] arg)</td></tr>
<tr class="separator:a445350fefeed72247b0c178d36d91652"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8754899ecc965f0bcab59b5ef423634d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a8754899ecc965f0bcab59b5ef423634d">tsOff</a> (string c)</td></tr>
<tr class="separator:a8754899ecc965f0bcab59b5ef423634d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24ff8630a97ee1bcf0895763206b5ae1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_interpreter_field_mixin.cshtml#a24ff8630a97ee1bcf0895763206b5ae1">tsOn</a> (string c)</td></tr>
<tr class="separator:a24ff8630a97ee1bcf0895763206b5ae1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Logic that's used by Game while player is in <code>Overworld_Field</code>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a416a2d18b59fe653a1b52decc536f4b2" name="a416a2d18b59fe653a1b52decc536f4b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a416a2d18b59fe653a1b52decc536f4b2">&#9670;&#160;</a></span>GetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> PokemonEssentials.Interface.IInterpreterFieldMixin.GetPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a506fb84ad3d494a6221a7e2aa2bd9647">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a032469a3fc960bea07dde22c686c1acf" name="a032469a3fc960bea07dde22c686c1acf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a032469a3fc960bea07dde22c686c1acf">&#9670;&#160;</a></span>getVariable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.IInterpreterFieldMixin.getVariable </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aec876874a3d12a64c71559573f8c4ee3">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a3c7d166f10c256ce2abda101f288136c" name="a3c7d166f10c256ce2abda101f288136c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c7d166f10c256ce2abda101f288136c">&#9670;&#160;</a></span>Headbutt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.Headbutt </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#ab5a6c394d6b4b7dde6f47d63172329ae">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a8fa3bd6b18a4cd687276db66c98a8831" name="a8fa3bd6b18a4cd687276db66c98a8831"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8fa3bd6b18a4cd687276db66c98a8831">&#9670;&#160;</a></span>PushThisBoulder()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.PushThisBoulder </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aeed28287b06d55c28418c1a27e57e480">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a15eba420b63489ff9fc615952d2ca835" name="a15eba420b63489ff9fc615952d2ca835"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a15eba420b63489ff9fc615952d2ca835">&#9670;&#160;</a></span>PushThisEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.PushThisEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#adc64c6287e63a8df151b375fa2ace204">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a9a4d01d48d64bcf2f0b0c71ac4437891" name="a9a4d01d48d64bcf2f0b0c71ac4437891"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a4d01d48d64bcf2f0b0c71ac4437891">&#9670;&#160;</a></span>SetEventTime()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.SetEventTime </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#abc8ef8ad96e3bdc762497952567a3a69">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a02409a08504c19e1bd1244fb025fca93" name="a02409a08504c19e1bd1244fb025fca93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02409a08504c19e1bd1244fb025fca93">&#9670;&#160;</a></span>setTempSwitchOff()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setTempSwitchOff </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a5f4af5f087e704b73cf3100dc4c311ae">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="ac0ca0d7b9c18d12262b67a1ba323206e" name="ac0ca0d7b9c18d12262b67a1ba323206e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0ca0d7b9c18d12262b67a1ba323206e">&#9670;&#160;</a></span>setTempSwitchOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setTempSwitchOn </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#af8e6d59572d35615bf8e10d8458fd334">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a445350fefeed72247b0c178d36d91652" name="a445350fefeed72247b0c178d36d91652"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a445350fefeed72247b0c178d36d91652">&#9670;&#160;</a></span>setVariable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.setVariable </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#ab05612f20a2dc22a5e47c1d82ed1ba73">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a77bbbf7630fccd1136fb449e3a0c9e45" name="a77bbbf7630fccd1136fb449e3a0c9e45"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77bbbf7630fccd1136fb449e3a0c9e45">&#9670;&#160;</a></span>TrainerEnd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IInterpreterFieldMixin.TrainerEnd </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a99ff42ea5da476e420ec83c4910e4cc2">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a54b2a6e5ccbddaf539f6af2eaecbf0b7" name="a54b2a6e5ccbddaf539f6af2eaecbf0b7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54b2a6e5ccbddaf539f6af2eaecbf0b7">&#9670;&#160;</a></span>TrainerIntro()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.TrainerIntro </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td>
          <td class="paramname"><em>symbol</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Used when player encounters a trainer, and battle logic get triggered  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">symbol</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Plays TrainerType Audio Theme and returns true</dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a9c03b6f1ecaa7e0e90d12620d5fc6a88">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a8754899ecc965f0bcab59b5ef423634d" name="a8754899ecc965f0bcab59b5ef423634d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8754899ecc965f0bcab59b5ef423634d">&#9670;&#160;</a></span>tsOff()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.tsOff </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#a6d38fc28f9922eb44a7a35424cb2c75a">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<a id="a24ff8630a97ee1bcf0895763206b5ae1" name="a24ff8630a97ee1bcf0895763206b5ae1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24ff8630a97ee1bcf0895763206b5ae1">&#9670;&#160;</a></span>tsOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IInterpreterFieldMixin.tsOn </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>c</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_interpreter_field_mixin.cshtml#aeed3fb12aa4fe1553b69961bdfa68e95">PokemonUnity.InterpreterFieldMixin</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_interpreter_field_mixin_8cs.cshtml">IInterpreterFieldMixin.cs</a></li>
</ul>

