@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Item.IBallHandlers Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml">IBallHandlers</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IBallHandlers Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a749237d1e059e5ea0077e21a0527c796"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a749237d1e059e5ea0077e21a0527c796">isUnconditional</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:a749237d1e059e5ea0077e21a0527c796"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aed3415dee6cc59e6f86ad93d54ff658c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#aed3415dee6cc59e6f86ad93d54ff658c">modifyCatchRate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int catchRate, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:aed3415dee6cc59e6f86ad93d54ff658c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d8f9849cfb9f7b29bbaada66a966e25"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a3d8f9849cfb9f7b29bbaada66a966e25">onCatch</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a3d8f9849cfb9f7b29bbaada66a966e25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abd9c42674c6eca13a6215d37fd1d4199"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#abd9c42674c6eca13a6215d37fd1d4199">onFailCatch</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:abd9c42674c6eca13a6215d37fd1d4199"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:afa707ae243afd0c3fbf282d9c318386f"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#afa707ae243afd0c3fbf282d9c318386f">IsUnconditional</a></td></tr>
<tr class="separator:afa707ae243afd0c3fbf282d9c318386f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a159a5776c49d30877be8873cb7a1605a"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a159a5776c49d30877be8873cb7a1605a">ModifyCatchRate</a></td></tr>
<tr class="separator:a159a5776c49d30877be8873cb7a1605a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b76e0836ab6c1a0332d3d2bbd46f92d"><td class="memItemLeft" align="right" valign="top">Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml">IOnCatchEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#a8b76e0836ab6c1a0332d3d2bbd46f92d">OnCatch</a></td></tr>
<tr class="separator:a8b76e0836ab6c1a0332d3d2bbd46f92d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa345934766cc6c4040e8e5ca51ceb378"><td class="memItemLeft" align="right" valign="top">Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">IOnFailCatchEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_ball_handlers.cshtml#aa345934766cc6c4040e8e5ca51ceb378">OnFailCatch</a></td></tr>
<tr class="separator:aa345934766cc6c4040e8e5ca51ceb378"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a749237d1e059e5ea0077e21a0527c796" name="a749237d1e059e5ea0077e21a0527c796"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a749237d1e059e5ea0077e21a0527c796">&#9670;&#160;</a></span>isUnconditional()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Item.IBallHandlers.isUnconditional </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aed3415dee6cc59e6f86ad93d54ff658c" name="aed3415dee6cc59e6f86ad93d54ff658c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed3415dee6cc59e6f86ad93d54ff658c">&#9670;&#160;</a></span>modifyCatchRate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Item.IBallHandlers.modifyCatchRate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>catchRate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3d8f9849cfb9f7b29bbaada66a966e25" name="a3d8f9849cfb9f7b29bbaada66a966e25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d8f9849cfb9f7b29bbaada66a966e25">&#9670;&#160;</a></span>onCatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IBallHandlers.onCatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abd9c42674c6eca13a6215d37fd1d4199" name="abd9c42674c6eca13a6215d37fd1d4199"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abd9c42674c6eca13a6215d37fd1d4199">&#9670;&#160;</a></span>onFailCatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Item.IBallHandlers.onFailCatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="afa707ae243afd0c3fbf282d9c318386f" name="afa707ae243afd0c3fbf282d9c318386f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa707ae243afd0c3fbf282d9c318386f">&#9670;&#160;</a></span>IsUnconditional</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Item.IBallHandlers.IsUnconditional</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a159a5776c49d30877be8873cb7a1605a" name="a159a5776c49d30877be8873cb7a1605a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a159a5776c49d30877be8873cb7a1605a">&#9670;&#160;</a></span>ModifyCatchRate</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.Item.IBallHandlers.ModifyCatchRate</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8b76e0836ab6c1a0332d3d2bbd46f92d" name="a8b76e0836ab6c1a0332d3d2bbd46f92d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b76e0836ab6c1a0332d3d2bbd46f92d">&#9670;&#160;</a></span>OnCatch</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Action&lt;object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml">IOnCatchEventArgs</a>&gt; PokemonEssentials.Interface.Item.IBallHandlers.OnCatch</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa345934766cc6c4040e8e5ca51ceb378" name="aa345934766cc6c4040e8e5ca51ceb378"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa345934766cc6c4040e8e5ca51ceb378">&#9670;&#160;</a></span>OnFailCatch</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Action&lt;object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">IOnFailCatchEventArgs</a>&gt; PokemonEssentials.Interface.Item.IBallHandlers.OnFailCatch</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Item/<a class="el" href="_i_pokeball_handlers_8cs.cshtml">IPokeballHandlers.cs</a></li>
</ul>
