@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml">IGameEventField</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameEventField Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml">PokemonEssentials.Interface.Field.IGameEventField</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml#aa4fcdc5b34f69e6521040c7cc764b910">cooledDown</a>(int seconds)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml">PokemonEssentials.Interface.Field.IGameEventField</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml#ae54f42544f27a6ec90ba60c246d7e32a">cooledDownDays</a>(int days)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_event_field.cshtml">PokemonEssentials.Interface.Field.IGameEventField</a></td><td class="entry"></td></tr>
</table>
