@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">IBattleUseOnPokemonEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#ab7b4a4b19001d1edb892bb558c90ed38">Battler</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a2e1920f90a6ced8d68185c67b5b204d0">Item</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a782b74c976aa76fc221d87b2344de9df">Pokemon</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#ad740b62aa384b02981d6dcacbf3b2dec">Response</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml#a60427a8365fc51423a1c0701a096e508">Scene</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">PokemonEssentials.Interface.EventArg.IBattleUseOnPokemonEventArgs</a></td><td class="entry"></td></tr>
</table>