@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">IDayCare</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IDayCare Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ab3cbddb240fc121946cad9368964bdf4">DayCareChoose</a>(string text, int variable)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a177ffee653f2bfeb3ce88f2e45555bae">DayCareCompatibleGender</a>(IPokemon pokemon1, IPokemon pokemon2)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ae195f39fe8da3df714d983dbaf7c48f0">DayCareDeposit</a>(int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a61a19ea010878713a2ceeeb7c37b7cda">DayCareDeposited</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a8a70109aa451231f2d8fca4e5b808f06">DayCareGenerateEgg</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a8b0c3e5de50ec85c3c45a92addac6a47">DayCareGetCompat</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af909af8bd92dbd96eee23cc95ea0be51">DayCareGetCompatibility</a>(int variable)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#af8cda363009908d7806887564aa7a6db">DayCareGetDeposited</a>(int index, int nameVariable, int costVariable)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#ae853d2470ee052b3df847e2ce635b310">DayCareGetLevelGain</a>(int index, int nameVariable, int levelVariable)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a2e4318f95c3f5021ea3c36dfb1714507">DayCareWithdraw</a>(int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a648d31e29ec332b19bca3966445718b6">EggGenerated</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a1e5ff87e8638db84d4c8cbf23ea9076d">IsDitto</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#a018a18fdeba64166858afd534ab7d45f">Slot</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml#abf6ea643c75217fb58cf4e2850629685">this[int index]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_day_care.cshtml">PokemonEssentials.Interface.Field.IDayCare</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
