@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IBattleChallenge Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBattleChallenge Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac58ad51b9f187e9aea33fc729be948e4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac58ad51b9f187e9aea33fc729be948e4">initialize</a> ()</td></tr>
<tr class="separator:ac58ad51b9f187e9aea33fc729be948e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02a9c1707e93acc5ca9b8a5491f416d0">modeToRules</a> (bool doublebattle, int numPokemon, int battletype, int mode)</td></tr>
<tr class="separator:a02a9c1707e93acc5ca9b8a5491f416d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a556e6398c25a5f12567748617c96631e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a556e6398c25a5f12567748617c96631e">set</a> (int id, int numrounds, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a>)</td></tr>
<tr class="separator:a556e6398c25a5f12567748617c96631e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4b109871b0e0e78ed155ed3459dc5a55">start</a> (params object[] args)</td></tr>
<tr class="separator:a4b109871b0e0e78ed155ed3459dc5a55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02fe8722da8bd667b3c76eff521045c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a02fe8722da8bd667b3c76eff521045c0">register</a> (int id, bool doublebattle, int numrounds, int numPokemon, int battletype, int mode=1)</td></tr>
<tr class="separator:a02fe8722da8bd667b3c76eff521045c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4c3f6d1c36f068c875f1de0c2d640816">getCurrentWins</a> (int challenge)</td></tr>
<tr class="separator:a4c3f6d1c36f068c875f1de0c2d640816"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a2dbc1d08cb66350d531044e8bc2db89b">getPreviousWins</a> (int challenge)</td></tr>
<tr class="separator:a2dbc1d08cb66350d531044e8bc2db89b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a791d04361171ca1d4a8cfad151d03628"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a791d04361171ca1d4a8cfad151d03628">getMaxWins</a> (int challenge)</td></tr>
<tr class="separator:a791d04361171ca1d4a8cfad151d03628"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3db6ce62750cfed0660ed5ad6455022"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af3db6ce62750cfed0660ed5ad6455022">getCurrentSwaps</a> (int challenge)</td></tr>
<tr class="separator:af3db6ce62750cfed0660ed5ad6455022"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fd43597fb60d7c6268a5ed941d348de"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a5fd43597fb60d7c6268a5ed941d348de">getPreviousSwaps</a> (int challenge)</td></tr>
<tr class="separator:a5fd43597fb60d7c6268a5ed941d348de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70c0f526b80d2bea30d742b7a3292e63"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a70c0f526b80d2bea30d742b7a3292e63">getMaxSwaps</a> (int challenge)</td></tr>
<tr class="separator:a70c0f526b80d2bea30d742b7a3292e63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39b5668174124da48a3859c601d2b6b0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a39b5668174124da48a3859c601d2b6b0">pbStart</a> (int challenge)</td></tr>
<tr class="separator:a39b5668174124da48a3859c601d2b6b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4f2ab0a5c5aaac6519bab9cb71ee89cd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4f2ab0a5c5aaac6519bab9cb71ee89cd">pbEnd</a> ()</td></tr>
<tr class="separator:a4f2ab0a5c5aaac6519bab9cb71ee89cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a923189bb2aabe8a19c538db7a5fe628b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a923189bb2aabe8a19c538db7a5fe628b">pbBattle</a> ()</td></tr>
<tr class="separator:a923189bb2aabe8a19c538db7a5fe628b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a488e0cd2f57a0787ca2fc63776f639ec"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a488e0cd2f57a0787ca2fc63776f639ec">pbResting</a> ()</td></tr>
<tr class="separator:a488e0cd2f57a0787ca2fc63776f639ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa00ee06b9a18fbc0f38be4ca9e52f342">setDecision</a> (<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> value)</td></tr>
<tr class="separator:aa00ee06b9a18fbc0f38be4ca9e52f342"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac76e7d760c2bd140b9326183a1f05f31"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac76e7d760c2bd140b9326183a1f05f31">setParty</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] value)</td></tr>
<tr class="separator:ac76e7d760c2bd140b9326183a1f05f31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4a189cc92e60b0163f471470973c228c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4a189cc92e60b0163f471470973c228c">pbGoOn</a> ()</td></tr>
<tr class="separator:a4a189cc92e60b0163f471470973c228c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82759d494ac41eabe7f672ec4d1ca3e6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a82759d494ac41eabe7f672ec4d1ca3e6">pbAddWin</a> ()</td></tr>
<tr class="separator:a82759d494ac41eabe7f672ec4d1ca3e6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c0d95ae197810f40619481f6a91c316"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4c0d95ae197810f40619481f6a91c316">pbCancel</a> ()</td></tr>
<tr class="separator:a4c0d95ae197810f40619481f6a91c316"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8ee46925118621c7579f453c11fa6f2c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8ee46925118621c7579f453c11fa6f2c">pbRest</a> ()</td></tr>
<tr class="separator:a8ee46925118621c7579f453c11fa6f2c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a234a2b57d7e2f18dcc8723dc88420ca1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a234a2b57d7e2f18dcc8723dc88420ca1">pbMatchOver</a> ()</td></tr>
<tr class="separator:a234a2b57d7e2f18dcc8723dc88420ca1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b10ccb2bc62dcf0eee5e9fedeff7185"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4b10ccb2bc62dcf0eee5e9fedeff7185">pbGoToStart</a> ()</td></tr>
<tr class="separator:a4b10ccb2bc62dcf0eee5e9fedeff7185"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aac640f75778bb403bc165bd6094d9558"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aac640f75778bb403bc165bd6094d9558">currentChallenge</a><code> [get]</code></td></tr>
<tr class="separator:aac640f75778bb403bc165bd6094d9558"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0ed6816f8323f39db5c92e184593239"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ad0ed6816f8323f39db5c92e184593239">BattleTower</a><code> [get]</code></td></tr>
<tr class="separator:ad0ed6816f8323f39db5c92e184593239"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9743f36d023399d6a5b6388113cb7106"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a9743f36d023399d6a5b6388113cb7106">BattlePalace</a><code> [get]</code></td></tr>
<tr class="separator:a9743f36d023399d6a5b6388113cb7106"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8fb98d2b35c20a33a6e1ac69eef2af56"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8fb98d2b35c20a33a6e1ac69eef2af56">BattleArena</a><code> [get]</code></td></tr>
<tr class="separator:a8fb98d2b35c20a33a6e1ac69eef2af56"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac6a6746f814120af94c46ecd716f430e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ac6a6746f814120af94c46ecd716f430e">BattleFactory</a><code> [get]</code></td></tr>
<tr class="separator:ac6a6746f814120af94c46ecd716f430e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a022e8e588950d8e44960d208ceda2b77"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a022e8e588950d8e44960d208ceda2b77">rules</a><code> [get]</code></td></tr>
<tr class="separator:a022e8e588950d8e44960d208ceda2b77"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4aa61dbce1dcfe013a07a8085b49bdbf"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4aa61dbce1dcfe013a07a8085b49bdbf">pbInChallenge</a><code> [get]</code></td></tr>
<tr class="separator:a4aa61dbce1dcfe013a07a8085b49bdbf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44b32f36186bc602e973a82100b80ffb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a44b32f36186bc602e973a82100b80ffb">data</a><code> [get]</code></td></tr>
<tr class="separator:a44b32f36186bc602e973a82100b80ffb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a80c7f378bbec67a6f39b88ec35c1110c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a80c7f378bbec67a6f39b88ec35c1110c">pbInProgress</a><code> [get]</code></td></tr>
<tr class="separator:a80c7f378bbec67a6f39b88ec35c1110c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8028146783fd42309ea6aeffba42f052"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a8028146783fd42309ea6aeffba42f052">extra</a><code> [get]</code></td></tr>
<tr class="separator:a8028146783fd42309ea6aeffba42f052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af66fa76932d1cf88f7b361a9dbb8592f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#af66fa76932d1cf88f7b361a9dbb8592f">decision</a><code> [get]</code></td></tr>
<tr class="separator:af66fa76932d1cf88f7b361a9dbb8592f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa9118a137c3f6dfeb328b4e9d9a299ca"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#aa9118a137c3f6dfeb328b4e9d9a299ca">wins</a><code> [get]</code></td></tr>
<tr class="separator:aa9118a137c3f6dfeb328b4e9d9a299ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ed351048a3da1f575df880e385348d4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a4ed351048a3da1f575df880e385348d4">swaps</a><code> [get]</code></td></tr>
<tr class="separator:a4ed351048a3da1f575df880e385348d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae92fa3217c939ab9215584631f7344f1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#ae92fa3217c939ab9215584631f7344f1">battleNumber</a><code> [get]</code></td></tr>
<tr class="separator:ae92fa3217c939ab9215584631f7344f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77ce89a5f942c2504ec8a442317cb280"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml#a77ce89a5f942c2504ec8a442317cb280">nextTrainer</a><code> [get]</code></td></tr>
<tr class="separator:a77ce89a5f942c2504ec8a442317cb280"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af3db6ce62750cfed0660ed5ad6455022" name="af3db6ce62750cfed0660ed5ad6455022"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3db6ce62750cfed0660ed5ad6455022">&#9670;&#160;</a></span>getCurrentSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getCurrentSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c3f6d1c36f068c875f1de0c2d640816" name="a4c3f6d1c36f068c875f1de0c2d640816"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c3f6d1c36f068c875f1de0c2d640816">&#9670;&#160;</a></span>getCurrentWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getCurrentWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a70c0f526b80d2bea30d742b7a3292e63" name="a70c0f526b80d2bea30d742b7a3292e63"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70c0f526b80d2bea30d742b7a3292e63">&#9670;&#160;</a></span>getMaxSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getMaxSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a791d04361171ca1d4a8cfad151d03628" name="a791d04361171ca1d4a8cfad151d03628"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a791d04361171ca1d4a8cfad151d03628">&#9670;&#160;</a></span>getMaxWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getMaxWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5fd43597fb60d7c6268a5ed941d348de" name="a5fd43597fb60d7c6268a5ed941d348de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5fd43597fb60d7c6268a5ed941d348de">&#9670;&#160;</a></span>getPreviousSwaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getPreviousSwaps </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2dbc1d08cb66350d531044e8bc2db89b" name="a2dbc1d08cb66350d531044e8bc2db89b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2dbc1d08cb66350d531044e8bc2db89b">&#9670;&#160;</a></span>getPreviousWins()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.getPreviousWins </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac58ad51b9f187e9aea33fc729be948e4" name="ac58ad51b9f187e9aea33fc729be948e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac58ad51b9f187e9aea33fc729be948e4">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge.cshtml">IBattleChallenge</a> PokemonEssentials.Interface.Battle.IBattleChallenge.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a02a9c1707e93acc5ca9b8a5491f416d0" name="a02a9c1707e93acc5ca9b8a5491f416d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02a9c1707e93acc5ca9b8a5491f416d0">&#9670;&#160;</a></span>modeToRules()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IBattleChallenge.modeToRules </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a82759d494ac41eabe7f672ec4d1ca3e6" name="a82759d494ac41eabe7f672ec4d1ca3e6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82759d494ac41eabe7f672ec4d1ca3e6">&#9670;&#160;</a></span>pbAddWin()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbAddWin </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a923189bb2aabe8a19c538db7a5fe628b" name="a923189bb2aabe8a19c538db7a5fe628b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a923189bb2aabe8a19c538db7a5fe628b">&#9670;&#160;</a></span>pbBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBattleChallenge.pbBattle </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c0d95ae197810f40619481f6a91c316" name="a4c0d95ae197810f40619481f6a91c316"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c0d95ae197810f40619481f6a91c316">&#9670;&#160;</a></span>pbCancel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbCancel </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4f2ab0a5c5aaac6519bab9cb71ee89cd" name="a4f2ab0a5c5aaac6519bab9cb71ee89cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f2ab0a5c5aaac6519bab9cb71ee89cd">&#9670;&#160;</a></span>pbEnd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbEnd </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4a189cc92e60b0163f471470973c228c" name="a4a189cc92e60b0163f471470973c228c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4a189cc92e60b0163f471470973c228c">&#9670;&#160;</a></span>pbGoOn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbGoOn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b10ccb2bc62dcf0eee5e9fedeff7185" name="a4b10ccb2bc62dcf0eee5e9fedeff7185"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b10ccb2bc62dcf0eee5e9fedeff7185">&#9670;&#160;</a></span>pbGoToStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbGoToStart </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a234a2b57d7e2f18dcc8723dc88420ca1" name="a234a2b57d7e2f18dcc8723dc88420ca1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a234a2b57d7e2f18dcc8723dc88420ca1">&#9670;&#160;</a></span>pbMatchOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.pbMatchOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8ee46925118621c7579f453c11fa6f2c" name="a8ee46925118621c7579f453c11fa6f2c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8ee46925118621c7579f453c11fa6f2c">&#9670;&#160;</a></span>pbRest()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbRest </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a488e0cd2f57a0787ca2fc63776f639ec" name="a488e0cd2f57a0787ca2fc63776f639ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a488e0cd2f57a0787ca2fc63776f639ec">&#9670;&#160;</a></span>pbResting()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.pbResting </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a39b5668174124da48a3859c601d2b6b0" name="a39b5668174124da48a3859c601d2b6b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39b5668174124da48a3859c601d2b6b0">&#9670;&#160;</a></span>pbStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.pbStart </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>challenge</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a02fe8722da8bd667b3c76eff521045c0" name="a02fe8722da8bd667b3c76eff521045c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02fe8722da8bd667b3c76eff521045c0">&#9670;&#160;</a></span>register()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.register </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>battletype</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mode</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a556e6398c25a5f12567748617c96631e" name="a556e6398c25a5f12567748617c96631e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a556e6398c25a5f12567748617c96631e">&#9670;&#160;</a></span>set()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.set </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>numrounds</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa00ee06b9a18fbc0f38be4ca9e52f342" name="aa00ee06b9a18fbc0f38be4ca9e52f342"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa00ee06b9a18fbc0f38be4ca9e52f342">&#9670;&#160;</a></span>setDecision()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.setDecision </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac76e7d760c2bd140b9326183a1f05f31" name="ac76e7d760c2bd140b9326183a1f05f31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac76e7d760c2bd140b9326183a1f05f31">&#9670;&#160;</a></span>setParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.setParty </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>value</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b109871b0e0e78ed155ed3459dc5a55" name="a4b109871b0e0e78ed155ed3459dc5a55"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b109871b0e0e78ed155ed3459dc5a55">&#9670;&#160;</a></span>start()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBattleChallenge.start </td>
          <td>(</td>
          <td class="paramtype">params object[]&#160;</td>
          <td class="paramname"><em>args</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a8fb98d2b35c20a33a6e1ac69eef2af56" name="a8fb98d2b35c20a33a6e1ac69eef2af56"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8fb98d2b35c20a33a6e1ac69eef2af56">&#9670;&#160;</a></span>BattleArena</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.BattleArena</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac6a6746f814120af94c46ecd716f430e" name="ac6a6746f814120af94c46ecd716f430e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac6a6746f814120af94c46ecd716f430e">&#9670;&#160;</a></span>BattleFactory</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.BattleFactory</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae92fa3217c939ab9215584631f7344f1" name="ae92fa3217c939ab9215584631f7344f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae92fa3217c939ab9215584631f7344f1">&#9670;&#160;</a></span>battleNumber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.battleNumber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9743f36d023399d6a5b6388113cb7106" name="a9743f36d023399d6a5b6388113cb7106"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9743f36d023399d6a5b6388113cb7106">&#9670;&#160;</a></span>BattlePalace</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.BattlePalace</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad0ed6816f8323f39db5c92e184593239" name="ad0ed6816f8323f39db5c92e184593239"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0ed6816f8323f39db5c92e184593239">&#9670;&#160;</a></span>BattleTower</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.BattleTower</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aac640f75778bb403bc165bd6094d9558" name="aac640f75778bb403bc165bd6094d9558"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac640f75778bb403bc165bd6094d9558">&#9670;&#160;</a></span>currentChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.currentChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a44b32f36186bc602e973a82100b80ffb" name="a44b32f36186bc602e973a82100b80ffb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44b32f36186bc602e973a82100b80ffb">&#9670;&#160;</a></span>data</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_challenge_type.cshtml">IBattleChallengeType</a> PokemonEssentials.Interface.Battle.IBattleChallenge.data</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af66fa76932d1cf88f7b361a9dbb8592f" name="af66fa76932d1cf88f7b361a9dbb8592f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af66fa76932d1cf88f7b361a9dbb8592f">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBattleChallenge.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8028146783fd42309ea6aeffba42f052" name="a8028146783fd42309ea6aeffba42f052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8028146783fd42309ea6aeffba42f052">&#9670;&#160;</a></span>extra</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_factory_data.cshtml">IBattleFactoryData</a> PokemonEssentials.Interface.Battle.IBattleChallenge.extra</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a77ce89a5f942c2504ec8a442317cb280" name="a77ce89a5f942c2504ec8a442317cb280"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77ce89a5f942c2504ec8a442317cb280">&#9670;&#160;</a></span>nextTrainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.Battle.IBattleChallenge.nextTrainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4aa61dbce1dcfe013a07a8085b49bdbf" name="a4aa61dbce1dcfe013a07a8085b49bdbf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4aa61dbce1dcfe013a07a8085b49bdbf">&#9670;&#160;</a></span>pbInChallenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.pbInChallenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a80c7f378bbec67a6f39b88ec35c1110c" name="a80c7f378bbec67a6f39b88ec35c1110c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a80c7f378bbec67a6f39b88ec35c1110c">&#9670;&#160;</a></span>pbInProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBattleChallenge.pbInProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a022e8e588950d8e44960d208ceda2b77" name="a022e8e588950d8e44960d208ceda2b77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a022e8e588950d8e44960d208ceda2b77">&#9670;&#160;</a></span>rules</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IBattleChallenge.rules</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4ed351048a3da1f575df880e385348d4" name="a4ed351048a3da1f575df880e385348d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ed351048a3da1f575df880e385348d4">&#9670;&#160;</a></span>swaps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.swaps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa9118a137c3f6dfeb328b4e9d9a299ca" name="aa9118a137c3f6dfeb328b4e9d9a299ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa9118a137c3f6dfeb328b4e9d9a299ca">&#9670;&#160;</a></span>wins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBattleChallenge.wins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_8cs.cshtml">IOrgBattle.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
