@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IGameOption Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_option.cshtml">IGameOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_option-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameOption Interface Reference</div></div>
}


<p>Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_option.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aca36d3c00ba6d61c6ae75d28b8903fe3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_option.cshtml#aca36d3c00ba6d61c6ae75d28b8903fe3">pbSettingToTextSpeed</a> (int speed)</td></tr>
<tr class="separator:aca36d3c00ba6d61c6ae75d28b8903fe3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="aca36d3c00ba6d61c6ae75d28b8903fe3" name="aca36d3c00ba6d61c6ae75d28b8903fe3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca36d3c00ba6d61c6ae75d28b8903fe3">&#9670;&#160;</a></span>pbSettingToTextSpeed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IGameOption.pbSettingToTextSpeed </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>speed</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_option_8cs.cshtml">IOption.cs</a></li>
</ul>
