@{
	Page.Title = "PokemonEssentials.Interface.Screen.ITrainerFadeAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">ITrainerFadeAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ITrainerFadeAnimation Interface Reference</div></div>
}


<p>Shows the enemy trainer(s) and the enemy party lineup sliding off screen. Doesn't show the ball thrown or the Pok&eacute;mon.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9ba65381a3f2e3cf8f960c2e66cb7795"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">ITrainerFadeAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a9ba65381a3f2e3cf8f960c2e66cb7795">initialize</a> (IDictionary&lt; string, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt; sprites)</td></tr>
<tr class="separator:a9ba65381a3f2e3cf8f960c2e66cb7795"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a552d4bdf3c57652548f0a903e5ef46c2"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a552d4bdf3c57652548f0a903e5ef46c2">update</a> ()</td></tr>
<tr class="separator:a552d4bdf3c57652548f0a903e5ef46c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2937155136e960c4b48572ae4cfa0261"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml#a2937155136e960c4b48572ae4cfa0261">animdone</a><code> [get]</code></td></tr>
<tr class="separator:a2937155136e960c4b48572ae4cfa0261"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Shows the enemy trainer(s) and the enemy party lineup sliding off screen. Doesn't show the ball thrown or the Pok&eacute;mon.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a9ba65381a3f2e3cf8f960c2e66cb7795" name="a9ba65381a3f2e3cf8f960c2e66cb7795"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ba65381a3f2e3cf8f960c2e66cb7795">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_trainer_fade_animation.cshtml">ITrainerFadeAnimation</a> PokemonEssentials.Interface.Screen.ITrainerFadeAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype">IDictionary&lt; string, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> &gt;&#160;</td>
          <td class="paramname"><em>sprites</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a552d4bdf3c57652548f0a903e5ef46c2" name="a552d4bdf3c57652548f0a903e5ef46c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a552d4bdf3c57652548f0a903e5ef46c2">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ITrainerFadeAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a2937155136e960c4b48572ae4cfa0261" name="a2937155136e960c4b48572ae4cfa0261"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2937155136e960c4b48572ae4cfa0261">&#9670;&#160;</a></span>animdone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.ITrainerFadeAnimation.animdone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>
