@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml">IGameShadowPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#events">Events</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon Interface Reference</div></div>
}


<p>Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.png" usemap="#PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map" name="PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,371,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a41be472ad4e48b8c7a55fcde884d5ea1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a41be472ad4e48b8c7a55fcde884d5ea1">Purify</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a> scene)</td></tr>
<tr class="separator:a41be472ad4e48b8c7a55fcde884d5ea1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ede2db8672bc265780156b4c14bb057"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a5ede2db8672bc265780156b4c14bb057">RelicStoneScreen</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pkmn)</td></tr>
<tr class="separator:a5ede2db8672bc265780156b4c14bb057"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08c4cb4fa36976cb0b085ab980a4ad92"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a08c4cb4fa36976cb0b085ab980a4ad92">IsPurifiable</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pkmn)</td></tr>
<tr class="separator:a08c4cb4fa36976cb0b085ab980a4ad92"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4f231fdeff77350ae07b0e2660460249"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a4f231fdeff77350ae07b0e2660460249">HasPurifiableInParty</a> ()</td></tr>
<tr class="separator:a4f231fdeff77350ae07b0e2660460249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af77e26d3b4b3017c0b3f755bf3f30015"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#af77e26d3b4b3017c0b3f755bf3f30015">RelicStone</a> ()</td></tr>
<tr class="separator:af77e26d3b4b3017c0b3f755bf3f30015"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad129ba550929acdc3ab2a614185798e3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#ad129ba550929acdc3ab2a614185798e3">RaiseHappinessAndReduceHeart</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a> scene, int amount)</td></tr>
<tr class="separator:ad129ba550929acdc3ab2a614185798e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9fe9bc4c5cfaf197d5006ddc407fc79f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a9fe9bc4c5cfaf197d5006ddc407fc79f">ApplyEVGain</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">Stats</a> ev, int evgain)</td></tr>
<tr class="separator:a9fe9bc4c5cfaf197d5006ddc407fc79f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5fc6e64f8b3f88aba6eb850746325a6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#af5fc6e64f8b3f88aba6eb850746325a6">ReplaceMoves</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move1, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move2=0, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move3=0, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move4=0)</td></tr>
<tr class="separator:af5fc6e64f8b3f88aba6eb850746325a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5c1c89ff07da21e67fa80ed34d5a86d"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#ac5c1c89ff07da21e67fa80ed34d5a86d">ReadyToPurify</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon)</td></tr>
<tr class="separator:ac5c1c89ff07da21e67fa80ed34d5a86d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="events" name="events"></a>
Events</h2></td></tr>
<tr class="memitem:a75ff08e23cd84b195ec4b4bdf1ab6739"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#a75ff08e23cd84b195ec4b4bdf1ab6739">OnStartBattle</a></td></tr>
<tr class="separator:a75ff08e23cd84b195ec4b4bdf1ab6739"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af299170b24f7cefdcdeab1590609279b"><td class="memItemLeft" align="right" valign="top">Action&lt; object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">IOnEndBattleEventArgs</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#af299170b24f7cefdcdeab1590609279b">OnEndBattle</a></td></tr>
<tr class="separator:af299170b24f7cefdcdeab1590609279b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa9f3e4014a8301f04f1544aa90c36a93"><td class="memItemLeft" align="right" valign="top">EventHandler&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#aa9f3e4014a8301f04f1544aa90c36a93">OnStepTakenEvent</a></td></tr>
<tr class="memdesc:aa9f3e4014a8301f04f1544aa90c36a93"><td class="mdescLeft">&#160;</td><td class="mdescRight">Fires whenever the player takes a step.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_game_shadow_pokemon.cshtml#aa9f3e4014a8301f04f1544aa90c36a93">More...</a><br /></td></tr>
<tr class="separator:aa9f3e4014a8301f04f1544aa90c36a93"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extensions of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a9fe9bc4c5cfaf197d5006ddc407fc79f" name="a9fe9bc4c5cfaf197d5006ddc407fc79f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9fe9bc4c5cfaf197d5006ddc407fc79f">&#9670;&#160;</a></span>ApplyEVGain()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.ApplyEVGain </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">Stats</a>&#160;</td>
          <td class="paramname"><em>ev</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evgain</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac0e68f6f5a6fa5b816d40fbc007d1d55">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a4f231fdeff77350ae07b0e2660460249" name="a4f231fdeff77350ae07b0e2660460249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f231fdeff77350ae07b0e2660460249">&#9670;&#160;</a></span>HasPurifiableInParty()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.HasPurifiableInParty </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aef46becddc2a39ea5e1cb464707b69b9">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a08c4cb4fa36976cb0b085ab980a4ad92" name="a08c4cb4fa36976cb0b085ab980a4ad92"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08c4cb4fa36976cb0b085ab980a4ad92">&#9670;&#160;</a></span>IsPurifiable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.IsPurifiable </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ac9707f8efab436604226f2d40ce22e3e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a41be472ad4e48b8c7a55fcde884d5ea1" name="a41be472ad4e48b8c7a55fcde884d5ea1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41be472ad4e48b8c7a55fcde884d5ea1">&#9670;&#160;</a></span>Purify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.Purify </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_scene.cshtml">IPurifyChamberScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#acd54b6bba008331f3ae307197f05475e">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ad129ba550929acdc3ab2a614185798e3" name="ad129ba550929acdc3ab2a614185798e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad129ba550929acdc3ab2a614185798e3">&#9670;&#160;</a></span>RaiseHappinessAndReduceHeart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.RaiseHappinessAndReduceHeart </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>amount</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a3adf543e380246ead4f12e51412a8f3b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="ac5c1c89ff07da21e67fa80ed34d5a86d" name="ac5c1c89ff07da21e67fa80ed34d5a86d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5c1c89ff07da21e67fa80ed34d5a86d">&#9670;&#160;</a></span>ReadyToPurify()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.ReadyToPurify </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aeaea55b4ec7962a533cca99b12f3bc39">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af77e26d3b4b3017c0b3f755bf3f30015" name="af77e26d3b4b3017c0b3f755bf3f30015"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af77e26d3b4b3017c0b3f755bf3f30015">&#9670;&#160;</a></span>RelicStone()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.RelicStone </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a58a1d533e659510c8f281ec876c9fe55">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a5ede2db8672bc265780156b4c14bb057" name="a5ede2db8672bc265780156b4c14bb057"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ede2db8672bc265780156b4c14bb057">&#9670;&#160;</a></span>RelicStoneScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.RelicStoneScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#af1ce832428215df8350e609c9cf2baf1">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="af5fc6e64f8b3f88aba6eb850746325a6" name="af5fc6e64f8b3f88aba6eb850746325a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5fc6e64f8b3f88aba6eb850746325a6">&#9670;&#160;</a></span>ReplaceMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.ReplaceMoves </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move2</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move3</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move4</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#ae588fc28b4f2834a956af871adbeec66">PokemonUnity.Game</a>.</p>

</div>
</div>
<h2 class="groupheader">Event Documentation</h2>
<a id="af299170b24f7cefdcdeab1590609279b" name="af299170b24f7cefdcdeab1590609279b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af299170b24f7cefdcdeab1590609279b">&#9670;&#160;</a></span>OnEndBattle</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">Action&lt;object, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">IOnEndBattleEventArgs</a>&gt; PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.OnEndBattle</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a75ff08e23cd84b195ec4b4bdf1ab6739" name="a75ff08e23cd84b195ec4b4bdf1ab6739"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75ff08e23cd84b195ec4b4bdf1ab6739">&#9670;&#160;</a></span>OnStartBattle</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.OnStartBattle</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa9f3e4014a8301f04f1544aa90c36a93" name="aa9f3e4014a8301f04f1544aa90c36a93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa9f3e4014a8301f04f1544aa90c36a93">&#9670;&#160;</a></span>OnStepTakenEvent</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">EventHandler PokemonEssentials.Interface.PokeBattle.IGameShadowPokemon.OnStepTakenEvent</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Fires whenever the player takes a step.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_shadow_pokemon_8cs.cshtml">IPokemonShadowPokemon.cs</a></li>
</ul>

