@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattleAI Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml">IBattleAI</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleAI Interface Reference</div></div>
}


<p>Partial </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattleAI:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattleAI_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattleAI_map" name="PokemonEssentials.Interface.PokeBattle.IBattleAI_map">
<area href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml" alt="PokemonUnity.Combat.Battle" shape="rect" coords="610,56,1007,80"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_arena.cshtml" alt="PokemonUnity.Combat.PokeBattle_BattleArena" shape="rect" coords="0,112,397,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml" alt="PokemonUnity.Combat.PokeBattle_BattlePalace" shape="rect" coords="407,112,804,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml" alt="PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;" shape="rect" coords="814,112,1211,136"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___safari_zone.cshtml" alt="PokemonUnity.Combat.PokeBattle_SafariZone" shape="rect" coords="1221,112,1618,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a099a2aa0371bd635b63bec722b6fb096"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a099a2aa0371bd635b63bec722b6fb096">GetMoveScore</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent, int skill=100)</td></tr>
<tr class="memdesc:a099a2aa0371bd635b63bec722b6fb096"><td class="mdescLeft">&#160;</td><td class="mdescRight">Get a score for each move being considered (trainer-owned Pokémon only). Moves with higher scores are more likely to be chosen.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a099a2aa0371bd635b63bec722b6fb096">More...</a><br /></td></tr>
<tr class="separator:a099a2aa0371bd635b63bec722b6fb096"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49a59dfb5d5d4fba0df2fbb116617211"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a49a59dfb5d5d4fba0df2fbb116617211">TypeModifier</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> type, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent)</td></tr>
<tr class="separator:a49a59dfb5d5d4fba0df2fbb116617211"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08d4487ff20188cece261ba9f6597d28"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a08d4487ff20188cece261ba9f6597d28">TypeModifier2</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battlerThis, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battlerOther)</td></tr>
<tr class="separator:a08d4487ff20188cece261ba9f6597d28"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5b12189acf022c2e2105ca657e79ecf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#aa5b12189acf022c2e2105ca657e79ecf">RoughStat</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a> stat, int skill)</td></tr>
<tr class="separator:aa5b12189acf022c2e2105ca657e79ecf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a91214640124971b6e5769cac8d77f87d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a91214640124971b6e5769cac8d77f87d">BetterBaseDamage</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent, int skill, int basedamage)</td></tr>
<tr class="separator:a91214640124971b6e5769cac8d77f87d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f5a8d6a1b0530d02a36cc9dd8907a3a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a9f5a8d6a1b0530d02a36cc9dd8907a3a">RoughDamage</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent, int skill, double basedamage)</td></tr>
<tr class="separator:a9f5a8d6a1b0530d02a36cc9dd8907a3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a591001e08742f7bf2c3475ff4d585c44"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a591001e08742f7bf2c3475ff4d585c44">RoughAccuracy</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a> move, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> attacker, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> opponent, int skill)</td></tr>
<tr class="separator:a591001e08742f7bf2c3475ff4d585c44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08008b548878d9e540ec587192e6c70e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a08008b548878d9e540ec587192e6c70e">ChooseMoves</a> (int index)</td></tr>
<tr class="memdesc:a08008b548878d9e540ec587192e6c70e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Choose a move to use.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a08008b548878d9e540ec587192e6c70e">More...</a><br /></td></tr>
<tr class="separator:a08008b548878d9e540ec587192e6c70e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0fe73b73c13b094bbc4aa747e715b23a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a0fe73b73c13b094bbc4aa747e715b23a">EnemyShouldMegaEvolve</a> (int index)</td></tr>
<tr class="memdesc:a0fe73b73c13b094bbc4aa747e715b23a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Decide whether the opponent should Mega Evolve their Pokémon.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a0fe73b73c13b094bbc4aa747e715b23a">More...</a><br /></td></tr>
<tr class="separator:a0fe73b73c13b094bbc4aa747e715b23a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8e14edd7d5ab930d608783ca1933a2e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#ae8e14edd7d5ab930d608783ca1933a2e">EnemyShouldUseItem</a> (int index)</td></tr>
<tr class="separator:ae8e14edd7d5ab930d608783ca1933a2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e5d97da8eea582dca34863f3bf01e62"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a7e5d97da8eea582dca34863f3bf01e62">EnemyItemAlreadyUsed</a> (int index, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[] items)</td></tr>
<tr class="separator:a7e5d97da8eea582dca34863f3bf01e62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a602c5701b12138c874b61b83820ceb35"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a602c5701b12138c874b61b83820ceb35">EnemyItemToUse</a> (int index)</td></tr>
<tr class="separator:a602c5701b12138c874b61b83820ceb35"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6fc3d2af21e3696c8e3cb6e7b6884ed"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#ad6fc3d2af21e3696c8e3cb6e7b6884ed">EnemyShouldWithdraw</a> (int index)</td></tr>
<tr class="separator:ad6fc3d2af21e3696c8e3cb6e7b6884ed"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3619d43366a948dfbcf3844f120a9fff"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a3619d43366a948dfbcf3844f120a9fff">EnemyShouldWithdrawEx</a> (int index, bool alwaysSwitch)</td></tr>
<tr class="separator:a3619d43366a948dfbcf3844f120a9fff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6c416362663c7262b20d9010cb8193ec"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a6c416362663c7262b20d9010cb8193ec">DefaultChooseNewEnemy</a> (int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party)</td></tr>
<tr class="separator:a6c416362663c7262b20d9010cb8193ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3237489c0fe420a63b1fa909e0d7a42d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a3237489c0fe420a63b1fa909e0d7a42d">ChooseBestNewEnemy</a> (int index, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party, int[] enemies)</td></tr>
<tr class="separator:a3237489c0fe420a63b1fa909e0d7a42d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a81558f06c3c27af933bcef9687f06bba"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a81558f06c3c27af933bcef9687f06bba">DefaultChooseEnemyCommand</a> (int index)</td></tr>
<tr class="memdesc:a81558f06c3c27af933bcef9687f06bba"><td class="mdescLeft">&#160;</td><td class="mdescRight">Choose an action.   <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a81558f06c3c27af933bcef9687f06bba">More...</a><br /></td></tr>
<tr class="separator:a81558f06c3c27af933bcef9687f06bba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a114f66c2fe90a4e8ecc91b6674bd237c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#a114f66c2fe90a4e8ecc91b6674bd237c">DbgPlayerOnly</a> (int idx)</td></tr>
<tr class="separator:a114f66c2fe90a4e8ecc91b6674bd237c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe87ff189609873d0be5f4c2a4f862ca"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_a_i.cshtml#afe87ff189609873d0be5f4c2a4f862ca">StdDev</a> (int[] scores)</td></tr>
<tr class="separator:afe87ff189609873d0be5f4c2a4f862ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Partial </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml" title="Main battle class.">IBattle</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a91214640124971b6e5769cac8d77f87d" name="a91214640124971b6e5769cac8d77f87d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a91214640124971b6e5769cac8d77f87d">&#9670;&#160;</a></span>BetterBaseDamage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.BetterBaseDamage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>skill</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>basedamage</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a42a6f3f47730d3a86662de09690cfe9e">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a3237489c0fe420a63b1fa909e0d7a42d" name="a3237489c0fe420a63b1fa909e0d7a42d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3237489c0fe420a63b1fa909e0d7a42d">&#9670;&#160;</a></span>ChooseBestNewEnemy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.ChooseBestNewEnemy </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>enemies</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a3113da942e1168e9004aa09848ca5f9a">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a08008b548878d9e540ec587192e6c70e" name="a08008b548878d9e540ec587192e6c70e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08008b548878d9e540ec587192e6c70e">&#9670;&#160;</a></span>ChooseMoves()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattleAI.ChooseMoves </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Choose a move to use.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">index</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ad6b90196a6cf35eb77295bdac0d58d71">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a114f66c2fe90a4e8ecc91b6674bd237c" name="a114f66c2fe90a4e8ecc91b6674bd237c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a114f66c2fe90a4e8ecc91b6674bd237c">&#9670;&#160;</a></span>DbgPlayerOnly()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.DbgPlayerOnly </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>idx</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a90add7e2a2ee12a5d5a6407fc48eb018">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a81558f06c3c27af933bcef9687f06bba" name="a81558f06c3c27af933bcef9687f06bba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a81558f06c3c27af933bcef9687f06bba">&#9670;&#160;</a></span>DefaultChooseEnemyCommand()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattleAI.DefaultChooseEnemyCommand </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Choose an action.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">index</td><td></td></tr>
  </table>
  </dd>
</dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a12ccf88d83e981670e35f46255da5735">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a6c416362663c7262b20d9010cb8193ec" name="a6c416362663c7262b20d9010cb8193ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6c416362663c7262b20d9010cb8193ec">&#9670;&#160;</a></span>DefaultChooseNewEnemy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.DefaultChooseNewEnemy </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a63cd4da2e056d809d2d61215723bc738">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a7e5d97da8eea582dca34863f3bf01e62" name="a7e5d97da8eea582dca34863f3bf01e62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e5d97da8eea582dca34863f3bf01e62">&#9670;&#160;</a></span>EnemyItemAlreadyUsed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyItemAlreadyUsed </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td>
          <td class="paramname"><em>items</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a06c0db456389e3b7147544d3ddb40d45">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a602c5701b12138c874b61b83820ceb35" name="a602c5701b12138c874b61b83820ceb35"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a602c5701b12138c874b61b83820ceb35">&#9670;&#160;</a></span>EnemyItemToUse()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyItemToUse </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a918ef559cbad76e725f5d6d8a33327a6">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a0fe73b73c13b094bbc4aa747e715b23a" name="a0fe73b73c13b094bbc4aa747e715b23a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0fe73b73c13b094bbc4aa747e715b23a">&#9670;&#160;</a></span>EnemyShouldMegaEvolve()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyShouldMegaEvolve </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Decide whether the opponent should Mega Evolve their Pokémon.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">index</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a89667cd0a79a556c8748c9d1714fa72e">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="ae8e14edd7d5ab930d608783ca1933a2e" name="ae8e14edd7d5ab930d608783ca1933a2e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8e14edd7d5ab930d608783ca1933a2e">&#9670;&#160;</a></span>EnemyShouldUseItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyShouldUseItem </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a0f3a8781a26194b6a93b091c2885ff64">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="ad6fc3d2af21e3696c8e3cb6e7b6884ed" name="ad6fc3d2af21e3696c8e3cb6e7b6884ed"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6fc3d2af21e3696c8e3cb6e7b6884ed">&#9670;&#160;</a></span>EnemyShouldWithdraw()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyShouldWithdraw </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a4346402eec0098656fc7ee0598e5d270">PokemonUnity.Combat.Battle</a>, <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_arena.cshtml#a75608ac9a0aa0df71c69606d57e35a88">PokemonUnity.Combat.PokeBattle_BattleArena</a>, and <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___battle_palace.cshtml#ac4a60eb0efd33fcfdabe7a6a1a276e60">PokemonUnity.Combat.PokeBattle_BattlePalace</a>.</p>

</div>
</div>
<a id="a3619d43366a948dfbcf3844f120a9fff" name="a3619d43366a948dfbcf3844f120a9fff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3619d43366a948dfbcf3844f120a9fff">&#9670;&#160;</a></span>EnemyShouldWithdrawEx()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.PokeBattle.IBattleAI.EnemyShouldWithdrawEx </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>alwaysSwitch</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a6ba3c02250034f53da3a62c1e22747cb">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a099a2aa0371bd635b63bec722b6fb096" name="a099a2aa0371bd635b63bec722b6fb096"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a099a2aa0371bd635b63bec722b6fb096">&#9670;&#160;</a></span>GetMoveScore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.GetMoveScore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>skill</em> = <code>100</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Get a score for each move being considered (trainer-owned Pokémon only). Moves with higher scores are more likely to be chosen.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">move</td><td></td></tr>
    <tr><td class="paramname">attacker</td><td></td></tr>
    <tr><td class="paramname">opponent</td><td></td></tr>
    <tr><td class="paramname">skill</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#afb0dea58f15bac01940a5fa6ca8a3090">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a591001e08742f7bf2c3475ff4d585c44" name="a591001e08742f7bf2c3475ff4d585c44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a591001e08742f7bf2c3475ff4d585c44">&#9670;&#160;</a></span>RoughAccuracy()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.RoughAccuracy </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>skill</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a9d209b133a0fd65c344b0fa7e7a0ff77">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a9f5a8d6a1b0530d02a36cc9dd8907a3a" name="a9f5a8d6a1b0530d02a36cc9dd8907a3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f5a8d6a1b0530d02a36cc9dd8907a3a">&#9670;&#160;</a></span>RoughDamage()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.RoughDamage </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_move.cshtml">IBattleMove</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>skill</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>basedamage</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a3820befbc40440a21eac5ab6d9feea14">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="aa5b12189acf022c2e2105ca657e79ecf" name="aa5b12189acf022c2e2105ca657e79ecf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5b12189acf022c2e2105ca657e79ecf">&#9670;&#160;</a></span>RoughStat()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.RoughStat </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#aaecce9cdfd86fd7d10a650eb1efd3f21">Stats</a>&#160;</td>
          <td class="paramname"><em>stat</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>skill</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a6c2d14006b52f5a13cd6d7ba0f9f9dd5">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="afe87ff189609873d0be5f4c2a4f862ca" name="afe87ff189609873d0be5f4c2a4f862ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe87ff189609873d0be5f4c2a4f862ca">&#9670;&#160;</a></span>StdDev()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleAI.StdDev </td>
          <td>(</td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>scores</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a3528ea90fbca2e3ec83d084386ee321d">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a49a59dfb5d5d4fba0df2fbb116617211" name="a49a59dfb5d5d4fba0df2fbb116617211"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49a59dfb5d5d4fba0df2fbb116617211">&#9670;&#160;</a></span>TypeModifier()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.PokeBattle.IBattleAI.TypeModifier </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>type</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>attacker</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>opponent</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#a6a7339e7d78beb6055f234f72c2fbc4d">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<a id="a08d4487ff20188cece261ba9f6597d28" name="a08d4487ff20188cece261ba9f6597d28"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08d4487ff20188cece261ba9f6597d28">&#9670;&#160;</a></span>TypeModifier2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.PokeBattle.IBattleAI.TypeModifier2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battlerThis</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battlerOther</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_battle.cshtml#ad7126309830dc4e872976789004b8f03">PokemonUnity.Combat.Battle</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_a_i_8cs.cshtml">IBattleAI.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
