@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">IBattlerClause</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerClause Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#aaca36668035263ffd4f7e7b3943f4cc2">CanFreeze</a>(IBattler attacker, bool showMessages, IBattleMove move=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#ac278c56125434b24ea78b215fd886a31">CanSleep</a>(IBattler attacker, bool showMessages, IBattleMove move=null, bool ignorestatus=false)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a5d4e9d5542e88900bdaaad313eb3bef7">CanSleepYawn</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml#a14477254dbc87b41aaa0c03085ca681f">HasStatusPokemon</a>(Status status)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_clause.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerClause</a></td><td class="entry"></td></tr>
</table>
