@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameHiddenMoves Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml">IGameHiddenMoves</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameHiddenMoves Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af8c7e50526520974db3783fe8907f087"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#af8c7e50526520974db3783fe8907f087">pbCanUseHiddenMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:af8c7e50526520974db3783fe8907f087"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a744eeb32bc4d02dda53748615e194454"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a744eeb32bc4d02dda53748615e194454">pbUseHiddenMove</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a744eeb32bc4d02dda53748615e194454"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac16d3bdf55696dcb26ca94f779e06d0e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#ac16d3bdf55696dcb26ca94f779e06d0e">pbHiddenMoveEvent</a> ()</td></tr>
<tr class="separator:ac16d3bdf55696dcb26ca94f779e06d0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7535edf6b5869ea5a0fcf13dbcc8724"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#ac7535edf6b5869ea5a0fcf13dbcc8724">pbHiddenMoveAnimation</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:ac7535edf6b5869ea5a0fcf13dbcc8724"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01611d5a2bc52e33e5e38d185b36779f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a01611d5a2bc52e33e5e38d185b36779f">pbCut</a> ()</td></tr>
<tr class="separator:a01611d5a2bc52e33e5e38d185b36779f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7aea2155307de8b4b4b6cf91235e410c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a7aea2155307de8b4b4b6cf91235e410c">pbHeadbuttEffect</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event)</td></tr>
<tr class="separator:a7aea2155307de8b4b4b6cf91235e410c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a558d9edd0fb2cf171ad909960fba5889"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a558d9edd0fb2cf171ad909960fba5889">pbHeadbutt</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event)</td></tr>
<tr class="separator:a558d9edd0fb2cf171ad909960fba5889"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a615d32f407e5eb0c364068834fd8f594"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a615d32f407e5eb0c364068834fd8f594">pbRockSmashRandomEncounter</a> ()</td></tr>
<tr class="separator:a615d32f407e5eb0c364068834fd8f594"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c70f90f2fc66f43fdb8f672f7f2079a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a7c70f90f2fc66f43fdb8f672f7f2079a">pbRockSmash</a> ()</td></tr>
<tr class="separator:a7c70f90f2fc66f43fdb8f672f7f2079a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29fe9c87aa9171a523a87ec454d64bcd"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a29fe9c87aa9171a523a87ec454d64bcd">pbStrength</a> ()</td></tr>
<tr class="separator:a29fe9c87aa9171a523a87ec454d64bcd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a74acda52c4817df0c2ae16b4ef28d862"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a74acda52c4817df0c2ae16b4ef28d862">pbSurf</a> ()</td></tr>
<tr class="separator:a74acda52c4817df0c2ae16b4ef28d862"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae22cfd052bd5b0cc6538d84ec49e70ab"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#ae22cfd052bd5b0cc6538d84ec49e70ab">pbStartSurfing</a> ()</td></tr>
<tr class="separator:ae22cfd052bd5b0cc6538d84ec49e70ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a03ec29a4fbeed8851f04d6a4797f14fa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a03ec29a4fbeed8851f04d6a4797f14fa">pbEndSurf</a> (float xOffset, float yOffset)</td></tr>
<tr class="separator:a03ec29a4fbeed8851f04d6a4797f14fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aab7a803b93d8c09f25a5dee6e4f2b21f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aab7a803b93d8c09f25a5dee6e4f2b21f">pbTransferSurfing</a> (int mapid, float xcoord, float ycoord, float direction)</td></tr>
<tr class="separator:aab7a803b93d8c09f25a5dee6e4f2b21f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17fde29c4e5b727f861367ba8ef4fcc7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a17fde29c4e5b727f861367ba8ef4fcc7">pbAscendWaterfall</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null)</td></tr>
<tr class="separator:a17fde29c4e5b727f861367ba8ef4fcc7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff990683aa92cf47b69e87a06b0ae6ee"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#aff990683aa92cf47b69e87a06b0ae6ee">pbDescendWaterfall</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null)</td></tr>
<tr class="separator:aff990683aa92cf47b69e87a06b0ae6ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a85b98bbb0d808abbb43af26bbf80084c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a85b98bbb0d808abbb43af26bbf80084c">pbWaterfall</a> ()</td></tr>
<tr class="separator:a85b98bbb0d808abbb43af26bbf80084c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c723c37ba99c3769f58126bc9fa238f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a7c723c37ba99c3769f58126bc9fa238f">pbDive</a> ()</td></tr>
<tr class="separator:a7c723c37ba99c3769f58126bc9fa238f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0069a72e525ceb73c643d1d5257d4b1c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a0069a72e525ceb73c643d1d5257d4b1c">pbSurfacing</a> ()</td></tr>
<tr class="separator:a0069a72e525ceb73c643d1d5257d4b1c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a064f04d7097f6d4fa2e23bfa29478ea4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a064f04d7097f6d4fa2e23bfa29478ea4">pbTransferUnderwater</a> (int mapid, float xcoord, float ycoord, float direction)</td></tr>
<tr class="separator:a064f04d7097f6d4fa2e23bfa29478ea4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a854705f42490b29da16688fc8419f864"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_hidden_moves.cshtml#a854705f42490b29da16688fc8419f864">pbSweetScent</a> ()</td></tr>
<tr class="separator:a854705f42490b29da16688fc8419f864"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a17fde29c4e5b727f861367ba8ef4fcc7" name="a17fde29c4e5b727f861367ba8ef4fcc7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17fde29c4e5b727f861367ba8ef4fcc7">&#9670;&#160;</a></span>pbAscendWaterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbAscendWaterfall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af8c7e50526520974db3783fe8907f087" name="af8c7e50526520974db3783fe8907f087"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af8c7e50526520974db3783fe8907f087">&#9670;&#160;</a></span>pbCanUseHiddenMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbCanUseHiddenMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a01611d5a2bc52e33e5e38d185b36779f" name="a01611d5a2bc52e33e5e38d185b36779f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01611d5a2bc52e33e5e38d185b36779f">&#9670;&#160;</a></span>pbCut()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbCut </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aff990683aa92cf47b69e87a06b0ae6ee" name="aff990683aa92cf47b69e87a06b0ae6ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff990683aa92cf47b69e87a06b0ae6ee">&#9670;&#160;</a></span>pbDescendWaterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbDescendWaterfall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7c723c37ba99c3769f58126bc9fa238f" name="a7c723c37ba99c3769f58126bc9fa238f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c723c37ba99c3769f58126bc9fa238f">&#9670;&#160;</a></span>pbDive()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbDive </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a03ec29a4fbeed8851f04d6a4797f14fa" name="a03ec29a4fbeed8851f04d6a4797f14fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a03ec29a4fbeed8851f04d6a4797f14fa">&#9670;&#160;</a></span>pbEndSurf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbEndSurf </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xOffset</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>yOffset</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a558d9edd0fb2cf171ad909960fba5889" name="a558d9edd0fb2cf171ad909960fba5889"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a558d9edd0fb2cf171ad909960fba5889">&#9670;&#160;</a></span>pbHeadbutt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbHeadbutt </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7aea2155307de8b4b4b6cf91235e410c" name="a7aea2155307de8b4b4b6cf91235e410c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7aea2155307de8b4b4b6cf91235e410c">&#9670;&#160;</a></span>pbHeadbuttEffect()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbHeadbuttEffect </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac7535edf6b5869ea5a0fcf13dbcc8724" name="ac7535edf6b5869ea5a0fcf13dbcc8724"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac7535edf6b5869ea5a0fcf13dbcc8724">&#9670;&#160;</a></span>pbHiddenMoveAnimation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbHiddenMoveAnimation </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac16d3bdf55696dcb26ca94f779e06d0e" name="ac16d3bdf55696dcb26ca94f779e06d0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac16d3bdf55696dcb26ca94f779e06d0e">&#9670;&#160;</a></span>pbHiddenMoveEvent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbHiddenMoveEvent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7c70f90f2fc66f43fdb8f672f7f2079a" name="a7c70f90f2fc66f43fdb8f672f7f2079a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c70f90f2fc66f43fdb8f672f7f2079a">&#9670;&#160;</a></span>pbRockSmash()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbRockSmash </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a615d32f407e5eb0c364068834fd8f594" name="a615d32f407e5eb0c364068834fd8f594"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a615d32f407e5eb0c364068834fd8f594">&#9670;&#160;</a></span>pbRockSmashRandomEncounter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbRockSmashRandomEncounter </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae22cfd052bd5b0cc6538d84ec49e70ab" name="ae22cfd052bd5b0cc6538d84ec49e70ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae22cfd052bd5b0cc6538d84ec49e70ab">&#9670;&#160;</a></span>pbStartSurfing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbStartSurfing </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a29fe9c87aa9171a523a87ec454d64bcd" name="a29fe9c87aa9171a523a87ec454d64bcd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29fe9c87aa9171a523a87ec454d64bcd">&#9670;&#160;</a></span>pbStrength()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbStrength </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a74acda52c4817df0c2ae16b4ef28d862" name="a74acda52c4817df0c2ae16b4ef28d862"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a74acda52c4817df0c2ae16b4ef28d862">&#9670;&#160;</a></span>pbSurf()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbSurf </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0069a72e525ceb73c643d1d5257d4b1c" name="a0069a72e525ceb73c643d1d5257d4b1c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0069a72e525ceb73c643d1d5257d4b1c">&#9670;&#160;</a></span>pbSurfacing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbSurfacing </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a854705f42490b29da16688fc8419f864" name="a854705f42490b29da16688fc8419f864"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a854705f42490b29da16688fc8419f864">&#9670;&#160;</a></span>pbSweetScent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbSweetScent </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aab7a803b93d8c09f25a5dee6e4f2b21f" name="aab7a803b93d8c09f25a5dee6e4f2b21f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aab7a803b93d8c09f25a5dee6e4f2b21f">&#9670;&#160;</a></span>pbTransferSurfing()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbTransferSurfing </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xcoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>ycoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>direction</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a064f04d7097f6d4fa2e23bfa29478ea4" name="a064f04d7097f6d4fa2e23bfa29478ea4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a064f04d7097f6d4fa2e23bfa29478ea4">&#9670;&#160;</a></span>pbTransferUnderwater()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameHiddenMoves.pbTransferUnderwater </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xcoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>ycoord</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>direction</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a744eeb32bc4d02dda53748615e194454" name="a744eeb32bc4d02dda53748615e194454"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a744eeb32bc4d02dda53748615e194454">&#9670;&#160;</a></span>pbUseHiddenMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbUseHiddenMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a85b98bbb0d808abbb43af26bbf80084c" name="a85b98bbb0d808abbb43af26bbf80084c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a85b98bbb0d808abbb43af26bbf80084c">&#9670;&#160;</a></span>pbWaterfall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameHiddenMoves.pbWaterfall </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_hidden_moves_8cs.cshtml">IHiddenMoves.cs</a></li>
</ul>
