@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">ISafariState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ISafariState Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a163d2afdead3195b5e7ffacdaa275445">ballcount</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a25c5323c95bd4e9b922a8dccddbd28f2">decision</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#ae0505e66f12697b0a640bf895e6ae5f0">End</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abf7c15b32cc090d0fc736496195ef7cc">GoToStart</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#abab00ca9db3489584a88cb057811d446">initialize</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#acc900e0504b05ad8fbad5acca88cb65d">InProgress</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#af92d6c76cfe52700e11178fc37b1132e">ReceptionMap</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a821214300a96344719d9ee110ec70c96">Start</a>(int ballcount)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml#a273bf6a10508bf75014a88959e195206">steps</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_safari_state.cshtml">PokemonEssentials.Interface.Field.ISafariState</a></td><td class="entry"></td></tr>
</table>
