@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.IMapFactory Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml">IMapFactory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapFactory Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aba038321fc16c99b2479ca82626adbbe"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#aba038321fc16c99b2479ca82626adbbe">map</a> ()</td></tr>
<tr class="separator:aba038321fc16c99b2479ca82626adbbe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1286de5ec7d9b76940b4caf5eab6bb89"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a1286de5ec7d9b76940b4caf5eab6bb89">setup</a> (int id)</td></tr>
<tr class="memdesc:a1286de5ec7d9b76940b4caf5eab6bb89"><td class="mdescLeft">&#160;</td><td class="mdescRight">Clears all maps and sets up the current map with id. This function also sets the positions of neighboring maps and notifies the game system of a map change.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a1286de5ec7d9b76940b4caf5eab6bb89">More...</a><br /></td></tr>
<tr class="separator:a1286de5ec7d9b76940b4caf5eab6bb89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa984ece749ed6683e92d7d275d02fa5c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#aa984ece749ed6683e92d7d275d02fa5c">hasMap</a> (int id)</td></tr>
<tr class="separator:aa984ece749ed6683e92d7d275d02fa5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a27186185e46b198e421c7ec72807cdf8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a27186185e46b198e421c7ec72807cdf8">getMapIndex</a> (int id)</td></tr>
<tr class="separator:a27186185e46b198e421c7ec72807cdf8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a736bb0f935cac2e816a7ce750b355723"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a736bb0f935cac2e816a7ce750b355723">setMapChanging</a> (int newID, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> newMap)</td></tr>
<tr class="separator:a736bb0f935cac2e816a7ce750b355723"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a204441033ed9f76478cbc0d95721e195"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a204441033ed9f76478cbc0d95721e195">setMapChanged</a> (int prevMap)</td></tr>
<tr class="separator:a204441033ed9f76478cbc0d95721e195"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aecb7c61d3ddad7873edc58c36cad695e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#aecb7c61d3ddad7873edc58c36cad695e">setSceneStarted</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a> scene)</td></tr>
<tr class="separator:aecb7c61d3ddad7873edc58c36cad695e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe1b83b0d4819564bd7ab4359cbcff33"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#afe1b83b0d4819564bd7ab4359cbcff33">isPassableFromEdge</a> (float x, float y)</td></tr>
<tr class="memdesc:afe1b83b0d4819564bd7ab4359cbcff33"><td class="mdescLeft">&#160;</td><td class="mdescRight">Similar to <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a4da0b71276df5d1f6e10fcd08b941666" title="Passable Determinants">IGameCharacter.passable</a>, but supports map connections   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#afe1b83b0d4819564bd7ab4359cbcff33">More...</a><br /></td></tr>
<tr class="separator:afe1b83b0d4819564bd7ab4359cbcff33"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2307dd4c3ae7146d8342fc2334baa263"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a2307dd4c3ae7146d8342fc2334baa263">isPassableStrict</a> (int mapID, float x, float y, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> thisEvent=null)</td></tr>
<tr class="separator:a2307dd4c3ae7146d8342fc2334baa263"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a327fc436269ae6e7cc098bf330f499dc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a327fc436269ae6e7cc098bf330f499dc">isPassable</a> (int mapID, float x, float y, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> thisEvent=null)</td></tr>
<tr class="separator:a327fc436269ae6e7cc098bf330f499dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a12fd4a0a178143e853e2d34c90f9bc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a9a12fd4a0a178143e853e2d34c90f9bc">getMap</a> (int id)</td></tr>
<tr class="separator:a9a12fd4a0a178143e853e2d34c90f9bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9c4ca269fe9c0a5f257037cad2a2f330"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a9c4ca269fe9c0a5f257037cad2a2f330">getMapNoAdd</a> (int id)</td></tr>
<tr class="separator:a9c4ca269fe9c0a5f257037cad2a2f330"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a826d9c618cb4b1dfdeed1a48a2363f88"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a826d9c618cb4b1dfdeed1a48a2363f88">updateMaps</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a> scene)</td></tr>
<tr class="separator:a826d9c618cb4b1dfdeed1a48a2363f88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9f390899b148b1a335ccbbadce9ebbc"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#ad9f390899b148b1a335ccbbadce9ebbc">updateMapsInternal</a> ()</td></tr>
<tr class="separator:ad9f390899b148b1a335ccbbadce9ebbc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37837ed03e12b9da58ba5c2edd069a2d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a37837ed03e12b9da58ba5c2edd069a2d">areConnected</a> (int mapID1, int mapID2)</td></tr>
<tr class="separator:a37837ed03e12b9da58ba5c2edd069a2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a57bb5450d24a4aa3ea4c726781b0197a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">IMapChunkUnit</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a57bb5450d24a4aa3ea4c726781b0197a">getNewMap</a> (float playerX, float playerY)</td></tr>
<tr class="separator:a57bb5450d24a4aa3ea4c726781b0197a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc02b57b7435eb3e22ecb4fddb4dd2c4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#adc02b57b7435eb3e22ecb4fddb4dd2c4">setCurrentMap</a> ()</td></tr>
<tr class="separator:adc02b57b7435eb3e22ecb4fddb4dd2c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41ff158238fdd8d7f01fa41bff5df6f1"><td class="memItemLeft" align="right" valign="top">PokemonUnity.Overworld.? Terrains&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a41ff158238fdd8d7f01fa41bff5df6f1">getTerrainTag</a> (int mapid, float x, float y, bool countBridge=false)</td></tr>
<tr class="separator:a41ff158238fdd8d7f01fa41bff5df6f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec0455c8e6785dc87dab22e0ca87f0f8"><td class="memItemLeft" align="right" valign="top">PokemonUnity.Overworld.? Terrains&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#aec0455c8e6785dc87dab22e0ca87f0f8">getFacingTerrainTag</a> (float? dir=null, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null)</td></tr>
<tr class="separator:aec0455c8e6785dc87dab22e0ca87f0f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6742ee27a7084cc52a15aff0d5e9bd81"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a6742ee27a7084cc52a15aff0d5e9bd81">getRelativePos</a> (int thisMapID, float thisX, float thisY, int otherMapID, float otherX, float otherY)</td></tr>
<tr class="separator:a6742ee27a7084cc52a15aff0d5e9bd81"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8700229b2be4042f675e6bec1a7304dc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a8700229b2be4042f675e6bec1a7304dc">getThisAndOtherEventRelativePos</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> thisEvent, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> otherEvent)</td></tr>
<tr class="memdesc:a8700229b2be4042f675e6bec1a7304dc"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gets the distance from this event to another event. Example: If this event's coordinates are (2,5) and the other event's coordinates are (5,1), returns the array (3,-4), because (5-2=3) and (1-5=-4).   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a8700229b2be4042f675e6bec1a7304dc">More...</a><br /></td></tr>
<tr class="separator:a8700229b2be4042f675e6bec1a7304dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c6050c66ca887689083c8b8bf042b53"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a1c6050c66ca887689083c8b8bf042b53">getThisAndOtherPosRelativePos</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> thisEvent, int otherMapID, float otherX, float otherY)</td></tr>
<tr class="separator:a1c6050c66ca887689083c8b8bf042b53"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a67f19fbd8e336b39e718812034b8dacc"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a67f19fbd8e336b39e718812034b8dacc">getOffsetEventPos</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event, float xOffset, float yOffset)</td></tr>
<tr class="separator:a67f19fbd8e336b39e718812034b8dacc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a326e424141c03d325b88a31317f7b711"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a326e424141c03d325b88a31317f7b711">getRealTilePos</a> (int mapID, float x, float y)</td></tr>
<tr class="separator:a326e424141c03d325b88a31317f7b711"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af43d250d985a8308039310214f22538e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#af43d250d985a8308039310214f22538e">getFacingTileFromPos</a> (int mapID, float x, float y, int direction=0, int steps=1)</td></tr>
<tr class="separator:af43d250d985a8308039310214f22538e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae27c08cdb86ef11fb127e7595fc6f6c2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#ae27c08cdb86ef11fb127e7595fc6f6c2">getFacingTile</a> (float? direction=null, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event=null, int steps=1)</td></tr>
<tr class="separator:ae27c08cdb86ef11fb127e7595fc6f6c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adcc52614296c9cce2ed7f11a6f559ff1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#adcc52614296c9cce2ed7f11a6f559ff1">setMapsInRange</a> ()</td></tr>
<tr class="separator:adcc52614296c9cce2ed7f11a6f559ff1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3306af387065df19110f36e6207f654b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory.cshtml#a3306af387065df19110f36e6207f654b">maps</a><code> [get]</code></td></tr>
<tr class="separator:a3306af387065df19110f36e6207f654b"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a37837ed03e12b9da58ba5c2edd069a2d" name="a37837ed03e12b9da58ba5c2edd069a2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a37837ed03e12b9da58ba5c2edd069a2d">&#9670;&#160;</a></span>areConnected()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactory.areConnected </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID2</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aec0455c8e6785dc87dab22e0ca87f0f8" name="aec0455c8e6785dc87dab22e0ca87f0f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec0455c8e6785dc87dab22e0ca87f0f8">&#9670;&#160;</a></span>getFacingTerrainTag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.? Terrains PokemonEssentials.Interface.Field.IMapFactory.getFacingTerrainTag </td>
          <td>(</td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>dir</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae27c08cdb86ef11fb127e7595fc6f6c2" name="ae27c08cdb86ef11fb127e7595fc6f6c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae27c08cdb86ef11fb127e7595fc6f6c2">&#9670;&#160;</a></span>getFacingTile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IMapFactory.getFacingTile </td>
          <td>(</td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>direction</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>steps</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af43d250d985a8308039310214f22538e" name="af43d250d985a8308039310214f22538e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af43d250d985a8308039310214f22538e">&#9670;&#160;</a></span>getFacingTileFromPos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IMapFactory.getFacingTileFromPos </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>direction</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>steps</em> = <code>1</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9a12fd4a0a178143e853e2d34c90f9bc" name="a9a12fd4a0a178143e853e2d34c90f9bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a12fd4a0a178143e853e2d34c90f9bc">&#9670;&#160;</a></span>getMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> PokemonEssentials.Interface.Field.IMapFactory.getMap </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a27186185e46b198e421c7ec72807cdf8" name="a27186185e46b198e421c7ec72807cdf8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a27186185e46b198e421c7ec72807cdf8">&#9670;&#160;</a></span>getMapIndex()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IMapFactory.getMapIndex </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9c4ca269fe9c0a5f257037cad2a2f330" name="a9c4ca269fe9c0a5f257037cad2a2f330"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9c4ca269fe9c0a5f257037cad2a2f330">&#9670;&#160;</a></span>getMapNoAdd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> PokemonEssentials.Interface.Field.IMapFactory.getMapNoAdd </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a57bb5450d24a4aa3ea4c726781b0197a" name="a57bb5450d24a4aa3ea4c726781b0197a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a57bb5450d24a4aa3ea4c726781b0197a">&#9670;&#160;</a></span>getNewMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_chunk_unit.cshtml">IMapChunkUnit</a> PokemonEssentials.Interface.Field.IMapFactory.getNewMap </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>playerX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>playerY</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a67f19fbd8e336b39e718812034b8dacc" name="a67f19fbd8e336b39e718812034b8dacc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67f19fbd8e336b39e718812034b8dacc">&#9670;&#160;</a></span>getOffsetEventPos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IMapFactory.getOffsetEventPos </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>xOffset</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>yOffset</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a326e424141c03d325b88a31317f7b711" name="a326e424141c03d325b88a31317f7b711"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a326e424141c03d325b88a31317f7b711">&#9670;&#160;</a></span>getRealTilePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.IMapFactory.getRealTilePos </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6742ee27a7084cc52a15aff0d5e9bd81" name="a6742ee27a7084cc52a15aff0d5e9bd81"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6742ee27a7084cc52a15aff0d5e9bd81">&#9670;&#160;</a></span>getRelativePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a> PokemonEssentials.Interface.Field.IMapFactory.getRelativePos </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>thisMapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>thisX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>thisY</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>otherMapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>otherX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>otherY</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a41ff158238fdd8d7f01fa41bff5df6f1" name="a41ff158238fdd8d7f01fa41bff5df6f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41ff158238fdd8d7f01fa41bff5df6f1">&#9670;&#160;</a></span>getTerrainTag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.? Terrains PokemonEssentials.Interface.Field.IMapFactory.getTerrainTag </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>countBridge</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8700229b2be4042f675e6bec1a7304dc" name="a8700229b2be4042f675e6bec1a7304dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8700229b2be4042f675e6bec1a7304dc">&#9670;&#160;</a></span>getThisAndOtherEventRelativePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a> PokemonEssentials.Interface.Field.IMapFactory.getThisAndOtherEventRelativePos </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>thisEvent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>otherEvent</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Gets the distance from this event to another event. Example: If this event's coordinates are (2,5) and the other event's coordinates are (5,1), returns the array (3,-4), because (5-2=3) and (1-5=-4).  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">thisEvent</td><td></td></tr>
    <tr><td class="paramname">otherEvent</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a1c6050c66ca887689083c8b8bf042b53" name="a1c6050c66ca887689083c8b8bf042b53"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c6050c66ca887689083c8b8bf042b53">&#9670;&#160;</a></span>getThisAndOtherPosRelativePos()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_point.cshtml">IPoint</a> PokemonEssentials.Interface.Field.IMapFactory.getThisAndOtherPosRelativePos </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>thisEvent</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>otherMapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>otherX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>otherY</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa984ece749ed6683e92d7d275d02fa5c" name="aa984ece749ed6683e92d7d275d02fa5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa984ece749ed6683e92d7d275d02fa5c">&#9670;&#160;</a></span>hasMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactory.hasMap </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a327fc436269ae6e7cc098bf330f499dc" name="a327fc436269ae6e7cc098bf330f499dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a327fc436269ae6e7cc098bf330f499dc">&#9670;&#160;</a></span>isPassable()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactory.isPassable </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>thisEvent</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afe1b83b0d4819564bd7ab4359cbcff33" name="afe1b83b0d4819564bd7ab4359cbcff33"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe1b83b0d4819564bd7ab4359cbcff33">&#9670;&#160;</a></span>isPassableFromEdge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactory.isPassableFromEdge </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Similar to <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml#a4da0b71276df5d1f6e10fcd08b941666" title="Passable Determinants">IGameCharacter.passable</a>, but supports map connections  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a2307dd4c3ae7146d8342fc2334baa263" name="a2307dd4c3ae7146d8342fc2334baa263"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2307dd4c3ae7146d8342fc2334baa263">&#9670;&#160;</a></span>isPassableStrict()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IMapFactory.isPassableStrict </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a>&#160;</td>
          <td class="paramname"><em>thisEvent</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aba038321fc16c99b2479ca82626adbbe" name="aba038321fc16c99b2479ca82626adbbe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aba038321fc16c99b2479ca82626adbbe">&#9670;&#160;</a></span>map()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> PokemonEssentials.Interface.Field.IMapFactory.map </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adc02b57b7435eb3e22ecb4fddb4dd2c4" name="adc02b57b7435eb3e22ecb4fddb4dd2c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc02b57b7435eb3e22ecb4fddb4dd2c4">&#9670;&#160;</a></span>setCurrentMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setCurrentMap </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a204441033ed9f76478cbc0d95721e195" name="a204441033ed9f76478cbc0d95721e195"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a204441033ed9f76478cbc0d95721e195">&#9670;&#160;</a></span>setMapChanged()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setMapChanged </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>prevMap</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a736bb0f935cac2e816a7ce750b355723" name="a736bb0f935cac2e816a7ce750b355723"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a736bb0f935cac2e816a7ce750b355723">&#9670;&#160;</a></span>setMapChanging()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setMapChanging </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>newID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a>&#160;</td>
          <td class="paramname"><em>newMap</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adcc52614296c9cce2ed7f11a6f559ff1" name="adcc52614296c9cce2ed7f11a6f559ff1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adcc52614296c9cce2ed7f11a6f559ff1">&#9670;&#160;</a></span>setMapsInRange()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setMapsInRange </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aecb7c61d3ddad7873edc58c36cad695e" name="aecb7c61d3ddad7873edc58c36cad695e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aecb7c61d3ddad7873edc58c36cad695e">&#9670;&#160;</a></span>setSceneStarted()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setSceneStarted </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1286de5ec7d9b76940b4caf5eab6bb89" name="a1286de5ec7d9b76940b4caf5eab6bb89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1286de5ec7d9b76940b4caf5eab6bb89">&#9670;&#160;</a></span>setup()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.setup </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Clears all maps and sets up the current map with id. This function also sets the positions of neighboring maps and notifies the game system of a map change.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">id</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a826d9c618cb4b1dfdeed1a48a2363f88" name="a826d9c618cb4b1dfdeed1a48a2363f88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a826d9c618cb4b1dfdeed1a48a2363f88">&#9670;&#160;</a></span>updateMaps()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.updateMaps </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">IScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad9f390899b148b1a335ccbbadce9ebbc" name="ad9f390899b148b1a335ccbbadce9ebbc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9f390899b148b1a335ccbbadce9ebbc">&#9670;&#160;</a></span>updateMapsInternal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IMapFactory.updateMapsInternal </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a3306af387065df19110f36e6207f654b" name="a3306af387065df19110f36e6207f654b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3306af387065df19110f36e6207f654b">&#9670;&#160;</a></span>maps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">PokemonEssentials.Interface.IGameMap</a> [] PokemonEssentials.Interface.Field.IMapFactory.maps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_map_factory_8cs.cshtml">IMapFactory.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
