@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">IGameMysteryGift</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameMysteryGift Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a46244fd9639806635fc51df4017a8e25">MYSTERYGIFTURL</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#afdeb278c6df0d61e24c34e7fb9efd767">pbCreateMysteryGift</a>(int type, Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a4a356f463fc6578ddd8af470a99e39af">pbDownloadMysteryGift</a>(ITrainer trainer)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a0348bdcb6bbb4bfbe13280292b68febd">pbEditMysteryGift</a>(int type, Items item, int id=0, string giftname=&quot;&quot;)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a43f39bfc0548189b4be9ca44d4c70516">pbManageMysteryGifts</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#aa1d1cd5eb3909c8534288d382143ba42">pbMysteryGiftDecrypt</a>(string gift)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ae0002ac0dd7116330344971629e4c7b8">pbMysteryGiftEncrypt</a>(IMysteryGiftData gift)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a0d4d0238c008e6775f831ffa8a648b76">pbNextMysteryGiftID</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ad6b803dba83fb3ff4c932843c6ea73b0">pbReceiveMysteryGift</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a1bfd557a02694d47e80553c65e6ca395">pbRefreshMGCommands</a>(IMysteryGiftData[] master, int[] online)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">PokemonEssentials.Interface.Screen.IGameMysteryGift</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
