@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ILoadScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a2c670bc731d9db62ae6abb84b35a74bc">Choose</a>(string[] commands)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ad045732245fed70fc27782d3dfe57792">CloseScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#a95bfdbff5a48de4e8944544c1c6fdd7e">Display</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#afc9fa3afa0b7c97c5f0649e6e59553b3">DisplayConfirm</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a09ee6a937cd4179988302ed984049c4c">EndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a7984b2ad8962a5b8871c277b94c82344">Refresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ac8e03749611ddee58d72982e1c03b716">SetParty</a>(ITrainer trainer)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ae2d0d25420bdaae3d6ab5075e8995b9f">StartDeleteScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#aa795f363d5bed4aa49078f0b06691930">StartScene</a>(string[] commands, bool showContinue, ITrainer trainer, int framecount, int mapid)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#a21113af740751298cc75e30758fc7e23">StartScene2</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml#ae1fc7ae2d8a3130ddd7bd68ece5862f1">Update</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">PokemonEssentials.Interface.Screen.ILoadScene</a></td><td class="entry"></td></tr>
</table>
