@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">IBattlerShadowPokemon</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#ac0ecb297da50fd92b23dd315503fe9bf">inHyperMode</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#aae670dec6d8d7a050594e6c98563f3be">isShadow</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#ab296fc82516140120cd151309fbf6214">pbEndTurn</a>(IBattleChoice choice)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#abf2e55327656c3248465a3636cc78aa4">pbHyperMode</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#a90a321c97cef440628c302e2e399c3b0">pbHyperModeObedience</a>(IBattleMove move)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml#a3b31b7c8c38bbe12192fa85a9a4ed511">pbInitPokemon</a>(IPokemon pkmn, int pkmnIndex)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler_shadow_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IBattlerShadowPokemon</a></td><td class="entry"></td></tr>
</table>