@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml">IOnMapCreateEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,376,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml" alt="PokemonUnity.EventArg.OnMapCreateEventArgs" shape="rect" coords="0,112,376,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:afe6bcf2ea97e2259f6fd7f8bf6af5764"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#afe6bcf2ea97e2259f6fd7f8bf6af5764">Map</a> <code>[get, set]</code></td></tr>
<tr class="separator:afe6bcf2ea97e2259f6fd7f8bf6af5764"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d0cdb664de700380f6761e5e5b934d6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml#a1d0cdb664de700380f6761e5e5b934d6">Tileset</a> <code>[get, set]</code></td></tr>
<tr class="separator:a1d0cdb664de700380f6761e5e5b934d6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a> <code>[get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="afe6bcf2ea97e2259f6fd7f8bf6af5764" name="afe6bcf2ea97e2259f6fd7f8bf6af5764"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe6bcf2ea97e2259f6fd7f8bf6af5764">&#9670;&#160;</a></span>Map</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs.Map</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#a703b9cae06fde110e4c6d1e8b0238faa">PokemonUnity.EventArg.OnMapCreateEventArgs</a>.</p>

</div>
</div>
<a id="a1d0cdb664de700380f6761e5e5b934d6" name="a1d0cdb664de700380f6761e5e5b934d6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1d0cdb664de700380f6761e5e5b934d6">&#9670;&#160;</a></span>Tileset</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a> PokemonEssentials.Interface.EventArg.IOnMapCreateEventArgs.Tileset</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_map_create_event_args.cshtml#ac6ebc1a838fc9343631e65dc499ca3ba">PokemonUnity.EventArg.OnMapCreateEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

