@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">IOnEndBattleEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#adf3e802b9bf8789d0263f36fd67e2166">CanLose</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#a3a762a82ec455cc99b379da7c0e81993">Decision</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">PokemonEssentials.Interface.EventArg.IOnEndBattleEventArgs</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td><td class="entry"></td></tr>
</table>
