@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">IBuyAdapter</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBuyAdapter Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">PokemonEssentials.Interface.Screen.IBuyAdapter</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a0b474aac96c011306dd316835ac37c76">getDisplayName</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">PokemonEssentials.Interface.Screen.IBuyAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#ad612a613ea5678af92867e4e993bd72d">getDisplayPrice</a>(Items item)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">PokemonEssentials.Interface.Screen.IBuyAdapter</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a0aee59902d59a9dbe5486a4d7eb0ded4">initialize</a>(IMartAdapter adapter)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">PokemonEssentials.Interface.Screen.IBuyAdapter</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml#a844e58f209c7dc4eb81ee9e1a74f3ef5">isSelling</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_buy_adapter.cshtml">PokemonEssentials.Interface.Screen.IBuyAdapter</a></td><td class="entry"></td></tr>
</table>
