@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameTime Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml">IGameTime</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameTime Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af013a34b0b55813b2948ce3decd13e25"><td class="memItemLeft" align="right" valign="top">DateTime&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#af013a34b0b55813b2948ce3decd13e25">GetTimeNow</a> ()</td></tr>
<tr class="separator:af013a34b0b55813b2948ce3decd13e25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45101831e35dbf5aeac5a461884a4a2a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a45101831e35dbf5aeac5a461884a4a2a">DayNightTint</a> (object obj)</td></tr>
<tr class="separator:a45101831e35dbf5aeac5a461884a4a2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a583e047fd8a85a4def7cb84c3a8c2b5d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a583e047fd8a85a4def7cb84c3a8c2b5d">moonphase</a> (DateTime? @@time=null)</td></tr>
<tr class="memdesc:a583e047fd8a85a4def7cb84c3a8c2b5d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Calculates the phase of the moon.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a583e047fd8a85a4def7cb84c3a8c2b5d">More...</a><br /></td></tr>
<tr class="separator:a583e047fd8a85a4def7cb84c3a8c2b5d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa24ada54d03dd396b4c057a43560302d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#aa24ada54d03dd396b4c057a43560302d">zodiac</a> (int month, int day)</td></tr>
<tr class="memdesc:aa24ada54d03dd396b4c057a43560302d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Calculates the zodiac sign based on the given month and day: 0 is Aries, 11 is Pisces. Month is 1 if January, and so on.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#aa24ada54d03dd396b4c057a43560302d">More...</a><br /></td></tr>
<tr class="separator:aa24ada54d03dd396b4c057a43560302d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae874c1e6002b4e3665f878b9a8b6c2d7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ae874c1e6002b4e3665f878b9a8b6c2d7">zodiacOpposite</a> (int sign)</td></tr>
<tr class="memdesc:ae874c1e6002b4e3665f878b9a8b6c2d7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns the opposite of the given zodiac sign. 0 is Aries, 11 is Pisces.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ae874c1e6002b4e3665f878b9a8b6c2d7">More...</a><br /></td></tr>
<tr class="separator:ae874c1e6002b4e3665f878b9a8b6c2d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49e7e3d640551cef2daae6fbb4041fa0"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a49e7e3d640551cef2daae6fbb4041fa0">zodiacPartners</a> (int sign)</td></tr>
<tr class="memdesc:a49e7e3d640551cef2daae6fbb4041fa0"><td class="mdescLeft">&#160;</td><td class="mdescRight">0 is Aries, 11 is Pisces.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a49e7e3d640551cef2daae6fbb4041fa0">More...</a><br /></td></tr>
<tr class="separator:a49e7e3d640551cef2daae6fbb4041fa0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a0b4092b82b755e01a6f8b105420b75"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a0a0b4092b82b755e01a6f8b105420b75">zodiacComplements</a> (int sign)</td></tr>
<tr class="memdesc:a0a0b4092b82b755e01a6f8b105420b75"><td class="mdescLeft">&#160;</td><td class="mdescRight">0 is Aries, 11 is Pisces.   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a0a0b4092b82b755e01a6f8b105420b75">More...</a><br /></td></tr>
<tr class="separator:a0a0b4092b82b755e01a6f8b105420b75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1450ce34d11bfeabe2acd4932a861b7e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a1450ce34d11bfeabe2acd4932a861b7e">IsWeekday</a> (int wdayVariable, params int[] arg)</td></tr>
<tr class="separator:a1450ce34d11bfeabe2acd4932a861b7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a41d906ce3f12e8b542f67d5b455378cc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a41d906ce3f12e8b542f67d5b455378cc">IsMonth</a> (int monVariable, params int[] arg)</td></tr>
<tr class="separator:a41d906ce3f12e8b542f67d5b455378cc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3e4b06b96a888c93d869d76a4bb3c4d3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a3e4b06b96a888c93d869d76a4bb3c4d3">GetAbbrevMonthName</a> (int month)</td></tr>
<tr class="separator:a3e4b06b96a888c93d869d76a4bb3c4d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad8a03e47064793260be36f9515bd1e06"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ad8a03e47064793260be36f9515bd1e06">GetSeason</a> ()</td></tr>
<tr class="separator:ad8a03e47064793260be36f9515bd1e06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa51d138e82f904deba1cab189cc7f5d7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#aa51d138e82f904deba1cab189cc7f5d7">IsSeason</a> (int seasonVariable, params int[] arg)</td></tr>
<tr class="separator:aa51d138e82f904deba1cab189cc7f5d7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5cba1ce044a4f52796f3bcea31726ff8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a5cba1ce044a4f52796f3bcea31726ff8">IsSpring</a> ()</td></tr>
<tr class="memdesc:a5cba1ce044a4f52796f3bcea31726ff8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Jan, May, Sep   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a5cba1ce044a4f52796f3bcea31726ff8">More...</a><br /></td></tr>
<tr class="separator:a5cba1ce044a4f52796f3bcea31726ff8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7fe94fa2684389d7d0f4b2ba8cb1417"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ab7fe94fa2684389d7d0f4b2ba8cb1417">IsSummer</a> ()</td></tr>
<tr class="memdesc:ab7fe94fa2684389d7d0f4b2ba8cb1417"><td class="mdescLeft">&#160;</td><td class="mdescRight">Feb, Jun, Oct   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#ab7fe94fa2684389d7d0f4b2ba8cb1417">More...</a><br /></td></tr>
<tr class="separator:ab7fe94fa2684389d7d0f4b2ba8cb1417"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a803786000e4f78152d76008bc1908d31"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a803786000e4f78152d76008bc1908d31">IsAutumn</a> ()</td></tr>
<tr class="memdesc:a803786000e4f78152d76008bc1908d31"><td class="mdescLeft">&#160;</td><td class="mdescRight">Mar, Jul, Nov   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a803786000e4f78152d76008bc1908d31">More...</a><br /></td></tr>
<tr class="separator:a803786000e4f78152d76008bc1908d31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a68b4b9ff451cc764db4607d3b7f95b6c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a68b4b9ff451cc764db4607d3b7f95b6c">IsFall</a> ()</td></tr>
<tr class="memdesc:a68b4b9ff451cc764db4607d3b7f95b6c"><td class="mdescLeft">&#160;</td><td class="mdescRight"><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a803786000e4f78152d76008bc1908d31" title="Mar, Jul, Nov">IsAutumn</a></dd></dl>
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a68b4b9ff451cc764db4607d3b7f95b6c">More...</a><br /></td></tr>
<tr class="separator:a68b4b9ff451cc764db4607d3b7f95b6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af5e0b3f4b9a1c37f9aa41999d15f5a3c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#af5e0b3f4b9a1c37f9aa41999d15f5a3c">IsWinter</a> ()</td></tr>
<tr class="memdesc:af5e0b3f4b9a1c37f9aa41999d15f5a3c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Apr, Aug, Dec   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#af5e0b3f4b9a1c37f9aa41999d15f5a3c">More...</a><br /></td></tr>
<tr class="separator:af5e0b3f4b9a1c37f9aa41999d15f5a3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3366980d82c26a92c35b1acc394c65f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#af3366980d82c26a92c35b1acc394c65f">GetSeasonName</a> (int season)</td></tr>
<tr class="separator:af3366980d82c26a92c35b1acc394c65f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a45101831e35dbf5aeac5a461884a4a2a" name="a45101831e35dbf5aeac5a461884a4a2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a45101831e35dbf5aeac5a461884a4a2a">&#9670;&#160;</a></span>DayNightTint()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameTime.DayNightTint </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3e4b06b96a888c93d869d76a4bb3c4d3" name="a3e4b06b96a888c93d869d76a4bb3c4d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3e4b06b96a888c93d869d76a4bb3c4d3">&#9670;&#160;</a></span>GetAbbrevMonthName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IGameTime.GetAbbrevMonthName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>month</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad8a03e47064793260be36f9515bd1e06" name="ad8a03e47064793260be36f9515bd1e06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8a03e47064793260be36f9515bd1e06">&#9670;&#160;</a></span>GetSeason()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IGameTime.GetSeason </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af3366980d82c26a92c35b1acc394c65f" name="af3366980d82c26a92c35b1acc394c65f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3366980d82c26a92c35b1acc394c65f">&#9670;&#160;</a></span>GetSeasonName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.IGameTime.GetSeasonName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>season</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af013a34b0b55813b2948ce3decd13e25" name="af013a34b0b55813b2948ce3decd13e25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af013a34b0b55813b2948ce3decd13e25">&#9670;&#160;</a></span>GetTimeNow()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">DateTime PokemonEssentials.Interface.Field.IGameTime.GetTimeNow </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a803786000e4f78152d76008bc1908d31" name="a803786000e4f78152d76008bc1908d31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a803786000e4f78152d76008bc1908d31">&#9670;&#160;</a></span>IsAutumn()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsAutumn </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Mar, Jul, Nov  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a68b4b9ff451cc764db4607d3b7f95b6c" name="a68b4b9ff451cc764db4607d3b7f95b6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a68b4b9ff451cc764db4607d3b7f95b6c">&#9670;&#160;</a></span>IsFall()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsFall </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_time.cshtml#a803786000e4f78152d76008bc1908d31" title="Mar, Jul, Nov">IsAutumn</a></dd></dl>
</p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a41d906ce3f12e8b542f67d5b455378cc" name="a41d906ce3f12e8b542f67d5b455378cc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a41d906ce3f12e8b542f67d5b455378cc">&#9670;&#160;</a></span>IsMonth()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsMonth </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>monVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa51d138e82f904deba1cab189cc7f5d7" name="aa51d138e82f904deba1cab189cc7f5d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa51d138e82f904deba1cab189cc7f5d7">&#9670;&#160;</a></span>IsSeason()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsSeason </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>seasonVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5cba1ce044a4f52796f3bcea31726ff8" name="a5cba1ce044a4f52796f3bcea31726ff8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5cba1ce044a4f52796f3bcea31726ff8">&#9670;&#160;</a></span>IsSpring()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsSpring </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Jan, May, Sep  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="ab7fe94fa2684389d7d0f4b2ba8cb1417" name="ab7fe94fa2684389d7d0f4b2ba8cb1417"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7fe94fa2684389d7d0f4b2ba8cb1417">&#9670;&#160;</a></span>IsSummer()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsSummer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Feb, Jun, Oct  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a1450ce34d11bfeabe2acd4932a861b7e" name="a1450ce34d11bfeabe2acd4932a861b7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1450ce34d11bfeabe2acd4932a861b7e">&#9670;&#160;</a></span>IsWeekday()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsWeekday </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>wdayVariable</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af5e0b3f4b9a1c37f9aa41999d15f5a3c" name="af5e0b3f4b9a1c37f9aa41999d15f5a3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af5e0b3f4b9a1c37f9aa41999d15f5a3c">&#9670;&#160;</a></span>IsWinter()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IGameTime.IsWinter </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Apr, Aug, Dec  </p>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a583e047fd8a85a4def7cb84c3a8c2b5d" name="a583e047fd8a85a4def7cb84c3a8c2b5d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a583e047fd8a85a4def7cb84c3a8c2b5d">&#9670;&#160;</a></span>moonphase()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IGameTime.moonphase </td>
          <td>(</td>
          <td class="paramtype">DateTime? @@&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Calculates the phase of the moon.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">time</td><td>in UTC</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>0 - New Moon 1 - Waxing Crescent 2 - First Quarter 3 - Waxing Gibbous 4 - Full Moon 5 - Waning Gibbous 6 - Last Quarter 7 - Waning Crescent </dd></dl>

</div>
</div>
<a id="aa24ada54d03dd396b4c057a43560302d" name="aa24ada54d03dd396b4c057a43560302d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa24ada54d03dd396b4c057a43560302d">&#9670;&#160;</a></span>zodiac()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IGameTime.zodiac </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>month</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>day</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Calculates the zodiac sign based on the given month and day: 0 is Aries, 11 is Pisces. Month is 1 if January, and so on.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">month</td><td></td></tr>
    <tr><td class="paramname">day</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a0a0b4092b82b755e01a6f8b105420b75" name="a0a0b4092b82b755e01a6f8b105420b75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a0b4092b82b755e01a6f8b105420b75">&#9670;&#160;</a></span>zodiacComplements()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Field.IGameTime.zodiacComplements </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>sign</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>0 is Aries, 11 is Pisces.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sign</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="ae874c1e6002b4e3665f878b9a8b6c2d7" name="ae874c1e6002b4e3665f878b9a8b6c2d7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae874c1e6002b4e3665f878b9a8b6c2d7">&#9670;&#160;</a></span>zodiacOpposite()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.IGameTime.zodiacOpposite </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>sign</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns the opposite of the given zodiac sign. 0 is Aries, 11 is Pisces.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sign</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a49e7e3d640551cef2daae6fbb4041fa0" name="a49e7e3d640551cef2daae6fbb4041fa0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49e7e3d640551cef2daae6fbb4041fa0">&#9670;&#160;</a></span>zodiacPartners()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonEssentials.Interface.Field.IGameTime.zodiacPartners </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>sign</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>0 is Aries, 11 is Pisces.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">sign</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_time_8cs.cshtml">ITime.cs</a></li>
</ul>

