@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml">IPokeballPlayerSendOutAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation Interface Reference</div></div>
}


<p>Shows the player's (or partner's) Pok&eacute;mon being thrown out. It appears at (@@spritex,@@spritey), and moves in y to @@endspritey where it stays for the rest of the battle, i.e. the latter is the more important value. Doesn't show the ball itself being thrown.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a69e04293724ae2bd8c6baa30a3d81667"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml">IPokeballPlayerSendOutAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#a69e04293724ae2bd8c6baa30a3d81667">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> sprite, int spritehash, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> illusionpoke, bool doublebattle)</td></tr>
<tr class="separator:a69e04293724ae2bd8c6baa30a3d81667"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adea96b184d26515e28ba2fbfcf37ab8c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#adea96b184d26515e28ba2fbfcf37ab8c">dispose</a> ()</td></tr>
<tr class="separator:adea96b184d26515e28ba2fbfcf37ab8c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4cdab2d5d395774ea839f1becca3b463"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#a4cdab2d5d395774ea839f1becca3b463">update</a> ()</td></tr>
<tr class="separator:a4cdab2d5d395774ea839f1becca3b463"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3be6b6ad34a09c3434230a7099445540"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#a3be6b6ad34a09c3434230a7099445540">disposed</a><code> [get]</code></td></tr>
<tr class="separator:a3be6b6ad34a09c3434230a7099445540"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09bea1bb4dd5e3bb24788076f4f14ea9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml#a09bea1bb4dd5e3bb24788076f4f14ea9">animdone</a><code> [get]</code></td></tr>
<tr class="separator:a09bea1bb4dd5e3bb24788076f4f14ea9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Shows the player's (or partner's) Pok&eacute;mon being thrown out. It appears at (@@spritex,@@spritey), and moves in y to @@endspritey where it stays for the rest of the battle, i.e. the latter is the more important value. Doesn't show the ball itself being thrown.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="adea96b184d26515e28ba2fbfcf37ab8c" name="adea96b184d26515e28ba2fbfcf37ab8c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adea96b184d26515e28ba2fbfcf37ab8c">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a69e04293724ae2bd8c6baa30a3d81667" name="a69e04293724ae2bd8c6baa30a3d81667"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a69e04293724ae2bd8c6baa30a3d81667">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokeball_player_send_out_animation.cshtml">IPokeballPlayerSendOutAnimation</a> PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td>
          <td class="paramname"><em>sprite</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>spritehash</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>illusionpoke</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>doublebattle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4cdab2d5d395774ea839f1becca3b463" name="a4cdab2d5d395774ea839f1becca3b463"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4cdab2d5d395774ea839f1becca3b463">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a09bea1bb4dd5e3bb24788076f4f14ea9" name="a09bea1bb4dd5e3bb24788076f4f14ea9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09bea1bb4dd5e3bb24788076f4f14ea9">&#9670;&#160;</a></span>animdone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation.animdone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3be6b6ad34a09c3434230a7099445540" name="a3be6b6ad34a09c3434230a7099445540"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3be6b6ad34a09c3434230a7099445540">&#9670;&#160;</a></span>disposed</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokeballPlayerSendOutAnimation.disposed</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_screen_2_i_battle_8cs.cshtml">IBattle.cs</a></li>
</ul>
