@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IGlobalMetadataPurifyChamber Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_global_metadata_purify_chamber.cshtml">IGlobalMetadataPurifyChamber</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_global_metadata_purify_chamber-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGlobalMetadataPurifyChamber Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a67016366cb8aa7f768ab715c94a7c551"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_global_metadata_purify_chamber.cshtml#a67016366cb8aa7f768ab715c94a7c551">purifyChamber</a><code> [get]</code></td></tr>
<tr class="separator:a67016366cb8aa7f768ab715c94a7c551"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a522c3dde43f45ca6afe1531220bfd598"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_global_metadata_purify_chamber.cshtml#a522c3dde43f45ca6afe1531220bfd598">seenPurifyChamber</a><code> [get]</code></td></tr>
<tr class="separator:a522c3dde43f45ca6afe1531220bfd598"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a67016366cb8aa7f768ab715c94a7c551" name="a67016366cb8aa7f768ab715c94a7c551"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67016366cb8aa7f768ab715c94a7c551">&#9670;&#160;</a></span>purifyChamber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber.cshtml">IPurifyChamber</a> PokemonEssentials.Interface.Screen.IGlobalMetadataPurifyChamber.purifyChamber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a522c3dde43f45ca6afe1531220bfd598" name="a522c3dde43f45ca6afe1531220bfd598"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a522c3dde43f45ca6afe1531220bfd598">&#9670;&#160;</a></span>seenPurifyChamber</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IGlobalMetadataPurifyChamber.seenPurifyChamber</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>
