@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.UIHelper Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml">UIHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.UIHelper Interface Reference</div></div>
}


<p>Common UI functions used in both the Bag and item storage screens. Allows the user to choose a number. The window <em>helpwindow</em> will display the <em>helptext</em>.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ac30682e7f27b141dc9f82e2a2b59d67a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#ac30682e7f27b141dc9f82e2a2b59d67a">pbChooseNumber</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> helpwindow, string helptext, int maximum)</td></tr>
<tr class="separator:ac30682e7f27b141dc9f82e2a2b59d67a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0cbf0b72ba16446631dc51efef75919"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#aa0cbf0b72ba16446631dc51efef75919">pbDisplayStatic</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> msgwindow, string message)</td></tr>
<tr class="separator:aa0cbf0b72ba16446631dc51efef75919"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40fc52264164d6ac6620858c9cf05e0e"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a40fc52264164d6ac6620858c9cf05e0e">pbDisplay</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> helpwindow, string msg, bool brief)</td></tr>
<tr class="memdesc:a40fc52264164d6ac6620858c9cf05e0e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Letter by letter display of the message <em>msg</em>  by the window <em>helpwindow</em> .   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a40fc52264164d6ac6620858c9cf05e0e">More...</a><br /></td></tr>
<tr class="separator:a40fc52264164d6ac6620858c9cf05e0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51e7e0f609aec7d2bf9cfb2c0648c070"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a51e7e0f609aec7d2bf9cfb2c0648c070">pbConfirm</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> helpwindow, string msg)</td></tr>
<tr class="memdesc:a51e7e0f609aec7d2bf9cfb2c0648c070"><td class="mdescLeft">&#160;</td><td class="mdescRight">Letter by letter display of the message <em>msg</em>  by the window <em>helpwindow</em> , used to ask questions.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#a51e7e0f609aec7d2bf9cfb2c0648c070">More...</a><br /></td></tr>
<tr class="separator:a51e7e0f609aec7d2bf9cfb2c0648c070"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6b8ab6055a9cf03de7897c241b7b120"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_u_i_helper.cshtml#ad6b8ab6055a9cf03de7897c241b7b120">pbShowCommands</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a> helpwindow, string helptext, string[] commands)</td></tr>
<tr class="separator:ad6b8ab6055a9cf03de7897c241b7b120"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Common UI functions used in both the Bag and item storage screens. Allows the user to choose a number. The window <em>helpwindow</em> will display the <em>helptext</em>.  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ac30682e7f27b141dc9f82e2a2b59d67a" name="ac30682e7f27b141dc9f82e2a2b59d67a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac30682e7f27b141dc9f82e2a2b59d67a">&#9670;&#160;</a></span>pbChooseNumber()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.UIHelper.pbChooseNumber </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>helpwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maximum</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a51e7e0f609aec7d2bf9cfb2c0648c070" name="a51e7e0f609aec7d2bf9cfb2c0648c070"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51e7e0f609aec7d2bf9cfb2c0648c070">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.UIHelper.pbConfirm </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>helpwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Letter by letter display of the message <em>msg</em>  by the window <em>helpwindow</em> , used to ask questions.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">helpwindow</td><td></td></tr>
    <tr><td class="paramname">msg</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>Returns true if the user chose yes, false if no.</dd></dl>

</div>
</div>
<a id="a40fc52264164d6ac6620858c9cf05e0e" name="a40fc52264164d6ac6620858c9cf05e0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40fc52264164d6ac6620858c9cf05e0e">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.Screen.UIHelper.pbDisplay </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>helpwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>brief</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Letter by letter display of the message <em>msg</em>  by the window <em>helpwindow</em> .  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">helpwindow</td><td></td></tr>
    <tr><td class="paramname">msg</td><td></td></tr>
    <tr><td class="paramname">brief</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="aa0cbf0b72ba16446631dc51efef75919" name="aa0cbf0b72ba16446631dc51efef75919"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0cbf0b72ba16446631dc51efef75919">&#9670;&#160;</a></span>pbDisplayStatic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.UIHelper.pbDisplayStatic </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>msgwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad6b8ab6055a9cf03de7897c241b7b120" name="ad6b8ab6055a9cf03de7897c241b7b120"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6b8ab6055a9cf03de7897c241b7b120">&#9670;&#160;</a></span>pbShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.UIHelper.pbShowCommands </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_window.cshtml">IWindow</a>&#160;</td>
          <td class="paramname"><em>helpwindow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>helptext</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_essentials_2_screen_2_i_scene_8cs.cshtml">IScene.cs</a></li>
</ul>
