@{
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonStorageScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml">IPokemonStorageScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonStorageScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonStorageScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonStorageScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonStorageScreen_map" name="PokemonEssentials.Interface.Screen.IPokemonStorageScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,361,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0603d0e0752b2b229a4679c39f5043af"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a0603d0e0752b2b229a4679c39f5043af">debugMenu</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pkmn, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:a0603d0e0752b2b229a4679c39f5043af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23040d4f9467fbed4474a89b4ea9a2af"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml">IPokemonStorageScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a23040d4f9467fbed4474a89b4ea9a2af">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a51b2736790062af33a21d8f3cac5febb">scene</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a> <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a519ec094355501d5c9e0ec69663f8083">storage</a>)</td></tr>
<tr class="separator:a23040d4f9467fbed4474a89b4ea9a2af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0411611a20a191908febc64f4ea5490f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a0411611a20a191908febc64f4ea5490f">pbAble</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a0411611a20a191908febc64f4ea5490f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af3ff57166d6f5aee8dfa778d099f4f59"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#af3ff57166d6f5aee8dfa778d099f4f59">pbBoxCommands</a> ()</td></tr>
<tr class="separator:af3ff57166d6f5aee8dfa778d099f4f59"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d9aeb00804a189200565016111e4fd6"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a7d9aeb00804a189200565016111e4fd6">pbChoosePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party=null)</td></tr>
<tr class="separator:a7d9aeb00804a189200565016111e4fd6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4cd28562652ca5036ed4d447655eee7a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a4cd28562652ca5036ed4d447655eee7a">pbConfirm</a> (string str)</td></tr>
<tr class="separator:a4cd28562652ca5036ed4d447655eee7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af972a58002704fbd7cd119a90d9cc496"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#af972a58002704fbd7cd119a90d9cc496">pbDisplay</a> (string message)</td></tr>
<tr class="separator:af972a58002704fbd7cd119a90d9cc496"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a400046aa9842c3884d1a5b9738d949"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a0a400046aa9842c3884d1a5b9738d949">pbHold</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:a0a400046aa9842c3884d1a5b9738d949"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a189bcf8ea4c97b28a21a9eac00cdb094"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a189bcf8ea4c97b28a21a9eac00cdb094">pbItem</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:a189bcf8ea4c97b28a21a9eac00cdb094"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3d9aab78ae38f3e32f305092232d9d7a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a3d9aab78ae38f3e32f305092232d9d7a">pbMark</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:a3d9aab78ae38f3e32f305092232d9d7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54179d1e50df7289d7a6499f7ce0c503"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a54179d1e50df7289d7a6499f7ce0c503">pbPlace</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:a54179d1e50df7289d7a6499f7ce0c503"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5091520e2f2d8abe8824a6b3bf6af355"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a5091520e2f2d8abe8824a6b3bf6af355">pbRelease</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:a5091520e2f2d8abe8824a6b3bf6af355"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8504d705f831d2a0208406a109a25fe4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a8504d705f831d2a0208406a109a25fe4">pbShowCommands</a> (string msg, string[] commands)</td></tr>
<tr class="separator:a8504d705f831d2a0208406a109a25fe4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9d95b6c0242d125740bcaafc2a5ea7b4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a9d95b6c0242d125740bcaafc2a5ea7b4">pbStartScreen</a> (int command)</td></tr>
<tr class="separator:a9d95b6c0242d125740bcaafc2a5ea7b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae77dfc4b540dc811de7a3888b36a3c74"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#ae77dfc4b540dc811de7a3888b36a3c74">pbStore</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:ae77dfc4b540dc811de7a3888b36a3c74"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb980f297b5f0dd2810a074e305a4012"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#adb980f297b5f0dd2810a074e305a4012">pbSummary</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:adb980f297b5f0dd2810a074e305a4012"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8032217302de837dc2e6c90e76f4ba87"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a8032217302de837dc2e6c90e76f4ba87">pbSwap</a> (KeyValuePair&lt; int, int &gt; selected)</td></tr>
<tr class="separator:a8032217302de837dc2e6c90e76f4ba87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9054cc17ec8db41eb2559cd11a619b9d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a9054cc17ec8db41eb2559cd11a619b9d">pbWithdraw</a> (KeyValuePair&lt; int, int &gt; selected, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> heldpoke)</td></tr>
<tr class="separator:a9054cc17ec8db41eb2559cd11a619b9d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a073ac1ac8af945e49f8be0b9b3597b9f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a073ac1ac8af945e49f8be0b9b3597b9f">selectPokemon</a> (int index)</td></tr>
<tr class="separator:a073ac1ac8af945e49f8be0b9b3597b9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6f8286e99f4991b993d5d072c340999f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a6f8286e99f4991b993d5d072c340999f">pbAbleCount</a><code> [get]</code></td></tr>
<tr class="separator:a6f8286e99f4991b993d5d072c340999f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4052a9c0793e34027b3c01c256b93752"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a4052a9c0793e34027b3c01c256b93752">pbHeldPokemon</a><code> [get]</code></td></tr>
<tr class="separator:a4052a9c0793e34027b3c01c256b93752"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a51b2736790062af33a21d8f3cac5febb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a51b2736790062af33a21d8f3cac5febb">scene</a><code> [get]</code></td></tr>
<tr class="separator:a51b2736790062af33a21d8f3cac5febb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a519ec094355501d5c9e0ec69663f8083"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml#a519ec094355501d5c9e0ec69663f8083">storage</a><code> [get]</code></td></tr>
<tr class="separator:a519ec094355501d5c9e0ec69663f8083"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a0603d0e0752b2b229a4679c39f5043af" name="a0603d0e0752b2b229a4679c39f5043af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0603d0e0752b2b229a4679c39f5043af">&#9670;&#160;</a></span>debugMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.debugMenu </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a23040d4f9467fbed4474a89b4ea9a2af" name="a23040d4f9467fbed4474a89b4ea9a2af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23040d4f9467fbed4474a89b4ea9a2af">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_screen.cshtml">IPokemonStorageScreen</a> PokemonEssentials.Interface.Screen.IPokemonStorageScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a>&#160;</td>
          <td class="paramname"><em>scene</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a>&#160;</td>
          <td class="paramname"><em>storage</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0411611a20a191908febc64f4ea5490f" name="a0411611a20a191908febc64f4ea5490f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0411611a20a191908febc64f4ea5490f">&#9670;&#160;</a></span>pbAble()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbAble </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af3ff57166d6f5aee8dfa778d099f4f59" name="af3ff57166d6f5aee8dfa778d099f4f59"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af3ff57166d6f5aee8dfa778d099f4f59">&#9670;&#160;</a></span>pbBoxCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbBoxCommands </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7d9aeb00804a189200565016111e4fd6" name="a7d9aeb00804a189200565016111e4fd6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d9aeb00804a189200565016111e4fd6">&#9670;&#160;</a></span>pbChoosePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbChoosePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4cd28562652ca5036ed4d447655eee7a" name="a4cd28562652ca5036ed4d447655eee7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4cd28562652ca5036ed4d447655eee7a">&#9670;&#160;</a></span>pbConfirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbConfirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>str</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af972a58002704fbd7cd119a90d9cc496" name="af972a58002704fbd7cd119a90d9cc496"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af972a58002704fbd7cd119a90d9cc496">&#9670;&#160;</a></span>pbDisplay()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbDisplay </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>message</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a400046aa9842c3884d1a5b9738d949" name="a0a400046aa9842c3884d1a5b9738d949"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a400046aa9842c3884d1a5b9738d949">&#9670;&#160;</a></span>pbHold()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbHold </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a189bcf8ea4c97b28a21a9eac00cdb094" name="a189bcf8ea4c97b28a21a9eac00cdb094"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a189bcf8ea4c97b28a21a9eac00cdb094">&#9670;&#160;</a></span>pbItem()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbItem </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3d9aab78ae38f3e32f305092232d9d7a" name="a3d9aab78ae38f3e32f305092232d9d7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3d9aab78ae38f3e32f305092232d9d7a">&#9670;&#160;</a></span>pbMark()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbMark </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a54179d1e50df7289d7a6499f7ce0c503" name="a54179d1e50df7289d7a6499f7ce0c503"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54179d1e50df7289d7a6499f7ce0c503">&#9670;&#160;</a></span>pbPlace()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbPlace </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5091520e2f2d8abe8824a6b3bf6af355" name="a5091520e2f2d8abe8824a6b3bf6af355"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5091520e2f2d8abe8824a6b3bf6af355">&#9670;&#160;</a></span>pbRelease()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbRelease </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8504d705f831d2a0208406a109a25fe4" name="a8504d705f831d2a0208406a109a25fe4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8504d705f831d2a0208406a109a25fe4">&#9670;&#160;</a></span>pbShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbShowCommands </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>msg</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9d95b6c0242d125740bcaafc2a5ea7b4" name="a9d95b6c0242d125740bcaafc2a5ea7b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d95b6c0242d125740bcaafc2a5ea7b4">&#9670;&#160;</a></span>pbStartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbStartScreen </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>command</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae77dfc4b540dc811de7a3888b36a3c74" name="ae77dfc4b540dc811de7a3888b36a3c74"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae77dfc4b540dc811de7a3888b36a3c74">&#9670;&#160;</a></span>pbStore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbStore </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adb980f297b5f0dd2810a074e305a4012" name="adb980f297b5f0dd2810a074e305a4012"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb980f297b5f0dd2810a074e305a4012">&#9670;&#160;</a></span>pbSummary()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbSummary </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8032217302de837dc2e6c90e76f4ba87" name="a8032217302de837dc2e6c90e76f4ba87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8032217302de837dc2e6c90e76f4ba87">&#9670;&#160;</a></span>pbSwap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbSwap </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9054cc17ec8db41eb2559cd11a619b9d" name="a9054cc17ec8db41eb2559cd11a619b9d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9054cc17ec8db41eb2559cd11a619b9d">&#9670;&#160;</a></span>pbWithdraw()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbWithdraw </td>
          <td>(</td>
          <td class="paramtype">KeyValuePair&lt; int, int &gt;&#160;</td>
          <td class="paramname"><em>selected</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>heldpoke</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a073ac1ac8af945e49f8be0b9b3597b9f" name="a073ac1ac8af945e49f8be0b9b3597b9f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a073ac1ac8af945e49f8be0b9b3597b9f">&#9670;&#160;</a></span>selectPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonStorageScreen.selectPokemon </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>index</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6f8286e99f4991b993d5d072c340999f" name="a6f8286e99f4991b993d5d072c340999f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6f8286e99f4991b993d5d072c340999f">&#9670;&#160;</a></span>pbAbleCount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbAbleCount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4052a9c0793e34027b3c01c256b93752" name="a4052a9c0793e34027b3c01c256b93752"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4052a9c0793e34027b3c01c256b93752">&#9670;&#160;</a></span>pbHeldPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Screen.IPokemonStorageScreen.pbHeldPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a51b2736790062af33a21d8f3cac5febb" name="a51b2736790062af33a21d8f3cac5febb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a51b2736790062af33a21d8f3cac5febb">&#9670;&#160;</a></span>scene</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage_scene.cshtml">IPokemonStorageScene</a> PokemonEssentials.Interface.Screen.IPokemonStorageScreen.scene</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a519ec094355501d5c9e0ec69663f8083" name="a519ec094355501d5c9e0ec69663f8083"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a519ec094355501d5c9e0ec69663f8083">&#9670;&#160;</a></span>storage</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_storage.cshtml">IPokemonStorage</a> PokemonEssentials.Interface.Screen.IPokemonStorageScreen.storage</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_p_c_storage_pokemon_8cs.cshtml">IPCStoragePokemon.cs</a></li>
</ul>
