@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.ILoadScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ILoadScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ILoadScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.png" usemap="#PokemonEssentials.Interface.Screen.ILoadScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.ILoadScreen_map" name="PokemonEssentials.Interface.Screen.ILoadScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,294,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a953875269774c4e051277f2f9f0e6766"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#a953875269774c4e051277f2f9f0e6766">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a> scene)</td></tr>
<tr class="separator:a953875269774c4e051277f2f9f0e6766"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad217cf64d2bebab0f57f673ffd1e403b"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#ad217cf64d2bebab0f57f673ffd1e403b">pbTryLoadFile</a> (string savefile)</td></tr>
<tr class="separator:ad217cf64d2bebab0f57f673ffd1e403b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1f5641cadb1d4d68c7c1f283d2fdf41"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#ab1f5641cadb1d4d68c7c1f283d2fdf41">pbStartDeleteScreen</a> ()</td></tr>
<tr class="separator:ab1f5641cadb1d4d68c7c1f283d2fdf41"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a053ed31dc21f7536152197c253668366"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#a053ed31dc21f7536152197c253668366">pbStartLoadScreen</a> ()</td></tr>
<tr class="separator:a053ed31dc21f7536152197c253668366"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a953875269774c4e051277f2f9f0e6766" name="a953875269774c4e051277f2f9f0e6766"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a953875269774c4e051277f2f9f0e6766">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a> PokemonEssentials.Interface.Screen.ILoadScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab1f5641cadb1d4d68c7c1f283d2fdf41" name="ab1f5641cadb1d4d68c7c1f283d2fdf41"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1f5641cadb1d4d68c7c1f283d2fdf41">&#9670;&#160;</a></span>pbStartDeleteScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScreen.pbStartDeleteScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a053ed31dc21f7536152197c253668366" name="a053ed31dc21f7536152197c253668366"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a053ed31dc21f7536152197c253668366">&#9670;&#160;</a></span>pbStartLoadScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScreen.pbStartLoadScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad217cf64d2bebab0f57f673ffd1e403b" name="ad217cf64d2bebab0f57f673ffd1e403b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad217cf64d2bebab0f57f673ffd1e403b">&#9670;&#160;</a></span>pbTryLoadFile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.Screen.ILoadScreen.pbTryLoadFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>savefile</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_load_8cs.cshtml">ILoad.cs</a></li>
</ul>
