@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">IPokemonEntryScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonEntryScene Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScene</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a>(string v)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a264cbab464201d07bfd2290fff972f87">pbEndScene</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a344b1765145f8b341a3d9a52d358a0a7">pbEntry</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScene</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml#a1289a62b1b59a7b7b1d02c18147dece3">pbStartScene</a>(string helptext, int minlength, int maxlength, string initialText, PokemonUnity.UX.TextEntryTypes subject=0, IPokemon pokemon=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_entry_scene.cshtml">PokemonEssentials.Interface.Screen.IPokemonEntryScene</a></td><td class="entry"></td></tr>
</table>