@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.IGameMysteryGift Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml">IGameMysteryGift</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGameMysteryGift Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0348bdcb6bbb4bfbe13280292b68febd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a0348bdcb6bbb4bfbe13280292b68febd">pbEditMysteryGift</a> (int type, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, int id=0, string giftname=&quot;&quot;)</td></tr>
<tr class="separator:a0348bdcb6bbb4bfbe13280292b68febd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afdeb278c6df0d61e24c34e7fb9efd767"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#afdeb278c6df0d61e24c34e7fb9efd767">pbCreateMysteryGift</a> (int type, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:afdeb278c6df0d61e24c34e7fb9efd767"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43f39bfc0548189b4be9ca44d4c70516"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a43f39bfc0548189b4be9ca44d4c70516">pbManageMysteryGifts</a> ()</td></tr>
<tr class="separator:a43f39bfc0548189b4be9ca44d4c70516"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1bfd557a02694d47e80553c65e6ca395"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a1bfd557a02694d47e80553c65e6ca395">pbRefreshMGCommands</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a>[] master, int[] online)</td></tr>
<tr class="separator:a1bfd557a02694d47e80553c65e6ca395"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4a356f463fc6578ddd8af470a99e39af"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a4a356f463fc6578ddd8af470a99e39af">pbDownloadMysteryGift</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> trainer)</td></tr>
<tr class="separator:a4a356f463fc6578ddd8af470a99e39af"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae0002ac0dd7116330344971629e4c7b8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ae0002ac0dd7116330344971629e4c7b8">pbMysteryGiftEncrypt</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a> gift)</td></tr>
<tr class="separator:ae0002ac0dd7116330344971629e4c7b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1d1cd5eb3909c8534288d382143ba42"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#aa1d1cd5eb3909c8534288d382143ba42">pbMysteryGiftDecrypt</a> (string gift)</td></tr>
<tr class="separator:aa1d1cd5eb3909c8534288d382143ba42"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d4d0238c008e6775f831ffa8a648b76"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a0d4d0238c008e6775f831ffa8a648b76">pbNextMysteryGiftID</a> ()</td></tr>
<tr class="separator:a0d4d0238c008e6775f831ffa8a648b76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6b803dba83fb3ff4c932843c6ea73b0"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#ad6b803dba83fb3ff4c932843c6ea73b0">pbReceiveMysteryGift</a> (int id)</td></tr>
<tr class="separator:ad6b803dba83fb3ff4c932843c6ea73b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a46244fd9639806635fc51df4017a8e25"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_mystery_gift.cshtml#a46244fd9639806635fc51df4017a8e25">MYSTERYGIFTURL</a><code> [get]</code></td></tr>
<tr class="separator:a46244fd9639806635fc51df4017a8e25"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="afdeb278c6df0d61e24c34e7fb9efd767" name="afdeb278c6df0d61e24c34e7fb9efd767"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afdeb278c6df0d61e24c34e7fb9efd767">&#9670;&#160;</a></span>pbCreateMysteryGift()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IGameMysteryGift.pbCreateMysteryGift </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>type</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4a356f463fc6578ddd8af470a99e39af" name="a4a356f463fc6578ddd8af470a99e39af"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4a356f463fc6578ddd8af470a99e39af">&#9670;&#160;</a></span>pbDownloadMysteryGift()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.Screen.IGameMysteryGift.pbDownloadMysteryGift </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>trainer</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0348bdcb6bbb4bfbe13280292b68febd" name="a0348bdcb6bbb4bfbe13280292b68febd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0348bdcb6bbb4bfbe13280292b68febd">&#9670;&#160;</a></span>pbEditMysteryGift()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a> PokemonEssentials.Interface.Screen.IGameMysteryGift.pbEditMysteryGift </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>type</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>giftname</em> = <code>&quot;&quot;</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43f39bfc0548189b4be9ca44d4c70516" name="a43f39bfc0548189b4be9ca44d4c70516"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43f39bfc0548189b4be9ca44d4c70516">&#9670;&#160;</a></span>pbManageMysteryGifts()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IGameMysteryGift.pbManageMysteryGifts </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa1d1cd5eb3909c8534288d382143ba42" name="aa1d1cd5eb3909c8534288d382143ba42"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1d1cd5eb3909c8534288d382143ba42">&#9670;&#160;</a></span>pbMysteryGiftDecrypt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a> PokemonEssentials.Interface.Screen.IGameMysteryGift.pbMysteryGiftDecrypt </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>gift</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae0002ac0dd7116330344971629e4c7b8" name="ae0002ac0dd7116330344971629e4c7b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae0002ac0dd7116330344971629e4c7b8">&#9670;&#160;</a></span>pbMysteryGiftEncrypt()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameMysteryGift.pbMysteryGiftEncrypt </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a>&#160;</td>
          <td class="paramname"><em>gift</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0d4d0238c008e6775f831ffa8a648b76" name="a0d4d0238c008e6775f831ffa8a648b76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d4d0238c008e6775f831ffa8a648b76">&#9670;&#160;</a></span>pbNextMysteryGiftID()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IGameMysteryGift.pbNextMysteryGiftID </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad6b803dba83fb3ff4c932843c6ea73b0" name="ad6b803dba83fb3ff4c932843c6ea73b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6b803dba83fb3ff4c932843c6ea73b0">&#9670;&#160;</a></span>pbReceiveMysteryGift()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IGameMysteryGift.pbReceiveMysteryGift </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1bfd557a02694d47e80553c65e6ca395" name="a1bfd557a02694d47e80553c65e6ca395"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1bfd557a02694d47e80553c65e6ca395">&#9670;&#160;</a></span>pbRefreshMGCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IGameMysteryGift.pbRefreshMGCommands </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_mystery_gift_data.cshtml">IMysteryGiftData</a>[]&#160;</td>
          <td class="paramname"><em>master</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>online</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a46244fd9639806635fc51df4017a8e25" name="a46244fd9639806635fc51df4017a8e25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46244fd9639806635fc51df4017a8e25">&#9670;&#160;</a></span>MYSTERYGIFTURL</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Screen.IGameMysteryGift.MYSTERYGIFTURL</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_mystery_gift_8cs.cshtml">IMysteryGift.cs</a></li>
</ul>
