@{
	Page.Title = "PokemonEssentials.Interface.Field.IGameMetadataMisc Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml">IGameMetadataMisc</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IGameMetadataMisc Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IGameMetadataMisc:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.png" usemap="#PokemonEssentials.Interface.Field.IGameMetadataMisc_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.IGameMetadataMisc_map" name="PokemonEssentials.Interface.Field.IGameMetadataMisc_map">
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="0,56,323,80"/>
<area href="class_pokemon_unity_1_1_game.cshtml" title="Variables that are stored when game is saved, and other temp values used for gameplay." alt="PokemonUnity.Game" shape="rect" coords="333,56,656,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9b803fbc6296b6c64c980e1513141219"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a9b803fbc6296b6c64c980e1513141219">pbLoadMetadata</a> ()</td></tr>
<tr class="separator:a9b803fbc6296b6c64c980e1513141219"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a59a612ebcfa45e2705d4f396efc389a7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a59a612ebcfa45e2705d4f396efc389a7">pbGetMetadata</a> (int mapid)</td></tr>
<tr class="separator:a59a612ebcfa45e2705d4f396efc389a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6adfb12b464352f790b187b6127591c5"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a6adfb12b464352f790b187b6127591c5">pbLoadPhoneData</a> ()</td></tr>
<tr class="separator:a6adfb12b464352f790b187b6127591c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6bcec89f31f0baab72d17accf242f685"><td class="memItemLeft" align="right" valign="top">IList&lt; string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a6bcec89f31f0baab72d17accf242f685">pbOpenDexData</a> (Func&lt; IList&lt; string &gt;, IList&lt; string &gt; &gt; block=null)</td></tr>
<tr class="separator:a6bcec89f31f0baab72d17accf242f685"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34ee560478d12967176ebff47feaf452"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_metadata_misc.cshtml#a34ee560478d12967176ebff47feaf452">pbClearData</a> ()</td></tr>
<tr class="separator:a34ee560478d12967176ebff47feaf452"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a34ee560478d12967176ebff47feaf452" name="a34ee560478d12967176ebff47feaf452"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34ee560478d12967176ebff47feaf452">&#9670;&#160;</a></span>pbClearData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IGameMetadataMisc.pbClearData </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#aae72cbfb86061bafdfa966b8362bad0b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a59a612ebcfa45e2705d4f396efc389a7" name="a59a612ebcfa45e2705d4f396efc389a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59a612ebcfa45e2705d4f396efc389a7">&#9670;&#160;</a></span>pbGetMetadata()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a> PokemonEssentials.Interface.Field.IGameMetadataMisc.pbGetMetadata </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapid</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a0ad256cc76434cd97eb1cbd44488b36b">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a9b803fbc6296b6c64c980e1513141219" name="a9b803fbc6296b6c64c980e1513141219"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b803fbc6296b6c64c980e1513141219">&#9670;&#160;</a></span>pbLoadMetadata()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a> &gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.pbLoadMetadata </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a60eec53ed2dc9b874e90476ba094e8e3">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6adfb12b464352f790b187b6127591c5" name="a6adfb12b464352f790b187b6127591c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6adfb12b464352f790b187b6127591c5">&#9670;&#160;</a></span>pbLoadPhoneData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; int &gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.pbLoadPhoneData </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a4a252c38e6b1786bc927e83c36642a99">PokemonUnity.Game</a>.</p>

</div>
</div>
<a id="a6bcec89f31f0baab72d17accf242f685" name="a6bcec89f31f0baab72d17accf242f685"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6bcec89f31f0baab72d17accf242f685">&#9670;&#160;</a></span>pbOpenDexData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt; string &gt; PokemonEssentials.Interface.Field.IGameMetadataMisc.pbOpenDexData </td>
          <td>(</td>
          <td class="paramtype">Func&lt; IList&lt; string &gt;, IList&lt; string &gt; &gt;&#160;</td>
          <td class="paramname"><em>block</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_game.cshtml#a209fb0bfbbd63a0e310b268e726d9c20">PokemonUnity.Game</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>
