@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Screen.ILoadScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.ILoadScreen Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.ILoadScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.png" usemap="#PokemonEssentials.Interface.Screen.ILoadScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.ILoadScreen_map" name="PokemonEssentials.Interface.Screen.ILoadScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,294,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a953875269774c4e051277f2f9f0e6766"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#a953875269774c4e051277f2f9f0e6766">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a> scene)</td></tr>
<tr class="separator:a953875269774c4e051277f2f9f0e6766"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a25c4c36910edf0eaac898fa20f27bc7e"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#a25c4c36910edf0eaac898fa20f27bc7e">TryLoadFile</a> (string savefile)</td></tr>
<tr class="separator:a25c4c36910edf0eaac898fa20f27bc7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3581f8e2b6a1c923a64b34ed6533cc11"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#a3581f8e2b6a1c923a64b34ed6533cc11">StartDeleteScreen</a> ()</td></tr>
<tr class="separator:a3581f8e2b6a1c923a64b34ed6533cc11"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6d32a88897a570963ac2ad7a184f841"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml#af6d32a88897a570963ac2ad7a184f841">StartLoadScreen</a> ()</td></tr>
<tr class="separator:af6d32a88897a570963ac2ad7a184f841"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a953875269774c4e051277f2f9f0e6766" name="a953875269774c4e051277f2f9f0e6766"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a953875269774c4e051277f2f9f0e6766">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_screen.cshtml">ILoadScreen</a> PokemonEssentials.Interface.Screen.ILoadScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_load_scene.cshtml">ILoadScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3581f8e2b6a1c923a64b34ed6533cc11" name="a3581f8e2b6a1c923a64b34ed6533cc11"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3581f8e2b6a1c923a64b34ed6533cc11">&#9670;&#160;</a></span>StartDeleteScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScreen.StartDeleteScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af6d32a88897a570963ac2ad7a184f841" name="af6d32a88897a570963ac2ad7a184f841"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6d32a88897a570963ac2ad7a184f841">&#9670;&#160;</a></span>StartLoadScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.ILoadScreen.StartLoadScreen </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a25c4c36910edf0eaac898fa20f27bc7e" name="a25c4c36910edf0eaac898fa20f27bc7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25c4c36910edf0eaac898fa20f27bc7e">&#9670;&#160;</a></span>TryLoadFile()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonEssentials.Interface.Screen.ILoadScreen.TryLoadFile </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>savefile</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_load_8cs.cshtml">ILoad.cs</a></li>
</ul>

