@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">IGameMapResolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGameMapResolution Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#ade9d1531adc6658b5681e8712b51b1e5">display_x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#a1ecbc35835feec916e0dd12e514b3c7a">display_y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#a0efe5a5fbed657a81e9b11311b6704aa">realResX</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#aa88f97070fa3c14d58c66e8645e3e5aa">realResY</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#a91cc6ec4a8eeb6bffb7ae26cd8ff2677">scroll_down</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#a7154d4e396e5319699dc8db8c747499a">scroll_left</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#ae99b9f6ed9802ccb7f3a698b08ce7746">scroll_right</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml#a00fbe2972db7ac7bd469ec78e35b6fd0">scroll_up</a>(int distance)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map_resolution.cshtml">PokemonEssentials.Interface.IGameMapResolution</a></td><td class="entry"></td></tr>
</table>
