@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.ITileset Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml">ITileset</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ITileset Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9ec6cffa005c16057c3c43adfeeeda54"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a9ec6cffa005c16057c3c43adfeeeda54">id</a><code> [get, set]</code></td></tr>
<tr class="separator:a9ec6cffa005c16057c3c43adfeeeda54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abaaf1e20768ddb8fbeecc8cb049afb3b"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#abaaf1e20768ddb8fbeecc8cb049afb3b">name</a><code> [get, set]</code></td></tr>
<tr class="separator:abaaf1e20768ddb8fbeecc8cb049afb3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad978bb84c463bff55ff2f14ce96bc17"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#aad978bb84c463bff55ff2f14ce96bc17">tileset_name</a><code> [get, set]</code></td></tr>
<tr class="separator:aad978bb84c463bff55ff2f14ce96bc17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1b95e4f97667421528813408a4aa6e3"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#ad1b95e4f97667421528813408a4aa6e3">autotile_names</a><code> [get, set]</code></td></tr>
<tr class="separator:ad1b95e4f97667421528813408a4aa6e3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a804928b7adbdb152824d163dc2bd2583"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a804928b7adbdb152824d163dc2bd2583">panorama_name</a><code> [get, set]</code></td></tr>
<tr class="separator:a804928b7adbdb152824d163dc2bd2583"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2a5f320d45276ccaad3d527c6bd222c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#aa2a5f320d45276ccaad3d527c6bd222c">panorama_hue</a><code> [get, set]</code></td></tr>
<tr class="separator:aa2a5f320d45276ccaad3d527c6bd222c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9343a26c50ad45d2e8b01f6238eab2e4"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a9343a26c50ad45d2e8b01f6238eab2e4">fog_name</a><code> [get, set]</code></td></tr>
<tr class="separator:a9343a26c50ad45d2e8b01f6238eab2e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a60ecc06f06afb553da94a05436ac49ac"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a60ecc06f06afb553da94a05436ac49ac">fog_hue</a><code> [get, set]</code></td></tr>
<tr class="separator:a60ecc06f06afb553da94a05436ac49ac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a92347885b6f776d017644ae2ec1f0faa"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a92347885b6f776d017644ae2ec1f0faa">fog_opacity</a><code> [get, set]</code></td></tr>
<tr class="separator:a92347885b6f776d017644ae2ec1f0faa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18390f23d46a06b2febc5f48bd4d3c31"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a18390f23d46a06b2febc5f48bd4d3c31">fog_blend_type</a><code> [get, set]</code></td></tr>
<tr class="separator:a18390f23d46a06b2febc5f48bd4d3c31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e096b95cf7d086d7044befce947231f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a2e096b95cf7d086d7044befce947231f">fog_zoom</a><code> [get, set]</code></td></tr>
<tr class="separator:a2e096b95cf7d086d7044befce947231f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5d5a48dcaca969711f46009fe4d03e0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#ab5d5a48dcaca969711f46009fe4d03e0">fog_sx</a><code> [get, set]</code></td></tr>
<tr class="separator:ab5d5a48dcaca969711f46009fe4d03e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a299037ea912f6969b932f4398f76b42e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a299037ea912f6969b932f4398f76b42e">fog_sy</a><code> [get, set]</code></td></tr>
<tr class="separator:a299037ea912f6969b932f4398f76b42e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b6f463bc04c7d7964dc89f62bca2708"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a2b6f463bc04c7d7964dc89f62bca2708">battleback_name</a><code> [get, set]</code></td></tr>
<tr class="separator:a2b6f463bc04c7d7964dc89f62bca2708"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ed9467f52edde2b87e8f9b12519bf73"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a2ed9467f52edde2b87e8f9b12519bf73">passages</a><code> [get, set]</code></td></tr>
<tr class="separator:a2ed9467f52edde2b87e8f9b12519bf73"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26ebd07281f3f9dac9297e85dd67d8a5"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a26ebd07281f3f9dac9297e85dd67d8a5">priorities</a><code> [get, set]</code></td></tr>
<tr class="separator:a26ebd07281f3f9dac9297e85dd67d8a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0dc8a7d96da8d1e65466b44350403760"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">PokemonUnity.Overworld.Terrains</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_tileset.cshtml#a0dc8a7d96da8d1e65466b44350403760">terrain_tags</a><code> [get, set]</code></td></tr>
<tr class="separator:a0dc8a7d96da8d1e65466b44350403760"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad1b95e4f97667421528813408a4aa6e3" name="ad1b95e4f97667421528813408a4aa6e3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1b95e4f97667421528813408a4aa6e3">&#9670;&#160;</a></span>autotile_names</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonEssentials.Interface.ITileset.autotile_names</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2b6f463bc04c7d7964dc89f62bca2708" name="a2b6f463bc04c7d7964dc89f62bca2708"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b6f463bc04c7d7964dc89f62bca2708">&#9670;&#160;</a></span>battleback_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ITileset.battleback_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a18390f23d46a06b2febc5f48bd4d3c31" name="a18390f23d46a06b2febc5f48bd4d3c31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18390f23d46a06b2febc5f48bd4d3c31">&#9670;&#160;</a></span>fog_blend_type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_blend_type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a60ecc06f06afb553da94a05436ac49ac" name="a60ecc06f06afb553da94a05436ac49ac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a60ecc06f06afb553da94a05436ac49ac">&#9670;&#160;</a></span>fog_hue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_hue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9343a26c50ad45d2e8b01f6238eab2e4" name="a9343a26c50ad45d2e8b01f6238eab2e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9343a26c50ad45d2e8b01f6238eab2e4">&#9670;&#160;</a></span>fog_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ITileset.fog_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a92347885b6f776d017644ae2ec1f0faa" name="a92347885b6f776d017644ae2ec1f0faa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a92347885b6f776d017644ae2ec1f0faa">&#9670;&#160;</a></span>fog_opacity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_opacity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab5d5a48dcaca969711f46009fe4d03e0" name="ab5d5a48dcaca969711f46009fe4d03e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5d5a48dcaca969711f46009fe4d03e0">&#9670;&#160;</a></span>fog_sx</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_sx</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a299037ea912f6969b932f4398f76b42e" name="a299037ea912f6969b932f4398f76b42e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a299037ea912f6969b932f4398f76b42e">&#9670;&#160;</a></span>fog_sy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_sy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2e096b95cf7d086d7044befce947231f" name="a2e096b95cf7d086d7044befce947231f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e096b95cf7d086d7044befce947231f">&#9670;&#160;</a></span>fog_zoom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.fog_zoom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9ec6cffa005c16057c3c43adfeeeda54" name="a9ec6cffa005c16057c3c43adfeeeda54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ec6cffa005c16057c3c43adfeeeda54">&#9670;&#160;</a></span>id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abaaf1e20768ddb8fbeecc8cb049afb3b" name="abaaf1e20768ddb8fbeecc8cb049afb3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abaaf1e20768ddb8fbeecc8cb049afb3b">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ITileset.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2a5f320d45276ccaad3d527c6bd222c" name="aa2a5f320d45276ccaad3d527c6bd222c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2a5f320d45276ccaad3d527c6bd222c">&#9670;&#160;</a></span>panorama_hue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.ITileset.panorama_hue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a804928b7adbdb152824d163dc2bd2583" name="a804928b7adbdb152824d163dc2bd2583"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a804928b7adbdb152824d163dc2bd2583">&#9670;&#160;</a></span>panorama_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ITileset.panorama_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ed9467f52edde2b87e8f9b12519bf73" name="a2ed9467f52edde2b87e8f9b12519bf73"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ed9467f52edde2b87e8f9b12519bf73">&#9670;&#160;</a></span>passages</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.ITileset.passages</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a26ebd07281f3f9dac9297e85dd67d8a5" name="a26ebd07281f3f9dac9297e85dd67d8a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26ebd07281f3f9dac9297e85dd67d8a5">&#9670;&#160;</a></span>priorities</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonEssentials.Interface.ITileset.priorities</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0dc8a7d96da8d1e65466b44350403760" name="a0dc8a7d96da8d1e65466b44350403760"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0dc8a7d96da8d1e65466b44350403760">&#9670;&#160;</a></span>terrain_tags</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">PokemonUnity.Overworld.Terrains</a> [] PokemonEssentials.Interface.ITileset.terrain_tags</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aad978bb84c463bff55ff2f14ce96bc17" name="aad978bb84c463bff55ff2f14ce96bc17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad978bb84c463bff55ff2f14ce96bc17">&#9670;&#160;</a></span>tileset_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.ITileset.tileset_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>

