@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.IWindow Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml">IWindow</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_unity_1_1_i_window-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.IWindow Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a511857afa7ab08bcf0e3d4adecd5cb06"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml#a511857afa7ab08bcf0e3d4adecd5cb06">update</a> ()</td></tr>
<tr class="separator:a511857afa7ab08bcf0e3d4adecd5cb06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa843f95d77179e44b3ffd855ca26ccf3"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml#aa843f95d77179e44b3ffd855ca26ccf3">dispose</a> ()</td></tr>
<tr class="separator:aa843f95d77179e44b3ffd855ca26ccf3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aec1013980b8ec590bafafc7ff52a700d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_i_window.cshtml#aec1013980b8ec590bafafc7ff52a700d">visible</a><code> [get, set]</code></td></tr>
<tr class="separator:aec1013980b8ec590bafafc7ff52a700d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aa843f95d77179e44b3ffd855ca26ccf3" name="aa843f95d77179e44b3ffd855ca26ccf3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa843f95d77179e44b3ffd855ca26ccf3">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IWindow.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a511857afa7ab08bcf0e3d4adecd5cb06" name="a511857afa7ab08bcf0e3d4adecd5cb06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a511857afa7ab08bcf0e3d4adecd5cb06">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonUnity.IWindow.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aec1013980b8ec590bafafc7ff52a700d" name="aec1013980b8ec590bafafc7ff52a700d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec1013980b8ec590bafafc7ff52a700d">&#9670;&#160;</a></span>visible</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.IWindow.visible</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/<a class="el" href="_i_frontend_8cs.cshtml">IFrontend.cs</a></li>
</ul>
