@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IMinimumLevelRestriction Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml">IMinimumLevelRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IMinimumLevelRestriction Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.IMinimumLevelRestriction:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.png" usemap="#PokemonEssentials.Interface.Battle.IMinimumLevelRestriction_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.IMinimumLevelRestriction_map" name="PokemonEssentials.Interface.Battle.IMinimumLevelRestriction_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml" alt="PokemonEssentials.Interface.Battle.IBattleRestriction" shape="rect" coords="0,0,354,24"/>
<area href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml" alt="PokemonUnity.MinimumLevelRestriction" shape="rect" coords="0,112,354,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae34e9eb4f69b70e8af5a69e5bfda2d9e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_minimum_level_restriction.cshtml#ae34e9eb4f69b70e8af5a69e5bfda2d9e">level</a><code> [get]</code></td></tr>
<tr class="separator:ae34e9eb4f69b70e8af5a69e5bfda2d9e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td></tr>
<tr class="memitem:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:adaa85ab73a11a215ef2899adc05c62e1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae34e9eb4f69b70e8af5a69e5bfda2d9e" name="ae34e9eb4f69b70e8af5a69e5bfda2d9e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae34e9eb4f69b70e8af5a69e5bfda2d9e">&#9670;&#160;</a></span>level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IMinimumLevelRestriction.level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_minimum_level_restriction.cshtml#a1de07e174d9b4f6698d7574bebd4a781">PokemonUnity.MinimumLevelRestriction</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>

