@{
	Page.Title = "PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml">IOnTrainerPartyLoadEventArgs</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs Interface Reference</div></div>
}


<p>Parameters: e[0] - Trainer e[1] - Items possessed by the trainer e[2] - Party   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.png" usemap="#PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs_map" alt=""/>
  <map id="PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs_map" name="PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml" title="https://stackoverflow.com/a/47323956/3681384" alt="PokemonEssentials.Interface.EventArg.IEventArgs" shape="rect" coords="0,0,412,24"/>
<area href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml" title="Parameters: e[0] - Trainer e[1] - Items possessed by the trainer e[2] - Party" alt="PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs" shape="rect" coords="0,112,412,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a4dfbeb554447d4126003016b31002ade"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#a4dfbeb554447d4126003016b31002ade">Trainer</a><code> [get, set]</code></td></tr>
<tr class="separator:a4dfbeb554447d4126003016b31002ade"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2c7cc4d997898e69155a0363ebd0291"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#aa2c7cc4d997898e69155a0363ebd0291">Items</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aa2c7cc4d997898e69155a0363ebd0291"><td class="mdescLeft">&#160;</td><td class="mdescRight">Items possessed by the trainer   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#aa2c7cc4d997898e69155a0363ebd0291">More...</a><br /></td></tr>
<tr class="separator:aa2c7cc4d997898e69155a0363ebd0291"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad219a2c767040a3e45800c5b3b7b2ffd"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#ad219a2c767040a3e45800c5b3b7b2ffd">Party</a><code> [get, set]</code></td></tr>
<tr class="separator:ad219a2c767040a3e45800c5b3b7b2ffd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">PokemonEssentials.Interface.EventArg.IEventArgs</a></td></tr>
<tr class="memitem:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#afac1b59426777a445b272034bc86a3d7">Id</a><code> [get]</code></td></tr>
<tr class="separator:afac1b59426777a445b272034bc86a3d7 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Parameters: e[0] - Trainer e[1] - Items possessed by the trainer e[2] - Party  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="aa2c7cc4d997898e69155a0363ebd0291" name="aa2c7cc4d997898e69155a0363ebd0291"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2c7cc4d997898e69155a0363ebd0291">&#9670;&#160;</a></span>Items</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&gt; PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs.Items</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Items possessed by the trainer  </p>

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a85f8162aa3c4f6114f1a943fd9276b58">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a>.</p>

</div>
</div>
<a id="ad219a2c767040a3e45800c5b3b7b2ffd" name="ad219a2c767040a3e45800c5b3b7b2ffd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad219a2c767040a3e45800c5b3b7b2ffd">&#9670;&#160;</a></span>Party</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt; PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs.Party</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#ac311d64daa46d5fe36c87640ae46cc49">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a>.</p>

</div>
</div>
<a id="a4dfbeb554447d4126003016b31002ade" name="a4dfbeb554447d4126003016b31002ade"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4dfbeb554447d4126003016b31002ade">&#9670;&#160;</a></span>Trainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonEssentials.Interface.EventArg.IOnTrainerPartyLoadEventArgs.Trainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_event_arg_1_1_on_trainer_party_load_event_args.cshtml#a6d90aee9f5f9668bbd551b461e70a13a">PokemonUnity.EventArg.OnTrainerPartyLoadEventArgs</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_event_8cs.cshtml">IEvent.cs</a></li>
</ul>

