@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">IMapMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapMetadata Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#ae1b0cc4c2faf81c44f5880ba1e18c699">addErasedEvent</a>(int eventID)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a7e1c2240745da711ef7345aec558fc6b">addMovedEvent</a>(int eventID)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a54fa0c177f2c76b15129920a5f8874bf">blackFluteUsed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a7d9ffc71fc264f0c5ce34083ae0b1db2">clear</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#af3487ce663fc2e11e6050c489f1bec44">erasedEvents</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#ac8033e78ca339fe0ddd73ecebbb1c3da">movedEvents</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a94537e0e0677e140bc5d7a4741b2d068">strengthUsed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a41ffb38fec213ebfd425a872a89c5cd2">updateMap</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml#a2a70b0386049dcc199b6ecd6274c36c8">whiteFluteUsed</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_metadata.cshtml">PokemonEssentials.Interface.Field.IMapMetadata</a></td><td class="entry"></td></tr>
</table>
