@{
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.IEventCommand Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml">IEventCommand</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IEventCommand Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1773cc3fd407ef78524bc38457e750c4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#a1773cc3fd407ef78524bc38457e750c4">code</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1773cc3fd407ef78524bc38457e750c4"><td class="mdescLeft">&#160;</td><td class="mdescRight">The event code.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#a1773cc3fd407ef78524bc38457e750c4">More...</a><br /></td></tr>
<tr class="separator:a1773cc3fd407ef78524bc38457e750c4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e2826d0ca997e09998049fcff3b70d5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#a6e2826d0ca997e09998049fcff3b70d5">indent</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a6e2826d0ca997e09998049fcff3b70d5"><td class="mdescLeft">&#160;</td><td class="mdescRight">The indent depth. Usually 0; the [Conditional Branch] command, among others, adds 1 with every step deeper.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#a6e2826d0ca997e09998049fcff3b70d5">More...</a><br /></td></tr>
<tr class="separator:a6e2826d0ca997e09998049fcff3b70d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acce787b0eeffb907cbd24e8e1cde8ff8"><td class="memItemLeft" align="right" valign="top">List&lt; object &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#acce787b0eeffb907cbd24e8e1cde8ff8">parameters</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:acce787b0eeffb907cbd24e8e1cde8ff8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Array containing the Move command arguments. The contents vary for each command.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_command.cshtml#acce787b0eeffb907cbd24e8e1cde8ff8">More...</a><br /></td></tr>
<tr class="separator:acce787b0eeffb907cbd24e8e1cde8ff8"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1773cc3fd407ef78524bc38457e750c4" name="a1773cc3fd407ef78524bc38457e750c4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1773cc3fd407ef78524bc38457e750c4">&#9670;&#160;</a></span>code</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventCommand.code</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The event code.  </p>

</div>
</div>
<a id="a6e2826d0ca997e09998049fcff3b70d5" name="a6e2826d0ca997e09998049fcff3b70d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e2826d0ca997e09998049fcff3b70d5">&#9670;&#160;</a></span>indent</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventCommand.indent</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The indent depth. Usually 0; the [Conditional Branch] command, among others, adds 1 with every step deeper.  </p>

</div>
</div>
<a id="acce787b0eeffb907cbd24e8e1cde8ff8" name="acce787b0eeffb907cbd24e8e1cde8ff8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acce787b0eeffb907cbd24e8e1cde8ff8">&#9670;&#160;</a></span>parameters</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;object&gt; PokemonEssentials.Interface.RPGMaker.Kernal.IEventCommand.parameters</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Array containing the Move command arguments. The contents vary for each command.  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
