@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBagScreen Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a0fc27b3e11b4177e9f97fe3d1a8fcd4f">initialize</a>(IBagScene scene, IBag bag)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a49797a9cdaeae464dac5db1f11d3338d">pbChooseBerryScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#aa1e038d533834a68437ec6e294f4d45a">pbChooseItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#afd79e0af21774be35c751c1abe208edd">pbConfirm</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#ad783d1af0d1afa33d4b7d781cc525c37">pbDepositItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a8bca82224ec2834f93ff26b1a8d6508e">pbDisplay</a>(string text)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a402328b5b33362e70f5994b90163802c">pbGiveItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a282ca42f18e9433a6e78853b448dc076">pbStartScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a276478e956c456708d6d1241b36337f1">pbTossItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a902a317aeb072467f5647cd0a748e4de">pbUseItemScreen</a>(Pokemons pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml#a9c590d47ab31d3f2c179039f3cf6fe84">pbWithdrawItemScreen</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">PokemonEssentials.Interface.Screen.IBagScreen</a></td><td class="entry"></td></tr>
</table>