@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Battle.IBugContestState Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml">IBugContestState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IBugContestState Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a16952ed0e4cf11171912034bca9a1c78"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml">IBugContestState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a16952ed0e4cf11171912034bca9a1c78">initialize</a> ()</td></tr>
<tr class="separator:a16952ed0e4cf11171912034bca9a1c78"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7998418fef1f6a828b2cb5eb60b9793c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a7998418fef1f6a828b2cb5eb60b9793c">pbContestHeld</a> ()</td></tr>
<tr class="separator:a7998418fef1f6a828b2cb5eb60b9793c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1eaef276fcd1e8fe395ffb959a081d00"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a1eaef276fcd1e8fe395ffb959a081d00">expired</a> ()</td></tr>
<tr class="separator:a1eaef276fcd1e8fe395ffb959a081d00"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aceae5a52c37a23b2aee46d273a010a8e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#aceae5a52c37a23b2aee46d273a010a8e">clear</a> ()</td></tr>
<tr class="separator:aceae5a52c37a23b2aee46d273a010a8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acad33135cbf5ac07d0d38f56780a749a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#acad33135cbf5ac07d0d38f56780a749a">pbSetPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> chosenpoke)</td></tr>
<tr class="separator:acad33135cbf5ac07d0d38f56780a749a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa33b78d17a446d09732898f811d3ca5f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#aa33b78d17a446d09732898f811d3ca5f">pbSetReception</a> (params int[] arg)</td></tr>
<tr class="memdesc:aa33b78d17a446d09732898f811d3ca5f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Reception map is handled separately from contest map since the reception map can be outdoors, with its own grassy patches.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#aa33b78d17a446d09732898f811d3ca5f">More...</a><br /></td></tr>
<tr class="separator:aa33b78d17a446d09732898f811d3ca5f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad6d0ccef3df697ad7dcbd1a075d6a937"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#ad6d0ccef3df697ad7dcbd1a075d6a937">pbOffLimits</a> (int map)</td></tr>
<tr class="separator:ad6d0ccef3df697ad7dcbd1a075d6a937"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb40bf59ed1ac491e33fa0bacc17a745"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#aeb40bf59ed1ac491e33fa0bacc17a745">pbSetJudgingPoint</a> (int startMap, float startX, float startY, int dir=8)</td></tr>
<tr class="separator:aeb40bf59ed1ac491e33fa0bacc17a745"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0362252d56c8c263f6028d14b9e71c5c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a0362252d56c8c263f6028d14b9e71c5c">pbSetContestMap</a> (int map)</td></tr>
<tr class="separator:a0362252d56c8c263f6028d14b9e71c5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8bf4a98c9ed95f5fe52a5f13d7b8984c"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a8bf4a98c9ed95f5fe52a5f13d7b8984c">pbJudge</a> ()</td></tr>
<tr class="separator:a8bf4a98c9ed95f5fe52a5f13d7b8984c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7764c2e2004729a1019ed939fbff9d54"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a7764c2e2004729a1019ed939fbff9d54">pbGetPlaceInfo</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a2eb7f1ce010eef5945a6662e2dc7172f">place</a>)</td></tr>
<tr class="separator:a7764c2e2004729a1019ed939fbff9d54"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6a773e00c1f9af7eac0495d4523d35b4"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a6a773e00c1f9af7eac0495d4523d35b4">pbClearIfEnded</a> ()</td></tr>
<tr class="separator:a6a773e00c1f9af7eac0495d4523d35b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a863d6fd0c143b7523c21d3287114a3e0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a863d6fd0c143b7523c21d3287114a3e0">pbStartJudging</a> ()</td></tr>
<tr class="separator:a863d6fd0c143b7523c21d3287114a3e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95e50ff993704c3e331947eabf288b9b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a95e50ff993704c3e331947eabf288b9b">pbIsContestant</a> (int i)</td></tr>
<tr class="memdesc:a95e50ff993704c3e331947eabf288b9b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Linq through a list of trainers, to confirm if id is present   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a95e50ff993704c3e331947eabf288b9b">More...</a><br /></td></tr>
<tr class="separator:a95e50ff993704c3e331947eabf288b9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18575d13e37ed51d2a45f33cfc87508b"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a18575d13e37ed51d2a45f33cfc87508b">pbStart</a> (int <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#ad876dd054065a7228aa942587b54ded0">ballcount</a>)</td></tr>
<tr class="separator:a18575d13e37ed51d2a45f33cfc87508b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a62b40c7d030fdb0815cf00cf7086ff88"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a62b40c7d030fdb0815cf00cf7086ff88">pbEnd</a> (bool interrupted=false)</td></tr>
<tr class="separator:a62b40c7d030fdb0815cf00cf7086ff88"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad876dd054065a7228aa942587b54ded0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#ad876dd054065a7228aa942587b54ded0">ballcount</a><code> [get]</code></td></tr>
<tr class="separator:ad876dd054065a7228aa942587b54ded0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e9b40bcce309ac825d0eed89c58585c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a7e9b40bcce309ac825d0eed89c58585c">decision</a><code> [get]</code></td></tr>
<tr class="separator:a7e9b40bcce309ac825d0eed89c58585c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09bc40fcec6b52aedab1d9bb9c931fb2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a09bc40fcec6b52aedab1d9bb9c931fb2">lastPokemon</a><code> [get]</code></td></tr>
<tr class="separator:a09bc40fcec6b52aedab1d9bb9c931fb2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3874f84e81692cac9949f7df2d4fd88d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a3874f84e81692cac9949f7df2d4fd88d">timer</a><code> [get]</code></td></tr>
<tr class="separator:a3874f84e81692cac9949f7df2d4fd88d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8fe8b865c6baded44fe03405bc3760dd"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a8fe8b865c6baded44fe03405bc3760dd">ContestantNames</a><code> [get]</code></td></tr>
<tr class="separator:a8fe8b865c6baded44fe03405bc3760dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a843cc86500ea6f951aeb33a65754bfcc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a843cc86500ea6f951aeb33a65754bfcc">inProgress</a><code> [get]</code></td></tr>
<tr class="separator:a843cc86500ea6f951aeb33a65754bfcc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a037587f0811a8c879b44b4a9e9e3c0e8"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a037587f0811a8c879b44b4a9e9e3c0e8">undecided</a><code> [get]</code></td></tr>
<tr class="separator:a037587f0811a8c879b44b4a9e9e3c0e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a546aed50a4df00e2d6bf5aad89a8b3f5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a546aed50a4df00e2d6bf5aad89a8b3f5">decided</a><code> [get]</code></td></tr>
<tr class="separator:a546aed50a4df00e2d6bf5aad89a8b3f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2eb7f1ce010eef5945a6662e2dc7172f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml#a2eb7f1ce010eef5945a6662e2dc7172f">place</a><code> [get]</code></td></tr>
<tr class="separator:a2eb7f1ce010eef5945a6662e2dc7172f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aceae5a52c37a23b2aee46d273a010a8e" name="aceae5a52c37a23b2aee46d273a010a8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aceae5a52c37a23b2aee46d273a010a8e">&#9670;&#160;</a></span>clear()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.clear </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1eaef276fcd1e8fe395ffb959a081d00" name="a1eaef276fcd1e8fe395ffb959a081d00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1eaef276fcd1e8fe395ffb959a081d00">&#9670;&#160;</a></span>expired()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.expired </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a16952ed0e4cf11171912034bca9a1c78" name="a16952ed0e4cf11171912034bca9a1c78"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a16952ed0e4cf11171912034bca9a1c78">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml">IBugContestState</a> PokemonEssentials.Interface.Battle.IBugContestState.initialize </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6a773e00c1f9af7eac0495d4523d35b4" name="a6a773e00c1f9af7eac0495d4523d35b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6a773e00c1f9af7eac0495d4523d35b4">&#9670;&#160;</a></span>pbClearIfEnded()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbClearIfEnded </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7998418fef1f6a828b2cb5eb60b9793c" name="a7998418fef1f6a828b2cb5eb60b9793c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7998418fef1f6a828b2cb5eb60b9793c">&#9670;&#160;</a></span>pbContestHeld()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.pbContestHeld </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a62b40c7d030fdb0815cf00cf7086ff88" name="a62b40c7d030fdb0815cf00cf7086ff88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a62b40c7d030fdb0815cf00cf7086ff88">&#9670;&#160;</a></span>pbEnd()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbEnd </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>interrupted</em> = <code>false</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7764c2e2004729a1019ed939fbff9d54" name="a7764c2e2004729a1019ed939fbff9d54"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7764c2e2004729a1019ed939fbff9d54">&#9670;&#160;</a></span>pbGetPlaceInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbGetPlaceInfo </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>place</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a95e50ff993704c3e331947eabf288b9b" name="a95e50ff993704c3e331947eabf288b9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95e50ff993704c3e331947eabf288b9b">&#9670;&#160;</a></span>pbIsContestant()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.pbIsContestant </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>i</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Linq through a list of trainers, to confirm if id is present  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">i</td><td>Trainer Types?</td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>

</div>
</div>
<a id="a8bf4a98c9ed95f5fe52a5f13d7b8984c" name="a8bf4a98c9ed95f5fe52a5f13d7b8984c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bf4a98c9ed95f5fe52a5f13d7b8984c">&#9670;&#160;</a></span>pbJudge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbJudge </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad6d0ccef3df697ad7dcbd1a075d6a937" name="ad6d0ccef3df697ad7dcbd1a075d6a937"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad6d0ccef3df697ad7dcbd1a075d6a937">&#9670;&#160;</a></span>pbOffLimits()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.pbOffLimits </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0362252d56c8c263f6028d14b9e71c5c" name="a0362252d56c8c263f6028d14b9e71c5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0362252d56c8c263f6028d14b9e71c5c">&#9670;&#160;</a></span>pbSetContestMap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbSetContestMap </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb40bf59ed1ac491e33fa0bacc17a745" name="aeb40bf59ed1ac491e33fa0bacc17a745"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb40bf59ed1ac491e33fa0bacc17a745">&#9670;&#160;</a></span>pbSetJudgingPoint()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbSetJudgingPoint </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>startMap</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>startX</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>startY</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dir</em> = <code>8</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acad33135cbf5ac07d0d38f56780a749a" name="acad33135cbf5ac07d0d38f56780a749a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acad33135cbf5ac07d0d38f56780a749a">&#9670;&#160;</a></span>pbSetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbSetPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>chosenpoke</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa33b78d17a446d09732898f811d3ca5f" name="aa33b78d17a446d09732898f811d3ca5f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa33b78d17a446d09732898f811d3ca5f">&#9670;&#160;</a></span>pbSetReception()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbSetReception </td>
          <td>(</td>
          <td class="paramtype">params int[]&#160;</td>
          <td class="paramname"><em>arg</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Reception map is handled separately from contest map since the reception map can be outdoors, with its own grassy patches.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">arg</td><td></td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a18575d13e37ed51d2a45f33cfc87508b" name="a18575d13e37ed51d2a45f33cfc87508b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18575d13e37ed51d2a45f33cfc87508b">&#9670;&#160;</a></span>pbStart()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbStart </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ballcount</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a863d6fd0c143b7523c21d3287114a3e0" name="a863d6fd0c143b7523c21d3287114a3e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a863d6fd0c143b7523c21d3287114a3e0">&#9670;&#160;</a></span>pbStartJudging()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IBugContestState.pbStartJudging </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad876dd054065a7228aa942587b54ded0" name="ad876dd054065a7228aa942587b54ded0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad876dd054065a7228aa942587b54ded0">&#9670;&#160;</a></span>ballcount</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBugContestState.ballcount</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8fe8b865c6baded44fe03405bc3760dd" name="a8fe8b865c6baded44fe03405bc3760dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8fe8b865c6baded44fe03405bc3760dd">&#9670;&#160;</a></span>ContestantNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonEssentials.Interface.Battle.IBugContestState.ContestantNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a546aed50a4df00e2d6bf5aad89a8b3f5" name="a546aed50a4df00e2d6bf5aad89a8b3f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a546aed50a4df00e2d6bf5aad89a8b3f5">&#9670;&#160;</a></span>decided</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.decided</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7e9b40bcce309ac825d0eed89c58585c" name="a7e9b40bcce309ac825d0eed89c58585c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e9b40bcce309ac825d0eed89c58585c">&#9670;&#160;</a></span>decision</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IBugContestState.decision</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a843cc86500ea6f951aeb33a65754bfcc" name="a843cc86500ea6f951aeb33a65754bfcc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a843cc86500ea6f951aeb33a65754bfcc">&#9670;&#160;</a></span>inProgress</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.inProgress</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a09bc40fcec6b52aedab1d9bb9c931fb2" name="a09bc40fcec6b52aedab1d9bb9c931fb2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09bc40fcec6b52aedab1d9bb9c931fb2">&#9670;&#160;</a></span>lastPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IBugContestState.lastPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2eb7f1ce010eef5945a6662e2dc7172f" name="a2eb7f1ce010eef5945a6662e2dc7172f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2eb7f1ce010eef5945a6662e2dc7172f">&#9670;&#160;</a></span>place</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBugContestState.place</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3874f84e81692cac9949f7df2d4fd88d" name="a3874f84e81692cac9949f7df2d4fd88d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3874f84e81692cac9949f7df2d4fd88d">&#9670;&#160;</a></span>timer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IBugContestState.timer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a037587f0811a8c879b44b4a9e9e3c0e8" name="a037587f0811a8c879b44b4a9e9e3c0e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a037587f0811a8c879b44b4a9e9e3c0e8">&#9670;&#160;</a></span>undecided</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IBugContestState.undecided</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_bug_contest_8cs.cshtml">IBugContest.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
