@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">IGameOrgBattleRules</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattleRules Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#aacd0d3991b17fb36aadf07e5bc17d2ee">BalancedLevelFromBST</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#acf639fff7fed0c8f0269c2c5a6eaa008">BaseStatTotal</a>(Pokemons species)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a74b5612a37364a8f9fcaf991a45118fa">BattleArenaRules</a>(bool openlevel)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a800316789961275e215d080f63206246">BattleFactoryRules</a>(bool @@double, bool openlevel)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a14b6f5ddc24cfcaa5c09bb810530e90c">BattlePalaceRules</a>(bool @@double, bool openlevel)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a4a16b4649bc85126177866ebdd34542e">BattleTowerRules</a>(bool @@double, bool openlevel)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a354437d445f82e8d75ad6ae7b0a8f7f2">FancyCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a656228e9b9dec69d7701288629a031ac">LittleCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a581dfac863ea080ae053367a0bd7979b">PikaCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#ad7564274e37079d386ca4d7b3169b838">PokeCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a41bfd2e2656aadeacdda02870c08b11c">PrimeCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a1b322cdf0b433347fb6a11df858dc90e">StrictLittleCupRules</a>(bool @@double)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#a6744c1b9294f536f8983917500aa254d">TooHeavy</a>(IPokemon pokemon, double maxWeightInKg)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml#aaf574245bcf497582940506fbd925f19">TooTall</a>(IPokemon pokemon, double maxHeightInMeters)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_rules.cshtml">PokemonEssentials.Interface.Battle.IGameOrgBattleRules</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
