@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">ILocalizationDictionaryProvider</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.ILocalizationDictionaryProvider Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a5642802c66b538df13534aa57c956507">DefaultDictionary</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#af298bed263efd053b98b01fb8c435e74">Dictionaries</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#a9f9ba2c3add0e533640d3e6db2fa662f">Extend</a>(Translator.Language.XmlLocalizationDictionary dictionary)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml#ae263cfa0a127b57d0922986a3d7ecca4">Initialize</a>(string sourceName)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_localization_dictionary_provider.cshtml">PokemonUnity.ILocalizationDictionaryProvider</a></td><td class="entry"></td></tr>
</table>