@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IPokemonMenuScene Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml">IPokemonMenuScene</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPokemonMenuScene Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IPokemonMenuScene:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.png" usemap="#PokemonEssentials.Interface.Screen.IPokemonMenuScene_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IPokemonMenuScene_map" name="PokemonEssentials.Interface.Screen.IPokemonMenuScene_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml" title="A scene basically represents unity (or any frontend) where code pauses for user interaction (animatio..." alt="PokemonEssentials.Interface.Screen.IScene" shape="rect" coords="0,56,344,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml" alt="PokemonEssentials.Interface.Screen.IHasDisplayMessage" shape="rect" coords="0,0,344,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a98dba77543faa56a06042f9de7bf2c75"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a98dba77543faa56a06042f9de7bf2c75">pbEndScene</a> ()</td></tr>
<tr class="separator:a98dba77543faa56a06042f9de7bf2c75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aca23e39ffe52db7ad8b69add63d9ef86"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#aca23e39ffe52db7ad8b69add63d9ef86">pbHideMenu</a> ()</td></tr>
<tr class="separator:aca23e39ffe52db7ad8b69add63d9ef86"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee4316c3c65a4836f806721cfbf06e93"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#aee4316c3c65a4836f806721cfbf06e93">pbShowCommands</a> (string[] commands)</td></tr>
<tr class="separator:aee4316c3c65a4836f806721cfbf06e93"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9a9a7df3cbb9f05c9e667c95590c94cd"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a9a9a7df3cbb9f05c9e667c95590c94cd">pbShowHelp</a> (string text)</td></tr>
<tr class="separator:a9a9a7df3cbb9f05c9e667c95590c94cd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6e1037a433d8b1b25c29b0f21e750871"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a6e1037a433d8b1b25c29b0f21e750871">pbShowInfo</a> (string text)</td></tr>
<tr class="separator:a6e1037a433d8b1b25c29b0f21e750871"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2cf83ad774eb147d86007f75b25f2c7"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#aa2cf83ad774eb147d86007f75b25f2c7">pbShowMenu</a> ()</td></tr>
<tr class="separator:aa2cf83ad774eb147d86007f75b25f2c7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a183c1667009e74c0e87ab9b07b9016e6"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_pokemon_menu_scene.cshtml#a183c1667009e74c0e87ab9b07b9016e6">pbStartScene</a> ()</td></tr>
<tr class="separator:a183c1667009e74c0e87ab9b07b9016e6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#af39f043e72772055f2f8d23506ea3d42">pbRefresh</a> ()</td></tr>
<tr class="separator:af39f043e72772055f2f8d23506ea3d42 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a></td></tr>
<tr class="memitem:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml#ae7a6744a7fe8872af9b6aecd5f5a88db">pbDisplay</a> (string v)</td></tr>
<tr class="separator:ae7a6744a7fe8872af9b6aecd5f5a88db inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml">PokemonEssentials.Interface.Screen.IScene</a></td></tr>
<tr class="memitem:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="mdescLeft">&#160;</td><td class="mdescRight">Represents the unique id for given scene. Used for loading scenes in unity.   <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene.cshtml#a2e0682fc35b13f09f7467911124081ac">More...</a><br /></td></tr>
<tr class="separator:a2e0682fc35b13f09f7467911124081ac inherit properties_interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_scene"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a98dba77543faa56a06042f9de7bf2c75" name="a98dba77543faa56a06042f9de7bf2c75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98dba77543faa56a06042f9de7bf2c75">&#9670;&#160;</a></span>pbEndScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbEndScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aca23e39ffe52db7ad8b69add63d9ef86" name="aca23e39ffe52db7ad8b69add63d9ef86"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca23e39ffe52db7ad8b69add63d9ef86">&#9670;&#160;</a></span>pbHideMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbHideMenu </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aee4316c3c65a4836f806721cfbf06e93" name="aee4316c3c65a4836f806721cfbf06e93"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee4316c3c65a4836f806721cfbf06e93">&#9670;&#160;</a></span>pbShowCommands()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbShowCommands </td>
          <td>(</td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>commands</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9a9a7df3cbb9f05c9e667c95590c94cd" name="a9a9a7df3cbb9f05c9e667c95590c94cd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9a9a7df3cbb9f05c9e667c95590c94cd">&#9670;&#160;</a></span>pbShowHelp()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbShowHelp </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a6e1037a433d8b1b25c29b0f21e750871" name="a6e1037a433d8b1b25c29b0f21e750871"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6e1037a433d8b1b25c29b0f21e750871">&#9670;&#160;</a></span>pbShowInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbShowInfo </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2cf83ad774eb147d86007f75b25f2c7" name="aa2cf83ad774eb147d86007f75b25f2c7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2cf83ad774eb147d86007f75b25f2c7">&#9670;&#160;</a></span>pbShowMenu()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbShowMenu </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a183c1667009e74c0e87ab9b07b9016e6" name="a183c1667009e74c0e87ab9b07b9016e6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a183c1667009e74c0e87ab9b07b9016e6">&#9670;&#160;</a></span>pbStartScene()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPokemonMenuScene.pbStartScene </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_pause_menu_8cs.cshtml">IPauseMenu.cs</a></li>
</ul>
