@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">IGamePCStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IGamePCStorage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#acec1ea830d184ade5657df330ddea31f">GetStorageCreator</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#ad8c9ee38661cd1bc2c76edf82507bc4c">PCItemStorage</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a89cf388052dcaabea7918f167b33ac3f">PCMailbox</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a148061a2e7f375109d56558778d41d57">PokeCenterPC</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#a3d3e1b87ec79d4def8e310a2588235da">TrainerPC</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml#ac77a74bce4b1ab6d165e471662adbf21">TrainerPCMenu</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_game_p_c_storage.cshtml">PokemonEssentials.Interface.Screen.IGamePCStorage</a></td><td class="entry"></td></tr>
</table>
