@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.PokeBattle.IBattlePeer Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">IBattlePeer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePeer Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattlePeer:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattlePeer_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattlePeer_map" name="PokemonEssentials.Interface.PokeBattle.IBattlePeer_map">
<area href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml" alt="PokemonUnity.Monster.PokeBattle_NullBattlePeer" shape="rect" coords="0,56,301,80"/>
<area href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml" alt="PokemonUnity.Monster.PokeBattle_RealBattlePeer" shape="rect" coords="311,56,612,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3c014695eb1c1d55d5b2a08e5827cc76"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a3c014695eb1c1d55d5b2a08e5827cc76">StorePokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> player, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a3c014695eb1c1d55d5b2a08e5827cc76"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adcefd4613d159875a796a1f927fe91d3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#adcefd4613d159875a796a1f927fe91d3">GetStorageCreator</a> ()</td></tr>
<tr class="separator:adcefd4613d159875a796a1f927fe91d3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73f5f4d36e654abc1135b1f6c7d0c577"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a73f5f4d36e654abc1135b1f6c7d0c577">CurrentBox</a> ()</td></tr>
<tr class="separator:a73f5f4d36e654abc1135b1f6c7d0c577"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5bbf695a65d83066870b056183b4a23f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml#a5bbf695a65d83066870b056183b4a23f">BoxName</a> (int box)</td></tr>
<tr class="separator:a5bbf695a65d83066870b056183b4a23f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a5bbf695a65d83066870b056183b4a23f" name="a5bbf695a65d83066870b056183b4a23f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5bbf695a65d83066870b056183b4a23f">&#9670;&#160;</a></span>BoxName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattlePeer.BoxName </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>box</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#ade4f93f90808cb6af40cadb5178d0ec6">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a>, and <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#aab53f887d35a0302476e3ac352b1aa7b">PokemonUnity.Monster.PokeBattle_RealBattlePeer</a>.</p>

</div>
</div>
<a id="a73f5f4d36e654abc1135b1f6c7d0c577" name="a73f5f4d36e654abc1135b1f6c7d0c577"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73f5f4d36e654abc1135b1f6c7d0c577">&#9670;&#160;</a></span>CurrentBox()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlePeer.CurrentBox </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a4bc7719ca1f51387206b996759d760c1">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a>, and <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a9e0f7e371fa54a4d5e9a253fc122d1c4">PokemonUnity.Monster.PokeBattle_RealBattlePeer</a>.</p>

</div>
</div>
<a id="adcefd4613d159875a796a1f927fe91d3" name="adcefd4613d159875a796a1f927fe91d3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adcefd4613d159875a796a1f927fe91d3">&#9670;&#160;</a></span>GetStorageCreator()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.PokeBattle.IBattlePeer.GetStorageCreator </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml#a812e157d827efc83c56aac193adab39b">PokemonUnity.Monster.PokeBattle_NullBattlePeer</a>, and <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a1847f5b90a934c724092668181b2dd0d">PokemonUnity.Monster.PokeBattle_RealBattlePeer</a>.</p>

</div>
</div>
<a id="a3c014695eb1c1d55d5b2a08e5827cc76" name="a3c014695eb1c1d55d5b2a08e5827cc76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c014695eb1c1d55d5b2a08e5827cc76">&#9670;&#160;</a></span>StorePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattlePeer.StorePokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a1a2803c23df59c2971c1960106164bad">PokemonUnity.Monster.PokeBattle_RealBattlePeer</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_peer_8cs.cshtml">IBattlePeer.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
