@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">IEnumOption</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt; Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">IPropertyMixin&lt; string &gt;.get</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; string &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#af3d40b22d96f049684e3375622ddc06d">PokemonEssentials::Interface::Screen::IPropertyMixin.get</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml#a21704ed0be27da5cbd600f7f7d466408">initialize</a>(string name, T options, Func&lt; int, T &gt; getProc, Action&lt; int &gt; setProc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a44c39e2d8b17094289c3b93843b1d620">name</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a1d7eef4088ad21d190cc805d06f1c09f">next</a>(int current)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml#a891872de469e1c3d07a3a9bb40caab98">prev</a>(int current)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_option_value.cshtml">PokemonEssentials.Interface.Screen.IOptionValue</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">IPropertyMixin&lt; string &gt;.set</a>(Action&lt; int &gt; value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; string &gt;</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml#a33560f3f7b981b0dee5929bb2fd4ae28">PokemonEssentials::Interface::Screen::IPropertyMixin.set</a>(Action&lt; int &gt; value)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_property_mixin.cshtml">PokemonEssentials.Interface.Screen.IPropertyMixin&lt; T &gt;</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml#adc70741da73683419ca6644580e7a9b1">values</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_enum_option.cshtml">PokemonEssentials.Interface.Screen.IEnumOption&lt; T &gt;</a></td><td class="entry"></td></tr>
</table>