@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattleRecordData Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml">IBattleRecordData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattleRecordData Interface Reference</div></div>
}


<p>Represents a json object that can be saved/loaded to re-play a recorded pokemon battle   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattleRecordData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattleRecordData_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattleRecordData_map" name="PokemonEssentials.Interface.PokeBattle.IBattleRecordData_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IRecordedBattle" shape="rect" coords="0,56,397,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_arena.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IRecordedBattleArena" shape="rect" coords="407,56,804,80"/>
<area href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_recorded_battle_palace.cshtml" alt="PokemonEssentials.Interface.PokeBattle.IRecordedBattlePalace" shape="rect" coords="814,56,1211,80"/>
<area href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml" alt="PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;" shape="rect" coords="1221,56,1618,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a9e2b43f4260b2732bfbf09d84ea30710"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#a9e2b43f4260b2732bfbf09d84ea30710">battletype</a><code> [get]</code></td></tr>
<tr class="separator:a9e2b43f4260b2732bfbf09d84ea30710"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a539e64f6c1bb3e6cae68db3d61c29363"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#a539e64f6c1bb3e6cae68db3d61c29363">properties</a><code> [get]</code></td></tr>
<tr class="separator:a539e64f6c1bb3e6cae68db3d61c29363"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc55100c5c32b5fb7cc3fb1838aaaa6d"><td class="memItemLeft" align="right" valign="top">IList&lt; KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>, int &gt;?[]&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#adc55100c5c32b5fb7cc3fb1838aaaa6d">rounds</a><code> [get]</code></td></tr>
<tr class="separator:adc55100c5c32b5fb7cc3fb1838aaaa6d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbd4773a150a7e21797cd63598c51492"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#afbd4773a150a7e21797cd63598c51492">randomnumbers</a><code> [get]</code></td></tr>
<tr class="separator:afbd4773a150a7e21797cd63598c51492"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a424627367bf8e5c7b883f943b4562e62"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_record_data.cshtml#a424627367bf8e5c7b883f943b4562e62">switches</a><code> [get]</code></td></tr>
<tr class="separator:a424627367bf8e5c7b883f943b4562e62"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Represents a json object that can be saved/loaded to re-play a recorded pokemon battle  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a9e2b43f4260b2732bfbf09d84ea30710" name="a9e2b43f4260b2732bfbf09d84ea30710"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e2b43f4260b2732bfbf09d84ea30710">&#9670;&#160;</a></span>battletype</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.PokeBattle.IBattleRecordData.battletype</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a37abb245418f814ff8e4822b13cc3bbe">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>.</p>

</div>
</div>
<a id="a539e64f6c1bb3e6cae68db3d61c29363" name="a539e64f6c1bb3e6cae68db3d61c29363"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a539e64f6c1bb3e6cae68db3d61c29363">&#9670;&#160;</a></span>properties</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_meta_data.cshtml">IBattleMetaData</a> PokemonEssentials.Interface.PokeBattle.IBattleRecordData.properties</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a38aa21d0dcdbf6c077796bbf99e11e73">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>.</p>

</div>
</div>
<a id="afbd4773a150a7e21797cd63598c51492" name="afbd4773a150a7e21797cd63598c51492"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbd4773a150a7e21797cd63598c51492">&#9670;&#160;</a></span>randomnumbers</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; PokemonEssentials.Interface.PokeBattle.IBattleRecordData.randomnumbers</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a9b67ae74592f8c8a42314a7313a577e5">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>.</p>

</div>
</div>
<a id="adc55100c5c32b5fb7cc3fb1838aaaa6d" name="adc55100c5c32b5fb7cc3fb1838aaaa6d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc55100c5c32b5fb7cc3fb1838aaaa6d">&#9670;&#160;</a></span>rounds</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a364d171b099c451f5ae9c98bada13608">MenuCommands</a>, int&gt;?[]&gt; PokemonEssentials.Interface.PokeBattle.IBattleRecordData.rounds</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#a11edb706d10d2ae192d915e61d807f60">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>.</p>

</div>
</div>
<a id="a424627367bf8e5c7b883f943b4562e62" name="a424627367bf8e5c7b883f943b4562e62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a424627367bf8e5c7b883f943b4562e62">&#9670;&#160;</a></span>switches</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; PokemonEssentials.Interface.PokeBattle.IBattleRecordData.switches</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_combat_1_1_poke_battle___recorded_battle_module.cshtml#affca1c93ace8e6474960d85396b9a716">PokemonUnity.Combat.PokeBattle_RecordedBattleModule&lt; TBattle &gt;</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/PokeBattle/<a class="el" href="_i_battle_recorder_8cs.cshtml">IBattleRecorder.cs</a></li>
</ul>

