@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IRelicStoneScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml">IRelicStoneScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IRelicStoneScreen Interface Reference</div></div>
}


<p><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a> class for handling game logic   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IRelicStoneScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.png" usemap="#PokemonEssentials.Interface.Screen.IRelicStoneScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IRelicStoneScreen_map" name="PokemonEssentials.Interface.Screen.IRelicStoneScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,326,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af417ad3d1da996b7c841c26b0ba65a18"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml">IRelicStoneScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#af417ad3d1da996b7c841c26b0ba65a18">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">IRelicStoneScene</a> scene)</td></tr>
<tr class="separator:af417ad3d1da996b7c841c26b0ba65a18"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae6f1a6f79f2a28320a9a3981203dc7c0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#ae6f1a6f79f2a28320a9a3981203dc7c0">Refresh</a> ()</td></tr>
<tr class="separator:ae6f1a6f79f2a28320a9a3981203dc7c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a473c5439de489f716bb27502a76d87e9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#a473c5439de489f716bb27502a76d87e9">Confirm</a> (string x)</td></tr>
<tr class="separator:a473c5439de489f716bb27502a76d87e9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac646441994ad0b55f697f901a9c229ce"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#ac646441994ad0b55f697f901a9c229ce">Display</a> (string x)</td></tr>
<tr class="separator:ac646441994ad0b55f697f901a9c229ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5883ee743d76411846fc31090de4cb69"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml#a5883ee743d76411846fc31090de4cb69">StartScreen</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> pokemon)</td></tr>
<tr class="separator:a5883ee743d76411846fc31090de4cb69"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p ><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a> class for handling game logic  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a473c5439de489f716bb27502a76d87e9" name="a473c5439de489f716bb27502a76d87e9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a473c5439de489f716bb27502a76d87e9">&#9670;&#160;</a></span>Confirm()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRelicStoneScreen.Confirm </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac646441994ad0b55f697f901a9c229ce" name="ac646441994ad0b55f697f901a9c229ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac646441994ad0b55f697f901a9c229ce">&#9670;&#160;</a></span>Display()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRelicStoneScreen.Display </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>x</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af417ad3d1da996b7c841c26b0ba65a18" name="af417ad3d1da996b7c841c26b0ba65a18"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af417ad3d1da996b7c841c26b0ba65a18">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_screen.cshtml">IRelicStoneScreen</a> PokemonEssentials.Interface.Screen.IRelicStoneScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_relic_stone_scene.cshtml">IRelicStoneScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae6f1a6f79f2a28320a9a3981203dc7c0" name="ae6f1a6f79f2a28320a9a3981203dc7c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6f1a6f79f2a28320a9a3981203dc7c0">&#9670;&#160;</a></span>Refresh()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRelicStoneScreen.Refresh </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5883ee743d76411846fc31090de4cb69" name="a5883ee743d76411846fc31090de4cb69"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5883ee743d76411846fc31090de4cb69">&#9670;&#160;</a></span>StartScreen()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IRelicStoneScreen.StartScreen </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_relic_stone_8cs.cshtml">IRelicStone.cs</a></li>
</ul>

