@{
	Page.Title = "PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml">IBerryPlantMoistureSprite</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:afadfbe38e73335704e3d21a1d9af9eca"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml">IBerryPlantMoistureSprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml#afadfbe38e73335704e3d21a1d9af9eca">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@event, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> map, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a> viewport=null)</td></tr>
<tr class="separator:afadfbe38e73335704e3d21a1d9af9eca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01b119085d0899056320cb067c50827e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml#a01b119085d0899056320cb067c50827e">disposed</a> ()</td></tr>
<tr class="separator:a01b119085d0899056320cb067c50827e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8b9360b196f0d46d87aa84ee97e3dc3a"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml#a8b9360b196f0d46d87aa84ee97e3dc3a">dispose</a> ()</td></tr>
<tr class="separator:a8b9360b196f0d46d87aa84ee97e3dc3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a91ac7feb6a1d5cb5f9758bf301ae0318"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml#a91ac7feb6a1d5cb5f9758bf301ae0318">updateGraphic</a> ()</td></tr>
<tr class="separator:a91ac7feb6a1d5cb5f9758bf301ae0318"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a749843965cccf4f56fd39fe845196d1e"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml#a749843965cccf4f56fd39fe845196d1e">update</a> ()</td></tr>
<tr class="separator:a749843965cccf4f56fd39fe845196d1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a8b9360b196f0d46d87aa84ee97e3dc3a" name="a8b9360b196f0d46d87aa84ee97e3dc3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8b9360b196f0d46d87aa84ee97e3dc3a">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a01b119085d0899056320cb067c50827e" name="a01b119085d0899056320cb067c50827e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01b119085d0899056320cb067c50827e">&#9670;&#160;</a></span>disposed()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite.disposed </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="afadfbe38e73335704e3d21a1d9af9eca" name="afadfbe38e73335704e3d21a1d9af9eca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afadfbe38e73335704e3d21a1d9af9eca">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_berry_plant_moisture_sprite.cshtml">IBerryPlantMoistureSprite</a> PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_character.cshtml">IGameCharacter</a> @@&#160;</td>
          <td class="paramname"><em>event</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_viewport.cshtml">IViewport</a>&#160;</td>
          <td class="paramname"><em>viewport</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a749843965cccf4f56fd39fe845196d1e" name="a749843965cccf4f56fd39fe845196d1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a749843965cccf4f56fd39fe845196d1e">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a91ac7feb6a1d5cb5f9758bf301ae0318" name="a91ac7feb6a1d5cb5f9758bf301ae0318"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a91ac7feb6a1d5cb5f9758bf301ae0318">&#9670;&#160;</a></span>updateGraphic()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Field.IBerryPlantMoistureSprite.updateGraphic </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_berry_plants_8cs.cshtml">IBerryPlants.cs</a></li>
</ul>

