@{
	Page.Title = "PokemonEssentials.Interface.Field.ITempMetadata Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml">ITempMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.ITempMetadata Interface Reference</div></div>
}


<p>Temporary data which is not saved and which is erased when a game restarts.   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Field.ITempMetadata:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.png" usemap="#PokemonEssentials.Interface.Field.ITempMetadata_map" alt=""/>
  <map id="PokemonEssentials.Interface.Field.ITempMetadata_map" name="PokemonEssentials.Interface.Field.ITempMetadata_map">
<area href="class_pokemon_unity_1_1_pokemon_temp.cshtml" title="Temporary data which is not saved and which is erased when a game restarts." alt="PokemonUnity.PokemonTemp" shape="rect" coords="0,56,294,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae1ecef763c6908faa5e063b1bbbcaaa1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#ae1ecef763c6908faa5e063b1bbbcaaa1">menuLastChoice</a><code> [get, set]</code></td></tr>
<tr class="separator:ae1ecef763c6908faa5e063b1bbbcaaa1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34520bb27023de2601d4592e82c8ab88"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a34520bb27023de2601d4592e82c8ab88">keyItemCalling</a><code> [get, set]</code></td></tr>
<tr class="separator:a34520bb27023de2601d4592e82c8ab88"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f476785975188b619203677b326076d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a7f476785975188b619203677b326076d">hiddenMoveEventCalling</a><code> [get, set]</code></td></tr>
<tr class="separator:a7f476785975188b619203677b326076d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a12a0198d93967e2173d410c3a05e747e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a12a0198d93967e2173d410c3a05e747e">begunNewGame</a><code> [get, set]</code></td></tr>
<tr class="separator:a12a0198d93967e2173d410c3a05e747e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b7dfc8119ee4279c6105e5ec02d86dc"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a2b7dfc8119ee4279c6105e5ec02d86dc">miniupdate</a><code> [get, set]</code></td></tr>
<tr class="separator:a2b7dfc8119ee4279c6105e5ec02d86dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73b8c868a0a66b43d76b1530581b0322"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a73b8c868a0a66b43d76b1530581b0322">waitingTrainer</a><code> [get, set]</code></td></tr>
<tr class="separator:a73b8c868a0a66b43d76b1530581b0322"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ade1802d10b3a9ec890366818c0f1ee"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a4ade1802d10b3a9ec890366818c0f1ee">darknessSprite</a><code> [get, set]</code></td></tr>
<tr class="separator:a4ade1802d10b3a9ec890366818c0f1ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4926104bb215923ad4a5834ef4dce8e"><td class="memItemLeft" align="right" valign="top">IList&lt; string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#ab4926104bb215923ad4a5834ef4dce8e">pokemonDexData</a><code> [get]</code></td></tr>
<tr class="separator:ab4926104bb215923ad4a5834ef4dce8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac71cf65aecd0b2c7505768bedbe0d039"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#ac71cf65aecd0b2c7505768bedbe0d039">pokemonMetadata</a><code> [get, set]</code></td></tr>
<tr class="separator:ac71cf65aecd0b2c7505768bedbe0d039"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a660111c19677292116ed52b6f6546e12"><td class="memItemLeft" align="right" valign="top">IList&lt; int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a660111c19677292116ed52b6f6546e12">pokemonPhoneData</a><code> [get]</code></td></tr>
<tr class="separator:a660111c19677292116ed52b6f6546e12"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a943b5ee8d2955a40fa05f61d4aa6783c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a943b5ee8d2955a40fa05f61d4aa6783c">lastbattle</a><code> [get, set]</code></td></tr>
<tr class="separator:a943b5ee8d2955a40fa05f61d4aa6783c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a618f08fb13a0c7deb39cce2580cb0584"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_temp_metadata.cshtml#a618f08fb13a0c7deb39cce2580cb0584">flydata</a><code> [get, set]</code></td></tr>
<tr class="separator:a618f08fb13a0c7deb39cce2580cb0584"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Temporary data which is not saved and which is erased when a game restarts.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="a12a0198d93967e2173d410c3a05e747e" name="a12a0198d93967e2173d410c3a05e747e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a12a0198d93967e2173d410c3a05e747e">&#9670;&#160;</a></span>begunNewGame</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.ITempMetadata.begunNewGame</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#abb625b6cdaa58790d5b9cc2b4488f54f">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a4ade1802d10b3a9ec890366818c0f1ee" name="a4ade1802d10b3a9ec890366818c0f1ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ade1802d10b3a9ec890366818c0f1ee">&#9670;&#160;</a></span>darknessSprite</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> PokemonEssentials.Interface.Field.ITempMetadata.darknessSprite</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#a3072a6fa9c0b05e74f0668aca429b8b9">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a618f08fb13a0c7deb39cce2580cb0584" name="a618f08fb13a0c7deb39cce2580cb0584"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a618f08fb13a0c7deb39cce2580cb0584">&#9670;&#160;</a></span>flydata</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.flydata</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#aa39b6552b258adcd3dc6626da91c69ac">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a7f476785975188b619203677b326076d" name="a7f476785975188b619203677b326076d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f476785975188b619203677b326076d">&#9670;&#160;</a></span>hiddenMoveEventCalling</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.hiddenMoveEventCalling</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#aeaf965b1f7127362bbb04f5d0d6f447d">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a34520bb27023de2601d4592e82c8ab88" name="a34520bb27023de2601d4592e82c8ab88"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34520bb27023de2601d4592e82c8ab88">&#9670;&#160;</a></span>keyItemCalling</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.keyItemCalling</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#aea393ed3faf266ce71e48e965a5b3f85">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a943b5ee8d2955a40fa05f61d4aa6783c" name="a943b5ee8d2955a40fa05f61d4aa6783c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a943b5ee8d2955a40fa05f61d4aa6783c">&#9670;&#160;</a></span>lastbattle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.lastbattle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#ac1934aa73131274f45e2814fcc340441">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="ae1ecef763c6908faa5e063b1bbbcaaa1" name="ae1ecef763c6908faa5e063b1bbbcaaa1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1ecef763c6908faa5e063b1bbbcaaa1">&#9670;&#160;</a></span>menuLastChoice</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.menuLastChoice</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#a8fc67f0272af900d4b361309a8d8af7b">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a2b7dfc8119ee4279c6105e5ec02d86dc" name="a2b7dfc8119ee4279c6105e5ec02d86dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b7dfc8119ee4279c6105e5ec02d86dc">&#9670;&#160;</a></span>miniupdate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.miniupdate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#a0424a51ed44b0525dc5158b8a734b19b">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="ab4926104bb215923ad4a5834ef4dce8e" name="ab4926104bb215923ad4a5834ef4dce8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4926104bb215923ad4a5834ef4dce8e">&#9670;&#160;</a></span>pokemonDexData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;string&gt; PokemonEssentials.Interface.Field.ITempMetadata.pokemonDexData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#a049e1b2e5cf707d9e8e518cff317c8ae">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="ac71cf65aecd0b2c7505768bedbe0d039" name="ac71cf65aecd0b2c7505768bedbe0d039"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac71cf65aecd0b2c7505768bedbe0d039">&#9670;&#160;</a></span>pokemonMetadata</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_pokemon_metadata.cshtml">IPokemonMetadata</a>&gt; PokemonEssentials.Interface.Field.ITempMetadata.pokemonMetadata</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#acbd54c08622df030f0aafb191e80192a">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a660111c19677292116ed52b6f6546e12" name="a660111c19677292116ed52b6f6546e12"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a660111c19677292116ed52b6f6546e12">&#9670;&#160;</a></span>pokemonPhoneData</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;int&gt; PokemonEssentials.Interface.Field.ITempMetadata.pokemonPhoneData</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#ab691112f2da82b18cbdd5446b8f7522a">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<a id="a73b8c868a0a66b43d76b1530581b0322" name="a73b8c868a0a66b43d76b1530581b0322"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73b8c868a0a66b43d76b1530581b0322">&#9670;&#160;</a></span>waitingTrainer</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.ITempMetadata.waitingTrainer</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_pokemon_temp.cshtml#a2fe29cc5b75c4a1c2201e51d0f72f23c">PokemonUnity.PokemonTemp</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_temp_metadata_8cs.cshtml">ITempMetadata.cs</a></li>
</ul>

