@{
	Page.Title = "PokemonEssentials.Interface.Screen.IBattleSwapScreen Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">IBattleSwapScreen</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IBattleSwapScreen Interface Reference</div></div>
}


<p> 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Screen.IBattleSwapScreen:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.png" usemap="#PokemonEssentials.Interface.Screen.IBattleSwapScreen_map" alt=""/>
  <map id="PokemonEssentials.Interface.Screen.IBattleSwapScreen_map" name="PokemonEssentials.Interface.Screen.IBattleSwapScreen_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_screen.cshtml" alt="PokemonEssentials.Interface.Screen.IScreen" shape="rect" coords="0,0,328,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad8f39201455e66bfdf029ba510797d00"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">IBattleSwapScreen</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#ad8f39201455e66bfdf029ba510797d00">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml">IBattleSwapScene</a> scene)</td></tr>
<tr class="separator:ad8f39201455e66bfdf029ba510797d00"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a464717732f7aca22840f95e98a19c099"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#a464717732f7aca22840f95e98a19c099">pbStartRent</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] rentals)</td></tr>
<tr class="separator:a464717732f7aca22840f95e98a19c099"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2d3b4221a9989716beb6cb2ef330c6b4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml#a2d3b4221a9989716beb6cb2ef330c6b4">pbStartSwap</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] currentPokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] newPokemon)</td></tr>
<tr class="separator:a2d3b4221a9989716beb6cb2ef330c6b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ad8f39201455e66bfdf029ba510797d00" name="ad8f39201455e66bfdf029ba510797d00"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad8f39201455e66bfdf029ba510797d00">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_screen.cshtml">IBattleSwapScreen</a> PokemonEssentials.Interface.Screen.IBattleSwapScreen.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_battle_swap_scene.cshtml">IBattleSwapScene</a>&#160;</td>
          <td class="paramname"><em>scene</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a464717732f7aca22840f95e98a19c099" name="a464717732f7aca22840f95e98a19c099"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a464717732f7aca22840f95e98a19c099">&#9670;&#160;</a></span>pbStartRent()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IBattleSwapScreen.pbStartRent </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>rentals</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2d3b4221a9989716beb6cb2ef330c6b4" name="a2d3b4221a9989716beb6cb2ef330c6b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d3b4221a9989716beb6cb2ef330c6b4">&#9670;&#160;</a></span>pbStartSwap()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Screen.IBattleSwapScreen.pbStartSwap </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>currentPokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>newPokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_battle_swap_8cs.cshtml">IBattleSwap.cs</a></li>
</ul>
