@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">ISpriteResizer2</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpriteResizer2 Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#a8326059311bf9abec8ff561ea6644f69">bush_depth</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#a491402c4b693a2c913abb8d43621193d">initialize</a>(IViewport viewport=null)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#ab3ed832e4bb684cb73aeec2c16bb8260">ox</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#aec80e3e89162bb269fc4bcbcd5be7eb3">oy</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#abe06e9e60b5c90704431ffd9b2dd1dad">x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#a4e4e9157f91cbb9fb69b6019e57c3a60">y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#ae7c00527099a825a45e70864eb60cad4">zoom_x</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml#a543a3f8af6010e96e3a6737759e51255">zoom_y</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite_resizer2.cshtml">PokemonEssentials.Interface.ISpriteResizer2</a></td><td class="entry"></td></tr>
</table>
