@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Screen.IPurifyChamberHelper Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml">IPurifyChamberHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPurifyChamberHelper Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a403e35fa1b5df0f2a26b720a5d9d590d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a403e35fa1b5df0f2a26b720a5d9d590d">pbGetPokemon2</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int set, int position)</td></tr>
<tr class="separator:a403e35fa1b5df0f2a26b720a5d9d590d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a369e79d3bb659228f88dc328eb3a76e0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#a369e79d3bb659228f88dc328eb3a76e0">pbGetPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int position)</td></tr>
<tr class="separator:a369e79d3bb659228f88dc328eb3a76e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaea76b0f11ca39e9e8cb898c08102d83"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#aaea76b0f11ca39e9e8cb898c08102d83">adjustOnInsert</a> (int position)</td></tr>
<tr class="separator:aaea76b0f11ca39e9e8cb898c08102d83"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aabad8936f85f59f2f56b95bcb7b8b5ec"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_helper.cshtml#aabad8936f85f59f2f56b95bcb7b8b5ec">pbSetPokemon</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a> chamber, int position, int value)</td></tr>
<tr class="separator:aabad8936f85f59f2f56b95bcb7b8b5ec"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aaea76b0f11ca39e9e8cb898c08102d83" name="aaea76b0f11ca39e9e8cb898c08102d83"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaea76b0f11ca39e9e8cb898c08102d83">&#9670;&#160;</a></span>adjustOnInsert()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Screen.IPurifyChamberHelper.adjustOnInsert </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a369e79d3bb659228f88dc328eb3a76e0" name="a369e79d3bb659228f88dc328eb3a76e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a369e79d3bb659228f88dc328eb3a76e0">&#9670;&#160;</a></span>pbGetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamberHelper.pbGetPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a403e35fa1b5df0f2a26b720a5d9d590d" name="a403e35fa1b5df0f2a26b720a5d9d590d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a403e35fa1b5df0f2a26b720a5d9d590d">&#9670;&#160;</a></span>pbGetPokemon2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon_shadow_pokemon.cshtml">IPokemonShadowPokemon</a> PokemonEssentials.Interface.Screen.IPurifyChamberHelper.pbGetPokemon2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>set</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aabad8936f85f59f2f56b95bcb7b8b5ec" name="aabad8936f85f59f2f56b95bcb7b8b5ec"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aabad8936f85f59f2f56b95bcb7b8b5ec">&#9670;&#160;</a></span>pbSetPokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Screen.IPurifyChamberHelper.pbSetPokemon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_purify_chamber_set.cshtml">IPurifyChamberSet</a>&#160;</td>
          <td class="paramname"><em>chamber</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>position</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>value</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Screen/<a class="el" href="_i_purify_chamber_8cs.cshtml">IPurifyChamber.cs</a></li>
</ul>
