@{
	Page.Title = "PokemonEssentials.Interface.ISpritesetMapAnimation Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">ISpritesetMapAnimation</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.ISpritesetMapAnimation Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5abfafb9c1a988a3faf18c4345c8a2bf"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">ISpritesetMapAnimation</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#a5abfafb9c1a988a3faf18c4345c8a2bf">initialize</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a> map=null)</td></tr>
<tr class="separator:a5abfafb9c1a988a3faf18c4345c8a2bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a078f66a83e16c4d6673ef8a2dbe56e8e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_animation_sprite.cshtml">IAnimationSprite</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#a078f66a83e16c4d6673ef8a2dbe56e8e">addUserAnimation</a> (int animID, float x, float y, bool tinting=false)</td></tr>
<tr class="separator:a078f66a83e16c4d6673ef8a2dbe56e8e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf6e098e1968bb6c63d5e14f5be7f27f"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#adf6e098e1968bb6c63d5e14f5be7f27f">addUserSprite</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a> sprite)</td></tr>
<tr class="separator:adf6e098e1968bb6c63d5e14f5be7f27f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abcd1e70dbd5d2ca13006f725cb0ae290"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#abcd1e70dbd5d2ca13006f725cb0ae290">dispose</a> ()</td></tr>
<tr class="separator:abcd1e70dbd5d2ca13006f725cb0ae290"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aca2bd406ae922b2369cf2f5da2f044b0"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml#aca2bd406ae922b2369cf2f5da2f044b0">update</a> ()</td></tr>
<tr class="separator:aca2bd406ae922b2369cf2f5da2f044b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a078f66a83e16c4d6673ef8a2dbe56e8e" name="a078f66a83e16c4d6673ef8a2dbe56e8e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a078f66a83e16c4d6673ef8a2dbe56e8e">&#9670;&#160;</a></span>addUserAnimation()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_animation_sprite.cshtml">IAnimationSprite</a> PokemonEssentials.Interface.ISpritesetMapAnimation.addUserAnimation </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>animID</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>tinting</em> = <code>false</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="adf6e098e1968bb6c63d5e14f5be7f27f" name="adf6e098e1968bb6c63d5e14f5be7f27f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf6e098e1968bb6c63d5e14f5be7f27f">&#9670;&#160;</a></span>addUserSprite()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritesetMapAnimation.addUserSprite </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_sprite.cshtml">ISprite</a>&#160;</td>
          <td class="paramname"><em>sprite</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abcd1e70dbd5d2ca13006f725cb0ae290" name="abcd1e70dbd5d2ca13006f725cb0ae290"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abcd1e70dbd5d2ca13006f725cb0ae290">&#9670;&#160;</a></span>dispose()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritesetMapAnimation.dispose </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5abfafb9c1a988a3faf18c4345c8a2bf" name="a5abfafb9c1a988a3faf18c4345c8a2bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5abfafb9c1a988a3faf18c4345c8a2bf">&#9670;&#160;</a></span>initialize()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_spriteset_map_animation.cshtml">ISpritesetMapAnimation</a> PokemonEssentials.Interface.ISpritesetMapAnimation.initialize </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_map.cshtml">IGameMap</a>&#160;</td>
          <td class="paramname"><em>map</em> = <code>null</code></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aca2bd406ae922b2369cf2f5da2f044b0" name="aca2bd406ae922b2369cf2f5da2f044b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca2bd406ae922b2369cf2f5da2f044b0">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.ISpritesetMapAnimation.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_animation_sprite_8cs.cshtml">IAnimationSprite.cs</a></li>
</ul>

