@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.IGameBugContest Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml">IGameBugContest</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameBugContest Interface Reference</div></div>
}


<p>Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a59a6cc7538e9ecee040957ccbe6c3a48"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a59a6cc7538e9ecee040957ccbe6c3a48">pbBugContestScore</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:a59a6cc7538e9ecee040957ccbe6c3a48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c43e9be7518b27cf578f81f47560e62"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a4c43e9be7518b27cf578f81f47560e62">pbBugContestStartOver</a> ()</td></tr>
<tr class="separator:a4c43e9be7518b27cf578f81f47560e62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a77776138365ea8a20965de20228847bd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a77776138365ea8a20965de20228847bd">pbBugContestBattle</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int level)</td></tr>
<tr class="separator:a77776138365ea8a20965de20228847bd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae98d92532434732934665604385a769b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml">IBugContestState</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#ae98d92532434732934665604385a769b">pbBugContestState</a><code> [get]</code></td></tr>
<tr class="separator:ae98d92532434732934665604385a769b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24273deb49e0fa0e91688cb2b241bbc4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a24273deb49e0fa0e91688cb2b241bbc4">pbInBugContest</a><code> [get]</code></td></tr>
<tr class="separator:a24273deb49e0fa0e91688cb2b241bbc4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8a31ce7c725aaba24ca90bbd84606dd1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#a8a31ce7c725aaba24ca90bbd84606dd1">pbBugContestUndecided</a><code> [get]</code></td></tr>
<tr class="separator:a8a31ce7c725aaba24ca90bbd84606dd1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af932720534e542129413a3aee31b5b04"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_bug_contest.cshtml#af932720534e542129413a3aee31b5b04">pbBugContestDecided</a><code> [get]</code></td></tr>
<tr class="separator:af932720534e542129413a3aee31b5b04"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game.cshtml">IGame</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="a77776138365ea8a20965de20228847bd" name="a77776138365ea8a20965de20228847bd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a77776138365ea8a20965de20228847bd">&#9670;&#160;</a></span>pbBugContestBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>level</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a59a6cc7538e9ecee040957ccbe6c3a48" name="a59a6cc7538e9ecee040957ccbe6c3a48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a59a6cc7538e9ecee040957ccbe6c3a48">&#9670;&#160;</a></span>pbBugContestScore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestScore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4c43e9be7518b27cf578f81f47560e62" name="a4c43e9be7518b27cf578f81f47560e62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4c43e9be7518b27cf578f81f47560e62">&#9670;&#160;</a></span>pbBugContestStartOver()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestStartOver </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="af932720534e542129413a3aee31b5b04" name="af932720534e542129413a3aee31b5b04"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af932720534e542129413a3aee31b5b04">&#9670;&#160;</a></span>pbBugContestDecided</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestDecided</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae98d92532434732934665604385a769b" name="ae98d92532434732934665604385a769b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae98d92532434732934665604385a769b">&#9670;&#160;</a></span>pbBugContestState</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_bug_contest_state.cshtml">IBugContestState</a> PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestState</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8a31ce7c725aaba24ca90bbd84606dd1" name="a8a31ce7c725aaba24ca90bbd84606dd1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8a31ce7c725aaba24ca90bbd84606dd1">&#9670;&#160;</a></span>pbBugContestUndecided</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameBugContest.pbBugContestUndecided</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a24273deb49e0fa0e91688cb2b241bbc4" name="a24273deb49e0fa0e91688cb2b241bbc4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24273deb49e0fa0e91688cb2b241bbc4">&#9670;&#160;</a></span>pbInBugContest</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameBugContest.pbInBugContest</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_bug_contest_8cs.cshtml">IBugContest.cs</a></li>
</ul>
