@{
	Page.Title = "PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_poke_battle.cshtml">PokeBattle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml">IBattlePeerMultipleForms</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms Interface Reference</div></div>
}


<p>Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">IBattlePeer</a>   
 <a href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.png" usemap="#PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms_map" alt=""/>
  <map id="PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms_map" name="PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms_map">
<area href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml" alt="PokemonUnity.Monster.PokeBattle_NullBattlePeer" shape="rect" coords="0,56,380,80"/>
<area href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml" alt="PokemonUnity.Monster.PokeBattle_RealBattlePeer" shape="rect" coords="390,56,770,80"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abb50334694191b515ded65b0565eb416"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer_multiple_forms.cshtml#abb50334694191b515ded65b0565eb416">pbOnEnteringBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:abb50334694191b515ded65b0565eb416"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Extension of <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle_peer.cshtml">IBattlePeer</a>  </p>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="abb50334694191b515ded65b0565eb416" name="abb50334694191b515ded65b0565eb416"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abb50334694191b515ded65b0565eb416">&#9670;&#160;</a></span>pbOnEnteringBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.PokeBattle.IBattlePeerMultipleForms.pbOnEnteringBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml#a36b6a956fbcdd8fa36998a61c108788c">PokemonUnity.Monster.PokeBattle_RealBattlePeer</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Pokemon/<a class="el" href="_i_pokemon_multiple_forms_8cs.cshtml">IPokemonMultipleForms.cs</a></li>
</ul>
