@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonEssentials.Interface.Battle.ILightCup Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_light_cup.cshtml">ILightCup</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_light_cup-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.ILightCup Interface Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.Battle.ILightCup:</div>
<div class="dyncontent">
 <div class="center">
  <img src="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_light_cup.png" usemap="#PokemonEssentials.Interface.Battle.ILightCup_map" alt=""/>
  <map id="PokemonEssentials.Interface.Battle.ILightCup_map" name="PokemonEssentials.Interface.Battle.ILightCup_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml" alt="PokemonEssentials.Interface.Battle.IPokemonRuleSet" shape="rect" coords="0,0,309,24"/>
<area href="class_pokemon_unity_1_1_light_cup.cshtml" alt="PokemonUnity.LightCup" shape="rect" coords="0,112,309,136"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a309906bb5a08a2730ea5a53bcbe03f60"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_light_cup.cshtml#a309906bb5a08a2730ea5a53bcbe03f60">name</a><code> [get]</code></td></tr>
<tr class="separator:a309906bb5a08a2730ea5a53bcbe03f60"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">PokemonEssentials.Interface.Battle.IPokemonRuleSet</a></td></tr>
<tr class="memitem:a2b17d28bd988250111583740c2060008 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a2b17d28bd988250111583740c2060008">minTeamLength</a><code> [get]</code></td></tr>
<tr class="separator:a2b17d28bd988250111583740c2060008 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab295a2e2a7b80ebbbf1c8fdebf871b83 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ab295a2e2a7b80ebbbf1c8fdebf871b83">maxTeamLength</a><code> [get]</code></td></tr>
<tr class="separator:ab295a2e2a7b80ebbbf1c8fdebf871b83 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7f127bdcd60013cfd465558a75bd6b5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ad7f127bdcd60013cfd465558a75bd6b5">minLength</a><code> [get]</code></td></tr>
<tr class="separator:ad7f127bdcd60013cfd465558a75bd6b5 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a35206f63a381566e93ca7ade6f090601 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a35206f63a381566e93ca7ade6f090601">maxLength</a><code> [get]</code></td></tr>
<tr class="separator:a35206f63a381566e93ca7ade6f090601 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae894d5866af428ad0279ff3fcaa68db9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ae894d5866af428ad0279ff3fcaa68db9">number</a><code> [get]</code></td></tr>
<tr class="separator:ae894d5866af428ad0279ff3fcaa68db9 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19fb3f784c8f296169dc54e4e290ed4b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a19fb3f784c8f296169dc54e4e290ed4b">suggestedNumber</a><code> [get]</code></td></tr>
<tr class="memdesc:a19fb3f784c8f296169dc54e4e290ed4b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns the length of a valid subset of a Pokemon team.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a19fb3f784c8f296169dc54e4e290ed4b">More...</a><br /></td></tr>
<tr class="separator:a19fb3f784c8f296169dc54e4e290ed4b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9d3d5da6b617da57bafd284d4b861cb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a9d3d5da6b617da57bafd284d4b861cb4">suggestedLevel</a><code> [get]</code></td></tr>
<tr class="memdesc:a9d3d5da6b617da57bafd284d4b861cb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns a valid level to assign to each member of a valid Pokemon team.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a9d3d5da6b617da57bafd284d4b861cb4">More...</a><br /></td></tr>
<tr class="separator:a9d3d5da6b617da57bafd284d4b861cb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="inherited" name="inherited"></a>
Additional Inherited Members</h2></td></tr>
<tr class="inherit_header pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td colspan="2" onclick="javascript:toggleInherit('pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set')"><img src="closed.png" alt="-"/>&#160;Public Member Functions inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">PokemonEssentials.Interface.Battle.IPokemonRuleSet</a></td></tr>
<tr class="memitem:a855bd460c84875fd177dea80b6d7b559 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a855bd460c84875fd177dea80b6d7b559">copy</a> ()</td></tr>
<tr class="separator:a855bd460c84875fd177dea80b6d7b559 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad4df791adbe09b95944173d15d427019 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ad4df791adbe09b95944173d15d427019">setNumberRange</a> (int minValue, int maxValue)</td></tr>
<tr class="separator:ad4df791adbe09b95944173d15d427019 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4943c96f27e91c1e8d7a7ab996b13224 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a4943c96f27e91c1e8d7a7ab996b13224">setNumber</a> (int value)</td></tr>
<tr class="separator:a4943c96f27e91c1e8d7a7ab996b13224 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a480e054923a97589610db3ac3c4cf0a5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a480e054923a97589610db3ac3c4cf0a5">addPokemonRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">IBattleRestriction</a> rule)</td></tr>
<tr class="separator:a480e054923a97589610db3ac3c4cf0a5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4c37e9bc7cb36f3175786218ac2400c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a4c37e9bc7cb36f3175786218ac2400c6">addSubsetRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="separator:a4c37e9bc7cb36f3175786218ac2400c6 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a888acef41cf2d5f8e9a0414625614867 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a888acef41cf2d5f8e9a0414625614867">addTeamRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_team_restriction.cshtml">IBattleTeamRestriction</a> rule)</td></tr>
<tr class="memdesc:a888acef41cf2d5f8e9a0414625614867 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">This rule checks either  <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a888acef41cf2d5f8e9a0414625614867">More...</a><br /></td></tr>
<tr class="separator:a888acef41cf2d5f8e9a0414625614867 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a06bb73111aff89f94c6437ba197d2cf1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a06bb73111aff89f94c6437ba197d2cf1">clearPokemonRules</a> ()</td></tr>
<tr class="separator:a06bb73111aff89f94c6437ba197d2cf1 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c6d23875c313046a2b1c764231b8d2f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a7c6d23875c313046a2b1c764231b8d2f">clearTeamRules</a> ()</td></tr>
<tr class="separator:a7c6d23875c313046a2b1c764231b8d2f inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afb4fd486cf3057ab24aa9b135b97e4c5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml">IPokemonRuleSet</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#afb4fd486cf3057ab24aa9b135b97e4c5">clearSubsetRules</a> ()</td></tr>
<tr class="separator:afb4fd486cf3057ab24aa9b135b97e4c5 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac03039ccd4bb80f593da8e3f77015624 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ac03039ccd4bb80f593da8e3f77015624">isPokemonValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:ac03039ccd4bb80f593da8e3f77015624 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e7e74185e6b3d91031cefde92d0771a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a2e7e74185e6b3d91031cefde92d0771a">hasRegistrableTeam</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] list)</td></tr>
<tr class="separator:a2e7e74185e6b3d91031cefde92d0771a inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78fe4eb1c01133c8df7fd2d29b15211e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a78fe4eb1c01133c8df7fd2d29b15211e">canRegisterTeam</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team)</td></tr>
<tr class="memdesc:a78fe4eb1c01133c8df7fd2d29b15211e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if the team's length is greater or equal to the suggested number and is 6 or less, the team as a whole meets the requirements of any team rules, and at least one subset of the team meets the requirements of any subset rules. Each Pokemon in the team must be valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a78fe4eb1c01133c8df7fd2d29b15211e">More...</a><br /></td></tr>
<tr class="separator:a78fe4eb1c01133c8df7fd2d29b15211e inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9ea39af850b7738ba48be7ef02fb0c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ac9ea39af850b7738ba48be7ef02fb0c0">hasValidTeam</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team)</td></tr>
<tr class="memdesc:ac9ea39af850b7738ba48be7ef02fb0c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if the team's length is greater or equal to the suggested number and at least one subset of the team meets the requirements of any team rules and subset rules. Not all Pokemon in the team have to be valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#ac9ea39af850b7738ba48be7ef02fb0c0">More...</a><br /></td></tr>
<tr class="separator:ac9ea39af850b7738ba48be7ef02fb0c0 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a723f29223bb1d86fbd32df4064178762 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a723f29223bb1d86fbd32df4064178762">isValid</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] team, IList&lt; string &gt; error=null)</td></tr>
<tr class="memdesc:a723f29223bb1d86fbd32df4064178762 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns true if the team's length meets the subset length range requirements and the team meets the requirements of any team rules and subset rules. Each Pokemon in the team must be valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set.cshtml#a723f29223bb1d86fbd32df4064178762">More...</a><br /></td></tr>
<tr class="separator:a723f29223bb1d86fbd32df4064178762 inherit pub_methods_interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_rule_set"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a309906bb5a08a2730ea5a53bcbe03f60" name="a309906bb5a08a2730ea5a53bcbe03f60"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a309906bb5a08a2730ea5a53bcbe03f60">&#9670;&#160;</a></span>name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Battle.ILightCup.name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implemented in <a class="el" href="class_pokemon_unity_1_1_light_cup.cshtml#aafebf49118538a307e04a978b0e28de9">PokemonUnity.LightCup</a>.</p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_rules_8cs.cshtml">IOrgBattleRules.cs</a></li>
</ul>
