@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_screen.cshtml">Screen</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">IPCPokemonStorage</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Screen.IPCPokemonStorage Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a7d24b96d778d6c1c433fb038a67b3a16">boxes</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a585a8935eb3a11b59c479b7bca5a27b3">Copy</a>(int boxDst, int indexDst, int boxSrc, int indexSrc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a6a4371fa1ae9ae2c1644224d9f360315">currentBox</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#af4e20c29747b05b46ad71a0ce83c24a7">Delete</a>(int box, int index)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a13d88f9a87dcdb4df4f7eab5741e4904">FirstFreePos</a>(int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#add7a9a6741dd678ea461e8988bfa2595">full</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#afdbe79b784bb970e3991fac60a1c45ff">initialize</a>(int maxBoxes=Core.STORAGEBOXES, int maxPokemon=30)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#addcbf7c70f07b59f66f088795a22a2c4">maxBoxes</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#ade2eb2283a98b30c2ecccd421cb82776">maxPokemon</a>(int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a89c9e822b535f022c6484e710f7bd6e3">Move</a>(int boxDst, int indexDst, int boxSrc, int indexSrc)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#aa1b0611a63f9bf532b73cd858e31da67">MoveCaughtToBox</a>(IPokemon pkmn, int box)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#adba871f97b826cee8450155775122c23">MoveCaughtToParty</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a65bc18cc181feffcd28953eb8c9ed2f9">party</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a121b13affef1a1882ce17895dab91d3b">StoreCaught</a>(IPokemon pkmn)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#ada579206d3a62e111d4fa396d3afc523">this[int x, int y]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml#a69d86c0e82f52ca0e5cffe718f1657f6">this[int x]</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_p_c_pokemon_storage.cshtml">PokemonEssentials.Interface.Screen.IPCPokemonStorage</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
