@{
	Page.Title = "PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker.cshtml">RPGMaker</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal.cshtml">Kernal</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml">IEventPageCondition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a2d480fdf67183b71e36359c692935c55"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a2d480fdf67183b71e36359c692935c55">switch1_valid</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a2d480fdf67183b71e36359c692935c55"><td class="mdescLeft">&#160;</td><td class="mdescRight">value for whether the first [Switch] condition is valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a2d480fdf67183b71e36359c692935c55">More...</a><br /></td></tr>
<tr class="separator:a2d480fdf67183b71e36359c692935c55"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4506529a2d7da1614b8b36f5c79868c1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a4506529a2d7da1614b8b36f5c79868c1">switch2_valid</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4506529a2d7da1614b8b36f5c79868c1"><td class="mdescLeft">&#160;</td><td class="mdescRight">value for whether the second [Switch] condition is valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a4506529a2d7da1614b8b36f5c79868c1">More...</a><br /></td></tr>
<tr class="separator:a4506529a2d7da1614b8b36f5c79868c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65acb3519fed4c3bbb270cf9ddbb4bb7"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a65acb3519fed4c3bbb270cf9ddbb4bb7">variable_valid</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a65acb3519fed4c3bbb270cf9ddbb4bb7"><td class="mdescLeft">&#160;</td><td class="mdescRight">value for whether the [Variable] condition is valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a65acb3519fed4c3bbb270cf9ddbb4bb7">More...</a><br /></td></tr>
<tr class="separator:a65acb3519fed4c3bbb270cf9ddbb4bb7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d9be03ed128985e4836665da7604087"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a7d9be03ed128985e4836665da7604087">self_switch_valid</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a7d9be03ed128985e4836665da7604087"><td class="mdescLeft">&#160;</td><td class="mdescRight">value for whether the [Self Switch] condition is valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a7d9be03ed128985e4836665da7604087">More...</a><br /></td></tr>
<tr class="separator:a7d9be03ed128985e4836665da7604087"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f835dc9dfffe7ee2ba58e612c463565"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a5f835dc9dfffe7ee2ba58e612c463565">switch1_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5f835dc9dfffe7ee2ba58e612c463565"><td class="mdescLeft">&#160;</td><td class="mdescRight">value for whether the [<a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a>] condition is valid.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a5f835dc9dfffe7ee2ba58e612c463565">More...</a><br /></td></tr>
<tr class="separator:a5f835dc9dfffe7ee2ba58e612c463565"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6fe88f6bacccc2f041074f2b6915d804"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a6fe88f6bacccc2f041074f2b6915d804">switch2_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a6fe88f6bacccc2f041074f2b6915d804"><td class="mdescLeft">&#160;</td><td class="mdescRight">If the second [Switch] condition is valid, the ID of that switch.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a6fe88f6bacccc2f041074f2b6915d804">More...</a><br /></td></tr>
<tr class="separator:a6fe88f6bacccc2f041074f2b6915d804"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad69af1e83f3fbe20b39571891d039f7b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#ad69af1e83f3fbe20b39571891d039f7b">variable_id</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad69af1e83f3fbe20b39571891d039f7b"><td class="mdescLeft">&#160;</td><td class="mdescRight">If the [Variable] condition is valid, the ID of that variable.   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#ad69af1e83f3fbe20b39571891d039f7b">More...</a><br /></td></tr>
<tr class="separator:ad69af1e83f3fbe20b39571891d039f7b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a304659b63890f7026d5865be17c2ca48"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a304659b63890f7026d5865be17c2ca48">variable_value</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a304659b63890f7026d5865be17c2ca48"><td class="mdescLeft">&#160;</td><td class="mdescRight">If the [Variable] condition is valid, the standard value of that variable (x and greater).   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a304659b63890f7026d5865be17c2ca48">More...</a><br /></td></tr>
<tr class="separator:a304659b63890f7026d5865be17c2ca48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6d11786ea0e6f17acfc10b0eb41764cf"><td class="memItemLeft" align="right" valign="top">char&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a6d11786ea0e6f17acfc10b0eb41764cf">self_switch_ch</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a6d11786ea0e6f17acfc10b0eb41764cf"><td class="mdescLeft">&#160;</td><td class="mdescRight">If the [Self Switch] condition is valid, the letter of that self switch ("A".."D").   <a href="interface_pokemon_essentials_1_1_interface_1_1_r_p_g_maker_1_1_kernal_1_1_i_event_page_condition.cshtml#a6d11786ea0e6f17acfc10b0eb41764cf">More...</a><br /></td></tr>
<tr class="separator:a6d11786ea0e6f17acfc10b0eb41764cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6d11786ea0e6f17acfc10b0eb41764cf" name="a6d11786ea0e6f17acfc10b0eb41764cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6d11786ea0e6f17acfc10b0eb41764cf">&#9670;&#160;</a></span>self_switch_ch</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">char PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.self_switch_ch</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If the [Self Switch] condition is valid, the letter of that self switch ("A".."D").  </p>

</div>
</div>
<a id="a7d9be03ed128985e4836665da7604087" name="a7d9be03ed128985e4836665da7604087"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d9be03ed128985e4836665da7604087">&#9670;&#160;</a></span>self_switch_valid</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.self_switch_valid</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>value for whether the [Self Switch] condition is valid.  </p>

</div>
</div>
<a id="a5f835dc9dfffe7ee2ba58e612c463565" name="a5f835dc9dfffe7ee2ba58e612c463565"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f835dc9dfffe7ee2ba58e612c463565">&#9670;&#160;</a></span>switch1_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.switch1_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>value for whether the [<a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a>] condition is valid.  </p>
<p >If the first [Switch] condition is valid, the ID of that switch.  </p>

</div>
</div>
<a id="a2d480fdf67183b71e36359c692935c55" name="a2d480fdf67183b71e36359c692935c55"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d480fdf67183b71e36359c692935c55">&#9670;&#160;</a></span>switch1_valid</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.switch1_valid</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>value for whether the first [Switch] condition is valid.  </p>

</div>
</div>
<a id="a6fe88f6bacccc2f041074f2b6915d804" name="a6fe88f6bacccc2f041074f2b6915d804"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6fe88f6bacccc2f041074f2b6915d804">&#9670;&#160;</a></span>switch2_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.switch2_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If the second [Switch] condition is valid, the ID of that switch.  </p>

</div>
</div>
<a id="a4506529a2d7da1614b8b36f5c79868c1" name="a4506529a2d7da1614b8b36f5c79868c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4506529a2d7da1614b8b36f5c79868c1">&#9670;&#160;</a></span>switch2_valid</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.switch2_valid</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>value for whether the second [Switch] condition is valid.  </p>

</div>
</div>
<a id="ad69af1e83f3fbe20b39571891d039f7b" name="ad69af1e83f3fbe20b39571891d039f7b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad69af1e83f3fbe20b39571891d039f7b">&#9670;&#160;</a></span>variable_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.variable_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If the [Variable] condition is valid, the ID of that variable.  </p>

</div>
</div>
<a id="a65acb3519fed4c3bbb270cf9ddbb4bb7" name="a65acb3519fed4c3bbb270cf9ddbb4bb7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65acb3519fed4c3bbb270cf9ddbb4bb7">&#9670;&#160;</a></span>variable_valid</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.variable_valid</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>value for whether the [Variable] condition is valid.  </p>

</div>
</div>
<a id="a304659b63890f7026d5865be17c2ca48" name="a304659b63890f7026d5865be17c2ca48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a304659b63890f7026d5865be17c2ca48">&#9670;&#160;</a></span>variable_value</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.RPGMaker.Kernal.IEventPageCondition.variable_value</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If the [Variable] condition is valid, the standard value of that variable (x and greater).  </p>

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_library_8cs.cshtml">ILibrary.cs</a></li>
</ul>
