@{
	Page.Title = "PokemonEssentials.Interface.IGamePlayerRunMovement Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml">IGamePlayerRunMovement</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.IGamePlayerRunMovement Interface Reference</div></div>
}


<p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml" title="This class handles the player. Its functions include event starting determinants and map scrolling.">IGamePlayer</a></dd></dl>
 
 <a href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad66792128446dbb00c25fa840a8b04bf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#ad66792128446dbb00c25fa840a8b04bf">fullPattern</a> ()</td></tr>
<tr class="separator:ad66792128446dbb00c25fa840a8b04bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1aa53162acc96959de261d072d1cbf47"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#a1aa53162acc96959de261d072d1cbf47">setDefaultCharName</a> (string chname, int pattern)</td></tr>
<tr class="separator:a1aa53162acc96959de261d072d1cbf47"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acadd308c5a79c7b8121bae4e7d6f7ebc"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#acadd308c5a79c7b8121bae4e7d6f7ebc">pbCanRun</a> ()</td></tr>
<tr class="separator:acadd308c5a79c7b8121bae4e7d6f7ebc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2dc770f164d2dfcb5ffbb9cb8709afd6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#a2dc770f164d2dfcb5ffbb9cb8709afd6">pbIsRunning</a> ()</td></tr>
<tr class="separator:a2dc770f164d2dfcb5ffbb9cb8709afd6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8c4c6972a64f8b8f67e40363422f1a45"><td class="memItemLeft" align="right" valign="top">IEnumerator&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#a8c4c6972a64f8b8f67e40363422f1a45">update</a> ()</td></tr>
<tr class="separator:a8c4c6972a64f8b8f67e40363422f1a45"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a0cd2914b8079f6c5c030d70beae25ccf"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player_run_movement.cshtml#a0cd2914b8079f6c5c030d70beae25ccf">character_name</a> <code>[get]</code></td></tr>
<tr class="separator:a0cd2914b8079f6c5c030d70beae25ccf"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml" title="This class handles the player. Its functions include event starting determinants and map scrolling.">IGamePlayer</a></dd></dl>
</div><h2 class="groupheader">Member Function Documentation</h2>
<a id="ad66792128446dbb00c25fa840a8b04bf" name="ad66792128446dbb00c25fa840a8b04bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad66792128446dbb00c25fa840a8b04bf">&#9670;&#160;</a></span>fullPattern()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.IGamePlayerRunMovement.fullPattern </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="acadd308c5a79c7b8121bae4e7d6f7ebc" name="acadd308c5a79c7b8121bae4e7d6f7ebc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acadd308c5a79c7b8121bae4e7d6f7ebc">&#9670;&#160;</a></span>pbCanRun()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayerRunMovement.pbCanRun </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2dc770f164d2dfcb5ffbb9cb8709afd6" name="a2dc770f164d2dfcb5ffbb9cb8709afd6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2dc770f164d2dfcb5ffbb9cb8709afd6">&#9670;&#160;</a></span>pbIsRunning()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.IGamePlayerRunMovement.pbIsRunning </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1aa53162acc96959de261d072d1cbf47" name="a1aa53162acc96959de261d072d1cbf47"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1aa53162acc96959de261d072d1cbf47">&#9670;&#160;</a></span>setDefaultCharName()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.IGamePlayerRunMovement.setDefaultCharName </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>chname</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pattern</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8c4c6972a64f8b8f67e40363422f1a45" name="a8c4c6972a64f8b8f67e40363422f1a45"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8c4c6972a64f8b8f67e40363422f1a45">&#9670;&#160;</a></span>update()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator PokemonEssentials.Interface.IGamePlayerRunMovement.update </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0cd2914b8079f6c5c030d70beae25ccf" name="a0cd2914b8079f6c5c030d70beae25ccf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0cd2914b8079f6c5c030d70beae25ccf">&#9670;&#160;</a></span>character_name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.IGamePlayerRunMovement.character_name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_game_player_run_movement_8cs.cshtml">IGamePlayerRunMovement.cs</a></li>
</ul>
