@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">IDebugger</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.IDebugger Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a1e6aa14cb7ef9f5332dfc2d2e1c36fa2">Init</a>(string logfilePath, string logBaseName)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a62241abb761b1a794bba4b231d4bf3ec">Log</a>(string message, params object[] param)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a3641bab89de46b0fcb72f8ec5974af98">LogError</a>(string message)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#af45eaed3ec882b89af25aa9e9ec4dba6">LogWarning</a>(string message)</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#ac0a0a74b13c354b5ef906f83be3ee781">OnLog</a></td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml#a78f8f4a86d69e2412d06217f595af78f">Shutdown</a>()</td><td class="entry"><a class="el" href="interface_pokemon_unity_1_1_i_debugger.cshtml">PokemonUnity.IDebugger</a></td><td class="entry"></td></tr>
</table>