@{
	Page.Title = "PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator Interface Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml">IGameOrgBattleGenerator</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator Interface Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a9b29b5a667f4d166c551878b2666e133"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a9b29b5a667f4d166c551878b2666e133">RandomMove</a> ()</td></tr>
<tr class="separator:a9b29b5a667f4d166c551878b2666e133"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea8fb35db75015f5f3d11c084e5badd9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#aea8fb35db75015f5f3d11c084e5badd9">addMove</a> (ref List&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&gt; moves, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, int @@base)</td></tr>
<tr class="separator:aea8fb35db75015f5f3d11c084e5badd9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad5d379a244666f577ad23f95756bc308"><td class="memItemLeft" align="right" valign="top">List&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ad5d379a244666f577ad23f95756bc308">GetLegalMoves2</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species, int maxlevel)</td></tr>
<tr class="separator:ad5d379a244666f577ad23f95756bc308"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad2650884deccead2bf336303b5393c4f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ad2650884deccead2bf336303b5393c4f">baseStatTotal</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> move)</td></tr>
<tr class="separator:ad2650884deccead2bf336303b5393c4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7032dd2bf91949fc55193e276dfab643"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7032dd2bf91949fc55193e276dfab643">babySpecies</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a7032dd2bf91949fc55193e276dfab643"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33342ba4d29c9236db2390159ec1c52c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a33342ba4d29c9236db2390159ec1c52c">minimumLevel</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a33342ba4d29c9236db2390159ec1c52c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30c005ceafaf1fe3e6206438e74ae55a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">PokemonUnity.Attack.Data.MoveData</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a30c005ceafaf1fe3e6206438e74ae55a">moveData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move)</td></tr>
<tr class="separator:a30c005ceafaf1fe3e6206438e74ae55a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae8a2bdfbecba7a4ead62d6e29e34599a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ae8a2bdfbecba7a4ead62d6e29e34599a">withRestr</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, int minbs, int maxbs, int legendary)</td></tr>
<tr class="separator:ae8a2bdfbecba7a4ead62d6e29e34599a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af42d23262507cf5bccb5bbfbb863615d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#af42d23262507cf5bccb5bbfbb863615d">ArrangeByTier</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] pokemonlist, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:af42d23262507cf5bccb5bbfbb863615d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d7326a4f3353423a96a9ddc23f39369"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a8d7326a4f3353423a96a9ddc23f39369">hasMorePowerfulMove</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] moves, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> thismove)</td></tr>
<tr class="separator:a8d7326a4f3353423a96a9ddc23f39369"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae33e7ebebb644a965eca9a8dd1b59107"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ae33e7ebebb644a965eca9a8dd1b59107">RandomPokemonFromRule</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> trainer)</td></tr>
<tr class="separator:ae33e7ebebb644a965eca9a8dd1b59107"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af37c6fa83f0429a574dc7e336425784d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#af37c6fa83f0429a574dc7e336425784d">DecideWinnerEffectiveness</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> otype1, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> otype2, <a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> ability, int[] scores)</td></tr>
<tr class="separator:af37c6fa83f0429a574dc7e336425784d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08888434a0e77373b96effd6494239a8"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a08888434a0e77373b96effd6494239a8">DecideWinnerScore</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, double rating)</td></tr>
<tr class="separator:a08888434a0e77373b96effd6494239a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f196c99a3b71d156adab727f80452a4"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7f196c99a3b71d156adab727f80452a4">DecideWinner</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party0, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party1, double rating0, double rating1)</td></tr>
<tr class="separator:a7f196c99a3b71d156adab727f80452a4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7b34d77ab2dd6c3cfb5f37d045e9f515"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a7b34d77ab2dd6c3cfb5f37d045e9f515">RuledBattle</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> team1, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a> team2, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a7b34d77ab2dd6c3cfb5f37d045e9f515"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad4bc51016c13e4bde0032dd1506ce733"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#ad4bc51016c13e4bde0032dd1506ce733">getTypes</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species)</td></tr>
<tr class="separator:ad4bc51016c13e4bde0032dd1506ce733"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53545a1ba6ee5753e9eca32bf76a7f70"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a53545a1ba6ee5753e9eca32bf76a7f70">TrainerInfo</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] pokemonlist, string trfile, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rules)</td></tr>
<tr class="separator:a53545a1ba6ee5753e9eca32bf76a7f70"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeaeecd03ff0edaec2ebb62434d302ab9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#aeaeecd03ff0edaec2ebb62434d302ab9">isBattlePokemonDuplicate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pk, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pk2)</td></tr>
<tr class="separator:aeaeecd03ff0edaec2ebb62434d302ab9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a00160c8cde9d724334667a170bc7e8a1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a00160c8cde9d724334667a170bc7e8a1">RemoveDuplicates</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] party)</td></tr>
<tr class="separator:a00160c8cde9d724334667a170bc7e8a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4344e4982eea34e78227efc2aeba58f9"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a4344e4982eea34e78227efc2aeba58f9">ReplenishBattlePokemon</a> (ref List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt; party, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule)</td></tr>
<tr class="separator:a4344e4982eea34e78227efc2aeba58f9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a948d18918808674de74c54bf92c78e10"><td class="memItemLeft" align="right" valign="top">IEnumerator&lt; string &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a948d18918808674de74c54bf92c78e10">GenerateChallenge</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rule, string tag)</td></tr>
<tr class="separator:a948d18918808674de74c54bf92c78e10"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a56b2b503392b672280355d6b1ff422b1"><td class="memItemLeft" align="right" valign="top">void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_game_org_battle_generator.cshtml#a56b2b503392b672280355d6b1ff422b1">WriteCup</a> (int id, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> rules)</td></tr>
<tr class="separator:a56b2b503392b672280355d6b1ff422b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aea8fb35db75015f5f3d11c084e5badd9" name="aea8fb35db75015f5f3d11c084e5badd9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea8fb35db75015f5f3d11c084e5badd9">&#9670;&#160;</a></span>addMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.addMove </td>
          <td>(</td>
          <td class="paramtype">ref List&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&gt;&#160;</td>
          <td class="paramname"><em>moves</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int @@&#160;</td>
          <td class="paramname"><em>base</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af42d23262507cf5bccb5bbfbb863615d" name="af42d23262507cf5bccb5bbfbb863615d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af42d23262507cf5bccb5bbfbb863615d">&#9670;&#160;</a></span>ArrangeByTier()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_bag_screen.cshtml">IBagScreen</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.ArrangeByTier </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>pokemonlist</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7032dd2bf91949fc55193e276dfab643" name="a7032dd2bf91949fc55193e276dfab643"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7032dd2bf91949fc55193e276dfab643">&#9670;&#160;</a></span>babySpecies()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.babySpecies </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad2650884deccead2bf336303b5393c4f" name="ad2650884deccead2bf336303b5393c4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad2650884deccead2bf336303b5393c4f">&#9670;&#160;</a></span>baseStatTotal()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.baseStatTotal </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7f196c99a3b71d156adab727f80452a4" name="a7f196c99a3b71d156adab727f80452a4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f196c99a3b71d156adab727f80452a4">&#9670;&#160;</a></span>DecideWinner()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.DecideWinner </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating1</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af37c6fa83f0429a574dc7e336425784d" name="af37c6fa83f0429a574dc7e336425784d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af37c6fa83f0429a574dc7e336425784d">&#9670;&#160;</a></span>DecideWinnerEffectiveness()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.DecideWinnerEffectiveness </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>otype1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>otype2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>&#160;</td>
          <td class="paramname"><em>ability</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>scores</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a08888434a0e77373b96effd6494239a8" name="a08888434a0e77373b96effd6494239a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08888434a0e77373b96effd6494239a8">&#9670;&#160;</a></span>DecideWinnerScore()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.DecideWinnerScore </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party0</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">double&#160;</td>
          <td class="paramname"><em>rating</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a948d18918808674de74c54bf92c78e10" name="a948d18918808674de74c54bf92c78e10"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a948d18918808674de74c54bf92c78e10">&#9670;&#160;</a></span>GenerateChallenge()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">IEnumerator&lt; string &gt; PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.GenerateChallenge </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>tag</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad5d379a244666f577ad23f95756bc308" name="ad5d379a244666f577ad23f95756bc308"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad5d379a244666f577ad23f95756bc308">&#9670;&#160;</a></span>GetLegalMoves2()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">List&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&gt; PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.GetLegalMoves2 </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxlevel</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad4bc51016c13e4bde0032dd1506ce733" name="ad4bc51016c13e4bde0032dd1506ce733"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad4bc51016c13e4bde0032dd1506ce733">&#9670;&#160;</a></span>getTypes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.getTypes </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a8d7326a4f3353423a96a9ddc23f39369" name="a8d7326a4f3353423a96a9ddc23f39369"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d7326a4f3353423a96a9ddc23f39369">&#9670;&#160;</a></span>hasMorePowerfulMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.hasMorePowerfulMove </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>moves</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>thismove</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeaeecd03ff0edaec2ebb62434d302ab9" name="aeaeecd03ff0edaec2ebb62434d302ab9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeaeecd03ff0edaec2ebb62434d302ab9">&#9670;&#160;</a></span>isBattlePokemonDuplicate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.isBattlePokemonDuplicate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pk2</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a33342ba4d29c9236db2390159ec1c52c" name="a33342ba4d29c9236db2390159ec1c52c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33342ba4d29c9236db2390159ec1c52c">&#9670;&#160;</a></span>minimumLevel()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.minimumLevel </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a30c005ceafaf1fe3e6206438e74ae55a" name="a30c005ceafaf1fe3e6206438e74ae55a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30c005ceafaf1fe3e6206438e74ae55a">&#9670;&#160;</a></span>moveData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_move_data.cshtml">PokemonUnity.Attack.Data.MoveData</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.moveData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9b29b5a667f4d166c551878b2666e133" name="a9b29b5a667f4d166c551878b2666e133"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b29b5a667f4d166c551878b2666e133">&#9670;&#160;</a></span>RandomMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.RandomMove </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae33e7ebebb644a965eca9a8dd1b59107" name="ae33e7ebebb644a965eca9a8dd1b59107"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae33e7ebebb644a965eca9a8dd1b59107">&#9670;&#160;</a></span>RandomPokemonFromRule()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.RandomPokemonFromRule </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td>
          <td class="paramname"><em>trainer</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a00160c8cde9d724334667a170bc7e8a1" name="a00160c8cde9d724334667a170bc7e8a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a00160c8cde9d724334667a170bc7e8a1">&#9670;&#160;</a></span>RemoveDuplicates()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[] PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.RemoveDuplicates </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>party</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4344e4982eea34e78227efc2aeba58f9" name="a4344e4982eea34e78227efc2aeba58f9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4344e4982eea34e78227efc2aeba58f9">&#9670;&#160;</a></span>ReplenishBattlePokemon()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.ReplenishBattlePokemon </td>
          <td>(</td>
          <td class="paramtype">ref List&lt;<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&gt;&#160;</td>
          <td class="paramname"><em>party</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7b34d77ab2dd6c3cfb5f37d045e9f515" name="a7b34d77ab2dd6c3cfb5f37d045e9f515"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7b34d77ab2dd6c3cfb5f37d045e9f515">&#9670;&#160;</a></span>RuledBattle()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#a6d3738e09e699ec67acc67d0f876f29b">BattleResults</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.RuledBattle </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>team1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_ruled_team.cshtml">IRuledTeam</a>&#160;</td>
          <td class="paramname"><em>team2</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a53545a1ba6ee5753e9eca32bf76a7f70" name="a53545a1ba6ee5753e9eca32bf76a7f70"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53545a1ba6ee5753e9eca32bf76a7f70">&#9670;&#160;</a></span>TrainerInfo()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.TrainerInfo </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>[]&#160;</td>
          <td class="paramname"><em>pokemonlist</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>trfile</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae8a2bdfbecba7a4ead62d6e29e34599a" name="ae8a2bdfbecba7a4ead62d6e29e34599a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae8a2bdfbecba7a4ead62d6e29e34599a">&#9670;&#160;</a></span>withRestr()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a> PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.withRestr </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rule</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minbs</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxbs</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>legendary</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a56b2b503392b672280355d6b1ff422b1" name="a56b2b503392b672280355d6b1ff422b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a56b2b503392b672280355d6b1ff422b1">&#9670;&#160;</a></span>WriteCup()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">void PokemonEssentials.Interface.Battle.IGameOrgBattleGenerator.WriteCup </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_pokemon_challenge_rules.cshtml">IPokemonChallengeRules</a>&#160;</td>
          <td class="paramname"><em>rules</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this interface was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Battle/<a class="el" href="_i_org_battle_generator_8cs.cshtml">IOrgBattleGenerator.cs</a></li>
</ul>

