@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">IMapFactoryHelper</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.IMapFactoryHelper Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a3ef5450e0434b5eb6a6b4884e847de3f">clear</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a11a3147b80e0a2c6f969b29a0fffb37e">getMapConnections</a>()</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ae001a014b9e3ad678ed79f0ce265ec58">getMapDims</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#afcb615766d8e8747828952d2a12ad6c4">getMapEdge</a>(int id, string edge)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a2a8b8e7a682bfda821306721bc6f8599">hasConnections</a>(int id)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#aaaef9a0637acc40307bf98a460940e99">MapConnections</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ad8b9efabc3c843001f1566422d42f926">MapDims</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#a88013cc5492dec762155c39ee607bbc8">mapInRange</a>(IGameMap map)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml#ab252f3b47d58a4db453bc23b7171c751">mapInRangeById</a>(int id, float dispx, float dispy)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_map_factory_helper.cshtml">PokemonEssentials.Interface.Field.IMapFactoryHelper</a></td><td class="entry"></td></tr>
</table>
