@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_item.cshtml">Item</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml">IGlobalMetadataPokeRadar</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml">PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml#a09c95b141493135f3dd06444de021f2b">pokeradarBattery</a></td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_item_1_1_i_global_metadata_poke_radar.cshtml">PokemonEssentials.Interface.Item.IGlobalMetadataPokeRadar</a></td><td class="entry"></td></tr>
</table>