@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a></li><li class="navelem"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_height_restriction.cshtml">IHeightRestriction</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Battle.IHeightRestriction Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_height_restriction.cshtml">PokemonEssentials.Interface.Battle.IHeightRestriction</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml#adaa85ab73a11a215ef2899adc05c62e1">isValid</a>(IPokemon pokemon)</td><td class="entry"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_battle_1_1_i_battle_restriction.cshtml">PokemonEssentials.Interface.Battle.IBattleRestriction</a></td><td class="entry"></td></tr>
</table>