@{
	Page.Title = "PokemonEssentials.Interface.EventArg Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml">EventArg</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#func-members">Functions</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.EventArg Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_battler_event_args.cshtml">IBattleUseOnBattlerEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_battle_use_on_pokemon_event_args.cshtml">IBattleUseOnPokemonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_button_event_args.cshtml">IButtonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_encounter_modifier_event_args.cshtml">IEncounterModifierEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml">IEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight"><a href="https://stackoverflow.com/a/47323956/3681384">https://stackoverflow.com/a/47323956/3681384</a>   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml">IHiddenMoveEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Move being created e[1] = Pokemon using the move   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_hidden_move_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_multiple_forms_event_args.cshtml">IMultipleFormsEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_catch_event_args.cshtml">IOnCatchEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml">IOnEndBattleEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: int decision e[0] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw) e[1] - If allowed to be defeated, or is stuck in a battle loop until Win   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_end_battle_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_fail_catch_event_args.cshtml">IOnFailCatchEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml">IOnLeaveTileEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Event that just left the tile. e[1] - Map ID where the tile is located (not necessarily the current map). Use "Game.GameData.MapFactory.getMap(e[1])" to get the Game_Map object corresponding to that map. e[2] - X-coordinate of the tile e[3] - Y-coordinate of the tile   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_leave_tile_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_change_event_args.cshtml">IOnMapChangeEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_changing_event_args.cshtml">IOnMapChangingEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_create_event_args.cshtml">IOnMapCreateEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml">IOnMapSceneChangeEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Scene_Map object. e[1] = Whether the player just moved to a new map (either true or false). If false, some other code had called Game.GameData.Scene.createSpritesets to regenerate the map scene without transferring the player elsewhere   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_map_scene_change_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml">IOnSpritesetCreateEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Spriteset being created e[1] = Viewport used for tilemap and characters e[0].map = Map associated with the spriteset (not necessarily the current map).   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_spriteset_create_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_field_movement_event_args.cshtml">IOnStepTakenFieldMovementEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Event that just entered a tile.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_field_movement_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml">IOnStepTakenTransferPossibleEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] = Array that contains a single boolean value. If an event handler moves the player to a new map, it should set this value to true. Other event handlers should check this parameter's value.   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_step_taken_transfer_possible_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml">IOnTrainerPartyLoadEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Trainer e[1] - Items possessed by the trainer e[2] - Party   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_trainer_party_load_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml">IOnWildBattleEndEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_end_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml">IOnWildBattleOverrideEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pok&eacute;mon species e[1] - Pok&eacute;mon level e[2] - <a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_battle.cshtml">Battle</a> result (1-win, 2-loss, 3-escaped, 4-caught, 5-draw)   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_battle_override_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_pokemon_create_event_args.cshtml">IOnWildPokemonCreateEventArgs</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Parameters: e[0] - Pok&eacute;mon being created   <a href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_on_wild_pokemon_create_event_args.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_from_bag_event_args.cshtml">IUseFromBagEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_battle_event_args.cshtml">IUseInBattleEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_in_field_event_args.cshtml">IUseInFieldEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_event_arg_1_1_i_use_on_pokemon_event_args.cshtml">IUseOnPokemonEventArgs</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="func-members" name="func-members"></a>
Functions</h2></td></tr>
<tr class="memitem:aea25d975989983cf79ebecb9e2b47986"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#aea25d975989983cf79ebecb9e2b47986">UseOnPokemonDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a> scene)</td></tr>
<tr class="separator:aea25d975989983cf79ebecb9e2b47986"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa444eff67620d11335e2c29c35b7cb59"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#aa444eff67620d11335e2c29c35b7cb59">BattleUseOnPokemonDelegate</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene)</td></tr>
<tr class="separator:aa444eff67620d11335e2c29c35b7cb59"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a65894c96f5cf3b75f95e06380a81c64c"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#a65894c96f5cf3b75f95e06380a81c64c">BattleUseOnBattlerDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a> scene)</td></tr>
<tr class="separator:a65894c96f5cf3b75f95e06380a81c64c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0ec8cbc4ad0c47b879948cf48b23da4"><td class="memItemLeft" align="right" valign="top">delegate void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#ad0ec8cbc4ad0c47b879948cf48b23da4">UseInBattleDelegate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle)</td></tr>
<tr class="separator:ad0ec8cbc4ad0c47b879948cf48b23da4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3279720f6f7ebfec63dec35e2054d5f6"><td class="memItemLeft" align="right" valign="top">delegate bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#a3279720f6f7ebfec63dec35e2054d5f6">IsUnconditional</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:a3279720f6f7ebfec63dec35e2054d5f6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3c9c6ec1d1e2ff91937511b325a9a5a6"><td class="memItemLeft" align="right" valign="top">delegate int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#a3c9c6ec1d1e2ff91937511b325a9a5a6">ModifyCatchRate</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, int catchRate, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:a3c9c6ec1d1e2ff91937511b325a9a5a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1d9b2e0daeb14da4c1d4a69ce1b397d"><td class="memItemLeft" align="right" valign="top">delegate void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#ad1d9b2e0daeb14da4c1d4a69ce1b397d">OnCatch</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a> pokemon)</td></tr>
<tr class="separator:ad1d9b2e0daeb14da4c1d4a69ce1b397d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7bf873ff8a86c2ac34f75b06eeecb69"><td class="memItemLeft" align="right" valign="top">delegate void&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_event_arg.cshtml#aa7bf873ff8a86c2ac34f75b06eeecb69">OnFailCatch</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> ball, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a> battle, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a> battler)</td></tr>
<tr class="separator:aa7bf873ff8a86c2ac34f75b06eeecb69"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Function Documentation</h2>
<a id="a65894c96f5cf3b75f95e06380a81c64c" name="a65894c96f5cf3b75f95e06380a81c64c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65894c96f5cf3b75f95e06380a81c64c">&#9670;&#160;</a></span>BattleUseOnBattlerDelegate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate bool PokemonEssentials.Interface.EventArg.BattleUseOnBattlerDelegate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa444eff67620d11335e2c29c35b7cb59" name="aa444eff67620d11335e2c29c35b7cb59"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa444eff67620d11335e2c29c35b7cb59">&#9670;&#160;</a></span>BattleUseOnPokemonDelegate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate bool PokemonEssentials.Interface.EventArg.BattleUseOnPokemonDelegate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_poke_battle___scene.cshtml">PokemonEssentials.Interface.Screen.IPokeBattle_Scene</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3279720f6f7ebfec63dec35e2054d5f6" name="a3279720f6f7ebfec63dec35e2054d5f6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3279720f6f7ebfec63dec35e2054d5f6">&#9670;&#160;</a></span>IsUnconditional()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate bool PokemonEssentials.Interface.EventArg.IsUnconditional </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a3c9c6ec1d1e2ff91937511b325a9a5a6" name="a3c9c6ec1d1e2ff91937511b325a9a5a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c9c6ec1d1e2ff91937511b325a9a5a6">&#9670;&#160;</a></span>ModifyCatchRate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate int PokemonEssentials.Interface.EventArg.ModifyCatchRate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>catchRate</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1d9b2e0daeb14da4c1d4a69ce1b397d" name="ad1d9b2e0daeb14da4c1d4a69ce1b397d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1d9b2e0daeb14da4c1d4a69ce1b397d">&#9670;&#160;</a></span>OnCatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate void PokemonEssentials.Interface.EventArg.OnCatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7bf873ff8a86c2ac34f75b06eeecb69" name="aa7bf873ff8a86c2ac34f75b06eeecb69"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7bf873ff8a86c2ac34f75b06eeecb69">&#9670;&#160;</a></span>OnFailCatch()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate void PokemonEssentials.Interface.EventArg.OnFailCatch </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>ball</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad0ec8cbc4ad0c47b879948cf48b23da4" name="ad0ec8cbc4ad0c47b879948cf48b23da4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0ec8cbc4ad0c47b879948cf48b23da4">&#9670;&#160;</a></span>UseInBattleDelegate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate void PokemonEssentials.Interface.EventArg.UseInBattleDelegate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battler.cshtml">IBattler</a>&#160;</td>
          <td class="paramname"><em>battler</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_battle.cshtml">IBattle</a>&#160;</td>
          <td class="paramname"><em>battle</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aea25d975989983cf79ebecb9e2b47986" name="aea25d975989983cf79ebecb9e2b47986"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea25d975989983cf79ebecb9e2b47986">&#9670;&#160;</a></span>UseOnPokemonDelegate()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">delegate bool PokemonEssentials.Interface.EventArg.UseOnPokemonDelegate </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_screen_1_1_i_has_display_message.cshtml">PokemonEssentials.Interface.Screen.IHasDisplayMessage</a>&#160;</td>
          <td class="paramname"><em>scene</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
