@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Character Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">BadgeData</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">This class handles all actions regarding Badge loading and displaying. &lt;/summary  <a href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_day_care.cshtml">DayCare</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_data.cshtml">DayCareData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml">DayCareSlotData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_entities.cshtml">Entities</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">HiddenMoveData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml">IPhoneContact</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">For non-trainer contacts ("special" contacts). Each special contact in your phone can be called at any time by choosing them from the phone. They will never call the player, though.   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_contact.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_message_data.cshtml">IPhoneMessageData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml">IPhoneTrainerContact</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">For trainer contacts   <a href="interface_pokemon_unity_1_1_character_1_1_i_phone_trainer_contact.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_party.cshtml">Party</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c___refactor.cshtml">PC_Refactor</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml">PCItemStorage</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">The PC item storage object, which actually contains all the items   <a href="class_pokemon_unity_1_1_character_1_1_p_c_item_storage.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_phone.cshtml">Phone</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">The phone allows the player to store the phone numbers of various trainers and other important people, and to call them and receive calls from them at any time. The numbers in the phone are stored in the array <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_global_metadata.cshtml#a4c01f23fbc541a88dbd5b1b184144364">IGlobalMetadata.phoneNumbers</a>.   <a href="class_pokemon_unity_1_1_character_1_1_phone.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Player</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">Pokedex</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">The names of each Dex list in the game, in order and with National Dex at the end. This is also the order that PokemonGlobal.pokedexUnlocked is in, which records which Dexes have been unlocked (first is unlocked by default).  <a href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml">PokemonBag</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Collection of KeyValuePairs grouped by Items. Used in combination with quantity[], one holds the itemId (Key) and the other has amount (value).   <a href="class_pokemon_unity_1_1_character_1_1_pokemon_bag.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_box.cshtml">PokemonBox</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>PokemonPCList</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage.cshtml">PokemonStorage</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_pokemon_storage_with_party.cshtml">PokemonStorageWithParty</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_regional_storage.cshtml">RegionalStorage</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_storage_system_p_c.cshtml">StorageSystemPC</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Data struct for <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>, Secret, Gender (use for pokemons, players, and battles)   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">TrainerMetaData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_character_1_1_trainer_p_c.cshtml">TrainerPC</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a566b7cc6d1d040fab6ffb1af66b2dd37"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a> </td></tr>
<tr class="separator:a566b7cc6d1d040fab6ffb1af66b2dd37"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a82f09e6f6d682c9498aa35812c154b16"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a82f09e6f6d682c9498aa35812c154b16">PhoneMsgTypes</a> : int </td></tr>
<tr class="separator:a82f09e6f6d682c9498aa35812c154b16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95b20baad9a8f0c2d9eb879455ee76a5"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a95b20baad9a8f0c2d9eb879455ee76a5">PhoneBattleStatuses</a> : int </td></tr>
<tr class="separator:a95b20baad9a8f0c2d9eb879455ee76a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="a566b7cc6d1d040fab6ffb1af66b2dd37" name="a566b7cc6d1d040fab6ffb1af66b2dd37"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a566b7cc6d1d040fab6ffb1af66b2dd37">&#9670;&#160;</a></span>HiddenMoves</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">PokemonUnity.Character.HiddenMoves</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a95b20baad9a8f0c2d9eb879455ee76a5" name="a95b20baad9a8f0c2d9eb879455ee76a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95b20baad9a8f0c2d9eb879455ee76a5">&#9670;&#160;</a></span>PhoneBattleStatuses</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a95b20baad9a8f0c2d9eb879455ee76a5">PokemonUnity.Character.PhoneBattleStatuses</a> : int</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a82f09e6f6d682c9498aa35812c154b16" name="a82f09e6f6d682c9498aa35812c154b16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82f09e6f6d682c9498aa35812c154b16">&#9670;&#160;</a></span>PhoneMsgTypes</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a82f09e6f6d682c9498aa35812c154b16">PokemonUnity.Character.PhoneMsgTypes</a> : int</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
