@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Inventory Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_inventory_1_1_plants"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml">Plants</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>Item</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>ItemHandlers</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>ItemStorageHelper</b></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Implements methods that act on arrays of items. Each element in an item array is itself an array of [itemID, itemCount]. KeyValuePair&lt;Items, int&gt; Used by the Bag, PC item storage, and Triple Triad.  <br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">MachineData</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">&lt;/summary  <a href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">Mail</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Data structure representing mail that the Pokémon can hold   <a href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a88bcc16c916ce015bba31f959c11e0a7"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> </td></tr>
<tr class="memdesc:a88bcc16c916ce015bba31f959c11e0a7"><td class="mdescLeft">&#160;</td><td class="mdescRight">Item ids are connected to XML file.   <a href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">More...</a><br /></td></tr>
<tr class="separator:a88bcc16c916ce015bba31f959c11e0a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4f83904e5d1f65ba87ad008b3376ddee"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a> </td></tr>
<tr class="separator:a4f83904e5d1f65ba87ad008b3376ddee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f7da702161f73ae92d482c8e1ed0a40"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a> </td></tr>
<tr class="memdesc:a9f7da702161f73ae92d482c8e1ed0a40"><td class="mdescLeft">&#160;</td><td class="mdescRight">Item Category determines both the item's effect and the bag-pocket that the item belongs to.   <a href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">More...</a><br /></td></tr>
<tr class="separator:a9f7da702161f73ae92d482c8e1ed0a40"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1e2b0a5a4644ad44d579f7362d51416"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a> </td></tr>
<tr class="memdesc:aa1e2b0a5a4644ad44d579f7362d51416"><td class="mdescLeft">&#160;</td><td class="mdescRight">Effects that occur when items are thrown at target. Not all items can be thrown(?)...   <a href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">More...</a><br /></td></tr>
<tr class="separator:aa1e2b0a5a4644ad44d579f7362d51416"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10f0d96cc1e8c7765d7eb7a1635474de"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a10f0d96cc1e8c7765d7eb7a1635474de">ItemUseResults</a> </td></tr>
<tr class="separator:a10f0d96cc1e8c7765d7eb7a1635474de"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="a9f7da702161f73ae92d482c8e1ed0a40" name="a9f7da702161f73ae92d482c8e1ed0a40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f7da702161f73ae92d482c8e1ed0a40">&#9670;&#160;</a></span>ItemCategory</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">PokemonUnity.Inventory.ItemCategory</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Item Category determines both the item's effect and the bag-pocket that the item belongs to.  </p>
<p >Can determine an itemEffect by the category it belongs to. </p>

</div>
</div>
<a id="aa1e2b0a5a4644ad44d579f7362d51416" name="aa1e2b0a5a4644ad44d579f7362d51416"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1e2b0a5a4644ad44d579f7362d51416">&#9670;&#160;</a></span>ItemFlingEffect</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">PokemonUnity.Inventory.ItemFlingEffect</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Effects that occur when items are thrown at target. Not all items can be thrown(?)...  </p>
<p >Didnt have access to variable names...</p>

</div>
</div>
<a id="a4f83904e5d1f65ba87ad008b3376ddee" name="a4f83904e5d1f65ba87ad008b3376ddee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f83904e5d1f65ba87ad008b3376ddee">&#9670;&#160;</a></span>ItemPockets</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">PokemonUnity.Inventory.ItemPockets</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a88bcc16c916ce015bba31f959c11e0a7" name="a88bcc16c916ce015bba31f959c11e0a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a88bcc16c916ce015bba31f959c11e0a7">&#9670;&#160;</a></span>Items</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">PokemonUnity.Inventory.Items</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Item ids are connected to XML file.  </p>
<p >Running off of genVI. Be sure to overwrite both if modifying. Replace "[HP]{mechanic:hp}" in summary-tags with "&lt;see cref="Pokemon.HP"/&gt;" or "&lt;see cref="Pokemon.TotalHP"/&gt;" </p>
<p >Custom Values are in negative? </p>

</div>
</div>
<a id="a10f0d96cc1e8c7765d7eb7a1635474de" name="a10f0d96cc1e8c7765d7eb7a1635474de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10f0d96cc1e8c7765d7eb7a1635474de">&#9670;&#160;</a></span>ItemUseResults</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a10f0d96cc1e8c7765d7eb7a1635474de">PokemonUnity.Inventory.ItemUseResults</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>

