@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.UX Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml">UX</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.UX Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_u_x_1_1_i_front_end.cshtml">IFrontEnd</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml">Scene</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">List of all the scenes that utilized by frontend platform   <a href="class_pokemon_unity_1_1_u_x_1_1_scene.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml">Screen</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">List of all the screens that utilized by frontend platform   <a href="class_pokemon_unity_1_1_u_x_1_1_screen.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a2b5c94ec1b9c2fceaa3aab999708a3f2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a2b5c94ec1b9c2fceaa3aab999708a3f2">TextEntryTypes</a> </td></tr>
<tr class="separator:a2b5c94ec1b9c2fceaa3aab999708a3f2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a26d222a4145c5a05914246558a3b65"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">InputKeys</a> : int </td></tr>
<tr class="separator:a0a26d222a4145c5a05914246558a3b65"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="a0a26d222a4145c5a05914246558a3b65" name="a0a26d222a4145c5a05914246558a3b65"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a26d222a4145c5a05914246558a3b65">&#9670;&#160;</a></span>InputKeys</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a0a26d222a4145c5a05914246558a3b65">PokemonUnity.UX.InputKeys</a> : int</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2b5c94ec1b9c2fceaa3aab999708a3f2" name="a2b5c94ec1b9c2fceaa3aab999708a3f2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b5c94ec1b9c2fceaa3aab999708a3f2">&#9670;&#160;</a></span>TextEntryTypes</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_u_x.cshtml#a2b5c94ec1b9c2fceaa3aab999708a3f2">PokemonUnity.UX.TextEntryTypes</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
