@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Monster Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#namespaces">Namespaces</a> &#124;
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="namespaces" name="namespaces"></a>
Namespaces</h2></td></tr>
<tr class="memitem:namespace_pokemon_unity_1_1_monster_1_1_data"><td class="memItemLeft" align="right" valign="top">namespace &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>EvolutionHelper</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>MultipleForms</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_nature.cshtml">Nature</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___battle_peer.cshtml">PokeBattle_BattlePeer</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___null_battle_peer.cshtml">PokeBattle_NullBattlePeer</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_poke_battle___real_battle_peer.cshtml">PokeBattle_RealBattlePeer</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a7163c063275d925b8a5568f36513cc97"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">Rarity</a> </td></tr>
<tr class="separator:a7163c063275d925b8a5568f36513cc97"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d8bd6295d550bceb8db2d87e982233e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a> </td></tr>
<tr class="memdesc:a0d8bd6295d550bceb8db2d87e982233e"><td class="mdescLeft">&#160;</td><td class="mdescRight">The likelihood of a Pok&eacute;mon of the species being a certain gender.   <a href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">More...</a><br /></td></tr>
<tr class="separator:a0d8bd6295d550bceb8db2d87e982233e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a49198148aa64bebaa554a09a1a020a1e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> </td></tr>
<tr class="separator:a49198148aa64bebaa554a09a1a020a1e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae19417bd37371fb971f1007be52acf3e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a> </td></tr>
<tr class="separator:ae19417bd37371fb971f1007be52acf3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa906a9f31339f0572c86d333cc4fd07d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">Shape</a> </td></tr>
<tr class="separator:aa906a9f31339f0572c86d333cc4fd07d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0d67706d345a83ea57684ab0e44375c1"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">Habitat</a> </td></tr>
<tr class="separator:a0d67706d345a83ea57684ab0e44375c1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a006b000842ecac022ed75bd637df09dd"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a006b000842ecac022ed75bd637df09dd">Natures</a> </td></tr>
<tr class="separator:a006b000842ecac022ed75bd637df09dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeed0166527271000b86d5004c9bbdfb2"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">Stats</a> </td></tr>
<tr class="separator:aeed0166527271000b86d5004c9bbdfb2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad9794455726368271eee24a6e5e969be"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">LearnMethod</a> </td></tr>
<tr class="separator:ad9794455726368271eee24a6e5e969be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a30da27cb49369581097a6459498b2be3"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> </td></tr>
<tr class="memdesc:a30da27cb49369581097a6459498b2be3"><td class="mdescLeft">&#160;</td><td class="mdescRight">no parameter, Positive integer, Item = Items, Move = Moves, Species = Pokemons, Type = Types   <a href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">More...</a><br /></td></tr>
<tr class="separator:a30da27cb49369581097a6459498b2be3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02089e2793b88ed1e42b3815a37c47aa"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Forms</a> </td></tr>
<tr class="separator:a02089e2793b88ed1e42b3815a37c47aa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73c7a5a79d8b87e311b5351c76b02e95"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a73c7a5a79d8b87e311b5351c76b02e95">PokemonActions</a> </td></tr>
<tr class="separator:a73c7a5a79d8b87e311b5351c76b02e95"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="ae19417bd37371fb971f1007be52acf3e" name="ae19417bd37371fb971f1007be52acf3e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae19417bd37371fb971f1007be52acf3e">&#9670;&#160;</a></span>EggGroups</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">PokemonUnity.Monster.EggGroups</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a30da27cb49369581097a6459498b2be3" name="a30da27cb49369581097a6459498b2be3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a30da27cb49369581097a6459498b2be3">&#9670;&#160;</a></span>EvolutionMethod</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">PokemonUnity.Monster.EvolutionMethod</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>no parameter, Positive integer, Item = Items, Move = <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97" title="Move ids are connected to XML file.">Moves</a>, Species = <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47" title="Pokemon ids are connected to XML file.">Pokemons</a>, Type = <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>  </p>
<p >E.G. Poliwhirl(61) </p><div class="fragment"><div class="line"><span class="keyword">new</span> <span class="keywordtype">int</span>[]{62,186},</div>
<div class="line">    <span class="keyword">new</span> <span class="keywordtype">string</span>[]{<span class="stringliteral">&quot;Stone,Water Stone&quot;</span>,<span class="stringliteral">&quot;Trade\Item,King&#39;s Rock&quot;</span>}),</div>
</div><!-- fragment --><p >E.G. to evolve to sylveon </p><div class="fragment"><div class="line"><span class="keyword">new</span> <span class="keywordtype">int</span>[]{..., 700},</div>
<div class="line">    <span class="keyword">new</span> <span class="keywordtype">string</span>[]{..., <span class="stringliteral">&quot;Amie\Move,2\Fairy&quot;</span>}),</div>
</div><!-- fragment --> <p >ToDo: Custom class =&gt; new Evolve(){ EvolveMethod.Item, Items.Item } ToDo: If all conditions are met in "new Evolve()" instance, then evolve. Ideas: Merge two or more existing methods together into a new one. Evolution that depends on the Pok&eacute;mon's nature or form. Fusion evolution(e.g. for Magnemite/Slowpoke). Check that there is a Shellder in the party, and if so, delete it and evolve the levelled-up Slowpoke. Check how many EVs the Pok&eacute;mon has, and allows evolution only if that amount is greater than or equal to the EV threshold value set by the parameter. Shiny-Random? </p>

</div>
</div>
<a id="a02089e2793b88ed1e42b3815a37c47aa" name="a02089e2793b88ed1e42b3815a37c47aa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02089e2793b88ed1e42b3815a37c47aa">&#9670;&#160;</a></span>Forms</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">PokemonUnity.Monster.Forms</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a0d8bd6295d550bceb8db2d87e982233e" name="a0d8bd6295d550bceb8db2d87e982233e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d8bd6295d550bceb8db2d87e982233e">&#9670;&#160;</a></span>GenderRatio</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">PokemonUnity.Monster.GenderRatio</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The likelihood of a Pok&eacute;mon of the species being a certain gender.  </p>

</div>
</div>
<a id="a0d67706d345a83ea57684ab0e44375c1" name="a0d67706d345a83ea57684ab0e44375c1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0d67706d345a83ea57684ab0e44375c1">&#9670;&#160;</a></span>Habitat</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">PokemonUnity.Monster.Habitat</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad9794455726368271eee24a6e5e969be" name="ad9794455726368271eee24a6e5e969be"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9794455726368271eee24a6e5e969be">&#9670;&#160;</a></span>LearnMethod</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">PokemonUnity.Monster.LearnMethod</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a49198148aa64bebaa554a09a1a020a1e" name="a49198148aa64bebaa554a09a1a020a1e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a49198148aa64bebaa554a09a1a020a1e">&#9670;&#160;</a></span>LevelingRate</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">PokemonUnity.Monster.LevelingRate</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a006b000842ecac022ed75bd637df09dd" name="a006b000842ecac022ed75bd637df09dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a006b000842ecac022ed75bd637df09dd">&#9670;&#160;</a></span>Natures</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a006b000842ecac022ed75bd637df09dd">PokemonUnity.Monster.Natures</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a73c7a5a79d8b87e311b5351c76b02e95" name="a73c7a5a79d8b87e311b5351c76b02e95"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73c7a5a79d8b87e311b5351c76b02e95">&#9670;&#160;</a></span>PokemonActions</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a73c7a5a79d8b87e311b5351c76b02e95">PokemonUnity.Monster.PokemonActions</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7163c063275d925b8a5568f36513cc97" name="a7163c063275d925b8a5568f36513cc97"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7163c063275d925b8a5568f36513cc97">&#9670;&#160;</a></span>Rarity</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">PokemonUnity.Monster.Rarity</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa906a9f31339f0572c86d333cc4fd07d" name="aa906a9f31339f0572c86d333cc4fd07d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa906a9f31339f0572c86d333cc4fd07d">&#9670;&#160;</a></span>Shape</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">PokemonUnity.Monster.Shape</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeed0166527271000b86d5004c9bbdfb2" name="aeed0166527271000b86d5004c9bbdfb2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeed0166527271000b86d5004c9bbdfb2">&#9670;&#160;</a></span>Stats</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aeed0166527271000b86d5004c9bbdfb2">PokemonUnity.Monster.Stats</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
