@{
	Page.Title = "PokemonUnity.Overworld Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Overworld Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">Area</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used to represent which Map Id this object data is associated with   <a href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">EncounterData</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Data records of pokemon profiles used for pooling together a random chance enounter for a battle against wild pokemons   <a href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">struct &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">EncounterSlotData</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">IArea</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used to represent which Map Id this object data is associated with   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">interface &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">IEncounterData</a></td></tr>
<tr class="memdesc:"><td class="mdescLeft">&#160;</td><td class="mdescRight">Data records of pokemon profiles used for pooling together a random chance enounter for a battle against wild pokemons   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#details">More...</a><br /></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><b>Terrain</b></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a106f1a6fb0d3362b969ef0e2c1a9bc51"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a106f1a6fb0d3362b969ef0e2c1a9bc51">DayTime</a> : int </td></tr>
<tr class="separator:a106f1a6fb0d3362b969ef0e2c1a9bc51"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade708678ad7f922cece06cdbeb2b3042"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">FieldWeathers</a> : int </td></tr>
<tr class="memdesc:ade708678ad7f922cece06cdbeb2b3042"><td class="mdescLeft">&#160;</td><td class="mdescRight">Weather option for overworld. For battle use weather, use Combat.Weather   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">More...</a><br /></td></tr>
<tr class="separator:ade708678ad7f922cece06cdbeb2b3042"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4a5d1860bd07de7a21b4981e764700d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">Terrains</a> </td></tr>
<tr class="memdesc:ab4a5d1860bd07de7a21b4981e764700d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Terrain Tags or Tiles a player can be stepping on; used to contruct map floor plane   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">More...</a><br /></td></tr>
<tr class="separator:ab4a5d1860bd07de7a21b4981e764700d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">Environments</a> </td></tr>
<tr class="memdesc:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="mdescLeft">&#160;</td><td class="mdescRight">Used in battle system to reflect background theme and design   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">More...</a><br /></td></tr>
<tr class="separator:a5f8faaaa9680d40830ea7c82e647b2e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab443ecf5ff81c3c96d8791c220167e9f"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab443ecf5ff81c3c96d8791c220167e9f">EncounterTypes</a> </td></tr>
<tr class="separator:ab443ecf5ff81c3c96d8791c220167e9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a441bb53fe173af8730970779c8ef933b"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> </td></tr>
<tr class="memdesc:a441bb53fe173af8730970779c8ef933b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Encounter method   <a href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">More...</a><br /></td></tr>
<tr class="separator:a441bb53fe173af8730970779c8ef933b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af06839e96a5b187b10171e20cd242d2e"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#af06839e96a5b187b10171e20cd242d2e">Condition</a> </td></tr>
<tr class="separator:af06839e96a5b187b10171e20cd242d2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7debeabf2d067a4a5286f17581d0fbac"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a> </td></tr>
<tr class="separator:a7debeabf2d067a4a5286f17581d0fbac"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abba865591a9f03481e8a9ed3de1eb87d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">EdgeMasks</a> </td></tr>
<tr class="separator:abba865591a9f03481e8a9ed3de1eb87d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="af06839e96a5b187b10171e20cd242d2e" name="af06839e96a5b187b10171e20cd242d2e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af06839e96a5b187b10171e20cd242d2e">&#9670;&#160;</a></span>Condition</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#af06839e96a5b187b10171e20cd242d2e">PokemonUnity.Overworld.Condition</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="a7debeabf2d067a4a5286f17581d0fbac" name="a7debeabf2d067a4a5286f17581d0fbac"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7debeabf2d067a4a5286f17581d0fbac">&#9670;&#160;</a></span>ConditionValue</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">PokemonUnity.Overworld.ConditionValue</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>
<p >default: swarm-no, time-day, radar-off, slot-none, radio-off </p>
<p >ToDo: Change from Enum to class with Bool values </p>

</div>
</div>
<a id="a106f1a6fb0d3362b969ef0e2c1a9bc51" name="a106f1a6fb0d3362b969ef0e2c1a9bc51"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a106f1a6fb0d3362b969ef0e2c1a9bc51">&#9670;&#160;</a></span>DayTime</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a106f1a6fb0d3362b969ef0e2c1a9bc51">PokemonUnity.Overworld.DayTime</a> : int</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="abba865591a9f03481e8a9ed3de1eb87d" name="abba865591a9f03481e8a9ed3de1eb87d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abba865591a9f03481e8a9ed3de1eb87d">&#9670;&#160;</a></span>EdgeMasks</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#abba865591a9f03481e8a9ed3de1eb87d">PokemonUnity.Overworld.EdgeMasks</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab443ecf5ff81c3c96d8791c220167e9f" name="ab443ecf5ff81c3c96d8791c220167e9f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab443ecf5ff81c3c96d8791c220167e9f">&#9670;&#160;</a></span>EncounterTypes</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab443ecf5ff81c3c96d8791c220167e9f">PokemonUnity.Overworld.EncounterTypes</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a5f8faaaa9680d40830ea7c82e647b2e8" name="a5f8faaaa9680d40830ea7c82e647b2e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5f8faaaa9680d40830ea7c82e647b2e8">&#9670;&#160;</a></span>Environments</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">PokemonUnity.Overworld.Environments</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Used in battle system to reflect background theme and design  </p>

</div>
</div>
<a id="ade708678ad7f922cece06cdbeb2b3042" name="ade708678ad7f922cece06cdbeb2b3042"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade708678ad7f922cece06cdbeb2b3042">&#9670;&#160;</a></span>FieldWeathers</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ade708678ad7f922cece06cdbeb2b3042">PokemonUnity.Overworld.FieldWeathers</a> : int</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Weather option for overworld. For battle use weather, use <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#acbbd15c844923d5c2e18d50f3133b625">Combat.Weather</a>  </p>

</div>
</div>
<a id="a441bb53fe173af8730970779c8ef933b" name="a441bb53fe173af8730970779c8ef933b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a441bb53fe173af8730970779c8ef933b">&#9670;&#160;</a></span>Method</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">PokemonUnity.Overworld.Method</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p><a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> method  </p>

</div>
</div>
<a id="ab4a5d1860bd07de7a21b4981e764700d" name="ab4a5d1860bd07de7a21b4981e764700d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4a5d1860bd07de7a21b4981e764700d">&#9670;&#160;</a></span>Terrains</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#ab4a5d1860bd07de7a21b4981e764700d">PokemonUnity.Overworld.Terrains</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Terrain Tags or Tiles a player can be stepping on; used to contruct map floor plane  </p>

</div>
</div>
