@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Inventory.Plants Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml">Plants</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.Plants Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:a180b21ea4ad032ae6916c6162033b48d"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#a180b21ea4ad032ae6916c6162033b48d">Flavours</a> </td></tr>
<tr class="separator:a180b21ea4ad032ae6916c6162033b48d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1e22a89978ec77640c4f22ee6ee5537"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">FirmnessLevel</a> </td></tr>
<tr class="separator:ae1e22a89978ec77640c4f22ee6ee5537"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="ae1e22a89978ec77640c4f22ee6ee5537" name="ae1e22a89978ec77640c4f22ee6ee5537"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1e22a89978ec77640c4f22ee6ee5537">&#9670;&#160;</a></span>FirmnessLevel</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">PokemonUnity.Inventory.Plants.FirmnessLevel</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a180b21ea4ad032ae6916c6162033b48d" name="a180b21ea4ad032ae6916c6162033b48d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a180b21ea4ad032ae6916c6162033b48d">&#9670;&#160;</a></span>Flavours</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#a180b21ea4ad032ae6916c6162033b48d">PokemonUnity.Inventory.Plants.Flavours</a></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>

