@{
	Page.Title = "PokemonUnity.Localization Namespace Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_localization.cshtml">Localization</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#nested-classes">Classes</a> &#124;
<a href="#enum-members">Enumerations</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Localization Namespace Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="nested-classes" name="nested-classes"></a>
Classes</h2></td></tr>
<tr class="memitem:"><td class="memItemLeft" align="right" valign="top">class &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="class_pokemon_unity_1_1_localization_1_1_xml_string_res.cshtml">XmlStringRes</a></td></tr>
<tr class="separator:"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="enum-members" name="enum-members"></a>
Enumerations</h2></td></tr>
<tr class="memitem:ad17d9a953ccea5da590df2808d9c7910"><td class="memItemLeft" align="right" valign="top">enum &#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="namespace_pokemon_unity_1_1_localization.cshtml#ad17d9a953ccea5da590df2808d9c7910">Text</a> </td></tr>
<tr class="memdesc:ad17d9a953ccea5da590df2808d9c7910"><td class="mdescLeft">&#160;</td><td class="mdescRight">Different category sections a piece of translated text could belong to   <a href="namespace_pokemon_unity_1_1_localization.cshtml#ad17d9a953ccea5da590df2808d9c7910">More...</a><br /></td></tr>
<tr class="separator:ad17d9a953ccea5da590df2808d9c7910"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Enumeration Type Documentation</h2>
<a id="ad17d9a953ccea5da590df2808d9c7910" name="ad17d9a953ccea5da590df2808d9c7910"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad17d9a953ccea5da590df2808d9c7910">&#9670;&#160;</a></span>Text</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">enum <a class="el" href="namespace_pokemon_unity_1_1_localization.cshtml#ad17d9a953ccea5da590df2808d9c7910">PokemonUnity.Localization.Text</a></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Different category sections a piece of translated text could belong to  </p>

</div>
</div>
