@{
	Page.Title = "PokemonUnity.PokeRadars Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokeRadars</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_poke_radars-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.PokeRadars Struct Reference</div></div>
}


<p>A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar. The information within is as follows:  
 <a href="struct_pokemon_unity_1_1_poke_radars.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a65b9851f06509679e90c2888da80ef69"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a65b9851f06509679e90c2888da80ef69">PokeRadars</a> (int map, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> pkmn, int chance, byte min, byte max)</td></tr>
<tr class="memdesc:a65b9851f06509679e90c2888da80ef69"><td class="mdescLeft">&#160;</td><td class="mdescRight">A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar.   <a href="struct_pokemon_unity_1_1_poke_radars.cshtml#a65b9851f06509679e90c2888da80ef69">More...</a><br /></td></tr>
<tr class="separator:a65b9851f06509679e90c2888da80ef69"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a352b8a86c3c345d8ed21423f90960c0c"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a352b8a86c3c345d8ed21423f90960c0c">PokeRadars</a> (int map, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> pkmn, int chance, byte min)</td></tr>
<tr class="memdesc:a352b8a86c3c345d8ed21423f90960c0c"><td class="mdescLeft">&#160;</td><td class="mdescRight">A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar.   <a href="struct_pokemon_unity_1_1_poke_radars.cshtml#a352b8a86c3c345d8ed21423f90960c0c">More...</a><br /></td></tr>
<tr class="separator:a352b8a86c3c345d8ed21423f90960c0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a7033d4bd5126446cf4e380eab6302528"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a7033d4bd5126446cf4e380eab6302528">MapId</a><code> [get]</code></td></tr>
<tr class="separator:a7033d4bd5126446cf4e380eab6302528"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a081e1061c17715faab447d445884a185"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a081e1061c17715faab447d445884a185">EncounterChance</a><code> [get]</code></td></tr>
<tr class="separator:a081e1061c17715faab447d445884a185"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af78e46cb5284a5426f768a29670d3de4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#af78e46cb5284a5426f768a29670d3de4">Species</a><code> [get]</code></td></tr>
<tr class="separator:af78e46cb5284a5426f768a29670d3de4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab1a643730e020c1b48dec8b02d85ec7d"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#ab1a643730e020c1b48dec8b02d85ec7d">LevelMinMax</a><code> [get]</code></td></tr>
<tr class="memdesc:ab1a643730e020c1b48dec8b02d85ec7d"><td class="mdescLeft">&#160;</td><td class="mdescRight">LevelMin is 0 in Array. LevelMax is 1 in Array. LevelMax is Optional.   <a href="struct_pokemon_unity_1_1_poke_radars.cshtml#ab1a643730e020c1b48dec8b02d85ec7d">More...</a><br /></td></tr>
<tr class="separator:ab1a643730e020c1b48dec8b02d85ec7d"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar. The information within is as follows: </p>
<ul>
<li>Map ID on which this encounter can occur.</li>
</ul>
<ul>
<li>Probability that this encounter will occur (as a percentage).</li>
</ul>
<ul>
<li>Species.</li>
</ul>
<ul>
<li>Minimum possible level.</li>
</ul>
<ul>
<li>Maximum possible level (optional).  </li>
</ul>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a65b9851f06509679e90c2888da80ef69" name="a65b9851f06509679e90c2888da80ef69"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65b9851f06509679e90c2888da80ef69">&#9670;&#160;</a></span>PokeRadars() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.PokeRadars.PokeRadars </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>chance</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>min</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>max</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">map</td><td>Map ID on which this encounter can occur.</td></tr>
    <tr><td class="paramname">pkmn</td><td>Species.</td></tr>
    <tr><td class="paramname">chance</td><td>Probability that this encounter will occur (as a percentage).</td></tr>
    <tr><td class="paramname">min</td><td>Minimum possible level.</td></tr>
    <tr><td class="paramname">max</td><td>Maximum possible level (optional).</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<a id="a352b8a86c3c345d8ed21423f90960c0c" name="a352b8a86c3c345d8ed21423f90960c0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a352b8a86c3c345d8ed21423f90960c0c">&#9670;&#160;</a></span>PokeRadars() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.PokeRadars.PokeRadars </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>pkmn</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>chance</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>min</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>A set of arrays each containing details of a wild encounter that can only occur via using the Pok&eacute; Radar.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">map</td><td>Map ID on which this encounter can occur.</td></tr>
    <tr><td class="paramname">pkmn</td><td>Species.</td></tr>
    <tr><td class="paramname">chance</td><td>Probability that this encounter will occur (as a percentage).</td></tr>
    <tr><td class="paramname">min</td><td>Minimum possible level. (Also used as max possible level)</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a081e1061c17715faab447d445884a185" name="a081e1061c17715faab447d445884a185"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a081e1061c17715faab447d445884a185">&#9670;&#160;</a></span>EncounterChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokeRadars.EncounterChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab1a643730e020c1b48dec8b02d85ec7d" name="ab1a643730e020c1b48dec8b02d85ec7d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab1a643730e020c1b48dec8b02d85ec7d">&#9670;&#160;</a></span>LevelMinMax</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.PokeRadars.LevelMinMax</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>LevelMin is 0 in Array. LevelMax is 1 in Array. LevelMax is Optional.  </p>

</div>
</div>
<a id="a7033d4bd5126446cf4e380eab6302528" name="a7033d4bd5126446cf4e380eab6302528"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7033d4bd5126446cf4e380eab6302528">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.PokeRadars.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af78e46cb5284a5426f768a29670d3de4" name="af78e46cb5284a5426f768a29670d3de4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af78e46cb5284a5426f768a29670d3de4">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.PokeRadars.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/Gear/<a class="el" href="_poke_radar_8cs.cshtml">PokeRadar.cs</a></li>
</ul>

