@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokeRadarGrassData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.PokeRadarGrassData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml#acbc96d998a6cae9ef78ff93267f58a3b">PokeRadarGrassData</a>(int mapx, int mapy, int ring, int rarity)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml#a0ec77bd73e68c227c2ff3be5fbca25ae">Rarity</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml#a443e2a6a48054fda6cb3e9a2ef6d5869">Ring</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml#a3e2e284f3c1ca590ed1fb1c75eb26496">X</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml#a16d6bf2d905a08f2aa3b786e334159da">Y</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_grass_data.cshtml">PokemonUnity.PokeRadarGrassData</a></td><td class="entry"></td></tr>
</table>
