@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Character.HiddenMoveData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">HiddenMoveData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.HiddenMoveData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7c1dde51f3d4ea19a2f75e4dfd456982"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#a7c1dde51f3d4ea19a2f75e4dfd456982">HiddenMoveData</a> (<a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a> id, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move, <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a> badge, byte badges)</td></tr>
<tr class="separator:a7c1dde51f3d4ea19a2f75e4dfd456982"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aae03cc95df1925c6426cdcbe595e9618"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#aae03cc95df1925c6426cdcbe595e9618">Id</a><code> [get]</code></td></tr>
<tr class="separator:aae03cc95df1925c6426cdcbe595e9618"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaefd0506ae30390ed4d52ecd17a586f1"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#aaefd0506ae30390ed4d52ecd17a586f1">Badges</a><code> [get]</code></td></tr>
<tr class="memdesc:aaefd0506ae30390ed4d52ecd17a586f1"><td class="mdescLeft">&#160;</td><td class="mdescRight">Number of badges needed in order to use this HM outside of battle Core.HIDDENMOVESCOUNTBADGES   <a href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#aaefd0506ae30390ed4d52ecd17a586f1">More...</a><br /></td></tr>
<tr class="separator:aaefd0506ae30390ed4d52ecd17a586f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a799d1c6e7873a10058ace0c57ea37045"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#a799d1c6e7873a10058ace0c57ea37045">Badge</a><code> [get]</code></td></tr>
<tr class="memdesc:a799d1c6e7873a10058ace0c57ea37045"><td class="mdescLeft">&#160;</td><td class="mdescRight">Gym badge needed in order to use this HM outside of battle Core.HIDDENMOVESCOUNTBADGES   <a href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#a799d1c6e7873a10058ace0c57ea37045">More...</a><br /></td></tr>
<tr class="separator:a799d1c6e7873a10058ace0c57ea37045"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abe910ad3c7deb532cba14d564d77be76"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#abe910ad3c7deb532cba14d564d77be76">Move</a><code> [get]</code></td></tr>
<tr class="memdesc:abe910ad3c7deb532cba14d564d77be76"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move associated with this particular HM   <a href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#abe910ad3c7deb532cba14d564d77be76">More...</a><br /></td></tr>
<tr class="separator:abe910ad3c7deb532cba14d564d77be76"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a7c1dde51f3d4ea19a2f75e4dfd456982" name="a7c1dde51f3d4ea19a2f75e4dfd456982"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c1dde51f3d4ea19a2f75e4dfd456982">&#9670;&#160;</a></span>HiddenMoveData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.HiddenMoveData.HiddenMoveData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a>&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>&#160;</td>
          <td class="paramname"><em>badge</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>badges</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a799d1c6e7873a10058ace0c57ea37045" name="a799d1c6e7873a10058ace0c57ea37045"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a799d1c6e7873a10058ace0c57ea37045">&#9670;&#160;</a></span>Badge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a> PokemonUnity.Character.HiddenMoveData.Badge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Gym badge needed in order to use this HM outside of battle Core.HIDDENMOVESCOUNTBADGES  </p>

</div>
</div>
<a id="aaefd0506ae30390ed4d52ecd17a586f1" name="aaefd0506ae30390ed4d52ecd17a586f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaefd0506ae30390ed4d52ecd17a586f1">&#9670;&#160;</a></span>Badges</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.HiddenMoveData.Badges</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Number of badges needed in order to use this HM outside of battle Core.HIDDENMOVESCOUNTBADGES  </p>

</div>
</div>
<a id="aae03cc95df1925c6426cdcbe595e9618" name="aae03cc95df1925c6426cdcbe595e9618"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae03cc95df1925c6426cdcbe595e9618">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml#a566b7cc6d1d040fab6ffb1af66b2dd37">HiddenMoves</a> PokemonUnity.Character.HiddenMoveData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abe910ad3c7deb532cba14d564d77be76" name="abe910ad3c7deb532cba14d564d77be76"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abe910ad3c7deb532cba14d564d77be76">&#9670;&#160;</a></span>Move</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonUnity.Character.HiddenMoveData.Move</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Move associated with this particular HM  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/<a class="el" href="_badge_data_8cs.cshtml">BadgeData.cs</a></li>
</ul>

