@{
	Page.Title = "PokemonUnity.Inventory.ItemData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_inventory_1_1_item_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.ItemData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3c1c94081e49b50f5024d71ed2171354"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3c1c94081e49b50f5024d71ed2171354">ItemData</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> itemId, int price=0, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a> itemCategory=ItemCategory.UNUSED, <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a> itemFlag=new <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>(), int? power=0, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>? itemFlingEffect=null, int[] gens=null)</td></tr>
<tr class="separator:a3c1c94081e49b50f5024d71ed2171354"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a1cc5543ce6d2058485b4befd45ffb098"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a1cc5543ce6d2058485b4befd45ffb098">IsPokeBall</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a1cc5543ce6d2058485b4befd45ffb098"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97fc7c0ba55cf8cb3eca2f78f5cc694d"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a97fc7c0ba55cf8cb3eca2f78f5cc694d">IsLetter</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a97fc7c0ba55cf8cb3eca2f78f5cc694d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6db22f0125d7b2e330249fdf9f3e34c0"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a6db22f0125d7b2e330249fdf9f3e34c0">IsApricon</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a6db22f0125d7b2e330249fdf9f3e34c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8e2a8fb6a5026c778df873d771b6b102"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a8e2a8fb6a5026c778df873d771b6b102">IsBerry</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a8e2a8fb6a5026c778df873d771b6b102"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a13e2a3496f6bf0e0b263afb2d6930343"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a13e2a3496f6bf0e0b263afb2d6930343">IsGem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a13e2a3496f6bf0e0b263afb2d6930343"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aff993b08713248696fe0d25075c776ca"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aff993b08713248696fe0d25075c776ca">IsMegaStone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:aff993b08713248696fe0d25075c776ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3bf3bbf609618721d26473edd9a1f8b8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3bf3bbf609618721d26473edd9a1f8b8">Price</a><code> [get]</code></td></tr>
<tr class="separator:a3bf3bbf609618721d26473edd9a1f8b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abec3b7ccbc29463c8402426c51436143"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abec3b7ccbc29463c8402426c51436143">BattleUse</a><code> [get]</code></td></tr>
<tr class="memdesc:abec3b7ccbc29463c8402426c51436143"><td class="mdescLeft">&#160;</td><td class="mdescRight">Should be a description of what it does when in battle, but might be better as a bool   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abec3b7ccbc29463c8402426c51436143">More...</a><br /></td></tr>
<tr class="separator:abec3b7ccbc29463c8402426c51436143"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f9b62bf51b9d5fe31cef3a8601a5ba6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a8f9b62bf51b9d5fe31cef3a8601a5ba6">Id</a><code> [get]</code></td></tr>
<tr class="separator:a8f9b62bf51b9d5fe31cef3a8601a5ba6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f99c299932d47649566fd3926280932"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9f99c299932d47649566fd3926280932">Flags</a><code> [get]</code></td></tr>
<tr class="separator:a9f99c299932d47649566fd3926280932"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af15e551ba38f1347cbf1418d9cf320a2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#af15e551ba38f1347cbf1418d9cf320a2">Category</a><code> [get]</code></td></tr>
<tr class="separator:af15e551ba38f1347cbf1418d9cf320a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9cb4a0692ea4cd5e9420965917aa266a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9cb4a0692ea4cd5e9420965917aa266a">Pocket</a><code> [get]</code></td></tr>
<tr class="separator:a9cb4a0692ea4cd5e9420965917aa266a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2cba5ac74953ed6297514fe778f2119"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa2cba5ac74953ed6297514fe778f2119">FlingEffect</a><code> [get]</code></td></tr>
<tr class="separator:aa2cba5ac74953ed6297514fe778f2119"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abca373feb5b824612e00d9f65d13b6ba"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abca373feb5b824612e00d9f65d13b6ba">FlingPower</a><code> [get]</code></td></tr>
<tr class="separator:abca373feb5b824612e00d9f65d13b6ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37df228da1b29a49d833118b3cecb4f0"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a37df228da1b29a49d833118b3cecb4f0">Generations</a><code> [get]</code></td></tr>
<tr class="separator:a37df228da1b29a49d833118b3cecb4f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7de05c2c326770499e32817adb5d2a33"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a7de05c2c326770499e32817adb5d2a33">Name</a><code> [get]</code></td></tr>
<tr class="separator:a7de05c2c326770499e32817adb5d2a33"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7a0f59430075ba6c6723143c001f076"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa7a0f59430075ba6c6723143c001f076">Description</a><code> [get]</code></td></tr>
<tr class="separator:aa7a0f59430075ba6c6723143c001f076"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae6f09e9417d7477515e251296623bfe4"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#ae6f09e9417d7477515e251296623bfe4">Plural</a><code> [get]</code></td></tr>
<tr class="separator:ae6f09e9417d7477515e251296623bfe4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3c1c94081e49b50f5024d71ed2171354" name="a3c1c94081e49b50f5024d71ed2171354"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c1c94081e49b50f5024d71ed2171354">&#9670;&#160;</a></span>ItemData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Inventory.ItemData.ItemData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>itemId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>price</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a>&#160;</td>
          <td class="paramname"><em>itemCategory</em> = <code>ItemCategory.UNUSED</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>&#160;</td>
          <td class="paramname"><em>itemFlag</em> = <code>new&#160;<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>()</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>power</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>?&#160;</td>
          <td class="paramname"><em>itemFlingEffect</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>gens</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6db22f0125d7b2e330249fdf9f3e34c0" name="a6db22f0125d7b2e330249fdf9f3e34c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6db22f0125d7b2e330249fdf9f3e34c0">&#9670;&#160;</a></span>IsApricon()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsApricon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8e2a8fb6a5026c778df873d771b6b102" name="a8e2a8fb6a5026c778df873d771b6b102"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8e2a8fb6a5026c778df873d771b6b102">&#9670;&#160;</a></span>IsBerry()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsBerry </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a13e2a3496f6bf0e0b263afb2d6930343" name="a13e2a3496f6bf0e0b263afb2d6930343"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a13e2a3496f6bf0e0b263afb2d6930343">&#9670;&#160;</a></span>IsGem()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsGem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a97fc7c0ba55cf8cb3eca2f78f5cc694d" name="a97fc7c0ba55cf8cb3eca2f78f5cc694d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97fc7c0ba55cf8cb3eca2f78f5cc694d">&#9670;&#160;</a></span>IsLetter()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsLetter </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aff993b08713248696fe0d25075c776ca" name="aff993b08713248696fe0d25075c776ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aff993b08713248696fe0d25075c776ca">&#9670;&#160;</a></span>IsMegaStone()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsMegaStone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1cc5543ce6d2058485b4befd45ffb098" name="a1cc5543ce6d2058485b4befd45ffb098"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1cc5543ce6d2058485b4befd45ffb098">&#9670;&#160;</a></span>IsPokeBall()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.IsPokeBall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="abec3b7ccbc29463c8402426c51436143" name="abec3b7ccbc29463c8402426c51436143"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abec3b7ccbc29463c8402426c51436143">&#9670;&#160;</a></span>BattleUse</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.BattleUse</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Should be a description of what it does when in battle, but might be better as a bool  </p>

</div>
</div>
<a id="af15e551ba38f1347cbf1418d9cf320a2" name="af15e551ba38f1347cbf1418d9cf320a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af15e551ba38f1347cbf1418d9cf320a2">&#9670;&#160;</a></span>Category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a> PokemonUnity.Inventory.ItemData.Category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7a0f59430075ba6c6723143c001f076" name="aa7a0f59430075ba6c6723143c001f076"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7a0f59430075ba6c6723143c001f076">&#9670;&#160;</a></span>Description</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Description</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f99c299932d47649566fd3926280932" name="a9f99c299932d47649566fd3926280932"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f99c299932d47649566fd3926280932">&#9670;&#160;</a></span>Flags</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a> PokemonUnity.Inventory.ItemData.Flags</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2cba5ac74953ed6297514fe778f2119" name="aa2cba5ac74953ed6297514fe778f2119"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2cba5ac74953ed6297514fe778f2119">&#9670;&#160;</a></span>FlingEffect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a> PokemonUnity.Inventory.ItemData.FlingEffect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abca373feb5b824612e00d9f65d13b6ba" name="abca373feb5b824612e00d9f65d13b6ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abca373feb5b824612e00d9f65d13b6ba">&#9670;&#160;</a></span>FlingPower</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Inventory.ItemData.FlingPower</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a37df228da1b29a49d833118b3cecb4f0" name="a37df228da1b29a49d833118b3cecb4f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a37df228da1b29a49d833118b3cecb4f0">&#9670;&#160;</a></span>Generations</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Inventory.ItemData.Generations</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f9b62bf51b9d5fe31cef3a8601a5ba6" name="a8f9b62bf51b9d5fe31cef3a8601a5ba6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f9b62bf51b9d5fe31cef3a8601a5ba6">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Inventory.ItemData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7de05c2c326770499e32817adb5d2a33" name="a7de05c2c326770499e32817adb5d2a33"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7de05c2c326770499e32817adb5d2a33">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae6f09e9417d7477515e251296623bfe4" name="ae6f09e9417d7477515e251296623bfe4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6f09e9417d7477515e251296623bfe4">&#9670;&#160;</a></span>Plural</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Plural</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9cb4a0692ea4cd5e9420965917aa266a" name="a9cb4a0692ea4cd5e9420965917aa266a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9cb4a0692ea4cd5e9420965917aa266a">&#9670;&#160;</a></span>Pocket</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>? PokemonUnity.Inventory.ItemData.Pocket</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3bf3bbf609618721d26473edd9a1f8b8" name="a3bf3bbf609618721d26473edd9a1f8b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3bf3bbf609618721d26473edd9a1f8b8">&#9670;&#160;</a></span>Price</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.ItemData.Price</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Inventory/Data/<a class="el" href="_inventory_2_data_2_base_8cs.cshtml">Base.cs</a></li>
</ul>

