@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Saving.SerializableClasses.SeriMail Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">SeriMail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriMail Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3338ede80ae4458cc06eb18cc77466ae"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a3338ede80ae4458cc06eb18cc77466ae">SeriMail</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> mailItem, string messsage)</td></tr>
<tr class="separator:a3338ede80ae4458cc06eb18cc77466ae"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a26d19c52ad75322928446c8e3333b7e0"><td class="memItemLeft" align="right" valign="top">static implicit&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a26d19c52ad75322928446c8e3333b7e0">operator Mail</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">SeriMail</a> mail)</td></tr>
<tr class="separator:a26d19c52ad75322928446c8e3333b7e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a741bf00810cd13ba551e8c2b440071c3"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a741bf00810cd13ba551e8c2b440071c3">Message</a><code> [get]</code></td></tr>
<tr class="separator:a741bf00810cd13ba551e8c2b440071c3"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3338ede80ae4458cc06eb18cc77466ae" name="a3338ede80ae4458cc06eb18cc77466ae"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3338ede80ae4458cc06eb18cc77466ae">&#9670;&#160;</a></span>SeriMail()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Saving.SerializableClasses.SeriMail.SeriMail </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>mailItem</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>messsage</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a26d19c52ad75322928446c8e3333b7e0" name="a26d19c52ad75322928446c8e3333b7e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26d19c52ad75322928446c8e3333b7e0">&#9670;&#160;</a></span>operator Mail()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static implicit PokemonUnity.Saving.SerializableClasses.SeriMail.operator <a class="el" href="class_pokemon_unity_1_1_inventory_1_1_mail.cshtml">Mail</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">SeriMail</a>&#160;</td>
          <td class="paramname"><em>mail</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a741bf00810cd13ba551e8c2b440071c3" name="a741bf00810cd13ba551e8c2b440071c3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a741bf00810cd13ba551e8c2b440071c3">&#9670;&#160;</a></span>Message</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Saving.SerializableClasses.SeriMail.Message</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Saving/SerializableClasses/<a class="el" href="_seri_mail_8cs.cshtml">SeriMail.cs</a></li>
</ul>

