@{
	Page.Title = "PokemonUnity.Monster.Data.PokemonMoveset Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonMoveset</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-attribs">Public Attributes</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonMoveset Struct Reference</div></div>
}


<p>The moves that all Pok&eacute;mon of the species learn as they level up.   
 <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa0beafa8aaf8910aacbf150a5ed1136e"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#aa0beafa8aaf8910aacbf150a5ed1136e">PokemonMoveset</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> moveId, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">LearnMethod</a> method=LearnMethod.levelup, int level=0, int? generation=null)</td></tr>
<tr class="separator:aa0beafa8aaf8910aacbf150a5ed1136e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-attribs" name="pub-attribs"></a>
Public Attributes</h2></td></tr>
<tr class="memitem:af7ec88ca776f8992b03cbf486ba05a2a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">LearnMethod</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#af7ec88ca776f8992b03cbf486ba05a2a">TeachMethod</a></td></tr>
<tr class="separator:af7ec88ca776f8992b03cbf486ba05a2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6eb9776dd4e7aa76e0b5505b0f750464"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a6eb9776dd4e7aa76e0b5505b0f750464">Level</a><code> [get]</code></td></tr>
<tr class="memdesc:a6eb9776dd4e7aa76e0b5505b0f750464"><td class="mdescLeft">&#160;</td><td class="mdescRight">Level at which the move is learned (0 means the move can only be learned when a Pok&eacute;mon evolves into this species). Default level is 0; only really important if learn method is LearnMethod.levelup   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a6eb9776dd4e7aa76e0b5505b0f750464">More...</a><br /></td></tr>
<tr class="separator:a6eb9776dd4e7aa76e0b5505b0f750464"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a39743afcfcda035e7ef8f3fb204e44a6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a39743afcfcda035e7ef8f3fb204e44a6">MoveId</a><code> [get]</code></td></tr>
<tr class="memdesc:a39743afcfcda035e7ef8f3fb204e44a6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Move learned upon leveling-up   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a39743afcfcda035e7ef8f3fb204e44a6">More...</a><br /></td></tr>
<tr class="separator:a39743afcfcda035e7ef8f3fb204e44a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The moves that all Pok&eacute;mon of the species learn as they level up.  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aa0beafa8aaf8910aacbf150a5ed1136e" name="aa0beafa8aaf8910aacbf150a5ed1136e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0beafa8aaf8910aacbf150a5ed1136e">&#9670;&#160;</a></span>PokemonMoveset()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonMoveset.PokemonMoveset </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>moveId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">LearnMethod</a>&#160;</td>
          <td class="paramname"><em>method</em> = <code>LearnMethod.levelup</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>level</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>generation</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="af7ec88ca776f8992b03cbf486ba05a2a" name="af7ec88ca776f8992b03cbf486ba05a2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7ec88ca776f8992b03cbf486ba05a2a">&#9670;&#160;</a></span>TeachMethod</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ad9794455726368271eee24a6e5e969be">LearnMethod</a> PokemonUnity.Monster.Data.PokemonMoveset.TeachMethod</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a6eb9776dd4e7aa76e0b5505b0f750464" name="a6eb9776dd4e7aa76e0b5505b0f750464"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6eb9776dd4e7aa76e0b5505b0f750464">&#9670;&#160;</a></span>Level</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonMoveset.Level</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Level at which the move is learned (0 means the move can only be learned when a Pok&eacute;mon evolves into this species). Default level is 0; only really important if learn method is LearnMethod.levelup  </p>
<p >Level needed to learn Move leaves door open to new game designs, if players want to limit move methods to a level requirement use to set min or max level needed for designated learn method </p>

</div>
</div>
<a id="a39743afcfcda035e7ef8f3fb204e44a6" name="a39743afcfcda035e7ef8f3fb204e44a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39743afcfcda035e7ef8f3fb204e44a6">&#9670;&#160;</a></span>MoveId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonUnity.Monster.Data.PokemonMoveset.MoveId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Move learned upon leveling-up  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_moveset_8cs.cshtml">Moveset.cs</a></li>
</ul>
