@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml">Combat</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_combat_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">Choice</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Combat.Data.Choice Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#af0972726021702b778da52919fedee9b">Action</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#a45bb91ef3f25167fa0b07fc26515a3fc">Choice</a>(ChoiceAction action, int moveIndex, PokemonEssentials.Interface.PokeBattle.IBattleMove move, int target=-1)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#aceb0d08087b493e1f1d8a1e79494c659">Choice</a>(ChoiceAction action, int pkmnIndex)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#abb88656d73653379ee1522ee1364e9e7">Choice</a>(ChoiceAction action, Items itemIndex, int pkmnTarget)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#abeb70a05fbfdf5203acea793de9dfe14">Choice</a>(ChoiceAction action=0)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#ab9261b94700e918b383c48b2c9c4ac9f">Index</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#ad42815d9769aeb56761897fc0342ccca">Move</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml#a66f03170c45e67680b22338f2f921079">Target</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_combat_1_1_data_1_1_choice.cshtml">PokemonUnity.Combat.Data.Choice</a></td><td class="entry"></td></tr>
</table>
