@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">Type</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.Type Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a823742cd435417c771193f971952cbb6">Category</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a54cc539a1209e15dd1b59ac6e273647a">GetCombinedEffectiveness</a>(PokemonUnity.Types atk, PokemonUnity.Types target1, PokemonUnity.Types target2=Types.NONE, PokemonUnity.Types target3=Types.NONE)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a2a6d081b55aef126c3c84909a813a0ce">GetCombinedEffectivenessModifier</a>(PokemonUnity.Types atk, PokemonUnity.Types target1, PokemonUnity.Types target2=Types.NONE, PokemonUnity.Types target3=Types.NONE)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a586ac33e3b1f8ce68a4f1092574560d1">GetEffectiveness</a>(PokemonUnity.Types atk, PokemonUnity.Types target)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#aa0c38a30d36e94fe83058c8611a8f463">this[Types target]</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a96087ce0316315a091f952426a835fcb">ToString</a>(TextScripts text)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#af1cdafaae1d995edadcad5c3ebc19354">Type</a>(Types atk, IDictionary&lt; Types, byte &gt; table, PokemonUnity.Attack.Category? category=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">PokemonUnity.Monster.Data.Type</a></td><td class="entry"></td></tr>
</table>