@{
	Page.Title = "PokemonUnity.Monster.Data.Type Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml">Type</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.Type Struct Reference</div></div>
}


<p> 
 <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a96087ce0316315a091f952426a835fcb"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a96087ce0316315a091f952426a835fcb">ToString</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">TextScripts</a> text)</td></tr>
<tr class="separator:a96087ce0316315a091f952426a835fcb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1cdafaae1d995edadcad5c3ebc19354"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#af1cdafaae1d995edadcad5c3ebc19354">Type</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> atk, IDictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>, byte &gt; table, <a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">PokemonUnity.Attack.Category</a>? category=null)</td></tr>
<tr class="separator:af1cdafaae1d995edadcad5c3ebc19354"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a586ac33e3b1f8ce68a4f1092574560d1"><td class="memItemLeft" align="right" valign="top">static float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a586ac33e3b1f8ce68a4f1092574560d1">GetEffectiveness</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> atk, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target)</td></tr>
<tr class="separator:a586ac33e3b1f8ce68a4f1092574560d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a6d081b55aef126c3c84909a813a0ce"><td class="memItemLeft" align="right" valign="top">static float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a2a6d081b55aef126c3c84909a813a0ce">GetCombinedEffectivenessModifier</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> atk, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target1, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target2=Types.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target3=Types.NONE)</td></tr>
<tr class="separator:a2a6d081b55aef126c3c84909a813a0ce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a54cc539a1209e15dd1b59ac6e273647a"><td class="memItemLeft" align="right" valign="top">static <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#ab59e2e47b3a776d590f8fd6759cd20fb">Combat.TypeEffective</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a54cc539a1209e15dd1b59ac6e273647a">GetCombinedEffectiveness</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> atk, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target1, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target2=Types.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a> target3=Types.NONE)</td></tr>
<tr class="separator:a54cc539a1209e15dd1b59ac6e273647a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a823742cd435417c771193f971952cbb6"><td class="memItemLeft" align="right" valign="top">PokemonUnity.Attack.? <a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">Category</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#a823742cd435417c771193f971952cbb6">Category</a><code> [get]</code></td></tr>
<tr class="separator:a823742cd435417c771193f971952cbb6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0c38a30d36e94fe83058c8611a8f463"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_type.cshtml#aa0c38a30d36e94fe83058c8611a8f463">this[Types target]</a><code> [get]</code></td></tr>
<tr class="separator:aa0c38a30d36e94fe83058c8611a8f463"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="af1cdafaae1d995edadcad5c3ebc19354" name="af1cdafaae1d995edadcad5c3ebc19354"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1cdafaae1d995edadcad5c3ebc19354">&#9670;&#160;</a></span>Type()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.Type.Type </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>atk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">IDictionary&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>, byte &gt;&#160;</td>
          <td class="paramname"><em>table</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">PokemonUnity.Attack.Category</a>?&#160;</td>
          <td class="paramname"><em>category</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a54cc539a1209e15dd1b59ac6e273647a" name="a54cc539a1209e15dd1b59ac6e273647a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a54cc539a1209e15dd1b59ac6e273647a">&#9670;&#160;</a></span>GetCombinedEffectiveness()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static <a class="el" href="namespace_pokemon_unity_1_1_combat.cshtml#ab59e2e47b3a776d590f8fd6759cd20fb">Combat.TypeEffective</a> PokemonUnity.Monster.Data.Type.GetCombinedEffectiveness </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>atk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target2</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target3</em> = <code>Types.NONE</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2a6d081b55aef126c3c84909a813a0ce" name="a2a6d081b55aef126c3c84909a813a0ce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a6d081b55aef126c3c84909a813a0ce">&#9670;&#160;</a></span>GetCombinedEffectivenessModifier()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static float PokemonUnity.Monster.Data.Type.GetCombinedEffectivenessModifier </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>atk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target1</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target2</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target3</em> = <code>Types.NONE</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a586ac33e3b1f8ce68a4f1092574560d1" name="a586ac33e3b1f8ce68a4f1092574560d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a586ac33e3b1f8ce68a4f1092574560d1">&#9670;&#160;</a></span>GetEffectiveness()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static float PokemonUnity.Monster.Data.Type.GetEffectiveness </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>atk</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">PokemonUnity.Types</a>&#160;</td>
          <td class="paramname"><em>target</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a96087ce0316315a091f952426a835fcb" name="a96087ce0316315a091f952426a835fcb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a96087ce0316315a091f952426a835fcb">&#9670;&#160;</a></span>ToString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.Data.Type.ToString </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">TextScripts</a>&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a823742cd435417c771193f971952cbb6" name="a823742cd435417c771193f971952cbb6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a823742cd435417c771193f971952cbb6">&#9670;&#160;</a></span>Category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Attack.? <a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#ade3236a3139e8f2818c50612d54885fa">Category</a> PokemonUnity.Monster.Data.Type.Category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa0c38a30d36e94fe83058c8611a8f463" name="aa0c38a30d36e94fe83058c8611a8f463"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0c38a30d36e94fe83058c8611a8f463">&#9670;&#160;</a></span>this[Types target]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Monster.Data.Type.this[<a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> target]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_type_8cs.cshtml">Type.cs</a></li>
</ul>
