@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonMoveTree</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonMoveTree Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a0fd919de4a64f8d7ee2d0574a1b44681">Egg</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a17434e9361aa9622f710a1fe8673e603">FormChange</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a451ca246a5fb2b7b15fc94c374f19f64">LevelUp</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a4440743a3ecb16babb23930978f746be">Machine</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#aa58e8f9c22c8ca5bf966f4b5a7719227">PokemonMoveTree</a>(SortedList&lt; Moves, int &gt; levelup=null, Moves[] egg=null, Moves[] tutor=null, Moves[] machine=null, Moves[] shadow=null, Moves[] purification=null, Moves[] form_change=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a78dd7f7d361b78fd0ecca4b69ec3fe98">PokemonMoveTree</a>(PokemonMoveset[] moveset)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a8614a66ee92a9e0e0107a5752314f26f">Purification</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a38409ee05dfbd6068af44e0ec7ab383b">Shadow</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a33a717af61402e134ea16ee6c3b57255">Tutor</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonUnity.Monster.Data.PokemonMoveTree</a></td><td class="entry"></td></tr>
</table>
