@{
	Page.Title = "PokemonUnity.MapData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml">MapData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_map_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.MapData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:add95e25103f6dbcd11bf16025495f24a"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#add95e25103f6dbcd11bf16025495f24a">MapData</a> (int <a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a179b8c5c11cf43a7a2c03f1b25559f22">width</a>, int <a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a71903f45591ff6fd533ba8a7682fe4e5">height</a>)</td></tr>
<tr class="separator:add95e25103f6dbcd11bf16025495f24a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aac00061777730a1829576b7303fac908"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#aac00061777730a1829576b7303fac908">MapData</a> (int <a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a179b8c5c11cf43a7a2c03f1b25559f22">width</a>, int <a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a71903f45591ff6fd533ba8a7682fe4e5">height</a>, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> bgmusic, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> bgsound)</td></tr>
<tr class="separator:aac00061777730a1829576b7303fac908"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a04615508676cb77443565450e8995b60"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a04615508676cb77443565450e8995b60">tileset_id</a><code> [get]</code></td></tr>
<tr class="separator:a04615508676cb77443565450e8995b60"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a179b8c5c11cf43a7a2c03f1b25559f22"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a179b8c5c11cf43a7a2c03f1b25559f22">width</a><code> [get]</code></td></tr>
<tr class="separator:a179b8c5c11cf43a7a2c03f1b25559f22"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71903f45591ff6fd533ba8a7682fe4e5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a71903f45591ff6fd533ba8a7682fe4e5">height</a><code> [get]</code></td></tr>
<tr class="separator:a71903f45591ff6fd533ba8a7682fe4e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0b479787870790f4147a1d18d1a4ae2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#aa0b479787870790f4147a1d18d1a4ae2">autoplay_bgm</a><code> [get]</code></td></tr>
<tr class="separator:aa0b479787870790f4147a1d18d1a4ae2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a70c34b50c2a85bbbc5d67ce9930ec92a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a70c34b50c2a85bbbc5d67ce9930ec92a">bgm</a><code> [get]</code></td></tr>
<tr class="separator:a70c34b50c2a85bbbc5d67ce9930ec92a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63dfb991cf15be1e29fbc84871d05425"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a63dfb991cf15be1e29fbc84871d05425">autoplay_bgs</a><code> [get]</code></td></tr>
<tr class="separator:a63dfb991cf15be1e29fbc84871d05425"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa41535c63180e5e83e03b386fd22b521"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#aa41535c63180e5e83e03b386fd22b521">bgs</a><code> [get]</code></td></tr>
<tr class="separator:aa41535c63180e5e83e03b386fd22b521"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae266e373bd3648fd8b52f36be8f3c871"><td class="memItemLeft" align="right" valign="top">IList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#ae266e373bd3648fd8b52f36be8f3c871">encounter_list</a><code> [get]</code></td></tr>
<tr class="separator:ae266e373bd3648fd8b52f36be8f3c871"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9039582b343080aa32e1bdfe6626f55c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a9039582b343080aa32e1bdfe6626f55c">encounter_step</a><code> [get]</code></td></tr>
<tr class="separator:a9039582b343080aa32e1bdfe6626f55c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a73474f8453c49eb2be9a8832d68f1d25"><td class="memItemLeft" align="right" valign="top">int?[,,]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#a73474f8453c49eb2be9a8832d68f1d25">data</a><code> [get]</code></td></tr>
<tr class="separator:a73474f8453c49eb2be9a8832d68f1d25"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef8a8eeaaabaad7a917e1ec5e9cce6a4"><td class="memItemLeft" align="right" valign="top">IDictionary&lt; int, int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_map_data.cshtml#aef8a8eeaaabaad7a917e1ec5e9cce6a4">events</a><code> [get]</code></td></tr>
<tr class="separator:aef8a8eeaaabaad7a917e1ec5e9cce6a4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="add95e25103f6dbcd11bf16025495f24a" name="add95e25103f6dbcd11bf16025495f24a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add95e25103f6dbcd11bf16025495f24a">&#9670;&#160;</a></span>MapData() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.MapData.MapData </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aac00061777730a1829576b7303fac908" name="aac00061777730a1829576b7303fac908"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aac00061777730a1829576b7303fac908">&#9670;&#160;</a></span>MapData() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.MapData.MapData </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>height</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a>&#160;</td>
          <td class="paramname"><em>bgmusic</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a>&#160;</td>
          <td class="paramname"><em>bgsound</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa0b479787870790f4147a1d18d1a4ae2" name="aa0b479787870790f4147a1d18d1a4ae2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0b479787870790f4147a1d18d1a4ae2">&#9670;&#160;</a></span>autoplay_bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.MapData.autoplay_bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a63dfb991cf15be1e29fbc84871d05425" name="a63dfb991cf15be1e29fbc84871d05425"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63dfb991cf15be1e29fbc84871d05425">&#9670;&#160;</a></span>autoplay_bgs</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.MapData.autoplay_bgs</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a70c34b50c2a85bbbc5d67ce9930ec92a" name="a70c34b50c2a85bbbc5d67ce9930ec92a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a70c34b50c2a85bbbc5d67ce9930ec92a">&#9670;&#160;</a></span>bgm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_m.cshtml">IAudioBGM</a> PokemonUnity.MapData.bgm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa41535c63180e5e83e03b386fd22b521" name="aa41535c63180e5e83e03b386fd22b521"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa41535c63180e5e83e03b386fd22b521">&#9670;&#160;</a></span>bgs</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_audio_b_g_s.cshtml">IAudioBGS</a> PokemonUnity.MapData.bgs</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a73474f8453c49eb2be9a8832d68f1d25" name="a73474f8453c49eb2be9a8832d68f1d25"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a73474f8453c49eb2be9a8832d68f1d25">&#9670;&#160;</a></span>data</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? [,,] PokemonUnity.MapData.data</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae266e373bd3648fd8b52f36be8f3c871" name="ae266e373bd3648fd8b52f36be8f3c871"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae266e373bd3648fd8b52f36be8f3c871">&#9670;&#160;</a></span>encounter_list</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IList&lt;<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&gt; PokemonUnity.MapData.encounter_list</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9039582b343080aa32e1bdfe6626f55c" name="a9039582b343080aa32e1bdfe6626f55c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9039582b343080aa32e1bdfe6626f55c">&#9670;&#160;</a></span>encounter_step</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MapData.encounter_step</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aef8a8eeaaabaad7a917e1ec5e9cce6a4" name="aef8a8eeaaabaad7a917e1ec5e9cce6a4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef8a8eeaaabaad7a917e1ec5e9cce6a4">&#9670;&#160;</a></span>events</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">IDictionary&lt;int,int&gt; PokemonUnity.MapData.events</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a71903f45591ff6fd533ba8a7682fe4e5" name="a71903f45591ff6fd533ba8a7682fe4e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71903f45591ff6fd533ba8a7682fe4e5">&#9670;&#160;</a></span>height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MapData.height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a04615508676cb77443565450e8995b60" name="a04615508676cb77443565450e8995b60"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a04615508676cb77443565450e8995b60">&#9670;&#160;</a></span>tileset_id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MapData.tileset_id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a179b8c5c11cf43a7a2c03f1b25559f22" name="a179b8c5c11cf43a7a2c03f1b25559f22"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a179b8c5c11cf43a7a2c03f1b25559f22">&#9670;&#160;</a></span>width</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.MapData.width</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Overworld/<a class="el" href="_pokemon_unity_8_shared_2_overworld_2_map_8cs.cshtml">Map.cs</a></li>
</ul>

