@{
	Page.Title = "PokemonUnity.Character.PlayerOutfit Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_player_outfit-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.PlayerOutfit Struct Reference</div></div>
}


<p> 
 <a href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.PlayerOutfit:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_character_1_1_player_outfit.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a86fc598127771755b6ca1502eba4c38a"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a86fc598127771755b6ca1502eba4c38a">PlayerOutfit</a> (int outfit, int shirt, int pant, int misc, int hat)</td></tr>
<tr class="separator:a86fc598127771755b6ca1502eba4c38a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b4d8ad17fd7ac2c629460e2ca71bf2e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a4b4d8ad17fd7ac2c629460e2ca71bf2e">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> obj)</td></tr>
<tr class="separator:a4b4d8ad17fd7ac2c629460e2ca71bf2e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29b5e38f7986a5c717b94ed5b7112ce4"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a29b5e38f7986a5c717b94ed5b7112ce4">Equals</a> (object obj)</td></tr>
<tr class="separator:a29b5e38f7986a5c717b94ed5b7112ce4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a87f362b89c6fd2f4168ca31f67a2ac01"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a87f362b89c6fd2f4168ca31f67a2ac01">GetHashCode</a> ()</td></tr>
<tr class="separator:a87f362b89c6fd2f4168ca31f67a2ac01"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2b02f1b192c15b5fba5d9a7a4f7198dc"><td class="memItemLeft" align="right" valign="top">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a2b02f1b192c15b5fba5d9a7a4f7198dc">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> other)</td></tr>
<tr class="separator:a2b02f1b192c15b5fba5d9a7a4f7198dc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aad1d570b2ead3313af086000cc87b7e2"><td class="memItemLeft" align="right" valign="top">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aad1d570b2ead3313af086000cc87b7e2">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> y)</td></tr>
<tr class="separator:aad1d570b2ead3313af086000cc87b7e2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a407f3bc775e2ff53f11dd05665eaa92e"><td class="memItemLeft" align="right" valign="top">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a407f3bc775e2ff53f11dd05665eaa92e">GetHashCode</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> obj)</td></tr>
<tr class="separator:a407f3bc775e2ff53f11dd05665eaa92e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a8bb3b6b9c18fbf688c5f338145acf0f8"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a8bb3b6b9c18fbf688c5f338145acf0f8">operator==</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> y)</td></tr>
<tr class="separator:a8bb3b6b9c18fbf688c5f338145acf0f8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4630ca76c4e7424b1630e9ce852d63bb"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a4630ca76c4e7424b1630e9ce852d63bb">operator!=</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> y)</td></tr>
<tr class="separator:a4630ca76c4e7424b1630e9ce852d63bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aed4eca7dbe77a065209da0e820071f6c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aed4eca7dbe77a065209da0e820071f6c">Outfit</a><code> [get]</code></td></tr>
<tr class="separator:aed4eca7dbe77a065209da0e820071f6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad45a3d33d1920019024fa9dff8f50d0f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#ad45a3d33d1920019024fa9dff8f50d0f">Shirt</a><code> [get]</code></td></tr>
<tr class="separator:ad45a3d33d1920019024fa9dff8f50d0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75f11b874935a7dd5d60de89adfb0f52"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a75f11b874935a7dd5d60de89adfb0f52">Pant</a><code> [get]</code></td></tr>
<tr class="separator:a75f11b874935a7dd5d60de89adfb0f52"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa77eb4e5622b23a95ddef4b4e8bedfd5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aa77eb4e5622b23a95ddef4b4e8bedfd5">Misc</a><code> [get]</code></td></tr>
<tr class="separator:aa77eb4e5622b23a95ddef4b4e8bedfd5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63e0a13533566e1cfba4f708a8358af1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a63e0a13533566e1cfba4f708a8358af1">Hat</a><code> [get]</code></td></tr>
<tr class="separator:a63e0a13533566e1cfba4f708a8358af1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"></div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a86fc598127771755b6ca1502eba4c38a" name="a86fc598127771755b6ca1502eba4c38a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86fc598127771755b6ca1502eba4c38a">&#9670;&#160;</a></span>PlayerOutfit()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.PlayerOutfit.PlayerOutfit </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>outfit</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>shirt</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pant</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>misc</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hat</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a29b5e38f7986a5c717b94ed5b7112ce4" name="a29b5e38f7986a5c717b94ed5b7112ce4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29b5e38f7986a5c717b94ed5b7112ce4">&#9670;&#160;</a></span>Equals() <span class="overload">[1/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Character.PlayerOutfit.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b4d8ad17fd7ac2c629460e2ca71bf2e" name="a4b4d8ad17fd7ac2c629460e2ca71bf2e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b4d8ad17fd7ac2c629460e2ca71bf2e">&#9670;&#160;</a></span>Equals() <span class="overload">[2/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.PlayerOutfit.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2b02f1b192c15b5fba5d9a7a4f7198dc" name="a2b02f1b192c15b5fba5d9a7a4f7198dc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2b02f1b192c15b5fba5d9a7a4f7198dc">&#9670;&#160;</a></span>Equals() <span class="overload">[3/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;. PokemonUnity.Character.PlayerOutfit.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aad1d570b2ead3313af086000cc87b7e2" name="aad1d570b2ead3313af086000cc87b7e2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aad1d570b2ead3313af086000cc87b7e2">&#9670;&#160;</a></span>Equals() <span class="overload">[4/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;. PokemonUnity.Character.PlayerOutfit.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a87f362b89c6fd2f4168ca31f67a2ac01" name="a87f362b89c6fd2f4168ca31f67a2ac01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a87f362b89c6fd2f4168ca31f67a2ac01">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Character.PlayerOutfit.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a407f3bc775e2ff53f11dd05665eaa92e" name="a407f3bc775e2ff53f11dd05665eaa92e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a407f3bc775e2ff53f11dd05665eaa92e">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a> &gt;. PokemonUnity.Character.PlayerOutfit.GetHashCode </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4630ca76c4e7424b1630e9ce852d63bb" name="a4630ca76c4e7424b1630e9ce852d63bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4630ca76c4e7424b1630e9ce852d63bb">&#9670;&#160;</a></span>operator!=()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Character.PlayerOutfit.operator!= </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8bb3b6b9c18fbf688c5f338145acf0f8" name="a8bb3b6b9c18fbf688c5f338145acf0f8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bb3b6b9c18fbf688c5f338145acf0f8">&#9670;&#160;</a></span>operator==()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Character.PlayerOutfit.operator== </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a63e0a13533566e1cfba4f708a8358af1" name="a63e0a13533566e1cfba4f708a8358af1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63e0a13533566e1cfba4f708a8358af1">&#9670;&#160;</a></span>Hat</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PlayerOutfit.Hat</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa77eb4e5622b23a95ddef4b4e8bedfd5" name="aa77eb4e5622b23a95ddef4b4e8bedfd5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa77eb4e5622b23a95ddef4b4e8bedfd5">&#9670;&#160;</a></span>Misc</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PlayerOutfit.Misc</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aed4eca7dbe77a065209da0e820071f6c" name="aed4eca7dbe77a065209da0e820071f6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed4eca7dbe77a065209da0e820071f6c">&#9670;&#160;</a></span>Outfit</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PlayerOutfit.Outfit</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a75f11b874935a7dd5d60de89adfb0f52" name="a75f11b874935a7dd5d60de89adfb0f52"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75f11b874935a7dd5d60de89adfb0f52">&#9670;&#160;</a></span>Pant</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PlayerOutfit.Pant</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad45a3d33d1920019024fa9dff8f50d0f" name="ad45a3d33d1920019024fa9dff8f50d0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad45a3d33d1920019024fa9dff8f50d0f">&#9670;&#160;</a></span>Shirt</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.PlayerOutfit.Shirt</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Application/Character/<a class="el" href="_outfit_8cs.cshtml">Outfit.cs</a></li>
</ul>
