@{
	Page.Title = "PokemonUnity.Overworld.Area Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">Area</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_overworld_1_1_area-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.Area Struct Reference</div></div>
}


<p>Used to represent which Map Id this object data is associated with   
 <a href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Overworld.Area:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_overworld_1_1_area.png" usemap="#PokemonUnity.Overworld.Area_map" alt=""/>
  <map id="PokemonUnity.Overworld.Area_map" name="PokemonUnity.Overworld.Area_map">
<area href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml" title="Used to represent which Map Id this object data is associated with" alt="PokemonUnity.Overworld.IArea" shape="rect" coords="0,0,190,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a5d90f1e4a605c95b4febbf484a9cd679"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a5d90f1e4a605c95b4febbf484a9cd679">Area</a> (int id, KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>, int &gt;[] rate)</td></tr>
<tr class="separator:a5d90f1e4a605c95b4febbf484a9cd679"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a91527695e0eac9c9c4a1f339a179b1bb"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a91527695e0eac9c9c4a1f339a179b1bb">Encounters</a> (<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> method)</td></tr>
<tr class="separator:a91527695e0eac9c9c4a1f339a179b1bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac142f07a4cf6643b9de996bfec089d9f"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac142f07a4cf6643b9de996bfec089d9f">Encounters</a> (<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> method)</td></tr>
<tr class="separator:ac142f07a4cf6643b9de996bfec089d9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6579071dacb9d6c38db8fc72277bcbbf"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a6579071dacb9d6c38db8fc72277bcbbf">Rate</a><code> [get]</code></td></tr>
<tr class="separator:a6579071dacb9d6c38db8fc72277bcbbf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a247488f9a74f4163b4a4b2e31e6b9249"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a247488f9a74f4163b4a4b2e31e6b9249">this[Method method]</a><code> [get]</code></td></tr>
<tr class="memdesc:a247488f9a74f4163b4a4b2e31e6b9249"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns list of Encounters </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a91527695e0eac9c9c4a1f339a179b1bb">Encounters(Method)</a></dd></dl>
 <a href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a247488f9a74f4163b4a4b2e31e6b9249">More...</a><br /></td></tr>
<tr class="separator:a247488f9a74f4163b4a4b2e31e6b9249"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93eceb2ba0614dcc9e1425f51e6d68c8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a93eceb2ba0614dcc9e1425f51e6d68c8">Id</a><code> [get]</code></td></tr>
<tr class="separator:a93eceb2ba0614dcc9e1425f51e6d68c8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_overworld_1_1_i_area')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml">PokemonUnity.Overworld.IArea</a></td></tr>
<tr class="memitem:a75817ce5cebb661683f878a556e0c542 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>, int &gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#a75817ce5cebb661683f878a556e0c542">Rate</a><code> [get]</code></td></tr>
<tr class="separator:a75817ce5cebb661683f878a556e0c542 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aded942d4c3717e8164b90c8020a27c2d inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#aded942d4c3717e8164b90c8020a27c2d">this[Method method]</a><code> [get]</code></td></tr>
<tr class="memdesc:aded942d4c3717e8164b90c8020a27c2d inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns list of Encounters </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac142f07a4cf6643b9de996bfec089d9f">Encounters(Method)</a></dd></dl>
 <a href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#aded942d4c3717e8164b90c8020a27c2d">More...</a><br /></td></tr>
<tr class="separator:aded942d4c3717e8164b90c8020a27c2d inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac253b9597404f4c569373e0f0f17a030 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac253b9597404f4c569373e0f0f17a030">Id</a><code> [get]</code></td></tr>
<tr class="separator:ac253b9597404f4c569373e0f0f17a030 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_area"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Used to represent which Map Id this object data is associated with  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a5d90f1e4a605c95b4febbf484a9cd679" name="a5d90f1e4a605c95b4febbf484a9cd679"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5d90f1e4a605c95b4febbf484a9cd679">&#9670;&#160;</a></span>Area()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.Area.Area </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>, int &gt;[]&#160;</td>
          <td class="paramname"><em>rate</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a91527695e0eac9c9c4a1f339a179b1bb" name="a91527695e0eac9c9c4a1f339a179b1bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a91527695e0eac9c9c4a1f339a179b1bb">&#9670;&#160;</a></span>Encounters()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int[] PokemonUnity.Overworld.Area.Encounters </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td>
          <td class="paramname"><em>method</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac142f07a4cf6643b9de996bfec089d9f">PokemonUnity.Overworld.IArea</a>.</p>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a93eceb2ba0614dcc9e1425f51e6d68c8" name="a93eceb2ba0614dcc9e1425f51e6d68c8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93eceb2ba0614dcc9e1425f51e6d68c8">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.Area.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#ac253b9597404f4c569373e0f0f17a030">PokemonUnity.Overworld.IArea</a>.</p>

</div>
</div>
<a id="a6579071dacb9d6c38db8fc72277bcbbf" name="a6579071dacb9d6c38db8fc72277bcbbf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6579071dacb9d6c38db8fc72277bcbbf">&#9670;&#160;</a></span>Rate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>,int&gt; [] PokemonUnity.Overworld.Area.Rate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#a75817ce5cebb661683f878a556e0c542">PokemonUnity.Overworld.IArea</a>.</p>

</div>
</div>
<a id="a247488f9a74f4163b4a4b2e31e6b9249" name="a247488f9a74f4163b4a4b2e31e6b9249"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a247488f9a74f4163b4a4b2e31e6b9249">&#9670;&#160;</a></span>this[Method method]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Overworld.Area.this[<a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> method]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns list of Encounters </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a91527695e0eac9c9c4a1f339a179b1bb">Encounters(Method)</a></dd></dl>
</p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_area.cshtml#aded942d4c3717e8164b90c8020a27c2d">PokemonUnity.Overworld.IArea</a>.</p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Application/Overworld/<a class="el" href="_area_8cs.cshtml">Area.cs</a></li>
</ul>

