@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">SeriMove</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriMove Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMove</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#add6f3c5fdba335986087a424c9c1c1a5">Move</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMove</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#a6b0a97e4c0fd9727291b463159830e1d">PP</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMove</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#ab9e3419dd5075d83df52b7233df1dae1">PPups</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMove</a></td><td class="entry"></td></tr>
</table>