@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">TextPosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.TextPosition Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ad4c272aff4587d8c321492a98890c872">Base</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ab5d56b180fdeacea8e87b772b0cf1583">LeftAligned</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a846cf2d2c931e1b2d7d8739906a07e16">Shadow</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a782b0264889e2796cc9e4b3a31846c0c">Text</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ab0386e6b76fd666dcb20622cdb9d49c9">TextPosition</a>(string text, float x, float y, int leftAligned, IColor base_, IColor shadow)</td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a82a6e00bc3b2f789512a724085b202bb">TextPosition</a>(string text, float x, float y, bool? leftAligned, IColor base_, IColor shadow)</td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a352cca23c6e773504ae75d139ef1f47c">TextPosition</a>(string name, float x, float y, float srcx, float srcy, float width, float height)</td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5fee38fdf15933379eb844d1c81d4540">X</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5dd44098fb1fc95bcc6037103ee73ca4">Y</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">PokemonEssentials.Interface.TextPosition</a></td><td class="entry"></td></tr>
</table>
