@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">SeriMail</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriMail Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMail</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a741bf00810cd13ba551e8c2b440071c3">Message</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMail</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a26d19c52ad75322928446c8e3333b7e0">operator Mail</a>(SeriMail mail)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMail</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml#a3338ede80ae4458cc06eb18cc77466ae">SeriMail</a>(Items mailItem, string messsage)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_mail.cshtml">PokemonUnity.Saving.SerializableClasses.SeriMail</a></td><td class="entry"></td></tr>
</table>