@{
	Page.Title = "PokemonEssentials.Interface.Field.MapMetadata Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml">MapMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.MapMetadata Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a53cf1deae75c76db9bbdf1d81f8bef63"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a53cf1deae75c76db9bbdf1d81f8bef63">MapId</a> <code>[get, set]</code></td></tr>
<tr class="separator:a53cf1deae75c76db9bbdf1d81f8bef63"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac4c777e69b2d28f7e3986d7d4f5ecb71"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ac4c777e69b2d28f7e3986d7d4f5ecb71">Outdoor</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ac4c777e69b2d28f7e3986d7d4f5ecb71"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, this map is an outdoor map. If this is FALSE (or this line doesn't exist), this map is an indoor map. Only outdoor maps will have day/night tinting. The hidden move Fly can only be used on an outdoor map.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ac4c777e69b2d28f7e3986d7d4f5ecb71">More...</a><br /></td></tr>
<tr class="separator:ac4c777e69b2d28f7e3986d7d4f5ecb71"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ea47b76c0c9de6d2538e9f6e99530e4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a1ea47b76c0c9de6d2538e9f6e99530e4">Bicycle</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1ea47b76c0c9de6d2538e9f6e99530e4"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, the bicycle can be used on this map. If this is FALSE, it cannot. If this line doesn't exist, then the player will only be able to ride a bicycle if this map is an outdoor map.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a1ea47b76c0c9de6d2538e9f6e99530e4">More...</a><br /></td></tr>
<tr class="separator:a1ea47b76c0c9de6d2538e9f6e99530e4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad0e51f57ca2a82789988953a6d026a86"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ad0e51f57ca2a82789988953a6d026a86">BicycleAlways</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ad0e51f57ca2a82789988953a6d026a86"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, the player will automatically mount their bicycle upon entering this map, and they cannot dismount it (not even to fish or surf) while on this map.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ad0e51f57ca2a82789988953a6d026a86">More...</a><br /></td></tr>
<tr class="separator:ad0e51f57ca2a82789988953a6d026a86"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acde038fb4f2984abf9efd88065f1bcbf"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#acde038fb4f2984abf9efd88065f1bcbf">HealingSpot</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:acde038fb4f2984abf9efd88065f1bcbf"><td class="mdescLeft">&#160;</td><td class="mdescRight">This is a map ID number followed by the X and Y coordinates of a particular tile in that map. When a map with this metadata is entered (e.g.the interior of a Pok&eacute; Center), the Teleport destination is changed to the spot described by this metadata. Note that the spot itself is not usually on the same map as the one that has this metadata set; the spot is the tile just in front of the entrance to this map (e.g.just in front of a Pok&eacute; Center's entrance).  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#acde038fb4f2984abf9efd88065f1bcbf">More...</a><br /></td></tr>
<tr class="separator:acde038fb4f2984abf9efd88065f1bcbf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa11cbffdf71f5383aa0c8c235418df68"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#aa11cbffdf71f5383aa0c8c235418df68">MapPosition</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:aa11cbffdf71f5383aa0c8c235418df68"><td class="mdescLeft">&#160;</td><td class="mdescRight">The position on the region map where this map is located. This metadata consists of the region number and this map's X and Y coordinates on that region map. When standing in this map and looking at the Town Map, the player's head icon will be placed on this point to show their current location. Note that this is (pretty much) the only purpose of this setting  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#aa11cbffdf71f5383aa0c8c235418df68">More...</a><br /></td></tr>
<tr class="separator:aa11cbffdf71f5383aa0c8c235418df68"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18fe6e3e932d568049f2c11908b50aa3"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml">IRegionMapMetadata</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a18fe6e3e932d568049f2c11908b50aa3">MapSize</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a18fe6e3e932d568049f2c11908b50aa3"><td class="mdescLeft">&#160;</td><td class="mdescRight">The size and shape of this map in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> squares.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a18fe6e3e932d568049f2c11908b50aa3">More...</a><br /></td></tr>
<tr class="separator:a18fe6e3e932d568049f2c11908b50aa3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac5af48413b5000a9810564b2ccc57673"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ac5af48413b5000a9810564b2ccc57673">ShowArea</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ac5af48413b5000a9810564b2ccc57673"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, a location signpost stating the map's name will be displayed at the top left of the screen when it is entered. If this is FALSE (or this line doesn't exist), it won't. Typically, this metadata should only be TRUE for outdoor maps and other important areas (e.g.some caves).  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ac5af48413b5000a9810564b2ccc57673">More...</a><br /></td></tr>
<tr class="separator:ac5af48413b5000a9810564b2ccc57673"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ae26b58b5d3db7344ec3ba7ee548722"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_weather.cshtml">MetadataWeather</a>?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a4ae26b58b5d3db7344ec3ba7ee548722">Weather</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a4ae26b58b5d3db7344ec3ba7ee548722"><td class="mdescLeft">&#160;</td><td class="mdescRight">The weather in effect on this map, and the likelihood of it.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a4ae26b58b5d3db7344ec3ba7ee548722">More...</a><br /></td></tr>
<tr class="separator:a4ae26b58b5d3db7344ec3ba7ee548722"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01fcc773473a6ff72fb00d2b1e6851b1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a01fcc773473a6ff72fb00d2b1e6851b1">DarkMap</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a01fcc773473a6ff72fb00d2b1e6851b1"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, this map is enshrouded in darkness and a small circle of light will appear around the player. If this is FALSE (or this line doesn't exist), there is no darkness. The player can use the move Flash to illuminate the surroundings, and can only use Flash on dark maps (if it has not already been used).  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a01fcc773473a6ff72fb00d2b1e6851b1">More...</a><br /></td></tr>
<tr class="separator:a01fcc773473a6ff72fb00d2b1e6851b1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad517e48f2de5af3474a5913cdc969774"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ad517e48f2de5af3474a5913cdc969774">DiveMap</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ad517e48f2de5af3474a5913cdc969774"><td class="mdescLeft">&#160;</td><td class="mdescRight">The underwater layer of this map. This metadata defines the map ID of the underwater map related to this map, and is required if this map contains accessible patches of deep water (tiles with terrain tag 5) where the move Dive can be used.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#ad517e48f2de5af3474a5913cdc969774">More...</a><br /></td></tr>
<tr class="separator:ad517e48f2de5af3474a5913cdc969774"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01f93620ea151146858204b6e9d7d954"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a01f93620ea151146858204b6e9d7d954">SafariMap</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a01f93620ea151146858204b6e9d7d954"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, this map is part of the Safari Zone. Walking in a map that is part of the Safari Zone will decrease the player's Safari Zone step count. Wild Pok&eacute;mon battles that occur in these maps will be Safari encounters (i.e. the player doesn't use Pok&eacute;mon, but instead throws bait/rocks, and the wild Pok&eacute;mon either stays or flees, etc.).  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a01f93620ea151146858204b6e9d7d954">More...</a><br /></td></tr>
<tr class="separator:a01f93620ea151146858204b6e9d7d954"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ee3228524f19f15ba7cc721fbbe9659"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a6ee3228524f19f15ba7cc721fbbe9659">SnapEdges</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a6ee3228524f19f15ba7cc721fbbe9659"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, then the screen cannot scroll past the edges of the map. This avoids showing the black borders beyond the edges of maps, but the camera will not be centred on the player if they are close to the edges.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a6ee3228524f19f15ba7cc721fbbe9659">More...</a><br /></td></tr>
<tr class="separator:a6ee3228524f19f15ba7cc721fbbe9659"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38baef7aa236918a050af73372dd953e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a38baef7aa236918a050af73372dd953e">Dungeon</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a38baef7aa236918a050af73372dd953e"><td class="mdescLeft">&#160;</td><td class="mdescRight">If this is TRUE, this map is a randomly generated dungeon map which changes layout each time the player enters it. This map should not be connected to any other map.  <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a38baef7aa236918a050af73372dd953e">More...</a><br /></td></tr>
<tr class="separator:a38baef7aa236918a050af73372dd953e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a60c2ed8a6f0aefe95db71a12eb9446e8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a60c2ed8a6f0aefe95db71a12eb9446e8">BattleBack</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a60c2ed8a6f0aefe95db71a12eb9446e8"><td class="mdescLeft">&#160;</td><td class="mdescRight">The backdrop picture used for all battles that take place on this map. This setting is a phrase which corresponds to a particular backdrop; see the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a60c2ed8a6f0aefe95db71a12eb9446e8">More...</a><br /></td></tr>
<tr class="separator:a60c2ed8a6f0aefe95db71a12eb9446e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a402048975d5df97ae7dd1c537441c93a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">Environments</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a402048975d5df97ae7dd1c537441c93a">Environment</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a402048975d5df97ae7dd1c537441c93a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The environment in effect on this map.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a402048975d5df97ae7dd1c537441c93a">More...</a><br /></td></tr>
<tr class="separator:a402048975d5df97ae7dd1c537441c93a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7f0604ea6c8c7026707b7f96f70e5088"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a7f0604ea6c8c7026707b7f96f70e5088">WildBattleBGM</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a7f0604ea6c8c7026707b7f96f70e5088"><td class="mdescLeft">&#160;</td><td class="mdescRight">The music played during any wild battles that take place on this map. See the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a7f0604ea6c8c7026707b7f96f70e5088">More...</a><br /></td></tr>
<tr class="separator:a7f0604ea6c8c7026707b7f96f70e5088"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0f18fd426c685f2f9969741d6393a814"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a0f18fd426c685f2f9969741d6393a814">TrainerBattleBGM</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a0f18fd426c685f2f9969741d6393a814"><td class="mdescLeft">&#160;</td><td class="mdescRight">The music played during any trainer battle that takes place on this map. See the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a0f18fd426c685f2f9969741d6393a814">More...</a><br /></td></tr>
<tr class="separator:a0f18fd426c685f2f9969741d6393a814"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af1f5f3972758bfa5f66cbb0f31ab8d6c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#af1f5f3972758bfa5f66cbb0f31ab8d6c">WildVictoryME</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:af1f5f3972758bfa5f66cbb0f31ab8d6c"><td class="mdescLeft">&#160;</td><td class="mdescRight">The music played when the player wins a wild Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#af1f5f3972758bfa5f66cbb0f31ab8d6c">More...</a><br /></td></tr>
<tr class="separator:af1f5f3972758bfa5f66cbb0f31ab8d6c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a46ea13f4d5807b175adeb427760dec0f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a46ea13f4d5807b175adeb427760dec0f">TrainerVictoryME</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a46ea13f4d5807b175adeb427760dec0f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The music played when the player wins a trainer Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a46ea13f4d5807b175adeb427760dec0f">More...</a><br /></td></tr>
<tr class="separator:a46ea13f4d5807b175adeb427760dec0f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8fd18a1bbb45a2ed41637e27a8f32fdd"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a8fd18a1bbb45a2ed41637e27a8f32fdd">WildCaptureME</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a8fd18a1bbb45a2ed41637e27a8f32fdd"><td class="mdescLeft">&#160;</td><td class="mdescRight">The music played when the player captures a Pok&eacute;mon in a wild Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_map_metadata.cshtml#a8fd18a1bbb45a2ed41637e27a8f32fdd">More...</a><br /></td></tr>
<tr class="separator:a8fd18a1bbb45a2ed41637e27a8f32fdd"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a60c2ed8a6f0aefe95db71a12eb9446e8" name="a60c2ed8a6f0aefe95db71a12eb9446e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a60c2ed8a6f0aefe95db71a12eb9446e8">&#9670;&#160;</a></span>BattleBack</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.BattleBack</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The backdrop picture used for all battles that take place on this map. This setting is a phrase which corresponds to a particular backdrop; see the page Backgrounds and music for more information.  </p>

</div>
</div>
<a id="a1ea47b76c0c9de6d2538e9f6e99530e4" name="a1ea47b76c0c9de6d2538e9f6e99530e4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ea47b76c0c9de6d2538e9f6e99530e4">&#9670;&#160;</a></span>Bicycle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.Bicycle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, the bicycle can be used on this map. If this is FALSE, it cannot. If this line doesn't exist, then the player will only be able to ride a bicycle if this map is an outdoor map. </p>
<p >For which maps: Non-outdoor maps that can be cycled in</p>
<p >Note that caves are not outdoor maps, and therefore cave maps must have this metadata (set to TRUE) in order to allow the player to cycle in caves. This can also apply to gatehouses. </p>

</div>
</div>
<a id="ad0e51f57ca2a82789988953a6d026a86" name="ad0e51f57ca2a82789988953a6d026a86"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad0e51f57ca2a82789988953a6d026a86">&#9670;&#160;</a></span>BicycleAlways</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.BicycleAlways</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, the player will automatically mount their bicycle upon entering this map, and they cannot dismount it (not even to fish or surf) while on this map. </p>
<p >For which maps: Cycling Road maps</p>
<p >Note that the player will mount a bicycle upon entering this map even if they don't own one. Checks should be made before the player can enter one of these maps, to allow them through only if they own a bicycle. </p>

</div>
</div>
<a id="a01fcc773473a6ff72fb00d2b1e6851b1" name="a01fcc773473a6ff72fb00d2b1e6851b1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01fcc773473a6ff72fb00d2b1e6851b1">&#9670;&#160;</a></span>DarkMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.DarkMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, this map is enshrouded in darkness and a small circle of light will appear around the player. If this is FALSE (or this line doesn't exist), there is no darkness. The player can use the move Flash to illuminate the surroundings, and can only use Flash on dark maps (if it has not already been used). </p>
<p >For which maps: Dark maps</p>

</div>
</div>
<a id="ad517e48f2de5af3474a5913cdc969774" name="ad517e48f2de5af3474a5913cdc969774"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad517e48f2de5af3474a5913cdc969774">&#9670;&#160;</a></span>DiveMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonEssentials.Interface.Field.MapMetadata.DiveMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The underwater layer of this map. This metadata defines the map ID of the underwater map related to this map, and is required if this map contains accessible patches of deep water (tiles with terrain tag 5) where the move Dive can be used. </p>
<p >For which maps: Maps with deep water to dive into</p>
<p >Multiple maps cannot refer to the same underwater map, as the game wouldn't know which map to return the player to when surfacing. </p>

</div>
</div>
<a id="a38baef7aa236918a050af73372dd953e" name="a38baef7aa236918a050af73372dd953e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38baef7aa236918a050af73372dd953e">&#9670;&#160;</a></span>Dungeon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.Dungeon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, this map is a randomly generated dungeon map which changes layout each time the player enters it. This map should not be connected to any other map. </p>
<p >For which maps: Dungeon maps</p>

</div>
</div>
<a id="a402048975d5df97ae7dd1c537441c93a" name="a402048975d5df97ae7dd1c537441c93a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a402048975d5df97ae7dd1c537441c93a">&#9670;&#160;</a></span>Environment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a5f8faaaa9680d40830ea7c82e647b2e8">Environments</a> PokemonEssentials.Interface.Field.MapMetadata.Environment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The environment in effect on this map.  </p>

</div>
</div>
<a id="acde038fb4f2984abf9efd88065f1bcbf" name="acde038fb4f2984abf9efd88065f1bcbf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acde038fb4f2984abf9efd88065f1bcbf">&#9670;&#160;</a></span>HealingSpot</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.MapMetadata.HealingSpot</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This is a map ID number followed by the X and Y coordinates of a particular tile in that map. When a map with this metadata is entered (e.g.the interior of a Pok&eacute; Center), the Teleport destination is changed to the spot described by this metadata. Note that the spot itself is not usually on the same map as the one that has this metadata set; the spot is the tile just in front of the entrance to this map (e.g.just in front of a Pok&eacute; Center's entrance). </p>
<p >For which maps: Pok&eacute; Centre interiors</p>
<p >Note that the only thing this metadata affects is the Teleport destination. It does not determine Fly destinations (those are set on the region map in the PBS file "townmap.txt"), nor does it determine where the player goes to after blacking out (this is either set by the script <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_game_field.cshtml#a058b469c3ce4b26888762dca9b1ad61e">IGameField.pbSetPokemonCenter</a> which is part of the Pok&eacute; Center nurse event, or the <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a302347327ef70ffd218749e8983dbb5b" title="The point that the player is transferred to when they black out but no Pok&eacute; Center has been visited y...">GlobalMetadata.Home</a> global metadata). </p>

</div>
</div>
<a id="a53cf1deae75c76db9bbdf1d81f8bef63" name="a53cf1deae75c76db9bbdf1d81f8bef63"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53cf1deae75c76db9bbdf1d81f8bef63">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.MapMetadata.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa11cbffdf71f5383aa0c8c235418df68" name="aa11cbffdf71f5383aa0c8c235418df68"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa11cbffdf71f5383aa0c8c235418df68">&#9670;&#160;</a></span>MapPosition</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">ITilePosition</a> PokemonEssentials.Interface.Field.MapMetadata.MapPosition</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The position on the region map where this map is located. This metadata consists of the region number and this map's X and Y coordinates on that region map. When standing in this map and looking at the Town Map, the player's head icon will be placed on this point to show their current location. Note that this is (pretty much) the only purpose of this setting </p>
<ul>
<li>it does not name the point or make it a Fly destination</li>
<li>see the page Region map for those features. </li>
</ul>
<p >For which maps: All maps</p>
<p >For large maps, this should be the top left square of the map(even if that particular square isn't part of the map). </p>

</div>
</div>
<a id="a18fe6e3e932d568049f2c11908b50aa3" name="a18fe6e3e932d568049f2c11908b50aa3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18fe6e3e932d568049f2c11908b50aa3">&#9670;&#160;</a></span>MapSize</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map_metadata.cshtml">IRegionMapMetadata</a> PokemonEssentials.Interface.Field.MapMetadata.MapSize</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The size and shape of this map in <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_region_map.cshtml" title="The region map (also known as the Town Map) is the picture that shows the entire region.">IRegionMap</a> squares. </p>
<p >For which maps: Large maps</p>
<p >For example, if the width of the map is 2, and the layout is "1011", then the map is a 2x2 L-shaped map with the gap in the top right corner. </p>

</div>
</div>
<a id="ac4c777e69b2d28f7e3986d7d4f5ecb71" name="ac4c777e69b2d28f7e3986d7d4f5ecb71"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac4c777e69b2d28f7e3986d7d4f5ecb71">&#9670;&#160;</a></span>Outdoor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.Outdoor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, this map is an outdoor map. If this is FALSE (or this line doesn't exist), this map is an indoor map. Only outdoor maps will have day/night tinting. The hidden move Fly can only be used on an outdoor map. </p>
<p >For which maps: Outdoor maps</p>

</div>
</div>
<a id="a01f93620ea151146858204b6e9d7d954" name="a01f93620ea151146858204b6e9d7d954"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01f93620ea151146858204b6e9d7d954">&#9670;&#160;</a></span>SafariMap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.SafariMap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, this map is part of the Safari Zone. Walking in a map that is part of the Safari Zone will decrease the player's Safari Zone step count. Wild Pok&eacute;mon battles that occur in these maps will be Safari encounters (i.e. the player doesn't use Pok&eacute;mon, but instead throws bait/rocks, and the wild Pok&eacute;mon either stays or flees, etc.). </p>
<p >For which maps: Safari Zone maps</p>

</div>
</div>
<a id="ac5af48413b5000a9810564b2ccc57673" name="ac5af48413b5000a9810564b2ccc57673"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac5af48413b5000a9810564b2ccc57673">&#9670;&#160;</a></span>ShowArea</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.ShowArea</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, a location signpost stating the map's name will be displayed at the top left of the screen when it is entered. If this is FALSE (or this line doesn't exist), it won't. Typically, this metadata should only be TRUE for outdoor maps and other important areas (e.g.some caves). </p>
<p >For which maps: Outdoor maps, other important maps</p>
<p >There are some cases where a location signpost will not be displayed even if this metadata says it should. See the page Map transfers for more details. </p>

</div>
</div>
<a id="a6ee3228524f19f15ba7cc721fbbe9659" name="a6ee3228524f19f15ba7cc721fbbe9659"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ee3228524f19f15ba7cc721fbbe9659">&#9670;&#160;</a></span>SnapEdges</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonEssentials.Interface.Field.MapMetadata.SnapEdges</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If this is TRUE, then the screen cannot scroll past the edges of the map. This avoids showing the black borders beyond the edges of maps, but the camera will not be centred on the player if they are close to the edges.  </p>

</div>
</div>
<a id="a0f18fd426c685f2f9969741d6393a814" name="a0f18fd426c685f2f9969741d6393a814"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0f18fd426c685f2f9969741d6393a814">&#9670;&#160;</a></span>TrainerBattleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.TrainerBattleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The music played during any trainer battle that takes place on this map. See the page Backgrounds and music for more information.  </p>

</div>
</div>
<a id="a46ea13f4d5807b175adeb427760dec0f" name="a46ea13f4d5807b175adeb427760dec0f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a46ea13f4d5807b175adeb427760dec0f">&#9670;&#160;</a></span>TrainerVictoryME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.TrainerVictoryME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The music played when the player wins a trainer Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.  </p>

</div>
</div>
<a id="a4ae26b58b5d3db7344ec3ba7ee548722" name="a4ae26b58b5d3db7344ec3ba7ee548722"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ae26b58b5d3db7344ec3ba7ee548722">&#9670;&#160;</a></span>Weather</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_weather.cshtml">MetadataWeather</a>? PokemonEssentials.Interface.Field.MapMetadata.Weather</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The weather in effect on this map, and the likelihood of it. </p>
<p >For which maps: </p>

</div>
</div>
<a id="a7f0604ea6c8c7026707b7f96f70e5088" name="a7f0604ea6c8c7026707b7f96f70e5088"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7f0604ea6c8c7026707b7f96f70e5088">&#9670;&#160;</a></span>WildBattleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.WildBattleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The music played during any wild battles that take place on this map. See the page Backgrounds and music for more information.  </p>

</div>
</div>
<a id="a8fd18a1bbb45a2ed41637e27a8f32fdd" name="a8fd18a1bbb45a2ed41637e27a8f32fdd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8fd18a1bbb45a2ed41637e27a8f32fdd">&#9670;&#160;</a></span>WildCaptureME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.WildCaptureME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The music played when the player captures a Pok&eacute;mon in a wild Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.  </p>

</div>
</div>
<a id="af1f5f3972758bfa5f66cbb0f31ab8d6c" name="af1f5f3972758bfa5f66cbb0f31ab8d6c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1f5f3972758bfa5f66cbb0f31ab8d6c">&#9670;&#160;</a></span>WildVictoryME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MapMetadata.WildVictoryME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The music played when the player wins a wild Pok&eacute;mon battle that takes place on this map. See the page Backgrounds and music for more information.  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>
