@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Saving.GameState Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_saving_1_1_game_state-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Saving.GameState Struct Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.Saving.GameState:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_saving_1_1_game_state.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abcaa3763655d4dd446f0a13eb27e12b6"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#abcaa3763655d4dd446f0a13eb27e12b6">GameState</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">IGamePlayer</a> player, <a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a>? challenge=null, <a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a>? features=null, string overworld=null, string daycare=null, string berry=null, string apricon=null, string npc=null)</td></tr>
<tr class="separator:abcaa3763655d4dd446f0a13eb27e12b6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae1002b5cc9484a9b8061a15eb4cea72e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ae1002b5cc9484a9b8061a15eb4cea72e">GetPlayer</a> ()</td></tr>
<tr class="separator:ae1002b5cc9484a9b8061a15eb4cea72e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97c1a60a6407c0c31ea8d8cd7e0af400"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a97c1a60a6407c0c31ea8d8cd7e0af400">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> obj)</td></tr>
<tr class="separator:a97c1a60a6407c0c31ea8d8cd7e0af400"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9785c043cddde906f9c244143da7dce"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ac9785c043cddde906f9c244143da7dce">Equals</a> (object obj)</td></tr>
<tr class="separator:ac9785c043cddde906f9c244143da7dce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb3bfc4a49781aa983c57b4ea882b1b9"><td class="memItemLeft" align="right" valign="top">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#aeb3bfc4a49781aa983c57b4ea882b1b9">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> other)</td></tr>
<tr class="separator:aeb3bfc4a49781aa983c57b4ea882b1b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3c255bba2c5e0bffa980a1a1faf58f5"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ad3c255bba2c5e0bffa980a1a1faf58f5">GetHashCode</a> ()</td></tr>
<tr class="separator:ad3c255bba2c5e0bffa980a1a1faf58f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19b836ecf1629b6f493dbf3028418153"><td class="memItemLeft" align="right" valign="top">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a19b836ecf1629b6f493dbf3028418153">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="separator:a19b836ecf1629b6f493dbf3028418153"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9d4888b73022872df247b2effc461f7e"><td class="memItemLeft" align="right" valign="top">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a9d4888b73022872df247b2effc461f7e">GetHashCode</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> obj)</td></tr>
<tr class="separator:a9d4888b73022872df247b2effc461f7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af01d38192e63cde9a52aba360fc2ba77"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#af01d38192e63cde9a52aba360fc2ba77">GameState</a> (<a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Character.Player</a> player, <a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a>? challenge=null, <a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a>? features=null, string overworld=null, string daycare=null, string berry=null, string apricon=null, string npc=null)</td></tr>
<tr class="separator:af01d38192e63cde9a52aba360fc2ba77"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7d9a70b3e4e951d3d04dc498f1a201b2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Character.Player</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a7d9a70b3e4e951d3d04dc498f1a201b2">GetPlayer</a> ()</td></tr>
<tr class="separator:a7d9a70b3e4e951d3d04dc498f1a201b2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a97c1a60a6407c0c31ea8d8cd7e0af400"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a97c1a60a6407c0c31ea8d8cd7e0af400">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> obj)</td></tr>
<tr class="separator:a97c1a60a6407c0c31ea8d8cd7e0af400"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac9785c043cddde906f9c244143da7dce"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ac9785c043cddde906f9c244143da7dce">Equals</a> (object obj)</td></tr>
<tr class="separator:ac9785c043cddde906f9c244143da7dce"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aeb3bfc4a49781aa983c57b4ea882b1b9"><td class="memItemLeft" align="right" valign="top">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#aeb3bfc4a49781aa983c57b4ea882b1b9">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> other)</td></tr>
<tr class="separator:aeb3bfc4a49781aa983c57b4ea882b1b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad3c255bba2c5e0bffa980a1a1faf58f5"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ad3c255bba2c5e0bffa980a1a1faf58f5">GetHashCode</a> ()</td></tr>
<tr class="separator:ad3c255bba2c5e0bffa980a1a1faf58f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a19b836ecf1629b6f493dbf3028418153"><td class="memItemLeft" align="right" valign="top">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a19b836ecf1629b6f493dbf3028418153">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="separator:a19b836ecf1629b6f493dbf3028418153"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9d4888b73022872df247b2effc461f7e"><td class="memItemLeft" align="right" valign="top">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a9d4888b73022872df247b2effc461f7e">GetHashCode</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> obj)</td></tr>
<tr class="separator:a9d4888b73022872df247b2effc461f7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a32d4faadec1017e71a8ae290283b9426"><td class="memItemLeft" align="right" valign="top">static implicit&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a32d4faadec1017e71a8ae290283b9426">operator GameState</a> (<a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a> game)</td></tr>
<tr class="separator:a32d4faadec1017e71a8ae290283b9426"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab011ba866f17d1830310728656d4443a"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab011ba866f17d1830310728656d4443a">operator==</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="memdesc:ab011ba866f17d1830310728656d4443a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Two games are the same, if the same player character exist both games (regardless of when files were created, or progress made) with identical settings and configurations.   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab011ba866f17d1830310728656d4443a">More...</a><br /></td></tr>
<tr class="separator:ab011ba866f17d1830310728656d4443a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae68d6eb902f3e3c6f2e7d3081486db8a"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ae68d6eb902f3e3c6f2e7d3081486db8a">operator!=</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="separator:ae68d6eb902f3e3c6f2e7d3081486db8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a32d4faadec1017e71a8ae290283b9426"><td class="memItemLeft" align="right" valign="top">static implicit&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a32d4faadec1017e71a8ae290283b9426">operator GameState</a> (<a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a> game)</td></tr>
<tr class="separator:a32d4faadec1017e71a8ae290283b9426"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab011ba866f17d1830310728656d4443a"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab011ba866f17d1830310728656d4443a">operator==</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="memdesc:ab011ba866f17d1830310728656d4443a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Two games are the same, if the same player character exist both games (regardless of when files were created, or progress made) with identical settings and configurations.   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab011ba866f17d1830310728656d4443a">More...</a><br /></td></tr>
<tr class="separator:ab011ba866f17d1830310728656d4443a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae68d6eb902f3e3c6f2e7d3081486db8a"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ae68d6eb902f3e3c6f2e7d3081486db8a">operator!=</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> x, <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> y)</td></tr>
<tr class="separator:ae68d6eb902f3e3c6f2e7d3081486db8a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1541d11b06f98634f3f78b435591eba3"><td class="memItemLeft" align="right" valign="top">DateTime&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a1541d11b06f98634f3f78b435591eba3">TimeCreated</a><code> [get]</code></td></tr>
<tr class="memdesc:a1541d11b06f98634f3f78b435591eba3"><td class="mdescLeft">&#160;</td><td class="mdescRight">Creation date of this save file; The UTC DateTime this save file was created   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a1541d11b06f98634f3f78b435591eba3">More...</a><br /></td></tr>
<tr class="separator:a1541d11b06f98634f3f78b435591eba3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17db8f8c819a6f08e223bd7ae434209a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a17db8f8c819a6f08e223bd7ae434209a">Features</a><code> [get]</code></td></tr>
<tr class="separator:a17db8f8c819a6f08e223bd7ae434209a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26636a1a7cdf1f3be237371e0331d947"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a26636a1a7cdf1f3be237371e0331d947">Challenge</a><code> [get]</code></td></tr>
<tr class="separator:a26636a1a7cdf1f3be237371e0331d947"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a58e0149f1c584d49714da254d88cd863"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a58e0149f1c584d49714da254d88cd863">PlayerName</a><code> [get]</code></td></tr>
<tr class="separator:a58e0149f1c584d49714da254d88cd863"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab38dac5c2fdcb5dc9c87f36d96eaf4eb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab38dac5c2fdcb5dc9c87f36d96eaf4eb">TrainerID</a><code> [get]</code></td></tr>
<tr class="separator:ab38dac5c2fdcb5dc9c87f36d96eaf4eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d29d7a1bdeca2164520e2942fab787d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a8d29d7a1bdeca2164520e2942fab787d">SecretID</a><code> [get]</code></td></tr>
<tr class="separator:a8d29d7a1bdeca2164520e2942fab787d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a822e2b883e878678c2daa766cffaed12"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a822e2b883e878678c2daa766cffaed12">IsMale</a><code> [get]</code></td></tr>
<tr class="separator:a822e2b883e878678c2daa766cffaed12"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a67dedaba4f173ba519c0ea087cb2932f"><td class="memItemLeft" align="right" valign="top">byte[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a67dedaba4f173ba519c0ea087cb2932f">Pokedex</a><code> [get]</code></td></tr>
<tr class="separator:a67dedaba4f173ba519c0ea087cb2932f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93900eab622ff059398f577ca1eb8263"><td class="memItemLeft" align="right" valign="top">System.TimeSpan&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a93900eab622ff059398f577ca1eb8263">PlayTime</a><code> [get]</code></td></tr>
<tr class="memdesc:a93900eab622ff059398f577ca1eb8263"><td class="mdescLeft">&#160;</td><td class="mdescRight">Duration of time accumulated on save file   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a93900eab622ff059398f577ca1eb8263">More...</a><br /></td></tr>
<tr class="separator:a93900eab622ff059398f577ca1eb8263"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab7eea75d079b947d577bc59280c255d2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab7eea75d079b947d577bc59280c255d2">PlayerMoney</a><code> [get]</code></td></tr>
<tr class="separator:ab7eea75d079b947d577bc59280c255d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae0552e0772c61ebc684fccdd5f447e46"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ae0552e0772c61ebc684fccdd5f447e46">PlayerCoins</a><code> [get]</code></td></tr>
<tr class="separator:ae0552e0772c61ebc684fccdd5f447e46"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7cc5689ca40e0619d8e3c5a1d1740ce2"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a7cc5689ca40e0619d8e3c5a1d1740ce2">PlayerSavings</a><code> [get]</code></td></tr>
<tr class="separator:a7cc5689ca40e0619d8e3c5a1d1740ce2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95ce16ca8d1b19f3e7bc8b519bb3d53c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a95ce16ca8d1b19f3e7bc8b519bb3d53c">IsCreator</a><code> [get]</code></td></tr>
<tr class="separator:a95ce16ca8d1b19f3e7bc8b519bb3d53c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf6147c83a16e04d87758c09dc86e0b9"><td class="memItemLeft" align="right" valign="top">KeyValuePair&lt; <a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>, DateTime?&gt;[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#abf6147c83a16e04d87758c09dc86e0b9">GymsChallenged</a><code> [get]</code></td></tr>
<tr class="separator:abf6147c83a16e04d87758c09dc86e0b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75526308c3c8bc1f02541e3059b5bdc7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a75526308c3c8bc1f02541e3059b5bdc7">PokeCenterId</a><code> [get]</code></td></tr>
<tr class="memdesc:a75526308c3c8bc1f02541e3059b5bdc7"><td class="mdescLeft">&#160;</td><td class="mdescRight">When the Player blacks out they need to return to the last visited Pokemon Center   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a75526308c3c8bc1f02541e3059b5bdc7">More...</a><br /></td></tr>
<tr class="separator:a75526308c3c8bc1f02541e3059b5bdc7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a75f75fd75be4e54e7ffe01d717ca2154"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a75f75fd75be4e54e7ffe01d717ca2154">ActiveMapId</a><code> [get]</code></td></tr>
<tr class="separator:a75f75fd75be4e54e7ffe01d717ca2154"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86c334e40099e3c642376a8f21c201f1"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a86c334e40099e3c642376a8f21c201f1">PlayerPosition</a><code> [get]</code></td></tr>
<tr class="separator:a86c334e40099e3c642376a8f21c201f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6977cf683c7f173cad3bfd41740ac0f7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_quaternion.cshtml">IQuaternion</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a6977cf683c7f173cad3bfd41740ac0f7">PlayerDirection</a><code> [get]</code></td></tr>
<tr class="separator:a6977cf683c7f173cad3bfd41740ac0f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adc5db58a3f581946e63f3aedd222e003"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#adc5db58a3f581946e63f3aedd222e003">FollowerPokemon</a><code> [get]</code></td></tr>
<tr class="memdesc:adc5db58a3f581946e63f3aedd222e003"><td class="mdescLeft">&#160;</td><td class="mdescRight">Which pokemon from player party is out in overworld with player; 0 =&gt; None, 1-6 =&gt; <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>'s Party   <a href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#adc5db58a3f581946e63f3aedd222e003">More...</a><br /></td></tr>
<tr class="separator:adc5db58a3f581946e63f3aedd222e003"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab8d53e0317b0f4e44aa4b7a202488f15"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#ab8d53e0317b0f4e44aa4b7a202488f15">RepelSteps</a><code> [get]</code></td></tr>
<tr class="separator:ab8d53e0317b0f4e44aa4b7a202488f15"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4b9ae2070c67a35bafa752150e9845dd"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a4b9ae2070c67a35bafa752150e9845dd">PlayerParty</a><code> [get]</code></td></tr>
<tr class="separator:a4b9ae2070c67a35bafa752150e9845dd"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aee698692aa9cb48796729537a386999d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">SeriPC</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#aee698692aa9cb48796729537a386999d">PlayerPC</a><code> [get]</code></td></tr>
<tr class="separator:aee698692aa9cb48796729537a386999d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a346e8555ba82a3ccc80af903602c9efb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml#a346e8555ba82a3ccc80af903602c9efb">PlayerBag</a><code> [get]</code></td></tr>
<tr class="separator:a346e8555ba82a3ccc80af903602c9efb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="abcaa3763655d4dd446f0a13eb27e12b6" name="abcaa3763655d4dd446f0a13eb27e12b6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abcaa3763655d4dd446f0a13eb27e12b6">&#9670;&#160;</a></span>GameState() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Saving.GameState.GameState </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_game_player.cshtml">IGamePlayer</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a>?&#160;</td>
          <td class="paramname"><em>challenge</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a>?&#160;</td>
          <td class="paramname"><em>features</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>overworld</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>daycare</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>berry</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>apricon</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>npc</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="af01d38192e63cde9a52aba360fc2ba77" name="af01d38192e63cde9a52aba360fc2ba77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af01d38192e63cde9a52aba360fc2ba77">&#9670;&#160;</a></span>GameState() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Saving.GameState.GameState </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Character.Player</a>&#160;</td>
          <td class="paramname"><em>player</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a>?&#160;</td>
          <td class="paramname"><em>challenge</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a>?&#160;</td>
          <td class="paramname"><em>features</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>overworld</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>daycare</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>berry</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>apricon</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>npc</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a97c1a60a6407c0c31ea8d8cd7e0af400" name="a97c1a60a6407c0c31ea8d8cd7e0af400"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97c1a60a6407c0c31ea8d8cd7e0af400">&#9670;&#160;</a></span>Equals() <span class="overload">[1/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a97c1a60a6407c0c31ea8d8cd7e0af400" name="a97c1a60a6407c0c31ea8d8cd7e0af400"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a97c1a60a6407c0c31ea8d8cd7e0af400">&#9670;&#160;</a></span>Equals() <span class="overload">[2/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb3bfc4a49781aa983c57b4ea882b1b9" name="aeb3bfc4a49781aa983c57b4ea882b1b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb3bfc4a49781aa983c57b4ea882b1b9">&#9670;&#160;</a></span>Equals() <span class="overload">[3/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aeb3bfc4a49781aa983c57b4ea882b1b9" name="aeb3bfc4a49781aa983c57b4ea882b1b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeb3bfc4a49781aa983c57b4ea882b1b9">&#9670;&#160;</a></span>Equals() <span class="overload">[4/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEquatable&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19b836ecf1629b6f493dbf3028418153" name="a19b836ecf1629b6f493dbf3028418153"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19b836ecf1629b6f493dbf3028418153">&#9670;&#160;</a></span>Equals() <span class="overload">[5/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a19b836ecf1629b6f493dbf3028418153" name="a19b836ecf1629b6f493dbf3028418153"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a19b836ecf1629b6f493dbf3028418153">&#9670;&#160;</a></span>Equals() <span class="overload">[6/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac9785c043cddde906f9c244143da7dce" name="ac9785c043cddde906f9c244143da7dce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9785c043cddde906f9c244143da7dce">&#9670;&#160;</a></span>Equals() <span class="overload">[7/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac9785c043cddde906f9c244143da7dce" name="ac9785c043cddde906f9c244143da7dce"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac9785c043cddde906f9c244143da7dce">&#9670;&#160;</a></span>Equals() <span class="overload">[8/8]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Saving.GameState.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3c255bba2c5e0bffa980a1a1faf58f5" name="ad3c255bba2c5e0bffa980a1a1faf58f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3c255bba2c5e0bffa980a1a1faf58f5">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[1/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Saving.GameState.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad3c255bba2c5e0bffa980a1a1faf58f5" name="ad3c255bba2c5e0bffa980a1a1faf58f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad3c255bba2c5e0bffa980a1a1faf58f5">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[2/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Saving.GameState.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9d4888b73022872df247b2effc461f7e" name="a9d4888b73022872df247b2effc461f7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d4888b73022872df247b2effc461f7e">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[3/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.GetHashCode </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9d4888b73022872df247b2effc461f7e" name="a9d4888b73022872df247b2effc461f7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d4888b73022872df247b2effc461f7e">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[4/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int IEqualityComparer&lt; <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> &gt;. PokemonUnity.Saving.GameState.GetHashCode </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1002b5cc9484a9b8061a15eb4cea72e" name="ae1002b5cc9484a9b8061a15eb4cea72e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1002b5cc9484a9b8061a15eb4cea72e">&#9670;&#160;</a></span>GetPlayer() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_trainer.cshtml">ITrainer</a> PokemonUnity.Saving.GameState.GetPlayer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a7d9a70b3e4e951d3d04dc498f1a201b2" name="a7d9a70b3e4e951d3d04dc498f1a201b2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7d9a70b3e4e951d3d04dc498f1a201b2">&#9670;&#160;</a></span>GetPlayer() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="class_pokemon_unity_1_1_character_1_1_player.cshtml">Character.Player</a> PokemonUnity.Saving.GameState.GetPlayer </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a32d4faadec1017e71a8ae290283b9426" name="a32d4faadec1017e71a8ae290283b9426"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32d4faadec1017e71a8ae290283b9426">&#9670;&#160;</a></span>operator GameState() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static implicit PokemonUnity.Saving.GameState.operator <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a>&#160;</td>
          <td class="paramname"><em>game</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a32d4faadec1017e71a8ae290283b9426" name="a32d4faadec1017e71a8ae290283b9426"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a32d4faadec1017e71a8ae290283b9426">&#9670;&#160;</a></span>operator GameState() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static implicit PokemonUnity.Saving.GameState.operator <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a> </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="class_pokemon_unity_1_1_game.cshtml">Game</a>&#160;</td>
          <td class="paramname"><em>game</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae68d6eb902f3e3c6f2e7d3081486db8a" name="ae68d6eb902f3e3c6f2e7d3081486db8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae68d6eb902f3e3c6f2e7d3081486db8a">&#9670;&#160;</a></span>operator!=() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Saving.GameState.operator!= </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae68d6eb902f3e3c6f2e7d3081486db8a" name="ae68d6eb902f3e3c6f2e7d3081486db8a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae68d6eb902f3e3c6f2e7d3081486db8a">&#9670;&#160;</a></span>operator!=() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Saving.GameState.operator!= </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab011ba866f17d1830310728656d4443a" name="ab011ba866f17d1830310728656d4443a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab011ba866f17d1830310728656d4443a">&#9670;&#160;</a></span>operator==() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Saving.GameState.operator== </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Two games are the same, if the same player character exist both games (regardless of when files were created, or progress made) with identical settings and configurations.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>if both characters and game objectices are equal</dd></dl>

</div>
</div>
<a id="ab011ba866f17d1830310728656d4443a" name="ab011ba866f17d1830310728656d4443a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab011ba866f17d1830310728656d4443a">&#9670;&#160;</a></span>operator==() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Saving.GameState.operator== </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_game_state.cshtml">GameState</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Two games are the same, if the same player character exist both games (regardless of when files were created, or progress made) with identical settings and configurations.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">x</td><td></td></tr>
    <tr><td class="paramname">y</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd>if both characters and game objectices are equal</dd></dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a75f75fd75be4e54e7ffe01d717ca2154" name="a75f75fd75be4e54e7ffe01d717ca2154"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75f75fd75be4e54e7ffe01d717ca2154">&#9670;&#160;</a></span>ActiveMapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.ActiveMapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a26636a1a7cdf1f3be237371e0331d947" name="a26636a1a7cdf1f3be237371e0331d947"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26636a1a7cdf1f3be237371e0331d947">&#9670;&#160;</a></span>Challenge</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_application.cshtml#a20affbfa358c969c7c43d5a596ce99ca">Challenges</a> PokemonUnity.Saving.GameState.Challenge</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a17db8f8c819a6f08e223bd7ae434209a" name="a17db8f8c819a6f08e223bd7ae434209a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17db8f8c819a6f08e223bd7ae434209a">&#9670;&#160;</a></span>Features</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_application_1_1_feature.cshtml">Feature</a> PokemonUnity.Saving.GameState.Features</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adc5db58a3f581946e63f3aedd222e003" name="adc5db58a3f581946e63f3aedd222e003"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adc5db58a3f581946e63f3aedd222e003">&#9670;&#160;</a></span>FollowerPokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Saving.GameState.FollowerPokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Which pokemon from player party is out in overworld with player; 0 =&gt; None, 1-6 =&gt; <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>'s Party  </p>

</div>
</div>
<a id="abf6147c83a16e04d87758c09dc86e0b9" name="abf6147c83a16e04d87758c09dc86e0b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf6147c83a16e04d87758c09dc86e0b9">&#9670;&#160;</a></span>GymsChallenged</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">KeyValuePair&lt;<a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>,DateTime?&gt; [] PokemonUnity.Saving.GameState.GymsChallenged</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a95ce16ca8d1b19f3e7bc8b519bb3d53c" name="a95ce16ca8d1b19f3e7bc8b519bb3d53c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95ce16ca8d1b19f3e7bc8b519bb3d53c">&#9670;&#160;</a></span>IsCreator</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Saving.GameState.IsCreator</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a822e2b883e878678c2daa766cffaed12" name="a822e2b883e878678c2daa766cffaed12"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a822e2b883e878678c2daa766cffaed12">&#9670;&#160;</a></span>IsMale</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Saving.GameState.IsMale</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a346e8555ba82a3ccc80af903602c9efb" name="a346e8555ba82a3ccc80af903602c9efb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a346e8555ba82a3ccc80af903602c9efb">&#9670;&#160;</a></span>PlayerBag</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> [] PokemonUnity.Saving.GameState.PlayerBag</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae0552e0772c61ebc684fccdd5f447e46" name="ae0552e0772c61ebc684fccdd5f447e46"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae0552e0772c61ebc684fccdd5f447e46">&#9670;&#160;</a></span>PlayerCoins</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.PlayerCoins</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6977cf683c7f173cad3bfd41740ac0f7" name="a6977cf683c7f173cad3bfd41740ac0f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6977cf683c7f173cad3bfd41740ac0f7">&#9670;&#160;</a></span>PlayerDirection</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_quaternion.cshtml">IQuaternion</a> PokemonUnity.Saving.GameState.PlayerDirection</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab7eea75d079b947d577bc59280c255d2" name="ab7eea75d079b947d577bc59280c255d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab7eea75d079b947d577bc59280c255d2">&#9670;&#160;</a></span>PlayerMoney</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.PlayerMoney</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a58e0149f1c584d49714da254d88cd863" name="a58e0149f1c584d49714da254d88cd863"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a58e0149f1c584d49714da254d88cd863">&#9670;&#160;</a></span>PlayerName</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Saving.GameState.PlayerName</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4b9ae2070c67a35bafa752150e9845dd" name="a4b9ae2070c67a35bafa752150e9845dd"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4b9ae2070c67a35bafa752150e9845dd">&#9670;&#160;</a></span>PlayerParty</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> [] PokemonUnity.Saving.GameState.PlayerParty</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aee698692aa9cb48796729537a386999d" name="aee698692aa9cb48796729537a386999d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aee698692aa9cb48796729537a386999d">&#9670;&#160;</a></span>PlayerPC</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">SeriPC</a> PokemonUnity.Saving.GameState.PlayerPC</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a86c334e40099e3c642376a8f21c201f1" name="a86c334e40099e3c642376a8f21c201f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86c334e40099e3c642376a8f21c201f1">&#9670;&#160;</a></span>PlayerPosition</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_unity_1_1_utility_1_1_i_vector.cshtml">IVector</a> PokemonUnity.Saving.GameState.PlayerPosition</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7cc5689ca40e0619d8e3c5a1d1740ce2" name="a7cc5689ca40e0619d8e3c5a1d1740ce2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7cc5689ca40e0619d8e3c5a1d1740ce2">&#9670;&#160;</a></span>PlayerSavings</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.PlayerSavings</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a93900eab622ff059398f577ca1eb8263" name="a93900eab622ff059398f577ca1eb8263"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93900eab622ff059398f577ca1eb8263">&#9670;&#160;</a></span>PlayTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">System TimeSpan PokemonUnity.Saving.GameState.PlayTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Duration of time accumulated on save file  </p>

</div>
</div>
<a id="a75526308c3c8bc1f02541e3059b5bdc7" name="a75526308c3c8bc1f02541e3059b5bdc7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a75526308c3c8bc1f02541e3059b5bdc7">&#9670;&#160;</a></span>PokeCenterId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.PokeCenterId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>When the Player blacks out they need to return to the last visited Pokemon Center  </p>

</div>
</div>
<a id="a67dedaba4f173ba519c0ea087cb2932f" name="a67dedaba4f173ba519c0ea087cb2932f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a67dedaba4f173ba519c0ea087cb2932f">&#9670;&#160;</a></span>Pokedex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte [][] PokemonUnity.Saving.GameState.Pokedex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab8d53e0317b0f4e44aa4b7a202488f15" name="ab8d53e0317b0f4e44aa4b7a202488f15"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab8d53e0317b0f4e44aa4b7a202488f15">&#9670;&#160;</a></span>RepelSteps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.RepelSteps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8d29d7a1bdeca2164520e2942fab787d" name="a8d29d7a1bdeca2164520e2942fab787d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d29d7a1bdeca2164520e2942fab787d">&#9670;&#160;</a></span>SecretID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.SecretID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1541d11b06f98634f3f78b435591eba3" name="a1541d11b06f98634f3f78b435591eba3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1541d11b06f98634f3f78b435591eba3">&#9670;&#160;</a></span>TimeCreated</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">DateTime PokemonUnity.Saving.GameState.TimeCreated</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Creation date of this save file; The UTC DateTime this save file was created  </p>

</div>
</div>
<a id="ab38dac5c2fdcb5dc9c87f36d96eaf4eb" name="ab38dac5c2fdcb5dc9c87f36d96eaf4eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab38dac5c2fdcb5dc9c87f36d96eaf4eb">&#9670;&#160;</a></span>TrainerID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.GameState.TrainerID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following files:<ul>
<li>PokemonUnity.Application/<a class="el" href="_pokemon_unity_8_application_2_game_state_8cs.cshtml">GameState.cs</a></li>
<li>PokemonUnity.Shared/Saving/Data/<a class="el" href="_pokemon_unity_8_shared_2_saving_2_data_2_game_state_8cs.cshtml">GameState.cs</a></li>
</ul>

