@{
	Page.Title = "PokemonUnity.Inventory.ItemData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_inventory_1_1_item_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.ItemData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3c1c94081e49b50f5024d71ed2171354"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3c1c94081e49b50f5024d71ed2171354">ItemData</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> itemId, int price=0, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a> itemCategory=ItemCategory.UNUSED, <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a> itemFlag=new <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>(), int? power=0, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>? itemFlingEffect=null, int[] gens=null)</td></tr>
<tr class="separator:a3c1c94081e49b50f5024d71ed2171354"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:acb81397a822f5ba3bcf877183e68c15c"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#acb81397a822f5ba3bcf877183e68c15c">pbIsPokeBall</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:acb81397a822f5ba3bcf877183e68c15c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a193591c96908ac734450c2c2793d0029"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a193591c96908ac734450c2c2793d0029">pbIsLetter</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a193591c96908ac734450c2c2793d0029"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ada94aa8f3feacd555e1e2b2bf51c485e"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#ada94aa8f3feacd555e1e2b2bf51c485e">pbIsApricon</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:ada94aa8f3feacd555e1e2b2bf51c485e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abad79b96043103fa0f2ed80cd8708829"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abad79b96043103fa0f2ed80cd8708829">pbIsBerry</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:abad79b96043103fa0f2ed80cd8708829"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1a5b43eb2e5e109f33877cfbde6da3bc"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a1a5b43eb2e5e109f33877cfbde6da3bc">pbIsGem</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a1a5b43eb2e5e109f33877cfbde6da3bc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02fa1090bfef259337da0239f6d5f3cb"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a02fa1090bfef259337da0239f6d5f3cb">pbIsMegaStone</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> item)</td></tr>
<tr class="separator:a02fa1090bfef259337da0239f6d5f3cb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a3bf3bbf609618721d26473edd9a1f8b8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3bf3bbf609618721d26473edd9a1f8b8">Price</a><code> [get]</code></td></tr>
<tr class="separator:a3bf3bbf609618721d26473edd9a1f8b8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abec3b7ccbc29463c8402426c51436143"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abec3b7ccbc29463c8402426c51436143">BattleUse</a><code> [get]</code></td></tr>
<tr class="memdesc:abec3b7ccbc29463c8402426c51436143"><td class="mdescLeft">&#160;</td><td class="mdescRight">Should be a description of what it does when in battle, but might be better as a bool   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abec3b7ccbc29463c8402426c51436143">More...</a><br /></td></tr>
<tr class="separator:abec3b7ccbc29463c8402426c51436143"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8f9b62bf51b9d5fe31cef3a8601a5ba6"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a8f9b62bf51b9d5fe31cef3a8601a5ba6">Id</a><code> [get]</code></td></tr>
<tr class="separator:a8f9b62bf51b9d5fe31cef3a8601a5ba6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9f99c299932d47649566fd3926280932"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9f99c299932d47649566fd3926280932">Flags</a><code> [get]</code></td></tr>
<tr class="separator:a9f99c299932d47649566fd3926280932"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af15e551ba38f1347cbf1418d9cf320a2"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#af15e551ba38f1347cbf1418d9cf320a2">Category</a><code> [get]</code></td></tr>
<tr class="separator:af15e551ba38f1347cbf1418d9cf320a2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9cb4a0692ea4cd5e9420965917aa266a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9cb4a0692ea4cd5e9420965917aa266a">Pocket</a><code> [get]</code></td></tr>
<tr class="separator:a9cb4a0692ea4cd5e9420965917aa266a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa2cba5ac74953ed6297514fe778f2119"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa2cba5ac74953ed6297514fe778f2119">FlingEffect</a><code> [get]</code></td></tr>
<tr class="separator:aa2cba5ac74953ed6297514fe778f2119"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abca373feb5b824612e00d9f65d13b6ba"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abca373feb5b824612e00d9f65d13b6ba">FlingPower</a><code> [get]</code></td></tr>
<tr class="separator:abca373feb5b824612e00d9f65d13b6ba"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37df228da1b29a49d833118b3cecb4f0"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a37df228da1b29a49d833118b3cecb4f0">Generations</a><code> [get]</code></td></tr>
<tr class="separator:a37df228da1b29a49d833118b3cecb4f0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5353e9226d0186a6a813db136b609cf5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a5353e9226d0186a6a813db136b609cf5">IsLetter</a><code> [get]</code></td></tr>
<tr class="separator:a5353e9226d0186a6a813db136b609cf5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53c2b47cd2cc0897732b049811daaf17"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a53c2b47cd2cc0897732b049811daaf17">IsPokeBall</a><code> [get]</code></td></tr>
<tr class="separator:a53c2b47cd2cc0897732b049811daaf17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ec2b87e2732ddb1d07732b0319aa77f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a6ec2b87e2732ddb1d07732b0319aa77f">IsBerry</a><code> [get]</code></td></tr>
<tr class="separator:a6ec2b87e2732ddb1d07732b0319aa77f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2a582affd8f3edeede01341c42293dc4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a2a582affd8f3edeede01341c42293dc4">IsApricon</a><code> [get]</code></td></tr>
<tr class="separator:a2a582affd8f3edeede01341c42293dc4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae1d5b3c470ab9378ab84530ee7a6b3f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aae1d5b3c470ab9378ab84530ee7a6b3f">IsMegaStone</a><code> [get]</code></td></tr>
<tr class="separator:aae1d5b3c470ab9378ab84530ee7a6b3f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afab76a5dfa1b2a56467766f91e1cf729"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#afab76a5dfa1b2a56467766f91e1cf729">IsGem</a><code> [get]</code></td></tr>
<tr class="separator:afab76a5dfa1b2a56467766f91e1cf729"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7de05c2c326770499e32817adb5d2a33"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a7de05c2c326770499e32817adb5d2a33">Name</a><code> [get]</code></td></tr>
<tr class="separator:a7de05c2c326770499e32817adb5d2a33"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa7a0f59430075ba6c6723143c001f076"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa7a0f59430075ba6c6723143c001f076">Description</a><code> [get]</code></td></tr>
<tr class="separator:aa7a0f59430075ba6c6723143c001f076"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae6f09e9417d7477515e251296623bfe4"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#ae6f09e9417d7477515e251296623bfe4">Plural</a><code> [get]</code></td></tr>
<tr class="separator:ae6f09e9417d7477515e251296623bfe4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3c1c94081e49b50f5024d71ed2171354" name="a3c1c94081e49b50f5024d71ed2171354"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3c1c94081e49b50f5024d71ed2171354">&#9670;&#160;</a></span>ItemData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Inventory.ItemData.ItemData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>itemId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>price</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a>&#160;</td>
          <td class="paramname"><em>itemCategory</em> = <code>ItemCategory.UNUSED</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>&#160;</td>
          <td class="paramname"><em>itemFlag</em> = <code>new&#160;<a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a>()</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>power</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a>?&#160;</td>
          <td class="paramname"><em>itemFlingEffect</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>gens</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ada94aa8f3feacd555e1e2b2bf51c485e" name="ada94aa8f3feacd555e1e2b2bf51c485e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ada94aa8f3feacd555e1e2b2bf51c485e">&#9670;&#160;</a></span>pbIsApricon()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsApricon </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abad79b96043103fa0f2ed80cd8708829" name="abad79b96043103fa0f2ed80cd8708829"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abad79b96043103fa0f2ed80cd8708829">&#9670;&#160;</a></span>pbIsBerry()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsBerry </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a1a5b43eb2e5e109f33877cfbde6da3bc" name="a1a5b43eb2e5e109f33877cfbde6da3bc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1a5b43eb2e5e109f33877cfbde6da3bc">&#9670;&#160;</a></span>pbIsGem()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsGem </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a193591c96908ac734450c2c2793d0029" name="a193591c96908ac734450c2c2793d0029"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a193591c96908ac734450c2c2793d0029">&#9670;&#160;</a></span>pbIsLetter()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsLetter </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a02fa1090bfef259337da0239f6d5f3cb" name="a02fa1090bfef259337da0239f6d5f3cb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02fa1090bfef259337da0239f6d5f3cb">&#9670;&#160;</a></span>pbIsMegaStone()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsMegaStone </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acb81397a822f5ba3bcf877183e68c15c" name="acb81397a822f5ba3bcf877183e68c15c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acb81397a822f5ba3bcf877183e68c15c">&#9670;&#160;</a></span>pbIsPokeBall()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Inventory.ItemData.pbIsPokeBall </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>item</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="abec3b7ccbc29463c8402426c51436143" name="abec3b7ccbc29463c8402426c51436143"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abec3b7ccbc29463c8402426c51436143">&#9670;&#160;</a></span>BattleUse</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.BattleUse</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Should be a description of what it does when in battle, but might be better as a bool  </p>

</div>
</div>
<a id="af15e551ba38f1347cbf1418d9cf320a2" name="af15e551ba38f1347cbf1418d9cf320a2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af15e551ba38f1347cbf1418d9cf320a2">&#9670;&#160;</a></span>Category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a9f7da702161f73ae92d482c8e1ed0a40">ItemCategory</a> PokemonUnity.Inventory.ItemData.Category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa7a0f59430075ba6c6723143c001f076" name="aa7a0f59430075ba6c6723143c001f076"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa7a0f59430075ba6c6723143c001f076">&#9670;&#160;</a></span>Description</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Description</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9f99c299932d47649566fd3926280932" name="a9f99c299932d47649566fd3926280932"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9f99c299932d47649566fd3926280932">&#9670;&#160;</a></span>Flags</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a> PokemonUnity.Inventory.ItemData.Flags</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa2cba5ac74953ed6297514fe778f2119" name="aa2cba5ac74953ed6297514fe778f2119"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa2cba5ac74953ed6297514fe778f2119">&#9670;&#160;</a></span>FlingEffect</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#aa1e2b0a5a4644ad44d579f7362d51416">ItemFlingEffect</a> PokemonUnity.Inventory.ItemData.FlingEffect</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abca373feb5b824612e00d9f65d13b6ba" name="abca373feb5b824612e00d9f65d13b6ba"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abca373feb5b824612e00d9f65d13b6ba">&#9670;&#160;</a></span>FlingPower</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Inventory.ItemData.FlingPower</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a37df228da1b29a49d833118b3cecb4f0" name="a37df228da1b29a49d833118b3cecb4f0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a37df228da1b29a49d833118b3cecb4f0">&#9670;&#160;</a></span>Generations</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Inventory.ItemData.Generations</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8f9b62bf51b9d5fe31cef3a8601a5ba6" name="a8f9b62bf51b9d5fe31cef3a8601a5ba6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8f9b62bf51b9d5fe31cef3a8601a5ba6">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Inventory.ItemData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2a582affd8f3edeede01341c42293dc4" name="a2a582affd8f3edeede01341c42293dc4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2a582affd8f3edeede01341c42293dc4">&#9670;&#160;</a></span>IsApricon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsApricon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6ec2b87e2732ddb1d07732b0319aa77f" name="a6ec2b87e2732ddb1d07732b0319aa77f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6ec2b87e2732ddb1d07732b0319aa77f">&#9670;&#160;</a></span>IsBerry</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsBerry</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afab76a5dfa1b2a56467766f91e1cf729" name="afab76a5dfa1b2a56467766f91e1cf729"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afab76a5dfa1b2a56467766f91e1cf729">&#9670;&#160;</a></span>IsGem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsGem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5353e9226d0186a6a813db136b609cf5" name="a5353e9226d0186a6a813db136b609cf5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5353e9226d0186a6a813db136b609cf5">&#9670;&#160;</a></span>IsLetter</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsLetter</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aae1d5b3c470ab9378ab84530ee7a6b3f" name="aae1d5b3c470ab9378ab84530ee7a6b3f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae1d5b3c470ab9378ab84530ee7a6b3f">&#9670;&#160;</a></span>IsMegaStone</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsMegaStone</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a53c2b47cd2cc0897732b049811daaf17" name="a53c2b47cd2cc0897732b049811daaf17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53c2b47cd2cc0897732b049811daaf17">&#9670;&#160;</a></span>IsPokeBall</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemData.IsPokeBall</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7de05c2c326770499e32817adb5d2a33" name="a7de05c2c326770499e32817adb5d2a33"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7de05c2c326770499e32817adb5d2a33">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae6f09e9417d7477515e251296623bfe4" name="ae6f09e9417d7477515e251296623bfe4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6f09e9417d7477515e251296623bfe4">&#9670;&#160;</a></span>Plural</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Inventory.ItemData.Plural</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9cb4a0692ea4cd5e9420965917aa266a" name="a9cb4a0692ea4cd5e9420965917aa266a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9cb4a0692ea4cd5e9420965917aa266a">&#9670;&#160;</a></span>Pocket</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a4f83904e5d1f65ba87ad008b3376ddee">ItemPockets</a>? PokemonUnity.Inventory.ItemData.Pocket</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3bf3bbf609618721d26473edd9a1f8b8" name="a3bf3bbf609618721d26473edd9a1f8b8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3bf3bbf609618721d26473edd9a1f8b8">&#9670;&#160;</a></span>Price</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.ItemData.Price</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Inventory/Data/<a class="el" href="_inventory_2_data_2_base_8cs.cshtml">Base.cs</a></li>
</ul>
