@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.TilePosition Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">TilePosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_tile_position-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.TilePosition Struct Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonUnity.TilePosition:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_tile_position.png" usemap="#PokemonUnity.TilePosition_map" alt=""/>
  <map id="PokemonUnity.TilePosition_map" name="PokemonUnity.TilePosition_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml" alt="PokemonEssentials.Interface.Field.ITilePosition" shape="rect" coords="0,0,276,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a1f74ca118991e9bf3d41d0866454f117"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a1f74ca118991e9bf3d41d0866454f117">TilePosition</a> (int map, float x, float y, float z=0)</td></tr>
<tr class="separator:a1f74ca118991e9bf3d41d0866454f117"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a05188627f47ae39f91e5f97aa6307960"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a05188627f47ae39f91e5f97aa6307960">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:a05188627f47ae39f91e5f97aa6307960"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map ID   <a href="struct_pokemon_unity_1_1_tile_position.cshtml#a05188627f47ae39f91e5f97aa6307960">More...</a><br /></td></tr>
<tr class="separator:a05188627f47ae39f91e5f97aa6307960"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5dc4997b446d69731ca947dd23d47f48"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a5dc4997b446d69731ca947dd23d47f48">X</a><code> [get]</code></td></tr>
<tr class="memdesc:a5dc4997b446d69731ca947dd23d47f48"><td class="mdescLeft">&#160;</td><td class="mdescRight">X coordinate on that map   <a href="struct_pokemon_unity_1_1_tile_position.cshtml#a5dc4997b446d69731ca947dd23d47f48">More...</a><br /></td></tr>
<tr class="separator:a5dc4997b446d69731ca947dd23d47f48"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3899599f36919949c27fa1ab681c0c40"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a3899599f36919949c27fa1ab681c0c40">Y</a><code> [get]</code></td></tr>
<tr class="memdesc:a3899599f36919949c27fa1ab681c0c40"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y coordinate on that map   <a href="struct_pokemon_unity_1_1_tile_position.cshtml#a3899599f36919949c27fa1ab681c0c40">More...</a><br /></td></tr>
<tr class="separator:a3899599f36919949c27fa1ab681c0c40"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad94748a17dc061e632f574b91c3f8f31"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#ad94748a17dc061e632f574b91c3f8f31">Z</a><code> [get]</code></td></tr>
<tr class="memdesc:ad94748a17dc061e632f574b91c3f8f31"><td class="mdescLeft">&#160;</td><td class="mdescRight">Z coordinate on that map   <a href="struct_pokemon_unity_1_1_tile_position.cshtml#ad94748a17dc061e632f574b91c3f8f31">More...</a><br /></td></tr>
<tr class="separator:ad94748a17dc061e632f574b91c3f8f31"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml">PokemonEssentials.Interface.Field.ITilePosition</a></td></tr>
<tr class="memitem:a556798ad4c0abb5c210a562eaa7071da inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a556798ad4c0abb5c210a562eaa7071da">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:a556798ad4c0abb5c210a562eaa7071da inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map ID   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a556798ad4c0abb5c210a562eaa7071da">More...</a><br /></td></tr>
<tr class="separator:a556798ad4c0abb5c210a562eaa7071da inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6ba0996b83a730b71d08d6509d90f631 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a6ba0996b83a730b71d08d6509d90f631">X</a><code> [get]</code></td></tr>
<tr class="memdesc:a6ba0996b83a730b71d08d6509d90f631 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">X coordinate on that map   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a6ba0996b83a730b71d08d6509d90f631">More...</a><br /></td></tr>
<tr class="separator:a6ba0996b83a730b71d08d6509d90f631 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1778006b4720b6534d9ab474fa9f1663 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a1778006b4720b6534d9ab474fa9f1663">Y</a><code> [get]</code></td></tr>
<tr class="memdesc:a1778006b4720b6534d9ab474fa9f1663 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y coordinate on that map   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a1778006b4720b6534d9ab474fa9f1663">More...</a><br /></td></tr>
<tr class="separator:a1778006b4720b6534d9ab474fa9f1663 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac7e04962c92b793d6215931103f28a26 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#ac7e04962c92b793d6215931103f28a26">Z</a><code> [get]</code></td></tr>
<tr class="memdesc:ac7e04962c92b793d6215931103f28a26 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Z coordinate on that map   <a href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#ac7e04962c92b793d6215931103f28a26">More...</a><br /></td></tr>
<tr class="separator:ac7e04962c92b793d6215931103f28a26 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a1f74ca118991e9bf3d41d0866454f117" name="a1f74ca118991e9bf3d41d0866454f117"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f74ca118991e9bf3d41d0866454f117">&#9670;&#160;</a></span>TilePosition()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.TilePosition.TilePosition </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>map</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>z</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a05188627f47ae39f91e5f97aa6307960" name="a05188627f47ae39f91e5f97aa6307960"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05188627f47ae39f91e5f97aa6307960">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.TilePosition.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map ID  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a556798ad4c0abb5c210a562eaa7071da">PokemonEssentials.Interface.Field.ITilePosition</a>.</p>

</div>
</div>
<a id="a5dc4997b446d69731ca947dd23d47f48" name="a5dc4997b446d69731ca947dd23d47f48"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5dc4997b446d69731ca947dd23d47f48">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.TilePosition.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>X coordinate on that map  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a6ba0996b83a730b71d08d6509d90f631">PokemonEssentials.Interface.Field.ITilePosition</a>.</p>

</div>
</div>
<a id="a3899599f36919949c27fa1ab681c0c40" name="a3899599f36919949c27fa1ab681c0c40"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3899599f36919949c27fa1ab681c0c40">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.TilePosition.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Y coordinate on that map  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#a1778006b4720b6534d9ab474fa9f1663">PokemonEssentials.Interface.Field.ITilePosition</a>.</p>

</div>
</div>
<a id="ad94748a17dc061e632f574b91c3f8f31" name="ad94748a17dc061e632f574b91c3f8f31"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad94748a17dc061e632f574b91c3f8f31">&#9670;&#160;</a></span>Z</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.TilePosition.Z</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Z coordinate on that map  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_field_1_1_i_tile_position.cshtml#ac7e04962c92b793d6215931103f28a26">PokemonEssentials.Interface.Field.ITilePosition</a>.</p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Application/Overworld/<a class="el" href="_tile_position_8cs.cshtml">TilePosition.cs</a></li>
</ul>

