@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">TilePosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.TilePosition Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a05188627f47ae39f91e5f97aa6307960">MapId</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a1f74ca118991e9bf3d41d0866454f117">TilePosition</a>(int map, float x, float y, float z=0)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a5dc4997b446d69731ca947dd23d47f48">X</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#a3899599f36919949c27fa1ab681c0c40">Y</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml#ad94748a17dc061e632f574b91c3f8f31">Z</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_tile_position.cshtml">PokemonUnity.TilePosition</a></td><td class="entry"></td></tr>
</table>