@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">MachineData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.MachineData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#a3b3aedc0a25b00fe6ad421e3e583e8c4">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#aa2a54cdf7f1e7962c04a930ab54042e2">MachineData</a>(int id, Moves move, Regions region, MachineType type=MachineType.TechnicalMachine)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#af86e48b301ab1de235f1571e6b8274b9">MachineType</a> enum name</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#a6e3c3015c9caf09f5b3450c534d62641">Move</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#ab9dd6c876df7f5cd14808af1852b6ee1">Region</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml#ad640da9e3d048104b11b59a228ad217d">Type</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_machine_data.cshtml">PokemonUnity.Inventory.MachineData</a></td><td class="entry"></td></tr>
</table>