@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Monster.Data.PokemonData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml">PokemonData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a7501adf4e038cc9246c16f844bbfee84"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a7501adf4e038cc9246c16f844bbfee84">PokemonData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> Id=Pokemons.NONE, int[] regionalDex=null, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> type1=Types.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> type2=Types.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> ability1=Abilities.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> ability2=Abilities.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> hiddenAbility=Abilities.NONE, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a>? genderRatio=GenderRatio.Genderless, float? maleRatio=null, int catchRate=1, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a> eggGroup1=EggGroups.NONE, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a> eggGroup2=EggGroups.NONE, int hatchTime=0, float height=0f, float weight=0f, int baseExpYield=0, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> levelingRate=LevelingRate.MEDIUMFAST, int evHP=0, int evATK=0, int evDEF=0, int evSPA=0, int evSPD=0, int evSPE=0, <a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">Colors</a> pokedexColor=Colors.NONE, int baseFriendship=0, int baseStatsHP=0, int baseStatsATK=0, int baseStatsDEF=0, int baseStatsSPA=0, int baseStatsSPD=0, int baseStatsSPE=0, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">Rarity</a> rarity=Rarity.Common, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> evolutionFROM=Pokemons.NONE, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> incense=Items.NONE, int evoChainId=0, byte generationId=0, bool isDefault=false, bool isBaby=false, bool formSwitchable=false, bool hasGenderDiff=false, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">Habitat</a> habitatId=Habitat.RARE, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">Shape</a> shapeId=Shape.BLOB, int order=-1, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Forms</a> baseForm=Forms.NONE, int[,] heldItem=null)</td></tr>
<tr class="separator:a7501adf4e038cc9246c16f844bbfee84"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac1009f90be25e8df436ae61194cdb3d4"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ac1009f90be25e8df436ae61194cdb3d4">getGenderRatio</a> (float maleRatioPercent)</td></tr>
<tr class="separator:ac1009f90be25e8df436ae61194cdb3d4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a37caffee52799e2f477c80ce64eabdef"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a37caffee52799e2f477c80ce64eabdef">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml">PokemonData</a> obj)</td></tr>
<tr class="separator:a37caffee52799e2f477c80ce64eabdef"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af560c334e8bbb1d7890d5537f7ae724d"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#af560c334e8bbb1d7890d5537f7ae724d">Equals</a> (object obj)</td></tr>
<tr class="separator:af560c334e8bbb1d7890d5537f7ae724d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab455a2b5bacae7a086ac29608dd1f1a7"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab455a2b5bacae7a086ac29608dd1f1a7">GetHashCode</a> ()</td></tr>
<tr class="separator:ab455a2b5bacae7a086ac29608dd1f1a7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86f79d1a872283947d4bf0cd4d0d74a0"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a86f79d1a872283947d4bf0cd4d0d74a0">ToString</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">TextScripts</a> text)</td></tr>
<tr class="separator:a86f79d1a872283947d4bf0cd4d0d74a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ab55dd45a59eea1a28e36d9bbad075f22"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab55dd45a59eea1a28e36d9bbad075f22">ID</a><code> [get]</code></td></tr>
<tr class="memdesc:ab55dd45a59eea1a28e36d9bbad075f22"><td class="mdescLeft">&#160;</td><td class="mdescRight">Id is the database value for specific pokemon+form Different <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> forms share the same Pokedex number. Values are loaded from <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47" title="Pokemon ids are connected to XML file.">Pokemons</a>, where each form is registered to an Id.   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab55dd45a59eea1a28e36d9bbad075f22">More...</a><br /></td></tr>
<tr class="separator:ab55dd45a59eea1a28e36d9bbad075f22"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab36627b7a1800288bfbb59079240c02d"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab36627b7a1800288bfbb59079240c02d">GenerationId</a><code> [get]</code></td></tr>
<tr class="separator:ab36627b7a1800288bfbb59079240c02d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0baaa40dc3be042122d763f2dee1274"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ac0baaa40dc3be042122d763f2dee1274">EvoChainId</a><code> [get]</code></td></tr>
<tr class="separator:ac0baaa40dc3be042122d763f2dee1274"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a95031ada7e2c721c7b9f352dc92ea647"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a95031ada7e2c721c7b9f352dc92ea647">EvolveFrom</a><code> [get]</code></td></tr>
<tr class="separator:a95031ada7e2c721c7b9f352dc92ea647"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2f7e88159a966d0b807e0624f9a418a1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a2f7e88159a966d0b807e0624f9a418a1">Order</a><code> [get]</code></td></tr>
<tr class="separator:a2f7e88159a966d0b807e0624f9a418a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05b904df5eeb7fd992e418d4ba2f3aa4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a05b904df5eeb7fd992e418d4ba2f3aa4">IsDefault</a><code> [get]</code></td></tr>
<tr class="separator:a05b904df5eeb7fd992e418d4ba2f3aa4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac62a419c14004cb91e2cda082c45a3d1"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ac62a419c14004cb91e2cda082c45a3d1">FormSwitchable</a><code> [get]</code></td></tr>
<tr class="separator:ac62a419c14004cb91e2cda082c45a3d1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa040a05b20f18254fe72b7dd2eb36342"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#aa040a05b20f18254fe72b7dd2eb36342">HasGenderDiff</a><code> [get]</code></td></tr>
<tr class="separator:aa040a05b20f18254fe72b7dd2eb36342"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d05f4ac80f6bfdddfd89b239cfed469"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a8d05f4ac80f6bfdddfd89b239cfed469">IsBaby</a><code> [get]</code></td></tr>
<tr class="separator:a8d05f4ac80f6bfdddfd89b239cfed469"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab3ba2a4fbaf199d9dc6a6f459654fe6e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">Rarity</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab3ba2a4fbaf199d9dc6a6f459654fe6e">Rarity</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ab3ba2a4fbaf199d9dc6a6f459654fe6e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Best used in battle simulator. Check to see if pokemons are legendary, and exclude from battle   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab3ba2a4fbaf199d9dc6a6f459654fe6e">More...</a><br /></td></tr>
<tr class="separator:ab3ba2a4fbaf199d9dc6a6f459654fe6e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7b1e3d44c5eec370a7bc1c76bdcc0e0"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ad7b1e3d44c5eec370a7bc1c76bdcc0e0">EggGroup</a><code> [get]</code></td></tr>
<tr class="separator:ad7b1e3d44c5eec370a7bc1c76bdcc0e0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5a2b7efbe4944fd35465f79e78994c87"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a5a2b7efbe4944fd35465f79e78994c87">Type</a><code> [get]</code></td></tr>
<tr class="separator:a5a2b7efbe4944fd35465f79e78994c87"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1d71139a2d746200749651a7ade6bcdf"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a1d71139a2d746200749651a7ade6bcdf">Ability</a><code> [get]</code></td></tr>
<tr class="memdesc:a1d71139a2d746200749651a7ade6bcdf"><td class="mdescLeft">&#160;</td><td class="mdescRight">All three pokemon abilities (Abiltiy1, Ability2, HiddenAbility).   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a1d71139a2d746200749651a7ade6bcdf">More...</a><br /></td></tr>
<tr class="separator:a1d71139a2d746200749651a7ade6bcdf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0770e858a52756c7a88cad3ea26fbe60"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a0770e858a52756c7a88cad3ea26fbe60">GenderEnum</a><code> [get]</code></td></tr>
<tr class="memdesc:a0770e858a52756c7a88cad3ea26fbe60"><td class="mdescLeft">&#160;</td><td class="mdescRight">The male ratio. -1f is interpreted as genderless <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a0770e858a52756c7a88cad3ea26fbe60">More...</a><br /></td></tr>
<tr class="separator:a0770e858a52756c7a88cad3ea26fbe60"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a360e786571d12d187349ba927436afee"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a360e786571d12d187349ba927436afee">IsSingleGendered</a><code> [get]</code></td></tr>
<tr class="memdesc:a360e786571d12d187349ba927436afee"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns whether this <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> species is restricted to only ever being one gender (or genderless)   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a360e786571d12d187349ba927436afee">More...</a><br /></td></tr>
<tr class="separator:a360e786571d12d187349ba927436afee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26f96daa911ca37bf4abeeb1c7604f70"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a26f96daa911ca37bf4abeeb1c7604f70">ShinyChance</a><code> [get, set]</code></td></tr>
<tr class="separator:a26f96daa911ca37bf4abeeb1c7604f70"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e788d2a40831e18bcf470c36c524c2a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a9e788d2a40831e18bcf470c36c524c2a">CatchRate</a><code> [get]</code></td></tr>
<tr class="memdesc:a9e788d2a40831e18bcf470c36c524c2a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The catch rate of the species. Is a number between 0 and 255 inclusive. The higher the number, the more likely a capture (0 means it cannot be caught by anything except a Master Ball).   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a9e788d2a40831e18bcf470c36c524c2a">More...</a><br /></td></tr>
<tr class="separator:a9e788d2a40831e18bcf470c36c524c2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afce5502e767197426df4118f99a35464"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#afce5502e767197426df4118f99a35464">HatchTime</a><code> [get]</code></td></tr>
<tr class="separator:afce5502e767197426df4118f99a35464"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98394ec30bf3558d984b6217626bf3c6"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a98394ec30bf3558d984b6217626bf3c6">Height</a><code> [get]</code></td></tr>
<tr class="separator:a98394ec30bf3558d984b6217626bf3c6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad1d293afb74b41fb00addfd4f568ce2d"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ad1d293afb74b41fb00addfd4f568ce2d">Weight</a><code> [get]</code></td></tr>
<tr class="separator:ad1d293afb74b41fb00addfd4f568ce2d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3201c3f70d35076d475e7c5ab0194384"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">Shape</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a3201c3f70d35076d475e7c5ab0194384">ShapeId</a><code> [get]</code></td></tr>
<tr class="separator:a3201c3f70d35076d475e7c5ab0194384"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4dfbb00c509d173a28e4ccbb4d14cb8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">Habitat</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ab4dfbb00c509d173a28e4ccbb4d14cb8">HabitatId</a><code> [get]</code></td></tr>
<tr class="separator:ab4dfbb00c509d173a28e4ccbb4d14cb8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40a3a56570b3e0d4d946b7215e9ccc0e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a40a3a56570b3e0d4d946b7215e9ccc0e">GrowthRate</a><code> [get]</code></td></tr>
<tr class="separator:a40a3a56570b3e0d4d946b7215e9ccc0e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10e7dc5a6b2815d25775fea1cdd3b110"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">Colors</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a10e7dc5a6b2815d25775fea1cdd3b110">PokedexColor</a><code> [get]</code></td></tr>
<tr class="separator:a10e7dc5a6b2815d25775fea1cdd3b110"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa1763f58e8f6eb7330dfcfa16f78b58e"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Forms</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#aa1763f58e8f6eb7330dfcfa16f78b58e">BaseForm</a><code> [get]</code></td></tr>
<tr class="separator:aa1763f58e8f6eb7330dfcfa16f78b58e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afbb4ec9dd8591555db0cab441081f986"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#afbb4ec9dd8591555db0cab441081f986">BaseFriendship</a><code> [get]</code></td></tr>
<tr class="memdesc:afbb4ec9dd8591555db0cab441081f986"><td class="mdescLeft">&#160;</td><td class="mdescRight">Friendship levels is the same as pokemon Happiness.   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#afbb4ec9dd8591555db0cab441081f986">More...</a><br /></td></tr>
<tr class="separator:afbb4ec9dd8591555db0cab441081f986"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a44c0d608ab0bb77772285b8dadb6466e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a44c0d608ab0bb77772285b8dadb6466e">BaseExpYield</a><code> [get]</code></td></tr>
<tr class="separator:a44c0d608ab0bb77772285b8dadb6466e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3813eebb8a14434b1fb19d3550e17ab3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a3813eebb8a14434b1fb19d3550e17ab3">BaseStatsHP</a><code> [get]</code></td></tr>
<tr class="separator:a3813eebb8a14434b1fb19d3550e17ab3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abee1162909f9fc73ce88d76fcc14249d"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#abee1162909f9fc73ce88d76fcc14249d">BaseStatsATK</a><code> [get]</code></td></tr>
<tr class="separator:abee1162909f9fc73ce88d76fcc14249d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ec0384d3481c540f95dbbd5ce291aa8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a7ec0384d3481c540f95dbbd5ce291aa8">BaseStatsDEF</a><code> [get]</code></td></tr>
<tr class="separator:a7ec0384d3481c540f95dbbd5ce291aa8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adf4615db5ad69d34f27fb81588eeb16e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#adf4615db5ad69d34f27fb81588eeb16e">BaseStatsSPA</a><code> [get]</code></td></tr>
<tr class="separator:adf4615db5ad69d34f27fb81588eeb16e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac25f914a47fdff80377265a3884cf2ab"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ac25f914a47fdff80377265a3884cf2ab">BaseStatsSPD</a><code> [get]</code></td></tr>
<tr class="separator:ac25f914a47fdff80377265a3884cf2ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43afb4e02d801439e7f9bdc34d291f1c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a43afb4e02d801439e7f9bdc34d291f1c">BaseStatsSPE</a><code> [get]</code></td></tr>
<tr class="separator:a43afb4e02d801439e7f9bdc34d291f1c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acd2786bbc3bcef2a174f46dd30c68408"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#acd2786bbc3bcef2a174f46dd30c68408">evYieldHP</a><code> [get]</code></td></tr>
<tr class="separator:acd2786bbc3bcef2a174f46dd30c68408"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7ff89b878e44f824ae0a51057bddb0a1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a7ff89b878e44f824ae0a51057bddb0a1">evYieldATK</a><code> [get]</code></td></tr>
<tr class="separator:a7ff89b878e44f824ae0a51057bddb0a1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abf3ce61ceeeaa577538e6c9f26355a7a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#abf3ce61ceeeaa577538e6c9f26355a7a">evYieldDEF</a><code> [get]</code></td></tr>
<tr class="separator:abf3ce61ceeeaa577538e6c9f26355a7a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a63bfbe1087f2e23e2b24c4eb8644ab22"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a63bfbe1087f2e23e2b24c4eb8644ab22">evYieldSPA</a><code> [get]</code></td></tr>
<tr class="separator:a63bfbe1087f2e23e2b24c4eb8644ab22"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4f44ee259108d2d189aedc8eeba113d0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a4f44ee259108d2d189aedc8eeba113d0">evYieldSPD</a><code> [get]</code></td></tr>
<tr class="separator:a4f44ee259108d2d189aedc8eeba113d0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a798caf10228908064b0212f41bac0825"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a798caf10228908064b0212f41bac0825">evYieldSPE</a><code> [get]</code></td></tr>
<tr class="separator:a798caf10228908064b0212f41bac0825"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a93009f957d0d597cf9c645f61df1292f"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a93009f957d0d597cf9c645f61df1292f">EVYield</a><code> [get]</code></td></tr>
<tr class="separator:a93009f957d0d597cf9c645f61df1292f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade402110edf112c3e5acac3e6f1bed4a"><td class="memItemLeft" align="right" valign="top">int[,]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ade402110edf112c3e5acac3e6f1bed4a">HeldItem</a><code> [get]</code></td></tr>
<tr class="memdesc:ade402110edf112c3e5acac3e6f1bed4a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns the items this species can be found holding in the wild. [item id,% chance]   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#ade402110edf112c3e5acac3e6f1bed4a">More...</a><br /></td></tr>
<tr class="separator:ade402110edf112c3e5acac3e6f1bed4a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a09c9029473fde382e9de1b444bf98279"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml#a09c9029473fde382e9de1b444bf98279">Incense</a><code> [get]</code></td></tr>
<tr class="separator:a09c9029473fde382e9de1b444bf98279"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a7501adf4e038cc9246c16f844bbfee84" name="a7501adf4e038cc9246c16f844bbfee84"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7501adf4e038cc9246c16f844bbfee84">&#9670;&#160;</a></span>PokemonData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonData.PokemonData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>Id</em> = <code>Pokemons.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>regionalDex</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>type1</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>type2</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>&#160;</td>
          <td class="paramname"><em>ability1</em> = <code>Abilities.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>&#160;</td>
          <td class="paramname"><em>ability2</em> = <code>Abilities.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a>&#160;</td>
          <td class="paramname"><em>hiddenAbility</em> = <code>Abilities.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a>?&#160;</td>
          <td class="paramname"><em>genderRatio</em> = <code>GenderRatio.Genderless</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float?&#160;</td>
          <td class="paramname"><em>maleRatio</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>catchRate</em> = <code>1</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a>&#160;</td>
          <td class="paramname"><em>eggGroup1</em> = <code>EggGroups.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a>&#160;</td>
          <td class="paramname"><em>eggGroup2</em> = <code>EggGroups.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>hatchTime</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em> = <code>0f</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>weight</em> = <code>0f</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseExpYield</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a>&#160;</td>
          <td class="paramname"><em>levelingRate</em> = <code>LevelingRate.MEDIUMFAST</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evHP</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evATK</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evDEF</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evSPA</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evSPD</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evSPE</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">Colors</a>&#160;</td>
          <td class="paramname"><em>pokedexColor</em> = <code>Colors.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseFriendship</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsHP</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsATK</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsDEF</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsSPA</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsSPD</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>baseStatsSPE</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">Rarity</a>&#160;</td>
          <td class="paramname"><em>rarity</em> = <code>Rarity.Common</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>evolutionFROM</em> = <code>Pokemons.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>incense</em> = <code>Items.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>evoChainId</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>generationId</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>isDefault</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>isBaby</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>formSwitchable</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>hasGenderDiff</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">Habitat</a>&#160;</td>
          <td class="paramname"><em>habitatId</em> = <code>Habitat.RARE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">Shape</a>&#160;</td>
          <td class="paramname"><em>shapeId</em> = <code>Shape.BLOB</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>order</em> = <code>-1</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Forms</a>&#160;</td>
          <td class="paramname"><em>baseForm</em> = <code>Forms.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>heldItem</em>[,] = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">
<p >= null ? (Types)type1 : Types.NONE;</p>
<p >= null ? (Types)type2 : Types.NONE;</p>

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="af560c334e8bbb1d7890d5537f7ae724d" name="af560c334e8bbb1d7890d5537f7ae724d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af560c334e8bbb1d7890d5537f7ae724d">&#9670;&#160;</a></span>Equals() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Monster.Data.PokemonData.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a37caffee52799e2f477c80ce64eabdef" name="a37caffee52799e2f477c80ce64eabdef"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a37caffee52799e2f477c80ce64eabdef">&#9670;&#160;</a></span>Equals() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_data.cshtml">PokemonData</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ac1009f90be25e8df436ae61194cdb3d4" name="ac1009f90be25e8df436ae61194cdb3d4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac1009f90be25e8df436ae61194cdb3d4">&#9670;&#160;</a></span>getGenderRatio()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a> PokemonUnity.Monster.Data.PokemonData.getGenderRatio </td>
          <td>(</td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>maleRatioPercent</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab455a2b5bacae7a086ac29608dd1f1a7" name="ab455a2b5bacae7a086ac29608dd1f1a7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab455a2b5bacae7a086ac29608dd1f1a7">&#9670;&#160;</a></span>GetHashCode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Monster.Data.PokemonData.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a86f79d1a872283947d4bf0cd4d0d74a0" name="a86f79d1a872283947d4bf0cd4d0d74a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a86f79d1a872283947d4bf0cd4d0d74a0">&#9670;&#160;</a></span>ToString()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Monster.Data.PokemonData.ToString </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a162f832f3258853a866b7ca86e00b0d2">TextScripts</a>&#160;</td>
          <td class="paramname"><em>text</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1d71139a2d746200749651a7ade6bcdf" name="a1d71139a2d746200749651a7ade6bcdf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1d71139a2d746200749651a7ade6bcdf">&#9670;&#160;</a></span>Ability</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a20015c796abd07ac93f57cd3c5a70b93">Abilities</a> [] PokemonUnity.Monster.Data.PokemonData.Ability</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>All three pokemon abilities (Abiltiy1, Ability2, HiddenAbility).  </p>

</div>
</div>
<a id="a44c0d608ab0bb77772285b8dadb6466e" name="a44c0d608ab0bb77772285b8dadb6466e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a44c0d608ab0bb77772285b8dadb6466e">&#9670;&#160;</a></span>BaseExpYield</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseExpYield</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa1763f58e8f6eb7330dfcfa16f78b58e" name="aa1763f58e8f6eb7330dfcfa16f78b58e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa1763f58e8f6eb7330dfcfa16f78b58e">&#9670;&#160;</a></span>BaseForm</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a02089e2793b88ed1e42b3815a37c47aa">Forms</a> PokemonUnity.Monster.Data.PokemonData.BaseForm</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afbb4ec9dd8591555db0cab441081f986" name="afbb4ec9dd8591555db0cab441081f986"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afbb4ec9dd8591555db0cab441081f986">&#9670;&#160;</a></span>BaseFriendship</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseFriendship</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Friendship levels is the same as pokemon Happiness.  </p>

</div>
</div>
<a id="abee1162909f9fc73ce88d76fcc14249d" name="abee1162909f9fc73ce88d76fcc14249d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abee1162909f9fc73ce88d76fcc14249d">&#9670;&#160;</a></span>BaseStatsATK</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsATK</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ec0384d3481c540f95dbbd5ce291aa8" name="a7ec0384d3481c540f95dbbd5ce291aa8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ec0384d3481c540f95dbbd5ce291aa8">&#9670;&#160;</a></span>BaseStatsDEF</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsDEF</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3813eebb8a14434b1fb19d3550e17ab3" name="a3813eebb8a14434b1fb19d3550e17ab3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3813eebb8a14434b1fb19d3550e17ab3">&#9670;&#160;</a></span>BaseStatsHP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsHP</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="adf4615db5ad69d34f27fb81588eeb16e" name="adf4615db5ad69d34f27fb81588eeb16e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adf4615db5ad69d34f27fb81588eeb16e">&#9670;&#160;</a></span>BaseStatsSPA</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsSPA</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac25f914a47fdff80377265a3884cf2ab" name="ac25f914a47fdff80377265a3884cf2ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac25f914a47fdff80377265a3884cf2ab">&#9670;&#160;</a></span>BaseStatsSPD</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsSPD</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a43afb4e02d801439e7f9bdc34d291f1c" name="a43afb4e02d801439e7f9bdc34d291f1c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43afb4e02d801439e7f9bdc34d291f1c">&#9670;&#160;</a></span>BaseStatsSPE</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.BaseStatsSPE</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9e788d2a40831e18bcf470c36c524c2a" name="a9e788d2a40831e18bcf470c36c524c2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e788d2a40831e18bcf470c36c524c2a">&#9670;&#160;</a></span>CatchRate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.CatchRate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The catch rate of the species. Is a number between 0 and 255 inclusive. The higher the number, the more likely a capture (0 means it cannot be caught by anything except a Master Ball).  </p>
<p ><br  />
 </p>

</div>
</div>
<a id="ad7b1e3d44c5eec370a7bc1c76bdcc0e0" name="ad7b1e3d44c5eec370a7bc1c76bdcc0e0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7b1e3d44c5eec370a7bc1c76bdcc0e0">&#9670;&#160;</a></span>EggGroup</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#ae19417bd37371fb971f1007be52acf3e">EggGroups</a> [] PokemonUnity.Monster.Data.PokemonData.EggGroup</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac0baaa40dc3be042122d763f2dee1274" name="ac0baaa40dc3be042122d763f2dee1274"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0baaa40dc3be042122d763f2dee1274">&#9670;&#160;</a></span>EvoChainId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.EvoChainId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a95031ada7e2c721c7b9f352dc92ea647" name="a95031ada7e2c721c7b9f352dc92ea647"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a95031ada7e2c721c7b9f352dc92ea647">&#9670;&#160;</a></span>EvolveFrom</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.PokemonData.EvolveFrom</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a93009f957d0d597cf9c645f61df1292f" name="a93009f957d0d597cf9c645f61df1292f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a93009f957d0d597cf9c645f61df1292f">&#9670;&#160;</a></span>EVYield</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Monster.Data.PokemonData.EVYield</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7ff89b878e44f824ae0a51057bddb0a1" name="a7ff89b878e44f824ae0a51057bddb0a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7ff89b878e44f824ae0a51057bddb0a1">&#9670;&#160;</a></span>evYieldATK</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldATK</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="abf3ce61ceeeaa577538e6c9f26355a7a" name="abf3ce61ceeeaa577538e6c9f26355a7a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abf3ce61ceeeaa577538e6c9f26355a7a">&#9670;&#160;</a></span>evYieldDEF</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldDEF</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acd2786bbc3bcef2a174f46dd30c68408" name="acd2786bbc3bcef2a174f46dd30c68408"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acd2786bbc3bcef2a174f46dd30c68408">&#9670;&#160;</a></span>evYieldHP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldHP</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a63bfbe1087f2e23e2b24c4eb8644ab22" name="a63bfbe1087f2e23e2b24c4eb8644ab22"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a63bfbe1087f2e23e2b24c4eb8644ab22">&#9670;&#160;</a></span>evYieldSPA</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldSPA</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a4f44ee259108d2d189aedc8eeba113d0" name="a4f44ee259108d2d189aedc8eeba113d0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4f44ee259108d2d189aedc8eeba113d0">&#9670;&#160;</a></span>evYieldSPD</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldSPD</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a798caf10228908064b0212f41bac0825" name="a798caf10228908064b0212f41bac0825"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a798caf10228908064b0212f41bac0825">&#9670;&#160;</a></span>evYieldSPE</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.evYieldSPE</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac62a419c14004cb91e2cda082c45a3d1" name="ac62a419c14004cb91e2cda082c45a3d1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac62a419c14004cb91e2cda082c45a3d1">&#9670;&#160;</a></span>FormSwitchable</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.FormSwitchable</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0770e858a52756c7a88cad3ea26fbe60" name="a0770e858a52756c7a88cad3ea26fbe60"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0770e858a52756c7a88cad3ea26fbe60">&#9670;&#160;</a></span>GenderEnum</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d8bd6295d550bceb8db2d87e982233e">GenderRatio</a> PokemonUnity.Monster.Data.PokemonData.GenderEnum</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The male ratio. -1f is interpreted as genderless</p>

</div>
</div>
<a id="ab36627b7a1800288bfbb59079240c02d" name="ab36627b7a1800288bfbb59079240c02d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab36627b7a1800288bfbb59079240c02d">&#9670;&#160;</a></span>GenerationId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Monster.Data.PokemonData.GenerationId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a40a3a56570b3e0d4d946b7215e9ccc0e" name="a40a3a56570b3e0d4d946b7215e9ccc0e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40a3a56570b3e0d4d946b7215e9ccc0e">&#9670;&#160;</a></span>GrowthRate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a49198148aa64bebaa554a09a1a020a1e">LevelingRate</a> PokemonUnity.Monster.Data.PokemonData.GrowthRate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab4dfbb00c509d173a28e4ccbb4d14cb8" name="ab4dfbb00c509d173a28e4ccbb4d14cb8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4dfbb00c509d173a28e4ccbb4d14cb8">&#9670;&#160;</a></span>HabitatId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a0d67706d345a83ea57684ab0e44375c1">Habitat</a> PokemonUnity.Monster.Data.PokemonData.HabitatId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa040a05b20f18254fe72b7dd2eb36342" name="aa040a05b20f18254fe72b7dd2eb36342"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa040a05b20f18254fe72b7dd2eb36342">&#9670;&#160;</a></span>HasGenderDiff</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.HasGenderDiff</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afce5502e767197426df4118f99a35464" name="afce5502e767197426df4118f99a35464"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afce5502e767197426df4118f99a35464">&#9670;&#160;</a></span>HatchTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.HatchTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a98394ec30bf3558d984b6217626bf3c6" name="a98394ec30bf3558d984b6217626bf3c6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98394ec30bf3558d984b6217626bf3c6">&#9670;&#160;</a></span>Height</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Monster.Data.PokemonData.Height</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ade402110edf112c3e5acac3e6f1bed4a" name="ade402110edf112c3e5acac3e6f1bed4a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade402110edf112c3e5acac3e6f1bed4a">&#9670;&#160;</a></span>HeldItem</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [,] PokemonUnity.Monster.Data.PokemonData.HeldItem</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns the items this species can be found holding in the wild. [item id,% chance]  </p>
<p >int[,] heldItems = { {1,2,3},{4,5,6} } </p>
<p >heldItems[1,0] == 4 as int</p>
<p >Or maybe...[item id,% chance,generationId/regionId] Custom Class needed here... <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7" title="Item ids are connected to XML file.">Items</a> as itemId </p>
<p >ToDo: Consider [itemcommon || 0,itemuncommon || 0,itemrare || 0] </p>

</div>
</div>
<a id="ab55dd45a59eea1a28e36d9bbad075f22" name="ab55dd45a59eea1a28e36d9bbad075f22"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab55dd45a59eea1a28e36d9bbad075f22">&#9670;&#160;</a></span>ID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.PokemonData.ID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Id is the database value for specific pokemon+form Different <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> forms share the same Pokedex number. Values are loaded from <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47" title="Pokemon ids are connected to XML file.">Pokemons</a>, where each form is registered to an Id.  </p>
<p >Deoxys Pokedex# can be 1, but Deoxys-Power id# can be 32 </p>
<p >If game event/gm wants to "give" player Deoxys-Power form and not Speed form</p>

</div>
</div>
<a id="a09c9029473fde382e9de1b444bf98279" name="a09c9029473fde382e9de1b444bf98279"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09c9029473fde382e9de1b444bf98279">&#9670;&#160;</a></span>Incense</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Monster.Data.PokemonData.Incense</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>
<p >Not quite sure what this is for...</p>
<p >The item that needs to be held by a parent when breeding in order for the egg to be this species. If neither parent is holding the required item, the egg will be the next evolved species instead. </p>
<p >The only species that should have this line are ones which cannot breed, but evolve into a species which can. That is, the species should be a "baby" species. Not all baby species need this line.  </p>

</div>
</div>
<a id="a8d05f4ac80f6bfdddfd89b239cfed469" name="a8d05f4ac80f6bfdddfd89b239cfed469"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d05f4ac80f6bfdddfd89b239cfed469">&#9670;&#160;</a></span>IsBaby</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.IsBaby</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a05b904df5eeb7fd992e418d4ba2f3aa4" name="a05b904df5eeb7fd992e418d4ba2f3aa4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05b904df5eeb7fd992e418d4ba2f3aa4">&#9670;&#160;</a></span>IsDefault</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.IsDefault</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a360e786571d12d187349ba927436afee" name="a360e786571d12d187349ba927436afee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a360e786571d12d187349ba927436afee">&#9670;&#160;</a></span>IsSingleGendered</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonData.IsSingleGendered</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Returns whether this <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a> species is restricted to only ever being one gender (or genderless)  </p>

</div>
</div>
<a id="a2f7e88159a966d0b807e0624f9a418a1" name="a2f7e88159a966d0b807e0624f9a418a1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2f7e88159a966d0b807e0624f9a418a1">&#9670;&#160;</a></span>Order</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonData.Order</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a10e7dc5a6b2815d25775fea1cdd3b110" name="a10e7dc5a6b2815d25775fea1cdd3b110"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10e7dc5a6b2815d25775fea1cdd3b110">&#9670;&#160;</a></span>PokedexColor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">Colors</a> PokemonUnity.Monster.Data.PokemonData.PokedexColor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab3ba2a4fbaf199d9dc6a6f459654fe6e" name="ab3ba2a4fbaf199d9dc6a6f459654fe6e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab3ba2a4fbaf199d9dc6a6f459654fe6e">&#9670;&#160;</a></span>Rarity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a7163c063275d925b8a5568f36513cc97">Rarity</a> PokemonUnity.Monster.Data.PokemonData.Rarity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Best used in battle simulator. Check to see if pokemons are legendary, and exclude from battle  </p>
<p >Also known as <a class="el" href="class_pokemon_unity_1_1_monster_1_1_pokemon.cshtml">Pokemon</a>'s "Rareness"... </p>

</div>
</div>
<a id="a3201c3f70d35076d475e7c5ab0194384" name="a3201c3f70d35076d475e7c5ab0194384"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3201c3f70d35076d475e7c5ab0194384">&#9670;&#160;</a></span>ShapeId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#aa906a9f31339f0572c86d333cc4fd07d">Shape</a> PokemonUnity.Monster.Data.PokemonData.ShapeId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a26f96daa911ca37bf4abeeb1c7604f70" name="a26f96daa911ca37bf4abeeb1c7604f70"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26f96daa911ca37bf4abeeb1c7604f70">&#9670;&#160;</a></span>ShinyChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Monster.Data.PokemonData.ShinyChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5a2b7efbe4944fd35465f79e78994c87" name="a5a2b7efbe4944fd35465f79e78994c87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5a2b7efbe4944fd35465f79e78994c87">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> [] PokemonUnity.Monster.Data.PokemonData.Type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ad1d293afb74b41fb00addfd4f568ce2d" name="ad1d293afb74b41fb00addfd4f568ce2d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad1d293afb74b41fb00addfd4f568ce2d">&#9670;&#160;</a></span>Weight</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Monster.Data.PokemonData.Weight</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_monster_2_pokemon_2_data_2_base_8cs.cshtml">Base.cs</a></li>
</ul>

