@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">EncounterSlotData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.EncounterSlotData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml#a3fdf8997008d38e101f6e52ee4ef6b10">EncounterSlotData</a>(Pokemons pokemon=Pokemons.NONE, int minLevel=1, int maxLevel=1, int frequency=0)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml#a7dc1ad8f324aaeef8ef5a8a5b3b682c7">Frequency</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml#a246e1a05f205a009c81c57a0b00334be">MaxLevel</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml#a6f4b9700a70e4bb9cfe50039ae022eaf">MinLevel</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml#a4fdbc1468bda22a864dd6d4edba70fc3">Pokemon</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_slot_data.cshtml">PokemonUnity.Overworld.EncounterSlotData</a></td><td class="entry"></td></tr>
</table>