@{
	Page.Title = "PokemonUnity.Saving.SerializableClasses.SeriPC Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">SeriPC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriPC Struct Reference</div></div>
}


<p>Serializable version of Pokemon Unity's PC class   
 <a href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:afcdcabf596da6e6292698aac0a8aaf06"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#afcdcabf596da6e6292698aac0a8aaf06">SeriPC</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>[,] pokemons, string[] boxNames, int[] boxTextures, List&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Inventory.Items</a> &gt; boxItems, byte box=0)</td></tr>
<tr class="separator:afcdcabf596da6e6292698aac0a8aaf06"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae1e871538e164be1c9fee380c5f824a"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Inventory.Items</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#aae1e871538e164be1c9fee380c5f824a">GetItemsFromSeri</a> ()</td></tr>
<tr class="separator:aae1e871538e164be1c9fee380c5f824a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae1d56fac47db7893d16d1aa8029de40f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>[][]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#ae1d56fac47db7893d16d1aa8029de40f">Pokemons</a><code> [get]</code></td></tr>
<tr class="separator:ae1d56fac47db7893d16d1aa8029de40f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a18679630912e8be5bcbab8d31a088d4b"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a18679630912e8be5bcbab8d31a088d4b">BoxNames</a><code> [get]</code></td></tr>
<tr class="separator:a18679630912e8be5bcbab8d31a088d4b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e9eb25b14f218c7af8bb38e46cc78b4"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a2e9eb25b14f218c7af8bb38e46cc78b4">BoxTextures</a><code> [get]</code></td></tr>
<tr class="separator:a2e9eb25b14f218c7af8bb38e46cc78b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa80d00b569d9dd7f9c24110578f2bdff"><td class="memItemLeft" align="right" valign="top">int[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#aa80d00b569d9dd7f9c24110578f2bdff">Items</a><code> [get]</code></td></tr>
<tr class="separator:aa80d00b569d9dd7f9c24110578f2bdff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a910833e70faa3476c97b7c4ca424e7fa"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a910833e70faa3476c97b7c4ca424e7fa">ActiveBox</a><code> [get]</code></td></tr>
<tr class="separator:a910833e70faa3476c97b7c4ca424e7fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Serializable version of Pokemon Unity's PC class  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="afcdcabf596da6e6292698aac0a8aaf06" name="afcdcabf596da6e6292698aac0a8aaf06"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afcdcabf596da6e6292698aac0a8aaf06">&#9670;&#160;</a></span>SeriPC()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Saving.SerializableClasses.SeriPC.SeriPC </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemons</em>[,], </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>boxNames</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int[]&#160;</td>
          <td class="paramname"><em>boxTextures</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">List&lt; <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Inventory.Items</a> &gt;&#160;</td>
          <td class="paramname"><em>boxItems</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>box</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="aae1e871538e164be1c9fee380c5f824a" name="aae1e871538e164be1c9fee380c5f824a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae1e871538e164be1c9fee380c5f824a">&#9670;&#160;</a></span>GetItemsFromSeri()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Inventory.Items</a>[] PokemonUnity.Saving.SerializableClasses.SeriPC.GetItemsFromSeri </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a910833e70faa3476c97b7c4ca424e7fa" name="a910833e70faa3476c97b7c4ca424e7fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a910833e70faa3476c97b7c4ca424e7fa">&#9670;&#160;</a></span>ActiveBox</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Saving.SerializableClasses.SeriPC.ActiveBox</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a18679630912e8be5bcbab8d31a088d4b" name="a18679630912e8be5bcbab8d31a088d4b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a18679630912e8be5bcbab8d31a088d4b">&#9670;&#160;</a></span>BoxNames</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonUnity.Saving.SerializableClasses.SeriPC.BoxNames</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2e9eb25b14f218c7af8bb38e46cc78b4" name="a2e9eb25b14f218c7af8bb38e46cc78b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e9eb25b14f218c7af8bb38e46cc78b4">&#9670;&#160;</a></span>BoxTextures</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Saving.SerializableClasses.SeriPC.BoxTextures</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa80d00b569d9dd7f9c24110578f2bdff" name="aa80d00b569d9dd7f9c24110578f2bdff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa80d00b569d9dd7f9c24110578f2bdff">&#9670;&#160;</a></span>Items</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int [] PokemonUnity.Saving.SerializableClasses.SeriPC.Items</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae1d56fac47db7893d16d1aa8029de40f" name="ae1d56fac47db7893d16d1aa8029de40f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae1d56fac47db7893d16d1aa8029de40f">&#9670;&#160;</a></span>Pokemons</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> [][] PokemonUnity.Saving.SerializableClasses.SeriPC.Pokemons</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Saving/SerializableClasses/<a class="el" href="_seri_p_c_8cs.cshtml">SeriPC.cs</a></li>
</ul>

