@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">GlobalMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.GlobalMetadata Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a0c0445fbb193915ad9619c8273f59f18">BicycleBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a302347327ef70ffd218749e8983dbb5b">Home</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a05687a8d582e87ea49fa7956a69d61db">MapId</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#aa5a9b3b2baee74f5e56e58b15af5f4fe">Players</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a4ec025bd1effc10427a1443cfe9b1293">SurfBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a448c1819f6f746ae4f189a7aa8ffbdeb">TrainerBattleBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#af6f2be7c96e97efe81f94e33e32ef261">TrainerVictoryME</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#ad02ad6ca21b3c4f50befad556a95ccc4">WildBattleBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a02c1ba31c84e64f575c85541b066ed87">WildCaptureME</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a42458dbf2a17e6d6f22d3e148ad9b9cf">WildVictoryME</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">PokemonEssentials.Interface.Field.GlobalMetadata</a></td><td class="entry"></td></tr>
</table>
