@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.TextPosition Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml">TextPosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_essentials_1_1_interface_1_1_text_position-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.TextPosition Struct Reference</div></div>
}

<div class="dynheader">
Inheritance diagram for PokemonEssentials.Interface.TextPosition:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_essentials_1_1_interface_1_1_text_position.png" usemap="#PokemonEssentials.Interface.TextPosition_map" alt=""/>
  <map id="PokemonEssentials.Interface.TextPosition_map" name="PokemonEssentials.Interface.TextPosition_map">
<area href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml" alt="PokemonEssentials.Interface.ITextPosition" shape="rect" coords="0,0,247,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a82a6e00bc3b2f789512a724085b202bb"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a82a6e00bc3b2f789512a724085b202bb">TextPosition</a> (string text, float x, float y, bool? leftAligned, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> base_, <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a> shadow)</td></tr>
<tr class="separator:a82a6e00bc3b2f789512a724085b202bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a352cca23c6e773504ae75d139ef1f47c"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a352cca23c6e773504ae75d139ef1f47c">TextPosition</a> (string name, float x, float y, float srcx, float srcy, float width, float height)</td></tr>
<tr class="separator:a352cca23c6e773504ae75d139ef1f47c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a782b0264889e2796cc9e4b3a31846c0c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a782b0264889e2796cc9e4b3a31846c0c">Text</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a782b0264889e2796cc9e4b3a31846c0c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Text to draw   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a782b0264889e2796cc9e4b3a31846c0c">More...</a><br /></td></tr>
<tr class="separator:a782b0264889e2796cc9e4b3a31846c0c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5fee38fdf15933379eb844d1c81d4540"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5fee38fdf15933379eb844d1c81d4540">X</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5fee38fdf15933379eb844d1c81d4540"><td class="mdescLeft">&#160;</td><td class="mdescRight">X coordinate   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5fee38fdf15933379eb844d1c81d4540">More...</a><br /></td></tr>
<tr class="separator:a5fee38fdf15933379eb844d1c81d4540"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5dd44098fb1fc95bcc6037103ee73ca4"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5dd44098fb1fc95bcc6037103ee73ca4">Y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a5dd44098fb1fc95bcc6037103ee73ca4"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y coordinate   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a5dd44098fb1fc95bcc6037103ee73ca4">More...</a><br /></td></tr>
<tr class="separator:a5dd44098fb1fc95bcc6037103ee73ca4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab5d56b180fdeacea8e87b772b0cf1583"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ab5d56b180fdeacea8e87b772b0cf1583">LeftAligned</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ab5d56b180fdeacea8e87b772b0cf1583"><td class="mdescLeft">&#160;</td><td class="mdescRight">If true or 1, the text is right aligned. If 2, the text is centered. Otherwise, the text is left aligned.   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ab5d56b180fdeacea8e87b772b0cf1583">More...</a><br /></td></tr>
<tr class="separator:ab5d56b180fdeacea8e87b772b0cf1583"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad4c272aff4587d8c321492a98890c872"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">PokemonEssentials.Interface.IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ad4c272aff4587d8c321492a98890c872">Base</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad4c272aff4587d8c321492a98890c872"><td class="mdescLeft">&#160;</td><td class="mdescRight">Base color   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#ad4c272aff4587d8c321492a98890c872">More...</a><br /></td></tr>
<tr class="separator:ad4c272aff4587d8c321492a98890c872"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a846cf2d2c931e1b2d7d8739906a07e16"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">PokemonEssentials.Interface.IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a846cf2d2c931e1b2d7d8739906a07e16">Shadow</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a846cf2d2c931e1b2d7d8739906a07e16"><td class="mdescLeft">&#160;</td><td class="mdescRight">Shadow color   <a href="struct_pokemon_essentials_1_1_interface_1_1_text_position.cshtml#a846cf2d2c931e1b2d7d8739906a07e16">More...</a><br /></td></tr>
<tr class="separator:a846cf2d2c931e1b2d7d8739906a07e16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml">PokemonEssentials.Interface.ITextPosition</a></td></tr>
<tr class="memitem:aea85fd6c45fa8c81dc3c340c7d6c606b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aea85fd6c45fa8c81dc3c340c7d6c606b">Text</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aea85fd6c45fa8c81dc3c340c7d6c606b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Text to draw   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aea85fd6c45fa8c81dc3c340c7d6c606b">More...</a><br /></td></tr>
<tr class="separator:aea85fd6c45fa8c81dc3c340c7d6c606b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05b821cc2e26f75dcd92ff8d533fdf55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a05b821cc2e26f75dcd92ff8d533fdf55">X</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a05b821cc2e26f75dcd92ff8d533fdf55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">X coordinate   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a05b821cc2e26f75dcd92ff8d533fdf55">More...</a><br /></td></tr>
<tr class="separator:a05b821cc2e26f75dcd92ff8d533fdf55 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a543b3806f293431a6ae6515525692f1d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a543b3806f293431a6ae6515525692f1d">Y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a543b3806f293431a6ae6515525692f1d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y coordinate   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a543b3806f293431a6ae6515525692f1d">More...</a><br /></td></tr>
<tr class="separator:a543b3806f293431a6ae6515525692f1d inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac4f25dfb918e4413251448f19f61b9c1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#ac4f25dfb918e4413251448f19f61b9c1">LeftAligned</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ac4f25dfb918e4413251448f19f61b9c1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">If true or 1, the text is right aligned. If 2, the text is centered. Otherwise, the text is left aligned.   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#ac4f25dfb918e4413251448f19f61b9c1">More...</a><br /></td></tr>
<tr class="separator:ac4f25dfb918e4413251448f19f61b9c1 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a282116dc0ed0a88f89fdede15324bbb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a282116dc0ed0a88f89fdede15324bbb4">Base</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a282116dc0ed0a88f89fdede15324bbb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Base color   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a282116dc0ed0a88f89fdede15324bbb4">More...</a><br /></td></tr>
<tr class="separator:a282116dc0ed0a88f89fdede15324bbb4 inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae8cc51bdb338d4ea28206c1f82ee40b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memItemLeft" align="right" valign="top"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aae8cc51bdb338d4ea28206c1f82ee40b">Shadow</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aae8cc51bdb338d4ea28206c1f82ee40b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="mdescLeft">&#160;</td><td class="mdescRight">Shadow color   <a href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aae8cc51bdb338d4ea28206c1f82ee40b">More...</a><br /></td></tr>
<tr class="separator:aae8cc51bdb338d4ea28206c1f82ee40b inherit properties_interface_pokemon_essentials_1_1_interface_1_1_i_text_position"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a82a6e00bc3b2f789512a724085b202bb" name="a82a6e00bc3b2f789512a724085b202bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a82a6e00bc3b2f789512a724085b202bb">&#9670;&#160;</a></span>TextPosition() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonEssentials.Interface.TextPosition.TextPosition </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>text</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool?&#160;</td>
          <td class="paramname"><em>leftAligned</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>base_</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">IColor</a>&#160;</td>
          <td class="paramname"><em>shadow</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a352cca23c6e773504ae75d139ef1f47c" name="a352cca23c6e773504ae75d139ef1f47c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a352cca23c6e773504ae75d139ef1f47c">&#9670;&#160;</a></span>TextPosition() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonEssentials.Interface.TextPosition.TextPosition </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>y</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>srcx</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>srcy</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>width</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>height</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ad4c272aff4587d8c321492a98890c872" name="ad4c272aff4587d8c321492a98890c872"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad4c272aff4587d8c321492a98890c872">&#9670;&#160;</a></span>Base</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">PokemonEssentials.Interface.IColor</a> PokemonEssentials.Interface.TextPosition.Base</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Base color  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a282116dc0ed0a88f89fdede15324bbb4">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<a id="ab5d56b180fdeacea8e87b772b0cf1583" name="ab5d56b180fdeacea8e87b772b0cf1583"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab5d56b180fdeacea8e87b772b0cf1583">&#9670;&#160;</a></span>LeftAligned</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonEssentials.Interface.TextPosition.LeftAligned</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>If true or 1, the text is right aligned. If 2, the text is centered. Otherwise, the text is left aligned.  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#ac4f25dfb918e4413251448f19f61b9c1">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<a id="a846cf2d2c931e1b2d7d8739906a07e16" name="a846cf2d2c931e1b2d7d8739906a07e16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a846cf2d2c931e1b2d7d8739906a07e16">&#9670;&#160;</a></span>Shadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_color.cshtml">PokemonEssentials.Interface.IColor</a> PokemonEssentials.Interface.TextPosition.Shadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Shadow color  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aae8cc51bdb338d4ea28206c1f82ee40b">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<a id="a782b0264889e2796cc9e4b3a31846c0c" name="a782b0264889e2796cc9e4b3a31846c0c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a782b0264889e2796cc9e4b3a31846c0c">&#9670;&#160;</a></span>Text</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.TextPosition.Text</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Text to draw  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#aea85fd6c45fa8c81dc3c340c7d6c606b">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<a id="a5fee38fdf15933379eb844d1c81d4540" name="a5fee38fdf15933379eb844d1c81d4540"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5fee38fdf15933379eb844d1c81d4540">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.TextPosition.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>X coordinate  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a05b821cc2e26f75dcd92ff8d533fdf55">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<a id="a5dd44098fb1fc95bcc6037103ee73ca4" name="a5dd44098fb1fc95bcc6037103ee73ca4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5dd44098fb1fc95bcc6037103ee73ca4">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.TextPosition.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Y coordinate  </p>

<p>Implements <a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_i_text_position.cshtml#a543b3806f293431a6ae6515525692f1d">PokemonEssentials.Interface.ITextPosition</a>.</p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/<a class="el" href="_i_text_position_8cs.cshtml">ITextPosition.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
