@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">MetadataPlayer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.MetadataPlayer Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#aaa3530a72cb25aba6ab263b97cf4e48c">Cycling</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a1b5bd574dfe0746ea2c668020cd697ca">Diving</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac3a4b08e1677fc12abbb05f6a094f806">FishingStand</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#af190c0f6340d46f78b9e497da797bc45">FishingSurf</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#aa0abb543f88d8745820456bf41330399">Name</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a5ac6a2ce56bd14cd3eef47a3379731b0">Running</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ab73c4ad423ede78ea7f7906cbc9075ab">Surfing</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a39717b058a149f86bac26429cd602631">this[int charset]</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a759ceb12e0869cada4398c239e17eb39">Type</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac0888ec3a6965bccbdd8f00ded6db9c2">Walking</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">PokemonEssentials.Interface.Field.MetadataPlayer</a></td><td class="entry"></td></tr>
</table>
