@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonMoveset</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonMoveset Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonUnity.Monster.Data.PokemonMoveset</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a6eb9776dd4e7aa76e0b5505b0f750464">Level</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonUnity.Monster.Data.PokemonMoveset</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#a39743afcfcda035e7ef8f3fb204e44a6">MoveId</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonUnity.Monster.Data.PokemonMoveset</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#aa0beafa8aaf8910aacbf150a5ed1136e">PokemonMoveset</a>(Moves moveId, LearnMethod method=LearnMethod.levelup, int level=0, int? generation=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonUnity.Monster.Data.PokemonMoveset</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml#af7ec88ca776f8992b03cbf486ba05a2a">TeachMethod</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonUnity.Monster.Data.PokemonMoveset</a></td><td class="entry"></td></tr>
</table>