@{
	Page.Title = "PokemonUnity.Character.BadgeData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">BadgeData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_badge_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.BadgeData Struct Reference</div></div>
}


<p>This class handles all actions regarding Badge loading and displaying. &lt;/summary  
 <a href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:af1592277962cb3ad8082ed6f4743c01a"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#af1592277962cb3ad8082ed6f4743c01a">BadgeData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a> id, <a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a> region, byte levelCap=0)</td></tr>
<tr class="separator:af1592277962cb3ad8082ed6f4743c01a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a489db78b62aabf647babeec8f9eb8212"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a489db78b62aabf647babeec8f9eb8212">Id</a> <code>[get]</code></td></tr>
<tr class="memdesc:a489db78b62aabf647babeec8f9eb8212"><td class="mdescLeft">&#160;</td><td class="mdescRight">Id of <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> Badge   <a href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a489db78b62aabf647babeec8f9eb8212">More...</a><br /></td></tr>
<tr class="separator:a489db78b62aabf647babeec8f9eb8212"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0492bf48f6d9312793e2eb7391b8cab5"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a0492bf48f6d9312793e2eb7391b8cab5">LevelCap</a> <code>[get]</code></td></tr>
<tr class="memdesc:a0492bf48f6d9312793e2eb7391b8cab5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pokemons with level under this int, become less disobedient   <a href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a0492bf48f6d9312793e2eb7391b8cab5">More...</a><br /></td></tr>
<tr class="separator:a0492bf48f6d9312793e2eb7391b8cab5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6be35afaad99a0dc9742e190f9be1c77"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a6be35afaad99a0dc9742e190f9be1c77">Region</a> <code>[get]</code></td></tr>
<tr class="separator:a6be35afaad99a0dc9742e190f9be1c77"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >This class handles all actions regarding Badge loading and displaying. &lt;/summary </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="af1592277962cb3ad8082ed6f4743c01a" name="af1592277962cb3ad8082ed6f4743c01a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1592277962cb3ad8082ed6f4743c01a">&#9670;&#160;</a></span>BadgeData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.BadgeData.BadgeData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a>&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a>&#160;</td>
          <td class="paramname"><em>region</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>levelCap</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a489db78b62aabf647babeec8f9eb8212" name="a489db78b62aabf647babeec8f9eb8212"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a489db78b62aabf647babeec8f9eb8212">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a4e535e351e6d448d8627f0aaab5bf72c">GymBadges</a> PokemonUnity.Character.BadgeData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Id of <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> Badge  </p>

</div>
</div>
<a id="a0492bf48f6d9312793e2eb7391b8cab5" name="a0492bf48f6d9312793e2eb7391b8cab5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0492bf48f6d9312793e2eb7391b8cab5">&#9670;&#160;</a></span>LevelCap</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.BadgeData.LevelCap</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Pokemons with level under this int, become less disobedient  </p>

</div>
</div>
<a id="a6be35afaad99a0dc9742e190f9be1c77" name="a6be35afaad99a0dc9742e190f9be1c77"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6be35afaad99a0dc9742e190f9be1c77">&#9670;&#160;</a></span>Region</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">Regions</a> PokemonUnity.Character.BadgeData.Region</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/<a class="el" href="_badge_data_8cs.cshtml">BadgeData.cs</a></li>
</ul>
