@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Monster.Data.PokemonMoveTree Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml">PokemonMoveTree</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonMoveTree Struct Reference</div></div>
}


<p>All the moves this pokemon species can learn, and the methods by which they learn them   
 <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aa58e8f9c22c8ca5bf966f4b5a7719227"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#aa58e8f9c22c8ca5bf966f4b5a7719227">PokemonMoveTree</a> (SortedList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, int &gt; levelup=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] egg=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] tutor=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] machine=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] shadow=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] purification=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[] form_change=null)</td></tr>
<tr class="separator:aa58e8f9c22c8ca5bf966f4b5a7719227"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a78dd7f7d361b78fd0ecca4b69ec3fe98"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a78dd7f7d361b78fd0ecca4b69ec3fe98">PokemonMoveTree</a> (<a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonMoveset</a>[] moveset)</td></tr>
<tr class="separator:a78dd7f7d361b78fd0ecca4b69ec3fe98"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a451ca246a5fb2b7b15fc94c374f19f64"><td class="memItemLeft" align="right" valign="top">SortedList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, int &gt;&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a451ca246a5fb2b7b15fc94c374f19f64">LevelUp</a><code> [get]</code></td></tr>
<tr class="memdesc:a451ca246a5fb2b7b15fc94c374f19f64"><td class="mdescLeft">&#160;</td><td class="mdescRight">to use: LevelUp.OrderBy(x =&gt; x.Value).ThenBy(x =&gt; x.Key)   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a451ca246a5fb2b7b15fc94c374f19f64">More...</a><br /></td></tr>
<tr class="separator:a451ca246a5fb2b7b15fc94c374f19f64"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0fd919de4a64f8d7ee2d0574a1b44681"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a0fd919de4a64f8d7ee2d0574a1b44681">Egg</a><code> [get]</code></td></tr>
<tr class="separator:a0fd919de4a64f8d7ee2d0574a1b44681"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33a717af61402e134ea16ee6c3b57255"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a33a717af61402e134ea16ee6c3b57255">Tutor</a><code> [get]</code></td></tr>
<tr class="separator:a33a717af61402e134ea16ee6c3b57255"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4440743a3ecb16babb23930978f746be"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a4440743a3ecb16babb23930978f746be">Machine</a><code> [get]</code></td></tr>
<tr class="separator:a4440743a3ecb16babb23930978f746be"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38409ee05dfbd6068af44e0ec7ab383b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a38409ee05dfbd6068af44e0ec7ab383b">Shadow</a><code> [get]</code></td></tr>
<tr class="separator:a38409ee05dfbd6068af44e0ec7ab383b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8614a66ee92a9e0e0107a5752314f26f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a8614a66ee92a9e0e0107a5752314f26f">Purification</a><code> [get]</code></td></tr>
<tr class="memdesc:a8614a66ee92a9e0e0107a5752314f26f"><td class="mdescLeft">&#160;</td><td class="mdescRight">When a pokemon is purified from a shadow state, the moves they can potentially unlock?...   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a8614a66ee92a9e0e0107a5752314f26f">More...</a><br /></td></tr>
<tr class="separator:a8614a66ee92a9e0e0107a5752314f26f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17434e9361aa9622f710a1fe8673e603"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_move_tree.cshtml#a17434e9361aa9622f710a1fe8673e603">FormChange</a><code> [get]</code></td></tr>
<tr class="separator:a17434e9361aa9622f710a1fe8673e603"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >All the moves this pokemon species can learn, and the methods by which they learn them  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aa58e8f9c22c8ca5bf966f4b5a7719227" name="aa58e8f9c22c8ca5bf966f4b5a7719227"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa58e8f9c22c8ca5bf966f4b5a7719227">&#9670;&#160;</a></span>PokemonMoveTree() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonMoveTree.PokemonMoveTree </td>
          <td>(</td>
          <td class="paramtype">SortedList&lt; <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, int &gt;&#160;</td>
          <td class="paramname"><em>levelup</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>egg</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>tutor</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>machine</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>shadow</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>purification</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>[]&#160;</td>
          <td class="paramname"><em>form_change</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a78dd7f7d361b78fd0ecca4b69ec3fe98" name="a78dd7f7d361b78fd0ecca4b69ec3fe98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a78dd7f7d361b78fd0ecca4b69ec3fe98">&#9670;&#160;</a></span>PokemonMoveTree() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonMoveTree.PokemonMoveTree </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_moveset.cshtml">PokemonMoveset</a>[]&#160;</td>
          <td class="paramname"><em>moveset</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0fd919de4a64f8d7ee2d0574a1b44681" name="a0fd919de4a64f8d7ee2d0574a1b44681"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0fd919de4a64f8d7ee2d0574a1b44681">&#9670;&#160;</a></span>Egg</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.Egg</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a17434e9361aa9622f710a1fe8673e603" name="a17434e9361aa9622f710a1fe8673e603"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17434e9361aa9622f710a1fe8673e603">&#9670;&#160;</a></span>FormChange</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.FormChange</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a451ca246a5fb2b7b15fc94c374f19f64" name="a451ca246a5fb2b7b15fc94c374f19f64"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a451ca246a5fb2b7b15fc94c374f19f64">&#9670;&#160;</a></span>LevelUp</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">SortedList&lt;<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>, int&gt; PokemonUnity.Monster.Data.PokemonMoveTree.LevelUp</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>to use: LevelUp.OrderBy(x =&gt; x.Value).ThenBy(x =&gt; x.Key)  </p>

</div>
</div>
<a id="a4440743a3ecb16babb23930978f746be" name="a4440743a3ecb16babb23930978f746be"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4440743a3ecb16babb23930978f746be">&#9670;&#160;</a></span>Machine</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.Machine</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8614a66ee92a9e0e0107a5752314f26f" name="a8614a66ee92a9e0e0107a5752314f26f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8614a66ee92a9e0e0107a5752314f26f">&#9670;&#160;</a></span>Purification</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.Purification</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>When a pokemon is purified from a shadow state, the moves they can potentially unlock?...  </p>
<p >Merge both Colosseum and XD into one list </p>

</div>
</div>
<a id="a38409ee05dfbd6068af44e0ec7ab383b" name="a38409ee05dfbd6068af44e0ec7ab383b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38409ee05dfbd6068af44e0ec7ab383b">&#9670;&#160;</a></span>Shadow</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.Shadow</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>
<p >Merge both Colosseum and XD into one list </p>

</div>
</div>
<a id="a33a717af61402e134ea16ee6c3b57255" name="a33a717af61402e134ea16ee6c3b57255"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33a717af61402e134ea16ee6c3b57255">&#9670;&#160;</a></span>Tutor</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> [] PokemonUnity.Monster.Data.PokemonMoveTree.Tutor</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_move_tree_8cs.cshtml">MoveTree.cs</a></li>
</ul>

