@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.TrainerMetaData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">TrainerMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.TrainerMetaData Struct Reference</div></div>
}


<p> 
 <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a09f1430a8a647181bafe3e4c3e44a023"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a09f1430a8a647181bafe3e4c3e44a023">TrainerMetaData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> id, bool @@double, byte baseMoney=0, bool? gender=null, byte skillLevel=0, int? skillCodes=null, string introME=null, string battleBGM=null, string victoryBGM=null, string scriptIdle=null, string scriptBattleIntro=null, string[] scriptBattleEnd=null)</td></tr>
<tr class="separator:a09f1430a8a647181bafe3e4c3e44a023"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ae6a18c29468b9490472cc8fae4900215"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ae6a18c29468b9490472cc8fae4900215">ID</a><code> [get]</code></td></tr>
<tr class="memdesc:ae6a18c29468b9490472cc8fae4900215"><td class="mdescLeft">&#160;</td><td class="mdescRight">This is how the scripts refer to the trainer type. Typically this is the trainer type's name, but written in all capital letters and with no spaces or symbols. The internal name is never seen by the player.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ae6a18c29468b9490472cc8fae4900215">More...</a><br /></td></tr>
<tr class="separator:ae6a18c29468b9490472cc8fae4900215"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa6982bb54ec9a48e2cd9fe3a0aa921e5"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#aa6982bb54ec9a48e2cd9fe3a0aa921e5">BaseMoney</a><code> [get]</code></td></tr>
<tr class="memdesc:aa6982bb54ec9a48e2cd9fe3a0aa921e5"><td class="mdescLeft">&#160;</td><td class="mdescRight">The amount of money earned from defeating a trainer of this type. The base money value is multiplied by the highest Level among all the trainer's Pok&eacute;mon to produce the actual amount of money gained (assuming no other modifiers). Must be a number between 0 and 255. Optional. If undefined, the default is 30.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#aa6982bb54ec9a48e2cd9fe3a0aa921e5">More...</a><br /></td></tr>
<tr class="separator:aa6982bb54ec9a48e2cd9fe3a0aa921e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a96d2aa3e8e57cea82cb783cf88328f9b"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a96d2aa3e8e57cea82cb783cf88328f9b">BattleBGM</a><code> [get]</code></td></tr>
<tr class="memdesc:a96d2aa3e8e57cea82cb783cf88328f9b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of a background music (BGM) file in the folder "Audio/BGM". The music that plays during battles against trainers of this type. Typically only defined for Gym Leaders, Elite Four members and rivals. Optional. If undefined, the default BGM is used.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a96d2aa3e8e57cea82cb783cf88328f9b">More...</a><br /></td></tr>
<tr class="separator:a96d2aa3e8e57cea82cb783cf88328f9b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab43aeac6a8c70a946bc42257136382d2"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab43aeac6a8c70a946bc42257136382d2">VictoryBGM</a><code> [get]</code></td></tr>
<tr class="memdesc:ab43aeac6a8c70a946bc42257136382d2"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of a background music (BGM) file in the folder "Audio/BGM". The victory background music that plays upon defeat of trainers of this type. Optional. If undefined, the default victory BGM is used.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab43aeac6a8c70a946bc42257136382d2">More...</a><br /></td></tr>
<tr class="separator:ab43aeac6a8c70a946bc42257136382d2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab48033e43a01ab859d4cdef5e8b1c724"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab48033e43a01ab859d4cdef5e8b1c724">IntroME</a><code> [get]</code></td></tr>
<tr class="memdesc:ab48033e43a01ab859d4cdef5e8b1c724"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of a music effect (ME) file in the folder "Audio/ME". The music that plays before the battle begins, while still talking to the trainer. Optional. If undefined, the default ME is used.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab48033e43a01ab859d4cdef5e8b1c724">More...</a><br /></td></tr>
<tr class="separator:ab48033e43a01ab859d4cdef5e8b1c724"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5de46320afbde42a1bcc88e089cc8c78"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a5de46320afbde42a1bcc88e089cc8c78">Gender</a><code> [get]</code></td></tr>
<tr class="memdesc:a5de46320afbde42a1bcc88e089cc8c78"><td class="mdescLeft">&#160;</td><td class="mdescRight">The gender of all trainers of this type. Is one of: Male, Female, Mixed(i.e. if the type shows a pair of trainers) Optional. If undefined, the default is "Mixed".   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a5de46320afbde42a1bcc88e089cc8c78">More...</a><br /></td></tr>
<tr class="separator:a5de46320afbde42a1bcc88e089cc8c78"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d48cb7c8bb50698d879571fd9fcb4a6"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a8d48cb7c8bb50698d879571fd9fcb4a6">Double</a><code> [get]</code></td></tr>
<tr class="separator:a8d48cb7c8bb50698d879571fd9fcb4a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e8b4be5b814240d810c27a62695bcbe"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a0e8b4be5b814240d810c27a62695bcbe">SkillLevel</a><code> [get]</code></td></tr>
<tr class="memdesc:a0e8b4be5b814240d810c27a62695bcbe"><td class="mdescLeft">&#160;</td><td class="mdescRight">The skill level of all trainers of this type, used for battle AI. Higher numbers represent higher skill levels. Must be a number between 0 and 255. Optional. If undefined, default is equal to the base money value.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a0e8b4be5b814240d810c27a62695bcbe">More...</a><br /></td></tr>
<tr class="separator:a0e8b4be5b814240d810c27a62695bcbe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af510ebf63772ac8146ba1b0f6bebd1b0"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#af510ebf63772ac8146ba1b0f6bebd1b0">SkillCodes</a><code> [get]</code></td></tr>
<tr class="memdesc:af510ebf63772ac8146ba1b0f6bebd1b0"><td class="mdescLeft">&#160;</td><td class="mdescRight">A text field which can be used to modify the AI behavior of all trainers of this type. No such modifiers are defined by default, and there is no standard format. See the page Battle AI for more details. Optional. If undefined, the default is blank.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#af510ebf63772ac8146ba1b0f6bebd1b0">More...</a><br /></td></tr>
<tr class="separator:af510ebf63772ac8146ba1b0f6bebd1b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a111adb07aa78b1b920effafc78388667"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a111adb07aa78b1b920effafc78388667">ScriptIdle</a><code> [get]</code></td></tr>
<tr class="memdesc:a111adb07aa78b1b920effafc78388667"><td class="mdescLeft">&#160;</td><td class="mdescRight">After having defeated the trainer, when speaking to him/her again   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a111adb07aa78b1b920effafc78388667">More...</a><br /></td></tr>
<tr class="separator:a111adb07aa78b1b920effafc78388667"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a22bf59bd1a099e7e416cb0cf6044293f"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a22bf59bd1a099e7e416cb0cf6044293f">ScriptBattleIntro</a><code> [get]</code></td></tr>
<tr class="memdesc:a22bf59bd1a099e7e416cb0cf6044293f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Start of trainer encounter   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a22bf59bd1a099e7e416cb0cf6044293f">More...</a><br /></td></tr>
<tr class="separator:a22bf59bd1a099e7e416cb0cf6044293f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a395aa55a3128e85586a28028083a754a"><td class="memItemLeft" align="right" valign="top">string[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a395aa55a3128e85586a28028083a754a">ScriptBattleEnd</a><code> [get]</code></td></tr>
<tr class="memdesc:a395aa55a3128e85586a28028083a754a"><td class="mdescLeft">&#160;</td><td class="mdescRight">End of battle   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a395aa55a3128e85586a28028083a754a">More...</a><br /></td></tr>
<tr class="separator:a395aa55a3128e85586a28028083a754a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Maybe separate double, music, script to npc from trainer data? </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a09f1430a8a647181bafe3e4c3e44a023" name="a09f1430a8a647181bafe3e4c3e44a023"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a09f1430a8a647181bafe3e4c3e44a023">&#9670;&#160;</a></span>TrainerMetaData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.TrainerMetaData.TrainerMetaData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool @@ double&#160;</td>
          <td class="paramname">, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>baseMoney</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool?&#160;</td>
          <td class="paramname"><em>gender</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">byte&#160;</td>
          <td class="paramname"><em>skillLevel</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>skillCodes</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>introME</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>battleBGM</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>victoryBGM</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>scriptIdle</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>scriptBattleIntro</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string[]&#160;</td>
          <td class="paramname"><em>scriptBattleEnd</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="aa6982bb54ec9a48e2cd9fe3a0aa921e5" name="aa6982bb54ec9a48e2cd9fe3a0aa921e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa6982bb54ec9a48e2cd9fe3a0aa921e5">&#9670;&#160;</a></span>BaseMoney</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.TrainerMetaData.BaseMoney</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The amount of money earned from defeating a trainer of this type. The base money value is multiplied by the highest Level among all the trainer's Pok&eacute;mon to produce the actual amount of money gained (assuming no other modifiers). Must be a number between 0 and 255. Optional. If undefined, the default is 30.  </p>

</div>
</div>
<a id="a96d2aa3e8e57cea82cb783cf88328f9b" name="a96d2aa3e8e57cea82cb783cf88328f9b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a96d2aa3e8e57cea82cb783cf88328f9b">&#9670;&#160;</a></span>BattleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerMetaData.BattleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of a background music (BGM) file in the folder "Audio/BGM". The music that plays during battles against trainers of this type. Typically only defined for Gym Leaders, Elite Four members and rivals. Optional. If undefined, the default BGM is used.  </p>

</div>
</div>
<a id="a8d48cb7c8bb50698d879571fd9fcb4a6" name="a8d48cb7c8bb50698d879571fd9fcb4a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8d48cb7c8bb50698d879571fd9fcb4a6">&#9670;&#160;</a></span>Double</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.TrainerMetaData.Double</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5de46320afbde42a1bcc88e089cc8c78" name="a5de46320afbde42a1bcc88e089cc8c78"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5de46320afbde42a1bcc88e089cc8c78">&#9670;&#160;</a></span>Gender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonUnity.Character.TrainerMetaData.Gender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The gender of all trainers of this type. Is one of: Male, Female, Mixed(i.e. if the type shows a pair of trainers) Optional. If undefined, the default is "Mixed".  </p>

</div>
</div>
<a id="ae6a18c29468b9490472cc8fae4900215" name="ae6a18c29468b9490472cc8fae4900215"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae6a18c29468b9490472cc8fae4900215">&#9670;&#160;</a></span>ID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> PokemonUnity.Character.TrainerMetaData.ID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This is how the scripts refer to the trainer type. Typically this is the trainer type's name, but written in all capital letters and with no spaces or symbols. The internal name is never seen by the player.  </p>

</div>
</div>
<a id="ab48033e43a01ab859d4cdef5e8b1c724" name="ab48033e43a01ab859d4cdef5e8b1c724"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab48033e43a01ab859d4cdef5e8b1c724">&#9670;&#160;</a></span>IntroME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerMetaData.IntroME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of a music effect (ME) file in the folder "Audio/ME". The music that plays before the battle begins, while still talking to the trainer. Optional. If undefined, the default ME is used.  </p>

</div>
</div>
<a id="a395aa55a3128e85586a28028083a754a" name="a395aa55a3128e85586a28028083a754a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a395aa55a3128e85586a28028083a754a">&#9670;&#160;</a></span>ScriptBattleEnd</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string [] PokemonUnity.Character.TrainerMetaData.ScriptBattleEnd</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>End of battle  </p>

</div>
</div>
<a id="a22bf59bd1a099e7e416cb0cf6044293f" name="a22bf59bd1a099e7e416cb0cf6044293f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a22bf59bd1a099e7e416cb0cf6044293f">&#9670;&#160;</a></span>ScriptBattleIntro</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerMetaData.ScriptBattleIntro</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Start of trainer encounter  </p>

</div>
</div>
<a id="a111adb07aa78b1b920effafc78388667" name="a111adb07aa78b1b920effafc78388667"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a111adb07aa78b1b920effafc78388667">&#9670;&#160;</a></span>ScriptIdle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerMetaData.ScriptIdle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>After having defeated the trainer, when speaking to him/her again  </p>

</div>
</div>
<a id="af510ebf63772ac8146ba1b0f6bebd1b0" name="af510ebf63772ac8146ba1b0f6bebd1b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af510ebf63772ac8146ba1b0f6bebd1b0">&#9670;&#160;</a></span>SkillCodes</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Character.TrainerMetaData.SkillCodes</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>A text field which can be used to modify the AI behavior of all trainers of this type. No such modifiers are defined by default, and there is no standard format. See the page Battle AI for more details. Optional. If undefined, the default is blank.  </p>

</div>
</div>
<a id="a0e8b4be5b814240d810c27a62695bcbe" name="a0e8b4be5b814240d810c27a62695bcbe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e8b4be5b814240d810c27a62695bcbe">&#9670;&#160;</a></span>SkillLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.TrainerMetaData.SkillLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The skill level of all trainers of this type, used for battle AI. Higher numbers represent higher skill levels. Must be a number between 0 and 255. Optional. If undefined, default is equal to the base money value.  </p>

</div>
</div>
<a id="ab43aeac6a8c70a946bc42257136382d2" name="ab43aeac6a8c70a946bc42257136382d2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab43aeac6a8c70a946bc42257136382d2">&#9670;&#160;</a></span>VictoryBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerMetaData.VictoryBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of a background music (BGM) file in the folder "Audio/BGM". The victory background music that plays upon defeat of trainers of this type. Optional. If undefined, the default victory BGM is used.  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Combat/Trainer/Data/<a class="el" href="_trainer_meta_data_8cs.cshtml">TrainerMetaData.cs</a></li>
</ul>

