@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">Pokedex</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.Pokedex Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">PokemonUnity.Character.Pokedex</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#af1a35ef926576344f16dbd8ae39d825a">Name</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">PokemonUnity.Character.Pokedex</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a34cb74130877112a86debd3c6a021548">PokemonIndex</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">PokemonUnity.Character.Pokedex</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a292d59b68ad6f72c3df5720d8a2b3e98">Region</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">PokemonUnity.Character.Pokedex</a></td><td class="entry"></td></tr>
</table>