@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">TrainerMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.TrainerMetaData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#aa6982bb54ec9a48e2cd9fe3a0aa921e5">BaseMoney</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a96d2aa3e8e57cea82cb783cf88328f9b">BattleBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a8d48cb7c8bb50698d879571fd9fcb4a6">Double</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a5de46320afbde42a1bcc88e089cc8c78">Gender</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ae6a18c29468b9490472cc8fae4900215">ID</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab48033e43a01ab859d4cdef5e8b1c724">IntroME</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a0e561f6a3cd150ed918c380ee5e9f867">ScriptBattleEnd</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a22bf59bd1a099e7e416cb0cf6044293f">ScriptBattleIntro</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a111adb07aa78b1b920effafc78388667">ScriptIdle</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#af510ebf63772ac8146ba1b0f6bebd1b0">SkillCodes</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a0e8b4be5b814240d810c27a62695bcbe">SkillLevel</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#a02075543a3efe06a71ba685bdcaf5339">TrainerMetaData</a>(TrainerTypes id, bool @@double, byte baseMoney=0, bool? gender=null, byte skillLevel=0, int? skillCodes=null, string introME=null, string battleBGM=null, string victoryBGM=null, string scriptIdle=null, string scriptBattleIntro=null, string scriptBattleEnd=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml#ab43aeac6a8c70a946bc42257136382d2">VictoryBGM</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_meta_data.cshtml">PokemonUnity.Character.TrainerMetaData</a></td><td class="entry"></td></tr>
</table>