@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Attack.Data.Flag Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml">Attack</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml">Flag</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-attribs">Public Attributes</a> &#124;
<a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Attack.Data.Flag Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a2d3a2c0291fe12275395464201857814"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a2d3a2c0291fe12275395464201857814">Flag</a> (bool authentic=false, bool bite=false, bool bullet=false, bool charge=false, bool contact=false, bool crit=false, bool dance=false, bool defrost=false, bool distance=false, bool flinch=false, bool gravity=false, bool heal=false, bool mirror=false, bool mental=false, bool nonsky=false, bool powder=false, bool protect=false, bool pulse=false, bool punch=false, bool recharge=false, bool reflectable=false, bool snatch=false, bool sound=false)</td></tr>
<tr class="separator:a2d3a2c0291fe12275395464201857814"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-attribs" name="pub-attribs"></a>
Public Attributes</h2></td></tr>
<tr class="memitem:ad37b61df086b136357f63fd5f459c928"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ad37b61df086b136357f63fd5f459c928">Contact</a></td></tr>
<tr class="memdesc:ad37b61df086b136357f63fd5f459c928"><td class="mdescLeft">&#160;</td><td class="mdescRight">User touches the target. This triggers some abilities (e.g., Abilities.STATIC) and items (e.g., Items.STICKY_BARB). The move makes physical contact with the target   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ad37b61df086b136357f63fd5f459c928">More...</a><br /></td></tr>
<tr class="separator:ad37b61df086b136357f63fd5f459c928"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aca96eb842c9abf7b59f2540b12b5a97c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aca96eb842c9abf7b59f2540b12b5a97c">Protectable</a></td></tr>
<tr class="memdesc:aca96eb842c9abf7b59f2540b12b5a97c"><td class="mdescLeft">&#160;</td><td class="mdescRight">The target can use Moves.PROTECT or Moves.DETECT to protect itself from the move   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aca96eb842c9abf7b59f2540b12b5a97c">More...</a><br /></td></tr>
<tr class="separator:aca96eb842c9abf7b59f2540b12b5a97c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a717b3d427e41d585380968bba3403f9f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a717b3d427e41d585380968bba3403f9f">Reflectable</a></td></tr>
<tr class="memdesc:a717b3d427e41d585380968bba3403f9f"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move may be reflected back at the user with Moves.MAGIC_COAT or Abilities.MAGIC_BOUNCE. The target can use Moves.MAGIC_COAT to redirect the effect of the move. Use this flag if the move deals no damage but causes a negative effect on the target. (Flags MagicCoat and <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c" title="This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves...">Snatch</a> are mutually exclusive.)   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a717b3d427e41d585380968bba3403f9f">More...</a><br /></td></tr>
<tr class="separator:a717b3d427e41d585380968bba3403f9f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5951f8b5e4db05a276ca3c957b6d6a3c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c">Snatch</a></td></tr>
<tr class="memdesc:a5951f8b5e4db05a276ca3c957b6d6a3c"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves.SNATCH to steal the effect of the move. Use this flag for most moves that target the user. (Flags MagicCoat and <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c" title="This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves...">Snatch</a> are mutually exclusive.)   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c">More...</a><br /></td></tr>
<tr class="separator:a5951f8b5e4db05a276ca3c957b6d6a3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a98be07e4ac5b4cef1e721c89eb85225f"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a98be07e4ac5b4cef1e721c89eb85225f">Mirror</a></td></tr>
<tr class="memdesc:a98be07e4ac5b4cef1e721c89eb85225f"><td class="mdescLeft">&#160;</td><td class="mdescRight">The move can be copied by Moves.MIRROR_MOVE.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a98be07e4ac5b4cef1e721c89eb85225f">More...</a><br /></td></tr>
<tr class="separator:a98be07e4ac5b4cef1e721c89eb85225f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a53fe40c06271f8fe76e76a56515e528c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a53fe40c06271f8fe76e76a56515e528c">Defrost</a></td></tr>
<tr class="memdesc:a53fe40c06271f8fe76e76a56515e528c"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move can be used while frozen to force the Pok&eacute;mon to defrost. If the user is Status.Frozen, the move will thaw it out before it is used.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a53fe40c06271f8fe76e76a56515e528c">More...</a><br /></td></tr>
<tr class="separator:a53fe40c06271f8fe76e76a56515e528c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afe00684f15a7d6996247556a6fc5b169"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#afe00684f15a7d6996247556a6fc5b169">Charge</a></td></tr>
<tr class="memdesc:afe00684f15a7d6996247556a6fc5b169"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move has a charging turn that can be skipped with a Items.POWER_HERB.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#afe00684f15a7d6996247556a6fc5b169">More...</a><br /></td></tr>
<tr class="separator:afe00684f15a7d6996247556a6fc5b169"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ac7456706b8504ae244867556fc7cb3"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a3ac7456706b8504ae244867556fc7cb3">Bite</a></td></tr>
<tr class="memdesc:a3ac7456706b8504ae244867556fc7cb3"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move has 1.5× its usual power when used by a Pok&eacute;mon with Abilities.STRONG_JAW. The move is a biting move (powered up by the ability Strong Jaw).   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a3ac7456706b8504ae244867556fc7cb3">More...</a><br /></td></tr>
<tr class="separator:a3ac7456706b8504ae244867556fc7cb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac002475caadfde203588e778f6494b3c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ac002475caadfde203588e778f6494b3c">Punching</a></td></tr>
<tr class="memdesc:ac002475caadfde203588e778f6494b3c"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move has 1.2× its usual power when used by a Pok&eacute;mon with Abilities.IRON_FIST. The move is a punching move (powered up by the ability Iron Fist).   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#ac002475caadfde203588e778f6494b3c">More...</a><br /></td></tr>
<tr class="separator:ac002475caadfde203588e778f6494b3c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aae25e04417b2856139a55a59fee7d052"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aae25e04417b2856139a55a59fee7d052">SoundBased</a></td></tr>
<tr class="memdesc:aae25e04417b2856139a55a59fee7d052"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pok&eacute;mon with Abilities.SOUNDPROOF are immune to this move. The move is a sound-based move.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aae25e04417b2856139a55a59fee7d052">More...</a><br /></td></tr>
<tr class="separator:aae25e04417b2856139a55a59fee7d052"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23384431a31b6dad90b895fc307ed18e"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a23384431a31b6dad90b895fc307ed18e">PowderBased</a></td></tr>
<tr class="memdesc:a23384431a31b6dad90b895fc307ed18e"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pok&eacute;mon with Abilities.OVERCOAT and Types.GRASS-type Pok&eacute;mon are immune to this move. The move is a powder-based move (Grass-type Pok&eacute;mon are immune to them).   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a23384431a31b6dad90b895fc307ed18e">More...</a><br /></td></tr>
<tr class="separator:a23384431a31b6dad90b895fc307ed18e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a33948f1a580dc958b3b1b73c8f2a4ce2"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a33948f1a580dc958b3b1b73c8f2a4ce2">PulseBased</a></td></tr>
<tr class="memdesc:a33948f1a580dc958b3b1b73c8f2a4ce2"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move has 1.5× its usual power when used by a Pok&eacute;mon with Abilities.MEGA_LAUNCHER. The move is a pulse-based move (powered up by the ability Mega Launcher).   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a33948f1a580dc958b3b1b73c8f2a4ce2">More...</a><br /></td></tr>
<tr class="separator:a33948f1a580dc958b3b1b73c8f2a4ce2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a556ea7ba0ca82188eb018ab5b91c29ab"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a556ea7ba0ca82188eb018ab5b91c29ab">Ballistics</a></td></tr>
<tr class="memdesc:a556ea7ba0ca82188eb018ab5b91c29ab"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move is blocked by Abilities.BULLETPROOF. The move is a bomb-based move (resisted by the ability Bulletproof).   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a556ea7ba0ca82188eb018ab5b91c29ab">More...</a><br /></td></tr>
<tr class="separator:a556ea7ba0ca82188eb018ab5b91c29ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7df51020ccd86e4edfe542e23cd61154"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a7df51020ccd86e4edfe542e23cd61154">Distance</a></td></tr>
<tr class="memdesc:a7df51020ccd86e4edfe542e23cd61154"><td class="mdescLeft">&#160;</td><td class="mdescRight">In triple battles, this move can be used on either side to target the farthest away opposing Pok&eacute;mon.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a7df51020ccd86e4edfe542e23cd61154">More...</a><br /></td></tr>
<tr class="separator:a7df51020ccd86e4edfe542e23cd61154"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa03dfb18d44a59660c0fda280b53ca08"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aa03dfb18d44a59660c0fda280b53ca08">Gravity</a></td></tr>
<tr class="memdesc:aa03dfb18d44a59660c0fda280b53ca08"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move cannot be used in high Moves.GRAVITY.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#aa03dfb18d44a59660c0fda280b53ca08">More...</a><br /></td></tr>
<tr class="separator:aa03dfb18d44a59660c0fda280b53ca08"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9ff90920ed18ba2d487a2a0e969fc063"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a9ff90920ed18ba2d487a2a0e969fc063">Heal</a></td></tr>
<tr class="memdesc:a9ff90920ed18ba2d487a2a0e969fc063"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move is blocked by Moves.HEAL_BLOCK.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a9ff90920ed18ba2d487a2a0e969fc063">More...</a><br /></td></tr>
<tr class="separator:a9ff90920ed18ba2d487a2a0e969fc063"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4d33e03b72b761d5aec2dfa84161d6d5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a4d33e03b72b761d5aec2dfa84161d6d5">NonSky</a></td></tr>
<tr class="memdesc:a4d33e03b72b761d5aec2dfa84161d6d5"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move is unusable during Sky Battles.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a4d33e03b72b761d5aec2dfa84161d6d5">More...</a><br /></td></tr>
<tr class="separator:a4d33e03b72b761d5aec2dfa84161d6d5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a38896a5e1f93a32b453ccdbbf4974c34"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a38896a5e1f93a32b453ccdbbf4974c34">Recharge</a></td></tr>
<tr class="memdesc:a38896a5e1f93a32b453ccdbbf4974c34"><td class="mdescLeft">&#160;</td><td class="mdescRight">The turn after this move is used, the Pok&eacute;mon's action is skipped so it can recharge.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a38896a5e1f93a32b453ccdbbf4974c34">More...</a><br /></td></tr>
<tr class="separator:a38896a5e1f93a32b453ccdbbf4974c34"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a05d068aa88def122550ff6aeab3208b4"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a05d068aa88def122550ff6aeab3208b4">Mental</a></td></tr>
<tr class="memdesc:a05d068aa88def122550ff6aeab3208b4"><td class="mdescLeft">&#160;</td><td class="mdescRight">This move is blocked by Abilities.AROMA_VEIL and cured by Items.MENTAL_HERB.   <a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a05d068aa88def122550ff6aeab3208b4">More...</a><br /></td></tr>
<tr class="separator:a05d068aa88def122550ff6aeab3208b4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a2d3a2c0291fe12275395464201857814" name="a2d3a2c0291fe12275395464201857814"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2d3a2c0291fe12275395464201857814">&#9670;&#160;</a></span>Flag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Attack.Data.Flag.Flag </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>authentic</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>bite</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>bullet</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>charge</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>contact</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>crit</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>dance</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>defrost</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>distance</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>flinch</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>gravity</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>heal</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>mirror</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>mental</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>nonsky</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>powder</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>protect</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>pulse</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>punch</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>recharge</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>reflectable</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>snatch</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>sound</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a556ea7ba0ca82188eb018ab5b91c29ab" name="a556ea7ba0ca82188eb018ab5b91c29ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a556ea7ba0ca82188eb018ab5b91c29ab">&#9670;&#160;</a></span>Ballistics</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Ballistics</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move is blocked by Abilities.BULLETPROOF. The move is a bomb-based move (resisted by the ability Bulletproof).  </p>

</div>
</div>
<a id="a3ac7456706b8504ae244867556fc7cb3" name="a3ac7456706b8504ae244867556fc7cb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ac7456706b8504ae244867556fc7cb3">&#9670;&#160;</a></span>Bite</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Bite</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move has 1.5× its usual power when used by a Pok&eacute;mon with Abilities.STRONG_JAW. The move is a biting move (powered up by the ability Strong Jaw).  </p>

</div>
</div>
<a id="afe00684f15a7d6996247556a6fc5b169" name="afe00684f15a7d6996247556a6fc5b169"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afe00684f15a7d6996247556a6fc5b169">&#9670;&#160;</a></span>Charge</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Charge</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move has a charging turn that can be skipped with a Items.POWER_HERB.  </p>

</div>
</div>
<a id="ad37b61df086b136357f63fd5f459c928" name="ad37b61df086b136357f63fd5f459c928"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad37b61df086b136357f63fd5f459c928">&#9670;&#160;</a></span>Contact</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Contact</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>User touches the target. This triggers some abilities (e.g., Abilities.STATIC) and items (e.g., Items.STICKY_BARB). The move makes physical contact with the target  </p>

</div>
</div>
<a id="a53fe40c06271f8fe76e76a56515e528c" name="a53fe40c06271f8fe76e76a56515e528c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a53fe40c06271f8fe76e76a56515e528c">&#9670;&#160;</a></span>Defrost</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Defrost</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move can be used while frozen to force the Pok&eacute;mon to defrost. If the user is Status.Frozen, the move will thaw it out before it is used.  </p>
<p >Thaw </p>

</div>
</div>
<a id="a7df51020ccd86e4edfe542e23cd61154" name="a7df51020ccd86e4edfe542e23cd61154"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7df51020ccd86e4edfe542e23cd61154">&#9670;&#160;</a></span>Distance</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Distance</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>In triple battles, this move can be used on either side to target the farthest away opposing Pok&eacute;mon.  </p>

</div>
</div>
<a id="aa03dfb18d44a59660c0fda280b53ca08" name="aa03dfb18d44a59660c0fda280b53ca08"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa03dfb18d44a59660c0fda280b53ca08">&#9670;&#160;</a></span>Gravity</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Gravity</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move cannot be used in high Moves.GRAVITY.  </p>

</div>
</div>
<a id="a9ff90920ed18ba2d487a2a0e969fc063" name="a9ff90920ed18ba2d487a2a0e969fc063"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9ff90920ed18ba2d487a2a0e969fc063">&#9670;&#160;</a></span>Heal</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Heal</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move is blocked by Moves.HEAL_BLOCK.  </p>

</div>
</div>
<a id="a05d068aa88def122550ff6aeab3208b4" name="a05d068aa88def122550ff6aeab3208b4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05d068aa88def122550ff6aeab3208b4">&#9670;&#160;</a></span>Mental</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Mental</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move is blocked by Abilities.AROMA_VEIL and cured by Items.MENTAL_HERB.  </p>

</div>
</div>
<a id="a98be07e4ac5b4cef1e721c89eb85225f" name="a98be07e4ac5b4cef1e721c89eb85225f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98be07e4ac5b4cef1e721c89eb85225f">&#9670;&#160;</a></span>Mirror</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Mirror</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The move can be copied by Moves.MIRROR_MOVE.  </p>

</div>
</div>
<a id="a4d33e03b72b761d5aec2dfa84161d6d5" name="a4d33e03b72b761d5aec2dfa84161d6d5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4d33e03b72b761d5aec2dfa84161d6d5">&#9670;&#160;</a></span>NonSky</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.NonSky</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move is unusable during Sky Battles.  </p>

</div>
</div>
<a id="a23384431a31b6dad90b895fc307ed18e" name="a23384431a31b6dad90b895fc307ed18e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23384431a31b6dad90b895fc307ed18e">&#9670;&#160;</a></span>PowderBased</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.PowderBased</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Pok&eacute;mon with Abilities.OVERCOAT and Types.GRASS-type Pok&eacute;mon are immune to this move. The move is a powder-based move (Grass-type Pok&eacute;mon are immune to them).  </p>

</div>
</div>
<a id="aca96eb842c9abf7b59f2540b12b5a97c" name="aca96eb842c9abf7b59f2540b12b5a97c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aca96eb842c9abf7b59f2540b12b5a97c">&#9670;&#160;</a></span>Protectable</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Protectable</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The target can use Moves.PROTECT or Moves.DETECT to protect itself from the move  </p>

</div>
</div>
<a id="a33948f1a580dc958b3b1b73c8f2a4ce2" name="a33948f1a580dc958b3b1b73c8f2a4ce2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a33948f1a580dc958b3b1b73c8f2a4ce2">&#9670;&#160;</a></span>PulseBased</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.PulseBased</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move has 1.5× its usual power when used by a Pok&eacute;mon with Abilities.MEGA_LAUNCHER. The move is a pulse-based move (powered up by the ability Mega Launcher).  </p>

</div>
</div>
<a id="ac002475caadfde203588e778f6494b3c" name="ac002475caadfde203588e778f6494b3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac002475caadfde203588e778f6494b3c">&#9670;&#160;</a></span>Punching</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Punching</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move has 1.2× its usual power when used by a Pok&eacute;mon with Abilities.IRON_FIST. The move is a punching move (powered up by the ability Iron Fist).  </p>

</div>
</div>
<a id="a38896a5e1f93a32b453ccdbbf4974c34" name="a38896a5e1f93a32b453ccdbbf4974c34"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a38896a5e1f93a32b453ccdbbf4974c34">&#9670;&#160;</a></span>Recharge</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Recharge</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>The turn after this move is used, the Pok&eacute;mon's action is skipped so it can recharge.  </p>

</div>
</div>
<a id="a717b3d427e41d585380968bba3403f9f" name="a717b3d427e41d585380968bba3403f9f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a717b3d427e41d585380968bba3403f9f">&#9670;&#160;</a></span>Reflectable</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Reflectable</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move may be reflected back at the user with Moves.MAGIC_COAT or Abilities.MAGIC_BOUNCE. The target can use Moves.MAGIC_COAT to redirect the effect of the move. Use this flag if the move deals no damage but causes a negative effect on the target. (Flags MagicCoat and <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c" title="This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves...">Snatch</a> are mutually exclusive.)  </p>

</div>
</div>
<a id="a5951f8b5e4db05a276ca3c957b6d6a3c" name="a5951f8b5e4db05a276ca3c957b6d6a3c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5951f8b5e4db05a276ca3c957b6d6a3c">&#9670;&#160;</a></span>Snatch</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.Snatch</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves.SNATCH to steal the effect of the move. Use this flag for most moves that target the user. (Flags MagicCoat and <a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_flag.cshtml#a5951f8b5e4db05a276ca3c957b6d6a3c" title="This move will be stolen if another Pok&eacute;mon has used Moves.SNATCH this turn. The target can use Moves...">Snatch</a> are mutually exclusive.)  </p>

</div>
</div>
<a id="aae25e04417b2856139a55a59fee7d052" name="aae25e04417b2856139a55a59fee7d052"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aae25e04417b2856139a55a59fee7d052">&#9670;&#160;</a></span>SoundBased</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Attack.Data.Flag.SoundBased</td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Pok&eacute;mon with Abilities.SOUNDPROOF are immune to this move. The move is a sound-based move.  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Attack/Data/<a class="el" href="_flag_8cs.cshtml">Flag.cs</a></li>
</ul>
