@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonEvolution Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#ae34b74d76d2d148b9cc524ffec1545ff">EvolveMethod</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#a7c12f1574148045274e1e59978855e3a">EvolveValue</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#aed041b986a1f18478eaa1ed54c542a01">PokemonEvolution</a>(Pokemons EvolveTo, EvolutionMethod EvolveHow, object Value=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#adcef69d7d08cd6e6540d178eec758f1c">Species</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonUnity.Monster.Data.PokemonEvolution</a></td><td class="entry"></td></tr>
</table>