@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Overworld.EncounterData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">EncounterData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.EncounterData Struct Reference</div></div>
}


<p>Data records of pokemon profiles used for pooling together a random chance encounter for a battle against wild pokemons   
 <a href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Overworld.EncounterData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.png" usemap="#PokemonUnity.Overworld.EncounterData_map" alt=""/>
  <map id="PokemonUnity.Overworld.EncounterData_map" name="PokemonUnity.Overworld.EncounterData_map">
<area href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml" title="Data records of pokemon profiles used for pooling together a random chance enounter for a battle agai..." alt="PokemonUnity.Overworld.IEncounterData" shape="rect" coords="0,0,246,24"/>
  </map>
</div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a622217356006a1b3f1d424514b8bccea"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a622217356006a1b3f1d424514b8bccea">EncounterData</a> (int id, int mapId, <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> method, int slotId, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[] pokemon=null, <a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[] conditions=null, int generation=0, int minLevel=1, int maxLevel=1, int rarity=0, <a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a>[] versions=null)</td></tr>
<tr class="separator:a622217356006a1b3f1d424514b8bccea"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad9648a4bb9d4874529ae36e9ec3cb5c5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ad9648a4bb9d4874529ae36e9ec3cb5c5">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:ad9648a4bb9d4874529ae36e9ec3cb5c5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Identifier for this <a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> (Used for record lookup, and tracking/storage)   <a href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ad9648a4bb9d4874529ae36e9ec3cb5c5">More...</a><br /></td></tr>
<tr class="separator:ad9648a4bb9d4874529ae36e9ec3cb5c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac17a1b32125ea0267dcad1a6e20098a6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac17a1b32125ea0267dcad1a6e20098a6">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:ac17a1b32125ea0267dcad1a6e20098a6"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map or Scene/Level this encounter record belongs to (associated with)   <a href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac17a1b32125ea0267dcad1a6e20098a6">More...</a><br /></td></tr>
<tr class="separator:ac17a1b32125ea0267dcad1a6e20098a6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a45f14bab355e25b14429be4b27325fe7"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a45f14bab355e25b14429be4b27325fe7">Method</a><code> [get]</code></td></tr>
<tr class="separator:a45f14bab355e25b14429be4b27325fe7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac04ac59d07fda4cca141def77f2cd8df"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac04ac59d07fda4cca141def77f2cd8df">SlotId</a><code> [get]</code></td></tr>
<tr class="separator:ac04ac59d07fda4cca141def77f2cd8df"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aea1792e21119650be5308875b993003c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aea1792e21119650be5308875b993003c">Pokemon</a><code> [get]</code></td></tr>
<tr class="separator:aea1792e21119650be5308875b993003c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5df225cc70a6767680a553397bf7d4e5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a5df225cc70a6767680a553397bf7d4e5">Conditions</a><code> [get]</code></td></tr>
<tr class="separator:a5df225cc70a6767680a553397bf7d4e5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a599bc755a6dca6e7cc243b0ef6ef3ce9"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a599bc755a6dca6e7cc243b0ef6ef3ce9">Versions</a><code> [get]</code></td></tr>
<tr class="separator:a599bc755a6dca6e7cc243b0ef6ef3ce9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08889f3fc350c4772069bec2ab024a3b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a08889f3fc350c4772069bec2ab024a3b">Generation</a><code> [get]</code></td></tr>
<tr class="separator:a08889f3fc350c4772069bec2ab024a3b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aedf6d71c541acea785c9162f6e54e07e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aedf6d71c541acea785c9162f6e54e07e">MinLevel</a><code> [get]</code></td></tr>
<tr class="separator:aedf6d71c541acea785c9162f6e54e07e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0e6b2a49149e4404300721d36015f1f7"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a0e6b2a49149e4404300721d36015f1f7">MaxLevel</a><code> [get]</code></td></tr>
<tr class="separator:a0e6b2a49149e4404300721d36015f1f7"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:adb7b9b8f9281341a7d75fcc71601cf74"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#adb7b9b8f9281341a7d75fcc71601cf74">Rarity</a><code> [get]</code></td></tr>
<tr class="separator:adb7b9b8f9281341a7d75fcc71601cf74"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="inherit_header properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td colspan="2" onclick="javascript:toggleInherit('properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data')"><img src="closed.png" alt="-"/>&#160;Properties inherited from <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml">PokemonUnity.Overworld.IEncounterData</a></td></tr>
<tr class="memitem:a36d19585428f663b0e2be79ac37058b2 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">Id</a><code> [get]</code></td></tr>
<tr class="memdesc:a36d19585428f663b0e2be79ac37058b2 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="mdescLeft">&#160;</td><td class="mdescRight">Identifier for this <a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> (Used for record lookup, and tracking/storage)   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">More...</a><br /></td></tr>
<tr class="separator:a36d19585428f663b0e2be79ac37058b2 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a643b2729f3142083a96623d5252b1c8e inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">MapId</a><code> [get]</code></td></tr>
<tr class="memdesc:a643b2729f3142083a96623d5252b1c8e inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map or Scene/Level this encounter record belongs to (associated with)   <a href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">More...</a><br /></td></tr>
<tr class="separator:a643b2729f3142083a96623d5252b1c8e inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8d95edad5a96ca19176c8a14aebc1f01 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a8d95edad5a96ca19176c8a14aebc1f01">Method</a><code> [get]</code></td></tr>
<tr class="separator:a8d95edad5a96ca19176c8a14aebc1f01 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae4fa1969de83164fb52ee58f994a8ce5 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae4fa1969de83164fb52ee58f994a8ce5">SlotId</a><code> [get]</code></td></tr>
<tr class="separator:ae4fa1969de83164fb52ee58f994a8ce5 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afecc4f406693ffb643d08af77fbd8f9b inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#afecc4f406693ffb643d08af77fbd8f9b">Pokemon</a><code> [get]</code></td></tr>
<tr class="separator:afecc4f406693ffb643d08af77fbd8f9b inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae519c5855c0edee97b4faf55172ca51f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae519c5855c0edee97b4faf55172ca51f">Conditions</a><code> [get]</code></td></tr>
<tr class="separator:ae519c5855c0edee97b4faf55172ca51f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08412ee6f7eb664a2f53481afffbb0e0 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a08412ee6f7eb664a2f53481afffbb0e0">Versions</a><code> [get]</code></td></tr>
<tr class="separator:a08412ee6f7eb664a2f53481afffbb0e0 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a679b03d71f5fb3836d5298c46090504f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a679b03d71f5fb3836d5298c46090504f">Generation</a><code> [get]</code></td></tr>
<tr class="separator:a679b03d71f5fb3836d5298c46090504f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a61f431ecd5b8117c22fc06c21c0924f8 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a61f431ecd5b8117c22fc06c21c0924f8">MinLevel</a><code> [get]</code></td></tr>
<tr class="separator:a61f431ecd5b8117c22fc06c21c0924f8 inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a86d08d7bb80fc380f7d7e454390d6b6f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a86d08d7bb80fc380f7d7e454390d6b6f">MaxLevel</a><code> [get]</code></td></tr>
<tr class="separator:a86d08d7bb80fc380f7d7e454390d6b6f inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2c59d601b121f1f3b1fdcb861b5e85fa inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a2c59d601b121f1f3b1fdcb861b5e85fa">Rarity</a><code> [get]</code></td></tr>
<tr class="separator:a2c59d601b121f1f3b1fdcb861b5e85fa inherit properties_interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Data records of pokemon profiles used for pooling together a random chance encounter for a battle against wild pokemons  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a622217356006a1b3f1d424514b8bccea" name="a622217356006a1b3f1d424514b8bccea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a622217356006a1b3f1d424514b8bccea">&#9670;&#160;</a></span>EncounterData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Overworld.EncounterData.EncounterData </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>id</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>mapId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a>&#160;</td>
          <td class="paramname"><em>method</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>slotId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>[]&#160;</td>
          <td class="paramname"><em>pokemon</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a>[]&#160;</td>
          <td class="paramname"><em>conditions</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>generation</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>minLevel</em> = <code>1</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>maxLevel</em> = <code>1</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>rarity</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a>[]&#160;</td>
          <td class="paramname"><em>versions</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a5df225cc70a6767680a553397bf7d4e5" name="a5df225cc70a6767680a553397bf7d4e5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5df225cc70a6767680a553397bf7d4e5">&#9670;&#160;</a></span>Conditions</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a7debeabf2d067a4a5286f17581d0fbac">ConditionValue</a> [] PokemonUnity.Overworld.EncounterData.Conditions</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae519c5855c0edee97b4faf55172ca51f">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="a08889f3fc350c4772069bec2ab024a3b" name="a08889f3fc350c4772069bec2ab024a3b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08889f3fc350c4772069bec2ab024a3b">&#9670;&#160;</a></span>Generation</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.Generation</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a679b03d71f5fb3836d5298c46090504f">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="ad9648a4bb9d4874529ae36e9ec3cb5c5" name="ad9648a4bb9d4874529ae36e9ec3cb5c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9648a4bb9d4874529ae36e9ec3cb5c5">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Identifier for this <a class="el" href="class_pokemon_unity_1_1_overworld_1_1_encounter.cshtml">Encounter</a> (Used for record lookup, and tracking/storage)  </p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a36d19585428f663b0e2be79ac37058b2">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="ac17a1b32125ea0267dcad1a6e20098a6" name="ac17a1b32125ea0267dcad1a6e20098a6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac17a1b32125ea0267dcad1a6e20098a6">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map or Scene/Level this encounter record belongs to (associated with)  </p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a643b2729f3142083a96623d5252b1c8e">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="a0e6b2a49149e4404300721d36015f1f7" name="a0e6b2a49149e4404300721d36015f1f7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0e6b2a49149e4404300721d36015f1f7">&#9670;&#160;</a></span>MaxLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.MaxLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a86d08d7bb80fc380f7d7e454390d6b6f">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="a45f14bab355e25b14429be4b27325fe7" name="a45f14bab355e25b14429be4b27325fe7"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a45f14bab355e25b14429be4b27325fe7">&#9670;&#160;</a></span>Method</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml#a441bb53fe173af8730970779c8ef933b">Method</a> PokemonUnity.Overworld.EncounterData.Method</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a8d95edad5a96ca19176c8a14aebc1f01">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="aedf6d71c541acea785c9162f6e54e07e" name="aedf6d71c541acea785c9162f6e54e07e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aedf6d71c541acea785c9162f6e54e07e">&#9670;&#160;</a></span>MinLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.MinLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a61f431ecd5b8117c22fc06c21c0924f8">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="aea1792e21119650be5308875b993003c" name="aea1792e21119650be5308875b993003c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aea1792e21119650be5308875b993003c">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> [] PokemonUnity.Overworld.EncounterData.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#afecc4f406693ffb643d08af77fbd8f9b">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="adb7b9b8f9281341a7d75fcc71601cf74" name="adb7b9b8f9281341a7d75fcc71601cf74"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adb7b9b8f9281341a7d75fcc71601cf74">&#9670;&#160;</a></span>Rarity</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.Rarity</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a2c59d601b121f1f3b1fdcb861b5e85fa">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="ac04ac59d07fda4cca141def77f2cd8df" name="ac04ac59d07fda4cca141def77f2cd8df"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac04ac59d07fda4cca141def77f2cd8df">&#9670;&#160;</a></span>SlotId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Overworld.EncounterData.SlotId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#ae4fa1969de83164fb52ee58f994a8ce5">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<a id="a599bc755a6dca6e7cc243b0ef6ef3ce9" name="a599bc755a6dca6e7cc243b0ef6ef3ce9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a599bc755a6dca6e7cc243b0ef6ef3ce9">&#9670;&#160;</a></span>Versions</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#ac7d28992f9373a4f27cc986efd35cefb">Versions</a> [] PokemonUnity.Overworld.EncounterData.Versions</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p></p>

<p>Implements <a class="el" href="interface_pokemon_unity_1_1_overworld_1_1_i_encounter_data.cshtml#a08412ee6f7eb664a2f53481afffbb0e0">PokemonUnity.Overworld.IEncounterData</a>.</p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Application/Overworld/Wild/<a class="el" href="_encounter_data_8cs.cshtml">EncounterData.cs</a></li>
</ul>

