@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">BadgeData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.BadgeData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">PokemonUnity.Character.BadgeData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#af1592277962cb3ad8082ed6f4743c01a">BadgeData</a>(GymBadges id, Regions region, byte levelCap=0)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">PokemonUnity.Character.BadgeData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a489db78b62aabf647babeec8f9eb8212">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">PokemonUnity.Character.BadgeData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a0492bf48f6d9312793e2eb7391b8cab5">LevelCap</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">PokemonUnity.Character.BadgeData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml#a6be35afaad99a0dc9742e190f9be1c77">Region</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_badge_data.cshtml">PokemonUnity.Character.BadgeData</a></td><td class="entry"></td></tr>
</table>