@{
	Page.Title = "PokemonUnity.Monster.Data.EvolutionTrigger Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml">EvolutionTrigger</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.EvolutionTrigger Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a2da743b48cb3f412f983187ac9bb3c71"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a2da743b48cb3f412f983187ac9bb3c71">EvolutionTrigger</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> species=Pokemons.NONE, <a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml#ad180485f2efcf20b945ffd13f3069711">EvoTrigger</a> evo=EvoTrigger.level_up, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> trigger=Items.NONE, int? minLevel=null, bool? gender=null, int? location=null, <a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> held=Items.NONE, int? time=null, <a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> knownMove=Moves.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> knownType=Types.NONE, int? happiness=null, int? beauty=null, int? affection=null, int? physicalStat=null, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> partySpecies=Pokemons.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> partyType=Types.NONE, <a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> tradeSpecies=Pokemons.NONE, bool overworldRain=false, bool turnUpsideDown=true)</td></tr>
<tr class="separator:a2da743b48cb3f412f983187ac9bb3c71"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a98ff5cbbc122c093775958b2f07d3f17"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a98ff5cbbc122c093775958b2f07d3f17">Species</a> <code>[get]</code></td></tr>
<tr class="separator:a98ff5cbbc122c093775958b2f07d3f17"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae3dd046eeb82bcc86a78418a1c8793e8"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml#ad180485f2efcf20b945ffd13f3069711">EvoTrigger</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#ae3dd046eeb82bcc86a78418a1c8793e8">Evo</a> <code>[get]</code></td></tr>
<tr class="separator:ae3dd046eeb82bcc86a78418a1c8793e8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8850c651c6bc832547e299db9400518d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a8850c651c6bc832547e299db9400518d">Trigger</a> <code>[get]</code></td></tr>
<tr class="separator:a8850c651c6bc832547e299db9400518d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a791f19c8acd588e6c89ab549f5e54401"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a791f19c8acd588e6c89ab549f5e54401">MinLevel</a> <code>[get]</code></td></tr>
<tr class="separator:a791f19c8acd588e6c89ab549f5e54401"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2037f6e0022d385c9870b64528000a75"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a2037f6e0022d385c9870b64528000a75">Gender</a> <code>[get]</code></td></tr>
<tr class="separator:a2037f6e0022d385c9870b64528000a75"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab991cca0af6cf459b3262fda38c58f62"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#ab991cca0af6cf459b3262fda38c58f62">Location</a> <code>[get]</code></td></tr>
<tr class="separator:ab991cca0af6cf459b3262fda38c58f62"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a420f2d12ba4626bbfe8893ddd5798b16"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a420f2d12ba4626bbfe8893ddd5798b16">Held</a> <code>[get]</code></td></tr>
<tr class="separator:a420f2d12ba4626bbfe8893ddd5798b16"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40c0c4c0818a737621b6ec9c001f0c4f"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a40c0c4c0818a737621b6ec9c001f0c4f">Time</a> <code>[get]</code></td></tr>
<tr class="memdesc:a40c0c4c0818a737621b6ec9c001f0c4f"><td class="mdescLeft">&#160;</td><td class="mdescRight">Time of Day   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a40c0c4c0818a737621b6ec9c001f0c4f">More...</a><br /></td></tr>
<tr class="separator:a40c0c4c0818a737621b6ec9c001f0c4f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6cfa2856702e3968cd5f3776c83831b5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a6cfa2856702e3968cd5f3776c83831b5">KnownMove</a> <code>[get]</code></td></tr>
<tr class="separator:a6cfa2856702e3968cd5f3776c83831b5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a17687eda85ab8b0d750e8c8cc49c1245"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a17687eda85ab8b0d750e8c8cc49c1245">KnownType</a> <code>[get]</code></td></tr>
<tr class="separator:a17687eda85ab8b0d750e8c8cc49c1245"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8405d52c28c4da1972c9039264c30322"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a8405d52c28c4da1972c9039264c30322">Happiness</a> <code>[get]</code></td></tr>
<tr class="separator:a8405d52c28c4da1972c9039264c30322"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3ac5d57a4242ca0545eb8183fd5f4c44"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a3ac5d57a4242ca0545eb8183fd5f4c44">Beauty</a> <code>[get]</code></td></tr>
<tr class="separator:a3ac5d57a4242ca0545eb8183fd5f4c44"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1c0f542e1b125393b33466ba216b3904"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a1c0f542e1b125393b33466ba216b3904">Affection</a> <code>[get]</code></td></tr>
<tr class="separator:a1c0f542e1b125393b33466ba216b3904"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab6400fc1e4a0a4d23813454b8b796e6b"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#ab6400fc1e4a0a4d23813454b8b796e6b">PhysicalStat</a> <code>[get]</code></td></tr>
<tr class="separator:ab6400fc1e4a0a4d23813454b8b796e6b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a189a37cd3c7e850a33338ca39a2e1441"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a189a37cd3c7e850a33338ca39a2e1441">PartySpecies</a> <code>[get]</code></td></tr>
<tr class="separator:a189a37cd3c7e850a33338ca39a2e1441"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9b09c68670961e1932a8df0735628762"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a9b09c68670961e1932a8df0735628762">PartyType</a> <code>[get]</code></td></tr>
<tr class="separator:a9b09c68670961e1932a8df0735628762"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0bb6b937993858237bc2bb5dba3aa031"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a0bb6b937993858237bc2bb5dba3aa031">TradeSpecies</a> <code>[get]</code></td></tr>
<tr class="separator:a0bb6b937993858237bc2bb5dba3aa031"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a552f3408fa9876eab9c18531b4832028"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#a552f3408fa9876eab9c18531b4832028">OverworldRain</a> <code>[get]</code></td></tr>
<tr class="separator:a552f3408fa9876eab9c18531b4832028"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:acfda0ea001f70ba9dec6e71bba35c187"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_evolution_trigger.cshtml#acfda0ea001f70ba9dec6e71bba35c187">TurnUpsideDown</a> <code>[get]</code></td></tr>
<tr class="separator:acfda0ea001f70ba9dec6e71bba35c187"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a2da743b48cb3f412f983187ac9bb3c71" name="a2da743b48cb3f412f983187ac9bb3c71"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2da743b48cb3f412f983187ac9bb3c71">&#9670;&#160;</a></span>EvolutionTrigger()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.EvolutionTrigger.EvolutionTrigger </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>species</em> = <code>Pokemons.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml#ad180485f2efcf20b945ffd13f3069711">EvoTrigger</a>&#160;</td>
          <td class="paramname"><em>evo</em> = <code>EvoTrigger.level_up</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>trigger</em> = <code>Items.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>minLevel</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool?&#160;</td>
          <td class="paramname"><em>gender</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>location</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>held</em> = <code>Items.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>time</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>knownMove</em> = <code>Moves.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>knownType</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>happiness</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>beauty</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>affection</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>physicalStat</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>partySpecies</em> = <code>Pokemons.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>partyType</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>tradeSpecies</em> = <code>Pokemons.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>overworldRain</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>turnUpsideDown</em> = <code>true</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1c0f542e1b125393b33466ba216b3904" name="a1c0f542e1b125393b33466ba216b3904"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1c0f542e1b125393b33466ba216b3904">&#9670;&#160;</a></span>Affection</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.Affection</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3ac5d57a4242ca0545eb8183fd5f4c44" name="a3ac5d57a4242ca0545eb8183fd5f4c44"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3ac5d57a4242ca0545eb8183fd5f4c44">&#9670;&#160;</a></span>Beauty</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.Beauty</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ae3dd046eeb82bcc86a78418a1c8793e8" name="ae3dd046eeb82bcc86a78418a1c8793e8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae3dd046eeb82bcc86a78418a1c8793e8">&#9670;&#160;</a></span>Evo</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml#ad180485f2efcf20b945ffd13f3069711">EvoTrigger</a> PokemonUnity.Monster.Data.EvolutionTrigger.Evo</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2037f6e0022d385c9870b64528000a75" name="a2037f6e0022d385c9870b64528000a75"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2037f6e0022d385c9870b64528000a75">&#9670;&#160;</a></span>Gender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonUnity.Monster.Data.EvolutionTrigger.Gender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8405d52c28c4da1972c9039264c30322" name="a8405d52c28c4da1972c9039264c30322"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8405d52c28c4da1972c9039264c30322">&#9670;&#160;</a></span>Happiness</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.Happiness</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a420f2d12ba4626bbfe8893ddd5798b16" name="a420f2d12ba4626bbfe8893ddd5798b16"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a420f2d12ba4626bbfe8893ddd5798b16">&#9670;&#160;</a></span>Held</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Monster.Data.EvolutionTrigger.Held</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a6cfa2856702e3968cd5f3776c83831b5" name="a6cfa2856702e3968cd5f3776c83831b5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6cfa2856702e3968cd5f3776c83831b5">&#9670;&#160;</a></span>KnownMove</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonUnity.Monster.Data.EvolutionTrigger.KnownMove</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a17687eda85ab8b0d750e8c8cc49c1245" name="a17687eda85ab8b0d750e8c8cc49c1245"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a17687eda85ab8b0d750e8c8cc49c1245">&#9670;&#160;</a></span>KnownType</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> PokemonUnity.Monster.Data.EvolutionTrigger.KnownType</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab991cca0af6cf459b3262fda38c58f62" name="ab991cca0af6cf459b3262fda38c58f62"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab991cca0af6cf459b3262fda38c58f62">&#9670;&#160;</a></span>Location</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.Location</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a791f19c8acd588e6c89ab549f5e54401" name="a791f19c8acd588e6c89ab549f5e54401"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a791f19c8acd588e6c89ab549f5e54401">&#9670;&#160;</a></span>MinLevel</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.MinLevel</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a552f3408fa9876eab9c18531b4832028" name="a552f3408fa9876eab9c18531b4832028"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a552f3408fa9876eab9c18531b4832028">&#9670;&#160;</a></span>OverworldRain</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.EvolutionTrigger.OverworldRain</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a189a37cd3c7e850a33338ca39a2e1441" name="a189a37cd3c7e850a33338ca39a2e1441"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a189a37cd3c7e850a33338ca39a2e1441">&#9670;&#160;</a></span>PartySpecies</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.EvolutionTrigger.PartySpecies</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9b09c68670961e1932a8df0735628762" name="a9b09c68670961e1932a8df0735628762"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9b09c68670961e1932a8df0735628762">&#9670;&#160;</a></span>PartyType</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> PokemonUnity.Monster.Data.EvolutionTrigger.PartyType</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab6400fc1e4a0a4d23813454b8b796e6b" name="ab6400fc1e4a0a4d23813454b8b796e6b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab6400fc1e4a0a4d23813454b8b796e6b">&#9670;&#160;</a></span>PhysicalStat</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.PhysicalStat</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a98ff5cbbc122c093775958b2f07d3f17" name="a98ff5cbbc122c093775958b2f07d3f17"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a98ff5cbbc122c093775958b2f07d3f17">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.EvolutionTrigger.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a40c0c4c0818a737621b6ec9c001f0c4f" name="a40c0c4c0818a737621b6ec9c001f0c4f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40c0c4c0818a737621b6ec9c001f0c4f">&#9670;&#160;</a></span>Time</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Monster.Data.EvolutionTrigger.Time</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Time of Day  </p>

</div>
</div>
<a id="a0bb6b937993858237bc2bb5dba3aa031" name="a0bb6b937993858237bc2bb5dba3aa031"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0bb6b937993858237bc2bb5dba3aa031">&#9670;&#160;</a></span>TradeSpecies</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.EvolutionTrigger.TradeSpecies</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a8850c651c6bc832547e299db9400518d" name="a8850c651c6bc832547e299db9400518d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8850c651c6bc832547e299db9400518d">&#9670;&#160;</a></span>Trigger</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Monster.Data.EvolutionTrigger.Trigger</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="acfda0ea001f70ba9dec6e71bba35c187" name="acfda0ea001f70ba9dec6e71bba35c187"></a>
<h2 class="memtitle"><span class="permalink"><a href="#acfda0ea001f70ba9dec6e71bba35c187">&#9670;&#160;</a></span>TurnUpsideDown</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.EvolutionTrigger.TurnUpsideDown</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_evolution_8cs.cshtml">Evolution.cs</a></li>
</ul>
