@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">SeriPC</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriPC Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a910833e70faa3476c97b7c4ca424e7fa">ActiveBox</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a18679630912e8be5bcbab8d31a088d4b">BoxNames</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#a2e9eb25b14f218c7af8bb38e46cc78b4">BoxTextures</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#aae1e871538e164be1c9fee380c5f824a">GetItemsFromSeri</a>()</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#aa80d00b569d9dd7f9c24110578f2bdff">Items</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#ae1d56fac47db7893d16d1aa8029de40f">Pokemons</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml#afcdcabf596da6e6292698aac0a8aaf06">SeriPC</a>(PokemonEssentials.Interface.PokeBattle.IPokemon[,] pokemons, string[] boxNames, int[] boxTextures, List&lt; Inventory.Items &gt; boxItems, byte box=0)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_p_c.cshtml">PokemonUnity.Saving.SerializableClasses.SeriPC</a></td><td class="entry"></td></tr>
</table>
