@{
	Page.Title = "PokemonEssentials.Interface.Field.MetadataPlayer Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">MetadataPlayer</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.MetadataPlayer Struct Reference</div></div>
}


<p>Information on the player characters in the game.   
 <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a39717b058a149f86bac26429cd602631"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a39717b058a149f86bac26429cd602631">this[int charset]</a> <code>[get]</code></td></tr>
<tr class="separator:a39717b058a149f86bac26429cd602631"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0abb543f88d8745820456bf41330399"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#aa0abb543f88d8745820456bf41330399">Name</a> <code>[get, set]</code></td></tr>
<tr class="separator:aa0abb543f88d8745820456bf41330399"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a759ceb12e0869cada4398c239e17eb39"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a759ceb12e0869cada4398c239e17eb39">Type</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a759ceb12e0869cada4398c239e17eb39"><td class="mdescLeft">&#160;</td><td class="mdescRight">The player's trainer type <a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>. This trainer type is defined in exactly the same way as any other trainer type, and is typically only used by this player character (although some games may turn an unused player character into a rival instead).   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a759ceb12e0869cada4398c239e17eb39">More...</a><br /></td></tr>
<tr class="separator:a759ceb12e0869cada4398c239e17eb39"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac0888ec3a6965bccbdd8f00ded6db9c2"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac0888ec3a6965bccbdd8f00ded6db9c2">Walking</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ac0888ec3a6965bccbdd8f00ded6db9c2"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's walking charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac0888ec3a6965bccbdd8f00ded6db9c2">More...</a><br /></td></tr>
<tr class="separator:ac0888ec3a6965bccbdd8f00ded6db9c2"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaa3530a72cb25aba6ab263b97cf4e48c"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#aaa3530a72cb25aba6ab263b97cf4e48c">Cycling</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:aaa3530a72cb25aba6ab263b97cf4e48c"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's cycling charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#aaa3530a72cb25aba6ab263b97cf4e48c">More...</a><br /></td></tr>
<tr class="separator:aaa3530a72cb25aba6ab263b97cf4e48c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab73c4ad423ede78ea7f7906cbc9075ab"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ab73c4ad423ede78ea7f7906cbc9075ab">Surfing</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ab73c4ad423ede78ea7f7906cbc9075ab"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's surfing charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ab73c4ad423ede78ea7f7906cbc9075ab">More...</a><br /></td></tr>
<tr class="separator:ab73c4ad423ede78ea7f7906cbc9075ab"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5ac6a2ce56bd14cd3eef47a3379731b0"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a5ac6a2ce56bd14cd3eef47a3379731b0">Running</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a5ac6a2ce56bd14cd3eef47a3379731b0"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's running charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a5ac6a2ce56bd14cd3eef47a3379731b0">More...</a><br /></td></tr>
<tr class="separator:a5ac6a2ce56bd14cd3eef47a3379731b0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b5bd574dfe0746ea2c668020cd697ca"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a1b5bd574dfe0746ea2c668020cd697ca">Diving</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:a1b5bd574dfe0746ea2c668020cd697ca"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's diving charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#a1b5bd574dfe0746ea2c668020cd697ca">More...</a><br /></td></tr>
<tr class="separator:a1b5bd574dfe0746ea2c668020cd697ca"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac3a4b08e1677fc12abbb05f6a094f806"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac3a4b08e1677fc12abbb05f6a094f806">FishingStand</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:ac3a4b08e1677fc12abbb05f6a094f806"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's fishing-while-standing charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#ac3a4b08e1677fc12abbb05f6a094f806">More...</a><br /></td></tr>
<tr class="separator:ac3a4b08e1677fc12abbb05f6a094f806"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af190c0f6340d46f78b9e497da797bc45"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#af190c0f6340d46f78b9e497da797bc45">FishingSurf</a> <code>[get, set]</code></td></tr>
<tr class="memdesc:af190c0f6340d46f78b9e497da797bc45"><td class="mdescLeft">&#160;</td><td class="mdescRight">The character's fishing-while-surfing charset, as found in "Graphics/Characters"   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml#af190c0f6340d46f78b9e497da797bc45">More...</a><br /></td></tr>
<tr class="separator:af190c0f6340d46f78b9e497da797bc45"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Information on the player characters in the game.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="aaa3530a72cb25aba6ab263b97cf4e48c" name="aaa3530a72cb25aba6ab263b97cf4e48c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaa3530a72cb25aba6ab263b97cf4e48c">&#9670;&#160;</a></span>Cycling</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Cycling</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's cycling charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="a1b5bd574dfe0746ea2c668020cd697ca" name="a1b5bd574dfe0746ea2c668020cd697ca"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b5bd574dfe0746ea2c668020cd697ca">&#9670;&#160;</a></span>Diving</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Diving</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's diving charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="ac3a4b08e1677fc12abbb05f6a094f806" name="ac3a4b08e1677fc12abbb05f6a094f806"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac3a4b08e1677fc12abbb05f6a094f806">&#9670;&#160;</a></span>FishingStand</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.FishingStand</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's fishing-while-standing charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="af190c0f6340d46f78b9e497da797bc45" name="af190c0f6340d46f78b9e497da797bc45"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af190c0f6340d46f78b9e497da797bc45">&#9670;&#160;</a></span>FishingSurf</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.FishingSurf</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's fishing-while-surfing charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="aa0abb543f88d8745820456bf41330399" name="aa0abb543f88d8745820456bf41330399"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0abb543f88d8745820456bf41330399">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a5ac6a2ce56bd14cd3eef47a3379731b0" name="a5ac6a2ce56bd14cd3eef47a3379731b0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5ac6a2ce56bd14cd3eef47a3379731b0">&#9670;&#160;</a></span>Running</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Running</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's running charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="ab73c4ad423ede78ea7f7906cbc9075ab" name="ab73c4ad423ede78ea7f7906cbc9075ab"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab73c4ad423ede78ea7f7906cbc9075ab">&#9670;&#160;</a></span>Surfing</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Surfing</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's surfing charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<a id="a39717b058a149f86bac26429cd602631" name="a39717b058a149f86bac26429cd602631"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a39717b058a149f86bac26429cd602631">&#9670;&#160;</a></span>this[int charset]</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.this[int charset]</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a759ceb12e0869cada4398c239e17eb39" name="a759ceb12e0869cada4398c239e17eb39"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a759ceb12e0869cada4398c239e17eb39">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.MetadataPlayer.Type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The player's trainer type <a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>. This trainer type is defined in exactly the same way as any other trainer type, and is typically only used by this player character (although some games may turn an unused player character into a rival instead).  </p>

</div>
</div>
<a id="ac0888ec3a6965bccbdd8f00ded6db9c2" name="ac0888ec3a6965bccbdd8f00ded6db9c2"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac0888ec3a6965bccbdd8f00ded6db9c2">&#9670;&#160;</a></span>Walking</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.MetadataPlayer.Walking</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The character's walking charset, as found in "Graphics/Characters"  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>
