@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Monster.Data.PokemonEvolution Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml">PokemonEvolution</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonEvolution Struct Reference</div></div>
}


<p>The evolution paths this species can take. For each possible evolution of this species, there are three parts   
 <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:aed041b986a1f18478eaa1ed54c542a01"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#aed041b986a1f18478eaa1ed54c542a01">PokemonEvolution</a> (<a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> EvolveTo, <a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> EvolveHow, object Value=null)</td></tr>
<tr class="separator:aed041b986a1f18478eaa1ed54c542a01"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:adcef69d7d08cd6e6540d178eec758f1c"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#adcef69d7d08cd6e6540d178eec758f1c">Species</a><code> [get]</code></td></tr>
<tr class="memdesc:adcef69d7d08cd6e6540d178eec758f1c"><td class="mdescLeft">&#160;</td><td class="mdescRight">The PokemonId of the evolved species. The PokemonId of the species this pokemon evolves into.   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#adcef69d7d08cd6e6540d178eec758f1c">More...</a><br /></td></tr>
<tr class="separator:adcef69d7d08cd6e6540d178eec758f1c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae34b74d76d2d148b9cc524ffec1545ff"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#ae34b74d76d2d148b9cc524ffec1545ff">EvolveMethod</a><code> [get]</code></td></tr>
<tr class="memdesc:ae34b74d76d2d148b9cc524ffec1545ff"><td class="mdescLeft">&#160;</td><td class="mdescRight">The evolution method.   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#ae34b74d76d2d148b9cc524ffec1545ff">More...</a><br /></td></tr>
<tr class="separator:ae34b74d76d2d148b9cc524ffec1545ff"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7c12f1574148045274e1e59978855e3a"><td class="memItemLeft" align="right" valign="top">object&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#a7c12f1574148045274e1e59978855e3a">EvolveValue</a><code> [get]</code></td></tr>
<tr class="memdesc:a7c12f1574148045274e1e59978855e3a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The value-parameter to <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#ae34b74d76d2d148b9cc524ffec1545ff" title="The evolution method.">EvolveMethod</a> as mentioned KEY.   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#a7c12f1574148045274e1e59978855e3a">More...</a><br /></td></tr>
<tr class="separator:a7c12f1574148045274e1e59978855e3a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The evolution paths this species can take. For each possible evolution of this species, there are three parts  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="aed041b986a1f18478eaa1ed54c542a01" name="aed041b986a1f18478eaa1ed54c542a01"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aed041b986a1f18478eaa1ed54c542a01">&#9670;&#160;</a></span>PokemonEvolution()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonEvolution.PokemonEvolution </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a>&#160;</td>
          <td class="paramname"><em>EvolveTo</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a>&#160;</td>
          <td class="paramname"><em>EvolveHow</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>Value</em> = <code>null</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ae34b74d76d2d148b9cc524ffec1545ff" name="ae34b74d76d2d148b9cc524ffec1545ff"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae34b74d76d2d148b9cc524ffec1545ff">&#9670;&#160;</a></span>EvolveMethod</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml#a30da27cb49369581097a6459498b2be3">EvolutionMethod</a> PokemonUnity.Monster.Data.PokemonEvolution.EvolveMethod</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The evolution method.  </p>

</div>
</div>
<a id="a7c12f1574148045274e1e59978855e3a" name="a7c12f1574148045274e1e59978855e3a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7c12f1574148045274e1e59978855e3a">&#9670;&#160;</a></span>EvolveValue</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">object PokemonUnity.Monster.Data.PokemonEvolution.EvolveValue</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The value-parameter to <a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_evolution.cshtml#ae34b74d76d2d148b9cc524ffec1545ff" title="The evolution method.">EvolveMethod</a> as mentioned KEY.  </p>

</div>
</div>
<a id="adcef69d7d08cd6e6540d178eec758f1c" name="adcef69d7d08cd6e6540d178eec758f1c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#adcef69d7d08cd6e6540d178eec758f1c">&#9670;&#160;</a></span>Species</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">Pokemons</a> PokemonUnity.Monster.Data.PokemonEvolution.Species</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The PokemonId of the evolved species. The PokemonId of the species this pokemon evolves into.  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_evolution_8cs.cshtml">Evolution.cs</a></li>
</ul>
