@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Monster.Data.PokemonWildItems Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster.cshtml">Monster</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_monster_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml">PokemonWildItems</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-attribs">Public Attributes</a> &#124;
<a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Monster.Data.PokemonWildItems Struct Reference</div></div>
}


<p>The items that Pok&eacute;mon when encountered in the wild have a chance of carring.   
 <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a3440c0c643758197948f359b4ee1ac98"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a3440c0c643758197948f359b4ee1ac98">PokemonWildItems</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> itemId, int rarity=0, int generation=0)</td></tr>
<tr class="separator:a3440c0c643758197948f359b4ee1ac98"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a6826f1cc9aeed98936a429abe0f36abb"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a6826f1cc9aeed98936a429abe0f36abb">Equals</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> obj)</td></tr>
<tr class="memdesc:a6826f1cc9aeed98936a429abe0f36abb"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pools all the values into a 100% encounter chance, and selects from those results   <a href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a6826f1cc9aeed98936a429abe0f36abb">More...</a><br /></td></tr>
<tr class="separator:a6826f1cc9aeed98936a429abe0f36abb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4df15b39f5b71b7df5557a08921dc96c"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a4df15b39f5b71b7df5557a08921dc96c">Equals</a> (object obj)</td></tr>
<tr class="separator:a4df15b39f5b71b7df5557a08921dc96c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad7b72a6aef6a31be2fab60a30a0a0f29"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#ad7b72a6aef6a31be2fab60a30a0a0f29">GetHashCode</a> ()</td></tr>
<tr class="separator:ad7b72a6aef6a31be2fab60a30a0a0f29"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-attribs" name="pub-attribs"></a>
Public Attributes</h2></td></tr>
<tr class="memitem:a2cea3bfc814445b8a534089793a2f6f3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#a2cea3bfc814445b8a534089793a2f6f3">Generation</a></td></tr>
<tr class="separator:a2cea3bfc814445b8a534089793a2f6f3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af23ff854861e488232a798edb8540660"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#af23ff854861e488232a798edb8540660">Rarirty</a></td></tr>
<tr class="separator:af23ff854861e488232a798edb8540660"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa298739ffa42c2b23d8581b10e753112"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_monster_1_1_data_1_1_pokemon_wild_items.cshtml#aa298739ffa42c2b23d8581b10e753112">ItemId</a></td></tr>
<tr class="separator:aa298739ffa42c2b23d8581b10e753112"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The items that Pok&eacute;mon when encountered in the wild have a chance of carring.  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a3440c0c643758197948f359b4ee1ac98" name="a3440c0c643758197948f359b4ee1ac98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3440c0c643758197948f359b4ee1ac98">&#9670;&#160;</a></span>PokemonWildItems()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Monster.Data.PokemonWildItems.PokemonWildItems </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>itemId</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>rarity</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>generation</em> = <code>0</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="a6826f1cc9aeed98936a429abe0f36abb" name="a6826f1cc9aeed98936a429abe0f36abb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6826f1cc9aeed98936a429abe0f36abb">&#9670;&#160;</a></span>Equals() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Monster.Data.PokemonWildItems.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Pools all the values into a 100% encounter chance, and selects from those results  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">pokemon</td><td></td></tr>
  </table>
  </dd>
</dl>
<dl class="section return"><dt>Returns</dt><dd></dd></dl>
<p>RNG Bagging Technique using Dice Roll, without fallback (no matter rng, wont artificially modify results) </p>

</div>
</div>
<a id="a4df15b39f5b71b7df5557a08921dc96c" name="a4df15b39f5b71b7df5557a08921dc96c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4df15b39f5b71b7df5557a08921dc96c">&#9670;&#160;</a></span>Equals() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Monster.Data.PokemonWildItems.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad7b72a6aef6a31be2fab60a30a0a0f29" name="ad7b72a6aef6a31be2fab60a30a0a0f29"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad7b72a6aef6a31be2fab60a30a0a0f29">&#9670;&#160;</a></span>GetHashCode()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Monster.Data.PokemonWildItems.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Data Documentation</h2>
<a id="a2cea3bfc814445b8a534089793a2f6f3" name="a2cea3bfc814445b8a534089793a2f6f3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2cea3bfc814445b8a534089793a2f6f3">&#9670;&#160;</a></span>Generation</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonWildItems.Generation</td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="aa298739ffa42c2b23d8581b10e753112" name="aa298739ffa42c2b23d8581b10e753112"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa298739ffa42c2b23d8581b10e753112">&#9670;&#160;</a></span>ItemId</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Monster.Data.PokemonWildItems.ItemId</td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<a id="af23ff854861e488232a798edb8540660" name="af23ff854861e488232a798edb8540660"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af23ff854861e488232a798edb8540660">&#9670;&#160;</a></span>Rarirty</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Monster.Data.PokemonWildItems.Rarirty</td>
        </tr>
      </table>
</div><div class="memdoc">

<p></p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Monster/Pokemon/Data/<a class="el" href="_wild_items_8cs.cshtml">WildItems.cs</a></li>
</ul>
