@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokeRadarMetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.PokeRadarMetaData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokemonUnity.PokeRadarMetaData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml#acb2c23bc7ada5c5fcf5468888a75bd5c">ChainCount</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokemonUnity.PokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml#a679c0525f2bfecbbcf2b15c3f62e1daa">Grass</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokemonUnity.PokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml#a674c414262ff41283b95b1d51a669b2d">Level</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokemonUnity.PokeRadarMetaData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml#a2bb3ebed03eeb1d3193436fcba5cfe89">Species</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radar_meta_data.cshtml">PokemonUnity.PokeRadarMetaData</a></td><td class="entry"></td></tr>
</table>
