@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.TrainerData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a882e5052d22cf13b781c10fffeaf5a3e">BaseMoney</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#aa60a2d4fbcbbb07526f70543f0b66e65">Equals</a>(TrainerData obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#abcbd0bb9f4fab718e1f0ba0d08691f7e">Equals</a>(object obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a40b2a779375b77a80ee719c8043ad72f">Equals</a>(TrainerData other)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ad33f1ec100c8034a7c73dd186c6fdec9">Equals</a>(TrainerData x, TrainerData y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a71739b326e72b3f122778637085f7724">Gender</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#aa4e7602ed30f774f1ab71e268bebe167">GetHashCode</a>()</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ab991f38a4177fd185b85694b3eed8785">GetHashCode</a>(TrainerData obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ad9c975d4fcc5b1210438b0cdf306011f">ID</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a8bb6ef3503940c33056de84e7cc7fae8">Name</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a55707a2d28b8c349b71bec9c66c6a0c0">operator!=</a>(TrainerData x, TrainerData y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a9bc2534cbf5cd618474aa82ec5f9129f">operator==</a>(TrainerData x, TrainerData y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a50c9ba6abf4bc2f7fdee347fc1a0c20b">PlayerID</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a2f8b49c91c077052e76fb7dc83aec6e6">SecretID</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a4a055e8346d362c445fcb7c3decf410b">TrainerData</a>(string name, bool gender, int? tID=null, int? sID=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a796458d884e334a016148c2e95115968">TrainerData</a>(TrainerTypes trainer, string name=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a24e6562c5a7d13e0790106d8fcb2a0f1">TrainerID</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">PokemonUnity.Character.TrainerData</a></td><td class="entry"></td></tr>
</table>