@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokeRadars</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.PokeRadars Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a081e1061c17715faab447d445884a185">EncounterChance</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#ab1a643730e020c1b48dec8b02d85ec7d">LevelMinMax</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a7033d4bd5126446cf4e380eab6302528">MapId</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a65b9851f06509679e90c2888da80ef69">PokeRadars</a>(int map, Pokemons pkmn, int chance, byte min, byte max)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#a352b8a86c3c345d8ed21423f90960c0c">PokeRadars</a>(int map, Pokemons pkmn, int chance, byte min)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml#af78e46cb5284a5426f768a29670d3de4">Species</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_poke_radars.cshtml">PokemonUnity.PokeRadars</a></td><td class="entry"></td></tr>
</table>