@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">EncounterData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.EncounterData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a5df225cc70a6767680a553397bf7d4e5">Conditions</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a622217356006a1b3f1d424514b8bccea">EncounterData</a>(int id, int mapId, Method method, int slotId, Pokemons[] pokemon=null, ConditionValue[] conditions=null, int generation=0, int minLevel=1, int maxLevel=1, int rarity=0, Versions[] versions=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a08889f3fc350c4772069bec2ab024a3b">Generation</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ad9648a4bb9d4874529ae36e9ec3cb5c5">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac17a1b32125ea0267dcad1a6e20098a6">MapId</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a0e6b2a49149e4404300721d36015f1f7">MaxLevel</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a45f14bab355e25b14429be4b27325fe7">Method</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aedf6d71c541acea785c9162f6e54e07e">MinLevel</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#aea1792e21119650be5308875b993003c">Pokemon</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#adb7b9b8f9281341a7d75fcc71601cf74">Rarity</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#ac04ac59d07fda4cca141def77f2cd8df">SlotId</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml#a599bc755a6dca6e7cc243b0ef6ef3ce9">Versions</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_encounter_data.cshtml">PokemonUnity.Overworld.EncounterData</a></td><td class="entry"></td></tr>
</table>