@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">MetadataPosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.MetadataPosition Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">PokemonEssentials.Interface.Field.MetadataPosition</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a080ed77a1f2e293e7cb02c4bda575f73">Direction</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">PokemonEssentials.Interface.Field.MetadataPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a6dd34f0cc5273314c9b23aa8f781016a">MapId</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">PokemonEssentials.Interface.Field.MetadataPosition</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a71b83de317d7c9c29f6d4bb38578a164">X</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">PokemonEssentials.Interface.Field.MetadataPosition</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#aef8f25b72e1ee7f8afc1de0563ea6381">Y</a></td><td class="entry"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">PokemonEssentials.Interface.Field.MetadataPosition</a></td><td class="entry"></td></tr>
</table>