@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Inventory.ItemFlag Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml">ItemFlag</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.ItemFlag Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a02937b30ac821cfac89202fc79a2109a"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a02937b30ac821cfac89202fc79a2109a">ItemFlag</a> (bool countable=false, bool consumable=false, bool useableOverworld=false, bool useableBattle=false, bool holdable=false, bool holdablePassive=false, bool holdableActive=false, bool underground=false)</td></tr>
<tr class="separator:a02937b30ac821cfac89202fc79a2109a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:aeaba81bf6b16db743d203be0effef1fa"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#aeaba81bf6b16db743d203be0effef1fa">Countable</a><code> [get]</code></td></tr>
<tr class="memdesc:aeaba81bf6b16db743d203be0effef1fa"><td class="mdescLeft">&#160;</td><td class="mdescRight">Has a count in the bag   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#aeaba81bf6b16db743d203be0effef1fa">More...</a><br /></td></tr>
<tr class="separator:aeaba81bf6b16db743d203be0effef1fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab4fdadc287310b736b4df455c9d4b76b"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#ab4fdadc287310b736b4df455c9d4b76b">Consumable</a><code> [get]</code></td></tr>
<tr class="memdesc:ab4fdadc287310b736b4df455c9d4b76b"><td class="mdescLeft">&#160;</td><td class="mdescRight">Consumed when used   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#ab4fdadc287310b736b4df455c9d4b76b">More...</a><br /></td></tr>
<tr class="separator:ab4fdadc287310b736b4df455c9d4b76b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aefba57996af88edbb9b25127fc00f4b9"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#aefba57996af88edbb9b25127fc00f4b9">Useable_Overworld</a><code> [get]</code></td></tr>
<tr class="memdesc:aefba57996af88edbb9b25127fc00f4b9"><td class="mdescLeft">&#160;</td><td class="mdescRight">Usable outside battle   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#aefba57996af88edbb9b25127fc00f4b9">More...</a><br /></td></tr>
<tr class="separator:aefba57996af88edbb9b25127fc00f4b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a5482c8e3be0fac170afebc6f6905a4de"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a5482c8e3be0fac170afebc6f6905a4de">Useable_In_Battle</a><code> [get]</code></td></tr>
<tr class="memdesc:a5482c8e3be0fac170afebc6f6905a4de"><td class="mdescLeft">&#160;</td><td class="mdescRight">Usable in battle   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a5482c8e3be0fac170afebc6f6905a4de">More...</a><br /></td></tr>
<tr class="separator:a5482c8e3be0fac170afebc6f6905a4de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a08ad81b1d16b3f716bc8d962be95e0c5"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a08ad81b1d16b3f716bc8d962be95e0c5">Holdable</a><code> [get]</code></td></tr>
<tr class="memdesc:a08ad81b1d16b3f716bc8d962be95e0c5"><td class="mdescLeft">&#160;</td><td class="mdescRight">Can be held by a pokemon   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a08ad81b1d16b3f716bc8d962be95e0c5">More...</a><br /></td></tr>
<tr class="separator:a08ad81b1d16b3f716bc8d962be95e0c5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a635ebfe13870bca083f61565be54bb5c"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a635ebfe13870bca083f61565be54bb5c">Holdable_Passive</a><code> [get]</code></td></tr>
<tr class="memdesc:a635ebfe13870bca083f61565be54bb5c"><td class="mdescLeft">&#160;</td><td class="mdescRight">Works passively when held   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a635ebfe13870bca083f61565be54bb5c">More...</a><br /></td></tr>
<tr class="separator:a635ebfe13870bca083f61565be54bb5c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a000d364c4f2cc372193e8a67b7a6051d"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a000d364c4f2cc372193e8a67b7a6051d">Holdable_Active</a><code> [get]</code></td></tr>
<tr class="memdesc:a000d364c4f2cc372193e8a67b7a6051d"><td class="mdescLeft">&#160;</td><td class="mdescRight">Usable by a pokemon when held   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#a000d364c4f2cc372193e8a67b7a6051d">More...</a><br /></td></tr>
<tr class="separator:a000d364c4f2cc372193e8a67b7a6051d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ade01ac605080034a040274e016a54bed"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#ade01ac605080034a040274e016a54bed">Underground</a><code> [get]</code></td></tr>
<tr class="memdesc:ade01ac605080034a040274e016a54bed"><td class="mdescLeft">&#160;</td><td class="mdescRight">Appears in Sinnoh Underground   <a href="struct_pokemon_unity_1_1_inventory_1_1_item_flag.cshtml#ade01ac605080034a040274e016a54bed">More...</a><br /></td></tr>
<tr class="separator:ade01ac605080034a040274e016a54bed"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a02937b30ac821cfac89202fc79a2109a" name="a02937b30ac821cfac89202fc79a2109a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02937b30ac821cfac89202fc79a2109a">&#9670;&#160;</a></span>ItemFlag()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Inventory.ItemFlag.ItemFlag </td>
          <td>(</td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>countable</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>consumable</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>useableOverworld</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>useableBattle</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>holdable</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>holdablePassive</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>holdableActive</em> = <code>false</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>underground</em> = <code>false</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="ab4fdadc287310b736b4df455c9d4b76b" name="ab4fdadc287310b736b4df455c9d4b76b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab4fdadc287310b736b4df455c9d4b76b">&#9670;&#160;</a></span>Consumable</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Consumable</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Consumed when used  </p>

</div>
</div>
<a id="aeaba81bf6b16db743d203be0effef1fa" name="aeaba81bf6b16db743d203be0effef1fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aeaba81bf6b16db743d203be0effef1fa">&#9670;&#160;</a></span>Countable</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Countable</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Has a count in the bag  </p>

</div>
</div>
<a id="a08ad81b1d16b3f716bc8d962be95e0c5" name="a08ad81b1d16b3f716bc8d962be95e0c5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a08ad81b1d16b3f716bc8d962be95e0c5">&#9670;&#160;</a></span>Holdable</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Holdable</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Can be held by a pokemon  </p>

</div>
</div>
<a id="a000d364c4f2cc372193e8a67b7a6051d" name="a000d364c4f2cc372193e8a67b7a6051d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a000d364c4f2cc372193e8a67b7a6051d">&#9670;&#160;</a></span>Holdable_Active</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Holdable_Active</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Usable by a pokemon when held  </p>

</div>
</div>
<a id="a635ebfe13870bca083f61565be54bb5c" name="a635ebfe13870bca083f61565be54bb5c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a635ebfe13870bca083f61565be54bb5c">&#9670;&#160;</a></span>Holdable_Passive</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Holdable_Passive</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Works passively when held  </p>

</div>
</div>
<a id="ade01ac605080034a040274e016a54bed" name="ade01ac605080034a040274e016a54bed"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ade01ac605080034a040274e016a54bed">&#9670;&#160;</a></span>Underground</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Underground</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Appears in Sinnoh Underground  </p>

</div>
</div>
<a id="a5482c8e3be0fac170afebc6f6905a4de" name="a5482c8e3be0fac170afebc6f6905a4de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a5482c8e3be0fac170afebc6f6905a4de">&#9670;&#160;</a></span>Useable_In_Battle</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Useable_In_Battle</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Usable in battle  </p>

</div>
</div>
<a id="aefba57996af88edbb9b25127fc00f4b9" name="aefba57996af88edbb9b25127fc00f4b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aefba57996af88edbb9b25127fc00f4b9">&#9670;&#160;</a></span>Useable_Overworld</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.ItemFlag.Useable_Overworld</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Usable outside battle  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Inventory/Data/<a class="el" href="_item_flags_8cs.cshtml">ItemFlags.cs</a></li>
</ul>

