@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonUnity.Character.Pokedex Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml">Pokedex</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_pokedex-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.Pokedex Struct Reference</div></div>
}


<p>The names of each Dex list in the game, in order and with National Dex at the end. This is also the order that PokemonGlobal.pokedexUnlocked is in, which records which Dexes have been unlocked (first is unlocked by default).  
 <a href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:af1a35ef926576344f16dbd8ae39d825a"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#af1a35ef926576344f16dbd8ae39d825a">Name</a><code> [get]</code></td></tr>
<tr class="memdesc:af1a35ef926576344f16dbd8ae39d825a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Name of the <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml" title="The names of each Dex list in the game, in order and with National Dex at the end....">Pokedex</a>   <a href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#af1a35ef926576344f16dbd8ae39d825a">More...</a><br /></td></tr>
<tr class="separator:af1a35ef926576344f16dbd8ae39d825a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a292d59b68ad6f72c3df5720d8a2b3e98"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">PokemonUnity.Regions</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a292d59b68ad6f72c3df5720d8a2b3e98">Region</a><code> [get]</code></td></tr>
<tr class="memdesc:a292d59b68ad6f72c3df5720d8a2b3e98"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map Region this <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml" title="The names of each Dex list in the game, in order and with National Dex at the end....">Pokedex</a> covers   <a href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a292d59b68ad6f72c3df5720d8a2b3e98">More...</a><br /></td></tr>
<tr class="separator:a292d59b68ad6f72c3df5720d8a2b3e98"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a34cb74130877112a86debd3c6a021548"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">PokemonUnity.Pokemons</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a34cb74130877112a86debd3c6a021548">PokemonIndex</a><code> [get]</code></td></tr>
<tr class="memdesc:a34cb74130877112a86debd3c6a021548"><td class="mdescLeft">&#160;</td><td class="mdescRight">An array of numbers, where each number is that of a Dex list (National Dex is -1). All Dex lists included here have the species numbers in them reduced by 1, thus making the first listed species have a species number of 0 (e.g. Victini in Unova's Dex).   <a href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml#a34cb74130877112a86debd3c6a021548">More...</a><br /></td></tr>
<tr class="separator:a34cb74130877112a86debd3c6a021548"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >The names of each Dex list in the game, in order and with National Dex at the end. This is also the order that PokemonGlobal.pokedexUnlocked is in, which records which Dexes have been unlocked (first is unlocked by default). </p>
<p >You can define which region a particular Dex list is linked to. This means the area map shown while viewing that Dex list will ALWAYS be that of the defined region, rather than whichever region the player is currently in. To define this, put the Dex name and the region number in an array, like the Kanto and Johto Dexes are. The National Dex isn't in an array with a region number, therefore its area map is whichever region the player is currently in.  </p>
</div><h2 class="groupheader">Property Documentation</h2>
<a id="af1a35ef926576344f16dbd8ae39d825a" name="af1a35ef926576344f16dbd8ae39d825a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af1a35ef926576344f16dbd8ae39d825a">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.Pokedex.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Name of the <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml" title="The names of each Dex list in the game, in order and with National Dex at the end....">Pokedex</a>  </p>
<p >Translated from DB </p>

</div>
</div>
<a id="a34cb74130877112a86debd3c6a021548" name="a34cb74130877112a86debd3c6a021548"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a34cb74130877112a86debd3c6a021548">&#9670;&#160;</a></span>PokemonIndex</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#aa6eb2463614633fcdf93f95a6816bb47">PokemonUnity.Pokemons</a> [] PokemonUnity.Character.Pokedex.PokemonIndex</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>An array of numbers, where each number is that of a Dex list (National Dex is -1). All Dex lists included here have the species numbers in them reduced by 1, thus making the first listed species have a species number of 0 (e.g. Victini in Unova's Dex).  </p>
<p >The pokedex created using individual pokemon entries. The order of pokemons loaded, determines the Id of the pokemon, in the pokedex. </p>
<p >Easier to program what you want it to do, when it's just a list of pokemoon Ids </p>

</div>
</div>
<a id="a292d59b68ad6f72c3df5720d8a2b3e98" name="a292d59b68ad6f72c3df5720d8a2b3e98"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a292d59b68ad6f72c3df5720d8a2b3e98">&#9670;&#160;</a></span>Region</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a17eca1e58baafe3f66cb048541dc1171">PokemonUnity.Regions</a> PokemonUnity.Character.Pokedex.Region</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map Region this <a class="el" href="struct_pokemon_unity_1_1_character_1_1_pokedex.cshtml" title="The names of each Dex list in the game, in order and with National Dex at the end....">Pokedex</a> covers  </p>
<p >Generation Equal to or greater than 0 assigns to region id </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/Gear/<a class="el" href="_pokedex_8cs.cshtml">Pokedex.cs</a></li>
</ul>

