@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PlayerOutfit</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.PlayerOutfit Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a4b4d8ad17fd7ac2c629460e2ca71bf2e">Equals</a>(PlayerOutfit obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a29b5e38f7986a5c717b94ed5b7112ce4">Equals</a>(object obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a2b02f1b192c15b5fba5d9a7a4f7198dc">Equals</a>(PlayerOutfit other)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aad1d570b2ead3313af086000cc87b7e2">Equals</a>(PlayerOutfit x, PlayerOutfit y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a87f362b89c6fd2f4168ca31f67a2ac01">GetHashCode</a>()</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a407f3bc775e2ff53f11dd05665eaa92e">GetHashCode</a>(PlayerOutfit obj)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a63e0a13533566e1cfba4f708a8358af1">Hat</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aa77eb4e5622b23a95ddef4b4e8bedfd5">Misc</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a4630ca76c4e7424b1630e9ce852d63bb">operator!=</a>(PlayerOutfit x, PlayerOutfit y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a8bb3b6b9c18fbf688c5f338145acf0f8">operator==</a>(PlayerOutfit x, PlayerOutfit y)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#aed4eca7dbe77a065209da0e820071f6c">Outfit</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a75f11b874935a7dd5d60de89adfb0f52">Pant</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#a86fc598127771755b6ca1502eba4c38a">PlayerOutfit</a>(int outfit, int shirt, int pant, int misc, int hat)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml#ad45a3d33d1920019024fa9dff8f50d0f">Shirt</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_player_outfit.cshtml">PokemonUnity.Character.PlayerOutfit</a></td><td class="entry"></td></tr>
</table></div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
