@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.GlobalMetadata Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml">GlobalMetadata</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.GlobalMetadata Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a05687a8d582e87ea49fa7956a69d61db"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a05687a8d582e87ea49fa7956a69d61db">MapId</a><code> [get, set]</code></td></tr>
<tr class="separator:a05687a8d582e87ea49fa7956a69d61db"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa5a9b3b2baee74f5e56e58b15af5f4fe"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">MetadataPlayer</a>[]&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#aa5a9b3b2baee74f5e56e58b15af5f4fe">Players</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aa5a9b3b2baee74f5e56e58b15af5f4fe"><td class="mdescLeft">&#160;</td><td class="mdescRight">The charsets mentioned should depict the "default" outfit for that player character, i.e. they have no outfit ID number at the end of their filenames.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#aa5a9b3b2baee74f5e56e58b15af5f4fe">More...</a><br /></td></tr>
<tr class="separator:aa5a9b3b2baee74f5e56e58b15af5f4fe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a302347327ef70ffd218749e8983dbb5b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">MetadataPosition</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a302347327ef70ffd218749e8983dbb5b">Home</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a302347327ef70ffd218749e8983dbb5b"><td class="mdescLeft">&#160;</td><td class="mdescRight">The point that the player is transferred to when they black out but no Pok&eacute; Center has been visited yet.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a302347327ef70ffd218749e8983dbb5b">More...</a><br /></td></tr>
<tr class="separator:a302347327ef70ffd218749e8983dbb5b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0c0445fbb193915ad9619c8273f59f18"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a0c0445fbb193915ad9619c8273f59f18">BicycleBGM</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a0c0445fbb193915ad9619c8273f59f18"><td class="mdescLeft">&#160;</td><td class="mdescRight">The background music that plays while the player is cycling.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a0c0445fbb193915ad9619c8273f59f18">More...</a><br /></td></tr>
<tr class="separator:a0c0445fbb193915ad9619c8273f59f18"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ec025bd1effc10427a1443cfe9b1293"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a4ec025bd1effc10427a1443cfe9b1293">SurfBGM</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a4ec025bd1effc10427a1443cfe9b1293"><td class="mdescLeft">&#160;</td><td class="mdescRight">The background music that plays while the player is surfing.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a4ec025bd1effc10427a1443cfe9b1293">More...</a><br /></td></tr>
<tr class="separator:a4ec025bd1effc10427a1443cfe9b1293"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad02ad6ca21b3c4f50befad556a95ccc4"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#ad02ad6ca21b3c4f50befad556a95ccc4">WildBattleBGM</a><code> [get, set]</code></td></tr>
<tr class="memdesc:ad02ad6ca21b3c4f50befad556a95ccc4"><td class="mdescLeft">&#160;</td><td class="mdescRight">The default music that plays during wild Pok&eacute;mon battles. It should be placed in the "Audio/BGM" directory.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#ad02ad6ca21b3c4f50befad556a95ccc4">More...</a><br /></td></tr>
<tr class="separator:ad02ad6ca21b3c4f50befad556a95ccc4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a448c1819f6f746ae4f189a7aa8ffbdeb"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a448c1819f6f746ae4f189a7aa8ffbdeb">TrainerBattleBGM</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a448c1819f6f746ae4f189a7aa8ffbdeb"><td class="mdescLeft">&#160;</td><td class="mdescRight">The default music that plays during trainer battles. It should be placed in the "Audio/BGM" directory.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a448c1819f6f746ae4f189a7aa8ffbdeb">More...</a><br /></td></tr>
<tr class="separator:a448c1819f6f746ae4f189a7aa8ffbdeb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a42458dbf2a17e6d6f22d3e148ad9b9cf"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a42458dbf2a17e6d6f22d3e148ad9b9cf">WildVictoryME</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a42458dbf2a17e6d6f22d3e148ad9b9cf"><td class="mdescLeft">&#160;</td><td class="mdescRight">The default victory music that plays at the end of a won wild Pok&eacute;mon battle. It should be placed in the "Audio/ME" directory.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a42458dbf2a17e6d6f22d3e148ad9b9cf">More...</a><br /></td></tr>
<tr class="separator:a42458dbf2a17e6d6f22d3e148ad9b9cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af6f2be7c96e97efe81f94e33e32ef261"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#af6f2be7c96e97efe81f94e33e32ef261">TrainerVictoryME</a><code> [get, set]</code></td></tr>
<tr class="memdesc:af6f2be7c96e97efe81f94e33e32ef261"><td class="mdescLeft">&#160;</td><td class="mdescRight">The default victory music that plays at the end of a won Trainer battle. It should be placed in the "Audio/ME" directory.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#af6f2be7c96e97efe81f94e33e32ef261">More...</a><br /></td></tr>
<tr class="separator:af6f2be7c96e97efe81f94e33e32ef261"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a02c1ba31c84e64f575c85541b066ed87"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a02c1ba31c84e64f575c85541b066ed87">WildCaptureME</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a02c1ba31c84e64f575c85541b066ed87"><td class="mdescLeft">&#160;</td><td class="mdescRight">The default capture music that plays at the end of a captured Pok&eacute;mon battle. It should be placed in the "Audio/ME" directory.   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_global_metadata.cshtml#a02c1ba31c84e64f575c85541b066ed87">More...</a><br /></td></tr>
<tr class="separator:a02c1ba31c84e64f575c85541b066ed87"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a0c0445fbb193915ad9619c8273f59f18" name="a0c0445fbb193915ad9619c8273f59f18"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0c0445fbb193915ad9619c8273f59f18">&#9670;&#160;</a></span>BicycleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.BicycleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The background music that plays while the player is cycling.  </p>

</div>
</div>
<a id="a302347327ef70ffd218749e8983dbb5b" name="a302347327ef70ffd218749e8983dbb5b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a302347327ef70ffd218749e8983dbb5b">&#9670;&#160;</a></span>Home</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">MetadataPosition</a> PokemonEssentials.Interface.Field.GlobalMetadata.Home</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The point that the player is transferred to when they black out but no Pok&eacute; Center has been visited yet.  </p>
<p >The map identified by this metadata must have an event page with the "Autorun" trigger, which depends on the Game Switch called "Starting Over" (number 1 by default). This event page, when run, must heal all Pok&eacute;mon in the player's party (use the event command "Recover All: Entire Party" for this), and then turn that Game Switch OFF again. </p>

</div>
</div>
<a id="a05687a8d582e87ea49fa7956a69d61db" name="a05687a8d582e87ea49fa7956a69d61db"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a05687a8d582e87ea49fa7956a69d61db">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.GlobalMetadata.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa5a9b3b2baee74f5e56e58b15af5f4fe" name="aa5a9b3b2baee74f5e56e58b15af5f4fe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa5a9b3b2baee74f5e56e58b15af5f4fe">&#9670;&#160;</a></span>Players</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_player.cshtml">MetadataPlayer</a> [] PokemonEssentials.Interface.Field.GlobalMetadata.Players</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The charsets mentioned should depict the "default" outfit for that player character, i.e. they have no outfit ID number at the end of their filenames.  </p>
<p >Typically, "PlayerA" will correspond to the male player character, and "PlayerB" the female one. </p>

</div>
</div>
<a id="a4ec025bd1effc10427a1443cfe9b1293" name="a4ec025bd1effc10427a1443cfe9b1293"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ec025bd1effc10427a1443cfe9b1293">&#9670;&#160;</a></span>SurfBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.SurfBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The background music that plays while the player is surfing.  </p>

</div>
</div>
<a id="a448c1819f6f746ae4f189a7aa8ffbdeb" name="a448c1819f6f746ae4f189a7aa8ffbdeb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a448c1819f6f746ae4f189a7aa8ffbdeb">&#9670;&#160;</a></span>TrainerBattleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.TrainerBattleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The default music that plays during trainer battles. It should be placed in the "Audio/BGM" directory.  </p>

</div>
</div>
<a id="af6f2be7c96e97efe81f94e33e32ef261" name="af6f2be7c96e97efe81f94e33e32ef261"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af6f2be7c96e97efe81f94e33e32ef261">&#9670;&#160;</a></span>TrainerVictoryME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.TrainerVictoryME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The default victory music that plays at the end of a won Trainer battle. It should be placed in the "Audio/ME" directory.  </p>

</div>
</div>
<a id="ad02ad6ca21b3c4f50befad556a95ccc4" name="ad02ad6ca21b3c4f50befad556a95ccc4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad02ad6ca21b3c4f50befad556a95ccc4">&#9670;&#160;</a></span>WildBattleBGM</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.WildBattleBGM</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The default music that plays during wild Pok&eacute;mon battles. It should be placed in the "Audio/BGM" directory.  </p>

</div>
</div>
<a id="a02c1ba31c84e64f575c85541b066ed87" name="a02c1ba31c84e64f575c85541b066ed87"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a02c1ba31c84e64f575c85541b066ed87">&#9670;&#160;</a></span>WildCaptureME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.WildCaptureME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The default capture music that plays at the end of a captured Pok&eacute;mon battle. It should be placed in the "Audio/ME" directory.  </p>

</div>
</div>
<a id="a42458dbf2a17e6d6f22d3e148ad9b9cf" name="a42458dbf2a17e6d6f22d3e148ad9b9cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a42458dbf2a17e6d6f22d3e148ad9b9cf">&#9670;&#160;</a></span>WildVictoryME</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonEssentials.Interface.Field.GlobalMetadata.WildVictoryME</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The default victory music that plays at the end of a won wild Pok&eacute;mon battle. It should be placed in the "Audio/ME" directory.  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>

