@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">HiddenMoveData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Character.HiddenMoveData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#a799d1c6e7873a10058ace0c57ea37045">Badge</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#aaefd0506ae30390ed4d52ecd17a586f1">Badges</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#a7c1dde51f3d4ea19a2f75e4dfd456982">HiddenMoveData</a>(HiddenMoves id, Moves move, GymBadges badge, byte badges)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#aae03cc95df1925c6426cdcbe595e9618">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml#abe910ad3c7deb532cba14d564d77be76">Move</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_hidden_move_data.cshtml">PokemonUnity.Character.HiddenMoveData</a></td><td class="entry"></td></tr>
</table>