@{
	Page.Title = "PokemonUnity.Attack.Data.MetaData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml">Attack</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_attack_1_1_data.cshtml">Data</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml">MetaData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Attack.Data.MetaData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ad10425116764d1e98ba3dc1f98f2aab4"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#ad10425116764d1e98ba3dc1f98f2aab4">MetaData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> move=Moves.NONE, <a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#a1400de88242ebf00787b487b00f2cd93">MetaCategory</a> category=MetaCategory.DAMAGE, <a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#affd30f13d99663785ec373da3e6aa94d">MoveMetaAilments</a> ailment=MoveMetaAilments.NONE, int? minHits=null, int? maxHits=null, int? minTurns=null, int? maxTurns=null, int drain=0, int healing=0, int critRate=0, int ailmentChance=0, int flinchChance=0, int statChance=0)</td></tr>
<tr class="separator:ad10425116764d1e98ba3dc1f98f2aab4"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a65e3b87f7ea4572425646146f08f4796"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a65e3b87f7ea4572425646146f08f4796">Move</a> <code>[get]</code></td></tr>
<tr class="separator:a65e3b87f7ea4572425646146f08f4796"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afc5bbd6d44433bdba177a5a8629bc26b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#a1400de88242ebf00787b487b00f2cd93">MetaCategory</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#afc5bbd6d44433bdba177a5a8629bc26b">Category</a> <code>[get]</code></td></tr>
<tr class="separator:afc5bbd6d44433bdba177a5a8629bc26b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af7420bb8bf13c8f75d0ac8254a60c321"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#affd30f13d99663785ec373da3e6aa94d">MoveMetaAilments</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#af7420bb8bf13c8f75d0ac8254a60c321">Ailment</a> <code>[get]</code></td></tr>
<tr class="separator:af7420bb8bf13c8f75d0ac8254a60c321"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a00972dd7c0f80e7f89d03dc83f2bdf0b"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a00972dd7c0f80e7f89d03dc83f2bdf0b">MinHits</a> <code>[get]</code></td></tr>
<tr class="separator:a00972dd7c0f80e7f89d03dc83f2bdf0b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aec4bd4e5876686ed8830b3d1e533d37c"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#aec4bd4e5876686ed8830b3d1e533d37c">MaxHits</a> <code>[get]</code></td></tr>
<tr class="separator:aec4bd4e5876686ed8830b3d1e533d37c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a0a7353bee91ba4cedd30795b8ce70ccc"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a0a7353bee91ba4cedd30795b8ce70ccc">MinTurns</a> <code>[get]</code></td></tr>
<tr class="separator:a0a7353bee91ba4cedd30795b8ce70ccc"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a26d3a926b1d4e32649f3e8bc32232cd4"><td class="memItemLeft" align="right" valign="top">int?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a26d3a926b1d4e32649f3e8bc32232cd4">MaxTurns</a> <code>[get]</code></td></tr>
<tr class="separator:a26d3a926b1d4e32649f3e8bc32232cd4"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a705b671a0d4ed2852c8911c727397332"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a705b671a0d4ed2852c8911c727397332">Drain</a> <code>[get]</code></td></tr>
<tr class="separator:a705b671a0d4ed2852c8911c727397332"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:af38ed3586ecce773989923b2ff322f4e"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#af38ed3586ecce773989923b2ff322f4e">Healing</a> <code>[get]</code></td></tr>
<tr class="separator:af38ed3586ecce773989923b2ff322f4e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afd34f2c924b09c1e46b57e78aba6ab2a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#afd34f2c924b09c1e46b57e78aba6ab2a">CritRate</a> <code>[get]</code></td></tr>
<tr class="separator:afd34f2c924b09c1e46b57e78aba6ab2a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a032f6e776bd2ab992220ca6bb660092b"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a032f6e776bd2ab992220ca6bb660092b">AilmentChance</a> <code>[get]</code></td></tr>
<tr class="separator:a032f6e776bd2ab992220ca6bb660092b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a29e388fbf40d5fc49967a11a4dfbaf49"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a29e388fbf40d5fc49967a11a4dfbaf49">FlinchChance</a> <code>[get]</code></td></tr>
<tr class="separator:a29e388fbf40d5fc49967a11a4dfbaf49"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a01d195d3f72aa7406dccf9a44c813540"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_attack_1_1_data_1_1_meta_data.cshtml#a01d195d3f72aa7406dccf9a44c813540">StatChance</a> <code>[get]</code></td></tr>
<tr class="separator:a01d195d3f72aa7406dccf9a44c813540"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="ad10425116764d1e98ba3dc1f98f2aab4" name="ad10425116764d1e98ba3dc1f98f2aab4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad10425116764d1e98ba3dc1f98f2aab4">&#9670;&#160;</a></span>MetaData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Attack.Data.MetaData.MetaData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a>&#160;</td>
          <td class="paramname"><em>move</em> = <code>Moves.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#a1400de88242ebf00787b487b00f2cd93">MetaCategory</a>&#160;</td>
          <td class="paramname"><em>category</em> = <code>MetaCategory.DAMAGE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#affd30f13d99663785ec373da3e6aa94d">MoveMetaAilments</a>&#160;</td>
          <td class="paramname"><em>ailment</em> = <code>MoveMetaAilments.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>minHits</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>maxHits</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>minTurns</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>maxTurns</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>drain</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>healing</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>critRate</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ailmentChance</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>flinchChance</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>statChance</em> = <code>0</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="af7420bb8bf13c8f75d0ac8254a60c321" name="af7420bb8bf13c8f75d0ac8254a60c321"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af7420bb8bf13c8f75d0ac8254a60c321">&#9670;&#160;</a></span>Ailment</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#affd30f13d99663785ec373da3e6aa94d">MoveMetaAilments</a> PokemonUnity.Attack.Data.MetaData.Ailment</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a032f6e776bd2ab992220ca6bb660092b" name="a032f6e776bd2ab992220ca6bb660092b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a032f6e776bd2ab992220ca6bb660092b">&#9670;&#160;</a></span>AilmentChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.AilmentChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afc5bbd6d44433bdba177a5a8629bc26b" name="afc5bbd6d44433bdba177a5a8629bc26b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afc5bbd6d44433bdba177a5a8629bc26b">&#9670;&#160;</a></span>Category</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_attack.cshtml#a1400de88242ebf00787b487b00f2cd93">MetaCategory</a> PokemonUnity.Attack.Data.MetaData.Category</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="afd34f2c924b09c1e46b57e78aba6ab2a" name="afd34f2c924b09c1e46b57e78aba6ab2a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afd34f2c924b09c1e46b57e78aba6ab2a">&#9670;&#160;</a></span>CritRate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.CritRate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a705b671a0d4ed2852c8911c727397332" name="a705b671a0d4ed2852c8911c727397332"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a705b671a0d4ed2852c8911c727397332">&#9670;&#160;</a></span>Drain</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.Drain</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a29e388fbf40d5fc49967a11a4dfbaf49" name="a29e388fbf40d5fc49967a11a4dfbaf49"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a29e388fbf40d5fc49967a11a4dfbaf49">&#9670;&#160;</a></span>FlinchChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.FlinchChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="af38ed3586ecce773989923b2ff322f4e" name="af38ed3586ecce773989923b2ff322f4e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#af38ed3586ecce773989923b2ff322f4e">&#9670;&#160;</a></span>Healing</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.Healing</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aec4bd4e5876686ed8830b3d1e533d37c" name="aec4bd4e5876686ed8830b3d1e533d37c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aec4bd4e5876686ed8830b3d1e533d37c">&#9670;&#160;</a></span>MaxHits</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Data.MetaData.MaxHits</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a26d3a926b1d4e32649f3e8bc32232cd4" name="a26d3a926b1d4e32649f3e8bc32232cd4"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a26d3a926b1d4e32649f3e8bc32232cd4">&#9670;&#160;</a></span>MaxTurns</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Data.MetaData.MaxTurns</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a00972dd7c0f80e7f89d03dc83f2bdf0b" name="a00972dd7c0f80e7f89d03dc83f2bdf0b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a00972dd7c0f80e7f89d03dc83f2bdf0b">&#9670;&#160;</a></span>MinHits</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Data.MetaData.MinHits</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a0a7353bee91ba4cedd30795b8ce70ccc" name="a0a7353bee91ba4cedd30795b8ce70ccc"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0a7353bee91ba4cedd30795b8ce70ccc">&#9670;&#160;</a></span>MinTurns</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int? PokemonUnity.Attack.Data.MetaData.MinTurns</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a65e3b87f7ea4572425646146f08f4796" name="a65e3b87f7ea4572425646146f08f4796"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a65e3b87f7ea4572425646146f08f4796">&#9670;&#160;</a></span>Move</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af1839a452927e1d32ae272ee55e5ac97">Moves</a> PokemonUnity.Attack.Data.MetaData.Move</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a01d195d3f72aa7406dccf9a44c813540" name="a01d195d3f72aa7406dccf9a44c813540"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a01d195d3f72aa7406dccf9a44c813540">&#9670;&#160;</a></span>StatChance</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Attack.Data.MetaData.StatChance</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Attack/Data/<a class="el" href="_meta_8cs.cshtml">Meta.cs</a></li>
</ul>
