@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">ItemData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.ItemData Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abec3b7ccbc29463c8402426c51436143">BattleUse</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#af15e551ba38f1347cbf1418d9cf320a2">Category</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa7a0f59430075ba6c6723143c001f076">Description</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9f99c299932d47649566fd3926280932">Flags</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aa2cba5ac74953ed6297514fe778f2119">FlingEffect</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#abca373feb5b824612e00d9f65d13b6ba">FlingPower</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a37df228da1b29a49d833118b3cecb4f0">Generations</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a8f9b62bf51b9d5fe31cef3a8601a5ba6">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a6db22f0125d7b2e330249fdf9f3e34c0">IsApricon</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a8e2a8fb6a5026c778df873d771b6b102">IsBerry</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a13e2a3496f6bf0e0b263afb2d6930343">IsGem</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a97fc7c0ba55cf8cb3eca2f78f5cc694d">IsLetter</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#aff993b08713248696fe0d25075c776ca">IsMegaStone</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a1cc5543ce6d2058485b4befd45ffb098">IsPokeBall</a>(Items item)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"><span class="mlabel">static</span></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3c1c94081e49b50f5024d71ed2171354">ItemData</a>(Items itemId, int price=0, ItemCategory itemCategory=ItemCategory.UNUSED, ItemFlag itemFlag=new ItemFlag(), int? power=0, ItemFlingEffect? itemFlingEffect=null, int[] gens=null)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a7de05c2c326770499e32817adb5d2a33">Name</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#ae6f09e9417d7477515e251296623bfe4">Plural</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a9cb4a0692ea4cd5e9420965917aa266a">Pocket</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml#a3bf3bbf609618721d26473edd9a1f8b8">Price</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_item_data.cshtml">PokemonUnity.Inventory.ItemData</a></td><td class="entry"></td></tr>
</table>
