@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity.Inventory.BerryData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml">Inventory</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml">BerryData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Inventory.BerryData Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a0928e0f86c53c97885bfd9a25fb68da8"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a0928e0f86c53c97885bfd9a25fb68da8">BerryData</a> (<a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> berry, <a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">FirmnessLevel</a> firmness, int power=0, <a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> type=Types.NONE, float size=0, int max=0, int growth=0, int soil=0, int smooth=0, int cool=0, int beauty=0, int cute=0, int smart=0, int tough=0, int spicy=0, int dry=0, int sweet=0, int bitter=0, int sour=0, bool @@default=true)</td></tr>
<tr class="separator:a0928e0f86c53c97885bfd9a25fb68da8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa0039b96d535a72772d699f2d68850ea"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa0039b96d535a72772d699f2d68850ea">PokemonLikes</a> (<a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a> p)</td></tr>
<tr class="memdesc:aa0039b96d535a72772d699f2d68850ea"><td class="mdescLeft">&#160;</td><td class="mdescRight">Returns if a Pok&eacute;mon likes this berry based on its flavour.   <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa0039b96d535a72772d699f2d68850ea">More...</a><br /></td></tr>
<tr class="separator:aa0039b96d535a72772d699f2d68850ea"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad879c0f27d490326f7f8b824d677d75a"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ad879c0f27d490326f7f8b824d677d75a">ConfusionBerry</a> ()</td></tr>
<tr class="separator:ad879c0f27d490326f7f8b824d677d75a"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a25d80b69692346ffc4df9209e7774a6d"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a25d80b69692346ffc4df9209e7774a6d">Id</a><code> [get]</code></td></tr>
<tr class="separator:a25d80b69692346ffc4df9209e7774a6d"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a3bde1e0267a217127785ec68ca248dd9"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a3bde1e0267a217127785ec68ca248dd9">Size</a><code> [get]</code></td></tr>
<tr class="memdesc:a3bde1e0267a217127785ec68ca248dd9"><td class="mdescLeft">&#160;</td><td class="mdescRight">In inches...   <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a3bde1e0267a217127785ec68ca248dd9">More...</a><br /></td></tr>
<tr class="separator:a3bde1e0267a217127785ec68ca248dd9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7e351111cd21899e1348695f5f3528f5"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">FirmnessLevel</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a7e351111cd21899e1348695f5f3528f5">Firmness</a><code> [get]</code></td></tr>
<tr class="separator:a7e351111cd21899e1348695f5f3528f5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a20a71cb80a96bd74a26eff9323741672"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a20a71cb80a96bd74a26eff9323741672">Smooth</a><code> [get]</code></td></tr>
<tr class="separator:a20a71cb80a96bd74a26eff9323741672"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa84b9e33f4c168b1c1c06fa15f95668a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa84b9e33f4c168b1c1c06fa15f95668a">maxBerries</a><code> [get]</code></td></tr>
<tr class="memdesc:aa84b9e33f4c168b1c1c06fa15f95668a"><td class="mdescLeft">&#160;</td><td class="mdescRight">The berry yield is set to the maximum berry yield whenever a new Berry is planted or whenever a new plant grows where the old plant used to be.   <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa84b9e33f4c168b1c1c06fa15f95668a">More...</a><br /></td></tr>
<tr class="separator:aa84b9e33f4c168b1c1c06fa15f95668a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa3d3cb15d247e187798311872d8a4c21"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa3d3cb15d247e187798311872d8a4c21">moistIntake</a><code> [get]</code></td></tr>
<tr class="memdesc:aa3d3cb15d247e187798311872d8a4c21"><td class="mdescLeft">&#160;</td><td class="mdescRight">The soil moisture is reduced by X times the moisture intake value, rounded down, but not to less than 0, where X is 0.5 if planted with Damp Mulch, 1.5 if planted with Growth Mulch, and 1 otherwise.   <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa3d3cb15d247e187798311872d8a4c21">More...</a><br /></td></tr>
<tr class="separator:aa3d3cb15d247e187798311872d8a4c21"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac81c3ec4ee54ab48088982d17332f659"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ac81c3ec4ee54ab48088982d17332f659">growthRate</a><code> [get]</code></td></tr>
<tr class="memdesc:ac81c3ec4ee54ab48088982d17332f659"><td class="mdescLeft">&#160;</td><td class="mdescRight">The time it takes to advance from one growth stage to the next is:  <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ac81c3ec4ee54ab48088982d17332f659">More...</a><br /></td></tr>
<tr class="separator:ac81c3ec4ee54ab48088982d17332f659"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a31dab0faed606e6a22c5175ad387d750"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a31dab0faed606e6a22c5175ad387d750">growthTime</a><code> [get]</code></td></tr>
<tr class="memdesc:a31dab0faed606e6a22c5175ad387d750"><td class="mdescLeft">&#160;</td><td class="mdescRight">The time it takes for berry plant to fully mature, and reach final stage. int duration is measured in hours   <a href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a31dab0faed606e6a22c5175ad387d750">More...</a><br /></td></tr>
<tr class="separator:a31dab0faed606e6a22c5175ad387d750"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aecacaa0a1c5ccae118b632e4677d682b"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">PokemonUnity.Colors</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aecacaa0a1c5ccae118b632e4677d682b">Color</a><code> [get]</code></td></tr>
<tr class="separator:aecacaa0a1c5ccae118b632e4677d682b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1b34e1d7e126376c9b060012e92654bf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a1b34e1d7e126376c9b060012e92654bf">Power</a><code> [get]</code></td></tr>
<tr class="separator:a1b34e1d7e126376c9b060012e92654bf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab62b649a02657517fad6de6c288343fa"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ab62b649a02657517fad6de6c288343fa">Type</a><code> [get]</code></td></tr>
<tr class="separator:ab62b649a02657517fad6de6c288343fa"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7650d898240d0c8f1a18c6a330ab592f"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a7650d898240d0c8f1a18c6a330ab592f">Spicy</a><code> [get]</code></td></tr>
<tr class="separator:a7650d898240d0c8f1a18c6a330ab592f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a7a5471fd76f7f95e7ddf03ee4ea752a8"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a7a5471fd76f7f95e7ddf03ee4ea752a8">Dry</a><code> [get]</code></td></tr>
<tr class="separator:a7a5471fd76f7f95e7ddf03ee4ea752a8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a23c91f32e905e6907580f222af6ba1eb"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a23c91f32e905e6907580f222af6ba1eb">Sweet</a><code> [get]</code></td></tr>
<tr class="separator:a23c91f32e905e6907580f222af6ba1eb"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa8d247074adb9d4c134c2562c72990de"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aa8d247074adb9d4c134c2562c72990de">Bitter</a><code> [get]</code></td></tr>
<tr class="separator:aa8d247074adb9d4c134c2562c72990de"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a10e7feeec1fff30de1997d2f4977182c"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a10e7feeec1fff30de1997d2f4977182c">Sour</a><code> [get]</code></td></tr>
<tr class="separator:a10e7feeec1fff30de1997d2f4977182c"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a627c74f7a778e1a4b4f236bec9f57abf"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a627c74f7a778e1a4b4f236bec9f57abf">Cool</a><code> [get]</code></td></tr>
<tr class="separator:a627c74f7a778e1a4b4f236bec9f57abf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:afa846cc7fc57b0fc8b74464cdee28ffe"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#afa846cc7fc57b0fc8b74464cdee28ffe">Beauty</a><code> [get]</code></td></tr>
<tr class="separator:afa846cc7fc57b0fc8b74464cdee28ffe"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aecbf6941a4226c2dbba6eaa6057efbd0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#aecbf6941a4226c2dbba6eaa6057efbd0">Cute</a><code> [get]</code></td></tr>
<tr class="separator:aecbf6941a4226c2dbba6eaa6057efbd0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ac70ce0496074d3a471d81382bc5dd7ee"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ac70ce0496074d3a471d81382bc5dd7ee">Smart</a><code> [get]</code></td></tr>
<tr class="separator:ac70ce0496074d3a471d81382bc5dd7ee"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2833041e6c1bbebed6b22e0317c49eb3"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a2833041e6c1bbebed6b22e0317c49eb3">Tough</a><code> [get]</code></td></tr>
<tr class="separator:a2833041e6c1bbebed6b22e0317c49eb3"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab51b2bb1b01164697bfde79ffdb477bb"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#a180b21ea4ad032ae6916c6162033b48d">Flavours</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#ab51b2bb1b01164697bfde79ffdb477bb">Flavour</a><code> [get]</code></td></tr>
<tr class="separator:ab51b2bb1b01164697bfde79ffdb477bb"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a0928e0f86c53c97885bfd9a25fb68da8" name="a0928e0f86c53c97885bfd9a25fb68da8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a0928e0f86c53c97885bfd9a25fb68da8">&#9670;&#160;</a></span>BerryData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Inventory.BerryData.BerryData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a>&#160;</td>
          <td class="paramname"><em>berry</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">FirmnessLevel</a>&#160;</td>
          <td class="paramname"><em>firmness</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>power</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a>&#160;</td>
          <td class="paramname"><em>type</em> = <code>Types.NONE</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">float&#160;</td>
          <td class="paramname"><em>size</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>max</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>growth</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>soil</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>smooth</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cool</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>beauty</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>cute</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>smart</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>tough</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>spicy</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>dry</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>sweet</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>bitter</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>sour</em> = <code>0</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool @@&#160;</td>
          <td class="paramname"><em>default</em> = <code>true</code>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="ad879c0f27d490326f7f8b824d677d75a" name="ad879c0f27d490326f7f8b824d677d75a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad879c0f27d490326f7f8b824d677d75a">&#9670;&#160;</a></span>ConfusionBerry()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.BerryData.ConfusionBerry </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa0039b96d535a72772d699f2d68850ea" name="aa0039b96d535a72772d699f2d68850ea"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa0039b96d535a72772d699f2d68850ea">&#9670;&#160;</a></span>PokemonLikes()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Inventory.BerryData.PokemonLikes </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="interface_pokemon_essentials_1_1_interface_1_1_poke_battle_1_1_i_pokemon.cshtml">PokemonEssentials.Interface.PokeBattle.IPokemon</a>&#160;</td>
          <td class="paramname"><em>p</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

<p>Returns if a Pok&eacute;mon likes this berry based on its flavour.  </p>
<dl class="params"><dt>Parameters</dt><dd>
  <table class="params">
    <tr><td class="paramname">p</td><td>The Pok&eacute;mon to test this berry for.</td></tr>
  </table>
  </dd>
</dl>

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="afa846cc7fc57b0fc8b74464cdee28ffe" name="afa846cc7fc57b0fc8b74464cdee28ffe"></a>
<h2 class="memtitle"><span class="permalink"><a href="#afa846cc7fc57b0fc8b74464cdee28ffe">&#9670;&#160;</a></span>Beauty</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Beauty</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa8d247074adb9d4c134c2562c72990de" name="aa8d247074adb9d4c134c2562c72990de"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa8d247074adb9d4c134c2562c72990de">&#9670;&#160;</a></span>Bitter</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Bitter</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aecacaa0a1c5ccae118b632e4677d682b" name="aecacaa0a1c5ccae118b632e4677d682b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aecacaa0a1c5ccae118b632e4677d682b">&#9670;&#160;</a></span>Color</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a83e795e3b850fef9a6b36172813dccef">PokemonUnity.Colors</a> PokemonUnity.Inventory.BerryData.Color</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a627c74f7a778e1a4b4f236bec9f57abf" name="a627c74f7a778e1a4b4f236bec9f57abf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a627c74f7a778e1a4b4f236bec9f57abf">&#9670;&#160;</a></span>Cool</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Cool</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aecbf6941a4226c2dbba6eaa6057efbd0" name="aecbf6941a4226c2dbba6eaa6057efbd0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aecbf6941a4226c2dbba6eaa6057efbd0">&#9670;&#160;</a></span>Cute</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Cute</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7a5471fd76f7f95e7ddf03ee4ea752a8" name="a7a5471fd76f7f95e7ddf03ee4ea752a8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7a5471fd76f7f95e7ddf03ee4ea752a8">&#9670;&#160;</a></span>Dry</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Dry</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7e351111cd21899e1348695f5f3528f5" name="a7e351111cd21899e1348695f5f3528f5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7e351111cd21899e1348695f5f3528f5">&#9670;&#160;</a></span>Firmness</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#ae1e22a89978ec77640c4f22ee6ee5537">FirmnessLevel</a> PokemonUnity.Inventory.BerryData.Firmness</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab51b2bb1b01164697bfde79ffdb477bb" name="ab51b2bb1b01164697bfde79ffdb477bb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab51b2bb1b01164697bfde79ffdb477bb">&#9670;&#160;</a></span>Flavour</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory_1_1_plants.cshtml#a180b21ea4ad032ae6916c6162033b48d">Flavours</a> PokemonUnity.Inventory.BerryData.Flavour</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ac81c3ec4ee54ab48088982d17332f659" name="ac81c3ec4ee54ab48088982d17332f659"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac81c3ec4ee54ab48088982d17332f659">&#9670;&#160;</a></span>growthRate</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.growthRate</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The time it takes to advance from one growth stage to the next is: </p>
<ul>
<li>
<p class="startli">If planted with Growth Mulch, 45 minutes times the growth rate. </p>
<p class="endli"></p>
</li>
<li>
If planted with Damp Mulch, 90 minutes times the growth rate. </li>
</ul>
<p>Otherwise, 60 minutes times the growth rate. </p>
<p >Pokemon Gen4 (2nd gen with berries), plants take days to mature... </p><dl class="section see"><dt>See also</dt><dd><a class="el" href="struct_pokemon_unity_1_1_inventory_1_1_berry_data.cshtml#a31dab0faed606e6a22c5175ad387d750" title="The time it takes for berry plant to fully mature, and reach final stage. int duration is measured in...">growthTime</a></dd></dl>

</div>
</div>
<a id="a31dab0faed606e6a22c5175ad387d750" name="a31dab0faed606e6a22c5175ad387d750"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a31dab0faed606e6a22c5175ad387d750">&#9670;&#160;</a></span>growthTime</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.growthTime</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The time it takes for berry plant to fully mature, and reach final stage. int duration is measured in hours  </p>
<p >Gen 5 onward reduced plant growth time from days to hours... </p>

</div>
</div>
<a id="a25d80b69692346ffc4df9209e7774a6d" name="a25d80b69692346ffc4df9209e7774a6d"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a25d80b69692346ffc4df9209e7774a6d">&#9670;&#160;</a></span>Id</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity_1_1_inventory.cshtml#a88bcc16c916ce015bba31f959c11e0a7">Items</a> PokemonUnity.Inventory.BerryData.Id</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="aa84b9e33f4c168b1c1c06fa15f95668a" name="aa84b9e33f4c168b1c1c06fa15f95668a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa84b9e33f4c168b1c1c06fa15f95668a">&#9670;&#160;</a></span>maxBerries</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.maxBerries</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The berry yield is set to the maximum berry yield whenever a new Berry is planted or whenever a new plant grows where the old plant used to be.  </p>

</div>
</div>
<a id="aa3d3cb15d247e187798311872d8a4c21" name="aa3d3cb15d247e187798311872d8a4c21"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa3d3cb15d247e187798311872d8a4c21">&#9670;&#160;</a></span>moistIntake</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.moistIntake</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The soil moisture is reduced by X times the moisture intake value, rounded down, but not to less than 0, where X is 0.5 if planted with Damp Mulch, 1.5 if planted with Growth Mulch, and 1 otherwise.  </p>
<p >Every 60 minutes after that point or after a new plant grows where the old plant used to be (whichever occurs last), if the plant hasn't reached its final growth stage (no berries can be picked yet) </p>
<p >If the soil moisture is 0, the berry yield for that plant is reduced by the maximum berry yield divided by 5, but not to less than 2. </p>

</div>
</div>
<a id="a1b34e1d7e126376c9b060012e92654bf" name="a1b34e1d7e126376c9b060012e92654bf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1b34e1d7e126376c9b060012e92654bf">&#9670;&#160;</a></span>Power</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Power</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a3bde1e0267a217127785ec68ca248dd9" name="a3bde1e0267a217127785ec68ca248dd9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a3bde1e0267a217127785ec68ca248dd9">&#9670;&#160;</a></span>Size</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonUnity.Inventory.BerryData.Size</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>In inches...  </p>

</div>
</div>
<a id="ac70ce0496074d3a471d81382bc5dd7ee" name="ac70ce0496074d3a471d81382bc5dd7ee"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ac70ce0496074d3a471d81382bc5dd7ee">&#9670;&#160;</a></span>Smart</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Smart</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a20a71cb80a96bd74a26eff9323741672" name="a20a71cb80a96bd74a26eff9323741672"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a20a71cb80a96bd74a26eff9323741672">&#9670;&#160;</a></span>Smooth</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Smooth</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a10e7feeec1fff30de1997d2f4977182c" name="a10e7feeec1fff30de1997d2f4977182c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a10e7feeec1fff30de1997d2f4977182c">&#9670;&#160;</a></span>Sour</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Sour</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a7650d898240d0c8f1a18c6a330ab592f" name="a7650d898240d0c8f1a18c6a330ab592f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a7650d898240d0c8f1a18c6a330ab592f">&#9670;&#160;</a></span>Spicy</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Spicy</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a23c91f32e905e6907580f222af6ba1eb" name="a23c91f32e905e6907580f222af6ba1eb"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a23c91f32e905e6907580f222af6ba1eb">&#9670;&#160;</a></span>Sweet</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Sweet</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a2833041e6c1bbebed6b22e0317c49eb3" name="a2833041e6c1bbebed6b22e0317c49eb3"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2833041e6c1bbebed6b22e0317c49eb3">&#9670;&#160;</a></span>Tough</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Inventory.BerryData.Tough</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab62b649a02657517fad6de6c288343fa" name="ab62b649a02657517fad6de6c288343fa"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab62b649a02657517fad6de6c288343fa">&#9670;&#160;</a></span>Type</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#af873e128b203f708e50cca56b1ae25f1">Types</a> PokemonUnity.Inventory.BerryData.Type</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Inventory/Data/<a class="el" href="_berry_8cs.cshtml">Berry.cs</a></li>
</ul>

