@{
	Page.Title = "PokemonUnity.Character.DayCareSlotData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml">DayCareSlotData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.DayCareSlotData Struct Reference</div></div>
}


<p> 
 <a href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#details">More...</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:abaf85d70b6ecdfa16fe26d3afd55b5b9"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#abaf85d70b6ecdfa16fe26d3afd55b5b9">DayCareSlotData</a> (<a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a> pokemon, int steps)</td></tr>
<tr class="separator:abaf85d70b6ecdfa16fe26d3afd55b5b9"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a1054fa04e54e6ce8b1da9b126f577491"><td class="memItemLeft" align="right" valign="top"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#a1054fa04e54e6ce8b1da9b126f577491">Pokemon</a> <code>[get]</code></td></tr>
<tr class="memdesc:a1054fa04e54e6ce8b1da9b126f577491"><td class="mdescLeft">&#160;</td><td class="mdescRight">Pokemon Occupying slot, if slot is occupied at all   <a href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#a1054fa04e54e6ce8b1da9b126f577491">More...</a><br /></td></tr>
<tr class="separator:a1054fa04e54e6ce8b1da9b126f577491"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1f0f7c4bf4e6ceaa9e1537a251c146a0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#a1f0f7c4bf4e6ceaa9e1537a251c146a0">Steps</a> <code>[get]</code></td></tr>
<tr class="memdesc:a1f0f7c4bf4e6ceaa9e1537a251c146a0"><td class="mdescLeft">&#160;</td><td class="mdescRight">Steps Taken Since Depositing   <a href="struct_pokemon_unity_1_1_character_1_1_day_care_slot_data.cshtml#a1f0f7c4bf4e6ceaa9e1537a251c146a0">More...</a><br /></td></tr>
<tr class="separator:a1f0f7c4bf4e6ceaa9e1537a251c146a0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Daycare Data </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="abaf85d70b6ecdfa16fe26d3afd55b5b9" name="abaf85d70b6ecdfa16fe26d3afd55b5b9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abaf85d70b6ecdfa16fe26d3afd55b5b9">&#9670;&#160;</a></span>DayCareSlotData()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.DayCareSlotData.DayCareSlotData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>&#160;</td>
          <td class="paramname"><em>pokemon</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>steps</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a1054fa04e54e6ce8b1da9b126f577491" name="a1054fa04e54e6ce8b1da9b126f577491"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1054fa04e54e6ce8b1da9b126f577491">&#9670;&#160;</a></span>Pokemon</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_pokemon.cshtml">SeriPokemon</a>? PokemonUnity.Character.DayCareSlotData.Pokemon</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Pokemon Occupying slot, if slot is occupied at all  </p>

</div>
</div>
<a id="a1f0f7c4bf4e6ceaa9e1537a251c146a0" name="a1f0f7c4bf4e6ceaa9e1537a251c146a0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1f0f7c4bf4e6ceaa9e1537a251c146a0">&#9670;&#160;</a></span>Steps</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.DayCareSlotData.Steps</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Steps Taken Since Depositing  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Character/<a class="el" href="_day_care_data_8cs.cshtml">DayCareData.cs</a></li>
</ul>

