@{
	Page.Title = "PokemonUnity.Saving.SerializableClasses.SeriMove Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving.cshtml">Saving</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_saving_1_1_serializable_classes.cshtml">SerializableClasses</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml">SeriMove</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Saving.SerializableClasses.SeriMove Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:ae22efc664489b43b2a93327da8dfbe89"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#ae22efc664489b43b2a93327da8dfbe89">SeriMove</a> (int move, int pp, int ppups)</td></tr>
<tr class="separator:ae22efc664489b43b2a93327da8dfbe89"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:add6f3c5fdba335986087a424c9c1c1a5"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#add6f3c5fdba335986087a424c9c1c1a5">Move</a> <code>[get]</code></td></tr>
<tr class="separator:add6f3c5fdba335986087a424c9c1c1a5"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a695dbee0e2a59a0b62c141822b858ce0"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#a695dbee0e2a59a0b62c141822b858ce0">PP</a> <code>[get]</code></td></tr>
<tr class="separator:a695dbee0e2a59a0b62c141822b858ce0"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab9e3419dd5075d83df52b7233df1dae1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_saving_1_1_serializable_classes_1_1_seri_move.cshtml#ab9e3419dd5075d83df52b7233df1dae1">PPups</a> <code>[get]</code></td></tr>
<tr class="separator:ab9e3419dd5075d83df52b7233df1dae1"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="ae22efc664489b43b2a93327da8dfbe89" name="ae22efc664489b43b2a93327da8dfbe89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae22efc664489b43b2a93327da8dfbe89">&#9670;&#160;</a></span>SeriMove()</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Saving.SerializableClasses.SeriMove.SeriMove </td>
          <td>(</td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>move</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>pp</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int&#160;</td>
          <td class="paramname"><em>ppups</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="add6f3c5fdba335986087a424c9c1c1a5" name="add6f3c5fdba335986087a424c9c1c1a5"></a>
<h2 class="memtitle"><span class="permalink"><a href="#add6f3c5fdba335986087a424c9c1c1a5">&#9670;&#160;</a></span>Move</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.SerializableClasses.SeriMove.Move</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a695dbee0e2a59a0b62c141822b858ce0" name="a695dbee0e2a59a0b62c141822b858ce0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a695dbee0e2a59a0b62c141822b858ce0">&#9670;&#160;</a></span>PP</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.SerializableClasses.SeriMove.PP</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="ab9e3419dd5075d83df52b7233df1dae1" name="ab9e3419dd5075d83df52b7233df1dae1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab9e3419dd5075d83df52b7233df1dae1">&#9670;&#160;</a></span>PPups</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Saving.SerializableClasses.SeriMove.PPups</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Saving/SerializableClasses/<a class="el" href="_seri_move_8cs.cshtml">SeriMove.cs</a></li>
</ul>

