@{
	Page.Title = "Member List";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_overworld.cshtml">Overworld</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">Area</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="headertitle"><div class="title">PokemonUnity.Overworld.Area Member List</div></div>
}


<p>This is the complete list of members for <a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a>, including all inherited members.</p>
<table class="directory">
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a5d90f1e4a605c95b4febbf484a9cd679">Area</a>(int id, KeyValuePair&lt; Method, int &gt;[] rate)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a91527695e0eac9c9c4a1f339a179b1bb">Encounters</a>(Method method)</td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a93eceb2ba0614dcc9e1425f51e6d68c8">Id</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a></td><td class="entry"></td></tr>
  <tr class="odd"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a6579071dacb9d6c38db8fc72277bcbbf">Rate</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a></td><td class="entry"></td></tr>
  <tr class="even"><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml#a247488f9a74f4163b4a4b2e31e6b9249">this[Method method]</a></td><td class="entry"><a class="el" href="struct_pokemon_unity_1_1_overworld_1_1_area.cshtml">PokemonUnity.Overworld.Area</a></td><td class="entry"></td></tr>
</table>