@{
	Page.Title = "PokemonUnity.Character.TrainerData Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_unity.cshtml">PokemonUnity</a></li><li class="navelem"><a class="el" href="namespace_pokemon_unity_1_1_character.cshtml">Character</a></li><li class="navelem"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#pub-methods">Public Member Functions</a> &#124;
<a href="#pub-static-methods">Static Public Member Functions</a> &#124;
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_unity_1_1_character_1_1_trainer_data-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonUnity.Character.TrainerData Struct Reference</div></div>
}


<p>Data struct for <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>, Secret, Gender (use for pokemons, players, and battles)   
 <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#details">More...</a></p>
<div class="dynheader">
Inheritance diagram for PokemonUnity.Character.TrainerData:</div>
<div class="dyncontent">
 <div class="center">
  <img src="struct_pokemon_unity_1_1_character_1_1_trainer_data.png" alt=""/>
 </div></div>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-methods" name="pub-methods"></a>
Public Member Functions</h2></td></tr>
<tr class="memitem:a4a055e8346d362c445fcb7c3decf410b"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a4a055e8346d362c445fcb7c3decf410b">TrainerData</a> (string name, bool gender, int? tID=null, int? sID=null)</td></tr>
<tr class="separator:a4a055e8346d362c445fcb7c3decf410b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a796458d884e334a016148c2e95115968"><td class="memItemLeft" align="right" valign="top">&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a796458d884e334a016148c2e95115968">TrainerData</a> (<a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> trainer, string name=null)</td></tr>
<tr class="separator:a796458d884e334a016148c2e95115968"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa60a2d4fbcbbb07526f70543f0b66e65"><td class="memItemLeft" align="right" valign="top">bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#aa60a2d4fbcbbb07526f70543f0b66e65">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> obj)</td></tr>
<tr class="separator:aa60a2d4fbcbbb07526f70543f0b66e65"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:abcbd0bb9f4fab718e1f0ba0d08691f7e"><td class="memItemLeft" align="right" valign="top">override bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#abcbd0bb9f4fab718e1f0ba0d08691f7e">Equals</a> (object obj)</td></tr>
<tr class="separator:abcbd0bb9f4fab718e1f0ba0d08691f7e"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aa4e7602ed30f774f1ab71e268bebe167"><td class="memItemLeft" align="right" valign="top">override int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#aa4e7602ed30f774f1ab71e268bebe167">GetHashCode</a> ()</td></tr>
<tr class="separator:aa4e7602ed30f774f1ab71e268bebe167"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a40b2a779375b77a80ee719c8043ad72f"><td class="memItemLeft" align="right" valign="top">bool IEquatable&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a40b2a779375b77a80ee719c8043ad72f">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> other)</td></tr>
<tr class="separator:a40b2a779375b77a80ee719c8043ad72f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ad33f1ec100c8034a7c73dd186c6fdec9"><td class="memItemLeft" align="right" valign="top">bool IEqualityComparer&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ad33f1ec100c8034a7c73dd186c6fdec9">Equals</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> y)</td></tr>
<tr class="separator:ad33f1ec100c8034a7c73dd186c6fdec9"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ab991f38a4177fd185b85694b3eed8785"><td class="memItemLeft" align="right" valign="top">int IEqualityComparer&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;.&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ab991f38a4177fd185b85694b3eed8785">GetHashCode</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> obj)</td></tr>
<tr class="separator:ab991f38a4177fd185b85694b3eed8785"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="pub-static-methods" name="pub-static-methods"></a>
Static Public Member Functions</h2></td></tr>
<tr class="memitem:a9bc2534cbf5cd618474aa82ec5f9129f"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a9bc2534cbf5cd618474aa82ec5f9129f">operator==</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> y)</td></tr>
<tr class="separator:a9bc2534cbf5cd618474aa82ec5f9129f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a55707a2d28b8c349b71bec9c66c6a0c0"><td class="memItemLeft" align="right" valign="top">static bool&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a55707a2d28b8c349b71bec9c66c6a0c0">operator!=</a> (<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> x, <a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a> y)</td></tr>
<tr class="separator:a55707a2d28b8c349b71bec9c66c6a0c0"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table><table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:ad9c975d4fcc5b1210438b0cdf306011f"><td class="memItemLeft" align="right" valign="top"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ad9c975d4fcc5b1210438b0cdf306011f">ID</a> <code>[get]</code></td></tr>
<tr class="memdesc:ad9c975d4fcc5b1210438b0cdf306011f"><td class="mdescLeft">&#160;</td><td class="mdescRight">This is how the scripts refer to the trainer type. Typically this is the trainer type's name, but written in all capital letters and with no spaces or symbols. The internal name is never seen by the player.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#ad9c975d4fcc5b1210438b0cdf306011f">More...</a><br /></td></tr>
<tr class="separator:ad9c975d4fcc5b1210438b0cdf306011f"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a8bb6ef3503940c33056de84e7cc7fae8"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a8bb6ef3503940c33056de84e7cc7fae8">Name</a> <code>[get]</code></td></tr>
<tr class="memdesc:a8bb6ef3503940c33056de84e7cc7fae8"><td class="mdescLeft">&#160;</td><td class="mdescRight">The name of the trainer type, as seen by the player. Multiple trainer types can have the same display name, although they cannot share ID numbers or internal names.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a8bb6ef3503940c33056de84e7cc7fae8">More...</a><br /></td></tr>
<tr class="separator:a8bb6ef3503940c33056de84e7cc7fae8"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71739b326e72b3f122778637085f7724"><td class="memItemLeft" align="right" valign="top">bool?&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a71739b326e72b3f122778637085f7724">Gender</a> <code>[get]</code></td></tr>
<tr class="memdesc:a71739b326e72b3f122778637085f7724"><td class="mdescLeft">&#160;</td><td class="mdescRight">The gender of all trainers of this type. Is one of: Male, Female, Mixed(i.e. if the type shows a pair of trainers) Optional. If undefined, the default is "Mixed".   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a71739b326e72b3f122778637085f7724">More...</a><br /></td></tr>
<tr class="separator:a71739b326e72b3f122778637085f7724"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a50c9ba6abf4bc2f7fdee347fc1a0c20b"><td class="memItemLeft" align="right" valign="top">string&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a50c9ba6abf4bc2f7fdee347fc1a0c20b">PlayerID</a> <code>[get]</code></td></tr>
<tr class="memdesc:a50c9ba6abf4bc2f7fdee347fc1a0c20b"><td class="mdescLeft">&#160;</td><td class="mdescRight">IDfinal = (IDtrainer + IDsecret × 65536).Last6   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a50c9ba6abf4bc2f7fdee347fc1a0c20b">More...</a><br /></td></tr>
<tr class="separator:a50c9ba6abf4bc2f7fdee347fc1a0c20b"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a24e6562c5a7d13e0790106d8fcb2a0f1"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a24e6562c5a7d13e0790106d8fcb2a0f1">TrainerID</a> <code>[get]</code></td></tr>
<tr class="separator:a24e6562c5a7d13e0790106d8fcb2a0f1"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2f8b49c91c077052e76fb7dc83aec6e6"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a2f8b49c91c077052e76fb7dc83aec6e6">SecretID</a> <code>[get]</code></td></tr>
<tr class="separator:a2f8b49c91c077052e76fb7dc83aec6e6"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a882e5052d22cf13b781c10fffeaf5a3e"><td class="memItemLeft" align="right" valign="top">byte&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a882e5052d22cf13b781c10fffeaf5a3e">BaseMoney</a> <code>[get]</code></td></tr>
<tr class="memdesc:a882e5052d22cf13b781c10fffeaf5a3e"><td class="mdescLeft">&#160;</td><td class="mdescRight">The amount of money earned from defeating a trainer of this type. The base money value is multiplied by the highest Level among all the trainer's Pok&eacute;mon to produce the actual amount of money gained (assuming no other modifiers). Must be a number between 0 and 255. Optional. If undefined, the default is 30.   <a href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml#a882e5052d22cf13b781c10fffeaf5a3e">More...</a><br /></td></tr>
<tr class="separator:a882e5052d22cf13b781c10fffeaf5a3e"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<a name="details" id="details"></a><h2 class="groupheader">Detailed Description</h2>
<div class="textblock"><p >Data struct for <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a>, Secret, Gender (use for pokemons, players, and battles)  </p>
</div><h2 class="groupheader">Constructor &amp; Destructor Documentation</h2>
<a id="a4a055e8346d362c445fcb7c3decf410b" name="a4a055e8346d362c445fcb7c3decf410b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4a055e8346d362c445fcb7c3decf410b">&#9670;&#160;</a></span>TrainerData() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.TrainerData.TrainerData </td>
          <td>(</td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">bool&#160;</td>
          <td class="paramname"><em>gender</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>tID</em> = <code>null</code>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">int?&#160;</td>
          <td class="paramname"><em>sID</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a796458d884e334a016148c2e95115968" name="a796458d884e334a016148c2e95115968"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a796458d884e334a016148c2e95115968">&#9670;&#160;</a></span>TrainerData() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">PokemonUnity.Character.TrainerData.TrainerData </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a>&#160;</td>
          <td class="paramname"><em>trainer</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">string&#160;</td>
          <td class="paramname"><em>name</em> = <code>null</code>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Member Function Documentation</h2>
<a id="abcbd0bb9f4fab718e1f0ba0d08691f7e" name="abcbd0bb9f4fab718e1f0ba0d08691f7e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#abcbd0bb9f4fab718e1f0ba0d08691f7e">&#9670;&#160;</a></span>Equals() <span class="overload">[1/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override bool PokemonUnity.Character.TrainerData.Equals </td>
          <td>(</td>
          <td class="paramtype">object&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa60a2d4fbcbbb07526f70543f0b66e65" name="aa60a2d4fbcbbb07526f70543f0b66e65"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa60a2d4fbcbbb07526f70543f0b66e65">&#9670;&#160;</a></span>Equals() <span class="overload">[2/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool PokemonUnity.Character.TrainerData.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a40b2a779375b77a80ee719c8043ad72f" name="a40b2a779375b77a80ee719c8043ad72f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a40b2a779375b77a80ee719c8043ad72f">&#9670;&#160;</a></span>Equals() <span class="overload">[3/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEquatable&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;. PokemonUnity.Character.TrainerData.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>other</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ad33f1ec100c8034a7c73dd186c6fdec9" name="ad33f1ec100c8034a7c73dd186c6fdec9"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad33f1ec100c8034a7c73dd186c6fdec9">&#9670;&#160;</a></span>Equals() <span class="overload">[4/4]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">bool IEqualityComparer&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;. PokemonUnity.Character.TrainerData.Equals </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="aa4e7602ed30f774f1ab71e268bebe167" name="aa4e7602ed30f774f1ab71e268bebe167"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aa4e7602ed30f774f1ab71e268bebe167">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[1/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">override int PokemonUnity.Character.TrainerData.GetHashCode </td>
          <td>(</td>
          <td class="paramname"></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ab991f38a4177fd185b85694b3eed8785" name="ab991f38a4177fd185b85694b3eed8785"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ab991f38a4177fd185b85694b3eed8785">&#9670;&#160;</a></span>GetHashCode() <span class="overload">[2/2]</span></h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">int IEqualityComparer&lt;<a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&gt;. PokemonUnity.Character.TrainerData.GetHashCode </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>obj</em></td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a55707a2d28b8c349b71bec9c66c6a0c0" name="a55707a2d28b8c349b71bec9c66c6a0c0"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a55707a2d28b8c349b71bec9c66c6a0c0">&#9670;&#160;</a></span>operator!=()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Character.TrainerData.operator!= </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a9bc2534cbf5cd618474aa82ec5f9129f" name="a9bc2534cbf5cd618474aa82ec5f9129f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9bc2534cbf5cd618474aa82ec5f9129f">&#9670;&#160;</a></span>operator==()</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">static bool PokemonUnity.Character.TrainerData.operator== </td>
          <td>(</td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>x</em>, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype"><a class="el" href="struct_pokemon_unity_1_1_character_1_1_trainer_data.cshtml">TrainerData</a>&#160;</td>
          <td class="paramname"><em>y</em>&#160;&nbsp;)</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">static</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<h2 class="groupheader">Property Documentation</h2>
<a id="a882e5052d22cf13b781c10fffeaf5a3e" name="a882e5052d22cf13b781c10fffeaf5a3e"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a882e5052d22cf13b781c10fffeaf5a3e">&#9670;&#160;</a></span>BaseMoney</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">byte PokemonUnity.Character.TrainerData.BaseMoney</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The amount of money earned from defeating a trainer of this type. The base money value is multiplied by the highest Level among all the trainer's Pok&eacute;mon to produce the actual amount of money gained (assuming no other modifiers). Must be a number between 0 and 255. Optional. If undefined, the default is 30.  </p>

</div>
</div>
<a id="a71739b326e72b3f122778637085f7724" name="a71739b326e72b3f122778637085f7724"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71739b326e72b3f122778637085f7724">&#9670;&#160;</a></span>Gender</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">bool? PokemonUnity.Character.TrainerData.Gender</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The gender of all trainers of this type. Is one of: Male, Female, Mixed(i.e. if the type shows a pair of trainers) Optional. If undefined, the default is "Mixed".  </p>

</div>
</div>
<a id="ad9c975d4fcc5b1210438b0cdf306011f" name="ad9c975d4fcc5b1210438b0cdf306011f"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ad9c975d4fcc5b1210438b0cdf306011f">&#9670;&#160;</a></span>ID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname"><a class="el" href="namespace_pokemon_unity.cshtml#a40e9330636bad76fe0f3fdc9d7ae87c2">TrainerTypes</a> PokemonUnity.Character.TrainerData.ID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>This is how the scripts refer to the trainer type. Typically this is the trainer type's name, but written in all capital letters and with no spaces or symbols. The internal name is never seen by the player.  </p>

</div>
</div>
<a id="a8bb6ef3503940c33056de84e7cc7fae8" name="a8bb6ef3503940c33056de84e7cc7fae8"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a8bb6ef3503940c33056de84e7cc7fae8">&#9670;&#160;</a></span>Name</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerData.Name</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>The name of the trainer type, as seen by the player. Multiple trainer types can have the same display name, although they cannot share ID numbers or internal names.  </p>

</div>
</div>
<a id="a50c9ba6abf4bc2f7fdee347fc1a0c20b" name="a50c9ba6abf4bc2f7fdee347fc1a0c20b"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a50c9ba6abf4bc2f7fdee347fc1a0c20b">&#9670;&#160;</a></span>PlayerID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">string PokemonUnity.Character.TrainerData.PlayerID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>IDfinal = (IDtrainer + IDsecret × 65536).Last6  </p>
<p >only the last six digits are used so the <a class="el" href="class_pokemon_unity_1_1_trainer.cshtml">Trainer</a> Card will display an ID No. </p>

</div>
</div>
<a id="a2f8b49c91c077052e76fb7dc83aec6e6" name="a2f8b49c91c077052e76fb7dc83aec6e6"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2f8b49c91c077052e76fb7dc83aec6e6">&#9670;&#160;</a></span>SecretID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.TrainerData.SecretID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<a id="a24e6562c5a7d13e0790106d8fcb2a0f1" name="a24e6562c5a7d13e0790106d8fcb2a0f1"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a24e6562c5a7d13e0790106d8fcb2a0f1">&#9670;&#160;</a></span>TrainerID</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonUnity.Character.TrainerData.TrainerID</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Combat/Trainer/Data/<a class="el" href="_trainer_data_8cs.cshtml">TrainerData.cs</a></li>
</ul>

