@{
	Layout = "~/Themes/Doxygen/Layout/_Layout.cshtml";
	Page.Title = "PokemonUnity: PokemonEssentials.Interface.Field.MetadataPosition Struct Reference";
}

@section breadcrumbs {
<div id="nav-path" class="navpath">
  <ul>
<li class="navelem"><a class="el" href="namespace_pokemon_essentials.cshtml">PokemonEssentials</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface.cshtml">Interface</a></li><li class="navelem"><a class="el" href="namespace_pokemon_essentials_1_1_interface_1_1_field.cshtml">Field</a></li><li class="navelem"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml">MetadataPosition</a></li>  </ul>
</div>
}

@section headertitle {
  <div class="summary">
<a href="#properties">Properties</a> &#124;
<a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position-members.cshtml">List of all members</a>  </div>
  <div class="headertitle"><div class="title">PokemonEssentials.Interface.Field.MetadataPosition Struct Reference</div></div>
}

<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a id="properties" name="properties"></a>
Properties</h2></td></tr>
<tr class="memitem:a6dd34f0cc5273314c9b23aa8f781016a"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a6dd34f0cc5273314c9b23aa8f781016a">MapId</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a6dd34f0cc5273314c9b23aa8f781016a"><td class="mdescLeft">&#160;</td><td class="mdescRight">Map ID   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a6dd34f0cc5273314c9b23aa8f781016a">More...</a><br /></td></tr>
<tr class="separator:a6dd34f0cc5273314c9b23aa8f781016a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a71b83de317d7c9c29f6d4bb38578a164"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a71b83de317d7c9c29f6d4bb38578a164">X</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a71b83de317d7c9c29f6d4bb38578a164"><td class="mdescLeft">&#160;</td><td class="mdescRight">X coordinate on that map   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a71b83de317d7c9c29f6d4bb38578a164">More...</a><br /></td></tr>
<tr class="separator:a71b83de317d7c9c29f6d4bb38578a164"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aef8f25b72e1ee7f8afc1de0563ea6381"><td class="memItemLeft" align="right" valign="top">float&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#aef8f25b72e1ee7f8afc1de0563ea6381">Y</a><code> [get, set]</code></td></tr>
<tr class="memdesc:aef8f25b72e1ee7f8afc1de0563ea6381"><td class="mdescLeft">&#160;</td><td class="mdescRight">Y coordinate on that map   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#aef8f25b72e1ee7f8afc1de0563ea6381">More...</a><br /></td></tr>
<tr class="separator:aef8f25b72e1ee7f8afc1de0563ea6381"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a080ed77a1f2e293e7cb02c4bda575f73"><td class="memItemLeft" align="right" valign="top">int&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a080ed77a1f2e293e7cb02c4bda575f73">Direction</a><code> [get, set]</code></td></tr>
<tr class="memdesc:a080ed77a1f2e293e7cb02c4bda575f73"><td class="mdescLeft">&#160;</td><td class="mdescRight">Direction the player should face (2=down, 4=left, 6=right, 8=up, 0=retain direction)   <a href="struct_pokemon_essentials_1_1_interface_1_1_field_1_1_metadata_position.cshtml#a080ed77a1f2e293e7cb02c4bda575f73">More...</a><br /></td></tr>
<tr class="separator:a080ed77a1f2e293e7cb02c4bda575f73"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Property Documentation</h2>
<a id="a080ed77a1f2e293e7cb02c4bda575f73" name="a080ed77a1f2e293e7cb02c4bda575f73"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a080ed77a1f2e293e7cb02c4bda575f73">&#9670;&#160;</a></span>Direction</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.MetadataPosition.Direction</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Direction the player should face (2=down, 4=left, 6=right, 8=up, 0=retain direction)  </p>

</div>
</div>
<a id="a6dd34f0cc5273314c9b23aa8f781016a" name="a6dd34f0cc5273314c9b23aa8f781016a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a6dd34f0cc5273314c9b23aa8f781016a">&#9670;&#160;</a></span>MapId</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">int PokemonEssentials.Interface.Field.MetadataPosition.MapId</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Map ID  </p>

</div>
</div>
<a id="a71b83de317d7c9c29f6d4bb38578a164" name="a71b83de317d7c9c29f6d4bb38578a164"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a71b83de317d7c9c29f6d4bb38578a164">&#9670;&#160;</a></span>X</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.MetadataPosition.X</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>X coordinate on that map  </p>

</div>
</div>
<a id="aef8f25b72e1ee7f8afc1de0563ea6381" name="aef8f25b72e1ee7f8afc1de0563ea6381"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aef8f25b72e1ee7f8afc1de0563ea6381">&#9670;&#160;</a></span>Y</h2>

<div class="memitem">
<div class="memproto">
<table class="mlabels">
  <tr>
  <td class="mlabels-left">
      <table class="memname">
        <tr>
          <td class="memname">float PokemonEssentials.Interface.Field.MetadataPosition.Y</td>
        </tr>
      </table>
  </td>
  <td class="mlabels-right">
<span class="mlabels"><span class="mlabel">get</span><span class="mlabel">set</span></span>  </td>
  </tr>
</table>
</div><div class="memdoc">

<p>Y coordinate on that map  </p>

</div>
</div>
<hr/>The documentation for this struct was generated from the following file:<ul>
<li>PokemonUnity.Shared/Framework/Essentials/Field/<a class="el" href="_i_misc_data_8cs.cshtml">IMiscData.cs</a></li>
</ul>
</div><!-- contents -->
<!-- start footer part -->
<hr class="footer"/><address class="footer"><small>
Generated by&#160;<a href="https://www.doxygen.org/index.html"><img class="footer" src="doxygen.svg" width="104" height="31" alt="doxygen"/></a> 1.9.5
</small></address>
</body>
</html>
