@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512083715if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For details on how Pokémon in the Day Care breed, see <a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Breeding" title="Breeding">Breeding</a>.</i></dd></dl>
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20210512083715/https://static.wikia.nocookie.net/essentialsdocs/images/7/7a/DayCare.png/revision/latest?cb=20190219204410" class="image"><img alt="" src="https://web.archive.org/web/20210512083715im_/https://static.wikia.nocookie.net/essentialsdocs/images/7/7a/DayCare.png/revision/latest/scale-to-width-down/256?cb=20190219204410" decoding="async" width="256" height="192" class="thumbimage" data-image-name="DayCare.png" data-image-key="DayCare.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/File:DayCare.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Deposited Pokémon in the Day Care Center.</p> 		 	</figcaption> </figure>
						<p>
							This page describes the&nbsp;<b>Day Care Center</b>, a place where the player can leave one or more Pokémon for a while to be trained.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#The_Day_Care"><span class="tocnumber">1</span> <span class="toctext">The Day Care</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Depositing_and_withdrawing_Pok.C3.A9mon"><span class="tocnumber">2</span> <span class="toctext">Depositing and withdrawing Pokémon</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Scripts"><span class="tocnumber">3</span> <span class="toctext">Scripts</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Tips"><span class="tocnumber">4</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="The_Day_Care">The Day Care</span></h2>
						<p>
							Typically, there are two people who run the Day Care Center: one who lets the player deposit and withdraw their Pokémon, and one who gives the player any&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">Pokémon eggs</a>&nbsp;that&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Breeding" title="Breeding">appear there</a>.
						</p><p>
							There can only be a maximum of 2 Pokémon in the Day Care at any one time.
						</p><p>
							Any Pokémon in the Day Care will gain 1 Exp point for each step the player takes.
						</p><p>
							If a deposited Pokémon levels up and would learn a new move, but it already knows 4 moves, then the first known move is forgotten, the rest bumped up, and the new move learned. Any move can be forgotten because of this, including HM moves.
						</p>
						<h2><span id="Depositing_and_withdrawing_Pokémon"></span><span class="mw-headline" id="Depositing_and_withdrawing_Pok.C3.A9mon">Depositing and withdrawing Pokémon</span></h2>
						<figure class="thumb tright " style="width: 77px"> 	<a href="https://web.archive.org/web/20210512083715/https://static.wikia.nocookie.net/essentialsdocs/images/c/c8/DayCareEvent.png/revision/latest?cb=20210502200619" class="image"><img alt="" src="https://web.archive.org/web/20210512083715im_/https://static.wikia.nocookie.net/essentialsdocs/images/c/c8/DayCareEvent.png/revision/latest/scale-to-width-down/75?cb=20210502200619" decoding="async" width="75" height="345" class="thumbimage" data-image-name="DayCareEvent.png" data-image-key="DayCareEvent.png"></a> 	 	<figcaption class="thumbcaption"> 		 		 		 			<p class="caption">The event for depositing and withdrawing Pokémon.</p> 		 	</figcaption> </figure>
						<p>
							Depositing a Pokémon into the Day Care is simply a matter of choosing a Pokémon from the&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;when prompted. When the player withdraws a Pokémon, there is typically a fee that depends on how many levels the Pokémon has gained while in the Day Care.
						</p><p>
							To the right is a robust example of the event's contents for the Day Care person that will accept and return Pokémon. This event can also be found in the&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">example maps</a>. The best way to set up a Day Care person yourself is to simply copy this event, rather than spending time recreating it from scratch.
						</p><p>
							The scripts are limited to allowing a maximum of 2 deposited Pokémon, and this limit is also enforced by the event's commands. If you want to reduce this limit to just 1 deposited Pokémon at a time, all you need to do is edit the event's commands accordingly. However, if you want to increase this limit, you will need to make significant changes to the scripts in addition to editing the event's commands (not just to allow 3+ deposited Pokémon at a time, but also to ensure that the breeding mechanics work properly with all of them).
						</p><p>
							There can only be one Day Care Center, as the deposited Pokémon are only stored in one variable. To allow multiple separate Day Care Centers, you would need to edit the scripts, which again would be a major change.
						</p><p>
							<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>&nbsp;can be deposited in the Day Care, but they cannot breed.
						</p>
						<h2><span class="mw-headline" id="Scripts">Scripts</span></h2>
						<p>
							Deposited Pokémon are stored in the variable&nbsp;<code>$PokemonGlobal.daycare[index][info]</code>, where "<code>index</code>" is either 0 or 1 (the first or second deposited Pokémon), and holds information as follows:
						</p>
						<ul>
							<li><code>$PokemonGlobal.daycare[index][0]</code>&nbsp;- The Pokémon</li>
							<li><code>$PokemonGlobal.daycare[index][1]</code>&nbsp;- The Pokémon's level when it was deposited (for comparison to calculate the fee for withdrawing)</li>
						</ul>
						<p>
							The following table lists the scripts associated with the Day Care:
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Script
									</th>
									<th>
										Description
									</th>
								</tr>
								<tr>
									<td>
										<code>pbDayCareDeposit(index)</code>
									</td>
									<td>
										Takes the Pokémon in the specified position in the player's&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;and deposits it into the Day Care.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbDayCareWithdraw(index)</code>
									</td>
									<td>
										Takes the Pokémon out of the specified index in the Day Care array (0 or 1) and puts it in the player's party (if there is space).
									</td>
								</tr>
								<tr>
									<td>
										<code>pbDayCareChoose(_I("Which one will you take?"),1)</code>
									</td>
									<td>
										Displays the list of deposited Pokémon (as seen in the screenshot above). The option chosen from this list (-1 for cancel, or 0 or 1 depending on which deposited Pokémon was chosen) is stored in&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable 1</a>.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbDayCareGetDeposited(index,1,2)</code>
									</td>
									<td>
										Looks at the Pokémon in the specified index in the Day Care array (0 or 1). Stores that Pokémon's name in&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable 1</a>, and the price for withdrawing it in Game Variable 2.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbDayCareDeposited</code>
									</td>
									<td>
										Returns the number of Pokémon that are currently in the Day Care.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbDayCareGetLevelGain(index,1,2)</code>
									</td>
									<td>
										Returns TRUE if there is a Pokémon in the specified index in the Day Care array (0 or 1), and FALSE if not. If there is a Pokémon, stores its name in&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable 1</a>&nbsp;and the number of levels it has gained in Game Variable 2.
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							If there are two deposited Pokémon and the first (index 0) is withdrawn, the other deposited Pokémon will remain in the second slot (index 1). If another Pokémon is then deposited, it will be placed in the first slot, despite being newer there than the already-deposited Pokémon.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>
								Give the player a&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Phone" title="Phone">phone&nbsp;number</a> for the Day Care Center. The Day Care can call the player when an egg becomes available, and the player can call the Day Care to receive an update on their deposited Pokémon.
								<ul><li>Alternatively, create a&nbsp;<a href="/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9gear" title="Pokégear">Pokégear</a>&nbsp;app that shows the details of the deposited Pokémon.</li></ul>
							</li>
							<li>It is possible to remember more information about a deposited Pokémon than just its level when the player deposited it. Perhaps you can think of some interesting things to do, such as charge more for each new move learnt (remember the initial moveset and compare it to the current one when withdrawn).</li>
							<li>
								You could change the way new moves are learned. Rather than a simple "forget the first and learn the new one", you could have the player specify a training style which prevents certain moves from being learned/forgotten (e.g. "aggressive" prefers damaging moves, "strategic" prefers status moves, etc.).
								<ul><li>Alternatively, the player could be allowed to specify certain currently-known moves that shouldn't ever be forgotten, when they deposit a Pokémon.</li></ul>
							</li>
							<li>Add a Move Tutor-like aspect to the Day Care. After a while, the Day Care could teach the deposited Pokémon a special move it wouldn't otherwise learn.</li>
							<li>Have the Day Care do more to a Pokémon than just increase its Exp. How about modifying its IVs (to an extent/for a price) or its beauty?</li>
							<li>Have more than one Day Care Center in your game. Each Day Care could be different in a variety of ways, from accepting only certain types of Pokémon to offering a fixed training regimen (i.e. you can't withdraw a Pokémon early, but once it has gained a certain amount of Exp/levels, it will not gain any more no matter how long it stays deposited). As implied above, there are many possibilities.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210502200636
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.019 seconds
					Real time usage: 0.024 seconds
					Preprocessor visited node count: 32/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 83/2097152 bytes
					Template argument size: 61/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    2.484      1 Template:For
					100.00%    2.484      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:152-0!canonical and timestamp 20210502200636 and revision id 1015
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512083715/https://essentialsdocs.fandom.com/wiki/Day_Care?oldid=1015">https://essentialsdocs.fandom.com/wiki/Day_Care?oldid=1015</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512083715/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>