@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512073806if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For how to define the information shown in the Town Map, see <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">Region map</a>.</i></dd>
							<dd><i>For the places the player walks around in, see <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">Maps</a>.</i></dd>
						</dl>
						<p>
							This page describes how to separate a game into&nbsp;<b>several distinct regions</b>, and how to create a Regional/National <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Multiple_regions"><span class="tocnumber">1</span> <span class="toctext">Multiple regions</span></a></li>
								<li class="toclevel-1 tocsection-2">
									<a href="#Defining_a_region"><span class="tocnumber">2</span> <span class="toctext">Defining a region</span></a>
									<ul>
										<li class="toclevel-2 tocsection-3"><a href="#Adding_game_maps_to_a_region"><span class="tocnumber">2.1</span> <span class="toctext">Adding game maps to a region</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-4">
									<a href="#Regional_Pok.C3.A9dexes"><span class="tocnumber">3</span> <span class="toctext">Regional Pokédexes</span></a>
									<ul>
										<li class="toclevel-2 tocsection-5">
											<a href="#Regional_Dex_settings"><span class="tocnumber">3.1</span> <span class="toctext">Regional Dex settings</span></a>
											<ul>
												<li class="toclevel-3 tocsection-6"><a href="#Dexes_depend_on_location"><span class="tocnumber">3.1.1</span> <span class="toctext">Dexes depend on location</span></a></li>
												<li class="toclevel-3 tocsection-7"><a href="#Dexes_don.27t_depend_on_location"><span class="tocnumber">3.1.2</span> <span class="toctext">Dexes don't depend on location</span></a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-8"><a href="#Regional_Pok.C3.A9mon_storage"><span class="tocnumber">4</span> <span class="toctext">Regional Pokémon storage</span></a></li>
								<li class="toclevel-1 tocsection-9"><a href="#Tips"><span class="tocnumber">5</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<h2><span class="mw-headline" id="Multiple_regions">Multiple regions</span></h2>
						<p>
							A region is an area that contains a number of distinct locations. The <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">Town Map</a> shows the region and all the locations within it. Two regions are therefore distinctly separate from each other, although <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">maps</a> belonging to each region can <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Connecting_maps" title="Connecting maps">connect to each other</a> to allow movement from one region to the other.
						</p><p>
							Different regions may contain&nbsp;different wild Pokémon, and consequently have their own Regional&nbsp;Pokédex&nbsp;list.
						</p><p>
							To set up a new region in a game, the following should be done:
						</p>
						<ul>
							<li>Create a&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">region map</a>&nbsp;picture (shown in the Town Map) and fill it with information points.</li>
							<li>Assign <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">maps</a> to that region.</li>
							<li>Create a Regional Pokédex.</li>
						</ul>
						<h2><span class="mw-headline" id="Defining_a_region">Defining a region</span></h2>
						<dl><dd><i>Main article: <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">Region map</a></i></dd></dl>
						<p>
							The&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"townmap.txt" defines the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">region map</a>&nbsp;for each region, as well as filling in the squares of that map with information (such as the location's name as seen in the Town Map). Each region has its own section, beginning with a number in square brackets (the region's ID number). For example:
						</p>
<pre>[0]
Name=Kanto
Filename=kantomap.png
Point=10,5,Pallet Town,,17,9,8,
Point=6,4,Route 1,,,,,
Point=6,5,Viridian Forest,,,,,
[1]
Name=Johto
Filename=johtomap.png
Point=11,5,New Bark Town,,42,9,8,
Point=10,4,Route 29,,,,,
Point=7,5,Dark Cave,,,,,
</pre>
						<p>
							The numbering of regions should start at 0 and count upwards, without skipping numbers. There is no (practical) limit to the number of regions a game can have, although it would be very unusual to have many of them.
						</p>
						<h3><span class="mw-headline" id="Adding_game_maps_to_a_region">Adding game maps to a region</span></h3>
						<dl><dd><i>Main article: <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">Metadata</a></i></dd></dl>
						<p>
							The&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"metadata.txt" lists each <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">map</a> in the game, along with various&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a>&nbsp;relating to each map.
						</p><p>
							When considering multiple regions, the "MapPosition" metadata is the important one. It contains three numbers: a region ID number, followed by the X and Y coordinates of that map's position in the Town Map. There are no other differences between maps in different regions.
						</p><p>
							Note that all maps must be assigned to a region, including building interiors. This is because when the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">Town Map</a>&nbsp;item is used, the&nbsp;region map&nbsp;shown depends on the "MapPosition" metadata of the map the player is currently on, and if there is none set, there can be an error.
						</p>
						<h2><span id="Regional_Pokédexes"></span><span class="mw-headline" id="Regional_Pok.C3.A9dexes">Regional Pokédexes</span></h2>
						<p>
							There are two basic types of&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>&nbsp;list: the National Dex and the Regional Dex. The National Dex contains all Pokémon in the game, in the order they are numbered in the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"pokemon.txt". Regional Dexes are different.
						</p><p>
							One of the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Defining_a_species" title="Defining a species">properties</a>&nbsp;that can be set for a Pokémon species in the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"pokemon.txt" is "RegionalNumbers". This property gives the Regional Dex number(s) of that species. For example:
						</p>
<pre>RegionalNumbers=25,137,0
</pre>
						<p>
							This example means that the species is number 25 in the first Regional Dex, 137 in the second Regional Dex, and doesn't appear in the third Regional Dex.
						</p><p>
							Every copy of this line for every species should have the same number of numbers (e.g. the above example has 3 numbers - all other "RegionalNumbers" lines for other species should also have 3 regional numbers). You can have species which do not appear in any Regional Dex; in which case, simply don't have a "RegionalNumbers" line for it (or set all the numbers to 0).
						</p><p>
							It is important to note that these Regional Dexes do not automatically correspond in any way to the regions defined above - making them do so requires playing with various settings.
						</p>
						<h3><span class="mw-headline" id="Regional_Dex_settings">Regional Dex settings</span></h3>
						<p>
							In the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>&nbsp;is the following information:
						</p>
<pre>DEXDEPENDSONLOCATION = true
def pbDexNames; return [
   [_INTL("Kanto Pokédex"),0],
   [_INTL("Johto Pokédex"),1],
   [_INTL("Hoenn Pokédex"),2],
   _INTL("National Pokédex")
]; end
ALWAYSSHOWALLFORMS = false
DEXINDEXOFFSETS    = []
</pre>
						<p>
							The first setting is a TRUE/FALSE setting. What this setting means is described below.
						</p><p>
							If you want to include the National Dex in your game, it&nbsp;<i>must</i>&nbsp;appear in the array in&nbsp;<code>def pbDexNames</code>&nbsp;and&nbsp;<i>must</i>&nbsp;be the last one listed. It may or may not have a number next to it.
						</p><p>
							The third setting is a TRUE/FALSE setting that determines which forms of a Pokémon species are shown in its&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a> entry. If TRUE, it will always show every form (including gender differences) for that species even if the player hasn't seen them - all that matters is that the player has seen the species at all. If FALSE, the <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a> will only show the forms and genders of that species which the player has seen.
						</p><p>
							The fourth setting is an array of numbers. Each number represents a Regional Dex in the array in&nbsp;<code>pbDexNames</code>&nbsp;(0 is the first listed Dex, 1 is the second listed Dex, etc.). If a Regional Dex is mentioned in this array, all Pokémon species in that Regional Dex will have their index number lowered by 1. This allows for that Regional Dex to have a "species 0" (e.g. Victini). Victini would be numbered species 1 in that Regional Dex (and Snivy species 2, etc.) in the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"pokemon.txt", but in-game it will be species 0 (and Snivy species 1, etc.).
						</p>
						<h4><span class="mw-headline" id="Dexes_depend_on_location">Dexes depend on location</span></h4>
						<p>
							When&nbsp;<code>DEXDEPENDSONLOCATION = true</code>
						</p><p>
							The Regional Dex shown when the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>&nbsp;is opened will correspond exactly to the region the player is in (e.g. the first Regional Dex for the first region, the second for the second, etc.).
						</p><p>
							If there is no Regional Dex corresponding to the current region (e.g. the player is in the fourth region, but only three Regional Dexes have been defined), then the National Dex will be shown instead. If the <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">map</a> the player is currently in is not associated with a region (i.e. its "MapPosition"&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a>&nbsp;is not set), then the National Dex will be shown.
						</p><p>
							Usually the National Dex will never be shown. There will never be an option to choose which Dex list to view.
						</p><p>
							The array of Dex names is ignored.
						</p>
						<h4><span id="Dexes_don't_depend_on_location"></span><span class="mw-headline" id="Dexes_don.27t_depend_on_location">Dexes don't depend on location</span></h4>
						<p>
							When&nbsp;<code>DEXDEPENDSONLOCATION = false</code>
						</p><p>
							The player manually chooses which Dex list to view. However, they can only choose from the Dex lists that have been unlocked and are not empty. If there is only one such Dex list, that one is shown automatically when the&nbsp;<a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>&nbsp;is opened.
						</p><p>
							There are two arrays that are important here. The first is the array of Dex list names, shown above. There is also an array called&nbsp;<code>$PokemonGlobal.pokedexUnlocked</code>, which records which Dex lists have been unlocked. Both of these list all the Regional Dexes first, followed by the National Dex.
						</p><p>
							Each entry in the Dex names array can either be a name (e.g. the National Dex above), or an array itself containing the name and a number (e.g. the Kanto Dex above). If it is just a name, then when viewing that Dex list and looking at a species' area map, the current region's map will be shown. If it is a name and a number, then the number is which region's map to show for the area map (or the current region's map if that is invalid).
						</p><p>
							The first Regional Dex is automatically unlocked at the start of the game, but the rest are locked and will need to be unlocked manually later on. To unlock a Dex, use the following method:
						</p>
<pre>pbUnlockDex(0)
pbUnlockDex(1)
pbUnlockDex
</pre>
						<p>
							The number is the number of the Dex list to unlock (0 is the first Regional Dex, 1 is the second Regional Dex, etc.). If no number is given, then this will unlock the National Dex instead.
						</p><p>
							Similarly, you can lock a Dex as follows:
						</p>
<pre>pbLockDex(0)
pbLockDex(1)
pbLockDex
</pre>
						<p>
							The only way in which a Regional Dex corresponds to an actual region, when&nbsp;<code>DEXDEPENDSONLOCATION</code>&nbsp;is FALSE, is when the numbers in the Dex names array determine the <a href="/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">region map</a> to show when looking at a species' area map.
						</p>
						<h2><span id="Regional_Pokémon_storage"></span><span class="mw-headline" id="Regional_Pok.C3.A9mon_storage">Regional Pokémon storage</span></h2>
						<p>
							Essentials contains scripts for regional Pokémon storage, which is a way of separating Pokémon caught in different regions so that a Pokémon caught in one region cannot be used in another region.
						</p><p>
							However, this is not currently enabled and is not documented here.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>
								You can use the multiple regions feature in a number of ways, e.g.
								<ul>
									<li>Have one Dex list per region. This is the typical use.</li>
									<li>Johto "Old" and "New" styles (i.e. just rearrange the National Dex) - a Regional Dex doesn't need to contain fewer Pokémon than the National Dex.</li>
									<li>Characteristic-based Dex lists (e.g. "common"/"legendary", habitats, type-ordered). Having one Dex list per characteristic may lead to having lots of Dex lists.</li>
								</ul>
							</li>
							<li>You don't need to have the National Dex in your game at all. Even if it appears in the Dex names array (which it doesn't have to), you may simply never use/unlock it.</li>
							<li>To easily remove Regional Dexes, you can use the&nbsp;<a class="new" title="Editor (page does not exist)" data-uncrawlable-url="L3dpa2kvRWRpdG9yP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==" rel="nofollow">Editor</a>'s "Edit Regional Dexes" function to delete the Regional Dexes you want. Remember to start a new game afterwards rather than loading a saved game.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210430180829
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.014 seconds
					Real time usage: 0.018 seconds
					Preprocessor visited node count: 87/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 243/2097152 bytes
					Template argument size: 152/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    4.808      1 -total
					 61.17%    2.941      2 Template:For
					 34.63%    1.665      2 Template:Main
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:137-0!canonical and timestamp 20210430180829 and revision id 614
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512073806/https://essentialsdocs.fandom.com/wiki/Multiple_regions?oldid=614">https://essentialsdocs.fandom.com/wiki/Multiple_regions?oldid=614</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512073806/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>