@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512074814if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512074814/https://static.wikia.nocookie.net/essentialsdocs/images/9/99/MartScreen.png/revision/latest?cb=20190320172933" class="image"><img alt="" src="https://web.archive.org/web/20210512074814im_/https://static.wikia.nocookie.net/essentialsdocs/images/9/99/MartScreen.png/revision/latest/scale-to-width-down/256?cb=20190320172933" decoding="async" width="256" height="192" class="thumbimage" data-image-name="MartScreen.png" data-image-key="MartScreen.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512074814/https://essentialsdocs.fandom.com/wiki/File:MartScreen.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Buying items from a Poké Mart.</p> 		 	</figcaption> </figure>
						<p>
							This page describes how to create a&nbsp;<b>Poké Mart</b>. More generally, it describes&nbsp;<b>buying and selling items</b>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Buying_and_selling"><span class="tocnumber">1</span> <span class="toctext">Buying and selling</span></a></li>
								<li class="toclevel-1 tocsection-2">
									<a href="#Creating_a_Mart"><span class="tocnumber">2</span> <span class="toctext">Creating a Mart</span></a>
									<ul>
										<li class="toclevel-2 tocsection-3"><a href="#Changing_the_cost_of_an_item_in_a_Mart"><span class="tocnumber">2.1</span> <span class="toctext">Changing the cost of an item in a Mart</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-4"><a href="#Creating_a_vendor_NPC"><span class="tocnumber">3</span> <span class="toctext">Creating a vendor NPC</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Tips"><span class="tocnumber">4</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Buying_and_selling">Buying and selling</span></h2>
						<p>
							When&nbsp;<a href="/web/20210512074814/https://essentialsdocs.fandom.com/wiki/Defining_an_item" title="Defining an item">an item is defined</a>, one of the pieces of information is the price of the item. This is the price the player will need to pay in order to buy that item from a Mart. When the player sells an item to the Mart, they will sell it for half of this price. These prices may be altered for an individual Mart; see below.
						</p><p>
							If an item has a defined price of 0, then it cannot be sold to a Mart. Also, important items (i.e. Key Items and HMs, and also TMs if they are set to&nbsp;<a class="new" title="Useful scripts (page does not exist)" data-uncrawlable-url="L3dpa2kvVXNlZnVsX3NjcmlwdHM/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">infinite use items</a>) cannot be sold to a Mart, regardless of their defined price. An important item can still be bought from a Mart, though; in which case, only one of it can be bought at once, and it will disappear from the list of available items if the player already owns it (including immediately after buying it).
						</p><p>
							If the player buys 10 or more of any kind of Poké Ball in a single transaction, they will be given a free Premier Ball. This free Premier Ball is limited to one per transaction, not one per 10 Poké Balls.
						</p>
						<h2><span class="mw-headline" id="Creating_a_Mart">Creating a Mart</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512074814/https://static.wikia.nocookie.net/essentialsdocs/images/3/31/MartEvent.png/revision/latest?cb=20190320173126" class="image"><img alt="" src="https://web.archive.org/web/20210512074814im_/https://static.wikia.nocookie.net/essentialsdocs/images/3/31/MartEvent.png/revision/latest/scale-to-width-down/256?cb=20190320173126" decoding="async" width="256" height="243" class="thumbimage" data-image-name="MartEvent.png" data-image-key="MartEvent.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512074814/https://essentialsdocs.fandom.com/wiki/File:MartEvent.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">A simple Poké Mart event.</p> 		 	</figcaption> </figure>
						<p>
							To create an NPC that will buy/sell items in a Poké Mart, put the script&nbsp;<code>pbPokemonMart()</code>&nbsp;in an event as follows:
						</p>
<pre>@@&gt;Script: pbPokemonMart([
&nbsp;:     &nbsp;:&nbsp;:POKEBALL,:GREATBALL,
&nbsp;:     &nbsp;:&nbsp;:POTION,:SUPERPOTION,
&nbsp;:     &nbsp;:&nbsp;:ANTIDOTE,:PARALYZEHEAL,
&nbsp;:     &nbsp;:&nbsp;:AWAKENING,:BURNHEAL,
&nbsp;:     &nbsp;:&nbsp;:ICEHEAL,:ESCAPEROPE,
&nbsp;:     &nbsp;:&nbsp;:REPEL
&nbsp;:     &nbsp;: ])
@@&gt;
</pre>
						<p>
							The scripts which display the Mart screen are in the <a href="/web/20210512074814/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>PScreen_Mart</b>.
						</p>
						<h3><span class="mw-headline" id="Changing_the_cost_of_an_item_in_a_Mart">Changing the cost of an item in a Mart</span></h3>
						<p>
							It is possible to change the price of an item in a particular Poké Mart, or change how much you can sell a given item to that Mart for (or both). There is no limit to how many item prices can be modified this way.
						</p><p>
							Before the script&nbsp;<code>pbPokemonMart()</code>&nbsp;is run, you can use one of the following scripts:
						</p>
<pre>setPrice(:POTION,250)
setSellPrice(:POTION,200)
setPrice(:POTION,250,200)
</pre>
						<p>
							The first script will set the buying price of Potions from the Mart to $250, rather than the default $300. The selling price (i.e. how much a player will get by offloading a Potion onto the Mart) is half of this value, i.e. $125 rather than the default $150.
						</p><p>
							The second script will set the selling price of Potions to $200, rather than the default $150. The buying price of Potions (i.e. how much the player has to pay to get a Potion) will still be the default $300, therefore the selling price is not necessarily half of the buying price.
						</p><p>
							The third script is a combination of the first two. It sets both the buying and selling price of Potions.
						</p><p>
							You can use as many of these scripts as you like. You do&nbsp;<i>not</i>&nbsp;need to put them in the same Script event command as&nbsp;<code>pbPokemonMart()</code>. Their effects are stored in a temporary variable, and will affect&nbsp;<i>only</i>&nbsp;the next Mart that is accessed, so it makes sense to simply put them immediately before the Mart is accessed. It is entirely possible to end up using a whole lot of these scripts, depending on how much you want to micromanage your game's economy.
						</p>
						<h2><span class="mw-headline" id="Creating_a_vendor_NPC">Creating a vendor NPC</span></h2>
						<p>
							A vendor is an NPC that sells items, but is not a Mart (i.e. the player cannot sell items to them, and the shop screen is not displayed). This kind of NPC may sell exotic/rare items, or items at a reduced price.
						</p><p>
							The vendor NPC's event will contain messages and choice branches that ask whether the player wants to buy their item. The actual transaction (i.e. taking the money, giving the item) can be inserted easily into the event by including the following comment:
						</p>
<pre>Comment: SellItem(POTION,150)
</pre>
						<p>
							The number is the price that the item is being sold for. When the game is compiled, this comment is turned into the following set of event commands:
						</p>
<pre>@@&gt;Conditional Branch: Gold 150 or more
  @@&gt;Conditional Branch: Script: $PokemonBag.pbCanStore?(:POTION)
    @@&gt;Change Gold: - 150
    @@&gt;Text: \GHere you go!
    @@&gt; Script: Kernel.pbReceiveItem(:POTION)
    @@&gt;
  &nbsp;: Else
    @@&gt;Text: \GYou have no room left in the Bag.
    @@&gt;
  &nbsp;: Branch End
  @@&gt;
&nbsp;: Else
  @@&gt;Text: \GYou don't have enough money.
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							If the price of the item is 0, then the outer Conditional Branch and the references to the player's gold are omitted. However, in this case the NPC would be simply giving the player an item, and this would be a long-winded way of doing so. However, it may still be a useful shortcut to use.
						</p><p>
							Note that the commands will ONLY perform the actual transaction. You will still need to include text and choices that let the player choose whether they want to buy the item in the first place.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>The more recent Pokémon games vary the items available to buy depending not on location but on the number of&nbsp;<a href="/web/20210512074814/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_Gym" title="Pokémon Gym">Gym badges</a>&nbsp;the player has. Simply use Conditional Branches which check this number, and call a different version of&nbsp;<code>pbPokemonMart</code>&nbsp;in each case (with different stocks).</li>
							<li>You could have some Marts which covet different items depending on various factors, e.g. a Mart in a desert will pay more for drinks, or a Mart discounts certain items as a limited time promotion.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210510132603
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.016 seconds
					Real time usage: 0.018 seconds
					Preprocessor visited node count: 19/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 0/2097152 bytes
					Template argument size: 0/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    0.000      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:146-0!canonical and timestamp 20210510132603 and revision id 592
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512074814/https://essentialsdocs.fandom.com/wiki/Poké_Mart?oldid=592">https://essentialsdocs.fandom.com/wiki/Poké_Mart?oldid=592</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512074814/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>