				<ul class="nav level1 navbar-nav">
					<li class="active">
						<a href="articles/intro.html" name="articles/toc.html" title="Manual">Manual</a>
					</li>
					<li>
						<a href="api/index.html" name="api/toc.html" title="Scripting API">Scripting API</a>
					</li>
				</ul>