				<ul class="nav level1 navbar-nav">
					<li>
						<a href="~/Wiki/AllPages" name="articles/toc.html" title="Manual" class="active">Manual</a>
					</li>
					<li class="active">
						<a href="~/Api/index" name="api/toc.html" title="Scripting API">Scripting API</a>
					</li>
				</ul>