@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = PokemonUnity.Web.Public.Page.Titles.About;
}

					<div class="mw-parser-output">
						<p>
							This page contains a list of all common questions about Pokémon Essentials. If you couldn't find an answer to your question in the articles, check below.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1">
									<a href="#Starting_out"><span class="tocnumber">1</span> <span class="toctext">Starting out</span></a>
									<ul>
										<li class="toclevel-2 tocsection-2"><a href="#What_is_Pok.C3.A9mon_Essentials.3F"><span class="tocnumber">1.1</span> <span class="toctext">What is Pokémon Essentials?</span></a></li>
										<li class="toclevel-2 tocsection-3"><a href="#Where_do_I_download_Pok.C3.A9mon_Essentials.3F"><span class="tocnumber">1.2</span> <span class="toctext">Where do I download Pokémon Essentials?</span></a></li>
										<li class="toclevel-2 tocsection-4"><a href="#I_downloaded_Pok.C3.A9mon_Essentials.2C_now_what_do_I_do.3F"><span class="tocnumber">1.3</span> <span class="toctext">I downloaded Pokémon Essentials, now what do I do?</span></a></li>
										<li class="toclevel-2 tocsection-5"><a href="#What_is_RPG_Maker_XP_and_how_do_I_get_it.3F"><span class="tocnumber">1.4</span> <span class="toctext">What is RPG Maker XP and how do I get it?</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-6">
									<a href="#Intermediate"><span class="tocnumber">2</span> <span class="toctext">Intermediate</span></a>
									<ul>
										<li class="toclevel-2 tocsection-7"><a href="#How_do_I_create_maps.3F"><span class="tocnumber">2.1</span> <span class="toctext">How do I create maps?</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-8">
									<a href="#About_the_wiki"><span class="tocnumber">3</span> <span class="toctext">About the wiki</span></a>
									<ul>
										<li class="toclevel-2 tocsection-9"><a href="#Where_can_I_find_resources.3F"><span class="tocnumber">3.1</span> <span class="toctext">Where can I find resources?</span></a></li>
										<li class="toclevel-2 tocsection-10"><a href="#Why_isn.27t_page_X_complete.3F"><span class="tocnumber">3.2</span> <span class="toctext">Why isn't page X complete?</span></a></li>
										<li class="toclevel-2 tocsection-11"><a href="#How_do_I_contribute.3F"><span class="tocnumber">3.3</span> <span class="toctext">How do I contribute?</span></a></li>
									</ul>
								</li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Starting_out">Starting out</span></h2>
						<h3><span id="What_is_Pokémon_Essentials?"></span><span class="mw-headline" id="What_is_Pok.C3.A9mon_Essentials.3F">What is Pokémon Essentials?</span></h3>
						<p>
							Pokémon Essentials (also referred to as the Pokémon Starter Kit) is a group of scripts and resources developed and compiled by poccil for RPG Maker XP. Essentials adds functionality to the standard RPG Maker XP engine in order to allow for the creation of Pokémon-style games.
						</p>
						<h3><span id="Where_do_I_download_Pokémon_Essentials?"></span><span class="mw-headline" id="Where_do_I_download_Pok.C3.A9mon_Essentials.3F">Where do I download Pokémon Essentials?</span></h3>
						<p>
							Pokémon Essentials cannot be downloaded from this wiki due to a copyright violation claim by Nintendo.
						</p>
						<h3><span id="I_downloaded_Pokémon_Essentials,_now_what_do_I_do?"></span><span class="mw-headline" id="I_downloaded_Pok.C3.A9mon_Essentials.2C_now_what_do_I_do.3F">I downloaded Pokémon Essentials, now what do I do?</span></h3>
						<p>
							After unzipping the downloaded files into a folder of your choosing, you can open "Game.rxproj" in RPG Maker XP to begin editing straight away. Before you do, though, you should read over the included documentation (which can also be accessed online&nbsp;here) and actually play through the included maps in order to gain an understanding of what Essentials is and what kinds of things it can do.
						</p>
						<h3><span id="What_is_RPG_Maker_XP_and_how_do_I_get_it?"></span><span class="mw-headline" id="What_is_RPG_Maker_XP_and_how_do_I_get_it.3F">What is RPG Maker XP and how do I get it?</span></h3>
						<p>
							RPG Maker XP, or RMXP, is a piece of software developed by Enterbrain for Windows. It allows the creation of 2D role-playing games, and serves as the backbone of Essentials. A 30-day trial of RMXP can be downloaded for free, but in order to use it beyond this trial period, a license must be purchased at the cost of $29.99USD.
						</p><p>
							RMXP can be downloaded and purchased&nbsp;here.
						</p>
						<h2><span class="mw-headline" id="Intermediate">Intermediate</span></h2>
						<h3><span id="How_do_I_create_maps?"></span><span class="mw-headline" id="How_do_I_create_maps.3F">How do I create maps?</span></h3>
						<p>
							This is a general RMXP question, not one specifically about Essentials. There are plenty of guides on how to use RMXP on the Internet.
						</p><p>
							There are some aspects of mapping (e.g.&nbsp;terrain tags) that are specific to Essentials, though. These aspects are documented on this wiki.
						</p>
						<h2><span class="mw-headline" id="About_the_wiki">About the wiki</span></h2>
						<h3><span id="Where_can_I_find_resources?"></span><span class="mw-headline" id="Where_can_I_find_resources.3F">Where can I find resources?</span></h3>
						<p>
							The wiki is not a place to upload and store resources such as sprites, tilesets and music. These things can easily be found on the Internet, though.
						</p><p>
							If you want custom scripts, such as one for a new&nbsp;mini-game, find the appropriate article and see what's in it. There may also be related tutorials, which often have scripts in them. Remember to credit the tutorial's author!
						</p>
						<h3><span id="Why_isn't_page_X_complete?"></span><span class="mw-headline" id="Why_isn.27t_page_X_complete.3F">Why isn't page X complete?</span></h3>
						<p>
							The wiki is still growing, and not all aspects of Essentials have been documented yet.
						</p>
						<h3><span id="How_do_I_contribute?"></span><span class="mw-headline" id="How_do_I_contribute.3F">How do I contribute?</span></h3>
						<p>
							There are several ways you can help the wiki grow:
						</p>
						<ul>
							<li>Edit an article directly to add in more information.</li>
							<li>Add notes to article talk pages about things you think the article should talk about.</li>
							<li>Create a&nbsp;tutorial.</li>
							<li>Advertise the wiki so that other people will come in and help it grow.</li>
						</ul>
					</div>