@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
	//^\s*<li.+/wiki/([\w%-]+)".+>([\w -]+)<.+\r
	//public const string $1\t\t\t\t\t\t=\t"$1";
}

<div class="mw-allpages-body">
	<ul class="mw-allpages-chunk">
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Abilities" title="Abilities">Abilities</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/About" title="About">About</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Adding_new_encounter_methods" title="Adding new encounter methods">Adding new encounter methods</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/All_Animations_Project" title="All Animations Project">All Animations Project</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Attack_animations" title="Attack animations">Attack animations</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Audio" title="Audio">Audio</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Backgrounds_and_music" title="Backgrounds and music">Backgrounds and music</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Battle" class="mw-redirect" title="Battle">Battle</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Battle_AI" title="Battle AI">Battle AI</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Battle_Frontier" title="Battle Frontier">Battle Frontier</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Battle_Tower" class="mw-redirect" title="Battle Tower">Battle Tower</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Battles" title="Battles">Battles</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Berry_planting" title="Berry planting">Berry planting</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Breeding" title="Breeding">Breeding</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Bridges" title="Bridges">Bridges</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Bug_Catching_Contest" title="Bug Catching Contest">Bug Catching Contest</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Change_log" title="Change log">Change log</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Change_log/v11_to_v15" title="Change log/v11 to v15">Change log/v11 to v15</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Change_log/v1_to_v5" title="Change log/v1 to v5">Change log/v1 to v5</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Change_log/v6_to_v10" title="Change log/v6 to v10">Change log/v6 to v10</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Choosing_a_starter" title="Choosing a starter">Choosing a starter</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Compiler" title="Compiler">Compiler</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Connecting_maps" title="Connecting maps">Connecting maps</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Controlling_events_with_scripts" title="Controlling events with scripts">Controlling events with scripts</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">Controls</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Credits" title="Credits">Credits</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Day_Care" title="Day Care">Day Care</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">Debug mode</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_a_move" title="Defining a move">Defining a move</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_a_species" title="Defining a species">Defining a species</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">Defining a trainer</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_a_type" title="Defining a type">Defining a type</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_an_ability" title="Defining an ability">Defining an ability</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Defining_an_item" title="Defining an item">Defining an item</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Dungeons" title="Dungeons">Dungeons</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">Editing a Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">Eggs</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Encounters" class="mw-redirect" title="Encounters">Encounters</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Error_messages" title="Error messages">Error messages</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Essentials_Docs_Wiki" title="Essentials Docs Wiki">Essentials Docs Wiki</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Event_encounter" class="mw-redirect" title="Event encounter">Event encounter</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Event_encounters" title="Event encounters">Event encounters</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Events</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Evolution" title="Evolution">Evolution</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">Example maps</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Fishing_encounters" title="Fishing encounters">Fishing encounters</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">Forms</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Function_codes" title="Function codes">Function codes</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Game_Corner" title="Game Corner">Game Corner</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Game_intro" title="Game intro">Game intro</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Getting_around" title="Getting around">Getting around</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Guides" title="Guides">Guides</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/How_you_can_help" title="How you can help">How you can help</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Item_balls" title="Item balls">Item balls</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Item_effects" title="Item effects">Item effects</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Itemfinder" title="Itemfinder">Itemfinder</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Items" title="Items">Items</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Jukebox" title="Jukebox">Jukebox</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Learning_moves" title="Learning moves">Learning moves</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/List_of_abilities" title="List of abilities">List of abilities</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Lottery" class="mw-redirect" title="Lottery">Lottery</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Main_Page" class="mw-redirect" title="Main Page">Main Page</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">Manipulating Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Manipulating_items" title="Manipulating items">Manipulating items</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">Maps</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Mega_Evolution" title="Mega Evolution">Mega Evolution</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Messages" title="Messages">Messages</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">Metadata</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Mini-game" class="mw-redirect" title="Mini-game">Mini-game</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Mini-games" title="Mini-games">Mini-games</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Mining_mini-game" title="Mining mini-game">Mining mini-game</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Move_effects" title="Move effects">Move effects</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Moves" title="Moves">Moves</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Multiple_forms" class="mw-redirect" title="Multiple forms">Multiple forms</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">Multiple regions</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Mystery_Gift" title="Mystery Gift">Mystery Gift</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Obstacles" title="Obstacles">Obstacles</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Options_screen" title="Options screen">Options screen</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/PC" title="PC">PC</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">Partner trainer</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Party" title="Party">Party</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pause_menu" title="Pause menu">Pause menu</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Phone" title="Phone">Phone</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Player" title="Player">Player</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pokemon" class="mw-redirect" title="Pokemon">Pokemon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9_Center" title="Poké Center">Poké Center</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9_Mart" title="Poké Mart">Poké Mart</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9_Radar" title="Poké Radar">Poké Radar</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9gear" title="Pokégear">Pokégear</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon" title="Pokémon">Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_Gym" title="Pokémon Gym">Pokémon Gym</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_storage" title="Pokémon storage">Pokémon storage</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Region_map" title="Region map">Region map</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Rematches" title="Rematches">Rematches</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Rival" title="Rival">Rival</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Roaming_Pok%C3%A9mon" title="Roaming Pokémon">Roaming Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Safari_Zone" title="Safari Zone">Safari Zone</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Saving_and_loading" title="Saving and loading">Saving and loading</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">Script section</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Script_sections" title="Script sections">Script sections</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Setting" class="mw-redirect" title="Setting">Setting</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Shiny_Pok%C3%A9mon" title="Shiny Pokémon">Shiny Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Side_stairs" title="Side stairs">Side stairs</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Slot_Machine" class="mw-redirect" title="Slot Machine">Slot Machine</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Slot_Machines" class="mw-redirect" title="Slot Machines">Slot Machines</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Special_NPCs" title="Special NPCs">Special NPCs</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Summary_screens" title="Summary screens">Summary screens</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Tilesets" title="Tilesets">Tilesets</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Time" title="Time">Time</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Time-sensitive_events" title="Time-sensitive events">Time-sensitive events</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Trading_Pok%C3%A9mon" title="Trading Pokémon">Trading Pokémon</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Trainer_card" title="Trainer card">Trainer card</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">Trainers</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Translating_the_game" title="Translating the game">Translating the game</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Triple_Triad" title="Triple Triad">Triple Triad</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">Using moves outside battle</a></li>
		<li class="allpagesredirect"><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Voltorb_Flip" class="mw-redirect" title="Voltorb Flip">Voltorb Flip</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Weather" title="Weather">Weather</a></li>
		<li><a href="/web/20211024121107/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">Wild encounters</a></li>
	</ul>
</div>