@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = PokemonUnity.Web.Public.Page.Titles.Connecting_maps;
}

					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20210512080836/https://static.wikia.nocookie.net/essentialsdocs/images/5/52/ConnectingMaps.png/revision/latest?cb=20210502145424" class="image"><img alt="" src="https://web.archive.org/web/20210512080836im_/https://static.wikia.nocookie.net/essentialsdocs/images/5/52/ConnectingMaps.png/revision/latest/scale-to-width-down/256?cb=20210502145424" decoding="async" width="256" height="215" class="thumbimage" data-image-name="ConnectingMaps.png" data-image-key="ConnectingMaps.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/File:ConnectingMaps.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">A number of maps are being joined together in the "Edit Map Connections" <a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">debug feature</a>.</p> 		 	</figcaption> </figure>
						<dl><dd><i>For other ways of moving between two maps, see <a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a>.</i></dd></dl>
						<p>
							This page describes how to&nbsp;<b>connect maps together</b>&nbsp;seamlessly, so that the player can walk from one to the other.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Map_connections"><span class="tocnumber">1</span> <span class="toctext">Map connections</span></a></li>
								<li class="toclevel-1 tocsection-2">
									<a href="#When_to_make_maps_connected"><span class="tocnumber">2</span> <span class="toctext">When to make maps connected</span></a>
									<ul>
										<li class="toclevel-2 tocsection-3"><a href="#PBS_file_connections.txt"><span class="tocnumber">2.1</span> <span class="toctext">PBS file connections.txt</span></a></li>
										<li class="toclevel-2 tocsection-4"><a href="#Non-bordering_connected_maps"><span class="tocnumber">2.2</span> <span class="toctext">Non-bordering connected maps</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-5"><a href="#Creating_map_connections"><span class="tocnumber">3</span> <span class="toctext">Creating map connections</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Map_connections">Map connections</span></h2>
						<p>
							While standing on a map (the current map), any other maps which are directly connected to the current map will be loaded and shown as well. This allows seamless and continuous movement from one map to another.
						</p><p>
							Only connected maps which are "in range" will be loaded. A map is considered "in range" if any part of it is sufficiently close to what the game screen is showing. That is, if the player is just a few tiles away from being able to see the connected map, it is "in range".
						</p><p>
							Note that if the loaded connected maps are large and/or have lots of events in them, they can make the game lag. For this reason, it is recommended that you optimize your maps by keeping them smaller and with fewer events on them.
						</p><p>
							Maps are connected by making their edges touch. The&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">"Edit Map Connections" debug feature</a>&nbsp;will only save a connection between two maps if they are touching each other at any point (but not overlapping).
						</p>
						<h2><span class="mw-headline" id="When_to_make_maps_connected">When to make maps connected</span></h2>
						<p>
							Most outdoor maps are connected to each other, to allow the player to walk seamlessly from a route to a town, and so forth.
						</p><p>
							If you have a large map, you may want to divide that map up into "chunks" to help reduce lag by having less map/event data loaded at once. You can also take advantage of this possibility to have different wild encounters in different parts of the same location.
						</p><p>
							As the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">location signpost</a>&nbsp;shows up when stepping onto any new outdoor map, this will (normally) happen when moving from one map to another. If you have split one large location into several maps, this could potentially happen as you pass from one part of the location to another, which would be undesirable. However, the location signpost will not show up if the names of the old map and the new map are the same. Because of this, you should give each part's map the same name. For example, you could have two "Route 42" maps, even though one is the eastern half and the other is the western half.
						</p>
						<h3><span class="mw-headline" id="PBS_file_connections.txt">PBS file connections.txt</span></h3>
						<p>
							A map connection is defined by selecting one point on each of the two connecting maps, and saying that they touch.
						</p><p>
							Map connections are stored in the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"connections.txt". Each line is a separate map connection, which consists of 6 comma-separated elements as follows:
						</p>
						<ol>
							<li>Map 1's ID number</li>
							<li>Map 1's edge (one of N, North, S, South, E, East, W or West)</li>
							<li>Map 1's connecting point (a positive integer)</li>
							<li>Map 2's ID number</li>
							<li>Map 2's edge (one of N, North, S, South, E, East, W or West)</li>
							<li>Map 2's connecting point (a positive integer)</li>
						</ol>
						<p>
							Note that you can only connect north to south, and east to west. The connecting points are distances from the top (for east-west connections) or from the left (for north-south connection) of the respective maps.
						</p>
<pre>24,E,3,25,W,8
</pre>
						<p>
							This example connects maps 24 and 25. The connection will be east-west, with map 24 on the left and map 25 on the right (because map 24's east side touches map 25's west side). Where the two maps join, the 3rd tile from the top of map 24 will be connected directly to the 8th tile from the top of map 25 (so the top of map 25 is 5 tiles further up than the top of map 24).
						</p>
<pre>37,N,0,38,S,0
</pre>
						<p>
							This example connects maps 37 and 38. The connection will be north-south, with map 37 below map 38. Where the two maps join, the left-most tile of map 24 will be connected directly to the left-most tile of map 25.
						</p>
						<h3><span class="mw-headline" id="Non-bordering_connected_maps">Non-bordering connected maps</span></h3>
						<p>
							It is possible to connect two maps together even if they don't have sides that touch. In this case, rather than choosing a side and a distance along that side for each map, you should instead use two coordinates. For example:
						</p>
<pre>24,0,0,25,21,14
</pre>
						<p>
							The top left corner tile (0,0) of map 24 will be at coordinates (21,14) when compared to map 25 (i.e. map 24 is to the bottom-right of map 25).
						</p><p>
							These "connections" will not be saved by the <a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">"Edit Map Connections" debug feature</a>. You will need to create them manually in the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"connections.txt", and make sure they remain there even if you use the <a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">"Edit Map Connections" debug feature</a> later.
						</p><p>
							Uses for this kind of map connection include overlapping maps, maps divided by non-traversable blackness, opposite corners of a large city spanning multiple maps, and so on. Despite this, it is unlikely you will ever need to connect non-bordering maps.
						</p>
						<h2><span class="mw-headline" id="Creating_map_connections">Creating map connections</span></h2>
						<p>
							There are two ways to connect two maps together: edit the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"connections.txt" directly using the above guidelines, or use the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">Debug mode</a>'s "Edit Map Connections" feature. The latter is by far the easier method. The screenshot above is taken in the "Edit Map Connections" feature.
						</p><p>
							The "Edit Map Connections" feature is accessed from the&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">Debug menu</a>. In it, you can load maps to the canvas and drag them around to connect them with each other. Make sure that they are connected by their very edges, and that they don't overlap, otherwise their connections will not be saved.
						</p><p>
							The controls are as follows:
						</p>
						<ul>
							<li>Up/Down/Left/Right - Move around the canvas (you can also click and drag an empty part of the canvas to scroll around)</li>
							<li>Click on a map and drag it around to move the map</li>
							<li>S - Choose a map to start with</li>
							<li>A - Add another map to the canvas</li>
							<li>Delete - Remove a selected map from the canvas</li>
							<li>Double click on a map - Edit the clicked map's&nbsp;<a href="/web/20210512080836/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a></li>
							<li>D - Show a help screen listing these controls</li>
							<li>Esc - Exit (allows you to save the changes)</li>
						</ul>
					</div>