@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201028141900if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<p>
							Pokémon Essentials, like any other coding project, will occasionally have bugs or may even crash. When things do go wrong, you will usually get an error message. This page lists common error messages you may come across, and offers tips on how to fix the problem.
						</p><p>
							Knowing how to read error messages is important, and doing so will often save you a lot of time and effort trying to find a solution. Some error messages will offer you solutions themselves!
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#BEFORE_YOU_BEGIN.21"><span class="tocnumber">1</span> <span class="toctext"><b>BEFORE YOU BEGIN!</b></span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Syntax_error"><span class="tocnumber">2</span> <span class="toctext">Syntax error</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#File_Data.2FMapXXX.rxdata_not_found"><span class="tocnumber">3</span> <span class="toctext">File Data/MapXXX.rxdata not found</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Trainer_not_valid"><span class="tocnumber">4</span> <span class="toctext">Trainer not valid</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Undefined_method"><span class="tocnumber">5</span> <span class="toctext">Undefined method</span></a></li>
								<li class="toclevel-1 tocsection-6"><a href="#Bad_line_syntax_.28expected_syntax_like_XXX.3DYYY.29"><span class="tocnumber">6</span> <span class="toctext">Bad line syntax (expected syntax like XXX=YYY)</span></a></li>
								<li class="toclevel-1 tocsection-7"><a href="#Undefined_method_.60.2B.27_for_nil:NilClass"><span class="tocnumber">7</span> <span class="toctext">Undefined method `+' for nil:NilClass</span></a></li>
								<li class="toclevel-1 tocsection-8"><a href="#Comparison_of_String_with_0_failed"><span class="tocnumber">8</span> <span class="toctext">Comparison of String with 0 failed</span></a></li>
								<li class="toclevel-1 tocsection-9"><a href="#Other_errors"><span class="tocnumber">9</span> <span class="toctext">Other errors</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span id="BEFORE_YOU_BEGIN!"></span><span class="mw-headline" id="BEFORE_YOU_BEGIN.21"><b>BEFORE YOU BEGIN!</b></span></h2>
						<p>
							Many errors are caused by improper syntax or lack of attention to details. Essentials won't always work as you think it should, so make sure you're doing things the way this wiki says to.
						</p><p>
							If you're experiencing an error message when you try to use a new feature in a newly-downloaded version of Essentials, the problem is usually that you are using a save file from an old version (which doesn't include the extra settings needed for the new feature). Start a New Game (don't “Continue”).
						</p><p>
							Again, try actually reading the error message. There will usually be a description of what went wrong at the top, followed by a list of lines in script sections which illustrate exactly what the game was doing just before the crash. If the error message doesn't clearly state what the problem was, then look at the scripts to find which line caused the problem.
						</p><p>
							If you still can't work out what happened, have a look at the errors below to see if yours is one of them. If that <i>still</i> doesn't give you an answer, ask in the forum — make sure to copy and paste the entire error message when you do so! Before asking for help, ensure you are using the latest version of Essentials, as it contains many bug fixes.
						</p>
						<h2><span class="mw-headline" id="Syntax_error">Syntax error</span></h2>
						<p>
							A very common error is one which occurs when writing a script event command in an event which is longer than one line, such as the one below:
						</p>
<pre>Exception: RuntimeError
Message: Script Error within event 9, map 38 (Lab):
Exception: SyntaxError
Message: (eval):2:in 'pbExecuteScript' compile error
(eval):2: syntax error
(PBSpecies::SPEAROW,20,3)
^
***Line '(PBSpecies::SPEAROW,20,3)' shouldn't begin with '('.  Try
putting '(' at the end of the previous line instead,
or using Extendtext.

***Full script:
pbWildBattle
(PBSpecies::SPEAROW,20,3)
</pre>
						<p>
							In this case, the error message tells you how to fix the error — you need to retype the script command such that it is laid out properly. The correct version of the line given in this example is:
						</p>
<pre>pbWildBattle(
PBSpecies::SPEAROW,20,3)
</pre>
						<p>
							Additionally, it's also possible to execute script commands with a single line for each parameter as seen below.
						</p>
<pre>pbWildBattle(
PBSpecies::SPEAROW,
20,
3
)
</pre>
						<p>
							Note that the “(” is at the end of the first line now of the two examples above.
						</p><p>
							Alternatively, you can always use “extendtext.exe” to widen the script command box in events, allowing you to type everything on a single line.
						</p>
						<h2><span id="File_Data/MapXXX.rxdata_not_found"></span><span class="mw-headline" id="File_Data.2FMapXXX.rxdata_not_found">File Data/MapXXX.rxdata not found</span></h2>
						<p>
							This error occurs either when the player is walking around a map (specifically when they approach the edge of one) or when they transfer to another map. The “XXX” in the error message will be a number.
						</p>
<pre>Exception: Error::ENOENT
Message: File Data/MapXXX.rxdata not found.
</pre>
						<p>
							It is caused when the user has deleted a map from the game, but has not removed all references to it, most likely in the <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> “connections.txt”. The game crashes because it cannot find the specified map to connect to the current one.
						</p><p>
							Notably, this error also occurs when using events (typically those dealing with map transitions) that try to transfer the player to a map that no longer exists.
						</p><p>
							The solution is to clean up the <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Connecting_maps" title="Connecting maps">connections</a>, and for good measure, find and remove all other references to the deleted map.
						</p>
						<h2><span class="mw-headline" id="Trainer_not_valid">Trainer not valid</span></h2>
						<p>
							This error occurs when a trainer battle is initiated.
						</p>
<pre>Exception: RuntimeError
Message: Script error within event X, map X (Map X):
Exception: NameError
Message: (eval):1:in `pbExecuteScript'The trainer 'PkMnTRAINER_X' is not valid. Please add the trainer
to the list of trainer types in the Editor. See the wiki for
more information.

***Full script:
 pbTrainerBattle(PBTrainers::PkMnTRAINER_X,"Dave",_I("..."),false,0,true)
</pre>
						<p>
							The error occurs because the trainer type given ("PkMnTRAINER_X" here) doesn't exist.
						</p><p>
							Ensure that this <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">trainer type</a> exists, and is spelled identically (it is case-sensitive) in the event starting the trainer battle to how it is defined in the <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS files</a> “trainertypes.txt” and “trainers.txt”.
						</p>
						<h2><span class="mw-headline" id="Undefined_method">Undefined method</span></h2>
						<p>
							When working with scripts, an error similar to this one will be encountered from time to time. In the example below, it is caused by misspelling a method name (in this case, pbSampleScript):
						</p>
<pre>Exception: RuntimeError
Message: Script error within event X, map Y (Map Name):
Exception: NoMethodError
Message: Section147:24:in `pbSampleMethod'undefined method `pbMessages' for Kernel:Module
***Full script:
 pbSampleScript
</pre>
						<p>
							The error message gives the event ID, the map ID, and the map name (respectively) of where the error occurred, so you know where to look to fix the problem.
						</p><p>
							The error message also gives the script section and line number that caused the error. Given this information, it should be fairly easy to find the cause of the error and correct it (which is often a misspelling).
						</p>
						<h2><span id="Bad_line_syntax_(expected_syntax_like_XXX=YYY)"></span><span class="mw-headline" id="Bad_line_syntax_.28expected_syntax_like_XXX.3DYYY.29">Bad line syntax (expected syntax like XXX=YYY)</span></h2>
						<p>
							This error occurs when something in a PBS file is not written correctly.
						</p>
<pre>Exception: RuntimeError
Message: Bad line syntax (expected syntax like XXX=YYY)
File PBS/pokemon.txt, section 487, key WildItemRare
</pre>
						<p>
							The error message provides the name of the PBS file and a section number. Ignore the key. You will need to look in the <i>next</i> section of the PBS file <i>after</i> the stated section, and analyse what is written in there to see what is wrong. As the error message says, it expects every line to be in the form "XXX=YYY", so you will probably be missing an equals sign in a line.
						</p><p>
							This doesn't apply to all PBS files, because they don't all work the same way.
						</p>
						<h2><span id="Undefined_method_`+'_for_nil:NilClass"></span><span class="mw-headline" id="Undefined_method_.60.2B.27_for_nil:NilClass">Undefined method `+' for nil:NilClass</span></h2>
						<p>
							Also known as the <b>getRoughLatLon</b> error due to the def that caused the problem, this is a common error associated with the versions of Essentials prior to version 1. It occurs immediately when a game is started, or when the player attempts to enter an outdoor map.
						</p>
<pre>Exception: NoMethodError
Message: undefined method `+' for nil:NilClass
PokemonUtilities:289:in `getRoughLatLon'
PokemonUtilities:386:in `getLatLong'
PokemonUtilities:586:in `getToneInternal'
PokemonUtilities:584:in `each'
PokemonUtilities:584:in `getToneInternal'
PokemonUtilities:353:in `getTone'
PokemonUtilities:2095:in `pbDayNightTint'
Sprite_Character:124:in `update_or'
PerspectiveTilemap:408:in `shadow_update'
Shadow:179:in `update'
</pre>
						<p>
							This error is caused by the <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Time" title="Time">time</a> system not working properly on older versions of Windows (or on other operating systems).
						</p><p>
							To fix this, go into the script section <b>PokemonUtilities</b> to line 289. Replace that line with wcache=false. Alternatively, disable the <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Time" title="Time">time</a> system, or use a newer version of Essentials instead (which have a different <a href="/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Time" title="Time">time</a> system).
						</p>
						<h2><span class="mw-headline" id="Comparison_of_String_with_0_failed">Comparison of String with 0 failed</span></h2>
						<p>
							This occurs whenever a certain map loads (be that via connections, or if you try to warp to it). This may occurs even if you don't change anything in the map.
						</p>
<pre>Exception: ArgumentError
Message: comparison of String with 0 failed
Game_Event_:161:in `&lt;'
Game_Event_:161:in `nf_particles_game_map_refresh'
Game_Event_:148:in `each'
Game_Event_:148:in `nf_particles_game_map_refresh'
Particle_Engine:596:in `refresh'
Game_Event_:20:in `nf_particles_game_map_initialize'
Particle_Engine:591:in `initialize'
Game_Map_:57:in `new'
Game_Map_:57:in `setup'
Game_Map_:56:in `each'
</pre>
						<p>
							This error occurs when you have an event with a condition with a variable value (Number) and this variable was a word (String). Example: You have an event that only start when the variable 40 has 1 or more, but the variable 40 has the rival name.
						</p><p>
							Note that some strings may have only numbers. To correctly check, just go in debug and enter the variables (the part that you can edit the variables values). If the variable has a number value (like 25), but when you click the value goes to 0, so it's a string. But if the string is “0”, you unable to find with this method.
						</p>
						<h2><span class="mw-headline" id="Other_errors">Other errors</span></h2>
						<ul>
							<li>A pop-up message may warn the user of a syntax error, and indicate the script section and line it is on. If the line it refers to is the very last line of that script section, it is likely that an “end” is missing somewhere earlier in the script section.</li>
							<li>With Windows Vista users, this error may occur: Failed to obtain a trial serial number from the nTiles server. To remedy this, go to the folder “C:\Program Files\Enterbrain\RPGXP”, right click the “RPGXP.exe” file (the orange icon with a dragon silhouette) and click “Properties”. Select the “Compatibility” tab and check “Run this program in compatibility mode for:”, and then select “Windows XP (Service Pack 2)”. Then under privilege level, check “Run as Administrator”.</li>
							<li>Essentials (the pack) uses the file “RGSS102E.dll” (in the game's main folder), but every time you save the project in an RPG Maker XP which uses a different version of this file (e.g. “RGSS104E.dll”), a configuration setting will be changed to point to that other version instead. This can result in the game crashing (generally in evolution scene) or not running. If this happens, you should edit the “game.ini” file found in the game's main folder, and change the appropriate line to “Library=RGSS102E.dll” OR edit the dll name to match the Library name.</li>
							<li>For Windows 8, extendtext.exe only works if you run this executable using Windows XP SP2 compatibility mode.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20201022234259
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.012 seconds
					Real time usage: 0.017 seconds
					Preprocessor visited node count: 34/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 0/2097152 bytes
					Template argument size: 0/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    0.000      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:277-0!canonical and timestamp 20201022234259 and revision id 630
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201028141900/https://essentialsdocs.fandom.com/wiki/Error_messages?oldid=630">https://essentialsdocs.fandom.com/wiki/Error_messages?oldid=630</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201028141900/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>