@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512084154if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For moving between maps via doors or teleports, see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a>.</i></dd>
							<dd><i>For connecting two maps together to allow walking from one to the other, see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Connecting_maps" title="Connecting maps">Connecting maps</a>.</i></dd>
							<dd><i>For things that block the player's progress, see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Obstacles" title="Obstacles">Obstacles</a>.</i></dd>
							<dd><i>For ways to overcome some obstacles, see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">Using moves outside battle</a>.</i></dd>
						</dl>
						<p>
							This page describes the various ways the player can&nbsp;<b>move around</b>&nbsp;the maps.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Walking_and_running"><span class="tocnumber">1</span> <span class="toctext">Walking and running</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Cycling"><span class="tocnumber">2</span> <span class="toctext">Cycling</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Surfing"><span class="tocnumber">3</span> <span class="toctext">Surfing</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Diving"><span class="tocnumber">4</span> <span class="toctext">Diving</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Other_movement"><span class="tocnumber">5</span> <span class="toctext">Other movement</span></a></li>
								<li class="toclevel-1 tocsection-6"><a href="#Tips"><span class="tocnumber">6</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Walking_and_running">Walking and running</span></h2>
						<p>
							The player can walk around from the start of the game. Running, however, requires a pair of running shoes. These are not an item, but rather a boolean variable that allows running in the game. To allow the player to run, give them the running shoes by using the following line of code:
						</p>
<pre>$PokemonGlobal.runningShoes=true
</pre>
						<p>
							To run, press and hold the&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">run button</a>&nbsp;while moving (or tap it to toggle running depending on the relevant option in the <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Options_screen" title="Options screen">Options screen</a>). While running, the player's graphic changes (see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Player" title="Player">Player</a>&nbsp;for how to define which graphic this is). The player can run anywhere (except if they are cycling, surfing or diving, obviously).
						</p><p>
							Walking, running and cycling speeds are set in <code>def update_command</code> in the <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Game_Player_Visuals</b>. By default, walking speed is 3 (0.25 seconds per tile moved), running speed is 4 (0.125 seconds per tile), and cycling speed is 5 (0.1 seconds per tile). The highest speed that Essentials supports without messing with other things (like touch events) is 6 (0.05 seconds per tile).
						</p>
						<h2><span class="mw-headline" id="Cycling">Cycling</span></h2>
						<p>
							Riding a bicycle is quicker than running, and is mandatory on some maps (e.g. Cycling Road). Such maps will have the "BicycleAlways"&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a>&nbsp;set.
						</p><p>
							The player can only cycle in outdoor maps, and also in any maps that have the "BicycleAlways" or "Bicycle"&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Metadata" title="Metadata">metadata</a>&nbsp;set to TRUE. The player will automatically dismount if they enter a map in which they cannot cycle, and at the end of each&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Battle" class="mw-redirect" title="Battle">battle</a>. The player cannot cycle into really tall grass, and cannot mount their bicycle while in it. Also, the player cannot mount their bicycle if they have a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">dependent event</a>.
						</p><p>
							While cycling, the player's graphic changes (see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Player" title="Player">Player</a>&nbsp;for how to define this graphic). While cycling, the variable&nbsp;<code>$PokemonGlobal.bicycle</code>&nbsp;is TRUE.
						</p><p>
							You can force the player to get on their bicycle by using&nbsp;<code>pbMountBike</code>, and force them off again with&nbsp;<code>pbDismountBike</code>&nbsp;(although you shouldn't ever need to).
						</p><p>
							When entering a "BicycleAlways" map, mounting is done automatically. Note that the player will mount a bicycle even if they don't have one in their&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a>. Because of this, the player's transfer onto that map should include a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Manipulating_items" title="Manipulating items">check</a>&nbsp;(e.g. by an NPC) to see whether the player has a bicycle, and to only let them through to the "BicycleAlways" map if they do.
						</p>
						<h2><span class="mw-headline" id="Surfing">Surfing</span></h2>
						<p>
							Surfing is the only way to travel over water. This is done by having a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;Pokémon&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">use the move Surf</a>, which requires that the player have the appropriate&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_Gym" title="Pokémon Gym">Gym Badge</a>&nbsp;that allows it. The player cannot surf if they have any dependent events (e.g.&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Partner_trainer" title="Partner trainer">partner trainers</a>).
						</p><p>
							Water is defined as any tiles with a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Tilesets" title="Tilesets">terrain tag</a>&nbsp;of either 5 (deep water), 6 (still water), 7 (normal water), 8 (waterfall) or 9 (waterfall crest).
						</p><p>
							While surfing, the player's graphic changes (see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Player" title="Player">Player</a>&nbsp;for how to define this graphic). Surfing speed is the same as running speed. While surfing, the variable&nbsp;<code>$PokemonGlobal.surfing</code>&nbsp;is TRUE.
						</p><p>
							A special method is needed to allow the player to transfer to a different map while remaining surfing. See <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a> for more information.
						</p>
						<h2><span class="mw-headline" id="Diving">Diving</span></h2>
						<p>
							The player can go underwater by diving into deep patches of water. This is done by having a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;Pokémon&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">use the move Dive</a>&nbsp;(while surfing), which requires that the player have the appropriate&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_Gym" title="Pokémon Gym">Gym Badge</a> that allows it. The player must also be on a tile with a&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Tilesets" title="Tilesets">terrain tag</a>&nbsp;of 5 (deep water).
						</p><p>
							While underwater, the player can&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">use the move Dive</a>&nbsp;to surface again. When the player is able to do so depends on the <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Setting" class="mw-redirect" title="Setting">setting</a>&nbsp;<code>DIVING_SURFACE_ANYWHERE</code>&nbsp;in the <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>. If it is TRUE, then the player will always be able to surface, no matter where underwater they are. If it is FALSE, they will only be able to surface if the corresponding spot on the surface map is a place they could dive down from.
						</p><p>
							While diving, the player's graphic changes (see <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Player" title="Player">Player</a>&nbsp;for how to define this graphic). The diving speed is the same as walking speed.
						</p><p>
							See <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Obstacles" title="Obstacles">Obstacles</a>&nbsp;for more information on how to set up diving areas.
						</p><p>
							A special method is needed to allow the player to transfer to a different map while remaining diving (e.g. entering an underwater cave). See <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a> for more information.
						</p>
						<h2><span class="mw-headline" id="Other_movement">Other movement</span></h2>
						<dl><dd><i>Main article: <a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Map_transfers" title="Map transfers">Map transfers</a></i></dd></dl>
						<p>
							The player may also change their location by&nbsp;<a href="/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">using a move</a>&nbsp;(e.g. Teleport, Fly), using an item (e.g. Escape Rope), by passing through a door into a building, by stepping onto a warp tile and so forth.
						</p><p>
							When entering some maps, a message window will appear in the upper left of the screen announcing the name of the map. This is the location signpost.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>You could allow running from the very start of the game, to relieve the player's frustration caused by being stuck at walking speed for the first section of your game before they are given their running shoes.</li>
							<li>You could allow the use of the&nbsp;run button&nbsp;while cycling/surfing/diving, to allow even faster movement.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210428001035
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.016 seconds
					Real time usage: 0.023 seconds
					Preprocessor visited node count: 94/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 440/2097152 bytes
					Template argument size: 331/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    5.752      1 -total
					 59.02%    3.395      4 Template:For
					 33.96%    1.953      1 Template:Main
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:183-0!canonical and timestamp 20210428001035 and revision id 960
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512084154/https://essentialsdocs.fandom.com/wiki/Getting_around?oldid=960">https://essentialsdocs.fandom.com/wiki/Getting_around?oldid=960</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512084154/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>