@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201001124907if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20201001124907/https://static.wikia.nocookie.net/essentialsdocs/images/8/8b/Options.png/revision/latest?cb=20190821192024" class="image"><img alt="" src="https://web.archive.org/web/20201001124907im_/https://static.wikia.nocookie.net/essentialsdocs/images/8/8b/Options.png/revision/latest/scale-to-width-down/256?cb=20190821192024" decoding="async" width="256" height="192" class="thumbimage" data-image-name="Options.png" data-image-key="Options.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/File:Options.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Options screen.</p> 		 	</figcaption> </figure>
						<p>
							This page describes the&nbsp;<b>Options screen</b>, which is accessible from the&nbsp;<a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Pause_menu" title="Pause menu">pause menu</a>.
						</p>
						<h2><span class="mw-headline" id="Options">Options</span></h2>
						<p>
							The&nbsp;Options screen&nbsp;is used to change and manipulate certain aspects of the game. Most of these settings are aesthetic. Here's a list of what can be changed:
							<br clear="all">
						</p>
						<table class="wikitable">
							<tbody>
								<tr>
									<th>
										Option
									</th>
									<th>
										Description
									</th>
								</tr>
								<tr>
									<td>
										Music Volume
									</td>
									<td>
										Changes the volume of the background music (BGM) and music effects (ME). A slider that goes between 0 and 100 in increments of 5.
									</td>
								</tr>
								<tr>
									<td>
										SE Volume
									</td>
									<td>
										Changes the volume of the sound effects (SE) and background sound effects (BGS). A slider that goes between 0 and 100 in increments of 5.
									</td>
								</tr>
								<tr>
									<td>
										Text Speed
									</td>
									<td>
										Changes how quickly text appears in various message boxes. Options are "Slow", "Medium" and "Fast".
									</td>
								</tr>
								<tr>
									<td>
										Battle Effects
									</td>
									<td>
										Toggles whether various animations are shown in battle.
									</td>
								</tr>
								<tr>
									<td>
										Battle Style
									</td>
									<td>
										Toggles whether the player is allowed to switch their Pokémon in battle if an opposing Pokémon faints and is replaced. "Shift" allows this and "Set" prevents it.
									</td>
								</tr>
								<tr>
									<td>
										Running Key
									</td>
									<td>
										Toggles whether the <a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">run key</a> only needs to be pressed once to run ("Toggle") or held ("Hold")
									</td>
								</tr>
								<tr>
									<td>
										Speech Frame
									</td>
									<td>
										The graphic of message boxes. The available ones are listed in the array <code>$SpeechFrames</code> in the <a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a> <b>PScreen_Options</b>.
									</td>
								</tr>
								<tr>
									<td>
										Menu Frame
									</td>
									<td>
										The graphic of the menu boxes. The available ones are listed in the array <code>$$TextFrames</code> in the <a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a> <b>PScreen_Options</b>.
									</td>
								</tr>
								<tr>
									<td>
										Font Style
									</td>
									<td>
										Changes the font used in the game. There are four different fonts, named after the game in which they are used. If none of the fonts are installed, the game will use Arial instead.
									</td>
								</tr>
								<tr>
									<td>
										Screen Size
									</td>
									<td>
										Controls the size of the game screen. Sizes are "S" (50%), "M" (100%), "L" (200%) and "Full" (as big as it can be, with blackness filling the rest of the monitor).
									</td>
								</tr>
								<tr>
									<td>
										Screen Border
									</td>
									<td>
										Toggles whether the screen border is visible.
									</td>
								</tr>
							</tbody>
						</table>
						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>
								You could add more options to allow the player to further customise their experience, such as:
								<ul>
									<li>Language options</li>
									<li>Visual themes (e.g. different appearances of the&nbsp;<a href="/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Pause_menu" title="Pause menu">pause menu</a>)</li>
									<li>Controls</li>
								</ul>
							</li>
							<li>You could remove certain options if you don't want the player to be able to change them.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20200930200235
					Cache expiry: 86400
					Dynamic content: false
					CPU time usage: 0.011 seconds
					Real time usage: 0.014 seconds
					Preprocessor visited node count: 11/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 0/2097152 bytes
					Template argument size: 0/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    0.000      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:258-0!canonical and timestamp 20200930200235 and revision id 698
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201001124907/https://essentialsdocs.fandom.com/wiki/Options_screen?oldid=698">https://essentialsdocs.fandom.com/wiki/Options_screen?oldid=698</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201001124907/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>