@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201028135622if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For how to define a move, see <a href="/web/20201028135622/https://essentialsdocs.fandom.com/wiki/Defining_a_move" title="Defining a move">Defining a move</a>.</i></dd>
							<dd><i>For the effects of moves, see <a href="/web/20201028135622/https://essentialsdocs.fandom.com/wiki/Move_effects" title="Move effects">Move effects</a>.</i></dd>
							<dd><i>For what moves look like when they are used, see <a href="/web/20201028135622/https://essentialsdocs.fandom.com/wiki/Attack_animations" title="Attack animations">Attack animations</a>.</i></dd>
							<dd><i>For information about moves which can be used in the overworld, see <a href="/web/20201028135622/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">Using moves outside battle</a>.</i></dd>
						</dl>
						<p>
							This page provides a general overview of&nbsp;<b>how moves work in the game</b>.
						</p>
						<div id="incontent_player" class="gpt-ad"></div><h2><span id="Moves_known_by_a_Pokémon"></span><span class="mw-headline" id="Moves_known_by_a_Pok.C3.A9mon">Moves known by a Pokémon</span></h2>
						<p>
							Moves known by a Pokémon are stored in the array&nbsp;<code>pkmn.moves</code>. Each move is a "PBMove" object, and this array contains exactly 4 moves.
						</p><p>
							A move object contains the following information:
						</p>
						<ul>
							<li>ID number of the move (the same as the value <code>PBMoves::TACKLE</code>).</li>
							<li>Current PP amount.</li>
							<li>The number of PP Ups used on the move (a PP Max is the same as 3 PP Ups). Each one increases the total PP by 20% of the original total PP.</li>
						</ul>
						<p>
							A move ID of 0 means "no move". The first move is <code>pkmn.moves[0]</code>, the second is <code>pkmn.moves[1]</code>, and so forth. <code>pkmn.numMoves</code> is how many moves the Pokémon knows.
						</p><p>
							The maximum number of PP Ups that can be used on a move is limited only by the effects of the PP Up and PP Max items themselves. There is no such limit in the move object's code.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul><li>You could let moves be "upgraded" by some means during the game, such as by increasing their base damage or the probability of their additional effects. The PP Up item is an existing feature which upgrades moves; you can just expand on that concept. Your upgrades don't have to be caused by items, of course.</li></ul>
						<!--
					NewPP limit report
					Cached time: 20201024063612
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.006 seconds
					Real time usage: 0.012 seconds
					Preprocessor visited node count: 45/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 362/2097152 bytes
					Template argument size: 277/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    5.717      1 -total
					 96.26%    5.503      4 Template:For
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:167-0!canonical and timestamp 20201024063612 and revision id 483
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201028135622/https://essentialsdocs.fandom.com/wiki/Moves?oldid=483">https://essentialsdocs.fandom.com/wiki/Moves?oldid=483</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201028135622/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>