@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210505164220if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<p>
							Essentials can be tricky to use at times, even with all the documentation on this wiki. That's why this page lists a number of <b>guides</b> on various facets of game development using Essentials.
						</p><p>
							Guides are written by this wiki's users. Feel free to update a guide with additional information, clarity or corrections, or indeed write new guides.
						</p><p>
							Please note that a guide should be about how to use some part of Essentials, or contain ideas and analyses and advice, or describe an aspect of the game development process. It should <i>not</i> be about adding new features - that is third party content and does not belong here.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1">
									<a href="#Guides"><span class="tocnumber">1</span> <span class="toctext">Guides</span></a>
									<ul>
										<li class="toclevel-2 tocsection-2"><a href="#What_Essentials_has"><span class="tocnumber">1.1</span> <span class="toctext">What Essentials has</span></a></li>
										<li class="toclevel-2 tocsection-3"><a href="#Designing_and_planning_a_game"><span class="tocnumber">1.2</span> <span class="toctext">Designing and planning a game</span></a></li>
										<li class="toclevel-2 tocsection-4"><a href="#Recruiting_and_working_with_a_team"><span class="tocnumber">1.3</span> <span class="toctext">Recruiting and working with a team</span></a></li>
										<li class="toclevel-2 tocsection-5"><a href="#Creating_a_game"><span class="tocnumber">1.4</span> <span class="toctext">Creating a game</span></a></li>
										<li class="toclevel-2 tocsection-6"><a href="#Features_in_a_game"><span class="tocnumber">1.5</span> <span class="toctext">Features in a game</span></a></li>
										<li class="toclevel-2 tocsection-7"><a href="#Fixing_your_game"><span class="tocnumber">1.6</span> <span class="toctext">Fixing your game</span></a></li>
										<li class="toclevel-2 tocsection-8"><a href="#Advertising_and_releasing_your_game"><span class="tocnumber">1.7</span> <span class="toctext">Advertising and releasing your game</span></a></li>
										<li class="toclevel-2 tocsection-9"><a href="#Misc"><span class="tocnumber">1.8</span> <span class="toctext">Misc</span></a></li>
									</ul>
								</li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Guides">Guides</span></h2>
						<p>
							The guides listed below are only suggestions of the kinds of guides it would be nice to have. If you have more ideas for guides, add them.
						</p>
						<ul>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:How_to_use_Essentials" title="Guide:How to use Essentials">How to use Essentials</a> - Basic tips about working with Essentials.</li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:How_to_upgrade_your_game" title="Guide:How to upgrade your game">How to upgrade your game</a> - Updating to a newer version of Essentials.</li>
						</ul>
						<h3><span class="mw-headline" id="What_Essentials_has">What Essentials has</span></h3>
						<ul><li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Introduction_to_Essentials" title="Guide:Introduction to Essentials">Introduction to Essentials</a> - The files that come with Essentials, and RMXP gameplay settings.</li></ul>
						<h3><span class="mw-headline" id="Designing_and_planning_a_game">Designing and planning a game</span></h3>
						<ul>
							<li><a class="new" title="Guide:Mindset and skills (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6TWluZHNldF9hbmRfc2tpbGxzP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==" rel="nofollow">Mindset and skills</a> - What you should be able to do if you want to use RMXP/Essentials to make a game, and what you should be expecting to do.</li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Game_design" title="Guide:Game design">Game design</a> - General tips about how to design a Pokémon game that aren't covered in other guides.</li>
							<li><a class="new" title="Guide:Story design (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6U3RvcnlfZGVzaWduP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==" rel="nofollow">Story design</a> - Tips revolving around the plot in a Pokémon game and how it affects/is affected by other things.</li>
							<li><a class="new" title="Guide:Region design (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6UmVnaW9uX2Rlc2lnbj9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Region design</a> - How to lay things out in your world, populate it, tips on how to move the player around the region, and a little bit about distributing Pokémon.</li>
							<li><a class="new" title="Guide:Aesthetics (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6QWVzdGhldGljcz9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Aesthetics</a> - How your game looks and sounds is important, but it's perfectly acceptable to just stick with what Essentials gives you.</li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Game_creation_tools" title="Guide:Game creation tools">Game creation tools</a> - Things that help you draw, compose, write, code, plan, balance, assess and review.</li>
						</ul>
						<h3><span class="mw-headline" id="Recruiting_and_working_with_a_team">Recruiting and working with a team</span></h3>
						<ul>
							<li><a class="new" title="Guide:Recruiting team members (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6UmVjcnVpdGluZ190ZWFtX21lbWJlcnM/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">Recruiting team members</a> - Also talks about how to join someone else's game project.</li>
							<li><a class="new" title="Guide:Working with others (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6V29ya2luZ193aXRoX290aGVycz9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Working with others</a></li>
						</ul>
						<h3><span class="mw-headline" id="Creating_a_game">Creating a game</span></h3>
						<ul>
							<li><a class="new" title="Guide:Essentials game content (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6RXNzZW50aWFsc19nYW1lX2NvbnRlbnQ/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">Essentials game content</a> - Stuff that is defined for Essentials, but which you'll need to change or at least bear in mind when creating your own game.</li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Creating_a_new_Game" title="Guide:Creating a new Game">Creating a new Game</a> - Basic walkthrough for creating the first few maps of a game.</li>
							<li><a class="new" title="Guide:Creating maps (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6Q3JlYXRpbmdfbWFwcz9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Creating maps</a> - Ways to design game maps, and how to recognise which tile in the tileset is the blank one.</li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:How_to_keep_going" title="Guide:How to keep going">How to keep going</a> - Tips and tricks for when (not if) you start to run out of steam.</li>
						</ul>
						<h3><span class="mw-headline" id="Features_in_a_game">Features in a game</span></h3>
						<ul><li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Adding_new_move_effects_outside_battle" title="Guide:Adding new move effects outside battle">Adding new move effects outside battle</a></li></ul>
						<h3><span class="mw-headline" id="Fixing_your_game">Fixing your game</span></h3>
						<ul>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Error_messages" title="Error messages">Error messages</a></li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Asking_for_help" title="Guide:Asking for help">Asking for help</a></li>
							<li><a class="new" title="Guide:Lag-busting (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6TGFnLWJ1c3Rpbmc/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">Lag-busting</a></li>
							<li><a class="new" title="Guide:Difficulty balancing (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6RGlmZmljdWx0eV9iYWxhbmNpbmc/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">Difficulty balancing</a></li>
						</ul>
						<h3><span class="mw-headline" id="Advertising_and_releasing_your_game">Advertising and releasing your game</span></h3>
						<ul>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Game_demos" title="Guide:Game demos">Game demos</a></li>
							<li><a class="new" title="Guide:Advertising your game (page does not exist)" data-uncrawlable-url="L3dpa2kvR3VpZGU6QWR2ZXJ0aXNpbmdfeW91cl9nYW1lP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==" rel="nofollow">Advertising your game</a></li>
							<li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Finalising_your_game_for_release" title="Guide:Finalising your game for release">Finalising your game for release</a></li>
						</ul>
						<h3><span class="mw-headline" id="Misc">Misc</span></h3>
						<ul><li><a href="/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guide:Jargon" title="Guide:Jargon">Jargon</a></li></ul>
						<!--
					NewPP limit report
					Cached time: 20210422234224
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.017 seconds
					Real time usage: 0.026 seconds
					Preprocessor visited node count: 210/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 1095/2097152 bytes
					Template argument size: 842/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%   11.618      1 -total
					 89.39%   10.386     23 Template:Guide
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:281-0!canonical and timestamp 20210422234224 and revision id 607
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210505164220/https://essentialsdocs.fandom.com/wiki/Guides?oldid=607">https://essentialsdocs.fandom.com/wiki/Guides?oldid=607</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210505164220/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>