@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512081946if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20210512081946/https://static.wikia.nocookie.net/essentialsdocs/images/d/d4/Bag.png/revision/latest?cb=20180905015515" class="image"><img alt="" src="https://web.archive.org/web/20210512081946im_/https://static.wikia.nocookie.net/essentialsdocs/images/d/d4/Bag.png/revision/latest/scale-to-width-down/256?cb=20180905015515" decoding="async" width="256" height="192" class="thumbimage" data-image-name="Bag.png" data-image-key="Bag.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/File:Bag.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Bag, filled with items.</p> 		 	</figcaption> </figure>
						<p>
							The&nbsp;<b>Bag</b>&nbsp;is the&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a>'s portable inventory, in which&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Items" title="Items">items</a>&nbsp;are stored. It is accessible from the&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Pause_menu" title="Pause menu">pause menu</a>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#The_Bag"><span class="tocnumber">1</span> <span class="toctext">The Bag</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#What_you_can_do_with_an_item"><span class="tocnumber">2</span> <span class="toctext">What you can do with an item</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Registering_an_item"><span class="tocnumber">3</span> <span class="toctext">Registering an item</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Displaying_items"><span class="tocnumber">4</span> <span class="toctext">Displaying items</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Tips"><span class="tocnumber">5</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="The_Bag">The Bag</span></h2>
						<p>
							The Bag is accessible via the variable&nbsp;<code>$PokemonBag</code>, which is an instance of&nbsp;<code>class PokemonBag</code>&nbsp;(created with the code&nbsp;<code>$PokemonBag = PokemonBag.new</code>). It contains arrays representing the Bag's pockets, as well as an array that remembers which items are registered for quick use in the <a class="new" title="Ready menu (page does not exist)" data-uncrawlable-url="L3dpa2kvUmVhZHlfbWVudT9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Ready menu</a>, and some navigation-based variables.
						</p><p>
							There are several <a class="new" title="Settings (page does not exist)" data-uncrawlable-url="L3dpa2kvU2V0dGluZ3M/YWN0aW9uPWVkaXQmcmVkbGluaz0x" rel="nofollow">settings</a> related to the Bag. These are:
						</p>
<pre># The names of each pocket of the Bag. Ignore the first entry ("").
def self.bag_pocket_names
  return ["",
    _INTL("Items"),
    _INTL("Medicine"),
    _INTL("Poké Balls"),
    _INTL("TMs &amp; HMs"),
    _INTL("Berries"),
    _INTL("Mail"),
    _INTL("Battle Items"),
    _INTL("Key Items")
  ]
end
# The maximum number of slots per pocket (-1 means infinite number). Ignore
# the first number (0).
BAG_MAX_POCKET_SIZE  = [0, -1, -1, -1, -1, -1, -1, -1, -1]
# The maximum number of items each slot in the Bag can hold.
BAG_MAX_PER_SLOT     = 999
# Whether each pocket in turn auto-sorts itself by item ID number. Ignore the
# first entry (the 0).
BAG_POCKET_AUTO_SORT = [0, false, false, false, true, true, false, false, false]
</pre>
						<h2><span class="mw-headline" id="What_you_can_do_with_an_item">What you can do with an item</span></h2>
						<p>
							The things you can do with an item depend on what item it is.
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Action
									</th>
									<th>
										When it is available
									</th>
								</tr>
								<tr>
									<td>
										Use
									</td>
									<td>
										<ul>
											<li>If the item can be used from the Bag (i.e. it has a UseFromBag or UseOnPokemon item handler).</li>
											<li>If the item is a TM, a TR or a HM, and the player has at least 1 Pokémon.</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										Read
									</td>
									<td>
										<ul><li>If the item is a Mail item.</li></ul>
									</td>
								</tr>
								<tr>
									<td>
										Give
									</td>
									<td>
										<ul><li>If the player has at least 1 Pokémon, and the item is&nbsp;<i>not</i>&nbsp;a Key Item, a HM or a TM.</li></ul>
									</td>
								</tr>
								<tr>
									<td>
										Toss
									</td>
									<td>
										<ul>
											<li>If the item is not a Key Item, a HM or a TM.</li>
											<li>Always appears during&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">Debug mode</a>.</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										Register/Deselect
									</td>
									<td>
										<ul><li>If the item can be registered (see below) and currently isn't, or if the item is currently registered, respectively.</li></ul>
									</td>
								</tr>
								<tr>
									<td>
										Make Mystery Gift
									</td>
									<td>
										<ul><li><a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">Debug mode</a>&nbsp;only. Creates a new <a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Mystery_Gift" title="Mystery Gift">Mystery Gift</a> containing a definable quantity of the item.</li></ul>
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							The player can also rearrange items in a pocket by selecting one and pressing the&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">Z key</a>.&nbsp;The item name turns red and the cursor changes, and it can then be moved around with the <a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">up/down keys</a>. Pressing the <a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">Z key</a> again returns the cursor to normal and leaves the item in its new position, while pressing the <a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">X key</a> cancels the move.
						</p><p>
							A pocket which has been set to auto-sort itself will not let the player manually rearrange its contents.
						</p>
						<h2><span class="mw-headline" id="Registering_an_item">Registering an item</span></h2>
						<p>
							Registering an item makes it show up in the <a class="new" title="Ready menu (page does not exist)" data-uncrawlable-url="L3dpa2kvUmVhZHlfbWVudT9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Ready menu</a>, accessible from the overworld by pressing the&nbsp;<a href="/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Controls" title="Controls">D key</a>. There is no limit to how many items can be registered at once. An item remains registered even if the player consumes it; if the player gains more of that item later, it will automatically reappear in the <a class="new" title="Ready menu (page does not exist)" data-uncrawlable-url="L3dpa2kvUmVhZHlfbWVudT9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=" rel="nofollow">Ready menu</a>. Unregistering an item can only be done in the Bag.
						</p><p>
							Any item with a UseInField item handler can be registered. This includes several Key Items such as the Bicycle and Super Rod, and also includes consumable items like Honey, Repel and Escape Rope.
						</p><p>
							The list of currently registered items is stored in the array <code>@registeredItems</code>. This is not an inventory in and of itself; remember that an item can be registered even while the player doesn't have it.
						</p>
						<h2><span class="mw-headline" id="Displaying_items">Displaying items</span></h2>
						<p>
							Key Items, HMs and TMs don't have their quantities shown, because it is assumed that the player will only ever own one of each of these items. Despite this, they still have quantities just like any other item. Their quantities should have no bearing on the game, as checking for the presence of one of these items (with <code>$PokemonBag.pbHasItem?(:BICYCLE)</code>) will only care whether there is more than 0 of them in the Bag. Even so, for the sake of neatness and logic, you should try to make sure the player is never given multiples of the same Key Item/HM/TM.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>
								The Items pocket notoriously contains a lot of items compared to the other pockets, with potentially over 200 different items that go in it. Why not split this pocket's items up into others?
								<ul><li>The most obvious solution is to move all the held items into their own pocket. If you want to keep the same number of pockets overall, then the Held Items pocket could replace the Mail pocket. The mail items would be moved into the Items pocket (if indeed you have mail in your game).</li></ul>
							</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210429213610
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.013 seconds
					Real time usage: 0.015 seconds
					Preprocessor visited node count: 30/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 0/2097152 bytes
					Template argument size: 0/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    0.000      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:245-0!canonical and timestamp 20210429213610 and revision id 1003
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512081946/https://essentialsdocs.fandom.com/wiki/Bag?oldid=1003">https://essentialsdocs.fandom.com/wiki/Bag?oldid=1003</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512081946/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>