@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512081447if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/8/87/ItemBall.png/revision/latest?cb=20190822190734" class="image"><img alt="" src="https://web.archive.org/web/20210512081447im_/https://static.wikia.nocookie.net/essentialsdocs/images/8/87/ItemBall.png/revision/latest/scale-to-width-down/256?cb=20190822190734" decoding="async" width="256" height="192" class="thumbimage" data-image-name="ItemBall.png" data-image-key="ItemBall.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/File:ItemBall.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">An item ball.</p> 		 	</figcaption> </figure>
						<p>
							This page describes how to create&nbsp;<b>item balls</b>, objects on a map that the player can pick up. This article covers visible item balls, hidden items, and balls containing Pokémon.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1">
									<a href="#Item_balls"><span class="tocnumber">1</span> <span class="toctext">Item balls</span></a>
									<ul>
										<li class="toclevel-2 tocsection-2"><a href="#Item_ball_event"><span class="tocnumber">1.1</span> <span class="toctext">Item ball event</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-3">
									<a href="#Hidden_items"><span class="tocnumber">2</span> <span class="toctext">Hidden items</span></a>
									<ul>
										<li class="toclevel-2 tocsection-4"><a href="#Hidden_item_event"><span class="tocnumber">2.1</span> <span class="toctext">Hidden item event</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-5">
									<a href="#Pok.C3.A9mon_balls"><span class="tocnumber">3</span> <span class="toctext">Pokémon balls</span></a>
									<ul>
										<li class="toclevel-2 tocsection-6"><a href="#Pok.C3.A9mon_ball_event"><span class="tocnumber">3.1</span> <span class="toctext">Pokémon ball event</span></a></li>
									</ul>
								</li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Item_balls">Item balls</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/0/0f/ItemBallEvent.png/revision/latest?cb=20201011212124" class="image"><img alt="" src="https://web.archive.org/web/20210512081447im_/https://static.wikia.nocookie.net/essentialsdocs/images/0/0f/ItemBallEvent.png/revision/latest/scale-to-width-down/256?cb=20201011212124" decoding="async" width="256" height="243" class="thumbimage" data-image-name="ItemBallEvent.png" data-image-key="ItemBallEvent.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/File:ItemBallEvent.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Page 1 of an item ball event.</p> 		 	</figcaption> </figure>
						<p>
							To create an item that can be picked up, create a new event with the name "<code>Item:XXX</code>", where "<code>XXX</code>" is the internal name of the item (e.g. "<code>Item:POTION</code>"). When the game is <a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Compiler" title="Compiler">compiled</a>, this event will be edited automatically to turn it into a proper item ball, complete with graphic.
						</p><p>
							The item's name is only important for turning the item into a proper item ball when compiling the game. Once this has been done, the item's name is not important. However, it should not be renamed back to "<code>Item:XXX</code>" then, because when the game is next compiled, the event will be edited again, potentially overwriting any changes you may have made to the item ball.
						</p>
						<h3><span class="mw-headline" id="Item_ball_event">Item ball event</span></h3>
						<p>
							Item ball events have two event pages. The first page has an "Action Button" trigger and looks like this:
						</p>
<pre>@@&gt;Conditional Branch: Script: pbItemBall(:POTION)
  @@&gt;Control Self Switch: A =ON
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							The second event page is blank, and depends on the event's Self Switch A being ON.
						</p><p>
							The <code>def pbItemBall</code>&nbsp;displays two messages: the first is that the player has found the item, and the second is that the player has put it in a particular pocket of their&nbsp;<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a>&nbsp;(or that their&nbsp;<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a>&nbsp;is full, in which case the item is not picked up). This is described a little more on the page <a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Manipulating_items" title="Manipulating items">Manipulating items</a>.
						</p>
						<h2><span class="mw-headline" id="Hidden_items">Hidden items</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/e/e3/HiddenItemEvent.png/revision/latest?cb=20201011212219" class="image"><img alt="" src="https://web.archive.org/web/20210512081447im_/https://static.wikia.nocookie.net/essentialsdocs/images/e/e3/HiddenItemEvent.png/revision/latest/scale-to-width-down/256?cb=20201011212219" decoding="async" width="256" height="243" class="thumbimage" data-image-name="HiddenItemEvent.png" data-image-key="HiddenItemEvent.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/File:HiddenItemEvent.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Page 1 of a hidden item event.</p> 		 	</figcaption> </figure>
						<p>
							Hidden items are identical to regular item balls, with three exceptions: they are invisible, the player can walk over them, and they can be detected by an&nbsp;<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Itemfinder" title="Itemfinder">Itemfinder</a>.
						</p><p>
							To create a hidden item, create a new event with the name "<code>HiddenItem:XXX</code>", where "<code>XXX</code>" is the internal name of the item (e.g. "<code>HiddenItem:NUGGET</code>"). When the game is compiled, this event will be edited automatically to turn it into a proper hidden item.
						</p><p>
							Unlike regular item balls, hidden items&nbsp;<i>must</i>&nbsp;have the exact name "<code>HiddenItem</code>". This is because the&nbsp;<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Itemfinder" title="Itemfinder">Itemfinder</a>&nbsp;looks for nearby events with that name, and reacts if there are any. The name above that includes "<code>XXX</code>" is automatically changed to this when the game is compiled.
						</p>
						<h3><span class="mw-headline" id="Hidden_item_event">Hidden item event</span></h3>
						<p>
							The structure of hidden item events is just the same as for regular item ball events, with two exceptions: the first page has no graphic (to make it invisible), and it has the "Through" option checked (to allow the player to walk over it).
						</p>
						<h2><span id="Pokémon_balls"></span><span class="mw-headline" id="Pok.C3.A9mon_balls">Pokémon balls</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/2/29/PokemonBallEvent.png/revision/latest?cb=20201011212436" class="image"><img alt="" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" decoding="async" width="256" height="243" class="thumbimage lazyload" data-image-name="PokemonBallEvent.png" data-image-key="PokemonBallEvent.png" data-src="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/2/29/PokemonBallEvent.png/revision/latest/scale-to-width-down/256?cb=20201011212436"></a> 	<noscript><a href="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/2/29/PokemonBallEvent.png/revision/latest?cb=20201011212436" class="image"><img alt="" src="https://web.archive.org/web/20210512081447im_/https://static.wikia.nocookie.net/essentialsdocs/images/2/29/PokemonBallEvent.png/revision/latest/scale-to-width-down/256?cb=20201011212436" decoding="async" width="256" height="243" class="thumbimage" data-image-name="PokemonBallEvent.png" data-image-key="PokemonBallEvent.png" data-src="https://web.archive.org/web/20210512081447/https://static.wikia.nocookie.net/essentialsdocs/images/2/29/PokemonBallEvent.png/revision/latest/scale-to-width-down/256?cb=20201011212436" /></a></noscript> 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/File:PokemonBallEvent.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Page 1 of a Pokémon ball event.</p> 		 	</figcaption> </figure>
						<p>
							These are item balls that, rather than giving an item, <a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">give a Pokémon</a> instead. Creating a Pokémon ball is slightly more difficult than creating an item ball - you will need to edit the event's structure (see the image on the right).
						</p><p>
							Rather than having to make a Pokémon ball from scratch (although it is easy to do), you can instead create an item ball (it doesn't matter what item it is), compile the game, and then modify the event as described below.
						</p>
						<h3><span id="Pokémon_ball_event"></span><span class="mw-headline" id="Pok.C3.A9mon_ball_event">Pokémon ball event</span></h3>
						<p>
							The structure of Pokémon ball events are identical to item ball events, except the Conditional Branch script in the first page is different, e.g.
						</p>
<pre>@@&gt;Conditional Branch: Script: pbAddPokemon(:MEW,20)
  @@&gt;Control Self Switch: A =ON
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							This will give the player a Level 20 Mew, but only if the player has an empty spot in their party. See <a href="/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">Manipulating Pokémon</a>&nbsp;for how <code>def pbAddPokemon</code>&nbsp;works.
						</p><p>
							Remember that Pokémon ball events still need a second, blank page, just like the other item ball events.
						</p>
						<!--
					NewPP limit report
					Cached time: 20210507230532
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.017 seconds
					Real time usage: 0.020 seconds
					Preprocessor visited node count: 28/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 0/2097152 bytes
					Template argument size: 0/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    0.000      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:200-0!canonical and timestamp 20210507230532 and revision id 961
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512081447/https://essentialsdocs.fandom.com/wiki/Item_balls?oldid=961">https://essentialsdocs.fandom.com/wiki/Item_balls?oldid=961</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512081447/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>