@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512083452if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For how to give a Pokémon species a Pokédex number, see <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Defining_a_species" title="Defining a species">Defining a species</a>.</i></dd>
							<dd><i>For creating multiple Regional Pokédexes, see <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">Multiple regions</a>.</i></dd>
						</dl>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/e2/PokedexList.png/revision/latest?cb=20190511165233" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/e/e2/PokedexList.png/revision/latest/scale-to-width-down/256?cb=20190511165233" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexList.png" data-image-key="PokedexList.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexList.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Pokédex.</p> 		 	</figcaption> </figure>
						<p>
							This page describes the&nbsp;<b>Pokédex</b>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#The_Pok.C3.A9dex"><span class="tocnumber">1</span> <span class="toctext">The Pokédex</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Regional_Dex_list_screen"><span class="tocnumber">2</span> <span class="toctext">Regional Dex list screen</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#List_screen"><span class="tocnumber">3</span> <span class="toctext">List screen</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Entry_screens"><span class="tocnumber">4</span> <span class="toctext">Entry screens</span></a></li>
								<li class="toclevel-1 tocsection-5">
									<a href="#Entry_screens_2"><span class="tocnumber">5</span> <span class="toctext">Entry screens</span></a>
									<ul>
										<li class="toclevel-2 tocsection-6"><a href="#Info_page"><span class="tocnumber">5.1</span> <span class="toctext">Info page</span></a></li>
										<li class="toclevel-2 tocsection-7"><a href="#Area_page"><span class="tocnumber">5.2</span> <span class="toctext">Area page</span></a></li>
										<li class="toclevel-2 tocsection-8">
											<a href="#Forms_page"><span class="tocnumber">5.3</span> <span class="toctext">Forms page</span></a>
											<ul>
												<li class="toclevel-3 tocsection-9"><a href="#Recording_seen_forms"><span class="tocnumber">5.3.1</span> <span class="toctext">Recording seen forms</span></a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span id="The_Pokédex"></span><span class="mw-headline" id="The_Pok.C3.A9dex">The Pokédex</span></h2>
						<p>
							The Pokédex is an electronic encyclopaedia that the player may be given during their journey. It displays various information about Pokémon species, including elemental types, typical sizes and locations they can be <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">found in the wild</a>.
						</p><p>
							To give the player the Pokédex, use the following script:
						</p>
<pre>$Trainer.pokedex=true
</pre>
						<p>
							Once gained, an option called "Pokédex" will appear in the&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Pause_menu" title="Pause menu">Pause menu</a>&nbsp;(but only if there is at least 1 seen species in the Dex list).
						</p><p>
							There are two arrays associated with the Pokédex:
						</p>
						<ul>
							<li><code>$Trainer.seen</code></li>
							<li><code>$Trainer.owned</code></li>
						</ul>
						<p>
							Both arrays have a length equal to the number of species defined in the&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"pokemon.txt", and each entry is either TRUE if the species with that National Dex number has been seen/owned, or FALSE if it hasn't.
						</p><p>
							The table below contains various functions that relate to the Pokédex:
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Function
									</th>
									<th>
										What it does
									</th>
								</tr>
								<tr>
									<td>
										<code>$Trainer.hasSeen?(:PIKACHU)</code>
									</td>
									<td>
										Returns TRUE if the player has seen the given species, and FALSE if they haven't.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.hasOwned?(:PIKACHU)</code>
									</td>
									<td>
										Returns TRUE if the player has owned the given species, and FALSE if they haven't.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.setSeen(:PIKACHU)</code>
									</td>
									<td>
										Records that the player has seen the given species.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.setOwned(:PIKACHU)</code>
									</td>
									<td>
										Records that the player has owned the given species.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.numFormsSeen(25)</code>
									</td>
									<td>
										Returns how many <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">forms</a> of the Pokémon species with the given National Dex number have been seen. This includes the base form, but does not include gender differences, only different form numbers.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.pokedexSeen(0)</code>
									</td>
									<td>
										Returns the total number of Pokémon species that the player has seen in the Regional Dex with the given index number (or in the National Dex if the number is blank or&nbsp;<code>-1</code>).
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.pokedexOwned(0)</code>
									</td>
									<td>
										Returns the total number of Pokémon species that the player has owned in the Regional Dex with the given index number (or in the National Dex if the number is blank or <code>-1</code>).
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.clearPokedex</code>
									</td>
									<td>
										Completely erases all information about seen and owned Pokémon, as well as seem forms of Pokémon.
									</td>
								</tr>
							</tbody>
						</table>
						<h2><span class="mw-headline" id="Regional_Dex_list_screen">Regional Dex list screen</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/6/6d/PokedexDexes.png/revision/latest?cb=20190511165403" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/6/6d/PokedexDexes.png/revision/latest/scale-to-width-down/256?cb=20190511165403" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexDexes.png" data-image-key="PokedexDexes.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexDexes.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The list of Dexes.</p> 		 	</figcaption> </figure>
						<p>
							This screen shows the available&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">Regional/National Dexes</a>&nbsp;that the player can view. This screen is only accessible if there is more than one available Dex list to choose from.
						</p><p>
							The icons next to the seen/owned numbers are white if there are any unseen/unowned Pokémon species in that Dex, and gold if the Dex is complete in that respect.
						</p>
						<h2><span class="mw-headline" id="List_screen">List screen</span></h2>
						<p>
							The list screen, pictured above, displays a list of Pokémon species for a given Dex. Next to each of them is an icon which shows whether that species has been seen or owned. If a species has not been seen, then its entry will simply be a line of dashes.
						</p><p>
							The Seen and Owned numbers relate to the Dex list currently being viewed, and also to any search that may be being carried out.
						</p><p>
							The name of the Dex currently being viewed is displayed at the top of the screen (default: "Pokédex"). If there is a search being carried out, this name will be amended to indicate this.
						</p>
						<h2><span class="mw-headline" id="Entry_screens">Entry screens</span></h2>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/6/63/PokedexSearch.png/revision/latest?cb=20190511165633" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/6/63/PokedexSearch.png/revision/latest/scale-to-width-down/256?cb=20190511165633" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexSearch.png" data-image-key="PokedexSearch.png"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexSearch.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Pokédex search screen.</p> 		 	</figcaption> </figure>
						<p>
							It is possible to perform a number of searches and filters on the Dex currently being viewed. Searches are temporary and are ended by pressing the X key - this returns to the regular list mode.
						</p><p>
							The kinds of searches and sorts available are self-explanatory.
						</p>
						<h2><span class="mw-headline" id="Entry_screens_2">Entry screens</span></h2>
						<p>
							There are three entry pages for each species: Info, Area, and Forms. The code for these can be found in the <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a> <b>PScreen_PokedexEntry</b>.
						</p><p>
							You can only view the entry pages for Pokémon species you have seen.
						</p>
						<h3><span class="mw-headline" id="Info_page">Info page</span></h3>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/e1/PokedexInfo.png/revision/latest?cb=20190511165730" class="image"><img alt="" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" decoding="async" width="256" height="192" class="thumbimage lazyload" data-image-name="PokedexInfo.png" data-image-key="PokedexInfo.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/e1/PokedexInfo.png/revision/latest/scale-to-width-down/256?cb=20190511165730"></a> 	<noscript><a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/e1/PokedexInfo.png/revision/latest?cb=20190511165730" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/e/e1/PokedexInfo.png/revision/latest/scale-to-width-down/256?cb=20190511165730" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexInfo.png" data-image-key="PokedexInfo.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/e1/PokedexInfo.png/revision/latest/scale-to-width-down/256?cb=20190511165730" /></a></noscript> 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexInfo.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Pokédex info page.</p> 		 	</figcaption> </figure>
						<p>
							The info page displays various pieces of information about a Pokémon species. Some information is only displayed if the player has owned that species.
						</p><p>
							The height and weight are shown in metres and kilograms respectively by default. However, if the game detects that the player is in the United States of America, these values will be converted to feet/inches and stones/pounds respectively.
						</p><p>
							When a Pokémon has been captured and its information added to the Pokédex, this page will be shown. There is only one difference here: the page can only be cancelled (i.e. "Back"), and the other two pages are inaccessible. The navigation bar at the top also has a different appearance to reflect this.
						</p>
						<h3><span class="mw-headline" id="Area_page">Area page</span></h3>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/d/d1/PokedexArea.png/revision/latest?cb=20190511165745" class="image"><img alt="" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" decoding="async" width="256" height="192" class="thumbimage lazyload" data-image-name="PokedexArea.png" data-image-key="PokedexArea.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/d/d1/PokedexArea.png/revision/latest/scale-to-width-down/256?cb=20190511165745"></a> 	<noscript><a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/d/d1/PokedexArea.png/revision/latest?cb=20190511165745" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/d/d1/PokedexArea.png/revision/latest/scale-to-width-down/256?cb=20190511165745" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexArea.png" data-image-key="PokedexArea.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/d/d1/PokedexArea.png/revision/latest/scale-to-width-down/256?cb=20190511165745" /></a></noscript> 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexArea.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Pokédex area page.</p> 		 	</figcaption> </figure>
						<p>
							The area page shows where a Pokémon species can be <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">found in the wild</a> (i.e. their nests).
						</p><p>
							The map shown in this screen can depend on which Dex is being viewed, if there are&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Multiple_regions" title="Multiple regions">multiple Dexes</a>&nbsp;defined. If not, then the map is simply that of the region the player is currently in.
						</p>
						<h3><span class="mw-headline" id="Forms_page">Forms page</span></h3>
						<figure class="thumb tright show-info-icon" style="width: 256px"> 	<a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/ec/PokedexForms.png/revision/latest?cb=20190511165751" class="image"><img alt="" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" decoding="async" width="256" height="192" class="thumbimage lazyload" data-image-name="PokedexForms.png" data-image-key="PokedexForms.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/ec/PokedexForms.png/revision/latest/scale-to-width-down/256?cb=20190511165751"></a> 	<noscript><a href="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/ec/PokedexForms.png/revision/latest?cb=20190511165751" class="image"><img alt="" src="https://web.archive.org/web/20210512083452im_/https://static.wikia.nocookie.net/essentialsdocs/images/e/ec/PokedexForms.png/revision/latest/scale-to-width-down/256?cb=20190511165751" decoding="async" width="256" height="192" class="thumbimage" data-image-name="PokedexForms.png" data-image-key="PokedexForms.png" data-src="https://web.archive.org/web/20210512083452/https://static.wikia.nocookie.net/essentialsdocs/images/e/ec/PokedexForms.png/revision/latest/scale-to-width-down/256?cb=20190511165751" /></a></noscript> 	<figcaption class="thumbcaption"> 		 			<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/File:PokedexForms.png" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">The Pokédex forms page.</p> 		 	</figcaption> </figure>
						<p>
							The forms page shows all the forms of a species. This includes both gender differences and proper&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">alternate forms</a>. It does not show shiny versions of the sprites.
						</p><p>
							By pressing the "Use" key and then Up/Down, it is possible to change the form being displayed.
						</p>
						<ul>
							<li>"Male" and "Female" versions of the first (default) form are always available (excepting inappropriate ones such as "Female" for a male-only species). If the species is genderless, then there will just be a "Genderless" option instead.</li>
							<li>The alternate forms are only listed once each, unless one of those forms also has gender differences, in which case both genders of that form will be available separately.</li>
						</ul>
						<p>
							By default, this page will only allow the player to view forms that they have seen. However, in the script section&nbsp;<b>Settings</b> there is the value&nbsp;<code>ALWAYSSHOWALLFORMS</code>, which if TRUE will always show all the forms of a species in this page regardless of which ones the player has actually seen.
						</p>
						<h4><span class="mw-headline" id="Recording_seen_forms">Recording seen forms</span></h4>
						<p>
							When a Pokémon is encountered in a battle, evolves, hatches, changes its form or is&nbsp;obtained in some way, its combination of species, gender and form are recorded as having been seen by the player. It is recorded by using either of the following two methods:
						</p>
<pre>pbSeenForm(pkmn)
pbSeenForm(:BULBASAUR,0,0)
</pre>
						<p>
							In the first method, "<code>pkmn</code>" is a Pokémon (e.g.&nbsp;<code>$Trainer.party[0]</code>&nbsp;is the first Pokémon in the party). In the second method, the three parameters are the species, gender (0/1 for male/female) and form respectively. For genderless species, use a gender number of 0.
						</p><p>
							You can use this method on its own. You should use it whenever you manually add a new species as seen to the Pokédex, as at least one form of a seen species must also be seen in order for it to work properly.
						</p><p>
							The ways in which a Pokémon can be obtained are listed in the page <a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">Manipulating Pokémon</a>. These methods have a parameter which decides whether to automatically record the newly-generated Pokémon's form as being seen (default is TRUE). If you want to&nbsp;<a href="/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">change a Pokémon's gender or form</a>&nbsp;immediately&nbsp;<i>after</i>&nbsp;giving it to the player (and you didn't make those changes beforehand), you will need to make sure that parameter is FALSE when giving it, then make the changes, then use&nbsp;<code>pbSeenForm</code>&nbsp;as described above to make sure only the intended form is recorded as seen.
						</p>
						<!--
					NewPP limit report
					Cached time: 20210509210421
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.025 seconds
					Real time usage: 0.032 seconds
					Preprocessor visited node count: 61/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 196/2097152 bytes
					Template argument size: 153/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    5.375      1 -total
					 98.01%    5.268      2 Template:For
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:238-0!canonical and timestamp 20210509210421 and revision id 621
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512083452/https://essentialsdocs.fandom.com/wiki/Pokédex?oldid=621">https://essentialsdocs.fandom.com/wiki/Pokédex?oldid=621</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512083452/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>