@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="WikiaArticle" class="WikiaArticle">
				<div class="home-top-right-ads">
				</div>


				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr mw-content-text">
					<figure class="article-thumb tright show-info-icon" style="width: 256px">
						<a href="https://web.archive.org/web/20190329212818/https://vignette.wikia.nocookie.net/essentialsdocs/images/a/a7/SummaryScreen3.png/revision/latest?cb=20180905021318" class="image image-thumbnail">
							<img src="~/Images/SummaryScreen3.png" alt="SummaryScreen3" class="thumbimage " data-image-key="SummaryScreen3.png" data-image-name="SummaryScreen3.png" width="256" height="192" />
						</a>
						<figcaption>
							<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/File:SummaryScreen3.png" class="sprite info-icon">
							</a>
							<p class="caption">This Pikachu has the ability "Static", which may paralyze a Pokémon that hits it.</p>
						</figcaption>
					</figure>
					<dl>
						<dd>
							<i>For how to add a new ability to your game, see <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Defining_an_ability" title="Defining an ability">Defining an ability</a>.</i>
						</dd>
						<dd>
							<i>For a list of abilities in Essentials, see <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/List_of_abilities" title="List of abilities">List of abilities</a>.</i>
						</dd>
						<dd>
							<i>For how to make a Pokémon have a specific ability, see <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">Editing a Pokémon</a>.</i>
						</dd>
						<dd>
							<i>For giving an NPC trainer's Pokémon a specific ability, see <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">Defining a trainer</a>.</i>
						</dd>
					</dl>
					<p>
						This page describes&nbsp;<b>how abilities work in Essentials</b>.
					</p>
					@*<nav id="toc" class="toc" data-loaded="false">
						<div id="toctitle">
							<h2>Contents</h2>
							<span class="toctoggle">[<a href="#" class="internal" id="togglelink" data-show="show" data-hide="hide">show</a>]</span>
						</div>
						<ol>
						</ol>
					</nav>*@
					<h2>
						<span class="mw-headline" id="Defining_an_ability"> Defining an ability </span>
					</h2>
					<dl>
						<dd>
							<i>
								Main article: <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Defining_an_ability" title="Defining an ability">Defining an ability</a>
							</i>
						</dd>
					</dl>
					<p>
						An ability begins with its definition. This means that it is listed in the&nbsp;<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"abilities.txt", so that it can be recognised by the game as an ability. This alone does not give the ability an effect, but you&nbsp;<i>must</i>&nbsp;start by defining it before you can use it.
					</p>
					<div id="INCONTENT_WRAPPER">
						<div id="INCONTENT_PLAYER" class="wikia-ad hidden" data-label="advertisement">
							<div class="provider-container" id="DirectGpt_INCONTENT_PLAYER">
							</div>
						</div>
					</div>
					<h2>
						<span class="mw-headline" id="Ability_effects"> Ability effects </span>
					</h2>
					<p>
						An ability is a special effect that the bearer (a Pokémon with that ability) has access to. The vast majority of abilities have unique effects, although there are some which do the same things and just have different names.
					</p>
					<p>
						There is a wide variety of effects an ability can have, from changing stats to inflicting status problems to powering up attacks to preventing escape, and so on. They can be continuous effects, or occur at certain trigger moments (such as when a Pokémon enters battle or at the end of a&nbsp;<a class="new" title="Battle round (page does not exist)" rel="nofollow" data-uncrawlable-url="L3dpa2kvQmF0dGxlX3JvdW5kP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==">battle round</a>), or only apply while a certain condition is true, or they can have an effect outside of battle. They can even do a combination of these.
					</p>
					<p>
						As an ability can be so varied in what it does, it is very difficult (if not impossible) to generally describe how to code an ability effect. The best advice is to find an existing ability which does something similar to the new ability you want to create, and copy that and tweak it. See the page&nbsp;<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/List_of_abilities" title="List of abilities">List of abilities</a>&nbsp;for all the abilities currently coded in Essentials.
					</p>
					<h2>
						<span class="mw-headline" id="Assigning_an_ability_to_a_Pokemon_species"> Assigning an ability to a Pokémon species </span>
					</h2>
					<dl>
						<dd>
							<i>
								Main article: <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Defining_a_species" title="Defining a species">Defining a species</a>
							</i>
						</dd>
					</dl>
					<p>
						Once an ability is&nbsp;<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Defining_an_ability" title="Defining an ability">defined</a>, you can state that one or more Pokémon species have access to it. An ability can be assigned to a species either as a normal ability or as a hidden ability - these are accessible in different ways.
					</p>
					<p>
						It is impossible for an individual Pokémon to have an ability which has not been defined as being accessible to that Pokémon's species. However, through the use of hidden abilities, it&nbsp;<i>is</i>&nbsp;possible for just a single Pokémon of that species to have a particular ability, if you want to make such a special Pokémon.
					</p>
					<h3>
						<span class="mw-headline" id="Normal_abilities"> Normal abilities </span>
					</h3>
					<p>
						A Pokémon species can have access to 0, 1 or 2 different abilities as normal abilities. When a Pokémon of that species is generated (e.g. via a&nbsp;<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">wild encounter</a>), its ability will be randomly chosen from all the normal abilities available to that species. Each normal ability has an equal chance of being chosen - the choice depends on the value of the Pokémon's personal ID, which is random.
					</p>
					<p>
						If the Pokémon's personal ID is even, it will have the first normal ability available to its species. If its personal ID is odd, it will have the second normal ability. Obviously this only applies if there are two normal abilities to choose from; if there is just one defined normal ability, the Pokémon will always have that (or no ability if none are defined).
					</p>
					<p>
						You can use one of the following lines of code to <a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">force</a> a particular Pokémon's ability to be, respectively, the first or second normal ability defined for its species:
					</p>
<pre>pkmn.setAbility(0)
pkmn.setAbility(1)
</pre>
					<p>
						where <code>pkmn</code> is the individual Pokémon whose ability you are changing. This sets the Pokémon's ability override flag, where the number is the ability slot you are forcing the Pokémon to use. Slots 0 and 1 are the normal abilities, and slots 2, 3, 4 and 5 are the hidden abilities, in the order they are defined for the species.
					</p>
					<h3>
						<span class="mw-headline" id="Hidden_abilities"> Hidden abilities </span>
					</h3>
					<p>
						In addition to normal abilities, a Pokémon species can also have access to up to 4 different abilities as hidden abilities. An individual Pokémon will never naturally be given one of its hidden abilities; you must use&nbsp;<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">special code</a>&nbsp;to force its ability to be a hidden one. This code is one of the following lines:
					</p>
<pre>pkmn.setAbility(2)
pkmn.setAbility(3)
pkmn.setAbility(4)
pkmn.setAbility(5)
</pre>
					<p>
						where&nbsp;<code>pkmn</code>&nbsp;is the individual Pokémon whose ability you are changing. This sets the Pokémon's ability override flag, where the number is the ability slot you are forcing the Pokémon to use. Slots 0 and 1 are the normal abilities, and slots 2, 3, 4 and 5 are the hidden abilities, in the order they are defined for the species.
					</p>
					<p>
						If you set a Pokémon's ability override flag to use a particular slot, but there is no defined ability in that slot, then it will instead behave as though the override flag is not set, i.e. it will use the normal ability it would naturally have, as described above. It will&nbsp;<i>not</i>&nbsp;use a different hidden ability instead.
					</p>
					<!--
					NewPP limit report
					Preprocessor node count: 75/300000
					Post‐expand include size: 517/2097152 bytes
					Template argument size: 385/2097152 bytes
					Expensive parser function count: 0/100
					-->
					<!-- Saved in parser cache with key essentialsdocs:pcache:idhash:205-0!*!0!!en!2!* -->
					<noscript>
						<link rel="stylesheet" href="https://web.archive.org/web/20190329212818cs_/https://slot1-images.wikia.nocookie.net/__cb8330018330012/common/extensions/wikia/ImageLazyLoad/css/ImageLazyLoadNoScript.css" />
					</noscript>
				</div>
				<div class="printfooter">
					Retrieved from "<a href="https://web.archive.org/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?oldid=450">https://essentialsdocs.fandom.com/wiki/Abilities?oldid=450</a>"
				</div>

				<div class="ve-spinner-fade" style="display: none;">
				</div>
			</div>
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>