@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201001120717if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For the Shadow type used by Shadow Pokémon, see <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>.</i></dd></dl>
						<p>
							This page describes <b>how elemental types are defined</b>. Each Pokémon has either one or two types, and all moves have one type.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Defining_an_elemental_type"><span class="tocnumber">1</span> <span class="toctext">Defining an elemental type</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#PBS_file_.22types.txt.22"><span class="tocnumber">2</span> <span class="toctext">PBS file "types.txt"</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Other_effects_of_types"><span class="tocnumber">3</span> <span class="toctext">Other effects of types</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Type_icons_and_graphics"><span class="tocnumber">4</span> <span class="toctext">Type icons and graphics</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Defining_an_elemental_type">Defining an elemental type</span></h2>
						<p>
							A type begins with its definition. This means that is is listed in the <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> "types.txt", so that it can be recognised by the game as a type.
						</p>
						<h2><span id="PBS_file_&quot;types.txt&quot;"></span><span class="mw-headline" id="PBS_file_.22types.txt.22">PBS file "types.txt"</span></h2>
						<p>
							The <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> "types.txt" lists all the defined types in the game. Each section in this file is one separate type, where a section begins with a line containing an ID number in square brackets and ends when the next section begins. Each line in a section is one separate piece of information about that type.
						</p><p>
							For example:
						</p>
<pre>[0]
Name = Normal
InternalName = NORMAL
Weaknesses = FIGHTING
Immunities = GHOST
</pre>
<pre>[17]
Name = Dark
InternalName = DARK
IsSpecialType = true
Weaknesses = FIGHTING,BUG,FAIRY
Resistances = GHOST,DARK
Immunities = PSYCHIC
</pre>
						<p>
							The possible information that can be defined for a type is as follows:
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Data
									</th>
									<th>
										Required?
									</th>
									<th>
										Description
									</th>
								</tr>
								<tr>
									<td>
										Name
									</td>
									<td>
										Yes
									</td>
									<td>
										The name of this type (e.g. Fire, Water).
									</td>
								</tr>
								<tr>
									<td>
										InternalName
									</td>
									<td>
										Yes
									</td>
									<td>
										The name used by the scripts to refer to this type. It is never shown to the player. It is typically the type's name but in all capitals.
									</td>
								</tr>
								<tr>
									<td>
										IsSpecialType
									</td>
									<td>
										No
									</td>
									<td>
										Is either <code>true</code> or <code>false</code>. If <code>true</code>, moves of this type will use the special stats for damage calculation. If <code>false</code> or undefined, they will use the physical stats.
										<p>
											This doesn't normally matter, though, as by default each move is defined individually as physical or special rather than determining this based on its elemental type (like in newer games). By changing <code>MOVE_CATEGORY_PER_MOVE</code> in the <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a> <b>Settings</b> to false, though, moves can be made to be physical or special depending on their type (like in older games).
										</p>
									</td>
								</tr>
								<tr>
									<td>
										Weaknesses
									</td>
									<td>
										No
									</td>
									<td>
										A comma-separated list of the internal names of all the elemental types that will inflict double damage (i.e. are super effective) against a Pokémon of this type.
									</td>
								</tr>
								<tr>
									<td>
										Resistances
									</td>
									<td>
										No
									</td>
									<td>
										A comma-separated list of the internal names of all the elemental types that will inflict half damage (i.e. are not very effective) against a Pokémon of this type.
									</td>
								</tr>
								<tr>
									<td>
										Immunities
									</td>
									<td>
										No
									</td>
									<td>
										A comma-separated list of the internal names of all the elemental types that cannot inflict any damage on a Pokémon of this type.
									</td>
								</tr>
								<tr>
									<td>
										IsPseudoType
									</td>
									<td>
										No
									</td>
									<td>
										Is either <code>true</code> or <code>false</code>. If <code>true</code>, this type is a pseudotype, i.e. not a "proper" type. The&nbsp;<code>???</code> type is an example of a pseudotype. If <code>false</code> or undefined, this type will NOT be a pseudotype.
										<p>
											No Pokémon should have a pseudotype as one of its elemental types. Pseudotypes cannot be searched for in the <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>, and the move "Conversion" and the ability "Color Change" cannot change a Pokémon's type to a pseudotype.
										</p>
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							Note that the "<code>???</code>" type should be defined just like any other type. By default, it is the only pseudotype.
						</p>
						<h2><span class="mw-headline" id="Other_effects_of_types">Other effects of types</span></h2>
						<p>
							Certain types have special effects. For example, Fire-type Pokémon cannot be burned, Ice-type Pokémon cannot be frozen, Flying-type Pokémon are considered to be airborne (making them usually immune to Ground-type moves), and so on. These effects are all coded in the scripts, and are not defined in "types.txt".
						</p>
						<h2><span class="mw-headline" id="Type_icons_and_graphics">Type icons and graphics</span></h2>
						<p>
							Each elemental type requires a number of graphics corresponding to it. The graphics are as follows:
						</p>
						<ul>
							<li>Type icon - In the "Graphics/Pictures" folder, called "types.png".</li>
							<li><a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a> type icon - In the "Graphics/Pictures/Pokedex" folder, called "icon_types.png".</li>
							<li>Move box - In the "Graphics/Pictures/Battle" folder, called "cursor_fight.png". Includes both a non-highlighted and a highlighted version of each type's box, side by side.</li>
						</ul>
						<p>
							The order of each icon/box in these files is the same, and is the order in which the types are numbered in the <a href="/web/20201001120717/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> "types.txt". Type 0 (Normal) will be first, followed by type 1 (Fighting), etc.
						</p><p>
							The dimensions of each icon/box cannot be changed except by changing every script in which those graphics are used.
						</p>
						<!--
					NewPP limit report
					Cached time: 20200930194030
					Cache expiry: 86400
					Dynamic content: false
					CPU time usage: 0.006 seconds
					Real time usage: 0.009 seconds
					Preprocessor visited node count: 25/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 91/2097152 bytes
					Template argument size: 69/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    1.719      1 Template:For
					100.00%    1.719      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:98-0!canonical and timestamp 20200930194030 and revision id 939
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201001120717/https://essentialsdocs.fandom.com/wiki/Defining_a_type?oldid=939">https://essentialsdocs.fandom.com/wiki/Defining_a_type?oldid=939</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201001120717/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>