@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201001130605if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For the main page about abilities, see <a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/Abilities" title="Abilities">Abilities</a>.</i></dd>
							<dd><i>For a list of abilities in Essentials,, see <a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/List_of_abilities" title="List of abilities">List of abilities</a>.</i></dd>
							<dd><i>For assigning abilities to Pokémon species, see <a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/Defining_a_species" title="Defining a species">Defining a species</a>.</i></dd>
						</dl>
						<p>
							This page describes&nbsp;<b>how to define an ability</b>.
						</p>
						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Defining_an_ability">Defining an ability</span></h2>
						<p>
							An ability begins with its definition. This means that is is listed in the&nbsp;<a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"abilities.txt", so that it can be recognised by the game as an ability. This alone does not give the ability an effect, but you&nbsp;<i>must</i>&nbsp;start by defining it before you can use it.
						</p><p>
							This page only describes how to define an ability. See the page&nbsp;<a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/Abilities" title="Abilities">Abilities</a>&nbsp;to find out how to add effects to defined abilities.
						</p>
						<h2><span id="PBS_file_&quot;abilities.txt&quot;"></span><span class="mw-headline" id="PBS_file_.22abilities.txt.22">PBS file "abilities.txt"</span></h2>
						<p>
							The&nbsp;<a href="/web/20201001130605/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"abilities.txt" lists all the defined abilities in the game. Each line in this file is one separate ability.
						</p><p>
							Every line in this file follows the same format. Firstly, here are some examples:
						</p>
<pre>1,STENCH,Stench,"The stench may cause the target to flinch."
2,DRIZZLE,Drizzle,"The Pokémon makes it rain if it appears in battle."
3,SPEEDBOOST,Speed Boost,"Its Speed stat is gradually boosted."
110,TINTEDLENS,Tinted Lens,"Powers up \"not very effective\" moves."
</pre>
						<p>
							Each line is structured as follows, with commas separating each part:
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Part
									</th>
									<th>
										Information
									</th>
									<th>
										Description
									</th>
								</tr>
								<tr>
									<th>
										1
									</th>
									<td>
										ID number
									</td>
									<td>
										This number must be different for each ability. It must be a whole number between 1 and 65535 (it cannot be 0). You can skip numbers (e.g. the sequence&nbsp;<code>23,24,25,197,198,199,...</code>&nbsp;is allowed). The order in which abilities are numbered is not important.
									</td>
								</tr>
								<tr>
									<th>
										2
									</th>
									<td>
										Internal name
									</td>
									<td>
										This is how the scripts refer to the ability. Typically this is the same as the ability name but written in all capital letters and with no spaces or symbols. The internal name is never seen by the player. This must be different for each ability.
									</td>
								</tr>
								<tr>
									<th>
										3
									</th>
									<td>
										Display name
									</td>
									<td>
										The name of the ability, as seen by the player.
									</td>
								</tr>
								<tr>
									<th>
										4
									</th>
									<td>
										Description
									</td>
									<td>
										The ability's description. Quote marks are only required if there is a comma in the description, but there's no harm adding them in anyway. If there are any quote marks in the description itself, you must put a backslash before each of them, e.g.&nbsp;<code>\"</code>. The same applies if there are any apostrophes in the description and you haven't surrounded the whole description with quote marks.
									</td>
								</tr>
							</tbody>
						</table>
						<!--
					NewPP limit report
					Cached time: 20200930140320
					Cache expiry: 86400
					Dynamic content: false
					CPU time usage: 0.005 seconds
					Real time usage: 0.013 seconds
					Preprocessor visited node count: 37/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 254/2097152 bytes
					Template argument size: 190/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    2.567      1 -total
					 93.68%    2.405      3 Template:For
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:203-0!canonical and timestamp 20200930140320 and revision id 479
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201001130605/https://essentialsdocs.fandom.com/wiki/Defining_an_ability?oldid=479">https://essentialsdocs.fandom.com/wiki/Defining_an_ability?oldid=479</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201001130605/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>