@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201001114148if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For changing the properties of a given Pokémon, see <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">Editing a Pokémon</a>.</i></dd></dl>
						<p>
							This page describes how to&nbsp;<b>manipulate Pokémon</b>&nbsp;during the game. This includes how to give/take <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon" title="Pokémon">Pokémon</a>, choose a Pokémon from the player's party, decide whether a certain species has been seen/captured, and so forth.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1">
									<a href="#Adding_a_Pok.C3.A9mon"><span class="tocnumber">1</span> <span class="toctext">Adding a Pokémon</span></a>
									<ul>
										<li class="toclevel-2 tocsection-2"><a href="#Adding_a_gift_Pok.C3.A9mon"><span class="tocnumber">1.1</span> <span class="toctext">Adding a gift Pokémon</span></a></li>
										<li class="toclevel-2 tocsection-3"><a href="#Demo_party"><span class="tocnumber">1.2</span> <span class="toctext">Demo party</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-4"><a href="#Deleting_a_Pok.C3.A9mon_in_the_party"><span class="tocnumber">2</span> <span class="toctext">Deleting a Pokémon in the party</span></a></li>
								<li class="toclevel-1 tocsection-5"><a href="#Checking_for_Pok.C3.A9mon"><span class="tocnumber">3</span> <span class="toctext">Checking for Pokémon</span></a></li>
								<li class="toclevel-1 tocsection-6"><a href="#Choosing_a_Pok.C3.A9mon"><span class="tocnumber">4</span> <span class="toctext">Choosing a Pokémon</span></a></li>
								<li class="toclevel-1 tocsection-7"><a href="#Other_scripts"><span class="tocnumber">5</span> <span class="toctext">Other scripts</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span id="Adding_a_Pokémon"></span><span class="mw-headline" id="Adding_a_Pok.C3.A9mon">Adding a Pokémon</span></h2>
						<p>
							There are four ways to easily give the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a>&nbsp;a Pokémon, all of which will treat the Pokémon as originally belonging to the player. These are as follows:
						</p>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Function
									</th>
									<th>
										What it does
									</th>
								</tr>
								<tr>
									<td>
										<code>pbAddPokemon(:PIKACHU,20)</code>
									</td>
									<td>
										Adds the Pokémon to the player's&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;(if there is a space). If the player's&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a> is full, the Pokémon is&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9mon_storage" title="Pokémon storage">stored in the PC</a>&nbsp;instead.
										<p>
											When it has been given, a message will say the player has received it, and then the player will be allowed to nickname it.
										</p><p>
											If there is no possible place for the Pokémon to go, this function will return a message saying that there is no space.
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<code>pbAddPokemonSilent(:PIKACHU,20)</code>
									</td>
									<td>
										Same as above, except it does not display any messages at all and does not allow nicknaming.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbAddToParty(:PIKACHU,20)</code>
									</td>
									<td>
										Adds the Pokémon to the player's&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;(if there is a space). If the player's&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a> is full, this function will return a message saying that there is no space.
										<p>
											When it has been given, a message will say the player has received it, and then the player will be allowed to nickname it.
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<code>pbAddToPartySilent(:PIKACHU,20)</code>
									</td>
									<td>
										Same as above, except it does not display any messages at all and does not allow nicknaming.
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							All four methods above will return TRUE if the Pokémon was added, and FALSE if it was not. This means it can be used as the statement in a Conditional Branch, e.g.
						</p>
<pre>@@&gt;Conditional Branch: Script: pbAddPokemon(:EEVEE,25)
  @@&gt;Text: Pokémon was received...
  @@&gt;
&nbsp;: Else
  @@&gt;Text: Sorry, you have no room...
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							The Conditional Branch allows for additional messages, such as "I hope you treat Eevee well" or "Oh, that's too bad."
						</p><p>
							Alternatively, you can define a Pokémon beforehand, and then add it using the same methods above, like so:
						</p>
<pre>pkmn = pbGenPkmn(:MAGIKARP,10)
pbAddPokemon(pkmn)
</pre>
						<p>
							This allows you to modify the Pokémon before giving it to the player. See <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">Editing a Pokémon</a>&nbsp;for how it can be modified.
						</p><p>
							Each of the four methods listed above have an extra parameter at the end, which determines whether to record the newly-added Pokémon's form in the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>&nbsp;(in addition to seeing/owning it at all). This parameter is TRUE by default, i.e. the form is recorded by default. You should never need to set this to FALSE, but the option is there.
						</p>
						<h3><span id="Adding_a_gift_Pokémon"></span><span class="mw-headline" id="Adding_a_gift_Pok.C3.A9mon">Adding a gift Pokémon</span></h3>
						<p>
							A gift Pokémon is one which originally belonged to an NPC rather than the <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a>, and is thus a foreign Pokémon once the player has it (foreign Pokémon gain Exp faster, can disobey the player's orders depending on its level, and cannot change its nickname).
						</p><p>
							Obtaining a gift Pokémon is not the same as <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Trading_Pok%C3%A9mon" title="Trading Pokémon">trading</a>, as the player doesn't have to swap one of their Pokémon for the gift Pokémon. It is also different to finding a Pokémon in an <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Item_balls" title="Item balls">item ball</a>, as that would make the player its original owner and would use <code>pbAddToParty</code> as described above.
						</p><p>
							To give the player a gift Pokémon, use the following script:
						</p>
<pre>pbAddForeignPokemon(:SHUCKLE,20,_I("Kirk"),_I("Shuckie"),0)
</pre>
						<p>
							"Kirk" and "0" are the original trainer's name and gender (0=male, 1=female, 2=unknown) respectively, where the trainer's name is required and their gender is optional (default is male). "Shuckie" is the Pokémon's nickname (optional).
						</p><p>
							If the player's party is full, this function will return FALSE without any messages. Therefore, you should use it as the statement in a Conditional Branch (see above), so that a failure to add the Pokémon can be mentioned (e.g. with the message "Oh, your party is full.").
						</p><p>
							Alternatively, you can define a Pokémon beforehand and then add it, like so:
						</p>
<pre>pkmn = pbGenPkmn(:MAGIKARP,10)
pbAddForeignPokemon(pkmn)
</pre>
						<p>
							This allows you to <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">edit the Pokémon</a> before giving it to the player, e.g. giving it specific original trainer information. Although, since this function can only add a Pokémon to the player's <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>, it will be readily accessible as <code>$Trainer.lastParty</code>, so you can edit the Pokémon after obtaining it instead. See <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Editing_a_Pok%C3%A9mon" title="Editing a Pokémon">Editing a Pokémon</a> for how to edit a Pokémon's properties.
						</p><p>
							When the Pokémon is added, the <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a> will not be allowed to rename it. A random original trainer ID number (different to the player's trainer ID) will be generated for the Pokémon (unless it has already been changed before adding it). If the Pokémon is added, a message will say so.
						</p><p>
							This method has an extra parameter at the end, which determines whether to record the newly-added Pokémon's form in the <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a> (in addition to seeing/owning it at all). This parameter is TRUE by default, i.e. the form is recorded by default. You should never need to set this to FALSE, but the option is there.
						</p>
						<h3><span class="mw-headline" id="Demo_party">Demo party</span></h3>
						<p>
							The <code>def pbCreatePokemon</code>&nbsp;in the script section&nbsp;<b>Debug_Actions</b>&nbsp;can be used to give the player a full&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;of Pokémon (all at level 20), as follows:
						</p>
						<ul>
							<li>Pikachu</li>
							<li>Pidgeotto</li>
							<li>Kadabra</li>
							<li>Gyarados</li>
							<li>Diglett</li>
							<li>Chansey</li>
						</ul>
						<p>
							Between them, they will know all the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">moves usable out of battle</a>&nbsp;(except for Milk Drink).
						</p><p>
							This script exists for&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Debug_mode" title="Debug mode">demonstration purposes</a>&nbsp;only, and should not be used in any game.
						</p>
						<h2><span id="Deleting_a_Pokémon_in_the_party"></span><span class="mw-headline" id="Deleting_a_Pok.C3.A9mon_in_the_party">Deleting a Pokémon in the party</span></h2>
						<p>
							To permanently remove a Pokémon from the player's <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>, use the following script:
						</p>
<pre><code>pbRemovePokemonAt(<i>index</i>)</code>
</pre>
						<p>
							"<code>index</code>" is the position of the Pokémon in the&nbsp;party&nbsp;(first place is 0, second place is 1, etc.). This script cannot delete the Pokémon if it is the player's only able Pokémon (i.e. unfainted and not an Egg). The method does not display any messages. It returns TRUE if the Pokémon was deleted and FALSE if it was not (and thus should be used as the argument of a Conditional Branch).
						</p><p>
							Note that, after the Pokémon is deleted, any Pokémon lower down in the party list are bumped up to fill the gap. Keep this in mind if you intend to delete multiple Pokémon at once - to be safe, you should always delete Pokémon in reverse order (i.e. starting from the bottom of the party).
						</p><p>
							A less safe way to remove a Pokémon is to use the following script:
						</p>
<pre><code>$Trainer.party.delete_at(<i>index</i>)</code>
</pre>
						<p>
							"<code>index</code>" is as above. This does the same thing as&nbsp;<code>pbRemovePokemonAt</code>, except that it can delete the player's last able Pokémon.
						</p>
						<h2><span id="Checking_for_Pokémon"></span><span class="mw-headline" id="Checking_for_Pok.C3.A9mon">Checking for Pokémon</span></h2>
						<p>
							To see if the player has a Pokémon of a certain species in their party, use&nbsp;<code>pbHasSpecies?(:CELEBI)</code> (replacing the species name with the one you're checking for). Note that this ignores <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">Eggs</a>.
						</p>
<pre>@@&gt;Conditional Branch: Script: pbHasSpecies?(:CELEBI)
  @@&gt;Text: There is a Celebi in the party.
&nbsp;: Else
  @@&gt;Text: There are no Celebi in the party.
&nbsp;: Branch End
</pre>
						<p>
							To see if the first Pokémon in the player's party is of a certain species, use the following instead:
						</p>
<pre>@@&gt;Conditional Branch: Script: isConst?($Trainer.firstPokemon.species,PBSpecies,:CELEBI)
  @@&gt;Text: The first Pokémon in the party is a Celebi.
&nbsp;: Else
  @@&gt;Text: The first Pokémon in the party is not a Celebi.
&nbsp;: Branch End
</pre>
						<p>
							Note that <code>$Trainer.firstPokemon</code> is specifically the first Pokémon in the player's <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>, i.e. it ignores <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">Eggs</a>. The first unfainted Pokémon in the player's <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a> will be <code>$Trainer.firstAblePokemon</code>.
						</p><p>
							To see if the player has a fatefully encountered Pokémon of a certain species in their party, use&nbsp;<code>pbHasFatefulSpecies?(:CELEBI)</code> in the same way as above.
						</p>
						<h2><span id="Choosing_a_Pokémon"></span><span class="mw-headline" id="Choosing_a_Pok.C3.A9mon">Choosing a Pokémon</span></h2>
						<p>
							To make the player choose one of the Pokémon in their&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;for whatever reason, use the following script:
						</p>
<pre>pbChoosePokemon(<i>var1</i>,<i>var2</i>)
</pre>
						<p>
							This opens the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;screen and the player chooses one of the Pokémon therein. The two arguments are as follows:
						</p>
						<ul>
							<li>"<code>var1</code>" is the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a>&nbsp;in which to store the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>&nbsp;index of the chosen Pokémon. The number stored will be between 0 and 5 inclusive, or is -1 if no Pokémon was chosen. Traditionally Game Variable 1 is used for this.</li>
							<li>"<code>var2</code>" is the&nbsp;<a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a>&nbsp;in which to store the name (or nickname, if it has one) of the chosen Pokémon. Traditionally Game Variable 3 is used for this.</li>
						</ul>
						<p>
							There are three possible outcomes of&nbsp;<code>pbChoosePokemon</code>: a Pokémon was chosen, an egg was chosen, or nothing was chosen (i.e. the choice was cancelled).
						</p>
<pre>@@&gt;Script: pbChoosePokemon(1,3)
@@&gt;Conditional Branch: Variable [0001] &lt; 0
  @@&gt;Text: You cancelled the choice.
  @@&gt;Jump To Label: Done
&nbsp;: Branch End
@@&gt;Conditional Branch: pbGetPokemon(1).egg?      
  @@&gt;Text: You chose an egg.
  @@&gt;Jump To Label: Done
&nbsp;: Branch End
@@&gt;Text: You chose a \v[3].                      
@@&gt;Script: pbSet(2,pbGetPokemon(1).level)        
@@&gt;Text: It's at level \v[2].
@@&gt;Label: Done
</pre>
						<p>
							This is an example of how to use&nbsp;<code>pbChoosePokemon</code>. It also shows how the chosen Pokémon can be retrieved and information queried from it.
						</p><p>
							There are two related scripts (both of which have the same two arguments as above):
						</p>
						<ul>
							<li><code>pbChooseNonEggPokemon</code> - Only allows the player to choose a Pokémon, not an egg (the Pokémon may be fainted).</li>
							<li><code>pbChooseAblePokemon</code>&nbsp;- Only allows the player to choose a Pokémon that is not fainted and is not an egg.</li>
							<li><code>pbChooseTradablePokemon</code> - Only allows the player to choose a Pokémon that is not an egg and is not a <a href="/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>.</li>
						</ul>
						<h2><span class="mw-headline" id="Other_scripts">Other scripts</span></h2>
						<table class="article-table" border="1">
							<tbody>
								<tr>
									<th>
										Script
									</th>
									<th>
										What it does
									</th>
								</tr>
								<tr>
									<td>
										<code>pbAllFainted</code>
									</td>
									<td>
										Returns TRUE if the player has no able Pokémon left in their party, and FALSE otherwise.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbCheckAble(0)</code>
									</td>
									<td>
										Ignoring the Pokémon with the party index given, returns TRUE if the player has any able Pokémon, and FALSE if they don't.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.partyCount</code>
									</td>
									<td>
										Returns the number of Pokémon and eggs in the player's party (unfainted and fainted).
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.pokemonCount</code>
									</td>
									<td>
										Returns the number of Pokémon in the player's party (unfainted and fainted).
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.ablePokemonCount</code>
									</td>
									<td>
										Returns the number of able Pokémon in the player's party (unfainted only).
									</td>
								</tr>
								<tr>
									<td>
										<code>pbHealAll</code>
									</td>
									<td>
										Fully heals all Pokémon in the player's party. The event command "Recover All" has the same function.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbHasType?(:FIRE)</code>
									</td>
									<td>
										Returns TRUE if any Pokémon in the party (ignoring Eggs) is at least partially the type specified, and FALSE otherwise.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbCheckMove(:TACKLE)</code>
									</td>
									<td>
										Returns the party index number of the first Pokémon in the party that knows the given move (ignoring Eggs). Returns&nbsp;<i>nil</i>&nbsp;if none know the move. Used to determine whether a move can be used outside battle.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbBalancedLevel($Trainer.pokemonParty)</code>
									</td>
									<td>
										Returns the weighted mean of the levels of all Pokémon in the player's party (ignoring eggs), plus 2. Can be used to modify the levels of wild Pokémon to keep them challenging.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbSize(pkmn)</code>
									</td>
									<td>
										Using the personal ID and IVs of the given Pokémon (called <code>pkmn</code> here), calculates and returns a number which represents the Pokémon's size in mm. A Fishing Guru at the Lake of Rage in Johto measures Magikarp this way.
									</td>
								</tr>
								<tr>
									<td>
										<code>pkmn.numMoves</code>
									</td>
									<td>
										Returns the number of moves known by the given Pokémon (called&nbsp;<code>pkmn</code>&nbsp;here).
									</td>
								</tr>
								<tr>
									<td>
										<code>pkmn.hasMove?(:TACKLE)</code>
									</td>
									<td>
										Returns TRUE if the given Pokémon (called&nbsp;<code>pkmn</code>&nbsp;here) knows the given move, and FALSE if it doesn't.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbHasEgg?(:TOGEPI)</code>
									</td>
									<td>
										Returns TRUE if the given species can be legitimately found as an Egg, and FALSE otherwise. This includes Pokémon like Roselia (even though it is an evolved Pokémon, as it can be bred without the required Incense item), and Manaphy (even though it cannot be the result of breeding).
									</td>
								</tr>
								<tr>
									<td>
										<code>pbGetRegionalNumber(1,PBSpecies::BULBASAUR)</code>
									</td>
									<td>
										For the given Pokémon species, returns its Regional Dex number from the given Regional Dex (1 in this example is the second Regional Dex). Returns 0 if the given species does not appear in that Regional Dex.
									</td>
								</tr>
								<tr>
									<td>
										<code>pbGetNationalNumber(1,135)</code>
									</td>
									<td>
										Returns the National Dex number of the Pokémon species which has the given Regional Dex number (135) in the given Regional Dex (1).
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.hasSeen?(:BULBASAUR)</code>
									</td>
									<td>
										Returns TRUE if the given Pokémon species has been seen, and FALSE if not.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.hasOwned?(:BULBASAUR)</code>
									</td>
									<td>
										Returns TRUE if the given Pokémon species has been owned, and FALSE if not.
									</td>
								</tr>
								<tr>
									<td>
										<code>$Trainer.numFormsSeen[PBSpecies::BULBASAUR]</code>
									</td>
									<td>
										Returns the number of&nbsp;forms&nbsp;of the given Pokémon species that have been seen. This does not include genders, even if the species has gender differences.
									</td>
								</tr>
							</tbody>
						</table>
						<!--
					NewPP limit report
					Cached time: 20200930183434
					Cache expiry: 86400
					Dynamic content: false
					CPU time usage: 0.014 seconds
					Real time usage: 0.017 seconds
					Preprocessor visited node count: 61/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 101/2097152 bytes
					Template argument size: 79/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    3.054      1 Template:For
					100.00%    3.054      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:124-0!canonical and timestamp 20200930183434 and revision id 480
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201001114148/https://essentialsdocs.fandom.com/wiki/Manipulating_Pokémon?oldid=480">https://essentialsdocs.fandom.com/wiki/Manipulating_Pokémon?oldid=480</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201001114148/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>