@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20201001113109if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For general information on Pokémon forms, see <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">Forms</a>.</i></dd></dl>
						<figure class="thumb tright show-info-icon" style="width: 258px"> 	<a href="https://web.archive.org/web/20201001113109/https://static.wikia.nocookie.net/essentialsdocs/images/3/33/MegaEvolution.gif/revision/latest?cb=20180902161836" class="image"><img alt="" src="https://web.archive.org/web/20201001113109im_/https://static.wikia.nocookie.net/essentialsdocs/images/3/33/MegaEvolution.gif/revision/latest/scale-to-width-down/256?cb=20180902161836" decoding="async" width="256" height="192" class="thumbimage" data-image-name="MegaEvolution.gif" data-image-key="MegaEvolution.gif"></a> 	 	<figcaption class="thumbcaption"> 		 			<a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/File:MegaEvolution.gif" class="info-icon"><svg><use xlink:href="#wds-icons-info-small"></use></svg></a> 		 		 		 			<p class="caption">Charizard and Venusaur using Mega Evolution (animated image)</p> 		 	</figcaption> </figure>
						<p>
							<b>Mega Evolution</b> is a system introduced in Pokémon X and Y to enhance some Pokémon by temporarily boosting their stats and other features during battle. In Essentials, these changes are treated as a kind of <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">form change</a>.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#How_Mega_Evolution_works"><span class="tocnumber">1</span> <span class="toctext">How Mega Evolution works</span></a></li>
								<li class="toclevel-1 tocsection-2">
									<a href="#Defining_a_Mega_Evolution"><span class="tocnumber">2</span> <span class="toctext">Defining a Mega Evolution</span></a>
									<ul>
										<li class="toclevel-2 tocsection-3"><a href="#Mega_form"><span class="tocnumber">2.1</span> <span class="toctext">Mega form</span></a></li>
										<li class="toclevel-2 tocsection-4"><a href="#Mega_Ring"><span class="tocnumber">2.2</span> <span class="toctext">Mega Ring</span></a></li>
										<li class="toclevel-2 tocsection-5"><a href="#Mega_Stones"><span class="tocnumber">2.3</span> <span class="toctext">Mega Stones</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-6"><a href="#Mega_Evolution_animation"><span class="tocnumber">3</span> <span class="toctext">Mega Evolution animation</span></a></li>
								<li class="toclevel-1 tocsection-7"><a href="#Preventing_Mega_Evolution"><span class="tocnumber">4</span> <span class="toctext">Preventing Mega Evolution</span></a></li>
								<li class="toclevel-1 tocsection-8"><a href="#Setting_up_a_foe_trainer_for_Mega_Evolution"><span class="tocnumber">5</span> <span class="toctext">Setting up a foe trainer for Mega Evolution</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="How_Mega_Evolution_works">How Mega Evolution works</span></h2>
						<p>
							Mega Evolution can occur when the player possesses a Mega Ring, and when a particular Pokémon is holding a particular item. If these conditions are met, then the option to Mega Evolve that Pokémon will appear in the Fight menu when choosing a move for that Pokémon to use. Only one Pokémon per trainer can Mega Evolve in a given battle.
						</p><p>
							The Mega Evolution is an extra part of a battle round, and a Pokémon can both Mega Evolve <i>and</i> use a move in the same round. The Pokémon remains Mega Evolved until the end of the current battle, regardless of whether it switches out or faints. Its held item (the Mega Stone) is not consumed by this process, and in fact, a Pokémon cannot drop or otherwise lose its Mega Stone by any means.
						</p>
						<h2><span class="mw-headline" id="Defining_a_Mega_Evolution">Defining a Mega Evolution</span></h2>
						<p>
							There are three parts to this: defining a Mega form, defining a Mega Ring (and giving it to the player), and defining one or more Mega Stones.
						</p>
						<h3><span class="mw-headline" id="Mega_form">Mega form</span></h3>
						<dl><dd><i>Main article: <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Forms" title="Forms">Forms</a></i></dd></dl>
						<p>
							A Mega Evolution behaves in Essentials as a form change. The Mega forms of Pokémon are therefore defined in the <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> "pokemonforms.txt" like any other form.
						</p><p>
							There are four properties of a form that are exclusively used for Mega forms. These are:
						</p>
						<ul>
							<li><code>MegaStone</code> - The Mega Stone item that needs to be held by a Pokémon for it to transform into this Mega form.</li>
							<li><code>UnmegaForm</code> - The form that this Mega form will revert to after battle. Default is 0.</li>
							<li><code>MegaMove</code> - An alternative to Mega Stones, this is a move that needs to be known by a Pokémon to allow its transformation into this Mega form. Typically used only for Rayquaza.</li>
							<li><code>MegaMessage</code> - A number that defines the message shown during Mega Evolution. Again, typically used only for Rayquaza.</li>
						</ul>
						<p>
							Of these four properties, you will typically only use the first one.
						</p><p>
							The <code>FormName</code> property should be "Mega Venusaur" (or similar).
						</p>
						<h3><span class="mw-headline" id="Mega_Ring">Mega Ring</span></h3>
						<p>
							A Mega Ring is the counterpart to Mega Stones held by Pokémon. The Mega Ring is an item in the player's <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a>.
						</p><p>
							In the script section <b>Settings</b> is an array called <code>MEGARINGS</code>. Items listed in this array are Mega Rings. The player can use any of them for Mega Evolution. Otherwise, they are normal items with no effect (like Key Cards).
						</p>
						<h3><span class="mw-headline" id="Mega_Stones">Mega Stones</span></h3>
						<dl><dd><i>Main article: <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Defining_an_item" title="Defining an item">Defining an item </a></i></dd></dl>
						<p>
							A Mega Stone is an item to be held by a Pokémon. It has no effect of its own.
						</p><p>
							A Mega Stone should be defined with a "special item" value of 12. This (currently) has the only effect of making Fling's base power 80 when it throws a Mega Stone (this is possible if the Mega Stone does not match the species of the Pokémon holding it).
						</p><p>
							A Mega Move (e.g. Dragon Ascent for Rayquaza) is no different to any other move. Nothing special needs to be defined or written for it.
						</p>
						<h2><span class="mw-headline" id="Mega_Evolution_animation">Mega Evolution animation</span></h2>
						<p>
							When a Pokémon Mega Evolves, a few messages are shown stating what happens. Two Common animations are also shown: one called "MegaEvolution" which plays first, and one called "MegaEvolution2" which plays immediately after the first. The Pokémon's sprite changes from its normal form to its Mega form between these two animations, so each animation should only show half of the whole Mega Evolution visual effect.
						</p>
						<h2><span class="mw-headline" id="Preventing_Mega_Evolution">Preventing Mega Evolution</span></h2>
						<p>
							In the script section <b>Settings</b>, the value <code>NO_MEGA_EVOLUTION</code> is defined (34 by default). If the Game Switch of this number is on, then no Pokémon is able to Mega Evolve, no matter what. This applies to both the player and foe trainers alike.
						</p>
						<h2><span class="mw-headline" id="Setting_up_a_foe_trainer_for_Mega_Evolution">Setting up a foe trainer for Mega Evolution</span></h2>
						<dl><dd><i>Main article: <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">Defining a trainer</a></i></dd></dl>
						<p>
							NPC trainers are assumed to have a Mega Ring. They do not need to be given one specially. By default, this will be called "Mega Ring", although you can add code to customise the name of Mega Ring items for particular trainers. <code>def pbGetMegaRingName</code> in the <a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a> <b>PokeBattle_Battle</b> contains an example of such code, which causes Bug Catchers to possess Mega Nets.
						</p><p>
							The only thing you need to do is to ensure that NPC trainers' Pokémon are holding their Mega Stones (only for Pokémon that should Mega Evolve, of course).
						</p><p>
							<a href="/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Battle_AI" title="Battle AI">NPC trainers</a> will always try to Mega Evolve their Pokémon. They are still limited to one Mega Evolution per battle, just as the player is.
						</p>
						<!--
					NewPP limit report
					Cached time: 20200930115505
					Cache expiry: 86400
					Dynamic content: false
					CPU time usage: 0.012 seconds
					Real time usage: 0.013 seconds
					Preprocessor visited node count: 59/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 221/2097152 bytes
					Template argument size: 127/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    3.364      1 -total
					 54.79%    1.843      1 Template:For
					 36.71%    1.235      3 Template:Main
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:88-0!canonical and timestamp 20200930115505 and revision id 132
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20201001113109/https://essentialsdocs.fandom.com/wiki/Mega_Evolution?oldid=132">https://essentialsdocs.fandom.com/wiki/Mega_Evolution?oldid=132</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20201001113109/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>