@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512071940if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For how to define a trainer, see <a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">Defining a trainer</a>.</i></dd></dl>
						<p>
							This page describes&nbsp;<b>partner trainers</b>. It details both registering/deregistering a partner trainer (for battles) and making an event dependent (for having them follow the player around).
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Setting_a_partner_trainer_up"><span class="tocnumber">1</span> <span class="toctext">Setting a partner trainer up</span></a></li>
								<li class="toclevel-1 tocsection-2">
									<a href="#Teaming_up_with_a_partner"><span class="tocnumber">2</span> <span class="toctext">Teaming up with a partner</span></a>
									<ul>
										<li class="toclevel-2 tocsection-3"><a href="#Registering_a_partner"><span class="tocnumber">2.1</span> <span class="toctext">Registering a partner</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-4">
									<a href="#Dependent_events"><span class="tocnumber">3</span> <span class="toctext">Dependent events</span></a>
									<ul>
										<li class="toclevel-2 tocsection-5"><a href="#Making_an_event_dependent"><span class="tocnumber">3.1</span> <span class="toctext">Making an event dependent</span></a></li>
										<li class="toclevel-2 tocsection-6"><a href="#Dependent_events_across_multiple_maps"><span class="tocnumber">3.2</span> <span class="toctext">Dependent events across multiple maps</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-7"><a href="#Tips"><span class="tocnumber">4</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Setting_a_partner_trainer_up">Setting a partner trainer up</span></h2>
						<p>
							Partner trainers are identical to any other trainer, so you should <a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">create them</a> in exactly the same way as you would any other trainer. The only difference is in how they are used (they are an ally in battle rather than an opponent).
						</p><p>
							Partner trainers also require a back sprite, just like the&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player&nbsp;characters</a> have back sprites. Back sprites are specific to trainer types, and are placed in the folder "Graphics/Characters" with the name "trbackXXX.png", where "XXX" is the trainer type's ID.
						</p><p>
							Typically, partner trainers will have a trainer type unique to themselves (i.e. there are no other trainers in the game that share their trainer type). This is only a rule, though; you can have the player team up with a Bug Catcher if you want.
						</p>
						<h2><span class="mw-headline" id="Teaming_up_with_a_partner">Teaming up with a partner</span></h2>
						<p>
							This section explains how to make a partner trainer show up in&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Battles" title="Battles">battle</a>&nbsp;alongside the&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a>. See below for how to make them follow the player around.
						</p><p>
							Having a registered partner trainer will cause all&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Wild_encounters" title="Wild encounters">wild&nbsp;battles</a> to be double battles, and these plus any double&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">trainer battles</a>&nbsp;(either defined as a double battle or a case of two trainers spotting the player at the same time) will involve both the player and their partner against the opponent(s). 1v1 battles against a single trainer are unaffected, and the partner will not participate in those battles.
						</p><p>
							After every battle (even single ones which the partner didn't participate in), the player's party will be fully healed (ostensibly by the partner).
						</p><p>
							The player can only team up with (i.e. register) one partner at a time.
						</p>
						<h3><span class="mw-headline" id="Registering_a_partner">Registering a partner</span></h3>
						<p>
							Partner trainers must be registered and deregistered. This is done with the following code:
						</p>
<pre>pbRegisterPartner(:HOOPYTRAINER,"Zaphod",0)
</pre>
						<p>
							The parameters for&nbsp;<code>def pbRegisterPartner</code>&nbsp;are as follows:
						</p>
						<ol>
							<li>The partner's trainer type. Note the colon at the beginning.</li>
							<li>The partner's name, in quote marks.</li>
							<li>Optional. A number used to distinguish between different versions of the same trainer. Default is 0.</li>
						</ol>
						<p>
							This is the same way you define an enemy trainer when you set up a trainer battle (trainer class plus name plus optional number).
						</p><p>
							To deregister the partner trainer, use the following line of code:
						</p>
<pre>pbDeregisterPartner
</pre>
						<p>
							As there can only be one registered partner at any one time,&nbsp;<code>def pbDeregisterPartner</code>&nbsp;doesn't have any parameters.
						</p>
						<h2><span class="mw-headline" id="Dependent_events">Dependent events</span></h2>
						<p>
							This section explains how to have the partner trainer's event follow the&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Player" title="Player">player</a>&nbsp;as they walk around the&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Maps" title="Maps">map</a>. More generally, it explains how to make any event follow the player - event dependency is not solely for partner trainers (it just makes sense to use a dependent event for a registered partner).
						</p><p>
							While the player has any dependent events, the player cannot use the moves&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Using_moves_outside_battle" title="Using moves outside battle">Surf, Fly, Teleport or Dig</a>&nbsp;outside battle, nor use an&nbsp;Escape Rope. The player can talk to the dependent event, but the contents of that interaction must be in a Common Event rather than in a page in that dependent event.
						</p>
						<h3><span class="mw-headline" id="Making_an_event_dependent">Making an event dependent</span></h3>
						<p>
							When registering a partner trainer, you will typically also want to make that trainer's event dependent (i.e. follow the player around). To do this, use the following line of code:
						</p>
<pre>Kernel.pbAddDependency2(@@event_id,"Dave",42)
</pre>
						<p>
							The first argument is the ID number of the event that will follow the player (<code>@@event_id</code>&nbsp;means the event that this script is used in). The second argument is a name or phrase used to identify the dependent event. The third argument is the ID number of the Common Event to call when the player talks to the dependent event.
						</p><p>
							Common Events are listed in the Database (F9). They are similar to events, except they only have one page and limited triggers (you should use the trigger "None", which means you need to interact with it in order to talk with it). The Common Event dealing with the partner may include the option to deregister the partner (i.e. you can make them stop following the player by talking to them).
						</p><p>
							To remove a dependent event, use the following script command:
						</p>
<pre>Kernel.pbRemoveDependency2("Dave")
</pre>
						<p>
							This uses the name or phrase which identifies that dependent event. Remember that you should both remove the event's dependency AND deregister the partner at the same time.
						</p>
						<h3><span class="mw-headline" id="Dependent_events_across_multiple_maps">Dependent events across multiple maps</span></h3>
						<p>
							Where possible, you should restrict a dependent event to one map. There is a slight graphical error when crossing between two&nbsp;<a href="/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Connecting_maps" title="Connecting maps">connecting maps</a>&nbsp;which you may want to avoid. In addition, the animation for entering through doors wouldn't look right (only the player would do so, as normal, shutting the door in the dependent event's face).
						</p><p>
							If you do take a dependent event to a different map, you should have an event on that new map whose ID is the same as the event which became dependent. If you don't, ending a battle will cause the game to crash. This event can be blank or be used for anything else - it just needs to exist.
						</p><p>
							When a dependent event is removed and stops following the player, it is immediately erased. You will likely want them to remain where they are instead, which means you will need to add some commands to the Common Event which will place an event in the same place and facing the same direction.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>
								You can use dependent events for things other than partner trainers. For example, a famous feature of Pokémon Yellow was that the player's Pikachu followed them around.
								<ul><li>Dependent events can be quite tricky to get to work properly, though.</li></ul>
							</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210428100249
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.011 seconds
					Real time usage: 0.021 seconds
					Preprocessor visited node count: 40/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 81/2097152 bytes
					Template argument size: 59/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    8.765      1 Template:For
					100.00%    8.765      1 -total
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:213-0!canonical and timestamp 20210428100249 and revision id 740
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512071940/https://essentialsdocs.fandom.com/wiki/Partner_trainer?oldid=740">https://essentialsdocs.fandom.com/wiki/Partner_trainer?oldid=740</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512071940/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>