@{
	Layout = "~/Theme/UnityFX/Layout/Wiki/_Layout";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512082901if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl><dd><i>For how to define an NPC trainer, see <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Defining_a_trainer" title="Defining a trainer">Defining a trainer</a>.</i></dd></dl>
						<p>
							This page describes how to set up a&nbsp;<b>rival trainer</b>. It focuses on how to name the rival, and explains how to choose which version of a rival to battle with.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#The_rival"><span class="tocnumber">1</span> <span class="toctext">The rival</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Naming_the_rival"><span class="tocnumber">2</span> <span class="toctext">Naming the rival</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Rival_versions"><span class="tocnumber">3</span> <span class="toctext">Rival versions</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Tips"><span class="tocnumber">4</span> <span class="toctext">Tips</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="The_rival">The rival</span></h2>
						<p>
							A rival is no different to any other trainer, and is defined in exactly the same way.
						</p><p>
							Typically, the player will encounter the rival at several fixed points during a game, and each time the rival will have a different team of Pokémon. Each instance of the rival appearing is completely separate to the others.
						</p><p>
							Since the rival will be battled multiple times during a game, each instance of the rival trainer will need to be set up as multiple versions of the same trainer, much like other trainers you can have&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Rematches" title="Rematches">rematches</a>&nbsp;with. The difference here is that each battle with a rival version is in a different event in a different part of the game, rather than all in the same event. The page <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">Trainers</a>&nbsp;describes how to arrange a battle against a given version of a trainer.
						</p>
						<h2><span class="mw-headline" id="Naming_the_rival">Naming the rival</span></h2>
						<p>
							You may wish to allow the player to give a name to the rival. To do so, use one of the following scripts:
						</p>
<pre>pbSet(<span style="background:yellow">12</span>,pbEnterNPCName("Rival's name?",1,7,"","<span style="background:yellow">trchar004</span>"))
pbSet(<span style="background:yellow">12</span>,pbEnterNPCName("Rival's name?",1,7,"<span style="background:yellow">Blue</span>","<span style="background:yellow">trchar004</span>"))
</pre>
						<p>
							This will open the naming screen, which may already have a default name displayed. The "1" and "7" are the minimum and maximum name lengths allowed, and having "1" as the minimum means the player&nbsp;<i>must</i>&nbsp;input a name; 7 is the maximum name length only because of tradition. The last parameter is the name of a charset in the folder "Graphics/Characters" which depicts the NPC you are naming.
						</p><p>
							When the player has input a name, that name is saved to the given&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a>&nbsp;(12 in these examples) - make sure that whichever Game Variable you use is not used for anything else, because the name needs to be saved in that Game Variable for the rest of the game.
						</p><p>
							You can display the name by putting&nbsp;<code>\v[12]</code>&nbsp;within a text message. However, this only works in regular text messages in events, not in the various messages used in battles (e.g. "Rival Blue would like to battle!"). To make the game use the correct name for the rival, you will need to edit the following array in the <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Script_section" class="mw-redirect" title="Script section">script section</a>&nbsp;<b>Settings</b>:
						</p>
<pre>RIVALNAMES = [
   [:<span style="background:yellow">RIVAL1</span>,<span style="background:yellow">12</span>],
   [:<span style="background:yellow">RIVAL2</span>,<span style="background:yellow">43</span>]
]
</pre>
						<p>
							Each line of this array contains a trainer type and a number. This means that if the player battles with a trainer with one of the trainer types listed (e.g. "RIVAL1"), and the Game Variable of the corresponding number contains anything (i.e. the player has named the rival), then the name in that Game Variable will be used as the trainer's name (e.g. "Rival Blue"). If the rival hasn't been given a name yet (i.e. the Game Variable is blank), then the name as written in the&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"trainers.txt" will be used instead as it normally would - this should be "???" or something similarly ambiguous, and will typically be done for rival versions which can be battled before they are named/have their name revealed.
						</p><p>
							Since you have allowed the player to name the rival, that means the trainer's name as written in the <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a> "trainers.txt" will be replaced regardless of what it is (so long as they have the appropriate trainer type). As a result, you can use the names in the&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"trainers.txt" for other things instead, since they'll never be shown to the player. That is, you can create a trainer of type "RIVAL" and name "battle2grass", which is much easier to read when looking at/managing the rival versions. This only applies to rival versions who are battled&nbsp;<i>after</i>&nbsp;the rival has been named, of course.
						</p><p>
							Remember that this only affects the text displayed during the game. The scripts that&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">start battles</a>&nbsp;with the rival should still use the names from the&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"trainers.txt" (e.g. "???", "battle2grass") in order to start the correct battles.
						</p><p>
							This feature isn't exclusive to rival trainers. Any NPC can be named with the above line of code, and any NPC trainer with a unique trainer type can use the custom name appropriately.
						</p>
						<h2><span class="mw-headline" id="Rival_versions">Rival versions</span></h2>
						<p>
							The rival appears at various points throughout the game, with an ever-changing party of Pokémon. For each appearance, their party will typically depend upon which of the&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Choosing_a_starter" title="Choosing a starter">starter Pokémon</a>&nbsp;the player has chosen (with the rival using the starter that is strong against the player's). The page <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Choosing_a_starter" title="Choosing a starter">Choosing a starter</a>&nbsp;describes how to create a variable that records which starter the player chose, which will later be used to determine which party the rival uses.
						</p><p>
							Each appearance of the rival should have three versions, one for each&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Choosing_a_starter" title="Choosing a starter">starter Pokémon</a>&nbsp;choice, e.g.
						</p>
						<table class="wikitable">
							<tbody>
								<tr>
									<th>
										Battle
									</th>
									<th>
										Location
									</th>
									<th>
										Rival's party
									</th>
								</tr>
								<tr>
									<th rowspan="3">
										1
									</th>
									<td rowspan="3">
										Professor's lab after&nbsp;choosing a starter
									</td>
									<td>
										Grass starter
									</td>
								</tr>
								<tr>
									<td>
										Fire starter
									</td>
								</tr>
								<tr>
									<td>
										Water starter
									</td>
								</tr>
								<tr>
									<th rowspan="3">
										2
									</th>
									<td rowspan="3">
										Route 22
									</td>
									<td>
										Grass starter, Pidgey
									</td>
								</tr>
								<tr>
									<td>
										Fire starter, Pidgey
									</td>
								</tr>
								<tr>
									<td>
										Water starter, Pidgey
									</td>
								</tr>
								<tr>
									<th>
										.<br>.<br>.
									</th>
									<td align="center">
										.<br>.<br>.
									</td>
									<td align="center">
										.<br>.<br>.
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							You can quickly end up with a large number of rival versions, so be sure to keep track of them all so that you don't accidentally arrange battles with the wrong version at some point. One way to help keep track, as mentioned above, is to give the rival versions distinctive names (this only works if the player can name the rival, thus meaning those distinctive names will never be seen by the player).
						</p><p>
							Once the rival versions have been defined, you will then need to trigger a battle with the appropriate version. This will use the Game Variable that records <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Choosing_a_starter" title="Choosing a starter">which&nbsp;starter the player chose</a>. After creating a&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">basic trainer event</a>&nbsp;for the rival, you should modify it to include Conditional Branches that determine which version of the rival should be used, and then trigger a battle against that version. Here is a simplified example of how to lay this out:
						</p>
<pre>@@&gt;Conditional Branch: Variable [0007: Starter choice] == 1          <span style="background:lime">--- 1 means the player chose the Grass starter</span>
  @@&gt; <span style="background:red">Battle with the Fire version of the rival</span>
&nbsp;: Else
  @@&gt;Conditional Branch: Variable [0007: Starter choice] == 2        <span style="background:red">--- 2 means the player chose the Fire starter</span>
	@@&gt; <span style="background:cyan">Battle with the Water version of the rival</span>
  &nbsp;: Else                                                           <span style="background:cyan">--- The only other option is if the player chose the Water starter</span>
	@@&gt; <span style="background:lime">Battle with the Grass version of the rival</span>
  &nbsp;: Branch End
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							Note that each part highlighted on the left should be a set of event commands that run the battle script for the appropriate version of the rival. See the page <a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Trainers" title="Trainers">Trainers</a>&nbsp;for what this set of commands is.
						</p>
						<h2><span class="mw-headline" id="Tips">Tips</span></h2>
						<ul>
							<li>No one said you could only have one rival in your game...</li>
							<li>Have the rival change their battle sprite between different encounters. To do this, you will need to create a different trainer type for each sprite. If you let the player name the rival, be sure to include the extra trainer types in the name replacement array mentioned above, so that the rival's name is displayed for all of them. Multiple trainer types can refer to the same Game Variable for the name.</li>
							<li>You could follow Pokémon Yellow's example, and have the rival's Pokémon team depend not on which starter the player chose but on the number of times the player defeats them first time around. To do this, use another Self Switch in the rival's event to help distinguish between the first battle and retry battles, and alter a Game Variable (that keeps track of first time wins) only if it is the first battle. Later encounters will use this number to decide which rival version to use.</li>
							<li>Alternatively, have the rival's team depend on other things, such as the number of Pokémon the player currently has, the player's&nbsp;<a href="/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9dex" title="Pokédex">Pokédex</a>&nbsp;counts, etc.&nbsp;<b>Don't go overboard!</b>&nbsp;Remember that you'll need a rival version for each possibility, and you could end up with hundreds of them if you're not careful (which is possible but hard to keep track of).</li>
							<li>The rival's starter doesn't need to be stronger than the player's. You can make his starter weaker or the same type as the player's starter. It doesn't even need to be one of the remaining starter Pokémon that the player didn't choose.</li>
						</ul>
						<!--
					NewPP limit report
					Cached time: 20210427142526
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.019 seconds
					Real time usage: 0.026 seconds
					Preprocessor visited node count: 168/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 981/2097152 bytes
					Template argument size: 410/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    5.945      1 -total
					 45.24%    2.689     15 Template:Hl
					 40.24%    2.392      1 Template:For
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:212-0!canonical and timestamp 20210427142526 and revision id 690
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512082901/https://essentialsdocs.fandom.com/wiki/Rival?oldid=690">https://essentialsdocs.fandom.com/wiki/Rival?oldid=690</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512082901/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>