@{
	Layout = "~/Themes/UnityFX/Layout/_Layout-Wiki.cshtml";
	Page.Title = "Abilities";
}

<section id="WikiaPage" class="WikiaPage V2" onclick="">
	<header id="PageHeader" class="page-header">
		<div class="page-header__main">
			<h1 class="page-header__title">@Page.Title</h1>
		</div>
		@*<div class="page-header__contribution">
			<div>
				<!--Empty div to ensure $actionButton is always pushed to bottom of the container-->
			</div>
			<div class="page-header__contribution-buttons">
				<div class="wds-button-group">
					<a href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=edit" class="wds-button" id="ca-viewsource" data-tracking="ca-viewsource">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-lock-small">
							<defs>
								<path id="lock-small" d="M14 16H4V8h10v8zM7 4c0-1.104.897-2 2-2s2 .896 2 2v2H7V4zm8 2h-2V4c0-2.205-1.794-4-4-4S5 1.795 5 4v2H3a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zm-5 4H8a1 1 0 1 0 0 2v1a1 1 0 1 0 2 0v-1a1 1 0 1 0 0-2">
								</path>
							</defs>
							<use fill-rule="evenodd" xlink:href="#lock-small">
							</use>
						</svg>
						<span>Edit</span>
					</a>
					<div class="wds-dropdown">
						<div class="wds-button wds-dropdown__toggle">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny">
								<defs>
									<path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z">
									</path>
								</defs>
								<use fill-rule="evenodd" xlink:href="#dropdown-tiny-a">
								</use>
							</svg>
						</div>
						<div class="wds-dropdown__content wds-is-not-scrollable wds-is-right-aligned">
							<ul class="wds-list wds-is-linked">
								<li>
									<a id="ca-history" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Abilities?action=history" data-tracking="ca-history-dropdown">
										History
									</a>
								</li>
								<li>
									<a id="ca-talk" href="/web/20190329212818/https://essentialsdocs.fandom.com/wiki/Talk:Abilities?action=edit&amp;redlink=1" class="new" data-tracking="ca-talk-dropdown">
										Talk (0)
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a class="wds-button wds-is-secondary" href="#" id="ShareEntryPoint">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18" class="wds-icon wds-icon-small" id="wds-icons-share-small">
						<defs>
							<path id="share-small" d="M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10">
							</path>
						</defs>
						<use fill-rule="evenodd" xlink:href="#share-small">
						</use>
					</svg>
					<span>Share</span>
				</a>
			</div>
		</div>*@
	</header>
	<hr class="page-header__separator">

	<article id="WikiaMainContent" class="WikiaMainContent">
		<div id="WikiaMainContentContainer" class="WikiaMainContentContainer">
			<div id="content" class="WikiaArticle">
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					<!-- Google Tag Manager (noscript) -->
					<noscript><iframe src="https://web.archive.org/web/20210512085746if_/https://www.googletagmanager.com/ns.html?id=GTM-N6XD44P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
					<!-- End Google Tag Manager (noscript) -->
					<div class="mw-parser-output">
						<dl>
							<dd><i>For Poké Center nurses that heal Pokémon, see <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9_Center" title="Poké Center">Poké Center</a>.</i></dd>
							<dd><i>For NPCs that sell items, see <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Pok%C3%A9_Mart" title="Poké Mart">Poké Mart</a>.</i></dd>
							<dd><i>For the Day Care Couple, see <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Day_Care" title="Day Care">Day Care</a>.</i></dd>
						</dl>
						<p>
							This page describes how to set up&nbsp;<b>special NPCs</b>. These include Move Tutors, Move Deleters, Move Relearners and Pokémon Nicknamers.
						</p>
						<div id="toc" class="toc">
							<input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none"><div class="toctitle" lang="en" dir="ltr"><h2>Contents</h2><span class="toctogglespan"><label class="toctogglelabel" for="toctogglecheckbox"></label></span></div>
							<ul>
								<li class="toclevel-1 tocsection-1"><a href="#Move_Tutor"><span class="tocnumber">1</span> <span class="toctext">Move Tutor</span></a></li>
								<li class="toclevel-1 tocsection-2"><a href="#Move_Deleter"><span class="tocnumber">2</span> <span class="toctext">Move Deleter</span></a></li>
								<li class="toclevel-1 tocsection-3"><a href="#Move_Relearner"><span class="tocnumber">3</span> <span class="toctext">Move Relearner</span></a></li>
								<li class="toclevel-1 tocsection-4"><a href="#Name_Rater"><span class="tocnumber">4</span> <span class="toctext">Name Rater</span></a></li>
								<li class="toclevel-1 tocsection-5">
									<a href="#Fossil_reviver"><span class="tocnumber">5</span> <span class="toctext">Fossil reviver</span></a>
									<ul>
										<li class="toclevel-2 tocsection-6"><a href="#Page_1"><span class="tocnumber">5.1</span> <span class="toctext">Page 1</span></a></li>
										<li class="toclevel-2 tocsection-7"><a href="#Page_2"><span class="tocnumber">5.2</span> <span class="toctext">Page 2</span></a></li>
										<li class="toclevel-2 tocsection-8"><a href="#Page_3"><span class="tocnumber">5.3</span> <span class="toctext">Page 3</span></a></li>
									</ul>
								</li>
								<li class="toclevel-1 tocsection-9"><a href="#Apricorn_Converter_.28Kurt.29"><span class="tocnumber">6</span> <span class="toctext">Apricorn Converter (Kurt)</span></a></li>
							</ul>
						</div>

						<div id="incontent_player" class="gpt-ad"></div><h2><span class="mw-headline" id="Move_Tutor">Move Tutor</span></h2>
						<p>
							Pokémon games have one or more NPCs that can teach a certain move to some Pokémon. The simplest form of this NPC is as follows:
						</p>
<pre>@@&gt;Conditional Branch: Script: pbMoveTutorChoose(:SOFTBOILED)
  @@&gt;Text: Move learned.
  @@&gt;
&nbsp;: Else
  @@&gt;Text: Move not learned.
  @@&gt;
&nbsp;: Branch End
@@&gt;
</pre>
						<p>
							You will also need to define which Pokémon can be taught which moves by a Move Tutor. To do so, open the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"tm.txt" and insert the move followed by a list of Pokémon that are able to learn that move, e.g.
						</p>
<pre>[SOFTBOILED]
CLEFFA,CLEFAIRY,CLEFABLE,HAPPINY,CHANSEY,BLISSEY,TOGEPI,TOGETIC,TOGEKISS,MEW
</pre>
						<p>
							You can have a Move Tutor teach more than one move, by having the player first choose which move they want to teach. Some Move Tutors require a payment in order to teach a move.
						</p><p>
							See the page <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Learning_moves" title="Learning moves">Learning moves</a>&nbsp;for more information on how move-learning and the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/PBS_file" title="PBS file">PBS file</a>&nbsp;"tm.txt" work.
						</p>
						<h2><span class="mw-headline" id="Move_Deleter">Move Deleter</span></h2>
						<p>
							The Move Deleter can make a Pokémon forget any moves a Pokémon knows, including HM moves. It cannot delete a move if it is the only one the Pokémon knows.
						</p><p>
							There is an example of a Move Deleter in the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">example maps</a>. The general layout of the Move Deleter's event is as follows:
						</p>
						<ol>
							<li>Ask whether the player wants to delete a move.</li>
							<li>
								The player <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">chooses a Pokémon</a> in their&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>.
								<ul><li>Make sure a Pokémon was chosen (i.e. the choice wasn't cancelled), and that it can forget a move (i.e. isn't an&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">egg</a>,&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>&nbsp;or only knows 1 move).</li></ul>
							</li>
							<li>Choose a known move to delete.</li>
							<li>Ask if the player is sure.</li>
							<li>Delete the move.</li>
						</ol>
						<h2><span class="mw-headline" id="Move_Relearner">Move Relearner</span></h2>
						<p>
							The Move Relearner is an alternate form of the Move Tutor. This NPC is able to teach any Pokémon any move that appears in its moveset (but only those which can be learned before the Pokémon's current level).
						</p><p>
							Move Relearners typically require payment, usually a Heart Scale, in order to make a Pokémon relearn a move.
						</p><p>
							There is an example of a Move Relearner in the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">example maps</a>. The general layout of the Move Relearner's event is as follows:
						</p>
						<ol>
							<li>Check whether the player can afford the payment (a Heart Scale). It is not paid yet, though.</li>
							<li>Ask whether the player wants to make a Pokémon relearn a move.</li>
							<li>
								The player <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">chooses a Pokémon</a> in their <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>.
								<ul><li>Make sure there is at least one move that Pokémon can relearn, and that it can relearn a move (i.e. isn't an&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">egg</a> or <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>).</li></ul>
							</li>
							<li>Choose a move to relearn.</li>
							<li>Relearn the move, and make the payment if successful.</li>
						</ol>
						<h2><span class="mw-headline" id="Name_Rater">Name Rater</span></h2>
						<p>
							The Name Rater (or Pokémon Nicknamer) allows the player to nickname (or remove the nickname of) any of their Pokémon. Only Pokémon that were originally owned by the player can have their nickname changed.
						</p><p>
							There is an example of a Name Rater in the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">example maps</a>. The general layout of the Name Rater's event is as follows:
						</p>
						<ol>
							<li>Ask whether the player wants a Pokémon's name rated.</li>
							<li>
								The player <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Manipulating_Pok%C3%A9mon" title="Manipulating Pokémon">chooses a Pokémon</a> in their <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Party" title="Party">party</a>.
								<ul><li>Make sure a Pokémon was chosen (i.e. the choice wasn't cancelled), and that its name can be rated (i.e. isn't an&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Eggs" title="Eggs">egg</a> or <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Shadow_Pok%C3%A9mon" title="Shadow Pokémon">Shadow Pokémon</a>).</li></ul>
							</li>
							<li>Check whether the Pokémon was originally owned by the player - if it wasn't, its nickname is "too good to change".</li>
							<li>Ask whether the player wants to rename the Pokémon.</li>
							<li>
								The player provides a new name.
								<ul>
									<li>If the new name is blank or the same as the Pokémon's species name, remove the nickname.</li>
									<li>If the new name is a nickname, give it to the Pokémon.</li>
								</ul>
							</li>
						</ol>
						<h2><span class="mw-headline" id="Fossil_reviver">Fossil reviver</span></h2>
						<p>
							The Fossil Reviver is an NPC, usually a scientist, who will take a fossil from the player and turn it into a Pokémon depending on the type of fossil.
						</p><p>
							There is an example of a Fossil Reviver in the&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Example_maps" title="Example maps">example maps</a>. It is a&nbsp;variation on a <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Time-sensitive_events" title="Time-sensitive events">time-sensitive event</a>, and will therefore have 3 event pages: the first is the introduction, the second is the result, and the third is the "intermediate" stage. Each page is outlined below.
						</p><p>
							The Fossil Reviver uses a <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a>, which stores the ID number of the species being revived. It also uses a <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a>, which is ON while the reviving is taking place - this <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a> is typically turned OFF in the door event leading to the Fossil Reviver's room (i.e. the player has to step outside and back in to get their Pokémon). Because of this, it behaves much like a <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Time-sensitive_events" title="Time-sensitive events">time-sensitive event</a> except it depends on a <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a> being turned OFF at a fixed point rather than checking for elapsed time.
						</p>
						<h3><span class="mw-headline" id="Page_1">Page 1</span></h3>
						<p>
							This is the introduction page, where the Fossil Reviver asks for a fossil.
						</p>
						<ol>
							<li>
								Use the method&nbsp;<code>pbChooseItemFromList</code>&nbsp;to let the player choose a fossil to hand over.
								<ul>
									<li>The item's ID number is saved in the <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a> used by the Fossil Reviver (or -1 if the choice was cancelled).</li>
									<li>This method can be used even if the player has no fossils; in which case it won't show/say anything, and will store a result of 0.</li>
								</ul>
							</li>
							<li>Delete 1 of the chosen item from the player's <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Bag" title="Bag">Bag</a>.</li>
							<li>Convert the item's ID into a Pokémon species ID using the below code.</li>
							<li>Set the "revival in progress" <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a> ON, and set the Fossil Reviver's Self Switch to go to the second page.</li>
						</ol>
<pre>pbConvertItemToPokemon(9,[
  &nbsp;:HELIXFOSSIL,&nbsp;:OMANYTE,
  &nbsp;:DOMEFOSSIL, &nbsp;:KABUTO,
  &nbsp;:OLDAMBER,   &nbsp;:AERODACTYL,
  &nbsp;:ROOTFOSSIL, &nbsp;:LILEEP,
  &nbsp;:CLAWFOSSIL, &nbsp;:ANORITH,
  &nbsp;:SKULLFOSSIL,&nbsp;:CRANIDOS,
  &nbsp;:ARMORFOSSIL,&nbsp;:SHIELDON,
  &nbsp;:COVERFOSSIL,&nbsp;:TIRTOUGA,
  &nbsp;:PLUMEFOSSIL,&nbsp;:ARCHEN])
</pre>
						<p>
							The array lists pairs of a fossil and its corresponding species. The method looks through each of them, decides which of the items was provided, and replaces the item's ID in the <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a> (9) with the corresponding species' ID.
						</p>
						<h3><span class="mw-headline" id="Page_2">Page 2</span></h3>
						<p>
							This is the result page, where the Fossil Reviver hands over the revived Pokémon. It depends on the event's Self Switch being ON (it doesn't matter which one, so long as you're consistent).
						</p>
						<ol>
							<li>Give the player a Pokémon whose species is stored in the <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Variable</a> mentioned above, and whose level is 1.</li>
							<li>Set the Fossil Reviver's Self Switch OFF to go to the first page.</li>
						</ol>
						<h3><span class="mw-headline" id="Page_3">Page 3</span></h3>
						<p>
							This is the "intermediate" page, which simply tells the player that revival is in progress. It depends on the "revival in progress" <a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Events" title="Events">Game Switch</a> being ON.
						</p>
						<h2><span id="Apricorn_Converter_(Kurt)"></span><span class="mw-headline" id="Apricorn_Converter_.28Kurt.29">Apricorn Converter (Kurt)</span></h2>
						<p>
							The Apricorn Converter is very similar to the Fossil Reviver in what it does. It takes an Apricorn from the player and turns it into a Poké Ball item depending on which Apricorn was provided.
						</p><p>
							The differences are:
						</p>
						<ul>
							<li>The Apricorn Converter is a different kind of&nbsp;<a href="/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Time-sensitive_events" title="Time-sensitive events">time-sensitive event</a>, which waits for 24 hours before providing the resulting Poké Ball.</li>
							<li>One item's ID (Apricorn) is turned into a different item's ID (Poké Ball), rather than into a species' ID.</li>
						</ul>
						<p>
							Everything else behaves the same.
						</p>
						<!--
					NewPP limit report
					Cached time: 20210510023223
					Cache expiry: 1209600
					Dynamic content: false
					CPU time usage: 0.018 seconds
					Real time usage: 0.021 seconds
					Preprocessor visited node count: 87/1000000
					Preprocessor generated node count: 0/1000000
					Post‐expand include size: 201/2097152 bytes
					Template argument size: 137/2097152 bytes
					Highest expansion depth: 2/40
					Expensive parser function count: 0/100
					Unstrip recursion depth: 0/20
					Unstrip post‐expand size: 0/5000000 bytes
					-->
						<!--
					Transclusion expansion time report (%,ms,calls,template)
					100.00%    3.028      1 -total
					 93.85%    2.842      3 Template:For
					-->
						<!-- Saved in parser cache with key prod:essentialsdocs:pcache:idhash:214-0!canonical and timestamp 20210510023223 and revision id 780
					 -->
					</div>
				</div>								<div class="printfooter">Retrieved from "<a dir="ltr" href="https://web.archive.org/web/20210512085746/https://essentialsdocs.fandom.com/wiki/Special_NPCs?oldid=780">https://essentialsdocs.fandom.com/wiki/Special_NPCs?oldid=780</a>"</div>
			</div>


			<div class="license-description">
				Community content is available under <a href="https://web.archive.org/web/20210512085746/https://www.fandom.com/licensing">CC-BY-SA</a> unless otherwise noted.
			</div>
			<!-- render SkinAfterContent hook output - used by article comments, SMW factbox etc. -->
			<!-- end SkinAfterContent output -->
		</div>
	</article>
	<!-- WikiaMainContent -->
</section>